<!doctype html>
<html dir="rtl" lang="he">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/@@/styles.css" />
	<link rel="stylesheet" href="/@@/Tanakh.css" />
	<link rel="stylesheet" href="/@@/Zohar.css" />
	<!--<link rel="stylesheet" href="/@@/Mishnah.css" />-->
	<link rel="stylesheet" href="/@@/Liturgy.css" />
	<title>{% block title %}{% endblock %} • מכון ראובן</title>
	{% block header %}{% endblock %}
</head>
<body>

	<div id="content">
	<!--a href="http://locahost:5000{{request.path}}">A</a>
	<a href="http://127.0.0.1:5000{{request.path}}">B</a-->
	{% block content %}{% endblock %}</div>

	<div id="menu">
		<a href="/">ראשי</a>
		<a href="/tanakh/">תנך</a>
		<a href="/mishnah/">משנה</a>
		<a href="/zohar/">זוהר</a>
		<a href="/aramaic">ארמית</a>
		<a href="/liturgy">תפילה</a>
		<!--<a href="/login?url={{request.full_path}}">+</a>
		<a href="/logout?url={{request.full_path}}">-</a>-->
	</div>

	<div id="footer">
		{% block footer %}
		&copy; <strong>תש״פ-תשפ״ג</strong> מכון ראובן
		{% endblock %}
	</div>

</body>
</html>