<div class="buttonbar">
	<button onclick="navigator.clipboard.writeText('׳');return false;">׳</button>
	<button onclick="navigator.clipboard.writeText('״');return false;">״</button>
	<button onclick="navigator.clipboard.writeText('־');return false;">־</button>
	<button onclick="navigator.clipboard.writeText('…');return false;">…</button>
	<button onclick="navigator.clipboard.writeText('“');return false;">“</button>
	<button onclick="navigator.clipboard.writeText('”');return false;">”</button>
	<button onclick="navigator.clipboard.writeText('‘');return false;">‘</button>
	<button onclick="navigator.clipboard.writeText('’');return false;">’</button>
	<button onclick="navigator.clipboard.writeText('ֽ');return false;">ֽ</button>
	<button onclick="navigator.clipboard.writeText('ׇ');return false;">ׇ</button>
	<button onclick="navigator.clipboard.writeText('וֹ');return false;">וֹ</button>
	<button onclick="navigator.clipboard.writeText('וֺ');return false;">וֺ</button>
	<button onclick="navigator.clipboard.writeText('שׁ');return false;">שׁ</button>
	<button onclick="navigator.clipboard.writeText('שׂ');return false;">שׂ</button>
	<button onclick="navigator.clipboard.writeText('ֻ');return false;">אֻ</button>
	<button onclick="navigator.clipboard.writeText('\u00a0');return false;">nbsp</button>
	<div class="clear"></div>
</div>