{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="prayer">
{% for div in divs %}
	<div>
		{% for paragraph in div %}
			<p>



{% for span in paragraph %}
	{%- if span.kind == SpanKind.TITLE -%}
		<h1>{{span.value}}</h1>
	{%- elif span.kind == SpanKind.SUBTITLE -%}
		<h2>{{span.value}}</h2>
	{%- elif span.kind == SpanKind.INFO -%}
		<span class="info">{{span.value}}</span>
	{%- elif span.kind == SpanKind.BOLD -%}
		<span class="bold">{{span.value}}</span>
	{%- elif span.kind == SpanKind.LINK -%}
		<span class="link">{{span.value}}</span>
	{%- elif span.kind == SpanKind.PLAIN -%}
		<span class="plain">{{span.value|replace('\n\n\n\n', '<br />')|safe}}</span>
	{%- endif -%}
{% endfor %}
			</p>
		{% endfor %}
	</div>
{% endfor %}

</div>
{% endblock %}
