<table>
	<tr>
		<td><button onclick="navigator.clipboard.writeText('׳');return false;">׳</button></td>
		<td><button onclick="navigator.clipboard.writeText('״');return false;">״</button></td>
		<td><button onclick="navigator.clipboard.writeText('־');return false;">־</button></td>
		<td><button onclick="navigator.clipboard.writeText('…');return false;">…</button></td>
		<td><button onclick="navigator.clipboard.writeText('“');return false;">“</button></td>
		<td><button onclick="navigator.clipboard.writeText('”');return false;">”</button></td>
		<td><button onclick="navigator.clipboard.writeText('‘');return false;">‘</button></td>
		<td><button onclick="navigator.clipboard.writeText('’');return false;">’</button></td>
		<td><button onclick="navigator.clipboard.writeText('ֽ');return false;">ֽ</button></td>
		<td><button onclick="navigator.clipboard.writeText('ׇ');return false;">ׇ</button></td>
		<td><button onclick="navigator.clipboard.writeText('וֹ');return false;">וֹ</button></td>
		<td><button onclick="navigator.clipboard.writeText('וֺ');return false;">וֺ</button></td>
		<td><button onclick="navigator.clipboard.writeText('שׁ');return false;">שׁ</button></td>
		<td><button onclick="navigator.clipboard.writeText('שׂ');return false;">שׂ</button></td>
		<td><button onclick="navigator.clipboard.writeText('ֻ');return false;">אֻ</button></td>
		<td><button onclick="navigator.clipboard.writeText('\u00a0');return false;">nbsp</button></td>
	</tr>
</table>
