@font-face {
	font-family: 'frank';
	src: url('/@@/fonts/TaameyFrankCLM-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'vilna';
	src: url('/@@/fonts/Mekorot-Vilna.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'vilna';
	src: url('/@@/fonts/Mekorot-Vilna-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'sbl';
	src: url('/@@/fonts/SBL_Hbrw.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'script';
	src: url('/@@/fonts/DorianCLM-BookItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'scripture';
	src: url('/@@/fonts/ShlomoStam.ttf') format('truetype');
	src: url('/@@/fonts/TaameyFrankCLM-Medium.ttf') format('truetype');
	src: url('/@@/fonts/KeterYG-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	spacing: 0;
	margin: 0;
	}

html {
	background-color: #333;
	}

body {
	padding: 10px;
	max-width: 1000px;
	margin: 0 auto;
	}

div#content {
	border-radius: 20px;
	padding: 20px;
	background-color: #ffe;
	font-size: 2em;
	}

h1 {
	font-family: sbl;
	font-size: 150%;
	font-weight: normal;
j	xfont-style: italic;
	}

h2 {
	font-size: 80%;
	font-family: sbl;
	color: orange;
	xfont-weight: normal;
	text-align: center;
	margin: 1em 0 0;
	}

h4 {
	font-size: 80%;
	font-family: sbl;
	color: #330;
	font-weight: normal;
	text-align: center;
	colzor: #999;
	margin-top: 1em;
}

h5 {
	margin-top: 10px;
	}

div.prayer {
	}

div.prayer p {
	text-align: justify;
	}

div.prayer h1 {
	ccolor: red;
	color: orange;
	margin: 0;
	}

div.prayer h2 {
	color: orange;
	text-align: right;
	margin: 0;
	}

div.prayer span.link {
	color: blue;
	}

div.prayer span.bold {
	color: red;

a {
	color: #0099cc;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}

p.poem {
	text-align: center;
	margin-bottom: 5px;
	}

div.mikra {
	font-family: sbl;
	font-family: scripture;
	font-size: 120%;
	margin-bottom: 10px;
	background-color: #fed;
	padding: 5px 10px;
	border-radius: 8px;
	}

div.onkelos {
	font-family: sbl;
	}

div.jerusalmi {
	font-family: sbl;
	}

div.targum {
	color: #999;
	}

div.rashi {
	font-family: sbl;
	column-count: 2;
	background-color: #ffd;
	padding: 1em;
	}

div.variations {
	border-top: 1px solid #ccc;
	font-size: 70%;
	}

hr {
	margin: 1em auto;
	background-image: url(/@@/separator.png);
	sbackground-align: center;
	sbackground-repeat: no-repeat;
	height: 52px;
	width: 233px;
	border: 0;
	align: center;
	}

span {
	vertical-align: middle;
	}

span.chapterno {
	color: #ccc;
	font-weight: bold;
	}

span.verseno {
	color: #ddd;
	font-size: smaller;
	}

span.addition {
	color: #009;
	font-size: 80%;
	font-family: script;
	}

span.nonliteral {
	color: #a33;
	}

span.alternative {
	background-color: #ffb;
	}

span.aliya {
	color: #999;
	font-style: italic;
	font-size: smaller;
	}

span.legend {
	font-family: sbl;
	font-family: scripture;
	font-size: 130%;
	vertical-align: bottom;
	color: #006;
}

span.citation {
	color: #600;
	font-family: sbl;
	font-family: scripture;
	}

span.info {
	color: #ccc;
	font-size: smaller;
	}

span.link {
	color: #600;
	vertical-align: top;
	vertical-align: middle;
	font-size: 70%;
	xfont-family: script;

}

span.reference {
	color: red;
	font-size: smaller
}

span.majuscule {
	font-size: 140%;
}

span.minuscule {
	font-size: 80%;
}

div.right {
	width: 48%;
	float: right;
	padding-left: 10px;
	border-left: 1px solid #ccc;
	}

div.left {
	width: 48%;
	float: left;
	}

div.verse {
	margin-bottom: 50px;
	}

div.outer {
	border: 0px solid red;
	}

div.inner {
	border: 0px solid blue;
	margin-bottom: 5px;
	}

div.justify {
	text-align: justify;
	}

div.dialog {
	margin-right: 20px;
	}

.clear {
	clear: both;
	height: 0px;
	background-color: brown;
	}

span.diff-this {
	text-decoration: underline;
	text-decoration-color: #ccc;
	text-decoration-style: solid;
	}

span.diff-other {
	color: #bbb;
	}

span.diff-legend {
	font-size: 12px;
	}

textarea {
	width: 100%;
	border: 1px solid #333;
	font-family: sbl;
	font-size: 1.2em;;
	text-align: justify;
	}
