@font-face {
	font-family: main;
	src: url('/@@/fonts/Bellefair-Regular.ttf') format('truetype');
	}

@font-face {
	font-family: regular;
	src: url('/@@/fonts/HadasimCLM-Regular.ttf') format('truetype');
	src: url('/@@/fonts/ReuvenSerif.ttf') format('truetype');
	src: url('/@@/fonts/NotoSerifHebrew-CondensedBlack.ttf') format('truetype');
	src: url('/@@/fonts/NotoSerifHebrew-Condensed.ttf') format('truetype');
	src: url('/@@/fonts/NotoSerifHebrew-Regular.ttf') format('truetype');
	src: url('/@@/fonts/NotoSerifHebrew-ExtraCondensed.ttf') format('truetype');
	xsrc: url('/@@/fonts/ReuvenSerif.ttf') format('truetype');
	}

@font-face {
	font-family: rashi;
	src: url('/@@/fonts/Mekorot-Rashi.ttf') format('truetype');
	xsrc: url('/@@/fonts/BenOrRashiRegular.ttf') format('truetype');
	}

@xfont-face {
	font-family: scripture;
	src: url('/@@/fonts/KeterYG-Medium.ttf') format('truetype');
	src: url('/@@/fonts/custom/KeterYG-Medium-LPA.ttf') format('truetype');
	src: url('/@@/fonts/custom/SBLHebrew-LPA.ttf') format('truetype');
	}

@font-face {
	font-family: scriptureLPA;
	src: url('/@@/fonts/custom/KeterYG-Medium-LPA.ttf') format('truetype');
	src: url('/@@/fonts/custom/SBLHebrew-LPA.ttf') format('truetype');
	color: green;
	}

@font-face {
	font-family: scriptureLP;
	src: url('/@@/fonts/custom/KeterYG-Medium-LP.ttf') format('truetype');
	src: url('/@@/fonts/custom/SBLHebrew-LP.ttf') format('truetype');
	color: orange;
	}

@font-face {
	font-family: scriptureL;
	src: url('/@@/fonts/custom/KeterYG-Medium-L.ttf') format('truetype');
	src: url('/@@/fonts/custom/SBLHebrew-L.ttf') format('truetype');
	color: black;
	}

* {
	spacing: 0;
	margin: 0;
	}

html {
	background-color: #333;
	}

body {
	סpadding: 10px;
	xmax-width: 1200px;
	margin: 0 auto;
	font-family: main;

	max-width: 500px;
	margin: 0 auto;

	}

div#footer {
	color: white;
	}

div#content {
	xborder-radius: 3px;
	padding: 10px 30px;
	background-color: #f4eadc;
	background-color: #ffffff;
	zfont-size: 1.5em;
	}


a:visited, a {
	color: #669;
	text-decoration: none;
	}

a:link,
a:visited,
a:hover,
a:active {
	color: #0099cc;
	text-decoration: none;
	}

div.clear {
	clear: both;
	}

textarea {
	width: 100%;
	border: 1px solid #333;
	font-family: regular;
	font-size: 1.2em;
	}

input {
	border: 1px solid #333;
	font-family: main;
	font-size: 1.2em;
	}

label {
	font-family: main;
	}

span {
	display: inline-block;
	xfont-size: 1em;
	}

div.liturgy {
	}

div.liturgy div.section {
	border-bottom: 1px solid #669;
	margin: 0 0 30px;
	}

div.liturgy div.section div {
	border: 0px solid green;
	}

div.liturgy div.section div.outer div.block {
	padding: 8px 0;
	text-align: justify;
	text-align-last: center;
	display: block-inline;
	border-bottom: 1px solid #ccc;
	}

div.liturgy div.translation {
	border-right: 1px solid #666;
	color: #666;
	}

div.liturgy div.left {
	float: left;
	}

div.liturgy div.right {
	float: right;
	}

div.liturgy div.section div.optional {
	border: 1px solid #999;
	border-radius: 10px;
	}

div.liturgy div.section div.halfwide {
	width: 49%;
	font-size: 1em;
	}

div.liturgy h1 {
	font-weight: normal;
	font-size: 1.8em;
	color: black;
	margin: 0;
	}

div.liturgy h2 {
	font-weight: normal;
	font-size: 1.6em;
	color: orange;
	margin: 0;
	}

div.liturgy h3 {
	font-weight: normal;
	font-size: 1.4em;
	color: orange;
	margin: 0;
	}

div.liturgy h4 {
	font-weight: normal;
	font-size: 1.2em;
	color: orange;
	margin: 0;
	}

div.liturgy span {
	font-family: regular;
	font-size: 1.2em;
	vertical-align: middle;
	xborder: 1px solid green;
	}

div.liturgy span.plain {
	color: saddlebrown;
	}

div.liturgy span.punctuation {
	font-family: scriptureLPA;
	font-size: 1.2em;
	color: blue;
	}

div.liturgy span.point {
	font-family: scripture;
	font-size: 1em;
	}

div.liturgy span.accent {
	font-family: scriptureLPA;
	font-size: 1em;
	color: red;
	}

div.liturgy span.verseno {
	font-family: scriptureL;
	color: #ccc;
	margin: 0 10px;
	font-size: .7em;
	}

div.liturgy span.bold {
	color: #66F;
	}

div.liturgy span.info {
	font-family: main;
	font-size: .7em;
	color: #3c3;
	}

div.liturgy span.addition {
	color: #ccc;
	}

div.liturgy span.correction {
	color: #ccc;
	}

div.liturgy span.explanation {
	font-family: rashi;
	font-size: .4em;
	color: #ccc;
	}

div.liturgy div.translation span.synonym {
	color: #ccc;
	}

div.liturgy div.translation span.explanation {
	font-family: regular;
	}

div.liturgy span.link {
	font-family: main;
	font-size: .5em;
	color: #99f;
	color: #ccc;
	}

div.liturgy span.scripture,
div.liturgy span.kriktiv {
	font-family: scriptureLPA;
	color: #933;
	color: green;
	font-size: 1.2em;
	}

div.liturgy span.scriptureL {
	font-family: scriptureL;
	color: black;
	font-size: 1.2em;
	}

div.liturgy span.scriptureLP {
	font-family: scriptureLP;
	color: saddlebrown;
	color: burlywood;
	color: #9c9;
	font-size: 1.2em;
	}

div.liturgy span.scriptureLPA {
	font-family: scriptureLPA;
	color: red;
	font-size: 1.2em;
	}

div.liturgy span.kriktiv {
	font-family: scriptureLPA;
	background-color: #ffd;
	font-size: 1.2em;
	}

div.liturgy div.section div.larger {
	zfont-size: 200%;
	}

div.liturgy div.section div.smaller {
	zfont-size: 50%;
	}

div.liturgy div.section span.majuscule {
	font-family: scriptureLPA;
	font-size: 1.6em;
	zfont-size: 2em;
	}

div.liturgy div.section span.minuscule {
	font-family: scriptureLPA;
	font-size: 0.7em;
	zfont-size: .5em;
	}
