@font-face {
	font-family: 'regular';
	src: url('/@@/fonts/TaameyFrankCLM-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'script';
	src: url('/@@/fonts/SBL_Hbrw.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
	spacing: 0;
	margin: 0;
	font-family: script;
	font-size: 20px;
	}

html {
	background-color: #eee;
	}

body {
	padding: 10px;
	max-width: 800px;
	margin: 0 auto;
	}

div#content {
	border: 1px solid #999;
	padding: 20px;
	background-color: #fff;
	}

h1 {
	font-size: 30px;
	}

h2 {
	font-size: 20px;
	}

a {
	color: #0099cc;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
	}

p {
	border: 0px solid red;
	margin-bottom: 15px;
	text-align: justify;
	}

p.poem {
	text-align: center;
	margin-bottom: 5px;
	}


span.verseno {
	color: silver;
	}

span.portion {
	color: silver;
	}
