{% extends "base.html" %}
{% block title %}משנה{% endblock %}
{% block header %}<link rel="stylesheet" href="/@@/Mishnah.css" />{% endblock %}
{% block content %}
<h1><a href="/mishnah/full">משנה</a></h1>
<div class="mishnah">
{% for order in Mishnah.orders %}
	<div style="float:right;">
	{% set oloop = loop %}
	<h2><a href="/mishnah/{{order.number}}">סדר {{order.name}}</a></h2>
	<ul>
	{% for tractate in order.tractates %}
		<li><a href="/mishnah/{{oloop.index}}/{{loop.index}}">{{tractate.name.replace(' ', '-')}}</a></li>
	{% endfor %}
	</ul>
	</div>
{% endfor %}
<div class="clear"></div>
</div>
{% endblock %}
