{% extends "base.html" %}
{% block title %}מסכת {{tractate.name}} (סדר {{tractate.order.name}}){% endblock %}
{% block header %}<link rel="stylesheet" href="/@@/Mishnah.css" />{% endblock %}
{% block content %}
<div class="mishnah">
	<h1>מסכת {{tractate.name}} (סדר {{tractate.order.name}})</h1>
	{% for chapter in tractate.chapters %}
		<h2>פרק {{chapter.hebrew_number}}</h2>
		{%- for verse in chapter.verses -%}
			<div class="verse justify">
				{% include 'mishnah/block-verse-mishnah.html' %}
			</div>
			<div class="verse justify" style="font-size:70%">
				{% include 'mishnah/block-verse-bartenura.html' %}
			</div>
		{%- endfor -%}
	{% endfor %}
</div>
{% endblock %}
