5{% extends "base.html" %}
{% block title %}תנ״ך • ספר ‘{{chapter.book.name}}’ • פרק {{chapter.hebrew_number}}{% endblock %}
{% block content %}
<h1>ספר ‘{{chapter.book.name}}’ • פרק ‘{{chapter.hebrew_number}}’</h1>

<div class="mikra justify">
	{%- for verse in chapter.verses -%}
		<span class="verseno">{{verse.hebrew_number}}&nbsp;</span>
		{%- for span in verse.mikra -%}
			{% if span.kind == SpanKind.MAJUSCULE -%}
				<span class="majuscule">{{span.value}}</span>
			{%- elif span.kind == SpanKind.MINUSCULE -%}
				<span class="minuscule">{{span.value}}</span>
			{%- elif span.kind == SpanKind.PLAIN -%}
				<span class="plain">{{span.value}}</span>
			{%- else -%}
				<span class="plain">{{span.value}}</span>
			{%- endif -%}
		{%- endfor -%}
	{%- endfor -%}
</div>
{% endblock %}
