div.zohar {
	}

div.zohar div.section {
	xborder: 1px solid red;
	margin-bottom: 1em;
	}

div.zohar div.section div.line div.left {
	width: 48%;
	}

div.zohar div.section div.line div.right {
	width: 48%;
	}

div.zohar div.section div.line div {
	text-align: justify;
	}

div.zohar div.section div.line {
	}


div.zohar div.line div.left {
	}

div.zohar div.line div.left span {
	}

div.zohar div.line div.right {
	}

div.zohar div.line div.right span {
	font-family: frank;
	}

div.zohar span {
	}

div.zohar h1 {
	color: #aaa;
	font-weight: normal;
	}


div.zohar span.correction {
	color: #aaa;
	}

div.zohar span.addition {
	color: #aaa;
	}

div.zohar span.synonym {
	color: #aaf;
	font-size: 70%;
	}

div.zohar span.explanation {
	color: #aaf;
	font-size: 70%;
	}

div.zohar span.scripture {
	font-family: scripture;
	color: #900;
	font-size: 120%;
	}

xdiv.zohar span.citation {
	font-family: scripture;
	color: #900;
	}

div.zohar span.scripture span.completion {
	color: #966;
	font-size: 80%;
	}

div.zohar span.silent {
	color: #ccc;
	}

div.zohar div div.line div span.link {
	font-size: 70%;
	color: #aaa;
	font-family: bellefair;
	}

div.zohar span.nonliteral {
	}

div.zohar span.unknown {
	color: red;
	xfont-family: reuven;
	}


div.zohar div.line div.right span.scripture {
	}

div.zohar div.line div span.link {
	}

div.zohar div.right span.scripture {
	}

div.zohar div.right span.plain {
	}

@media print {
	#content {
		background-color: yellow;
		}
	}
