<p id="PR_14" data-perek-now="341" data-perek-nops="24"><span class="perek-header">פרק יד</span>
<br /><span class="parashia-header">[רביעי]</span>
<span id="PS_14_1" data-pasuk-now="14"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="3489676672" data-exlnk="0" id="M_14_1_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="3758112128" data-exlnk="0" id="M_14_1_2">בִּימֵי֙</span>
<span class="mila" data-lnk="805309825" data-exlnk="0" id="M_14_1_3">אַמְרָפֶ֣ל</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_1_4">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5413">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_14_1_5">שִׁנְעָ֔ר</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_1_6">אַרְי֖וֹךְ</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_1_7">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_1_8">אֶלָּסָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_9">כְּדָרְלָעֹ֙מֶר֙</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_1_10">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="1156" data-exlnk="0" id="M_14_1_11">עֵילָ֔ם</span>
<span class="mila" data-lnk="4026543233" data-exlnk="0" id="M_14_1_12">וְתִדְעָ֖ל</span>
<span class="mila" data-lnk="1413" data-exlnk="0" id="M_14_1_13">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="1413" data-exlnk="0" id="M_14_1_14">גּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5424">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_2" data-pasuk-now="20"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221234944" data-exlnk="0" id="M_14_2_1">עָשׂ֣וּ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_2_2">מִלְחָמָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5428">־</span><span class="mila" data-lnk="1089" data-exlnk="0" id="M_14_2_4">בֶּ֙רַע֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_2_5">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_2_6">סְדֹ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5433">־</span><span class="mila" data-lnk="3221234689" data-exlnk="0" id="M_14_2_8">בִּרְשַׁ֖ע</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_2_9">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_2_10">עֲמֹרָ֑ה</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_2_11">שִׁנְאָ֣ב׀</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_2_12">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_2_13">אַדְמָ֗ה</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_2_14">וְשֶׁמְאֵ֙בֶר֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_2_15">מֶ֣לֶךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_14_2_16" class="mila ktiv">צְבֹי֔יִם</span>
<span data-lnk="3221234688" data-exlnk="0" id="M_14_2_16_K" class="mila kri">צְבוֹיִ֔ם</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_2_17">וּמֶ֥לֶךְ</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_14_2_18">בֶּ֖לַע</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_14_2_19">הִיא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5447">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_2_20">צֹֽעַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5449">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_3_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5451">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_14_3_2">אֵ֙לֶּה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_3_3">חָֽבְר֔וּ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_3_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5455">־</span><span class="mila" data-lnk="1805" data-exlnk="0" id="M_14_3_5">עֵ֖מֶק</span>
<span class="mila" data-lnk="1805" data-exlnk="0" id="M_14_3_6">הַשִּׂדִּ֑ים</span>
<span class="mila" data-lnk="517" data-exlnk="0" id="M_14_3_7">ה֖וּא</span>
<span class="mila" data-lnk="773" data-exlnk="0" id="M_14_3_8">יָ֥ם</span>
<span class="mila" data-lnk="773" data-exlnk="0" id="M_14_3_9">הַמֶּֽלַח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5461">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_4" data-pasuk-now="10"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_4_1">שְׁתֵּ֤ים</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_4_2">עֶשְׂרֵה֙</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_4_3">שָׁנָ֔ה</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_4_4">עָבְד֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5467">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_14_4_6">כְּדָרְלָעֹ֑מֶר</span>
<span class="mila" data-lnk="1804" data-exlnk="0" id="M_14_4_7">וּשְׁלֹשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5470">־</span><span class="mila" data-lnk="1804" data-exlnk="0" id="M_14_4_8">עֶשְׂרֵ֥ה</span>
<span class="mila" data-lnk="1800" data-exlnk="0" id="M_14_4_9">שָׁנָ֖ה</span>
<span class="mila" data-lnk="1800" data-exlnk="0" id="M_14_4_10">מָרָֽדוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5474">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_5" data-pasuk-now="20"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026543361" data-exlnk="0" id="M_14_5_1">וּבְאַרְבַּע֩</span>
<span class="mila" data-lnk="4026543361" data-exlnk="0" id="M_14_5_2">עֶשְׂרֵ֨ה</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_5_3">שָׁנָ֜ה</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_5_4">בָּ֣א</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_5_5">כְדָרְלָעֹ֗מֶר</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_5_6">וְהַמְּלָכִים֙</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_5_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_5_8">אִתּ֔וֹ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_14_5_9">וַיַּכּ֤וּ</span>
<span class="mila" data-lnk="1089" data-exlnk="0" id="M_14_5_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5485">־</span><span class="mila" data-lnk="1604" data-exlnk="0" id="M_14_5_11">רְפָאִים֙</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_5_12">בְּעַשְׁתְּרֹ֣ת</span>
<span class="mila" data-lnk="1792" data-exlnk="0" id="M_14_5_13">קַרְנַ֔יִם</span>
<span class="mila" data-lnk="1032" data-exlnk="0" id="M_14_5_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5490">־</span><span class="mila" data-lnk="3221235209" data-exlnk="0" id="M_14_5_15">הַזּוּזִ֖ים</span>
<span class="mila" data-lnk="3221234688" data-exlnk="0" id="M_14_5_16">בְּהָ֑ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_5_17">וְאֵת֙</span>
<span class="mila" data-lnk="4026543620" data-exlnk="0" id="M_14_5_18">הָֽאֵימִ֔ים</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_5_19">בְּשָׁוֵ֖ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_5_20">קִרְיָתָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5497">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_6_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5499">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_6_2">הַחֹרִ֖י</span>
<span class="mila" data-lnk="3221234445" data-exlnk="0" id="M_14_6_3">בְּהַרְרָ֣ם</span>
<span class="mila" data-lnk="1804" data-exlnk="0" id="M_14_6_4">שֵׂעִ֑יר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_6_5">עַ֚ד</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_14_6_6">אֵ֣יל</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_14_6_7">פָּארָ֔ן</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_6_8">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="1073751297" data-exlnk="0" id="M_14_6_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5508">־</span><span class="mila" data-lnk="3221234945" data-exlnk="0" id="M_14_6_10">הַמִּדְבָּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5510">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_7" data-pasuk-now="18"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_7_1">וַ֠יָּשֻׁבוּ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_7_2">וַיָּבֹ֜אוּ</span>
<span class="mila" data-lnk="3489672320" data-exlnk="0" id="M_14_7_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5514">־</span><span class="mila" data-lnk="2952800641" data-exlnk="0" id="M_14_7_4">עֵ֤ין</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_14_7_5">מִשְׁפָּט֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_7_6">הִ֣וא</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_14_7_7">קָדֵ֔שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_8">וַיַּכּ֕וּ</span>
<span class="mila" data-lnk="1342188672" data-exlnk="0" id="M_14_7_9">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5521">־</span><span class="mila" data-lnk="1342188672" data-exlnk="0" id="M_14_7_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5523">־</span><span class="mila" data-lnk="3758108033" data-exlnk="0" id="M_14_7_11">שְׂדֵ֖ה</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_14_7_12">הָעֲמָֽלֵקִ֑י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_7_13">וְגַם֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_7_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5528">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_7_15">הָ֣אֱמֹרִ֔י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_7_16">הַיֹּשֵׁ֖ב</span>
<span class="mila" data-lnk="4026543105" data-exlnk="0" id="M_14_7_17">בְּחַֽצֲצֹ֥ן</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_7_18">תָּמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5533">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_8" data-pasuk-now="18"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_8_1">וַיֵּצֵ֨א</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_8_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5536">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_8_3">סְדֹ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_4">וּמֶ֣לֶךְ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_8_5">עֲמֹרָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_6">וּמֶ֤לֶךְ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_8_7">אַדְמָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_8">וּמֶ֣לֶךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_14_8_9" class="mila ktiv">צְבֹייִ֔ם</span>
<span data-lnk="3221234688" data-exlnk="0" id="M_14_8_9_K" class="mila kri">צְבוֹיִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_10">וּמֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_11">בֶּ֖לַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_12">הִוא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5548">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_8_13">צֹ֑עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_14">וַיַּעַרְכ֤וּ</span>
<span class="mila" data-lnk="805309696" data-exlnk="0" id="M_14_8_15">אִתָּם֙</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_8_16">מִלְחָמָ֔ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_8_17">בְּעֵ֖מֶק</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_8_18">הַשִּׂדִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5555">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_9" data-pasuk-now="17"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_14_9_1">אֵ֣ת</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_14_9_2">כְּדָרְלָעֹ֜מֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_3">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_4">עֵילָ֗ם</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_14_9_5">וְתִדְעָל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_6">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_7">גּוֹיִ֔ם</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_14_9_8">וְאַמְרָפֶל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_9">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_10">שִׁנְעָ֔ר</span>
<span class="mila" data-lnk="3221233664" data-exlnk="0" id="M_14_9_11">וְאַרְי֖וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_12">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_13">אֶלָּסָ֑ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_9_14">אַרְבָּעָ֥ה</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_9_15">מְלָכִ֖ים</span>
<span class="mila" data-lnk="1073751041" data-exlnk="0" id="M_14_9_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5572">־</span><span class="mila" data-lnk="3221233665" data-exlnk="0" id="M_14_9_17">הַחֲמִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5574">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_14_10_1">וְעֵ֣מֶק</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_10_2">הַשִּׂדִּ֗ים</span>
<span class="mila" data-lnk="4026542209" data-exlnk="0" id="M_14_10_3">בֶּאֱרֹ֤ת</span>
<span class="mila" data-lnk="1161" data-exlnk="0" id="M_14_10_4">בֶּֽאֱרֹת֙</span>
<span class="mila" data-lnk="3221235080" data-exlnk="0" id="M_14_10_5">חֵמָ֔ר</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_10_6">וַיָּנֻ֛סוּ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_10_7">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5582">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_10_8">סְדֹ֥ם</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_14_10_9">וַעֲמֹרָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_10_10">וַיִּפְּלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5586">־</span><span class="mila" data-lnk="132" data-exlnk="0" id="M_14_10_11">שָׁ֑מָּה</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_10_12">וְהַנִּשְׁאָרִ֖ים</span>
<span class="mila" data-lnk="3221233933" data-exlnk="0" id="M_14_10_13">הֶ֥רָה</span>
<span class="mila" data-lnk="1037" data-exlnk="0" id="M_14_10_14">נָּֽסוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5591">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_11_1">וַ֠יִּקְחוּ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_11_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5594">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_11_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5596">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_11_4">רְכֻ֨שׁ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_11_5">סְדֹ֧ם</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_11_6">וַעֲמֹרָ֛ה</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_11_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5601">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_11_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5603">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_11_9">אָכְלָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_10">וַיֵּלֵֽכוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5606">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_12" data-pasuk-now="12"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_12_1">וַיִּקְח֨וּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_12_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5609">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_12_3">ל֧וֹט</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_12_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5612">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_12_5">רְכֻשׁ֛וֹ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_12_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5615">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_12_7">אֲחִ֥י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_12_8">אַבְרָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_9">וַיֵּלֵ֑כוּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_14_12_10">וְה֥וּא</span>
<span class="mila" data-lnk="1037" data-exlnk="0" id="M_14_12_11">יֹשֵׁ֖ב</span>
<span class="mila" data-lnk="1029" data-exlnk="0" id="M_14_12_12">בִּסְדֹֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5622">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_13" data-pasuk-now="18"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_14_13_1">וַיָּבֹא֙</span>
<span class="mila" data-lnk="845" data-exlnk="0" id="M_14_13_2">הַפָּלִ֔יט</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_14_13_3">וַיַּגֵּ֖ד</span>
<span class="mila" data-lnk="1344" data-exlnk="0" id="M_14_13_4">לְאַבְרָ֣ם</span>
<span class="mila" data-lnk="1345" data-exlnk="0" id="M_14_13_5">הָעִבְרִ֑י</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_13_6">וְהוּא֩</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_13_7">שֹׁכֵ֨ן</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_14_13_8">בְּאֵֽלֹנֵ֜י</span>
<span class="mila" data-lnk="1344" data-exlnk="0" id="M_14_13_9">מַמְרֵ֣א</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_13_10">הָאֱמֹרִ֗י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_13_11">אֲחִ֤י</span>
<span class="mila" data-lnk="4026547200" data-exlnk="0" id="M_14_13_12">אֶשְׁכֹּל֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_13_13">וַאֲחִ֣י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_13_14">עָנֵ֔ר</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_14_13_15">וְהֵ֖ם</span>
<span class="mila" data-lnk="1345" data-exlnk="0" id="M_14_13_16">בַּעֲלֵ֥י</span>
<span class="mila" data-lnk="1345" data-exlnk="0" id="M_14_13_17">בְרִית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5640">־</span><span class="mila" data-lnk="1088" data-exlnk="0" id="M_14_13_18">אַבְרָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5642">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_14" data-pasuk-now="17"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_1">וַיִּשְׁמַ֣ע</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_14_2">אַבְרָ֔ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_14_3">כִּ֥י</span>
<span class="mila" data-lnk="4026547200" data-exlnk="0" id="M_14_14_4">נִשְׁבָּ֖ה</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_14_5">אָחִ֑יו</span>
<span class="mila" data-lnk="3221233933" data-exlnk="0" id="M_14_14_6">וַיָּ֨רֶק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_14_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5650">־</span><span class="mila" data-lnk="3221234445" data-exlnk="0" id="M_14_14_8">חֲנִיכָ֜יו</span>
<span class="mila" data-lnk="768" data-exlnk="0" id="M_14_14_9">יְלִידֵ֣י</span>
<span class="mila" data-lnk="768" data-exlnk="0" id="M_14_14_10">בֵית֗וֹ</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_14_14_11">שְׁמֹנָ֤ה</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_14_14_12">עָשָׂר֙</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_14_14_13">וּשְׁלֹ֣שׁ</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_14_14_14">מֵא֔וֹת</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_14_15">וַיִּרְדֹּ֖ף</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_14_16">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5660">־</span><span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_14_17">דָּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5662">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_15" data-pasuk-now="12"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221234625" data-exlnk="0" id="M_14_15_1">וַיֵּחָלֵ֨ק</span>
<span class="mila" data-lnk="1985" data-exlnk="0" id="M_14_15_2">עֲלֵיהֶ֧ם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="5665">׀</span>
<span class="mila" data-lnk="961" data-exlnk="0" id="M_14_15_3">לַ֛יְלָה</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_14_15_4">ה֥וּא</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_14_15_5">וַעֲבָדָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_15_6">וַיַּכֵּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_15_7">וַֽיִּרְדְּפֵם֙</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_14_15_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5672">־</span><span class="mila" data-lnk="1409" data-exlnk="0" id="M_14_15_9">חוֹבָ֔ה</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_15_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="805309824" data-exlnk="0" id="M_14_15_11">מִשְּׂמֹ֖אל</span>
<span class="mila" data-lnk="4026543488" data-exlnk="0" id="M_14_15_12">לְדַמָּֽשֶׂק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5677">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_16" data-pasuk-now="15"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026542336" data-exlnk="0" id="M_14_16_1">וַיָּ֕שֶׁב</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_14_16_2">אֵ֖ת</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_16_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5681">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_16_4">הָרֲכֻ֑שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_16_5">וְגַם֩</span>
<span class="mila" data-lnk="536873984" data-exlnk="0" id="M_14_16_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5685">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_16_7">ל֨וֹט</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_16_8">אָחִ֤יו</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_16_9">וּרְכֻשׁוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_16_10">הֵשִׁ֔יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_16_11">וְגַ֥ם</span>
<span class="mila" data-lnk="536872960" data-exlnk="0" id="M_14_16_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5692">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_16_13">הַנָּשִׁ֖ים</span>
<span class="mila" data-lnk="1879058432" data-exlnk="0" id="M_14_16_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5695">־</span><span class="mila" data-lnk="2684365824" data-exlnk="0" id="M_14_16_15">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5697">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_17" data-pasuk-now="19"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_17_1">וַיֵּצֵ֣א</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_17_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5700">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_17_3">סְדֹם֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_4">לִקְרָאתוֹ֒</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_17_5">אַחֲרֵ֣י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_17_6">שׁוּב֗וֹ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_17_7">מֵֽהַכּוֹת֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_17_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5707">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_9">כְּדָרְלָעֹ֔מֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5710">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_11">הַמְּלָכִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_13">אִתּ֑וֹ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_17_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5715">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_17_15">עֵ֣מֶק</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_17_16">שָׁוֵ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_17">ה֖וּא</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_17_18">עֵ֥מֶק</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_14_17_19">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5721">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_18" data-pasuk-now="11"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="1073750919" data-exlnk="0" id="M_14_18_1">וּמַלְכִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5723">־</span><span class="mila" data-lnk="2147492743" data-exlnk="0" id="M_14_18_2">צֶ֙דֶק֙</span>
<span class="mila" data-lnk="1930" data-exlnk="0" id="M_14_18_3">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="910" data-exlnk="0" id="M_14_18_4">שָׁלֵ֔ם</span>
<span class="mila" data-lnk="1347" data-exlnk="0" id="M_14_18_5">הוֹצִ֖יא</span>
<span class="mila" data-lnk="1347" data-exlnk="0" id="M_14_18_6">לֶ֣חֶם</span>
<span class="mila" data-lnk="4026547523" data-exlnk="0" id="M_14_18_7">וָיָ֑יִן</span>
<span class="mila" data-lnk="1156" data-exlnk="0" id="M_14_18_8">וְה֥וּא</span>
<span class="mila" data-lnk="1156" data-exlnk="0" id="M_14_18_9">כֹהֵ֖ן</span>
<span class="mila" data-lnk="3489672576" data-exlnk="0" id="M_14_18_10">לְאֵ֥ל</span>
<span class="mila" data-lnk="3758108032" data-exlnk="0" id="M_14_18_11">עֶלְיֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5734">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_19" data-pasuk-now="9"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_19_1">וַֽיְבָרֲכֵ֖הוּ</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_14_19_2">וַיֹּאמַ֑ר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_19_3">בָּר֤וּךְ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_19_4">אַבְרָם֙</span>
<span class="mila" data-lnk="268438656" data-exlnk="0" id="M_14_19_5">לְאֵ֣ל</span>
<span class="mila" data-lnk="805309568" data-exlnk="0" id="M_14_19_6">עֶלְי֔וֹן</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_14_19_7">קֹנֵ֖ה</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_19_8">שָׁמַ֥יִם</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_19_9">וָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5744">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_20" data-pasuk-now="11"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4026543364" data-exlnk="0" id="M_14_20_1">וּבָרוּךְ֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_20_2">אֵ֣ל</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_14_20_3">עֶלְי֔וֹן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_20_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5749">־</span><span class="mila" data-lnk="269" data-exlnk="0" id="M_14_20_5">מִגֵּ֥ן</span>
<span class="mila" data-lnk="1288" data-exlnk="0" id="M_14_20_6">צָרֶ֖יךָ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_20_7">בְּיָדֶ֑ךָ</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_14_20_8">וַיִּתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5754">־</span><span class="mila" data-lnk="385" data-exlnk="0" id="M_14_20_9">ל֥וֹ</span>
<span class="mila" data-lnk="4026543493" data-exlnk="0" id="M_14_20_10">מַעֲשֵׂ֖ר</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_14_20_11">מִכֹּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5758">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[חמישי]</span>
<span id="PS_14_21" data-pasuk-now="11"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_14_21_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="1344" data-exlnk="0" id="M_14_21_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5761">־</span><span class="mila" data-lnk="1344" data-exlnk="0" id="M_14_21_3">סְדֹ֖ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_21_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5764">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_21_5">אַבְרָ֑ם</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_14_21_6">תֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5767">־</span><span class="mila" data-lnk="1089" data-exlnk="0" id="M_14_21_7">לִ֣י</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_14_21_8">הַנֶּ֔פֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_21_9">וְהָרֲכֻ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_21_10">קַֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5772">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_21_11">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5774">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_2">אַבְרָ֖ם</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_22_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5778">־</span><span class="mila" data-lnk="1152" data-exlnk="0" id="M_14_22_4">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_5">סְדֹ֑ם</span>
<span class="mila" data-lnk="4026542981" data-exlnk="0" id="M_14_22_6">הֲרִמֹ֨תִי</span>
<span class="mila" data-lnk="1925" data-exlnk="0" id="M_14_22_7">יָדִ֤י</span>
<span class="mila" data-lnk="1664" data-exlnk="0" id="M_14_22_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5784">־</span><span class="mila" data-lnk="640" data-exlnk="0" id="M_14_22_9">יְהוָה֙</span>
<span class="mila" data-lnk="1157" data-exlnk="0" id="M_14_22_10">אֵ֣ל</span>
<span class="mila" data-lnk="1157" data-exlnk="0" id="M_14_22_11">עֶלְי֔וֹן</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_22_12">קֹנֵ֖ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_22_13">שָׁמַ֥יִם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_22_14">וָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5791">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_23" data-pasuk-now="16"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_14_23_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5793">־</span><span class="mila" data-lnk="77" data-exlnk="0" id="M_14_23_2">מִחוּט֙</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_14_23_3">וְעַ֣ד</span>
<span class="mila" data-lnk="4026542156" data-exlnk="0" id="M_14_23_4">שְׂרֽוֹךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5797">־</span><span class="mila" data-lnk="76" data-exlnk="0" id="M_14_23_5">נַ֔עַל</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_14_23_6">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5800">־</span><span class="mila" data-lnk="265" data-exlnk="0" id="M_14_23_7">אֶקַּ֖ח</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_23_8">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5803">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_23_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5805">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_23_10">לָ֑ךְ</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_23_11">וְלֹ֣א</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_23_12">תֹאמַ֔ר</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_23_13">אֲנִ֖י</span>
<span class="mila" data-lnk="3221234688" data-exlnk="0" id="M_14_23_14">הֶעֱשַׁ֥רְתִּי</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_23_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5812">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_23_16">אַבְרָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5814">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_24" data-pasuk-now="16"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="3221233932" data-exlnk="0" id="M_14_24_1">בִּלְעָדַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_24_2">רַ֚ק</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_24_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_14_24_4">אָכְל֣וּ</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_14_24_5">הַנְּעָרִ֔ים</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_24_6">וְחֵ֙לֶק֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_14_24_7">הָאֲנָשִׁ֔ים</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_24_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_24_9">הָלְכ֖וּ</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_24_10">אִתִּ֑י</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_24_11">עָנֵר֙</span>
<span class="mila" data-lnk="4026543105" data-exlnk="0" id="M_14_24_12">אֶשְׁכֹּ֣ל</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_24_13">וּמַמְרֵ֔א</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_24_14">הֵ֖ם</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_24_15">יִקְח֥וּ</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_14_24_16">חֶלְקָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5832">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5833">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>