<p id="PR_12" data-perek-now="268" data-perek-nops="20"><span class="perek-header">פרק יב</span>
<br /><span class="parasha-header">{פרשת לך לך}</span>
<span id="PS_12_1" data-pasuk-now="14"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_1_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_1_2">יְהוָה֙</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_1_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4776">־</span><span class="mila" data-lnk="384" data-exlnk="0" id="M_12_1_4">אַבְרָ֔ם</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_12_1_5">לֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4779">־</span><span class="mila" data-lnk="449" data-exlnk="0" id="M_12_1_6">לְךָ֛</span>
<span class="mila" data-lnk="457" data-exlnk="0" id="M_12_1_7">מֵאַרְצְךָ֥</span>
<span class="mila" data-lnk="457" data-exlnk="0" id="M_12_1_8">וּמִמּֽוֹלַדְתְּךָ֖</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_12_1_9">וּמִבֵּ֣ית</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_12_1_10">אָבִ֑יךָ</span>
<span class="mila" data-lnk="3489668481" data-exlnk="0" id="M_12_1_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4786">־</span><span class="mila" data-lnk="4026539393" data-exlnk="0" id="M_12_1_12">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="1413" data-exlnk="0" id="M_12_1_13">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026546629" data-exlnk="0" id="M_12_1_14">אַרְאֶֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4790">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_12_2_1">וְאֶֽעֶשְׂךָ֙</span>
<span class="mila" data-lnk="1289" data-exlnk="0" id="M_12_2_2">לְג֣וֹי</span>
<span class="mila" data-lnk="1289" data-exlnk="0" id="M_12_2_3">גָּד֔וֹל</span>
<span class="mila" data-lnk="805308681" data-exlnk="0" id="M_12_2_4">וַאֲבָ֣רֶכְךָ֔</span>
<span class="mila" data-lnk="3221233985" data-exlnk="0" id="M_12_2_5">וַאֲגַדְּלָ֖ה</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_12_2_6">שְׁמֶ֑ךָ</span>
<span class="mila" data-lnk="805310401" data-exlnk="0" id="M_12_2_7">וֶהְיֵ֖ה</span>
<span class="mila" data-lnk="1993" data-exlnk="0" id="M_12_2_8">בְּרָכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4799">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026542400" data-exlnk="0" id="M_12_3_1">וַאֲבָֽרֲכָה֙</span>
<span class="mila" data-lnk="348" data-exlnk="0" id="M_12_3_2">מְבָ֣רְכֶ֔יךָ</span>
<span class="mila" data-lnk="3221233932" data-exlnk="0" id="M_12_3_3">וּמְקַלֶּלְךָ֖</span>
<span class="mila" data-lnk="3221233928" data-exlnk="0" id="M_12_3_4">אָאֹ֑ר</span>
<span class="mila" data-lnk="467" data-exlnk="0" id="M_12_3_5">וְנִבְרְכ֣וּ</span>
<span class="mila" data-lnk="337" data-exlnk="0" id="M_12_3_6">בְךָ֔</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_12_3_7">כֹּ֖ל</span>
<span class="mila" data-lnk="1879063955" data-exlnk="0" id="M_12_3_8">מִשְׁפְּחֹ֥ת</span>
<span class="mila" data-lnk="4026547603" data-exlnk="0" id="M_12_3_9">הָאֲדָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4809">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_4" data-pasuk-now="17"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_12_4_1">וַיֵּ֣לֶךְ</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_12_4_2">אַבְרָ֗ם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_4_3">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_4_4">דִּבֶּ֤ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_4_5">אֵלָיו֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_4_6">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_7">וַיֵּ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_8">אִתּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_9">ל֑וֹט</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_12_4_10">וְאַבְרָ֗ם</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_12_4_11">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4821">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_12_4_12">חָמֵ֤שׁ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_12_4_13">שָׁנִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_14">וְשִׁבְעִ֣ים</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_4_15">שָׁנָ֔ה</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_12_4_16">בְּצֵאת֖וֹ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_12_4_17">מֵחָרָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4828">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_5" data-pasuk-now="26"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_1">וַיִּקַּ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_2">אַבְרָם֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4832">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_4">שָׂרַ֨י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_5_5">אִשְׁתּ֜וֹ</span>
<span class="mila" data-lnk="805308672" data-exlnk="0" id="M_12_5_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4836">־</span><span class="mila" data-lnk="805308672" data-exlnk="0" id="M_12_5_7">ל֣וֹט</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_12_5_8">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4839">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_12_5_9">אָחִ֗יו</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_12_5_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4842">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_12_5_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4844">־</span><span class="mila" data-lnk="68" data-exlnk="0" id="M_12_5_12">רְכוּשָׁם֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_5_13">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_5_14">רָכָ֔שׁוּ</span>
<span class="mila" data-lnk="3221233924" data-exlnk="0" id="M_12_5_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4849">־</span><span class="mila" data-lnk="2147492101" data-exlnk="0" id="M_12_5_16">הַנֶּ֖פֶשׁ</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_12_5_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4852">־</span><span class="mila" data-lnk="781" data-exlnk="0" id="M_12_5_18">עָשׂ֣וּ</span>
<span class="mila" data-lnk="1289" data-exlnk="0" id="M_12_5_19">בְחָרָ֑ן</span>
<span class="mila" data-lnk="276" data-exlnk="0" id="M_12_5_20">וַיֵּצְא֗וּ</span>
<span class="mila" data-lnk="276" data-exlnk="0" id="M_12_5_21">לָלֶ֙כֶת֙</span>
<span class="mila" data-lnk="1879058704" data-exlnk="0" id="M_12_5_22">אַ֣רְצָה</span>
<span class="mila" data-lnk="2952800528" data-exlnk="0" id="M_12_5_23">כְּנַ֔עַן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_5_24">וַיָּבֹ֖אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_25">אַ֥רְצָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_26">כְּנָֽעַן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4862">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="193" data-exlnk="0" id="M_12_6_1">וַיַּעֲבֹ֤ר</span>
<span class="mila" data-lnk="1217" data-exlnk="0" id="M_12_6_2">אַבְרָם֙</span>
<span class="mila" data-lnk="1217" data-exlnk="0" id="M_12_6_3">בָּאָ֔רֶץ</span>
<span class="mila" data-lnk="1473" data-exlnk="0" id="M_12_6_4">עַ֚ד</span>
<span class="mila" data-lnk="1477" data-exlnk="0" id="M_12_6_5">מְק֣וֹם</span>
<span class="mila" data-lnk="1477" data-exlnk="10" id="M_12_6_6">שְׁכֶ֔ם</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_12_6_7">עַ֖ד</span>
<span class="mila" data-lnk="1413" data-exlnk="0" id="M_12_6_8">אֵל֣וֹן</span>
<span class="mila" data-lnk="1413" data-exlnk="0" id="M_12_6_9">מוֹרֶ֑ה</span>
<span class="mila" data-lnk="1477" data-exlnk="0" id="M_12_6_10">וְהַֽכְּנַעֲנִ֖י</span>
<span class="mila" data-lnk="453" data-exlnk="0" id="M_12_6_11">אָ֥ז</span>
<span class="mila" data-lnk="1477" data-exlnk="0" id="M_12_6_12">בָּאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4875">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026542341" data-exlnk="0" id="M_12_7_1">וַיֵּרָ֤א</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_12_7_2">יְהוָה֙</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_12_7_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4879">־</span><span class="mila" data-lnk="385" data-exlnk="0" id="M_12_7_4">אַבְרָ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_7_5">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_12_7_6">לְזַ֨רְעֲךָ֔</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_7_7">אֶתֵּ֖ן</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_12_7_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4885">־</span><span class="mila" data-lnk="1153" data-exlnk="0" id="M_12_7_9">הָאָ֣רֶץ</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_12_7_10">הַזֹּ֑את</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_12_7_11">וַיִּ֤בֶן</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_12_7_12">שָׁם֙</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_12_7_13">מִזְבֵּ֔חַ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_12_7_14">לַיהוָ֖ה</span>
<span class="mila" data-lnk="4026546316" data-exlnk="0" id="M_12_7_15">הַנִּרְאֶ֥ה</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_12_7_16">אֵלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4894">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_8" data-pasuk-now="20"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="269" data-exlnk="0" id="M_12_8_1">וַיַּעְתֵּ֨ק</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_12_8_2">מִשָּׁ֜ם</span>
<span class="mila" data-lnk="4026542340" data-exlnk="0" id="M_12_8_3">הָהָ֗רָה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_4">מִקֶּ֛דֶם</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_12_8_5">לְבֵֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4900">־</span><span class="mila" data-lnk="1281" data-exlnk="0" id="M_12_8_6">אֵ֖ל</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_12_8_7">וַיֵּ֣ט</span>
<span class="mila" data-lnk="4026547465" data-exlnk="0" id="M_12_8_8">אָהֳלֹ֑ה</span>
<span class="mila" data-lnk="1285" data-exlnk="1" id="M_12_8_9">בֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4905">־</span><span class="mila" data-lnk="1281" data-exlnk="1" id="M_12_8_10">אֵ֤ל</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_12_8_11">מִיָּם֙</span>
<span class="mila" data-lnk="1285" data-exlnk="0" id="M_12_8_12">וְהָעַ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_13">מִקֶּ֔דֶם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_14">וַיִּֽבֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4911">־</span><span class="mila" data-lnk="1281" data-exlnk="0" id="M_12_8_15">שָׁ֤ם</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_12_8_16">מִזְבֵּחַ֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_8_17">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_12_8_18">וַיִּקְרָ֖א</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_12_8_19">בְּשֵׁ֥ם</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_12_8_20">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4918">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_9" data-pasuk-now="5"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_9_1">וַיִּסַּ֣ע</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_12_9_2">אַבְרָ֔ם</span>
<span class="mila" data-lnk="273" data-exlnk="0" id="M_12_9_3">הָל֥וֹךְ</span>
<span class="mila" data-lnk="3221233937" data-exlnk="0" id="M_12_9_4">וְנָס֖וֹעַ</span>
<span class="mila" data-lnk="4026542485" data-exlnk="0" id="M_12_9_5">הַנֶּֽגְבָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4925">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4926"> פ </span>
</span>
<br /><span id="PS_12_10" data-pasuk-now="12"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="404" data-exlnk="0" id="M_12_10_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="1429" data-exlnk="0" id="M_12_10_2">רָעָ֖ב</span>
<span class="mila" data-lnk="1429" data-exlnk="0" id="M_12_10_3">בָּאָ֑רֶץ</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_12_10_4">וַיֵּ֨רֶד</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_10_5">אַבְרָ֤ם</span>
<span class="mila" data-lnk="4026547456" data-exlnk="0" id="M_12_10_6">מִצְרַ֙יְמָה֙</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_12_10_7">לָג֣וּר</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_10_8">שָׁ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4936">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_10_10">כָבֵ֥ד</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_10_11">הָרָעָ֖ב</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_10_12">בָּאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4940">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_11" data-pasuk-now="17"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_11_1">וַיְהִ֕י</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_12_11_2">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_12_11_3">הִקְרִ֖יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_4">לָב֣וֹא</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_12_11_5">מִצְרָ֑יְמָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_6">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_12_11_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4948">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_8">שָׂרַ֣י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_11_9">אִשְׁתּ֔וֹ</span>
<span class="mila" data-lnk="1237" data-exlnk="0" id="M_12_11_10">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4952">־</span><span class="mila" data-lnk="1493" data-exlnk="0" id="M_12_11_11">נָ֣א</span>
<span class="mila" data-lnk="1237" data-exlnk="0" id="M_12_11_12">יָדַ֔עְתִּי</span>
<span class="mila" data-lnk="1216" data-exlnk="0" id="M_12_11_13">כִּ֛י</span>
<span class="mila" data-lnk="1217" data-exlnk="0" id="M_12_11_14">אִשָּׁ֥ה</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_12_11_15">יְפַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4958">־</span><span class="mila" data-lnk="1153" data-exlnk="0" id="M_12_11_16">מַרְאֶ֖ה</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_12_11_17">אָֽתְּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4961">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_12" data-pasuk-now="12"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_12_1">וְהָיָ֗ה</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_12_12_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4964">־</span><span class="mila" data-lnk="1088" data-exlnk="0" id="M_12_12_3">יִרְא֤וּ</span>
<span class="mila" data-lnk="1216" data-exlnk="0" id="M_12_12_4">אֹתָךְ֙</span>
<span class="mila" data-lnk="4026543168" data-exlnk="0" id="M_12_12_5">הַמִּצְרִ֔ים</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_12_6">וְאָמְר֖וּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_12_7">אִשְׁתּ֣וֹ</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_12_12_8">זֹ֑את</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_12_9">וְהָרְג֥וּ</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_12_12_10">אֹתִ֖י</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_12_12_11">וְאֹתָ֥ךְ</span>
<span class="mila" data-lnk="4026543364" data-exlnk="0" id="M_12_12_12">יְחַיּֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4975">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="805308864" data-exlnk="0" id="M_12_13_1">אִמְרִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4977">־</span><span class="mila" data-lnk="805309888" data-exlnk="0" id="M_12_13_2">נָ֖א</span>
<span class="mila" data-lnk="805309892" data-exlnk="0" id="M_12_13_3">אֲחֹ֣תִי</span>
<span class="mila" data-lnk="536874436" data-exlnk="0" id="M_12_13_4">אָ֑תְּ</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_12_13_5">לְמַ֙עַן֙</span>
<span class="mila" data-lnk="1413" data-exlnk="0" id="M_12_13_6">יִֽיטַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4983">־</span><span class="mila" data-lnk="1413" data-exlnk="0" id="M_12_13_7">לִ֣י</span>
<span class="mila" data-lnk="1157" data-exlnk="0" id="M_12_13_8">בַעֲבוּרֵ֔ךְ</span>
<span class="mila" data-lnk="805308800" data-exlnk="0" id="M_12_13_9">וְחָיְתָ֥ה</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_12_13_10">נַפְשִׁ֖י</span>
<span class="mila" data-lnk="1420" data-exlnk="0" id="M_12_13_11">בִּגְלָלֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4989">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שני]</span>
<span id="PS_12_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_12_14_1">וַיְהִ֕י</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_12_14_2">כְּב֥וֹא</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_12_14_3">אַבְרָ֖ם</span>
<span class="mila" data-lnk="4026543105" data-exlnk="0" id="M_12_14_4">מִצְרָ֑יְמָה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_12_14_5">וַיִּרְא֤וּ</span>
<span class="mila" data-lnk="4026542144" data-exlnk="0" id="M_12_14_6">הַמִּצְרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4997">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_8">הָ֣אִשָּׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5000">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_10">יָפָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_11">הִ֖וא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_12">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5004">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_15" data-pasuk-now="12"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_15_1">וַיִּרְא֤וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_12_15_2">אֹתָהּ֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_12_15_3">שָׂרֵ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_12_15_4">פַרְעֹ֔ה</span>
<span class="mila" data-lnk="4026546317" data-exlnk="0" id="M_12_15_5">וַיְהַֽלֲל֥וּ</span>
<span class="mila" data-lnk="201" data-exlnk="0" id="M_12_15_6">אֹתָ֖הּ</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_12_15_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5012">־</span><span class="mila" data-lnk="65" data-exlnk="0" id="M_12_15_8">פַּרְעֹ֑ה</span>
<span class="mila" data-lnk="3221233988" data-exlnk="0" id="M_12_15_9">וַתֻּקַּ֥ח</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_12_15_10">הָאִשָּׁ֖ה</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_12_15_11">בֵּ֥ית</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_12_15_12">פַּרְעֹֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5018">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_16" data-pasuk-now="12"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3221234945" data-exlnk="0" id="M_12_16_1">וּלְאַבְרָ֥ם</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_12_16_2">הֵיטִ֖יב</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_12_16_3">בַּעֲבוּרָ֑הּ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_12_16_4">וַֽיְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5023">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_12_16_5">ל֤וֹ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_12_16_6">צֹאן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5026">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_12_16_7">וּבָקָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_8">וַֽחֲמֹרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_9">וַֽעֲבָדִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_10">וּשְׁפָחֹ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_11">וַאֲתֹנֹ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_12">וּגְמַלִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5033">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_17" data-pasuk-now="13"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="1342187781" data-exlnk="0" id="M_12_17_1">וַיְנַגַּ֨ע</span>
<span class="mila" data-lnk="2684364805" data-exlnk="0" id="M_12_17_2">יְהוָ֧ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="5036">׀</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_17_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5038">־</span><span class="mila" data-lnk="1029" data-exlnk="0" id="M_12_17_4">פַּרְעֹ֛ה</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_12_17_5">נְגָעִ֥ים</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_12_17_6">גְּדֹלִ֖ים</span>
<span class="mila" data-lnk="805308673" data-exlnk="0" id="M_12_17_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5043">־</span><span class="mila" data-lnk="536874245" data-exlnk="0" id="M_12_17_8">בֵּית֑וֹ</span>
<span class="mila" data-lnk="965" data-exlnk="0" id="M_12_17_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5046">־</span><span class="mila" data-lnk="965" data-exlnk="0" id="M_12_17_10">דְּבַ֥ר</span>
<span class="mila" data-lnk="965" data-exlnk="0" id="M_12_17_11">שָׂרַ֖י</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_17_12">אֵ֥שֶׁת</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_17_13">אַבְרָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5051">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_18" data-pasuk-now="15"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_18_1">וַיִּקְרָ֤א</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_12_18_2">פַרְעֹה֙</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_12_18_3">לְאַבְרָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_4">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_12_18_5">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5057">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_12_18_6">זֹּ֖את</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_12_18_7">עָשִׂ֣יתָ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_12_18_8">לִּ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_9">לָ֚מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5063">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_18_11">הִגַּ֣דְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_12">לִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_13">כִּ֥י</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_12_18_14">אִשְׁתְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_15">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5069">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_19" data-pasuk-now="13"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="805308672" data-exlnk="0" id="M_12_19_1">לָמָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_2">אָמַ֙רְתָּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_3">אֲחֹ֣תִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_4">הִ֔וא</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_12_19_5">וָאֶקַּ֥ח</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_12_19_6">אֹתָ֛הּ</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_12_19_7">לִ֖י</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_12_19_8">לְאִשָּׁ֑ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_12_19_9">וְעַתָּ֕ה</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_12_19_10">הִנֵּ֥ה</span>
<span class="mila" data-lnk="805308800" data-exlnk="0" id="M_12_19_11">אִשְׁתְּךָ֖</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_12_19_12">קַ֥ח</span>
<span class="mila" data-lnk="4026542469" data-exlnk="0" id="M_12_19_13">וָלֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5083">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="3489671429" data-exlnk="0" id="M_12_20_1">וַיְצַ֥ו</span>
<span class="mila" data-lnk="2684365829" data-exlnk="0" id="M_12_20_2">עָלָ֛יו</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_20_3">פַּרְעֹ֖ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_12_20_4">אֲנָשִׁ֑ים</span>
<span class="mila" data-lnk="333" data-exlnk="0" id="M_12_20_5">וַֽיְשַׁלְּח֥וּ</span>
<span class="mila" data-lnk="332" data-exlnk="0" id="M_12_20_6">אֹת֛וֹ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_12_20_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5091">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_8">אִשְׁתּ֖וֹ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_12_20_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5094">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_12_20_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5096">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_12_20_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5098">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_12_20_12">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5100">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>