<p id="PR_17" data-perek-now="355" data-perek-nops="27"><span class="perek-header">פרק יז</span>
<br /><span id="PS_17_1" data-pasuk-now="20"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_1_1">וַיְהִ֣י</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_1_2">אַבְרָ֔ם</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_1_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6424">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_1_4">תִּשְׁעִ֥ים</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_1_5">שָׁנָ֖ה</span>
<span class="mila" data-lnk="1073751296" data-exlnk="0" id="M_17_1_6">וְתֵ֣שַׁע</span>
<span class="mila" data-lnk="2147493120" data-exlnk="0" id="M_17_1_7">שָׁנִ֑ים</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_17_1_8">וַיֵּרָ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_9">יְהוָ֜ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_17_1_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6432">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_1_11">אַבְרָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_12">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_13">אֵלָיו֙</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_1_14">אֲנִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6437">־</span><span class="mila" data-lnk="1933" data-exlnk="0" id="M_17_1_15">אֵ֣ל</span>
<span class="mila" data-lnk="1933" data-exlnk="0" id="M_17_1_16">שַׁדַּ֔י</span>
<span class="mila" data-lnk="961" data-exlnk="0" id="M_17_1_17">הִתְהַלֵּ֥ךְ</span>
<span class="mila" data-lnk="961" data-exlnk="0" id="M_17_1_18">לְפָנַ֖י</span>
<span class="mila" data-lnk="805309381" data-exlnk="0" id="M_17_1_19">וֶהְיֵ֥ה</span>
<span class="mila" data-lnk="1989" data-exlnk="0" id="M_17_1_20">תָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6444">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_17_2_1">וְאֶתְּנָ֥ה</span>
<span class="mila" data-lnk="1089" data-exlnk="0" id="M_17_2_2">בְרִיתִ֖י</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_17_2_3">בֵּינִ֣י</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_17_2_4">וּבֵינֶ֑ךָ</span>
<span class="mila" data-lnk="3221235008" data-exlnk="0" id="M_17_2_5">וְאַרְבֶּ֥ה</span>
<span class="mila" data-lnk="4026543424" data-exlnk="0" id="M_17_2_6">אוֹתְךָ֖</span>
<span class="mila" data-lnk="1342192960" data-exlnk="0" id="M_17_2_7">בִּמְאֹ֥ד</span>
<span class="mila" data-lnk="2952805696" data-exlnk="0" id="M_17_2_8">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6453">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_3_1">וַיִּפֹּ֥ל</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_3_2">אַבְרָ֖ם</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_17_3_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6457">־</span><span class="mila" data-lnk="1409" data-exlnk="0" id="M_17_3_4">פָּנָ֑יו</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_3_5">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_3_6">אִתּ֛וֹ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_3_7">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_3_8">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6463">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_4_1">אֲנִ֕י</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_17_4_2">הִנֵּ֥ה</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_17_4_3">בְרִיתִ֖י</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_17_4_4">אִתָּ֑ךְ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_17_4_5">וְהָיִ֕יתָ</span>
<span class="mila" data-lnk="4026543488" data-exlnk="0" id="M_17_4_6">לְאַ֖ב</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_17_4_7">הֲמ֥וֹן</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_17_4_8">גּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6472">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1879058752" data-exlnk="0" id="M_17_5_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6474">־</span><span class="mila" data-lnk="4026542400" data-exlnk="0" id="M_17_5_2">יִקָּרֵ֥א</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_17_5_3">ע֛וֹד</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_5_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6478">־</span><span class="mila" data-lnk="320" data-exlnk="0" id="M_17_5_5">שִׁמְךָ֖</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_17_5_6">אַבְרָ֑ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_17_5_7">וְהָיָ֤ה</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_17_5_8">שִׁמְךָ֙</span>
<span class="mila" data-lnk="1348" data-exlnk="0" id="M_17_5_9">אַבְרָהָ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_17_5_10">כִּ֛י</span>
<span class="mila" data-lnk="805308417" data-exlnk="0" id="M_17_5_11">אַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6486">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_17_5_12">הֲמ֥וֹן</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_5_13">גּוֹיִ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_5_14">נְתַתִּֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6490">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_6" data-pasuk-now="9"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026546432" data-exlnk="0" id="M_17_6_1">וְהִפְרֵתִ֤י</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_6_2">אֹֽתְךָ֙</span>
<span class="mila" data-lnk="805309440" data-exlnk="0" id="M_17_6_3">בִּמְאֹ֣ד</span>
<span class="mila" data-lnk="805309440" data-exlnk="0" id="M_17_6_4">מְאֹ֔ד</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_17_6_5">וּנְתַתִּ֖יךָ</span>
<span class="mila" data-lnk="4026543489" data-exlnk="0" id="M_17_6_6">לְגוֹיִ֑ם</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_6_7">וּמְלָכִ֖ים</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_6_8">מִמְּךָ֥</span>
<span class="mila" data-lnk="4026547456" data-exlnk="0" id="M_17_6_9">יֵצֵֽאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6500">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שביעי]</span>
<span id="PS_17_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_7_1">וַהֲקִמֹתִ֨י</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_7_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6503">־</span><span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_7_3">בְּרִיתִ֜י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_7_4">בֵּינִ֣י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_7_5">וּבֵינֶ֗ךָ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_7_6">וּבֵ֨ין</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_7_7">זַרְעֲךָ֧</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_7_8">אַחֲרֶ֛יךָ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_7_9">לְדֹרֹתָ֖ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_7_10">לִבְרִ֣ית</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_7_11">עוֹלָ֑ם</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_7_12">לִהְי֤וֹת</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_7_13">לְךָ֙</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_7_14">לֵֽאלֹהִ֔ים</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_7_15">וּֽלְזַרְעֲךָ֖</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_7_16">אַחֲרֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6518">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_8" data-pasuk-now="16"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_8_1">וְנָתַתִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_2">לְ֠ךָ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_8_3">וּלְזַרְעֲךָ֨</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_8_4">אַחֲרֶ֜יךָ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_8_5">אֵ֣ת׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_6">אֶ֣רֶץ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_8_7">מְגֻרֶ֗יךָ</span>
<span class="mila" data-lnk="3221234688" data-exlnk="0" id="M_17_8_8">אֵ֚ת</span>
<span class="mila" data-lnk="1073751296" data-exlnk="0" id="M_17_8_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6528">־</span><span class="mila" data-lnk="2147493120" data-exlnk="0" id="M_17_8_10">אֶ֣רֶץ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_8_11">כְּנַ֔עַן</span>
<span class="mila" data-lnk="3221233921" data-exlnk="0" id="M_17_8_12">לַאֲחֻזַּ֖ת</span>
<span class="mila" data-lnk="2147493121" data-exlnk="0" id="M_17_8_13">עוֹלָ֑ם</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_8_14">וְהָיִ֥יתִי</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_8_15">לָהֶ֖ם</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_8_16">לֵאלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6536">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_9" data-pasuk-now="12"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026542336" data-exlnk="0" id="M_17_9_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="2952800512" data-exlnk="0" id="M_17_9_2">אֱלֹהִים֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_9_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6540">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_17_9_4">אַבְרָהָ֔ם</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_9_5">וְאַתָּ֖ה</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_17_9_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6544">־</span><span class="mila" data-lnk="384" data-exlnk="0" id="M_17_9_7">בְּרִיתִ֣י</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_17_9_8">תִשְׁמֹ֑ר</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_17_9_9">אַתָּ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_9_10">וְזַרְעֲךָ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_9_11">אַחֲרֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_9_12">לְדֹרֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6551">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_10_1">זֹ֣את</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_10_2">בְּרִיתִ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_10_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_10_4">תִּשְׁמְר֗וּ</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_10_5">בֵּינִי֙</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_10_6">וּבֵ֣ינֵיכֶ֔ם</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_10_7">וּבֵ֥ין</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_10_8">זַרְעֲךָ֖</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_10_9">אַחֲרֶ֑יךָ</span>
<span class="mila" data-lnk="1293" data-exlnk="0" id="M_17_10_10">הִמּ֥וֹל</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_17_10_11">לָכֶ֖ם</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_10_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6564">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_10_13">זָכָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6566">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_11" data-pasuk-now="9"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="3221233925" data-exlnk="0" id="M_17_11_1">וּנְמַלְתֶּ֕ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_11_2">אֵ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_11_3">בְּשַׂ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_11_4">עָרְלַתְכֶ֑ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_17_11_5">וְהָיָה֙</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_17_11_6">לְא֣וֹת</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_17_11_7">בְּרִ֔ית</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_17_11_8">בֵּינִ֖י</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_17_11_9">וּבֵינֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6576">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_12" data-pasuk-now="19"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="1073750276" data-exlnk="0" id="M_17_12_1">וּבֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6578">־</span><span class="mila" data-lnk="2147492100" data-exlnk="0" id="M_17_12_2">שְׁמֹנַ֣ת</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_17_12_3">יָמִ֗ים</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_17_12_4">יִמּ֥וֹל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_12_5">לָכֶ֛ם</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_12_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6584">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_12_7">זָכָ֖ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_12_8">לְדֹרֹתֵיכֶ֑ם</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_17_12_9">יְלִ֣יד</span>
<span class="mila" data-lnk="4026546437" data-exlnk="0" id="M_17_12_10">בָּ֔יִת</span>
<span class="mila" data-lnk="1285" data-exlnk="0" id="M_17_12_11">וּמִקְנַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6590">־</span><span class="mila" data-lnk="261" data-exlnk="0" id="M_17_12_12">כֶּ֙סֶף֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_12_13">מִכֹּ֣ל</span>
<span class="mila" data-lnk="1032" data-exlnk="0" id="M_17_12_14">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6594">־</span><span class="mila" data-lnk="1032" data-exlnk="0" id="M_17_12_15">נֵכָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_16">אֲשֶׁ֛ר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_12_17">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_18">מִֽזַּרְעֲךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_19">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6600">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1285" data-exlnk="0" id="M_17_13_1">הִמּ֧וֹל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="6602">׀</span>
<span class="mila" data-lnk="1285" data-exlnk="0" id="M_17_13_2">יִמּ֛וֹל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_13_3">יְלִ֥יד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_13_4">בֵּיתְךָ֖</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_13_5">וּמִקְנַ֣ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_13_6">כַּסְפֶּ֑ךָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_17_13_7">וְהָיְתָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_8">בְרִיתִ֛י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_13_9">בִּבְשַׂרְכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_10">לִבְרִ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_11">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6613">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="389" data-exlnk="0" id="M_17_14_1">וְעָרֵ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="6615">׀</span>
<span class="mila" data-lnk="389" data-exlnk="0" id="M_17_14_2">זָכָ֗ר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_14_3">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_17_14_4">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6619">־</span><span class="mila" data-lnk="261" data-exlnk="0" id="M_17_14_5">יִמּוֹל֙</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_14_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6622">־</span><span class="mila" data-lnk="260" data-exlnk="0" id="M_17_14_7">בְּשַׂ֣ר</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_14_8">עָרְלָת֔וֹ</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_17_14_9">וְנִכְרְתָ֛ה</span>
<span class="mila" data-lnk="325" data-exlnk="0" id="M_17_14_10">הַנֶּ֥פֶשׁ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_14_11">הַהִ֖וא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_14_12">מֵעַמֶּ֑יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_14_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6630">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_14_14">בְּרִיתִ֖י</span>
<span class="mila" data-lnk="4026542336" data-exlnk="0" id="M_17_14_15">הֵפַֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6634">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6635">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_15" data-pasuk-now="14"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="268437760" data-exlnk="0" id="M_17_15_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_17_15_2">אֱלֹהִים֙</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_17_15_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6639">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_15_4">אַבְרָהָ֔ם</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_17_15_5">שָׂרַ֣י</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_17_15_6">אִשְׁתְּךָ֔</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_15_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6644">־</span><span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_15_8">תִקְרָ֥א</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_15_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6647">־</span><span class="mila" data-lnk="257" data-exlnk="0" id="M_17_15_10">שְׁמָ֖הּ</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_17_15_11">שָׂרָ֑י</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_17_15_12">כִּ֥י</span>
<span class="mila" data-lnk="1345" data-exlnk="0" id="M_17_15_13">שָׂרָ֖ה</span>
<span class="mila" data-lnk="1089" data-exlnk="0" id="M_17_15_14">שְׁמָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6653">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_16" data-pasuk-now="14"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_16_1">וּבֵרַכְתִּ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_17_16_2">אֹתָ֔הּ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_16_3">וְגַ֨ם</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_16_4">נָתַ֧תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_5">מִמֶּ֛נָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_6">לְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_7">בֵּ֑ן</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_16_8">וּבֵרַכְתִּ֙יהָ֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_16_9">וְהָֽיְתָ֣ה</span>
<span class="mila" data-lnk="805308672" data-exlnk="0" id="M_17_16_10">לְגוֹיִ֔ם</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_16_11">מַלְכֵ֥י</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_16_12">עַמִּ֖ים</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_16_13">מִמֶּ֥נָּה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_16_14">יִהְיֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6668">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_17" data-pasuk-now="17"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_17_17_1">וַיִּפֹּ֧ל</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_17_17_2">אַבְרָהָ֛ם</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_17_17_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6672">־</span><span class="mila" data-lnk="65" data-exlnk="0" id="M_17_17_4">פָּנָ֖יו</span>
<span class="mila" data-lnk="3221234113" data-exlnk="0" id="M_17_17_5">וַיִּצְחָ֑ק</span>
<span class="mila" data-lnk="1879058560" data-exlnk="0" id="M_17_17_6">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="2952801408" data-exlnk="0" id="M_17_17_7">בְּלִבּ֗וֹ</span>
<span class="mila" data-lnk="4026544069" data-exlnk="0" id="M_17_17_8">הַלְּבֶ֤ן</span>
<span class="mila" data-lnk="1989" data-exlnk="0" id="M_17_17_9">מֵאָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6679">־</span><span class="mila" data-lnk="1925" data-exlnk="0" id="M_17_17_10">שָׁנָה֙</span>
<span class="mila" data-lnk="1668" data-exlnk="0" id="M_17_17_11">יִוָּלֵ֔ד</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_17_12">וְאִ֨ם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6683">־</span><span class="mila" data-lnk="1921" data-exlnk="0" id="M_17_17_13">שָׂרָ֔ה</span>
<span class="mila" data-lnk="1921" data-exlnk="0" id="M_17_17_14">הֲבַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6686">־</span><span class="mila" data-lnk="1921" data-exlnk="0" id="M_17_17_15">תִּשְׁעִ֥ים</span>
<span class="mila" data-lnk="1665" data-exlnk="0" id="M_17_17_16">שָׁנָ֖ה</span>
<span class="mila" data-lnk="1920" data-exlnk="0" id="M_17_17_17">תֵּלֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6690">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_18" data-pasuk-now="8"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_18_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_18_2">אַבְרָהָ֖ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_18_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6694">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_18_4">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="805308609" data-exlnk="0" id="M_17_18_5">ל֥וּ</span>
<span class="mila" data-lnk="193" data-exlnk="0" id="M_17_18_6">יִשְׁמָעֵ֖אל</span>
<span class="mila" data-lnk="4026546625" data-exlnk="0" id="M_17_18_7">יִחְיֶ֥ה</span>
<span class="mila" data-lnk="641" data-exlnk="0" id="M_17_18_8">לְפָנֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6700">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_19" data-pasuk-now="20"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="805308672" data-exlnk="0" id="M_17_19_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="536872960" data-exlnk="0" id="M_17_19_2">אֱלֹהִ֗ים</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_17_19_3">אֲבָל֙</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_17_19_4">שָׂרָ֣ה</span>
<span class="mila" data-lnk="805308800" data-exlnk="0" id="M_17_19_5">אִשְׁתְּךָ֗</span>
<span class="mila" data-lnk="4026543360" data-exlnk="0" id="M_17_19_6">יֹלֶ֤דֶת</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_19_7">לְךָ֙</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_17_19_8">בֵּ֔ן</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_17_19_9">וְקָרָ֥אתָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_17_19_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6711">־</span><span class="mila" data-lnk="1089" data-exlnk="0" id="M_17_19_11">שְׁמ֖וֹ</span>
<span class="mila" data-lnk="1089" data-exlnk="0" id="M_17_19_12">יִצְחָ֑ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_13">וַהֲקִמֹתִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6716">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_17_19_15">בְּרִיתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_16">אִתּ֛וֹ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_19_17">לִבְרִ֥ית</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_19_18">עוֹלָ֖ם</span>
<span class="mila" data-lnk="3221234048" data-exlnk="0" id="M_17_19_19">לְזַרְע֥וֹ</span>
<span class="mila" data-lnk="3221235072" data-exlnk="0" id="M_17_19_20">אַחֲרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6723">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_20" data-pasuk-now="18"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4026543368" data-exlnk="0" id="M_17_20_1">וּֽלְיִשְׁמָעֵאל֘</span>
<span class="mila" data-lnk="4026542344" data-exlnk="0" id="M_17_20_2">שְׁמַעְתִּיךָ֒</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_20_3">הִנֵּ֣ה׀</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_20_4">בֵּרַ֣כְתִּי</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_20_5">אֹת֗וֹ</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_17_20_6">וְהִפְרֵיתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_7">אֹת֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_8">וְהִרְבֵּיתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_9">אֹת֖וֹ</span>
<span class="mila" data-lnk="268438528" data-exlnk="0" id="M_17_20_10">בִּמְאֹ֣ד</span>
<span class="mila" data-lnk="536872960" data-exlnk="0" id="M_17_20_11">מְאֹ֑ד</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_17_20_12">שְׁנֵים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6736">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_17_20_13">עָשָׂ֤ר</span>
<span class="mila" data-lnk="4026543105" data-exlnk="0" id="M_17_20_14">נְשִׂיאִם֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_20_15">יוֹלִ֔יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_16">וּנְתַתִּ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_17">לְג֥וֹי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_18">גָּדֽוֹל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6743">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="1342187777" data-exlnk="0" id="M_17_21_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6745">־</span><span class="mila" data-lnk="2684365057" data-exlnk="0" id="M_17_21_2">בְּרִיתִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_3">אָקִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6749">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_21_5">יִצְחָ֑ק</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_21_6">אֲשֶׁר֩</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_21_7">תֵּלֵ֨ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_8">לְךָ֤</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_21_9">שָׂרָה֙</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_21_10">לַמּוֹעֵ֣ד</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_21_11">הַזֶּ֔ה</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_21_12">בַּשָּׁנָ֖ה</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_17_21_13">הָאַחֶֽרֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6759">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_22_1">וַיְכַ֖ל</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_17_22_2">לְדַבֵּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_3">אִתּ֑וֹ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_17_22_4">וַיַּ֣עַל</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_17_22_5">אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_22_6">מֵעַ֖ל</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_22_7">אַבְרָהָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6767">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_23" data-pasuk-now="29"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_1">וַיִּקַּ֨ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_2">אַבְרָהָ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6771">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_4">יִשְׁמָעֵ֣אל</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_23_5">בְּנ֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_6">וְאֵ֨ת</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_23_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6776">־</span><span class="mila" data-lnk="260" data-exlnk="0" id="M_17_23_8">יְלִידֵ֤י</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_23_9">בֵיתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_10">וְאֵת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6781">־</span><span class="mila" data-lnk="1284" data-exlnk="0" id="M_17_23_12">מִקְנַ֣ת</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_17_23_13">כַּסְפּ֔וֹ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6785">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_15">זָכָ֕ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_16">בְּאַנְשֵׁ֖י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_17">בֵּ֣ית</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_18">אַבְרָהָ֑ם</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_23_19">וַיָּ֜מָל</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_20">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6792">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_21">בְּשַׂ֣ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_23_22">עָרְלָתָ֗ם</span>
<span class="mila" data-lnk="325" data-exlnk="0" id="M_17_23_23">בְּעֶ֙צֶם֙</span>
<span class="mila" data-lnk="325" data-exlnk="0" id="M_17_23_24">הַיּ֣וֹם</span>
<span class="mila" data-lnk="325" data-exlnk="0" id="M_17_23_25">הַזֶּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_26">כַּאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_27">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_28">אִתּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_29">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6802">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[מפטיר]</span>
<span id="PS_17_24" data-pasuk-now="8"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_17_24_1">וְאַ֨בְרָהָ֔ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_17_24_2">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6805">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_17_24_3">תִּשְׁעִ֥ים</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_17_24_4">וָתֵ֖שַׁע</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_17_24_5">שָׁנָ֑ה</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_24_6">בְּהִמֹּל֖וֹ</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_24_7">בְּשַׂ֥ר</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_17_24_8">עָרְלָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6812">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_25" data-pasuk-now="10"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_25_1">וְיִשְׁמָעֵ֣אל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_2">בְּנ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6816">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_4">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_5">עֶשְׂרֵ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_6">שָׁנָ֑ה</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_25_7">בְּהִ֨מֹּל֔וֹ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_25_8">אֵ֖ת</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_25_9">בְּשַׂ֥ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_25_10">עָרְלָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6824">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_26_1">בְּעֶ֙צֶם֙</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_26_2">הַיּ֣וֹם</span>
<span class="mila" data-lnk="385" data-exlnk="0" id="M_17_26_3">הַזֶּ֔ה</span>
<span class="mila" data-lnk="389" data-exlnk="0" id="M_17_26_4">נִמּ֖וֹל</span>
<span class="mila" data-lnk="389" data-exlnk="0" id="M_17_26_5">אַבְרָהָ֑ם</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_17_26_6">וְיִשְׁמָעֵ֖אל</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_17_26_7">בְּנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6832">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_27" data-pasuk-now="12"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="805308672" data-exlnk="0" id="M_17_27_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6834">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_17_27_2">אַנְשֵׁ֤י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_17_27_3">בֵיתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_4">יְלִ֣יד</span>
<span class="mila" data-lnk="805308672" data-exlnk="0" id="M_17_27_5">בָּ֔יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_6">וּמִקְנַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6840">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_7">כֶּ֖סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_8">מֵאֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6844">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_10">נֵכָ֑ר</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_27_11">נִמֹּ֖לוּ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_17_27_12">אִתּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6849">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6850"> פ </span>
</span>
<br /></p>