<p id="PR_36" data-perek-now="487" data-perek-nops="43"><span class="perek-header">פרק לו</span>
<br /><span id="PS_36_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_36_1_1">וְאֵ֛לֶּה</span>
<span class="mila" data-lnk="805309504" data-exlnk="0" id="M_36_1_2">תֹּלְד֥וֹת</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_36_1_3">עֵשָׂ֖ו</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_36_1_4">ה֥וּא</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_36_1_5">אֱדֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17172">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_2" data-pasuk-now="18"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221233922" data-exlnk="0" id="M_36_2_1">עֵשָׂ֛ו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_36_2_2">לָקַ֥ח</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_36_2_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17176">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_36_2_4">נָשָׁ֖יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_36_2_5">מִבְּנ֣וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_36_2_6">כְּנָ֑עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17181">־</span><span class="mila" data-lnk="1159" data-exlnk="0" id="M_36_2_8">עָדָ֗ה</span>
<span class="mila" data-lnk="1155" data-exlnk="0" id="M_36_2_9">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17184">־</span><span class="mila" data-lnk="3221234819" data-exlnk="0" id="M_36_2_10">אֵילוֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_11">הַחִתִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17188">־</span><span class="mila" data-lnk="1155" data-exlnk="0" id="M_36_2_13">אָהֳלִֽיבָמָה֙</span>
<span class="mila" data-lnk="1027" data-exlnk="0" id="M_36_2_14">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17191">־</span><span class="mila" data-lnk="1155" data-exlnk="0" id="M_36_2_15">עֲנָ֔ה</span>
<span class="mila" data-lnk="1027" data-exlnk="0" id="M_36_2_16">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17194">־</span><span class="mila" data-lnk="1283" data-exlnk="0" id="M_36_2_17">צִבְע֖וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_36_2_18">הַחִוִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17197">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17199">־</span><span class="mila" data-lnk="1413" data-exlnk="0" id="M_36_3_2">בָּשְׂמַ֥ת</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_36_3_3">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17202">־</span><span class="mila" data-lnk="1153" data-exlnk="0" id="M_36_3_4">יִשְׁמָעֵ֖אל</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_36_3_5">אֲח֥וֹת</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_36_3_6">נְבָיֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17206">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_1">וַתֵּ֧לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_2">עָדָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_3">לְעֵשָׂ֖ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17211">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_5">אֱלִיפָ֑ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_6">וּבָ֣שְׂמַ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_7">יָלְדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17216">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_9">רְעוּאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17218">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_5_1">וְאָהֳלִֽיבָמָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_5_2">יָֽלְדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17222">־</span><span data-lnk="0" data-exlnk="0" id="M_36_5_4" class="mila ktiv">יְע֥יּשׁ</span>
<span data-lnk="4026546176" data-exlnk="0" id="M_36_5_4_K" class="mila kri">יְע֥וּשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17226">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_6">יַעְלָ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_5_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17229">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_36_5_8">קֹ֑רַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_9">אֵ֚לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_10">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_11">עֵשָׂ֔ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_36_5_13">יֻלְּדוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17236">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_14">ל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_15">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_16">כְּנָֽעַן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17240">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_6" data-pasuk-now="30"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_36_6_1">וַיִּקַּ֣ח</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_6_2">עֵשָׂ֡ו</span>
<span class="mila" data-lnk="805308800" data-exlnk="0" id="M_36_6_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17244">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_36_6_4">נָ֠שָׁיו</span>
<span class="mila" data-lnk="268437632" data-exlnk="0" id="M_36_6_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17247">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_36_6_6">בָּנָ֣יו</span>
<span class="mila" data-lnk="268437632" data-exlnk="0" id="M_36_6_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17250">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_36_6_8">בְּנֹתָיו֘</span>
<span class="mila" data-lnk="268437504" data-exlnk="0" id="M_36_6_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17253">־</span><span class="mila" data-lnk="384" data-exlnk="0" id="M_36_6_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17255">־</span><span class="mila" data-lnk="3221233792" data-exlnk="0" id="M_36_6_11">נַפְשׁ֣וֹת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_6_12">בֵּיתוֹ֒</span>
<span class="mila" data-lnk="268437504" data-exlnk="0" id="M_36_6_13">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17259">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_14">מִקְנֵ֣הוּ</span>
<span class="mila" data-lnk="268437504" data-exlnk="0" id="M_36_6_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17262">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_36_6_16">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17264">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_17">בְּהֶמְתּ֗וֹ</span>
<span class="mila" data-lnk="268437504" data-exlnk="0" id="M_36_6_18">וְאֵת֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_6_19">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17268">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_20">קִנְיָנ֔וֹ</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_36_6_21">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_22">רָכַ֖שׁ</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_36_6_23">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_24">כְּנָ֑עַן</span>
<span class="mila" data-lnk="961" data-exlnk="0" id="M_36_6_25">וַיֵּ֣לֶךְ</span>
<span class="mila" data-lnk="805309377" data-exlnk="0" id="M_36_6_26">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17276">־</span><span class="mila" data-lnk="961" data-exlnk="0" id="M_36_6_27">אֶ֔רֶץ</span>
<span class="mila" data-lnk="322" data-exlnk="0" id="M_36_6_28">מִפְּנֵ֖י</span>
<span class="mila" data-lnk="322" data-exlnk="0" id="M_36_6_29">יַעֲקֹ֥ב</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_36_6_30">אָחִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17281">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_7" data-pasuk-now="14"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_7_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17283">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_36_7_2">הָיָ֧ה</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_7_3">רְכוּשָׁ֛ם</span>
<span class="mila" data-lnk="4026546433" data-exlnk="0" id="M_36_7_4">רָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_7_5">מִשֶּׁ֣בֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_7_6">יַחְדָּ֑ו</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_36_7_7">וְלֹ֨א</span>
<span class="mila" data-lnk="193" data-exlnk="0" id="M_36_7_8">יָכְלָ֜ה</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_36_7_9">אֶ֤רֶץ</span>
<span class="mila" data-lnk="805308545" data-exlnk="0" id="M_36_7_10">מְגֽוּרֵיהֶם֙</span>
<span class="mila" data-lnk="4026542144" data-exlnk="0" id="M_36_7_11">לָשֵׂ֣את</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_36_7_12">אֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_7_13">מִפְּנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_7_14">מִקְנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17297">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_8" data-pasuk-now="7"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_1">וַיֵּ֤שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_2">עֵשָׂו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_3">בְּהַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_4">שֵׂעִ֔יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_5">עֵשָׂ֖ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_6">ה֥וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_7">אֱדֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17305">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_36_9_1">וְאֵ֛לֶּה</span>
<span class="mila" data-lnk="4026542467" data-exlnk="0" id="M_36_9_2">תֹּלְד֥וֹת</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_36_9_3">עֵשָׂ֖ו</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_9_4">אֲבִ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_9_5">אֱד֑וֹם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_9_6">בְּהַ֖ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_9_7">שֵׂעִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17313">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1342191876" data-exlnk="0" id="M_36_10_1">אֵ֖לֶּה</span>
<span class="mila" data-lnk="3758110980" data-exlnk="0" id="M_36_10_2">שְׁמ֣וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_10_3">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17317">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_36_10_4">עֵשָׂ֑ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_5">אֱלִיפַ֗ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17321">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_7">עָדָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_8">אֵ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_9">עֵשָׂ֔ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_10">רְעוּאֵ֕ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_11">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17327">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_12">בָּשְׂמַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_13">אֵ֥שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_14">עֵשָֽׂו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17331">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_1">וַיִּהְי֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_3">אֱלִיפָ֑ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_4">תֵּימָ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_5">אוֹמָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_6">צְפ֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_7">וְגַעְתָּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_8">וּקְנַֽז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17340">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_12" data-pasuk-now="15"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221235139" data-exlnk="0" id="M_36_12_1">וְתִמְנַ֣ע׀</span>
<span class="mila" data-lnk="195" data-exlnk="0" id="M_36_12_2">הָיְתָ֣ה</span>
<span class="mila" data-lnk="1219" data-exlnk="0" id="M_36_12_3">פִילֶ֗גֶשׁ</span>
<span class="mila" data-lnk="1216" data-exlnk="0" id="M_36_12_4">לֶֽאֱלִיפַז֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_5">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17346">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_6">עֵשָׂ֔ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_7">וַתֵּ֥לֶד</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_12_8">לֶאֱלִיפַ֖ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17351">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_36_12_10">עֲמָלֵ֑ק</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_12_11">אֵ֕לֶּה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_12_12">בְּנֵ֥י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_12_13">עָדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_14">אֵ֥שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_15">עֵשָֽׂו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17358">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_13" data-pasuk-now="13"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1879058432" data-exlnk="0" id="M_36_13_1">וְאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="2684364800" data-exlnk="0" id="M_36_13_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_3">רְעוּאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_4">נַ֥חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_5">וָזֶ֖רַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_6">שַׁמָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_7">וּמִזָּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_8">אֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_9">הָי֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_10">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_11">בָשְׂמַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_12">אֵ֥שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_13">עֵשָֽׂו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17372">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_14" data-pasuk-now="18"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026546176" data-exlnk="0" id="M_36_14_1">וְאֵ֣לֶּה</span>
<span class="mila" data-lnk="2684368896" data-exlnk="0" id="M_36_14_2">הָי֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_3">בְּנֵ֨י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_14_4">אָהֳלִיבָמָ֧ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_14_5">בַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17378">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_36_14_6">עֲנָ֛ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_14_7">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17381">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_36_14_8">צִבְע֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_9">אֵ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_10">עֵשָׂ֑ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_11">וַתֵּ֣לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_12">לְעֵשָׂ֔ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17388">־</span><span data-lnk="0" data-exlnk="0" id="M_36_14_14" class="mila ktiv">יְע֥יּשׁ</span>
<span data-lnk="4026542080" data-exlnk="0" id="M_36_14_14_K" class="mila kri">יְע֥וּשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17392">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_16">יַעְלָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17395">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_36_14_18">קֹֽרַח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17397">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_15" data-pasuk-now="16"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_15_1">אֵ֖לֶּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_15_2">אַלּוּפֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_15_3">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17401">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_36_15_4">עֵשָׂ֑ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_5">בְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_6">אֱלִיפַז֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_7">בְּכ֣וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_8">עֵשָׂ֔ו</span>
<span class="mila" data-lnk="580" data-exlnk="0" id="M_36_15_9">אַלּ֤וּף</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_36_15_10">תֵּימָן֙</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_36_15_11">אַלּ֣וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_12">אוֹמָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_13">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_14">צְפ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_15">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_16">קְנַֽז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17415">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_16" data-pasuk-now="14"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_36_16_1">אַלּֽוּף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17417">־</span><span class="mila" data-lnk="320" data-exlnk="0" id="M_36_16_2">קֹ֛רַח</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_36_16_3">אַלּ֥וּף</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_36_16_4">גַּעְתָּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_5">אַלּ֣וּף</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_16_6">עֲמָלֵ֑ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_7">אֵ֣לֶּה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_36_16_8">אַלּוּפֵ֤י</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_36_16_9">אֱלִיפַז֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_16_10">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_16_11">אֱד֔וֹם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_16_12">אֵ֖לֶּה</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_16_13">בְּנֵ֥י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_16_14">עָדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17431">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_17" data-pasuk-now="23"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026546176" data-exlnk="0" id="M_36_17_1">וְאֵ֗לֶּה</span>
<span class="mila" data-lnk="536872960" data-exlnk="0" id="M_36_17_2">בְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_3">רְעוּאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_4">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17436">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_5">עֵשָׂ֔ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_6">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_7">נַ֙חַת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_8">אַלּ֣וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_9">זֶ֔רַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_10">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_11">שַׁמָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_12">אַלּ֣וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_13">מִזָּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_14">אֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_15">אַלּוּפֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_16">רְעוּאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_17">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_18">אֱד֔וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_19">אֵ֕לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_20">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_21">בָשְׂמַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_22">אֵ֥שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_23">עֵשָֽׂו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17456">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_18" data-pasuk-now="18"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="1879058432" data-exlnk="0" id="M_36_18_1">וְאֵ֗לֶּה</span>
<span class="mila" data-lnk="2684364800" data-exlnk="0" id="M_36_18_2">בְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_3">אָהֳלִֽיבָמָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_4">אֵ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_5">עֵשָׂ֔ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_6">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_7">יְע֛וּשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_8">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_9">יַעְלָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_10">אַלּ֣וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_11">קֹ֑רַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_12">אֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_13">אַלּוּפֵ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_14">אָהֳלִיבָמָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_15">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17472">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_16">עֲנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_17">אֵ֥שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_18">עֵשָֽׂו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17476">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_19" data-pasuk-now="7"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_19_1">אֵ֧לֶּה</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_19_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17479">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_36_19_3">עֵשָׂ֛ו</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_19_4">וְאֵ֥לֶּה</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_19_5">אַלּוּפֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_6">ה֥וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_7">אֱדֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17486">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="17487">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שביעי]</span>
<span id="PS_36_20" data-pasuk-now="10"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_36_20_1">אֵ֤לֶּה</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_36_20_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17490">־</span><span class="mila" data-lnk="388" data-exlnk="0" id="M_36_20_3">שֵׂעִיר֙</span>
<span class="mila" data-lnk="900" data-exlnk="0" id="M_36_20_4">הַחֹרִ֔י</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_36_20_5">יֹשְׁבֵ֖י</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_36_20_6">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_7">לוֹטָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_8">וְשׁוֹבָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_9">וְצִבְע֥וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_10">וַעֲנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17499">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_21" data-pasuk-now="10"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026542144" data-exlnk="0" id="M_36_21_1">וְדִשׁ֥וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_2">וְאֵ֖צֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_3">וְדִישָׁ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_4">אֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_5">אַלּוּפֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_6">הַחֹרִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_7">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_8">שֵׂעִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_9">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_10">אֱדֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17510">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_22" data-pasuk-now="8"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_1">וַיִּהְי֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17513">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_3">לוֹטָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_4">חֹרִ֣י</span>
<span class="mila" data-lnk="3221233664" data-exlnk="0" id="M_36_22_5">וְהֵימָ֑ם</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_36_22_6">וַאֲח֥וֹת</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_36_22_7">לוֹטָ֖ן</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_36_22_8">תִּמְנָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17520">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="1879058432" data-exlnk="0" id="M_36_23_1">וְאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="2684364800" data-exlnk="0" id="M_36_23_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_3">שׁוֹבָ֔ל</span>
<span class="mila" data-lnk="3221233664" data-exlnk="0" id="M_36_23_4">עַלְוָ֥ן</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_36_23_5">וּמָנַ֖חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_6">וְעֵיבָ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_7">שְׁפ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_8">וְאוֹנָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17529">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_24" data-pasuk-now="17"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="805308544" data-exlnk="0" id="M_36_24_1">וְאֵ֥לֶּה</span>
<span class="mila" data-lnk="536873152" data-exlnk="0" id="M_36_24_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17532">־</span><span class="mila" data-lnk="448" data-exlnk="0" id="M_36_24_3">צִבְע֖וֹן</span>
<span class="mila" data-lnk="1073750983" data-exlnk="0" id="M_36_24_4">וְאַיָּ֣ה</span>
<span class="mila" data-lnk="2147492295" data-exlnk="0" id="M_36_24_5">וַעֲנָ֑ה</span>
<span class="mila" data-lnk="323" data-exlnk="0" id="M_36_24_6">ה֣וּא</span>
<span class="mila" data-lnk="451" data-exlnk="0" id="M_36_24_7">עֲנָ֗ה</span>
<span class="mila" data-lnk="450" data-exlnk="0" id="M_36_24_8">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="454" data-exlnk="0" id="M_36_24_9">מָצָ֤א</span>
<span class="mila" data-lnk="451" data-exlnk="0" id="M_36_24_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17541">־</span><span class="mila" data-lnk="4026543047" data-exlnk="0" id="M_36_24_11">הַיֵּמִם֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_24_12">בַּמִּדְבָּ֔ר</span>
<span class="mila" data-lnk="3221234052" data-exlnk="0" id="M_36_24_13">בִּרְעֹת֥וֹ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_36_24_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17546">־</span><span class="mila" data-lnk="388" data-exlnk="0" id="M_36_24_15">הַחֲמֹרִ֖ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_24_16">לְצִבְע֥וֹן</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_24_17">אָבִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17550">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_25" data-pasuk-now="7"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4026542212" data-exlnk="0" id="M_36_25_1">וְאֵ֥לֶּה</span>
<span class="mila" data-lnk="3758106756" data-exlnk="0" id="M_36_25_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17553">־</span><span class="mila" data-lnk="132" data-exlnk="0" id="M_36_25_3">עֲנָ֖ה</span>
<span class="mila" data-lnk="4026542212" data-exlnk="0" id="M_36_25_4">דִּשֹׁ֑ן</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_36_25_5">וְאָהֳלִיבָמָ֖ה</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_36_25_6">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17558">־</span><span class="mila" data-lnk="132" data-exlnk="0" id="M_36_25_7">עֲנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17560">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="805308544" data-exlnk="0" id="M_36_26_1">וְאֵ֖לֶּה</span>
<span class="mila" data-lnk="805308544" data-exlnk="0" id="M_36_26_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_26_3">דִישָׁ֑ן</span>
<span class="mila" data-lnk="3221233792" data-exlnk="0" id="M_36_26_4">חֶמְדָּ֥ן</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_26_5">וְאֶשְׁבָּ֖ן</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_36_26_6">וְיִתְרָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_7">וּכְרָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17568">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_27" data-pasuk-now="6"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_1">אֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_2">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17571">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_3">אֵ֑צֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_4">בִּלְהָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_5">וְזַעֲוָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_6">וַעֲקָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17576">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_28" data-pasuk-now="5"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_1">אֵ֥לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17579">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_3">דִישָׁ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_4">ע֥וּץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_5">וַאֲרָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17583">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_29" data-pasuk-now="11"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_1">אֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_2">אַלּוּפֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_3">הַחֹרִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_4">אַלּ֤וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_5">לוֹטָן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_6">אַלּ֣וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_7">שׁוֹבָ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_8">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_9">צִבְע֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_10">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_11">עֲנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17595">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_30" data-pasuk-now="12"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_1">אַלּ֥וּף</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_36_30_2">דִּשֹׁ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_3">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_4">אֵ֖צֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_5">אַלּ֣וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_6">דִּישָׁ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_7">אֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_8">אַלּוּפֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_9">הַחֹרִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_10">לְאַלֻּפֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_11">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_12">שֵׂעִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17609">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="17610"> פ </span>
</span>
<br /><span id="PS_36_31" data-pasuk-now="11"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="4026542533" data-exlnk="0" id="M_36_31_1">וְאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="453" data-exlnk="0" id="M_36_31_2">הַמְּלָכִ֔ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_31_3">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_31_4">מָלְכ֖וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_31_5">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_36_31_6">אֱד֑וֹם</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_36_31_7">לִפְנֵ֥י</span>
<span class="mila" data-lnk="1879058822" data-exlnk="0" id="M_36_31_8">מְלָךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17619">־</span><span class="mila" data-lnk="2952800646" data-exlnk="0" id="M_36_31_9">מֶ֖לֶךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_31_10">לִבְנֵ֥י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_31_11">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17623">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_32" data-pasuk-now="8"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_1">וַיִּמְלֹ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_2">בֶּאֱד֔וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_32_3">בֶּ֖לַע</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_32_4">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17628">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_36_32_5">בְּע֑וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_6">וְשֵׁ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_7">עִיר֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_8">דִּנְהָֽבָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17633">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_33" data-pasuk-now="8"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_1">וַיָּ֖מָת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_33_2">בָּ֑לַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_3">וַיִּמְלֹ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_4">תַּחְתָּ֔יו</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_36_33_5">יוֹבָ֥ב</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_36_33_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17640">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_36_33_7">זֶ֖רַח</span>
<span class="mila" data-lnk="4026546177" data-exlnk="0" id="M_36_33_8">מִבָּצְרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17643">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_34" data-pasuk-now="7"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_1">וַיָּ֖מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_2">יוֹבָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_3">וַיִּמְלֹ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_4">תַּחְתָּ֔יו</span>
<span class="mila" data-lnk="4026546176" data-exlnk="0" id="M_36_34_5">חֻשָׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_6">מֵאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_7">הַתֵּימָנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17651">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_35" data-pasuk-now="15"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_1">וַיָּ֖מָת</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_36_35_2">חֻשָׁ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_3">וַיִּמְלֹ֨ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_4">תַּחְתָּ֜יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_5">הֲדַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17658">־</span><span class="mila" data-lnk="805308416" data-exlnk="0" id="M_36_35_7">בְּדַ֗ד</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_36_35_8">הַמַּכֶּ֤ה</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_36_35_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17662">־</span><span class="mila" data-lnk="129" data-exlnk="0" id="M_36_35_10">מִדְיָן֙</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_36_35_11">בִּשְׂדֵ֣ה</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_36_35_12">מוֹאָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_13">וְשֵׁ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_14">עִיר֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_15">עֲוִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17669">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_36" data-pasuk-now="6"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_1">וַיָּ֖מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_2">הֲדָ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_3">וַיִּמְלֹ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_4">תַּחְתָּ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_5">שַׂמְלָ֖ה</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_36_36_6">מִמַּשְׂרֵקָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17676">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_37" data-pasuk-now="7"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_1">וַיָּ֖מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_2">שַׂמְלָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_3">וַיִּמְלֹ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_4">תַּחְתָּ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_5">שָׁא֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_6">מֵרְחֹב֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_7">הַנָּהָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17684">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_38" data-pasuk-now="8"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_1">וַיָּ֖מָת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_38_2">שָׁא֑וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_3">וַיִּמְלֹ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_4">תַּחְתָּ֔יו</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_38_5">בַּ֥עַל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_38_6">חָנָ֖ן</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_38_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17692">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_36_38_8">עַכְבּֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17694">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_39" data-pasuk-now="19"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_39_1">וַיָּמָת֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_39_2">בַּ֣עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_39_3">חָנָ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_39_4">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17699">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_39_5">עַכְבּוֹר֒</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_39_6">וַיִּמְלֹ֤ךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_39_7">תַּחְתָּיו֙</span>
<span class="mila" data-lnk="3221233920" data-exlnk="0" id="M_36_39_8">הֲדַ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_39_9">וְשֵׁ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_39_10">עִיר֖וֹ</span>
<span class="mila" data-lnk="3221233664" data-exlnk="0" id="M_36_39_11">פָּ֑עוּ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_39_12">וְשֵׁ֨ם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_36_39_13">אִשְׁתּ֤וֹ</span>
<span class="mila" data-lnk="4026546176" data-exlnk="0" id="M_36_39_14">מְהֵֽיטַבְאֵל֙</span>
<span class="mila" data-lnk="1092" data-exlnk="0" id="M_36_39_15">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17711">־</span><span class="mila" data-lnk="1092" data-exlnk="0" id="M_36_39_16">מַטְרֵ֔ד</span>
<span class="mila" data-lnk="1091" data-exlnk="0" id="M_36_39_17">בַּ֖ת</span>
<span class="mila" data-lnk="1095" data-exlnk="0" id="M_36_39_18">מֵ֥י</span>
<span class="mila" data-lnk="1095" data-exlnk="0" id="M_36_39_19">זָהָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17716">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[מפטיר]</span>
<span id="PS_36_40" data-pasuk-now="13"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="268437959" data-exlnk="0" id="M_36_40_1">וְ֠אֵלֶּה</span>
<span class="mila" data-lnk="536873351" data-exlnk="0" id="M_36_40_2">שְׁמ֞וֹת</span>
<span class="mila" data-lnk="1479" data-exlnk="0" id="M_36_40_3">אַלּוּפֵ֤י</span>
<span class="mila" data-lnk="1415" data-exlnk="0" id="M_36_40_4">עֵשָׂו֙</span>
<span class="mila" data-lnk="1154" data-exlnk="0" id="M_36_40_5">לְמִשְׁפְּחֹתָ֔ם</span>
<span class="mila" data-lnk="4026543298" data-exlnk="0" id="M_36_40_6">לִמְקֹמֹתָ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_40_7">בִּשְׁמֹתָ֑ם</span>
<span class="mila" data-lnk="1092" data-exlnk="0" id="M_36_40_8">אַלּ֥וּף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_40_9">תִּמְנָ֛ע</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_36_40_10">אַלּ֥וּף</span>
<span class="mila" data-lnk="4026542084" data-exlnk="0" id="M_36_40_11">עַֽלְוָ֖ה</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_36_40_12">אַלּ֥וּף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_36_40_13">יְתֵֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17730">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_41" data-pasuk-now="6"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_36_41_1">אַלּ֧וּף</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_36_41_2">אָהֳלִיבָמָ֛ה</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_36_41_3">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_41_4">אֵלָ֖ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_36_41_5">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_41_6">פִּינֹֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17737">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_42" data-pasuk-now="6"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_36_42_1">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_42_2">קְנַ֛ז</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_36_42_3">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_42_4">תֵּימָ֖ן</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_36_42_5">אַלּ֥וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_42_6">מִבְצָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17744">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_43" data-pasuk-now="14"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_36_43_1">אַלּ֥וּף</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_36_43_2">מַגְדִּיאֵ֖ל</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_36_43_3">אַלּ֣וּף</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_43_4">עִירָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_43_5">אֵ֣לֶּה׀</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_36_43_6">אַלּוּפֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_43_7">אֱד֗וֹם</span>
<span class="mila" data-lnk="3221234692" data-exlnk="0" id="M_36_43_8">לְמֹֽשְׁבֹתָם֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_36_43_9">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_36_43_10">אֲחֻזָּתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_43_11">ה֥וּא</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_36_43_12">עֵשָׂ֖ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_43_13">אֲבִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_43_14">אֱדֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17760">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="17761"> פ </span>
</span>
<br /></p>