<p id="PR_48" data-perek-now="350" data-perek-nops="22"><span class="perek-header">פרק מח</span>
<br /><span id="PS_48_1" data-pasuk-now="18"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="3489675520" data-exlnk="0" id="M_48_1_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="1342191872" data-exlnk="0" id="M_48_1_2">אַֽחֲרֵי֙</span>
<span class="mila" data-lnk="2952804352" data-exlnk="0" id="M_48_1_3">הַדְּבָרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_1_4">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_48_1_5">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_48_1_6">לְיוֹסֵ֔ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_1_7">הִנֵּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_1_8">אָבִ֖יךָ</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_48_1_9">חֹלֶ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_1_10">וַיִּקַּ֞ח</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_48_1_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24000">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_48_1_12">שְׁנֵ֤י</span>
<span class="mila" data-lnk="268437537" data-exlnk="0" id="M_48_1_13">בָנָיו֙</span>
<span class="mila" data-lnk="805308448" data-exlnk="0" id="M_48_1_14">עִמּ֔וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_48_1_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24005">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_48_1_16">מְנַשֶּׁ֖ה</span>
<span class="mila" data-lnk="268437536" data-exlnk="0" id="M_48_1_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24008">־</span><span class="mila" data-lnk="805308448" data-exlnk="0" id="M_48_1_18">אֶפְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24010">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_2" data-pasuk-now="13"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="293" data-exlnk="0" id="M_48_2_1">וַיַּגֵּ֣ד</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_48_2_2">לְיַעֲקֹ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_2_3">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_2_4">הִנֵּ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_2_5">בִּנְךָ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_2_6">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_2_7">בָּ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_2_8">אֵלֶ֑יךָ</span>
<span class="mila" data-lnk="805308449" data-exlnk="0" id="M_48_2_9">וַיִּתְחַזֵּק֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_2_10">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_2_11">וַיֵּ֖שֶׁב</span>
<span class="mila" data-lnk="1342191618" data-exlnk="0" id="M_48_2_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24023">־</span><span class="mila" data-lnk="4026546178" data-exlnk="0" id="M_48_2_13">הַמִּטָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24025">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_3_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_2">יַֽעֲקֹב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24029">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_4">יוֹסֵ֔ף</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_48_3_5">אֵ֥ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_48_3_6">שַׁדַּ֛י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_3_7">נִרְאָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24034">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_48_3_8">אֵלַ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_3_9">בְּל֖וּז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_10">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_11">כְּנָ֑עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_12">וַיְבָ֖רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_13">אֹתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24041">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_4" data-pasuk-now="16"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_4_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_2">אֵלַ֗י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_48_4_3">הִנְנִ֤י</span>
<span class="mila" data-lnk="3221233700" data-exlnk="0" id="M_48_4_4">מַפְרְךָ֙</span>
<span class="mila" data-lnk="3221233664" data-exlnk="0" id="M_48_4_5">וְהִרְבִּיתִ֔ךָ</span>
<span class="mila" data-lnk="513" data-exlnk="0" id="M_48_4_6">וּנְתַתִּ֖יךָ</span>
<span class="mila" data-lnk="268438017" data-exlnk="0" id="M_48_4_7">לִקְהַ֣ל</span>
<span class="mila" data-lnk="536873473" data-exlnk="0" id="M_48_4_8">עַמִּ֑ים</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_48_4_9">וְנָ֨תַתִּ֜י</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_48_4_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24052">־</span><span class="mila" data-lnk="96" data-exlnk="0" id="M_48_4_11">הָאָ֧רֶץ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_48_4_12">הַזֹּ֛את</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_48_4_13">לְזַרְעֲךָ֥</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_48_4_14">אַחֲרֶ֖יךָ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_48_4_15">אֲחֻזַּ֥ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_48_4_16">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24059">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_5" data-pasuk-now="19"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_48_5_1">וְעַתָּ֡ה</span>
<span class="mila" data-lnk="291" data-exlnk="0" id="M_48_5_2">שְׁנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24062">־</span><span class="mila" data-lnk="295" data-exlnk="0" id="M_48_5_3">בָנֶיךָ֩</span>
<span class="mila" data-lnk="4026546213" data-exlnk="0" id="M_48_5_4">הַנּוֹלָדִ֨ים</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_48_5_5">לְךָ֜</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_6">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_5_7">מִצְרַ֗יִם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_48_5_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24069">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_48_5_9">בֹּאִ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_48_5_10">אֵלֶ֛יךָ</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_48_5_11">מִצְרַ֖יְמָה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_5_12">לִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24074">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_48_5_13">הֵ֑ם</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_48_5_14">אֶפְרַ֙יִם֙</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_48_5_15">וּמְנַשֶּׁ֔ה</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_48_5_16">כִּרְאוּבֵ֥ן</span>
<span class="mila" data-lnk="4026542694" data-exlnk="0" id="M_48_5_17">וְשִׁמְע֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_18">יִֽהְיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24081">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_48_5_19">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24083">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="967" data-exlnk="0" id="M_48_6_1">וּמוֹלַדְתְּךָ֛</span>
<span class="mila" data-lnk="896" data-exlnk="0" id="M_48_6_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24086">־</span><span class="mila" data-lnk="896" data-exlnk="0" id="M_48_6_3">הוֹלַ֥דְתָּ</span>
<span class="mila" data-lnk="646" data-exlnk="0" id="M_48_6_4">אַחֲרֵיהֶ֖ם</span>
<span class="mila" data-lnk="518" data-exlnk="0" id="M_48_6_5">לְךָ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_6_6">יִהְי֑וּ</span>
<span class="mila" data-lnk="550" data-exlnk="0" id="M_48_6_7">עַ֣ל</span>
<span class="mila" data-lnk="550" data-exlnk="0" id="M_48_6_8">שֵׁ֧ם</span>
<span class="mila" data-lnk="550" data-exlnk="0" id="M_48_6_9">אֲחֵיהֶ֛ם</span>
<span class="mila" data-lnk="4026542598" data-exlnk="0" id="M_48_6_10">יִקָּרְא֖וּ</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_48_6_11">בְּנַחֲלָתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24096">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_7" data-pasuk-now="21"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805308775" data-exlnk="0" id="M_48_7_1">וַאֲנִ֣י׀</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_48_7_2">בְּבֹאִ֣י</span>
<span class="mila" data-lnk="3221233767" data-exlnk="0" id="M_48_7_3">מִפַּדָּ֗ן</span>
<span class="mila" data-lnk="903" data-exlnk="0" id="M_48_7_4">מֵ֩תָה֩</span>
<span class="mila" data-lnk="896" data-exlnk="0" id="M_48_7_5">עָלַ֨י</span>
<span class="mila" data-lnk="710" data-exlnk="0" id="M_48_7_6">רָחֵ֜ל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_7_7">בְּאֶ֤רֶץ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_7_8">כְּנַ֙עַן֙</span>
<span class="mila" data-lnk="448" data-exlnk="0" id="M_48_7_9">בַּדֶּ֔רֶךְ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_48_7_10">בְּע֥וֹד</span>
<span class="mila" data-lnk="4026542113" data-exlnk="0" id="M_48_7_11">כִּבְרַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24108">־</span><span class="mila" data-lnk="536872993" data-exlnk="0" id="M_48_7_12">אֶ֖רֶץ</span>
<span class="mila" data-lnk="4026546208" data-exlnk="0" id="M_48_7_13">לָבֹ֣א</span>
<span class="mila" data-lnk="805308448" data-exlnk="0" id="M_48_7_14">אֶפְרָ֑תָה</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_48_7_15">וָאֶקְבְּרֶ֤הָ</span>
<span class="mila" data-lnk="641" data-exlnk="0" id="M_48_7_16">שָּׁם֙</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_48_7_17">בְּדֶ֣רֶךְ</span>
<span class="mila" data-lnk="4026542081" data-exlnk="0" id="M_48_7_18">אֶפְרָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_19">הִ֖וא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_20">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_21">לָֽחֶם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24119">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="295" data-exlnk="0" id="M_48_8_1">וַיַּ֥רְא</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_48_8_2">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_48_8_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24123">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_48_8_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_48_8_5">יוֹסֵ֑ף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_8_6">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="801" data-exlnk="0" id="M_48_8_7">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24128">־</span><span class="mila" data-lnk="801" data-exlnk="0" id="M_48_8_8">אֵֽלֶּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24130">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_9" data-pasuk-now="16"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_9_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_9_2">יוֹסֵף֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_9_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24134">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_9_4">אָבִ֔יו</span>
<span class="mila" data-lnk="512" data-exlnk="0" id="M_48_9_5">בָּנַ֣י</span>
<span class="mila" data-lnk="512" data-exlnk="0" id="M_48_9_6">הֵ֔ם</span>
<span class="mila" data-lnk="640" data-exlnk="0" id="M_48_9_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24139">־</span><span class="mila" data-lnk="640" data-exlnk="0" id="M_48_9_8">נָֽתַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24141">־</span><span class="mila" data-lnk="268438144" data-exlnk="0" id="M_48_9_9">לִ֥י</span>
<span class="mila" data-lnk="805309056" data-exlnk="0" id="M_48_9_10">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="675" data-exlnk="0" id="M_48_9_11">בָּזֶ֑ה</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_48_9_12">וַיֹּאמַ֕ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_48_9_13">קָֽחֶם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24147">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_48_9_14">נָ֥א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_48_9_15">אֵלַ֖י</span>
<span class="mila" data-lnk="3221233665" data-exlnk="0" id="M_48_9_16">וַאֲבָרֲכֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24151">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שני]</span>
<span id="PS_48_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026542336" data-exlnk="0" id="M_48_10_1">וְעֵינֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_10_2">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_10_3">כָּבְד֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_10_4">מִזֹּ֔קֶן</span>
<span class="mila" data-lnk="268438116" data-exlnk="0" id="M_48_10_5">לֹ֥א</span>
<span class="mila" data-lnk="268438116" data-exlnk="0" id="M_48_10_6">יוּכַ֖ל</span>
<span class="mila" data-lnk="805309028" data-exlnk="0" id="M_48_10_7">לִרְא֑וֹת</span>
<span class="mila" data-lnk="4026546240" data-exlnk="0" id="M_48_10_8">וַיַּגֵּ֤שׁ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_48_10_9">אֹתָם֙</span>
<span class="mila" data-lnk="576" data-exlnk="0" id="M_48_10_10">אֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_10_11">וַיִּשַּׁ֥ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_10_12">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_10_13">וַיְחַבֵּ֥ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_10_14">לָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24166">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_11_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_2">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24170">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_4">יוֹסֵ֔ף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_11_5">רְאֹ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_6">פָנֶ֖יךָ</span>
<span class="mila" data-lnk="515" data-exlnk="0" id="M_48_11_7">לֹ֣א</span>
<span class="mila" data-lnk="3221234439" data-exlnk="0" id="M_48_11_8">פִלָּ֑לְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_9">וְהִנֵּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_10">הֶרְאָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_11">אֹתִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_12">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_13">גַּ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24182">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_15">זַרְעֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24184">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026542405" data-exlnk="0" id="M_48_12_1">וַיּוֹצֵ֥א</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_48_12_2">יוֹסֵ֛ף</span>
<span class="mila" data-lnk="325" data-exlnk="0" id="M_48_12_3">אֹתָ֖ם</span>
<span class="mila" data-lnk="325" data-exlnk="0" id="M_48_12_4">מֵעִ֣ם</span>
<span class="mila" data-lnk="325" data-exlnk="0" id="M_48_12_5">בִּרְכָּ֑יו</span>
<span class="mila" data-lnk="1342187841" data-exlnk="0" id="M_48_12_6">וַיִּשְׁתַּ֥חוּ</span>
<span class="mila" data-lnk="2684364801" data-exlnk="0" id="M_48_12_7">לְאַפָּ֖יו</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_48_12_8">אָֽרְצָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24193">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_48_13_1">וַיִּקַּ֣ח</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_13_2">יוֹסֵף֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24197">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_4">שְׁנֵיהֶם֒</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_48_13_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24200">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_48_13_6">אֶפְרַ֤יִם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_48_13_7">בִּֽימִינוֹ֙</span>
<span class="mila" data-lnk="805308673" data-exlnk="0" id="M_48_13_8">מִשְּׂמֹ֣אל</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_48_13_9">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="3489671168" data-exlnk="0" id="M_48_13_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24206">־</span><span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_48_13_11">מְנַשֶּׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_12">בִשְׂמֹאל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_13">מִימִ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_14">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_48_13_15">וַיַּגֵּ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_16">אֵלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24213">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_14" data-pasuk-now="21"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_14_1">וַיִּשְׁלַח֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_14_2">יִשְׂרָאֵ֨ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_14_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24217">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_48_14_4">יְמִינ֜וֹ</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_48_14_5">וַיָּ֨שֶׁת</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_48_14_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24221">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_48_14_7">רֹ֤אשׁ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_48_14_8">אֶפְרַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_14_9">וְה֣וּא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_14_10">הַצָּעִ֔יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_14_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24227">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_48_14_12">שְׂמֹאל֖וֹ</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_48_14_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24230">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_48_14_14">רֹ֣אשׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_14_15">מְנַשֶּׁ֑ה</span>
<span class="mila" data-lnk="3221234279" data-exlnk="0" id="M_48_14_16">שִׂכֵּל֙</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_48_14_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24235">־</span><span class="mila" data-lnk="871" data-exlnk="0" id="M_48_14_18">יָדָ֔יו</span>
<span class="mila" data-lnk="839" data-exlnk="0" id="M_48_14_19">כִּ֥י</span>
<span class="mila" data-lnk="839" data-exlnk="0" id="M_48_14_20">מְנַשֶּׁ֖ה</span>
<span class="mila" data-lnk="4026542919" data-exlnk="0" id="M_48_14_21">הַבְּכֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24240">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_15" data-pasuk-now="18"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_48_15_1">וַיְבָ֥רֶךְ</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_48_15_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24243">־</span><span class="mila" data-lnk="386" data-exlnk="0" id="M_48_15_3">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="805308544" data-exlnk="0" id="M_48_15_4">וַיֹּאמַ֑ר</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_48_15_5">הָאֱלֹהִ֡ים</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_48_15_6">אֲשֶׁר֩</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_48_15_7">הִתְהַלְּכ֨וּ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_48_15_8">אֲבֹתַ֤י</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_48_15_9">לְפָנָיו֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_15_10">אַבְרָהָ֣ם</span>
<span class="mila" data-lnk="4026542208" data-exlnk="0" id="M_48_15_11">וְיִצְחָ֔ק</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_15_12">הָֽאֱלֹהִים֙</span>
<span class="mila" data-lnk="640" data-exlnk="0" id="M_48_15_13">הָרֹעֶ֣ה</span>
<span class="mila" data-lnk="640" data-exlnk="0" id="M_48_15_14">אֹתִ֔י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_15_15">מֵעוֹדִ֖י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_15_16">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24258">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_48_15_17">הַיּ֥וֹם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_15_18">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24261">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_16" data-pasuk-now="19"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026542885" data-exlnk="0" id="M_48_16_1">הַמַּלְאָךְ֩</span>
<span class="mila" data-lnk="805" data-exlnk="0" id="M_48_16_2">הַגֹּאֵ֨ל</span>
<span class="mila" data-lnk="805" data-exlnk="0" id="M_48_16_3">אֹתִ֜י</span>
<span class="mila" data-lnk="768" data-exlnk="0" id="M_48_16_4">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24266">־</span><span class="mila" data-lnk="768" data-exlnk="0" id="M_48_16_5">רָ֗ע</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_48_16_6">יְבָרֵךְ֘</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_48_16_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24270">־</span><span class="mila" data-lnk="257" data-exlnk="0" id="M_48_16_8">הַנְּעָרִים֒</span>
<span class="mila" data-lnk="4026542534" data-exlnk="0" id="M_48_16_9">וְיִקָּרֵ֤א</span>
<span class="mila" data-lnk="454" data-exlnk="0" id="M_48_16_10">בָהֶם֙</span>
<span class="mila" data-lnk="454" data-exlnk="0" id="M_48_16_11">שְׁמִ֔י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_16_12">וְשֵׁ֥ם</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_48_16_13">אֲבֹתַ֖י</span>
<span class="mila" data-lnk="192" data-exlnk="0" id="M_48_16_14">אַבְרָהָ֣ם</span>
<span class="mila" data-lnk="4026542272" data-exlnk="0" id="M_48_16_15">וְיִצְחָ֑ק</span>
<span class="mila" data-lnk="3221234435" data-exlnk="0" id="M_48_16_16">וְיִדְגּ֥וּ</span>
<span class="mila" data-lnk="768" data-exlnk="0" id="M_48_16_17">לָרֹ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_18">בְּקֶ֥רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_19">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24283">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שלישי]</span>
<span id="PS_48_17" data-pasuk-now="23"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_17_1">וַיַּ֣רְא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_2">יוֹסֵ֗ף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_17_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24287">־</span><span class="mila" data-lnk="4026542082" data-exlnk="0" id="M_48_17_4">יָשִׁ֨ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_5">אָבִ֧יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_6">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24291">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_7">יְמִינ֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24294">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_9">רֹ֥אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_10">אֶפְרַ֖יִם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_17_11">וַיֵּ֣רַע</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_17_12">בְּעֵינָ֑יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_17_13">וַיִּתְמֹ֣ךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_17_14">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24301">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_48_17_15">אָבִ֗יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_17_16">לְהָסִ֥יר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_17_17">אֹתָ֛הּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_17_18">מֵעַ֥ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_17_19">רֹאשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24307">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_48_17_20">אֶפְרַ֖יִם</span>
<span class="mila" data-lnk="514" data-exlnk="0" id="M_48_17_21">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24310">־</span><span class="mila" data-lnk="514" data-exlnk="0" id="M_48_17_22">רֹ֥אשׁ</span>
<span class="mila" data-lnk="514" data-exlnk="0" id="M_48_17_23">מְנַשֶּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24313">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_18" data-pasuk-now="14"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_48_18_1">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_18_2">יוֹסֵ֛ף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_18_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24317">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_48_18_4">אָבִ֖יו</span>
<span class="mila" data-lnk="268437570" data-exlnk="0" id="M_48_18_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24320">־</span><span class="mila" data-lnk="805308482" data-exlnk="0" id="M_48_18_6">כֵ֣ן</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_48_18_7">אָבִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24324">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_9">זֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_10">הַבְּכֹ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_11">שִׂ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_12">יְמִינְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24330">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_14">רֹאשֽׁוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24332">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_19" data-pasuk-now="22"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_19_1">וַיְמָאֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_19_2">אָבִ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_19_3">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_48_19_4">יָדַ֤עְתִּֽי</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_48_19_5">בְנִי֙</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_48_19_6">יָדַ֔עְתִּי</span>
<span class="mila" data-lnk="805308417" data-exlnk="0" id="M_48_19_7">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24340">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_48_19_8">ה֥וּא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_19_9">יִֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24343">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_48_19_10">לְּעָ֖ם</span>
<span class="mila" data-lnk="1879062784" data-exlnk="0" id="M_48_19_11">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24346">־</span><span class="mila" data-lnk="3758110976" data-exlnk="0" id="M_48_19_12">ה֣וּא</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_48_19_13">יִגְדָּ֑ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_48_19_14">וְאוּלָ֗ם</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_48_19_15">אָחִ֤יו</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_48_19_16">הַקָּטֹן֙</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_48_19_17">יִגְדַּ֣ל</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_48_19_18">מִמֶּ֔נּוּ</span>
<span class="mila" data-lnk="4026542337" data-exlnk="0" id="M_48_19_19">וְזַרְע֖וֹ</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_48_19_20">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="325" data-exlnk="0" id="M_48_19_21">מְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24357">־</span><span class="mila" data-lnk="325" data-exlnk="0" id="M_48_19_22">הַגּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24359">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_20" data-pasuk-now="17"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_48_20_1">וַיְבָ֨רֲכֵ֜ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_20_2">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_48_20_3">הַהוּא֘</span>
<span class="mila" data-lnk="4026546176" data-exlnk="0" id="M_48_20_4">לֵאמוֹר֒</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_48_20_5">בְּךָ֗</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_48_20_6">יְבָרֵ֤ךְ</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_48_20_7">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_20_8">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="4026542467" data-exlnk="0" id="M_48_20_9">יְשִֽׂמְךָ֣</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_48_20_10">אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_48_20_11">כְּאֶפְרַ֖יִם</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_48_20_12">וְכִמְנַשֶּׁ֑ה</span>
<span class="mila" data-lnk="805309126" data-exlnk="0" id="M_48_20_13">וַיָּ֥שֶׂם</span>
<span class="mila" data-lnk="710" data-exlnk="0" id="M_48_20_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24374">־</span><span class="mila" data-lnk="966" data-exlnk="0" id="M_48_20_15">אֶפְרַ֖יִם</span>
<span class="mila" data-lnk="707" data-exlnk="0" id="M_48_20_16">לִפְנֵ֥י</span>
<span class="mila" data-lnk="963" data-exlnk="0" id="M_48_20_17">מְנַשֶּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24378">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_21" data-pasuk-now="15"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_48_21_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_21_2">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_21_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24382">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_21_4">יוֹסֵ֔ף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_21_5">הִנֵּ֥ה</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_48_21_6">אָנֹכִ֖י</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_48_21_7">מֵ֑ת</span>
<span class="mila" data-lnk="268437504" data-exlnk="0" id="M_48_21_8">וְהָיָ֤ה</span>
<span class="mila" data-lnk="1879062530" data-exlnk="0" id="M_48_21_9">אֱלֹהִים֙</span>
<span class="mila" data-lnk="3758110786" data-exlnk="0" id="M_48_21_10">עִמָּכֶ֔ם</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_48_21_11">וְהֵשִׁ֣יב</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_48_21_12">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_21_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24393">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_48_21_14">אֶ֖רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_48_21_15">אֲבֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24396">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_22" data-pasuk-now="13"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="805308547" data-exlnk="0" id="M_48_22_1">וַאֲנִ֞י</span>
<span class="mila" data-lnk="536873127" data-exlnk="0" id="M_48_22_2">נָתַ֧תִּֽי</span>
<span class="mila" data-lnk="163" data-exlnk="0" id="M_48_22_3">לְךָ֛</span>
<span class="mila" data-lnk="997" data-exlnk="0" id="M_48_22_4">שְׁכֶ֥ם</span>
<span class="mila" data-lnk="805309351" data-exlnk="0" id="M_48_22_5">אַחַ֖ד</span>
<span class="mila" data-lnk="1073750439" data-exlnk="0" id="M_48_22_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24403">־</span><span class="mila" data-lnk="2147492263" data-exlnk="0" id="M_48_22_7">אַחֶ֑יךָ</span>
<span class="mila" data-lnk="807" data-exlnk="0" id="M_48_22_8">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="933" data-exlnk="0" id="M_48_22_9">לָקַ֙חְתִּי֙</span>
<span class="mila" data-lnk="419" data-exlnk="0" id="M_48_22_10">מִיַּ֣ד</span>
<span class="mila" data-lnk="423" data-exlnk="0" id="M_48_22_11">הָאֱמֹרִ֔י</span>
<span class="mila" data-lnk="3221234663" data-exlnk="0" id="M_48_22_12">בְּחַרְבִּ֖י</span>
<span class="mila" data-lnk="3221234663" data-exlnk="0" id="M_48_22_13">וּבְקַשְׁתִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24412">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="24413"> פ </span>
</span>
<br /></p>