<p id="PR_37" data-perek-now="494" data-perek-nops="36"><span class="perek-header">פרק לז</span>
<br /><span class="parasha-header">{פרשת וישב}</span>
<span id="PS_37_1" data-pasuk-now="7"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="451" data-exlnk="0" id="M_37_1_1">וַיֵּ֣שֶׁב</span>
<span class="mila" data-lnk="1479" data-exlnk="0" id="M_37_1_2">יַֽעֲקֹ֔ב</span>
<span class="mila" data-lnk="1472" data-exlnk="0" id="M_37_1_3">בְּאֶ֖רֶץ</span>
<span class="mila" data-lnk="4026543552" data-exlnk="0" id="M_37_1_4">מְגוּרֵ֣י</span>
<span class="mila" data-lnk="1474" data-exlnk="0" id="M_37_1_5">אָבִ֑יו</span>
<span class="mila" data-lnk="1282" data-exlnk="0" id="M_37_1_6">בְּאֶ֖רֶץ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_1_7">כְּנָֽעַן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17769">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_2" data-pasuk-now="30"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1342188487" data-exlnk="0" id="M_37_2_1">אֵ֣לֶּה׀</span>
<span class="mila" data-lnk="2952801223" data-exlnk="0" id="M_37_2_2">תֹּלְד֣וֹת</span>
<span class="mila" data-lnk="1991" data-exlnk="0" id="M_37_2_3">יַעֲקֹ֗ב</span>
<span class="mila" data-lnk="1987" data-exlnk="0" id="M_37_2_4">יוֹסֵ֞ף</span>
<span class="mila" data-lnk="1475" data-exlnk="0" id="M_37_2_5">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17775">־</span><span class="mila" data-lnk="1475" data-exlnk="0" id="M_37_2_6">שְׁבַֽע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17777">־</span><span class="mila" data-lnk="1475" data-exlnk="0" id="M_37_2_7">עֶשְׂרֵ֤ה</span>
<span class="mila" data-lnk="1475" data-exlnk="0" id="M_37_2_8">שָׁנָה֙</span>
<span class="mila" data-lnk="1410" data-exlnk="0" id="M_37_2_9">הָיָ֨ה</span>
<span class="mila" data-lnk="1475" data-exlnk="0" id="M_37_2_10">רֹעֶ֤ה</span>
<span class="mila" data-lnk="1922" data-exlnk="0" id="M_37_2_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17783">־</span><span class="mila" data-lnk="1410" data-exlnk="0" id="M_37_2_12">אֶחָיו֙</span>
<span class="mila" data-lnk="1410" data-exlnk="0" id="M_37_2_13">בַּצֹּ֔אן</span>
<span class="mila" data-lnk="455" data-exlnk="0" id="M_37_2_14">וְה֣וּא</span>
<span class="mila" data-lnk="967" data-exlnk="0" id="M_37_2_15">נַ֗עַר</span>
<span class="mila" data-lnk="711" data-exlnk="0" id="M_37_2_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17789">־</span><span class="mila" data-lnk="199" data-exlnk="0" id="M_37_2_17">בְּנֵ֥י</span>
<span class="mila" data-lnk="711" data-exlnk="0" id="M_37_2_18">בִלְהָ֛ה</span>
<span class="mila" data-lnk="1342183620" data-exlnk="0" id="M_37_2_19">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17793">־</span><span class="mila" data-lnk="4026538182" data-exlnk="0" id="M_37_2_20">בְּנֵ֥י</span>
<span class="mila" data-lnk="198" data-exlnk="0" id="M_37_2_21">זִלְפָּ֖ה</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_37_2_22">נְשֵׁ֣י</span>
<span class="mila" data-lnk="898" data-exlnk="0" id="M_37_2_23">אָבִ֑יו</span>
<span class="mila" data-lnk="805308675" data-exlnk="0" id="M_37_2_24">וַיָּבֵ֥א</span>
<span class="mila" data-lnk="898" data-exlnk="0" id="M_37_2_25">יוֹסֵ֛ף</span>
<span class="mila" data-lnk="963" data-exlnk="0" id="M_37_2_26">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17801">־</span><span class="mila" data-lnk="967" data-exlnk="0" id="M_37_2_27">דִּבָּתָ֥ם</span>
<span class="mila" data-lnk="967" data-exlnk="0" id="M_37_2_28">רָעָ֖ה</span>
<span class="mila" data-lnk="1984" data-exlnk="0" id="M_37_2_29">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17805">־</span><span class="mila" data-lnk="1728" data-exlnk="0" id="M_37_2_30">אֲבִיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17807">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="805309762" data-exlnk="0" id="M_37_3_1">וְיִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="4026543170" data-exlnk="0" id="M_37_3_2">אָהַ֤ב</span>
<span class="mila" data-lnk="1216" data-exlnk="0" id="M_37_3_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17811">־</span><span class="mila" data-lnk="1216" data-exlnk="0" id="M_37_3_4">יוֹסֵף֙</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_3_5">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17814">־</span><span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_3_6">בָּנָ֔יו</span>
<span class="mila" data-lnk="1732" data-exlnk="0" id="M_37_3_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17817">־</span><span class="mila" data-lnk="1991" data-exlnk="0" id="M_37_3_8">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17819">־</span><span class="mila" data-lnk="4026544071" data-exlnk="0" id="M_37_3_9">זְקֻנִ֥ים</span>
<span class="mila" data-lnk="708" data-exlnk="0" id="M_37_3_10">ה֖וּא</span>
<span class="mila" data-lnk="1984" data-exlnk="0" id="M_37_3_11">ל֑וֹ</span>
<span class="mila" data-lnk="1344" data-exlnk="0" id="M_37_3_12">וְעָ֥שָׂה</span>
<span class="mila" data-lnk="1472" data-exlnk="0" id="M_37_3_13">ל֖וֹ</span>
<span class="mila" data-lnk="268438848" data-exlnk="0" id="M_37_3_14">כְּתֹ֥נֶת</span>
<span class="mila" data-lnk="805309767" data-exlnk="0" id="M_37_3_15">פַּסִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17827">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="1344" data-exlnk="0" id="M_37_4_1">וַיִּרְא֣וּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_37_4_2">אֶחָ֗יו</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_4_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17831">־</span><span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_4_4">אֹת֞וֹ</span>
<span class="mila" data-lnk="4026543168" data-exlnk="0" id="M_37_4_5">אָהַ֤ב</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_4_6">אֲבִיהֶם֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_4_7">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17836">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_4_8">אֶחָ֔יו</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_37_4_9">וַֽיִּשְׂנְא֖וּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_37_4_10">אֹת֑וֹ</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_4_11">וְלֹ֥א</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_4_12">יָכְל֖וּ</span>
<span class="mila" data-lnk="3221233733" data-exlnk="0" id="M_37_4_13">דַּבְּר֥וֹ</span>
<span class="mila" data-lnk="805308677" data-exlnk="0" id="M_37_4_14">לְשָׁלֹֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17844">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_37_5_1">וַיַּחֲלֹ֤ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_5_2">יוֹסֵף֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_5_3">חֲל֔וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_5_4">וַיַּגֵּ֖ד</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_5_5">לְאֶחָ֑יו</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_37_5_6">וַיּוֹסִ֥פוּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_5_7">ע֖וֹד</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_5_8">שְׂנֹ֥א</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_5_9">אֹתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17854">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_6_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_37_6_2">אֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_6_3">שִׁמְעוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17858">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_6_4">נָ֕א</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_6_5">הַחֲל֥וֹם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_6_6">הַזֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_6_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_6_8">חָלָֽמְתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17864">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="1342188544" data-exlnk="0" id="M_37_7_1">וְ֠הִנֵּה</span>
<span class="mila" data-lnk="2684364800" data-exlnk="0" id="M_37_7_2">אֲנַ֜חְנוּ</span>
<span class="mila" data-lnk="3221234693" data-exlnk="0" id="M_37_7_3">מְאַלְּמִ֤ים</span>
<span class="mila" data-lnk="3221234693" data-exlnk="0" id="M_37_7_4">אֲלֻמִּים֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_7_5">בְּת֣וֹךְ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_7_6">הַשָּׂדֶ֔ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_7_7">וְהִנֵּ֛ה</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_37_7_8">קָ֥מָה</span>
<span class="mila" data-lnk="3221235073" data-exlnk="0" id="M_37_7_9">אֲלֻמָּתִ֖י</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_37_7_10">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17875">־</span><span class="mila" data-lnk="4026543233" data-exlnk="0" id="M_37_7_11">נִצָּ֑בָה</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_7_12">וְהִנֵּ֤ה</span>
<span class="mila" data-lnk="3221235076" data-exlnk="0" id="M_37_7_13">תְסֻבֶּ֙ינָה֙</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_7_14">אֲלֻמֹּ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="4026543424" data-exlnk="0" id="M_37_7_15">וַתִּֽשְׁתַּחֲוֶ֖יןָ</span>
<span class="mila" data-lnk="1344" data-exlnk="0" id="M_37_7_16">לַאֲלֻמָּתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17882">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_8" data-pasuk-now="18"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_8_1">וַיֹּ֤אמְרוּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_8_2">לוֹ֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_8_3">אֶחָ֔יו</span>
<span class="mila" data-lnk="3221233796" data-exlnk="0" id="M_37_8_4">הֲמָלֹ֤ךְ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_37_8_5">תִּמְלֹךְ֙</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_8_6">עָלֵ֔ינוּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_8_7">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17890">־</span><span class="mila" data-lnk="4026546304" data-exlnk="0" id="M_37_8_8">מָשׁ֥וֹל</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_8_9">תִּמְשֹׁ֖ל</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_8_10">בָּ֑נוּ</span>
<span class="mila" data-lnk="4026543168" data-exlnk="0" id="M_37_8_11">וַיּוֹסִ֤פוּ</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_8_12">עוֹד֙</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_8_13">שְׂנֹ֣א</span>
<span class="mila" data-lnk="1216" data-exlnk="0" id="M_37_8_14">אֹת֔וֹ</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_8_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17899">־</span><span class="mila" data-lnk="805309824" data-exlnk="0" id="M_37_8_16">חֲלֹמֹתָ֖יו</span>
<span class="mila" data-lnk="1411" data-exlnk="0" id="M_37_8_17">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17902">־</span><span class="mila" data-lnk="1411" data-exlnk="0" id="M_37_8_18">דְּבָרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17904">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_9" data-pasuk-now="20"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="1344" data-exlnk="0" id="M_37_9_1">וַיַּחֲלֹ֥ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_9_2">עוֹד֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_9_3">חֲל֣וֹם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_9_4">אַחֵ֔ר</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_9_5">וַיְסַפֵּ֥ר</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_9_6">אֹת֖וֹ</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_9_7">לְאֶחָ֑יו</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_9_8">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_9_9">הִנֵּ֨ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_9_10">חָלַ֤מְתִּֽי</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_9_11">חֲלוֹם֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_9_12">ע֔וֹד</span>
<span class="mila" data-lnk="1073751040" data-exlnk="0" id="M_37_9_13">וְהִנֵּ֧ה</span>
<span class="mila" data-lnk="2147493696" data-exlnk="0" id="M_37_9_14">הַשֶּׁ֣מֶשׁ</span>
<span class="mila" data-lnk="1856" data-exlnk="0" id="M_37_9_15">וְהַיָּרֵ֗חַ</span>
<span class="mila" data-lnk="1879060288" data-exlnk="0" id="M_37_9_16">וְאַחַ֤ד</span>
<span class="mila" data-lnk="3221235520" data-exlnk="0" id="M_37_9_17">עָשָׂר֙</span>
<span class="mila" data-lnk="1856" data-exlnk="0" id="M_37_9_18">כּֽוֹכָבִ֔ים</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_9_19">מִֽשְׁתַּחֲוִ֖ים</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_9_20">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17925">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_10" data-pasuk-now="23"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_37_10_1">וַיְסַפֵּ֣ר</span>
<span class="mila" data-lnk="449" data-exlnk="0" id="M_37_10_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17928">־</span><span class="mila" data-lnk="449" data-exlnk="0" id="M_37_10_3">אָבִיו֘</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_37_10_4">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17931">־</span><span class="mila" data-lnk="65" data-exlnk="0" id="M_37_10_5">אֶחָיו֒</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_37_10_6">וַיִּגְעַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17934">־</span><span class="mila" data-lnk="1217" data-exlnk="0" id="M_37_10_7">בּ֣וֹ</span>
<span class="mila" data-lnk="1217" data-exlnk="0" id="M_37_10_8">אָבִ֔יו</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_37_10_9">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_10">ל֔וֹ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_10_11">מָ֛ה</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_10_12">הַחֲל֥וֹם</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_10_13">הַזֶּ֖ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_10_14">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_10_15">חָלָ֑מְתָּ</span>
<span class="mila" data-lnk="3221233857" data-exlnk="0" id="M_37_10_16">הֲב֣וֹא</span>
<span class="mila" data-lnk="193" data-exlnk="0" id="M_37_10_17">נָב֗וֹא</span>
<span class="mila" data-lnk="453" data-exlnk="0" id="M_37_10_18">אֲנִי֙</span>
<span class="mila" data-lnk="453" data-exlnk="0" id="M_37_10_19">וְאִמְּךָ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_20">וְאַחֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_21">לְהִשְׁתַּחֲוֺ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_22">לְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_23">אָֽרְצָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17952">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_37_11_1">וַיְקַנְאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17954">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_37_11_2">ב֖וֹ</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_11_3">אֶחָ֑יו</span>
<span class="mila" data-lnk="805309506" data-exlnk="0" id="M_37_11_4">וְאָבִ֖יו</span>
<span class="mila" data-lnk="583" data-exlnk="0" id="M_37_11_5">שָׁמַ֥ר</span>
<span class="mila" data-lnk="519" data-exlnk="0" id="M_37_11_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17960">־</span><span class="mila" data-lnk="583" data-exlnk="0" id="M_37_11_7">הַדָּבָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17962">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שני]</span>
<span id="PS_37_12" data-pasuk-now="7"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_12_1">וַיֵּלְכ֖וּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_12_2">אֶחָ֑יו</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_12_3">לִרְע֛וֹת</span>
<span class="mila" data-lnk="4026543361" data-exlnk="0" id="M_37_12_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17967">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_12_5">צֹ֥אן</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_12_6">אֲבִיהֶ֖ם</span>
<span class="mila" data-lnk="1280" data-exlnk="10" id="M_37_12_7">בִּשְׁכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17971">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_13" data-pasuk-now="14"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_13_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_13_2">יִשְׂרָאֵ֜ל</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_13_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17975">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_13_4">יוֹסֵ֗ף</span>
<span class="mila" data-lnk="4026543427" data-exlnk="0" id="M_37_13_5">הֲל֤וֹא</span>
<span class="mila" data-lnk="1347" data-exlnk="0" id="M_37_13_6">אַחֶ֙יךָ֙</span>
<span class="mila" data-lnk="1347" data-exlnk="0" id="M_37_13_7">רֹעִ֣ים</span>
<span class="mila" data-lnk="1347" data-exlnk="10" id="M_37_13_8">בִּשְׁכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_13_9">לְכָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_37_13_10">וְאֶשְׁלָחֲךָ֣</span>
<span class="mila" data-lnk="4026542081" data-exlnk="0" id="M_37_13_11">אֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_37_13_12">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_37_13_13">ל֖וֹ</span>
<span class="mila" data-lnk="805308421" data-exlnk="0" id="M_37_13_14">הִנֵּֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17987">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_14" data-pasuk-now="18"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_14_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_2">ל֗וֹ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_3">לֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17991">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_4">נָ֨א</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_5">רְאֵ֜ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17995">־</span><span class="mila" data-lnk="4026543104" data-exlnk="0" id="M_37_14_7">שְׁל֤וֹם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_8">אַחֶ֙יךָ֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17999">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_10">שְׁל֣וֹם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_11">הַצֹּ֔אן</span>
<span class="mila" data-lnk="4026547200" data-exlnk="0" id="M_37_14_12">וַהֲשִׁבֵ֖נִי</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_14_13">דָּבָ֑ר</span>
<span class="mila" data-lnk="3221234816" data-exlnk="0" id="M_37_14_14">וַיִּשְׁלָחֵ֙הוּ֙</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_37_14_15">מֵעֵ֣מֶק</span>
<span class="mila" data-lnk="1409" data-exlnk="2" id="M_37_14_16">חֶבְר֔וֹן</span>
<span class="mila" data-lnk="1027" data-exlnk="0" id="M_37_14_17">וַיָּבֹ֖א</span>
<span class="mila" data-lnk="4026546179" data-exlnk="10" id="M_37_14_18">שְׁכֶֽמָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18009">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_15" data-pasuk-now="10"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="1415" data-exlnk="0" id="M_37_15_1">וַיִּמְצָאֵ֣הוּ</span>
<span class="mila" data-lnk="1415" data-exlnk="0" id="M_37_15_2">אִ֔ישׁ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_15_3">וְהִנֵּ֥ה</span>
<span class="mila" data-lnk="4026543554" data-exlnk="0" id="M_37_15_4">תֹעֶ֖ה</span>
<span class="mila" data-lnk="1472" data-exlnk="0" id="M_37_15_5">בַּשָּׂדֶ֑ה</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_37_15_6">וַיִּשְׁאָלֵ֧הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_15_7">הָאִ֛ישׁ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_15_8">לֵאמֹ֖ר</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_15_9">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18019">־</span><span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_15_10">תְּבַקֵּֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18021">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_16_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_16_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18024">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_16_3">אַחַ֖י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_16_4">אָנֹכִ֣י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_16_5">מְבַקֵּ֑שׁ</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_16_6">הַגִּֽידָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18029">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_16_7">נָּ֣א</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_16_8">לִ֔י</span>
<span class="mila" data-lnk="805309700" data-exlnk="0" id="M_37_16_9">אֵיפֹ֖ה</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_37_16_10">הֵ֥ם</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_37_16_11">רֹעִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18035">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_17" data-pasuk-now="15"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_17_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_17_2">הָאִישׁ֙</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_37_17_3">נָסְע֣וּ</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_37_17_4">מִזֶּ֔ה</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_17_5">כִּ֤י</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_37_17_6">שָׁמַ֙עְתִּי֙</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_17_7">אֹֽמְרִ֔ים</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_37_17_8">נֵלְכָ֖ה</span>
<span class="mila" data-lnk="3221233797" data-exlnk="0" id="M_37_17_9">דֹּתָ֑יְנָה</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_17_10">וַיֵּ֤לֶךְ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_17_11">יוֹסֵף֙</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_17_12">אַחַ֣ר</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_17_13">אֶחָ֔יו</span>
<span class="mila" data-lnk="4026547328" data-exlnk="0" id="M_37_17_14">וַיִּמְצָאֵ֖ם</span>
<span class="mila" data-lnk="4026543234" data-exlnk="0" id="M_37_17_15">בְּדֹתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18051">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_18" data-pasuk-now="9"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_18_1">וַיִּרְא֥וּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_18_2">אֹת֖וֹ</span>
<span class="mila" data-lnk="805309440" data-exlnk="0" id="M_37_18_3">מֵרָחֹ֑ק</span>
<span class="mila" data-lnk="4026543232" data-exlnk="0" id="M_37_18_4">וּבְטֶ֙רֶם֙</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_18_5">יִקְרַ֣ב</span>
<span class="mila" data-lnk="805309568" data-exlnk="0" id="M_37_18_6">אֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="3221234375" data-exlnk="0" id="M_37_18_7">וַיִּֽתְנַכְּל֥וּ</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_37_18_8">אֹת֖וֹ</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_18_9">לַהֲמִיתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18061">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_19" data-pasuk-now="9"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_37_19_1">וַיֹּאמְר֖וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_19_2">אִ֣ישׁ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_19_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18065">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_37_19_4">אָחִ֑יו</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_19_5">הִנֵּ֗ה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_37_19_6">בַּ֛עַל</span>
<span class="mila" data-lnk="805308480" data-exlnk="0" id="M_37_19_7">הַחֲלֹמ֥וֹת</span>
<span class="mila" data-lnk="4026542146" data-exlnk="0" id="M_37_19_8">הַלָּזֶ֖ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_19_9">בָּֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18072">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_20" data-pasuk-now="14"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_37_20_1">וְעַתָּ֣ה׀</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_20_2">לְכ֣וּ</span>
<span class="mila" data-lnk="3221233667" data-exlnk="0" id="M_37_20_3">וְנַהַרְגֵ֗הוּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_37_20_4">וְנַשְׁלִכֵ֙הוּ֙</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_20_5">בְּאַחַ֣ד</span>
<span class="mila" data-lnk="805309504" data-exlnk="0" id="M_37_20_6">הַבֹּר֔וֹת</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_37_20_7">וְאָמַ֕רְנוּ</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_20_8">חַיָּ֥ה</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_20_9">רָעָ֖ה</span>
<span class="mila" data-lnk="4026543168" data-exlnk="0" id="M_37_20_10">אֲכָלָ֑תְהוּ</span>
<span class="mila" data-lnk="4026538113" data-exlnk="0" id="M_37_20_11">וְנִרְאֶ֕ה</span>
<span class="mila" data-lnk="1153" data-exlnk="0" id="M_37_20_12">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18085">־</span><span class="mila" data-lnk="1153" data-exlnk="0" id="M_37_20_13">יִּהְי֖וּ</span>
<span class="mila" data-lnk="805309569" data-exlnk="0" id="M_37_20_14">חֲלֹמֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18088">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_21" data-pasuk-now="8"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_37_21_1">וַיִּשְׁמַ֣ע</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_37_21_2">רְאוּבֵ֔ן</span>
<span class="mila" data-lnk="3221233730" data-exlnk="0" id="M_37_21_3">וַיַּצִּלֵ֖הוּ</span>
<span class="mila" data-lnk="1090" data-exlnk="0" id="M_37_21_4">מִיָּדָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_21_5">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="1605" data-exlnk="0" id="M_37_21_6">לֹ֥א</span>
<span class="mila" data-lnk="581" data-exlnk="0" id="M_37_21_7">נַכֶּ֖נּוּ</span>
<span class="mila" data-lnk="837" data-exlnk="0" id="M_37_21_8">נָֽפֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18097">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_22" data-pasuk-now="24"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_37_22_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_22_2">אֲלֵהֶ֣ם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="18100">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_22_3">רְאוּבֵן֘</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_22_4">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18103">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_37_22_5">תִּשְׁפְּכוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18105">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_37_22_6">דָם֒</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_37_22_7">הַשְׁלִ֣יכוּ</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_37_22_8">אֹת֗וֹ</span>
<span class="mila" data-lnk="1410" data-exlnk="0" id="M_37_22_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18110">־</span><span class="mila" data-lnk="1410" data-exlnk="0" id="M_37_22_10">הַבּ֤וֹר</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_37_22_11">הַזֶּה֙</span>
<span class="mila" data-lnk="1154" data-exlnk="0" id="M_37_22_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="1154" data-exlnk="0" id="M_37_22_13">בַּמִּדְבָּ֔ר</span>
<span class="mila" data-lnk="4026543360" data-exlnk="0" id="M_37_22_14">וְיָ֖ד</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_22_15">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18117">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_37_22_16">תִּשְׁלְחוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18119">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_22_17">ב֑וֹ</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_37_22_18">לְמַ֗עַן</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_37_22_19">הַצִּ֤יל</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_37_22_20">אֹתוֹ֙</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_22_21">מִיָּדָ֔ם</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_22_22">לַהֲשִׁיב֖וֹ</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_22_23">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18127">־</span><span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_22_24">אָבִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18129">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שלישי]</span>
<span id="PS_37_23" data-pasuk-now="16"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_23_1">וַיְהִ֕י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_23_2">כַּאֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18132">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_23_3">בָּ֥א</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_23_4">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_23_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18136">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_23_6">אֶחָ֑יו</span>
<span class="mila" data-lnk="805308932" data-exlnk="0" id="M_37_23_7">וַיַּפְשִׁ֤יטוּ</span>
<span class="mila" data-lnk="512" data-exlnk="0" id="M_37_23_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18140">־</span><span class="mila" data-lnk="512" data-exlnk="0" id="M_37_23_9">יוֹסֵף֙</span>
<span class="mila" data-lnk="769" data-exlnk="0" id="M_37_23_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18143">־</span><span class="mila" data-lnk="4026543877" data-exlnk="0" id="M_37_23_11">כֻּתָּנְתּ֔וֹ</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_37_23_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18146">־</span><span class="mila" data-lnk="323" data-exlnk="0" id="M_37_23_13">כְּתֹ֥נֶת</span>
<span class="mila" data-lnk="323" data-exlnk="0" id="M_37_23_14">הַפַּסִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_16">עָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18151">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_24" data-pasuk-now="9"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026546432" data-exlnk="0" id="M_37_24_1">וַיִּ֨קָּחֻ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_24_2">וַיַּשְׁלִ֥כוּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_24_3">אֹת֖וֹ</span>
<span class="mila" data-lnk="3221234688" data-exlnk="0" id="M_37_24_4">הַבֹּ֑רָה</span>
<span class="mila" data-lnk="4026542337" data-exlnk="0" id="M_37_24_5">וְהַבּ֣וֹר</span>
<span class="mila" data-lnk="4026539265" data-exlnk="0" id="M_37_24_6">רֵ֔ק</span>
<span class="mila" data-lnk="323" data-exlnk="0" id="M_37_24_7">אֵ֥ין</span>
<span class="mila" data-lnk="323" data-exlnk="0" id="M_37_24_8">בּ֖וֹ</span>
<span class="mila" data-lnk="1347" data-exlnk="0" id="M_37_24_9">מָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18161">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_25" data-pasuk-now="19"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1348" data-exlnk="0" id="M_37_25_1">וַיֵּשְׁבוּ֘</span>
<span class="mila" data-lnk="1092" data-exlnk="0" id="M_37_25_2">לֶאֱכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18164">־</span><span class="mila" data-lnk="1092" data-exlnk="0" id="M_37_25_3">לֶחֶם֒</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_25_4">וַיִּשְׂא֤וּ</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_25_5">עֵֽינֵיהֶם֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_25_6">וַיִּרְא֔וּ</span>
<span class="mila" data-lnk="1216" data-exlnk="0" id="M_37_25_7">וְהִנֵּה֙</span>
<span class="mila" data-lnk="3221234373" data-exlnk="0" id="M_37_25_8">אֹרְחַ֣ת</span>
<span class="mila" data-lnk="1733" data-exlnk="0" id="M_37_25_9">יִשְׁמְעֵאלִ֔ים</span>
<span class="mila" data-lnk="4026547328" data-exlnk="0" id="M_37_25_10">בָּאָ֖ה</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_25_11">מִגִּלְעָ֑ד</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_25_12">וּגְמַלֵּיהֶ֣ם</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_25_13">נֹשְׂאִ֗ים</span>
<span class="mila" data-lnk="4026543621" data-exlnk="0" id="M_37_25_14">נְכֹאת֙</span>
<span class="mila" data-lnk="4026543877" data-exlnk="0" id="M_37_25_15">וּצְרִ֣י</span>
<span class="mila" data-lnk="4026543877" data-exlnk="0" id="M_37_25_16">וָלֹ֔ט</span>
<span class="mila" data-lnk="3221234688" data-exlnk="0" id="M_37_25_17">הוֹלְכִ֖ים</span>
<span class="mila" data-lnk="3221234688" data-exlnk="0" id="M_37_25_18">לְהוֹרִ֥יד</span>
<span class="mila" data-lnk="805309440" data-exlnk="0" id="M_37_25_19">מִצְרָֽיְמָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18182">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_26_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="1216" data-exlnk="0" id="M_37_26_2">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_26_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18186">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_26_4">אֶחָ֑יו</span>
<span class="mila" data-lnk="268439109" data-exlnk="0" id="M_37_26_5">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18189">־</span><span class="mila" data-lnk="805310021" data-exlnk="0" id="M_37_26_6">בֶּ֗צַע</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_26_7">כִּ֤י</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_26_8">נַֽהֲרֹג֙</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_26_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18194">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_26_10">אָחִ֔ינוּ</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_37_26_11">וְכִסִּ֖ינוּ</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_37_26_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18198">־</span><span class="mila" data-lnk="1409" data-exlnk="0" id="M_37_26_13">דָּמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18200">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_27" data-pasuk-now="13"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_27_1">לְכ֞וּ</span>
<span class="mila" data-lnk="1408" data-exlnk="0" id="M_37_27_2">וְנִמְכְּרֶ֣נּוּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_27_3">לַיִּשְׁמְעֵאלִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_27_4">וְיָדֵ֙נוּ֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_37_27_5">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18206">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_37_27_6">תְּהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18208">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_27_7">ב֔וֹ</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_37_27_8">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18211">־</span><span class="mila" data-lnk="1156" data-exlnk="0" id="M_37_27_9">אָחִ֥ינוּ</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_37_27_10">בְשָׂרֵ֖נוּ</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_37_27_11">ה֑וּא</span>
<span class="mila" data-lnk="1089" data-exlnk="0" id="M_37_27_12">וַֽיִּשְׁמְע֖וּ</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_27_13">אֶחָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18217">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_28" data-pasuk-now="20"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="327" data-exlnk="0" id="M_37_28_1">וַיַּעַבְרוּ֩</span>
<span class="mila" data-lnk="963" data-exlnk="0" id="M_37_28_2">אֲנָשִׁ֨ים</span>
<span class="mila" data-lnk="967" data-exlnk="0" id="M_37_28_3">מִדְיָנִ֜ים</span>
<span class="mila" data-lnk="1158" data-exlnk="0" id="M_37_28_4">סֹחֲרִ֗ים</span>
<span class="mila" data-lnk="4026542337" data-exlnk="0" id="M_37_28_5">וַֽיִּמְשְׁכוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_28_6">וַיַּעֲל֤וּ</span>
<span class="mila" data-lnk="1409" data-exlnk="0" id="M_37_28_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18225">־</span><span class="mila" data-lnk="1409" data-exlnk="0" id="M_37_28_8">יוֹסֵף֙</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_37_28_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18228">־</span><span class="mila" data-lnk="1347" data-exlnk="0" id="M_37_28_10">הַבּ֔וֹר</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_28_11">וַיִּמְכְּר֧וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_28_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18232">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_37_28_13">יוֹסֵ֛ף</span>
<span class="mila" data-lnk="1475" data-exlnk="0" id="M_37_28_14">לַיִּשְׁמְעֵאלִ֖ים</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_28_15">בְּעֶשְׂרִ֣ים</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_28_16">כָּ֑סֶף</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_37_28_17">וַיָּבִ֥יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_28_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18239">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_28_19">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_37_28_20">מִצְרָֽיְמָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18242">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_29" data-pasuk-now="11"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_37_29_1">וַיָּ֤שָׁב</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_37_29_2">רְאוּבֵן֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_29_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18246">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_29_4">הַבּ֔וֹר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_29_5">וְהִנֵּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_29_6">אֵין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18250">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_29_7">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_29_8">בַּבּ֑וֹר</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_29_9">וַיִּקְרַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_29_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18255">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_29_11">בְּגָדָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18257">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_30" data-pasuk-now="10"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_30_1">וַיָּ֥שָׁב</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_30_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18260">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_30_3">אֶחָ֖יו</span>
<span class="mila" data-lnk="805309440" data-exlnk="0" id="M_37_30_4">וַיֹּאמַ֑ר</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_30_5">הַיֶּ֣לֶד</span>
<span class="mila" data-lnk="1088" data-exlnk="0" id="M_37_30_6">אֵינֶ֔נּוּ</span>
<span class="mila" data-lnk="805309444" data-exlnk="0" id="M_37_30_7">וַאֲנִ֖י</span>
<span class="mila" data-lnk="536874055" data-exlnk="0" id="M_37_30_8">אָ֥נָה</span>
<span class="mila" data-lnk="1095" data-exlnk="0" id="M_37_30_9">אֲנִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18268">־</span><span class="mila" data-lnk="1095" data-exlnk="0" id="M_37_30_10">בָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18270">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_31" data-pasuk-now="11"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_37_31_1">וַיִּקְח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_31_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18273">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_31_3">כְּתֹ֣נֶת</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_31_4">יוֹסֵ֑ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_31_5">וַיִּשְׁחֲטוּ֙</span>
<span class="mila" data-lnk="1089" data-exlnk="0" id="M_37_31_6">שְׂעִ֣יר</span>
<span class="mila" data-lnk="1089" data-exlnk="0" id="M_37_31_7">עִזִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_31_8">וַיִּטְבְּל֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_31_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18281">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_37_31_10">הַכֻּתֹּ֖נֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_31_11">בַּדָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18284">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_32" data-pasuk-now="17"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="1986" data-exlnk="0" id="M_37_32_1">וַֽיְשַׁלְּח֞וּ</span>
<span class="mila" data-lnk="1216" data-exlnk="0" id="M_37_32_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18287">־</span><span class="mila" data-lnk="1216" data-exlnk="0" id="M_37_32_3">כְּתֹ֣נֶת</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_32_4">הַפַּסִּ֗ים</span>
<span class="mila" data-lnk="805309632" data-exlnk="0" id="M_37_32_5">וַיָּבִ֙יאוּ֙</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_32_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18292">־</span><span class="mila" data-lnk="1152" data-exlnk="0" id="M_37_32_7">אֲבִיהֶ֔ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_32_8">וַיֹּאמְר֖וּ</span>
<span class="mila" data-lnk="1154" data-exlnk="0" id="M_37_32_9">זֹ֣את</span>
<span class="mila" data-lnk="1154" data-exlnk="0" id="M_37_32_10">מָצָ֑אנוּ</span>
<span class="mila" data-lnk="1342188928" data-exlnk="0" id="M_37_32_11">הַכֶּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18298">־</span><span class="mila" data-lnk="4026543488" data-exlnk="0" id="M_37_32_12">נָ֗א</span>
<span class="mila" data-lnk="805309440" data-exlnk="0" id="M_37_32_13">הַכְּתֹ֧נֶת</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_32_14">בִּנְךָ֛</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_32_15">הִ֖וא</span>
<span class="mila" data-lnk="3489672192" data-exlnk="0" id="M_37_32_16">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18304">־</span><span class="mila" data-lnk="4026543104" data-exlnk="0" id="M_37_32_17">לֹֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18306">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_33" data-pasuk-now="10"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="3221234688" data-exlnk="0" id="M_37_33_1">וַיַּכִּירָ֤הּ</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_33_2">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_33_3">כְּתֹ֣נֶת</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_33_4">בְּנִ֔י</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_33_5">חַיָּ֥ה</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_33_6">רָעָ֖ה</span>
<span class="mila" data-lnk="4026543105" data-exlnk="0" id="M_37_33_7">אֲכָלָ֑תְהוּ</span>
<span class="mila" data-lnk="4026543168" data-exlnk="0" id="M_37_33_8">טָרֹ֥ף</span>
<span class="mila" data-lnk="1092" data-exlnk="0" id="M_37_33_9">טֹרַ֖ף</span>
<span class="mila" data-lnk="1092" data-exlnk="0" id="M_37_33_10">יוֹסֵֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18317">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_34" data-pasuk-now="11"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_34_1">וַיִּקְרַ֤ע</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_34_2">יַֽעֲקֹב֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_34_3">שִׂמְלֹתָ֔יו</span>
<span class="mila" data-lnk="805309440" data-exlnk="0" id="M_37_34_4">וַיָּ֥שֶׂם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_34_5">שַׂ֖ק</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_34_6">בְּמָתְנָ֑יו</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_34_7">וַיִּתְאַבֵּ֥ל</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_34_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18326">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_34_9">בְּנ֖וֹ</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_34_10">יָמִ֥ים</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_34_11">רַבִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18330">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_35" data-pasuk-now="18"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_37_35_1">וַיָּקֻמוּ֩</span>
<span class="mila" data-lnk="1413" data-exlnk="0" id="M_37_35_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18333">־</span><span class="mila" data-lnk="1477" data-exlnk="0" id="M_37_35_3">בָּנָ֨יו</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_35_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18336">־</span><span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_35_5">בְּנֹתָ֜יו</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_35_6">לְנַחֲמ֗וֹ</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_35_7">וַיְמָאֵן֙</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_37_35_8">לְהִתְנַחֵ֔ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_35_9">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="579" data-exlnk="0" id="M_37_35_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18343">־</span><span class="mila" data-lnk="579" data-exlnk="0" id="M_37_35_11">אֵרֵ֧ד</span>
<span class="mila" data-lnk="3221234497" data-exlnk="0" id="M_37_35_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18346">־</span><span class="mila" data-lnk="3221234499" data-exlnk="0" id="M_37_35_13">בְּנִ֛י</span>
<span class="mila" data-lnk="579" data-exlnk="0" id="M_37_35_14">אָבֵ֖ל</span>
<span class="mila" data-lnk="839" data-exlnk="0" id="M_37_35_15">שְׁאֹ֑לָה</span>
<span class="mila" data-lnk="839" data-exlnk="0" id="M_37_35_16">וַיֵּ֥בְךְּ</span>
<span class="mila" data-lnk="839" data-exlnk="0" id="M_37_35_17">אֹת֖וֹ</span>
<span class="mila" data-lnk="839" data-exlnk="0" id="M_37_35_18">אָבִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18353">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_36" data-pasuk-now="10"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="4026542850" data-exlnk="0" id="M_37_36_1">וְהַ֨מְּדָנִ֔ים</span>
<span class="mila" data-lnk="1026" data-exlnk="0" id="M_37_36_2">מָכְר֥וּ</span>
<span class="mila" data-lnk="1026" data-exlnk="0" id="M_37_36_3">אֹת֖וֹ</span>
<span class="mila" data-lnk="1879058434" data-exlnk="0" id="M_37_36_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18358">־</span><span class="mila" data-lnk="4026543106" data-exlnk="0" id="M_37_36_5">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_36_6">לְפֽוֹטִיפַר֙</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_36_7">סְרִ֣יס</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_37_36_8">פַּרְעֹ֔ה</span>
<span class="mila" data-lnk="1924" data-exlnk="0" id="M_37_36_9">שַׂ֖ר</span>
<span class="mila" data-lnk="1925" data-exlnk="0" id="M_37_36_10">הַטַּבָּחִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18366">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="18367"> פ </span>
</span>
<br /></p>