<p id="PR_50" data-perek-now="375" data-perek-nops="26"><span class="perek-header">פרק נ</span>
<br /><span id="PS_50_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_1_1">וַיִּפֹּ֥ל</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_1_2">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_1_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24882">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_1_4">פְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_1_5">אָבִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_1_6">וַיֵּ֥בְךְּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_1_7">עָלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_1_8">וַיִּשַּׁק</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24888">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_1_9">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24890">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_2" data-pasuk-now="13"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_50_2_1">וַיְצַ֨ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_2_2">יוֹסֵ֤ף</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_50_2_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24894">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_2_4">עֲבָדָיו֙</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_50_2_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24897">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_2_6">הָרֹ֣פְאִ֔ים</span>
<span class="mila" data-lnk="3221234499" data-exlnk="0" id="M_50_2_7">לַחֲנֹ֖ט</span>
<span class="mila" data-lnk="805308929" data-exlnk="0" id="M_50_2_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24901">־</span><span class="mila" data-lnk="513" data-exlnk="0" id="M_50_2_9">אָבִ֑יו</span>
<span class="mila" data-lnk="805308420" data-exlnk="0" id="M_50_2_10">וַיַּחַנְט֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_2_11">הָרֹפְאִ֖ים</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_50_2_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24906">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_2_13">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24908">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_3_1">וַיִּמְלְאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24910">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_50_3_2">לוֹ֙</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_50_3_3">אַרְבָּעִ֣ים</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_50_3_4">י֔וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_3_5">כִּ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_3_6">כֵּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_3_7">יִמְלְא֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_3_8">יְמֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_3_9">הַחֲנֻטִ֑ים</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_50_3_10">וַיִּבְכּ֥וּ</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_50_3_11">אֹת֛וֹ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_3_12">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_50_3_13">שִׁבְעִ֥ים</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_50_3_14">יֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24924">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_4" data-pasuk-now="19"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_1">וַיַּֽעַבְרוּ֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_2">יְמֵ֣י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_3">בְכִית֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_4">וַיְדַבֵּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_5">יוֹסֵ֔ף</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24931">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_7">בֵּ֥ית</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_8">פַּרְעֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_9">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_10">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24936">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_11">נָ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_12">מָצָ֤אתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_13">חֵן֙</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_50_4_14">בְּעֵ֣ינֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_15">דַּבְּרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24942">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_16">נָ֕א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_17">בְּאָזְנֵ֥י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_4_18">פַרְעֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_4_19">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24947">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_5" data-pasuk-now="21"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_50_5_1">אָבִ֞י</span>
<span class="mila" data-lnk="3221233728" data-exlnk="0" id="M_50_5_2">הִשְׁבִּיעַ֣נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_3">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_4">הִנֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_5">אָנֹכִי֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_6">מֵת֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_7">בְּקִבְרִ֗י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_50_5_8">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="3221233669" data-exlnk="0" id="M_50_5_9">כָּרִ֤יתִי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_5_10">לִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_11">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_12">כְּנַ֔עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_13">שָׁ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_14">תִּקְבְּרֵ֑נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_15">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_16">אֶעֱלֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24964">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_17">נָּ֛א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_18">וְאֶקְבְּרָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24968">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_5_20">אָבִ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_5_21">וְאָשֽׁוּבָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24971">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_6_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_6_2">פַּרְעֹ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_6_3">עֲלֵ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_6_4">וּקְבֹ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_6_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24977">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_6_6">אָבִ֖יךָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_6_7">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_6_8">הִשְׁבִּיעֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="24981">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_1">וַיַּ֥עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_2">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_3">לִקְבֹּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24986">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_5">אָבִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_6">וַיַּעֲל֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_7">אִתּ֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24991">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_9">עַבְדֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_10">פַרְעֹה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_11">זִקְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_12">בֵית֔וֹ</span>
<span class="mila" data-lnk="3489675264" data-exlnk="0" id="M_50_7_13">וְכֹ֖ל</span>
<span class="mila" data-lnk="4026546176" data-exlnk="0" id="M_50_7_14">זִקְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_15">אֶרֶץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24999">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_7_16">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25001">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_8" data-pasuk-now="13"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026542336" data-exlnk="0" id="M_50_8_1">וְכֹל֙</span>
<span class="mila" data-lnk="536873216" data-exlnk="0" id="M_50_8_2">בֵּ֣ית</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_8_3">יוֹסֵ֔ף</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_8_4">וְאֶחָ֖יו</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_8_5">וּבֵ֣ית</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_8_6">אָבִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_7">רַ֗ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_8">טַפָּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_9">וְצֹאנָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_10">וּבְקָרָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_11">עָזְב֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_12">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_13">גֹּֽשֶׁן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25015">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_9_1">וַיַּ֣עַל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_9_2">עִמּ֔וֹ</span>
<span class="mila" data-lnk="4026542082" data-exlnk="0" id="M_50_9_3">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25019">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_50_9_4">רֶ֖כֶב</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_50_9_5">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25022">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_50_9_6">פָּרָשִׁ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_9_7">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_9_8">הַֽמַּחֲנֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_9_9">כָּבֵ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_9_10">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25028">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_10_1">וַיָּבֹ֜אוּ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_10_2">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25031">־</span><span class="mila" data-lnk="769" data-exlnk="0" id="M_50_10_3">גֹּ֣רֶן</span>
<span class="mila" data-lnk="769" data-exlnk="0" id="M_50_10_4">הָאָטָ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_10_5">אֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_10_6">בְּעֵ֣בֶר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_10_7">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_10_8">וַיִּ֨סְפְּדוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25038">־</span><span class="mila" data-lnk="320" data-exlnk="0" id="M_50_10_9">שָׁ֔ם</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_50_10_10">מִסְפֵּ֛ד</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_10_11">גָּד֥וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_10_12">וְכָבֵ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_10_13">מְאֹ֑ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_50_10_14">וַיַּ֧עַשׂ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_50_10_15">לְאָבִ֛יו</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_50_10_16">אֵ֖בֶל</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_10_17">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_50_10_18">יָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25049">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_11" data-pasuk-now="22"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_50_11_1">וַיַּ֡רְא</span>
<span class="mila" data-lnk="4026542082" data-exlnk="0" id="M_50_11_2">יוֹשֵׁב֩</span>
<span class="mila" data-lnk="536872962" data-exlnk="0" id="M_50_11_3">הָאָ֨רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_11_4">הַֽכְּנַעֲנִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25055">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_6">הָאֵ֗בֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_7">בְּגֹ֙רֶן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_8">הָאָטָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_9">וַיֹּ֣אמְר֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_10">אֵֽבֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25061">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_11">כָּבֵ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_12">זֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_13">לְמִצְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25066">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_15">כֵּ֞ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_16">קָרָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_17">שְׁמָהּ֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_11_18">אָבֵ֣ל</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_11_19">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_20">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_21">בְּעֵ֥בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_11_22">הַיַּרְדֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25075">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_50_12_1">וַיַּעֲשׂ֥וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_50_12_2">בָנָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_12_3">ל֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_12_4">כֵּ֖ן</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_50_12_5">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026546437" data-exlnk="0" id="M_50_12_6">צִוָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25082">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_13" data-pasuk-now="23"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_50_13_1">וַיִּשְׂא֨וּ</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_50_13_2">אֹת֤וֹ</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_50_13_3">בָנָיו֙</span>
<span class="mila" data-lnk="1342187520" data-exlnk="0" id="M_50_13_4">אַ֣רְצָה</span>
<span class="mila" data-lnk="3758106880" data-exlnk="0" id="M_50_13_5">כְּנַ֔עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_6">וַיִּקְבְּר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_7">אֹת֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="2" id="M_50_13_8">בִּמְעָרַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="2" id="M_50_13_9">שְׂדֵ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="2" id="M_50_13_10">הַמַּכְפֵּלָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_11">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_12">קָנָה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_13">אַבְרָהָ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25097">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_15">הַשָּׂדֶ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_16">לַאֲחֻזַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25100">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_17">קֶ֗בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_18">מֵאֵ֛ת</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_50_13_19">עֶפְרֹ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_20">הַחִתִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_21">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25106">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_22">פְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_13_23">מַמְרֵֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25109">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_14_1">וַיָּ֨שָׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_14_2">יוֹסֵ֤ף</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_50_14_3">מִצְרַ֙יְמָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_14_4">ה֣וּא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_14_5">וְאֶחָ֔יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_14_6">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25116">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_50_14_7">הָעֹלִ֥ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_14_8">אִתּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_14_9">לִקְבֹּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_14_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25121">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_50_14_11">אָבִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_14_12">אַחֲרֵ֖י</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_50_14_13">קָבְר֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_14_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25126">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_14_15">אָבִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25128">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_15" data-pasuk-now="19"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="769" data-exlnk="0" id="M_50_15_1">וַיִּרְא֤וּ</span>
<span class="mila" data-lnk="513" data-exlnk="0" id="M_50_15_2">אֲחֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25131">־</span><span class="mila" data-lnk="513" data-exlnk="0" id="M_50_15_3">יוֹסֵף֙</span>
<span class="mila" data-lnk="513" data-exlnk="0" id="M_50_15_4">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25134">־</span><span class="mila" data-lnk="769" data-exlnk="0" id="M_50_15_5">מֵ֣ת</span>
<span class="mila" data-lnk="769" data-exlnk="0" id="M_50_15_6">אֲבִיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_15_7">וַיֹּ֣אמְר֔וּ</span>
<span class="mila" data-lnk="4026542149" data-exlnk="0" id="M_50_15_8">ל֥וּ</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_50_15_9">יִשְׂטְמֵ֖נוּ</span>
<span class="mila" data-lnk="576" data-exlnk="0" id="M_50_15_10">יוֹסֵ֑ף</span>
<span class="mila" data-lnk="805308480" data-exlnk="0" id="M_50_15_11">וְהָשֵׁ֤ב</span>
<span class="mila" data-lnk="805309248" data-exlnk="0" id="M_50_15_12">יָשִׁיב֙</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_50_15_13">לָ֔נוּ</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_50_15_14">אֵ֚ת</span>
<span class="mila" data-lnk="320" data-exlnk="0" id="M_50_15_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25146">־</span><span class="mila" data-lnk="832" data-exlnk="0" id="M_50_15_16">הָ֣רָעָ֔ה</span>
<span class="mila" data-lnk="768" data-exlnk="0" id="M_50_15_17">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1073750272" data-exlnk="0" id="M_50_15_18">גָּמַ֖לְנוּ</span>
<span class="mila" data-lnk="3221233920" data-exlnk="0" id="M_50_15_19">אֹתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25151">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026538307" data-exlnk="0" id="M_50_16_1">וַיְצַוּ֕וּ</span>
<span class="mila" data-lnk="323" data-exlnk="0" id="M_50_16_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25154">־</span><span class="mila" data-lnk="835" data-exlnk="0" id="M_50_16_3">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_50_16_4">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_50_16_5">אָבִ֣יךָ</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_50_16_6">צִוָּ֔ה</span>
<span class="mila" data-lnk="805308736" data-exlnk="0" id="M_50_16_7">לִפְנֵ֥י</span>
<span class="mila" data-lnk="805308736" data-exlnk="0" id="M_50_16_8">מוֹת֖וֹ</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_50_16_9">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25162">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_17" data-pasuk-now="23"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3489675264" data-exlnk="0" id="M_50_17_1">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25164">־</span><span class="mila" data-lnk="4026546176" data-exlnk="0" id="M_50_17_2">תֹאמְר֣וּ</span>
<span class="mila" data-lnk="576" data-exlnk="0" id="M_50_17_3">לְיוֹסֵ֗ף</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_50_17_4">אָ֣נָּ֡א</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_17_5">שָׂ֣א</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_17_6">נָ֠א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_17_7">פֶּ֣שַׁע</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_17_8">אַחֶ֤יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_17_9">וְחַטָּאתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_17_10">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25174">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_17_11">רָעָ֣ה</span>
<span class="mila" data-lnk="3221233664" data-exlnk="0" id="M_50_17_12">גְמָל֔וּךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_17_13">וְעַתָּה֙</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_50_17_14">שָׂ֣א</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_50_17_15">נָ֔א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_17_16">לְפֶ֥שַׁע</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_50_17_17">עַבְדֵ֖י</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_50_17_18">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_50_17_19">אָבִ֑יךָ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_17_20">וַיֵּ֥בְךְּ</span>
<span class="mila" data-lnk="576" data-exlnk="0" id="M_50_17_21">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_17_22">בְּדַבְּרָ֥ם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_17_23">אֵלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25188">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_18" data-pasuk-now="9"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_50_18_1">וַיֵּֽלְכוּ֙</span>
<span class="mila" data-lnk="321" data-exlnk="0" id="M_50_18_2">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25191">־</span><span class="mila" data-lnk="321" data-exlnk="0" id="M_50_18_3">אֶחָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_18_4">וַֽיִּפְּל֖וּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_18_5">לְפָנָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_18_6">וַיֹּ֣אמְר֔וּ</span>
<span class="mila" data-lnk="4026546176" data-exlnk="0" id="M_50_18_7">הִנֶּ֥נּֽוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_18_8">לְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_18_9">לַעֲבָדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25199">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_19" data-pasuk-now="9"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_19_1">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_19_2">אֲלֵהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_19_3">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="512" data-exlnk="0" id="M_50_19_4">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25204">־</span><span class="mila" data-lnk="512" data-exlnk="0" id="M_50_19_5">תִּירָ֑אוּ</span>
<span class="mila" data-lnk="581" data-exlnk="0" id="M_50_19_6">כִּ֛י</span>
<span class="mila" data-lnk="4026547013" data-exlnk="0" id="M_50_19_7">הֲתַ֥חַת</span>
<span class="mila" data-lnk="837" data-exlnk="0" id="M_50_19_8">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="837" data-exlnk="0" id="M_50_19_9">אָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25210">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_20" data-pasuk-now="14"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_20_1">וְאַתֶּ֕ם</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_50_20_2">חֲשַׁבְתֶּ֥ם</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_50_20_3">עָלַ֖י</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_50_20_4">רָעָ֑ה</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_50_20_5">אֱלֹהִים֙</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_50_20_6">חֲשָׁבָ֣הּ</span>
<span class="mila" data-lnk="4026542403" data-exlnk="0" id="M_50_20_7">לְטֹבָ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_50_20_8">לְמַ֗עַן</span>
<span class="mila" data-lnk="805308420" data-exlnk="0" id="M_50_20_9">עֲשֹׂ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_20_10">כַּיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_20_11">הַזֶּ֖ה</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_50_20_12">לְהַחֲיֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_20_13">עַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25224">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_20_14">רָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25226">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שביעי]</span>
<span id="PS_50_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_21_1">וְעַתָּה֙</span>
<span class="mila" data-lnk="768" data-exlnk="0" id="M_50_21_2">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25229">־</span><span class="mila" data-lnk="768" data-exlnk="0" id="M_50_21_3">תִּירָ֔אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_21_4">אָנֹכִ֛י</span>
<span class="mila" data-lnk="768" data-exlnk="0" id="M_50_21_5">אֲכַלְכֵּ֥ל</span>
<span class="mila" data-lnk="832" data-exlnk="0" id="M_50_21_6">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="832" data-exlnk="0" id="M_50_21_7">וְאֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25235">־</span><span class="mila" data-lnk="832" data-exlnk="0" id="M_50_21_8">טַפְּכֶ֑ם</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_50_21_9">וַיְנַחֵ֣ם</span>
<span class="mila" data-lnk="805308416" data-exlnk="0" id="M_50_21_10">אוֹתָ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_21_11">וַיְדַבֵּ֖ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_50_21_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25241">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_50_21_13">לִבָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25243">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_22" data-pasuk-now="11"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_1">וַיֵּ֤שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_2">יוֹסֵף֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_3">בְּמִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_4">ה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_5">וּבֵ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_6">אָבִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_7">וַיְחִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_8">יוֹסֵ֔ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_9">מֵאָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_10">וָעֶ֖שֶׂר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_22_11">שָׁנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25255">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[מפטיר]</span>
<span id="PS_50_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_23_1">וַיַּ֤רְא</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_50_23_2">יוֹסֵף֙</span>
<span class="mila" data-lnk="832" data-exlnk="0" id="M_50_23_3">לְאֶפְרַ֔יִם</span>
<span class="mila" data-lnk="836" data-exlnk="0" id="M_50_23_4">בְּנֵ֖י</span>
<span class="mila" data-lnk="4026542916" data-exlnk="0" id="M_50_23_5">שִׁלֵּשִׁ֑ים</span>
<span class="mila" data-lnk="834" data-exlnk="0" id="M_50_23_6">גַּ֗ם</span>
<span class="mila" data-lnk="838" data-exlnk="0" id="M_50_23_7">בְּנֵ֤י</span>
<span class="mila" data-lnk="834" data-exlnk="0" id="M_50_23_8">מָכִיר֙</span>
<span class="mila" data-lnk="832" data-exlnk="0" id="M_50_23_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25265">־</span><span class="mila" data-lnk="832" data-exlnk="0" id="M_50_23_10">מְנַשֶּׁ֔ה</span>
<span class="mila" data-lnk="4026542852" data-exlnk="0" id="M_50_23_11">יֻלְּד֖וּ</span>
<span class="mila" data-lnk="769" data-exlnk="0" id="M_50_23_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25269">־</span><span class="mila" data-lnk="513" data-exlnk="0" id="M_50_23_13">בִּרְכֵּ֥י</span>
<span class="mila" data-lnk="769" data-exlnk="0" id="M_50_23_14">יוֹסֵֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25272">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_24" data-pasuk-now="22"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_24_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_24_2">יוֹסֵף֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_24_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25276">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_50_24_4">אֶחָ֔יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_24_5">אָנֹכִ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_24_6">מֵ֑ת</span>
<span class="mila" data-lnk="4026546242" data-exlnk="0" id="M_50_24_7">וֵאלֹהִ֞ים</span>
<span class="mila" data-lnk="805308482" data-exlnk="0" id="M_50_24_8">פָּקֹ֧ד</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_50_24_9">יִפְקֹ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_10">אֶתְכֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_11">וְהֶעֱלָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_12">אֶתְכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_13">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25287">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_14">הָאָ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_15">הַזֹּ֔את</span>
<span class="mila" data-lnk="1342187520" data-exlnk="0" id="M_50_24_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25291">־</span><span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_50_24_17">הָאָ֕רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_18">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_19">נִשְׁבַּ֛ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_20">לְאַבְרָהָ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_21">לְיִצְחָ֖ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_24_22">וּֽלְיַעֲקֹֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25298">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_25" data-pasuk-now="14"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_50_25_1">וַיַּשְׁבַּ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_25_2">יוֹסֵ֔ף</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_25_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25302">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_25_4">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_25_5">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_25_6">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="4026542080" data-exlnk="0" id="M_50_25_7">פָּקֹ֨ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_25_8">יִפְקֹ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_25_9">אֱלֹהִים֙</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_25_10">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="4026542144" data-exlnk="0" id="M_50_25_11">וְהַעֲלִתֶ֥ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_25_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25312">־</span><span class="mila" data-lnk="805308480" data-exlnk="0" id="M_50_25_13">עַצְמֹתַ֖י</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_50_25_14">מִזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25315">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_26" data-pasuk-now="11"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_26_1">וַיָּ֣מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_26_2">יוֹסֵ֔ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_26_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25319">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_50_26_4">מֵאָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_26_5">וָעֶ֖שֶׂר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_26_6">שָׁנִ֑ים</span>
<span class="mila" data-lnk="4026542084" data-exlnk="0" id="M_50_26_7">וַיַּחַנְט֣וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_50_26_8">אֹת֔וֹ</span>
<span class="mila" data-lnk="3221234438" data-exlnk="0" id="M_50_26_9">וַיִּ֥ישֶׂם</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_50_26_10">בָּאָר֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_26_11">בְּמִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25328">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>