<p id="PR_36" data-perek-now="514" data-perek-nops="38"><span class="perek-header">פרק לו</span>
<br /><span id="PS_36_1" data-pasuk-now="24"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_36_1_1">וְעָשָׂה֩</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_36_1_2">בְצַלְאֵ֨ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_36_1_3">וְאָהֳלִיאָ֜ב</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_1_4">וְכֹ֣ל׀</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_1_5">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_6">חֲכַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17881">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_7">לֵ֗ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_8">אֲשֶׁר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_9">נָתַ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_10">יְהוָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_11">חָכְמָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_12">וּתְבוּנָה֙</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_1_13">בָּהֵ֔מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_14">לָדַ֣עַת</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_1_15">לַעֲשֹׂ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_16">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17892">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_17">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17894">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_18">מְלֶ֖אכֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_19">עֲבֹדַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_20">הַקֹּ֑דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_21">לְכֹ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_22">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17900">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_36_1_23">צִוָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_1_24">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17903">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_2" data-pasuk-now="25"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_36_2_1">וַיִּקְרָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_2">מֹשֶׁ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17907">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_4">בְּצַלְאֵל֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_5">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17910">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_6">אָֽהֳלִיאָב֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_7">וְאֶל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17914">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_9">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_10">חֲכַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17917">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_11">לֵ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_12">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_13">נָתַ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_14">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_15">חָכְמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_16">בְּלִבּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_17">כֹּ֚ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_18">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_2_19">נְשָׂא֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_20">לִבּ֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_36_2_21">לְקָרְבָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_22">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17930">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_23">הַמְּלָאכָ֖ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_2_24">לַעֲשֹׂ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_2_25">אֹתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17934">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_3" data-pasuk-now="22"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_36_3_1">וַיִּקְח֞וּ</span>
<span class="mila" data-lnk="268435744" data-exlnk="0" id="M_36_3_2">מִלִּפְנֵ֣י</span>
<span class="mila" data-lnk="805306660" data-exlnk="0" id="M_36_3_3">מֹשֶׁ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_4">אֵ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17940">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_6">הַתְּרוּמָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_7">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_36_3_8">הֵבִ֜יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_9">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_10">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_11">לִמְלֶ֛אכֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_12">עֲבֹדַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_13">הַקֹּ֖דֶשׁ</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_3_14">לַעֲשֹׂ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_15">אֹתָ֑הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_3_16">וְ֠הֵם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_36_3_17">הֵבִ֨יאוּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_36_3_18">אֵלָ֥יו</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_36_3_19">ע֛וֹד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_36_3_20">נְדָבָ֖ה</span>
<span class="mila" data-lnk="3489662216" data-exlnk="0" id="M_36_3_21">בַּבֹּ֥קֶר</span>
<span class="mila" data-lnk="3758097664" data-exlnk="0" id="M_36_3_22">בַּבֹּֽקֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17958">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_36_4_1">וַיָּבֹ֙אוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17961">־</span><span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_4_3">הַ֣חֲכָמִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_4">הָעֹשִׂ֕ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_5">אֵ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17966">־</span><span class="mila" data-lnk="3489662208" data-exlnk="0" id="M_36_4_7">מְלֶ֣אכֶת</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_4_8">הַקֹּ֑דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_9">אִֽישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17970">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_10">אִ֥ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_11">מִמְּלַאכְתּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_4_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17974">־</span><span class="mila" data-lnk="3489662720" data-exlnk="0" id="M_36_4_13">הֵ֥מָּה</span>
<span class="mila" data-lnk="3758098176" data-exlnk="0" id="M_36_4_14">עֹשִֽׂים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17977">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_5" data-pasuk-now="15"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_36_5_1">וַיֹּאמְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17980">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_3">מֹשֶׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_4">לֵּאמֹ֔ר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_36_5_5">מַרְבִּ֥ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_36_5_6">הָעָ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_36_5_7">לְהָבִ֑יא</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_36_5_8">מִדֵּ֤י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_36_5_9">הָֽעֲבֹדָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_10">לַמְּלָאכָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17990">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_12">צִוָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_5_14">לַעֲשֹׂ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_5_15">אֹתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17995">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_6" data-pasuk-now="17"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_36_6_1">וַיְצַ֣ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_2">מֹשֶׁ֗ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_6_3">וַיַּעֲבִ֨ירוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_4">ק֥וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_5">בַּֽמַּחֲנֶה֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_6_6">לֵאמֹר֒</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_36_6_7">אִ֣ישׁ</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_36_6_8">וְאִשָּׁ֗ה</span>
<span class="mila" data-lnk="178" data-exlnk="0" id="M_36_6_9">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18005">־</span><span class="mila" data-lnk="178" data-exlnk="0" id="M_36_6_10">יַעֲשׂוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18007">־</span><span class="mila" data-lnk="178" data-exlnk="0" id="M_36_6_11">ע֛וֹד</span>
<span class="mila" data-lnk="178" data-exlnk="0" id="M_36_6_12">מְלָאכָ֖ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_6_13">לִתְרוּמַ֣ת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_6_14">הַקֹּ֑דֶשׁ</span>
<span class="mila" data-lnk="4026533249" data-exlnk="0" id="M_36_6_15">וַיִּכָּלֵ֥א</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_36_6_16">הָעָ֖ם</span>
<span class="mila" data-lnk="3221226624" data-exlnk="0" id="M_36_6_17">מֵהָבִֽיא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18015">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026533645" data-exlnk="0" id="M_36_7_1">וְהַמְּלָאכָ֗ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_7_2">הָיְתָ֥ה</span>
<span class="mila" data-lnk="4026533135" data-exlnk="0" id="M_36_7_3">דַיָּ֛ם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_36_7_4">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18020">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_36_7_5">הַמְּלָאכָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_7_6">לַעֲשׂ֣וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_36_7_7">אֹתָ֑הּ</span>
<span class="mila" data-lnk="4026533645" data-exlnk="0" id="M_36_7_8">וְהוֹתֵֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18026">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="18027">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[רביעי]</span>
<span id="PS_36_8" data-pasuk-now="21"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_36_8_1">וַיַּעֲשׂ֨וּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_36_8_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18030">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_36_8_3">חֲכַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18032">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_36_8_4">לֵ֜ב</span>
<span class="mila" data-lnk="4026533152" data-exlnk="0" id="M_36_8_5">בְּעֹשֵׂ֧י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_36_8_6">הַמְּלָאכָ֛ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_36_8_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18037">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_36_8_8">הַמִּשְׁכָּ֖ן</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_36_8_9">עֶ֣שֶׂר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_36_8_10">יְרִיעֹ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_11">שֵׁ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_12">מָשְׁזָ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_13">וּתְכֵ֤לֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_14">וְאַרְגָּמָן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_15">וְתוֹלַ֣עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_16">שָׁנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_17">כְּרֻבִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_18">מַעֲשֵׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_19">חֹשֵׁ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_20">עָשָׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_8_21">אֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18052">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="805306632" data-exlnk="0" id="M_36_9_1">אֹ֜רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_2">הַיְרִיעָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_3">הָאַחַ֗ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_36_9_4">שְׁמֹנֶ֤ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_9_5">וְעֶשְׂרִים֙</span>
<span class="mila" data-lnk="805306632" data-exlnk="0" id="M_36_9_6">בָּֽאַמָּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_7">וְרֹ֙חַב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_8">אַרְבַּ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_9">בָּֽאַמָּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_10">הַיְרִיעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_11">הָאֶחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_12">מִדָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_13">אַחַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_14">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18067">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_9_15">הַיְרִיעֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18069">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_1">וַיְחַבֵּר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18072">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_3">חֲמֵ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_4">הַיְרִיעֹ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_5">אַחַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18077">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_7">אֶחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_8">וְחָמֵ֤שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_9">יְרִיעֹת֙</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_36_10_10">חִבַּ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_11">אַחַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18084">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_10_13">אֶחָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18086">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_11" data-pasuk-now="16"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_1">וַיַּ֜עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_2">לֻלְאֹ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_3">תְּכֵ֗לֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_4">עַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_5">שְׂפַ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_6">הַיְרִיעָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_7">הָאֶחָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_8">מִקָּצָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_9">בַּמַּחְבָּ֑רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_10">כֵּ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_11">עָשָׂה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_12">בִּשְׂפַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_13">הַיְרִיעָ֔ה</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_11_14">הַקִּ֣יצוֹנָ֔ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_11_15">בַּמַּחְבֶּ֖רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_11_16">הַשֵּׁנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18103">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_12" data-pasuk-now="18"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_1">חֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_2">לֻלָאֹ֗ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_3">עָשָׂה֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_4">בַּיְרִיעָ֣ה</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_12_5">הָאֶחָת֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_6">וַחֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_7">לֻלָאֹ֗ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_8">עָשָׂה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_9">בִּקְצֵ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_10">הַיְרִיעָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_11">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_12">בַּמַּחְבֶּ֣רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_13">הַשֵּׁנִ֑ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_14">מַקְבִּילֹת֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_36_12_15">הַלֻּ֣לָאֹ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_16">אַחַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18121">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_12_18">אֶחָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18123">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_13" data-pasuk-now="14"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_1">וַיַּ֕עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_2">חֲמִשִּׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_3">קַרְסֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_4">זָהָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_5">וַיְחַבֵּ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18130">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_7">הַיְרִיעֹ֜ת</span>
<span class="mila" data-lnk="3489662720" data-exlnk="0" id="M_36_13_8">אַחַ֤ת</span>
<span class="mila" data-lnk="1342179072" data-exlnk="0" id="M_36_13_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18134">־</span><span class="mila" data-lnk="4026533632" data-exlnk="0" id="M_36_13_10">אַחַת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_11">בַּקְּרָסִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_12">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_13">הַמִּשְׁכָּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_13_14">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18141">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="18142"> פ </span>
</span>
<br /><span id="PS_36_14" data-pasuk-now="11"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_1">וַיַּ֙עַשׂ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_2">יְרִיעֹ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_3">עִזִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_4">לְאֹ֖הֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18148">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_6">הַמִּשְׁכָּ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_7">עַשְׁתֵּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18151">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_8">עֶשְׂרֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_9">יְרִיעֹ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_10">עָשָׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_14_11">אֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18156">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_15" data-pasuk-now="15"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_15_1">אֹ֜רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_2">הַיְרִיעָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_3">הָאַחַ֗ת</span>
<span class="mila" data-lnk="1879049472" data-exlnk="0" id="M_36_15_4">שְׁלֹשִׁים֙</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_15_5">בָּֽאַמָּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_6">וְאַרְבַּ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_7">אַמּ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_8">רֹ֖חַב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_9">הַיְרִיעָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_10">הָאֶחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_11">מִדָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_12">אַחַ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_13">לְעַשְׁתֵּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_14">עֶשְׂרֵ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_15_15">יְרִיעֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18172">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_1">וַיְחַבֵּ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18175">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_36_16_3">חֲמֵ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_4">הַיְרִיעֹ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_5">לְבָ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18180">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_36_16_7">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_8">הַיְרִיעֹ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_16_9">לְבָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18184">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_17" data-pasuk-now="16"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_1">וַיַּ֜עַשׂ</span>
<span class="mila" data-lnk="1073742848" data-exlnk="0" id="M_36_17_2">לֻלָאֹ֣ת</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_36_17_3">חֲמִשִּׁ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_4">עַ֚ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_5">שְׂפַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_6">הַיְרִיעָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_7">הַקִּיצֹנָ֖ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_17_8">בַּמַּחְבָּ֑רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_9">וַחֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_10">לֻלָאֹ֗ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_11">עָשָׂה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18197">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_13">שְׂפַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_14">הַיְרִיעָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_15">הַחֹבֶ֖רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_17_16">הַשֵּׁנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18202">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_18" data-pasuk-now="9"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_1">וַיַּ֛עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_2">קַרְסֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_3">נְחֹ֖שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_4">חֲמִשִּׁ֑ים</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_36_18_5">לְחַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18209">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_7">הָאֹ֖הֶל</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_18_8">לִהְיֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_18_9">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18213">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_19" data-pasuk-now="10"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_1">וַיַּ֤עַשׂ</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_19_2">מִכְסֶה֙</span>
<span class="mila" data-lnk="4026532616" data-exlnk="0" id="M_36_19_3">לָאֹ֔הֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_4">עֹרֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_5">אֵילִ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_6">מְאָדָּמִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_7">וּמִכְסֵ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_8">עֹרֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_9">תְּחָשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_19_10">מִלְמָֽעְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18225">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="18226">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[חמישי]</span>
<span id="PS_36_20" data-pasuk-now="7"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18229">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_3">הַקְּרָשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_4">לַמִּשְׁכָּ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_5">עֲצֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_6">שִׁטִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_20_7">עֹמְדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18235">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_21" data-pasuk-now="10"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_1">עֶ֥שֶׂר</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_36_21_2">אַמֹּ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_3">אֹ֣רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_4">הַקָּ֑רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_5">וְאַמָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_6">וַחֲצִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_7">הָאַמָּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_8">רֹ֖חַב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_9">הַקֶּ֥רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_21_10">הָאֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18246">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_22" data-pasuk-now="13"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_1">שְׁתֵּ֣י</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_22_2">יָדֹ֗ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_3">לַקֶּ֙רֶשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_4">הָאֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_5">מְשֻׁ֨לָּבֹ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_6">אַחַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18254">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_8">אֶחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_9">כֵּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_10">עָשָׂ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_11">לְכֹ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_12">קַרְשֵׁ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_22_13">הַמִּשְׁכָּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18261">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_23" data-pasuk-now="9"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18264">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_3">הַקְּרָשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_4">לַמִּשְׁכָּ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_5">עֶשְׂרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_6">קְרָשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_7">לִפְאַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_8">נֶ֥גֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_23_9">תֵּימָֽנָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18272">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_24" data-pasuk-now="21"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_1">וְאַרְבָּעִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_2">אַדְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18275">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_3">כֶ֔סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_4">עָשָׂ֕ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_5">תַּ֖חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_6">עֶשְׂרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_7">הַקְּרָשִׁ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_8">שְׁנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_9">אֲדָנִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_10">תַּֽחַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18284">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_11">הַקֶּ֤רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_12">הָאֶחָד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_13">לִשְׁתֵּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_14">יְדֹתָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_15">וּשְׁנֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_16">אֲדָנִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_17">תַּֽחַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18292">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_18">הַקֶּ֥רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_19">הָאֶחָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_20">לִשְׁתֵּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_24_21">יְדֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18297">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_25" data-pasuk-now="8"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_25_1">וּלְצֶ֧לַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_25_2">הַמִּשְׁכָּ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_25_3">הַשֵּׁנִ֖ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_25_4">לִפְאַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_25_5">צָפ֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_25_6">עָשָׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_25_7">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_25_8">קְרָשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18306">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_1">וְאַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_2">אַדְנֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_3">כָּ֑סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_4">שְׁנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_5">אֲדָנִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_6">תַּ֚חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_7">הַקֶּ֣רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_8">הָאֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_9">וּשְׁנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_10">אֲדָנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_11">תַּ֖חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_12">הַקֶּ֥רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_26_13">הָאֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18320">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_27" data-pasuk-now="6"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_27_1">וּֽלְיַרְכְּתֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_2">הַמִּשְׁכָּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_3">יָ֑מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_4">עָשָׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_5">שִׁשָּׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_27_6">קְרָשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18327">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_28" data-pasuk-now="6"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_1">וּשְׁנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_2">קְרָשִׁים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_3">עָשָׂ֔ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_28_4">לִמְקֻצְעֹ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_5">הַמִּשְׁכָּ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_28_6">בַּיַּרְכָתָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18334">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_29" data-pasuk-now="16"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_1">וְהָי֣וּ</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_29_2">תוֹאֲמִם֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_3">מִלְּמַטָּה֒</span>
<span class="mila" data-lnk="4026533632" data-exlnk="0" id="M_36_29_4">וְיַחְדָּ֗ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_5">יִהְי֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_6">תַמִּים֙</span>
<span class="mila" data-lnk="1879049984" data-exlnk="0" id="M_36_29_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18342">־</span><span class="mila" data-lnk="4026533632" data-exlnk="0" id="M_36_29_8">רֹאשׁ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18345">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_10">הַטַּבַּ֖עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_11">הָאֶחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_12">כֵּ֚ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_13">עָשָׂ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_14">לִשְׁנֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_15">לִשְׁנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_29_16">הַמִּקְצֹעֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18353">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_30" data-pasuk-now="15"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_1">וְהָיוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_2">שְׁמֹנָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_3">קְרָשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_4">וְאַדְנֵיהֶ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_5">כֶּ֔סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_6">שִׁשָּׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_7">עָשָׂ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_8">אֲדָנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_9">שְׁנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_10">אֲדָנִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_11">שְׁנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_12">אֲדָנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_13">תַּ֖חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_14">הַקֶּ֥רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_30_15">הָאֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18369">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_31" data-pasuk-now="9"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_36_31_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_36_31_2">בְּרִיחֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_31_3">עֲצֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_31_4">שִׁטִּ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_31_5">חֲמִשָּׁ֕ה</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_36_31_6">לְקַרְשֵׁ֥י</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_36_31_7">צֶלַע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18377">־</span><span class="mila" data-lnk="3221227008" data-exlnk="0" id="M_36_31_8">הַמִּשְׁכָּ֖ן</span>
<span class="mila" data-lnk="3221227008" data-exlnk="0" id="M_36_31_9">הָאֶחָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18380">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_32" data-pasuk-now="12"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_1">וַחֲמִשָּׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_2">בְרִיחִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_3">לְקַרְשֵׁ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_4">צֶלַע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18385">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_5">הַמִּשְׁכָּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_6">הַשֵּׁנִ֑ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_7">וַחֲמִשָּׁ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_8">בְרִיחִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_9">לְקַרְשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_10">הַמִּשְׁכָּ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_11">לַיַּרְכָתַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_32_12">יָֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18394">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_33" data-pasuk-now="11"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_1">וַיַּ֖עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18397">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_36_33_3">הַבְּרִ֣יחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_4">הַתִּיכֹ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_5">לִבְרֹחַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_6">בְּת֣וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_7">הַקְּרָשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_8">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18404">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_9">הַקָּצֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18407">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_33_11">הַקָּצֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18409">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_34" data-pasuk-now="14"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_34_1">וְֽאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18411">־</span><span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_34_2">הַקְּרָשִׁ֞ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_3">צִפָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_4">זָהָ֗ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18416">־</span><span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_36_34_6">טַבְּעֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_7">עָשָׂ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_8">זָהָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_9">בָּתִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_10">לַבְּרִיחִ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_11">וַיְצַ֥ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18424">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_13">הַבְּרִיחִ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_34_14">זָהָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18427">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_35" data-pasuk-now="14"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_1">וַיַּ֙עַשׂ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18430">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_3">הַפָּרֹ֔כֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_4">תְּכֵ֧לֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_5">וְאַרְגָּמָ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_6">וְתוֹלַ֥עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_7">שָׁנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_8">וְשֵׁ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_9">מָשְׁזָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_10">מַעֲשֵׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_11">חֹשֵׁ֛ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_12">עָשָׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_13">אֹתָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_35_14">כְּרֻבִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18443">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_36" data-pasuk-now="14"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_1">וַיַּ֣עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_2">לָ֗הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_3">אַרְבָּעָה֙</span>
<span class="mila" data-lnk="4026533632" data-exlnk="0" id="M_36_36_4">עַמּוּדֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_5">שִׁטִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_6">וַיְצַפֵּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_7">זָהָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_8">וָוֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_9">זָהָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_10">וַיִּצֹ֣ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_11">לָהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_12">אַרְבָּעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_13">אַדְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18457">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_36_14">כָֽסֶף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18459">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_37" data-pasuk-now="12"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_1">וַיַּ֤עַשׂ</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_36_37_2">מָסָךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_3">לְפֶ֣תַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_4">הָאֹ֔הֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_5">תְּכֵ֧לֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_6">וְאַרְגָּמָ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_7">וְתוֹלַ֥עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_8">שָׁנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_9">וְשֵׁ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_10">מָשְׁזָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_11">מַעֲשֵׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_37_12">רֹקֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18472">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_36_38" data-pasuk-now="12"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="1073742848" data-exlnk="0" id="M_36_38_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18474">־</span><span class="mila" data-lnk="4026533632" data-exlnk="0" id="M_36_38_2">עַמּוּדָ֤יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_3">חֲמִשָּׁה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18478">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_5">וָ֣וֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_6">וְצִפָּ֧ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_36_38_7">רָאשֵׁיהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_8">וַחֲשֻׁקֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_9">זָהָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_10">וְאַדְנֵיהֶ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_11">חֲמִשָּׁ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_36_38_12">נְחֹֽשֶׁת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18488">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="18489"> פ </span>
</span>
<br /></p>