<p id="PR_6" data-perek-now="404" data-perek-nops="30"><span class="perek-header">פרק ו</span>
<br /><span id="PS_6_1" data-pasuk-now="17"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_1_2">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_1_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2138">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_1_4">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="1342178581" data-exlnk="0" id="M_6_1_5">עַתָּ֣ה</span>
<span class="mila" data-lnk="4026533141" data-exlnk="0" id="M_6_1_6">תִרְאֶ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_1_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_1_8">אֶעֱשֶׂ֖ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_1_9">לְפַרְעֹ֑ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_1_10">כִּ֣י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_1_11">בְיָ֤ד</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_1_12">חֲזָקָה֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_1_13">יְשַׁלְּחֵ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_1_14">וּבְיָ֣ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_1_15">חֲזָקָ֔ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_1_16">יְגָרְשֵׁ֖ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_1_17">מֵאַרְצֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2154">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2155">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parasha-header">{פרשת וארא}</span>
<span id="PS_6_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="805306671" data-exlnk="0" id="M_6_2_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="805306667" data-exlnk="0" id="M_6_2_2">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_6_2_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2159">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_6_2_4">מֹשֶׁ֑ה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_6_2_5">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_6_2_6">אֵלָ֖יו</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_6_2_7">אֲנִ֥י</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_6_2_8">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2165">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221226553" data-exlnk="0" id="M_6_3_1">וָאֵרָ֗א</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_6_3_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2168">־</span><span class="mila" data-lnk="176" data-exlnk="0" id="M_6_3_3">אַבְרָהָ֛ם</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_6_3_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2171">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_6_3_5">יִצְחָ֥ק</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_6_3_6">וְאֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2174">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_6_3_7">יַעֲקֹ֖ב</span>
<span class="mila" data-lnk="3221226747" data-exlnk="0" id="M_6_3_8">בְּאֵ֣ל</span>
<span class="mila" data-lnk="3221226747" data-exlnk="0" id="M_6_3_9">שַׁדָּ֑י</span>
<span class="mila" data-lnk="3221226747" data-exlnk="0" id="M_6_3_10">וּשְׁמִ֣י</span>
<span class="mila" data-lnk="3221226747" data-exlnk="0" id="M_6_3_11">יְהוָ֔ה</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_3_12">לֹ֥א</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_6_3_13">נוֹדַ֖עְתִּי</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_6_3_14">לָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2183">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_4" data-pasuk-now="16"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="805306653" data-exlnk="0" id="M_6_4_1">וְגַ֨ם</span>
<span class="mila" data-lnk="805306653" data-exlnk="0" id="M_6_4_2">הֲקִמֹ֤תִי</span>
<span class="mila" data-lnk="153" data-exlnk="0" id="M_6_4_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2187">־</span><span class="mila" data-lnk="153" data-exlnk="0" id="M_6_4_4">בְּרִיתִי֙</span>
<span class="mila" data-lnk="805306768" data-exlnk="0" id="M_6_4_5">אִתָּ֔ם</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_6_4_6">לָתֵ֥ת</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_6_4_7">לָהֶ֖ם</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_6_4_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2193">־</span><span class="mila" data-lnk="223" data-exlnk="0" id="M_6_4_9">אֶ֣רֶץ</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_6_4_10">כְּנָ֑עַן</span>
<span class="mila" data-lnk="208" data-exlnk="0" id="M_6_4_11">אֵ֛ת</span>
<span class="mila" data-lnk="212" data-exlnk="0" id="M_6_4_12">אֶ֥רֶץ</span>
<span class="mila" data-lnk="4026533200" data-exlnk="0" id="M_6_4_13">מְגֻרֵיהֶ֖ם</span>
<span class="mila" data-lnk="212" data-exlnk="0" id="M_6_4_14">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2200">־</span><span class="mila" data-lnk="192" data-exlnk="0" id="M_6_4_15">גָּ֥רוּ</span>
<span class="mila" data-lnk="192" data-exlnk="0" id="M_6_4_16">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2203">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026533273" data-exlnk="0" id="M_6_5_1">וְגַ֣ם׀</span>
<span class="mila" data-lnk="268435865" data-exlnk="0" id="M_6_5_2">אֲנִ֣י</span>
<span class="mila" data-lnk="805306833" data-exlnk="0" id="M_6_5_3">שָׁמַ֗עְתִּי</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_6_5_4">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2208">־</span><span class="mila" data-lnk="209" data-exlnk="0" id="M_6_5_5">נַאֲקַת֙</span>
<span class="mila" data-lnk="209" data-exlnk="0" id="M_6_5_6">בְּנֵ֣י</span>
<span class="mila" data-lnk="209" data-exlnk="0" id="M_6_5_7">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_5_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_5_9">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="3221226497" data-exlnk="0" id="M_6_5_10">מַעֲבִדִ֣ים</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_5_11">אֹתָ֑ם</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_6_5_12">וָאֶזְכֹּ֖ר</span>
<span class="mila" data-lnk="208" data-exlnk="0" id="M_6_5_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2218">־</span><span class="mila" data-lnk="208" data-exlnk="0" id="M_6_5_14">בְּרִיתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2220">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1342178713" data-exlnk="0" id="M_6_6_1">לָכֵ֞ן</span>
<span class="mila" data-lnk="4026533265" data-exlnk="0" id="M_6_6_2">אֱמֹ֥ר</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_6_6_3">לִבְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2224">־</span><span class="mila" data-lnk="129" data-exlnk="0" id="M_6_6_4">יִשְׂרָאֵל֘</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_6_6_5">אֲנִ֣י</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_6_6_6">יְהוָה֒</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_6_6_7">וְהוֹצֵאתִ֣י</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_6_6_8">אֶתְכֶ֗ם</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_6_6_9">מִתַּ֙חַת֙</span>
<span class="mila" data-lnk="4026533169" data-exlnk="0" id="M_6_6_10">סִבְלֹ֣ת</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_6_6_11">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_6_6_12">וְהִצַּלְתִּ֥י</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_6_6_13">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_6_6_14">מֵעֲבֹדָתָ֑ם</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_6_6_15">וְגָאַלְתִּ֤י</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_6_6_16">אֶתְכֶם֙</span>
<span class="mila" data-lnk="4026533688" data-exlnk="0" id="M_6_6_17">בִּזְר֣וֹעַ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_6_6_18">נְטוּיָ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_6_19">וּבִשְׁפָטִ֖ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_6_20">גְּדֹלִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2242">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_7" data-pasuk-now="17"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_6_7_1">וְלָקַחְתִּ֨י</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_6_7_2">אֶתְכֶ֥ם</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_6_7_3">לִי֙</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_6_7_4">לְעָ֔ם</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_6_7_5">וְהָיִ֥יתִי</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_6_7_6">לָכֶ֖ם</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_6_7_7">לֵאלֹהִ֑ים</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_6_7_8">וִידַעְתֶּ֗ם</span>
<span class="mila" data-lnk="268435888" data-exlnk="0" id="M_6_7_9">כִּ֣י</span>
<span class="mila" data-lnk="268435888" data-exlnk="0" id="M_6_7_10">אֲנִ֤י</span>
<span class="mila" data-lnk="268435888" data-exlnk="0" id="M_6_7_11">יְהוָה֙</span>
<span class="mila" data-lnk="805306672" data-exlnk="0" id="M_6_7_12">אֱלֹ֣הֵיכֶ֔ם</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_6_7_13">הַמּוֹצִ֣יא</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_6_7_14">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_6_7_15">מִתַּ֖חַת</span>
<span class="mila" data-lnk="4026533152" data-exlnk="0" id="M_6_7_16">סִבְל֥וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_6_7_17">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2260">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_8" data-pasuk-now="19"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_6_8_1">וְהֵבֵאתִ֤י</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_8_2">אֶתְכֶם֙</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_6_8_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2264">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_6_8_4">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_6_8_5">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="4026533225" data-exlnk="0" id="M_6_8_6">נָשָׂ֙אתִי֙</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_6_8_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2269">־</span><span class="mila" data-lnk="105" data-exlnk="0" id="M_6_8_8">יָדִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_9">לָתֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_10">אֹתָ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_11">לְאַבְרָהָ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_12">לְיִצְחָ֖ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_13">וּֽלְיַעֲקֹ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_14">וְנָתַתִּ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_15">אֹתָ֥הּ</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_6_8_16">לָכֶ֛ם</span>
<span class="mila" data-lnk="805306768" data-exlnk="0" id="M_6_8_17">מוֹרָשָׁ֖ה</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_6_8_18">אֲנִ֥י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_6_8_19">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2282">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="805306696" data-exlnk="0" id="M_6_9_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="805306816" data-exlnk="0" id="M_6_9_2">מֹשֶׁ֛ה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_6_9_3">כֵּ֖ן</span>
<span class="mila" data-lnk="208" data-exlnk="0" id="M_6_9_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2287">־</span><span class="mila" data-lnk="192" data-exlnk="0" id="M_6_9_5">בְּנֵ֣י</span>
<span class="mila" data-lnk="192" data-exlnk="0" id="M_6_9_6">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_6_9_7">וְלֹ֤א</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_9_8">שָֽׁמְעוּ֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_9_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2293">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_6_9_10">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="1073743009" data-exlnk="0" id="M_6_9_11">מִקֹּ֣צֶר</span>
<span class="mila" data-lnk="2147484849" data-exlnk="0" id="M_6_9_12">ר֔וּחַ</span>
<span class="mila" data-lnk="3221226680" data-exlnk="0" id="M_6_9_13">וּמֵעֲבֹדָ֖ה</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_6_9_14">קָשָֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2300">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2301"> פ </span>
</span>
<br /><span id="PS_6_10" data-pasuk-now="5"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_10_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_6_10_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_6_10_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2305">־</span><span class="mila" data-lnk="168" data-exlnk="0" id="M_6_10_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_10_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2308">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_11" data-pasuk-now="11"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_6_11_1">בֹּ֣א</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_6_11_2">דַבֵּ֔ר</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_6_11_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2312">־</span><span class="mila" data-lnk="192" data-exlnk="0" id="M_6_11_4">פַּרְעֹ֖ה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_6_11_5">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_6_11_6">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="3221226624" data-exlnk="0" id="M_6_11_7">וִישַׁלַּ֥ח</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_6_11_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2318">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_6_11_9">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2320">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_6_11_10">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_6_11_11">מֵאַרְצֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2323">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_12" data-pasuk-now="17"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="1879049480" data-exlnk="0" id="M_6_12_1">וַיְדַבֵּ֣ר</span>
<span class="mila" data-lnk="2952791424" data-exlnk="0" id="M_6_12_2">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_3">לִפְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_4">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_5">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_6_12_6">הֵ֤ן</span>
<span class="mila" data-lnk="240" data-exlnk="0" id="M_6_12_7">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2331">־</span><span class="mila" data-lnk="240" data-exlnk="0" id="M_6_12_8">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="248" data-exlnk="0" id="M_6_12_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2334">־</span><span class="mila" data-lnk="232" data-exlnk="0" id="M_6_12_10">שָׁמְע֣וּ</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_6_12_11">אֵלַ֔י</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_6_12_12">וְאֵיךְ֙</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_6_12_13">יִשְׁמָעֵ֣נִי</span>
<span class="mila" data-lnk="249" data-exlnk="0" id="M_6_12_14">פַרְעֹ֔ה</span>
<span class="mila" data-lnk="1073742972" data-exlnk="0" id="M_6_12_15">וַאֲנִ֖י</span>
<span class="mila" data-lnk="3221226749" data-exlnk="0" id="M_6_12_16">עֲרַ֥ל</span>
<span class="mila" data-lnk="253" data-exlnk="0" id="M_6_12_17">שְׂפָתָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2344">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2345"> פ </span>
</span>
<br /><span id="PS_6_13" data-pasuk-now="20"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026533149" data-exlnk="0" id="M_6_13_1">וַיְדַבֵּ֣ר</span>
<span class="mila" data-lnk="4026533205" data-exlnk="0" id="M_6_13_2">יְהוָה֘</span>
<span class="mila" data-lnk="536871381" data-exlnk="0" id="M_6_13_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2349">־</span><span class="mila" data-lnk="536871253" data-exlnk="0" id="M_6_13_4">מֹשֶׁ֣ה</span>
<span class="mila" data-lnk="536871253" data-exlnk="0" id="M_6_13_5">וְאֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2352">־</span><span class="mila" data-lnk="536871261" data-exlnk="0" id="M_6_13_6">אַהֲרֹן֒</span>
<span class="mila" data-lnk="4026532669" data-exlnk="0" id="M_6_13_7">וַיְצַוֵּם֙</span>
<span class="mila" data-lnk="249" data-exlnk="0" id="M_6_13_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2356">־</span><span class="mila" data-lnk="121" data-exlnk="0" id="M_6_13_9">בְּנֵ֣י</span>
<span class="mila" data-lnk="249" data-exlnk="0" id="M_6_13_10">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_6_13_11">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2360">־</span><span class="mila" data-lnk="201" data-exlnk="0" id="M_6_13_12">פַּרְעֹ֖ה</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_6_13_13">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="201" data-exlnk="0" id="M_6_13_14">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_6_13_15">לְהוֹצִ֥יא</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_6_13_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2366">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_6_13_17">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2368">־</span><span class="mila" data-lnk="145" data-exlnk="0" id="M_6_13_18">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_19">מֵאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_20">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2373">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2374">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שני]</span>
<span id="PS_6_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_14_1">אֵ֖לֶּה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_6_14_2">רָאשֵׁ֣י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_6_14_3">בֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2378">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_6_14_4">אֲבֹתָ֑ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_14_5">בְּנֵ֨י</span>
<span class="mila" data-lnk="152" data-exlnk="0" id="M_6_14_6">רְאוּבֵ֜ן</span>
<span class="mila" data-lnk="4026533760" data-exlnk="0" id="M_6_14_7">בְּכֹ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_8">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_9">חֲנ֤וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_10">וּפַלּוּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_11">חֶצְרֹ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_12">וְכַרְמִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_13">אֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_14">מִשְׁפְּחֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_15">רְאוּבֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2391">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_15_1">וּבְנֵ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_6_15_2">שִׁמְע֗וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_3">יְמוּאֵ֨ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_4">וְיָמִ֤ין</span>
<span class="mila" data-lnk="4026533128" data-exlnk="0" id="M_6_15_5">וְאֹ֙הַד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_6">וְיָכִ֣ין</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_15_7">וְצֹ֔חַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_8">וְשָׁא֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2401">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_10">הַֽכְּנַעֲנִ֑ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_11">אֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_12">מִשְׁפְּחֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_13">שִׁמְעֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2406">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_16" data-pasuk-now="15"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3489662208" data-exlnk="0" id="M_6_16_1">וְאֵ֨לֶּה</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_6_16_2">שְׁמ֤וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_16_3">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2410">־</span><span class="mila" data-lnk="152" data-exlnk="0" id="M_6_16_4">לֵוִי֙</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_6_16_5">לְתֹ֣לְדֹתָ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_16_6">גֵּרְשׁ֕וֹן</span>
<span class="mila" data-lnk="268435720" data-exlnk="0" id="M_6_16_7">וּקְהָ֖ת</span>
<span class="mila" data-lnk="536871176" data-exlnk="0" id="M_6_16_8">וּמְרָרִ֑י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_16_9">וּשְׁנֵי֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_6_16_10">חַיֵּ֣י</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_6_16_11">לֵוִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_16_12">שֶׁ֧בַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_16_13">וּשְׁלֹשִׁ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_16_14">וּמְאַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_16_15">שָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2423">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_17" data-pasuk-now="5"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_17_1">בְּנֵ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_17_2">גֵרְשׁ֛וֹן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_17_3">לִבְנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_4">וְשִׁמְעִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_5">לְמִשְׁפְּחֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2429">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_18" data-pasuk-now="13"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="1879049498" data-exlnk="0" id="M_6_18_1">וּבְנֵ֣י</span>
<span class="mila" data-lnk="3758097810" data-exlnk="0" id="M_6_18_2">קֳהָ֔ת</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_6_18_3">עַמְרָ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_18_4">וְיִצְהָ֔ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_18_5">וְחֶבְר֖וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_18_6">וְעֻזִּיאֵ֑ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_18_7">וּשְׁנֵי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_18_8">חַיֵּ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_18_9">קֳהָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_18_10">שָׁלֹ֧שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_18_11">וּשְׁלֹשִׁ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_18_12">וּמְאַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_18_13">שָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2443">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_19_1">וּבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_2">מְרָרִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_3">מַחְלִ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_6_19_4">וּמוּשִׁ֑י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_19_5">אֵ֛לֶּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_19_6">מִשְׁפְּחֹ֥ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_19_7">הַלֵּוִ֖י</span>
<span class="mila" data-lnk="4026533128" data-exlnk="0" id="M_6_19_8">לְתֹלְדֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2452">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_20" data-pasuk-now="20"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_1">וַיִּקַּ֨ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_2">עַמְרָ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2456">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_6_20_4">יוֹכֶ֤בֶד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_20_5">דֹּֽדָתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_6">ל֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_7">לְאִשָּׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_8">וַתֵּ֣לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_9">ל֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_10">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2464">־</span><span class="mila" data-lnk="144" data-exlnk="0" id="M_6_20_11">אַהֲרֹ֖ן</span>
<span class="mila" data-lnk="3489662208" data-exlnk="0" id="M_6_20_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2467">־</span><span class="mila" data-lnk="4026533328" data-exlnk="0" id="M_6_20_13">מֹשֶׁ֑ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_20_14">וּשְׁנֵי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_20_15">חַיֵּ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_20_16">עַמְרָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_17">שֶׁ֧בַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_18">וּשְׁלֹשִׁ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_19">וּמְאַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_20">שָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2476">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_21" data-pasuk-now="5"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_21_1">וּבְנֵ֖י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_21_2">יִצְהָ֑ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_21_3">קֹ֥רַח</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_6_21_4">וָנֶ֖פֶג</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_21_5">וְזִכְרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2482">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_22" data-pasuk-now="5"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_22_1">וּבְנֵ֖י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_22_2">עֻזִּיאֵ֑ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_22_3">מִישָׁאֵ֥ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_22_4">וְאֶלְצָפָ֖ן</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_6_22_5">וְסִתְרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2488">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_23" data-pasuk-now="20"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_23_1">וַיִּקַּ֨ח</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_6_23_2">אַהֲרֹ֜ן</span>
<span class="mila" data-lnk="4026533152" data-exlnk="0" id="M_6_23_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2492">־</span><span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_6_23_4">אֱלִישֶׁ֧בַע</span>
<span class="mila" data-lnk="268435744" data-exlnk="0" id="M_6_23_5">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2495">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_6_23_6">עַמִּינָדָ֛ב</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_6_23_7">אֲח֥וֹת</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_6_23_8">נַחְשׁ֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_23_9">ל֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_23_10">לְאִשָּׁ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_23_11">וַתֵּ֣לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_23_12">ל֗וֹ</span>
<span class="mila" data-lnk="268435712" data-exlnk="0" id="M_6_23_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2504">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_23_14">נָדָב֙</span>
<span class="mila" data-lnk="268435712" data-exlnk="0" id="M_6_23_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2507">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_23_16">אֲבִיה֔וּא</span>
<span class="mila" data-lnk="268435712" data-exlnk="0" id="M_6_23_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2510">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_6_23_18">אֶלְעָזָ֖ר</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_6_23_19">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2513">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_23_20">אִיתָמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2515">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_24" data-pasuk-now="8"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_24_1">וּבְנֵ֣י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_24_2">קֹ֔רַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_3">אַסִּ֥יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_4">וְאֶלְקָנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_5">וַאֲבִיאָסָ֑ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_6">אֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_7">מִשְׁפְּחֹ֥ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_24_8">הַקָּרְחִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2524">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_25" data-pasuk-now="18"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_25_1">וְאֶלְעָזָ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_2">בֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2527">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_6_25_3">אַהֲרֹ֜ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_25_4">לָקַֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2530">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_5">ל֨וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_25_6">מִבְּנ֤וֹת</span>
<span class="mila" data-lnk="3221226505" data-exlnk="0" id="M_6_25_7">פּֽוּטִיאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_8">ל֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_9">לְאִשָּׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_10">וַתֵּ֥לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_11">ל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2539">־</span><span class="mila" data-lnk="152" data-exlnk="0" id="M_6_25_13">פִּֽינְחָ֑ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_14">אֵ֗לֶּה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_25_15">רָאשֵׁ֛י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_25_16">אֲב֥וֹת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_25_17">הַלְוִיִּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_18">לְמִשְׁפְּחֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2546">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_26" data-pasuk-now="15"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="805306703" data-exlnk="0" id="M_6_26_1">ה֥וּא</span>
<span class="mila" data-lnk="1342178639" data-exlnk="0" id="M_6_26_2">אַהֲרֹ֖ן</span>
<span class="mila" data-lnk="4026533199" data-exlnk="0" id="M_6_26_3">וּמֹשֶׁ֑ה</span>
<span class="mila" data-lnk="805306626" data-exlnk="0" id="M_6_26_4">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="268435714" data-exlnk="0" id="M_6_26_5">אָמַ֤ר</span>
<span class="mila" data-lnk="268435714" data-exlnk="0" id="M_6_26_6">יְהוָה֙</span>
<span class="mila" data-lnk="536871170" data-exlnk="0" id="M_6_26_7">לָהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_8">הוֹצִ֜יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2556">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_6_26_10">בְּנֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_11">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_12">מֵאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_13">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_26_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2562">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_6_26_15">צִבְאֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2564">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_27" data-pasuk-now="14"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_6_27_1">הֵ֗ם</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_6_27_2">הַֽמְדַבְּרִים֙</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_6_27_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2568">־</span><span class="mila" data-lnk="80" data-exlnk="0" id="M_6_27_4">פַּרְעֹ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_5">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2571">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_6">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_7">לְהוֹצִ֥יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2575">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_6_27_9">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2577">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_10">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_27_11">מִמִּצְרָ֑יִם</span>
<span class="mila" data-lnk="4026533123" data-exlnk="0" id="M_6_27_12">ה֥וּא</span>
<span class="mila" data-lnk="2415920459" data-exlnk="0" id="M_6_27_13">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="536871179" data-exlnk="0" id="M_6_27_14">וְאַהֲרֹֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2583">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_28" data-pasuk-now="8"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_6_28_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="1073742889" data-exlnk="0" id="M_6_28_2">בְּי֨וֹם</span>
<span class="mila" data-lnk="2147484713" data-exlnk="0" id="M_6_28_3">דִּבֶּ֧ר</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_6_28_4">יְהוָ֛ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_28_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2589">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_6_28_6">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_28_7">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_28_8">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2594">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2595">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שלישי]</span>
<span id="PS_6_29" data-pasuk-now="18"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_6_29_1">וַיְדַבֵּ֧ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_6_29_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2599">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_5">לֵּאמֹ֖ר</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_29_6">אֲנִ֣י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_29_7">יְהוָ֑ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_29_8">דַּבֵּ֗ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_29_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2606">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_6_29_10">פַּרְעֹה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_11">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_12">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_13">אֵ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2612">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1342178560" data-exlnk="0" id="M_6_29_16">אֲנִ֖י</span>
<span class="mila" data-lnk="1342178560" data-exlnk="0" id="M_6_29_17">דֹּבֵ֥ר</span>
<span class="mila" data-lnk="2684355840" data-exlnk="0" id="M_6_29_18">אֵלֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2617">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_30" data-pasuk-now="12"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_6_30_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_30_2">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_30_3">לִפְנֵ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_30_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="3489661700" data-exlnk="0" id="M_6_30_5">הֵ֤ן</span>
<span class="mila" data-lnk="3758097156" data-exlnk="0" id="M_6_30_6">אֲנִי֙</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_30_7">עֲרַ֣ל</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_30_8">שְׂפָתַ֔יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_30_9">וְאֵ֕יךְ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_6_30_10">יִשְׁמַ֥ע</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_30_11">אֵלַ֖י</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_6_30_12">פַּרְעֹֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2631">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2632"> פ </span>
</span>
<br /></p>