<p id="PR_3" data-perek-now="395" data-perek-nops="22"><span class="perek-header">פרק ג</span>
<br /><span class="parashia-header">[רביעי]</span>
<span id="PS_3_1" data-pasuk-now="19"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026533256" data-exlnk="0" id="M_3_1_1">וּמֹשֶׁ֗ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_1_2">הָיָ֥ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_1_3">רֹעֶ֛ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_1_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="732">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_1_5">צֹ֛אן</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_3_1_6">יִתְר֥וֹ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_3_1_7">חֹתְנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_8">כֹּהֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_9">מִדְיָ֑ן</span>
<span class="mila" data-lnk="4026533312" data-exlnk="0" id="M_3_1_10">וַיִּנְהַ֤ג</span>
<span class="mila" data-lnk="192" data-exlnk="0" id="M_3_1_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="740">־</span><span class="mila" data-lnk="192" data-exlnk="0" id="M_3_1_12">הַצֹּאן֙</span>
<span class="mila" data-lnk="209" data-exlnk="0" id="M_3_1_13">אַחַ֣ר</span>
<span class="mila" data-lnk="209" data-exlnk="0" id="M_3_1_14">הַמִּדְבָּ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_15">וַיָּבֹ֛א</span>
<span class="mila" data-lnk="1879050113" data-exlnk="0" id="M_3_1_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="746">־</span><span class="mila" data-lnk="4026533825" data-exlnk="0" id="M_3_1_17">הַ֥ר</span>
<span class="mila" data-lnk="193" data-exlnk="0" id="M_3_1_18">הָאֱלֹהִ֖ים</span>
<span class="mila" data-lnk="3221226508" data-exlnk="0" id="M_3_1_19">חֹרֵֽבָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="750">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_2" data-pasuk-now="16"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="805306664" data-exlnk="0" id="M_3_2_1">וַ֠יֵּרָא</span>
<span class="mila" data-lnk="232" data-exlnk="0" id="M_3_2_2">מַלְאַ֨ךְ</span>
<span class="mila" data-lnk="228" data-exlnk="0" id="M_3_2_3">יְהוָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_2_4">אֵלָ֛יו</span>
<span class="mila" data-lnk="237" data-exlnk="0" id="M_3_2_5">בְּלַבַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="756">־</span><span class="mila" data-lnk="237" data-exlnk="0" id="M_3_2_6">אֵ֖שׁ</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_3_2_7">מִתּ֣וֹךְ</span>
<span class="mila" data-lnk="207" data-exlnk="0" id="M_3_2_8">הַסְּנֶ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_9">וַיַּ֗רְא</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_2_10">וְהִנֵּ֤ה</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_3_2_11">הַסְּנֶה֙</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_3_2_12">בֹּעֵ֣ר</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_3_2_13">בָּאֵ֔שׁ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_2_14">וְהַסְּנֶ֖ה</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_3_2_15">אֵינֶ֥נּוּ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_3_2_16">אֻכָּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="768">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_3_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_2">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="3221226625" data-exlnk="0" id="M_3_3_3">אָסֻֽרָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="772">־</span><span class="mila" data-lnk="129" data-exlnk="0" id="M_3_3_4">נָּ֣א</span>
<span class="mila" data-lnk="4026533249" data-exlnk="0" id="M_3_3_5">וְאֶרְאֶ֔ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_3_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="776">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_3_7">הַמַּרְאֶ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_3_8">הַגָּדֹ֖ל</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_3_9">הַזֶּ֑ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_3_10">מַדּ֖וּעַ</span>
<span class="mila" data-lnk="152" data-exlnk="0" id="M_3_3_11">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="782">־</span><span class="mila" data-lnk="152" data-exlnk="0" id="M_3_3_12">יִבְעַ֥ר</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_3_3_13">הַסְּנֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="785">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="805306766" data-exlnk="0" id="M_3_4_1">וַיַּ֥רְא</span>
<span class="mila" data-lnk="805306758" data-exlnk="0" id="M_3_4_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_4_3">כִּ֣י</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_4_4">סָ֣ר</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_4_5">לִרְא֑וֹת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_4_6">וַיִּקְרָא֩</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_4_7">אֵלָ֨יו</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_4_8">אֱלֹהִ֜ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_4_9">מִתּ֣וֹךְ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_4_10">הַסְּנֶ֗ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_4_11">וַיֹּ֛אמֶר</span>
<span class="mila" data-lnk="1342178560" data-exlnk="0" id="M_3_4_12">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="2952791296" data-exlnk="0" id="M_3_4_13">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_4_14">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="805306752" data-exlnk="0" id="M_3_4_15">הִנֵּֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="801">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_5" data-pasuk-now="17"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_5_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_3_5_2">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="804">־</span><span class="mila" data-lnk="172" data-exlnk="0" id="M_3_5_3">תִּקְרַ֣ב</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_3_5_4">הֲלֹ֑ם</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_3_5_5">שַׁל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="808">־</span><span class="mila" data-lnk="208" data-exlnk="0" id="M_3_5_6">נְעָלֶ֙יךָ֙</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_3_5_7">מֵעַ֣ל</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_3_5_8">רַגְלֶ֔יךָ</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_5_9">כִּ֣י</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_3_5_10">הַמָּק֗וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_5_11">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_5_12">אַתָּה֙</span>
<span class="mila" data-lnk="4026533152" data-exlnk="0" id="M_3_5_13">עוֹמֵ֣ד</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_5_14">עָלָ֔יו</span>
<span class="mila" data-lnk="1073742881" data-exlnk="0" id="M_3_5_15">אַדְמַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="819">־</span><span class="mila" data-lnk="3221226529" data-exlnk="0" id="M_3_5_16">קֹ֖דֶשׁ</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_3_5_17">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="822">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_6" data-pasuk-now="18"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_6_1">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_3_6_2">אָֽנֹכִי֙</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_3_6_3">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_3_6_4">אָבִ֔יךָ</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_6_5">אֱלֹהֵ֧י</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_3_6_6">אַבְרָהָ֛ם</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_6_7">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_3_6_8">יִצְחָ֖ק</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_6_9">וֵאלֹהֵ֣י</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_3_6_10">יַעֲקֹ֑ב</span>
<span class="mila" data-lnk="4026533192" data-exlnk="0" id="M_3_6_11">וַיַּסְתֵּ֤ר</span>
<span class="mila" data-lnk="200" data-exlnk="0" id="M_3_6_12">מֹשֶׁה֙</span>
<span class="mila" data-lnk="200" data-exlnk="0" id="M_3_6_13">פָּנָ֔יו</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_6_14">כִּ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_6_15">יָרֵ֔א</span>
<span class="mila" data-lnk="208" data-exlnk="0" id="M_3_6_16">מֵהַבִּ֖יט</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_6_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="840">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_3_6_18">הָאֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="842">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_7" data-pasuk-now="18"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_3_7_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_3_7_2">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026533260" data-exlnk="0" id="M_3_7_3">רָאֹ֥ה</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_7_4">רָאִ֛יתִי</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_7_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="848">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_7_6">עֳנִ֥י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_7_7">עַמִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_7_9">בְּמִצְרָ֑יִם</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_3_7_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="854">־</span><span class="mila" data-lnk="139" data-exlnk="0" id="M_3_7_11">צַעֲקָתָ֤ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_7_12">שָׁמַ֙עְתִּי֙</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_7_13">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_7_14">נֹֽגְשָׂ֔יו</span>
<span class="mila" data-lnk="193" data-exlnk="0" id="M_3_7_15">כִּ֥י</span>
<span class="mila" data-lnk="201" data-exlnk="0" id="M_3_7_16">יָדַ֖עְתִּי</span>
<span class="mila" data-lnk="193" data-exlnk="0" id="M_3_7_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="862">־</span><span class="mila" data-lnk="65" data-exlnk="0" id="M_3_7_18">מַכְאֹבָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="864">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_8" data-pasuk-now="25"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_3_8_1">וָאֵרֵ֞ד</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_3_8_2">לְהַצִּיל֣וֹ׀</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_8_3">מִיַּ֣ד</span>
<span class="mila" data-lnk="194" data-exlnk="0" id="M_3_8_4">מִצְרַ֗יִם</span>
<span class="mila" data-lnk="3221226520" data-exlnk="0" id="M_3_8_5">וּֽלְהַעֲלֹתוֹ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_6">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="871">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_7">הָאָ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_8">הַהִוא֒</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_8_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="875">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_3_8_10">אֶ֤רֶץ</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_3_8_11">טוֹבָה֙</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_8_12">וּרְחָבָ֔ה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_8_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="880">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_3_8_14">אֶ֛רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_8_15">זָבַ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_8_16">חָלָ֖ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_8_17">וּדְבָ֑שׁ</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_8_18">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="886">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_3_8_19">מְק֤וֹם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_8_20">הַֽכְּנַעֲנִי֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_8_21">וְהַ֣חִתִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_22">וְהָאֱמֹרִי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_8_23">וְהַפְּרִזִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_24">וְהַחִוִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_25">וְהַיְבוּסִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="894">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_3_9_1">וְעַתָּ֕ה</span>
<span class="mila" data-lnk="169" data-exlnk="0" id="M_3_9_2">הִנֵּ֛ה</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_3_9_3">צַעֲקַ֥ת</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_3_9_4">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="899">־</span><span class="mila" data-lnk="168" data-exlnk="0" id="M_3_9_5">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_3_9_6">בָּ֣אָה</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_3_9_7">אֵלָ֑י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_9_8">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="904">־</span><span class="mila" data-lnk="185" data-exlnk="0" id="M_3_9_9">רָאִ֙יתִי֙</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_3_9_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="907">־</span><span class="mila" data-lnk="184" data-exlnk="0" id="M_3_9_11">הַלַּ֔חַץ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_9_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_9_13">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_9_14">לֹחֲצִ֥ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_9_15">אֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="913">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_3_10_1">וְעַתָּ֣ה</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_3_10_2">לְכָ֔ה</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_3_10_3">וְאֶֽשְׁלָחֲךָ֖</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_3_10_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="918">־</span><span class="mila" data-lnk="137" data-exlnk="0" id="M_3_10_5">פַּרְעֹ֑ה</span>
<span class="mila" data-lnk="3221226627" data-exlnk="0" id="M_3_10_6">וְהוֹצֵ֛א</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_3_10_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="922">־</span><span class="mila" data-lnk="131" data-exlnk="0" id="M_3_10_8">עַמִּ֥י</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_10_9">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="925">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_3_10_10">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_10_11">מִמִּצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="928">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_11" data-pasuk-now="16"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_3_11_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_11_2">מֹשֶׁה֙</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_3_11_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="932">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_4">הָ֣אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="1342179291" data-exlnk="0" id="M_3_11_5">מִ֣י</span>
<span class="mila" data-lnk="4026533851" data-exlnk="0" id="M_3_11_6">אָנֹ֔כִי</span>
<span class="mila" data-lnk="210" data-exlnk="0" id="M_3_11_7">כִּ֥י</span>
<span class="mila" data-lnk="210" data-exlnk="0" id="M_3_11_8">אֵלֵ֖ךְ</span>
<span class="mila" data-lnk="210" data-exlnk="0" id="M_3_11_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="939">־</span><span class="mila" data-lnk="210" data-exlnk="0" id="M_3_11_10">פַּרְעֹ֑ה</span>
<span class="mila" data-lnk="195" data-exlnk="0" id="M_3_11_11">וְכִ֥י</span>
<span class="mila" data-lnk="195" data-exlnk="0" id="M_3_11_12">אוֹצִ֛יא</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_3_11_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="944">־</span><span class="mila" data-lnk="203" data-exlnk="0" id="M_3_11_14">בְּנֵ֥י</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_3_11_15">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="195" data-exlnk="0" id="M_3_11_16">מִמִּצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="948">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_12" data-pasuk-now="20"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_3_12_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_3_12_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="951">־</span><span class="mila" data-lnk="191" data-exlnk="0" id="M_3_12_3">אֶהְיֶ֣ה</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_3_12_4">עִמָּ֔ךְ</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_3_12_5">וְזֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="955">־</span><span class="mila" data-lnk="255" data-exlnk="0" id="M_3_12_6">לְּךָ֣</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_3_12_7">הָא֔וֹת</span>
<span class="mila" data-lnk="171" data-exlnk="0" id="M_3_12_8">כִּ֥י</span>
<span class="mila" data-lnk="171" data-exlnk="0" id="M_3_12_9">אָנֹכִ֖י</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_3_12_10">שְׁלַחְתִּ֑יךָ</span>
<span class="mila" data-lnk="4026533170" data-exlnk="0" id="M_3_12_11">בְּהוֹצִיאֲךָ֤</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_3_12_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="963">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_3_12_13">הָעָם֙</span>
<span class="mila" data-lnk="227" data-exlnk="0" id="M_3_12_14">מִמִּצְרַ֔יִם</span>
<span class="mila" data-lnk="4026533232" data-exlnk="0" id="M_3_12_15">תַּֽעַבְדוּן֙</span>
<span class="mila" data-lnk="242" data-exlnk="0" id="M_3_12_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="968">־</span><span class="mila" data-lnk="114" data-exlnk="0" id="M_3_12_17">הָ֣אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="1342178815" data-exlnk="0" id="M_3_12_18">עַ֖ל</span>
<span class="mila" data-lnk="3758097919" data-exlnk="0" id="M_3_12_19">הָהָ֥ר</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_3_12_20">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="973">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_13" data-pasuk-now="23"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_3_13_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_2">מֹשֶׁ֜ה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="977">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_4">הָאֱלֹהִ֗ים</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_5">הִנֵּ֨ה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_6">אָנֹכִ֣י</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_7">בָא֘</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="983">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_9">בְּנֵ֣י</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_10">יִשְׂרָאֵל֒</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_13_11">וְאָמַרְתִּ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_13_12">לָהֶ֔ם</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_13_13">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="3221227168" data-exlnk="0" id="M_3_13_14">אֲבוֹתֵיכֶ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_13_15">שְׁלָחַ֣נִי</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_13_16">אֲלֵיכֶ֑ם</span>
<span class="mila" data-lnk="180" data-exlnk="0" id="M_3_13_17">וְאָֽמְרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="993">־</span><span class="mila" data-lnk="180" data-exlnk="0" id="M_3_13_18">לִ֣י</span>
<span class="mila" data-lnk="244" data-exlnk="0" id="M_3_13_19">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="996">־</span><span class="mila" data-lnk="116" data-exlnk="0" id="M_3_13_20">שְּׁמ֔וֹ</span>
<span class="mila" data-lnk="268435874" data-exlnk="0" id="M_3_13_21">מָ֥ה</span>
<span class="mila" data-lnk="536871330" data-exlnk="0" id="M_3_13_22">אֹמַ֖ר</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_3_13_23">אֲלֵהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1001">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1342178746" data-exlnk="0" id="M_3_14_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="3758097842" data-exlnk="0" id="M_3_14_2">אֱלֹהִים֙</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_3_14_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1005">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_3_14_4">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="3221226743" data-exlnk="0" id="M_3_14_5">אֶהְיֶ֖ה</span>
<span class="mila" data-lnk="1073743101" data-exlnk="0" id="M_3_14_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221226751" data-exlnk="0" id="M_3_14_7">אֶהְיֶ֑ה</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_14_8">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="163" data-exlnk="0" id="M_3_14_9">כֹּ֤ה</span>
<span class="mila" data-lnk="179" data-exlnk="0" id="M_3_14_10">תֹאמַר֙</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_14_11">לִבְנֵ֣י</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_3_14_12">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="179" data-exlnk="0" id="M_3_14_13">אֶהְיֶ֖ה</span>
<span class="mila" data-lnk="178" data-exlnk="0" id="M_3_14_14">שְׁלָחַ֥נִי</span>
<span class="mila" data-lnk="178" data-exlnk="0" id="M_3_14_15">אֲלֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1018">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_15" data-pasuk-now="28"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="186" data-exlnk="0" id="M_3_15_1">וַיֹּאמֶר֩</span>
<span class="mila" data-lnk="154" data-exlnk="0" id="M_3_15_2">ע֨וֹד</span>
<span class="mila" data-lnk="178" data-exlnk="0" id="M_3_15_3">אֱלֹהִ֜ים</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_15_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1023">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_3_15_5">מֹשֶׁ֗ה</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_15_6">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1026">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_7">תֹאמַר֘</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1029">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_9">בְּנֵ֣י</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_10">יִשְׂרָאֵל֒</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_3_15_11">יְהוָ֞ה</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_3_15_12">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_3_15_13">אֲבֹתֵיכֶ֗ם</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_15_14">אֱלֹהֵ֨י</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_15_15">אַבְרָהָ֜ם</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_16">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_15_17">יִצְחָ֛ק</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_18">וֵאלֹהֵ֥י</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_15_19">יַעֲקֹ֖ב</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_20">שְׁלָחַ֣נִי</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_21">אֲלֵיכֶ֑ם</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_3_15_22">זֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1044">־</span><span class="mila" data-lnk="251" data-exlnk="0" id="M_3_15_23">שְּׁמִ֣י</span>
<span class="mila" data-lnk="4026533347" data-exlnk="0" id="M_3_15_24">לְעֹלָ֔ם</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_3_15_25">וְזֶ֥ה</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_3_15_26">זִכְרִ֖י</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_27">לְדֹ֥ר</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_15_28">דֹּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1051">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[חמישי]</span>
<span id="PS_3_16" data-pasuk-now="24"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_16_1">לֵ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_2">וְאָסַפְתָּ֞</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_3_16_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1055">־</span><span class="mila" data-lnk="129" data-exlnk="0" id="M_3_16_4">זִקְנֵ֣י</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_3_16_5">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_6">וְאָמַרְתָּ֤</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_7">אֲלֵהֶם֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_8">יְהוָ֞ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_9">אֱלֹהֵ֤י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_10">אֲבֹֽתֵיכֶם֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_11">נִרְאָ֣ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_12">אֵלַ֔י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_16_13">אֱלֹהֵ֧י</span>
<span class="mila" data-lnk="268435848" data-exlnk="0" id="M_3_16_14">אַבְרָהָ֛ם</span>
<span class="mila" data-lnk="268435840" data-exlnk="0" id="M_3_16_15">יִצְחָ֥ק</span>
<span class="mila" data-lnk="4026533248" data-exlnk="0" id="M_3_16_16">וְיַעֲקֹ֖ב</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_17">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="4026533768" data-exlnk="0" id="M_3_16_18">פָּקֹ֤ד</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_19">פָּקַ֙דְתִּי֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_20">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_21">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1074">־</span><span class="mila" data-lnk="4026533248" data-exlnk="0" id="M_3_16_22">הֶעָשׂ֥וּי</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_23">לָכֶ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_16_24">בְּמִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1078">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_17" data-pasuk-now="18"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_17_1">וָאֹמַ֗ר</span>
<span class="mila" data-lnk="4026533760" data-exlnk="0" id="M_3_17_2">אַעֲלֶ֣ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_3">אֶתְכֶם֘</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_4">מֵעֳנִ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_5">מִצְרַיִם֒</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1085">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_7">אֶ֤רֶץ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_8">הַֽכְּנַעֲנִי֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_9">וְהַ֣חִתִּ֔י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_10">וְהָאֱמֹרִי֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_11">וְהַפְּרִזִּ֔י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_12">וְהַחִוִּ֖י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_13">וְהַיְבוּסִ֑י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1094">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_15">אֶ֛רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_16">זָבַ֥ת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_17">חָלָ֖ב</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_17_18">וּדְבָֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1099">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_18" data-pasuk-now="26"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="805306685" data-exlnk="0" id="M_3_18_1">וְשָׁמְע֖וּ</span>
<span class="mila" data-lnk="4026533173" data-exlnk="0" id="M_3_18_2">לְקֹלֶ֑ךָ</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_3_18_3">וּבָאתָ֡</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_4">אַתָּה֩</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_5">וְזִקְנֵ֨י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_6">יִשְׂרָאֵ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1107">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_8">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_9">מִצְרַ֗יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_10">וַאֲמַרְתֶּ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_11">אֵלָיו֙</span>
<span class="mila" data-lnk="805306752" data-exlnk="0" id="M_3_18_12">יְהוָ֞ה</span>
<span class="mila" data-lnk="805306758" data-exlnk="0" id="M_3_18_13">אֱלֹהֵ֤י</span>
<span class="mila" data-lnk="3221226638" data-exlnk="0" id="M_3_18_14">הָֽעִבְרִיִּים֙</span>
<span class="mila" data-lnk="3221226509" data-exlnk="0" id="M_3_18_15">נִקְרָ֣ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_18_16">עָלֵ֔ינוּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_17">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_18">נֵֽלֲכָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1119">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_19">נָּ֞א</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_20">דֶּ֣רֶךְ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_21">שְׁלֹ֤שֶׁת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_22">יָמִים֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_23">בַּמִּדְבָּ֔ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_24">וְנִזְבְּחָ֖ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_25">לַיהוָ֥ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_26">אֱלֹהֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1128">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_19" data-pasuk-now="12"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="805306634" data-exlnk="0" id="M_3_19_1">וַאֲנִ֣י</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_19_2">יָדַ֔עְתִּי</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_19_3">כִּ֠י</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_3_19_4">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1133">־</span><span class="mila" data-lnk="161" data-exlnk="0" id="M_3_19_5">יִתֵּ֥ן</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_3_19_6">אֶתְכֶ֛ם</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_3_19_7">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_3_19_8">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="805306785" data-exlnk="0" id="M_3_19_9">לַהֲלֹ֑ךְ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_3_19_10">וְלֹ֖א</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_3_19_11">בְּיָ֥ד</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_3_19_12">חֲזָקָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1142">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_20" data-pasuk-now="15"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_20_1">וְשָׁלַחְתִּ֤י</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_3_20_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1145">־</span><span class="mila" data-lnk="142" data-exlnk="0" id="M_3_20_3">יָדִי֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_20_4">וְהִכֵּיתִ֣י</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_20_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1149">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_20_6">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_3_20_7">בְּכֹל֙</span>
<span class="mila" data-lnk="3221226674" data-exlnk="0" id="M_3_20_8">נִפְלְאֹתַ֔י</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_20_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_20_10">אֶעֱשֶׂ֖ה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_20_11">בְּקִרְבּ֑וֹ</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_20_12">וְאַחֲרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1157">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_3_20_13">כֵ֖ן</span>
<span class="mila" data-lnk="4026533296" data-exlnk="0" id="M_3_20_14">יְשַׁלַּ֥ח</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_3_20_15">אֶתְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1161">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_21_1">וְנָתַתִּ֛י</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_3_21_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1164">־</span><span class="mila" data-lnk="148" data-exlnk="0" id="M_3_21_3">חֵ֥ן</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_3_21_4">הָֽעָם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1167">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_5">הַזֶּ֖ה</span>
<span class="mila" data-lnk="805306752" data-exlnk="0" id="M_3_21_6">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_21_7">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_8">וְהָיָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_9">כִּ֣י</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_3_21_10">תֵֽלֵכ֔וּן</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_21_11">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_12">תֵלְכ֖וּ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_21_13">רֵיקָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1177">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_22" data-pasuk-now="18"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_3_22_1">וְשָׁאֲלָ֨ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_22_2">אִשָּׁ֤ה</span>
<span class="mila" data-lnk="3221226514" data-exlnk="0" id="M_3_22_3">מִשְּׁכֶנְתָּהּ֙</span>
<span class="mila" data-lnk="3221226505" data-exlnk="0" id="M_3_22_4">וּמִגָּרַ֣ת</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_3_22_5">בֵּיתָ֔הּ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_22_6">כְּלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1184">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_3_22_7">כֶ֛סֶף</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_22_8">וּכְלֵ֥י</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_3_22_9">זָהָ֖ב</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_22_10">וּשְׂמָלֹ֑ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_22_11">וְשַׂמְתֶּ֗ם</span>
<span class="mila" data-lnk="1073742850" data-exlnk="0" id="M_3_22_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1191">־</span><span class="mila" data-lnk="3221226626" data-exlnk="0" id="M_3_22_13">בְּנֵיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_14">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1194">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_15">בְּנֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="3221226509" data-exlnk="0" id="M_3_22_16">וְנִצַּלְתֶּ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_22_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1198">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_22_18">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1200">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>