<p id="PR_21" data-perek-now="451" data-perek-nops="37"><span class="perek-header">פרק כא</span>
<br /><span class="parasha-header">{פרשת משפטים}</span>
<span id="PS_21_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1879049661" data-exlnk="0" id="M_21_1_1">וְאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="2147484853" data-exlnk="0" id="M_21_1_2">הַמִּשְׁפָּטִ֔ים</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_21_1_3">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_21_1_4">תָּשִׂ֖ים</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_21_1_5">לִפְנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9864">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_2" data-pasuk-now="11"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_2_1">כִּ֤י</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_2_2">תִקְנֶה֙</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_2_3">עֶ֣בֶד</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_2_4">עִבְרִ֔י</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_21_2_5">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_21_2_6">שָׁנִ֖ים</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_21_2_7">יַעֲבֹ֑ד</span>
<span class="mila" data-lnk="3221226514" data-exlnk="0" id="M_21_2_8">וּבַ֨שְּׁבִעִ֔ת</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_21_2_9">יֵצֵ֥א</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_21_2_10">לַחָפְשִׁ֖י</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_21_2_11">חִנָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9876">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026533279" data-exlnk="0" id="M_21_3_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9878">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_21_3_2">בְּגַפּ֥וֹ</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_21_3_3">יָבֹ֖א</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_3_4">בְּגַפּ֣וֹ</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_3_5">יֵצֵ֑א</span>
<span class="mila" data-lnk="805306811" data-exlnk="0" id="M_21_3_6">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9884">־</span><span class="mila" data-lnk="187" data-exlnk="0" id="M_21_3_7">בַּ֤עַל</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_21_3_8">אִשָּׁה֙</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_21_3_9">ה֔וּא</span>
<span class="mila" data-lnk="173" data-exlnk="0" id="M_21_3_10">וְיָצְאָ֥ה</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_21_3_11">אִשְׁתּ֖וֹ</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_3_12">עִמּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9891">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_4" data-pasuk-now="17"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_21_4_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9893">־</span><span class="mila" data-lnk="255" data-exlnk="0" id="M_21_4_2">אֲדֹנָיו֙</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_21_4_3">יִתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9896">־</span><span class="mila" data-lnk="247" data-exlnk="0" id="M_21_4_4">ל֣וֹ</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_21_4_5">אִשָּׁ֔ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_4_6">וְיָלְדָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9900">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_21_4_7">ל֥וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_4_8">בָנִ֖ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_4_9">א֣וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_4_10">בָנ֑וֹת</span>
<span class="mila" data-lnk="225" data-exlnk="0" id="M_21_4_11">הָאִשָּׁ֣ה</span>
<span class="mila" data-lnk="225" data-exlnk="0" id="M_21_4_12">וִילָדֶ֗יהָ</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_21_4_13">תִּֽהְיֶה֙</span>
<span class="mila" data-lnk="227" data-exlnk="0" id="M_21_4_14">לַֽאדֹנֶ֔יהָ</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_21_4_15">וְה֖וּא</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_21_4_16">יֵצֵ֥א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_4_17">בְגַפּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9912">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026533256" data-exlnk="0" id="M_21_5_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9914">־</span><span class="mila" data-lnk="4026533256" data-exlnk="0" id="M_21_5_2">אָמֹ֤ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_5_3">יֹאמַר֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_5_4">הָעֶ֔בֶד</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_5_5">אָהַ֙בְתִּי֙</span>
<span class="mila" data-lnk="805306752" data-exlnk="0" id="M_21_5_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9920">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_5_7">אֲדֹנִ֔י</span>
<span class="mila" data-lnk="536871297" data-exlnk="0" id="M_21_5_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9923">־</span><span class="mila" data-lnk="129" data-exlnk="0" id="M_21_5_9">אִשְׁתִּ֖י</span>
<span class="mila" data-lnk="536871296" data-exlnk="0" id="M_21_5_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9926">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_5_11">בָּנָ֑י</span>
<span class="mila" data-lnk="536871296" data-exlnk="0" id="M_21_5_12">לֹ֥א</span>
<span class="mila" data-lnk="536871168" data-exlnk="0" id="M_21_5_13">אֵצֵ֖א</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_5_14">חָפְשִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9931">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_6" data-pasuk-now="17"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026533308" data-exlnk="0" id="M_21_6_1">וְהִגִּישׁ֤וֹ</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_21_6_2">אֲדֹנָיו֙</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_21_6_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9935">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_21_6_4">הָ֣אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="240" data-exlnk="0" id="M_21_6_5">וְהִגִּישׁוֹ֙</span>
<span class="mila" data-lnk="1073742969" data-exlnk="0" id="M_21_6_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9939">־</span><span class="mila" data-lnk="2147484895" data-exlnk="0" id="M_21_6_7">הַדֶּ֔לֶת</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_21_6_8">א֖וֹ</span>
<span class="mila" data-lnk="3221226619" data-exlnk="0" id="M_21_6_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9943">־</span><span class="mila" data-lnk="3221226719" data-exlnk="0" id="M_21_6_10">הַמְּזוּזָ֑ה</span>
<span class="mila" data-lnk="3221226641" data-exlnk="0" id="M_21_6_11">וְרָצַ֨ע</span>
<span class="mila" data-lnk="165" data-exlnk="0" id="M_21_6_12">אֲדֹנָ֤יו</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_21_6_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9948">־</span><span class="mila" data-lnk="195" data-exlnk="0" id="M_21_6_14">אָזְנוֹ֙</span>
<span class="mila" data-lnk="3221226625" data-exlnk="0" id="M_21_6_15">בַּמַּרְצֵ֔עַ</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_21_6_16">וַעֲבָד֖וֹ</span>
<span class="mila" data-lnk="4026533311" data-exlnk="0" id="M_21_6_17">לְעֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9954">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9955">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_7" data-pasuk-now="10"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026533261" data-exlnk="0" id="M_21_7_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9957">־</span><span class="mila" data-lnk="133" data-exlnk="0" id="M_21_7_2">יִמְכֹּ֥ר</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_21_7_3">אִ֛ישׁ</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_21_7_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9961">־</span><span class="mila" data-lnk="129" data-exlnk="0" id="M_21_7_5">בִּתּ֖וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_7_6">לְאָמָ֑ה</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_7_7">לֹ֥א</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_7_8">תֵצֵ֖א</span>
<span class="mila" data-lnk="4026533307" data-exlnk="0" id="M_21_7_9">כְּצֵ֥את</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_21_7_10">הָעֲבָדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9968">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_21_8_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9970">־</span><span class="mila" data-lnk="187" data-exlnk="0" id="M_21_8_2">רָעָ֞ה</span>
<span class="mila" data-lnk="805306803" data-exlnk="0" id="M_21_8_3">בְּעֵינֵ֧י</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_21_8_4">אֲדֹנֶ֛יהָ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_21_8_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9975">־</span><span data-lnk="0" data-exlnk="0" id="M_21_8_6" class="mila ktiv">לֹ֥א</span>
<span data-lnk="105" data-exlnk="0" id="M_21_8_6_K" class="mila kri">ל֥וֹ</span>
<span class="mila" data-lnk="4026533757" data-exlnk="0" id="M_21_8_7">יְעָדָ֖הּ</span>
<span class="mila" data-lnk="3221226543" data-exlnk="0" id="M_21_8_8">וְהֶפְדָּ֑הּ</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_21_8_9">לְעַ֥ם</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_21_8_10">נָכְרִ֛י</span>
<span class="mila" data-lnk="4026533353" data-exlnk="0" id="M_21_8_11">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9983">־</span><span class="mila" data-lnk="2147484713" data-exlnk="0" id="M_21_8_12">יִמְשֹׁ֥ל</span>
<span class="mila" data-lnk="185" data-exlnk="0" id="M_21_8_13">לְמָכְרָ֖הּ</span>
<span class="mila" data-lnk="4026533175" data-exlnk="0" id="M_21_8_14">בְּבִגְדוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9987">־</span><span class="mila" data-lnk="183" data-exlnk="0" id="M_21_8_15">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9989">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="185" data-exlnk="0" id="M_21_9_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9991">־</span><span class="mila" data-lnk="185" data-exlnk="0" id="M_21_9_2">לִבְנ֖וֹ</span>
<span class="mila" data-lnk="3221226553" data-exlnk="0" id="M_21_9_3">יִיעָדֶ֑נָּה</span>
<span class="mila" data-lnk="4026533821" data-exlnk="0" id="M_21_9_4">כְּמִשְׁפַּ֥ט</span>
<span class="mila" data-lnk="173" data-exlnk="0" id="M_21_9_5">הַבָּנ֖וֹת</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_21_9_6">יַעֲשֶׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9997">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_21_9_7">לָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9999">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_10" data-pasuk-now="9"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_21_10_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10001">־</span><span class="mila" data-lnk="189" data-exlnk="0" id="M_21_10_2">אַחֶ֖רֶת</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_21_10_3">יִֽקַּֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10004">־</span><span class="mila" data-lnk="181" data-exlnk="0" id="M_21_10_4">ל֑וֹ</span>
<span class="mila" data-lnk="3221226623" data-exlnk="0" id="M_21_10_5">שְׁאֵרָ֛הּ</span>
<span class="mila" data-lnk="3221226679" data-exlnk="0" id="M_21_10_6">כְּסוּתָ֥הּ</span>
<span class="mila" data-lnk="3221226623" data-exlnk="0" id="M_21_10_7">וְעֹנָתָ֖הּ</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_21_10_8">לֹ֥א</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_21_10_9">יִגְרָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10011">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_21_11_1">וְאִ֨ם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10013">־</span><span class="mila" data-lnk="3221226655" data-exlnk="0" id="M_21_11_2">שְׁלָשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10015">־</span><span class="mila" data-lnk="159" data-exlnk="0" id="M_21_11_3">אֵ֔לֶּה</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_11_4">לֹ֥א</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_11_5">יַעֲשֶׂ֖ה</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_11_6">לָ֑הּ</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_21_11_7">וְיָצְאָ֥ה</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_21_11_8">חִנָּ֖ם</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_21_11_9">אֵ֥ין</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_21_11_10">כָּֽסֶף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10025">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10026">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_12" data-pasuk-now="5"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_21_12_1">מַכֵּ֥ה</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_21_12_2">אִ֛ישׁ</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_12_3">וָמֵ֖ת</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_21_12_4">מ֥וֹת</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_21_12_5">יוּמָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10032">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_13" data-pasuk-now="12"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1879049487" data-exlnk="0" id="M_21_13_1">וַֽאֲשֶׁר֙</span>
<span class="mila" data-lnk="2684355847" data-exlnk="0" id="M_21_13_2">לֹ֣א</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_21_13_3">צָדָ֔ה</span>
<span class="mila" data-lnk="4026533185" data-exlnk="0" id="M_21_13_4">וְהָאֱלֹהִ֖ים</span>
<span class="mila" data-lnk="3221226575" data-exlnk="0" id="M_21_13_5">אִנָּ֣ה</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_21_13_6">לְיָד֑וֹ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_13_7">וְשַׂמְתִּ֤י</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_13_8">לְךָ֙</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_21_13_9">מָק֔וֹם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_13_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_13_11">יָנ֖וּס</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_13_12">שָֽׁמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10046">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10047">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_14" data-pasuk-now="11"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="805306761" data-exlnk="0" id="M_21_14_1">וְכִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10049">־</span><span class="mila" data-lnk="4026533257" data-exlnk="0" id="M_21_14_2">יָזִ֥ד</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_14_3">אִ֛ישׁ</span>
<span class="mila" data-lnk="1342178177" data-exlnk="0" id="M_21_14_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10053">־</span><span class="mila" data-lnk="3758097281" data-exlnk="0" id="M_21_14_5">רֵעֵ֖הוּ</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_21_14_6">לְהָרְג֣וֹ</span>
<span class="mila" data-lnk="4026533261" data-exlnk="0" id="M_21_14_7">בְעָרְמָ֑ה</span>
<span class="mila" data-lnk="153" data-exlnk="0" id="M_21_14_8">מֵעִ֣ם</span>
<span class="mila" data-lnk="4026533277" data-exlnk="0" id="M_21_14_9">מִזְבְּחִ֔י</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_14_10">תִּקָּחֶ֖נּוּ</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_21_14_11">לָמֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10062">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10063">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_15" data-pasuk-now="5"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="805306815" data-exlnk="0" id="M_21_15_1">וּמַכֵּ֥ה</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_15_2">אָבִ֛יו</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_21_15_3">וְאִמּ֖וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_21_15_4">מ֥וֹת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_21_15_5">יוּמָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10070">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10071">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3221226685" data-exlnk="0" id="M_21_16_1">וְגֹנֵ֨ב</span>
<span class="mila" data-lnk="165" data-exlnk="0" id="M_21_16_2">אִ֧ישׁ</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_21_16_3">וּמְכָר֛וֹ</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_21_16_4">וְנִמְצָ֥א</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_21_16_5">בְיָד֖וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_21_16_6">מ֥וֹת</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_21_16_7">יוּמָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10080">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10081">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_17" data-pasuk-now="5"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026533277" data-exlnk="0" id="M_21_17_1">וּמְקַלֵּ֥ל</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_17_2">אָבִ֛יו</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_17_3">וְאִמּ֖וֹ</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_17_4">מ֥וֹת</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_17_5">יוּמָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10088">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10089">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_18" data-pasuk-now="14"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="805306761" data-exlnk="0" id="M_21_18_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10091">־</span><span class="mila" data-lnk="3221226633" data-exlnk="0" id="M_21_18_2">יְרִיבֻ֣ן</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_18_3">אֲנָשִׁ֔ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_18_4">וְהִכָּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10095">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_18_5">אִישׁ֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_18_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10098">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_18_7">רֵעֵ֔הוּ</span>
<span class="mila" data-lnk="4026533282" data-exlnk="0" id="M_21_18_8">בְּאֶ֖בֶן</span>
<span class="mila" data-lnk="166" data-exlnk="0" id="M_21_18_9">א֣וֹ</span>
<span class="mila" data-lnk="4026533294" data-exlnk="0" id="M_21_18_10">בְאֶגְרֹ֑ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_11">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_12">יָמ֖וּת</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_21_18_13">וְנָפַ֥ל</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_21_18_14">לְמִשְׁכָּֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10107">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_19" data-pasuk-now="13"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="170" data-exlnk="0" id="M_21_19_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10109">־</span><span class="mila" data-lnk="170" data-exlnk="0" id="M_21_19_2">יָק֞וּם</span>
<span class="mila" data-lnk="170" data-exlnk="0" id="M_21_19_3">וְהִתְהַלֵּ֥ךְ</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_21_19_4">בַּח֛וּץ</span>
<span class="mila" data-lnk="173" data-exlnk="0" id="M_21_19_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10114">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_21_19_6">מִשְׁעַנְתּ֖וֹ</span>
<span class="mila" data-lnk="4026533817" data-exlnk="0" id="M_21_19_7">וְנִקָּ֣ה</span>
<span class="mila" data-lnk="185" data-exlnk="0" id="M_21_19_8">הַמַּכֶּ֑ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_21_19_9">רַ֥ק</span>
<span class="mila" data-lnk="239" data-exlnk="0" id="M_21_19_10">שִׁבְתּ֛וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_21_19_11">יִתֵּ֖ן</span>
<span class="mila" data-lnk="3221226541" data-exlnk="0" id="M_21_19_12">וְרַפֹּ֥א</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_21_19_13">יְרַפֵּֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10124">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10125">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שני]</span>
<span id="PS_21_20" data-pasuk-now="14"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="805306797" data-exlnk="0" id="M_21_20_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10127">־</span><span class="mila" data-lnk="173" data-exlnk="0" id="M_21_20_2">יַכֶּה֩</span>
<span class="mila" data-lnk="165" data-exlnk="0" id="M_21_20_3">אִ֨ישׁ</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_21_20_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10131">־</span><span class="mila" data-lnk="183" data-exlnk="0" id="M_21_20_5">עַבְדּ֜וֹ</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_20_6">א֤וֹ</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_20_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10135">־</span><span class="mila" data-lnk="129" data-exlnk="0" id="M_21_20_8">אֲמָתוֹ֙</span>
<span class="mila" data-lnk="171" data-exlnk="0" id="M_21_20_9">בַּשֵּׁ֔בֶט</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_21_20_10">וּמֵ֖ת</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_21_20_11">תַּ֣חַת</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_21_20_12">יָד֑וֹ</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_21_20_13">נָקֹ֖ם</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_21_20_14">יִנָּקֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10143">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_21" data-pasuk-now="11"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_21_21_1">אַ֥ךְ</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_21_21_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10146">־</span><span class="mila" data-lnk="191" data-exlnk="0" id="M_21_21_3">י֛וֹם</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_21_4">א֥וֹ</span>
<span class="mila" data-lnk="4026533823" data-exlnk="0" id="M_21_21_5">יוֹמַ֖יִם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_21_21_6">יַעֲמֹ֑ד</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_21_21_7">לֹ֣א</span>
<span class="mila" data-lnk="4026533821" data-exlnk="0" id="M_21_21_8">יֻקַּ֔ם</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_21_21_9">כִּ֥י</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_21_21_10">כַסְפּ֖וֹ</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_21_21_11">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10157">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10158">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_22" data-pasuk-now="20"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="805306765" data-exlnk="0" id="M_21_22_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10160">־</span><span class="mila" data-lnk="4026533261" data-exlnk="0" id="M_21_22_2">יִנָּצ֣וּ</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_21_22_3">אֲנָשִׁ֗ים</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_21_22_4">וְנָ֨גְפ֜וּ</span>
<span class="mila" data-lnk="154" data-exlnk="0" id="M_21_22_5">אִשָּׁ֤ה</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_21_22_6">הָרָה֙</span>
<span class="mila" data-lnk="4026533248" data-exlnk="0" id="M_21_22_7">וְיָצְא֣וּ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_21_22_8">יְלָדֶ֔יהָ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_21_22_9">וְלֹ֥א</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_21_22_10">יִהְיֶ֖ה</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_21_22_11">אָס֑וֹן</span>
<span class="mila" data-lnk="3221226509" data-exlnk="0" id="M_21_22_12">עָנ֣וֹשׁ</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_21_22_13">יֵעָנֵ֗שׁ</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_21_22_14">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="4026533309" data-exlnk="0" id="M_21_22_15">יָשִׁ֤ית</span>
<span class="mila" data-lnk="173" data-exlnk="0" id="M_21_22_16">עָלָיו֙</span>
<span class="mila" data-lnk="3221226660" data-exlnk="0" id="M_21_22_17">בַּ֣עַל</span>
<span class="mila" data-lnk="3221226660" data-exlnk="0" id="M_21_22_18">הָאִשָּׁ֔ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_21_22_19">וְנָתַ֖ן</span>
<span class="mila" data-lnk="4026533239" data-exlnk="0" id="M_21_22_20">בִּפְלִלִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10180">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_23" data-pasuk-now="7"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_21_23_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10182">־</span><span class="mila" data-lnk="157" data-exlnk="0" id="M_21_23_2">אָס֖וֹן</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_21_23_3">יִֽהְיֶ֑ה</span>
<span class="mila" data-lnk="805306651" data-exlnk="0" id="M_21_23_4">וְנָתַתָּ֥ה</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_23_5">נֶ֖פֶשׁ</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_23_6">תַּ֥חַת</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_23_7">נָֽפֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10189">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_24" data-pasuk-now="12"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_24_1">עַ֚יִן</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_21_24_2">תַּ֣חַת</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_21_24_3">עַ֔יִן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_24_4">שֵׁ֖ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_24_5">תַּ֣חַת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_24_6">שֵׁ֑ן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_21_24_7">יָ֚ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_8">תַּ֣חַת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_24_9">יָ֔ד</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_21_24_10">רֶ֖גֶל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_24_11">תַּ֥חַת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_24_12">רָֽגֶל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10202">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4026533263" data-exlnk="0" id="M_21_25_1">כְּוִיָּה֙</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_21_25_2">תַּ֣חַת</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_21_25_3">כְּוִיָּ֔ה</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_21_25_4">פֶּ֖צַע</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_25_5">תַּ֣חַת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_25_6">פָּ֑צַע</span>
<span class="mila" data-lnk="4026533151" data-exlnk="0" id="M_21_25_7">חַבּוּרָ֕ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_25_8">תַּ֖חַת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_25_9">חַבּוּרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10213">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10214">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_26" data-pasuk-now="15"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="805306760" data-exlnk="0" id="M_21_26_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10216">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_21_26_2">יַכֶּ֨ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_26_3">אִ֜ישׁ</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_21_26_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10220">־</span><span class="mila" data-lnk="149" data-exlnk="0" id="M_21_26_5">עֵ֥ין</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_26_6">עַבְדּ֛וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_26_7">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10224">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_26_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10226">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_26_9">עֵ֥ין</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_26_10">אֲמָת֖וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_26_11">וְשִׁחֲתָ֑הּ</span>
<span class="mila" data-lnk="152" data-exlnk="0" id="M_21_26_12">לַחָפְשִׁ֥י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_26_13">יְשַׁלְּחֶ֖נּוּ</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_21_26_14">תַּ֥חַת</span>
<span class="mila" data-lnk="805306763" data-exlnk="0" id="M_21_26_15">עֵינֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10234">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_27" data-pasuk-now="11"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_21_27_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10236">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_21_27_2">שֵׁ֥ן</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_27_3">עַבְדּ֛וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_27_4">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10240">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_27_5">שֵׁ֥ן</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_27_6">אֲמָת֖וֹ</span>
<span class="mila" data-lnk="3221226624" data-exlnk="0" id="M_21_27_7">יַפִּ֑יל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_27_8">לַֽחָפְשִׁ֥י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_27_9">יְשַׁלְּחֶ֖נּוּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_27_10">תַּ֥חַת</span>
<span class="mila" data-lnk="3221226624" data-exlnk="0" id="M_21_27_11">שִׁנּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10249">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10250"> פ </span>
</span>
<br /><span id="PS_21_28" data-pasuk-now="19"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="805306761" data-exlnk="0" id="M_21_28_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10252">־</span><span class="mila" data-lnk="141" data-exlnk="0" id="M_21_28_2">יִגַּ֨ח</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_28_3">שׁ֥וֹר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_28_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10256">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_21_28_5">אִ֛ישׁ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_21_28_6">א֥וֹ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_21_28_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10260">־</span><span class="mila" data-lnk="140" data-exlnk="0" id="M_21_28_8">אִשָּׁ֖ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_28_9">וָמֵ֑ת</span>
<span class="mila" data-lnk="4026533259" data-exlnk="0" id="M_21_28_10">סָק֨וֹל</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_21_28_11">יִסָּקֵ֜ל</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_21_28_12">הַשּׁ֗וֹר</span>
<span class="mila" data-lnk="1342178719" data-exlnk="0" id="M_21_28_13">וְלֹ֤א</span>
<span class="mila" data-lnk="2684355999" data-exlnk="0" id="M_21_28_14">יֵֽאָכֵל֙</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_28_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10269">־</span><span class="mila" data-lnk="155" data-exlnk="0" id="M_21_28_16">בְּשָׂר֔וֹ</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_28_17">וּבַ֥עַל</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_28_18">הַשּׁ֖וֹר</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_28_19">נָקִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10274">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_29" data-pasuk-now="19"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="152" data-exlnk="0" id="M_21_29_1">וְאִ֡ם</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_21_29_2">שׁוֹר֩</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_21_29_3">נַגָּ֨ח</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_21_29_4">ה֜וּא</span>
<span class="mila" data-lnk="4026533781" data-exlnk="0" id="M_21_29_5">מִתְּמֹ֣ל</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_29_6">שִׁלְשֹׁ֗ם</span>
<span class="mila" data-lnk="3221226645" data-exlnk="0" id="M_21_29_7">וְהוּעַ֤ד</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_29_8">בִּבְעָלָיו֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_29_9">וְלֹ֣א</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_29_10">יִשְׁמְרֶ֔נּוּ</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_29_11">וְהֵמִ֥ית</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_29_12">אִ֖ישׁ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_29_13">א֣וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_29_14">אִשָּׁ֑ה</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_21_29_15">הַשּׁוֹר֙</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_21_29_16">יִסָּקֵ֔ל</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_21_29_17">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10292">־</span><span class="mila" data-lnk="183" data-exlnk="0" id="M_21_29_18">בְּעָלָ֖יו</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_21_29_19">יוּמָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10295">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_30" data-pasuk-now="11"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_21_30_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10297">־</span><span class="mila" data-lnk="191" data-exlnk="0" id="M_21_30_2">כֹּ֖פֶר</span>
<span class="mila" data-lnk="4026533309" data-exlnk="0" id="M_21_30_3">יוּשַׁ֣ת</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_21_30_4">עָלָ֑יו</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_21_30_5">וְנָתַן֙</span>
<span class="mila" data-lnk="4026533265" data-exlnk="0" id="M_21_30_6">פִּדְיֹ֣ן</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_30_7">נַפְשׁ֔וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_30_8">כְּכֹ֥ל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_30_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10306">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_30_10">יוּשַׁ֖ת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_30_11">עָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10309">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_31" data-pasuk-now="10"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_21_31_1">אוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10311">־</span><span class="mila" data-lnk="185" data-exlnk="0" id="M_21_31_2">בֵ֥ן</span>
<span class="mila" data-lnk="4026533297" data-exlnk="0" id="M_21_31_3">יִגָּ֖ח</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_21_31_4">אוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10315">־</span><span class="mila" data-lnk="185" data-exlnk="0" id="M_21_31_5">בַ֣ת</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_21_31_6">יִגָּ֑ח</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_21_31_7">כַּמִּשְׁפָּ֥ט</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_21_31_8">הַזֶּ֖ה</span>
<span class="mila" data-lnk="4026533280" data-exlnk="0" id="M_21_31_9">יֵעָ֥שֶׂה</span>
<span class="mila" data-lnk="536871328" data-exlnk="0" id="M_21_31_10">לּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10322">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_32" data-pasuk-now="13"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_21_32_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10324">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_21_32_2">עֶ֛בֶד</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_21_32_3">יִגַּ֥ח</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_21_32_4">הַשּׁ֖וֹר</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_32_5">א֣וֹ</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_32_6">אָמָ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_32_7">כֶּ֣סֶף׀</span>
<span class="mila" data-lnk="197" data-exlnk="0" id="M_21_32_8">שְׁלֹשִׁ֣ים</span>
<span class="mila" data-lnk="197" data-exlnk="0" id="M_21_32_9">שְׁקָלִ֗ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_32_10">יִתֵּן֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_32_11">לַֽאדֹנָ֔יו</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_32_12">וְהַשּׁ֖וֹר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_32_13">יִסָּקֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10338">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10339">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_33" data-pasuk-now="16"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="805306767" data-exlnk="0" id="M_21_33_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10341">־</span><span class="mila" data-lnk="143" data-exlnk="0" id="M_21_33_2">יִפְתַּ֨ח</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_21_33_3">אִ֜ישׁ</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_21_33_4">בּ֗וֹר</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_21_33_5">א֠וֹ</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_21_33_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10347">־</span><span class="mila" data-lnk="131" data-exlnk="0" id="M_21_33_7">יִכְרֶ֥ה</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_21_33_8">אִ֛ישׁ</span>
<span class="mila" data-lnk="3221226626" data-exlnk="0" id="M_21_33_9">בֹּ֖ר</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_21_33_10">וְלֹ֣א</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_21_33_11">יְכַסֶּ֑נּוּ</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_21_33_12">וְנָֽפַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10354">־</span><span class="mila" data-lnk="144" data-exlnk="0" id="M_21_33_13">שָׁ֥מָּה</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_33_14">שּׁ֖וֹר</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_33_15">א֥וֹ</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_33_16">חֲמֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10359">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_34" data-pasuk-now="9"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_34_1">בַּ֤עַל</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_21_34_2">הַבּוֹר֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_34_3">יְשַׁלֵּ֔ם</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_34_4">כֶּ֖סֶף</span>
<span class="mila" data-lnk="4026533269" data-exlnk="0" id="M_21_34_5">יָשִׁ֣יב</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_21_34_6">לִבְעָלָ֑יו</span>
<span class="mila" data-lnk="179" data-exlnk="0" id="M_21_34_7">וְהַמֵּ֖ת</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_21_34_8">יִֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10368">־</span><span class="mila" data-lnk="183" data-exlnk="0" id="M_21_34_9">לּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10371">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10372">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_35" data-pasuk-now="19"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="805306761" data-exlnk="0" id="M_21_35_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10374">־</span><span class="mila" data-lnk="137" data-exlnk="0" id="M_21_35_2">יִגֹּ֧ף</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_21_35_3">שֽׁוֹר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10377">־</span><span class="mila" data-lnk="141" data-exlnk="0" id="M_21_35_4">אִ֛ישׁ</span>
<span class="mila" data-lnk="805306772" data-exlnk="0" id="M_21_35_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10380">־</span><span class="mila" data-lnk="157" data-exlnk="0" id="M_21_35_6">שׁ֥וֹר</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_21_35_7">רֵעֵ֖הוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_35_8">וָמֵ֑ת</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_21_35_9">וּמָ֨כְר֜וּ</span>
<span class="mila" data-lnk="805306773" data-exlnk="0" id="M_21_35_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10386">־</span><span class="mila" data-lnk="149" data-exlnk="0" id="M_21_35_11">הַשּׁ֤וֹר</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_35_12">הַחַי֙</span>
<span class="mila" data-lnk="3221226643" data-exlnk="0" id="M_21_35_13">וְחָצ֣וּ</span>
<span class="mila" data-lnk="805306774" data-exlnk="0" id="M_21_35_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10391">־</span><span class="mila" data-lnk="146" data-exlnk="0" id="M_21_35_15">כַּסְפּ֔וֹ</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_21_35_16">וְגַ֥ם</span>
<span class="mila" data-lnk="805306772" data-exlnk="0" id="M_21_35_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10395">־</span><span class="mila" data-lnk="148" data-exlnk="0" id="M_21_35_18">הַמֵּ֖ת</span>
<span class="mila" data-lnk="3221226628" data-exlnk="0" id="M_21_35_19">יֶחֱצֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10398">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_36" data-pasuk-now="19"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="153" data-exlnk="0" id="M_21_36_1">א֣וֹ</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_21_36_2">נוֹדַ֗ע</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_36_3">כִּ֠י</span>
<span class="mila" data-lnk="169" data-exlnk="0" id="M_21_36_4">שׁ֣וֹר</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_21_36_5">נַגָּ֥ח</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_21_36_6">הוּא֙</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_36_7">מִתְּמ֣וֹל</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_36_8">שִׁלְשֹׁ֔ם</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_21_36_9">וְלֹ֥א</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_21_36_10">יִשְׁמְרֶ֖נּוּ</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_21_36_11">בְּעָלָ֑יו</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_21_36_12">שַׁלֵּ֨ם</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_21_36_13">יְשַׁלֵּ֥ם</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_21_36_14">שׁוֹר֙</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_21_36_15">תַּ֣חַת</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_21_36_16">הַשּׁ֔וֹר</span>
<span class="mila" data-lnk="165" data-exlnk="0" id="M_21_36_17">וְהַמֵּ֖ת</span>
<span class="mila" data-lnk="165" data-exlnk="0" id="M_21_36_18">יִֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10417">־</span><span class="mila" data-lnk="165" data-exlnk="0" id="M_21_36_19">לּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10420">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10421">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_37" data-pasuk-now="18"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_21_37_1">כִּ֤י</span>
<span class="mila" data-lnk="805306760" data-exlnk="0" id="M_21_37_2">יִגְנֹֽב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10424">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_21_37_3">אִישׁ֙</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_21_37_4">שׁ֣וֹר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_37_5">אוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10428">־</span><span class="mila" data-lnk="137" data-exlnk="0" id="M_21_37_6">שֶׂ֔ה</span>
<span class="mila" data-lnk="3221226624" data-exlnk="0" id="M_21_37_7">וּטְבָח֖וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_37_8">א֣וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_21_37_9">מְכָר֑וֹ</span>
<span class="mila" data-lnk="147" data-exlnk="0" id="M_21_37_10">חֲמִשָּׁ֣ה</span>
<span class="mila" data-lnk="147" data-exlnk="0" id="M_21_37_11">בָקָ֗ר</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_21_37_12">יְשַׁלֵּם֙</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_37_13">תַּ֣חַת</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_21_37_14">הַשּׁ֔וֹר</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_21_37_15">וְאַרְבַּע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10439">־</span><span class="mila" data-lnk="148" data-exlnk="0" id="M_21_37_16">צֹ֖אן</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_37_17">תַּ֥חַת</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_21_37_18">הַשֶּֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10443">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>