<p id="PR_18" data-perek-now="344" data-perek-nops="30"><span class="perek-header">פרק יח</span>
<br /><span id="PS_18_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9237">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9240">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_2_1">דַּבֵּר֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_2_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9243">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_18_2_3">בְּנֵ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_2_4">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_2_5">וְאָמַרְתָּ֖</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_2_6">אֲלֵהֶ֑ם</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_18_2_7">אֲנִ֖י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_18_2_8">יְהוָ֥ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_18_2_9">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9251">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_3" data-pasuk-now="21"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_18_3_1">כְּמַעֲשֵׂ֧ה</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_18_3_2">אֶֽרֶץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9254">־</span><span class="mila" data-lnk="61" data-exlnk="0" id="M_18_3_3">מִצְרַ֛יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_3_4">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_3_5">יְשַׁבְתֶּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9258">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_3_6">בָּ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_3_7">לֹ֣א</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_3_8">תַעֲשׂ֑וּ</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_18_3_9">וּכְמַעֲשֵׂ֣ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_18_3_10">אֶֽרֶץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9264">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_18_3_11">כְּנַ֡עַן</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_3_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_3_13">אֲנִי֩</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_3_14">מֵבִ֨יא</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_3_15">אֶתְכֶ֥ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_3_16">שָׁ֙מָּה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_3_17">לֹ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_3_18">תַעֲשׂ֔וּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_3_19">וּבְחֻקֹּתֵיהֶ֖ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_3_20">לֹ֥א</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_3_21">תֵלֵֽכוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9276">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_4" data-pasuk-now="11"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="1342177625" data-exlnk="0" id="M_18_4_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9278">־</span><span class="mila" data-lnk="2952790361" data-exlnk="0" id="M_18_4_2">מִשְׁפָּטַ֧י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_18_4_3">תַּעֲשׂ֛וּ</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_18_4_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9282">־</span><span class="mila" data-lnk="2684354905" data-exlnk="0" id="M_18_4_5">חֻקֹּתַ֥י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_4_6">תִּשְׁמְר֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_4_7">לָלֶ֣כֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_4_8">בָּהֶ֑ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_4_9">אֲנִ֖י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_4_10">יְהוָ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_4_11">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9290">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_5_1">וּשְׁמַרְתֶּ֤ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_5_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9293">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_18_5_3">חֻקֹּתַי֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_5_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9296">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_18_5_5">מִשְׁפָּטַ֔י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_18_5_6">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_18_5_7">יַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_18_5_8">אֹתָ֛ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_18_5_9">הָאָדָ֖ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_18_5_10">וָחַ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_18_5_11">בָּהֶ֑ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_5_12">אֲנִ֖י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_5_13">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9307">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9308">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[ששי]</span>
<span id="PS_18_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_6_1">אִ֥ישׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_6_2">אִישׁ֙</span>
<span class="mila" data-lnk="268435580" data-exlnk="0" id="M_18_6_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9312">־</span><span class="mila" data-lnk="536871036" data-exlnk="0" id="M_18_6_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9314">־</span><span class="mila" data-lnk="60" data-exlnk="0" id="M_18_6_5">שְׁאֵ֣ר</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_18_6_6">בְּשָׂר֔וֹ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_18_6_7">לֹ֥א</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_18_6_8">תִקְרְב֖וּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_18_6_9">לְגַלּ֣וֹת</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_18_6_10">עֶרְוָ֑ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_6_11">אֲנִ֖י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_6_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9324">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9325">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_7" data-pasuk-now="11"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_18_7_1">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_18_7_2">אָבִ֛יךָ</span>
<span class="mila" data-lnk="4026532221" data-exlnk="0" id="M_18_7_3">וְעֶרְוַ֥ת</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_18_7_4">אִמְּךָ֖</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_7_5">לֹ֣א</span>
<span class="mila" data-lnk="3221225632" data-exlnk="0" id="M_18_7_6">תְגַלֵּ֑ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_18_7_7">אִמְּךָ֣</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_7_8">הִ֔וא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_7_9">לֹ֥א</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_18_7_10">תְגַלֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_7_11">עֶרְוָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9338">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9339">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_18_8_1">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_18_8_2">אֵֽשֶׁת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9342">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_18_8_3">אָבִ֖יךָ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_8_4">לֹ֣א</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_8_5">תְגַלֵּ֑ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_18_8_6">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_8_7">אָבִ֖יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_8_8">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9350">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9351">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_9_1">עֶרְוַ֨ת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_9_2">אֲחוֹתְךָ֤</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_18_9_3">בַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9355">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_18_9_4">אָבִ֙יךָ֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_9_5">א֣וֹ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_18_9_6">בַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9359">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_18_9_7">אִמֶּ֔ךָ</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_18_9_8">מוֹלֶ֣דֶת</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_18_9_9">בַּ֔יִת</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_18_9_10">א֖וֹ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_18_9_11">מוֹלֶ֣דֶת</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_18_9_12">ח֑וּץ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_9_13">לֹ֥א</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_9_14">תְגַלֶּ֖ה</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_18_9_15">עֶרְוָתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9370">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9371">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_10" data-pasuk-now="12"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_18_10_1">עֶרְוַ֤ת</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_18_10_2">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9374">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_18_10_3">בִּנְךָ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_10_4">א֣וֹ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_10_5">בַֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9378">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_10_6">בִּתְּךָ֔</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_10_7">לֹ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_10_8">תְגַלֶּ֖ה</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_18_10_9">עֶרְוָתָ֑ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_10_10">כִּ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_10_11">עֶרְוָתְךָ֖</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_10_12">הֵֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9387">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9388">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_11" data-pasuk-now="11"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_18_11_1">עֶרְוַ֨ת</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_18_11_2">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9391">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_18_11_3">אֵ֤שֶׁת</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_18_11_4">אָבִ֙יךָ֙</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_11_5">מוֹלֶ֣דֶת</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_11_6">אָבִ֔יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_11_7">אֲחוֹתְךָ֖</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_11_8">הִ֑וא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_11_9">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_11_10">תְגַלֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_11_11">עֶרְוָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9402">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9403">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_12_1">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_12_2">אֲחוֹת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9406">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_18_12_3">אָבִ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_4">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_5">תְגַלֵּ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_12_6">שְׁאֵ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_7">אָבִ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_8">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9414">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9415">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_1">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_13_2">אֲחֽוֹת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9418">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_18_13_3">אִמְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_4">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_5">תְגַלֵּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9423">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_7">שְׁאֵ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_8">אִמְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_9">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9428">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9429">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_14" data-pasuk-now="11"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_18_14_1">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_18_14_2">אֲחִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9432">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_18_14_3">אָבִ֖יךָ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_18_14_4">לֹ֣א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_18_14_5">תְגַלֵּ֑ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_18_14_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9437">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_18_14_7">אִשְׁתּוֹ֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_18_14_8">לֹ֣א</span>
<span class="mila" data-lnk="3221225761" data-exlnk="0" id="M_18_14_9">תִקְרָ֔ב</span>
<span class="mila" data-lnk="3221225772" data-exlnk="0" id="M_18_14_10">דֹּדָֽתְךָ֖</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_14_11">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9444">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9445">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_15" data-pasuk-now="10"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_15_1">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_15_2">כַּלָּֽתְךָ֖</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_15_3">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_15_4">תְגַלֵּ֑ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_18_15_5">אֵ֤שֶׁת</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_18_15_6">בִּנְךָ֙</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_18_15_7">הִ֔וא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_8">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_9">תְגַלֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_10">עֶרְוָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9457">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9458">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_16" data-pasuk-now="8"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_16_1">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_16_2">אֵֽשֶׁת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9461">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_18_16_3">אָחִ֖יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_16_4">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_16_5">תְגַלֵּ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_16_6">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_16_7">אָחִ֖יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_16_8">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9469">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9470">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_17" data-pasuk-now="19"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_18_17_1">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_18_17_2">אִשָּׁ֛ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_18_17_3">וּבִתָּ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_17_4">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_17_5">תְגַלֵּ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_17_6">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9477">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_17_7">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9479">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_17_8">בְּנָ֞הּ</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_18_17_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9482">־</span><span class="mila" data-lnk="2684354784" data-exlnk="0" id="M_18_17_10">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9484">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_17_11">בִּתָּ֗הּ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_18_17_12">לֹ֤א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_18_17_13">תִקַּח֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_17_14">לְגַלּ֣וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_17_15">עֶרְוָתָ֔הּ</span>
<span class="mila" data-lnk="3221225781" data-exlnk="0" id="M_18_17_16">שַׁאֲרָ֥ה</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_18_17_17">הֵ֖נָּה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_18_17_18">זִמָּ֥ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_17_19">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9494">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_18_1">וְאִשָּׁ֥ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_18_18_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9497">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_18_18_3">אֲחֹתָ֖הּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_18_4">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_18_5">תִקָּ֑ח</span>
<span class="mila" data-lnk="3221225791" data-exlnk="0" id="M_18_18_6">לִצְרֹ֗ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_18_7">לְגַלּ֧וֹת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_18_8">עֶרְוָתָ֛הּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_18_9">עָלֶ֖יהָ</span>
<span class="mila" data-lnk="4026532337" data-exlnk="0" id="M_18_18_10">בְּחַיֶּֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9506">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="805306480" data-exlnk="0" id="M_18_19_1">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9508">־</span><span class="mila" data-lnk="805306480" data-exlnk="0" id="M_18_19_2">אִשָּׁ֖ה</span>
<span class="mila" data-lnk="4026532208" data-exlnk="0" id="M_18_19_3">בְּנִדַּ֣ת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_19_4">טֻמְאָתָ֑הּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_19_5">לֹ֣א</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_19_6">תִקְרַ֔ב</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_19_7">לְגַלּ֖וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_19_8">עֶרְוָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9516">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_20" data-pasuk-now="9"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_18_20_1">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9518">־</span><span class="mila" data-lnk="60" data-exlnk="0" id="M_18_20_2">אֵ֙שֶׁת֙</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_18_20_3">עֲמִֽיתְךָ֔</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_20_4">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9522">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_18_20_5">תִתֵּ֥ן</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_20_6">שְׁכָבְתְּךָ֖</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_18_20_7">לְזָ֑רַע</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_20_8">לְטָמְאָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9527">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_18_20_9">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9529">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_21" data-pasuk-now="12"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="3221225768" data-exlnk="0" id="M_18_21_1">וּמִֽזַּרְעֲךָ֥</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_18_21_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9532">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_18_21_3">תִתֵּ֖ן</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_18_21_4">לְהַעֲבִ֣יר</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_18_21_5">לַמֹּ֑לֶךְ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_21_6">וְלֹ֧א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_21_7">תְחַלֵּ֛ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_21_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9539">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_18_21_9">שֵׁ֥ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_21_10">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_21_11">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_21_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9544">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שביעי]</span>
<span id="PS_18_22" data-pasuk-now="8"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="1073742116" data-exlnk="0" id="M_18_22_1">וְאֶ֨ת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9546">־</span><span class="mila" data-lnk="2147483940" data-exlnk="0" id="M_18_22_2">זָכָ֔ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_22_3">לֹ֥א</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_22_4">תִשְׁכַּ֖ב</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_22_5">מִשְׁכְּבֵ֣י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_22_6">אִשָּׁ֑ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_22_7">תּוֹעֵבָ֖ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_22_8">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9554">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_23" data-pasuk-now="15"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_18_23_1">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9556">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_18_23_2">בְּהֵמָ֛ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_23_3">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9559">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_18_23_4">תִתֵּ֥ן</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_18_23_5">שְׁכָבְתְּךָ֖</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_23_6">לְטָמְאָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9563">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_23_7">בָ֑הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_23_8">וְאִשָּׁ֗ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_23_9">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9567">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_23_10">תַעֲמֹ֞ד</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_23_11">לִפְנֵ֧י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_23_12">בְהֵמָ֛ה</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_18_23_13">לְרִבְעָ֖הּ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_18_23_14">תֶּ֥בֶל</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_18_23_15">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9574">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_24" data-pasuk-now="13"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_24_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9576">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_18_24_2">תִּֽטַּמְּא֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_24_3">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9579">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_24_4">אֵ֑לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_5">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_6">בְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9583">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_7">אֵ֙לֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_8">נִטְמְא֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_9">הַגּוֹיִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9588">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_11">אֲנִ֥י</span>
<span class="mila" data-lnk="805306436" data-exlnk="0" id="M_18_24_12">מְשַׁלֵּ֖חַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_24_13">מִפְּנֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9592">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_18_25_1">וַתִּטְמָ֣א</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_18_25_2">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_25_3">וָאֶפְקֹ֥ד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_25_4">עֲוֺנָ֖הּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_25_5">עָלֶ֑יהָ</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_18_25_6">וַתָּקִ֥א</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_25_7">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_25_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9601">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_18_25_9">יֹשְׁבֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9603">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_26" data-pasuk-now="15"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_26_1">וּשְׁמַרְתֶּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_26_2">אַתֶּ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_26_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9607">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_26_4">חֻקֹּתַי֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_26_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9610">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_18_26_6">מִשְׁפָּטַ֔י</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_18_26_7">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_18_26_8">תַעֲשׂ֔וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_26_9">מִכֹּ֥ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_26_10">הַתּוֹעֵבֹ֖ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_26_11">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_26_12">הָֽאֶזְרָ֔ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_26_13">וְהַגֵּ֖ר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_26_14">הַגָּ֥ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_26_15">בְּתוֹכֲכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9621">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_27" data-pasuk-now="12"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_27_1">כִּ֚י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_27_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9624">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_18_27_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9626">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_18_27_4">הַתּוֹעֵבֹ֣ת</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_18_27_5">הָאֵ֔ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_27_6">עָשׂ֥וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_27_7">אַנְשֵֽׁי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9631">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_18_27_8">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_10">לִפְנֵיכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_11">וַתִּטְמָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_12">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9637">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[מפטיר]</span>
<span id="PS_18_28" data-pasuk-now="12"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="1342177645" data-exlnk="0" id="M_18_28_1">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9639">־</span><span class="mila" data-lnk="3758096749" data-exlnk="0" id="M_18_28_2">תָקִ֤יא</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_18_28_3">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_18_28_4">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_18_28_5">בְּטַֽמַּאֲכֶ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_28_6">אֹתָ֑הּ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_28_7">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="3221225772" data-exlnk="0" id="M_18_28_8">קָאָ֛ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_28_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9648">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_18_28_10">הַגּ֖וֹי</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_28_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_28_12">לִפְנֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9652">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_29" data-pasuk-now="12"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_18_29_1">כִּ֚י</span>
<span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_18_29_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9655">־</span><span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_18_29_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2684354888" data-exlnk="0" id="M_18_29_4">יַעֲשֶׂ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_29_5">מִכֹּ֥ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_29_6">הַתּוֹעֵבֹ֖ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_29_7">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_18_29_8">וְנִכְרְת֛וּ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_18_29_9">הַנְּפָשׁ֥וֹת</span>
<span class="mila" data-lnk="4026532213" data-exlnk="0" id="M_18_29_10">הָעֹשֹׂ֖ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_29_11">מִקֶּ֥רֶב</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_29_12">עַמָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9666">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_30" data-pasuk-now="16"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_30_1">וּשְׁמַרְתֶּ֣ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_18_30_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9669">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_18_30_3">מִשְׁמַרְתִּ֗י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_30_4">לְבִלְתִּ֨י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_30_5">עֲשׂ֜וֹת</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_18_30_6">מֵחֻקּ֤וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_30_7">הַתּֽוֹעֵבֹת֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_30_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_30_9">נַעֲשׂ֣וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_30_10">לִפְנֵיכֶ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_30_11">וְלֹ֥א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_30_12">תִֽטַּמְּא֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_30_13">בָּהֶ֑ם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_18_30_14">אֲנִ֖י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_18_30_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_18_30_16">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9685">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9686"> פ </span>
</span>
<br /></p>