<p id="PR_9" data-perek-now="318" data-perek-nops="24"><span class="perek-header">פרק ט</span>
<br /><span class="parasha-header">{פרשת שמיני}</span>
<span id="PS_9_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_9_1_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_9_1_2">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_9_1_3">הַשְּׁמִינִ֔י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_1_4">קָרָ֣א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_1_5">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_1_6">לְאַהֲרֹ֖ן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_1_7">וּלְבָנָ֑יו</span>
<span class="mila" data-lnk="3221225737" data-exlnk="0" id="M_9_1_8">וּלְזִקְנֵ֖י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_9_1_9">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3806">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_2" data-pasuk-now="15"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_2_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_2_2">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3809">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_9_2_3">אַהֲרֹ֗ן</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_9_2_4">קַח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3812">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_9_2_5">לְ֠ךָ</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_9_2_6">עֵ֣גֶל</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_2_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3816">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_9_2_8">בָּקָ֧ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_2_9">לְחַטָּ֛את</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_2_10">וְאַ֥יִל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_2_11">לְעֹלָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_2_12">תְּמִימִ֑ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_2_13">וְהַקְרֵ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_14">לִפְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_15">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3825">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="1879048528" data-exlnk="0" id="M_9_3_1">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3827">־</span><span class="mila" data-lnk="1342177648" data-exlnk="0" id="M_9_3_2">בְּנֵ֥י</span>
<span class="mila" data-lnk="1342177648" data-exlnk="0" id="M_9_3_3">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="1342177616" data-exlnk="0" id="M_9_3_4">תְּדַבֵּ֣ר</span>
<span class="mila" data-lnk="2952790352" data-exlnk="0" id="M_9_3_5">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_3_6">קְח֤וּ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_3_7">שְׂעִיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3834">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_9_3_8">עִזִּים֙</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_3_9">לְחַטָּ֔את</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_9_3_10">וְעֵ֨גֶל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_9_3_11">וָכֶ֧בֶשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_12">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3840">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_9_3_13">שָׁנָ֛ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_3_14">תְּמִימִ֖ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_9_3_15">לְעֹלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3844">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_9_4_1">וְשׁ֨וֹר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_9_4_2">וָאַ֜יִל</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_9_4_3">לִשְׁלָמִ֗ים</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_9_4_4">לִזְבֹּחַ֙</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_9_4_5">לִפְנֵ֣י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_9_4_6">יְהוָ֔ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_9_4_7">וּמִנְחָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_4_8">בְּלוּלָ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_4_9">בַשָּׁ֑מֶן</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_9_4_10">כִּ֣י</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_9_4_11">הַיּ֔וֹם</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_9_4_12">יְהוָ֖ה</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_9_4_13">נִרְאָ֥ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_9_4_14">אֲלֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3859">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_5" data-pasuk-now="15"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_1">וַיִּקְח֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_2">אֵ֚ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_4">צִוָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_5">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_9_5_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3866">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_5_7">פְּנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_8">אֹ֣הֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_9">מוֹעֵ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_10">וַֽיִּקְרְבוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3872">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_12">הָ֣עֵדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_13">וַיַּעַמְד֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_14">לִפְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_15">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3877">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_6_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_6_2">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_6_3">זֶ֧ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_6_4">הַדָּבָ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3883">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_6">צִוָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_7">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_8">תַּעֲשׂ֑וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_6_9">וְיֵרָ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_6_10">אֲלֵיכֶ֖ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_6_11">כְּב֥וֹד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_6_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3891">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_7" data-pasuk-now="25"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_7_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_7_2">מֹשֶׁ֜ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_7_3">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3895">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_9_7_4">אַהֲרֹ֗ן</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_9_7_5">קְרַ֤ב</span>
<span class="mila" data-lnk="1879048529" data-exlnk="0" id="M_9_7_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3899">־</span><span class="mila" data-lnk="2952790353" data-exlnk="0" id="M_9_7_7">הַמִּזְבֵּחַ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_7_8">וַעֲשֵׂ֞ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_9_7_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3903">־</span><span class="mila" data-lnk="4026532305" data-exlnk="0" id="M_9_7_10">חַטָּֽאתְךָ֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_9_7_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3906">־</span><span class="mila" data-lnk="4026532177" data-exlnk="0" id="M_9_7_12">עֹ֣לָתֶ֔ךָ</span>
<span class="mila" data-lnk="4026532316" data-exlnk="0" id="M_9_7_13">וְכַפֵּ֥ר</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_7_14">בַּעַדְךָ֖</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_7_15">וּבְעַ֣ד</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_7_16">הָעָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_17">וַעֲשֵׂ֞ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_7_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3914">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_9_7_19">קָרְבַּ֤ן</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_9_7_20">הָעָם֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_7_21">וְכַפֵּ֣ר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_9_7_22">בַּעֲדָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_23">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_24">צִוָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_25">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3922">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_8" data-pasuk-now="10"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532304" data-exlnk="0" id="M_9_8_1">וַיִּקְרַ֥ב</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_8_2">אַהֲרֹ֖ן</span>
<span class="mila" data-lnk="3489661264" data-exlnk="0" id="M_9_8_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3926">־</span><span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_9_8_4">הַמִּזְבֵּ֑חַ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_8_5">וַיִּשְׁחַ֛ט</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_8_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3930">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_7">עֵ֥גֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_8">הַחַטָּ֖את</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_8_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3934">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_9_8_10">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3936">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_9" data-pasuk-now="19"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_9_1">וַ֠יַּקְרִבוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_2">בְּנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_3">אַהֲרֹ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3941">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_5">הַדָּם֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_6">אֵלָיו֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_7">וַיִּטְבֹּ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_8">אֶצְבָּעוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_9">בַּדָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_10">וַיִּתֵּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3949">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_9_12">קַרְנ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_13">הַמִּזְבֵּ֑חַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_9_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3953">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_9_9_15">הַדָּ֣ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_9_16">יָצַ֔ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3957">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_18">יְס֖וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_19">הַמִּזְבֵּֽחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3960">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_10" data-pasuk-now="17"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1342177604" data-exlnk="0" id="M_9_10_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3962">־</span><span class="mila" data-lnk="2684354884" data-exlnk="0" id="M_9_10_2">הַחֵ֨לֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3965">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_4">הַכְּלָיֹ֜ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3968">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_6">הַיֹּתֶ֤רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_7">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3971">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_8">הַכָּבֵד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3974">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_10">הַ֣חַטָּ֔את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_11">הִקְטִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_12">הַמִּזְבֵּ֑חָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_13">כַּאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_14">צִוָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_15">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3982">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_17">מֹשֶֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3984">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_9_11_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3986">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_9_11_2">הַבָּשָׂ֖ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_9_11_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3989">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_9_11_4">הָע֑וֹר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_11_5">שָׂרַ֣ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_6">בָּאֵ֔שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_7">מִח֖וּץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_8">לַֽמַּחֲנֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3995">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_1">וַיִּשְׁחַ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3998">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_3">הָעֹלָ֑ה</span>
<span class="mila" data-lnk="4026532165" data-exlnk="0" id="M_9_12_4">וַ֠יַּמְצִאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_5">בְּנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_6">אַהֲרֹ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_7">אֵלָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4005">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_9">הַדָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_10">וַיִּזְרְקֵ֥הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4009">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_12">הַמִּזְבֵּ֖חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_13">סָבִֽיב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4012">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_13" data-pasuk-now="10"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_9_13_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4014">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_9_13_2">הָעֹלָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_3">הִמְצִ֧יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_4">אֵלָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_5">לִנְתָחֶ֖יהָ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_13_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4020">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_13_7">הָרֹ֑אשׁ</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_9_13_8">וַיַּקְטֵ֖ר</span>
<span class="mila" data-lnk="268435522" data-exlnk="0" id="M_9_13_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4024">־</span><span class="mila" data-lnk="805306434" data-exlnk="0" id="M_9_13_10">הַמִּזְבֵּֽחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4026">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_14" data-pasuk-now="9"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_1">וַיִּרְחַ֥ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4029">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_3">הַקֶּ֖רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4032">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_5">הַכְּרָעָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_6">וַיַּקְטֵ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4036">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_8">הָעֹלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_9">הַמִּזְבֵּֽחָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4039">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_1">וַיַּקְרֵ֕ב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_2">אֵ֖ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_3">קָרְבַּ֣ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_4">הָעָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_5">וַיִּקַּ֞ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4046">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_7">שְׂעִ֤יר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_15_8">הַֽחַטָּאת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_10">לָעָ֔ם</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_9_15_11">וַיִּשְׁחָטֵ֥הוּ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_9_15_12">וַֽיְחַטְּאֵ֖הוּ</span>
<span class="mila" data-lnk="3221225765" data-exlnk="0" id="M_9_15_13">כָּרִאשֽׁוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4054">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_16" data-pasuk-now="5"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_1">וַיַּקְרֵ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4057">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_3">הָעֹלָ֑ה</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_9_16_4">וַֽיַּעֲשֶׂ֖הָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_16_5">כַּמִּשְׁפָּֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4061">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שני]</span>
<span id="PS_9_17" data-pasuk-now="12"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_17_1">וַיַּקְרֵב֘</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_17_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4064">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_9_17_3">הַמִּנְחָה֒</span>
<span class="mila" data-lnk="4026532177" data-exlnk="0" id="M_9_17_4">וַיְמַלֵּ֤א</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_9_17_5">כַפּוֹ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_17_6">מִמֶּ֔נָּה</span>
<span class="mila" data-lnk="268435536" data-exlnk="0" id="M_9_17_7">וַיַּקְטֵ֖ר</span>
<span class="mila" data-lnk="268435536" data-exlnk="0" id="M_9_17_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4071">־</span><span class="mila" data-lnk="805306448" data-exlnk="0" id="M_9_17_9">הַמִּזְבֵּ֑חַ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_9_17_10">מִלְּבַ֖ד</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_9_17_11">עֹלַ֥ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_9_17_12">הַבֹּֽקֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4076">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_18" data-pasuk-now="19"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_1">וַיִּשְׁחַ֤ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4079">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_3">הַשּׁוֹר֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_18_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4082">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_18_5">הָאַ֔יִל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_6">זֶ֥בַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_7">הַשְּׁלָמִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_9">לָעָ֑ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_18_10">וַ֠יַּמְצִאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_11">בְּנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_12">אַהֲרֹ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4092">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_14">הַדָּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_15">אֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_16">וַיִּזְרְקֵ֥הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_17">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4097">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_18">הַמִּזְבֵּ֖חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_19">סָבִֽיב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4100">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_19" data-pasuk-now="11"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_19_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4102">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_9_19_2">הַחֲלָבִ֖ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_19_3">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4105">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_9_19_4">הַשּׁ֑וֹר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_19_5">וּמִ֨ן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4108">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_9_19_6">הָאַ֔יִל</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_9_19_7">הָאַלְיָ֤ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_9_19_8">וְהַֽמֲכַסֶּה֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_9_19_9">וְהַכְּלָיֹ֔ת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_9_19_10">וְיֹתֶ֖רֶת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_9_19_11">הַכָּבֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4115">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_20" data-pasuk-now="8"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_9_20_1">וַיָּשִׂ֥ימוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_20_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4118">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_9_20_3">הַחֲלָבִ֖ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_20_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4121">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_20_5">הֶחָז֑וֹת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_20_6">וַיַּקְטֵ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_20_7">הַחֲלָבִ֖ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_20_8">הַמִּזְבֵּֽחָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4126">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_21_1">וְאֵ֣ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_21_2">הֶחָז֗וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_21_3">וְאֵת֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_21_4">שׁ֣וֹק</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_21_5">הַיָּמִ֔ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_6">הֵנִ֧יף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_7">אַהֲרֹ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_8">תְּנוּפָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_9">לִפְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_10">יְהוָ֑ה</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_9_21_11">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_9_21_12">צִוָּ֥ה</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_9_21_13">מֹשֶֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4140">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_22" data-pasuk-now="12"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_22_1">וַיִּשָּׂ֨א</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_22_2">אַהֲרֹ֧ן</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_22_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4144">־</span><span data-lnk="0" data-exlnk="0" id="M_9_22_4" class="mila ktiv">יָדָ֛ו</span>
<span data-lnk="4026532220" data-exlnk="0" id="M_9_22_4_K" class="mila kri">יָדָ֛יו</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_22_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4148">־</span><span class="mila" data-lnk="60" data-exlnk="0" id="M_9_22_6">הָעָ֖ם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_9_22_7">וַֽיְבָרֲכֵ֑ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_9_22_8">וַיֵּ֗רֶד</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_9_22_9">מֵעֲשֹׂ֧ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_10">הַחַטָּ֛את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_11">וְהָעֹלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_12">וְהַשְּׁלָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4156">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_23" data-pasuk-now="16"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_9_23_1">וַיָּבֹ֨א</span>
<span class="mila" data-lnk="268435535" data-exlnk="0" id="M_9_23_2">מֹשֶׁ֤ה</span>
<span class="mila" data-lnk="805306447" data-exlnk="0" id="M_9_23_3">וְאַֽהֲרֹן֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_23_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4161">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_9_23_5">אֹ֣הֶל</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_23_6">מוֹעֵ֔ד</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_9_23_7">וַיֵּ֣צְא֔וּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_9_23_8">וַֽיְבָרֲכ֖וּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_9_23_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4167">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_9_23_10">הָעָ֑ם</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_9_23_11">וַיֵּרָ֥א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_23_12">כְבוֹד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4171">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_23_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="1073741958" data-exlnk="0" id="M_9_23_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4174">־</span><span class="mila" data-lnk="2147483782" data-exlnk="0" id="M_9_23_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4176">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_23_16">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4178">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שלישי]</span>
<span id="PS_9_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_24_1">וַתֵּ֤צֵא</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_24_2">אֵשׁ֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_24_3">מִלִּפְנֵ֣י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_24_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_24_5">וַתֹּ֙אכַל֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_24_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4185">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_9_24_7">הַמִּזְבֵּ֔חַ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_24_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4188">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_9_24_9">הָעֹלָ֖ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_24_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4191">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_9_24_11">הַחֲלָבִ֑ים</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_9_24_12">וַיַּ֤רְא</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_9_24_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4195">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_9_24_14">הָעָם֙</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_9_24_15">וַיָּרֹ֔נּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_16">וַֽיִּפְּל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_17">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4200">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_18">פְּנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4202">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>