<p id="PR_5" data-perek-now="430" data-perek-nops="26"><span class="perek-header">פרק ה</span>
<br /><span id="PS_5_1" data-pasuk-now="17"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026532324" data-exlnk="0" id="M_5_1_1">וְנֶ֣פֶשׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_1_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1583">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_5_1_3">תֶחֱטָ֗א</span>
<span class="mila" data-lnk="3221225761" data-exlnk="0" id="M_5_1_4">וְשָֽׁמְעָה֙</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_5_1_5">ק֣וֹל</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_1_6">אָלָ֔ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_5_1_7">וְה֣וּא</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_5_1_8">עֵ֔ד</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_1_9">א֥וֹ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_1_10">רָאָ֖ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_1_11">א֣וֹ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_1_12">יָדָ֑ע</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_5_1_13">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1595">־</span><span class="mila" data-lnk="4026532340" data-exlnk="0" id="M_5_1_14">ל֥וֹא</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_5_1_15">יַגִּ֖יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_1_16">וְנָשָׂ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_1_17">עֲוֺנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1600">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_2" data-pasuk-now="24"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_2_1">א֣וֹ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_2_2">נֶ֗פֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_2_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_2_4">תִּגַּע֘</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_2_5">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1606">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_2_6">דָּבָ֣ר</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_2_7">טָמֵא֒</span>
<span class="mila" data-lnk="268435525" data-exlnk="0" id="M_5_2_8">אוֹ֩</span>
<span class="mila" data-lnk="536871012" data-exlnk="0" id="M_5_2_9">בְנִבְלַ֨ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_2_10">חַיָּ֜ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_2_11">טְמֵאָ֗ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_5_2_12">א֚וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_2_13">בְּנִבְלַת֙</span>
<span class="mila" data-lnk="1342177636" data-exlnk="0" id="M_5_2_14">בְּהֵמָ֣ה</span>
<span class="mila" data-lnk="3758096740" data-exlnk="0" id="M_5_2_15">טְמֵאָ֔ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_2_16">א֕וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_2_17">בְּנִבְלַ֖ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_2_18">שֶׁ֣רֶץ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_2_19">טָמֵ֑א</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_5_2_20">וְנֶעְלַ֣ם</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_5_2_21">מִמֶּ֔נּוּ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_5_2_22">וְה֥וּא</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_5_2_23">טָמֵ֖א</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_5_2_24">וְאָשֵֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1626">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_3_1">א֣וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_3_2">כִ֤י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_3_3">יִגַּע֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_3_4">בְּטֻמְאַ֣ת</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_3_5">אָדָ֔ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_3_6">לְכֹל֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_3_7">טֻמְאָת֔וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_3_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_3_9">יִטְמָ֖א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_3_10">בָּ֑הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_3_11">וְנֶעְלַ֣ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_3_12">מִמֶּ֔נּוּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_3_13">וְה֥וּא</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_3_14">יָדַ֖ע</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_5_3_15">וְאָשֵֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1642">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_4" data-pasuk-now="21"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_1">א֣וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_2">נֶ֡פֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_3">כִּ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_4">תִשָּׁבַע֩</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_5_4_5">לְבַטֵּ֨א</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_4_6">בִשְׂפָתַ֜יִם</span>
<span class="mila" data-lnk="4026532325" data-exlnk="0" id="M_5_4_7">לְהָרַ֣ע׀</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_4_8">א֣וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_4_9">לְהֵיטִ֗יב</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_4_10">לְ֠כֹל</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_4_11">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="3221225761" data-exlnk="0" id="M_5_4_12">יְבַטֵּ֧א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_4_13">הָאָדָ֛ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_14">בִּשְׁבֻעָ֖ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_5_4_15">וְנֶעְלַ֣ם</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_5_4_16">מִמֶּ֑נּוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_17">וְהוּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1660">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_18">יָדַ֥ע</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_19">וְאָשֵׁ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_20">לְאַחַ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_4_21">מֵאֵֽלֶּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1665">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_5_5_1">וְהָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_2">כִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1668">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_3">יֶאְשַׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_4">לְאַחַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_5">מֵאֵ֑לֶּה</span>
<span class="mila" data-lnk="4026532208" data-exlnk="0" id="M_5_5_6">וְהִ֨תְוַדָּ֔ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_5_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_5_8">חָטָ֖א</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_5_9">עָלֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1676">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_1">וְהֵבִ֣יא</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1679">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_3">אֲשָׁמ֣וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_4">לַיהוָ֡ה</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_5_6_5">עַ֣ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_6">חַטָּאתוֹ֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_7">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_8">חָטָ֜א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_9">נְקֵבָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_6_10">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1688">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_6_11">הַצֹּ֥אן</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_5_6_12">כִּשְׂבָּ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_6_13">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1692">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_5_6_14">שְׂעִירַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_6_15">עִזִּ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_16">לְחַטָּ֑את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_6_17">וְכִפֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_6_18">עָלָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_6_19">הַכֹּהֵ֖ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_6_20">מֵחַטָּאתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1700">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_7" data-pasuk-now="22"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_5_7_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1702">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_5_7_2">לֹ֨א</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_5_7_3">תַגִּ֣יעַ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_5_7_4">יָדוֹ֘</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_7_5">דֵּ֣י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_7_6">שֶׂה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_7">וְהֵבִ֨יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1710">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_9">אֲשָׁמ֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_10">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_11">חָטָ֗א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_7_12">שְׁתֵּ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_7_13">תֹרִ֛ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_7_14">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1717">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_7_15">שְׁנֵ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_7_16">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1720">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_7_17">יוֹנָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_7_18">לַֽיהוָ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_7_19">אֶחָ֥ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_7_20">לְחַטָּ֖את</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_5_7_21">וְאֶחָ֥ד</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_5_7_22">לְעֹלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1727">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_8" data-pasuk-now="16"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_1">וְהֵבִ֤יא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_8_2">אֹתָם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_8_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1731">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_4">הַכֹּהֵ֔ן</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_8_5">וְהִקְרִ֛יב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_8_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1735">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_5_8_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_8_8">לַחַטָּ֖את</span>
<span class="mila" data-lnk="4026532065" data-exlnk="0" id="M_5_8_9">רִאשׁוֹנָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_8_10">וּמָלַ֧ק</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_8_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1741">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_5_8_12">רֹאשׁ֛וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_8_13">מִמּ֥וּל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_8_14">עָרְפּ֖וֹ</span>
<span class="mila" data-lnk="1073742115" data-exlnk="0" id="M_5_8_15">וְלֹ֥א</span>
<span class="mila" data-lnk="2147483939" data-exlnk="0" id="M_5_8_16">יַבְדִּֽיל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1747">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_9_1">וְהִזָּ֞ה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_9_2">מִדַּ֤ם</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_9_3">הַֽחַטָּאת֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_9_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1752">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_9_5">קִ֣יר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_9_6">הַמִּזְבֵּ֔חַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_9_7">וְהַנִּשְׁאָ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_9_8">בַּדָּ֔ם</span>
<span class="mila" data-lnk="3221225762" data-exlnk="0" id="M_5_9_9">יִמָּצֵ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_9_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1759">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_9_11">יְס֣וֹד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_9_12">הַמִּזְבֵּ֑חַ</span>
<span class="mila" data-lnk="268435521" data-exlnk="0" id="M_5_9_13">חַטָּ֖את</span>
<span class="mila" data-lnk="805306433" data-exlnk="0" id="M_5_9_14">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1764">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1073742112" data-exlnk="0" id="M_5_10_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1766">־</span><span class="mila" data-lnk="2147483936" data-exlnk="0" id="M_5_10_2">הַשֵּׁנִ֛י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_10_3">יַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_10_4">עֹלָ֖ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_10_5">כַּמִּשְׁפָּ֑ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_6">וְכִפֶּ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_7">עָלָ֧יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_8">הַכֹּהֵ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_9">מֵחַטָּאת֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1776">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_11">חָטָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_12">וְנִסְלַ֥ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_13">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1781">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1782">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שביעי]</span>
<span id="PS_5_11" data-pasuk-now="30"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1784">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_2">לֹא֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_3">תַשִּׂ֨יג</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_4">יָד֜וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_5">לִשְׁתֵּ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_6">תֹרִ֗ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_7">אוֹ֘</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_8">לִשְׁנֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_9">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1793">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_10">יוֹנָה֒</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_11">וְהֵבִ֨יא</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1797">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_13">קָרְבָּנ֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_14">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_15">חָטָ֗א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_11_16">עֲשִׂירִ֧ת</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_5_11_17">הָאֵפָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_18">סֹ֖לֶת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_19">לְחַטָּ֑את</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_20">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1806">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_21">יָשִׂ֨ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_22">עָלֶ֜יהָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_23">שֶׁ֗מֶן</span>
<span class="mila" data-lnk="1342177760" data-exlnk="0" id="M_5_11_24">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1811">־</span><span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_5_11_25">יִתֵּ֤ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_26">עָלֶ֙יהָ֙</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_5_11_27">לְבֹנָ֔ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_11_28">כִּ֥י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_11_29">חַטָּ֖את</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_11_30">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1818">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_12" data-pasuk-now="17"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_5_12_1">וֶהֱבִיאָהּ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1821">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_3">הַכֹּהֵן֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_4">וְקָמַ֣ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_5">הַכֹּהֵ֣ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="1825">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_6">מִ֠מֶּנָּה</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_5_12_7">מְל֨וֹא</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_12_8">קֻמְצ֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1830">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_10">אַזְכָּרָתָהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_11">וְהִקְטִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_12">הַמִּזְבֵּ֔חָה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_12_13">עַ֖ל</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_5_12_14">אִשֵּׁ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_12_15">יְהוָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_12_16">חַטָּ֖את</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_12_17">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1839">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_13" data-pasuk-now="14"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_13_1">וְכִפֶּר֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_13_2">עָלָ֨יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_13_3">הַכֹּהֵ֜ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_13_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1844">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_5_13_5">חַטָּאת֧וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_13_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1847">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_5_13_7">חָטָ֛א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_13_8">מֵאַחַ֥ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_13_9">מֵאֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_10">וְנִסְלַ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_11">ל֑וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_13_12">וְהָיְתָ֥ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_13_13">לַכֹּהֵ֖ן</span>
<span class="mila" data-lnk="3221225761" data-exlnk="0" id="M_5_13_14">כַּמִּנְחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1857">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1858">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_14" data-pasuk-now="5"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1862">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1865">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_15" data-pasuk-now="22"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_15_1">נֶ֚פֶשׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_15_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1868">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_5_15_3">תִמְעֹ֣ל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_15_4">מַ֔עַל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_15_5">וְחָֽטְאָה֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_15_6">בִּשְׁגָגָ֔ה</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_15_7">מִקָּדְשֵׁ֖י</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_15_8">יְהוָ֑ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_15_9">וְהֵבִיא֩</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_15_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1877">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_5_15_11">אֲשָׁמ֨וֹ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_5_15_12">לַיהוָ֜ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_15_13">אַ֧יִל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_15_14">תָּמִ֣ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_15_15">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1883">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_15_16">הַצֹּ֗אן</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_15_17">בְּעֶרְכְּךָ֛</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_15_18">כֶּֽסֶף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1887">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_5_15_19">שְׁקָלִ֥ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_5_15_20">בְּשֶֽׁקֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1890">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_5_15_21">הַקֹּ֖דֶשׁ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_5_15_22">לְאָשָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1893">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_16" data-pasuk-now="20"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_16_1">וְאֵ֣ת</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_16_2">אֲשֶׁר֩</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_16_3">חָטָ֨א</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_16_4">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1898">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_5_16_5">הַקֹּ֜דֶשׁ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_16_6">יְשַׁלֵּ֗ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_16_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1902">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_5_16_8">חֲמִֽישִׁתוֹ֙</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_5_16_9">יוֹסֵ֣ף</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_16_10">עָלָ֔יו</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_16_11">וְנָתַ֥ן</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_16_12">אֹת֖וֹ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_16_13">לַכֹּהֵ֑ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_16_14">וְהַכֹּהֵ֗ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_16_15">יְכַפֵּ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_16_16">עָלָ֛יו</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_16_17">בְּאֵ֥יל</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_16_18">הָאָשָׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_19">וְנִסְלַ֥ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_20">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1917">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1918"> פ </span>
</span>
<br /><span id="PS_5_17" data-pasuk-now="17"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_17_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1920">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_5_17_2">נֶ֙פֶשׁ֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_17_3">כִּ֣י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_17_4">תֶחֱטָ֔א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_17_5">וְעָֽשְׂתָ֗ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_17_6">אַחַת֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_17_7">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1927">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_5_17_8">מִצְוֺ֣ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_17_9">יְהוָ֔ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_17_10">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_17_11">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_17_12">תֵעָשֶׂ֑ינָה</span>
<span class="mila" data-lnk="1342177639" data-exlnk="0" id="M_5_17_13">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1934">־</span><span class="mila" data-lnk="2952790375" data-exlnk="0" id="M_5_17_14">יָדַ֥ע</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_17_15">וְאָשֵׁ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_17_16">וְנָשָׂ֥א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_17_17">עֲוֺנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1939">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_18" data-pasuk-now="21"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_18_1">וְ֠הֵבִיא</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_5_18_2">אַ֣יִל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_18_3">תָּמִ֧ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_18_4">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1944">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_5_18_5">הַצֹּ֛אן</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_18_6">בְּעֶרְכְּךָ֥</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_18_7">לְאָשָׁ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_18_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1949">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_9">הַכֹּהֵ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_10">וְכִפֶּר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_11">עָלָ֨יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_12">הַכֹּהֵ֜ן</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_5_18_13">עַ֣ל</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_5_18_14">שִׁגְגָת֧וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_18_15">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1957">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_5_18_16">שָׁגָ֛ג</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_18_17">וְה֥וּא</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_18_18">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1961">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_5_18_19">יָדַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_20">וְנִסְלַ֥ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_21">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1965">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_19" data-pasuk-now="5"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026532325" data-exlnk="0" id="M_5_19_1">אָשָׁ֖ם</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_19_2">ה֑וּא</span>
<span class="mila" data-lnk="805306469" data-exlnk="0" id="M_5_19_3">אָשֹׁ֥ם</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_19_4">אָשַׁ֖ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_19_5">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1972">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1973"> פ </span>
</span>
<br /><span id="PS_5_20" data-pasuk-now="5"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1977">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_21" data-pasuk-now="18"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_21_1">נֶ֚פֶשׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_21_2">כִּ֣י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_21_3">תֶחֱטָ֔א</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_21_4">וּמָעֲלָ֥ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_21_5">מַ֖עַל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_21_6">בַּיהוָ֑ה</span>
<span class="mila" data-lnk="4026532194" data-exlnk="0" id="M_5_21_7">וְכִחֵ֨שׁ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_21_8">בַּעֲמִית֜וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_21_9">בְּפִקָּד֗וֹן</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_21_10">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1991">־</span><span class="mila" data-lnk="3221225765" data-exlnk="0" id="M_5_21_11">בִתְשׂ֤וּמֶת</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_21_12">יָד֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_21_13">א֣וֹ</span>
<span class="mila" data-lnk="3221225765" data-exlnk="0" id="M_5_21_14">בְגָזֵ֔ל</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_21_15">א֖וֹ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_21_16">עָשַׁ֥ק</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_21_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1999">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_5_21_18">עֲמִיתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2001">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_22" data-pasuk-now="16"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_22_1">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2003">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_22_2">מָצָ֧א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_22_3">אֲבֵדָ֛ה</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_5_22_4">וְכִ֥חֶשׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_22_5">בָּ֖הּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_22_6">וְנִשְׁבַּ֣ע</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_22_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2010">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_5_22_8">שָׁ֑קֶר</span>
<span class="mila" data-lnk="1342177633" data-exlnk="0" id="M_5_22_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2013">־</span><span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_5_22_10">אַחַ֗ת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_22_11">מִכֹּ֛ל</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_22_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2017">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_5_22_13">יַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_22_14">הָאָדָ֖ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_22_15">לַחֲטֹ֥א</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_5_22_16">בָהֵֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2022">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_23" data-pasuk-now="25"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_23_1">וְהָיָה֘</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_23_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2025">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_5_23_3">יֶחֱטָ֣א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_23_4">וְאָשֵׁם֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_5">וְהֵשִׁ֨יב</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_5_23_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2030">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_7">הַגְּזֵלָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_5_23_9">גָּזָ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_10">א֤וֹ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_5_23_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2036">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_12">הָעֹ֙שֶׁק֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_13">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_5_23_14">עָשָׁ֔ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_15">א֚וֹ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_5_23_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2042">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_17">הַפִּקָּד֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_18">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_5_23_19">הָפְקַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_20">אִתּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_21">א֥וֹ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_5_23_22">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2049">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_23">הָאֲבֵדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_24">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_25">מָצָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2053">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[מפטיר]</span>
<span id="PS_5_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_24_1">א֠וֹ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_5_24_2">מִכֹּ֞ל</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_5_24_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2057">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_5_24_4">יִשָּׁבַ֣ע</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_5_24_5">עָלָיו֘</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_24_6">לַשֶּׁקֶר֒</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_5_24_7">וְשִׁלַּ֤ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_24_8">אֹתוֹ֙</span>
<span class="mila" data-lnk="805306469" data-exlnk="0" id="M_5_24_9">בְּרֹאשׁ֔וֹ</span>
<span class="mila" data-lnk="3221225765" data-exlnk="0" id="M_5_24_10">וַחֲמִשִׁתָ֖יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_24_11">יֹסֵ֣ף</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_24_12">עָלָ֑יו</span>
<span class="mila" data-lnk="1073742113" data-exlnk="0" id="M_5_24_13">לַאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="2147483937" data-exlnk="0" id="M_5_24_14">ה֥וּא</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_24_15">ל֛וֹ</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_5_24_16">יִתְּנֶ֖נּוּ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_24_17">בְּי֥וֹם</span>
<span class="mila" data-lnk="3221225766" data-exlnk="0" id="M_5_24_18">אַשְׁמָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2073">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_25" data-pasuk-now="12"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1073742112" data-exlnk="0" id="M_5_25_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2075">־</span><span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_5_25_2">אֲשָׁמ֥וֹ</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_5_25_3">יָבִ֖יא</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_25_4">לַיהוָ֑ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_25_5">אַ֣יִל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_25_6">תָּמִ֧ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_25_7">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2082">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_25_8">הַצֹּ֛אן</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_25_9">בְּעֶרְכְּךָ֥</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_25_10">לְאָשָׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_25_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2087">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_25_12">הַכֹּהֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2089">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_26" data-pasuk-now="14"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_26_1">וְכִפֶּ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_26_2">עָלָ֧יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_26_3">הַכֹּהֵ֛ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_26_4">לִפְנֵ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_26_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_26_6">וְנִסְלַ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_26_7">ל֑וֹ</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_5_26_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2098">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_5_26_9">אַחַ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_26_10">מִכֹּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_26_11">אֲשֶֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2102">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_26_12">יַעֲשֶׂ֖ה</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_5_26_13">לְאַשְׁמָ֥ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_5_26_14">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2107">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2108"> פ </span>
</span>
<br /></p>