<p id="PR_15" data-perek-now="456" data-perek-nops="33"><span class="perek-header">פרק טו</span>
<br /><span id="PS_15_1" data-pasuk-now="7"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="805306468" data-exlnk="0" id="M_15_1_1">וַיְדַבֵּ֣ר</span>
<span class="mila" data-lnk="268435556" data-exlnk="0" id="M_15_1_2">יְהוָ֔ה</span>
<span class="mila" data-lnk="268435556" data-exlnk="0" id="M_15_1_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7628">־</span><span class="mila" data-lnk="268435556" data-exlnk="0" id="M_15_1_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="268435556" data-exlnk="0" id="M_15_1_5">וְאֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7631">־</span><span class="mila" data-lnk="805306468" data-exlnk="0" id="M_15_1_6">אַהֲרֹ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_7">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7634">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_2" data-pasuk-now="15"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532200" data-exlnk="0" id="M_15_2_1">דַּבְּרוּ֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_2_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7637">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_15_2_3">בְּנֵ֣י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_2_4">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_15_2_5">וַאֲמַרְתֶּ֖ם</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_15_2_6">אֲלֵהֶ֑ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_2_7">אִ֣ישׁ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_2_8">אִ֗ישׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_2_9">כִּ֤י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_2_10">יִֽהְיֶה֙</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_15_2_11">זָ֣ב</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_15_2_12">מִבְּשָׂר֔וֹ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_2_13">זוֹב֖וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_2_14">טָמֵ֥א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_2_15">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7651">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_15_3_1">וְזֹ֛את</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_3_2">תִּהְיֶ֥ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_3_3">טֻמְאָת֖וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_4">בְּזוֹב֑וֹ</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_15_3_5">רָ֣ר</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_15_3_6">בְּשָׂר֞וֹ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_15_3_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7659">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_15_3_8">זוֹב֗וֹ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_3_9">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7662">־</span><span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_15_3_10">הֶחְתִּ֤ים</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_3_11">בְּשָׂרוֹ֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_12">מִזּוֹב֔וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_3_13">טֻמְאָת֖וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_3_14">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7668">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_4" data-pasuk-now="13"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_4_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7670">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_15_4_2">הַמִּשְׁכָּ֗ב</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_15_4_3">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_15_4_4">יִשְׁכַּ֥ב</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_15_4_5">עָלָ֛יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_4_6">הַזָּ֖ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_4_7">יִטְמָ֑א</span>
<span class="mila" data-lnk="1879048544" data-exlnk="0" id="M_15_4_8">וְכָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7678">־</span><span class="mila" data-lnk="2952790368" data-exlnk="0" id="M_15_4_9">הַכְּלִ֛י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_4_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7681">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_4_11">יֵשֵׁ֥ב</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_4_12">עָלָ֖יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_4_13">יִטְמָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7685">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_5_1">וְאִ֕ישׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_5_2">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_5_3">יִגַּ֖ע</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_5_4">בְּמִשְׁכָּב֑וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_5_5">יְכַבֵּ֧ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_5_6">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_5_7">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_5_8">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_5_9">וְטָמֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_5_10">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7696">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_5_11">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7698">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_6_1">וְהַיֹּשֵׁב֙</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_15_6_2">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7701">־</span><span class="mila" data-lnk="2952790337" data-exlnk="0" id="M_15_6_3">הַכְּלִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7704">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_5">יֵשֵׁ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_6">עָלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_7">הַזָּ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_8">יְכַבֵּ֧ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_9">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_10">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_11">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_12">וְטָמֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_13">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7714">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_14">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7716">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_7" data-pasuk-now="10"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_15_7_1">וְהַנֹּגֵ֖עַ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_7_2">בִּבְשַׂ֣ר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_7_3">הַזָּ֑ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_7_4">יְכַבֵּ֧ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_7_5">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_6">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_7">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_8">וְטָמֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_9">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7726">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_10">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7728">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_8" data-pasuk-now="11"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_8_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7730">־</span><span class="mila" data-lnk="4026532333" data-exlnk="0" id="M_15_8_2">יָרֹ֥ק</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_8_3">הַזָּ֖ב</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_8_4">בַּטָּה֑וֹר</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_15_8_5">וְכִבֶּ֧ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_8_6">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_7">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_8">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_9">וְטָמֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_10">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7740">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_11">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7742">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_9_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7744">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_15_9_2">הַמֶּרְכָּ֗ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_3">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_9_4">יִרְכַּ֥ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_5">עָלָ֛יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_6">הַזָּ֖ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_7">יִטְמָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7751">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_10_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7753">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_15_10_2">הַנֹּגֵ֗עַ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_10_3">בְּכֹל֙</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_10_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_10_5">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_10_6">תַחְתָּ֔יו</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_10_7">יִטְמָ֖א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7761">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_9">הָעָ֑רֶב</span>
<span class="mila" data-lnk="3221225765" data-exlnk="0" id="M_15_10_10">וְהַנּוֹשֵׂ֣א</span>
<span class="mila" data-lnk="4026532197" data-exlnk="0" id="M_15_10_11">אוֹתָ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_12">יְכַבֵּ֧ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_13">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_10_14">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_10_15">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_10_16">וְטָמֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_10_17">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7771">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_10_18">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7773">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_11" data-pasuk-now="16"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_15_11_1">וְכֹ֨ל</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_15_11_2">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_15_11_3">יִגַּע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7777">־</span><span class="mila" data-lnk="60" data-exlnk="0" id="M_15_11_4">בּוֹ֙</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_15_11_5">הַזָּ֔ב</span>
<span class="mila" data-lnk="4026532223" data-exlnk="0" id="M_15_11_6">וְיָדָ֖יו</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_15_11_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7782">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_15_11_8">שָׁטַ֣ף</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_15_11_9">בַּמָּ֑יִם</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_15_11_10">וְכִבֶּ֧ס</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_15_11_11">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_11_12">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_15_11_13">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_15_11_14">וְטָמֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_11_15">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7791">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_11_16">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7793">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_12" data-pasuk-now="12"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_12_1">וּכְלִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7795">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_12_2">חֶ֛רֶשׂ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_12_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7798">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_12_4">יִגַּע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7800">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_12_5">בּ֥וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_12_6">הַזָּ֖ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_12_7">יִשָּׁבֵ֑ר</span>
<span class="mila" data-lnk="3489661288" data-exlnk="0" id="M_15_12_8">וְכָ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7805">־</span><span class="mila" data-lnk="2952790376" data-exlnk="0" id="M_15_12_9">כְּלִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7807">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_15_12_10">עֵ֔ץ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_12_11">יִשָּׁטֵ֖ף</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_12_12">בַּמָּֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7811">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_13_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7813">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_15_13_2">יִטְהַ֤ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_3">הַזָּב֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_4">מִזּוֹב֔וֹ</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_15_13_5">וְסָ֨פַר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_6">ל֜וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_13_7">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_13_8">יָמִ֛ים</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_13_9">לְטָהֳרָת֖וֹ</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_15_13_10">וְכִבֶּ֣ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_11">בְּגָדָ֑יו</span>
<span class="mila" data-lnk="3489661408" data-exlnk="0" id="M_15_13_12">וְרָחַ֧ץ</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_15_13_13">בְּשָׂר֛וֹ</span>
<span class="mila" data-lnk="4026532321" data-exlnk="0" id="M_15_13_14">בְּמַ֥יִם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_13_15">חַיִּ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_16">וְטָהֵֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7829">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_14" data-pasuk-now="20"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_1">וּבַיּ֣וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_2">הַשְּׁמִינִ֗י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_3">יִֽקַּֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7833">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_4">לוֹ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_5">שְׁתֵּ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_6">תֹרִ֔ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_7">א֥וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_8">שְׁנֵ֖י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_9">בְּנֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_10">יוֹנָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_11">וּבָ֣א׀</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_12">לִפְנֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_13">יְהוָ֗ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7845">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_15">פֶּ֙תַח֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_16">אֹ֣הֶל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_17">מוֹעֵ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_14_18">וּנְתָנָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_14_19">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7851">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_14_20">הַכֹּהֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7853">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_1">וְעָשָׂ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_2">אֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_3">הַכֹּהֵ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_4">אֶחָ֣ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_15_5">חַטָּ֔את</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_15_15_6">וְהָאֶחָ֖ד</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_15_7">עֹלָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_8">וְכִפֶּ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_9">עָלָ֧יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_10">הַכֹּהֵ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_11">לִפְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_12">יְהוָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_15_13">מִזּוֹבֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7868">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="7869">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[ששי]</span>
<span id="PS_15_16" data-pasuk-now="14"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_16_1">וְאִ֕ישׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_16_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7872">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_15_16_3">תֵצֵ֥א</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_16_4">מִמֶּ֖נּוּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_16_5">שִׁכְבַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7876">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_15_16_6">זָ֑רַע</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_16_7">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_16_8">בַּמַּ֛יִם</span>
<span class="mila" data-lnk="3489661408" data-exlnk="0" id="M_15_16_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7881">־</span><span class="mila" data-lnk="1342177760" data-exlnk="0" id="M_15_16_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7883">־</span><span class="mila" data-lnk="3758096864" data-exlnk="0" id="M_15_16_11">בְּשָׂר֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_16_12">וְטָמֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_16_13">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7887">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_16_14">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7889">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_17" data-pasuk-now="14"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_15_17_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7891">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_15_17_2">בֶּ֣גֶד</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_15_17_3">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7894">־</span><span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_15_17_4">ע֔וֹר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7897">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_6">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_7">עָלָ֖יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_8">שִׁכְבַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7901">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_9">זָ֑רַע</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_15_17_10">וְכֻבַּ֥ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_11">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_12">וְטָמֵ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_13">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7907">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_17_14">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7909">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_18" data-pasuk-now="12"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_1">וְאִשָּׁ֕ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_2">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_3">יִשְׁכַּ֥ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_4">אִ֛ישׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_5">אֹתָ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_6">שִׁכְבַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7916">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_7">זָ֑רַע</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_18_8">וְרָחֲצ֣וּ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_18_9">בַמַּ֔יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_10">וְטָמְא֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_11">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7922">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_12">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7925">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7926"> פ </span>
</span>
<br /><span id="PS_15_19" data-pasuk-now="18"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_15_19_1">וְאִשָּׁה֙</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_15_19_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7929">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_15_19_3">תִהְיֶ֣ה</span>
<span class="mila" data-lnk="4026532209" data-exlnk="0" id="M_15_19_4">זָבָ֔ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_19_5">דָּ֛ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_19_6">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_15_19_7">זֹבָ֖הּ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_19_8">בִּבְשָׂרָ֑הּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_19_9">שִׁבְעַ֤ת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_19_10">יָמִים֙</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_15_19_11">תִּהְיֶ֣ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_15_19_12">בְנִדָּתָ֔הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_19_13">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7941">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_19_14">הַנֹּגֵ֥עַ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_19_15">בָּ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_19_16">יִטְמָ֥א</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_15_19_17">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7946">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_19_18">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7948">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_20" data-pasuk-now="11"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_1">וְכֹל֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_2">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_3">תִּשְׁכַּ֥ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_4">עָלָ֛יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_5">בְּנִדָּתָ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_6">יִטְמָ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_20_7">וְכֹ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_20_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7957">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_20_9">תֵּשֵׁ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_20_10">עָלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_20_11">יִטְמָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7961">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_21" data-pasuk-now="10"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7963">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_2">הַנֹּגֵ֖עַ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_3">בְּמִשְׁכָּבָ֑הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_4">יְכַבֵּ֧ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_5">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_6">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_7">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_8">וְטָמֵ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_9">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7972">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_21_10">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7974">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_1">וְכָ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7976">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_2">הַנֹּגֵ֔עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_3">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7979">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_4">כְּלִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7982">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_6">תֵּשֵׁ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_7">עָלָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_8">יְכַבֵּ֧ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_9">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_10">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_11">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_12">וְטָמֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_13">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7991">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_22_14">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7993">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_23" data-pasuk-now="16"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_15_23_1">וְאִ֨ם</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_15_23_2">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7996">־</span><span class="mila" data-lnk="39" data-exlnk="0" id="M_15_23_3">הַמִּשְׁכָּ֜ב</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_15_23_4">ה֗וּא</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_23_5">א֧וֹ</span>
<span class="mila" data-lnk="1342177637" data-exlnk="0" id="M_15_23_6">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8001">־</span><span class="mila" data-lnk="2952790373" data-exlnk="0" id="M_15_23_7">הַכְּלִ֛י</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_15_23_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8004">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_15_23_9">הִ֥וא</span>
<span class="mila" data-lnk="4026532194" data-exlnk="0" id="M_15_23_10">יֹשֶֽׁבֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8007">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_15_23_11">עָלָ֖יו</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_15_23_12">בְּנָגְעוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8010">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_15_23_13">ב֑וֹ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_15_23_14">יִטְמָ֖א</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_15_23_15">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8014">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_15_23_16">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8016">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_24" data-pasuk-now="17"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_24_1">וְאִ֡ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_24_2">שָׁכֹב֩</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_24_3">יִשְׁכַּ֨ב</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_24_4">אִ֜ישׁ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_24_5">אֹתָ֗הּ</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_15_24_6">וּתְהִ֤י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_24_7">נִדָּתָהּ֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_24_8">עָלָ֔יו</span>
<span class="mila" data-lnk="1879048544" data-exlnk="0" id="M_15_24_9">וְטָמֵ֖א</span>
<span class="mila" data-lnk="1342177633" data-exlnk="0" id="M_15_24_10">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="2684354913" data-exlnk="0" id="M_15_24_11">יָמִ֑ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_24_12">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8029">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_15_24_13">הַמִּשְׁכָּ֛ב</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_15_24_14">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8032">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_15_24_15">יִשְׁכַּ֥ב</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_15_24_16">עָלָ֖יו</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_15_24_17">יִטְמָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8037">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="8038">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_25" data-pasuk-now="24"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_15_25_1">וְאִשָּׁ֡ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8041">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_3">יָזוּב֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_4">ז֨וֹב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_5">דָּמָ֜הּ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_25_6">יָמִ֣ים</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_25_7">רַבִּ֗ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_15_25_8">בְּלֹא֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_15_25_9">עֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8049">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_15_25_10">נִדָּתָ֔הּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_15_25_11">א֥וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_25_12">כִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8053">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_25_13">תָז֖וּב</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_25_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8056">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_15_25_15">נִדָּתָ֑הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_16">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8059">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_17">יְמֵ֞י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_18">ז֣וֹב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_19">טֻמְאָתָ֗הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_20">כִּימֵ֧י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_25_21">נִדָּתָ֛הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_22">תִּהְיֶ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_23">טְמֵאָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_24">הִֽוא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8068">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_26" data-pasuk-now="21"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8070">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_2">הַמִּשְׁכָּ֞ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8073">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_4">תִּשְׁכַּ֤ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_5">עָלָיו֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8077">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_7">יְמֵ֣י</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_15_26_8">זוֹבָ֔הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_9">כְּמִשְׁכַּ֥ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_10">נִדָּתָ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_11">יִֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8083">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_12">לָּ֑הּ</span>
<span class="mila" data-lnk="1342177632" data-exlnk="0" id="M_15_26_13">וְכָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8086">־</span><span class="mila" data-lnk="2952790368" data-exlnk="0" id="M_15_26_14">הַכְּלִי֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_15">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_16">תֵּשֵׁ֣ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_17">עָלָ֔יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_18">טָמֵ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_19">יִֽהְיֶ֔ה</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_15_26_20">כְּטֻמְאַ֖ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_21">נִדָּתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8095">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_27" data-pasuk-now="11"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8097">־</span><span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_15_27_2">הַנּוֹגֵ֥עַ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_3">בָּ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_4">יִטְמָ֑א</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_15_27_5">וְכִבֶּ֧ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_6">בְּגָדָ֛יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_7">וְרָחַ֥ץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_8">בַּמַּ֖יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_9">וְטָמֵ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_10">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8107">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_11">הָעָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8109">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_28" data-pasuk-now="9"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_28_1">וְאִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8111">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_28_2">טָהֲרָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_28_3">מִזּוֹבָ֑הּ</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_15_28_4">וְסָ֥פְרָה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_28_5">לָּ֛הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_28_6">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_28_7">יָמִ֖ים</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_28_8">וְאַחַ֥ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_28_9">תִּטְהָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8120">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שביעי]</span>
<span id="PS_15_29" data-pasuk-now="18"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_1">וּבַיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_2">הַשְּׁמִינִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_3">תִּֽקַּֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8124">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_4">לָהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_5">שְׁתֵּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_6">תֹרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_7">א֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_8">שְׁנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_9">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_10">יוֹנָ֑ה</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_15_29_11">וְהֵבִיאָ֤ה</span>
<span class="mila" data-lnk="805306436" data-exlnk="0" id="M_15_29_12">אוֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8135">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_14">הַכֹּהֵ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8138">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_16">פֶּ֖תַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_17">אֹ֥הֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_18">מוֹעֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8142">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_30" data-pasuk-now="15"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_1">וְעָשָׂ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_2">הַכֹּהֵן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8146">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_4">הָאֶחָ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_5">חַטָּ֔את</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_15_30_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8150">־</span><span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_15_30_7">הָאֶחָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_8">עֹלָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_9">וְכִפֶּ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_10">עָלֶ֤יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_11">הַכֹּהֵן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_12">לִפְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_13">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_14">מִזּ֖וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_15">טֻמְאָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8160">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[מפטיר]</span>
<span id="PS_15_31" data-pasuk-now="13"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="3221225773" data-exlnk="0" id="M_15_31_1">וְהִזַּרְתֶּ֥ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_31_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8163">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_15_31_3">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8165">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_15_31_4">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_31_5">מִטֻּמְאָתָ֑ם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_31_6">וְלֹ֤א</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_31_7">יָמֻ֙תוּ֙</span>
<span class="mila" data-lnk="4026532205" data-exlnk="0" id="M_15_31_8">בְּטֻמְאָתָ֔ם</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_15_31_9">בְּטַמְּאָ֥ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_31_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8173">־</span><span class="mila" data-lnk="4026532068" data-exlnk="0" id="M_15_31_11">מִשְׁכָּנִ֖י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_31_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_31_13">בְּתוֹכָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8177">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_32" data-pasuk-now="10"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_32_1">זֹ֥את</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_32_2">תּוֹרַ֖ת</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_32_3">הַזָּ֑ב</span>
<span class="mila" data-lnk="1073742113" data-exlnk="0" id="M_15_32_4">וַאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="2147483937" data-exlnk="0" id="M_15_32_5">תֵּצֵ֥א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_32_6">מִמֶּ֛נּוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_32_7">שִׁכְבַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8185">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_32_8">זֶ֖רַע</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_32_9">לְטָמְאָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8188">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_15_32_10">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8190">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_33" data-pasuk-now="12"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_15_33_1">וְהַדָּוָה֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_33_2">בְּנִדָּתָ֔הּ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_33_3">וְהַזָּב֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_33_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8195">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_33_5">זוֹב֔וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_33_6">לַזָּכָ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_33_7">וְלַנְּקֵבָ֑ה</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_15_33_8">וּלְאִ֕ישׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_33_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_33_10">יִשְׁכַּ֖ב</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_33_11">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8203">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_15_33_12">טְמֵאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8206">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="8207"> פ </span>
</span>
<br /></p>