<p id="PR_23" data-perek-now="593" data-perek-nops="44"><span class="perek-header">פרק כג</span>
<br /><span class="parashia-header">[רביעי]</span>
<span id="PS_23_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_1_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_1_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_1_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11692">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_1_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_1_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11695">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_2" data-pasuk-now="16"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_2_1">דַּבֵּ֞ר</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_2_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11698">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_23_2_3">בְּנֵ֤י</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_2_4">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_2_5">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_2_6">אֲלֵהֶ֔ם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_2_7">מוֹעֲדֵ֣י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_2_8">יְהוָ֔ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_23_2_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11706">־</span><span class="mila" data-lnk="50" data-exlnk="0" id="M_23_2_10">תִּקְרְא֥וּ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_23_2_11">אֹתָ֖ם</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_23_2_12">מִקְרָאֵ֣י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_23_2_13">קֹ֑דֶשׁ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_2_14">אֵ֥לֶּה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_2_15">הֵ֖ם</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_2_16">מוֹעֲדָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11714">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_3" data-pasuk-now="19"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_3_1">שֵׁ֣שֶׁת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_3_2">יָמִים֘</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_23_3_3">תֵּעָשֶׂ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_4">מְלָאכָה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_5">וּבַיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_6">הַשְּׁבִיעִ֗י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_3_7">שַׁבַּ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_8">שַׁבָּתוֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_9">מִקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11724">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_10">קֹ֔דֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_3_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11727">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_3_12">מְלָאכָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_3_13">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_3_14">תַעֲשׂ֑וּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_3_15">שַׁבָּ֥ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_3_16">הִוא֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_3_17">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_3_18">בְּכֹ֖ל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_3_19">מוֹשְׁבֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11737">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11738"> פ </span>
</span>
<br /><span id="PS_23_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_4_1">אֵ֚לֶּה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_4_2">מוֹעֲדֵ֣י</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_4_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_4_4">מִקְרָאֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_4_5">קֹ֑דֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_4_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11745">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_4_7">תִּקְרְא֥וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_4_8">אֹתָ֖ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_4_9">בְּמוֹעֲדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11749">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_23_5_1">בַּחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_23_5_2">הָרִאשׁ֗וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_5_3">בְּאַרְבָּעָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_5_4">עָשָׂ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_5_5">לַחֹ֖דֶשׁ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_5_6">בֵּ֣ין</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_5_7">הָעַרְבָּ֑יִם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_5_8">פֶּ֖סַח</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_5_9">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11759">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_23_6_1">וּבַחֲמִשָּׁ֨ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_23_6_2">עָשָׂ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_3">יוֹם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_4">לַחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_5">הַזֶּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_6">חַ֥ג</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_7">הַמַּצּ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_8">לַיהוָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_6_9">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_6_10">יָמִ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_6_11">מַצּ֥וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_6_12">תֹּאכֵֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11772">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_7" data-pasuk-now="11"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_1">בַּיּוֹם֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_7_2">הָֽרִאשׁ֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_3">מִקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11776">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_4">קֹ֖דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_5">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_6">לָכֶ֑ם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_7_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11781">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_23_7_8">מְלֶ֥אכֶת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_7_9">עֲבֹדָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_7_10">לֹ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_7_11">תַעֲשֽׂוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11786">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_8" data-pasuk-now="14"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_8_1">וְהִקְרַבְתֶּ֥ם</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_8_2">אִשֶּׁ֛ה</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_8_3">לַיהוָ֖ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_8_4">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_8_5">יָמִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_6">בַּיּ֤וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_7">הַשְּׁבִיעִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_8">מִקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11795">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_9">קֹ֔דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11798">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_23_8_11">מְלֶ֥אכֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_8_12">עֲבֹדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_13">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_14">תַעֲשֽׂוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11804">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11805"> פ </span>
</span>
<br /><span id="PS_23_9" data-pasuk-now="5"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_9_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_9_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_9_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11809">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_9_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_9_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11812">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_10" data-pasuk-now="24"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_10_1">דַּבֵּ֞ר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_10_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11815">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_23_10_3">בְּנֵ֤י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_10_4">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_23_10_5">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_10_6">אֲלֵהֶ֔ם</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_10_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11821">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_23_10_8">תָבֹ֣אוּ</span>
<span class="mila" data-lnk="3489661428" data-exlnk="0" id="M_23_10_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11824">־</span><span class="mila" data-lnk="4026532340" data-exlnk="0" id="M_23_10_10">הָאָ֗רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_10_11">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_10_12">אֲנִי֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_10_13">נֹתֵ֣ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_10_14">לָכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_10_15">וּקְצַרְתֶּ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_10_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11832">־</span><span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_23_10_17">קְצִירָ֑הּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_10_18">וַהֲבֵאתֶ֥ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_10_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11836">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_23_10_20">עֹ֛מֶר</span>
<span class="mila" data-lnk="805306473" data-exlnk="0" id="M_23_10_21">רֵאשִׁ֥ית</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_10_22">קְצִירְכֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_10_23">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11841">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_10_24">הַכֹּהֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11843">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_23_11_1">וְהֵנִ֧יף</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_11_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11846">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_23_11_3">הָעֹ֛מֶר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_11_4">לִפְנֵ֥י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_11_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="805306469" data-exlnk="0" id="M_23_11_6">לִֽרְצֹנְכֶ֑ם</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_11_7">מִֽמָּחֳרַת֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_11_8">הַשַּׁבָּ֔ת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_11_9">יְנִיפֶ֖נּוּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_11_10">הַכֹּהֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11855">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_23_12_1">וַעֲשִׂיתֶ֕ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_12_2">בְּי֥וֹם</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_23_12_3">הֲנִֽיפְכֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_12_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11860">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_12_5">הָעֹ֑מֶר</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_12_6">כֶּ֣בֶשׂ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_12_7">תָּמִ֧ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_12_8">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11865">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_23_12_9">שְׁנָת֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_10">לְעֹלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_11">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11869">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_13" data-pasuk-now="14"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_13_1">וּמִנְחָתוֹ֩</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_13_2">שְׁנֵ֨י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_13_3">עֶשְׂרֹנִ֜ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_13_4">סֹ֣לֶת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_13_5">בְּלוּלָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_13_6">בַשֶּׁ֛מֶן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_13_7">אִשֶּׁ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_13_8">לַיהוָ֖ה</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_13_9">רֵ֣יחַ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_13_10">נִיחֹ֑חַ</span>
<span class="mila" data-lnk="3221225729" data-exlnk="0" id="M_23_13_11">וְנִסְכֹּ֥ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_13_12">יַ֖יִן</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_13_13">רְבִיעִ֥ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_13_14">הַהִֽין</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11884">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_14" data-pasuk-now="19"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_23_14_1">וְלֶחֶם֩</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_23_14_2">וְקָלִ֨י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_14_3">וְכַרְמֶ֜ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_14_4">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_14_5">תֹֽאכְל֗וּ</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_23_14_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11891">־</span><span class="mila" data-lnk="1342177760" data-exlnk="0" id="M_23_14_7">עֶ֙צֶם֙</span>
<span class="mila" data-lnk="1342177760" data-exlnk="0" id="M_23_14_8">הַיּ֣וֹם</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_23_14_9">הַזֶּ֔ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_14_10">עַ֚ד</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_14_11">הֲבִ֣יאֲכֶ֔ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_14_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11898">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_23_14_13">קָרְבַּ֖ן</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_14_14">אֱלֹהֵיכֶ֑ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_14_15">חֻקַּ֤ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_14_16">עוֹלָם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_14_17">לְדֹרֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_14_18">בְּכֹ֖ל</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_23_14_19">מֹשְׁבֹֽתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11907">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11908">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221225784" data-exlnk="0" id="M_23_15_1">וּסְפַרְתֶּ֤ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_23_15_2">לָכֶם֙</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_15_3">מִמָּחֳרַ֣ת</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_23_15_4">הַשַּׁבָּ֔ת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_15_5">מִיּוֹם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_15_6">הֲבִ֣יאֲכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_15_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11916">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_15_8">עֹ֖מֶר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_15_9">הַתְּנוּפָ֑ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_23_15_10">שֶׁ֥בַע</span>
<span class="mila" data-lnk="3221225784" data-exlnk="0" id="M_23_15_11">שַׁבָּת֖וֹת</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_15_12">תְּמִימֹ֥ת</span>
<span class="mila" data-lnk="805306465" data-exlnk="0" id="M_23_15_13">תִּהְיֶֽינָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11923">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_16_1">עַ֣ד</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_16_2">מִֽמָּחֳרַ֤ת</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_16_3">הַשַּׁבָּת֙</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_16_4">הַשְּׁבִיעִ֔ת</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_23_16_5">תִּסְפְּר֖וּ</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_23_16_6">חֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_23_16_7">י֑וֹם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_16_8">וְהִקְרַבְתֶּ֛ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_23_16_9">מִנְחָ֥ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_23_16_10">חֲדָשָׁ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_16_11">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11935">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_17" data-pasuk-now="13"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_17_1">מִמּוֹשְׁבֹ֨תֵיכֶ֜ם</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_23_17_2">תָּבִ֣יאּוּ׀</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_17_3">לֶ֣חֶם</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_17_4">תְּנוּפָ֗ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_17_5">שְׁ֚תַּיִם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_17_6">שְׁנֵ֣י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_17_7">עֶשְׂרֹנִ֔ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_17_8">סֹ֣לֶת</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_17_9">תִּהְיֶ֔ינָה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_17_10">חָמֵ֖ץ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_17_11">תֵּאָפֶ֑ינָה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_17_12">בִּכּוּרִ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_17_13">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11949">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_18" data-pasuk-now="23"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_18_1">וְהִקְרַבְתֶּ֣ם</span>
<span class="mila" data-lnk="1342177641" data-exlnk="0" id="M_23_18_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11952">־</span><span class="mila" data-lnk="3758096745" data-exlnk="0" id="M_23_18_3">הַלֶּ֗חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_18_4">שִׁבְעַ֨ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_18_5">כְּבָשִׂ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_18_6">תְּמִימִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_18_7">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_18_8">שָׁנָ֔ה</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_23_18_9">וּפַ֧ר</span>
<span class="mila" data-lnk="1342177604" data-exlnk="0" id="M_23_18_10">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11961">־</span><span class="mila" data-lnk="3758096708" data-exlnk="0" id="M_23_18_11">בָּקָ֛ר</span>
<span class="mila" data-lnk="536870988" data-exlnk="0" id="M_23_18_12">אֶחָ֖ד</span>
<span class="mila" data-lnk="805306444" data-exlnk="0" id="M_23_18_13">וְאֵילִ֣ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_18_14">שְׁנָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_18_15">יִהְי֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_18_16">עֹלָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_18_17">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_18_18">וּמִנְחָתָם֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_18_19">וְנִסְכֵּיהֶ֔ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_18_20">אִשֵּׁ֥ה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_23_18_21">רֵֽיחַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11973">־</span><span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_23_18_22">נִיחֹ֖חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_18_23">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11976">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_19" data-pasuk-now="11"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_23_19_1">וַעֲשִׂיתֶ֛ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_19_2">שְׂעִיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11979">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_23_19_3">עִזִּ֥ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_19_4">אֶחָ֖ד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_19_5">לְחַטָּ֑את</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_19_6">וּשְׁנֵ֧י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_19_7">כְבָשִׂ֛ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_19_8">בְּנֵ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_19_9">שָׁנָ֖ה</span>
<span class="mila" data-lnk="268435552" data-exlnk="0" id="M_23_19_10">לְזֶ֥בַח</span>
<span class="mila" data-lnk="805306468" data-exlnk="0" id="M_23_19_11">שְׁלָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11989">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_20" data-pasuk-now="16"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_20_1">וְהֵנִ֣יף</span>
<span class="mila" data-lnk="268435553" data-exlnk="0" id="M_23_20_2">הַכֹּהֵ֣ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11992">׀</span>
<span class="mila" data-lnk="536871009" data-exlnk="0" id="M_23_20_3">אֹתָ֡ם</span>
<span class="mila" data-lnk="268435552" data-exlnk="0" id="M_23_20_4">עַל֩</span>
<span class="mila" data-lnk="536871008" data-exlnk="0" id="M_23_20_5">לֶ֨חֶם</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_23_20_6">הַבִּכֻּרִ֤ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_20_7">תְּנוּפָה֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_20_8">לִפְנֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_20_9">יְהוָ֔ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_20_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12001">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_23_20_11">שְׁנֵ֖י</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_20_12">כְּבָשִׂ֑ים</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_20_13">קֹ֛דֶשׁ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_23_20_14">יִהְי֥וּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_20_15">לַיהוָ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_20_16">לַכֹּהֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12008">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_21" data-pasuk-now="18"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_1">וּקְרָאתֶ֞ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_2">בְּעֶ֣צֶם׀</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_3">הַיּ֣וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_4">הַזֶּ֗ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_21_5">מִֽקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12014">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_23_21_6">קֹ֙דֶשׁ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_7">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_8">לָכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12019">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_10">מְלֶ֥אכֶת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_11">עֲבֹדָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_12">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_13">תַעֲשׂ֑וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_14">חֻקַּ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_15">עוֹלָ֛ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_16">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12027">־</span><span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_23_21_17">מוֹשְׁבֹ֥תֵיכֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_21_18">לְדֹרֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12030">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_22" data-pasuk-now="20"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026532223" data-exlnk="0" id="M_23_22_1">וּֽבְקֻצְרְכֶ֞ם</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_22_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12033">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_23_22_3">קְצִ֣יר</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_22_4">אַרְצְכֶ֗ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_23_22_5">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12037">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_23_22_6">תְכַלֶּ֞ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_23_22_7">פְּאַ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_22_8">שָֽׂדְךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_22_9">בְּקֻצְרֶ֔ךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_23_22_10">וְלֶ֥קֶט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_22_11">קְצִירְךָ֖</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_23_22_12">לֹ֣א</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_23_22_13">תְלַקֵּ֑ט</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_23_22_14">לֶֽעָנִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_22_15">וְלַגֵּר֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_22_16">תַּעֲזֹ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_22_17">אֹתָ֔ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_22_18">אֲנִ֖י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_22_19">יְהוָ֥ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_23_22_20">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12054">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12055"> פ </span>
</span>
<br /><span class="parashia-header">[חמישי]</span>
<span id="PS_23_23" data-pasuk-now="5"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_23_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_23_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_23_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12059">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_23_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_23_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12062">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_24" data-pasuk-now="16"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_23_24_1">דַּבֵּ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_24_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12065">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_24_3">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_24_4">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_24_5">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_24_6">בַּחֹ֨דֶשׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_24_7">הַשְּׁבִיעִ֜י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_24_8">בְּאֶחָ֣ד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_24_9">לַחֹ֗דֶשׁ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_24_10">יִהְיֶ֤ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_24_11">לָכֶם֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_24_12">שַׁבָּת֔וֹן</span>
<span class="mila" data-lnk="4026532343" data-exlnk="0" id="M_23_24_13">זִכְר֥וֹן</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_24_14">תְּרוּעָ֖ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_24_15">מִקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12079">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_23_24_16">קֹֽדֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12081">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_25" data-pasuk-now="8"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_25_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12083">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_25_2">מְלֶ֥אכֶת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_25_3">עֲבֹדָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_25_4">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_25_5">תַעֲשׂ֑וּ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_25_6">וְהִקְרַבְתֶּ֥ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_25_7">אִשֶּׁ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_25_8">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12092">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12093">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_26" data-pasuk-now="5"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_26_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_26_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_26_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12097">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_26_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_26_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12100">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_27" data-pasuk-now="18"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_27_1">אַ֡ךְ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_23_27_2">בֶּעָשׂ֣וֹר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_27_3">לַחֹדֶשׁ֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_27_4">הַשְּׁבִיעִ֨י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_27_5">הַזֶּ֜ה</span>
<span class="mila" data-lnk="1073742106" data-exlnk="0" id="M_23_27_6">י֧וֹם</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_23_27_7">הַכִּפֻּרִ֣ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_23_27_8">ה֗וּא</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_23_27_9">מִֽקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12110">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_23_27_10">קֹ֙דֶשׁ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_23_27_11">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_23_27_12">לָכֶ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_27_13">וְעִנִּיתֶ֖ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_23_27_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12116">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_23_27_15">נַפְשֹׁתֵיכֶ֑ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_23_27_16">וְהִקְרַבְתֶּ֥ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_23_27_17">אִשֶּׁ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_27_18">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12121">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_28" data-pasuk-now="16"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="3489661296" data-exlnk="0" id="M_23_28_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12123">־</span><span class="mila" data-lnk="4026532212" data-exlnk="0" id="M_23_28_2">מְלָאכָה֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_28_3">לֹ֣א</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_28_4">תַעֲשׂ֔וּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_28_5">בְּעֶ֖צֶם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_28_6">הַיּ֣וֹם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_28_7">הַזֶּ֑ה</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_28_8">כִּ֣י</span>
<span class="mila" data-lnk="1073742132" data-exlnk="0" id="M_23_28_9">י֤וֹם</span>
<span class="mila" data-lnk="3221225780" data-exlnk="0" id="M_23_28_10">כִּפֻּרִים֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_28_11">ה֔וּא</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_28_12">לְכַפֵּ֣ר</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_28_13">עֲלֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_28_14">לִפְנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_28_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_28_16">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12139">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_29" data-pasuk-now="11"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_29_1">כִּ֤י</span>
<span class="mila" data-lnk="805306436" data-exlnk="0" id="M_23_29_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12142">־</span><span class="mila" data-lnk="805306436" data-exlnk="0" id="M_23_29_3">הַנֶּ֙פֶשׁ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_29_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_29_5">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12146">־</span><span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_23_29_6">תְעֻנֶּ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_29_7">בְּעֶ֖צֶם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_29_8">הַיּ֣וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_29_9">הַזֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_29_10">וְנִכְרְתָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_29_11">מֵעַמֶּֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12153">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_30" data-pasuk-now="15"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_30_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12155">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_30_2">הַנֶּ֗פֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_30_3">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_30_4">תַּֽעֲשֶׂה֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_30_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12160">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_30_6">מְלָאכָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_30_7">בְּעֶ֖צֶם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_30_8">הַיּ֣וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_30_9">הַזֶּ֑ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_30_10">וְהַאֲבַדְתִּ֛י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_30_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12167">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_30_12">הַנֶּ֥פֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_30_13">הַהִ֖וא</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_23_30_14">מִקֶּ֥רֶב</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_23_30_15">עַמָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12172">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_31" data-pasuk-now="9"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="1073742117" data-exlnk="0" id="M_23_31_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12174">־</span><span class="mila" data-lnk="2147483941" data-exlnk="0" id="M_23_31_2">מְלָאכָ֖ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_31_3">לֹ֣א</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_31_4">תַעֲשׂ֑וּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_31_5">חֻקַּ֤ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_31_6">עוֹלָם֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_31_7">לְדֹרֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_31_8">בְּכֹ֖ל</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_23_31_9">מֹשְׁבֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12183">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_32" data-pasuk-now="15"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_1">שַׁבַּ֨ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_2">שַׁבָּת֥וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_3">הוּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_4">לָכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_32_5">וְעִנִּיתֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_32_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12190">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_32_7">נַפְשֹׁתֵיכֶ֑ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_32_8">בְּתִשְׁעָ֤ה</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_23_32_9">לַחֹ֙דֶשׁ֙</span>
<span class="mila" data-lnk="536871008" data-exlnk="0" id="M_23_32_10">בָּעֶ֔רֶב</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_23_32_11">מֵעֶ֣רֶב</span>
<span class="mila" data-lnk="1073742112" data-exlnk="0" id="M_23_32_12">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12197">־</span><span class="mila" data-lnk="2147483936" data-exlnk="0" id="M_23_32_13">עֶ֔רֶב</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_32_14">תִּשְׁבְּת֖וּ</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_23_32_15">שַׁבַּתְּכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12202">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12203"> פ </span>
</span>
<br /><span class="parashia-header">[ששי]</span>
<span id="PS_23_33" data-pasuk-now="5"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_33_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_33_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_33_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12207">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_33_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_33_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12210">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_34" data-pasuk-now="16"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_34_1">דַּבֵּ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_34_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12213">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_34_3">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_34_4">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_34_5">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_6">בַּחֲמִשָּׁ֨ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_7">עָשָׂ֜ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_8">י֗וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_9">לַחֹ֤דֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_10">הַשְּׁבִיעִי֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_11">הַזֶּ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_12">חַ֧ג</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_13">הַסֻּכּ֛וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_14">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_15">יָמִ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_16">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12228">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_35" data-pasuk-now="9"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_1">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="805306480" data-exlnk="0" id="M_23_35_2">הָרִאשׁ֖וֹן</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_35_3">מִקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12232">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_23_35_4">קֹ֑דֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12235">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_6">מְלֶ֥אכֶת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_7">עֲבֹדָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_8">לֹ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_9">תַעֲשֽׂוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12240">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_36" data-pasuk-now="21"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_36_1">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_36_2">יָמִ֔ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_36_3">תַּקְרִ֥יבוּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_36_4">אִשֶּׁ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_5">לַיהוָ֑ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_36_6">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_23_36_7">הַשְּׁמִינִ֡י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_8">מִקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12249">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_9">קֹדֶשׁ֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_10">יִהְיֶ֨ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_11">לָכֶ֜ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_12">וְהִקְרַבְתֶּ֨ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_13">אִשֶּׁ֤ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_14">לַֽיהוָה֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_36_15">עֲצֶ֣רֶת</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_23_36_16">הִ֔וא</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_36_17">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12259">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_23_36_18">מְלֶ֥אכֶת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_36_19">עֲבֹדָ֖ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_36_20">לֹ֥א</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_36_21">תַעֲשֽׂוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12264">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_37" data-pasuk-now="18"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_37_1">אֵ֚לֶּה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_37_2">מוֹעֲדֵ֣י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_37_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12269">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_5">תִּקְרְא֥וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_6">אֹתָ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_7">מִקְרָאֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_8">קֹ֑דֶשׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_37_9">לְהַקְרִ֨יב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_37_10">אִשֶּׁ֜ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_37_11">לַיהוָ֗ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_37_12">עֹלָ֧ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_37_13">וּמִנְחָ֛ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_37_14">זֶ֥בַח</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_37_15">וּנְסָכִ֖ים</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_37_16">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12282">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_23_37_17">י֥וֹם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_37_18">בְּיוֹמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12285">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_38" data-pasuk-now="14"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_1">מִלְּבַ֖ד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_2">שַׁבְּתֹ֣ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_3">יְהוָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_4">וּמִלְּבַ֣ד</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_23_38_5">מַתְּנֽוֹתֵיכֶ֗ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_6">וּמִלְּבַ֤ד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12293">־</span><span class="mila" data-lnk="805306468" data-exlnk="0" id="M_23_38_8">נִדְרֵיכֶם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_9">וּמִלְּבַד֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12297">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_11">נִדְבֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_13">תִּתְּנ֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_14">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12302">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_39" data-pasuk-now="22"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_23_39_1">אַ֡ךְ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_23_39_2">בַּחֲמִשָּׁה֩</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_23_39_3">עָשָׂ֨ר</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_23_39_4">י֜וֹם</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_23_39_5">לַחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_23_39_6">הַשְּׁבִיעִ֗י</span>
<span class="mila" data-lnk="3221225789" data-exlnk="0" id="M_23_39_7">בְּאָסְפְּכֶם֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_39_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12311">־</span><span class="mila" data-lnk="61" data-exlnk="0" id="M_23_39_9">תְּבוּאַ֣ת</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_23_39_10">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="805306485" data-exlnk="0" id="M_23_39_11">תָּחֹ֥גּוּ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_23_39_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12316">־</span><span class="mila" data-lnk="1342177648" data-exlnk="0" id="M_23_39_13">חַג</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12318">־</span><span class="mila" data-lnk="2952790384" data-exlnk="0" id="M_23_39_14">יְהוָ֖ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_39_15">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_39_16">יָמִ֑ים</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_23_39_17">בַּיּ֤וֹם</span>
<span class="mila" data-lnk="805306484" data-exlnk="0" id="M_23_39_18">הָֽרִאשׁוֹן֙</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_39_19">שַׁבָּת֔וֹן</span>
<span class="mila" data-lnk="268435570" data-exlnk="0" id="M_23_39_20">וּבַיּ֥וֹם</span>
<span class="mila" data-lnk="805306482" data-exlnk="0" id="M_23_39_21">הַשְּׁמִינִ֖י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_39_22">שַׁבָּתֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12328">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_40" data-pasuk-now="20"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="805306492" data-exlnk="0" id="M_23_40_1">וּלְקַחְתֶּ֨ם</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_23_40_2">לָכֶ֜ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_40_3">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_23_40_4">הָרִאשׁ֗וֹן</span>
<span class="mila" data-lnk="1342177653" data-exlnk="0" id="M_23_40_5">פְּרִ֨י</span>
<span class="mila" data-lnk="2684354933" data-exlnk="0" id="M_23_40_6">עֵ֤ץ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_40_7">הָדָר֙</span>
<span class="mila" data-lnk="4026532337" data-exlnk="0" id="M_23_40_8">כַּפֹּ֣ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_40_9">תְּמָרִ֔ים</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_23_40_10">וַעֲנַ֥ף</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_23_40_11">עֵץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12340">־</span><span class="mila" data-lnk="51" data-exlnk="0" id="M_23_40_12">עָבֹ֖ת</span>
<span class="mila" data-lnk="1073742128" data-exlnk="0" id="M_23_40_13">וְעַרְבֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12343">־</span><span class="mila" data-lnk="2147483952" data-exlnk="0" id="M_23_40_14">נָ֑חַל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_40_15">וּשְׂמַחְתֶּ֗ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_40_16">לִפְנֵ֛י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_40_17">יְהוָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_40_18">אֱלֹהֵיכֶ֖ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_40_19">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_23_40_20">יָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12351">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_41" data-pasuk-now="14"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_1">וְחַגֹּתֶ֤ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_2">אֹתוֹ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_3">חַ֣ג</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_4">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_5">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_6">יָמִ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_7">בַּשָּׁנָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_8">חֻקַּ֤ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_9">עוֹלָם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_10">לְדֹרֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_11">בַּחֹ֥דֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_12">הַשְּׁבִיעִ֖י</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_23_41_13">תָּחֹ֥גּוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_41_14">אֹתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12366">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_42" data-pasuk-now="9"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_42_1">בַּסֻּכֹּ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_42_2">תֵּשְׁב֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_42_3">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_42_4">יָמִ֑ים</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_23_42_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12372">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_23_42_6">הָֽאֶזְרָח֙</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_23_42_7">בְּיִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="805306490" data-exlnk="0" id="M_23_42_8">יֵשְׁב֖וּ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_23_42_9">בַּסֻּכֹּֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12377">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_43" data-pasuk-now="16"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_23_43_1">לְמַעַן֘</span>
<span class="mila" data-lnk="4026532322" data-exlnk="0" id="M_23_43_2">יֵדְע֣וּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_23_43_3">דֹרֹֽתֵיכֶם֒</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_43_4">כִּ֣י</span>
<span class="mila" data-lnk="4026532215" data-exlnk="0" id="M_23_43_5">בַסֻּכּ֗וֹת</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_23_43_6">הוֹשַׁ֙בְתִּי֙</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_23_43_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12385">־</span><span class="mila" data-lnk="50" data-exlnk="0" id="M_23_43_8">בְּנֵ֣י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_23_43_9">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_43_10">בְּהוֹצִיאִ֥י</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_23_43_11">אוֹתָ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_43_12">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_43_13">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_43_14">אֲנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_43_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_43_16">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12395">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_44" data-pasuk-now="8"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_44_1">וַיְדַבֵּ֣ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_44_2">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_44_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12399">־</span><span class="mila" data-lnk="4026532208" data-exlnk="0" id="M_23_44_4">מֹעֲדֵ֖י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_44_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_44_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12403">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_23_44_7">בְּנֵ֖י</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_44_8">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12407">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12408"> פ </span>
</span>
<br /></p>