<p id="PR_10" data-perek-now="380" data-perek-nops="36"><span class="perek-header">פרק י</span>
<br /><span id="PS_10_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5965">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5968">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_2" data-pasuk-now="15"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_10_2_1">עֲשֵׂ֣ה</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_10_2_2">לְךָ֗</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_10_2_3">שְׁתֵּי֙</span>
<span class="mila" data-lnk="3221226031" data-exlnk="0" id="M_10_2_4">חֲצוֹצְרֹ֣ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_2_5">כֶּ֔סֶף</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_2_6">מִקְשָׁ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_2_7">תַּעֲשֶׂ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_2_8">אֹתָ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_2_9">וְהָי֤וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_2_10">לְךָ֙</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_10_2_11">לְמִקְרָ֣א</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_10_2_12">הָֽעֵדָ֔ה</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_10_2_13">וּלְמַסַּ֖ע</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_10_2_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5983">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_10_2_15">הַֽמַּחֲנֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5985">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_3" data-pasuk-now="10"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_10_3_1">וְתָקְע֖וּ</span>
<span class="mila" data-lnk="4026532775" data-exlnk="0" id="M_10_3_2">בָּהֵ֑ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_3">וְנֽוֹעֲד֤וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_4">אֵלֶ֙יךָ֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5991">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_6">הָ֣עֵדָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5994">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_8">פֶּ֖תַח</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_9">אֹ֥הֶל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_10">מוֹעֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5998">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_10_4_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6000">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_10_4_2">בְּאַחַ֖ת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_4_3">יִתְקָ֑עוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_4_4">וְנוֹעֲד֤וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_4_5">אֵלֶ֙יךָ֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_10_4_6">הַנְּשִׂיאִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_7">רָאשֵׁ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_8">אַלְפֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_9">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6009">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_5_1">וּתְקַעְתֶּ֖ם</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_10_5_2">תְּרוּעָ֑ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_5_3">וְנָֽסְעוּ֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_5_4">הַֽמַּחֲנ֔וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_5_5">הַחֹנִ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_5_6">קֵֽדְמָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6016">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_10_6_1">וּתְקַעְתֶּ֤ם</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_10_6_2">תְּרוּעָה֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_6_3">שֵׁנִ֔ית</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_10_6_4">וְנָֽסְעוּ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_10_6_5">הַֽמַּחֲנ֔וֹת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_10_6_6">הַחֹנִ֖ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_10_6_7">תֵּימָ֑נָה</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_10_6_8">תְּרוּעָ֥ה</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_10_6_9">יִתְקְע֖וּ</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_10_6_10">לְמַסְעֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6027">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="3221226017" data-exlnk="0" id="M_10_7_1">וּבְהַקְהִ֖יל</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_7_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6030">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_10_7_3">הַקָּהָ֑ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_7_4">תִּתְקְע֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_7_5">וְלֹ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_7_6">תָרִֽיעוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6035">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_8" data-pasuk-now="10"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_8_1">וּבְנֵ֤י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_8_2">אַֽהֲרֹן֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_8_3">הַכֹּ֣הֲנִ֔ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_8_4">יִתְקְע֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_8_5">בַּחֲצֹצְר֑וֹת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_8_6">וְהָי֥וּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_8_7">לָכֶ֛ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_8_8">לְחֻקַּ֥ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_8_9">עוֹלָ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_8_10">לְדֹרֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6046">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_9" data-pasuk-now="16"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3489661856" data-exlnk="0" id="M_10_9_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6048">־</span><span class="mila" data-lnk="4026532772" data-exlnk="0" id="M_10_9_2">תָבֹ֨אוּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_9_3">מִלְחָמָ֜ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_9_4">בְּאַרְצְכֶ֗ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_9_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6053">־</span><span class="mila" data-lnk="4026532768" data-exlnk="0" id="M_10_9_6">הַצַּר֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_9_7">הַצֹּרֵ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_9_8">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="3221225992" data-exlnk="0" id="M_10_9_9">וַהֲרֵעֹתֶ֖ם</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_10_9_10">בַּחֲצֹצְרֹ֑ת</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_10_9_11">וְנִזְכַּרְתֶּ֗ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_10_9_12">לִפְנֵי֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_10_9_13">יְהוָ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_9_14">אֱלֹהֵיכֶ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_10_9_15">וְנוֹשַׁעְתֶּ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_10_9_16">מֵאֹיְבֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6065">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_10" data-pasuk-now="20"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_10_1">וּבְי֨וֹם</span>
<span class="mila" data-lnk="3221226028" data-exlnk="0" id="M_10_10_2">שִׂמְחַתְכֶ֥ם</span>
<span class="mila" data-lnk="3221226028" data-exlnk="0" id="M_10_10_3">וּֽבְמוֹעֲדֵיכֶם֘</span>
<span class="mila" data-lnk="1342177952" data-exlnk="0" id="M_10_10_4">וּבְרָאשֵׁ֣י</span>
<span class="mila" data-lnk="2952790688" data-exlnk="0" id="M_10_10_5">חָדְשֵׁיכֶם֒</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_10_10_6">וּתְקַעְתֶּ֣ם</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_10_10_7">בַּחֲצֹצְרֹ֗ת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_10_8">עַ֚ל</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_10_9">עֹלֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_10_10">וְעַ֖ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_10_11">זִבְחֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_10_12">שַׁלְמֵיכֶ֑ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_10_13">וְהָי֨וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_10_14">לָכֶ֤ם</span>
<span class="mila" data-lnk="4026532513" data-exlnk="0" id="M_10_10_15">לְזִכָּרוֹן֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_10_16">לִפְנֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_10_17">אֱלֹהֵיכֶ֔ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_10_18">אֲנִ֖י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_10_19">יְהוָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_10_20">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6087">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6088"> פ </span>
</span>
<br /><span class="parashia-header">[חמישי]</span>
<span id="PS_10_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_1">וַיְהִ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_2">בַּשָּׁנָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_3">הַשֵּׁנִ֛ית</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_11_4">בַּחֹ֥דֶשׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_11_5">הַשֵּׁנִ֖י</span>
<span class="mila" data-lnk="1879049092" data-exlnk="0" id="M_10_11_6">בְּעֶשְׂרִ֣ים</span>
<span class="mila" data-lnk="4026532740" data-exlnk="0" id="M_10_11_7">בַּחֹ֑דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_8">נַֽעֲלָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_9">הֶעָנָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_10">מֵעַ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_11">מִשְׁכַּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_12">הָעֵדֻֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6101">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_1">וַיִּסְע֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6104">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_3">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_12_4">לְמַסְעֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_5">מִמִּדְבַּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_6">סִינָ֑י</span>
<span class="mila" data-lnk="4026532740" data-exlnk="0" id="M_10_12_7">וַיִּשְׁכֹּ֥ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_12_8">הֶעָנָ֖ן</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_12_9">בְּמִדְבַּ֥ר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_12_10">פָּארָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6113">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_13_1">וַיִּסְע֖וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_13_2">בָּרִאשֹׁנָ֑ה</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_10_13_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6117">־</span><span class="mila" data-lnk="268435584" data-exlnk="0" id="M_10_13_4">פִּ֥י</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_10_13_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_10_13_6">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6121">־</span><span class="mila" data-lnk="536871040" data-exlnk="0" id="M_10_13_7">מֹשֶֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6123">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_1">וַיִּסַּ֞ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_2">דֶּ֣גֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_3">מַחֲנֵ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6128">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_5">יְהוּדָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_6">בָּרִאשֹׁנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_7">לְצִבְאֹתָ֑ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_10_14_8">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6133">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_10_14_9">צְבָא֔וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_10_14_10">נַחְשׁ֖וֹן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_10_14_11">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6137">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_10_14_12">עַמִּינָדָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6139">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_15" data-pasuk-now="8"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_15_1">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6141">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_15_2">צְבָ֔א</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_10_15_3">מַטֵּ֖ה</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_10_15_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_15_5">יִשָּׂשכָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_15_6">נְתַנְאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_15_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6148">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_15_8">צוּעָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6150">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_16" data-pasuk-now="8"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_16_1">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6152">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_16_2">צְבָ֔א</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_10_16_3">מַטֵּ֖ה</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_10_16_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_16_5">זְבוּלֻ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_16_6">אֱלִיאָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_16_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6159">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_16_8">חֵלֹֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6161">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_17" data-pasuk-now="9"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026532501" data-exlnk="0" id="M_10_17_1">וְהוּרַ֖ד</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_10_17_2">הַמִּשְׁכָּ֑ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_10_17_3">וְנָסְע֤וּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_10_17_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6166">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_10_17_5">גֵרְשׁוֹן֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_10_17_6">וּבְנֵ֣י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_10_17_7">מְרָרִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_17_8">נֹשְׂאֵ֖י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_10_17_9">הַמִּשְׁכָּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6172">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_1">וְנָסַ֗ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_2">דֶּ֛גֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_3">מַחֲנֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_4">רְאוּבֵ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_5">לְצִבְאֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_6">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6179">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_7">צְבָא֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_8">אֱלִיצ֖וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6183">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_18_10">שְׁדֵיאֽוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6185">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_19_1">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6187">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_19_2">צְבָ֔א</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_10_19_3">מַטֵּ֖ה</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_10_19_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_19_5">שִׁמְע֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_19_6">שְׁלֻמִיאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_19_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6194">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_19_8">צוּרִֽישַׁדָּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6196">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_20" data-pasuk-now="8"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_20_1">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6198">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_20_2">צְבָ֖א</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_10_20_3">מַטֵּ֣ה</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_10_20_4">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6202">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_20_5">גָ֑ד</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_10_20_6">אֶלְיָסָ֖ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_20_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6206">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_20_8">דְּעוּאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6208">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_21" data-pasuk-now="9"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_21_1">וְנָֽסְעוּ֙</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_10_21_2">הַקֳּהָתִ֔ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_21_3">נֹשְׂאֵ֖י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_21_4">הַמִּקְדָּ֑שׁ</span>
<span class="mila" data-lnk="4026532517" data-exlnk="0" id="M_10_21_5">וְהֵקִ֥ימוּ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_10_21_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6215">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_10_21_7">הַמִּשְׁכָּ֖ן</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_10_21_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6218">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_10_21_9">בֹּאָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6220">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_22" data-pasuk-now="11"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_1">וְנָסַ֗ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_2">דֶּ֛גֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_3">מַחֲנֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6225">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_5">אֶפְרַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_6">לְצִבְאֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_7">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6229">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_8">צְבָא֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_9">אֱלִישָׁמָ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_10">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6233">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_22_11">עַמִּיהֽוּד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6235">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_23_1">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6237">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_23_2">צְבָ֔א</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_10_23_3">מַטֵּ֖ה</span>
<span class="mila" data-lnk="3758097024" data-exlnk="0" id="M_10_23_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_23_5">מְנַשֶּׁ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_23_6">גַּמְלִיאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_23_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6244">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_23_8">פְּדָהצֽוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6246">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_24" data-pasuk-now="8"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_24_1">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6248">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_24_2">צְבָ֔א</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_10_24_3">מַטֵּ֖ה</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_10_24_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_24_5">בִנְיָמִ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_24_6">אֲבִידָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_24_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6255">־</span><span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_10_24_8">גִּדְעוֹנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6257">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_25" data-pasuk-now="14"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_1">וְנָסַ֗ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_2">דֶּ֚גֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_3">מַחֲנֵ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_4">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6262">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_10_25_5">דָ֔ן</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_10_25_6">מְאַסֵּ֥ף</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_10_25_7">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6266">־</span><span class="mila" data-lnk="4026532489" data-exlnk="0" id="M_10_25_8">הַֽמַּחֲנֹ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_9">לְצִבְאֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_10">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6270">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_11">צְבָא֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_12">אֲחִיעֶ֖זֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_13">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6274">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_25_14">עַמִּישַׁדָּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6276">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_26" data-pasuk-now="8"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_26_1">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6278">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_26_2">צְבָ֔א</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_10_26_3">מַטֵּ֖ה</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_10_26_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_26_5">אָשֵׁ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_26_6">פַּגְעִיאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_26_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6285">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_26_8">עָכְרָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6287">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_27" data-pasuk-now="8"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_27_1">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6289">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_27_2">צְבָ֔א</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_10_27_3">מַטֵּ֖ה</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_10_27_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_27_5">נַפְתָּלִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_27_6">אֲחִירַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_27_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6296">־</span><span class="mila" data-lnk="805306496" data-exlnk="0" id="M_10_27_8">עֵינָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6298">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_28" data-pasuk-now="6"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_28_1">אֵ֛לֶּה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_28_2">מַסְעֵ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_28_3">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6302">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_10_28_4">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_28_5">לְצִבְאֹתָ֑ם</span>
<span class="mila" data-lnk="4026532737" data-exlnk="0" id="M_10_28_6">וַיִּסָּֽעוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6307">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6308">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_29" data-pasuk-now="28"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_10_29_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_10_29_2">מֹשֶׁ֗ה</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_10_29_3">לְ֠חֹבָב</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_29_4">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6313">־</span><span class="mila" data-lnk="805306532" data-exlnk="0" id="M_10_29_5">רְעוּאֵ֣ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_29_6">הַמִּדְיָנִי֘</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_29_7">חֹתֵ֣ן</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_10_29_8">מֹשֶׁה֒</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_29_9">נֹסְעִ֣ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="6319">׀</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_29_10">אֲנַ֗חְנוּ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_29_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6322">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_10_29_12">הַמָּקוֹם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_29_13">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_29_14">אָמַ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_29_15">יְהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_29_16">אֹת֖וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_29_17">אֶתֵּ֣ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_29_18">לָכֶ֑ם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_10_29_19">לְכָ֤ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_10_29_20">אִתָּ֙נוּ֙</span>
<span class="mila" data-lnk="4026532536" data-exlnk="0" id="M_10_29_21">וְהֵטַ֣בְנוּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_10_29_22">לָ֔ךְ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_10_29_23">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6335">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_10_29_24">יְהוָ֥ה</span>
<span class="mila" data-lnk="1342178216" data-exlnk="0" id="M_10_29_25">דִּבֶּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6338">־</span><span class="mila" data-lnk="2952790952" data-exlnk="0" id="M_10_29_26">ט֖וֹב</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_10_29_27">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6341">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_10_29_28">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6343">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_30" data-pasuk-now="11"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_30_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_30_2">אֵלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_30_3">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_30_4">אֵלֵ֑ךְ</span>
<span class="mila" data-lnk="3221226024" data-exlnk="0" id="M_10_30_5">כִּ֧י</span>
<span class="mila" data-lnk="1073742376" data-exlnk="0" id="M_10_30_6">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6350">־</span><span class="mila" data-lnk="1073742381" data-exlnk="0" id="M_10_30_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6352">־</span><span class="mila" data-lnk="2147484205" data-exlnk="0" id="M_10_30_8">אַרְצִ֛י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_30_9">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6355">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_10_30_10">מוֹלַדְתִּ֖י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_10_30_11">אֵלֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6358">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_31" data-pasuk-now="14"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_31_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_10_31_2">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6361">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_10_31_3">נָ֖א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_31_4">תַּעֲזֹ֣ב</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_10_31_5">אֹתָ֑נוּ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_10_31_6">כִּ֣י׀</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_10_31_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6367">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_10_31_8">כֵּ֣ן</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_10_31_9">יָדַ֗עְתָּ</span>
<span class="mila" data-lnk="3221226031" data-exlnk="0" id="M_10_31_10">חֲנֹתֵ֙נוּ֙</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_10_31_11">בַּמִּדְבָּ֔ר</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_10_31_12">וְהָיִ֥יתָ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_10_31_13">לָּ֖נוּ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_10_31_14">לְעֵינָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6375">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_32" data-pasuk-now="13"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_10_32_1">וְהָיָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_10_32_2">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6378">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_10_32_3">תֵלֵ֣ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_10_32_4">עִמָּ֑נוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_32_5">וְהָיָ֣ה׀</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_10_32_6">הַטּ֣וֹב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_32_7">הַה֗וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_32_8">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_32_9">יֵיטִ֧יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_32_10">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_32_11">עִמָּ֖נוּ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_10_32_12">וְהֵטַ֥בְנוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_10_32_13">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6390">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_33" data-pasuk-now="17"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_10_33_1">וַיִּסְעוּ֙</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_10_33_2">מֵהַ֣ר</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_10_33_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_10_33_4">דֶּ֖רֶךְ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_10_33_5">שְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_10_33_6">יָמִ֑ים</span>
<span class="mila" data-lnk="1342177947" data-exlnk="0" id="M_10_33_7">וַאֲר֨וֹן</span>
<span class="mila" data-lnk="1342177931" data-exlnk="0" id="M_10_33_8">בְּרִית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6399">־</span><span class="mila" data-lnk="3758097067" data-exlnk="0" id="M_10_33_9">יְהוָ֜ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_10_33_10">נֹסֵ֣עַ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_10_33_11">לִפְנֵיהֶ֗ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_33_12">דֶּ֚רֶךְ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_10_33_13">שְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_10_33_14">יָמִ֔ים</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_10_33_15">לָת֥וּר</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_10_33_16">לָהֶ֖ם</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_10_33_17">מְנוּחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6409">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_34" data-pasuk-now="7"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="3221226017" data-exlnk="0" id="M_10_34_1">וַעֲנַ֧ן</span>
<span class="mila" data-lnk="2147484193" data-exlnk="0" id="M_10_34_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_34_3">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_10_34_4">יוֹמָ֑ם</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_10_34_5">בְּנָסְעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_34_6">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6416">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_34_7">הַֽמַּחֲנֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6419">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6420">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[ששי]</span>
<span id="PS_10_35" data-pasuk-now="12"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="1879048881" data-exlnk="0" id="M_10_35_1">וַיְהִ֛י</span>
<span class="mila" data-lnk="2684355249" data-exlnk="0" id="M_10_35_2">בִּנְסֹ֥עַ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_10_35_3">הָאָרֹ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_35_4">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_35_5">מֹשֶׁ֑ה</span>
<span class="mila" data-lnk="4026532495" data-exlnk="0" id="M_10_35_6">קוּמָ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="6427">׀</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_10_35_7">יְהוָ֗ה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_10_35_8">וְיָפֻ֙צוּ֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_10_35_9">אֹֽיְבֶ֔יךָ</span>
<span class="mila" data-lnk="4026532525" data-exlnk="0" id="M_10_35_10">וְיָנֻ֥סוּ</span>
<span class="mila" data-lnk="4026532485" data-exlnk="0" id="M_10_35_11">מְשַׂנְאֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_35_12">מִפָּנֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6434">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_36" data-pasuk-now="7"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="3221226028" data-exlnk="0" id="M_10_36_1">וּבְנֻחֹ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_10_36_2">יֹאמַ֑ר</span>
<span class="mila" data-lnk="4026532493" data-exlnk="0" id="M_10_36_3">שׁוּבָ֣ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_10_36_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="3221226029" data-exlnk="0" id="M_10_36_5">רִֽבֲב֖וֹת</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_10_36_6">אַלְפֵ֥י</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_10_36_7">יִשְׂרָאֵֽל</span><span data-mila-att="16842754" class="sfpsk" data-lnk="0" data-exlnk="0" id="6443">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6444"> פ </span>
</span>
<br /></p>