<p id="PR_15" data-perek-now="511" data-perek-nops="41"><span class="perek-header">פרק טו</span>
<br /><span id="PS_15_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8649">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8652">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_2" data-pasuk-now="15"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_15_2_1">דַּבֵּר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_15_2_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8655">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_15_2_3">בְּנֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_15_2_4">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_2_5">וְאָמַרְתָּ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_2_6">אֲלֵהֶ֑ם</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_15_2_7">כִּ֣י</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_15_2_8">תָבֹ֗אוּ</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_15_2_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8663">־</span><span class="mila" data-lnk="61" data-exlnk="0" id="M_15_2_10">אֶ֙רֶץ֙</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_2_11">מוֹשְׁבֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_2_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_2_13">אֲנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_2_14">נֹתֵ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_2_15">לָכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8670">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_3" data-pasuk-now="21"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_1">וַעֲשִׂיתֶ֨ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_2">אִשֶּׁ֤ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_3">לַֽיהוָה֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_3_4">עֹלָ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_3_5">אוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8676">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_3_6">זֶ֔בַח</span>
<span class="mila" data-lnk="4026532517" data-exlnk="0" id="M_15_3_7">לְפַלֵּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8679">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_8">נֶ֙דֶר֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_9">א֣וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_10">בִנְדָבָ֔ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_3_11">א֖וֹ</span>
<span class="mila" data-lnk="4026532768" data-exlnk="0" id="M_15_3_12">בְּמֹעֲדֵיכֶ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_15_3_13">לַעֲשׂ֞וֹת</span>
<span class="mila" data-lnk="268435593" data-exlnk="0" id="M_15_3_14">רֵ֤יחַ</span>
<span class="mila" data-lnk="536871049" data-exlnk="0" id="M_15_3_15">נִיחֹחַ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_15_3_16">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_3_17">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8690">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_3_18">הַבָּקָ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_3_19">א֥וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_3_20">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8694">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_3_21">הַצֹּֽאן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8696">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_4" data-pasuk-now="11"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_4_1">וְהִקְרִ֛יב</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_4_2">הַמַּקְרִ֥יב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_4_3">קָרְבָּנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_4_4">לַֽיהוָ֑ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_4_5">מִנְחָה֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_4_6">סֹ֣לֶת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_4_7">עִשָּׂר֔וֹן</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_15_4_8">בָּל֕וּל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_4_9">בִּרְבִעִ֥ית</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_4_10">הַהִ֖ין</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_4_11">שָֽׁמֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8708">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_5_1">וְיַ֤יִן</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_5_2">לַנֶּ֙סֶךְ֙</span>
<span class="mila" data-lnk="4026532768" data-exlnk="0" id="M_15_5_3">רְבִיעִ֣ית</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_5_4">הַהִ֔ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_5_5">תַּעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_5_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8715">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_5_7">הָעֹלָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_5_8">א֣וֹ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_15_5_9">לַזָּ֑בַח</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_15_5_10">לַכֶּ֖בֶשׂ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_15_5_11">הָאֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8721">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_6_1">א֤וֹ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_6_2">לָאַ֙יִל֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_6_3">תַּעֲשֶׂ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_6_4">מִנְחָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_5">סֹ֖לֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_6">שְׁנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_7">עֶשְׂרֹנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_8">בְּלוּלָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_9">בַשֶּׁ֖מֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_10">שְׁלִשִׁ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_6_11">הַהִֽין</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8733">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_1">וְיַ֥יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_2">לַנֶּ֖סֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_3">שְׁלִשִׁ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_4">הַהִ֑ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_5">תַּקְרִ֥יב</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_15_7_6">רֵֽיחַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8740">־</span><span class="mila" data-lnk="536871040" data-exlnk="0" id="M_15_7_7">נִיחֹ֖חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_8">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8743">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[חמישי]</span>
<span id="PS_15_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1073742368" data-exlnk="0" id="M_15_8_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8745">־</span><span class="mila" data-lnk="2147484192" data-exlnk="0" id="M_15_8_2">תַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_8_3">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8748">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_8_4">בָּקָ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_8_5">עֹלָ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_8_6">אוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8752">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_8_7">זָ֑בַח</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_15_8_8">לְפַלֵּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8755">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_9">נֶ֥דֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_10">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8758">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_15_8_11">שְׁלָמִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_12">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8761">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_9" data-pasuk-now="12"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_9_1">וְהִקְרִ֤יב</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_15_9_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8764">־</span><span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_15_9_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8766">־</span><span class="mila" data-lnk="2684355200" data-exlnk="0" id="M_15_9_4">הַבָּקָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_9_5">מִנְחָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_6">סֹ֖לֶת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_7">שְׁלֹשָׁ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_8">עֶשְׂרֹנִ֑ים</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_15_9_9">בָּל֥וּל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_10">בַּשֶּׁ֖מֶן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_11">חֲצִ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_9_12">הַהִֽין</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8776">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_10" data-pasuk-now="9"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_1">וְיַ֛יִן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_2">תַּקְרִ֥יב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_3">לַנֶּ֖סֶךְ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_4">חֲצִ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_5">הַהִ֑ין</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_10_6">אִשֵּׁ֥ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_10_7">רֵֽיחַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8784">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_8">נִיחֹ֖חַ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_10_9">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8787">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1879048864" data-exlnk="0" id="M_15_11_1">כָּ֣כָה</span>
<span class="mila" data-lnk="2952790688" data-exlnk="0" id="M_15_11_2">יֵעָשֶׂ֗ה</span>
<span class="mila" data-lnk="3221226016" data-exlnk="0" id="M_15_11_3">לַשּׁוֹר֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_11_4">הָאֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_11_5">א֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_11_6">לָאַ֣יִל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_11_7">הָאֶחָ֑ד</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_11_8">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8796">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_11_9">לַשֶּׂ֥ה</span>
<span class="mila" data-lnk="3221226017" data-exlnk="0" id="M_15_11_10">בַכְּבָשִׂ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_11_11">א֥וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_11_12">בָעִזִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8801">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_12" data-pasuk-now="7"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221226017" data-exlnk="0" id="M_15_12_1">כַּמִּסְפָּ֖ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_12_2">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_12_3">תַּעֲשׂ֑וּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_12_4">כָּ֛כָה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_12_5">תַּעֲשׂ֥וּ</span>
<span class="mila" data-lnk="805306537" data-exlnk="0" id="M_15_12_6">לָאֶחָ֖ד</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_12_7">כְּמִסְפָּרָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8809">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_13_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8811">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_15_13_2">הָאֶזְרָ֥ח</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_13_3">יַעֲשֶׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8814">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_15_13_4">כָּ֖כָה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8817">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_6">אֵ֑לֶּה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_7">לְהַקְרִ֛יב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_8">אִשֵּׁ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_9">רֵֽיחַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8822">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_10">נִיחֹ֖חַ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_13_11">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8825">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_14" data-pasuk-now="17"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_14_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8827">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_15_14_2">יָגוּר֩</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_14_3">אִתְּכֶ֨ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_14_4">גֵּ֜ר</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_14_5">א֤וֹ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_14_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8833">־</span><span class="mila" data-lnk="805306540" data-exlnk="0" id="M_15_14_7">בְּתֽוֹכֲכֶם֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_14_8">לְדֹרֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_9">וְעָשָׂ֛ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_10">אִשֵּׁ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_11">רֵֽיחַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8839">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_12">נִיחֹ֖חַ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_14_13">לַיהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_14_14">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_14_15">תַּעֲשׂ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_14_16">כֵּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_14_17">יַעֲשֶֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8846">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_15" data-pasuk-now="14"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_15_1">הַקָּהָ֕ל</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_15_15_2">חֻקָּ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_15_3">אַחַ֛ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_15_4">לָכֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_15_5">וְלַגֵּ֣ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_15_6">הַגָּ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_7">חֻקַּ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_8">עוֹלָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_15_9">לְדֹרֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_15_10">כָּכֶ֛ם</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_15_11">כַּגֵּ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_15_12">יִהְיֶ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_15_13">לִפְנֵ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_15_14">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8861">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_16_1">תּוֹרָ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_16_2">אַחַ֛ת</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_15_16_3">וּמִשְׁפָּ֥ט</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_15_16_4">אֶחָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_16_5">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_16_6">לָכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_16_7">וְלַגֵּ֖ר</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_15_16_8">הַגָּ֥ר</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_15_16_9">אִתְּכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8872">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="8873"> פ </span>
</span>
<br /><span class="parashia-header">[ששי]</span>
<span id="PS_15_17" data-pasuk-now="5"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_17_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_17_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_17_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8877">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_17_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_17_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8880">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_18" data-pasuk-now="14"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_1">דַּבֵּר֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8883">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_3">בְּנֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_4">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_5">וְאָמַרְתָּ֖</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_6">אֲלֵהֶ֑ם</span>
<span class="mila" data-lnk="4026532769" data-exlnk="0" id="M_15_18_7">בְּבֹֽאֲכֶם֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_18_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8890">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_15_18_9">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_18_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_18_11">אֲנִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_18_12">מֵבִ֥יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_18_13">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_15_18_14">שָֽׁמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8897">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_19" data-pasuk-now="7"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_19_1">וְהָיָ֕ה</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_15_19_2">בַּאֲכָלְכֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_19_3">מִלֶּ֣חֶם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_19_4">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_19_5">תָּרִ֥ימוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_19_6">תְרוּמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_19_7">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8905">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_20" data-pasuk-now="10"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="805306539" data-exlnk="0" id="M_15_20_1">רֵאשִׁית֙</span>
<span class="mila" data-lnk="4026532527" data-exlnk="0" id="M_15_20_2">עֲרִסֹ֣תֵכֶ֔ם</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_20_3">חַלָּ֖ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_20_4">תָּרִ֣ימוּ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_20_5">תְרוּמָ֑ה</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_15_20_6">כִּתְרוּמַ֣ת</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_15_20_7">גֹּ֔רֶן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_8">כֵּ֖ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_9">תָּרִ֥ימוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_20_10">אֹתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8916">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026532745" data-exlnk="0" id="M_15_21_1">מֵרֵאשִׁית֙</span>
<span class="mila" data-lnk="805306505" data-exlnk="0" id="M_15_21_2">עֲרִסֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_21_3">תִּתְּנ֥וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_21_4">לַיהוָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_21_5">תְּרוּמָ֑ה</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_15_21_6">לְדֹרֹ֖תֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8924">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="8925">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_22" data-pasuk-now="13"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_22_1">וְכִ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_22_2">תִשְׁגּ֔וּ</span>
<span class="mila" data-lnk="1342178225" data-exlnk="0" id="M_15_22_3">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532785" data-exlnk="0" id="M_15_22_4">תַעֲשׂ֔וּ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_15_22_5">אֵ֥ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_15_22_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8932">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_15_22_7">הַמִּצְוֺ֖ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_15_22_8">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="268435585" data-exlnk="0" id="M_15_22_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8936">־</span><span class="mila" data-lnk="268435585" data-exlnk="0" id="M_15_22_10">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="268435585" data-exlnk="0" id="M_15_22_11">יְהוָ֖ה</span>
<span class="mila" data-lnk="268435585" data-exlnk="0" id="M_15_22_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8940">־</span><span class="mila" data-lnk="805306497" data-exlnk="0" id="M_15_22_13">מֹשֶֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8942">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_23" data-pasuk-now="15"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_15_23_1">אֵת֩</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_15_23_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8945">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_15_23_3">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="268435603" data-exlnk="0" id="M_15_23_4">צִוָּ֧ה</span>
<span class="mila" data-lnk="805306514" data-exlnk="0" id="M_15_23_5">יְהוָ֛ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_15_23_6">אֲלֵיכֶ֖ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_15_23_7">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8951">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_15_23_8">מֹשֶׁ֑ה</span>
<span class="mila" data-lnk="3221225987" data-exlnk="0" id="M_15_23_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8954">־</span><span class="mila" data-lnk="3221225987" data-exlnk="0" id="M_15_23_10">הַיּ֞וֹם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_15_23_11">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_15_23_12">צִוָּ֧ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_15_23_13">יְהוָ֛ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_15_23_14">וָהָ֖לְאָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_23_15">לְדֹרֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8961">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_24" data-pasuk-now="24"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_24_1">וְהָיָ֗ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_24_2">אִ֣ם</span>
<span class="mila" data-lnk="4026532513" data-exlnk="0" id="M_15_24_3">מֵעֵינֵ֣י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_24_4">הָעֵדָה֘</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_24_5">נֶעֶשְׂתָ֣ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_15_24_6">לִשְׁגָגָה֒</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_24_7">וְעָשׂ֣וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_24_8">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8970">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_24_9">הָעֵדָ֡ה</span>
<span class="mila" data-lnk="268435616" data-exlnk="0" id="M_15_24_10">פַּ֣ר</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_15_24_11">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8974">־</span><span class="mila" data-lnk="268435584" data-exlnk="0" id="M_15_24_12">בָּקָר֩</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_15_24_13">אֶחָ֨ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_24_14">לְעֹלָ֜ה</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_15_24_15">לְרֵ֤יחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_24_16">נִיחֹחַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_24_17">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_24_18">וּמִנְחָת֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_24_19">וְנִסְכּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_24_20">כַּמִּשְׁפָּ֑ט</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_24_21">וּשְׂעִיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8985">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_24_22">עִזִּ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_24_23">אֶחָ֖ד</span>
<span class="mila" data-lnk="4026532737" data-exlnk="0" id="M_15_24_24">לְחַטָּֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8989">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_25" data-pasuk-now="23"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_1">וְכִפֶּ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_2">הַכֹּהֵ֗ן</span>
<span class="mila" data-lnk="1879049120" data-exlnk="0" id="M_15_25_3">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8993">־</span><span class="mila" data-lnk="4026532768" data-exlnk="0" id="M_15_25_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8995">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_5">עֲדַ֛ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_6">בְּנֵ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_7">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_15_25_8">וְנִסְלַ֣ח</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_15_25_9">לָהֶ֑ם</span>
<span class="mila" data-lnk="1073742112" data-exlnk="0" id="M_15_25_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9002">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_11">שְׁגָגָ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_25_12">הִ֔וא</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_15_25_13">וְהֵם֩</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_15_25_14">הֵבִ֨יאוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_15_25_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9008">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_15_25_16">קָרְבָּנָ֜ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_15_25_17">אִשֶּׁ֣ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_15_25_18">לַיהוָ֗ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_15_25_19">וְחַטָּאתָ֛ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_15_25_20">לִפְנֵ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_15_25_21">יְהוָ֖ה</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_15_25_22">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9016">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_25_23">שִׁגְגָתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9018">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_26" data-pasuk-now="12"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_26_1">וְנִסְלַ֗ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_26_2">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9021">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_26_3">עֲדַת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_26_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_26_5">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_15_26_6">וְלַגֵּ֖ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_15_26_7">הַגָּ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_8">בְּתוֹכָ֑ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_9">כִּ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_10">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9030">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_11">הָעָ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_26_12">בִּשְׁגָגָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9034">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9035">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שביעי]</span>
<span id="PS_15_27" data-pasuk-now="10"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9037">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_2">נֶ֥פֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_27_3">אַחַ֖ת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_27_4">תֶּחֱטָ֣א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_27_5">בִשְׁגָגָ֑ה</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_15_27_6">וְהִקְרִ֛יבָה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_15_27_7">עֵ֥ז</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_15_27_8">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9045">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_15_27_9">שְׁנָתָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_27_10">לְחַטָּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9048">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_28" data-pasuk-now="13"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_1">וְכִפֶּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_2">הַכֹּהֵ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9052">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_4">הַנֶּ֧פֶשׁ</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_15_28_5">הַשֹּׁגֶ֛גֶת</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_15_28_6">בְּחֶטְאָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_7">בִשְׁגָגָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_8">לִפְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_9">יְהוָ֑ה</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_15_28_10">לְכַפֵּ֥ר</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_15_28_11">עָלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_12">וְנִסְלַ֥ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_28_13">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9063">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_29" data-pasuk-now="12"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_1">הָֽאֶזְרָח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_2">בִּבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_3">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_4">וְלַגֵּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_5">הַגָּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_6">בְּתוֹכָ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_29_7">תּוֹרָ֤ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_29_8">אַחַת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_9">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_10">לָכֶ֔ם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_15_29_11">לָעֹשֶׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_29_12">בִּשְׁגָגָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9076">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_30" data-pasuk-now="18"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_1">וְהַנֶּ֜פֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_2">אֲשֶֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9079">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_3">תַּעֲשֶׂ֣ה׀</span>
<span class="mila" data-lnk="4026532743" data-exlnk="0" id="M_15_30_4">בְּיָ֣ד</span>
<span class="mila" data-lnk="4026532743" data-exlnk="0" id="M_15_30_5">רָמָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_6">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9084">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_7">הָֽאֶזְרָח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_8">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9087">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_9">הַגֵּ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9090">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_11">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_12">ה֣וּא</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_15_30_13">מְגַדֵּ֑ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_14">וְנִכְרְתָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_15">הַנֶּ֥פֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_30_16">הַהִ֖וא</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_15_30_17">מִקֶּ֥רֶב</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_15_30_18">עַמָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9099">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_31" data-pasuk-now="13"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_31_1">כִּ֤י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_15_31_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9102">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_15_31_3">יְהוָה֙</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_15_31_4">בָּזָ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_31_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9106">־</span><span class="mila" data-lnk="3221225988" data-exlnk="0" id="M_15_31_6">מִצְוָת֖וֹ</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_15_31_7">הֵפַ֑ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_31_8">הִכָּרֵ֧ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9110">׀</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_31_9">תִּכָּרֵ֛ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_31_10">הַנֶּ֥פֶשׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_31_11">הַהִ֖וא</span>
<span class="mila" data-lnk="3221225989" data-exlnk="0" id="M_15_31_12">עֲוֺנָ֥ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_15_31_13">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9117">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9118"> פ </span>
</span>
<br /><span id="PS_15_32" data-pasuk-now="10"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_15_32_1">וַיִּהְי֥וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_32_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9121">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_15_32_3">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_15_32_4">בַּמִּדְבָּ֑ר</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_32_5">וַֽיִּמְצְא֗וּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_32_6">אִ֛ישׁ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_32_7">מְקֹשֵׁ֥שׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_32_8">עֵצִ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_32_9">בְּי֥וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_32_10">הַשַּׁבָּֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9130">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_33" data-pasuk-now="13"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_33_1">וַיַּקְרִ֣יבוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_33_2">אֹת֔וֹ</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_15_33_3">הַמֹּצְאִ֥ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_33_4">אֹת֖וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_33_5">מְקֹשֵׁ֣שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_33_6">עֵצִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_33_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9138">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_33_8">מֹשֶׁה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_33_9">וְאֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9141">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_33_10">אַהֲרֹ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_33_11">וְאֶ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_33_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9145">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_33_13">הָעֵדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9147">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_34" data-pasuk-now="9"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_34_1">וַיַּנִּ֥יחוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_34_2">אֹת֖וֹ</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_15_34_3">בַּמִּשְׁמָ֑ר</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_15_34_4">כִּ֚י</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_15_34_5">לֹ֣א</span>
<span class="mila" data-lnk="3221226027" data-exlnk="0" id="M_15_34_6">פֹרַ֔שׁ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_34_7">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9155">־</span><span class="mila" data-lnk="4026532525" data-exlnk="0" id="M_15_34_8">יֵּעָשֶׂ֖ה</span>
<span class="mila" data-lnk="536871085" data-exlnk="0" id="M_15_34_9">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9159">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9160">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_35" data-pasuk-now="14"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_2">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9164">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_4">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_5">מ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_6">יוּמַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_7">הָאִ֑ישׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_15_35_8">רָג֨וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_35_9">אֹת֤וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_35_10">בָֽאֲבָנִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9173">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_35_12">הָ֣עֵדָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_35_13">מִח֖וּץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_35_14">לַֽמַּחֲנֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9177">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_36" data-pasuk-now="16"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_15_36_1">וַיֹּצִ֨יאוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_15_36_2">אֹת֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9181">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_4">הָעֵדָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9184">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_6">מִחוּץ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_7">לַֽמַּחֲנֶ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_8">וַיִּרְגְּמ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_9">אֹת֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_10">בָּאֲבָנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_11">וַיָּמֹ֑ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_36_12">כַּאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_36_13">צִוָּ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_36_14">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9195">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_36_16">מֹשֶֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9198">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9199"> פ </span>
</span>
<br /><span class="parashia-header">[מפטיר]</span>
<span id="PS_15_37" data-pasuk-now="5"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_15_37_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_15_37_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_15_37_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9203">־</span><span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_15_37_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="3758097024" data-exlnk="0" id="M_15_37_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9206">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_38" data-pasuk-now="19"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_38_1">דַּבֵּ֞ר</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_15_38_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9209">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_38_3">בְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_38_4">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_38_5">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_38_6">אֲלֵהֶ֔ם</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_38_7">וְעָשׂ֨וּ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_38_8">לָהֶ֥ם</span>
<span class="mila" data-lnk="4026532799" data-exlnk="0" id="M_15_38_9">צִיצִ֛ת</span>
<span class="mila" data-lnk="268435620" data-exlnk="0" id="M_15_38_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9218">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_15_38_11">כַּנְפֵ֥י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_38_12">בִגְדֵיהֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_38_13">לְדֹרֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_38_14">וְנָ֥תְנ֛וּ</span>
<span class="mila" data-lnk="536871044" data-exlnk="0" id="M_15_38_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9224">־</span><span class="mila" data-lnk="3221226021" data-exlnk="0" id="M_15_38_16">צִיצִ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_38_17">הַכָּנָ֖ף</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_15_38_18">פְּתִ֥יל</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_15_38_19">תְּכֵֽלֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9229">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_39" data-pasuk-now="22"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_15_39_1">וְהָיָ֣ה</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_15_39_2">לָכֶם֘</span>
<span class="mila" data-lnk="4026532526" data-exlnk="0" id="M_15_39_3">לְצִיצִת֒</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_39_4">וּרְאִיתֶ֣ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_39_5">אֹת֗וֹ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_39_6">וּזְכַרְתֶּם֙</span>
<span class="mila" data-lnk="3489661857" data-exlnk="0" id="M_15_39_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9237">־</span><span class="mila" data-lnk="1342178209" data-exlnk="0" id="M_15_39_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9239">־</span><span class="mila" data-lnk="1342178209" data-exlnk="0" id="M_15_39_9">מִצְוֺ֣ת</span>
<span class="mila" data-lnk="3758097313" data-exlnk="0" id="M_15_39_10">יְהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_39_11">וַעֲשִׂיתֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_39_12">אֹתָ֑ם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_39_13">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9245">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_15_39_14">תָת֜וּרוּ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_39_15">אַחֲרֵ֤י</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_39_16">לְבַבְכֶם֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_39_17">וְאַחֲרֵ֣י</span>
<span class="mila" data-lnk="805306536" data-exlnk="0" id="M_15_39_18">עֵֽינֵיכֶ֔ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_15_39_19">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9252">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_15_39_20">אַתֶּ֥ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_15_39_21">זֹנִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_15_39_22">אַחֲרֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9256">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_40" data-pasuk-now="9"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_40_1">לְמַ֣עַן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_15_40_2">תִּזְכְּר֔וּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_15_40_3">וַעֲשִׂיתֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_40_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9261">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_40_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9263">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_40_6">מִצְוֺתָ֑י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_40_7">וִהְיִיתֶ֥ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_40_8">קְדֹשִׁ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_15_40_9">לֵאלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9268">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_41" data-pasuk-now="14"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="4026532493" data-exlnk="0" id="M_15_41_1">אֲנִ֞י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_15_41_2">יְהוָ֣ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_15_41_3">אֱלֹהֵיכֶ֗ם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_41_4">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_41_5">הוֹצֵ֤אתִי</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_41_6">אֶתְכֶם֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_15_41_7">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_15_41_8">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_41_9">לִהְי֥וֹת</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_41_10">לָכֶ֖ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_15_41_11">לֵאלֹהִ֑ים</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_15_41_12">אֲנִ֖י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_15_41_13">יְהוָ֥ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_15_41_14">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9284">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9285"> פ </span>
</span>
<br /></p>