<p id="PR_20" data-perek-now="418" data-perek-nops="29"><span class="perek-header">פרק כ</span>
<br /><span id="PS_20_1" data-pasuk-now="17"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_1_1">וַיָּבֹ֣אוּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_1_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11478">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_20_1_3">יִ֠שְׂרָאֵל</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_20_1_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11481">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_20_1_5">הָ֨עֵדָ֤ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_1_6">מִדְבַּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11484">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_20_1_7">צִן֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_1_8">בַּחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="805306500" data-exlnk="0" id="M_20_1_9">הָֽרִאשׁ֔וֹן</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_1_10">וַיֵּ֥שֶׁב</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_1_11">הָעָ֖ם</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_1_12">בְּקָדֵ֑שׁ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_20_1_13">וַתָּ֤מָת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_20_1_14">שָׁם֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_20_1_15">מִרְיָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_1_16">וַתִּקָּבֵ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_1_17">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11496">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="268435589" data-exlnk="0" id="M_20_2_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11498">־</span><span class="mila" data-lnk="536871045" data-exlnk="0" id="M_20_2_2">הָ֥יָה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_20_2_3">מַ֖יִם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_20_2_4">לָעֵדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_5">וַיִּקָּ֣הֲל֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11504">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_7">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_8">וְעַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11507">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_9">אַהֲרֹֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11509">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_3_1">וַיָּ֥רֶב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_3_2">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_3_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11513">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_3_4">מֹשֶׁ֑ה</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_20_3_5">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_20_3_6">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_20_3_7">וְל֥וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_3_8">גָוַ֛עְנוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_20_3_9">בִּגְוַ֥ע</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_20_3_10">אַחֵ֖ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_3_11">לִפְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_3_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11523">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_4_1">וְלָמָ֤ה</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_20_4_2">הֲבֵאתֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11527">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_4">קְהַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11531">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_7">הַמִּדְבָּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_8">הַזֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_9">לָמ֣וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_10">שָׁ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_11">אֲנַ֖חְנוּ</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_20_4_12">וּבְעִירֵֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11538">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_5" data-pasuk-now="18"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_1">וְלָמָ֤ה</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_20_5_2">הֶעֱלִיתֻ֙נוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_3">מִמִּצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_4">לְהָבִ֣יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_5">אֹתָ֔נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11545">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_7">הַמָּק֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_8">הָרָ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_9">הַזֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_10">לֹ֣א׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_11">מְק֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_12">זֶ֗רַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_13">וּתְאֵנָ֤ה</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_5_14">וְגֶ֙פֶן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_15">וְרִמּ֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_16">וּמַ֥יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_17">אַ֖יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_5_18">לִשְׁתּֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11558">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_6" data-pasuk-now="16"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_6_1">וַיָּבֹא֩</span>
<span class="mila" data-lnk="268435620" data-exlnk="0" id="M_20_6_2">מֹשֶׁ֨ה</span>
<span class="mila" data-lnk="536871076" data-exlnk="0" id="M_20_6_3">וְאַהֲרֹ֜ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_6_4">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_20_6_5">הַקָּהָ֗ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_6_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11565">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_20_6_7">פֶּ֙תַח֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_6_8">אֹ֣הֶל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_6_9">מוֹעֵ֔ד</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_20_6_10">וַֽיִּפְּל֖וּ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_20_6_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11571">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_20_6_12">פְּנֵיהֶ֑ם</span>
<span class="mila" data-lnk="4026532488" data-exlnk="0" id="M_20_6_13">וַיֵּרָ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_6_14">כְבוֹד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11575">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_20_6_15">יְהוָ֖ה</span>
<span class="mila" data-lnk="805306504" data-exlnk="0" id="M_20_6_16">אֲלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11579">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11580"> פ </span>
</span>
<br /><span class="parashia-header">[שלישי]</span>
<span id="PS_20_7" data-pasuk-now="5"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_7_1">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_7_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_7_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11584">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_7_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_7_5">לֵּאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11587">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_8" data-pasuk-now="25"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_20_8_1">קַ֣ח</span>
<span class="mila" data-lnk="805306558" data-exlnk="0" id="M_20_8_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11590">־</span><span class="mila" data-lnk="62" data-exlnk="0" id="M_20_8_3">הַמַּטֶּ֗ה</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_20_8_4">וְהַקְהֵ֤ל</span>
<span class="mila" data-lnk="536871064" data-exlnk="0" id="M_20_8_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11594">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_20_8_6">הָעֵדָה֙</span>
<span class="mila" data-lnk="536871056" data-exlnk="0" id="M_20_8_7">אַתָּה֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_8_8">וְאַהֲרֹ֣ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_8_9">אָחִ֔יךָ</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_20_8_10">וְדִבַּרְתֶּ֧ם</span>
<span class="mila" data-lnk="536871102" data-exlnk="0" id="M_20_8_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11601">־</span><span class="mila" data-lnk="62" data-exlnk="0" id="M_20_8_12">הַסֶּ֛לַע</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_20_8_13">לְעֵינֵיהֶ֖ם</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_8_14">וְנָתַ֣ן</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_20_8_15">מֵימָ֑יו</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_20_8_16">וְהוֹצֵאתָ֨</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_20_8_17">לָהֶ֥ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_20_8_18">מַ֙יִם֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_8_19">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11610">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_20_8_20">הַסֶּ֔לַע</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_20_8_21">וְהִשְׁקִיתָ֥</span>
<span class="mila" data-lnk="536871064" data-exlnk="0" id="M_20_8_22">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11614">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_20_8_23">הָעֵדָ֖ה</span>
<span class="mila" data-lnk="536871057" data-exlnk="0" id="M_20_8_24">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11617">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_20_8_25">בְּעִירָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11619">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_9" data-pasuk-now="8"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_9_1">וַיִּקַּ֥ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_9_2">מֹשֶׁ֛ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_9_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11623">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_20_9_4">הַמַּטֶּ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_9_5">מִלִּפְנֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_9_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_9_7">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_9_8">צִוָּֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11629">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_10" data-pasuk-now="19"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_20_10_1">וַיַּקְהִ֜לוּ</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_20_10_2">מֹשֶׁ֧ה</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_20_10_3">וְאַהֲרֹ֛ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_20_10_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11634">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_10_5">הַקָּהָ֖ל</span>
<span class="mila" data-lnk="3489661570" data-exlnk="0" id="M_20_10_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11637">־</span><span class="mila" data-lnk="3758097024" data-exlnk="0" id="M_20_10_7">פְּנֵ֣י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_20_10_8">הַסָּ֑לַע</span>
<span class="mila" data-lnk="805306498" data-exlnk="0" id="M_20_10_9">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="536871050" data-exlnk="0" id="M_20_10_10">לָהֶ֗ם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_20_10_11">שִׁמְעוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11643">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_20_10_12">נָא֙</span>
<span class="mila" data-lnk="4026532762" data-exlnk="0" id="M_20_10_13">הַמֹּרִ֔ים</span>
<span class="mila" data-lnk="4026532799" data-exlnk="0" id="M_20_10_14">הֲמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11647">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_20_10_15">הַסֶּ֣לַע</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_20_10_16">הַזֶּ֔ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_20_10_17">נוֹצִ֥יא</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_20_10_18">לָכֶ֖ם</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_20_10_19">מָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11653">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_11_1">וַיָּ֨רֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_11_2">מֹשֶׁ֜ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_20_11_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11657">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_20_11_4">יָד֗וֹ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_20_11_5">וַיַּ֧ךְ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_20_11_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11661">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_20_11_7">הַסֶּ֛לַע</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_11_8">בְּמַטֵּ֖הוּ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_20_11_9">פַּעֲמָ֑יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_11_10">וַיֵּצְאוּ֙</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_20_11_11">מַ֣יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_11_12">רַבִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_11_13">וַתֵּ֥שְׁתְּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_11_14">הָעֵדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_11_15">וּבְעִירָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11672">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11673">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_12" data-pasuk-now="25"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_20_12_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_20_12_2">יְהוָה֘</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_20_12_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11677">־</span><span class="mila" data-lnk="268435585" data-exlnk="0" id="M_20_12_4">מֹשֶׁ֣ה</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_20_12_5">וְאֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11680">־</span><span class="mila" data-lnk="536871041" data-exlnk="0" id="M_20_12_6">אַהֲרֹן֒</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_20_12_7">יַ֚עַן</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_20_12_8">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11684">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_20_12_9">הֶאֱמַנְתֶּ֣ם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_20_12_10">בִּ֔י</span>
<span class="mila" data-lnk="4026532489" data-exlnk="0" id="M_20_12_11">לְהַ֨קְדִּישֵׁ֔נִי</span>
<span class="mila" data-lnk="268435585" data-exlnk="0" id="M_20_12_12">לְעֵינֵ֖י</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_20_12_13">בְּנֵ֣י</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_20_12_14">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_12_15">לָכֵ֗ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_12_16">לֹ֤א</span>
<span class="mila" data-lnk="805306497" data-exlnk="0" id="M_20_12_17">תָבִ֙יאוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_12_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11695">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_12_19">הַקָּהָ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_12_20">הַזֶּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_12_21">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11699">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_20_12_22">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_12_23">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11702">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_12_24">נָתַ֥תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_12_25">לָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11705">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532497" data-exlnk="0" id="M_20_13_1">הֵ֚מָּה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_20_13_2">מֵ֣י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_20_13_3">מְרִיבָ֔ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_20_13_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11710">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_20_13_5">רָב֥וּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_20_13_6">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11713">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_20_13_7">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_20_13_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11716">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_20_13_9">יְהוָ֑ה</span>
<span class="mila" data-lnk="3221226039" data-exlnk="0" id="M_20_13_10">וַיִּקָּדֵ֖שׁ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_20_13_11">בָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11721">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11722">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[רביעי]</span>
<span id="PS_20_14" data-pasuk-now="18"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_14_1">וַיִּשְׁלַ֨ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_14_2">מֹשֶׁ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_14_3">מַלְאָכִ֛ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_14_4">מִקָּדֵ֖שׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_14_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11728">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_20_14_6">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_14_7">אֱד֑וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_14_8">כֹּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_14_9">אָמַר֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_14_10">אָחִ֣יךָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_14_11">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_14_12">אַתָּ֣ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_14_13">יָדַ֔עְתָּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_14_14">אֵ֥ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_14_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11739">־</span><span class="mila" data-lnk="805306509" data-exlnk="0" id="M_20_14_16">הַתְּלָאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_14_17">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_20_14_18">מְצָאָֽתְנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11743">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_15" data-pasuk-now="11"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_15_1">וַיֵּרְד֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_15_2">אֲבֹתֵ֙ינוּ֙</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_20_15_3">מִצְרַ֔יְמָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_15_4">וַנֵּ֥שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_15_5">בְּמִצְרַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_15_6">יָמִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_15_7">רַבִּ֑ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_15_8">וַיָּרֵ֥עוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_20_15_9">לָ֛נוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_15_10">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_20_15_11">וְלַאֲבֹתֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11755">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_16" data-pasuk-now="15"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_16_1">וַנִּצְעַ֤ק</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_16_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11758">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_20_16_3">יְהוָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_16_4">וַיִּשְׁמַ֣ע</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_20_16_5">קֹלֵ֔נוּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_20_16_6">וַיִּשְׁלַ֣ח</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_20_16_7">מַלְאָ֔ךְ</span>
<span class="mila" data-lnk="4026532768" data-exlnk="0" id="M_20_16_8">וַיֹּצִאֵ֖נוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_16_9">מִמִּצְרָ֑יִם</span>
<span class="mila" data-lnk="1342178176" data-exlnk="0" id="M_20_16_10">וְהִנֵּה֙</span>
<span class="mila" data-lnk="3758097280" data-exlnk="0" id="M_20_16_11">אֲנַ֣חְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_16_12">בְקָדֵ֔שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_16_13">עִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_16_14">קְצֵ֥ה</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_16_15">גְבוּלֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11772">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_17" data-pasuk-now="22"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_17_1">נַעְבְּרָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11774">־</span><span class="mila" data-lnk="268435592" data-exlnk="0" id="M_20_17_2">נָּ֣א</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_17_3">בְאַרְצֶ֗ךָ</span>
<span class="mila" data-lnk="805306536" data-exlnk="0" id="M_20_17_4">לֹ֤א</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_20_17_5">נַֽעֲבֹר֙</span>
<span class="mila" data-lnk="4026532524" data-exlnk="0" id="M_20_17_6">בְּשָׂדֶ֣ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_20_17_7">וּבְכֶ֔רֶם</span>
<span class="mila" data-lnk="1610613415" data-exlnk="0" id="M_20_17_8">וְלֹ֥א</span>
<span class="mila" data-lnk="2147484199" data-exlnk="0" id="M_20_17_9">נִשְׁתֶּ֖ה</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_20_17_10">מֵ֣י</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_20_17_11">בְאֵ֑ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_20_17_12">דֶּ֧רֶךְ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_20_17_13">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_20_17_14">נֵלֵ֗ךְ</span>
<span class="mila" data-lnk="536871049" data-exlnk="0" id="M_20_17_15">לֹ֤א</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_17_16">נִטֶּה֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_17_17">יָמִ֣ין</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_17_18">וּשְׂמֹ֔אול</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_17_19">עַ֥ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_17_20">אֲשֶֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11794">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_20_17_21">נַעֲבֹ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_17_22">גְּבֻלֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11797">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_18_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_18_2">אֵלָיו֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_18_3">אֱד֔וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_18_4">לֹ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_18_5">תַעֲבֹ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_18_6">בִּ֑י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_18_7">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11805">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_20_18_8">בַּחֶ֖רֶב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_18_9">אֵצֵ֥א</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_20_18_10">לִקְרָאתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11809">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_19" data-pasuk-now="18"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_19_1">וַיֹּאמְר֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_19_2">אֵלָ֥יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_19_3">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11813">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_20_19_4">יִשְׂרָאֵל֘</span>
<span class="mila" data-lnk="4026532500" data-exlnk="0" id="M_20_19_5">בַּֽמֲסִלָּ֣ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_19_6">נַעֲלֶה֒</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_19_7">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11818">־</span><span class="mila" data-lnk="4026532488" data-exlnk="0" id="M_20_19_8">מֵימֶ֤יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_19_9">נִשְׁתֶּה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_19_10">אֲנִ֣י</span>
<span class="mila" data-lnk="3221225992" data-exlnk="0" id="M_20_19_11">וּמִקְנַ֔י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_19_12">וְנָתַתִּ֖י</span>
<span class="mila" data-lnk="4026532492" data-exlnk="0" id="M_20_19_13">מִכְרָ֑ם</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_20_19_14">רַ֥ק</span>
<span class="mila" data-lnk="3221226001" data-exlnk="0" id="M_20_19_15">אֵין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11827">־</span><span class="mila" data-lnk="3221226001" data-exlnk="0" id="M_20_19_16">דָּבָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_19_17">בְּרַגְלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_19_18">אֶעֱבֹֽרָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11831">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_20" data-pasuk-now="10"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_20_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_20_2">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_20_3">תַעֲבֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_20_4">וַיֵּצֵ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_20_5">אֱדוֹם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_20_6">לִקְרָאת֔וֹ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_20_7">בְּעַ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_20_8">כָּבֵ֖ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_20_9">וּבְיָ֥ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_20_10">חֲזָקָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11842">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_21" data-pasuk-now="10"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_21_1">וַיְמָאֵ֣ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11844">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_21_2">אֱד֗וֹם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_20_21_3">נְתֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_21_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11848">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_21_5">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_21_6">עֲבֹ֖ר</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_21_7">בִּגְבֻל֑וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_21_8">וַיֵּ֥ט</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_21_9">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_21_10">מֵעָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11856">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11857"> פ </span>
</span>
<br /><span class="parashia-header">[חמישי]</span>
<span id="PS_20_22" data-pasuk-now="9"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_22_1">וַיִּסְע֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_22_2">מִקָּדֵ֑שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_22_3">וַיָּבֹ֧אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_22_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11862">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_22_5">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_20_22_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11865">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_20_22_7">הָעֵדָ֖ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_20_22_8">הֹ֥ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_20_22_9">הָהָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11869">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_23" data-pasuk-now="13"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_20_23_1">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_20_23_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="268435616" data-exlnk="0" id="M_20_23_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11873">־</span><span class="mila" data-lnk="268435584" data-exlnk="0" id="M_20_23_4">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="268435616" data-exlnk="0" id="M_20_23_5">וְאֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11876">־</span><span class="mila" data-lnk="805306528" data-exlnk="0" id="M_20_23_6">אַהֲרֹ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_23_7">בְּהֹ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_23_8">הָהָ֑ר</span>
<span class="mila" data-lnk="1879048865" data-exlnk="0" id="M_20_23_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11881">־</span><span class="mila" data-lnk="2684355201" data-exlnk="0" id="M_20_23_10">גְּב֥וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_23_11">אֶרֶץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11884">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_20_23_12">אֱד֖וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_23_13">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11887">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_24" data-pasuk-now="20"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_20_24_1">יֵאָסֵ֤ף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_24_2">אַֽהֲרֹן֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_24_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11891">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_20_24_4">עַמָּ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_5">כִּ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_24_6">לֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_7">יָבֹא֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_24_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11897">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_9">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_11">נָתַ֖תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_12">לִבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_13">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_24_14">עַ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_15">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11905">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_20_24_16">מְרִיתֶ֥ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_24_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11908">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_24_18">פִּ֖י</span>
<span class="mila" data-lnk="3221226020" data-exlnk="0" id="M_20_24_19">לְמֵ֥י</span>
<span class="mila" data-lnk="3221226020" data-exlnk="0" id="M_20_24_20">מְרִיבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11912">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_25" data-pasuk-now="10"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_25_1">קַ֚ח</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_20_25_2">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11915">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_20_25_3">אַהֲרֹ֔ן</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_25_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11918">־</span><span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_20_25_5">אֶלְעָזָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_25_6">בְּנ֑וֹ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_20_25_7">וְהַ֥עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_25_8">אֹתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_25_9">הֹ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_25_10">הָהָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11925">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="3221226012" data-exlnk="0" id="M_20_26_1">וְהַפְשֵׁ֤ט</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_20_26_2">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11928">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_20_26_3">אַהֲרֹ֙ן</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_20_26_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11931">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_20_26_5">בְּגָדָ֔יו</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_20_26_6">וְהִלְבַּשְׁתָּ֖ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_20_26_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11935">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_20_26_8">אֶלְעָזָ֣ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_20_26_9">בְּנ֑וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_26_10">וְאַהֲרֹ֥ן</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_20_26_11">יֵאָסֵ֖ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_26_12">וּמֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_26_13">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11942">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_27" data-pasuk-now="12"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_27_1">וַיַּ֣עַשׂ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_27_2">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_27_3">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_27_4">צִוָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_27_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_27_6">וַֽיַּעֲלוּ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_27_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11950">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_27_8">הֹ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_27_9">הָהָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_27_10">לְעֵינֵ֖י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_27_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11955">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_27_12">הָעֵדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11957">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_28" data-pasuk-now="21"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_1">וַיַּפְשֵׁט֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_2">מֹשֶׁ֨ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_28_3">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11961">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_4">אַהֲרֹ֜ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_28_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11964">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_6">בְּגָדָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_7">וַיַּלְבֵּ֤שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_8">אֹתָם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_28_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11969">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_10">אֶלְעָזָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_11">בְּנ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_12">וַיָּ֧מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_13">אַהֲרֹ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_14">שָׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_15">בְּרֹ֣אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_16">הָהָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_17">וַיֵּ֧רֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_18">מֹשֶׁ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_19">וְאֶלְעָזָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_20">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11981">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_28_21">הָהָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11983">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_29" data-pasuk-now="14"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_20_29_1">וַיִּרְאוּ֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_20_29_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11986">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_20_29_3">הָ֣עֵדָ֔ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_20_29_4">כִּ֥י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_20_29_5">גָוַ֖ע</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_20_29_6">אַהֲרֹ֑ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_29_7">וַיִּבְכּ֤וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_29_8">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11993">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_20_29_9">אַהֲרֹן֙</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_20_29_10">שְׁלֹשִׁ֣ים</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_20_29_11">י֔וֹם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_20_29_12">כֹּ֖ל</span>
<span class="mila" data-lnk="1342178209" data-exlnk="0" id="M_20_29_13">בֵּ֥ית</span>
<span class="mila" data-lnk="3758097313" data-exlnk="0" id="M_20_29_14">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12001">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12002">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>