<p id="PR_27" data-perek-now="326" data-perek-nops="26"><span class="perek-header">פרק כז</span>
<br /><span class="parashia-header">[רביעי]</span>
<span id="PS_27_1" data-pasuk-now="16"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_27_1_1">וַיְצַ֤ו</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_27_1_2">מֹשֶׁה֙</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_27_1_3">וְזִקְנֵ֣י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_27_1_4">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_1_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12949">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_1_6">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_1_7">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_27_1_8">שָׁמֹר֙</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_27_1_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12954">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_27_1_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12956">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_27_1_11">הַמִּצְוָ֔ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_27_1_12">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_27_1_13">אָנֹכִ֛י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_27_1_14">מְצַוֶּ֥ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_27_1_15">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_27_1_16">הַיּֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12963">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_2" data-pasuk-now="20"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_1">וְהָיָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_2">בַּיּוֹם֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_4">תַּעַבְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12969">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_27_2_6">הַיַּרְדֵּן֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12972">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_8">הָאָ֕רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12975">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_10">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_11">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_12">נֹתֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_13">לָ֑ךְ</span>
<span class="mila" data-lnk="4026532773" data-exlnk="0" id="M_27_2_14">וַהֲקֵמֹתָ֤</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_27_2_15">לְךָ֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_27_2_16">אֲבָנִ֣ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_27_2_17">גְּדֹל֔וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_2_18">וְשַׂדְתָּ֥</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_2_19">אֹתָ֖ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_27_2_20">בַּשִּֽׂיד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12987">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_3" data-pasuk-now="28"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_27_3_1">וְכָתַבְתָּ֣</span>
<span class="mila" data-lnk="4026532792" data-exlnk="0" id="M_27_3_2">עֲלֵיהֶ֗ן</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_27_3_3">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12991">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_27_3_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12993">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_27_3_5">דִּבְרֵ֛י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_27_3_6">הַתּוֹרָ֥ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_27_3_7">הַזֹּ֖את</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_27_3_8">בְּעָבְרֶ֑ךָ</span>
<span class="mila" data-lnk="3221226004" data-exlnk="0" id="M_27_3_9">לְמַ֡עַן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_27_3_10">אֲשֶׁר֩</span>
<span class="mila" data-lnk="4026532496" data-exlnk="0" id="M_27_3_11">תָּבֹ֨א</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_27_3_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13002">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_27_3_13">הָאָ֜רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_14">אֲֽשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13005">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_16">אֱלֹהֶ֣יךָ׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_17">נֹתֵ֣ן</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_3_18">לְךָ֗</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_3_19">אֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_20">זָבַ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_21">חָלָב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_22">וּדְבַ֔שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_23">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_24">דִּבֶּ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_25">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_26">אֱלֹהֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13018">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_27">אֲבֹתֶ֖יךָ</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_3_28">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13021">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_4" data-pasuk-now="18"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_27_4_1">וְהָיָה֘</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_27_4_2">בְּעָבְרְכֶ֣ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_4_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13025">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_27_4_4">הַיַּרְדֵּן֒</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_4_5">תָּקִ֜ימוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_4_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13029">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_27_4_7">הָאֲבָנִ֣ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_4_8">הָאֵ֗לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_4_9">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_4_10">אָנֹכִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_4_11">מְצַוֶּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_4_12">אֶתְכֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_4_13">הַיּ֖וֹם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_4_14">בְּהַ֣ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_4_15">עֵיבָ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_4_16">וְשַׂדְתָּ֥</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_27_4_17">אוֹתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_4_18">בַּשִּֽׂיד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13042">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_5_1">וּבָנִ֤יתָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_5_2">שָּׁם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_5_3">מִזְבֵּ֔חַ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_5_4">לַיהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_5_5">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_5_6">מִזְבַּ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_5_7">אֲבָנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_5_8">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13051">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_5_9">תָנִ֥יף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_5_10">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_5_11">בַּרְזֶֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13055">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_1">אֲבָנִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_2">שְׁלֵמוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_3">תִּבְנֶ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13060">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_5">מִזְבַּ֖ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_6">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_7">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="4026532224" data-exlnk="0" id="M_27_6_8">וְהַעֲלִ֤יתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_9">עָלָיו֙</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_27_6_10">עוֹלֹ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_11">לַיהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_6_12">אֱלֹהֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13069">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_7_1">וְזָבַחְתָּ֥</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_7_2">שְׁלָמִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_7_3">וְאָכַ֣לְתָּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_7_4">שָּׁ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_7_5">וְשָׂ֣מַחְתָּ֔</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_7_6">לִפְנֵ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_7_7">יְהוָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_7_8">אֱלֹהֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13078">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_8" data-pasuk-now="10"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_8_1">וְכָתַבְתָּ֣</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_8_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13081">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_27_8_3">הָאֲבָנִ֗ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_8_4">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13084">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_27_8_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13086">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_27_8_6">דִּבְרֵ֛י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_8_7">הַתּוֹרָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_8_8">הַזֹּ֖את</span>
<span class="mila" data-lnk="3221225997" data-exlnk="0" id="M_27_8_9">בַּאֵ֥ר</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_27_8_10">הֵיטֵֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13093">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13094">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_9" data-pasuk-now="17"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_9_1">וַיְדַבֵּ֤ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_9_2">מֹשֶׁה֙</span>
<span class="mila" data-lnk="1342177668" data-exlnk="0" id="M_27_9_3">וְהַכֹּהֲנִ֣ים</span>
<span class="mila" data-lnk="3758096772" data-exlnk="0" id="M_27_9_4">הַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_9_5">אֶ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_9_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13101">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_9_7">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_9_8">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_27_9_9">הַסְכֵּ֤ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="13105">׀</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_27_9_10">וּשְׁמַע֙</span>
<span class="mila" data-lnk="2147484160" data-exlnk="0" id="M_27_9_11">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_27_9_12">הַיּ֤וֹם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_27_9_13">הַזֶּה֙</span>
<span class="mila" data-lnk="3221225997" data-exlnk="0" id="M_27_9_14">נִהְיֵ֣יתָֽ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_27_9_15">לְעָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_9_16">לַיהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_9_17">אֱלֹהֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13114">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_10_1">וְשָׁ֣מַעְתָּ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_10_2">בְּק֖וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_10_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_10_4">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_27_10_5">וְעָשִׂ֤יתָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_27_10_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13121">־</span><span class="mila" data-lnk="4026532516" data-exlnk="0" id="M_27_10_7">מִצְוֺתָו֙</span>
<span class="mila" data-lnk="3489661600" data-exlnk="0" id="M_27_10_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13124">־</span><span class="mila" data-lnk="3758097056" data-exlnk="0" id="M_27_10_9">חֻקָּ֔יו</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_10_10">אֲשֶׁ֛ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_10_11">אָנֹכִ֥י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_10_12">מְצַוְּךָ֖</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_10_13">הַיּֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13131">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13132">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[חמישי]</span>
<span id="PS_27_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_1">וַיְצַ֤ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_2">מֹשֶׁה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13136">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_4">הָעָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_5">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_6">הַה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_7">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13141">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_12" data-pasuk-now="17"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_27_12_1">אֵ֠לֶּה</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_27_12_2">יַעַמְד֞וּ</span>
<span class="mila" data-lnk="805306531" data-exlnk="0" id="M_27_12_3">לְבָרֵ֤ךְ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_27_12_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13146">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_27_12_5">הָעָם֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_12_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13149">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_27_12_7">הַ֣ר</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_27_12_8">גְּרִזִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_12_9">בְּעָבְרְכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_12_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13154">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_12_11">הַיַּרְדֵּ֑ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_12_12">שִׁמְעוֹן֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_12_13">וְלֵוִ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_12_14">וִֽיהוּדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_12_15">וְיִשָּׂשכָ֖ר</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_27_12_16">וְיוֹסֵ֥ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_12_17">וּבִנְיָמִֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13162">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_13" data-pasuk-now="12"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_27_13_1">וְאֵ֛לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_2">יַעַמְד֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13166">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_4">הַקְּלָלָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_13_5">בְּהַ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_13_6">עֵיבָ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_7">רְאוּבֵן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_8">גָּ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_9">וְאָשֵׁ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_10">וּזְבוּלֻ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_11">דָּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_12">וְנַפְתָּלִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13176">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_14" data-pasuk-now="9"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_14_1">וְעָנ֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_14_2">הַלְוִיִּ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_14_3">וְאָ֥מְר֛וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_14_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13181">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_27_14_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13183">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_27_14_6">אִ֥ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_14_7">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_14_8">ק֥וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_14_9">רָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13189">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13190">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_15" data-pasuk-now="18"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_15_1">אָר֣וּר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_15_2">הָאִ֡ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_15_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_15_4">יַעֲשֶׂה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_5">פֶ֨סֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_6">וּמַסֵּכָ֜ה</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_15_7">תּוֹעֲבַ֣ת</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_27_15_8">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_9">מַעֲשֵׂ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_10">יְדֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_11">חָרָ֖שׁ</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_27_15_12">וְשָׂ֣ם</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_27_15_13">בַּסָּ֑תֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_14">וְעָנ֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_15">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13206">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_16">הָעָ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_17">וְאָמְר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_18">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13211">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13212">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_16" data-pasuk-now="8"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_16_1">אָר֕וּר</span>
<span class="mila" data-lnk="3221225989" data-exlnk="0" id="M_27_16_2">מַקְלֶ֥ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_27_16_3">אָבִ֖יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_27_16_4">וְאִמּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_16_5">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_16_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13219">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_16_7">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_16_8">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13223">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13224">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_17_1">אָר֕וּר</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_27_17_2">מַסִּ֖יג</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_27_17_3">גְּב֣וּל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_27_17_4">רֵעֵ֑הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_17_5">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_17_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13231">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_17_7">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_17_8">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13235">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13236">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_18" data-pasuk-now="8"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_27_18_1">אָר֕וּר</span>
<span class="mila" data-lnk="4026532777" data-exlnk="0" id="M_27_18_2">מַשְׁגֶּ֥ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_27_18_3">עִוֵּ֖ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_27_18_4">בַּדָּ֑רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_18_5">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_18_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13243">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_18_7">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_18_8">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13247">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13248">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_19" data-pasuk-now="10"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026532768" data-exlnk="0" id="M_27_19_1">אָר֗וּר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_27_19_2">מַטֶּ֛ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_27_19_3">מִשְׁפַּ֥ט</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_27_19_4">גֵּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13253">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_27_19_5">יָת֖וֹם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_27_19_6">וְאַלְמָנָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_19_7">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_19_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13258">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_19_9">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_19_10">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13261">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_20" data-pasuk-now="13"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_20_1">אָר֗וּר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_20_2">שֹׁכֵב֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_20_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13265">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_27_20_4">אֵ֣שֶׁת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_20_5">אָבִ֔יו</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_27_20_6">כִּ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_27_20_7">גִלָּ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_27_20_8">כְּנַ֣ף</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_27_20_9">אָבִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_20_10">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_20_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13274">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_20_12">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_20_13">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13278">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13279">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_21" data-pasuk-now="9"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_21_1">אָר֕וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_21_2">שֹׁכֵ֖ב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_21_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13283">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_21_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13285">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_27_21_5">בְּהֵמָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_21_6">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_21_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13289">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_27_21_8">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_21_9">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13293">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13294">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_22" data-pasuk-now="13"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_22_1">אָר֗וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_2">שֹׁכֵב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13298">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_27_22_4">אֲחֹת֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_5">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13301">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_6">אָבִ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_7">א֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_8">בַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13305">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_9">אִמּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_10">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13309">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_12">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_13">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13313">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13314">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_23_1">אָר֕וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_23_2">שֹׁכֵ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_23_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13318">־</span><span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_27_23_4">חֹתַנְתּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_23_5">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_23_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13322">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_23_7">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_23_8">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13326">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13327">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_24" data-pasuk-now="8"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_27_24_1">אָר֕וּר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_27_24_2">מַכֵּ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_27_24_3">רֵעֵ֖הוּ</span>
<span class="mila" data-lnk="4026532737" data-exlnk="0" id="M_27_24_4">בַּסָּ֑תֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_24_5">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_24_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13334">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_24_7">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_24_8">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13338">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13339">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_25" data-pasuk-now="11"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_1">אָרוּר֙</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_27_25_2">לֹקֵ֣חַ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_27_25_3">שֹׁ֔חַד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_4">לְהַכּ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_5">נֶ֖פֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_6">דָּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_7">נָקִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_8">וְאָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13349">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_10">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_25_11">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13353">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13354">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_26" data-pasuk-now="14"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="805306522" data-exlnk="0" id="M_27_26_1">אָר֗וּר</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_27_26_2">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_27_26_3">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13358">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_27_26_4">יָקִ֛ים</span>
<span class="mila" data-lnk="1342178192" data-exlnk="0" id="M_27_26_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13361">־</span><span class="mila" data-lnk="1342178224" data-exlnk="0" id="M_27_26_6">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="1342178229" data-exlnk="0" id="M_27_26_7">הַתּוֹרָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13364">־</span><span class="mila" data-lnk="3758097296" data-exlnk="0" id="M_27_26_8">הַזֹּ֖את</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_26_9">לַעֲשׂ֣וֹת</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_27_26_10">אוֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_26_11">וְאָמַ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_27_26_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13370">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_26_13">הָעָ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_26_14">אָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13374">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13375"> פ </span>
</span>
<br /></p>