<p id="PR_12" data-perek-now="520" data-perek-nops="31"><span class="perek-header">פרק יב</span>
<br /><span id="PS_12_1" data-pasuk-now="21"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_1_1">אֵ֠לֶּה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_1_2">הַחֻקִּ֣ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_1_3">וְהַמִּשְׁפָּטִים֘</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_1_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_12_1_5">תִּשְׁמְר֣וּן</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_1_6">לַעֲשׂוֹת֒</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_1_7">בָּאָ֕רֶץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_8">אֲשֶׁר֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_9">נָתַ֨ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_10">יְהוָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_11">אֱלֹהֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_12">אֲבֹתֶ֛יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_13">לְךָ֖</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_14">לְרִשְׁתָּ֑הּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_1_15">כָּ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6436">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_12_1_16">הַיָּמִ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6439">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_18">אַתֶּ֥ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_1_19">חַיִּ֖ים</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_1_20">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6443">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_1_21">הָאֲדָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6445">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_2" data-pasuk-now="24"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_2_1">אַבֵּ֣ד</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_2_2">תְּ֠אַבְּדוּן</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_12_2_3">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6449">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_12_2_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6451">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_12_2_5">הַמְּקֹמ֞וֹת</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_12_2_6">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_12_2_7">עָֽבְדוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6455">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_12_2_8">שָׁ֣ם</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_12_2_9">הַגּוֹיִ֗ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_12_2_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_12_2_11">אַתֶּ֛ם</span>
<span class="mila" data-lnk="4026532522" data-exlnk="0" id="M_12_2_12">יֹרְשִׁ֥ים</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_12_2_13">אֹתָ֖ם</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_12_2_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6463">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_12_2_15">אֱלֹהֵיהֶ֑ם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_2_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6466">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_12_2_17">הֶהָרִ֤ים</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_12_2_18">הָֽרָמִים֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_2_19">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6470">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_12_2_20">הַגְּבָע֔וֹת</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_12_2_21">וְתַ֖חַת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_2_22">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6474">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_12_2_23">עֵ֥ץ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_2_24">רַעֲנָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6477">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_3" data-pasuk-now="18"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_3_1">וְנִתַּצְתֶּ֣ם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_3_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6480">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_12_3_3">מִזְבְּחֹתָ֗ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_3_4">וְשִׁבַּרְתֶּם֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_3_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6484">־</span><span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_3_6">מַצֵּ֣בֹתָ֔ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_12_3_7">וַאֲשֵֽׁרֵיהֶם֙</span>
<span class="mila" data-lnk="805306552" data-exlnk="0" id="M_12_3_8">תִּשְׂרְפ֣וּן</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_3_9">בָּאֵ֔שׁ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_3_10">וּפְסִילֵ֥י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_3_11">אֱלֹהֵיהֶ֖ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_12_3_12">תְּגַדֵּע֑וּן</span>
<span class="mila" data-lnk="4026532789" data-exlnk="0" id="M_12_3_13">וְאִבַּדְתֶּ֣ם</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_3_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6494">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_12_3_15">שְׁמָ֔ם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_3_16">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6497">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_12_3_17">הַמָּק֖וֹם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_3_18">הַהֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6500">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_4" data-pasuk-now="5"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_12_4_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6502">־</span><span class="mila" data-lnk="4026532543" data-exlnk="0" id="M_12_4_2">תַעֲשׂ֣וּן</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_12_4_3">כֵּ֔ן</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_12_4_4">לַיהוָ֖ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_12_4_5">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6507">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_5" data-pasuk-now="18"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_5_1">כִּ֠י</span>
<span class="mila" data-lnk="805306536" data-exlnk="0" id="M_12_5_2">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6510">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_12_5_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6512">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_12_5_4">הַמָּק֞וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_5_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6515">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_5_6">יִבְחַ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_5_7">יְהוָ֤ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_5_8">אֱלֹֽהֵיכֶם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_5_9">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6520">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_5_10">שִׁבְטֵיכֶ֔ם</span>
<span class="mila" data-lnk="1342177956" data-exlnk="0" id="M_12_5_11">לָשׂ֥וּם</span>
<span class="mila" data-lnk="1342177964" data-exlnk="0" id="M_12_5_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6524">־</span><span class="mila" data-lnk="3758097060" data-exlnk="0" id="M_12_5_13">שְׁמ֖וֹ</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_12_5_14">שָׁ֑ם</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_5_15">לְשִׁכְנ֥וֹ</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_12_5_16">תִדְרְשׁ֖וּ</span>
<span class="mila" data-lnk="1342177968" data-exlnk="0" id="M_12_5_17">וּבָ֥אתָ</span>
<span class="mila" data-lnk="3758097072" data-exlnk="0" id="M_12_5_18">שָּֽׁמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6531">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_12_6_1">וַהֲבֵאתֶ֣ם</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_12_6_2">שָׁ֗מָּה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_6_3">עֹלֹֽתֵיכֶם֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_6_4">וְזִבְחֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_5">וְאֵת֙</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_6_6">מַעְשְׂרֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_12_6_7">וְאֵ֖ת</span>
<span class="mila" data-lnk="3221226033" data-exlnk="0" id="M_12_6_8">תְּרוּמַ֣ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_6_9">יֶדְכֶ֑ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_6_10">וְנִדְרֵיכֶם֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_6_11">וְנִדְבֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_6_12">וּבְכֹרֹ֥ת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_6_13">בְּקַרְכֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_6_14">וְצֹאנְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6546">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_7" data-pasuk-now="15"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_7_1">וַאֲכַלְתֶּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6548">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_12_7_2">שָׁ֗ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_7_3">לִפְנֵי֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_7_4">יְהוָ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_7_5">אֱלֹהֵיכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_7_6">וּשְׂמַחְתֶּ֗ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_7_7">בְּכֹל֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_7_8">מִשְׁלַ֣ח</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_7_9">יֶדְכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_10">אַתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_11">וּבָתֵּיכֶ֑ם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_7_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_7_13">בֵּרַכְךָ֖</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_7_14">יְהוָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_7_15">אֱלֹהֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6563">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_12_8_1">לֹ֣א</span>
<span class="mila" data-lnk="4026532541" data-exlnk="0" id="M_12_8_2">תַעֲשׂ֔וּן</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_8_3">כְּ֠כֹל</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_8_4">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_8_5">אֲנַ֧חְנוּ</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_12_8_6">עֹשִׂ֛ים</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_12_8_7">פֹּ֖ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_8_8">הַיּ֑וֹם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_12_8_9">אִ֖ישׁ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_12_8_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6574">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_12_8_11">הַיָּשָׁ֥ר</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_12_8_12">בְּעֵינָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6577">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_9_1">כִּ֥י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_9_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6580">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_12_9_3">בָאתֶ֖ם</span>
<span class="mila" data-lnk="3489661601" data-exlnk="0" id="M_12_9_4">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6583">־</span><span class="mila" data-lnk="4026532513" data-exlnk="0" id="M_12_9_5">עָ֑תָּה</span>
<span class="mila" data-lnk="3221225773" data-exlnk="0" id="M_12_9_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6586">־</span><span class="mila" data-lnk="3221225789" data-exlnk="0" id="M_12_9_7">הַמְּנוּחָה֙</span>
<span class="mila" data-lnk="4026532513" data-exlnk="0" id="M_12_9_8">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6589">־</span><span class="mila" data-lnk="2952790973" data-exlnk="0" id="M_12_9_9">הַֽנַּחֲלָ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_9_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6592">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_11">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_12">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_13">נֹתֵ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_14">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6597">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_10" data-pasuk-now="17"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_1">וַעֲבַרְתֶּם֘</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6600">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_3">הַיַּרְדֵּן֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_4">וִישַׁבְתֶּ֣ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_5">בָּאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6605">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_7">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_8">אֱלֹהֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_9">מַנְחִ֣יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_10">אֶתְכֶ֑ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_11">וְהֵנִ֨יחַ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_12">לָכֶ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_13">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6613">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_14">אֹיְבֵיכֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_15">מִסָּבִ֖יב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_10_16">וִֽישַׁבְתֶּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6617">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_12_10_17">בֶּֽטַח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6619">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שני]</span>
<span id="PS_12_11" data-pasuk-now="29"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_11_1">וְהָיָ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_11_2">הַמָּק֗וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6623">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_4">יִבְחַר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_5">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_6">אֱלֹהֵיכֶ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_7">בּוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_8">לְשַׁכֵּ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_9">שְׁמוֹ֙</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_12_11_10">שָׁ֔ם</span>
<span class="mila" data-lnk="536871041" data-exlnk="0" id="M_12_11_11">שָׁ֣מָּה</span>
<span class="mila" data-lnk="805306497" data-exlnk="0" id="M_12_11_12">תָבִ֔יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_13">אֵ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6635">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_16">אָנֹכִ֖י</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_12_11_17">מְצַוֶּ֣ה</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_12_11_18">אֶתְכֶ֑ם</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_11_19">עוֹלֹתֵיכֶ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_20">וְזִבְחֵיכֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_21">מַעְשְׂרֹֽתֵיכֶם֙</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_11_22">וּתְרֻמַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_23">יֶדְכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_11_24">וְכֹל֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_12_11_25">מִבְחַ֣ר</span>
<span class="mila" data-lnk="805306533" data-exlnk="0" id="M_12_11_26">נִדְרֵיכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_11_27">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_11_28">תִּדְּר֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_11_29">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6651">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_12" data-pasuk-now="18"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_12_1">וּשְׂמַחְתֶּ֗ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_12_2">לִפְנֵי֘</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_12_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_12_4">אֱלֹהֵיכֶם֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_5">אַתֶּ֗ם</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_12_12_6">וּבְנֵיכֶם֙</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_12_12_7">וּבְנֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_8">וְעַבְדֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_9">וְאַמְהֹתֵיכֶ֑ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_12_10">וְהַלֵּוִי֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_12_11">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_12_12">בְּשַׁעֲרֵיכֶ֔ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_12_13">כִּ֣י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_12_14">אֵ֥ין</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_12_15">ל֛וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_12_16">חֵ֥לֶק</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_12_17">וְנַחֲלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_18">אִתְּכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6670">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_13_1">הִשָּׁ֣מֶר</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_13_2">לְךָ֔</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_13_3">פֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6674">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_12_13_4">תַּעֲלֶ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_13_5">עֹלֹתֶ֑יךָ</span>
<span class="mila" data-lnk="268435629" data-exlnk="0" id="M_12_13_6">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6678">־</span><span class="mila" data-lnk="536871085" data-exlnk="0" id="M_12_13_7">מָק֖וֹם</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_13_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_13_9">תִּרְאֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6682">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_14" data-pasuk-now="17"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_12_14_1">כִּ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6685">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_3">בַּמָּק֞וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6688">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_5">יִבְחַ֤ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_6">יְהוָה֙</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_14_7">בְּאַחַ֣ד</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_14_8">שְׁבָטֶ֔יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_9">שָׁ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_10">תַּעֲלֶ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_11">עֹלֹתֶ֑יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_12">וְשָׁ֣ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_13">תַּעֲשֶׂ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_14">כֹּ֛ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_16">אָנֹכִ֖י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_14_17">מְצַוֶּֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6702">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_15" data-pasuk-now="20"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_15_1">רַק֩</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_12_15_2">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6705">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_12_15_3">אַוַּ֨ת</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_12_15_4">נַפְשְׁךָ֜</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_15_5">תִּזְבַּ֣ח׀</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_15_6">וְאָכַלְתָּ֣</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_15_7">בָשָׂ֗ר</span>
<span class="mila" data-lnk="4026532776" data-exlnk="0" id="M_12_15_8">כְּבִרְכַּ֨ת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_15_9">יְהוָ֧ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_15_10">אֱלֹהֶ֛יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_15_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_15_12">נָֽתַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6716">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_15_13">לְךָ֖</span>
<span class="mila" data-lnk="268435618" data-exlnk="0" id="M_12_15_14">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6719">־</span><span class="mila" data-lnk="536871074" data-exlnk="0" id="M_12_15_15">שְׁעָרֶ֑יךָ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_15_16">הַטָּמֵ֤א</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_15_17">וְהַטָּהוֹר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_18">יֹאכֲלֶ֔נּוּ</span>
<span class="mila" data-lnk="3489661861" data-exlnk="0" id="M_12_15_19">כַּצְּבִ֖י</span>
<span class="mila" data-lnk="3758097317" data-exlnk="0" id="M_12_15_20">וְכָאַיָּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6726">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_16" data-pasuk-now="8"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_16_1">רַ֥ק</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_16_2">הַדָּ֖ם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_16_3">לֹ֣א</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_16_4">תֹאכֵ֑לוּ</span>
<span class="mila" data-lnk="268435624" data-exlnk="0" id="M_12_16_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6732">־</span><span class="mila" data-lnk="536871080" data-exlnk="0" id="M_12_16_6">הָאָ֥רֶץ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_16_7">תִּשְׁפְּכֶ֖נּוּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_16_8">כַּמָּֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6736">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_17" data-pasuk-now="18"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_17_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6738">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_12_17_2">תוּכַ֞ל</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_12_17_3">לֶאֱכֹ֣ל</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_12_17_4">בִּשְׁעָרֶ֗יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_17_5">מַעְשַׂ֤ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_17_6">דְּגָֽנְךָ֙</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_12_17_7">וְתִירֹשְׁךָ֣</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_12_17_8">וְיִצְהָרֶ֔ךָ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_17_9">וּבְכֹרֹ֥ת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_17_10">בְּקָרְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_17_11">וְצֹאנֶ֑ךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_17_12">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6750">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_17_13">נְדָרֶ֙יךָ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_17_14">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_17_15">תִּדֹּ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_17_16">וְנִדְבֹתֶ֖יךָ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_17_17">וּתְרוּמַ֥ת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_17_18">יָדֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6757">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_18" data-pasuk-now="27"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_1">כִּ֡י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6760">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_12_18_3">לִפְנֵי֩</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_12_18_4">יְהוָ֨ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_18_5">אֱלֹהֶ֜יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_6">תֹּאכֲלֶ֗נּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_7">בַּמָּקוֹם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_8">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_9">יִבְחַ֜ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_10">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_11">אֱלֹהֶיךָ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_12">בּוֹ֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_13">אַתָּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_14">וּבִנְךָ֤</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_15">וּבִתֶּךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_16">וְעַבְדְּךָ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_17">וַאֲמָתֶ֔ךָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_18_18">וְהַלֵּוִ֖י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_18_19">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_18_20">בִּשְׁעָרֶ֑יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_18_21">וְשָׂמַחְתָּ֗</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_18_22">לִפְנֵי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_18_23">יְהוָ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_18_24">אֱלֹהֶ֔יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_18_25">בְּכֹ֖ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_18_26">מִשְׁלַ֥ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_18_27">יָדֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6786">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_19" data-pasuk-now="10"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_19_1">הִשָּׁ֣מֶר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_19_2">לְךָ֔</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_19_3">פֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6790">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_12_19_4">תַּעֲזֹ֖ב</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_19_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6793">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_12_19_6">הַלֵּוִ֑י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_19_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6796">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_19_8">יָמֶ֖יךָ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_12_19_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6799">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_12_19_10">אַדְמָתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6802">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6803">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_20" data-pasuk-now="22"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_12_20_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6805">־</span><span class="mila" data-lnk="51" data-exlnk="0" id="M_12_20_2">יַרְחִיב֩</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_20_3">יְהוָ֨ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_20_4">אֱלֹהֶ֥יךָ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_12_20_5">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6810">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_12_20_6">גְּבֻלְךָ֘</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_20_7">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_20_8">דִּבֶּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6814">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_12_20_9">לָךְ֒</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_20_10">וְאָמַרְתָּ֙</span>
<span class="mila" data-lnk="4026532744" data-exlnk="0" id="M_12_20_11">אֹכְלָ֣ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_12_20_12">בָשָׂ֔ר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_20_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6820">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_12_20_14">תְאַוֶּ֥ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_12_20_15">נַפְשְׁךָ֖</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_20_16">לֶאֱכֹ֣ל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_20_17">בָּשָׂ֑ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_12_20_18">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6826">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_12_20_19">אַוַּ֥ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_12_20_20">נַפְשְׁךָ֖</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_20_21">תֹּאכַ֥ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_20_22">בָּשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6831">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_21" data-pasuk-now="25"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_21_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6833">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_12_21_2">יִרְחַ֨ק</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_21_3">מִמְּךָ֜</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_21_4">הַמָּק֗וֹם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_21_5">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_21_6">יִבְחַ֜ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_21_7">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_8">אֱלֹהֶיךָ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_9">לָשׂ֣וּם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_10">שְׁמ֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_11">שָׁם֒</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_12_21_12">וְזָבַחְתָּ֞</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_12_21_13">מִבְּקָרְךָ֣</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_12_21_14">וּמִצֹּאנְךָ֗</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_21_15">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_21_16">נָתַ֤ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_21_17">יְהוָה֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_21_18">לְךָ֔</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_12_21_19">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_12_21_20">צִוִּיתִ֑ךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_21_21">וְאָֽכַלְתָּ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_21_22">בִּשְׁעָרֶ֔יךָ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_21_23">בְּכֹ֖ל</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_21_24">אַוַּ֥ת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_21_25">נַפְשֶֽׁךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6858">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_22" data-pasuk-now="13"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_22_1">אַ֗ךְ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_22_2">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_22_3">יֵאָכֵ֤ל</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_22_4">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6863">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_12_22_5">הַצְּבִי֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_22_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6866">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_12_22_7">הָ֣אַיָּ֔ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_22_8">כֵּ֖ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_22_9">תֹּאכֲלֶ֑נּוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_22_10">הַטָּמֵא֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_22_11">וְהַטָּה֔וֹר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_22_12">יַחְדָּ֖ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_13">יֹאכֲלֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6874">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_12_23_1">רַ֣ק</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_12_23_2">חֲזַ֗ק</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_12_23_3">לְבִלְתִּי֙</span>
<span class="mila" data-lnk="3221226043" data-exlnk="0" id="M_12_23_4">אֲכֹ֣ל</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_12_23_5">הַדָּ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_23_6">כִּ֥י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_23_7">הַדָּ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_23_8">ה֣וּא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_23_9">הַנָּ֑פֶשׁ</span>
<span class="mila" data-lnk="1342178209" data-exlnk="0" id="M_12_23_10">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6885">־</span><span class="mila" data-lnk="3758097313" data-exlnk="0" id="M_12_23_11">תֹאכַ֥ל</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_23_12">הַנֶּ֖פֶשׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_23_13">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6889">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_12_23_14">הַבָּשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6891">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_24" data-pasuk-now="6"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_24_1">לֹ֖א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_12_24_2">תֹּאכֲלֶ֑נּוּ</span>
<span class="mila" data-lnk="268435616" data-exlnk="0" id="M_12_24_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6895">־</span><span class="mila" data-lnk="536871072" data-exlnk="0" id="M_12_24_4">הָאָ֥רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_24_5">תִּשְׁפְּכֶ֖נּוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_24_6">כַּמָּֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6899">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_25" data-pasuk-now="12"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_25_1">לֹ֖א</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_25_2">תֹּאכֲלֶ֑נּוּ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_25_3">לְמַ֨עַן</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_25_4">יִיטַ֤ב</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_25_5">לְךָ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_25_6">וּלְבָנֶ֣יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_25_7">אַחֲרֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_8">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6908">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_9">תַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_10">הַיָּשָׁ֖ר</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_12_25_11">בְּעֵינֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6913">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_12_26_1">רַ֧ק</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_12_26_2">קָדָשֶׁ֛יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_26_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6917">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_26_4">יִהְי֥וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_26_5">לְךָ֖</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_26_6">וּנְדָרֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_7">תִּשָּׂ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_8">וּבָ֔אתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6924">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_10">הַמָּק֖וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6927">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_12">יִבְחַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_13">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6930">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_27" data-pasuk-now="17"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_27_1">וְעָשִׂ֤יתָ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_27_2">עֹלֹתֶ֙יךָ֙</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_27_3">הַבָּשָׂ֣ר</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_12_27_4">וְהַדָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6936">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_6">מִזְבַּ֖ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_7">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_8">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_12_27_9">וְדַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6941">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_12_27_10">זְבָחֶ֗יךָ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_12_27_11">יִשָּׁפֵךְ֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_27_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6945">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_13">מִזְבַּח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_14">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_15">אֱלֹהֶ֔יךָ</span>
<span class="mila" data-lnk="4026532781" data-exlnk="0" id="M_12_27_16">וְהַבָּשָׂ֖ר</span>
<span class="mila" data-lnk="4026532525" data-exlnk="0" id="M_12_27_17">תֹּאכֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6951">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_28" data-pasuk-now="23"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_28_1">שְׁמֹ֣ר</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_12_28_2">וְשָׁמַעְתָּ֗</span>
<span class="mila" data-lnk="268435633" data-exlnk="0" id="M_12_28_3">אֵ֚ת</span>
<span class="mila" data-lnk="268435633" data-exlnk="0" id="M_12_28_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6956">־</span><span class="mila" data-lnk="268435633" data-exlnk="0" id="M_12_28_5">הַדְּבָרִ֣ים</span>
<span class="mila" data-lnk="536871088" data-exlnk="0" id="M_12_28_6">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_8">אָנֹכִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_9">מְצַוֶּ֑ךָּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_28_10">לְמַעַן֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_28_11">יִיטַ֨ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_28_12">לְךָ֜</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_28_13">וּלְבָנֶ֤יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_14">אַחֲרֶ֙יךָ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_28_15">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6968">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_28_16">עוֹלָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_17">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_18">תַֽעֲשֶׂה֙</span>
<span class="mila" data-lnk="1342178201" data-exlnk="0" id="M_12_28_19">הַטּ֣וֹב</span>
<span class="mila" data-lnk="4026532745" data-exlnk="0" id="M_12_28_20">וְהַיָּשָׁ֔ר</span>
<span class="mila" data-lnk="805306504" data-exlnk="0" id="M_12_28_21">בְּעֵינֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_22">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_23">אֱלֹהֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6978">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6979">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שלישי]</span>
<span id="PS_12_29" data-pasuk-now="17"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_29_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6981">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_12_29_2">יַכְרִית֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_3">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_4">אֱלֹהֶ֜יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6986">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_6">הַגּוֹיִ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_7">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_8">אַתָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_9">בָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6991">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_10">שָׁ֛מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_11">לָרֶ֥שֶׁת</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_12_29_12">אוֹתָ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_13">מִפָּנֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_14">וְיָרַשְׁתָּ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_15">אֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_16">וְיָשַׁבְתָּ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_17">בְּאַרְצָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7000">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_30" data-pasuk-now="22"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_30_1">הִשָּׁ֣מֶר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_30_2">לְךָ֗</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_12_30_3">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7004">־</span><span class="mila" data-lnk="51" data-exlnk="0" id="M_12_30_4">תִּנָּקֵשׁ֙</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_12_30_5">אַחֲרֵיהֶ֔ם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_12_30_6">אַחֲרֵ֖י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_12_30_7">הִשָּׁמְדָ֣ם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_12_30_8">מִפָּנֶ֑יךָ</span>
<span class="mila" data-lnk="4026532516" data-exlnk="0" id="M_12_30_9">וּפֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7011">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_12_30_10">תִּדְרֹ֨שׁ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_30_11">לֵאלֹהֵיהֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_12">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="4026532497" data-exlnk="0" id="M_12_30_13">אֵיכָ֨ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_30_14">יַעַבְד֜וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_15">הַגּוֹיִ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_16">הָאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_30_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7020">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_18">אֱלֹ֣הֵיהֶ֔ם</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_12_30_19">וְאֶעֱשֶׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7023">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_12_30_20">כֵּ֖ן</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_12_30_21">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7026">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_12_30_22">אָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7028">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_31" data-pasuk-now="22"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_12_31_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7030">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_12_31_2">תַעֲשֶׂ֣ה</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_12_31_3">כֵ֔ן</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_31_4">לַיהוָ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_31_5">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_12_31_6">כִּי֩</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_12_31_7">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7037">־</span><span class="mila" data-lnk="268435608" data-exlnk="0" id="M_12_31_8">תּוֹעֲבַ֨ת</span>
<span class="mila" data-lnk="805306552" data-exlnk="0" id="M_12_31_9">יְהוָ֜ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_12_31_10">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532504" data-exlnk="0" id="M_12_31_11">שָׂנֵ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_12">עָשׂוּ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_31_13">לֵאלֹ֣הֵיהֶ֔ם</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_12_31_14">כִּ֣י</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_12_31_15">גַ֤ם</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_12_31_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7047">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_12_31_17">בְּנֵיהֶם֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_31_18">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7050">־</span><span class="mila" data-lnk="4026532784" data-exlnk="0" id="M_12_31_19">בְּנֹ֣תֵיהֶ֔ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_31_20">יִשְׂרְפ֥וּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_31_21">בָאֵ֖שׁ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_12_31_22">לֵאלֹהֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7055">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>