<p id="PR_24" data-perek-now="327" data-perek-nops="22"><span class="perek-header">פרק כד</span>
<br /><span id="PS_24_1" data-pasuk-now="24"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_1_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11827">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_24_1_2">יִקַּ֥ח</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_1_3">אִ֛ישׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_1_4">אִשָּׁ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_1_5">וּבְעָלָ֑הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_1_6">וְהָיָ֞ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_1_7">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11834">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_24_1_8">לֹ֧א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_1_9">תִמְצָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11837">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_24_1_10">חֵ֣ן</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_24_1_11">בְּעֵינָ֗יו</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_1_12">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11841">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_24_1_13">מָ֤צָא</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_1_14">בָהּ֙</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_1_15">עֶרְוַ֣ת</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_1_16">דָּבָ֔ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_1_17">וְכָ֨תַב</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_1_18">לָ֜הּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_1_19">סֵ֤פֶר</span>
<span class="mila" data-lnk="4026532520" data-exlnk="0" id="M_24_1_20">כְּרִיתֻת֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_1_21">וְנָתַ֣ן</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_1_22">בְּיָדָ֔הּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_1_23">וְשִׁלְּחָ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_1_24">מִבֵּיתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11854">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_2" data-pasuk-now="6"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_1">וְיָצְאָ֖ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_24_2_2">מִבֵּית֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_3">וְהָלְכָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_4">וְהָיְתָ֥ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_24_2_5">לְאִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11860">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_24_2_6">אַחֵֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11862">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_3" data-pasuk-now="20"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026532513" data-exlnk="0" id="M_24_3_1">וּשְׂנֵאָהּ֘</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_3_2">הָאִ֣ישׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_3_3">הָאַחֲרוֹן֒</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_3_4">וְכָ֨תַב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_3_5">לָ֜הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_3_6">סֵ֤פֶר</span>
<span class="mila" data-lnk="4026532516" data-exlnk="0" id="M_24_3_7">כְּרִיתֻת֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_3_8">וְנָתַ֣ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_3_9">בְּיָדָ֔הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_3_10">וְשִׁלְּחָ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_3_11">מִבֵּית֑וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_3_12">א֣וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_3_13">כִ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_3_14">יָמוּת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_15">הָאִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_16">הָאַחֲר֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11880">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_18">לְקָחָ֥הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_19">ל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_20">לְאִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11884">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_4" data-pasuk-now="29"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_4_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11886">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_24_4_2">יוּכַ֣ל</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_4_3">בַּעְלָ֣הּ</span>
<span class="mila" data-lnk="805306544" data-exlnk="0" id="M_24_4_4">הָרִאשׁ֣וֹן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_4_5">אֲשֶֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11891">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_24_4_6">שִׁ֠לְּחָהּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_4_7">לָשׁ֨וּב</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_4_8">לְקַחְתָּ֜הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_9">לִהְי֧וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_4_10">ל֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_11">לְאִשָּׁ֗ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_24_4_12">אַֽחֲרֵי֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_24_4_13">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221226037" data-exlnk="0" id="M_24_4_14">הֻטַּמָּ֔אָה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_4_15">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11902">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_4_16">תוֹעֵבָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_4_17">הִ֖וא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_4_18">לִפְנֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_4_19">יְהוָ֑ה</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_24_4_20">וְלֹ֤א</span>
<span class="mila" data-lnk="3221226004" data-exlnk="0" id="M_24_4_21">תַחֲטִיא֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_4_22">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11910">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_24_4_23">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_24">אֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_25">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_26">אֱלֹהֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_27">נֹתֵ֥ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_4_28">לְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_29">נַחֲלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11919">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11920">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[ששי]</span>
<span id="PS_24_5" data-pasuk-now="23"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_5_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11922">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_24_5_2">יִקַּ֥ח</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_5_3">אִישׁ֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_24_5_4">אִשָּׁ֣ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_24_5_5">חֲדָשָׁ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_5_6">לֹ֤א</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_24_5_7">יֵצֵא֙</span>
<span class="mila" data-lnk="4026532784" data-exlnk="0" id="M_24_5_8">בַּצָּבָ֔א</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_24_5_9">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11931">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_24_5_10">יַעֲבֹ֥ר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_24_5_11">עָלָ֖יו</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_24_5_12">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11935">־</span><span class="mila" data-lnk="61" data-exlnk="0" id="M_24_5_13">דָּבָ֑ר</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_24_5_14">נָקִ֞י</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_5_15">יִהְיֶ֤ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_24_5_16">לְבֵיתוֹ֙</span>
<span class="mila" data-lnk="1073742368" data-exlnk="0" id="M_24_5_17">שָׁנָ֣ה</span>
<span class="mila" data-lnk="3221226016" data-exlnk="0" id="M_24_5_18">אֶחָ֔ת</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_24_5_19">וְשִׂמַּ֖ח</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_5_20">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11944">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_24_5_21">אִשְׁתּ֥וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_5_22">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11947">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_24_5_23">לָקָֽח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11949">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_6_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11951">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_24_6_2">יַחֲבֹ֥ל</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_6_3">רֵחַ֖יִם</span>
<span class="mila" data-lnk="3221226029" data-exlnk="0" id="M_24_6_4">וָרָ֑כֶב</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_24_6_5">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11956">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_24_6_6">נֶ֖פֶשׁ</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_24_6_7">ה֥וּא</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_24_6_8">חֹבֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11960">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_7" data-pasuk-now="17"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_7_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11962">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_24_7_2">יִמָּצֵ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_7_3">אִ֗ישׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_7_4">גֹּנֵ֨ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_7_5">נֶ֤פֶשׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_7_6">מֵאֶחָיו֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_7_7">מִבְּנֵ֣י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_7_8">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_24_7_9">וְהִתְעַמֶּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11971">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_24_7_10">בּ֖וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_7_11">וּמְכָר֑וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_7_12">וּמֵת֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_7_13">הַגַּנָּ֣ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_7_14">הַה֔וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_15">וּבִעַרְתָּ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_16">הָרָ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_17">מִקִּרְבֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11981">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11982">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_8" data-pasuk-now="16"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_24_8_1">הִשָּׁ֧מֶר</span>
<span class="mila" data-lnk="3489661627" data-exlnk="0" id="M_24_8_2">בְּנֶגַע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11985">־</span><span class="mila" data-lnk="4026532539" data-exlnk="0" id="M_24_8_3">הַצָּרַ֛עַת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_8_4">לִשְׁמֹ֥ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_8_5">מְאֹ֖ד</span>
<span class="mila" data-lnk="4026532490" data-exlnk="0" id="M_24_8_6">וְלַעֲשׂ֑וֹת</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_24_8_7">כְּכֹל֩</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_24_8_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11992">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_24_8_9">יוֹר֨וּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_24_8_10">אֶתְכֶ֜ם</span>
<span class="mila" data-lnk="3489661844" data-exlnk="0" id="M_24_8_11">הַכֹּהֲנִ֧ים</span>
<span class="mila" data-lnk="3758097300" data-exlnk="0" id="M_24_8_12">הַלְוִיִּ֛ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_8_13">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_8_14">צִוִּיתִ֖ם</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_24_8_15">תִּשְׁמְר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_16">לַעֲשֽׂוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12001">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_24_9_1">זָכ֕וֹר</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_24_9_2">אֵ֧ת</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_24_9_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12005">־</span><span class="mila" data-lnk="51" data-exlnk="0" id="M_24_9_4">עָשָׂ֛ה</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_24_9_5">יְהוָ֥ה</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_24_9_6">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="3221226039" data-exlnk="0" id="M_24_9_7">לְמִרְיָ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_9_8">בַּדֶּ֖רֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_9_9">בְּצֵאתְכֶ֥ם</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_24_9_10">מִמִּצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12014">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12015">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_10_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12017">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_24_10_2">תַשֶּׁ֥ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_10_3">בְרֵעֲךָ֖</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_10_4">מַשַּׁ֣את</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_24_10_5">מְא֑וּמָה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_10_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12023">־</span><span class="mila" data-lnk="805306536" data-exlnk="0" id="M_24_10_7">תָבֹ֥א</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_10_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12026">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_24_10_9">בֵּית֖וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_10_10">לַעֲבֹ֥ט</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_10_11">עֲבֹטֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12030">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_11_1">בַּח֖וּץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_2">תַּעֲמֹ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_3">וְהָאִ֗ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_4">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_5">אַתָּה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_6">נֹשֶׁ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_7">ב֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_8">יוֹצִ֥יא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_9">אֵלֶ֛יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_10">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12041">־</span><span class="mila" data-lnk="805306504" data-exlnk="0" id="M_24_11_11">הַעֲב֖וֹט</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_24_11_12">הַחֽוּצָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12044">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_12" data-pasuk-now="7"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3489661872" data-exlnk="0" id="M_24_12_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12046">־</span><span class="mila" data-lnk="4026532784" data-exlnk="0" id="M_24_12_2">אִ֥ישׁ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_12_3">עָנִ֖י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_12_4">ה֑וּא</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_24_12_5">לֹ֥א</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_24_12_6">תִשְׁכַּ֖ב</span>
<span class="mila" data-lnk="3221226019" data-exlnk="0" id="M_24_12_7">בַּעֲבֹטֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12053">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_24_13_1">הָשֵׁב֩</span>
<span class="mila" data-lnk="4026532224" data-exlnk="0" id="M_24_13_2">תָּשִׁ֨יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_3">ל֤וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_13_4">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12058">־</span><span class="mila" data-lnk="4026532516" data-exlnk="0" id="M_24_13_5">הַעֲבוֹט֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_13_6">כְּב֣וֹא</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_13_7">הַשֶּׁ֔מֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_8">וְשָׁכַ֥ב</span>
<span class="mila" data-lnk="4026532516" data-exlnk="0" id="M_24_13_9">בְּשַׂלְמָת֖וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_13_10">וּבֵֽרֲכֶ֑ךָּ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_13_11">וּלְךָ֙</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_13_12">תִּהְיֶ֣ה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_13_13">צְדָקָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_14">לִפְנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_16">אֱלֹהֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12072">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12073">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שביעי]</span>
<span id="PS_24_14" data-pasuk-now="11"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_24_14_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12075">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_24_14_2">תַעֲשֹׁ֥ק</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_24_14_3">שָׂכִ֖יר</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_24_14_4">עָנִ֣י</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_24_14_5">וְאֶבְי֑וֹן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_14_6">מֵאַחֶ֕יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_14_7">א֧וֹ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_24_14_8">מִגֵּרְךָ֛</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_14_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_14_10">בְּאַרְצְךָ֖</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_14_11">בִּשְׁעָרֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12086">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_15" data-pasuk-now="23"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_24_15_1">בְּיוֹמוֹ֩</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_24_15_2">תִתֵּ֨ן</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_24_15_3">שְׂכָר֜וֹ</span>
<span class="mila" data-lnk="1342177972" data-exlnk="0" id="M_24_15_4">וְֽלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12091">־</span><span class="mila" data-lnk="2684355252" data-exlnk="0" id="M_24_15_5">תָב֧וֹא</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_24_15_6">עָלָ֣יו</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_15_7">הַשֶּׁ֗מֶשׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_15_8">כִּ֤י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_24_15_9">עָנִי֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_15_10">ה֔וּא</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_15_11">וְאֵלָ֕יו</span>
<span class="mila" data-lnk="3221226015" data-exlnk="0" id="M_24_15_12">ה֥וּא</span>
<span class="mila" data-lnk="2147484223" data-exlnk="0" id="M_24_15_13">נֹשֵׂ֖א</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_24_15_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12102">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_24_15_15">נַפְשׁ֑וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_15_16">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12105">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_24_15_17">יִקְרָ֤א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_15_18">עָלֶ֙יךָ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_15_19">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12109">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_24_15_20">יְהוָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_15_21">וְהָיָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_15_22">בְךָ֖</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_15_23">חֵֽטְא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12115">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12116">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_16" data-pasuk-now="13"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_24_16_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12118">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_24_16_2">יוּמְת֤וּ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_24_16_3">אָבוֹת֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_16_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12122">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_24_16_5">בָּנִ֔ים</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_24_16_6">וּבָנִ֖ים</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_24_16_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12126">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_24_16_8">יוּמְת֣וּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_24_16_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12129">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_24_16_10">אָב֑וֹת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_16_11">אִ֥ישׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_16_12">בְּחֶטְא֖וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_16_13">יוּמָֽתוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12135">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12136">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_17" data-pasuk-now="9"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_17_1">לֹ֣א</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_17_2">תַטֶּ֔ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_17_3">מִשְׁפַּ֖ט</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_17_4">גֵּ֣ר</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_17_5">יָת֑וֹם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_17_6">וְלֹ֣א</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_17_7">תַחֲבֹ֔ל</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_17_8">בֶּ֖גֶד</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_17_9">אַלְמָנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12146">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_18" data-pasuk-now="17"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_24_18_1">וְזָכַרְתָּ֗</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_24_18_2">כִּ֣י</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_24_18_3">עֶ֤בֶד</span>
<span class="mila" data-lnk="268435644" data-exlnk="0" id="M_24_18_4">הָיִ֙יתָ֙</span>
<span class="mila" data-lnk="536871080" data-exlnk="0" id="M_24_18_5">בְּמִצְרַ֔יִם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_18_6">וַֽיִּפְדְּךָ֛</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_18_7">יְהוָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_18_8">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_18_9">מִשָּׁ֑ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_24_18_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12157">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_24_18_11">כֵּ֞ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_18_12">אָנֹכִ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_18_13">מְצַוְּךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_14">לַעֲשׂ֔וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_18_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12163">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_18_16">הַדָּבָ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_18_17">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12167">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12168">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_19" data-pasuk-now="21"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026532256" data-exlnk="0" id="M_24_19_1">כִּ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_19_2">תִקְצֹר֩</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_19_3">קְצִֽירְךָ֨</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_19_4">בְשָׂדֶ֜ךָ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_19_5">וְשָׁכַחְתָּ֧</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_19_6">עֹ֣מֶר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_19_7">בַּשָּׂדֶ֗ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_19_8">לֹ֤א</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_24_19_9">תָשׁוּב֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_19_10">לְקַחְתּ֔וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_19_11">לַגֵּ֛ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_19_12">לַיָּת֥וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_19_13">וְלָאַלְמָנָ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_19_14">יִֽהְיֶ֑ה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_19_15">לְמַ֤עַן</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_19_16">יְבָרֶכְךָ֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_24_19_17">יְהוָ֣ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_19_18">אֱלֹהֶ֔יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_19_19">בְּכֹ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_20">מַעֲשֵׂ֥ה</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_24_19_21">יָדֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12191">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12192">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_20" data-pasuk-now="10"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_20_1">כִּ֤י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_20_2">תַחְבֹּט֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_20_3">זֵֽיתְךָ֔</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_24_20_4">לֹ֥א</span>
<span class="mila" data-lnk="3221226029" data-exlnk="0" id="M_24_20_5">תְפַאֵ֖ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_20_6">אַחֲרֶ֑יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_20_7">לַגֵּ֛ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_20_8">לַיָּת֥וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_20_9">וְלָאַלְמָנָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_20_10">יִהְיֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12203">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_21" data-pasuk-now="10"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_21_1">כִּ֤י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_21_2">תִבְצֹר֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_21_3">כַּרְמְךָ֔</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_21_4">לֹ֥א</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_21_5">תְעוֹלֵ֖ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_21_6">אַחֲרֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_7">לַגֵּ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_8">לַיָּת֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_9">וְלָאַלְמָנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_10">יִהְיֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12214">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_24_22_1">וְזָ֣כַרְתָּ֔</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_22_2">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12217">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_24_22_3">עֶ֥בֶד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_22_4">הָיִ֖יתָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_22_5">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_22_6">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12223">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_8">כֵּ֞ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_9">אָנֹכִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_10">מְצַוְּךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_11">לַעֲשׂ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12229">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_13">הַדָּבָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_14">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12233">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12234">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>