<p id="PR_7" data-perek-now="412" data-perek-nops="26"><span class="perek-header">פרק ז</span>
<br /><span class="parashia-header">[שביעי]</span>
<span id="PS_7_1" data-pasuk-now="27"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_1">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_2">יְבִֽיאֲךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_4">אֱלֹהֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3953">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_6">הָאָ֕רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3956">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_8">אַתָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_9">בָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3959">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_10">שָׁ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_11">לְרִשְׁתָּ֑הּ</span>
<span class="mila" data-lnk="4026532775" data-exlnk="0" id="M_7_1_12">וְנָשַׁ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_13">גּֽוֹיִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3964">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_14">רַבִּ֣ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3966">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_15">מִפָּנֶ֡יךָ</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_7_1_16">הַחִתִּי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_17">וְהַגִּרְגָּשִׁ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_18">וְהָאֱמֹרִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_19">וְהַכְּנַעֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_20">וְהַפְּרִזִּ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_21">וְהַֽחִוִּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_22">וְהַיְבוּסִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_23">שִׁבְעָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_24">גוֹיִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_25">רַבִּ֥ים</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_7_1_26">וַעֲצוּמִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_27">מִמֶּֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_1">וּנְתָנָ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_2">יְהוָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_3">אֱלֹהֶ֛יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_4">לְפָנֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_5">וְהִכִּיתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_6">הַחֲרֵ֤ם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_7_2_7">תַּחֲרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_8">אֹתָ֔ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_7_2_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3990">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_2_10">תִכְרֹ֥ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_2_11">לָהֶ֛ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_2_12">בְּרִ֖ית</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_7_2_13">וְלֹ֥א</span>
<span class="mila" data-lnk="3221226017" data-exlnk="0" id="M_7_2_14">תְחָנֵּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3996">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_3" data-pasuk-now="11"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_7_3_1">וְלֹ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_3_2">תִתְחַתֵּ֖ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_3_3">בָּ֑ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_3_4">בִּתְּךָ֙</span>
<span class="mila" data-lnk="268435616" data-exlnk="0" id="M_7_3_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4002">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_3_6">תִתֵּ֣ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_3_7">לִבְנ֔וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_3_8">וּבִתּ֖וֹ</span>
<span class="mila" data-lnk="536871072" data-exlnk="0" id="M_7_3_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4007">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_3_10">תִקַּ֥ח</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_3_11">לִבְנֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4010">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_7_4_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4012">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_7_4_2">יָסִ֤יר</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_7_4_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4015">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_7_4_4">בִּנְךָ֙</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_7_4_5">מֵֽאַחֲרַ֔י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_4_6">וְעָבְד֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_4_7">אֱלֹהִ֣ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_4_8">אֲחֵרִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_9">וְחָרָ֤ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_4_10">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4023">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_11">יְהוָה֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_4_12">בָּכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_13">וְהִשְׁמִידְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_14">מַהֵֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4028">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_7_5_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4030">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_7_5_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4032">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_7_5_3">כֹּ֤ה</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_7_5_4">תַֽעֲשׂוּ֙</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_7_5_5">לָהֶ֔ם</span>
<span class="mila" data-lnk="4026532513" data-exlnk="0" id="M_7_5_6">מִזְבְּחֹתֵיהֶ֣ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_5_7">תִּתֹּ֔צוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_8">וּמַצֵּבֹתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_9">תְּשַׁבֵּ֑רוּ</span>
<span class="mila" data-lnk="4026532513" data-exlnk="0" id="M_7_5_10">וַאֲשֵֽׁירֵהֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_5_11">תְּגַדֵּע֔וּן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_5_12">וּפְסִילֵיהֶ֖ם</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_7_5_13">תִּשְׂרְפ֥וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_14">בָּאֵֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4045">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_6_1">כִּ֣י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_6_2">עַ֤ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_6_3">קָדוֹשׁ֙</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_6_4">אַתָּ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_6_5">לַיהוָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_6_6">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_6_7">בְּךָ֞</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_6_8">בָּחַ֣ר׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_6_9">יְהוָ֣ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_6_10">אֱלֹהֶ֗יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_6_11">לִהְי֥וֹת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_6_12">לוֹ֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_6_13">לְעַ֣ם</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_7_6_14">סְגֻלָּ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_6_15">מִכֹּל֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_6_16">הָֽעַמִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_6_17">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_6_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4064">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_6_19">פְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_6_20">הָאֲדָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4067">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_7" data-pasuk-now="14"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_7_7_1">לֹ֣א</span>
<span class="mila" data-lnk="3221226011" data-exlnk="0" id="M_7_7_2">מֵרֻבְּכֶ֞ם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_7_7_3">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4071">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_7_7_4">הָעַמִּ֗ים</span>
<span class="mila" data-lnk="1342177943" data-exlnk="0" id="M_7_7_5">חָשַׁ֧ק</span>
<span class="mila" data-lnk="2952790658" data-exlnk="0" id="M_7_7_6">יְהוָ֛ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_7_7_7">בָּכֶ֖ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_7_8">וַיִּבְחַ֣ר</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_7_7_9">בָּכֶ֑ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_7_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4079">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_7_7_11">אַתֶּ֥ם</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_7_7_12">הַמְעַ֖ט</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_7_7_13">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4083">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_7_7_14">הָעַמִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4085">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_8" data-pasuk-now="22"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_7_8_1">כִּי֩</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_7_8_2">מֵאַהֲבַ֨ת</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_7_8_3">יְהוָ֜ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_7_8_4">אֶתְכֶ֗ם</span>
<span class="mila" data-lnk="3221225989" data-exlnk="0" id="M_7_8_5">וּמִשָּׁמְר֤וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_8_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4092">־</span><span class="mila" data-lnk="805306497" data-exlnk="0" id="M_7_8_7">הַשְּׁבֻעָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_8">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_9">נִשְׁבַּע֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_8_10">לַאֲבֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_8_11">הוֹצִ֧יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_12">יְהוָ֛ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_8_13">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_8_14">בְּיָ֣ד</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_8_15">חֲזָקָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_16">וַֽיִּפְדְּךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_17">מִבֵּ֣ית</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_8_18">עֲבָדִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_19">מִיַּ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_20">פַּרְעֹ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_8_21">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4108">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_7_8_22">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4110">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[מפטיר]</span>
<span id="PS_7_9" data-pasuk-now="16"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_7_9_1">וְיָ֣דַעְתָּ֔</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_7_9_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4113">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_7_9_3">יְהוָ֥ה</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_7_9_4">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_7_9_5">ה֣וּא</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_7_9_6">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_9_7">הָאֵל֙</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_9_8">הַֽנֶּאֱמָ֔ן</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_7_9_9">שֹׁמֵ֧ר</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_7_9_10">הַבְּרִ֣ית</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_7_9_11">וְהַחֶ֗סֶד</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_7_9_12">לְאֹהֲבָ֛יו</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_7_9_13">וּלְשֹׁמְרֵ֥י</span>
<span data-lnk="0" data-exlnk="0" id="M_7_9_14" class="mila ktiv">מִצְוֺתָ֖ו</span>
<span data-lnk="4026532535" data-exlnk="0" id="M_7_9_14_K" class="mila kri">מִצְוֺתָ֖יו</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_7_9_15">לְאֶ֥לֶף</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_7_9_16">דּֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4129">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_10" data-pasuk-now="12"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532799" data-exlnk="0" id="M_7_10_1">וּמְשַׁלֵּ֧ם</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_7_10_2">לְשֹׂנְאָ֛יו</span>
<span class="mila" data-lnk="3489661875" data-exlnk="0" id="M_7_10_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4133">־</span><span class="mila" data-lnk="2952790951" data-exlnk="0" id="M_7_10_4">פָּנָ֖יו</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_7_10_5">לְהַאֲבִיד֑וֹ</span>
<span class="mila" data-lnk="3221225990" data-exlnk="0" id="M_7_10_6">לֹ֤א</span>
<span class="mila" data-lnk="3221225990" data-exlnk="0" id="M_7_10_7">יְאַחֵר֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_10_8">לְשֹׂ֣נְא֔וֹ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_7_10_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4140">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_7_10_10">פָּנָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_11">יְשַׁלֶּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4143">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_12">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4145">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="805306550" data-exlnk="0" id="M_7_11_1">וְשָׁמַרְתָּ֨</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_11_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4148">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_7_11_3">הַמִּצְוָ֜ה</span>
<span class="mila" data-lnk="3489661616" data-exlnk="0" id="M_7_11_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4151">־</span><span class="mila" data-lnk="4026532528" data-exlnk="0" id="M_7_11_5">הַחֻקִּ֣ים</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_11_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4154">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_7_11_7">הַמִּשְׁפָּטִ֗ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_11_8">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_11_9">אָנֹכִ֧י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_11_10">מְצַוְּךָ֛</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_7_11_11">הַיּ֖וֹם</span>
<span class="mila" data-lnk="4026532513" data-exlnk="0" id="M_7_11_12">לַעֲשׂוֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4162">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4163"> פ </span>
</span>
<br /><span class="parasha-header">{פרשת עקב}</span>
<span id="PS_7_12" data-pasuk-now="20"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_7_12_1">וְהָיָ֣ה׀</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_7_12_2">עֵ֣קֶב</span>
<span class="mila" data-lnk="4026532537" data-exlnk="0" id="M_7_12_3">תִּשְׁמְע֗וּן</span>
<span class="mila" data-lnk="1073742392" data-exlnk="0" id="M_7_12_4">אֵ֤ת</span>
<span class="mila" data-lnk="3221226032" data-exlnk="0" id="M_7_12_5">הַמִּשְׁפָּטִים֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_12_6">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_12_7">וּשְׁמַרְתֶּ֥ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_12_8">וַעֲשִׂיתֶ֖ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_7_12_9">אֹתָ֑ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_12_10">וְשָׁמַר֩</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_7_12_11">יְהוָ֨ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_12_12">אֱלֹהֶ֜יךָ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_7_12_13">לְךָ֗</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_7_12_14">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4178">־</span><span class="mila" data-lnk="60" data-exlnk="0" id="M_7_12_15">הַבְּרִית֙</span>
<span class="mila" data-lnk="1073742344" data-exlnk="0" id="M_7_12_16">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4181">־</span><span class="mila" data-lnk="3221226042" data-exlnk="0" id="M_7_12_17">הַחֶ֔סֶד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_12_18">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_12_19">נִשְׁבַּ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_12_20">לַאֲבֹתֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4186">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_13" data-pasuk-now="22"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_13_1">וַאֲהֵ֣בְךָ֔</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_13_2">וּבֵרַכְךָ֖</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_13_3">וְהִרְבֶּ֑ךָ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_7_13_4">וּבֵרַ֣ךְ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_13_5">פְּרִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4192">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_7_13_6">בִטְנְךָ֣</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_13_7">וּפְרִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4195">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_7_13_8">אַ֠דְמָתֶךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_9">דְּגָ֨נְךָ֜</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_10">וְתִירֹשְׁךָ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_11">וְיִצְהָרֶ֗ךָ</span>
<span class="mila" data-lnk="3489661573" data-exlnk="0" id="M_7_13_12">שְׁגַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4201">־</span><span class="mila" data-lnk="3758097029" data-exlnk="0" id="M_7_13_13">אֲלָפֶ֙יךָ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_13_14">וְעַשְׁתְּרֹ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_15">צֹאנֶ֔ךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_13_16">עַ֚ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_13_17">הָאֲדָמָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_13_18">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4208">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_13_19">נִשְׁבַּ֥ע</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_13_20">לַאֲבֹתֶ֖יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_13_21">לָ֥תֶת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_13_22">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4213">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_14" data-pasuk-now="10"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_14_1">בָּר֥וּךְ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_14_2">תִּֽהְיֶ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_14_3">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4217">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_14_4">הָעַמִּ֑ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4220">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_6">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_7">בְךָ֛</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_7_14_8">עָקָ֥ר</span>
<span class="mila" data-lnk="4026532514" data-exlnk="0" id="M_7_14_9">וַעֲקָרָ֖ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_10">וּבִבְהֶמְתֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4226">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_15" data-pasuk-now="17"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221226032" data-exlnk="0" id="M_7_15_1">וְהֵסִ֧יר</span>
<span class="mila" data-lnk="2147484208" data-exlnk="0" id="M_7_15_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_15_3">מִמְּךָ֖</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_7_15_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4231">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_7_15_5">חֹ֑לִי</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_7_15_6">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4234">־</span><span class="mila" data-lnk="4026532500" data-exlnk="0" id="M_7_15_7">מַדְוֵי֩</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_15_8">מִצְרַ֨יִם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_15_9">הָרָעִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_10">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_11">יָדַ֗עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_12">לֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_13">יְשִׂימָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_14">בָּ֔ךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_15_15">וּנְתָנָ֖ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_15_16">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4245">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_7_15_17">שֹׂנְאֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4247">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_16" data-pasuk-now="21"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_7_16_1">וְאָכַלְתָּ֣</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_7_16_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4250">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_7_16_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4252">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_7_16_4">הָעַמִּ֗ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_16_5">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_6">יְהוָ֤ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_16_7">אֱלֹהֶ֙יךָ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_16_8">נֹתֵ֣ן</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_16_9">לָ֔ךְ</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_16_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4260">־</span><span class="mila" data-lnk="60" data-exlnk="0" id="M_7_16_11">תָח֥וֹס</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_16_12">עֵֽינְךָ֖</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_7_16_13">עֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="3221226024" data-exlnk="0" id="M_7_16_14">וְלֹ֤א</span>
<span class="mila" data-lnk="3221226024" data-exlnk="0" id="M_7_16_15">תַֽעֲבֹד֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_16_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4267">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_7_16_17">אֱלֹ֣הֵיהֶ֔ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_16_18">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4270">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_7_16_19">מוֹקֵ֥שׁ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_16_20">ה֖וּא</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_16_21">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4275">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4276">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_17" data-pasuk-now="10"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_17_1">כִּ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_17_2">תֹאמַר֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_17_3">בִּלְבָ֣בְךָ֔</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_7_17_4">רַבִּ֛ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_17_5">הַגּוֹיִ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_6">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_7">מִמֶּ֑נִּי</span>
<span class="mila" data-lnk="4026532224" data-exlnk="0" id="M_7_17_8">אֵיכָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_17_9">אוּכַ֖ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_17_10">לְהוֹרִישָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4287">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_18" data-pasuk-now="13"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="1342177921" data-exlnk="0" id="M_7_18_1">לֹ֥א</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_7_18_2">תִירָ֖א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_18_3">מֵהֶ֑ם</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_7_18_4">זָכֹ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_5">תִּזְכֹּ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_6">אֵ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4295">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_8">עָשָׂה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_9">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_10">אֱלֹהֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_11">לְפַרְעֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_12">וּלְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4301">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_18_13">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4303">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_19" data-pasuk-now="25"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_7_19_1">הַמַּסֹּ֨ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_2">הַגְּדֹלֹ֜ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4307">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_4">רָא֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_5">עֵינֶ֗יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_6">וְהָאֹתֹ֤ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_19_7">וְהַמֹּֽפְתִים֙</span>
<span class="mila" data-lnk="1073742337" data-exlnk="0" id="M_7_19_8">וְהַיָּ֤ד</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_7_19_9">הַחֲזָקָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_19_10">וְהַזְּרֹ֣עַ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_19_11">הַנְּטוּיָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_7_19_13">הוֹצִאֲךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_14">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_15">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_16">כֵּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4321">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_17">יַעֲשֶׂ֞ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_18">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_19">אֱלֹהֶ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_20">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4326">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_21">הָ֣עַמִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_22">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4329">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_23">אַתָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_24">יָרֵ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_25">מִפְּנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4333">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="805306536" data-exlnk="0" id="M_7_20_1">וְגַם֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_20_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4336">־</span><span class="mila" data-lnk="4026532525" data-exlnk="0" id="M_7_20_3">הַצִּרְעָ֔ה</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_7_20_4">יְשַׁלַּ֛ח</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_20_5">יְהוָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_20_6">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_20_7">בָּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_20_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4343">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_20_9">אֲבֹ֗ד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_20_10">הַנִּשְׁאָרִ֛ים</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_20_11">וְהַנִּסְתָּרִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_20_12">מִפָּנֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4348">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_21" data-pasuk-now="10"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_21_1">לֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_21_2">תַעֲרֹ֖ץ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_21_3">מִפְּנֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_4">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4353">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_5">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_6">אֱלֹהֶ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_7">בְּקִרְבֶּ֔ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_8">אֵ֥ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_21_9">גָּד֖וֹל</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_7_21_10">וְנוֹרָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4360">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_22" data-pasuk-now="18"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_7_22_1">וְנָשַׁל֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_22_2">יְהוָ֨ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_22_3">אֱלֹהֶ֜יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_22_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4365">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_22_5">הַגּוֹיִ֥ם</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_7_22_6">הָאֵ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_22_7">מִפָּנֶ֖יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_22_8">מְעַ֣ט</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_22_9">מְעָ֑ט</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_7_22_10">לֹ֤א</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_7_22_11">תוּכַל֙</span>
<span class="mila" data-lnk="805306552" data-exlnk="0" id="M_7_22_12">כַּלֹּתָ֣ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_7_22_13">מַהֵ֔ר</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_7_22_14">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4376">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_7_22_15">תִּרְבֶּ֥ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_7_22_16">עָלֶ֖יךָ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_7_22_17">חַיַּ֥ת</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_7_22_18">הַשָּׂדֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4381">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_23" data-pasuk-now="9"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_1">וּנְתָנָ֛ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_2">יְהוָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_3">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_4">לְפָנֶ֑יךָ</span>
<span class="mila" data-lnk="4026532483" data-exlnk="0" id="M_7_23_5">וְהָמָם֙</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_7_23_6">מְהוּמָ֣ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_7_23_7">גְדֹלָ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_23_8">עַ֖ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_23_9">הִשָּׁמְדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4391">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_24" data-pasuk-now="15"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_24_1">וְנָתַ֤ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_24_2">מַלְכֵיהֶם֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_24_3">בְּיָדֶ֔ךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_24_4">וְהַאֲבַדְתָּ֣</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_24_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4397">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_7_24_6">שְׁמָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_7">מִתַּ֖חַת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_24_8">הַשָּׁמָ֑יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_24_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4402">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_24_10">יִתְיַצֵּ֥ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_24_11">אִישׁ֙</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_7_24_12">בְּפָנֶ֔יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_24_13">עַ֥ד</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_7_24_14">הִשְׁמִֽדְךָ֖</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_24_15">אֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4409">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_25" data-pasuk-now="19"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_25_1">פְּסִילֵ֥י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_25_2">אֱלֹהֵיהֶ֖ם</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_7_25_3">תִּשְׂרְפ֣וּן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_25_4">בָּאֵ֑שׁ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_7_25_5">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4415">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_7_25_6">תַחְמֹד֩</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_25_7">כֶּ֨סֶף</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_25_8">וְזָהָ֤ב</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_7_25_9">עֲלֵיהֶם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_25_10">וְלָקַחְתָּ֣</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_25_11">לָ֔ךְ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_25_12">פֶּ֚ן</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_25_13">תִּוָּקֵ֣שׁ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_25_14">בּ֔וֹ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_25_15">כִּ֧י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_25_16">תוֹעֲבַ֛ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_25_17">יְהוָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_25_18">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_25_19">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4430">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_26" data-pasuk-now="15"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="4026532528" data-exlnk="0" id="M_7_26_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4432">־</span><span class="mila" data-lnk="4026532528" data-exlnk="0" id="M_7_26_2">תָבִ֤יא</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_26_3">תֽוֹעֵבָה֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_26_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4436">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_7_26_5">בֵּיתֶ֔ךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_26_6">וְהָיִ֥יתָ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_26_7">חֵ֖רֶם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_7_26_8">כָּמֹ֑הוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_26_9">שַׁקֵּ֧ץ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4442">׀</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_26_10">תְּשַׁקְּצֶ֛נּוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_26_11">וְתַעֵ֥ב</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4445">׀</span>
<span class="mila" data-lnk="3221226016" data-exlnk="0" id="M_7_26_12">תְּֽתַעֲבֶ֖נּוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_26_13">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4448">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_7_26_14">חֵ֥רֶם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_26_15">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4452">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4453"> פ </span>
</span>
<br /></p>