<p id="PR_32" data-perek-now="614" data-perek-nops="52"><span class="perek-header">פרק לב</span>
<br /><span class="parasha-header">{פרשת האזינו}</span>
<span id="PS_32_1" data-pasuk-now="7"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_32_1_1">הַאֲזִ֥ינוּ</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_32_1_2">הַשָּׁמַ֖יִם</span>
<span class="mila" data-lnk="4026532488" data-exlnk="0" id="M_32_1_3">וַאֲדַבֵּ֑רָה</span>
<span class="mila" data-lnk="4026532521" data-exlnk="0" id="M_32_1_4">וְתִשְׁמַ֥ע</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_1_5">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_1_6">אִמְרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16162">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_32_1_7">פִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16164">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_2" data-pasuk-now="12"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532543" data-exlnk="0" id="M_32_2_1">יַעֲרֹ֤ף</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_32_2_2">כַּמָּטָר֙</span>
<span class="mila" data-lnk="805306621" data-exlnk="0" id="M_32_2_3">לִקְחִ֔י</span>
<span class="mila" data-lnk="3221226041" data-exlnk="0" id="M_32_2_4">תִּזַּ֥ל</span>
<span class="mila" data-lnk="4026532525" data-exlnk="0" id="M_32_2_5">כַּטַּ֖ל</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_32_2_6">אִמְרָתִ֑י</span>
<span class="mila" data-lnk="3221226093" data-exlnk="0" id="M_32_2_7">כִּשְׂעִירִ֣ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_2_8">עֲלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16173">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_32_2_9">דֶ֔שֶׁא</span>
<span class="mila" data-lnk="3221226085" data-exlnk="0" id="M_32_2_10">וְכִרְבִיבִ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_2_11">עֲלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16177">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_32_2_12">עֵֽשֶׂב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16179">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_3" data-pasuk-now="7"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_32_3_1">כִּ֛י</span>
<span class="mila" data-lnk="1073742395" data-exlnk="0" id="M_32_3_2">שֵׁ֥ם</span>
<span class="mila" data-lnk="1073742395" data-exlnk="0" id="M_32_3_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="3221226011" data-exlnk="0" id="M_32_3_4">אֶקְרָ֑א</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_3_5">הָב֥וּ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_3_6">גֹ֖דֶל</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_32_3_7">לֵאלֹהֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16187">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_4_1">הַצּוּר֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_4_2">תָּמִ֣ים</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_32_4_3">פָּֽעֳל֔וֹ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_32_4_4">כִּ֥י</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_32_4_5">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16193">־</span><span class="mila" data-lnk="116" data-exlnk="0" id="M_32_4_6">דְּרָכָ֖יו</span>
<span class="mila" data-lnk="124" data-exlnk="0" id="M_32_4_7">מִשְׁפָּ֑ט</span>
<span class="mila" data-lnk="1073742453" data-exlnk="0" id="M_32_4_8">אֵ֤ל</span>
<span class="mila" data-lnk="2147484277" data-exlnk="0" id="M_32_4_9">אֱמוּנָה֙</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_32_4_10">וְאֵ֣ין</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_4_11">עָ֔וֶל</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_4_12">צַדִּ֥יק</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_4_13">וְיָשָׁ֖ר</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_4_14">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16203">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_5_1">שִׁחֵ֥ת</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_5_2">ל֛וֹ</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_32_5_3">לֹ֖א</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_5_4">בָּנָ֣יו</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_32_5_5">מוּמָ֑ם</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_5_6">דּ֥וֹר</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_5_7">עִקֵּ֖שׁ</span>
<span class="mila" data-lnk="3221226105" data-exlnk="0" id="M_32_5_8">וּפְתַלְתֹּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16212">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_6_1">הַלְיְהוָה֙</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_32_6_2">תִּגְמְלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16215">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_32_6_3">זֹ֔את</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_32_6_4">עַ֥ם</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_6_5">נָבָ֖ל</span>
<span class="mila" data-lnk="1073742461" data-exlnk="0" id="M_32_6_6">וְלֹ֣א</span>
<span class="mila" data-lnk="2147484285" data-exlnk="0" id="M_32_6_7">חָכָ֑ם</span>
<span class="mila" data-lnk="805306545" data-exlnk="0" id="M_32_6_8">הֲלוֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16222">־</span><span class="mila" data-lnk="121" data-exlnk="0" id="M_32_6_9">הוּא֙</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_32_6_10">אָבִ֣יךָ</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_32_6_11">קָּנֶ֔ךָ</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_6_12">ה֥וּא</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_32_6_13">עָשְׂךָ֖</span>
<span class="mila" data-lnk="3221226109" data-exlnk="0" id="M_32_6_14">וַֽיְכֹנְנֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16229">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שני]</span>
<span id="PS_32_7" data-pasuk-now="13"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_32_7_1">זְכֹר֙</span>
<span class="mila" data-lnk="3221226015" data-exlnk="0" id="M_32_7_2">יְמ֣וֹת</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_32_7_3">עוֹלָ֔ם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_32_7_4">בִּ֖ינוּ</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_32_7_5">שְׁנ֣וֹת</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_32_7_6">דֹּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16236">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_32_7_7">וָדֹ֑ר</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_32_7_8">שְׁאַ֤ל</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_32_7_9">אָבִ֙יךָ֙</span>
<span class="mila" data-lnk="3221226052" data-exlnk="0" id="M_32_7_10">וְיַגֵּ֔דְךָ</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_32_7_11">זְקֵנֶ֖יךָ</span>
<span class="mila" data-lnk="4026532833" data-exlnk="0" id="M_32_7_12">וְיֹ֥אמְרוּ</span>
<span class="mila" data-lnk="97" data-exlnk="0" id="M_32_7_13">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16244">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="3221226015" data-exlnk="0" id="M_32_8_1">בְּהַנְחֵ֤ל</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_32_8_2">עֶלְיוֹן֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_32_8_3">גּוֹיִ֔ם</span>
<span class="mila" data-lnk="3221225995" data-exlnk="0" id="M_32_8_4">בְּהַפְרִיד֖וֹ</span>
<span class="mila" data-lnk="1342177963" data-exlnk="0" id="M_32_8_5">בְּנֵ֣י</span>
<span class="mila" data-lnk="2952790699" data-exlnk="0" id="M_32_8_6">אָדָ֑ם</span>
<span class="mila" data-lnk="3221226057" data-exlnk="0" id="M_32_8_7">יַצֵּב֙</span>
<span class="mila" data-lnk="4026532587" data-exlnk="0" id="M_32_8_8">גְּבֻלֹ֣ת</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_32_8_9">עַמִּ֔ים</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_8_10">לְמִסְפַּ֖ר</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_8_11">בְּנֵ֥י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_8_12">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16257">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_32_9_1">כִּ֛י</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_32_9_2">חֵ֥לֶק</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_32_9_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_32_9_4">עַמּ֑וֹ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_9_5">יַעֲקֹ֖ב</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_9_6">חֶ֥בֶל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_9_7">נַחֲלָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16265">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_32_10_1">יִמְצָאֵ֙הוּ֙</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_32_10_2">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_32_10_3">מִדְבָּ֔ר</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_10_4">וּבְתֹ֖הוּ</span>
<span class="mila" data-lnk="3221226073" data-exlnk="0" id="M_32_10_5">יְלֵ֣ל</span>
<span class="mila" data-lnk="3221226073" data-exlnk="0" id="M_32_10_6">יְשִׁמֹ֑ן</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_32_10_7">יְסֹבֲבֶ֙נְהוּ֙</span>
<span class="mila" data-lnk="3221225997" data-exlnk="0" id="M_32_10_8">יְב֣וֹנֲנֵ֔הוּ</span>
<span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_32_10_9">יִצְּרֶ֖נְהוּ</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_32_10_10">כְּאִישׁ֥וֹן</span>
<span class="mila" data-lnk="805306621" data-exlnk="0" id="M_32_10_11">עֵינֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16277">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532781" data-exlnk="0" id="M_32_11_1">כְּנֶ֙שֶׁר֙</span>
<span class="mila" data-lnk="4026532783" data-exlnk="0" id="M_32_11_2">יָעִ֣יר</span>
<span class="mila" data-lnk="805306543" data-exlnk="0" id="M_32_11_3">קִנּ֔וֹ</span>
<span class="mila" data-lnk="97" data-exlnk="0" id="M_32_11_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16282">־</span><span class="mila" data-lnk="3221226093" data-exlnk="0" id="M_32_11_5">גּוֹזָלָ֖יו</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_32_11_6">יְרַחֵ֑ף</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_32_11_7">יִפְרֹ֤שׂ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_11_8">כְּנָפָיו֙</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_32_11_9">יִקָּחֵ֔הוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_11_10">יִשָּׂאֵ֖הוּ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_32_11_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16290">־</span><span class="mila" data-lnk="3221226022" data-exlnk="0" id="M_32_11_12">אֶבְרָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16292">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_12" data-pasuk-now="7"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_32_12_1">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026532511" data-exlnk="0" id="M_32_12_2">בָּדָ֣ד</span>
<span class="mila" data-lnk="4026532509" data-exlnk="0" id="M_32_12_3">יַנְחֶ֑נּוּ</span>
<span class="mila" data-lnk="1342177949" data-exlnk="0" id="M_32_12_4">וְאֵ֥ין</span>
<span class="mila" data-lnk="2952790685" data-exlnk="0" id="M_32_12_5">עִמּ֖וֹ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_32_12_6">אֵ֥ל</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_32_12_7">נֵכָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16300">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[שלישי]</span>
<span id="PS_32_13" data-pasuk-now="13"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_32_13_1">יַרְכִּבֵ֙הוּ֙</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_13_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16303">־</span><span class="mila" data-lnk="4026532847" data-exlnk="0" id="M_32_13_3">בָּ֣מֳותֵי</span>
<span class="mila" data-lnk="4026532847" data-exlnk="0" id="M_32_13_4">אָ֔רֶץ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_13_5">וַיֹּאכַ֖ל</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_13_6">תְּנוּבֹ֣ת</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_13_7">שָׂדָ֑י</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_32_13_8">וַיֵּנִקֵ֤הֽוּ</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_13_9">דְבַשׁ֙</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_13_10">מִסֶּ֔לַע</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_32_13_11">וְשֶׁ֖מֶן</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_13_12">מֵחַלְמִ֥ישׁ</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_13_13">צֽוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16315">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_14" data-pasuk-now="19"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_14_1">חֶמְאַ֨ת</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_14_2">בָּקָ֜ר</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_32_14_3">וַחֲלֵ֣ב</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_14_4">צֹ֗אן</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_32_14_5">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16321">־</span><span class="mila" data-lnk="79" data-exlnk="0" id="M_32_14_6">חֵ֨לֶב</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_14_7">כָּרִ֜ים</span>
<span class="mila" data-lnk="4026532547" data-exlnk="0" id="M_32_14_8">וְאֵילִ֤ים</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_32_14_9">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16326">־</span><span class="mila" data-lnk="71" data-exlnk="0" id="M_32_14_10">בָשָׁן֙</span>
<span class="mila" data-lnk="4026532544" data-exlnk="0" id="M_32_14_11">וְעַתּוּדִ֔ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_32_14_12">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16330">־</span><span class="mila" data-lnk="75" data-exlnk="0" id="M_32_14_13">חֵ֖לֶב</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_32_14_14">כִּלְי֣וֹת</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_14_15">חִטָּ֑ה</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_14_16">וְדַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16335">־</span><span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_32_14_17">עֵנָ֖ב</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_32_14_18">תִּשְׁתֶּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16338">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_32_14_19">חָֽמֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16340">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_15" data-pasuk-now="12"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_32_15_1">וַיִּשְׁמַ֤ן</span>
<span class="mila" data-lnk="4026532492" data-exlnk="0" id="M_32_15_2">יְשֻׁרוּן֙</span>
<span class="mila" data-lnk="3221225996" data-exlnk="0" id="M_32_15_3">וַיִּבְעָ֔ט</span>
<span class="mila" data-lnk="3221226052" data-exlnk="0" id="M_32_15_4">שָׁמַ֖נְתָּ</span>
<span class="mila" data-lnk="3221226051" data-exlnk="0" id="M_32_15_5">עָבִ֣יתָ</span>
<span class="mila" data-lnk="3221226053" data-exlnk="0" id="M_32_15_6">כָּשִׂ֑יתָ</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_32_15_7">וַיִּטֹּשׁ֙</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_32_15_8">אֱל֣וֹהַּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_32_15_9">עָשָׂ֔הוּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_15_10">וַיְנַבֵּ֖ל</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_32_15_11">צ֥וּר</span>
<span class="mila" data-lnk="4026532565" data-exlnk="0" id="M_32_15_12">יְשֻׁעָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16353">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_16" data-pasuk-now="4"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026532829" data-exlnk="0" id="M_32_16_1">יַקְנִאֻ֖הוּ</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_16_2">בְּזָרִ֑ים</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_32_16_3">בְּתוֹעֵבֹ֖ת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_32_16_4">יַכְעִיסֻֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16358">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_17" data-pasuk-now="13"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_32_17_1">יִזְבְּח֗וּ</span>
<span class="mila" data-lnk="4026532572" data-exlnk="0" id="M_32_17_2">לַשֵּׁדִים֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_17_3">לֹ֣א</span>
<span class="mila" data-lnk="4026532861" data-exlnk="0" id="M_32_17_4">אֱלֹ֔הַּ</span>
<span class="mila" data-lnk="108" data-exlnk="0" id="M_32_17_5">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_32_17_6">לֹ֣א</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_32_17_7">יְדָע֑וּם</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_17_8">חֲדָשִׁים֙</span>
<span class="mila" data-lnk="4026532781" data-exlnk="0" id="M_32_17_9">מִקָּרֹ֣ב</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_32_17_10">בָּ֔אוּ</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_17_11">לֹ֥א</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_32_17_12">שְׂעָר֖וּם</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_17_13">אֲבֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16372">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_32_18_1">צ֥וּר</span>
<span class="mila" data-lnk="110" data-exlnk="0" id="M_32_18_2">יְלָדְךָ֖</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_32_18_3">תֶּ֑שִׁי</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_32_18_4">וַתִּשְׁכַּ֖ח</span>
<span class="mila" data-lnk="108" data-exlnk="0" id="M_32_18_5">אֵ֥ל</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_32_18_6">מְחֹלֲלֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16379">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[רביעי]</span>
<span id="PS_32_19" data-pasuk-now="6"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="268435656" data-exlnk="0" id="M_32_19_1">וַיַּ֥רְא</span>
<span class="mila" data-lnk="536871144" data-exlnk="0" id="M_32_19_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_32_19_3">וַיִּנְאָ֑ץ</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_32_19_4">מִכַּ֥עַס</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_32_19_5">בָּנָ֖יו</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_32_19_6">וּבְנֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16386">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_20" data-pasuk-now="15"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_32_20_1">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="3221226012" data-exlnk="0" id="M_32_20_2">אַסְתִּ֤ירָה</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_32_20_3">פָנַי֙</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_32_20_4">מֵהֶ֔ם</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_32_20_5">אֶרְאֶ֖ה</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_32_20_6">מָ֣ה</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_32_20_7">אַחֲרִיתָ֑ם</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_32_20_8">כִּ֣י</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_32_20_9">ד֤וֹר</span>
<span class="mila" data-lnk="3221226109" data-exlnk="0" id="M_32_20_10">תַּהְפֻּכֹת֙</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_32_20_11">הֵ֔מָּה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_32_20_12">בָּנִ֖ים</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_32_20_13">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16400">־</span><span class="mila" data-lnk="4026532571" data-exlnk="0" id="M_32_20_14">אֵמֻ֥ן</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_20_15">בָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16403">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_32_21_1">הֵ֚ם</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_32_21_2">קִנְא֣וּנִי</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_32_21_3">בְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16407">־</span><span class="mila" data-lnk="125" data-exlnk="0" id="M_32_21_4">אֵ֔ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_32_21_5">כִּעֲס֖וּנִי</span>
<span class="mila" data-lnk="805306516" data-exlnk="0" id="M_32_21_6">בְּהַבְלֵיהֶ֑ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_32_21_7">וַֽאֲנִי֙</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_32_21_8">אַקְנִיאֵ֣ם</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_32_21_9">בְּלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16414">־</span><span class="mila" data-lnk="125" data-exlnk="0" id="M_32_21_10">עָ֔ם</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_21_11">בְּג֥וֹי</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_21_12">נָבָ֖ל</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_32_21_13">אַכְעִיסֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16419">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_32_22_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16421">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_32_22_2">אֵשׁ֙</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_22_3">קָדְחָ֣ה</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_32_22_4">בְאַפִּ֔י</span>
<span class="mila" data-lnk="3221226049" data-exlnk="0" id="M_32_22_5">וַתִּיקַ֖ד</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_22_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16427">־</span><span class="mila" data-lnk="76" data-exlnk="0" id="M_32_22_7">שְׁא֣וֹל</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_32_22_8">תַּחְתִּ֑ית</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_32_22_9">וַתֹּ֤אכַל</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_32_22_10">אֶ֙רֶץ֙</span>
<span class="mila" data-lnk="3221226049" data-exlnk="0" id="M_32_22_11">וִֽיבֻלָ֔הּ</span>
<span class="mila" data-lnk="3221226053" data-exlnk="0" id="M_32_22_12">וַתְּלַהֵ֖ט</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_32_22_13">מוֹסְדֵ֥י</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_22_14">הָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16436">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_23" data-pasuk-now="6"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_32_23_1">אַסְפֶּ֥ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_32_23_2">עָלֵ֖ימוֹ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_32_23_3">רָע֑וֹת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_23_4">חִצַּ֖י</span>
<span class="mila" data-lnk="4026532585" data-exlnk="0" id="M_32_23_5">אֲכַלֶּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16442">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_32_23_6">בָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16444">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_24" data-pasuk-now="14"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_32_24_1">מְזֵ֥י</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_24_2">רָעָ֛ב</span>
<span class="mila" data-lnk="3221226095" data-exlnk="0" id="M_32_24_3">וּלְחֻ֥מֵי</span>
<span class="mila" data-lnk="4026532559" data-exlnk="0" id="M_32_24_4">רֶ֖שֶׁף</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_32_24_5">וְקֶ֣טֶב</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_32_24_6">מְרִירִ֑י</span>
<span class="mila" data-lnk="805306597" data-exlnk="0" id="M_32_24_7">וְשֶׁן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16452">־</span><span class="mila" data-lnk="3221226053" data-exlnk="0" id="M_32_24_8">בְּהֵמֹת֙</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_32_24_9">אֲשַׁלַּח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16455">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_32_24_10">בָּ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_24_11">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16458">־</span><span class="mila" data-lnk="69" data-exlnk="0" id="M_32_24_12">חֲמַ֖ת</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_32_24_13">זֹחֲלֵ֥י</span>
<span class="mila" data-lnk="101" data-exlnk="0" id="M_32_24_14">עָפָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16462">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_25" data-pasuk-now="13"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_25_1">מִחוּץ֙</span>
<span class="mila" data-lnk="4026532813" data-exlnk="0" id="M_32_25_2">תְּשַׁכֶּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16465">־</span><span class="mila" data-lnk="109" data-exlnk="0" id="M_32_25_3">חֶ֔רֶב</span>
<span class="mila" data-lnk="3221226057" data-exlnk="0" id="M_32_25_4">וּמֵחֲדָרִ֖ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_25_5">אֵימָ֑ה</span>
<span class="mila" data-lnk="805306572" data-exlnk="0" id="M_32_25_6">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16470">־</span><span class="mila" data-lnk="108" data-exlnk="0" id="M_32_25_7">בָּחוּר֙</span>
<span class="mila" data-lnk="805306568" data-exlnk="0" id="M_32_25_8">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16473">־</span><span class="mila" data-lnk="104" data-exlnk="0" id="M_32_25_9">בְּתוּלָ֔ה</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_32_25_10">יוֹנֵ֖ק</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_32_25_11">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16477">־</span><span class="mila" data-lnk="96" data-exlnk="0" id="M_32_25_12">אִ֥ישׁ</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_32_25_13">שֵׂיבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16480">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_26" data-pasuk-now="5"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_32_26_1">אָמַ֖רְתִּי</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_32_26_2">אַפְאֵיהֶ֑ם</span>
<span class="mila" data-lnk="3221226012" data-exlnk="0" id="M_32_26_3">אַשְׁבִּ֥יתָה</span>
<span class="mila" data-lnk="124" data-exlnk="0" id="M_32_26_4">מֵאֱנ֖וֹשׁ</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_26_5">זִכְרָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16486">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_27" data-pasuk-now="16"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_32_27_1">לוּלֵ֗י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_32_27_2">כַּ֤עַס</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_32_27_3">אוֹיֵב֙</span>
<span class="mila" data-lnk="4026532807" data-exlnk="0" id="M_32_27_4">אָג֔וּר</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_32_27_5">פֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16492">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_32_27_6">יְנַכְּר֖וּ</span>
<span class="mila" data-lnk="3221226025" data-exlnk="0" id="M_32_27_7">צָרֵ֑ימוֹ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_32_27_8">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16496">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_32_27_9">יֹֽאמְרוּ֙</span>
<span class="mila" data-lnk="805306531" data-exlnk="0" id="M_32_27_10">יָדֵ֣נוּ</span>
<span class="mila" data-lnk="4026532523" data-exlnk="0" id="M_32_27_11">רָ֔מָה</span>
<span class="mila" data-lnk="1073742371" data-exlnk="0" id="M_32_27_12">וְלֹ֥א</span>
<span class="mila" data-lnk="2147484193" data-exlnk="0" id="M_32_27_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_32_27_14">פָּעַ֥ל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_32_27_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16504">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_32_27_16">זֹֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16506">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_28" data-pasuk-now="8"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_28_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16508">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_32_28_2">ג֛וֹי</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_32_28_3">אֹבַ֥ד</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_28_4">עֵצ֖וֹת</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_32_28_5">הֵ֑מָּה</span>
<span class="mila" data-lnk="1342177961" data-exlnk="0" id="M_32_28_6">וְאֵ֥ין</span>
<span class="mila" data-lnk="2684355233" data-exlnk="0" id="M_32_28_7">בָּהֶ֖ם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_28_8">תְּבוּנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16516">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[חמישי]</span>
<span id="PS_32_29" data-pasuk-now="6"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="4026532527" data-exlnk="0" id="M_32_29_1">ל֥וּ</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_32_29_2">חָכְמ֖וּ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_29_3">יַשְׂכִּ֣ילוּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_29_4">זֹ֑את</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_29_5">יָבִ֖ינוּ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_29_6">לְאַחֲרִיתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16523">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_30" data-pasuk-now="14"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="805306503" data-exlnk="0" id="M_32_30_1">אֵיכָ֞ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_32_30_2">יִרְדֹּ֤ף</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_32_30_3">אֶחָד֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_32_30_4">אֶ֔לֶף</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_32_30_5">וּשְׁנַ֖יִם</span>
<span class="mila" data-lnk="3221226024" data-exlnk="0" id="M_32_30_6">יָנִ֣יסוּ</span>
<span class="mila" data-lnk="4026532520" data-exlnk="0" id="M_32_30_7">רְבָבָ֑ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_32_30_8">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16532">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_32_30_9">לֹא֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_32_30_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16535">־</span><span class="mila" data-lnk="4026532743" data-exlnk="0" id="M_32_30_11">צוּרָ֣ם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_32_30_12">מְכָרָ֔ם</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_32_30_13">וַיהוָ֖ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_32_30_14">הִסְגִּירָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16540">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_31" data-pasuk-now="6"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_31_1">כִּ֛י</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_31_2">לֹ֥א</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_32_31_3">כְצוּרֵ֖נוּ</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_32_31_4">צוּרָ֑ם</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_31_5">וְאֹיְבֵ֖ינוּ</span>
<span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_32_31_6">פְּלִילִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16547">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_32" data-pasuk-now="12"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_32_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16549">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_32_32_2">מִגֶּ֤פֶן</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_32_3">סְדֹם֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_32_4">גַּפְנָ֔ם</span>
<span class="mila" data-lnk="3221225996" data-exlnk="0" id="M_32_32_5">וּמִשַּׁדְמֹ֖ת</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_32_32_6">עֲמֹרָ֑ה</span>
<span class="mila" data-lnk="3221225992" data-exlnk="0" id="M_32_32_7">עֲנָבֵ֙מוֹ֙</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_32_32_8">עִנְּבֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16557">־</span><span class="mila" data-lnk="4026532545" data-exlnk="0" id="M_32_32_9">ר֔וֹשׁ</span>
<span class="mila" data-lnk="3221225989" data-exlnk="0" id="M_32_32_10">אַשְׁכְּלֹ֥ת</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_32_32_11">מְרֹרֹ֖ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_32_32_12">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16562">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_33" data-pasuk-now="6"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_33_1">חֲמַ֥ת</span>
<span class="mila" data-lnk="4026532559" data-exlnk="0" id="M_32_33_2">תַּנִּינִ֖ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_33_3">יֵינָ֑ם</span>
<span class="mila" data-lnk="4026532557" data-exlnk="0" id="M_32_33_4">וְרֹ֥אשׁ</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_33_5">פְּתָנִ֖ים</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_33_6">אַכְזָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16569">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_34" data-pasuk-now="6"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_32_34_1">הֲלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16571">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_32_34_2">ה֖וּא</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_32_34_3">כָּמֻ֣ס</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_32_34_4">עִמָּדִ֑י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_32_34_5">חָת֖וּם</span>
<span class="mila" data-lnk="4026532788" data-exlnk="0" id="M_32_34_6">בְּאוֹצְרֹתָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16577">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_35" data-pasuk-now="13"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_35_1">לִ֤י</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_32_35_2">נָקָם֙</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_32_35_3">וְשִׁלֵּ֔ם</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_35_4">לְעֵ֖ת</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_35_5">תָּמ֣וּט</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_35_6">רַגְלָ֑ם</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_32_35_7">כִּ֤י</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_35_8">קָרוֹב֙</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_35_9">י֣וֹם</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_35_10">אֵידָ֔ם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_32_35_11">וְחָ֖שׁ</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_32_35_12">עֲתִדֹ֥ת</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_32_35_13">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16591">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_36" data-pasuk-now="15"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_36_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16593">־</span><span class="mila" data-lnk="111" data-exlnk="0" id="M_32_36_2">יָדִ֤ין</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_36_3">יְהוָה֙</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_36_4">עַמּ֔וֹ</span>
<span class="mila" data-lnk="3489661929" data-exlnk="0" id="M_32_36_5">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16598">־</span><span class="mila" data-lnk="3758097385" data-exlnk="0" id="M_32_36_6">עֲבָדָ֖יו</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_36_7">יִתְנֶחָ֑ם</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_32_36_8">כִּ֤י</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_32_36_9">יִרְאֶה֙</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_32_36_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16604">־</span><span class="mila" data-lnk="3221226087" data-exlnk="0" id="M_32_36_11">אָ֣זֲלַת</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_32_36_12">יָ֔ד</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_36_13">וְאֶ֖פֶס</span>
<span class="mila" data-lnk="1342177997" data-exlnk="0" id="M_32_36_14">עָצ֥וּר</span>
<span class="mila" data-lnk="4026532559" data-exlnk="0" id="M_32_36_15">וְעָזֽוּב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16610">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_37" data-pasuk-now="6"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_32_37_1">וְאָמַ֖ר</span>
<span class="mila" data-lnk="805306587" data-exlnk="0" id="M_32_37_2">אֵ֣י</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_32_37_3">אֱלֹהֵ֑ימוֹ</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_37_4">צ֖וּר</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_32_37_5">חָסָ֥יוּ</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_37_6">בֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16617">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_38" data-pasuk-now="12"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_32_38_1">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_32_38_2">חֵ֤לֶב</span>
<span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_32_38_3">זְבָחֵ֙ימוֹ֙</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_32_38_4">יֹאכֵ֔לוּ</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_32_38_5">יִשְׁתּ֖וּ</span>
<span class="mila" data-lnk="3221226053" data-exlnk="0" id="M_32_38_6">יֵ֣ין</span>
<span class="mila" data-lnk="3221226053" data-exlnk="0" id="M_32_38_7">נְסִיכָ֑ם</span>
<span class="mila" data-lnk="805306600" data-exlnk="0" id="M_32_38_8">יָק֙וּמוּ֙</span>
<span class="mila" data-lnk="3221226060" data-exlnk="0" id="M_32_38_9">וְיַעְזְרֻכֶ֔ם</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_38_10">יְהִ֥י</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_32_38_11">עֲלֵיכֶ֖ם</span>
<span class="mila" data-lnk="3221226062" data-exlnk="0" id="M_32_38_12">סִתְרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16630">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_39" data-pasuk-now="18"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="4026532603" data-exlnk="0" id="M_32_39_1">רְא֣וּ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="16632">׀</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_32_39_2">עַתָּ֗ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_39_3">כִּ֣י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_39_4">אֲנִ֤י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_39_5">אֲנִי֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_39_6">ה֔וּא</span>
<span class="mila" data-lnk="4026532857" data-exlnk="0" id="M_32_39_7">וְאֵ֥ין</span>
<span class="mila" data-lnk="3758097113" data-exlnk="0" id="M_32_39_8">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_32_39_9">עִמָּדִ֑י</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_39_10">אֲנִ֧י</span>
<span class="mila" data-lnk="108" data-exlnk="0" id="M_32_39_11">אָמִ֣ית</span>
<span class="mila" data-lnk="3221226092" data-exlnk="0" id="M_32_39_12">וַאֲחַיֶּ֗ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_32_39_13">מָחַ֙צְתִּי֙</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_32_39_14">וַאֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_39_15">אֶרְפָּ֔א</span>
<span class="mila" data-lnk="4026532281" data-exlnk="0" id="M_32_39_16">וְאֵ֥ין</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_39_17">מִיָּדִ֖י</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_39_18">מַצִּֽיל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16650">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span class="parashia-header">[ששי]</span>
<span id="PS_32_40" data-pasuk-now="9"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_32_40_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16652">־</span><span class="mila" data-lnk="805306591" data-exlnk="0" id="M_32_40_2">אֶשָּׂ֥א</span>
<span class="mila" data-lnk="1073742429" data-exlnk="0" id="M_32_40_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16655">־</span><span class="mila" data-lnk="3221226077" data-exlnk="0" id="M_32_40_4">שָׁמַ֖יִם</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_32_40_5">יָדִ֑י</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_32_40_6">וְאָמַ֕רְתִּי</span>
<span class="mila" data-lnk="1073742429" data-exlnk="0" id="M_32_40_7">חַ֥י</span>
<span class="mila" data-lnk="3221226077" data-exlnk="0" id="M_32_40_8">אָנֹכִ֖י</span>
<span class="mila" data-lnk="805306584" data-exlnk="0" id="M_32_40_9">לְעֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16662">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_41" data-pasuk-now="12"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="4026532559" data-exlnk="0" id="M_32_41_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16664">־</span><span class="mila" data-lnk="79" data-exlnk="0" id="M_32_41_2">שַׁנּוֹתִי֙</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_32_41_3">בְּרַ֣ק</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_32_41_4">חַרְבִּ֔י</span>
<span class="mila" data-lnk="3221226093" data-exlnk="0" id="M_32_41_5">וְתֹאחֵ֥ז</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_41_6">בְּמִשְׁפָּ֖ט</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_41_7">יָדִ֑י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_32_41_8">אָשִׁ֤יב</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_32_41_9">נָקָם֙</span>
<span class="mila" data-lnk="3221226040" data-exlnk="0" id="M_32_41_10">לְצָרָ֔י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_32_41_11">וְלִמְשַׂנְאַ֖י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_32_41_12">אֲשַׁלֵּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16676">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_42" data-pasuk-now="12"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="3221226057" data-exlnk="0" id="M_32_42_1">אַשְׁכִּ֤יר</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_42_2">חִצַּי֙</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_32_42_3">מִדָּ֔ם</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_42_4">וְחַרְבִּ֖י</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_42_5">תֹּאכַ֣ל</span>
<span class="mila" data-lnk="108" data-exlnk="0" id="M_32_42_6">בָּשָׂ֑ר</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_42_7">מִדַּ֤ם</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_42_8">חָלָל֙</span>
<span class="mila" data-lnk="3221226093" data-exlnk="0" id="M_32_42_9">וְשִׁבְיָ֔ה</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_42_10">מֵרֹ֖אשׁ</span>
<span class="mila" data-lnk="3221226087" data-exlnk="0" id="M_32_42_11">פַּרְע֥וֹת</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_32_42_12">אוֹיֵֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16689">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_43" data-pasuk-now="13"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="4026532815" data-exlnk="0" id="M_32_43_1">הַרְנִ֤ינוּ</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_43_2">גוֹיִם֙</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_43_3">עַמּ֔וֹ</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_32_43_4">כִּ֥י</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_32_43_5">דַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16695">־</span><span class="mila" data-lnk="105" data-exlnk="0" id="M_32_43_6">עֲבָדָ֖יו</span>
<span class="mila" data-lnk="4026532589" data-exlnk="0" id="M_32_43_7">יִקּ֑וֹם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_43_8">וְנָקָם֙</span>
<span class="mila" data-lnk="4026532521" data-exlnk="0" id="M_32_43_9">יָשִׁ֣יב</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_43_10">לְצָרָ֔יו</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_32_43_11">וְכִפֶּ֥ר</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_43_12">אַדְמָת֖וֹ</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_32_43_13">עַמּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16705">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="16706"> פ </span>
</span>
<br /><span class="parashia-header">[שביעי]</span>
<span id="PS_32_44" data-pasuk-now="14"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_44_1">וַיָּבֹ֣א</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_32_44_2">מֹשֶׁ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_44_3">וַיְדַבֵּ֛ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_44_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16711">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_44_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16713">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_44_6">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_32_44_7">הַשִּׁירָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16716">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_32_44_8">הַזֹּ֖את</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_44_9">בְּאָזְנֵ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_44_10">הָעָ֑ם</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_32_44_11">ה֖וּא</span>
<span class="mila" data-lnk="805306543" data-exlnk="0" id="M_32_44_12">וְהוֹשֵׁ֥עַ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_32_44_13">בִּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16723">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_32_44_14">נֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16725">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_45" data-pasuk-now="10"><span class="pasuk-header">[מה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_45_1">וַיְכַ֣ל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_45_2">מֹשֶׁ֗ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_45_3">לְדַבֵּ֛ר</span>
<span class="mila" data-lnk="3489661600" data-exlnk="0" id="M_32_45_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16730">־</span><span class="mila" data-lnk="1342177952" data-exlnk="0" id="M_32_45_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16732">־</span><span class="mila" data-lnk="1342177952" data-exlnk="0" id="M_32_45_6">הַדְּבָרִ֥ים</span>
<span class="mila" data-lnk="2684355232" data-exlnk="0" id="M_32_45_7">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_45_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16736">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_45_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16738">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_45_10">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16740">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_46" data-pasuk-now="22"><span class="pasuk-header">[מו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_46_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_46_2">אֲלֵהֶם֙</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_46_3">שִׂ֣ימוּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_46_4">לְבַבְכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_5">לְכָ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16746">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_6">הַדְּבָרִ֔ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_7">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_8">אָנֹכִ֛י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_9">מֵעִ֥יד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_10">בָּכֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_11">הַיּ֑וֹם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_12">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_32_46_13">תְּצַוֻּם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16756">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_15">בְּנֵיכֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_16">לִשְׁמֹ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_17">לַעֲשׂ֔וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16761">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_19">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16763">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_20">דִּבְרֵ֖י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_21">הַתּוֹרָ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_46_22">הַזֹּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16767">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_47" data-pasuk-now="22"><span class="pasuk-header">[מז]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_47_1">כִּ֠י</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_32_47_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16770">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_32_47_3">דָבָ֨ר</span>
<span class="mila" data-lnk="4026532521" data-exlnk="0" id="M_32_47_4">רֵ֥ק</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_32_47_5">הוּא֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_32_47_6">מִכֶּ֔ם</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_32_47_7">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16776">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_32_47_8">ה֖וּא</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_47_9">חַיֵּיכֶ֑ם</span>
<span class="mila" data-lnk="4026532520" data-exlnk="0" id="M_32_47_10">וּבַדָּבָ֣ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_32_47_11">הַזֶּ֗ה</span>
<span class="mila" data-lnk="4026532520" data-exlnk="0" id="M_32_47_12">תַּאֲרִ֤יכוּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_32_47_13">יָמִים֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_32_47_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16784">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_32_47_15">הָ֣אֲדָמָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_47_16">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_47_17">אַתֶּ֜ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_47_18">עֹבְרִ֧ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_47_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16790">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_47_20">הַיַּרְדֵּ֛ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_47_21">שָׁ֖מָּה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_47_22">לְרִשְׁתָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16795">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="16796"> פ </span>
</span>
<br /><span class="parashia-header">[מפטיר]</span>
<span id="PS_32_48" data-pasuk-now="8"><span class="pasuk-header">[מח]</span>
<span class="mila" data-lnk="1342177921" data-exlnk="0" id="M_32_48_1">וַיְדַבֵּ֤ר</span>
<span class="mila" data-lnk="1342177921" data-exlnk="0" id="M_32_48_2">יְהוָה֙</span>
<span class="mila" data-lnk="1342177921" data-exlnk="0" id="M_32_48_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16800">־</span><span class="mila" data-lnk="2952790657" data-exlnk="0" id="M_32_48_4">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_48_5">בְּעֶ֛צֶם</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_48_6">הַיּ֥וֹם</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_32_48_7">הַזֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_48_8">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16806">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_49" data-pasuk-now="24"><span class="pasuk-header">[מט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_49_1">עֲלֵ֡ה</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_32_49_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16809">־</span><span class="mila" data-lnk="2684355232" data-exlnk="0" id="M_32_49_3">הַר֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_4">הָעֲבָרִ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_49_5">הַזֶּ֜ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_6">הַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16814">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_7">נְב֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_49_8">אֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_49_9">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_49_10">מוֹאָ֔ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_32_49_11">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_32_49_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16821">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_32_49_13">פְּנֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="10" id="M_32_49_14">יְרֵח֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_49_15">וּרְאֵה֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16826">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_17">אֶ֣רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_18">כְּנַ֔עַן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_19">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_49_20">אֲנִ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_21">נֹתֵ֛ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_22">לִבְנֵ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_32_49_23">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_49_24">לַאֲחֻזָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16835">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_50" data-pasuk-now="18"><span class="pasuk-header">[נ]</span>
<span class="mila" data-lnk="3221225988" data-exlnk="0" id="M_32_50_1">וּמֻ֗ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_2">בָּהָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_3">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_4">אַתָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_5">עֹלֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_6">שָׁ֔מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_7">וְהֵאָסֵ֖ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16844">־</span><span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_32_50_9">עַמֶּ֑יךָ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_50_10">כַּאֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16847">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_32_50_11">מֵ֞ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_50_12">אַהֲרֹ֤ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_32_50_13">אָחִ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_14">בְּהֹ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_15">הָהָ֔ר</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_32_50_16">וַיֵּאָ֖סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16855">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_32_50_18">עַמָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16857">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_51" data-pasuk-now="20"><span class="pasuk-header">[נא]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_51_1">עַל֩</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_51_2">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_51_3">מְעַלְתֶּ֜ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_51_4">בִּ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_5">בְּתוֹךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_6">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_7">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_32_51_8">בְּמֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16866">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_9">מְרִיבַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_10">קָדֵ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_11">מִדְבַּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16870">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_12">צִ֑ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_32_51_13">עַ֣ל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_32_51_14">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_32_51_15">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16875">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_32_51_16">קִדַּשְׁתֶּם֙</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_32_51_17">אוֹתִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_18">בְּת֖וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_51_19">בְּנֵ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_32_51_20">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16881">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_52" data-pasuk-now="15"><span class="pasuk-header">[נב]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_52_1">כִּ֥י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_52_2">מִנֶּ֖גֶד</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_52_3">תִּרְאֶ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_32_52_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16886">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_32_52_5">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_32_52_6">וְשָׁ֙מָּה֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_52_7">לֹ֣א</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_32_52_8">תָב֔וֹא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_52_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16892">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_32_52_10">הָאָ֕רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_52_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16895">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_32_52_12">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_52_13">נֹתֵ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_52_14">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_52_15">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16901">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="16902"> פ </span>
</span>
<br /></p>