<p id="PR_21" data-perek-now="563" data-perek-nops="43"><span class="perek-header">פרק כא</span>
<br /><span id="PS_21_1" data-pasuk-now="17"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_1">וַֽיִּגְּשׁ֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_2">רָאשֵׁי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_3">אֲב֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_4">הַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9847">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_6">אֶלְעָזָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_7">הַכֹּהֵ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_8">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9851">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_9">יְהוֹשֻׁ֖עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_10">בִּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9854">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_11">נ֑וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_12">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9857">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_13">רָאשֵׁ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_14">אֲב֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_15">הַמַּטּ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_16">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_17">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9863">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_2" data-pasuk-now="16"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_1">וַיְדַבְּר֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_2">אֲלֵיהֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_3">בְּשִׁלֹ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_4">בְּאֶ֤רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_5">כְּנַ֙עַן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_6">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_7">יְהוָה֙</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_21_2_8">צִוָּ֣ה</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_21_2_9">בְיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9873">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_21_2_10">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_11">לָתֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9876">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_12">לָ֥נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_13">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_14">לָשָׁ֑בֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_15">וּמִגְרְשֵׁיהֶ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_16">לִבְהֶמְתֵּֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9883">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9884"> פ </span>
</span>
<br /><span id="PS_21_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_1">וַיִּתְּנ֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9887">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_3">יִשְׂרָאֵ֧ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_4">לַלְוִיִּ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_5">מִנַּחֲלָתָ֖ם</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_21_3_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9892">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_21_3_7">פִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_8">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9896">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_10">הֶעָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_11">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9900">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_13">מִגְרְשֵׁיהֶֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9902">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_4" data-pasuk-now="20"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_1">וַיֵּצֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_2">הַגּוֹרָ֖ל</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_21_4_3">לְמִשְׁפְּחֹ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_4">הַקֳּהָתִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_5">וַיְהִ֡י</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_21_4_6">לִבְנֵי֩</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_21_4_7">אַהֲרֹ֨ן</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_21_4_8">הַכֹּהֵ֜ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9912">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_10">הַלְוִיִּ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_11">מִמַּטֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_12">יְ֠הוּדָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_13">וּמִמַּטֵּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_14">הַשִּׁמְעֹנִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_15">וּמִמַּטֵּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_16">בִנְיָמִן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_17">בַּגּוֹרָ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_18">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_19">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_20">עֶשְׂרֵֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9925">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9926">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_5_1">וְלִבְנֵ֨י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_5_2">קֳהָ֜ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_5_3">הַנּוֹתָרִ֗ים</span>
<span class="mila" data-lnk="4026532163" data-exlnk="0" id="M_21_5_4">מִמִּשְׁפְּחֹ֣ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_5_5">מַטֵּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9932">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_21_5_6">אֶ֠פְרַיִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_7">וּֽמִמַּטֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9935">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_8">דָ֞ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_9">וּמֵחֲצִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_10">מַטֵּ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_11">מְנַשֶּׁ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_12">בַּגּוֹרָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_13">עָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_14">עָֽשֶׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9944">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9945">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_6" data-pasuk-now="17"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_1">וְלִבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_2">גֵרְשׁ֗וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_3">מִמִּשְׁפְּח֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_4">מַטֵּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9950">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_5">יִשָּׂשכָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_6">וּמִמַּטֵּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9953">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_7">אָ֠שֵׁר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_8">וּמִמַּטֵּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_9">נַפְתָּלִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_10">וּ֠מֵחֲצִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_11">מַטֵּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_12">מְנַשֶּׁ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_13">בַבָּשָׁן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_14">בַּגּוֹרָ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_15">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_16">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_17">עֶשְׂרֵֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9966">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9967">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_1">לִבְנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_2">מְרָרִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_3">לְמִשְׁפְּחֹתָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_4">מִמַּטֵּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_5">רְאוּבֵ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_6">וּמִמַּטֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9974">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_7">גָד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_8">וּמִמַּטֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_9">זְבוּלֻ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_10">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_11">שְׁתֵּ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_12">עֶשְׂרֵֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9982">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9983">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_1">וַיִּתְּנ֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9986">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_3">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_4">לַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9990">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_6">הֶעָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_7">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9994">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_9">מִגְרְשֵׁיהֶ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_10">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_21_8_11">צִוָּ֧ה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_21_8_12">יְהוָ֛ה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_21_8_13">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10000">־</span><span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_21_8_14">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_15">בַּגּוֹרָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10004">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10005"> פ </span>
</span>
<br /><span id="PS_21_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_1">וַֽיִּתְּנ֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_2">מִמַּטֵּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_3">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_4">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_5">וּמִמַּטֵּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_6">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_7">שִׁמְע֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_8">אֵ֚ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_9">הֶעָרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_10">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_9_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10017">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_21_9_12">יִקְרָ֥א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_9_13">אֶתְהֶ֖ן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_9_14">בְּשֵֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10021">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_10" data-pasuk-now="12"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_2">לִבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_3">אַהֲרֹ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_4">מִמִּשְׁפְּח֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_5">הַקֳּהָתִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_6">מִבְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_7">לֵוִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_8">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_9">לָהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_10">הָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_11">הַגּוֹרָ֖ל</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_21_10_12">רִאישֹׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10034">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_11" data-pasuk-now="14"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_1">וַיִּתְּנ֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_2">לָהֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10038">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_4">קִרְיַת֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_5">אַרְבַּ֨ע</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_21_11_6">אֲבִ֧י</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_21_11_7">הָעֲנ֛וֹק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_8">הִ֥יא</span>
<span class="mila" data-lnk="0" data-exlnk="2" id="M_21_11_9">חֶבְר֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_10">בְּהַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_11">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_11_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10048">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_21_11_13">מִגְרָשֶׁ֖הָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_11_14">סְבִיבֹתֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10051">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_21_12_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10053">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_21_12_2">שְׂדֵ֥ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_21_12_3">הָעִ֖יר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_21_12_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10057">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_21_12_5">חֲצֵרֶ֑יהָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_21_12_6">נָ֥תְנ֛וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_21_12_7">לְכָלֵ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_8">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10062">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_9">יְפֻנֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_10">בַּאֲחֻזָּתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10066">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10067">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_21_13_1">וְלִבְנֵ֣י׀</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_21_13_2">אַהֲרֹ֣ן</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_21_13_3">הַכֹּהֵ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_4">נָֽתְנוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10073">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_6">עִיר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_7">מִקְלַ֣ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_8">הָרֹצֵ֔חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10078">־</span><span class="mila" data-lnk="0" data-exlnk="2" id="M_21_13_10">חֶבְר֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10081">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_12">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_13">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10084">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_14">לִבְנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10087">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_16">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10089">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_14" data-pasuk-now="8"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10091">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_2">יַתִּר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10094">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_5">וְאֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10097">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_6">אֶשְׁתְּמֹ֖עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10100">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_8">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10102">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_15" data-pasuk-now="8"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10104">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_21_15_2">חֹלֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10107">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_21_15_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10110">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_21_15_6">דְּבִ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_21_15_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10113">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_21_15_8">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10115">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_16" data-pasuk-now="19"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10117">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_2">עַ֣יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10120">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_4">מִגְרָשֶׁ֗הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10123">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_16_6">יֻטָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10126">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_8">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10129">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_10">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_11">שֶׁ֖מֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10133">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_13">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_14">עָרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_15">תֵּ֔שַׁע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_16">מֵאֵ֕ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_17">שְׁנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_18">הַשְּׁבָטִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_19">הָאֵֽלֶּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10142">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10143">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_17" data-pasuk-now="10"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_1">וּמִמַּטֵּ֣ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_21_17_2">בִנְיָמִ֔ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10147">־</span><span class="mila" data-lnk="0" data-exlnk="2" id="M_21_17_4">גִּבְע֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10150">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_6">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10153">־</span><span class="mila" data-lnk="0" data-exlnk="1" id="M_21_17_8">גֶּ֖בַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10156">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_10">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10158">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10160">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_2">עֲנָתוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10163">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_21_18_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10166">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_21_18_6">עַלְמ֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10169">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_8">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_9">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_10">אַרְבַּֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_19" data-pasuk-now="9"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_21_19_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10175">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_2">עָרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_3">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10178">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_4">אַהֲרֹ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_5">הַכֹּהֲנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_6">שְׁלֹשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10182">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_7">עֶשְׂרֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_8">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_9">וּמִגְרְשֵׁיהֶֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10187">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10188">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_1">וּלְמִשְׁפְּח֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_2">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10191">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_3">קֳהָת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_4">הַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_5">הַנּוֹתָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_6">מִבְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_7">קֳהָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_8">וַֽיְהִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_9">עָרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_10">גֽוֹרָלָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_11">מִמַּטֵּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_20_12">אֶפְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10202">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_21" data-pasuk-now="16"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_1">וַיִּתְּנ֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_2">לָהֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10206">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_4">עִ֨יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_5">מִקְלַ֧ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_6">הָרֹצֵ֛חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10211">־</span><span class="mila" data-lnk="0" data-exlnk="10" id="M_21_21_8">שְׁכֶ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10214">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_10">מִגְרָשֶׁ֖הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_11">בְּהַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_12">אֶפְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_13">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10219">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_14">גֶּ֖זֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10222">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_16">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10224">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_22" data-pasuk-now="11"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10226">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_22_2">קִבְצַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10229">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10232">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_6">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_7">חוֹרֹ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10236">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_9">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_10">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_11">אַרְבַּֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10241">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10242">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_23" data-pasuk-now="10"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_1">וּמִ֨מַּטֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10244">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_2">דָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_3">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10247">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_23_4">אֶלְתְּקֵ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10250">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_6">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_7">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10253">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_8">גִּבְּת֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10256">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_10">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10258">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_24" data-pasuk-now="11"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10260">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_21_24_2">אַיָּלוֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10263">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10266">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_6">גַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10268">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_7">רִמּ֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10271">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_9">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_10">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_11">אַרְבַּֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10275">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_25" data-pasuk-now="14"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_1">וּמִֽמַּחֲצִית֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_2">מַטֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_3">מְנַשֶּׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10280">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_5">תַּעְנַךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10283">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_7">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10286">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_9">גַּ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_10">רִמּ֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10290">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_12">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_13">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_25_14">שְׁתָּֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10294">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_26" data-pasuk-now="8"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_21_26_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10296">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_21_26_2">עָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_3">עֶ֖שֶׂר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_4">וּמִגְרְשֵׁיהֶ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_5">לְמִשְׁפְּח֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_6">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10302">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_7">קֳהָ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_8">הַנּוֹתָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10306">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10307">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_27" data-pasuk-now="22"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_1">וְלִבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_2">גֵרְשׁוֹן֘</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_21_27_3">מִמִּשְׁפְּחֹ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_4">הַלְוִיִּם֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_5">מֵחֲצִ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_6">מַטֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_7">מְנַשֶּׁ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10316">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_9">עִיר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_10">מִקְלַ֣ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_11">הָרֹצֵ֔חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10321">־</span><span data-lnk="0" data-exlnk="0" id="M_21_27_13" class="mila ktiv">גֹּלָ֤ון</span>
<span data-lnk="3221225728" data-exlnk="0" id="M_21_27_13_K" class="mila kri">גּוֹלָ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_14">בַּבָּשָׁן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10326">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_16">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10329">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_27_18">בְּעֶשְׁתְּרָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_19">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10332">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_20">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_21">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_27_22">שְׁתָּֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10337">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10338">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_28" data-pasuk-now="10"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_1">וּמִמַּטֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_2">יִשָּׂשכָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10342">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_28_4">קִשְׁי֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10345">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_6">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10348">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_8">דָּבְרַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10351">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_10">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10353">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_29" data-pasuk-now="11"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10355">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_2">יַרְמוּת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10358">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10361">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_6">עֵ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_7">גַּנִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10365">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_9">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_10">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_11">אַרְבַּֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10370">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10371">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_30" data-pasuk-now="10"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_30_1">וּמִמַּטֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_30_2">אָשֵׁ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_30_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10375">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_21_30_4">מִשְׁאָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_30_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10378">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_30_6">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_30_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10381">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_21_30_8">עַבְדּ֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_30_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10384">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_30_10">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10386">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_31" data-pasuk-now="10"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10388">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_31_2">חֶלְקָת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10391">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10394">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_6">רְחֹ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10397">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_8">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_9">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_31_10">אַרְבַּֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10402">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10403">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_32" data-pasuk-now="22"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_1">וּמִמַּטֵּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_2">נַפְתָּלִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10407">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_4">עִ֣יר׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_5">מִקְלַ֣ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_6">הָרֹצֵ֗חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10412">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_8">קֶ֨דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_9">בַּגָּלִ֤יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10416">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_11">מִגְרָשֶׁהָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10419">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_13">חַמֹּ֥ת</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_21_32_14">דֹּאר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10423">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_16">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10426">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_32_18">קַרְתָּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_19">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10429">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_20">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_21">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_32_22">שָׁלֹֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10433">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_33" data-pasuk-now="8"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_21_33_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10435">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_33_2">עָרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_33_3">הַגֵּרְשֻׁנִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_33_4">לְמִשְׁפְּחֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_33_5">שְׁלֹשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10440">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_33_6">עֶשְׂרֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_33_7">עִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_33_8">וּמִגְרְשֵׁיהֶֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10445">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10446">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_34" data-pasuk-now="16"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_1">וּלְמִשְׁפְּח֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_2">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10449">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_3">מְרָרִי֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_4">הַלְוִיִּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_5">הַנּוֹתָרִים֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_6">מֵאֵת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_7">מַטֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_8">זְבוּלֻ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_9">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10457">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_10">יָקְנֳעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10460">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_12">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10463">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_34_14">קַרְתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10466">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_34_16">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10468">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_35" data-pasuk-now="10"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10470">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_2">דִּמְנָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10473">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_5">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10476">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_21_35_6">נַהֲלָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10479">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_8">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_9">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_35_10">אַרְבַּֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10484">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10485">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_36" data-pasuk-now="15"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_1">וּמִמַּטֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10487">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_2">גָ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10490">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_4">עִיר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_5">מִקְלַ֣ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_6">הָרֹצֵ֔חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10495">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_8">רָמֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_9">בַּגִּלְעָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10499">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_11">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_12">וְאֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10502">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_13">מַחֲנַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10505">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_36_15">מִגְרָשֶֽׁהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10507">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_37" data-pasuk-now="11"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10509">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_2">חֶשְׁבּוֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10512">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_4">מִגְרָשֶׁ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10515">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_6">יַעְזֵ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10518">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_8">מִגְרָשֶׁ֑הָ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_21_37_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10521">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_21_37_10">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_37_11">אַרְבַּֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10524">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_38" data-pasuk-now="13"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_21_38_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10526">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_2">הֶ֨עָרִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_3">לִבְנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_4">מְרָרִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_5">לְמִשְׁפְּחֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_6">הַנּוֹתָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_7">מִמִּשְׁפְּח֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_8">הַלְוִיִּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_9">וַֽיְהִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_10">גּוֹרָלָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_11">עָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_12">שְׁתֵּ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_38_13">עֶשְׂרֵֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10539">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_39" data-pasuk-now="11"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_21_39_1">כֹּ֚ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_2">עָרֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_3">הַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_4">בְּת֖וֹךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_5">אֲחֻזַּ֣ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_6">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10546">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_7">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_8">עָרִ֛ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_9">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_39_10">וּשְׁמֹנֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_39_11">וּמִגְרְשֵׁיהֶֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10552">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_40" data-pasuk-now="11"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_40_1">תִּֽהְיֶ֙ינָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_40_2">הֶעָרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_40_3">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_40_4">עִ֣יר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_40_5">עִ֔יר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_40_6">וּמִגְרָשֶׁ֖יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_40_7">סְבִיבֹתֶ֑יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_40_8">כֵּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_40_9">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10562">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_40_10">הֶעָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_40_11">הָאֵֽלֶּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10566">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10567">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_41" data-pasuk-now="13"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_1">וַיִּתֵּ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_2">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_3">לְיִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_21_41_4">אֶ֨ת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10572">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_21_41_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10574">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_21_41_6">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_8">נִשְׁבַּ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_9">לָתֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_10">לַאֲבוֹתָ֑ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_21_41_11">וַיִּרָשׁ֖וּהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_12">וַיֵּ֥שְׁבוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_41_13">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10583">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_42" data-pasuk-now="20"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_21_42_1">וַיָּ֨נַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_2">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_3">לָהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_4">מִסָּבִ֔יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_5">כְּכֹ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10590">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_7">נִשְׁבַּ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_8">לַאֲבוֹתָ֑ם</span>
<span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_21_42_9">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10594">־</span><span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_21_42_10">עָ֨מַד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_42_11">אִ֤ישׁ</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_21_42_12">בִּפְנֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_13">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10599">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_14">אֹ֣יְבֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_15">אֵ֚ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_16">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10603">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_17">אֹ֣יְבֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_18">נָתַ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_19">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_42_20">בְּיָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10608">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_43" data-pasuk-now="14"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_21_43_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10610">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_2">נָפַ֣ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_3">דָּבָ֔ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_4">מִכֹּל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_5">הַדָּבָ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_6">הַטּ֔וֹב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10617">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_8">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_43_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10621">־</span><span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_21_43_11">בֵּ֣ית</span>
<span class="mila" data-lnk="2952790344" data-exlnk="0" id="M_21_43_12">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_21_43_13">הַכֹּ֖ל</span>
<span class="mila" data-lnk="2147483912" data-exlnk="0" id="M_21_43_14">בָּֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10627">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10628"> פ </span>
</span>
<br /></p>