<p id="PR_4" data-perek-now="390" data-perek-nops="24"><span class="perek-header">פרק ד</span>
<br /><span id="PS_4_1" data-pasuk-now="13"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_2">כַּאֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1249">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_3">תַּ֣מּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_4">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1252">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_5">הַגּ֔וֹי</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_1_6">לַעֲב֖וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1256">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="1257">הַיַּרְדֵּ֑ן</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="M_4_1_8"> פ </span>
<br /><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_9">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_10">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1263">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_12">יְהוֹשֻׁ֖עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_13">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1266">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_2" data-pasuk-now="12"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_1">קְח֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_2">לָכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_3">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1270">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_4">הָעָ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_2_5">שְׁנֵ֥ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_2_6">עָשָׂ֖ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_2_7">אֲנָשִׁ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_8">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1276">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_9">אֶחָ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_10">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1279">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_11">אֶחָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_2_12">מִשָּֽׁבֶט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1282">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_3" data-pasuk-now="25"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_3_1">וְצַוּ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_2">אוֹתָם֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_3">לֵאמֹר֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_4">שְׂאֽוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1287">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_5">לָכֶ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_6">מִזֶּ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_7">מִתּ֣וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_8">הַיַּרְדֵּ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_9">מִמַּצַּב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_10">רַגְלֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_11">הַכֹּהֲנִ֔ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_4_3_12">הָכִ֖ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_13">שְׁתֵּים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1297">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_14">עֶשְׂרֵ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_15">אֲבָנִ֑ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_3_16">וְהַעֲבַרְתֶּ֤ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_3_17">אוֹתָם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_3_18">עִמָּכֶ֔ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_3_19">וְהִנַּחְתֶּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_20">אוֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_21">בַּמָּל֕וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_22">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1307">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_23">תָּלִ֥ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_24">ב֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_3_25">הַלָּֽיְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1312">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1313">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_4_1">וַיִּקְרָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_4_2">יְהוֹשֻׁ֗עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_4_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1317">־</span><span class="mila" data-lnk="3489661384" data-exlnk="0" id="M_4_4_4">שְׁנֵ֤ים</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_4_4_5">הֶעָשָׂר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_6">אִ֔ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_8">הֵכִ֖ין</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_9">מִבְּנֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_10">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_11">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1326">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_12">אֶחָ֥ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_13">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1329">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_14">אֶחָ֖ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_4_15">מִשָּֽׁבֶט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1332">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_5" data-pasuk-now="22"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_5_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_5_2">לָהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_3">יְהוֹשֻׁ֔עַ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_5_4">עִ֠בְרוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_5_5">לִפְנֵ֨י</span>
<span class="mila" data-lnk="268435521" data-exlnk="0" id="M_4_5_6">אֲר֧וֹן</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_4_5_7">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_8">אֱלֹהֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1342">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_10">תּ֣וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_11">הַיַּרְדֵּ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_12">וְהָרִ֨ימוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_13">לָכֶ֜ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_5_14">אִ֣ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_5_15">אֶ֤בֶן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_5_16">אַחַת֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_5_17">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1351">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_4_5_18">שִׁכְמ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_19">לְמִסְפַּ֖ר</span>
<span class="mila" data-lnk="3489661376" data-exlnk="0" id="M_4_5_20">שִׁבְטֵ֥י</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_4_5_21">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1356">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_4_5_22">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1358">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_1">לְמַ֗עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_2">תִּֽהְיֶ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_3">זֹ֥את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_4">א֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_5">בְּקִרְבְּכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1365">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_6_7">יִשְׁאָל֨וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_8">בְּנֵיכֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_9">מָחָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_10">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_11">מָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_12">הָאֲבָנִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_13">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_6_14">לָכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1374">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_7" data-pasuk-now="23"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_4_7_1">וַאֲמַרְתֶּ֣ם</span>
<span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_4_7_2">לָהֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_3">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_4">נִכְרְת֜וּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_7_5">מֵימֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_6">הַיַּרְדֵּן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_7">מִפְּנֵי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_8">אֲר֣וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_9">בְּרִית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1384">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_10">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_11">בְּעָבְרוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_12">בַּיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_13">נִכְרְת֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_14">מֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_15">הַיַּרְדֵּ֑ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_7_16">וְ֠הָיוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_7_17">הָאֲבָנִ֨ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_7_18">הָאֵ֧לֶּה</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_4_7_19">לְזִכָּר֛וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_20">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_21">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_22">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1398">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_7_23">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1400">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_8" data-pasuk-now="28"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_1">וַיַּעֲשׂוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1402">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_2">כֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_3">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1405">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_4">יִשְׂרָאֵל֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_5">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_6">צִוָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_7">יְהוֹשֻׁעַ֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_8">וַיִּשְׂא֡וּ</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_4_8_9">שְׁתֵּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1412">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_4_8_10">עֶשְׂרֵ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_11">אֲבָנִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_12">מִתּ֣וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_13">הַיַּרְדֵּ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_14">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_15">דִּבֶּ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_16">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1421">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_18">יְהוֹשֻׁ֔עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_19">לְמִסְפַּ֖ר</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_4_8_20">שִׁבְטֵ֣י</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_4_8_21">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1426">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_8_22">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_4_8_23">וַיַּעֲבִר֤וּם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_24">עִמָּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_25">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1431">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_26">הַמָּל֔וֹן</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_8_27">וַיַּנִּח֖וּם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_28">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1435">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_9" data-pasuk-now="19"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_1">וּשְׁתֵּ֧ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_2">עֶשְׂרֵ֣ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_3">אֲבָנִ֗ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_4">הֵקִ֣ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_5">יְהוֹשֻׁעַ֘</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_6">בְּת֣וֹךְ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_7">הַיַּרְדֵּן֒</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_9_8">תַּ֗חַת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_9_9">מַצַּב֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_9_10">רַגְלֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_9_11">הַכֹּהֲנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_12">נֹשְׂאֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_13">אֲר֣וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_14">הַבְּרִ֑ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_15">וַיִּ֣הְיוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_16">שָׁ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_17">עַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_18">הַיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_19">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1455">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_10" data-pasuk-now="27"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_1">וְהַכֹּהֲנִ֞ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_2">נֹשְׂאֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_3">הָאָר֗וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_4">עֹמְדִים֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_5">בְּת֣וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_6">הַיַּרְדֵּן֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_10_7">עַ֣ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_10_8">תֹּ֣ם</span>
<span class="mila" data-lnk="268435521" data-exlnk="0" id="M_4_10_9">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1465">־</span><span class="mila" data-lnk="536870977" data-exlnk="0" id="M_4_10_10">הַ֠דָּבָר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1468">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_12">צִוָּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_13">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1472">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_15">יְהוֹשֻׁעַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_16">לְדַבֵּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1476">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_18">הָעָ֔ם</span>
<span class="mila" data-lnk="3489661376" data-exlnk="0" id="M_4_10_19">כְּכֹ֛ל</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_4_10_20">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1480">־</span><span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_4_10_21">צִוָּ֥ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_4_10_22">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_23">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1484">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_24">יְהוֹשֻׁ֑עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_25">וַיְמַהֲר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_10_26">הָעָ֖ם</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_4_10_27">וַֽיַּעֲבֹֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1489">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="805306433" data-exlnk="0" id="M_4_11_1">וַיְהִ֛י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_11_2">כַּאֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1492">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_4_11_3">תַּ֥ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_11_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1495">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_4_11_5">הָעָ֖ם</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_4_11_6">לַעֲב֑וֹר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_4_11_7">וַיַּעֲבֹ֧ר</span>
<span class="mila" data-lnk="268435553" data-exlnk="0" id="M_4_11_8">אֲרוֹן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1500">־</span><span class="mila" data-lnk="805306464" data-exlnk="0" id="M_4_11_9">יְהוָ֛ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_4_11_10">וְהַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_4_11_11">לִפְנֵ֥י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_4_11_12">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1505">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_12" data-pasuk-now="16"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_1">וַ֠יַּעַבְרוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_2">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1508">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_3">רְאוּבֵ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_4">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1511">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_5">גָ֜ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_6">וַחֲצִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_7">שֵׁ֤בֶט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_8">הַֽמֲנַשֶּׁה֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_12_9">חֲמֻשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_10">לִפְנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_11">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_12">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_13">כַּאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_14">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_15">אֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_16">מֹשֶֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1524">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_4_13_1">כְּאַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_4_13_2">אֶ֖לֶף</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_4_13_3">חֲלוּצֵ֣י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_4_13_4">הַצָּבָ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_5">עָבְר֞וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_6">לִפְנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_7">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_8">לַמִּלְחָמָ֔ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_4_13_9">אֶ֖ל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_4_13_10">עַֽרְב֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="10" id="M_4_13_11">יְרִיחֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1537">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1538">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_14" data-pasuk-now="18"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_1">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_2">הַה֗וּא</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_14_3">גִּדַּ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_4">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1544">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_6">יְהוֹשֻׁ֔עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_7">בְּעֵינֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1548">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_9">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_4_14_10">וַיִּֽרְא֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_11">אֹת֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_12">כַּאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_13">יָֽרְא֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1555">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_14_15">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_4_14_16">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1558">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_4_14_17">יְמֵ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_4_14_18">חַיָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1562">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1563"> פ </span>
</span>
<br /><span id="PS_4_15" data-pasuk-now="5"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_15_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_15_2">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_15_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1567">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_15_4">יְהוֹשֻׁ֖עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_15_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1570">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_4_16_1">צַוֵּה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_16_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1573">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_4_16_3">הַכֹּ֣הֲנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_16_4">נֹשְׂאֵ֖י</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_4_16_5">אֲר֣וֹן</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_4_16_6">הָעֵד֑וּת</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_4_16_7">וְיַעֲל֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_16_8">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1580">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_4_16_9">הַיַּרְדֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1582">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_17_1">וַיְצַ֣ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_17_2">יְהוֹשֻׁ֔עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_17_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1586">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_17_4">הַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_17_5">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_17_6">עֲל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_17_7">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1591">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_17_8">הַיַּרְדֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1593">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_18" data-pasuk-now="25"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_1">וַ֠יְהִי</span>
<span data-lnk="0" data-exlnk="0" id="M_4_18_2" class="mila ktiv">בַּעֲל֨וֹת</span>
<span data-lnk="4026532288" data-exlnk="0" id="M_4_18_2_K" class="mila kri">כַּעֲל֨וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_3">הַכֹּהֲנִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_4">נֹשְׂאֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_5">אֲר֤וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_6">בְּרִית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1601">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_7">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_8">מִתּ֣וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_9">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="1073742129" data-exlnk="0" id="M_4_18_10">נִתְּק֗וּ</span>
<span class="mila" data-lnk="2147483953" data-exlnk="0" id="M_4_18_11">כַּפּוֹת֙</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_4_18_12">רַגְלֵ֣י</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_4_18_13">הַכֹּהֲנִ֔ים</span>
<span class="mila" data-lnk="268435569" data-exlnk="0" id="M_4_18_14">אֶ֖ל</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_4_18_15">הֶחָרָבָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_18_16">וַיָּשֻׁ֤בוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_18_17">מֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1613">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_4_18_18">הַיַּרְדֵּן֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_18_19">לִמְקוֹמָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_18_20">וַיֵּלְכ֥וּ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_4_18_21">כִתְמוֹל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1618">־</span><span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_4_18_22">שִׁלְשׁ֖וֹם</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_4_18_23">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1621">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_4_18_24">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1623">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_18_25">גְּדוֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1625">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_19" data-pasuk-now="12"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_19_1">וְהָעָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_19_2">עָלוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_19_3">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1629">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_19_4">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_19_5">בֶּעָשׂ֖וֹר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_19_6">לַחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_4_19_7">הָרִאשׁ֑וֹן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_19_8">וַֽיַּחֲנוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_19_9">בַּגִּלְגָּ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_19_10">בִּקְצֵ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_19_11">מִזְרַ֥ח</span>
<span class="mila" data-lnk="0" data-exlnk="10" id="M_4_19_12">יְרִיחֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1639">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_1">וְאֵת֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_2">שְׁתֵּ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_3">עֶשְׂרֵ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_4">הָֽאֲבָנִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_5">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_6">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_7">לָקְח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_8">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1648">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_20_9">הַיַּרְדֵּ֑ן</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_20_10">הֵקִ֥ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_20_11">יְהוֹשֻׁ֖עַ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_20_12">בַּגִּלְגָּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1653">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_21" data-pasuk-now="15"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_4_21_1">וַיֹּ֛אמֶר</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_4_21_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1656">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_4_21_3">בְּנֵ֥י</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_4_21_4">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_5">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_6">אֲשֶׁר֩</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_4_21_7">יִשְׁאָל֨וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_8">בְּנֵיכֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_9">מָחָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1665">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_11">אֲבוֹתָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_12">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_13">מָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_14">הָאֲבָנִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_21_15">הָאֵֽלֶּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1671">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_22" data-pasuk-now="10"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_4_22_1">וְהוֹדַעְתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_22_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1674">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_22_3">בְּנֵיכֶ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_22_4">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_4_22_5">בַּיַּבָּשָׁה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_22_6">עָבַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_22_7">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_22_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1681">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_22_9">הַיַּרְדֵּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_22_10">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1684">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_23" data-pasuk-now="21"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_1">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1686">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_4_23_2">הוֹבִישׁ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_3">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_4">אֱלֹהֵיכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1691">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_6">מֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_7">הַיַּרְדֵּ֛ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_4_23_8">מִפְּנֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_9">עַֽד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1696">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_10">עָבְרְכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_11">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_12">עָשָׂה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_13">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_14">אֱלֹהֵיכֶ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_15">לְיַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1703">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_16">ס֛וּף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1706">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_18">הוֹבִ֥ישׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_4_23_19">מִפָּנֵ֖ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_20">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1710">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_23_21">עָבְרֵֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1712">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_1">לְ֠מַעַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_2">דַּ֜עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1716">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_4">עַמֵּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_5">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1720">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_7">יַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_8">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_9">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_10">חֲזָקָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_11">הִ֑יא</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_4_24_12">לְמַ֧עַן</span>
<span class="mila" data-lnk="3221225776" data-exlnk="0" id="M_4_24_13">יְרָאתֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1729">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_16">אֱלֹהֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_17">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1733">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_24_18">הַיָּמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1736">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1737"> פ </span>
</span>
<br /></p>