<p id="PR_14" data-perek-now="278" data-perek-nops="15"><span class="perek-header">פרק יד</span>
<br /><span id="PS_14_1" data-pasuk-now="20"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_14_1_1">וְאֵ֛לֶּה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_1_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6896">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_1_3">נָחֲל֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6899">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_5">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_6">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_7">כְּנָ֑עַן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_1_8">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="4026532289" data-exlnk="0" id="M_14_1_9">נִחֲל֜וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_1_10">אוֹתָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_11">אֶלְעָזָ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_12">הַכֹּהֵן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_13">וִיהוֹשֻׁ֣עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_14">בִּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6910">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_15">נ֔וּן</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_1_16">וְרָאשֵׁ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_17">אֲב֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_18">הַמַּטּ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_19">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_20">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6917">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_2" data-pasuk-now="11"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_2_1">בְּגוֹרַ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_2">נַחֲלָתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_3">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_2_4">צִוָּ֤ה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_2_5">יְהוָה֙</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_2_6">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6924">־</span><span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_14_2_7">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_8">לְתִשְׁעַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_9">הַמַּטּ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_10">וַחֲצִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_11">הַמַּטֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6930">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6932">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_2">נָתַ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_3">מֹשֶׁ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_4">נַחֲלַ֨ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_5">שְׁנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_6">הַמַּטּוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_7">וַחֲצִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_8">הַמַּטֶּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_9">מֵעֵ֖בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_10">לַיַּרְדֵּ֑ן</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_14_3_11">וְלַ֨לְוִיִּ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_3_12">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6944">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_3_13">נָתַ֥ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_3_14">נַחֲלָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_3_15">בְּתוֹכָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6948">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_4" data-pasuk-now="20"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6950">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_2">הָי֧וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_3">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6953">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_4">יוֹסֵ֛ף</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_5">שְׁנֵ֥י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_6">מַטּ֖וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_4_7">מְנַשֶּׁ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_4_8">וְאֶפְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_9">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6960">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_10">נָתְנוּ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_11">חֵ֨לֶק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_12">לַלְוִיִּ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_13">בָּאָ֗רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_14">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_15">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6967">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_16">עָרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_17">לָשֶׁ֔בֶת</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_4_18">וּמִ֨גְרְשֵׁיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_19">לְמִקְנֵיהֶ֖ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_4_20">וּלְקִנְיָנָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6973">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_1">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_2">צִוָּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_3">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6978">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_5">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_6">כֵּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_7">עָשׂ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_8">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_9">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_5_10">וַֽיַּחְלְק֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6986">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_12">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6989">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6990"> פ </span>
</span>
<br /><span id="PS_14_6" data-pasuk-now="29"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_1">וַיִּגְּשׁ֨וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6993">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_3">יְהוּדָ֤ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6996">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_5">יְהוֹשֻׁעַ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_6">בַּגִּלְגָּ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_7">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_8">אֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_9">כָּלֵ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_10">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7003">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_11">יְפֻנֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_12">הַקְּנִזִּ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_13">אַתָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_14">יָדַ֡עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_15">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7009">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_16">הַדָּבָר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7012">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_18">דִּבֶּ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_19">יְהוָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_20">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7016">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_6_21">מֹשֶׁ֣ה</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_14_6_22">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7019">־</span><span class="mila" data-lnk="2684355008" data-exlnk="0" id="M_14_6_23">הָאֱלֹהִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_24">עַ֧ל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_6_25">אֹדוֹתַ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_26">וְעַ֥ל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_6_27">אֹדוֹתֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_28">בְּקָדֵ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_29">בַּרְנֵֽעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7027">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_7" data-pasuk-now="20"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_7_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7029">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_7_2">אַרְבָּעִ֨ים</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_7_3">שָׁנָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_4">אָנֹכִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_5">בִּ֠שְׁלֹחַ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_14_7_6">מֹשֶׁ֨ה</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_14_7_7">עֶבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7036">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_14_7_8">יְהוָ֥ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_7_9">אֹתִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_10">מִקָּדֵ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_11">בַּרְנֵ֖עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_12">לְרַגֵּ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7043">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_14">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_7_15">וָאָשֵׁ֤ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_16">אֹתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_17">דָּבָ֔ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_7_18">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_7_19">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7050">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_14_7_20">לְבָבִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7052">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_8" data-pasuk-now="13"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_1">וְאַחַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_2">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_3">עָל֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_4">עִמִּ֔י</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_14_8_5">הִמְסִ֖יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_14_8_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7059">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_14_8_7">לֵ֣ב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_14_8_8">הָעָ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_8_9">וְאָנֹכִ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_8_10">מִלֵּ֔אתִי</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_14_8_11">אַחֲרֵ֖י</span>
<span class="mila" data-lnk="1342177602" data-exlnk="0" id="M_14_8_12">יְהוָ֥ה</span>
<span class="mila" data-lnk="3758096706" data-exlnk="0" id="M_14_8_13">אֱלֹהָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7067">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_9" data-pasuk-now="23"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_1">וַיִּשָּׁבַ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_2">מֹשֶׁ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_3">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_4">הַהוּא֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_5">לֵאמֹר֒</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_6">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7074">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_7">לֹ֗א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_8">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_9">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_14_9_10">דָּרְכָ֤ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_11">רַגְלְךָ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_12">בָּ֔הּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_13">לְךָ֨</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_14">תִהְיֶ֧ה</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_14_9_15">לְנַחֲלָ֛ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_16">וּלְבָנֶ֖יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_17">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7086">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_9_18">עוֹלָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_19">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_20">מִלֵּ֔אתָ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_9_21">אַחֲרֵ֖י</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_9_22">יְהוָ֥ה</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_14_9_23">אֱלֹהָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7093">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_10" data-pasuk-now="31"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_10_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_10_2">הִנֵּה֩</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_10_3">הֶחֱיָ֨ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_10_4">יְהוָ֥ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="7098">׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_10_5">אוֹתִי֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_6">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_10_7">דִּבֵּר֒</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_10_8">זֶה֩</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_10_9">אַרְבָּעִ֨ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_10_10">וְחָמֵ֜שׁ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_10_11">שָׁנָ֗ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_10_12">מֵ֠אָז</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_10_13">דִּבֶּ֨ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_10_14">יְהוָ֜ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_10_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7110">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_10_16">הַדָּבָ֤ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_10_17">הַזֶּה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_10_18">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7114">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_10_19">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_20">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7117">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_21">הָלַ֥ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_22">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_23">בַּמִּדְבָּ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_24">וְעַתָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_25">הִנֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_26">אָנֹכִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_27">הַיּ֔וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_28">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7126">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_29">חָמֵ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_30">וּשְׁמֹנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_31">שָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7130">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_1">עוֹדֶ֨נִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_2">הַיּ֜וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_3">חָזָ֗ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_4">כַּֽאֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_5">בְּי֨וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_6">שְׁלֹ֤חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_7">אוֹתִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_8">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_14_11_9">כְּכֹ֥חִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_11_10">אָ֖ז</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_14_11_11">וּכְכֹ֣חִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_11_12">עָ֑תָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_13">לַמִּלְחָמָ֖ה</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_14_11_14">וְלָצֵ֥את</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_11_15">וְלָבֽוֹא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7146">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_12" data-pasuk-now="29"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_12_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_12_2">תְּנָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7149">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_14_12_3">לִּי֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_12_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7152">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_14_12_5">הָהָ֣ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_12_6">הַזֶּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7156">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_8">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_10">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_11">הַה֑וּא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_12_12">כִּ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_12_13">אַתָּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7163">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_12_14">שָׁמַעְתָּ֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_12_15">בַיּ֨וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_12_16">הַה֜וּא</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_14_12_17">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7168">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_14_12_18">עֲנָקִ֣ים</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_14_12_19">שָׁ֗ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_14_12_20">וְעָרִים֙</span>
<span class="mila" data-lnk="1073742114" data-exlnk="0" id="M_14_12_21">גְּדֹל֣וֹת</span>
<span class="mila" data-lnk="2147483906" data-exlnk="0" id="M_14_12_22">בְּצֻר֔וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_12_23">אוּלַ֨י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_12_24">יְהוָ֤ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_12_25">אוֹתִי֙</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_14_12_26">וְה֣וֹרַשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_27">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_28">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_29">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7181">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_1">וַֽיְבָרֲכֵ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_2">יְהוֹשֻׁ֑עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_3">וַיִּתֵּ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7186">־</span><span class="mila" data-lnk="0" data-exlnk="2" id="M_14_13_5">חֶבְר֛וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_6">לְכָלֵ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7190">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_8">יְפֻנֶּ֖ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_13_9">לְנַחֲלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7193">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_14" data-pasuk-now="19"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7195">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_2">כֵּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_3">הָיְתָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7198">־</span><span class="mila" data-lnk="0" data-exlnk="2" id="M_14_14_4">חֶ֠בְרוֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_5">לְכָלֵ֨ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7202">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_7">יְפֻנֶּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_8">הַקְּנִזִּי֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_14_14_9">לְֽנַחֲלָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_10">עַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_11">הַיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_12">הַזֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_13">יַ֚עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_14">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_15">מִלֵּ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_16">אַחֲרֵ֕י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_17">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_18">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_19">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7216">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_15" data-pasuk-now="12"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_14_15_1">וְשֵׁ֨ם</span>
<span class="mila" data-lnk="2" data-exlnk="2" id="M_14_15_2">חֶבְר֤וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_15_3">לְפָנִים֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_15_4">קִרְיַ֣ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_15_5">אַרְבַּ֔ע</span>
<span class="mila" data-lnk="1073742083" data-exlnk="0" id="M_14_15_6">הָאָדָ֧ם</span>
<span class="mila" data-lnk="3221225731" data-exlnk="0" id="M_14_15_7">הַגָּד֛וֹל</span>
<span class="mila" data-lnk="3221225731" data-exlnk="0" id="M_14_15_8">בָּעֲנָקִ֖ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_15_9">ה֑וּא</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_14_15_10">וְהָאָ֥רֶץ</span>
<span class="mila" data-lnk="1879048547" data-exlnk="0" id="M_14_15_11">שָֽׁקְטָ֖ה</span>
<span class="mila" data-lnk="3758096739" data-exlnk="0" id="M_14_15_12">מִמִּלְחָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7230">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7231"> פ </span>
</span>
<br /></p>