<p id="PR_24" data-perek-now="574" data-perek-nops="33"><span class="perek-header">פרק כד</span>
<br /><span id="PS_24_1" data-pasuk-now="16"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_1">וַיֶּאֱסֹ֧ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_2">יְהוֹשֻׁ֛עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11847">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_1_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11849">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_1_5">שִׁבְטֵ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_1_6">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="4026532168" data-exlnk="10" id="M_24_1_7">שְׁכֶ֑מָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_8">וַיִּקְרָא֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_9">לְזִקְנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_10">יִשְׂרָאֵ֜ל</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_1_11">וּלְרָאשָׁ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_12">וּלְשֹֽׁפְטָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_13">וּלְשֹׁ֣טְרָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_14">וַיִּֽתְיַצְּב֖וּ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_24_1_15">לִפְנֵ֥י</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_24_1_16">הָאֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11862">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_2" data-pasuk-now="23"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_2">יְהוֹשֻׁ֜עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11866">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11868">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_5">הָעָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_6">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11871">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_7">אָמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_8">יְהוָה֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_9">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_10">יִשְׂרָאֵל֒</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_2_11">בְּעֵ֣בֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_2_12">הַנָּהָ֗ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_2_13">יָשְׁב֤וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_2_14">אֲבֽוֹתֵיכֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_2_15">מֵֽעוֹלָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_16">תֶּ֛רַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_17">אֲבִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_18">אַבְרָהָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_19">וַאֲבִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_20">נָח֑וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_21">וַיַּעַבְד֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_22">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_23">אֲחֵרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11889">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_3" data-pasuk-now="19"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_1">וָ֠אֶקַּח</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_3_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11892">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_3">אֲבִיכֶ֤ם</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_3_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11895">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_5">אַבְרָהָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_6">מֵעֵ֣בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_7">הַנָּהָ֔ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_3_8">וָאוֹלֵ֥ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_9">אֹת֖וֹ</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_24_3_10">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11902">־</span><span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_24_3_11">אֶ֣רֶץ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_3_12">כְּנָ֑עַן</span>
<span data-lnk="0" data-exlnk="0" id="M_24_3_13" class="mila ktiv">וָֽאַרְבֶּ֙</span>
<span data-lnk="3221225729" data-exlnk="0" id="M_24_3_13_K" class="mila kri">וָֽאַרְבֶּה֙</span>
<span class="mila" data-lnk="805306433" data-exlnk="0" id="M_24_3_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11908">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_24_3_15">זַרְע֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_16">וָאֶתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11911">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_17">ל֖וֹ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_3_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11914">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_19">יִצְחָֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11916">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_4" data-pasuk-now="17"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_1">וָאֶתֵּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_2">לְיִצְחָ֔ק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_4_3">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11920">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_4_4">יַעֲקֹ֖ב</span>
<span class="mila" data-lnk="3489661384" data-exlnk="0" id="M_24_4_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11923">־</span><span class="mila" data-lnk="3758096840" data-exlnk="0" id="M_24_4_6">עֵשָׂ֑ו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_4_7">וָאֶתֵּ֨ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_4_8">לְעֵשָׂ֜ו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_4_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11928">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_4_10">הַ֤ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_4_11">שֵׂעִיר֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_4_12">לָרֶ֣שֶׁת</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_24_4_13">אוֹת֔וֹ</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_24_4_14">וְיַעֲקֹ֥ב</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_24_4_15">וּבָנָ֖יו</span>
<span class="mila" data-lnk="1342177736" data-exlnk="0" id="M_24_4_16">יָרְד֥וּ</span>
<span class="mila" data-lnk="3758096840" data-exlnk="0" id="M_24_4_17">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11937">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_1">וָאֶשְׁלַ֞ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11940">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_3">מֹשֶׁ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_4">וְאֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11943">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_5">אַהֲרֹן֙</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_5_6">וָאֶגֹּ֣ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11947">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_8">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_9">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_10">עָשִׂ֖יתִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_11">בְּקִרְבּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_12">וְאַחַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_13">הוֹצֵ֥אתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_14">אֶתְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11955">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_24_6_1">וָאוֹצִ֤יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11958">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_3">אֲבֽוֹתֵיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_4">מִמִּצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_5">וַתָּבֹ֖אוּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_6_6">הַיָּ֑מָּה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_6_7">וַיִּרְדְּפ֨וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_6_8">מִצְרַ֜יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_9">אַחֲרֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_10">אֲבוֹתֵיכֶ֛ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_6_11">בְּרֶ֥כֶב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_6_12">וּבְפָרָשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_13">יַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11970">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_14">סֽוּף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11972">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_7" data-pasuk-now="23"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_7_1">וַיִּצְעֲק֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11975">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_4">וַיָּ֨שֶׂם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_7_5">מַאֲפֵ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_6">בֵּינֵיכֶ֣ם׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_7">וּבֵ֣ין</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_7_8">הַמִּצְרִ֗ים</span>
<span class="mila" data-lnk="805306433" data-exlnk="0" id="M_24_7_9">וַיָּבֵ֨א</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_24_7_10">עָלָ֤יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_7_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11985">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_24_7_12">הַיָּם֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_7_13">וַיְכַסֵּ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_14">וַתִּרְאֶ֙ינָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_15">עֵינֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_16">אֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11992">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_18">עָשִׂ֖יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_19">בְּמִצְרָ֑יִם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_7_20">וַתֵּשְׁב֥וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_24_7_21">בַמִּדְבָּ֖ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_24_7_22">יָמִ֥ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_24_7_23">רַבִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11999">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_8" data-pasuk-now="18"><span class="pasuk-header">[ח]</span>
<span data-lnk="0" data-exlnk="0" id="M_24_8_1" class="mila ktiv">וָאָבִ֣אה</span>
<span data-lnk="3221225728" data-exlnk="0" id="M_24_8_1_K" class="mila kri">וָאָבִ֣יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_2">אֶתְכֶ֗ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_8_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12004">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_8_4">אֶ֤רֶץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_8_5">הָאֱמֹרִי֙</span>
<span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_24_8_6">הַיּוֹשֵׁב֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_8_7">בְּעֵ֣בֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_8_8">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_8_9">וַיִּֽלָּחֲמ֖וּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_8_10">אִתְּכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_11">וָאֶתֵּ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_12">אוֹתָ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_13">בְּיֶדְכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_14">וַתִּירְשׁ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12017">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_16">אַרְצָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_17">וָאַשְׁמִידֵ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_18">מִפְּנֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12021">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_1">וַיָּ֨קָם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_9_2">בָּלָ֤ק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_9_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12025">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_9_4">צִפּוֹר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_5">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_6">מוֹאָ֔ב</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_9_7">וַיִּלָּ֖חֶם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_24_9_8">בְּיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_9_9">וַיִּשְׁלַ֗ח</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_9_10">וַיִּקְרָ֛א</span>
<span class="mila" data-lnk="2147483912" data-exlnk="0" id="M_24_9_11">לְבִלְעָ֥ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_9_12">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12035">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_9_13">בְּע֖וֹר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_9_14">לְקַלֵּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_15">אֶתְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12039">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_1">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_2">אָבִ֖יתִי</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_10_3">לִשְׁמֹ֣עַ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_10_4">לְבִלְעָ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_10_5">וַיְבָ֤רֶךְ</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_24_10_6">בָּרוֹךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_7">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_10_8">וָאַצִּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_9">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_10">מִיָּדֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12050">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_11" data-pasuk-now="20"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_1">וַתַּעַבְר֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12053">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_3">הַיַּרְדֵּן֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_4">וַתָּבֹ֣אוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12057">־</span><span class="mila" data-lnk="8" data-exlnk="10" id="M_24_11_6">יְרִיחוֹ֒</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_11_7">וַיִּלָּחֲמ֣וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_11_8">בָכֶ֣ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_11_9">בַּעֲלֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12062">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_24_11_10">יְ֠רִיחוֹ</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_24_11_11">הָאֱמֹרִ֨י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_11_12">וְהַפְּרִזִּ֜י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_13">וְהַֽכְּנַעֲנִ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_14">וְהַֽחִתִּי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_15">וְהַגִּרְגָּשִׁ֔י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_16">הַחִוִּ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_11_17">וְהַיְבוּסִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_18">וָאֶתֵּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_19">אוֹתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_20">בְּיֶדְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12074">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_12" data-pasuk-now="14"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_1">וָאֶשְׁלַ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_2">לִפְנֵיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12078">־</span><span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_24_12_4">הַצִּרְעָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_5">וַתְּגָ֤רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_6">אוֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_7">מִפְּנֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_8">שְׁנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_9">מַלְכֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_10">הָאֱמֹרִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_11">לֹ֥א</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_24_12_12">בְחַרְבְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_13">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_14">בְקַשְׁתֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12090">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_13" data-pasuk-now="20"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_1">וָאֶתֵּ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_2">לָכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_3">אֶ֣רֶץ׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_4">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_5">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12096">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_6">יָגַ֣עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_7">בָּ֗הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_8">וְעָרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_10">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12102">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_11">בְנִיתֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_12">וַתֵּשְׁב֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_13">בָּהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_14">כְּרָמִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_15">וְזֵיתִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_16">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_17">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12110">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_18">נְטַעְתֶּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_19">אַתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_20">אֹכְלִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12114">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_14" data-pasuk-now="20"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_1">וְעַתָּ֞ה</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_24_14_2">יְר֧אוּ</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_24_14_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12118">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_24_14_4">יְהוָ֛ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_14_5">וְעִבְד֥וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_24_14_6">אֹת֖וֹ</span>
<span class="mila" data-lnk="1073742112" data-exlnk="0" id="M_24_14_7">בְּתָמִ֣ים</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_24_14_8">וּבֶאֱמֶ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_9">וְהָסִ֣ירוּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_14_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12126">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_11">אֱלֹהִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_12">אֲשֶׁר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_13">עָבְד֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_14">אֲבוֹתֵיכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_15">בְּעֵ֤בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_16">הַנָּהָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_17">וּבְמִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_18">וְעִבְד֖וּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_14_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12136">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_20">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12138">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_15" data-pasuk-now="34"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221225738" data-exlnk="0" id="M_24_15_1">וְאִם֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_15_2">רַ֨ע</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_24_15_3">בְּֽעֵינֵיכֶ֜ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_15_4">לַעֲבֹ֣ד</span>
<span class="mila" data-lnk="4026532042" data-exlnk="0" id="M_24_15_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12144">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_24_15_6">יְהוָ֗ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_24_15_7">בַּחֲר֨וּ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_24_15_8">לָכֶ֣ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_24_15_9">הַיּוֹם֘</span>
<span class="mila" data-lnk="4026532050" data-exlnk="0" id="M_24_15_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12150">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_24_15_11">מִ֣י</span>
<span class="mila" data-lnk="3221225746" data-exlnk="0" id="M_24_15_12">תַעֲבֹדוּן֒</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_13">אִ֣ם</span>
<span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_24_15_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12155">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_15">אֱלֹהִ֞ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_16">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12158">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_17">עָבְד֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_18">אֲבוֹתֵיכֶ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_19">אֲשֶׁר֙</span>
<span data-lnk="0" data-exlnk="0" id="M_24_15_20" class="mila ktiv">בֵעֵ֣בֶר</span>
<span data-lnk="4026532162" data-exlnk="0" id="M_24_15_20_K" class="mila kri">מֵעֵ֣בֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_21">הַנָּהָ֔ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_22">וְאִם֙</span>
<span class="mila" data-lnk="4026532034" data-exlnk="0" id="M_24_15_23">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12167">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_24">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_25">הָאֱמֹרִ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_26">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_27">אַתֶּ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_28">יֹשְׁבִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_29">בְּאַרְצָ֑ם</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_24_15_30">וְאָנֹכִ֣י</span>
<span class="mila" data-lnk="2147483906" data-exlnk="0" id="M_24_15_31">וּבֵיתִ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_32">נַעֲבֹ֖ד</span>
<span class="mila" data-lnk="4026532034" data-exlnk="0" id="M_24_15_33">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12178">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_15_34">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12181">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12182"> פ </span>
</span>
<br /><span id="PS_24_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_1">וַיַּ֤עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_2">הָעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_3">וַיֹּ֔אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_4">חָלִ֣ילָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_5">לָּ֔נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_6">מֵעֲזֹ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12190">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_8">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_9">לַעֲבֹ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_10">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_11">אֲחֵרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12195">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_17" data-pasuk-now="30"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_1">כִּ֚י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_2">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_3">אֱלֹהֵ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_4">הוּא֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_5">הַמַּעֲלֶ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_6">אֹתָ֧נוּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_17_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12203">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_17_8">אֲבוֹתֵ֛ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_9">מֵאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_10">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_11">מִבֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_12">עֲבָדִ֑ים</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_24_17_13">וַאֲשֶׁ֧ר</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_24_17_14">עָשָׂ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_15">לְעֵינֵ֗ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12213">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_17">הָאֹת֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_18">הַגְּדֹלוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_19">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_20">וַֽיִּשְׁמְרֵ֗נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_21">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12219">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_22">הַדֶּ֙רֶךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_23">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_24">הָלַ֣כְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_25">בָ֔הּ</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_24_17_26">וּבְכֹל֙</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_24_17_27">הָֽעַמִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_28">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_29">עָבַ֖רְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_30">בְּקִרְבָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12229">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_18" data-pasuk-now="18"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_1">וַיְגָ֨רֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_2">יְהוָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12233">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12235">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_5">הָעַמִּ֗ים</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_24_18_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12238">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_24_18_7">הָאֱמֹרִ֛י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_18_8">יֹשֵׁ֥ב</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_24_18_9">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_10">מִפָּנֵ֑ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_11">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12244">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_12">אֲנַ֙חְנוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_13">נַעֲבֹ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12248">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_15">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_16">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12251">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_17">ה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_18">אֱלֹהֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12254">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_19" data-pasuk-now="20"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_2">יְהוֹשֻׁ֜עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12258">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_4">הָעָ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_5">לֹ֤א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_6">תֽוּכְלוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_7">לַעֲבֹ֣ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12264">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_9">יְהוָ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12267">־</span><span class="mila" data-lnk="1073742083" data-exlnk="0" id="M_24_19_11">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="3221225731" data-exlnk="0" id="M_24_19_12">קְדֹשִׁ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_13">ה֑וּא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_14">אֵל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12272">־</span><span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_24_19_15">קַנּ֣וֹא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_16">ה֔וּא</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_19_17">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12276">־</span><span class="mila" data-lnk="805306442" data-exlnk="0" id="M_24_19_18">יִשָּׂ֥א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_19">לְפִשְׁעֲכֶ֖ם</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_24_19_20">וּלְחַטֹּאותֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12280">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_20" data-pasuk-now="16"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_1">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_2">תַֽעַזְבוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12284">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_5">וַעֲבַדְתֶּ֖ם</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_24_20_6">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_24_20_7">נֵכָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_8">וְשָׁ֨ב</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_20_9">וְהֵרַ֤ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_10">לָכֶם֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_20_11">וְכִלָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_12">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_13">אַחֲרֵ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_14">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12296">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_15">הֵיטִ֥יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_16">לָכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12299">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_21" data-pasuk-now="9"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_21_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_2">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12303">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_4">יְהוֹשֻׁ֑עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_5">לֹ֕א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_6">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12308">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_8">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_9">נַעֲבֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12311">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_22" data-pasuk-now="17"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_2">יְהוֹשֻׁ֜עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12315">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_4">הָעָ֗ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_22_5">עֵדִ֤ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_22_6">אַתֶּם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_22_7">בָּכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12321">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_9">אַתֶּ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_10">בְּחַרְתֶּ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_11">לָכֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12326">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_14">לַעֲבֹ֣ד</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_22_15">אוֹת֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_16">וַיֹּאמְר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_17">עֵדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12332">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_1">וְעַתָּ֕ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_2">הָסִ֛ירוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_23_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12336">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_23_4">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_23_5">הַנֵּכָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_7">בְּקִרְבְּכֶ֑ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_23_8">וְהַטּוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12343">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_10">לְבַבְכֶ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_23_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12346">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_23_12">יְהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_23_13">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_23_14">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12350">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_24" data-pasuk-now="10"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_24_24_1">וַיֹּאמְר֥וּ</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_24_24_2">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12354">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_4">יְהוֹשֻׁ֑עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12357">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_6">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_7">אֱלֹהֵ֙ינוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_8">נַעֲבֹ֔ד</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_24_9">וּבְקוֹל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_10">נִשְׁמָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12363">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_25" data-pasuk-now="11"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_1">וַיִּכְרֹ֨ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_25_2">יְהוֹשֻׁ֧עַ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_25_3">בְּרִ֛ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_25_4">לָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_5">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_6">הַה֑וּא</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_24_25_7">וַיָּ֥שֶׂם</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_24_25_8">ל֛וֹ</span>
<span class="mila" data-lnk="3489661267" data-exlnk="0" id="M_24_25_9">חֹ֥ק</span>
<span class="mila" data-lnk="2952790355" data-exlnk="0" id="M_24_25_10">וּמִשְׁפָּ֖ט</span>
<span class="mila" data-lnk="19" data-exlnk="10" id="M_24_25_11">בִּשְׁכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12375">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_26" data-pasuk-now="18"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_26_1">וַיִּכְתֹּ֤ב</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_26_2">יְהוֹשֻׁעַ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_26_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12379">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_26_4">הַדְּבָרִ֣ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_26_5">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_26_6">בְּסֵ֖פֶר</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_24_26_7">תּוֹרַ֣ת</span>
<span class="mila" data-lnk="2147483906" data-exlnk="0" id="M_24_26_8">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_9">וַיִּקַּח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_10">אֶ֣בֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_11">גְּדוֹלָ֔ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_26_12">וַיְקִימֶ֣הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_13">שָּׁ֔ם</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_24_26_14">תַּ֚חַת</span>
<span class="mila" data-lnk="3221225763" data-exlnk="0" id="M_24_26_15">הָֽאַלָּ֔ה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_24_26_16">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="4026532323" data-exlnk="0" id="M_24_26_17">בְּמִקְדַּ֥שׁ</span>
<span class="mila" data-lnk="4026532323" data-exlnk="0" id="M_24_26_18">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12396">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12397"> פ </span>
</span>
<br /><span id="PS_24_27" data-pasuk-now="27"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_27_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_27_2">יְהוֹשֻׁ֜עַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_27_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12401">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_27_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12403">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_27_5">הָעָ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_27_6">הִנֵּ֨ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_27_7">הָאֶ֤בֶן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_27_8">הַזֹּאת֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_27_9">תִּֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12409">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_24_27_10">בָּ֣נוּ</span>
<span class="mila" data-lnk="4026532291" data-exlnk="0" id="M_24_27_11">לְעֵדָ֔ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_24_27_12">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12413">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_24_27_13">הִ֣יא</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_24_27_14">שָֽׁמְעָ֗ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_24_27_15">אֵ֚ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_27_16">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12418">־</span><span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_24_27_17">אִמְרֵ֣י</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_24_27_18">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_19">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_20">דִּבֶּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_21">עִמָּ֑נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_22">וְהָיְתָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_23">בָכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_24">לְעֵדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_25">פֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12428">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_24_27_26">תְּכַחֲשׁ֖וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_27">בֵּאלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12431">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_28" data-pasuk-now="6"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_24_28_1">וַיְשַׁלַּ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_2">יְהוֹשֻׁעַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12435">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_4">הָעָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_5">אִ֖ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_6">לְנַחֲלָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12440">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12441"> פ </span>
</span>
<br /><span id="PS_24_29" data-pasuk-now="14"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_24_29_1">וַֽיְהִ֗י</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_24_29_2">אַֽחֲרֵי֙</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_24_29_3">הַדְּבָרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_29_4">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_29_5">וַיָּ֛מָת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_29_6">יְהוֹשֻׁ֥עַ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_29_7">בִּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12449">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_24_29_8">נ֖וּן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_29_9">עֶ֣בֶד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_29_10">יְהוָ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_29_11">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12454">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_29_12">מֵאָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_29_13">וָעֶ֖שֶׂר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_29_14">שָׁנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12458">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_30" data-pasuk-now="12"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_1">וַיִּקְבְּר֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_2">אֹתוֹ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_30_3">בִּגְב֣וּל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_30_4">נַחֲלָת֔וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_24_30_5">בְּתִמְנַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12464">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_24_30_6">סֶ֖רַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_8">בְּהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12468">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_9">אֶפְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_10">מִצְּפ֖וֹן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_30_11">לְהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12472">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_24_30_12">גָּֽעַשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12474">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_31" data-pasuk-now="24"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_24_31_1">וַיַּעֲבֹ֤ד</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_24_31_2">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12478">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_5">כֹּ֖ל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_24_31_6">יְמֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_7">יְהוֹשֻׁ֑עַ</span>
<span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_24_31_8">וְכֹ֣ל׀</span>
<span class="mila" data-lnk="4026532169" data-exlnk="0" id="M_24_31_9">יְמֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_10">הַזְּקֵנִ֗ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_11">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_24_31_12">הֶאֱרִ֤יכוּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_24_31_13">יָמִים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_14">אַחֲרֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_15">יְהוֹשֻׁ֔עַ</span>
<span class="mila" data-lnk="1073742088" data-exlnk="0" id="M_24_31_16">וַאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_24_31_17">יָדְע֗וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_18">אֵ֚ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_19">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12495">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_20">מַעֲשֵׂ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_21">יְהוָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_22">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_23">עָשָׂ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_31_24">לְיִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12501">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_32" data-pasuk-now="26"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="3489661378" data-exlnk="0" id="M_24_32_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12503">־</span><span class="mila" data-lnk="4026532298" data-exlnk="0" id="M_24_32_2">עַצְמ֣וֹת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_32_3">י֠וֹסֵף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_32_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12507">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_32_5">הֶעֱל֨וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_32_6">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12510">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_32_7">יִשְׂרָאֵ֥ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="12512">׀</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_32_8">מִמִּצְרַיִם֘</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_32_9">קָבְר֣וּ</span>
<span class="mila" data-lnk="3" data-exlnk="10" id="M_24_32_10">בִשְׁכֶם֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_11">בְּחֶלְקַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_12">הַשָּׂדֶ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_13">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_14">קָנָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_15">יַעֲקֹ֛ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_16">מֵאֵ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_17">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12523">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_18">חֲמ֥וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_19">אֲבִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12526">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_24_32_20">שְׁכֶ֖ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_32_21">בְּמֵאָ֣ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_32_22">קְשִׂיטָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_23">וַיִּֽהְי֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_24">לִבְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12532">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_32_25">יוֹסֵ֖ף</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_24_32_26">לְנַחֲלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12535">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_33" data-pasuk-now="14"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_33_1">וְאֶלְעָזָ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_33_2">בֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12538">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_24_33_3">אַהֲרֹ֖ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_33_4">מֵ֑ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_33_5">וַיִּקְבְּר֣וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_33_6">אֹת֗וֹ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_24_33_7">בְּגִבְעַת֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_24_33_8">פִּֽינְחָ֣ס</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_24_33_9">בְּנ֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_33_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_24_33_11">נִתַּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12548">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_33_12">ל֖וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_33_13">בְּהַ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_33_14">אֶפְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12552">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>