<p id="PR_22" data-perek-now="688" data-perek-nops="34"><span class="perek-header">פרק כב</span>
<br /><span id="PS_22_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_22_1_1">אָ֚ז</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_22_1_2">יִקְרָ֣א</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_22_1_3">יְהוֹשֻׁ֔עַ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_1_4">לָראוּבֵנִ֖י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_1_5">וְלַגָּדִ֑י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_1_6">וְלַחֲצִ֖י</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_22_1_7">מַטֵּ֥ה</span>
<span class="mila" data-lnk="3758096712" data-exlnk="0" id="M_22_1_8">מְנַשֶּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10637">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_2" data-pasuk-now="18"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_2">אֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_3">אַתֶּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_4">שְׁמַרְתֶּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_5">אֵ֚ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10644">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_8">צִוָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_9">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_22_2_10">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_22_2_11">עֶ֣בֶד</span>
<span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_22_2_12">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_13">וַתִּשְׁמְע֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_14">בְקוֹלִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_15">לְכֹ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_16">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10655">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_17">צִוִּ֖יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_18">אֶתְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10658">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_3" data-pasuk-now="16"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_3_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10660">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_2">עֲזַבְתֶּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10663">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_4">אֲחֵיכֶ֗ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_3_5">זֶ֚ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_3_6">יָמִ֣ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_3_7">רַבִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_8">עַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_9">הַיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_10">הַזֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_11">וּשְׁמַרְתֶּ֕ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10673">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_13">מִשְׁמֶ֕רֶת</span>
<span class="mila" data-lnk="3489661376" data-exlnk="0" id="M_22_3_14">מִצְוַ֖ת</span>
<span class="mila" data-lnk="2684355008" data-exlnk="0" id="M_22_3_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_16">אֱלֹהֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10678">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_4" data-pasuk-now="24"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_4_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_4_2">הֵנִ֨יחַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_4_3">יְהוָ֤ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_4_4">אֱלֹֽהֵיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_5">לַאֲחֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_6">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_7">דִּבֶּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_8">לָהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_9">וְעַתָּ֡ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_10">פְּנוּ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_11">וּלְכ֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_12">לָכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_13">לְאָהֳלֵיכֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10693">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_15">אֶ֙רֶץ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_16">אֲחֻזַּתְכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_17">אֲשֶׁ֣ר׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_18">נָתַ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_19">לָכֶ֗ם</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_4_20">מֹשֶׁה֙</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_22_4_21">עֶ֣בֶד</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_22_4_22">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_23">בְּעֵ֖בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_24">הַיַּרְדֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10704">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_5" data-pasuk-now="30"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_1">רַ֣ק׀</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_22_5_2">שִׁמְר֣וּ</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_22_5_3">מְאֹ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_4">לַעֲשׂ֨וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10710">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_6">הַמִּצְוָ֣ה</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_22_5_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10713">־</span><span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_22_5_8">הַתּוֹרָה֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_10">צִוָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_11">אֶתְכֶם֘</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_5_12">מֹשֶׁ֣ה</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_22_5_13">עֶבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10720">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_22_5_14">יְהוָה֒</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_15">לְ֠אַהֲבָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10724">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_17">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_18">אֱלֹהֵיכֶ֜ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_5_19">וְלָלֶ֧כֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_20">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10729">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_21">דְּרָכָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_22">וְלִשְׁמֹ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_23">מִצְוֺתָ֖יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_24">וּלְדָבְקָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10734">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_25">ב֑וֹ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_5_26">וּלְעָבְד֕וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_27">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10738">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_28">לְבַבְכֶ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_29">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10741">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_30">נַפְשְׁכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10743">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_6" data-pasuk-now="6"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_1">וַֽיְבָרֲכֵ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_2">יְהוֹשֻׁ֑עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_3">וַֽיְשַׁלְּחֵ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_4">וַיֵּלְכ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10749">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_6">אָהֳלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10752">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10753"> פ </span>
</span>
<br /><span id="PS_22_7" data-pasuk-now="21"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_22_7_1">וְלַחֲצִ֣י׀</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_7_2">שֵׁ֣בֶט</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_7_3">הַֽמְנַשֶּׁ֗ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_7_4">נָתַ֣ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_7_5">מֹשֶׁה֘</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_7_6">בַּבָּשָׁן֒</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_7_7">וּלְחֶצְי֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_8">נָתַ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_9">יְהוֹשֻׁעַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_10">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10764">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_11">אֲחֵיהֶ֔ם</span>
<span data-lnk="0" data-exlnk="0" id="M_22_7_12" class="mila ktiv">מְּעֵ֥בֶר</span>
<span data-lnk="3221225728" data-exlnk="0" id="M_22_7_12_K" class="mila kri">בְּעֵ֥בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_13">הַיַּרְדֵּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_14">יָ֑מָּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_22_7_15">וְ֠גַם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_22_7_16">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10772">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_22_7_17">שִׁלְּחָ֧ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_22_7_18">יְהוֹשֻׁ֛עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_19">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10776">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_20">אָהֳלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_21">וַֽיְבָרֲכֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10779">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_8" data-pasuk-now="23"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="3489661378" data-exlnk="0" id="M_22_8_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="1342177730" data-exlnk="0" id="M_22_8_2">אֲלֵיהֶ֜ם</span>
<span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_22_8_3">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_8_4">בִּנְכָסִ֨ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_8_5">רַבִּ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_6">שׁ֤וּבוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10787">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_8">אָֽהֳלֵיכֶם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_8_9">וּבְמִקְנֶ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_8_10">רַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10791">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_11">מְאֹ֔ד</span>
<span class="mila" data-lnk="1879048520" data-exlnk="0" id="M_22_8_12">בְּכֶ֨סֶף</span>
<span class="mila" data-lnk="2684354888" data-exlnk="0" id="M_22_8_13">וּבְזָהָ֜ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_8_14">וּבִנְחֹ֧שֶׁת</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_22_8_15">וּבְבַרְזֶ֛ל</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_22_8_16">וּבִשְׂלָמ֖וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_8_17">הַרְבֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_18">מְאֹ֑ד</span>
<span class="mila" data-lnk="3221225762" data-exlnk="0" id="M_22_8_19">חִלְק֥וּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_22_8_20">שְׁלַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10802">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_22_8_21">אֹיְבֵיכֶ֖ם</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_22_8_22">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10805">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_22_8_23">אֲחֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10808">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10809"> פ </span>
</span>
<br /><span id="PS_22_9" data-pasuk-now="31"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_1">וַיָּשֻׁ֣בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_2">וַיֵּלְכ֡וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_3">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10813">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_4">רְאוּבֵ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_5">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10816">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_6">גָ֜ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_7">וַחֲצִ֣י׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_8">שֵׁ֣בֶט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_9">הַֽמְנַשֶּׁ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_10">מֵאֵת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_11">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_12">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_13">מִשִּׁלֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_14">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_15">בְּאֶֽרֶץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10827">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_16">כְּנָ֑עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_17">לָלֶ֜כֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_18">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10831">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_19">אֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_20">הַגִּלְעָ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_21">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10835">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_22">אֶ֤רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_23">אֲחֻזָּתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_24">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_25">נֹֽאחֲזוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10840">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_9_26">בָ֔הּ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_9_27">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10843">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_9_28">פִּ֥י</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_9_29">יְהוָ֖ה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_9_30">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10847">־</span><span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_22_9_31">מֹשֶֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10849">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_10" data-pasuk-now="22"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_1">וַיָּבֹ֙אוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10852">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_3">גְּלִיל֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_4">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_5">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_6">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_7">כְּנָ֑עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_8">וַיִּבְנ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_9">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10860">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_10">רְאוּבֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_11">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10863">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_12">גָ֡ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_13">וַחֲצִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_14">שֵׁבֶט֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_15">הַֽמְנַשֶּׁ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_16">שָׁ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_17">מִזְבֵּחַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10871">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_10_19">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_20">מִזְבֵּ֥חַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_21">גָּד֖וֹל</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_22_10_22">לְמַרְאֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10876">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_11" data-pasuk-now="26"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_1">וַיִּשְׁמְע֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10879">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_3">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_4">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_5">הִנֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_6">בָנ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_7">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10885">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_8">רְאוּבֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_9">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10888">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_10">גָ֡ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_11">וַחֲצִי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_12">שֵׁ֨בֶט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_13">הַֽמְנַשֶּׁ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10894">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_15">הַמִּזְבֵּ֗חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10897">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_17">מוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_18">אֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_19">כְּנַ֔עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_20">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10902">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_11_21">גְּלִילוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_22">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_23">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10906">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_24">עֵ֖בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_25">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_26">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10910">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_12" data-pasuk-now="12"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_1">וַֽיִּשְׁמְע֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_3">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_4">וַיִּקָּ֨הֲל֜וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10916">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_6">עֲדַ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_7">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10919">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_8">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_12_9">שִׁלֹ֔ה</span>
<span class="mila" data-lnk="1342177609" data-exlnk="0" id="M_22_12_10">לַעֲל֥וֹת</span>
<span class="mila" data-lnk="1342177609" data-exlnk="0" id="M_22_12_11">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="2952790345" data-exlnk="0" id="M_22_12_12">לַצָּבָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10926">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10927"> פ </span>
</span>
<br /><span id="PS_22_13" data-pasuk-now="21"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_1">וַיִּשְׁלְח֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10930">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_3">יִשְׂרָאֵ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10933">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_5">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10935">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_6">רְאוּבֵ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_7">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10938">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_8">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10940">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_9">גָ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_10">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10943">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_11">חֲצִ֥י</span>
<span class="mila" data-lnk="1879048640" data-exlnk="0" id="M_22_13_12">שֵֽׁבֶט</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10946">־</span><span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_22_13_13">מְנַשֶּׁ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10949">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_15">אֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_16">הַגִּלְעָ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10953">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_13_18">פִּֽינְחָ֖ס</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_13_19">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10956">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_13_20">אֶלְעָזָ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_13_21">הַכֹּהֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10959">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_14" data-pasuk-now="19"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_1">וַעֲשָׂרָ֤ה</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_14_2">נְשִׂאִים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_14_3">עִמּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_4">נָשִׂ֨יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_5">אֶחָ֜ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_6">נָשִׂ֤יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_7">אֶחָד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_8">לְבֵ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_9">אָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_10">לְכֹ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_11">מַטּ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_12">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_13">וְאִ֨ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_14">רֹ֧אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_15">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10975">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_16">אֲבוֹתָ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_17">הֵ֖מָּה</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_22_14_18">לְאַלְפֵ֥י</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_22_14_19">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_15" data-pasuk-now="17"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_1">וַיָּבֹ֜אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10983">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_3">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10985">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_4">רְאוּבֵ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_5">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10988">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_6">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10990">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_7">גָ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_8">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10993">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_9">חֲצִ֥י</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_15_10">שֵׁבֶט</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10996">־</span><span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_22_15_11">מְנַשֶּׁ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10999">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_13">אֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_14">הַגִּלְעָ֑ד</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_22_15_15">וַיְדַבְּר֥וּ</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_22_15_16">אִתָּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_17">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11005">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_16" data-pasuk-now="22"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_1">כֹּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_2">אָמְר֞וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_3">כֹּ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_4">עֲדַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_5">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_6">מָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11012">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_7">הַמַּ֤עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_8">הַזֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_9">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_10">מְעַלְתֶּם֙</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_16_11">בֵּאלֹהֵ֣י</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_22_16_12">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_16_13">לָשׁ֣וּב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_16_14">הַיּ֔וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_16_15">מֵאַחֲרֵ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_16_16">יְהוָ֑ה</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_22_16_17">בִּבְנוֹתְכֶ֤ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_16_18">לָכֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_16_19">מִזְבֵּ֔חַ</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_22_16_20">לִמְרָדְכֶ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_16_21">הַיּ֖וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_16_22">בַּיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11029">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_17" data-pasuk-now="16"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_1">הַמְעַט</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11031">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_2">לָ֙נוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11034">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_4">עֲוֺ֣ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_5">פְּע֔וֹר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_6">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11039">־</span><span class="mila" data-lnk="3221225768" data-exlnk="0" id="M_22_17_8">הִטַּהַ֙רְנוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_9">מִמֶּ֔נּוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_10">עַ֖ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_11">הַיּ֣וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_12">הַזֶּ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_13">וַיְהִ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_14">הַנֶּ֖גֶף</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_15">בַּעֲדַ֥ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_17_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11049">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_18" data-pasuk-now="16"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_1">וְאַתֶּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_2">תָּשֻׁ֣בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_3">הַיּ֔וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_4">מֵאַחֲרֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_6">וְהָיָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_7">אַתֶּ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_8">תִּמְרְד֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_9">הַיּוֹם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_10">בַּיהוָ֔ה</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_18_11">וּמָחָ֕ר</span>
<span class="mila" data-lnk="1879048520" data-exlnk="0" id="M_22_18_12">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11062">־</span><span class="mila" data-lnk="3758096712" data-exlnk="0" id="M_22_18_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11064">־</span><span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_18_14">עֲדַ֥ת</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_18_15">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_16">יִקְצֹֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11068">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_19" data-pasuk-now="31"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_22_19_1">וְאַ֨ךְ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_19_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11071">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_22_19_3">טְמֵאָ֜ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_19_4">אֶ֣רֶץ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_19_5">אֲחֻזַּתְכֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_6">עִבְר֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_7">לָכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11078">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_9">אֶ֨רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_10">אֲחֻזַּ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_11">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_12">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_13">שָֽׁכַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11084">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_14">שָׁם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_15">מִשְׁכַּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_16">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_19_17">וְהֵאָחֲז֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_18">בְּתוֹכֵ֑נוּ</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_22_19_19">וּבַיהוָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_19_20">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11092">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_19_21">תִּמְרֹ֗דוּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_22_19_22">וְאֹתָ֙נוּ֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_22_19_23">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11096">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_22_19_24">תִּמְרֹ֔דוּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_19_25">בִּבְנֹתְכֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_26">לָכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_27">מִזְבֵּ֔חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_28">מִֽבַּלְעֲדֵ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_29">מִזְבַּ֖ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_30">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_31">אֱלֹהֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11105">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_20" data-pasuk-now="19"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_20_1">הֲל֣וֹא׀</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_20_2">עָכָ֣ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_20_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11109">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_20_4">זֶ֗רַח</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_22_20_5">מָ֤עַל</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_22_20_6">מַ֙עַל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_20_7">בַּחֵ֔רֶם</span>
<span class="mila" data-lnk="3489661378" data-exlnk="0" id="M_22_20_8">וְעַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11115">־</span><span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_22_20_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11117">־</span><span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_22_20_10">עֲדַ֥ת</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_20_11">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_20_12">הָ֣יָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_20_13">קָ֑צֶף</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_20_14">וְהוּא֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_20_15">אִ֣ישׁ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_20_16">אֶחָ֔ד</span>
<span class="mila" data-lnk="1073741970" data-exlnk="0" id="M_22_20_17">לֹ֥א</span>
<span class="mila" data-lnk="3221225618" data-exlnk="0" id="M_22_20_18">גָוַ֖ע</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_20_19">בַּעֲוֺנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11129">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11130">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_1">וַֽיַּעֲנוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_21_2">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11133">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_3">רְאוּבֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_4">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11136">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_21_5">גָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_6">וַחֲצִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_7">שֵׁ֣בֶט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_8">הַֽמֲנַשֶּׁ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_9">וַֽיְדַבְּר֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11143">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_11">רָאשֵׁ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_12">אַלְפֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_13">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11147">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_22" data-pasuk-now="20"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="3489661379" data-exlnk="0" id="M_22_22_1">אֵל֩</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11149">׀</span>
<span class="mila" data-lnk="4026532299" data-exlnk="0" id="M_22_22_2">אֱלֹהִ֨ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11151">׀</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_22_22_3">יְהוָ֜ה</span>
<span class="mila" data-lnk="1073742099" data-exlnk="0" id="M_22_22_4">אֵ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11154">׀</span>
<span class="mila" data-lnk="2147483931" data-exlnk="0" id="M_22_22_5">אֱלֹהִ֤ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11156">׀</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_22_6">יְהוָה֙</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_22_7">ה֣וּא</span>
<span class="mila" data-lnk="3221225619" data-exlnk="0" id="M_22_22_8">יֹדֵ֔עַ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_22_9">וְיִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_22_10">ה֣וּא</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_22_11">יֵדָ֑ע</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_22_12">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11164">־</span><span class="mila" data-lnk="3221225731" data-exlnk="0" id="M_22_22_13">בְּמֶ֤רֶד</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_22_14">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11167">־</span><span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_22_22_15">בְּמַ֙עַל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_22_16">בַּיהוָ֔ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_22_22_17">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11171">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_22_22_18">תּוֹשִׁיעֵ֖נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_22_19">הַיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_22_20">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11175">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_23" data-pasuk-now="19"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_22_23_1">לִבְנ֥וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_2">לָ֙נוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_3">מִזְבֵּ֔חַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_4">לָשׁ֖וּב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_5">מֵאַחֲרֵ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_23_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="805306442" data-exlnk="0" id="M_22_23_7">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11183">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_8">לְהַעֲל֨וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_9">עָלָ֜יו</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_22_23_10">עוֹלָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_11">וּמִנְחָ֗ה</span>
<span class="mila" data-lnk="805306442" data-exlnk="0" id="M_22_23_12">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11189">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_13">לַעֲשׂ֤וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_14">עָלָיו֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_15">זִבְחֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_23_16">שְׁלָמִ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_23_17">יְהוָ֖ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_22_23_18">ה֥וּא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_22_23_19">יְבַקֵּֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11197">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_24_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11199">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_2">לֹ֤א</span>
<span class="mila" data-lnk="3221225747" data-exlnk="0" id="M_22_24_3">מִדְּאָגָה֙</span>
<span class="mila" data-lnk="3221225731" data-exlnk="0" id="M_22_24_4">מִדָּבָ֔ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_5">עָשִׂ֥ינוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11205">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_7">זֹ֖את</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_8">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_9">מָחָ֗ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_10">יֹאמְר֨וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_11">בְנֵיכֶ֤ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_24_12">לְבָנֵ֙ינוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_13">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_24_14">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11214">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_22_24_15">לָּכֶ֕ם</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_22_24_16">וְלַיהוָ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_24_17">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_24_18">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11219">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_25" data-pasuk-now="23"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_22_25_1">וּגְב֣וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_22_25_2">נָֽתַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11222">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_3">יְ֠הוָה</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_22_25_4">בֵּינֵ֨נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_5">וּבֵינֵיכֶ֜ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_6">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11227">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_7">רְאוּבֵ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_8">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11230">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_9">גָד֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_25_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11233">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_11">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_12">אֵין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11236">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_13">לָכֶ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_14">חֵ֖לֶק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_15">בַּיהוָ֑ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_25_16">וְהִשְׁבִּ֤יתוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_17">בְנֵיכֶם֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_25_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11243">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_19">בָּנֵ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_20">לְבִלְתִּ֖י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_25_21">יְרֹ֥א</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_25_22">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11248">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_23">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11250">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_26" data-pasuk-now="11"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_1">וַנֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_2">נַעֲשֶׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11253">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_3">נָּ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_4">לָ֔נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_5">לִבְנ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11258">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_7">הַמִּזְבֵּ֑חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_8">לֹ֥א</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_22_26_9">לְעוֹלָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_26_10">וְלֹ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_26_11">לְזָֽבַח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11264">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_27" data-pasuk-now="25"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_22_27_1">כִּי֩</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_22_27_2">עֵ֨ד</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_22_27_3">ה֜וּא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_27_4">בֵּינֵ֣ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_5">וּבֵינֵיכֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_6">וּבֵ֣ין</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_27_7">דֹּרוֹתֵינוּ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_8">אַחֲרֵינוּ֒</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_27_9">לַעֲבֹ֞ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_27_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11275">־</span><span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_22_27_11">עֲבֹדַ֤ת</span>
<span class="mila" data-lnk="2684354888" data-exlnk="0" id="M_22_27_12">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_13">לְפָנָ֔יו</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_22_27_14">בְּעֹלוֹתֵ֥ינוּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_27_15">וּבִזְבָחֵ֖ינוּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_27_16">וּבִשְׁלָמֵ֑ינוּ</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_27_17">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11283">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_27_18">יֹאמְר֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_19">בְנֵיכֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_20">מָחָר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_27_21">לְבָנֵ֔ינוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_27_22">אֵין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11289">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_23">לָכֶ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_24">חֵ֖לֶק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_27_25">בַּיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11293">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_28" data-pasuk-now="26"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_1">וַנֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_2">וְהָיָ֗ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11297">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_4">יֹאמְר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_5">אֵלֵ֛ינוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_6">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11301">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_28_7">דֹּרֹתֵ֖ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_8">מָחָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_9">וְאָמַ֡רְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_10">רְא֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11307">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_22_28_12">תַּבְנִית֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_13">מִזְבַּ֨ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_14">יְהוָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_15">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11312">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_16">עָשׂ֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_17">אֲבוֹתֵ֗ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_18">לֹ֤א</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_28_19">לְעוֹלָה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_20">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_21">לְזֶ֔בַח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_22">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11320">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_23">עֵ֣ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_24">ה֔וּא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_28_25">בֵּינֵ֖ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_26">וּבֵינֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11325">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_29" data-pasuk-now="21"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_1">חָלִילָה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_2">לָּ֨נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_3">מִמֶּ֜נּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_4">לִמְרֹ֣ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_29_5">בַּֽיהוָ֗ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_22_29_6">וְלָשׁ֤וּב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_7">הַיּוֹם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_8">מֵאַחֲרֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_29_9">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_10">לִבְנ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_11">מִזְבֵּ֔חַ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_29_12">לְעֹלָ֖ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_29_13">לְמִנְחָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_14">וּלְזָ֑בַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_15">מִלְּבַ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_16">מִזְבַּח֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_29_17">יְהוָ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_29_18">אֱלֹהֵ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_19">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_20">לִפְנֵ֥י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_29_21">מִשְׁכָּנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11348">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11349"> פ </span>
</span>
<br /><span id="PS_22_30" data-pasuk-now="22"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_1">וַיִּשְׁמַ֞ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_2">פִּֽינְחָ֣ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_3">הַכֹּהֵ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_4">וּנְשִׂיאֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_5">הָעֵדָ֜ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_30_6">וְרָאשֵׁ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_7">אַלְפֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_8">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_10">אִתּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_11">אֶ֨ת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11361">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_12">הַדְּבָרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_13">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_14">דִּבְּר֛וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_30_15">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11366">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_16">רְאוּבֵ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_17">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11369">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_30_18">גָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_19">וּבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_20">מְנַשֶּׁ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_21">וַיִּיטַ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_22">בְּעֵינֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11375">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_31" data-pasuk-now="32"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_2">פִּֽינְחָ֣ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11379">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_4">אֶלְעָזָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_5">הַכֹּהֵ֡ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11383">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_7">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11385">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_8">רְאוּבֵ֨ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_9">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11388">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_10">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11390">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_11">גָ֜ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_12">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11393">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_13">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_14">מְנַשֶּׁ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_15">הַיּ֤וֹם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11397">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_16">יָדַ֙עְנוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_17">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11400">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_18">בְתוֹכֵ֣נוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_19">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_20">אֲשֶׁ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_21">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11405">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_22">מְעַלְתֶּ֥ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_23">בַּיהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_24">הַמַּ֣עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_25">הַזֶּ֑ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_31_26">אָ֗ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_27">הִצַּלְתֶּ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_28">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11413">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_29">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_30">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_31">מִיַּ֥ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_31_32">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11418">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_32" data-pasuk-now="23"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_1">וַיָּ֣שָׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_2">פִּֽינְחָ֣ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11422">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_4">אֶלְעָזָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_5">הַכֹּהֵ֣ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11425">׀</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_32_6">וְהַנְּשִׂיאִ֡ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_7">מֵאֵ֣ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_32_8">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11429">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_9">רְאוּבֵן֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_10">וּמֵאֵ֨ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_32_11">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11433">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_32_12">גָ֜ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_13">מֵאֶ֧רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_14">הַגִּלְעָ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11438">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_16">אֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_17">כְּנַ֖עַן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_32_18">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11442">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_32_19">בְּנֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_32_20">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_32_21">וַיָּשִׁ֥בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_22">אוֹתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_23">דָּבָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11448">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_33" data-pasuk-now="24"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_1">וַיִּיטַ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_2">הַדָּבָ֗ר</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_33_3">בְּעֵינֵי֙</span>
<span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_22_33_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_22_33_5">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="1073742097" data-exlnk="0" id="M_22_33_6">וַיְבָרֲכ֥וּ</span>
<span class="mila" data-lnk="3221225753" data-exlnk="0" id="M_22_33_7">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_33_8">בְּנֵ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_33_9">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="3489661384" data-exlnk="0" id="M_22_33_10">וְלֹ֣א</span>
<span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_22_33_11">אָמְר֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_12">לַעֲל֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_13">עֲלֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_14">לַצָּבָ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_15">לְשַׁחֵת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11465">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_17">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_18">אֲשֶׁ֛ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_33_19">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11469">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_20">רְאוּבֵ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_21">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11472">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_33_22">גָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_23">יֹשְׁבִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_24">בָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11476">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_34" data-pasuk-now="13"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_22_34_1">וַֽיִּקְרְא֛וּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_34_2">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11479">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_22_34_3">רְאוּבֵ֥ן</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_22_34_4">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11482">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_22_34_5">גָ֖ד</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_22_34_6">לַמִּזְבֵּ֑חַ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_34_7">כִּ֣י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_34_8">עֵ֥ד</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_34_9">הוּא֙</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_22_34_10">בֵּֽינֹתֵ֔ינוּ</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_22_34_11">כִּ֥י</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_22_34_12">יְהוָ֖ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_34_13">הָאֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11493">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11494"> פ </span>
</span>
<br /></p>