<p id="PR_2" data-perek-now="403" data-perek-nops="24"><span class="perek-header">פרק ב</span>
<br /><span id="PS_2_1" data-pasuk-now="26"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_1_1">וַיִּשְׁלַ֣ח</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_1_2">יְהוֹשֻֽׁעַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="396">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_3">בִּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="398">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_4">נ֠וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_5">מִֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="401">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_6">הַשִּׁטִּ֞ים</span>
<span class="mila" data-lnk="1879048520" data-exlnk="0" id="M_2_1_7">שְׁנַֽיִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="404">־</span><span class="mila" data-lnk="2952790344" data-exlnk="0" id="M_2_1_8">אֲנָשִׁ֤ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_1_9">מְרַגְּלִים֙</span>
<span class="mila" data-lnk="4026532313" data-exlnk="0" id="M_2_1_10">חֶ֣רֶשׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_1_11">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="1073742096" data-exlnk="0" id="M_2_1_12">לְכ֛וּ</span>
<span class="mila" data-lnk="2147483905" data-exlnk="0" id="M_2_1_13">רְא֥וּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_2_1_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="412">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_2_1_15">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="3221225745" data-exlnk="0" id="M_2_1_16">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="415">־</span><span class="mila" data-lnk="2147483921" data-exlnk="10" id="M_2_1_17">יְרִיח֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_18">וַיֵּ֨לְכ֜וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_19">וַ֠יָּבֹאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_20">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="420">־</span><span class="mila" data-lnk="3221225601" data-exlnk="0" id="M_2_1_21">אִשָּׁ֥ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_2_1_22">זוֹנָ֛ה</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_2_1_23">וּשְׁמָ֥הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_24">רָחָ֖ב</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_2_1_25">וַיִּשְׁכְּבוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="426">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_2_1_26">שָֽׁמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="428">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_2_1">וַיֵּ֣אָמַ֔ר</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_2_2_2">לְמֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="10" id="M_2_2_3">יְרִיח֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_4">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_2_2_5">הִנֵּ֣ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_2_6">אֲ֠נָשִׁים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_7">בָּ֣אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_8">הֵ֧נָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_9">הַלַּ֛יְלָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_10">מִבְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_11">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="4026532305" data-exlnk="0" id="M_2_2_12">לַחְפֹּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="442">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_14">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="444">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_3" data-pasuk-now="19"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_1">וַיִּשְׁלַח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_2">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="10" id="M_2_3_3">יְרִיח֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="449">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_5">רָחָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_6">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_3_7">ה֠וֹצִיאִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_8">הָאֲנָשִׁ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_9">הַבָּאִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_10">אֵלַ֙יִךְ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_3_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="457">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_2_3_12">בָּ֣אוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_3_13">לְבֵיתֵ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_14">כִּ֛י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_2_3_15">לַחְפֹּ֥ר</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_2_3_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="463">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_2_3_17">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="465">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_2_3_18">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_19">בָּֽאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="468">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_1">וַתִּקַּ֧ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_2">הָאִשָּׁ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="472">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_4_4">שְׁנֵ֥י</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_4_5">הָאֲנָשִׁ֖ים</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_2_4_6">וַֽתִּצְפְּנ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_7">וַתֹּ֣אמֶר</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="477">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_8">כֵּ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_9">בָּ֤אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_10">אֵלַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_11">הָאֲנָשִׁ֔ים</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_2_4_12">וְלֹ֥א</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_2_4_13">יָדַ֖עְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_14">מֵאַ֥יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_15">הֵֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="486">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_5_1">וַיְהִ֨י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_5_2">הַשַּׁ֜עַר</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_2_5_3">לִסְגּ֗וֹר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_5_4">בַּחֹ֙שֶׁךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_5">וְהָאֲנָשִׁ֣ים</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_5_6">יָצָ֔אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_7">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_8">יָדַ֔עְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_9">אָ֥נָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_10">הָלְכ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_11">הָאֲנָשִׁ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_12">רִדְפ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_13">מַהֵ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_14">אַחֲרֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_15">כִּ֥י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_5_16">תַשִּׂיגֽוּם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="503">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_6_1">וְהִ֖יא</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_2_6_2">הֶעֱלָ֣תַם</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_2_6_3">הַגָּ֑גָה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_6_4">וַֽתִּטְמְנֵם֙</span>
<span class="mila" data-lnk="3221225745" data-exlnk="0" id="M_2_6_5">בְּפִשְׁתֵּ֣י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_2_6_6">הָעֵ֔ץ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_6_7">הָעֲרֻכ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_8">לָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="513">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_10">הַגָּֽג</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="515">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_7" data-pasuk-now="14"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_7_1">וְהָאֲנָשִׁ֗ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_7_2">רָדְפ֤וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_7_3">אַֽחֲרֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_4">דֶּ֣רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_5">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_7_6">עַ֖ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_7_7">הַֽמַּעְבְּר֑וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_7_8">וְהַשַּׁ֣עַר</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_2_7_9">סָגָ֔רוּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_2_7_10">אַחֲרֵ֕י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_2_7_11">כַּאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_2_7_12">יָצְא֥וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_2_7_13">הָרֹדְפִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_14">אַחֲרֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="530">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_2_8_1">וְהֵ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_2">טֶ֣רֶם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_8_3">יִשְׁכָּב֑וּן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_8_4">וְהִ֛יא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_8_5">עָלְתָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_8_6">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="538">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_8">הַגָּֽג</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="540">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_9" data-pasuk-now="20"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_1">וַתֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="543">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_3">הָ֣אֲנָשִׁ֔ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_9_4">יָדַ֕עְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="547">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_6">נָתַ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_7">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_8">לָכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="552">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_10">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="1073742096" data-exlnk="0" id="M_2_9_11">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="555">־</span><span class="mila" data-lnk="2147483920" data-exlnk="0" id="M_2_9_12">נָפְלָ֤ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_9_13">אֵֽימַתְכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_14">עָלֵ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_15">וְכִ֥י</span>
<span class="mila" data-lnk="4026532032" data-exlnk="0" id="M_2_9_16">נָמֹ֛גוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_17">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="562">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_18">יֹשְׁבֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_19">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_20">מִפְּנֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="566">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_10" data-pasuk-now="26"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_10_1">כִּ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_10_2">שָׁמַ֗עְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_3">אֵ֠ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="571">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_2_10_5">הוֹבִ֨ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_6">יְהוָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="575">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_8">מֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_9">יַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="578">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_10">סוּף֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_11">מִפְּנֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_12">בְּצֵאתְכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_13">מִמִּצְרָ֑יִם</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_2_10_14">וַאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_2_10_15">עֲשִׂיתֶ֡ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_16">לִשְׁנֵי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_17">מַלְכֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_18">הָאֱמֹרִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_19">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_20">בְּעֵ֤בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_21">הַיַּרְדֵּן֙</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_10_22">לְסִיחֹ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_23">וּלְע֔וֹג</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_24">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_25">הֶחֱרַמְתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_26">אוֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="596">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_11" data-pasuk-now="19"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_11_1">וַנִּשְׁמַע֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_11_2">וַיִּמַּ֣ס</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_2_11_3">לְבָבֵ֔נוּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_2_11_4">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="601">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_2_11_5">קָ֨מָה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_2_11_6">ע֥וֹד</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_2_11_7">ר֛וּחַ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_11_8">בְּאִ֖ישׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_11_9">מִפְּנֵיכֶ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_11_10">כִּ֚י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_11_11">יְהוָ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_11_12">אֱלֹהֵיכֶ֔ם</span>
<span class="mila" data-lnk="1342177736" data-exlnk="0" id="M_2_11_13">ה֤וּא</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_2_11_14">אֱלֹהִים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_11_15">בַּשָּׁמַ֣יִם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_11_16">מִמַּ֔עַל</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_2_11_17">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="615">־</span><span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_2_11_18">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="2952790344" data-exlnk="0" id="M_2_11_19">מִתָּֽחַת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="618">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_12" data-pasuk-now="20"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_2">הִשָּֽׁבְעוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="621">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_3">נָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_4">לִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_5">בַּֽיהוָ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_12_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="626">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_2_12_7">עָשִׂ֥יתִי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_12_8">עִמָּכֶ֖ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_12_9">חָ֑סֶד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_12_10">וַעֲשִׂיתֶ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_11">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="632">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_12">אַתֶּ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_13">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="635">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_14">בֵּ֤ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_15">אָבִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_16">חֶ֔סֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_17">וּנְתַתֶּ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_18">לִ֖י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_2_12_19">א֥וֹת</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_2_12_20">אֱמֶֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="643">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_13" data-pasuk-now="17"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_2_13_1">וְהַחֲיִתֶ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="646">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_3">אָבִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="649">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_5">אִמִּ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="652">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_2_13_7">אַחַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="655">־</span><span data-lnk="0" data-exlnk="0" id="M_2_13_9" class="mila ktiv">אַחְוֺתַ֔י</span>
<span data-lnk="0" data-exlnk="0" id="M_2_13_9_K" class="mila kri">אַחְיוֹתַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_10">וְאֵ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="660">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_13">לָהֶ֑ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_13_14">וְהִצַּלְתֶּ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="665">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_16">נַפְשֹׁתֵ֖ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_17">מִמָּֽוֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="668">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_14" data-pasuk-now="22"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_1">וַיֹּ֧אמְרוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_2">לָ֣הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_3">הָאֲנָשִׁ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_4">נַפְשֵׁ֤נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_5">תַחְתֵּיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_6">לָמ֔וּת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_14_7">אִ֚ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_14_8">לֹ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_14_9">תַגִּ֔ידוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_14_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="679">־</span><span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_2_14_11">דְּבָרֵ֖נוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_14_12">זֶ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_13">וְהָיָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_14">בְּתֵת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="684">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_16">לָ֙נוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="688">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_18">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_19">וְעָשִׂ֥ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_20">עִמָּ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_21">חֶ֥סֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_22">וֶאֱמֶֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="694">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_15" data-pasuk-now="11"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221225729" data-exlnk="0" id="M_2_15_1">וַתּוֹרִדֵ֥ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_15_2">בַּחֶ֖בֶל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_15_3">בְּעַ֣ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_15_4">הַחַלּ֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_5">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_6">בֵיתָהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_7">בְּקִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_8">הַחוֹמָ֔ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_15_9">וּבַחוֹמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_10">הִ֥יא</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_15_11">יוֹשָֽׁבֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="706">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_16" data-pasuk-now="18"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_1">וַתֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_2">לָהֶם֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_16_3">הָהָ֣רָה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_16_4">לֵּ֔כוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_5">פֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="712">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_6">יִפְגְּע֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_7">בָכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_8">הָרֹֽדְפִ֑ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_16_9">וְנַחְבֵּתֶ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_10">שָׁ֜מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_11">שְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_12">יָמִ֗ים</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_2_16_13">עַ֚ד</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_2_16_14">שׁ֣וֹב</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_2_16_15">הָרֹֽדְפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_16">וְאַחַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_17">תֵּלְכ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_18">לְדַרְכְּכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="726">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_17" data-pasuk-now="9"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_2_17_1">וַיֹּאמְר֥וּ</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_2_17_2">אֵלֶ֖יהָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_17_3">הָאֲנָשִׁ֑ים</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_2_17_4">נְקִיִּ֣ם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_2_17_5">אֲנַ֔חְנוּ</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_2_17_6">מִשְּׁבֻעָתֵ֥ךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_17_7">הַזֶּ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_17_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026532336" data-exlnk="0" id="M_2_17_9">הִשְׁבַּעְתָּֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="736">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_18" data-pasuk-now="27"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_18_1">הִנֵּ֛ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_18_2">אֲנַ֥חְנוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_18_3">בָאִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_4">בָּאָ֑רֶץ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_2_18_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="742">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_2_18_6">תִּקְוַ֡ת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_2_18_7">חוּט֩</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_2_18_8">הַשָּׁנִ֨י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_9">הַזֶּ֜ה</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_2_18_10">תִּקְשְׁרִ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_11">בַּֽחַלּוֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_18_13">הוֹרַדְתֵּ֣נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_14">ב֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="753">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_16">אָבִ֨יךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="756">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_18">אִמֵּ֜ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_19">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="759">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_20">אַחַ֗יִךְ</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_2_18_21">וְאֵת֙</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_2_18_22">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="763">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_2_18_23">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_24">אָבִ֔יךְ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_18_25">תַּאַסְפִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_26">אֵלַ֖יִךְ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_18_27">הַבָּֽיְתָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="769">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_19" data-pasuk-now="22"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_1">וְהָיָ֡ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_2">כֹּ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="773">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_19_4">יֵצֵא֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_5">מִדַּלְתֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_6">בֵיתֵ֧ךְ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="777">׀</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_19_7">הַח֛וּצָה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_2_19_8">דָּמ֥וֹ</span>
<span class="mila" data-lnk="805306449" data-exlnk="0" id="M_2_19_9">בְרֹאשׁ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_10">וַאֲנַ֣חְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_11">נְקִיִּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_12">וְ֠כֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_13">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_14">יִֽהְיֶ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_15">אִתָּךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_16">בַּבַּ֔יִת</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_2_19_17">דָּמ֣וֹ</span>
<span class="mila" data-lnk="4026532177" data-exlnk="0" id="M_2_19_18">בְרֹאשֵׁ֔נוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_19_19">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="791">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_2_19_20">יָ֖ד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_19_21">תִּֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="794">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_2_19_22">בּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="796">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_20" data-pasuk-now="10"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_20_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="798">־</span><span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_2_20_2">תַּגִּ֖ידִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_20_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="801">־</span><span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_2_20_4">דְּבָרֵ֣נוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_20_5">זֶ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_20_6">וְהָיִ֣ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_20_7">נְקִיִּ֔ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_20_8">מִשְּׁבֻעָתֵ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_20_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_20_10">הִשְׁבַּעְתָּֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="809">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_21" data-pasuk-now="11"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_1">וַתֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_21_2">כְּדִבְרֵיכֶ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_3">כֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="813">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_4">ה֔וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_5">וַֽתְּשַׁלְּחֵ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_6">וַיֵּלֵ֑כוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_7">וַתִּקְשֹׁ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="819">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_9">תִּקְוַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_10">הַשָּׁנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_11">בַּחַלּֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="823">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_22" data-pasuk-now="16"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_1">וַיֵּֽלְכוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_2">וַיָּבֹ֣אוּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_22_3">הָהָ֔רָה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_2_22_4">וַיֵּ֤שְׁבוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_2_22_5">שָׁם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_2_22_6">שְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_2_22_7">יָמִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="832">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_9">שָׁ֖בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_10">הָרֹֽדְפִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_11">וַיְבַקְשׁ֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_12">הָרֹדְפִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_13">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="838">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_14">הַדֶּ֖רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_15">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_16">מָצָֽאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="842">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_23" data-pasuk-now="17"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_1">וַיָּשֻׁ֜בוּ</span>
<span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_2_23_2">שְׁנֵ֤י</span>
<span class="mila" data-lnk="3758096712" data-exlnk="0" id="M_2_23_3">הָֽאֲנָשִׁים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_4">וַיֵּרְד֣וּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_23_5">מֵֽהָהָ֔ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_23_6">וַיַּֽעַבְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_7">וַיָּבֹ֔אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="851">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_9">יְהוֹשֻׁ֖עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_10">בִּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="854">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_11">נ֑וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_12">וַ֨יְסַפְּרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="857">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_13">ל֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_14">אֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="861">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_2_23_16">הַמֹּצְא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_17">אוֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="864">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_24" data-pasuk-now="16"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_1">וַיֹּֽאמְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="867">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_3">יְהוֹשֻׁ֔עַ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_24_4">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="870">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_2_24_5">נָתַ֧ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_24_6">יְהוָ֛ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_24_7">בְּיָדֵ֖נוּ</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_2_24_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="875">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_2_24_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="877">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_2_24_10">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_11">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="880">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_2_24_12">נָמֹ֛גוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="883">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_14">יֹשְׁבֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_15">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_16">מִפָּנֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="888">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="889">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>