<p id="PR_9" data-perek-now="414" data-perek-nops="27"><span class="perek-header">פרק ט</span>
<br /><span id="PS_9_1" data-pasuk-now="22"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_1_1">וַיְהִ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_1_2">כִשְׁמֹ֣עַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_1_3">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4040">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_1_4">הַמְּלָכִ֡ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_5">אֲשֶׁר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_6">בְּעֵ֨בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_7">הַיַּרְדֵּ֜ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_8">בָּהָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_9">וּבַשְּׁפֵלָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_10">וּבְכֹל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_11">ח֚וֹף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_12">הַיָּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_13">הַגָּד֔וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4052">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_15">מ֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_16">הַלְּבָנ֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_17">הַֽחִתִּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_18">וְהָ֣אֱמֹרִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_19">הַֽכְּנַעֲנִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_20">הַפְּרִזִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_21">הַחִוִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_22">וְהַיְבוּסִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4061">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_2_1">וַיִּֽתְקַבְּצ֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_2_2">יַחְדָּ֔ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_3">לְהִלָּחֵ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_4">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4066">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_5">יְהוֹשֻׁ֖עַ</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_9_2_6">וְעִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4069">־</span><span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_9_2_7">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_9_2_8">פֶּ֖ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_9_2_9">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4074">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4075"> פ </span>
</span>
<br /><span id="PS_9_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_1">וְיֹשְׁבֵ֨י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_2">גִבְע֜וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_3">שָׁמְע֗וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_4">אֵת֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_5">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_6">עָשָׂ֧ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_7">יְהוֹשֻׁ֛עַ</span>
<span class="mila" data-lnk="2" data-exlnk="10" id="M_9_3_8">לִירִיח֖וֹ</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_9_3_9">וְלָעָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4085">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_4_1">וַיַּעֲשׂ֤וּ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_4_2">גַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4088">־</span><span class="mila" data-lnk="51" data-exlnk="0" id="M_9_4_3">הֵ֙מָּה֙</span>
<span class="mila" data-lnk="4026532211" data-exlnk="0" id="M_9_4_4">בְּעָרְמָ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_4_5">וַיֵּלְכ֖וּ</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_9_4_6">וַיִּצְטַיָּ֑רוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_7">וַיִּקְח֞וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_8">שַׂקִּ֤ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_9">בָּלִים֙</span>
<span class="mila" data-lnk="4026532163" data-exlnk="0" id="M_9_4_10">לַחֲמ֣וֹרֵיהֶ֔ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_4_11">וְנֹאד֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_12">יַ֙יִן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_13">בָּלִ֔ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_4_14">וּמְבֻקָּעִ֖ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_4_15">וּמְצֹרָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4102">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_1">וּנְעָל֨וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_2">בָּל֤וֹת</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_9_5_3">וּמְטֻלָּאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_4">בְּרַגְלֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_5_5">וּשְׂלָמ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_6">בָּל֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_7">עֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_5_8">וְכֹל֙</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_5_9">לֶ֣חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_10">צֵידָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_11">יָבֵ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_12">הָיָ֥ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_9_5_13">נִקֻּדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4116">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_6" data-pasuk-now="18"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_1">וַיֵּלְכ֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4119">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_3">יְהוֹשֻׁ֛עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4122">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_6_5">הַֽמַּחֲנֶ֖ה</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_9_6_6">הַגִּלְגָּ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_7">וַיֹּאמְר֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_8">אֵלָ֜יו</span>
<span class="mila" data-lnk="3489661376" data-exlnk="0" id="M_9_6_9">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4128">־</span><span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_9_6_10">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_11">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_6_12">מֵאֶ֤רֶץ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_6_13">רְחוֹקָה֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_6_14">בָּ֔אנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_15">וְעַתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_16">כִּרְתוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4136">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_17">לָ֥נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_18">בְרִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4139">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_7" data-pasuk-now="13"><span class="pasuk-header">[ז]</span>
<span data-lnk="0" data-exlnk="0" id="M_9_7_1" class="mila ktiv">וַיֹּ֥אמֶרו</span>
<span data-lnk="4026532160" data-exlnk="0" id="M_9_7_1_K" class="mila kri">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_2">אִֽישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4143">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_3">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4146">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_5">הַחִוִּ֑י</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_9_7_6">אוּלַ֗י</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_9_7_7">בְּקִרְבִּי֙</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_9_7_8">אַתָּ֣ה</span>
<span class="mila" data-lnk="3221225763" data-exlnk="0" id="M_9_7_9">יוֹשֵׁ֔ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_10">וְאֵ֖יךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_9_7_11" class="mila ktiv">אֶֽכְרָות</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="4154">־</span><span data-lnk="4026532290" data-exlnk="0" id="M_9_7_11_K" class="mila kri">אֶֽכְרָת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4156">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_12">לְךָ֥</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_13">בְרִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4159">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_1">וַיֹּאמְר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4162">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_3">יְהוֹשֻׁ֖עַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_4">עֲבָדֶ֣יךָֽ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_5">אֲנָ֑חְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_6">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_7">אֲלֵיהֶ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_8">יְהוֹשֻׁ֛עַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_9">מִ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_10">אַתֶּ֖ם</span>
<span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_9_8_11">וּמֵאַ֥יִן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_12">תָּבֹֽאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_9" data-pasuk-now="18"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_1">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_2">אֵלָ֗יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_3">מֵאֶ֨רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_4">רְחוֹקָ֤ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_5">מְאֹד֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_6">בָּ֣אוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_7">עֲבָדֶ֔יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_8">לְשֵׁ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_9">יְהוָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_10">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_11">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4185">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_12">שָׁמַ֣עְנוּ</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_9_9_13">שָׁמְע֔וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_9_14">וְאֵ֛ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_9_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4190">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_9_9_16">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_9_17">עָשָׂ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_9_18">בְּמִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4194">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_1">וְאֵ֣ת׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4197">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_4">עָשָׂ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_5">לִשְׁנֵי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_6">מַלְכֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_7">הָאֱמֹרִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_8">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_9">בְּעֵ֣בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_10">הַיַּרְדֵּ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_11">לְסִיחוֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_12">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_13">חֶשְׁבּ֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_14">וּלְע֥וֹג</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_15">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4211">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_16">הַבָּשָׁ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_17">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_18">בְּעַשְׁתָּרֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4215">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_11" data-pasuk-now="21"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_1">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_2">אֵלֵ֡ינוּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_11_3">זְֽקֵינֵינוּ֩</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_9_11_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4220">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_9_11_5">יֹשְׁבֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_6">אַרְצֵ֜נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_7">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_8">קְח֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_9">בְיֶדְכֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_10">צֵידָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_11">לַדֶּ֔רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_12">וּלְכ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_13">לִקְרָאתָ֑ם</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_9_11_14">וַאֲמַרְתֶּ֤ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_11_15">אֲלֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_16">עַבְדֵיכֶ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_17">אֲנַ֔חְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_18">וְעַתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_19">כִּרְתוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4236">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_20">לָ֥נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_21">בְרִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4239">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_12" data-pasuk-now="15"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_9_12_1">זֶ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4241">׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_12_2">לַחְמֵ֗נוּ</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_9_12_3">חָ֞ם</span>
<span class="mila" data-lnk="3221225745" data-exlnk="0" id="M_9_12_4">הִצְטַיַּ֤דְנוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_12_5">אֹתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_6">מִבָּ֣תֵּ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_7">בְּי֥וֹם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_12_8">צֵאתֵ֖נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_9">לָלֶ֣כֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_10">אֲלֵיכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_11">וְעַתָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_12">הִנֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_13">יָבֵ֔שׁ</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_9_12_14">וְהָיָ֖ה</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_9_12_15">נִקֻּדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4256">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_13" data-pasuk-now="15"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_1">וְאֵ֨לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_2">נֹאד֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_3">הַיַּ֙יִן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_13_5">מִלֵּ֣אנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_6">חֲדָשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_7">וְהִנֵּ֖ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_13_8">הִתְבַּקָּ֑עוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_9">וְאֵ֤לֶּה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_13_10">שַׂלְמוֹתֵ֙ינוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_11">וּנְעָלֵ֔ינוּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_13_12">בָּל֕וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_13">מֵרֹ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_14">הַדֶּ֖רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_15">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4272">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_14" data-pasuk-now="8"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_14_1">וַיִּקְח֥וּ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_14_2">הָאֲנָשִׁ֖ים</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_14_3">מִצֵּידָ֑ם</span>
<span class="mila" data-lnk="1073742098" data-exlnk="0" id="M_9_14_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4277">־</span><span class="mila" data-lnk="2147483922" data-exlnk="0" id="M_9_14_5">פִּ֥י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_14_6">יְהוָ֖ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_14_7">לֹ֥א</span>
<span class="mila" data-lnk="4026532306" data-exlnk="0" id="M_9_14_8">שָׁאָֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4282">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_15" data-pasuk-now="12"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_9_15_1">וַיַּ֨עַשׂ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_9_15_2">לָהֶ֤ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_9_15_3">יְהוֹשֻׁעַ֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_9_15_4">שָׁל֔וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_15_5">וַיִּכְרֹ֥ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_15_6">לָהֶ֛ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_15_7">בְּרִ֖ית</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_9_15_8">לְחַיּוֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_9">וַיִּשָּׁבְע֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_15_10">לָהֶ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_15_11">נְשִׂיאֵ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_15_12">הָעֵדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4295">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_16" data-pasuk-now="17"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_9_16_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_9_16_2">מִקְצֵה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_3">שְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_4">יָמִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_5">אַחֲרֵ֕י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4302">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_7">כָּרְת֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_8">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_9">בְּרִ֑ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_10">וַֽיִּשְׁמְע֗וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_11">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4308">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_12">קְרֹבִ֥ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_13">הֵם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_14">אֵלָ֔יו</span>
<span class="mila" data-lnk="4026532322" data-exlnk="0" id="M_9_16_15">וּבְקִרְבּ֖וֹ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_16_16">הֵ֥ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_16_17">יֹשְׁבִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4315">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_17" data-pasuk-now="14"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_1">וַיִּסְע֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4318">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_3">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_4">וַיָּבֹ֛אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4322">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_6">עָרֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_7">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_8">הַשְּׁלִישִׁ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_9">וְעָֽרֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_10">גִּבְע֣וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_11">וְהַכְּפִירָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_12">וּבְאֵר֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_13">וְקִרְיַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_14">יְעָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4332">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_18" data-pasuk-now="17"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_1">וְלֹ֤א</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_18_2">הִכּוּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_3">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_4">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4338">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_9_18_6">נִשְׁבְּע֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_7">לָהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_8">נְשִׂיאֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_9">הָעֵדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_10">בַּֽיהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_11">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_12">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_13">וַיִּלֹּ֥נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_14">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4348">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_15">הָעֵדָ֖ה</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_9_18_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4351">־</span><span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_9_18_17">הַנְּשִׂיאִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4353">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_19" data-pasuk-now="17"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_1">וַיֹּאמְר֤וּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_19_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4356">־</span><span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_9_19_3">הַנְּשִׂיאִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4359">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4361">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_6">הָ֣עֵדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_7">אֲנַ֙חְנוּ֙</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_9_19_8">נִשְׁבַּ֣עְנוּ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_9_19_9">לָהֶ֔ם</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_9_19_10">בַּיהוָ֖ה</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_9_19_11">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_9_19_12">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_9_19_13">וְעַתָּ֕ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_14">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_15">נוּכַ֖ל</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_19_16">לִנְגֹּ֥עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_17">בָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4374">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_20" data-pasuk-now="14"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_20_1">זֹ֛את</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_20_2">נַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_20_3">לָהֶ֖ם</span>
<span class="mila" data-lnk="3221225776" data-exlnk="0" id="M_9_20_4">וְהַחֲיֵ֣ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_9_20_5">אוֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_6">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4381">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_7">יִֽהְיֶ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_8">עָלֵ֙ינוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_9">קֶ֔צֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4386">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_11">הַשְּׁבוּעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4389">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_13">נִשְׁבַּ֥עְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_14">לָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4392">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_21" data-pasuk-now="15"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_9_21_1">וַיֹּאמְר֧וּ</span>
<span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_9_21_2">אֲלֵיהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_3">הַנְּשִׂיאִ֖ים</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_9_21_4">יִֽחְי֑וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_5">וַ֠יִּֽהְיוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_6">חֹטְבֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_7">עֵצִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_8">וְשֹׁאֲבֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4401">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_9">מַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_10">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4404">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_11">הָ֣עֵדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_12">כַּאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_9_21_13">דִּבְּר֥וּ</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_9_21_14">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_15">הַנְּשִׂיאִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4410">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_22" data-pasuk-now="17"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_1">וַיִּקְרָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_2">לָהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_3">יְהוֹשֻׁ֔עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_4">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_5">אֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_6">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_7">לָמָּה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_8">רִמִּיתֶ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_9">אֹתָ֜נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_10">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_22_11">רְחוֹקִ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_12">אֲנַ֤חְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_13">מִכֶּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_14">מְאֹ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_15">וְאַתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_16">בְּקִרְבֵּ֥נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_17">יֹשְׁבִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4428">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_23" data-pasuk-now="13"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_1">וְעַתָּ֖ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_9_23_2">אֲרוּרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_3">אַתֶּ֑ם</span>
<span class="mila" data-lnk="1879048514" data-exlnk="0" id="M_9_23_4">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4433">־</span><span class="mila" data-lnk="3758096706" data-exlnk="0" id="M_9_23_5">יִכָּרֵ֨ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_23_6">מִכֶּ֜ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_23_7">עֶ֗בֶד</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_9_23_8">וְחֹטְבֵ֥י</span>
<span class="mila" data-lnk="2147483906" data-exlnk="0" id="M_9_23_9">עֵצִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_10">וְשֹׁ֥אֲבֵי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_11">מַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_12">לְבֵ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_13">אֱלֹהָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4443">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_24" data-pasuk-now="35"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_1">וַיַּעֲנ֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4446">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_3">יְהוֹשֻׁ֜עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_4">וַיֹּאמְר֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_5">כִּי֩</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_24_6">הֻגֵּ֨ד</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_9_24_7">הֻגַּ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_8">לַעֲבָדֶ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_9">אֵת֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_10">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_11">צִוָּ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_12">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_13">אֱלֹהֶ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4459">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_15">מֹשֶׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_16">עַבְדּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_17">לָתֵ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_18">לָכֶם֙</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_9_24_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4465">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_9_24_20">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4467">־</span><span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_9_24_21">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_24_22">וּלְהַשְׁמִ֛יד</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_9_24_23">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4471">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_9_24_24">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4473">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_9_24_25">יֹשְׁבֵ֥י</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_9_24_26">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_27">מִפְּנֵיכֶ֑ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_24_28">וַנִּירָ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_29">מְאֹ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_30">לְנַפְשֹׁתֵ֙ינוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_31">מִפְּנֵיכֶ֔ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_9_24_32">וַֽנַּעֲשֵׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_33">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4483">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_34">הַדָּבָ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_35">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4486">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_1">וְעַתָּ֖ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_9_25_2">הִנְנ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_3">בְיָדֶ֑ךָ</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_9_25_4">כַּטּ֨וֹב</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_9_25_5">וְכַיָּשָׁ֧ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_6">בְּעֵינֶ֛יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_7">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_8">לָ֖נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_9">עֲשֵֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4496">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_26" data-pasuk-now="10"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_2">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_3">כֵּ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_4">וַיַּצֵּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_5">אוֹתָ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_6">מִיַּ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_7">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4504">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_8">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_9">וְלֹ֥א</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_9_26_10">הֲרָגֽוּם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4508">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_27" data-pasuk-now="18"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_1">וַיִּתְּנֵ֨ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_2">יְהוֹשֻׁ֜עַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_3">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_4">הַה֗וּא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_5">חֹטְבֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_6">עֵצִ֛ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_7">וְשֹׁ֥אֲבֵי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_8">מַ֖יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_9">לָֽעֵדָ֑ה</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_9_27_10">וּלְמִזְבַּ֤ח</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_11">יְהוָה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_12">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4521">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_13">הַיּ֣וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_14">הַזֶּ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4525">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_16">הַמָּק֖וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_17">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_18">יִבְחָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4530">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4531"> פ </span>
</span>
<br /></p>