<p id="PR_5" data-perek-now="364" data-perek-nops="31"><span class="perek-header">פרק ה</span>
<br /><span id="PS_5_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="3221225732" data-exlnk="1" id="M_5_1_1">וַתָּ֣שַׁר</span>
<span class="mila" data-lnk="4" data-exlnk="1" id="M_5_1_2">דְּבוֹרָ֔ה</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_5_1_3">וּבָרָ֖ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_1_4">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2261">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_1_5">אֲבִינֹ֑עַם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_1_6">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_1_7">הַה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_1_8">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2266">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_5_2_1">בִּפְרֹ֤עַ</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_5_2_2">פְּרָעוֹת֙</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_2_3">בְּיִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_2_4">בְּהִתְנַדֵּ֖ב</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_2_5">עָ֑ם</span>
<span class="mila" data-lnk="3489661287" data-exlnk="0" id="M_5_2_6">בָּרֲכ֖וּ</span>
<span class="mila" data-lnk="4026532199" data-exlnk="0" id="M_5_2_7">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2274">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_3_1">שִׁמְע֣וּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_3_2">מְלָכִ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_3_3">הַאֲזִ֖ינוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_3_4">רֹֽזְנִ֑ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_5_3_5">אָנֹכִ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_3_6">לַֽיהוָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_3_7">אָנֹכִ֣י</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_5_3_8">אָשִׁ֔ירָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_9">אֲזַמֵּ֕ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_3_10">לַֽיהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_3_11">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_3_12">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2287">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_4_1">יְהוָ֗ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_4_2">בְּצֵאתְךָ֤</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_4_3">מִשֵּׂעִיר֙</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_5_4_4">בְּצַעְדְּךָ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_4_5">מִשְּׂדֵ֣ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_4_6">אֱד֔וֹם</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_4_7">אֶ֣רֶץ</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_4_8">רָעָ֔שָׁה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_4_9">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2297">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_5_4_10">שָׁמַ֖יִם</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_4_11">נָטָ֑פוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_4_12">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2301">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_5_4_13">עָבִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_4_14">נָ֥טְפוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_4_15">מָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2305">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_5" data-pasuk-now="10"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_5_1">הָרִ֥ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_5_2">נָזְל֖וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_5_3">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_5_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_5_5">זֶ֣ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_5_6">סִינַ֔י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_5_7">מִפְּנֵ֕י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_5_8">יְהוָ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_5_9">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_5_10">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2316">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_6" data-pasuk-now="13"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_6_1">בִּימֵ֞י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_6_2">שַׁמְגַּ֤ר</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_6_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2320">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_5_6_4">עֲנָת֙</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_6_5">בִּימֵ֣י</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_6_6">יָעֵ֔ל</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_6_7">חָדְל֖וּ</span>
<span class="mila" data-lnk="4026532203" data-exlnk="0" id="M_5_6_8">אֳרָח֑וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_6_9">וְהֹלְכֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_6_10">נְתִיב֔וֹת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_6_11">יֵלְכ֕וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_6_12">אֳרָח֖וֹת</span>
<span class="mila" data-lnk="3221225738" data-exlnk="0" id="M_5_6_13">עֲקַלְקַלּֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2331">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_7" data-pasuk-now="10"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805306475" data-exlnk="0" id="M_5_7_1">חָדְל֧וּ</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_5_7_2">פְרָז֛וֹן</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_5_7_3">בְּיִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_5_7_4">חָדֵ֑לּוּ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_7_5">עַ֤ד</span>
<span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_5_7_6">שַׁקַּ֙מְתִּי֙</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_7_7">דְּבוֹרָ֔ה</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_5_7_8">שַׁקַּ֥מְתִּי</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_7_9">אֵ֖ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_7_10">בְּיִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2342">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_8" data-pasuk-now="13"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_8_1">יִבְחַר֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_8_2">אֱלֹהִ֣ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_8_3">חֲדָשִׁ֔ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_8_4">אָ֖ז</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_8_5">לָחֶ֣ם</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_8_6">שְׁעָרִ֑ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_8_7">מָגֵ֤ן</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_5_8_8">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2351">־</span><span class="mila" data-lnk="4026532167" data-exlnk="0" id="M_5_8_9">יֵֽרָאֶה֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_8_10">וָרֹ֔מַח</span>
<span class="mila" data-lnk="4026532206" data-exlnk="0" id="M_5_8_11">בְּאַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_8_12">אֶ֖לֶף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_8_13">בְּיִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2357">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_9_1">לִבִּי֙</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_5_9_2">לְחוֹקֲקֵ֣י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_9_3">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="4026532204" data-exlnk="0" id="M_5_9_4">הַמִּֽתְנַדְּבִ֖ים</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_5_9_5">בָּעָ֑ם</span>
<span class="mila" data-lnk="805306471" data-exlnk="0" id="M_5_9_6">בָּרֲכ֖וּ</span>
<span class="mila" data-lnk="805306471" data-exlnk="0" id="M_5_9_7">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2365">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_10_1">רֹכְבֵי֩</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_10_2">אֲתֹנ֨וֹת</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_10_3">צְחֹר֜וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_10_4">יֹשְׁבֵ֧י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_10_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2371">־</span><span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_5_10_6">מִדִּ֛ין</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_10_7">וְהֹלְכֵ֥י</span>
<span class="mila" data-lnk="1342177643" data-exlnk="0" id="M_5_10_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2375">־</span><span class="mila" data-lnk="4026532203" data-exlnk="0" id="M_5_10_9">דֶּ֖רֶךְ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_10_10">שִֽׂיחוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2378">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_11" data-pasuk-now="16"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_11_1">מִקּ֣וֹל</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_11_2">מְחַֽצֲצִ֗ים</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_11_3">בֵּ֚ין</span>
<span class="mila" data-lnk="3221225763" data-exlnk="0" id="M_5_11_4">מַשְׁאַבִּ֔ים</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_11_5">שָׁ֤ם</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_5_11_6">יְתַנּוּ֙</span>
<span class="mila" data-lnk="4026532335" data-exlnk="0" id="M_5_11_7">צִדְק֣וֹת</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_11_8">יְהוָ֔ה</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_5_11_9">צִדְקֹ֥ת</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_5_11_10">פִּרְזוֹנ֖וֹ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_11_11">בְּיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_11_12">אָ֛ז</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_11_13">יָרְד֥וּ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_11_14">לַשְּׁעָרִ֖ים</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_5_11_15">עַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2394">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_5_11_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2396">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_12_1">עוּרִ֤י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_12_2">עוּרִי֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_12_3">דְּבוֹרָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_4">ע֥וּרִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_5">ע֖וּרִי</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_5_12_6">דַּבְּרִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2403">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_7">שִׁ֑יר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_12_8">ק֥וּם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_12_9">בָּרָ֛ק</span>
<span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_5_12_10">וּֽשֲׁבֵ֥ה</span>
<span class="mila" data-lnk="3221225762" data-exlnk="0" id="M_5_12_11">שֶׁבְיְךָ֖</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_12_12">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2410">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_12_13">אֲבִינֹֽעַם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2412">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_13_1">אָ֚ז</span>
<span class="mila" data-lnk="4026532199" data-exlnk="0" id="M_5_13_2">יְרַ֣ד</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_13_3">שָׂרִ֔יד</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_13_4">לְאַדִּירִ֖ים</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_13_5">עָ֑ם</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_13_6">יְהוָ֕ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_13_7">יְרַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2420">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_5_13_8">לִ֖י</span>
<span class="mila" data-lnk="4026532331" data-exlnk="0" id="M_5_13_9">בַּגִּבּוֹרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2423">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026532327" data-exlnk="0" id="M_5_14_1">מִנִּ֣י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_14_2">אֶפְרַ֗יִם</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_14_3">שָׁרְשָׁם֙</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_14_4">בַּעֲמָלֵ֔ק</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_14_5">אַחֲרֶ֥יךָ</span>
<span class="mila" data-lnk="4026532204" data-exlnk="0" id="M_5_14_6">בִנְיָמִ֖ין</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_5_14_7">בַּעֲמָמֶ֑יךָ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_5_14_8">מִנִּ֣י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_14_9">מָכִ֗יר</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_14_10">יָֽרְדוּ֙</span>
<span class="mila" data-lnk="3221225763" data-exlnk="0" id="M_5_14_11">מְחֹ֣קֲקִ֔ים</span>
<span class="mila" data-lnk="4026532194" data-exlnk="0" id="M_5_14_12">וּמִ֨זְּבוּלֻ֔ן</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_14_13">מֹשְׁכִ֖ים</span>
<span class="mila" data-lnk="4026532070" data-exlnk="0" id="M_5_14_14">בְּשֵׁ֥בֶט</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_14_15">סֹפֵֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2439">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_15" data-pasuk-now="15"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532199" data-exlnk="0" id="M_5_15_1">וְשָׂרַ֤י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_15_2">בְּיִשָּׂשכָר֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_15_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2443">־</span><span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_5_15_4">דְּבֹרָ֔ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_15_5">וְיִשָּׂשכָר֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_15_6">כֵּ֣ן</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_15_7">בָּרָ֔ק</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_15_8">בָּעֵ֖מֶק</span>
<span class="mila" data-lnk="4026532335" data-exlnk="0" id="M_5_15_9">שֻׁלַּ֣ח</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_15_10">בְּרַגְלָ֑יו</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_5_15_11">בִּפְלַגּ֣וֹת</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_15_12">רְאוּבֵ֔ן</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_15_13">גְּדֹלִ֖ים</span>
<span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_5_15_14">חִקְקֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2455">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_5_15_15">לֵֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2457">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_16" data-pasuk-now="12"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_16_1">לָ֣מָּה</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_16_2">יָשַׁ֗בְתָּ</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_16_3">בֵּ֚ין</span>
<span class="mila" data-lnk="4026532206" data-exlnk="0" id="M_5_16_4">הַֽמִּשְׁפְּתַ֔יִם</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_16_5">לִשְׁמֹ֖עַ</span>
<span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_5_16_6">שְׁרִק֣וֹת</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_16_7">עֲדָרִ֑ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_16_8">לִפְלַגּ֣וֹת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_5_16_9">רְאוּבֵ֔ן</span>
<span class="mila" data-lnk="4026532202" data-exlnk="0" id="M_5_16_10">גְּדוֹלִ֖ים</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_5_16_11">חִקְרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2469">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_5_16_12">לֵֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2471">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_17" data-pasuk-now="15"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_17_1">גִּלְעָ֗ד</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_17_2">בְּעֵ֤בֶר</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_17_3">הַיַּרְדֵּן֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_17_4">שָׁכֵ֔ן</span>
<span class="mila" data-lnk="4026532206" data-exlnk="0" id="M_5_17_5">וְדָ֕ן</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_17_6">לָ֥מָּה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_5_17_7">יָג֖וּר</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_17_8">אֳנִיּ֑וֹת</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_17_9">אָשֵׁ֗ר</span>
<span class="mila" data-lnk="4026532198" data-exlnk="0" id="M_5_17_10">יָשַׁב֙</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_17_11">לְח֣וֹף</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_17_12">יַמִּ֔ים</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_17_13">וְעַ֥ל</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_17_14">מִפְרָצָ֖יו</span>
<span class="mila" data-lnk="4026532206" data-exlnk="0" id="M_5_17_15">יִשְׁכּֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2487">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_18" data-pasuk-now="9"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026532203" data-exlnk="0" id="M_5_18_1">זְבֻל֗וּן</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_5_18_2">עַ֣ם</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_18_3">חֵרֵ֥ף</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_18_4">נַפְשׁ֛וֹ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_18_5">לָמ֖וּת</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_18_6">וְנַפְתָּלִ֑י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_18_7">עַ֖ל</span>
<span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_5_18_8">מְרוֹמֵ֥י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_18_9">שָׂדֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2497">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_19" data-pasuk-now="15"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_5_19_1">בָּ֤אוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_19_2">מְלָכִים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_19_3">נִלְחָ֔מוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_19_4">אָ֤ז</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_19_5">נִלְחֲמוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_19_6">מַלְכֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_19_7">כְנַ֔עַן</span>
<span class="mila" data-lnk="3221225773" data-exlnk="0" id="M_5_19_8">בְּתַעְנַ֖ךְ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_5_19_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2507">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_5_19_10">מֵ֣י</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_5_19_11">מְגִדּ֑וֹ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_19_12">בֶּ֥צַע</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_19_13">כֶּ֖סֶף</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_19_14">לֹ֥א</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_19_15">לָקָֽחוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2514">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_20" data-pasuk-now="8"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="1879048527" data-exlnk="0" id="M_5_20_1">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2516">־</span><span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_5_20_2">שָׁמַ֖יִם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_20_3">נִלְחָ֑מוּ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_20_4">הַכּֽוֹכָבִים֙</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_5_20_5">מִמְּסִלּוֹתָ֔ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_20_6">נִלְחֲמ֖וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_20_7">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2523">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_5_20_8">סִֽיסְרָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2525">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_21" data-pasuk-now="10"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="805306478" data-exlnk="0" id="M_5_21_1">נַ֤חַל</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_21_2">קִישׁוֹן֙</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_21_3">גְּרָפָ֔ם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_5_21_4">נַ֥חַל</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_5_21_5">קְדוּמִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_21_6">נַ֣חַל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_21_7">קִישׁ֑וֹן</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_5_21_8">תִּדְרְכִ֥י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_21_9">נַפְשִׁ֖י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_21_10">עֹֽז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2536">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_5_22_1">אָ֥ז</span>
<span class="mila" data-lnk="4026532199" data-exlnk="0" id="M_5_22_2">הָלְמ֖וּ</span>
<span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_5_22_3">עִקְּבֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2540">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_5_22_4">ס֑וּס</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_22_5">מִֽדַּהֲר֖וֹת</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_22_6">דַּהֲר֥וֹת</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_5_22_7">אַבִּירָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2545">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_23" data-pasuk-now="16"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_23_1">א֣וֹרוּ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_23_2">מֵר֗וֹז</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_23_3">אָמַר֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_23_4">מַלְאַ֣ךְ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_5_23_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_5_23_6">אֹ֥רוּ</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_5_23_7">אָר֖וֹר</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_23_8">יֹשְׁבֶ֑יהָ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_23_9">כִּ֤י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_23_10">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2556">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_5_23_11">בָ֙אוּ֙</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_5_23_12">לְעֶזְרַ֣ת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_23_13">יְהוָ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_23_14">לְעֶזְרַ֥ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_23_15">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_5_23_16">בַּגִּבּוֹרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2563">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_24" data-pasuk-now="9"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026532294" data-exlnk="0" id="M_5_24_1">תְּבֹרַךְ֙</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_5_24_2">מִנָּשִׁ֔ים</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_24_3">יָעֵ֕ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_24_4">אֵ֖שֶׁת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_24_5">חֶ֣בֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_24_6">הַקֵּינִ֑י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_24_7">מִנָּשִׁ֥ים</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_5_24_8">בָּאֹ֖הֶל</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_24_9">תְּבֹרָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2573">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_25" data-pasuk-now="8"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_25_1">מַ֥יִם</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_25_2">שָׁאַ֖ל</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_25_3">חָלָ֣ב</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_5_25_4">נָתָ֑נָה</span>
<span class="mila" data-lnk="3221225765" data-exlnk="0" id="M_5_25_5">בְּסֵ֥פֶל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_5_25_6">אַדִּירִ֖ים</span>
<span class="mila" data-lnk="3221225740" data-exlnk="0" id="M_5_25_7">הִקְרִ֥יבָה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_25_8">חֶמְאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2582">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_26_1">יָדָהּ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_26_2">לַיָּתֵ֣ד</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_26_3">תִּשְׁלַ֔חְנָה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_26_4">וִימִינָ֖הּ</span>
<span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_5_26_5">לְהַלְמ֣וּת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_26_6">עֲמֵלִ֑ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_5_26_7">וְהָלְמָ֤ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_26_8">סִֽיסְרָא֙</span>
<span class="mila" data-lnk="3221225734" data-exlnk="0" id="M_5_26_9">מָחֲקָ֣ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_26_10">רֹאשׁ֔וֹ</span>
<span class="mila" data-lnk="3221225734" data-exlnk="0" id="M_5_26_11">וּמָחֲצָ֥ה</span>
<span class="mila" data-lnk="3221225766" data-exlnk="0" id="M_5_26_12">וְחָלְפָ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_5_26_13">רַקָּתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2596">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_27" data-pasuk-now="14"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_27_1">בֵּ֣ין</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_27_2">רַגְלֶ֔יהָ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_27_3">כָּרַ֥ע</span>
<span class="mila" data-lnk="3221225740" data-exlnk="0" id="M_5_27_4">נָפַ֖ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_5_27_5">שָׁכָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_27_6">בֵּ֤ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_27_7">רַגְלֶ֙יהָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_27_8">כָּרַ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_27_9">נָפָ֔ל</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_5_27_10">בַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_27_11">כָּרַ֔ע</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_27_12">שָׁ֖ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_27_13">נָפַ֥ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_27_14">שָׁדֽוּד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2611">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_28" data-pasuk-now="16"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_28_1">בְּעַד֩</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_28_2">הַחַלּ֨וֹן</span>
<span class="mila" data-lnk="4026532170" data-exlnk="0" id="M_5_28_3">נִשְׁקְפָ֧ה</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_28_4">וַתְּיַבֵּ֛ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_28_5">אֵ֥ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_28_6">סִֽיסְרָ֖א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_5_28_7">בְּעַ֣ד</span>
<span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_5_28_8">הָאֶשְׁנָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_28_9">מַדּ֗וּעַ</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_5_28_10">בֹּשֵׁ֤שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_28_11">רִכְבּוֹ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_28_12">לָב֔וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_28_13">מַדּ֣וּעַ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_5_28_14">אֶֽחֱר֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_28_15">פַּעֲמֵ֖י</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_5_28_16">מַרְכְּבוֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2628">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_29" data-pasuk-now="8"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="4026532299" data-exlnk="0" id="M_5_29_1">חַכְמ֥וֹת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_29_2">שָׂרוֹתֶ֖יהָ</span>
<span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_5_29_3">תַּעֲנֶ֑ינָּה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_29_4">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2633">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_5_29_5">הִ֕יא</span>
<span class="mila" data-lnk="4026532167" data-exlnk="0" id="M_5_29_6">תָּשִׁ֥יב</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_5_29_7">אֲמָרֶ֖יהָ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_5_29_8">לָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2638">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_30" data-pasuk-now="18"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_30_1">הֲלֹ֨א</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_5_30_2">יִמְצְא֜וּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_5_30_3">יְחַלְּק֣וּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_5_30_4">שָׁלָ֗ל</span>
<span class="mila" data-lnk="4026532327" data-exlnk="0" id="M_5_30_5">רַ֤חַם</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_5_30_6">רַחֲמָתַ֙יִם֙</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_30_7">לְרֹ֣אשׁ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_5_30_8">גֶּ֔בֶר</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_5_30_9">שְׁלַ֤ל</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_5_30_10">צְבָעִים֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_30_11">לְסִ֣יסְרָ֔א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_5_30_12">שְׁלַ֥ל</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_5_30_13">צְבָעִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_30_14">רִקְמָ֑ה</span>
<span class="mila" data-lnk="3221225770" data-exlnk="0" id="M_5_30_15">צֶ֥בַע</span>
<span class="mila" data-lnk="3221225766" data-exlnk="0" id="M_5_30_16">רִקְמָתַ֖יִם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_5_30_17">לְצַוְּארֵ֥י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_5_30_18">שָׁלָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2657">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_31" data-pasuk-now="13"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_31_1">כֵּ֠ן</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_31_2">יֹאבְד֤וּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_5_31_3">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2661">־</span><span class="mila" data-lnk="4026532163" data-exlnk="0" id="M_5_31_4">אוֹיְבֶ֙יךָ֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_31_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_5_31_6">וְאֹ֣הֲבָ֔יו</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_5_31_7">כְּצֵ֥את</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_5_31_8">הַשֶּׁ֖מֶשׁ</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_5_31_9">בִּגְבֻרָת֑וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_31_10">וַתִּשְׁקֹ֥ט</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_5_31_11">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_31_12">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_5_31_13">שָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2673">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2674"> פ </span>
</span>
<br /></p>