<p id="PR_19" data-perek-now="529" data-perek-nops="30"><span class="perek-header">פרק יט</span>
<br /><span id="PS_19_1" data-pasuk-now="20"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_2">בַּיָּמִ֣ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_3">הָהֵ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_4">וּמֶ֖לֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_5">אֵ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_6">בְּיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_7">וַיְהִ֣י׀</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_8">אִ֣ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_9">לֵוִ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_10">גָּ֚ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_11">בְּיַרְכְּתֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_12">הַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10164">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_13">אֶפְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_14">וַיִּֽקַּֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10167">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_15">לוֹ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_16">אִשָּׁ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_17">פִילֶ֔גֶשׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_18">מִבֵּ֥ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_19">לֶ֖חֶם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_1_20">יְהוּדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10174">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_2" data-pasuk-now="17"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532327" data-exlnk="0" id="M_19_2_1">וַתִּזְנֶ֤ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_19_2_2">עָלָיו֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_2_3">פִּֽילַגְשׁ֔וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_2_4">וַתֵּ֤לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_2_5">מֵֽאִתּוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10181">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_7">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_8">אָבִ֔יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10185">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_10">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_11">לֶ֖חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_12">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_19_2_13">וַתְּהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10190">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_19_2_14">שָׁ֕ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_19_2_15">יָמִ֖ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_19_2_16">אַרְבָּעָ֥ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_19_2_17">חֳדָשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10195">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_3" data-pasuk-now="20"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_1">וַיָּ֨קָם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_2">אִישָׁ֜הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_3">וַיֵּ֣לֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_4">אַחֲרֶ֗יהָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_5">לְדַבֵּ֤ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10202">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_7">לִבָּהּ֙</span>
<span data-lnk="0" data-exlnk="0" id="M_19_3_8" class="mila ktiv">לַהֲשִׁיבָ֔ו</span>
<span data-lnk="4026532300" data-exlnk="0" id="M_19_3_8_K" class="mila kri">לַהֲשִׁיבָ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_9">וְנַעֲר֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_10">עִמּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_11">וְצֶ֣מֶד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_12">חֲמֹרִ֑ים</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_19_3_13">וַתְּבִיאֵ֙הוּ֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_19_3_14">בֵּ֣ית</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_19_3_15">אָבִ֔יהָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_16">וַיִּרְאֵ֙הוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_17">אֲבִ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_18">הַֽנַּעֲרָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_3_19">וַיִּשְׂמַ֖ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_20">לִקְרָאתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10218">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_4" data-pasuk-now="13"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_1">וַיַּחֲזֶק</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10220">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_2">בּ֤וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_3">חֹתְנוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_4">אֲבִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_5">הַֽנַּעֲרָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_6">וַיֵּ֥שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_7">אִתּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_8">שְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_9">יָמִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_10">וַיֹּֽאכְלוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_11">וַיִּשְׁתּ֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_12">וַיָּלִ֖ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_13">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10233">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_5" data-pasuk-now="18"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_2">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_3">הָרְבִיעִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_4">וַיַּשְׁכִּ֥ימוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_5_5">בַבֹּ֖קֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_6">וַיָּ֣קָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_7">לָלֶ֑כֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_8">וַיֹּאמֶר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_9">אֲבִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_10">הַֽנַּעֲרָ֜ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_5_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10245">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_5_12">חֲתָנ֗וֹ</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_19_5_13">סְעָ֧ד</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_19_5_14">לִבְּךָ֛</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_5_15">פַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10250">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_19_5_16">לֶ֖חֶם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_5_17">וְאַחַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_18">תֵּלֵֽכוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10254">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_6" data-pasuk-now="15"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_1">וַיֵּשְׁב֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_2">וַיֹּאכְל֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_3">שְׁנֵיהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_4">יַחְדָּ֖ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_5">וַיִּשְׁתּ֑וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_6">וַיֹּ֜אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_7">אֲבִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_8">הַֽנַּעֲרָה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_6_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10264">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_10">הָאִ֔ישׁ</span>
<span class="mila" data-lnk="805306433" data-exlnk="0" id="M_19_6_11">הוֹאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10267">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_6_12">נָ֥א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_6_13">וְלִ֖ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_14">וְיִיטַ֥ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_6_15">לִבֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10272">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_1">וַיָּ֥קָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_2">הָאִ֖ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_3">לָלֶ֑כֶת</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_7_4">וַיִּפְצַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10277">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_5">בּוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_6">חֹֽתְנ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_7">וַיָּ֖שָׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_8">וַיָּ֥לֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_9">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10283">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_8" data-pasuk-now="17"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_1">וַיַּשְׁכֵּ֨ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_8_2">בַּבֹּ֜קֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_3">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_4">הַחֲמִישִׁי֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_5">לָלֶכֶת֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_6">וַיֹּ֣אמֶר׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_7">אֲבִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_8">הַֽנַּעֲרָ֗ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_8_9">סְעָד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10293">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_10">נָא֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_8_11">לְבָ֣בְךָ֔</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_8_12">וְהִֽתְמַהְמְה֖וּ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_19_8_13">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10298">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_19_8_14">נְט֣וֹת</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_19_8_15">הַיּ֑וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_16">וַיֹּאכְל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_17">שְׁנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10303">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_9" data-pasuk-now="30"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_1">וַיָּ֤קָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_2">הָאִישׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_3">לָלֶ֔כֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_4">ה֥וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_5">וּפִילַגְשׁ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_6">וְנַעֲר֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_7">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_9_8">ל֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_9">חֹתְנ֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_10">אֲבִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_11">הַֽנַּעֲרָ֡ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_9_12">הִנֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_13">נָא֩</span>
<span class="mila" data-lnk="4026532325" data-exlnk="0" id="M_19_9_14">רָפָ֨ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_19_9_15">הַיּ֜וֹם</span>
<span class="mila" data-lnk="4026532324" data-exlnk="0" id="M_19_9_16">לַעֲר֗וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_17">לִֽינוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10321">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_18">נָ֞א</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_19_9_19">הִנֵּ֨ה</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_19_9_20">חֲנ֤וֹת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_19_9_21">הַיּוֹם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_22">לִ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_23">פֹּה֙</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_19_9_24">וְיִיטַ֣ב</span>
<span class="mila" data-lnk="2147483912" data-exlnk="0" id="M_19_9_25">לְבָבֶ֔ךָ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_9_26">וְהִשְׁכַּמְתֶּ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_27">מָחָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_28">לְדַרְכְּכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_29">וְהָלַכְתָּ֖</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_9_30">לְאֹהָלֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10335">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_1">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10337">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_2">אָבָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_3">הָאִישׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_4">לָל֔וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_5">וַיָּ֣קָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_6">וַיֵּ֗לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_7">וַיָּבֹא֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_10_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10345">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_19_10_9">נֹ֣כַח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_10_10">יְב֔וּס</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_10_11">הִ֖יא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_10_12">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_13">וְעִמּ֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_14">צֶ֤מֶד</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_19_10_15">חֲמוֹרִים֙</span>
<span class="mila" data-lnk="3221225734" data-exlnk="0" id="M_19_10_16">חֲבוּשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_17">וּפִילַגְשׁ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_18">עִמּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10356">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_11" data-pasuk-now="19"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_1">הֵ֣ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_11_2">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10359">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_19_11_3">יְב֔וּס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_11_4">וְהַיּ֖וֹם</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_19_11_5">רַ֣ד</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_19_11_6">מְאֹ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_7">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_8">הַנַּ֜עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10367">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_10">אֲדֹנָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_11">לְכָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10370">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_12">נָּ֛א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_13">וְנָס֛וּרָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10374">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_15">עִֽיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10376">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_16">הַיְבוּסִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_17">הַזֹּ֖את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_18">וְנָלִ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_19">בָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10381">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_12" data-pasuk-now="16"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_12_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_12_2">אֵלָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_12_3">אֲדֹנָ֔יו</span>
<span class="mila" data-lnk="1073742088" data-exlnk="0" id="M_19_12_4">לֹ֤א</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_19_12_5">נָסוּר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_12_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10388">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_19_12_7">עִ֣יר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_12_8">נָכְרִ֔י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_19_12_9">אֲשֶׁ֛ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_19_12_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10393">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_19_12_11">מִבְּנֵ֥י</span>
<span class="mila" data-lnk="1342177612" data-exlnk="0" id="M_19_12_12">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="2952790348" data-exlnk="0" id="M_19_12_13">הֵ֑נָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_12_14">וְעָבַ֖רְנוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_12_15">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10399">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_12_16">גִּבְעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10401">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_13" data-pasuk-now="10"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_13_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_13_2">לְנַֽעֲר֔וֹ</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_19_13_3">לְךָ֥</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_13_4">וְנִקְרְבָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_13_5">בְּאַחַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_13_6">הַמְּקֹמ֑וֹת</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_19_13_7">וְלַ֥נּוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_13_8">בַגִּבְעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_13_9">א֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_13_10">בָרָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10412">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_14" data-pasuk-now="9"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_1">וַיַּעַבְר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_2">וַיֵּלֵ֑כוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_3">וַתָּבֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_4">לָהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_5">הַשֶּׁ֔מֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_6">אֵ֥צֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_7">הַגִּבְעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_14_9">לְבִנְיָמִֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10422">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_15" data-pasuk-now="15"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_1">וַיָּסֻ֣רוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_2">שָׁ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_3">לָב֖וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_4">לָל֣וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_5">בַּגִּבְעָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_6">וַיָּבֹ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_7">וַיֵּ֙שֶׁב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_8">בִּרְח֣וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_15_9">הָעִ֔יר</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_19_15_10">וְאֵ֥ין</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_19_15_11">אִ֛ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_15_12">מְאַסֵּֽף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10435">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_19_15_13">אוֹתָ֥ם</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_19_15_14">הַבַּ֖יְתָה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_15_15">לָלֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10439">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_16" data-pasuk-now="19"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_16_1">וְהִנֵּ֣ה׀</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_19_16_2">אִ֣ישׁ</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_19_16_3">זָקֵ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_16_4">בָּ֣א</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_19_16_5">מִֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10445">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_16_6">מַעֲשֵׂ֤הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_16_7">מִֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10448">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_16_8">הַשָּׂדֶה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_16_9">בָּעֶ֔רֶב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_19_16_10">וְהָאִישׁ֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_19_16_11">מֵהַ֣ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_19_16_12">אֶפְרַ֔יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_19_16_13">וְהוּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10455">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_19_16_14">גָ֖ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_19_16_15">בַּגִּבְעָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_16_16">וְאַנְשֵׁ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_16_17">הַמָּק֖וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_16_18">בְּנֵ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_16_19">יְמִינִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10462">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_17" data-pasuk-now="15"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_19_17_1">וַיִּשָּׂ֣א</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_19_17_2">עֵינָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_3">וַיַּ֛רְא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10467">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_5">הָאִ֥ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_6">הָאֹרֵ֖חַ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_17_7">בִּרְחֹ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_8">הָעִ֑יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_9">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_10">הָאִ֧ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_11">הַזָּקֵ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_12">אָ֥נָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_13">תֵלֵ֖ךְ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_17_14">וּמֵאַ֥יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_17_15">תָּבֽוֹא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10479">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_18" data-pasuk-now="28"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_2">אֵלָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_3">עֹבְרִ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_4">אֲנַ֜חְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_5">מִבֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10485">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_6">לֶ֣חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_7">יְהוּדָה֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10489">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_9">יַרְכְּתֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_10">הַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10492">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_11">אֶפְרַיִם֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_12">מִשָּׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_13">אָנֹ֔כִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_14">וָאֵלֵ֕ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_15">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10498">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_16">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_17">לֶ֖חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_18">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_19_18_19">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10503">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_19_18_20">בֵּ֤ית</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_19_18_21">יְהוָה֙</span>
<span class="mila" data-lnk="1879048519" data-exlnk="0" id="M_19_18_22">אֲנִ֣י</span>
<span class="mila" data-lnk="4026532167" data-exlnk="0" id="M_19_18_23">הֹלֵ֔ךְ</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_19_18_24">וְאֵ֣ין</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_19_18_25">אִ֔ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_26">מְאַסֵּ֥ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_18_27">אוֹתִ֖י</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_18_28">הַבָּֽיְתָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10513">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_19" data-pasuk-now="19"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_1">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10515">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_2">תֶּ֤בֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_3">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10518">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_4">מִסְפּוֹא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_5">יֵ֣שׁ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_19_6">לַחֲמוֹרֵ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_7">וְ֠גַם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_8">לֶ֣חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_9">וָיַ֤יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_10">יֶשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10526">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_11">לִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_12">וְלַֽאֲמָתֶ֔ךָ</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_19_19_13">וְלַנַּ֖עַר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_19_14">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10531">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_19_19_15">עֲבָדֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_16">אֵ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_17">מַחְס֖וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_18">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10536">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_19_19">דָּבָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10538">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_20" data-pasuk-now="13"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_20_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_20_2">הָאִ֤ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_20_3">הַזָּקֵן֙</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_19_20_4">שָׁל֣וֹם</span>
<span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_19_20_5">לָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_20_6">רַ֥ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_20_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10546">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_20_8">מַחְסוֹרְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_20_9">עָלָ֑י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_20_10">רַ֥ק</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_20_11">בָּרְח֖וֹב</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_19_20_12">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10552">־</span><span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_19_20_13">תָּלַֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10554">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_21" data-pasuk-now="8"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_21_1">וַיְבִיאֵ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_21_2">לְבֵית֔וֹ</span>
<span data-lnk="0" data-exlnk="0" id="M_19_21_3" class="mila ktiv">וַיָּ֖בָול</span>
<span data-lnk="3221225767" data-exlnk="0" id="M_19_21_3_K" class="mila kri">וַיָּ֖בָל</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_19_21_4">לַחֲמוֹרִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_21_5">וַֽיִּרְחֲצוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_21_6">רַגְלֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_21_7">וַיֹּאכְל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_21_8">וַיִּשְׁתּֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10564">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_22" data-pasuk-now="31"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="805306436" data-exlnk="0" id="M_19_22_1">הֵמָּה֘</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_19_22_2">מֵיטִיבִ֣ים</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_19_22_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10568">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_4">לִבָּם֒</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_22_5">וְהִנֵּה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_6">אַנְשֵׁ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_7">הָעִ֜יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_8">אַנְשֵׁ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_22_9">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10575">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_10">בְלִיַּ֗עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_11">נָסַ֙בּוּ֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_19_22_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10579">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_13">הַבַּ֔יִת</span>
<span class="mila" data-lnk="3221225734" data-exlnk="0" id="M_19_22_14">מִֽתְדַּפְּקִ֖ים</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_22_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10583">־</span><span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_19_22_16">הַדָּ֑לֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_17">וַיֹּאמְר֗וּ</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_19_22_18">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10587">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_19">הָ֠אִישׁ</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_19_22_20">בַּ֣עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_21">הַבַּ֤יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_22">הַזָּקֵן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_23">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_22_24">הוֹצֵ֗א</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_19_22_25">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10595">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_26">הָאִ֛ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_27">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10598">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_19_22_28">בָּ֥א</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_19_22_29">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10601">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_22_30">בֵּיתְךָ֖</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_19_22_31">וְנֵדָעֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10604">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_23" data-pasuk-now="24"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_1">וַיֵּצֵ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_2">אֲלֵיהֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_3">הָאִישׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_4">בַּ֣עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_5">הַבַּ֔יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_6">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_19_23_7">אֲלֵהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_8">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10613">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_9">אַחַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_10">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10616">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_11">תָּרֵ֣עוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_12">נָ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_13">אַ֠חֲרֵי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_14">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10621">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_15">בָּ֞א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_16">הָאִ֤ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_17">הַזֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_18">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10626">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_19">בֵּיתִ֔י</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_19_23_20">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10629">־</span><span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_19_23_21">תַּעֲשׂ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_22">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10632">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_23">הַנְּבָלָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_23_24">הַזֹּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10635">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_24" data-pasuk-now="20"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_1">הִנֵּה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_2">בִתִּ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_3">הַבְּתוּלָ֜ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_24_4">וּפִילַגְשֵׁ֗הוּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_24_5">אֽוֹצִיאָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10641">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_6">נָּ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_7">אוֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_8">וְעַנּ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_9">אוֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_10">וַעֲשׂ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_11">לָהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_12">הַטּ֖וֹב</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_19_24_13">בְּעֵינֵיכֶ֑ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_24_14">וְלָאִ֤ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_15">הַזֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_16">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_17">תַֽעֲשׂ֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_18">דְּבַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_19">הַנְּבָלָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_24_20">הַזֹּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10657">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_25" data-pasuk-now="22"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_25_1">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10659">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_19_25_2">אָב֤וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_25_3">הָֽאֲנָשִׁים֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_25_4">לִשְׁמֹ֣עַֽ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_25_5">ל֔וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_19_25_6">וַיַּחֲזֵ֤ק</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_25_7">הָאִישׁ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_25_8">בְּפִ֣ילַגְשׁ֔וֹ</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_19_25_9">וַיֹּצֵ֥א</span>
<span class="mila" data-lnk="3758096864" data-exlnk="0" id="M_19_25_10">אֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_25_11">הַח֑וּץ</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_19_25_12">וַיֵּדְע֣וּ</span>
<span class="mila" data-lnk="805306436" data-exlnk="0" id="M_19_25_13">א֠וֹתָהּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_19_25_14">וַיִּֽתְעַלְּלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10673">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_19_25_15">בָ֤הּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_19_25_16">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10676">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_19_25_17">הַלַּ֙יְלָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_25_18">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10679">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_25_19">הַבֹּ֔קֶר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_25_20">וַֽיְשַׁלְּח֖וּהָ</span>
<span data-lnk="0" data-exlnk="0" id="M_19_25_21" class="mila ktiv">בַּעֲל֥וֹת</span>
<span data-lnk="3221225732" data-exlnk="0" id="M_19_25_21_K" class="mila kri">כַּעֲל֥וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_25_22">הַשָּֽׁחַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10685">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_26_1">וַתָּבֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_26_2">הָאִשָּׁ֖ה</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_19_26_3">לִפְנ֣וֹת</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_26_4">הַבֹּ֑קֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_26_5">וַתִּפֹּ֞ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_26_6">פֶּ֧תַח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_26_7">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10693">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_19_26_8">הָאִ֛ישׁ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_19_26_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10696">־</span><span class="mila" data-lnk="4026532200" data-exlnk="0" id="M_19_26_10">אֲדוֹנֶ֥יהָ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_19_26_11">שָּׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_26_12">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10700">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_26_13">הָאֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10702">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_27" data-pasuk-now="18"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_1">וַיָּ֨קָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_2">אֲדֹנֶ֜יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_3">בַּבֹּ֗קֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_4">וַיִּפְתַּח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_5">דַּלְת֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_6">הַבַּ֔יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_7">וַיֵּצֵ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_8">לָלֶ֣כֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_9">לְדַרְכּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_10">וְהִנֵּ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_11">הָאִשָּׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_12">פִֽילַגְשׁ֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_13">נֹפֶ֙לֶת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_14">פֶּ֣תַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_15">הַבַּ֔יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_16">וְיָדֶ֖יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_17">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10720">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_27_18">הַסַּֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10722">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_28" data-pasuk-now="13"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_1">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_2">אֵלֶ֛יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_3">ק֥וּמִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_4">וְנֵלֵ֖כָה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_28_5">וְאֵ֣ין</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_28_6">עֹנֶ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_7">וַיִּקָּחֶהָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_8">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10731">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_9">הַחֲמ֔וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_10">וַיָּ֣קָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_11">הָאִ֔ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_28_12">וַיֵּ֖לֶךְ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_19_28_13">לִמְקֹמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10737">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_29" data-pasuk-now="17"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_1">וַיָּבֹ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_19_29_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10740">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_19_29_3">בֵּית֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_4">וַיִּקַּ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10744">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_29_6">הַֽמַּאֲכֶ֙לֶת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_7">וַיַּחֲזֵ֣ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_8">בְּפִֽילַגְשׁ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_9">וַֽיְנַתְּחֶהָ֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_29_10">לַעֲצָמֶ֔יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_11">לִשְׁנֵ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_12">עָשָׂ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_13">נְתָחִ֑ים</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_29_14">וַֽיְשַׁלְּחֶ֔הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_15">בְּכֹ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_16">גְּב֥וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_29_17">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10757">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_30" data-pasuk-now="23"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_1">וְהָיָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10760">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_3">הָרֹאֶ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_4">וְאָמַר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_5">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10764">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_6">נִהְיְתָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_7">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10767">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_8">נִרְאֲתָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_9">כָּזֹ֔את</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_19_30_10">לְמִיּ֞וֹם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_30_11">עֲל֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_12">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10773">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_13">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_14">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_15">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_16">עַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_17">הַיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_30_18">הַזֶּ֑ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_19_30_19">שִׂימוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10781">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_19_30_20">לָכֶ֥ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_19_30_21">עָלֶ֖יהָ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_19_30_22">עֻ֥צוּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_19_30_23">וְדַבֵּֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10787">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10788"> פ </span>
</span>
<br /></p>