<p id="PR_6" data-perek-now="679" data-perek-nops="40"><span class="perek-header">פרק ו</span>
<br /><span id="PS_6_1" data-pasuk-now="12"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_1_1">וַיַּעֲשׂ֧וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_1_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2677">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_6_1_3">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_6_1_4">הָרַ֖ע</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_5">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_1_7">וַיִּתְּנֵ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_1_8">יְהוָ֛ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_9">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2685">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_10">מִדְיָ֖ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_11">שֶׁ֥בַע</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_12">שָׁנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2689">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_2" data-pasuk-now="19"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_2_1">וַתָּ֥עָז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_2">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2692">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_3">מִדְיָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2695">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_5">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_6">מִפְּנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_7">מִדְיָ֜ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_8">עָשׂ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_9">לָהֶ֣ם׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_10">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_11">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2704">־</span><span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_6_2_13">הַמִּנְהָרוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_14">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_15">בֶּהָרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_16">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2709">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_6_2_17">הַמְּעָר֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_2_18">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2712">־</span><span class="mila" data-lnk="4026532165" data-exlnk="0" id="M_6_2_19">הַמְּצָדֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2714">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_3" data-pasuk-now="11"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_1">וְהָיָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_3_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2717">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_6_3_3">זָרַ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_4">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_5">וְעָלָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_6">מִדְיָ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_7">וַעֲמָלֵ֛ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_8">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2724">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_9">קֶ֖דֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_10">וְעָל֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_3_11">עָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2728">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_4" data-pasuk-now="16"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_4_1">וַיַּחֲנ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_4_2">עֲלֵיהֶ֗ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_4_3">וַיַּשְׁחִ֙יתוּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_4_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2733">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_6_4_5">יְב֣וּל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_4_6">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_4_7">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2737">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_4_8">בּוֹאֲךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_4_9">עַזָּ֑ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_4_10">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2741">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_6_4_11">יַשְׁאִ֤ירוּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_6_4_12">מִֽחְיָה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_4_13">בְּיִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_6_4_14">וְשֶׂ֥ה</span>
<span class="mila" data-lnk="3221225860" data-exlnk="0" id="M_6_4_15">וָשׁ֖וֹר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_4_16">וַחֲמֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2748">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_1">כִּ֡י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_5_2">הֵם֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_5_3">וּמִקְנֵיהֶ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_4">יַעֲל֜וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_5">וְאָהֳלֵיהֶ֗ם</span>
<span data-lnk="0" data-exlnk="0" id="M_6_5_6" class="mila ktiv">יּבָ֤אוּ</span>
<span data-lnk="0" data-exlnk="0" id="M_6_5_6_K" class="mila kri">וּבָ֤אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_7">כְדֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2757">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_8">אַרְבֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_9">לָרֹ֔ב</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_5_10">וְלָהֶ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_11">וְלִגְמַלֵּיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_12">אֵ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_13">מִסְפָּ֑ר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_6_5_14">וַיָּבֹ֥אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_15">בָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_5_16">לְשַׁחֲתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2767">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_6_1">וַיִּדַּ֧ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_2">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_3">מְאֹ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_4">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_5">מִדְיָ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_6">וַיִּזְעֲק֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_7">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2775">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_8">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2778">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_6_10">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2781">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2782"> פ </span>
</span>
<br /><span id="PS_6_7" data-pasuk-now="10"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_7_1">וַיְהִ֕י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2785">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_3">זָעֲק֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2788">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_5">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2791">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_7">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_8">עַ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_9">אֹד֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_7_10">מִדְיָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2796">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_8" data-pasuk-now="22"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_1">וַיִּשְׁלַ֧ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_6_8_3">אִ֥ישׁ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_6_8_4">נָבִ֖יא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_8_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2802">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_6_8_6">בְּנֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_8_7">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_6_8_8">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_8_9">לָהֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_10">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2808">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_11">אָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_12">יְהוָ֣ה׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_13">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_14">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_15">אָנֹכִ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_16">הֶעֱלֵ֤יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_17">אֶתְכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_18">מִמִּצְרַ֔יִם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_8_19">וָאֹצִ֥יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_20">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_21">מִבֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_8_22">עֲבָדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2821">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_9_1">וָאַצִּ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_2">אֶתְכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_3">מִיַּ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_4">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_5">וּמִיַּ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2828">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_7">לֹחֲצֵיכֶ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_9_8">וָאֲגָרֵ֤שׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_9_9">אוֹתָם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_9_10">מִפְּנֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_11">וָאֶתְּנָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_12">לָכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2836">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_9_14">אַרְצָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2838">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_10" data-pasuk-now="17"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_1">וָאֹמְרָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_2">לָכֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_3">אֲנִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_4">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_5">אֱלֹהֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_6">לֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_7">תִֽירְאוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2847">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_10_9">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_10_10">הָאֱמֹרִ֔י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_10_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_12">אַתֶּ֖ם</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_6_10_13">יוֹשְׁבִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_14">בְּאַרְצָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_15">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_16">שְׁמַעְתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_17">בְּקוֹלִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2858">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2859"> פ </span>
</span>
<br /><span id="PS_6_11" data-pasuk-now="20"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_11_1">וַיָּבֹ֞א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_11_2">מַלְאַ֣ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_11_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_11_4">וַיֵּ֙שֶׁב֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_11_5">תַּ֤חַת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_11_6">הָֽאֵלָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_11_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_11_8">בְּעָפְרָ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_11_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_11_10">לְיוֹאָ֖שׁ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_6_11_11">אֲבִ֣י</span>
<span class="mila" data-lnk="805306465" data-exlnk="0" id="M_6_11_12">הָעֶזְרִ֑י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_11_13">וְגִדְע֣וֹן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_11_14">בְּנ֗וֹ</span>
<span class="mila" data-lnk="3221225766" data-exlnk="0" id="M_6_11_15">חֹבֵ֤ט</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_6_11_16">חִטִּים֙</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_6_11_17">בַּגַּ֔ת</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_6_11_18">לְהָנִ֖יס</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_11_19">מִפְּנֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_11_20">מִדְיָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2880">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_12_1">וַיֵּרָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_2">אֵלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_3">מַלְאַ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_5">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_6">אֵלָ֔יו</span>
<span class="mila" data-lnk="1073742081" data-exlnk="0" id="M_6_12_7">יְהוָ֥ה</span>
<span class="mila" data-lnk="2147483905" data-exlnk="0" id="M_6_12_8">עִמְּךָ֖</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_12_9">גִּבּ֥וֹר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_12_10">הֶחָֽיִל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2891">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_13" data-pasuk-now="30"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_2">אֵלָ֤יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_3">גִּדְעוֹן֙</span>
<span class="mila" data-lnk="3489661249" data-exlnk="0" id="M_6_13_4">בִּ֣י</span>
<span class="mila" data-lnk="2952790337" data-exlnk="0" id="M_6_13_5">אֲדֹנִ֔י</span>
<span class="mila" data-lnk="1073742083" data-exlnk="0" id="M_6_13_6">וְיֵ֤שׁ</span>
<span class="mila" data-lnk="2147483907" data-exlnk="0" id="M_6_13_7">יְהוָה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_13_8">עִמָּ֔נוּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_13_9">וְלָ֥מָּה</span>
<span class="mila" data-lnk="4026532163" data-exlnk="0" id="M_6_13_10">מְצָאַ֖תְנוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_13_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2903">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_6_13_12">זֹ֑את</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_13">וְאַיֵּ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_14">כָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2907">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_15">נִפְלְאֹתָ֡יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_16">אֲשֶׁר֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_17">סִפְּרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2911">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_18">לָ֨נוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_19">אֲבוֹתֵ֜ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_20">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_21">הֲלֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_22">מִמִּצְרַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_23">הֶעֱלָ֣נוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_24">יְהוָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_25">וְעַתָּה֙</span>
<span class="mila" data-lnk="3221225729" data-exlnk="0" id="M_6_13_26">נְטָשָׁ֣נוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_13_27">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_13_28">וַֽיִּתְּנֵ֖נוּ</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_6_13_29">בְּכַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2924">־</span><span class="mila" data-lnk="2684355008" data-exlnk="0" id="M_6_13_30">מִדְיָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2926">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_14" data-pasuk-now="14"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_6_14_1">וַיִּ֤פֶן</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_6_14_2">אֵלָיו֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_6_14_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_4">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_14_5">לֵ֚ךְ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_14_6">בְּכֹחֲךָ֣</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_14_7">זֶ֔ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_14_8">וְהוֹשַׁעְתָּ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2936">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_14_10">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_6_14_11">מִכַּ֣ף</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_6_14_12">מִדְיָ֑ן</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_6_14_13">הֲלֹ֖א</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_6_14_14">שְׁלַחְתִּֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2942">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_15" data-pasuk-now="16"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_15_2">אֵלָיו֙</span>
<span class="mila" data-lnk="1342177604" data-exlnk="0" id="M_6_15_3">בִּ֣י</span>
<span class="mila" data-lnk="2952790340" data-exlnk="0" id="M_6_15_4">אֲדנָ֔י</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_6_15_5">בַּמָּ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_15_6">אוֹשִׁ֖יעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2950">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_8">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_6_15_9">הִנֵּ֤ה</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_6_15_10">אַלְפִּי֙</span>
<span class="mila" data-lnk="4026532198" data-exlnk="0" id="M_6_15_11">הַדַּ֣ל</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_6_15_12">בִּמְנַשֶּׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_13">וְאָנֹכִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_14">הַצָּעִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_15">בְּבֵ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_16">אָבִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2960">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_6_16_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_16_2">אֵלָיו֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_6_16_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_6_16_4">כִּ֥י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_6_16_5">אֶהְיֶ֖ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_6_16_6">עִמָּ֑ךְ</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_6_16_7">וְהִכִּיתָ֥</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_16_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2969">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_6_16_9">מִדְיָ֖ן</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_6_16_10">כְּאִ֥ישׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_16_11">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2973">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_17" data-pasuk-now="13"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_2">אֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_3">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2977">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_4">נָ֛א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_5">מָצָ֥אתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_6">חֵ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_7">בְּעֵינֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_17_8">וְעָשִׂ֤יתָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_17_9">לִּי֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_17_10">א֔וֹת</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_6_17_11">שָׁאַתָּ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_17_12">מְדַבֵּ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_17_13">עִמִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2988">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_18" data-pasuk-now="17"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_18_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2990">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_18_2">נָ֨א</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_6_18_3">תָמֻ֤שׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_18_4">מִזֶּה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_18_5">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2995">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_18_6">בֹּאִ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_18_7">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_6_18_8">וְהֹֽצֵאתִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_18_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3000">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_18_10">מִנְחָתִ֔י</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_18_11">וְהִנַּחְתִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_18_12">לְפָנֶ֑יךָ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_6_18_13">וַיֹּאמַ֕ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_18_14">אָנֹכִ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_18_15">אֵשֵׁ֖ב</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_18_16">עַ֥ד</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_6_18_17">שׁוּבֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3009">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_19" data-pasuk-now="20"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_1">וְגִדְע֣וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_2">בָּ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_3">וַיַּ֤עַשׂ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_19_4">גְּדִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3014">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_5">עִזִּים֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_6_19_6">וְאֵיפַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3017">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_6_19_7">קֶ֣מַח</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_6_19_8">מַצּ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_9">הַבָּשָׂר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_10">שָׂ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_11">בַּסַּ֔ל</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_6_19_12">וְהַמָּרַ֖ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_13">שָׂ֣ם</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_6_19_14">בַּפָּר֑וּר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_19_15">וַיּוֹצֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_19_16">אֵלָ֛יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_19_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3029">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_6_19_18">תַּ֥חַת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_19_19">הָאֵלָ֖ה</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_6_19_20">וַיַּגַּֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3034">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3035"> פ </span>
</span>
<br /><span id="PS_6_20" data-pasuk-now="18"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_2">אֵלָ֜יו</span>
<span class="mila" data-lnk="3489661256" data-exlnk="0" id="M_6_20_3">מַלְאַ֣ךְ</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_6_20_4">הָאֱלֹהִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_5">קַ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3042">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_7">הַבָּשָׂ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3045">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_9">הַמַּצּוֹת֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_20_10">וְהַנַּח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3049">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_12">הַסֶּ֣לַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_13">הַלָּ֔ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3053">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_15">הַמָּרַ֖ק</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_6_20_16">שְׁפ֑וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_17">וַיַּ֖עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_20_18">כֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3058">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_21" data-pasuk-now="24"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_21_1">וַיִּשְׁלַ֞ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_2">מַלְאַ֣ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3063">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_5">קְצֵ֤ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_21_6">הַמִּשְׁעֶ֙נֶת֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_8">בְּיָד֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_9">וַיִּגַּ֥ע</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_10">בַּבָּשָׂ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_11">וּבַמַּצּ֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_21_12">וַתַּ֨עַל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_13">הָאֵ֜שׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_14">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3074">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_15">הַצּ֗וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_21_16">וַתֹּ֤אכַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_21_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3078">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_21_18">הַבָּשָׂר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_21_19">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3081">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_21_20">הַמַּצּ֔וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_21">וּמַלְאַ֣ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_22">יְהוָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_23">הָלַ֖ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_21_24">מֵעֵינָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3087">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_22" data-pasuk-now="20"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_22_1">וַיַּ֣רְא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_22_2">גִּדְע֔וֹן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_22_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3091">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_22_4">מַלְאַ֥ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_22_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_22_6">ה֑וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_22_7">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_22_8">גִּדְע֗וֹן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_22_9">אֲהָהּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_22_10">אֲדנָ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_22_11">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_6_22_12">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3101">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_6_22_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3103">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_6_22_14">כֵּ֤ן</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_6_22_15">רָאִ֙יתִי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_22_16">מַלְאַ֣ךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_22_17">יְהוָ֔ה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_6_22_18">פָּנִ֖ים</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_6_22_19">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3110">־</span><span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_6_22_20">פָּנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3112">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_23" data-pasuk-now="9"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_6_23_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_6_23_2">ל֧וֹ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_6_23_3">יְהוָ֛ה</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_6_23_4">שָׁל֥וֹם</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_6_23_5">לְךָ֖</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_23_6">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3119">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_23_7">תִּירָ֑א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_23_8">לֹ֖א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_23_9">תָּמֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3123">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_24" data-pasuk-now="16"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_1">וַיִּבֶן֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_2">שָׁ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_3">גִּדְע֤וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_4">מִזְבֵּחַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_5">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_24_6">וַיִּקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3130">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_6_24_7">ל֥וֹ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_24_8">יְהוָ֖ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_24_9">שָׁל֑וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_10">עַ֚ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_11">הַיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_24_12">הַזֶּ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_24_13">עוֹדֶ֕נּוּ</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_6_24_14">בְּעָפְרָ֖ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_24_15">אֲבִ֥י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_6_24_16">הָעֶזְרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3142">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3143">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_25" data-pasuk-now="27"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_25_1">וַיְהִי֘</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_25_2">בַּלַּ֣יְלָה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_25_3">הַהוּא֒</span>
<span class="mila" data-lnk="1342177730" data-exlnk="0" id="M_6_25_4">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="1342177730" data-exlnk="0" id="M_6_25_5">ל֣וֹ</span>
<span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_6_25_6">יְהוָ֗ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_25_7">קַ֤ח</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_25_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3152">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_6_25_9">פַּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3154">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_6_25_10">הַשּׁוֹר֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_25_11">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_25_12">לְאָבִ֔יךָ</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_6_25_13">וּפַ֥ר</span>
<span class="mila" data-lnk="2147483943" data-exlnk="0" id="M_6_25_14">הַשֵּׁנִ֖י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_25_15">שֶׁ֣בַע</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_25_16">שָׁנִ֑ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_25_17">וְהָרַסְתָּ֗</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_25_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3164">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_6_25_19">מִזְבַּ֤ח</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_25_20">הַבַּ֙עַל֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_25_21">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_25_22">לְאָבִ֔יךָ</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_6_25_23">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3170">־</span><span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_6_25_24">הָאֲשֵׁרָ֥ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_25_25">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3173">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_26">עָלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_25_27">תִּכְרֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3176">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_26" data-pasuk-now="19"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_26_1">וּבָנִ֨יתָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_26_2">מִזְבֵּ֜חַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_26_3">לַיהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_4">אֱלֹהֶ֗יךָ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_26_5">עַ֣ל</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_6_26_6">רֹ֧אשׁ</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_6_26_7">הַמָּע֛וֹז</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_6_26_8">הַזֶּ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_6_26_9">בַּמַּעֲרָכָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_10">וְלָֽקַחְתָּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3188">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_12">הַפָּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_13">הַשֵּׁנִ֔י</span>
<span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_6_26_14">וְהַעֲלִ֣יתָ</span>
<span class="mila" data-lnk="3221225738" data-exlnk="0" id="M_6_26_15">עוֹלָ֔ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_26_16">בַּעֲצֵ֥י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_26_17">הָאֲשֵׁרָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_26_18">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_26_19">תִּכְרֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3197">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_27" data-pasuk-now="23"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_1">וַיִּקַּ֨ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_2">גִּדְע֜וֹן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_27_3">עֲשָׂרָ֤ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_27_4">אֲנָשִׁים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_27_5">מֵעֲבָדָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_6">וַיַּ֕עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_7">כַּאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_8">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_9">אֵלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_10">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_11">וַיְהִ֡י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_12">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_13">יָרֵא֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3212">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_15">בֵּ֨ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_16">אָבִ֜יו</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_6_27_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3216">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_6_27_18">אַנְשֵׁ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_19">הָעִ֛יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_20">מֵעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_21">יוֹמָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_22">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_27_23">לָֽיְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3223">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_28" data-pasuk-now="19"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_28_1">וַיַּשְׁכִּ֜ימוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_2">אַנְשֵׁ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_3">הָעִיר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_4">בַּבֹּ֔קֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_28_5">וְהִנֵּ֤ה</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_6_28_6">נֻתַּץ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_7">מִזְבַּ֣ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_8">הַבַּ֔עַל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_9">וְהָאֲשֵׁרָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3234">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_11">עָלָ֖יו</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_6_28_12">כֹּרָ֑תָה</span>
<span class="mila" data-lnk="3489661252" data-exlnk="0" id="M_6_28_13">וְאֵת֙</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_6_28_14">הַפָּ֣ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_6_28_15">הַשֵּׁנִ֔י</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_6_28_16">הֹֽעֲלָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_17">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3242">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_28_18">הַמִּזְבֵּ֖חַ</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_6_28_19">הַבָּנֽוּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3245">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_29" data-pasuk-now="17"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_1">וַיֹּֽאמְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_2">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3249">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_4">רֵעֵ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_5">מִ֥י</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_6_29_6">עָשָׂ֖ה</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_6_29_7">הַדָּבָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_8">הַזֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_9">וַֽיִּדְרְשׁוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_10">וַיְבַקְשׁ֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_11">וַיֹּ֣אמְר֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_12">גִּדְעוֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_13">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3260">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_14">יוֹאָ֔שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_15">עָשָׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_16">הַדָּבָ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_29_17">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3265">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_30" data-pasuk-now="19"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_1">וַיֹּ֨אמְר֜וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_2">אַנְשֵׁ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_3">הָעִיר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3270">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_5">יוֹאָ֔שׁ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_30_6">הוֹצֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3274">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_8">בִּנְךָ֖</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_6_30_9">וְיָמֹ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_10">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_11">נָתַץ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3280">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_13">מִזְבַּ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_14">הַבַּ֔עַל</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_6_30_15">וְכִ֥י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_6_30_16">כָרַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_17">הָאֲשֵׁרָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_18">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3287">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_30_19">עָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3289">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_31" data-pasuk-now="28"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_2">יוֹאָ֡שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_3">לְכֹל֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3294">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_5">עָמְד֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_6">עָלָ֜יו</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_6_31_7">הַאַתֶּ֣ם׀</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_6_31_8">תְּרִיב֣וּן</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_6_31_9">לַבַּ֗עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_10">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3301">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_11">אַתֶּם֙</span>
<span class="mila" data-lnk="3221225729" data-exlnk="0" id="M_6_31_12">תּוֹשִׁיע֣וּן</span>
<span class="mila" data-lnk="805306433" data-exlnk="0" id="M_6_31_13">אוֹת֔וֹ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_31_14">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_31_15">יָרִ֥יב</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_6_31_16">ל֛וֹ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_6_31_17">יוּמַ֖ת</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_6_31_18">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3310">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_6_31_19">הַבֹּ֑קֶר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_31_20">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3313">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_6_31_21">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_31_22">הוּא֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_31_23">יָ֣רֶב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_31_24">ל֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_25">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_26">נָתַ֖ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_31_27">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3321">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_31_28">מִזְבְּחֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3323">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_32" data-pasuk-now="13"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_1">וַיִּקְרָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3325">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_2">ל֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_3">בַיּוֹם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3328">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_4">הַה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_5">יְרֻבַּ֣עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_6">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_6_32_7">יָ֤רֶב</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_6_32_8">בּוֹ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_32_9">הַבַּ֔עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_10">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_11">נָתַ֖ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_32_12">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3338">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_6_32_13">מִזְבְּחֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3341">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3342">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_33" data-pasuk-now="11"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_33_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3344">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_33_2">מִדְיָ֧ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_33_3">וַעֲמָלֵ֛ק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_33_4">וּבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3348">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_33_5">קֶ֖דֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_33_6">נֶאֶסְפ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_33_7">יַחְדָּ֑ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_33_8">וַיַּעַבְר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_33_9">וַֽיַּחֲנ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_33_10">בְּעֵ֥מֶק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_33_11">יִזְרְעֶֽאל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3356">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_34" data-pasuk-now="10"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="4026532300" data-exlnk="0" id="M_6_34_1">וְר֣וּחַ</span>
<span class="mila" data-lnk="4026532300" data-exlnk="0" id="M_6_34_2">יְהוָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_34_3">לָבְשָׁ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_34_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3361">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_34_5">גִּדְע֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_34_6">וַיִּתְקַע֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_34_7">בַּשּׁוֹפָ֔ר</span>
<span class="mila" data-lnk="4026532289" data-exlnk="0" id="M_6_34_8">וַיִּזָּעֵ֥ק</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_6_34_9">אֲבִיעֶ֖זֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_34_10">אַחֲרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3368">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_35" data-pasuk-now="15"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_1">וּמַלְאָכִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_2">שָׁלַ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_3">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3372">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_4">מְנַשֶּׁ֔ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_35_5">וַיִּזָּעֵ֥ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_6">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3376">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_7">ה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_8">אַחֲרָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_9">וּמַלְאָכִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_10">שָׁלַ֗ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_11">בְּאָשֵׁ֤ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_6_35_12">וּבִזְבֻלוּן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_13">וּבְנַפְתָּלִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_14">וַֽיַּעֲל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_35_15">לִקְרָאתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3386">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_36" data-pasuk-now="12"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_2">גִּדְע֖וֹן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_36_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3390">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_4">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_5">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3393">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_6">יֶשְׁךָ֞</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_7">מוֹשִׁ֧יעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_8">בְּיָדִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3398">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_10">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_11">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_36_12">דִּבַּֽרְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3402">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_37" data-pasuk-now="25"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_1">הִנֵּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_2">אָנֹכִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_3">מַצִּ֛יג</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3407">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_5">גִּזַּ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_6">הַצֶּ֖מֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_7">בַּגֹּ֑רֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_8">אִ֡ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_37_9">טַל֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_37_10">יִֽהְיֶ֨ה</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_6_37_11">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3415">־</span><span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_6_37_12">הַגִּזָּ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_13">לְבַדָּ֗הּ</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_6_37_14">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3419">־</span><span class="mila" data-lnk="1342177736" data-exlnk="0" id="M_6_37_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3421">־</span><span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_6_37_16">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_37_17">חֹ֔רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_18">וְיָדַעְתִּ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_37_19">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3426">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_20">תוֹשִׁ֧יעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_21">בְּיָדִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_22">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3430">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_23">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_24">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_37_25">דִּבַּֽרְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3434">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_38" data-pasuk-now="14"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_6_38_1">וַיְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3436">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_6_38_2">כֵ֕ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_38_3">וַיַּשְׁכֵּם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_38_4">מִֽמָּחֳרָ֔ת</span>
<span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_6_38_5">וַיָּ֖זַר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_6_38_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3442">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_6_38_7">הַגִּזָּ֑ה</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_6_38_8">וַיִּ֤מֶץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_38_9">טַל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_38_10">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3447">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_38_11">הַגִּזָּ֔ה</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_6_38_12">מְל֥וֹא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_38_13">הַסֵּ֖פֶל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_6_38_14">מָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3452">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_39" data-pasuk-now="27"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_2">גִּדְעוֹן֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_39_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3456">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_4">הָ֣אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_39_5">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3459">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_6">יִ֤חַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_7">אַפְּךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_8">בִּ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_39_9">וַאֲדַבְּרָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_39_10">אַ֣ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_39_11">הַפָּ֑עַם</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_6_39_12">אֲנַסֶּ֤ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_39_13">נָּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3468">־</span><span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_6_39_14">רַק</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3470">־</span><span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_6_39_15">הַפַּ֙עַם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_39_16">בַּגִּזָּ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_39_17">יְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3474">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_18">נָ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_19">חֹ֤רֶב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_39_20">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3478">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_39_21">הַגִּזָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_39_22">לְבַדָּ֔הּ</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_6_39_23">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3482">־</span><span class="mila" data-lnk="268435528" data-exlnk="0" id="M_6_39_24">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3484">־</span><span class="mila" data-lnk="805306440" data-exlnk="0" id="M_6_39_25">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_39_26">יִֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3487">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_39_27">טָּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3489">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_40" data-pasuk-now="15"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="1879048514" data-exlnk="0" id="M_6_40_1">וַיַּ֧עַשׂ</span>
<span class="mila" data-lnk="2952790338" data-exlnk="0" id="M_6_40_2">אֱלֹהִ֛ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_40_3">כֵּ֖ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_40_4">בַּלַּ֣יְלָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_40_5">הַה֑וּא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_40_6">וַֽיְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3496">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_40_7">חֹ֤רֶב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_40_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3499">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_40_9">הַגִּזָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_40_10">לְבַדָּ֔הּ</span>
<span class="mila" data-lnk="805306442" data-exlnk="0" id="M_6_40_11">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3503">־</span><span class="mila" data-lnk="268435530" data-exlnk="0" id="M_6_40_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3505">־</span><span class="mila" data-lnk="536870986" data-exlnk="0" id="M_6_40_13">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_40_14">הָ֥יָה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_40_15">טָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3510">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3511"> פ </span>
</span>
<br /></p>