<p id="PR_3" data-perek-now="304" data-perek-nops="21"><span class="perek-header">פרק ג</span>
<br /><span id="PS_3_1" data-pasuk-now="16"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="268435530" data-exlnk="0" id="M_3_1_1">וְהַנַּ֧עַר</span>
<span class="mila" data-lnk="805306442" data-exlnk="0" id="M_3_1_2">שְׁמוּאֵ֛ל</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_1_3">מְשָׁרֵ֥ת</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_1_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1191">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_3_1_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_1_6">לִפְנֵ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_1_7">עֵלִ֑י</span>
<span class="mila" data-lnk="1342177610" data-exlnk="0" id="M_3_1_8">וּדְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1196">־</span><span class="mila" data-lnk="4026532170" data-exlnk="0" id="M_3_1_9">יְהוָ֗ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_1_10">הָיָ֤ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_1_11">יָקָר֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_1_12">בַּיָּמִ֣ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_1_13">הָהֵ֔ם</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_3_1_14">אֵ֥ין</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_3_1_15">חָז֖וֹן</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_3_1_16">נִפְרָֽץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1206">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1207">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_2" data-pasuk-now="12"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1879048526" data-exlnk="0" id="M_3_2_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="1610613070" data-exlnk="0" id="M_3_2_2">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="3758096718" data-exlnk="0" id="M_3_2_3">הַה֔וּא</span>
<span class="mila" data-lnk="3221225738" data-exlnk="0" id="M_3_2_4">וְעֵלִ֖י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_2_5">שֹׁכֵ֣ב</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_2_6">בִּמְקוֹמ֑וֹ</span>
<span data-lnk="0" data-exlnk="0" id="M_3_2_7" class="mila ktiv">וְעֵינָו֙</span>
<span data-lnk="805306442" data-exlnk="0" id="M_3_2_7_K" class="mila kri">וְעֵינָיו֙</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_2_8">הֵחֵ֣לּוּ</span>
<span class="mila" data-lnk="4026532206" data-exlnk="0" id="M_3_2_9">כֵה֔וֹת</span>
<span class="mila" data-lnk="1342177614" data-exlnk="0" id="M_3_2_10">לֹ֥א</span>
<span class="mila" data-lnk="1342177612" data-exlnk="0" id="M_3_2_11">יוּכַ֖ל</span>
<span class="mila" data-lnk="3758096718" data-exlnk="0" id="M_3_2_12">לִרְאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1221">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221225774" data-exlnk="0" id="M_3_3_1">וְנֵ֤ר</span>
<span class="mila" data-lnk="2147483950" data-exlnk="0" id="M_3_3_2">אֱלֹהִים֙</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_3_3">טֶ֣רֶם</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_3_3_4">יִכְבֶּ֔ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_3_3_5">וּשְׁמוּאֵ֖ל</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_3_3_6">שֹׁכֵ֑ב</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_3_3_7">בְּהֵיכַ֣ל</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_3_3_8">יְהוָ֔ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_3_3_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1231">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_3_3_10">שָׁ֖ם</span>
<span class="mila" data-lnk="1073742127" data-exlnk="0" id="M_3_3_11">אֲר֥וֹן</span>
<span class="mila" data-lnk="2147483951" data-exlnk="0" id="M_3_3_12">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1236">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1237"> פ </span>
</span>
<br /><span id="PS_3_4" data-pasuk-now="6"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_4_1">וַיִּקְרָ֧א</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_4_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1241">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_4">שְׁמוּאֵ֖ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_4_5">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_4_6">הִנֵּֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1245">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_5" data-pasuk-now="15"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_1">וַיָּ֣רָץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1248">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_3">עֵלִ֗י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_4">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_5">הִנְנִי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1253">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_7">קָרָ֣אתָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_8">לִּ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_9">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_10">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1258">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_11">קָרָ֖אתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_12">שׁ֣וּב</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_3_5_13">שְׁכָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_14">וַיֵּ֖לֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_15">וַיִּשְׁכָּֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1265">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1266">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_6" data-pasuk-now="21"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_1">וַיֹּ֣סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_2">יְהוָ֗ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_3_6_3">קְרֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_4">עוֹד֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_5">שְׁמוּאֵל֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_6">וַיָּ֤קָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_7">שְׁמוּאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_8">וַיֵּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1276">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_10">עֵלִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_11">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_12">הִנְנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_13">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_14">קָרָ֖אתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_15">לִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_16">וַיֹּ֛אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_17">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1285">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_18">קָרָ֥אתִֽי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_19">בְנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_20">שׁ֥וּב</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_3_6_21">שְׁכָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1290">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_7" data-pasuk-now="10"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_7_1">וּשְׁמוּאֵ֕ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_7_2">טֶ֖רֶם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_7_3">יָדַ֣ע</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_7_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1295">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_3_7_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_3_7_6">וְטֶ֛רֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_7">יִגָּלֶ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_7_8">אֵלָ֖יו</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_7_9">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1301">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_3_7_10">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1303">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_8" data-pasuk-now="20"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_1">וַיֹּ֨סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_2">יְהוָ֥ה</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_3_8_3">קְרֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1307">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_4">שְׁמוּאֵל֘</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_3_8_5">בַּשְּׁלִישִׁת֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_6">וַיָּ֙קָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_7">וַיֵּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1313">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_9">עֵלִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_10">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_11">הִנְנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_12">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_13">קָרָ֖אתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_14">לִ֑י</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_3_8_15">וַיָּ֣בֶן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_8_16">עֵלִ֔י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_8_17">כִּ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_8_18">יְהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_8_19">קֹרֵ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_8_20">לַנָּֽעַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1326">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_9" data-pasuk-now="19"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_2">עֵלִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_3">לִשְׁמוּאֵל֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_4">לֵ֣ךְ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="1331">׀</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_3_9_5">שְׁכָב֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_6">וְהָיָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_7">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1335">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_8">יִקְרָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_9">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_10">וְאָֽמַרְתָּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_9_11">דַּבֵּ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_9_12">יְהוָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_9_13">כִּ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_9_14">שֹׁמֵ֖עַ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_9_15">עַבְדֶּ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_16">וַיֵּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_17">שְׁמוּאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_18">וַיִּשְׁכַּ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_19">בִּמְקוֹמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1348">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_1">וַיָּבֹ֤א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_2">יְהוָה֙</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_3_10_3">וַיִּתְיַצַּ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_4">וַיִּקְרָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_5">כְפַֽעַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1354">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_6">בְּפַ֖עַם</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_3_10_7">שְׁמוּאֵ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="1357">׀</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_3_10_8">שְׁמוּאֵ֑ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_10_9">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_10_10">שְׁמוּאֵל֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_10_11">דַּבֵּ֔ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_12">כִּ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_13">שֹׁמֵ֖עַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_14">עַבְדֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1366">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1367"> פ </span>
</span>
<br /><span id="PS_3_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_2">יְהוָה֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1371">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_4">שְׁמוּאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_5">הִנֵּ֧ה</span>
<span class="mila" data-lnk="3489661388" data-exlnk="0" id="M_3_11_6">אָנֹכִ֛י</span>
<span class="mila" data-lnk="4026532293" data-exlnk="0" id="M_3_11_7">עֹשֶׂ֥ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_11_8">דָבָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_9">בְּיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_11_10">אֲשֶׁר֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1380">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_12">שֹׁ֣מְע֔וֹ</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_3_11_13">תְּצִלֶּ֖ינָה</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_11_14">שְׁתֵּ֥י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_11_15">אָזְנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1385">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_1">בַּיּ֤וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_2">הַהוּא֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_3">אָקִ֣ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_12_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1390">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_5">עֵלִ֔י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_6">אֵ֛ת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_12_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1394">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_9">דִּבַּ֖רְתִּי</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_12_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1398">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_11">בֵּית֑וֹ</span>
<span class="mila" data-lnk="4026532203" data-exlnk="0" id="M_3_12_12">הָחֵ֖ל</span>
<span class="mila" data-lnk="4026532203" data-exlnk="0" id="M_3_12_13">וְכַלֵּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1402">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_13" data-pasuk-now="19"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_13_1">וְהִגַּ֣דְתִּי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_13_2">ל֔וֹ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_13_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1406">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_3_13_4">שֹׁפֵ֥ט</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_13_5">אֲנִ֛י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_13_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1410">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_3_13_7">בֵּית֖וֹ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_13_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1413">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_3_13_9">עוֹלָ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_10">בַּעֲוֺ֣ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1417">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_12">יָדַ֗ע</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_13_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1420">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_3_13_14">מְקַלֲלִ֤ים</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_13_15">לָהֶם֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_13_16">בָּנָ֔יו</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_3_13_17">וְלֹ֥א</span>
<span class="mila" data-lnk="3221225791" data-exlnk="0" id="M_3_13_18">כִהָ֖ה</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_13_19">בָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1427">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_14" data-pasuk-now="13"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_3_14_1">וְלָכֵ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_2">נִשְׁבַּ֖עְתִּי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_14_3">לְבֵ֣ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_14_4">עֵלִ֑י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_14_5">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1433">־</span><span class="mila" data-lnk="3221225738" data-exlnk="0" id="M_3_14_6">יִתְכַּפֵּ֞ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_14_7">עֲוֺ֧ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_14_8">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1437">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_14_9">עֵלִ֛י</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_14_10">בְּזֶ֥בַח</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_14_11">וּבְמִנְחָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_14_12">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1442">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_14_13">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1444">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_15" data-pasuk-now="16"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_1">וַיִּשְׁכַּ֤ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_2">שְׁמוּאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_3">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1448">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_4">הַבֹּ֔קֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_15_5">וַיִּפְתַּ֖ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1452">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_15_7">דַּלְת֣וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_15_8">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1455">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_9">יְהוָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_15_10">וּשְׁמוּאֵ֣ל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_3_15_11">יָרֵ֔א</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_3_15_12">מֵהַגִּ֥יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1461">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_3_15_14">הַמַּרְאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1464">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_16">עֵלִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1466">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_1">וַיִּקְרָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_2">עֵלִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1470">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_4">שְׁמוּאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_5">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_6">שְׁמוּאֵ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_7">בְּנִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_8">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_9">הִנֵּֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1477">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_17" data-pasuk-now="25"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_1">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_2">מָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_3">הַדָּבָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_5">דִּבֶּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_6">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_7">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1485">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_8">נָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_9">תְכַחֵ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_10">מִמֶּ֑נִּי</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_3_17_11">כֹּ֣ה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_3_17_12">יַֽעֲשֶׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1491">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_3_17_13">לְּךָ֤</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_14">אֱלֹהִים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_17_15">וְכֹ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_17_16">יוֹסִ֔יף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_17">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1497">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_18">תְּכַחֵ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_19">מִמֶּ֙נִּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_20">דָּבָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_21">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1502">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_22">הַדָּבָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_23">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1505">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_24">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_25">אֵלֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1508">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_18" data-pasuk-now="15"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_1">וַיַּגֶּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1510">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_2">ל֤וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_3">שְׁמוּאֵל֙</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_3_18_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1514">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_3_18_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1516">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_3_18_6">הַדְּבָרִ֔ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_18_7">וְלֹ֥א</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_18_8">כִחֵ֖ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_18_9">מִמֶּ֑נּוּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_3_18_10">וַיֹּאמַ֕ר</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_3_18_11">יְהוָ֣ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_3_18_12">ה֔וּא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_18_13">הַטּ֥וֹב</span>
<span data-lnk="0" data-exlnk="0" id="M_3_18_14" class="mila ktiv">בְּעֵינָ֖ו</span>
<span data-lnk="4026532164" data-exlnk="0" id="M_3_18_14_K" class="mila kri">בְּעֵינָ֖יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_18_15">יַעֲשֶֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1529">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1530"> פ </span>
</span>
<br /><span id="PS_3_19" data-pasuk-now="10"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_1">וַיִּגְדַּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_2">שְׁמוּאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_3">וַֽיהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_4">הָיָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_5">עִמּ֔וֹ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_3_19_6">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1537">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_3_19_7">הִפִּ֥יל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_19_8">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1540">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_3_19_9">דְּבָרָ֖יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_19_10">אָֽרְצָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1543">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_1">וַיֵּ֙דַע֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1546">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_3">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_4">מִדָּ֖ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_5">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1550">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_6">בְּאֵ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_7">שָׁ֑בַע</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_20_8">כִּ֚י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_20_9">נֶאֱמָ֣ן</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_20_10">שְׁמוּאֵ֔ל</span>
<span class="mila" data-lnk="4026532302" data-exlnk="0" id="M_3_20_11">לְנָבִ֖יא</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_20_12">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1559">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1560">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_21" data-pasuk-now="12"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_3_21_1">וַיֹּ֥סֶף</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_3_21_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026532222" data-exlnk="0" id="M_3_21_3">לְהֵרָאֹ֣ה</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_3_21_4">בְשִׁלֹ֑ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_3_21_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1566">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_3_21_6">נִגְלָ֨ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_21_7">יְהוָ֧ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_21_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1570">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_3_21_9">שְׁמוּאֵ֛ל</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_3_21_10">בְּשִׁל֖וֹ</span>
<span class="mila" data-lnk="1879048566" data-exlnk="0" id="M_3_21_11">בִּדְבַ֥ר</span>
<span class="mila" data-lnk="2952790358" data-exlnk="0" id="M_3_21_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1576">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1577"> פ </span>
</span>
<br /></p>