<p id="PR_14" data-perek-now="845" data-perek-nops="52"><span class="perek-header">פרק יד</span>
<br /><span id="PS_14_1" data-pasuk-now="21"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_1">וַיְהִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_2">הַיּ֗וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_3">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_1_4">יוֹנָתָ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_5">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5900">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_6">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5903">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_8">הַנַּ֙עַר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_1_9">נֹשֵׂ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_1_10">כֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_11">לְכָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_12">וְנַעְבְּרָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5910">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_14">מַצַּ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_15">פְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_16">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_1_17">מֵעֵ֣בֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_1_18">הַלָּ֑ז</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_1_19">וּלְאָבִ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_20">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_21">הִגִּֽיד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5919">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_1">וְשָׁא֗וּל</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_2_2">יוֹשֵׁב֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_2_3">בִּקְצֵ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_2_4">הַגִּבְעָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_5">תַּ֥חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_6">הָרִמּ֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_2_8">בְּמִגְר֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_9">וְהָעָם֙</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_14_2_10">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_14_2_11">עִמּ֔וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_2_12">כְּשֵׁ֥שׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_2_13">מֵא֖וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_2_14">אִֽישׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5934">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_3" data-pasuk-now="20"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_14_3_1">וַאֲחִיָּ֣ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_3_2">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5937">־</span><span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_14_3_3">אֲחִט֡וּב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_3_4">אֲחִ֡י</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_14_3_5">אִיכָב֣וֹד׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5942">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_7">פִּֽינְחָ֨ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_8">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5945">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_3_9">עֵלִ֜י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_3_10">כֹּהֵ֧ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="5948">׀</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_3_11">יְהוָ֛ה</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_14_3_12">בְּשִׁל֖וֹ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_14_3_13">נֹשֵׂ֣א</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_14_3_14">אֵפ֑וֹד</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_3_15">וְהָעָם֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_3_16">לֹ֣א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_3_17">יָדַ֔ע</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_3_18">כִּ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_3_19">הָלַ֖ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_3_20">יוֹנָתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5959">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_4" data-pasuk-now="23"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_1">וּבֵ֣ין</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_2">הַֽמַּעְבְּר֗וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_3">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_4">בִּקֵּ֤שׁ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_5">יֽוֹנָתָן֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_6">לַעֲבֹר֙</span>
<span class="mila" data-lnk="1073742082" data-exlnk="0" id="M_14_4_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5967">־</span><span class="mila" data-lnk="2147483906" data-exlnk="0" id="M_14_4_8">מַצַּ֣ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_4_9">פְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_10">שֵׁן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5971">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_11">הַסֶּ֤לַע</span>
<span class="mila" data-lnk="4026532163" data-exlnk="0" id="M_14_4_12">מֵהָעֵ֙בֶר֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_13">מִזֶּ֔ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_14">וְשֵׁן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5976">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_15">הַסֶּ֥לַע</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_4_16">מֵהָעֵ֖בֶר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_4_17">מִזֶּ֑ה</span>
<span class="mila" data-lnk="1342177605" data-exlnk="0" id="M_14_4_18">וְשֵׁ֤ם</span>
<span class="mila" data-lnk="2684354885" data-exlnk="0" id="M_14_4_19">הָאֶחָד֙</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_14_4_20">בּוֹצֵ֔ץ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_4_21">וְשֵׁ֥ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_4_22">הָאֶחָ֖ד</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_14_4_23">סֶֽנֶּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5986">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_5" data-pasuk-now="10"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_1">הַשֵּׁ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_2">הָאֶחָ֛ד</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_14_5_3">מָצ֥וּק</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_14_5_4">מִצָּפ֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_5">מ֣וּל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_5_6">מִכְמָ֑שׂ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_5_7">וְהָאֶחָ֥ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_5_8">מִנֶּ֖גֶב</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_5_9">מ֥וּל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_5_10">גָּֽבַע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5998">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5999">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_6" data-pasuk-now="24"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_6_2">יְהוֹנָתָ֜ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6003">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_4">הַנַּ֣עַר׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_5">נֹשֵׂ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_6">כֵלָ֗יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_7">לְכָה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_8">וְנַעְבְּרָ֗ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6010">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_10">מַצַּב֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_11">הָעֲרֵלִ֣ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_12">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_6_13">אוּלַ֛י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_6_14">יַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_6_15">יְהוָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_6_16">לָ֑נוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_17">כִּ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_18">אֵ֤ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_19">לַֽיהוָה֙</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_14_6_20">מַעְצ֔וֹר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_21">לְהוֹשִׁ֥יעַ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_22">בְּרַ֖ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_23">א֥וֹ</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_14_6_24">בִמְעָֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6026">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_7" data-pasuk-now="13"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_2">לוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_3">נֹשֵׂ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_4">כֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_5">עֲשֵׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6033">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_8">בִּלְבָבֶ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_9">נְטֵ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_10">לָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_11">הִנְנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_12">עִמְּךָ֖</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_7_13">כִּלְבָבֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6042">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6043">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_8" data-pasuk-now="9"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_8_2">יְה֣וֹנָתָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_3">הִנֵּ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_4">אֲנַ֥חְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_5">עֹבְרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6050">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_7">הָאֲנָשִׁ֑ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_8_8">וְנִגְלִ֖ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_9">אֲלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6054">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_9" data-pasuk-now="13"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_14_9_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6056">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_14_9_2">כֹּ֤ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_14_9_3">יֹֽאמְרוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_9_4">אֵלֵ֔ינוּ</span>
<span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_14_9_5">דֹּ֕מּוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_9_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6062">־</span><span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_14_9_7">הַגִּיעֵ֖נוּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_9_8">אֲלֵיכֶ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_9_9">וְעָמַ֣דְנוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_9_10">תַחְתֵּ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_11">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_12">נַעֲלֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_13">אֲלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6070">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_10_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6072">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_10_2">כֹּ֨ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_10_3">יֹאמְר֜וּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_10_4">עֲל֤וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_10_5">עָלֵ֙ינוּ֙</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_14_10_6">וְעָלִ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6079">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_8">נְתָנָ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_10_10">בְּיָדֵ֑נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_11">וְזֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6084">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_14_10_12">לָּ֖נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_13">הָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6087">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_14_11_1">וַיִּגָּל֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_11_2">שְׁנֵיהֶ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_11_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6091">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_11_4">מַצַּ֖ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_11_5">פְּלִשְׁתִּ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_6">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_7">פְלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_8">הִנֵּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_9">עִבְרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_10">יֹֽצְאִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_11">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6100">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_12">הַחֹרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_13">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_14">הִתְחַבְּאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6104">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_15">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6106">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_12" data-pasuk-now="26"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_12_1">וַיַּעֲנוּ֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_12_2">אַנְשֵׁ֨י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_14_12_3">הַמַּצָּבָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6111">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_5">יוֹנָתָ֣ן׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6114">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_7">נֹשֵׂ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_8">כֵלָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_9">וַיֹּֽאמְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_10">עֲל֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_11">אֵלֵ֔ינוּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_12_12">וְנוֹדִ֥יעָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_13">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="6122">דָּבָ֑ר</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="M_14_12_14"> פ </span>
<br /><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_15">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_16">יוֹנָתָ֜ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6128">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_18">נֹשֵׂ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_19">כֵלָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_20">עֲלֵ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_21">אַחֲרַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_22">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6134">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_23">נְתָנָ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_24">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_25">בְּיַ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_26">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6139">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_1">וַיַּ֣עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_2">יוֹנָתָ֗ן</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_13_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6143">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_14_13_4">יָדָיו֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_13_5">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6146">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_14_13_6">רַגְלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_7">וְנֹשֵׂ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_8">כֵלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_9">אַחֲרָ֑יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_13_10">וַֽיִּפְּלוּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_13_11">לִפְנֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_13_12">יוֹנָתָ֔ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_13_13">וְנֹשֵׂ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_13_14">כֵלָ֖יו</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_14_13_15">מְמוֹתֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_16">אַחֲרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6158">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_14" data-pasuk-now="14"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_14_1">וַתְּהִ֞י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_14_2">הַמַּכָּ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_14_3">הָרִאשֹׁנָ֗ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_14_4">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_14_5">הִכָּ֧ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_14_6">יוֹנָתָ֛ן</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_14_7">וְנֹשֵׂ֥א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_14_8">כֵלָ֖יו</span>
<span class="mila" data-lnk="4026532302" data-exlnk="0" id="M_14_14_9">כְּעֶשְׂרִ֣ים</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_14_14_10">אִ֑ישׁ</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_14_14_11">כְּבַחֲצִ֥י</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_14_14_12">מַעֲנָ֖ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_14_13">צֶ֥מֶד</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_14_14">שָׂדֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_15" data-pasuk-now="16"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_15_1">וַתְּהִי֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_15_2">חֲרָדָ֨ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_15_3">בַמַּחֲנֶ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_15_4">בַשָּׂדֶה֙</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_14_15_5">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6179">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_15_6">הָעָ֔ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_14_15_7">הַמַּצָּב֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_14_15_8">וְהַמַּשְׁחִ֔ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_15_9">חָרְד֖וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_15_10">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6185">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_15_11">הֵ֑מָּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_15_12">וַתִּרְגַּ֣ז</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_15_13">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_14_15_14">וַתְּהִ֖י</span>
<span class="mila" data-lnk="3221225742" data-exlnk="0" id="M_14_15_15">לְחֶרְדַּ֥ת</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_14_15_16">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6192">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_16" data-pasuk-now="10"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_16_1">וַיִּרְא֤וּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_14_16_2">הַצֹּפִים֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_14_16_3">לְשָׁא֔וּל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_16_4">בְּגִבְעַ֖ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_16_5">בִּנְיָמִ֑ן</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_14_16_6">וְהִנֵּ֧ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_16_7">הֶהָמ֛וֹן</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_14_16_8">נָמ֖וֹג</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_16_9">וַיֵּ֥לֶךְ</span>
<span class="mila" data-lnk="3221225774" data-exlnk="0" id="M_14_16_10">וַהֲלֹֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6204">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6205"> פ </span>
</span>
<br /><span id="PS_14_17" data-pasuk-now="17"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_2">שָׁא֗וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_3">לָעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_5">אִתּ֔וֹ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_17_6">פִּקְדוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6212">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_17_7">נָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_8">וּרְא֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_9">מִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_10">הָלַ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_11">מֵעִמָּ֑נוּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_17_12">וַֽיִּפְקְד֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_13">וְהִנֵּ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_14">אֵ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_15">יוֹנָתָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_16">וְנֹשֵׂ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_17_17">כֵלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6224">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_18" data-pasuk-now="14"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_18_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_18_2">שָׁאוּל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_18_3">לַֽאֲחִיָּ֔ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_14_18_4">הַגִּ֖ישָׁה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_14_18_5">אֲר֣וֹן</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_14_18_6">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_14_18_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6232">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_14_18_8">הָיָ֞ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_14_18_9">אֲר֧וֹן</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_14_18_10">הָאֱלֹהִ֛ים</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_14_18_11">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_18_12">הַה֖וּא</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_14_18_13">וּבְנֵ֥י</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_14_18_14">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6240">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_19" data-pasuk-now="19"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_19_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_19_2">עַ֣ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_19_3">דִּבֶּ֤ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_19_4">שָׁאוּל֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_19_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6246">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_19_6">הַכֹּהֵ֔ן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_19_7">וְהֶהָמ֗וֹן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_19_8">אֲשֶׁר֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_19_9">בְּמַחֲנֵ֣ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_14_19_10">פְלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_19_11">וַיֵּ֥לֶךְ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_14_19_12">הָל֖וֹךְ</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="6254">וָרָ֑ב</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="M_14_19_13"> פ </span>
<br /><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_19_14">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_19_15">שָׁא֛וּל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_19_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6260">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_19_17">הַכֹּהֵ֖ן</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_14_19_18">אֱסֹ֥ף</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_14_19_19">יָדֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6264">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_20" data-pasuk-now="17"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_14_20_1">וַיִּזָּעֵ֣ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_2">שָׁא֗וּל</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_14_20_3">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6268">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_14_20_4">הָעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_5">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_6">אִתּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_7">וַיָּבֹ֖אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6274">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_9">הַמִּלְחָמָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_10">וְהִנֵּ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_11">הָיְתָ֜ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_20_12">חֶ֤רֶב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_20_13">אִישׁ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_20_14">בְּרֵעֵ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_15">מְהוּמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_16">גְּדוֹלָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_20_17">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6284">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_21" data-pasuk-now="19"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_21_1">וְהָעִבְרִ֗ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_21_2">הָי֤וּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_14_21_3">לַפְּלִשְׁתִּים֙</span>
<span class="mila" data-lnk="4026532204" data-exlnk="0" id="M_14_21_4">כְּאֶתְמ֣וֹל</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_14_21_5">שִׁלְשׁ֔וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_21_6">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_21_7">עָל֥וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_21_8">עִמָּ֛ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_14_21_9">בַּֽמַּחֲנֶ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_21_10">סָבִ֑יב</span>
<span class="mila" data-lnk="1073742082" data-exlnk="0" id="M_14_21_11">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6296">־</span><span class="mila" data-lnk="2147483919" data-exlnk="0" id="M_14_21_12">הֵ֗מָּה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_21_13">לִֽהְיוֹת֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_14_21_14">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6300">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_14_21_15">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_21_16">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_14_21_17">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6304">־</span><span class="mila" data-lnk="1073742124" data-exlnk="0" id="M_14_21_18">שָׁא֖וּל</span>
<span class="mila" data-lnk="2147483916" data-exlnk="0" id="M_14_21_19">וְיוֹנָתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6307">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_22" data-pasuk-now="15"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_22_1">וְכֹל֩</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_14_22_2">אִ֨ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_3">יִשְׂרָאֵ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_4">הַמִּֽתְחַבְּאִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_5">בְּהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6313">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_6">אֶפְרַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_7">שָֽׁמְע֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6317">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_9">נָ֖סוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_10">פְּלִשְׁתִּ֑ים</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_14_22_11">וַֽיַּדְבְּק֥וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_22_12">גַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6322">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_22_13">הֵ֛מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_14">אַחֲרֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_15">בַּמִּלְחָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6326">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_23" data-pasuk-now="11"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_23_1">וַיּ֧וֹשַׁע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_23_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_23_3">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_23_4">הַה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_23_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6332">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_23_6">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_14_23_7">וְהַ֨מִּלְחָמָ֔ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_23_8">עָבְרָ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_23_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6337">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_14_23_10">בֵּ֥ית</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_23_11">אָֽוֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6340">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_24" data-pasuk-now="24"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_14_24_1">וְאִֽישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6342">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_14_24_2">יִשְׂרָאֵ֥ל</span>
<span class="mila" data-lnk="4026532333" data-exlnk="0" id="M_14_24_3">נִגַּ֖שׂ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_14_24_4">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_14_24_5">הַה֑וּא</span>
<span class="mila" data-lnk="4026532215" data-exlnk="0" id="M_14_24_6">וַיֹּאֶל֩</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_14_24_7">שָׁא֨וּל</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_14_24_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6350">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_14_24_9">הָעָ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_24_10">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_24_11">אָר֣וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_24_12">הָ֠אִישׁ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_24_13">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6356">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_14_24_14">יֹ֨אכַל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_24_15">לֶ֜חֶם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_24_16">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6360">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_24_17">הָעֶ֗רֶב</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_24_18">וְנִקַּמְתִּי֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_14_24_19">מֵאֹ֣יְבַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_24_20">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6365">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_24_21">טָעַ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_24_22">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6368">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_24_23">הָעָ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_24_24">לָֽחֶם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6372">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6373">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1342177604" data-exlnk="0" id="M_14_25_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6375">־</span><span class="mila" data-lnk="2684354884" data-exlnk="0" id="M_14_25_2">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_25_3">בָּ֣אוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_25_4">בַיָּ֑עַר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_25_5">וַיְהִ֥י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_14_25_6">דְבַ֖שׁ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_25_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6382">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_14_25_8">פְּנֵ֥י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_25_9">הַשָּׂדֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6385">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_26" data-pasuk-now="17"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_26_1">וַיָּבֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_26_2">הָעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_26_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6389">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_26_4">הַיַּ֔עַר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_26_5">וְהִנֵּ֖ה</span>
<span class="mila" data-lnk="4026532223" data-exlnk="0" id="M_14_26_6">הֵ֣לֶךְ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_26_7">דְּבָ֑שׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_26_8">וְאֵין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6395">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_26_9">מַשִּׂ֤יג</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_26_10">יָדוֹ֙</span>
<span class="mila" data-lnk="1342177732" data-exlnk="0" id="M_14_26_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6399">־</span><span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_14_26_12">פִּ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_26_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6402">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_26_14">יָרֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_26_15">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_26_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6406">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_26_17">הַשְּׁבֻעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6408">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_27" data-pasuk-now="23"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_1">וְיוֹנָתָ֣ן</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_14_27_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6411">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_27_3">שָׁמַ֗ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_4">בְּהַשְׁבִּ֣יעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_5">אָבִיו֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6416">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_7">הָעָם֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_8">וַיִּשְׁלַ֗ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6420">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_10">קְצֵ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_11">הַמַּטֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_13">בְּיָד֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_14">וַיִּטְבֹּ֥ל</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_27_15">אוֹתָ֖הּ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_14_27_16">בְּיַעְרַ֣ת</span>
<span class="mila" data-lnk="4026532199" data-exlnk="0" id="M_14_27_17">הַדְּבָ֑שׁ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_14_27_18">וַיָּ֤שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_19">יָדוֹ֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_14_27_20">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6432">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_14_27_21">פִּ֔יו</span>
<span data-lnk="0" data-exlnk="0" id="M_14_27_22" class="mila ktiv">וַתָּרְאֹ֖נָה</span>
<span data-lnk="3221225732" data-exlnk="0" id="M_14_27_22_K" class="mila kri">וַתָּאֹ֖רְנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_23">עֵינָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6437">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_28" data-pasuk-now="18"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_1">וַיַּעַן֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_2">אִ֨ישׁ</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_28_3">מֵהָעָ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_4">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_5">הַשְׁבֵּעַ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_6">הִשְׁבִּ֨יעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_7">אָבִ֤יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6446">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_9">הָעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_10">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_11">אָר֥וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_12">הָאִ֛ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_13">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6452">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_14">יֹ֥אכַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_15">לֶ֖חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_28_16">הַיּ֑וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_28_17">וַיָּ֖עַף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_28_18">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6458">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_29" data-pasuk-now="16"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_29_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_29_2">יֽוֹנָתָ֔ן</span>
<span class="mila" data-lnk="4026532291" data-exlnk="0" id="M_14_29_3">עָכַ֥ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_29_4">אָבִ֖י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_29_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6464">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_29_6">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_29_7">רְאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6467">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_14_29_8">נָא֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_29_9">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6470">־</span><span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_14_29_10">אֹ֣רוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_29_11">עֵינַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_29_12">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_29_13">טָעַ֔מְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_29_14">מְעַ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_29_15">דְּבַ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_29_16">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6478">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_30" data-pasuk-now="17"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_30_1">אַ֗ף</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_30_2">כִּ֡י</span>
<span class="mila" data-lnk="4026532178" data-exlnk="0" id="M_14_30_3">לוּא֩</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_30_4">אָכֹ֨ל</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_30_5">אָכַ֤ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_30_6">הַיּוֹם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_30_7">הָעָ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_30_8">מִשְּׁלַ֥ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_30_9">אֹיְבָ֖יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_30_10">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_30_11">מָצָ֑א</span>
<span class="mila" data-lnk="268435527" data-exlnk="0" id="M_14_30_12">כִּ֥י</span>
<span class="mila" data-lnk="805306455" data-exlnk="0" id="M_14_30_13">עַתָּ֛ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_14_30_14">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6493">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_14_30_15">רָבְתָ֥ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_14_30_16">מַכָּ֖ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_14_30_17">בַּפְּלִשְׁתִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6497">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_31" data-pasuk-now="9"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_31_1">וַיַּכּ֞וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_31_2">בַּיּ֤וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_31_3">הַהוּא֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_31_4">בַּפְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_31_5">מִמִּכְמָ֖שׂ</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_14_31_6">אַיָּלֹ֑נָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_31_7">וַיָּ֥עַף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_31_8">הָעָ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_31_9">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6507">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_32" data-pasuk-now="15"><span class="pasuk-header">[לב]</span>
<span data-lnk="0" data-exlnk="0" id="M_14_32_1" class="mila ktiv">וַיַּ֤עַש</span>
<span data-lnk="4026532207" data-exlnk="0" id="M_14_32_1_K" class="mila kri">וַיַּ֤עַט</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_32_2">הָעָם֙</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_14_32_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6512">־</span><span data-lnk="0" data-exlnk="0" id="M_14_32_4" class="mila ktiv">ַשָּׁלָ֔ל</span>
<span data-lnk="4026532202" data-exlnk="0" id="M_14_32_4_K" class="mila kri">הַשָּׁלָ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_32_5">וַיִּקְח֨וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_32_6">צֹ֧אן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_32_7">וּבָקָ֛ר</span>
<span class="mila" data-lnk="3221225731" data-exlnk="0" id="M_14_32_8">וּבְנֵ֥י</span>
<span class="mila" data-lnk="3221225731" data-exlnk="0" id="M_14_32_9">בָקָ֖ר</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_14_32_10">וַיִּשְׁחֲטוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6521">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_14_32_11">אָ֑רְצָה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_14_32_12">וַיֹּ֥אכַל</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_32_13">הָעָ֖ם</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_32_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6526">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_14_32_15">הַדָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6528">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_33" data-pasuk-now="17"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_33_1">וַיַּגִּ֤ידוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_33_2">לְשָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_33_3">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_33_4">הִנֵּ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_33_5">הָעָ֛ם</span>
<span class="mila" data-lnk="4026532294" data-exlnk="0" id="M_14_33_6">חֹטִ֥אים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_14_33_7">לַיהוָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_33_8">לֶאֱכֹ֣ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_33_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6538">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_33_10">הַדָּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_33_11">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_33_12">בְּגַדְתֶּ֔ם</span>
<span class="mila" data-lnk="4026532167" data-exlnk="0" id="M_14_33_13">גֹּלּוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6543">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_14_33_14">אֵלַ֥י</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_33_15">הַיּ֖וֹם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_33_16">אֶ֥בֶן</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_33_17">גְּדוֹלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6548">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_34" data-pasuk-now="30"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_34_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_34_2">שָׁא֣וּל</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_14_34_3">פֻּ֣צוּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_14_34_4">בָעָ֡ם</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_14_34_5">וַאֲמַרְתֶּ֣ם</span>
<span class="mila" data-lnk="2952790338" data-exlnk="0" id="M_14_34_6">לָהֶ֡ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_34_7">הַגִּ֣ישׁוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_34_8">אֵלַי֩</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_34_9">אִ֨ישׁ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_14_34_10">שׁוֹר֜וֹ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_14_34_11">וְאִ֣ישׁ</span>
<span class="mila" data-lnk="3221225774" data-exlnk="0" id="M_14_34_12">שְׂיֵ֗הוּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_34_13">וּשְׁחַטְתֶּ֤ם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_34_14">בָּזֶה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_34_15">וַאֲכַלְתֶּ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_34_16">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6565">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_14_34_17">תֶחֶטְא֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_34_18">לַיהוָ֖ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_14_34_19">לֶאֱכֹ֣ל</span>
<span class="mila" data-lnk="3221225878" data-exlnk="0" id="M_14_34_20">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6570">־</span><span class="mila" data-lnk="3221225878" data-exlnk="0" id="M_14_34_21">הַדָּ֑ם</span>
<span class="mila" data-lnk="4026532178" data-exlnk="0" id="M_14_34_22">וַיַּגִּ֨שׁוּ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_34_23">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6574">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_14_34_24">הָעָ֜ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_34_25">אִ֣ישׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_34_26">שׁוֹר֧וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_34_27">בְיָד֛וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_34_28">הַלַּ֖יְלָה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_34_29">וַיִּשְׁחֲטוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6581">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_34_30">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6583">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_35" data-pasuk-now="9"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_35_1">וַיִּ֧בֶן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_35_2">שָׁא֛וּל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_35_3">מִזְבֵּ֖חַ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_35_4">לַיהוָ֑ה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_14_35_5">אֹת֣וֹ</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_14_35_6">הֵחֵ֔ל</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_14_35_7">לִבְנ֥וֹת</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_14_35_8">מִזְבֵּ֖חַ</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_14_35_9">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6594">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6595"> פ </span>
</span>
<br /><span id="PS_14_36" data-pasuk-now="26"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_36_2">שָׁא֡וּל</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_36_3">נֵרְדָ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_36_4">אַחֲרֵי֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_36_5">פְלִשְׁתִּ֨ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="6601">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_6">לַ֜יְלָה</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_14_36_7">וְֽנָבֹ֥זָה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_36_8">בָהֶ֣ם׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_9">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6606">־</span><span class="mila" data-lnk="268435520" data-exlnk="0" id="M_14_36_10">א֣וֹר</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_14_36_11">הַבֹּ֗קֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_36_12">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6610">־</span><span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_14_36_13">נַשְׁאֵ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_14">בָּהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_15">אִ֔ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_16">וַיֹּ֣אמְר֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_17">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6616">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_18">הַטּ֥וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_19">בְּעֵינֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="6619">עֲשֵׂ֑ה</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_14_36_20">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_21">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_36_22">הַכֹּהֵ֔ן</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_14_36_23">נִקְרְבָ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_36_24">הֲלֹ֖ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_14_36_25">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6627">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_14_36_26">הָאֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6629">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_14_37" data-pasuk-now="13"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_14_37_1">וַיִּשְׁאַ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_37_2">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_37_3">בֵּֽאלֹהִ֔ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_37_4">הַֽאֵרֵד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_37_5">אַחֲרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_37_6">פְלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_37_7">הֲתִתְּנֵ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_37_8">בְּיַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_37_9">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_37_10">וְלֹ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_37_11">עָנָ֖הוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_37_12">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_37_13">הַהֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6643">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_38" data-pasuk-now="14"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_38_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_38_2">שָׁא֔וּל</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_14_38_3">גֹּ֣שֽׁוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_38_4">הֲלֹ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_14_38_5">כֹּ֖ל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_14_38_6">פִּנּ֣וֹת</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_14_38_7">הָעָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_38_8">וּדְע֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_38_9">וּרְא֔וּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_38_10">בַּמָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_38_11">הָ֥יְתָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_38_12">הַחַטָּ֥את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_38_13">הַזֹּ֖את</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_14_38_14">הַיּֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6658">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_39" data-pasuk-now="18"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_1">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_2">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6661">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_39_4">הַמּוֹשִׁ֙יעַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6665">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_6">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_7">כִּ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_8">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6669">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_39_9">יֶשְׁנ֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_10">בְּיוֹנָתָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_11">בְּנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_12">כִּ֣י</span>
<span class="mila" data-lnk="3489661248" data-exlnk="0" id="M_14_39_13">מ֣וֹת</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_39_14">יָמ֑וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_15">וְאֵ֥ין</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_39_16">עֹנֵ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_17">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6679">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_39_18">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6681">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_40" data-pasuk-now="21"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6684">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6686">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_4">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_5">אַתֶּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_6">תִּֽהְיוּ֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_40_7">לְעֵ֣בֶר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_40_8">אֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_9">וַֽאֲנִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_10">וְיוֹנָתָ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_11">בְּנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_12">נִהְיֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_13">לְעֵ֣בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_14">אֶחָ֑ד</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_40_15">וַיֹּאמְר֤וּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_40_16">הָעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6701">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_18">שָׁא֔וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_19">הַטּ֥וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_20">בְּעֵינֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_40_21">עֲשֵֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6707">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6708">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_41" data-pasuk-now="13"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_41_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_41_2">שָׁא֗וּל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_41_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6712">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_14_41_4">יְהוָ֛ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_41_5">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_41_6">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_14_41_7">הָ֣בָה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_14_41_8">תָמִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_41_9">וַיִּלָּכֵ֧ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_41_10">יוֹנָתָ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_41_11">וְשָׁא֖וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_41_12">וְהָעָ֥ם</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_14_41_13">יָצָֽאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6723">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_42" data-pasuk-now="9"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_42_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_42_2">שָׁא֔וּל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_42_3">הַפִּ֕ילוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_42_4">בֵּינִ֕י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_42_5">וּבֵ֖ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_42_6">יוֹנָתָ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_42_7">בְּנִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_42_8">וַיִּלָּכֵ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_42_9">יוֹנָתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6733">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_43" data-pasuk-now="22"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_2">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6737">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_4">י֣וֹנָתָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_5">הַגִּ֥ידָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_6">לִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_7">מֶ֣ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_43_8">עָשִׂ֑יתָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_9">וַיַּגֶּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6744">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_10">ל֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_11">יוֹנָתָ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_12">וַיֹּאמֶר֩</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_43_13">טָעֹ֨ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_43_14">טָעַ֜מְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_15">בִּקְצֵ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_16">הַמַּטֶּ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6753">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_43_18">בְּיָדִ֛י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_43_19">מְעַ֥ט</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_43_20">דְּבַ֖שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_43_21">הִנְנִ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_43_22">אָמֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6760">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6761">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_44" data-pasuk-now="11"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_44_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_44_2">שָׁא֔וּל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_14_44_3">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6765">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_14_44_4">יַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_14_44_5">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_44_6">וְכֹ֣ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_44_7">יוֹסִ֑ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_44_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6771">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_44_9">מ֥וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_44_10">תָּמ֖וּת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_44_11">יוֹנָתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6775">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_45" data-pasuk-now="32"><span class="pasuk-header">[מה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_2">הָעָ֜ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6779">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_4">שָׁא֗וּל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_45_5">הֲֽיוֹנָתָ֤ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="6782">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_6">יָמוּת֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_8">עָ֠שָׂה</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_14_45_9">הַיְשׁוּעָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_10">הַגְּדוֹלָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_11">הַזֹּאת֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_12">בְּיִשְׂרָאֵל֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_13">חָלִ֗ילָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_14">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6792">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_15">יְהוָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_16">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6795">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_17">יִפֹּ֞ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_18">מִשַּׂעֲרַ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_19">רֹאשׁוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_20">אַ֔רְצָה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_14_45_21">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6801">־</span><span class="mila" data-lnk="1342177644" data-exlnk="0" id="M_14_45_22">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6803">־</span><span class="mila" data-lnk="2952790380" data-exlnk="0" id="M_14_45_23">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_14_45_24">עָשָׂ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_25">הַיּ֣וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_26">הַזֶּ֑ה</span>
<span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_14_45_27">וַיִּפְדּ֥וּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_45_28">הָעָ֛ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_14_45_29">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6811">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_14_45_30">יוֹנָתָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_45_31">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6814">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_45_32">מֵֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6817">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6818">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_46" data-pasuk-now="7"><span class="pasuk-header">[מו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_46_1">וַיַּ֣עַל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_46_2">שָׁא֔וּל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_46_3">מֵאַחֲרֵ֖י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_46_4">פְּלִשְׁתִּ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_46_5">וּפְלִשְׁתִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_46_6">הָלְכ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_46_7">לִמְקוֹמָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6826">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_47" data-pasuk-now="20"><span class="pasuk-header">[מז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_47_1">וְשָׁא֛וּל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_47_2">לָכַ֥ד</span>
<span class="mila" data-lnk="805306444" data-exlnk="0" id="M_14_47_3">הַמְּלוּכָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_47_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6831">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_47_5">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_6">וַיִּלָּ֣חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_7">סָבִ֣יב</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="6835">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_8">בְּֽכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6837">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_9">אֹיְבָ֡יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_10">בְּמוֹאָ֣ב׀</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_14_47_11">וּבִבְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6841">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_12">עַמּ֨וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_13">וּבֶאֱד֜וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_14">וּבְמַלְכֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_47_15">צוֹבָה֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_14_47_16">וּבַפְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="3489661290" data-exlnk="0" id="M_14_47_17">וּבְכֹ֥ל</span>
<span class="mila" data-lnk="2952790378" data-exlnk="0" id="M_14_47_18">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6849">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_14_47_19">יִפְנֶ֖ה</span>
<span class="mila" data-lnk="4026532350" data-exlnk="0" id="M_14_47_20">יַרְשִֽׁיעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6852">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_48" data-pasuk-now="10"><span class="pasuk-header">[מח]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_48_1">וַיַּ֣עַשׂ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_48_2">חַ֔יִל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_48_3">וַיַּ֖ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_48_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6857">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_48_5">עֲמָלֵ֑ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_48_6">וַיַּצֵּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_48_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6861">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_48_8">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_48_9">מִיַּ֥ד</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_48_10">שֹׁסֵֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6866">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6867"> פ </span>
</span>
<br /><span id="PS_14_49" data-pasuk-now="16"><span class="pasuk-header">[מט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_1">וַיִּֽהְיוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_49_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_49_3">שָׁא֔וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_4">יוֹנָתָ֥ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_49_5">וְיִשְׁוִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_6">וּמַלְכִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6874">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_7">שׁ֑וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_8">וְשֵׁם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_9">שְׁתֵּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_10">בְנֹתָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_11">שֵׁ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_12">הַבְּכִירָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_13">מֵרַ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_14">וְשֵׁ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_15">הַקְּטַנָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_49_16">מִיכַֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6885">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_50" data-pasuk-now="14"><span class="pasuk-header">[נ]</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_14_50_1">וְשֵׁם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_50_2">אֵ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_50_3">שָׁא֔וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_50_4">אֲחִינֹ֖עַם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_50_5">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6891">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_50_6">אֲחִימָ֑עַץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_50_7">וְשֵׁ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_50_8">שַׂר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6895">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_50_9">צְבָאוֹ֙</span>
<span class="mila" data-lnk="3221225729" data-exlnk="0" id="M_14_50_10">אֲבִינֵ֔ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_50_11">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6899">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_14_50_12">נֵ֖ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_50_13">דּ֥וֹד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_50_14">שָׁאֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6903">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_51" data-pasuk-now="8"><span class="pasuk-header">[נא]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_51_1">וְקִ֧ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_51_2">אֲבִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6906">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_51_3">שָׁא֛וּל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_14_51_4">וְנֵ֥ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_51_5">אֲבִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6910">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_14_51_6">אַבְנֵ֖ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_14_51_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6913">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_14_51_8">אֲבִיאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6916">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6917">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_52" data-pasuk-now="18"><span class="pasuk-header">[נב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_52_1">וַתְּהִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_52_2">הַמִּלְחָמָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_52_3">חֲזָקָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_52_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6922">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_52_5">פְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_52_6">כֹּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_52_7">יְמֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_52_8">שָׁא֑וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_52_9">וְרָאָ֨ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_52_10">שָׁא֜וּל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_52_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6930">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_14_52_12">אִ֤ישׁ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_52_13">גִּבּוֹר֙</span>
<span class="mila" data-lnk="1073742088" data-exlnk="0" id="M_14_52_14">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6934">־</span><span class="mila" data-lnk="2147483912" data-exlnk="0" id="M_14_52_15">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6936">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_52_16">חַ֔יִל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_14_52_17">וַיַּאַסְפֵ֖הוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_52_18">אֵלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6941">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6942"> פ </span>
</span>
<br /></p>