<p id="PR_18" data-perek-now="432" data-perek-nops="30"><span class="perek-header">פרק יח</span>
<br /><span id="PS_18_1" data-pasuk-now="13"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_2">כְּכַלֹּתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_3">לְדַבֵּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9205">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_5">שָׁא֔וּל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_1_6">וְנֶ֙פֶשׁ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_1_7">יְה֣וֹנָתָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_8">נִקְשְׁרָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_1_9">בְּנֶ֣פֶשׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_1_10">דָּוִ֑ד</span>
<span data-lnk="0" data-exlnk="0" id="M_18_1_11" class="mila ktiv">וַיֶּאֱהָבֵ֥וּ</span>
<span data-lnk="4026532160" data-exlnk="0" id="M_18_1_11_K" class="mila kri">וַיֶּאֱהָבֵ֥הוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_1_12">יְהוֹנָתָ֖ן</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_1_13">כְּנַפְשֽׁוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9216">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_2_1">וַיִּקָּחֵ֥הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_2_2">שָׁא֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_2_3">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_2_4">הַה֑וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_2_5">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_2_6">נְתָנ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_2_7">לָשׁ֖וּב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_2_8">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_2_9">אָבִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9226">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_3" data-pasuk-now="7"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_3_1">וַיִּכְרֹ֧ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_3_2">יְהוֹנָתָ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_3_3">וְדָוִ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_3_4">בְּרִ֑ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_3_5">בְּאַהֲבָת֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_3_6">אֹת֖וֹ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_3_7">כְּנַפְשֽׁוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9234">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_18_4_1">וַיִּתְפַּשֵּׁ֣ט</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_4_2">יְהוֹנָתָ֗ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_4_3">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9238">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_18_4_4">הַמְּעִיל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_4_5">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_4_6">עָלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_4_7">וַֽיִּתְּנֵ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_4_8">לְדָוִ֑ד</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_4_9">וּמַדָּ֕יו</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_4_10">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9246">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_4_11">חַרְבּ֥וֹ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_18_4_12">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9249">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_4_13">קַשְׁתּ֖וֹ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_18_4_14">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9252">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_18_4_15">חֲגֹרֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9254">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_5" data-pasuk-now="20"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_1">וַיֵּצֵ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_2">דָוִ֜ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_3">בְּכֹל֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_4">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_5">יִשְׁלָחֶ֤נּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_6">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_7">יַשְׂכִּ֔יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_8">וַיְשִׂמֵ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_9">שָׁא֔וּל</span>
<span class="mila" data-lnk="3489661376" data-exlnk="0" id="M_18_5_10">עַ֖ל</span>
<span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_18_5_11">אַנְשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_5_12">הַמִּלְחָמָ֑ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_5_13">וַיִּיטַב֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_5_14">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_5_15">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9270">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_18_5_16">הָעָ֔ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_18_5_17">וְגַ֕ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_18_5_18">בְּעֵינֵ֖י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_18_5_19">עַבְדֵ֥י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_18_5_20">שָׁאֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9277">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9278"> פ </span>
</span>
<br /><span id="PS_18_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_6_1">וַיְהִ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_6_2">בְּבוֹאָ֗ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_6_3">בְּשׁ֤וּב</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_6_4">דָּוִד֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_6_5">מֵהַכּ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_6_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9285">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_6_7">הַפְּלִשְׁתִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_6_8">וַתֵּצֶ֨אנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_6_9">הַנָּשִׁ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_6_10">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9290">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_6_11">עָרֵ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_6_12">יִשְׂרָאֵל֙</span>
<span data-lnk="0" data-exlnk="0" id="M_18_6_13" class="mila ktiv">לָשִׁ֣ור</span>
<span data-lnk="3221225732" data-exlnk="0" id="M_18_6_13_K" class="mila kri">לָשִׁ֣יר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_6_14">וְהַמְּחֹל֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_6_15">לִקְרַ֖את</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_6_16">שָׁא֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_6_17">הַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_18_6_18">בְּתֻפִּ֥ים</span>
<span class="mila" data-lnk="2147483912" data-exlnk="0" id="M_18_6_19">בְּשִׂמְחָ֖ה</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_18_6_20">וּבְשָׁלִשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9302">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_18_7_1">וַֽתַּעֲנֶ֛ינָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_7_2">הַנָּשִׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_7_3">הַֽמְשַׂחֲק֖וֹת</span>
<span class="mila" data-lnk="3221225856" data-exlnk="0" id="M_18_7_4">וַתֹּאמַ֑רְןָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_7_5">הִכָּ֤ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_7_6">שָׁאוּל֙</span>
<span data-lnk="0" data-exlnk="0" id="M_18_7_7" class="mila ktiv">בַּאֲלָפָ֔ו</span>
<span data-lnk="3221225728" data-exlnk="0" id="M_18_7_7_K" class="mila kri">בַּאֲלָפָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_7_8">וְדָוִ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_7_9">בְּרִבְבֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9313">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_8" data-pasuk-now="18"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_1">וַיִּ֨חַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_2">לְשָׁא֜וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_3">מְאֹ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_4">וַיֵּ֤רַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_5">בְּעֵינָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_6">הַדָּבָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_7">הַזֶּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_8">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_9">נָתְנ֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_10">לְדָוִד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_11">רְבָב֔וֹת</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_8_12">וְלִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_13">נָתְנ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_8_14">הָאֲלָפִ֑ים</span>
<span class="mila" data-lnk="4026532183" data-exlnk="0" id="M_18_8_15">וְע֥וֹד</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_18_8_16">ל֖וֹ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_18_8_17">אַ֥ךְ</span>
<span class="mila" data-lnk="805306455" data-exlnk="0" id="M_18_8_18">הַמְּלוּכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9332">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_9" data-pasuk-now="8"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_18_9_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_18_9_2">שָׁא֖וּל</span>
<span data-lnk="0" data-exlnk="0" id="M_18_9_3" class="mila ktiv">עֹוֵ֣ן</span>
<span data-lnk="3221225774" data-exlnk="0" id="M_18_9_3_K" class="mila kri">עוֹיֵ֣ן</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_18_9_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9338">־</span><span class="mila" data-lnk="46" data-exlnk="0" id="M_18_9_5">דָּוִ֑ד</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_9_6">מֵהַיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_9_7">הַה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_9_8">וָהָֽלְאָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9344">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9345">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_10" data-pasuk-now="19"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_10_1">וַיְהִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_10_2">מִֽמָּחֳרָ֗ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_10_3">וַתִּצְלַ֣ח</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_18_10_4">רוּחַ֩</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_18_10_5">אֱלֹהִ֨ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9351">׀</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_18_10_6">רָעָ֤ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9353">׀</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_18_10_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9355">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_18_10_8">שָׁאוּל֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_18_10_9">וַיִּתְנַבֵּ֣א</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_18_10_10">בְתוֹךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9359">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_18_10_11">הַבַּ֔יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_10_12">וְדָוִ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_10_13">מְנַגֵּ֥ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_10_14">בְּיָד֖וֹ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_18_10_15">כְּי֣וֹם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9365">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_10_16">בְּי֑וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_10_17">וְהַחֲנִ֖ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_10_18">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9369">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_10_19">שָׁאֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9371">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_18_11_1">וַיָּ֤טֶל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_11_2">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_11_3">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9375">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_11_4">הַחֲנִ֔ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_11_5">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_18_11_6">אַכֶּ֥ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_18_11_7">בְדָוִ֖ד</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_18_11_8">וּבַקִּ֑יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_11_9">וַיִּסֹּ֥ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_11_10">דָּוִ֛ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_11_11">מִפָּנָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_11_12">פַּעֲמָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9385">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_18_12_1">וַיִּרָ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_12_2">שָׁא֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_3">מִלִּפְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_4">דָוִ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9391">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_6">הָיָ֤ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_12_7">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_8">עִמּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_9">וּמֵעִ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_12_10">שָׁא֖וּל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_12_11">סָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9398">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_1">וַיְסִרֵ֤הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_2">שָׁאוּל֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_13_3">מֵֽעִמּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_13_4">וַיְשִׂמֵ֥הוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_13_5">ל֖וֹ</span>
<span class="mila" data-lnk="1073742088" data-exlnk="0" id="M_18_13_6">שַׂר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9405">־</span><span class="mila" data-lnk="2147483912" data-exlnk="0" id="M_18_13_7">אָ֑לֶף</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_13_8">וַיֵּצֵ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_13_9">וַיָּבֹ֖א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_13_10">לִפְנֵ֥י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_13_11">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9412">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9413">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_14" data-pasuk-now="7"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_14_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_14_2">דָוִ֛ד</span>
<span class="mila" data-lnk="1073742116" data-exlnk="0" id="M_18_14_3">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9417">־</span><span data-lnk="0" data-exlnk="0" id="M_18_14_4" class="mila ktiv">דְּרָכָ֖ו</span>
<span data-lnk="4026532332" data-exlnk="0" id="M_18_14_4_K" class="mila kri">דְּרָכָ֖יו</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_18_14_5">מַשְׂכִּ֑יל</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_14_6">וַיהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_14_7">עִמּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9423">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_15" data-pasuk-now="8"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_1">וַיַּ֣רְא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_2">שָׁא֔וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9427">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_4">ה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_5">מַשְׂכִּ֣יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_6">מְאֹ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_7">וַיָּ֖גָר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_15_8">מִפָּנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9433">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_16_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9435">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_18_16_2">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_16_3">וִֽיהוּדָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_16_4">אֹהֵ֖ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_16_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9440">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_18_16_6">דָּוִ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_16_7">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9443">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_16_8">ה֛וּא</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_18_16_9">יוֹצֵ֥א</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_18_16_10">וָבָ֖א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_16_11">לִפְנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9449">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9450"> פ </span>
</span>
<br /><span id="PS_18_17" data-pasuk-now="30"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_17_2">שָׁא֜וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9454">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_4">דָּוִ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_5">הִנֵּה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_6">בִתִּ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_7">הַגְּדוֹלָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_8">מֵרַב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_9">אֹתָהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_10">אֶתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9462">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_11">לְךָ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_12">לְאִשָּׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_13">אַ֚ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_14">הֱיֵה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9467">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_15">לִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_16">לְבֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9470">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_17_17">חַ֔יִל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_17_18">וְהִלָּחֵ֖ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_17_19">מִלְחֲמ֣וֹת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_17_20">יְהוָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_17_21">וְשָׁא֣וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_17_22">אָמַ֗ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_17_23">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9478">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_18_17_24">תְּהִ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_17_25">יָדִי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_17_26">בּ֔וֹ</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_18_17_27">וּתְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9483">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_18_17_28">ב֖וֹ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_18_17_29">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9486">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_18_17_30">פְּלִשְׁתִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9489">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9490">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_18" data-pasuk-now="15"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_18_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_18_2">דָּוִ֜ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_18_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9494">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_18_4">שָׁא֗וּל</span>
<span class="mila" data-lnk="1342177612" data-exlnk="0" id="M_18_18_5">מִ֤י</span>
<span class="mila" data-lnk="2952790344" data-exlnk="0" id="M_18_18_6">אָֽנֹכִי֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_18_7">וּמִ֣י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_18_8">חַיַּ֔י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_18_9">מִשְׁפַּ֥חַת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_18_10">אָבִ֖י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_18_11">בְּיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_18_12">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9504">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_18_18_13">אֶהְיֶ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_18_14">חָתָ֖ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_18_15">לַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9508">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_19" data-pasuk-now="13"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_18_19_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_18_19_2">בְּעֵ֛ת</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_18_19_3">תֵּ֛ת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_18_19_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9513">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_18_19_5">מֵרַ֥ב</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_18_19_6">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9516">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_18_19_7">שָׁא֖וּל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_18_19_8">לְדָוִ֑ד</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_18_19_9">וְהִ֧יא</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_18_19_10">נִתְּנָ֛ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_18_19_11">לְעַדְרִיאֵ֥ל</span>
<span class="mila" data-lnk="4026532178" data-exlnk="0" id="M_18_19_12">הַמְּחֹלָתִ֖י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_18_19_13">לְאִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9524">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_20" data-pasuk-now="11"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_1">וַתֶּאֱהַ֛ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_2">מִיכַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_3">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9528">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_4">שָׁא֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9531">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_6">דָּוִ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_7">וַיַּגִּ֣דוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_8">לְשָׁא֔וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_9">וַיִּשַׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_10">הַדָּבָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_20_11">בְּעֵינָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9538">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_21" data-pasuk-now="19"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_21_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_21_2">שָׁא֜וּל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_3">אֶתְּנֶ֤נָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_4">לּוֹ֙</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_18_21_5">וּתְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9544">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_6">ל֣וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_7">לְמוֹקֵ֔שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_8">וּתְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9548">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_9">ב֖וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_10">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9551">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_11">פְּלִשְׁתִּ֑ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_12">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_13">שָׁאוּל֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9556">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_18_21_15">דָּוִ֔ד</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_18_21_16">בִּשְׁתַּ֛יִם</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_18_21_17">תִּתְחַתֵּ֥ן</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_18_21_18">בִּ֖י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_21_19">הַיּֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9562">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_22" data-pasuk-now="19"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_1">וַיְצַ֨ו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_22_2">שָׁא֜וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9566">־</span><span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_18_22_4">עֲבָדָ֗ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_5">דַּבְּר֨וּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_22_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9570">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_18_22_7">דָּוִ֤ד</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_18_22_8">בַּלָּט֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_9">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_10">הִנֵּ֨ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_22_11">חָפֵ֤ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_12">בְּךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_13">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="1879048520" data-exlnk="0" id="M_18_22_14">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9579">־</span><span class="mila" data-lnk="3758096840" data-exlnk="0" id="M_18_22_15">עֲבָדָ֖יו</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_18_22_16">אֲהֵב֑וּךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_17">וְעַתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_18">הִתְחַתֵּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_22_19">בַּמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9585">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_23" data-pasuk-now="18"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_1">וַֽיְדַבְּר֞וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_2">עַבְדֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_3">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_4">בְּאָזְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_5">דָוִ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9592">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_7">הַדְּבָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_8">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_9">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_23_10">דָּוִ֗ד</span>
<span class="mila" data-lnk="3221225734" data-exlnk="0" id="M_18_23_11">הַֽנֲקַלָּ֤ה</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_18_23_12">בְעֵֽינֵיכֶם֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_18_23_13">הִתְחַתֵּ֣ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_23_14">בַּמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_18_23_15">וְאָנֹכִ֖י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_18_23_16">אִֽישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9603">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_18_23_17">רָ֥שׁ</span>
<span class="mila" data-lnk="3221225742" data-exlnk="0" id="M_18_23_18">וְנִקְלֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9606">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_24" data-pasuk-now="9"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_1">וַיַּגִּ֜דוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_2">עַבְדֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_3">שָׁא֛וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_4">ל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_5">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_6">כַּדְּבָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_7">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_8">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_24_9">דָּוִֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9616">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_25" data-pasuk-now="23"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_2">שָׁא֜וּל</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_18_25_3">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9620">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_18_25_4">תֹאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_5">לְדָוִ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_6">אֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9624">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_7">חֵ֤פֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_8">לַמֶּ֙לֶךְ֙</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_18_25_9">בְּמֹ֔הַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_10">כִּ֗י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_18_25_11">בְּמֵאָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_12">עָרְל֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_13">פְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_14">לְהִנָּקֵ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_15">בְּאֹיְבֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_16">הַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_17">וְשָׁא֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_18">חָשַׁ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_19">לְהַפִּ֥יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_20">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9639">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_21">דָּוִ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_22">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9642">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_25_23">פְּלִשְׁתִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9644">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_26" data-pasuk-now="15"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_26_1">וַיַּגִּ֨דוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_26_2">עֲבָדָ֤יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_26_3">לְדָוִד֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_26_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9649">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_18_26_5">הַדְּבָרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_26_6">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_26_7">וַיִּשַׁ֤ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_26_8">הַדָּבָר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_26_9">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_18_26_10">דָוִ֔ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_26_11">לְהִתְחַתֵּ֖ן</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_18_26_12">בַּמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_18_26_13">וְלֹ֥א</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_18_26_14">מָלְא֖וּ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_18_26_15">הַיָּמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9661">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_27" data-pasuk-now="24"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_18_27_1">וַיָּ֨קָם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_18_27_2">דָּוִ֜ד</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_18_27_3">וַיֵּ֣לֶךְ׀</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_18_27_4">ה֣וּא</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_18_27_5">וַאֲנָשָׁ֗יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_27_6">וַיַּ֣ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_27_7">בַּפְּלִשְׁתִּים֘</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_18_27_8">מָאתַ֣יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_27_9">אִישׁ֒</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_18_27_10">וַיָּבֵ֤א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_27_11">דָוִד֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_27_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9674">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_18_27_13">עָרְלֹ֣תֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026532167" data-exlnk="0" id="M_18_27_14">וַיְמַלְא֣וּם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_18_27_15">לַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_16">לְהִתְחַתֵּ֖ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_27_17">בַּמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_18">וַיִּתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9681">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_19">ל֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_20">שָׁא֛וּל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_18_27_21">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9685">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_22">מִיכַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_23">בִּתּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_27_24">לְאִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9690">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9691">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_28" data-pasuk-now="11"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_28_1">וַיַּ֤רְא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_28_2">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_28_3">וַיֵּ֔דַע</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_28_4">כִּ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_28_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_28_6">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9698">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_28_7">דָּוִ֑ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_28_8">וּמִיכַ֥ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_18_28_9">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9702">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_18_28_10">שָׁא֖וּל</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_18_28_11">אֲהֵבַֽתְהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9705">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_18_29" data-pasuk-now="13"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="3221225746" data-exlnk="0" id="M_18_29_1">וַיֹּ֣אסֶף</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_18_29_2">שָׁא֗וּל</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_18_29_3">לֵרֹ֛א</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_18_29_4">מִפְּנֵ֥י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_18_29_5">דָוִ֖ד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_18_29_6">ע֑וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_29_7">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_29_8">שָׁא֛וּל</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_18_29_9">אֹיֵ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_29_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9716">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_29_11">דָּוִ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_18_29_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9719">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_18_29_13">הַיָּמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9722">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9723"> פ </span>
</span>
<br /><span id="PS_18_30" data-pasuk-now="14"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_18_30_1">וַיֵּצְא֖וּ</span>
<span class="mila" data-lnk="1879048513" data-exlnk="0" id="M_18_30_2">שָׂרֵ֣י</span>
<span class="mila" data-lnk="3758096705" data-exlnk="0" id="M_18_30_3">פְלִשְׁתִּ֑ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_18_30_4">וַיְהִ֣י׀</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_18_30_5">מִדֵּ֣י</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_18_30_6">צֵאתָ֗ם</span>
<span class="mila" data-lnk="3221225772" data-exlnk="0" id="M_18_30_7">שָׂכַ֤ל</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_18_30_8">דָּוִד֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_30_9">מִכֹּל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_30_10">עַבְדֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_18_30_11">שָׁא֔וּל</span>
<span class="mila" data-lnk="3221225740" data-exlnk="0" id="M_18_30_12">וַיִּיקַ֥ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_30_13">שְׁמ֖וֹ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_18_30_14">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9739">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9740">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>