<p id="PR_1" data-perek-now="367" data-perek-nops="27"><span class="perek-header">פרק א</span>
<br /><span id="PS_1_1" data-pasuk-now="14"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_1_1_1">וַֽיְהִ֗י</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_1_1_2">אַֽחֲרֵי֙</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_1_1_3">מ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_4">שָׁא֔וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_5">וְדָוִ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_6">שָׁ֔ב</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_1_1_7">מֵהַכּ֖וֹת</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_1_1_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9">־</span><span class="mila" data-lnk="3221226048" data-exlnk="0" id="M_1_1_9">הָעֲמָלֵ֑ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_10">וַיֵּ֧שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_11">דָּוִ֛ד</span>
<span class="mila" data-lnk="3221225984" data-exlnk="2" id="M_1_1_12">בְּצִֽקְלָ֖ג</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_13">יָמִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_14">שְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_2" data-pasuk-now="22"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_1">וַיְהִ֣י׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_2">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_3">הַשְּׁלִישִׁ֗י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_4">וְהִנֵּה֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_5">אִ֨ישׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_6">בָּ֤א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_7">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="24">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_8">הַֽמַּחֲנֶה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_9">מֵעִ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_10">שָׁא֔וּל</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_1_2_11">וּבְגָדָ֣יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_12">קְרֻעִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_13">וַאֲדָמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="32">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_15">רֹאשׁ֑וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_2_16">וַֽיְהִי֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_2_17">בְּבֹא֣וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_2_18">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="37">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_1_2_19">דָּוִ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_20">וַיִּפֹּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_21">אַ֖רְצָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_22">וַיִּשְׁתָּֽחוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="42">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_3" data-pasuk-now="11"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_2">לוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_3">דָּוִ֔ד</span>
<span class="mila" data-lnk="1879048832" data-exlnk="0" id="M_1_3_4">אֵ֥י</span>
<span class="mila" data-lnk="1610613376" data-exlnk="0" id="M_1_3_5">מִזֶּ֖ה</span>
<span class="mila" data-lnk="3758097024" data-exlnk="0" id="M_1_3_6">תָּב֑וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_7">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_8">אֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_9">מִמַּחֲנֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_10">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_11">נִמְלָֽטְתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="54">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_4" data-pasuk-now="26"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_2">אֵלָ֥יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_3">דָּוִ֛ד</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_1_4_4">מֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="59">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_5">הָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_6">הַדָּבָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_7">הַגֶּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="63">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_8">נָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_9">לִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_10">וַ֠יֹּאמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="68">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_12">נָ֨ס</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_13">הָעָ֜ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_14">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="72">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_15">הַמִּלְחָמָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_16">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="75">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_17">הַרְבֵּ֞ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_18">נָפַ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_19">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="79">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_20">הָעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_21">וַיָּמֻ֔תוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_22">וְגַ֗ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_23">שָׁא֛וּל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_24">וִיהוֹנָתָ֥ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_25">בְּנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_26">מֵֽתוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="87">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_2">דָּוִ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="91">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_4">הַנַּ֖עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_5">הַמַּגִּ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_6">ל֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_7">אֵ֣יךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_8">יָדַ֔עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="98">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_10">מֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_11">שָׁא֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_12">וִיהוֹנָתָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_13">בְּנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="103">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_6" data-pasuk-now="18"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_1">וַיֹּ֜אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_2">הַנַּ֣עַר׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_3">הַמַּגִּ֣יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_4">ל֗וֹ</span>
<span class="mila" data-lnk="3221226246" data-exlnk="0" id="M_1_6_5">נִקְרֹ֤א</span>
<span class="mila" data-lnk="4026532486" data-exlnk="0" id="M_1_6_6">נִקְרֵ֙יתִי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_7">בְּהַ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_8">הַגִּלְבֹּ֔עַ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_6_9">וְהִנֵּ֥ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_6_10">שָׁא֖וּל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_6_11">נִשְׁעָ֣ן</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_1_6_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="116">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_1_6_13">חֲנִית֑וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_14">וְהִנֵּ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_15">הָרֶ֛כֶב</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_6_16">וּבַעֲלֵ֥י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_6_17">הַפָּרָשִׁ֖ים</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_1_6_18">הִדְבִּקֻֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="123">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_7" data-pasuk-now="7"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_7_1">וַיִּ֥פֶן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_7_2">אַחֲרָ֖יו</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_1_7_3">וַיִּרְאֵ֑נִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_7_4">וַיִּקְרָ֣א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_7_5">אֵלַ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_7_6">וָאֹמַ֖ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_7_7">הִנֵּֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="131">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532738" data-exlnk="0" id="M_1_8_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="805306498" data-exlnk="0" id="M_1_8_2">לִ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_8_3">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="135">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_1_8_4">אָ֑תָּה</span>
<span data-lnk="0" data-exlnk="0" id="M_1_8_5" class="mila ktiv">וָיאֹמַ֣ר</span>
<span data-lnk="3221225734" data-exlnk="0" id="M_1_8_5_K" class="mila kri">וָאֹמַ֣ר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_8_6">אֵלָ֔יו</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_8_7">עֲמָלֵקִ֖י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_8_8">אָנֹֽכִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="142">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_9_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_9_2">אֵלַ֗י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_9_3">עֲמָד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="146">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_1_9_4">נָ֤א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_9_5">עָלַי֙</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_1_9_6">וּמֹ֣תֲתֵ֔נִי</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_1_9_7">כִּ֥י</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_1_9_8">אֲחָזַ֖נִי</span>
<span class="mila" data-lnk="3221226095" data-exlnk="0" id="M_1_9_9">הַשָּׁבָ֑ץ</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_9_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="154">־</span><span class="mila" data-lnk="79" data-exlnk="0" id="M_1_9_11">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="156">־</span><span class="mila" data-lnk="79" data-exlnk="0" id="M_1_9_12">ע֥וֹד</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_9_13">נַפְשִׁ֖י</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_9_14">בִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="160">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_10" data-pasuk-now="23"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_1">וָאֶעֱמֹ֤ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_2">עָלָיו֙</span>
<span class="mila" data-lnk="3221225990" data-exlnk="0" id="M_1_10_3">וַאֲמֹ֣תְתֵ֔הוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_10_4">כִּ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_10_5">יָדַ֔עְתִּי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_10_6">כִּ֛י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_10_7">לֹ֥א</span>
<span class="mila" data-lnk="805306506" data-exlnk="0" id="M_1_10_8">יִֽחְיֶ֖ה</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_1_10_9">אַחֲרֵ֣י</span>
<span class="mila" data-lnk="3221226062" data-exlnk="0" id="M_1_10_10">נִפְל֑וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_11">וָאֶקַּ֞ח</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_12">הַנֵּ֣זֶר׀</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_13">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="175">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_15">רֹאשׁ֗וֹ</span>
<span class="mila" data-lnk="3221225987" data-exlnk="0" id="M_1_10_16">וְאֶצְעָדָה֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_10_17">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_10_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="180">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_1_10_19">זְרֹע֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_20">וָאֲבִיאֵ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_21">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="184">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_22">אֲדֹנִ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_10_23">הֵֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="187">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_11" data-pasuk-now="9"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_11_1">וַיַּחֲזֵ֥ק</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_11_2">דָּוִ֛ד</span>
<span class="mila" data-lnk="3221225988" data-exlnk="0" id="M_1_11_3">בִּבְגָדָ֖ו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_11_4">וַיִּקְרָעֵ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_5">וְגַ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_11_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="194">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_7">הָאֲנָשִׁ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_11_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_11_9">אִתּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="198">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_12" data-pasuk-now="19"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_12_1">וַֽיִּסְפְּדוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_12_2">וַיִּבְכּ֔וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_12_3">וַיָּצֻ֖מוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_12_4">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="203">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_12_5">הָעָ֑רֶב</span>
<span class="mila" data-lnk="3489661578" data-exlnk="0" id="M_1_12_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="206">־</span><span class="mila" data-lnk="4026532492" data-exlnk="0" id="M_1_12_7">שָׁא֞וּל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_12_8">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="209">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_1_12_9">יְהוֹנָתָ֣ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_12_10">בְּנ֗וֹ</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_1_12_11">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="213">־</span><span class="mila" data-lnk="102" data-exlnk="0" id="M_1_12_12">עַ֤ם</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_1_12_13">יְהוָה֙</span>
<span class="mila" data-lnk="4026532582" data-exlnk="0" id="M_1_12_14">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="217">־</span><span class="mila" data-lnk="4026532580" data-exlnk="0" id="M_1_12_15">בֵּ֣ית</span>
<span class="mila" data-lnk="536871142" data-exlnk="0" id="M_1_12_16">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_12_17">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_12_18">נָפְל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_12_19">בֶּחָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="224">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="225"> פ </span>
</span>
<br /><span id="PS_1_13" data-pasuk-now="15"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_13_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_13_2">דָּוִ֗ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_13_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="229">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_1_13_4">הַנַּ֙עַר֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_13_5">הַמַּגִּ֣יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_13_6">ל֔וֹ</span>
<span class="mila" data-lnk="805306534" data-exlnk="0" id="M_1_13_7">אֵ֥י</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_1_13_8">מִזֶּ֖ה</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_1_13_9">אָ֑תָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_13_10">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_1_13_11">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="238">־</span><span class="mila" data-lnk="70" data-exlnk="0" id="M_1_13_12">אִ֛ישׁ</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_1_13_13">גֵּ֥ר</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_1_13_14">עֲמָלֵקִ֖י</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_1_13_15">אָנֹֽכִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="243">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_14_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_14_2">אֵלָ֖יו</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_14_3">דָּוִ֑ד</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_14_4">אֵ֚יךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_14_5">לֹ֣א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_14_6">יָרֵ֔אתָ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_14_7">לִשְׁלֹחַ֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_14_8">יָֽדְךָ֔</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_14_9">לְשַׁחֵ֖ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_14_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="254">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_1_14_11">מְשִׁ֥יחַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_14_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="257">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_15" data-pasuk-now="10"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_15_1">וַיִּקְרָ֣א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_15_2">דָוִ֗ד</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_1_15_3">לְאַחַד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_4">מֵֽהַנְּעָרִ֔ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_15_5">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="3221226048" data-exlnk="0" id="M_1_15_6">גַּ֣שׁ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_1_15_7">פְּגַע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="265">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_1_15_8">בּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_9">וַיַּכֵּ֖הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_15_10">וַיָּמֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="269">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_16" data-pasuk-now="16"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_16_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_16_2">אֵלָיו֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_16_3">דָּוִ֔ד</span>
<span data-lnk="0" data-exlnk="0" id="M_1_16_4" class="mila ktiv">דָּמְיךָ֖</span>
<span data-lnk="3221225991" data-exlnk="0" id="M_1_16_4_K" class="mila kri">דָּמְךָ֖</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_1_16_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="276">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_1_16_6">רֹאשֶׁ֑ךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_16_7">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_16_8">פִ֗יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_16_9">עָנָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_16_10">בְךָ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_16_11">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_16_12">אָנֹכִ֥י</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_1_16_13">מֹתַ֖תִּי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_16_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="286">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_16_15">מְשִׁ֥יחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_16_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="290">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="291"> פ </span>
</span>
<br /><span id="PS_1_17" data-pasuk-now="10"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_1_17_1">וַיְקֹנֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_2">דָּוִ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="295">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_4">הַקִּינָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_5">הַזֹּ֑את</span>
<span class="mila" data-lnk="1879048832" data-exlnk="0" id="M_1_17_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="299">־</span><span class="mila" data-lnk="2952790656" data-exlnk="0" id="M_1_17_7">שָׁא֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_8">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="302">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_9">יְהוֹנָתָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_10">בְּנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="305">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_18_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_18_2">לְלַמֵּ֥ד</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_18_3">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="309">־</span><span class="mila" data-lnk="79" data-exlnk="0" id="M_1_18_4">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_18_5">קָ֑שֶׁת</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_1_18_6">הִנֵּ֥ה</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_1_18_7">כְתוּבָ֖ה</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_1_18_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="315">־</span><span class="mila" data-lnk="3489661679" data-exlnk="0" id="M_1_18_9">סֵ֥פֶר</span>
<span class="mila" data-lnk="4026532591" data-exlnk="0" id="M_1_18_10">הַיָּשָֽׁר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="318">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_1_19_1">הַצְּבִי֙</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_19_2">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_1_19_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="322">־</span><span class="mila" data-lnk="4026532747" data-exlnk="0" id="M_1_19_4">בָּמוֹתֶ֖יךָ</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_1_19_5">חָלָ֑ל</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_1_19_6">אֵ֖יךְ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_1_19_7">נָפְל֥וּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_19_8">גִבּוֹרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="328">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_20" data-pasuk-now="15"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_20_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="330">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_1_20_2">תַּגִּ֣ידֽוּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_20_3">בְגַ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_4">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="334">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_5">תְּבַשְּׂר֖וּ</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_1_20_6">בְּחוּצֹ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_7">אַשְׁקְל֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_8">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="339">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_9">תִּשְׂמַ֙חְנָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_10">בְּנ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_11">פְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_12">פֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="344">־</span><span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_1_20_13">תַּעֲלֹ֖זְנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_14">בְּנ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_15">הָעֲרֵלִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="348">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_21" data-pasuk-now="19"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_1_21_1">הָרֵ֣י</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_21_2">בַגִּלְבֹּ֗עַ</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_1_21_3">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="352">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_1_21_4">טַ֧ל</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_1_21_5">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="355">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_1_21_6">מָטָ֛ר</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_1_21_7">עֲלֵיכֶ֖ם</span>
<span class="mila" data-lnk="4026532591" data-exlnk="0" id="M_1_21_8">וּשְׂדֵ֣י</span>
<span class="mila" data-lnk="4026532847" data-exlnk="0" id="M_1_21_9">תְרוּמֹ֑ת</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_1_21_10">כִּ֣י</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_1_21_11">שָׁ֤ם</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_1_21_12">נִגְעַל֙</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_21_13">מָגֵ֣ן</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_1_21_14">גִּבּוֹרִ֔ים</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_1_21_15">מָגֵ֣ן</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_1_21_16">שָׁא֔וּל</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_1_21_17">בְּלִ֖י</span>
<span class="mila" data-lnk="3221226342" data-exlnk="0" id="M_1_21_18">מָשִׁ֥יחַ</span>
<span class="mila" data-lnk="2147484015" data-exlnk="0" id="M_1_21_19">בַּשָּֽׁמֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="370">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_22_1">מִדַּ֣ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_22_2">חֲלָלִ֗ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_22_3">מֵחֵ֙לֶב֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_22_4">גִּבּוֹרִ֔ים</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_22_5">קֶ֚שֶׁת</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_22_6">יְה֣וֹנָתָ֔ן</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_1_22_7">לֹ֥א</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_1_22_8">נָשׂ֖וֹג</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_1_22_9">אָח֑וֹר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_22_10">וְחֶ֣רֶב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_22_11">שָׁא֔וּל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_22_12">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_22_13">תָשׁ֖וּב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_22_14">רֵיקָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="385">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_23" data-pasuk-now="12"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_1_23_1">שָׁא֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_23_2">וִיהוֹנָתָ֗ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_23_3">הַנֶּאֱהָבִ֤ים</span>
<span class="mila" data-lnk="3221226016" data-exlnk="0" id="M_1_23_4">וְהַנְּעִימִם֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_1_23_5">בְּחַיֵּיהֶ֔ם</span>
<span class="mila" data-lnk="4026532520" data-exlnk="0" id="M_1_23_6">וּבְמוֹתָ֖ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_23_7">לֹ֣א</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_23_8">נִפְרָ֑דוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_23_9">מִנְּשָׁרִ֣ים</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_1_23_10">קַ֔לּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_23_11">מֵאֲרָי֖וֹת</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_1_23_12">גָּבֵֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="398">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_24" data-pasuk-now="14"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_24_1">בְּנוֹת֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_24_2">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="805306508" data-exlnk="0" id="M_1_24_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="402">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_1_24_4">שָׁא֖וּל</span>
<span class="mila" data-lnk="3221225996" data-exlnk="0" id="M_1_24_5">בְּכֶ֑ינָה</span>
<span class="mila" data-lnk="3221226081" data-exlnk="0" id="M_1_24_6">הַמַּלְבִּֽשְׁכֶ֤ם</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_24_7">שָׁנִי֙</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_1_24_8">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="408">־</span><span class="mila" data-lnk="79" data-exlnk="0" id="M_1_24_9">עֲדָנִ֔ים</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_1_24_10">הַֽמַּעֲלֶה֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_24_11">עֲדִ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_24_12">זָהָ֔ב</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_24_13">עַ֖ל</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_1_24_14">לְבוּשְׁכֶֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="415">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_25_1">אֵ֚יךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_25_2">נָפְל֣וּ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_1_25_3">גִבֹּרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_25_4">בְּת֖וֹךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_25_5">הַמִּלְחָמָ֑ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_25_6">יְה֣וֹנָתָ֔ן</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_25_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="423">־</span><span class="mila" data-lnk="4026532525" data-exlnk="0" id="M_1_25_8">בָּמוֹתֶ֖יךָ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_25_9">חָלָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="426">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_26_1">צַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="428">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_26_2">לִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_26_3">עָלֶ֗יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_26_4">אָחִי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_26_5">יְה֣וֹנָתָ֔ן</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_1_26_6">נָעַ֥מְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_26_7">לִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_26_8">מְאֹ֑ד</span>
<span class="mila" data-lnk="3221226060" data-exlnk="0" id="M_1_26_9">נִפְלְאַ֤תָה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_26_10">אַהֲבָֽתְךָ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_26_11">לִ֔י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_26_12">מֵאַהֲבַ֖ת</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_26_13">נָשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="441">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_27" data-pasuk-now="6"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_27_1">אֵ֚יךְ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_1_27_2">נָפְל֣וּ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_1_27_3">גִבּוֹרִ֔ים</span>
<span class="mila" data-lnk="4026532494" data-exlnk="0" id="M_1_27_4">וַיֹּאבְד֖וּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_1_27_5">כְּלֵ֥י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_1_27_6">מִלְחָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="449">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="450"> פ </span>
</span>
<br /></p>