<p id="PR_12" data-perek-now="527" data-perek-nops="31"><span class="perek-header">פרק יב</span>
<br /><span id="PS_12_1" data-pasuk-now="19"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_1">וַיִּשְׁלַ֧ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5207">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_4">נָתָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5210">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_6">דָּוִ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_7">וַיָּבֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_8">אֵלָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_9">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_10">לוֹ֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_1_11">שְׁנֵ֣י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_1_12">אֲנָשִׁ֗ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_1_13">הָיוּ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_1_14">בְּעִ֣יר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_1_15">אֶחָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_16">אֶחָ֥ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_1_17">עָשִׁ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_18">וְאֶחָ֥ד</span>
<span class="mila" data-lnk="4026532740" data-exlnk="0" id="M_12_1_19">רָֽאשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5225">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_2" data-pasuk-now="6"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_2_1">לְעָשִׁ֗יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_2">הָיָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_3">צֹ֥אן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_4">וּבָקָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_5">הַרְבֵּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_6">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5232">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_3" data-pasuk-now="25"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_3_1">וְלָרָ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_2">אֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5235">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_3">כֹּ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_4">כִּי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_5">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5239">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_6">כִּבְשָׂ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_7">אַחַ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_8">קְטַנָּה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_3_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_3_10">קָנָ֔ה</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_3_11">וַיְחַיֶּ֕הָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_3_12">וַתִּגְדַּ֥ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_3_13">עִמּ֛וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_3_14">וְעִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5249">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_3_15">בָּנָ֖יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_3_16">יַחְדָּ֑ו</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_3_17">מִפִּתּ֨וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_18">תֹאכַ֜ל</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_3_19">וּמִכֹּס֤וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_20">תִשְׁתֶּה֙</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_3_21">וּבְחֵיק֣וֹ</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_3_22">תִשְׁכָּ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_23">וַתְּהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5259">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_24">ל֖וֹ</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_3_25">כְּבַֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5262">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_4" data-pasuk-now="21"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_12_4_1">וַיָּ֣בֹא</span>
<span class="mila" data-lnk="4026532589" data-exlnk="0" id="M_12_4_2">הֵלֶךְ֘</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_12_4_3">לְאִ֣ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_4_4">הֶעָשִׁיר֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_5">וַיַּחְמֹ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_6">לָקַ֤חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_7">מִצֹּאנוֹ֙</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_4_8">וּמִבְּקָר֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_9">לַעֲשׂ֕וֹת</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_4_10">לָאֹרֵ֖חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_11">הַבָּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5274">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_12">ל֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_13">וַיִּקַּ֗ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5278">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_15">כִּבְשַׂת֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_4_16">הָאִ֣ישׁ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_4_17">הָרָ֔אשׁ</span>
<span class="mila" data-lnk="4026532492" data-exlnk="0" id="M_12_4_18">וַֽיַּעֲשֶׂ֔הָ</span>
<span class="mila" data-lnk="805306508" data-exlnk="0" id="M_12_4_19">לָאִ֖ישׁ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_12_4_20">הַבָּ֥א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_12_4_21">אֵלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5286">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_1">וַיִּחַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5288">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_2">אַ֥ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_3">דָּוִ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_4">בָּאִ֖ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_5">מְאֹ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_6">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5295">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_8">נָתָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_9">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5298">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_10">יְהוָ֕ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_5_11">כִּ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_5_12">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5302">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_12_5_13">מָ֔וֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_5_14">הָאִ֖ישׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_5_15">הָעֹשֶׂ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_5_16">זֹֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5307">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5309">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_2">הַכִּבְשָׂ֖ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_6_3">יְשַׁלֵּ֣ם</span>
<span class="mila" data-lnk="3221225989" data-exlnk="0" id="M_12_6_4">אַרְבַּעְתָּ֑יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_5">עֵ֗קֶב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_6">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_7">עָשָׂה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5317">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_9">הַדָּבָ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_10">הַזֶּ֔ה</span>
<span class="mila" data-lnk="1342177924" data-exlnk="0" id="M_12_6_11">וְעַ֖ל</span>
<span class="mila" data-lnk="2684355204" data-exlnk="0" id="M_12_6_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_13">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5323">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_6_14">חָמָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5326">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5327">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_7" data-pasuk-now="20"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_7_1">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_7_2">נָתָ֛ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_7_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5331">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_12_7_4">דָּוִ֖ד</span>
<span class="mila" data-lnk="3221225992" data-exlnk="0" id="M_12_7_5">אַתָּ֣ה</span>
<span class="mila" data-lnk="3221225992" data-exlnk="0" id="5334">הָאִ֑ישׁ</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_12_7_6">   ס </span>
<span class="mila" data-lnk="1342177664" data-exlnk="0" id="M_12_7_7">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5338">־</span><span class="mila" data-lnk="1342177664" data-exlnk="0" id="M_12_7_8">אָמַ֨ר</span>
<span class="mila" data-lnk="1342177664" data-exlnk="0" id="M_12_7_9">יְהוָ֜ה</span>
<span class="mila" data-lnk="1342177664" data-exlnk="0" id="M_12_7_10">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="2684354944" data-exlnk="0" id="M_12_7_11">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_12">אָנֹכִ֞י</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_7_13">מְשַׁחְתִּ֤יךָֽ</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_12_7_14">לְמֶ֙לֶךְ֙</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_12_7_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5347">־</span><span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_7_16">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_17">וְאָנֹכִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_18">הִצַּלְתִּ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_19">מִיַּ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_20">שָׁאֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5353">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_12_8" data-pasuk-now="21"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_1">וָאֶתְּנָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_2">לְךָ֜</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_8_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5357">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_8_4">בֵּ֣ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_8_5">אֲדֹנֶ֗יךָ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_8_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5361">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_12_8_7">נְשֵׁ֤י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_8_8">אֲדֹנֶ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_9">בְּחֵיקֶ֔ךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_8_10">וָאֶתְּנָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_8_11">לְךָ֔</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_8_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5368">־</span><span class="mila" data-lnk="268435586" data-exlnk="0" id="M_12_8_13">בֵּ֥ית</span>
<span class="mila" data-lnk="536871042" data-exlnk="0" id="M_12_8_14">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_15">וִיהוּדָ֑ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_8_16">וְאִ֨ם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5373">־</span><span class="mila" data-lnk="4026532742" data-exlnk="0" id="M_12_8_17">מְעָ֔ט</span>
<span class="mila" data-lnk="3221226019" data-exlnk="0" id="M_12_8_18">וְאֹסִ֥פָה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_12_8_19">לְּךָ֖</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_12_8_20">כָּהֵ֥נָּה</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_12_8_21">וְכָהֵֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5379">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_9" data-pasuk-now="23"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="805306498" data-exlnk="0" id="M_12_9_1">מַדּ֜וּעַ</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_12_9_2">בָּזִ֣יתָ׀</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_9_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5383">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_9_4">דְּבַ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_9_5">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_6">לַעֲשׂ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_7">הָרַע֘</span>
<span data-lnk="0" data-exlnk="0" id="M_12_9_8" class="mila ktiv">בְּעֵינַו֒</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_12_9_8_K" class="mila kri">בְּעֵינַי֒</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_9_9">אֵ֣ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_9_10">אוּרִיָּ֤ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_9_11">הַחִתִּי֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_9_12">הִכִּ֣יתָ</span>
<span class="mila" data-lnk="805306532" data-exlnk="0" id="M_12_9_13">בַחֶ֔רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_14">וְאֶ֨ת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5396">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_15">אִשְׁתּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_16">לָקַ֥חְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_17">לְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_18">לְאִשָּׁ֑ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_9_19">וְאֹת֣וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_9_20">הָרַ֔גְתָּ</span>
<span class="mila" data-lnk="805306532" data-exlnk="0" id="M_12_9_21">בְּחֶ֖רֶב</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_9_22">בְּנֵ֥י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_9_23">עַמּֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5406">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5409">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_3">תָס֥וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_4">חֶ֛רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_5">מִבֵּיתְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5414">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_7">עוֹלָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_8">עֵ֚קֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_9">כִּ֣י</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_10_10">בְזִתָ֔נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_11">וַתִּקַּ֗ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5421">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_13">אֵ֙שֶׁת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_14">אוּרִיָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_15">הַחִתִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_16">לִהְי֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_17">לְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_18">לְאִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5429">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5430">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_11" data-pasuk-now="20"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_11_1">כֹּ֣ה׀</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_11_2">אָמַ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_11_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_4">הִנְנִי֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_5">מֵקִ֨ים</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_12_11_6">עָלֶ֤יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_7">רָעָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_8">מִבֵּיתֶ֔ךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_11_9">וְלָקַחְתִּ֤י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_11_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5441">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_11_11">נָשֶׁ֙יךָ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_12">לְעֵינֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_13">וְנָתַתִּ֖י</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_12_11_14">לְּרֵעֶ֑יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_15">וְשָׁכַב֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_16">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5448">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_17">נָשֶׁ֔יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_18">לְעֵינֵ֖י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_19">הַשֶּׁ֥מֶשׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_11_20">הַזֹּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5453">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_12" data-pasuk-now="14"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_12_1">כִּ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_12_2">אַתָּ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_12_3">עָשִׂ֣יתָ</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_12_12_4">בַסָּ֑תֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_12_5">וַאֲנִ֗י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_12_6">אֶֽעֱשֶׂה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5461">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_8">הַדָּבָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_9">הַזֶּ֔ה</span>
<span class="mila" data-lnk="1879048832" data-exlnk="0" id="M_12_12_10">נֶ֥גֶד</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_12_12_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5466">־</span><span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_12_12">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_13">וְנֶ֥גֶד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_12_14">הַשָּֽׁמֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5471">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5472">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_2">דָּוִד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5476">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_4">נָתָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_5">חָטָ֖אתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="5479">לַיהוָ֑ה</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_12_13_6">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_7">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_8">נָתָ֜ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5485">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_10">דָּוִ֗ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_13_11">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5488">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_13_12">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_13">הֶעֱבִ֥יר</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_13_14">חַטָּאתְךָ֖</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_13_15">לֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_13_16">תָמֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5494">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_12_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_12_14_1">אֶ֗פֶס</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_12_14_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5497">־</span><span class="mila" data-lnk="39" data-exlnk="0" id="M_12_14_3">נִאֵ֤ץ</span>
<span class="mila" data-lnk="3221226019" data-exlnk="0" id="M_12_14_4">נִאַ֙צְתָּ֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_12_14_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5501">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_12_14_6">אֹיְבֵ֣י</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_12_14_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="3489661600" data-exlnk="0" id="M_12_14_8">בַּדָּבָ֖ר</span>
<span class="mila" data-lnk="2952790688" data-exlnk="0" id="M_12_14_9">הַזֶּ֑ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_14_10">גַּ֗ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_14_11">הַבֵּ֛ן</span>
<span class="mila" data-lnk="4026532516" data-exlnk="0" id="M_12_14_12">הַיִּלּ֥וֹד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_14_13">לְךָ֖</span>
<span class="mila" data-lnk="1342177924" data-exlnk="0" id="M_12_14_14">מ֥וֹת</span>
<span class="mila" data-lnk="2684355204" data-exlnk="0" id="M_12_14_15">יָמֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5512">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_15" data-pasuk-now="14"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_15_1">וַיֵּ֥לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_15_2">נָתָ֖ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_15_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5516">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_15_4">בֵּית֑וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_15_5">וַיִּגֹּ֣ף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_15_6">יְהוָ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_15_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5521">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_15_8">הַיֶּ֜לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_9">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_10">יָלְדָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_11">אֵשֶׁת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5526">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_12">אוּרִיָּ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_13">לְדָוִ֖ד</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_12_15_14">וַיֵּאָנַֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5530">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_16" data-pasuk-now="13"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_16_1">וַיְבַקֵּ֥שׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_16_2">דָּוִ֛ד</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_16_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5534">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_12_16_4">הָאֱלֹהִ֖ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_16_5">בְּעַ֣ד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_16_6">הַנָּ֑עַר</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_16_7">וַיָּ֤צָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_8">דָּוִד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_9">צ֔וֹם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_16_10">וּבָ֥א</span>
<span class="mila" data-lnk="3221225989" data-exlnk="0" id="M_12_16_11">וְלָ֖ן</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_16_12">וְשָׁכַ֥ב</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_16_13">אָֽרְצָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5545">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_17" data-pasuk-now="13"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_17_1">וַיָּקֻ֜מוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_17_2">זִקְנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_17_3">בֵיתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_17_4">עָלָ֔יו</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_17_5">לַהֲקִימ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_17_6">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5552">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_17_7">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_17_8">וְלֹ֣א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_17_9">אָבָ֔ה</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_12_17_10">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5557">־</span><span class="mila" data-lnk="68" data-exlnk="0" id="M_12_17_11">בָרָ֥א</span>
<span class="mila" data-lnk="4026532228" data-exlnk="0" id="M_12_17_12">אִתָּ֖ם</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_12_17_13">לָֽחֶם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5561">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_18" data-pasuk-now="31"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_18_1">וַיְהִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_2">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_3">הַשְּׁבִיעִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_4">וַיָּ֣מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_5">הַיָּ֑לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_6">וַיִּֽרְאוּ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_7">עַבְדֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_8">דָוִ֜ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_9">לְהַגִּ֥יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_10">ל֣וֹ׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_11">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5573">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_12">מֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_13">הַיֶּ֗לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_14">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_15">אָֽמְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_16">הִנֵּה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_17">בִֽהְי֨וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_18">הַיֶּ֜לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_19">חַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_20">דִּבַּ֤רְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_21">אֵלָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_22">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5585">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_23">שָׁמַ֣ע</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_18_24">בְּקוֹלֵ֔נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_25">וְאֵ֨יךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_26">נֹאמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_27">אֵלָ֛יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_28">מֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_29">הַיֶּ֖לֶד</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_18_30">וְעָשָׂ֥ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_18_31">רָעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5595">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_19" data-pasuk-now="18"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_1">וַיַּ֣רְא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_2">דָּוִ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_3">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_4">עֲבָדָיו֙</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_19_5">מִֽתְלַחֲשִׁ֔ים</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_12_19_6">וַיָּ֥בֶן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_12_19_7">דָּוִ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_8">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_9">מֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_10">הַיָּ֑לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_11">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_12">דָּוִ֧ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5609">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_14">עֲבָדָ֛יו</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_19_15">הֲמֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_16">הַיֶּ֖לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_17">וַיֹּ֥אמְרוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_18">מֵֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5615">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_20" data-pasuk-now="19"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_20_1">וַיָּקָם֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_20_2">דָּוִ֨ד</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_12_20_3">מֵהָאָ֜רֶץ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_20_4">וַיִּרְחַ֣ץ</span>
<span class="mila" data-lnk="4026532548" data-exlnk="0" id="M_12_20_5">וַיָּ֗סֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_20_6">וַיְחַלֵּף֙</span>
<span data-lnk="0" data-exlnk="0" id="M_12_20_7" class="mila ktiv">שִׂמְלֹתָ֔ו</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_12_20_7_K" class="mila kri">שִׂמְלֹתָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_8">וַיָּבֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_20_9">בֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5626">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_20_10">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_11">וַיִּשְׁתָּ֑חוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_12">וַיָּבֹא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5631">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_14">בֵּית֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_15">וַיִּשְׁאַ֕ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_16">וַיָּשִׂ֥ימוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_17">ל֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_18">לֶ֖חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_19">וַיֹּאכַֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5638">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_21" data-pasuk-now="19"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="1342178176" data-exlnk="0" id="M_12_21_1">וַיֹּאמְר֤וּ</span>
<span class="mila" data-lnk="1342178176" data-exlnk="0" id="M_12_21_2">עֲבָדָיו֙</span>
<span class="mila" data-lnk="3758097280" data-exlnk="0" id="M_12_21_3">אֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_4">מָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5643">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_5">הַדָּבָ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_6">הַזֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_21_8">עָשִׂ֑יתָה</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_12_21_9">בַּעֲב֞וּר</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_12_21_10">הַיֶּ֤לֶד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_21_11">חַי֙</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_12_21_12">צַ֣מְתָּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_12_21_13">וַתֵּ֔בְךְּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_14">וְכַֽאֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_15">מֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_16">הַיֶּ֔לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_17">קַ֖מְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_18">וַתֹּ֥אכַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_19">לָֽחֶם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5659">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_2">בְּעוֹד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_3">הַיֶּ֣לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_4">חַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_5">צַ֖מְתִּי</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_12_22_6">וָאֶבְכֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_7">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_8">אָמַ֙רְתִּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_9">מִ֣י</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_12_22_10">יוֹדֵ֔עַ</span>
<span data-lnk="0" data-exlnk="0" id="M_12_22_11" class="mila ktiv">יְחַנַּ֥נִי</span>
<span data-lnk="3221225988" data-exlnk="0" id="M_12_22_11_K" class="mila kri">וְחַנַּ֥נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_12">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_13">וְחַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_22_14">הַיָּֽלֶד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5675">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_23" data-pasuk-now="16"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_1">וְעַתָּ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="5677">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_2">מֵ֗ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_3">לָ֤מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_4">זֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_5">אֲנִ֣י</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_23_6">צָ֔ם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_23_7">הַאוּכַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_8">לַהֲשִׁיב֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_9">ע֑וֹד</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_12_23_10">אֲנִי֙</span>
<span class="mila" data-lnk="2684355200" data-exlnk="0" id="M_12_23_11">הֹלֵ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_12">אֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_13">וְה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_14">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5691">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_15">יָשׁ֥וּב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_23_16">אֵלָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5694">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026532512" data-exlnk="0" id="M_12_24_1">וַיְנַחֵ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_24_2">דָּוִ֗ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_24_3">אֵ֚ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_24_4">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5699">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_24_5">שֶׁ֣בַע</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_24_6">אִשְׁתּ֔וֹ</span>
<span class="mila" data-lnk="3221226020" data-exlnk="0" id="M_12_24_7">וַיָּבֹ֥א</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_24_8">אֵלֶ֖יהָ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_24_9">וַיִּשְׁכַּ֣ב</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_24_10">עִמָּ֑הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_24_11">וַתֵּ֣לֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_24_12">בֵּ֗ן</span>
<span data-lnk="0" data-exlnk="0" id="M_12_24_13" class="mila ktiv">וַיִּקְרָ֤א</span>
<span data-lnk="805306502" data-exlnk="0" id="M_12_24_13_K" class="mila kri">וַתִּקְרָ֤א</span>
<span class="mila" data-lnk="268435590" data-exlnk="0" id="M_12_24_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5711">־</span><span class="mila" data-lnk="536871046" data-exlnk="0" id="M_12_24_15">שְׁמוֹ֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_24_16">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_24_17">וַיהוָ֖ה</span>
<span class="mila" data-lnk="4026532516" data-exlnk="0" id="M_12_24_18">אֲהֵבֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5716">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_25" data-pasuk-now="10"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_12_25_1">וַיִּשְׁלַ֗ח</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_25_2">בְּיַד֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_25_3">נָתָ֣ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_25_4">הַנָּבִ֔יא</span>
<span class="mila" data-lnk="1342177934" data-exlnk="0" id="M_12_25_5">וַיִּקְרָ֥א</span>
<span class="mila" data-lnk="1342177934" data-exlnk="0" id="M_12_25_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5723">־</span><span class="mila" data-lnk="4026532494" data-exlnk="0" id="M_12_25_7">שְׁמ֖וֹ</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_12_25_8">יְדִ֣ידְיָ֑הּ</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_12_25_9">בַּעֲב֖וּר</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_12_25_10">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5729">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5730"> פ </span>
</span>
<br /><span id="PS_12_26" data-pasuk-now="9"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_1">וַיִּלָּ֣חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_2">יוֹאָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_3">בְּרַבַּ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_5">עַמּ֑וֹן</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_12_26_6">וַיִּלְכֹּ֖ד</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_12_26_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5738">־</span><span class="mila" data-lnk="69" data-exlnk="0" id="M_12_26_8">עִ֥יר</span>
<span class="mila" data-lnk="805306565" data-exlnk="0" id="M_12_26_9">הַמְּלוּכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5741">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_27" data-pasuk-now="13"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_1">וַיִּשְׁלַ֥ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_2">יוֹאָ֛ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_3">מַלְאָכִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5746">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_5">דָּוִ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_6">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_7">נִלְחַ֣מְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_8">בְרַבָּ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_27_9">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5752">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_12_27_10">לָכַ֖דְתִּי</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_12_27_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5755">־</span><span class="mila" data-lnk="70" data-exlnk="0" id="M_12_27_12">עִ֥יר</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_12_27_13">הַמָּֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5758">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_28" data-pasuk-now="17"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_2">אֱסֹף֙</span>
<span class="mila" data-lnk="3489661824" data-exlnk="0" id="M_12_28_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5762">־</span><span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_12_28_4">יֶ֣תֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_5">הָעָ֔ם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_28_6">וַחֲנֵ֥ה</span>
<span class="mila" data-lnk="1879048832" data-exlnk="0" id="M_12_28_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5767">־</span><span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_28_8">הָעִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_9">וְלָכְדָ֑הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_10">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5771">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_11">אֶלְכֹּ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_12">אֲנִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5775">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_14">הָעִ֔יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_15">וְנִקְרָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_16">שְׁמִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_17">עָלֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5780">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_29" data-pasuk-now="10"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_1">וַיֶּאֱסֹ֥ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_2">דָּוִ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5784">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5786">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_5">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_6">וַיֵּ֣לֶךְ</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_12_29_7">רַבָּ֑תָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_8">וַיִּלָּ֥חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_9">בָּ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_10">וַֽיִּלְכְּדָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5793">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_30" data-pasuk-now="20"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_1">וַיִּקַּ֣ח</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_30_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5796">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_12_30_3">עֲטֶֽרֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5798">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_12_30_4">מַלְכָּם֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_30_5">מֵעַ֨ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_30_6">רֹאשׁ֜וֹ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_30_7">וּמִשְׁקָלָ֨הּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_30_8">כִּכַּ֤ר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_30_9">זָהָב֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_30_10">וְאֶ֣בֶן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_30_11">יְקָרָ֔ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_12_30_12">וַתְּהִ֖י</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_12_30_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5809">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_12_30_14">רֹ֣אשׁ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_12_30_15">דָּוִ֑ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_30_16">וּשְׁלַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_17">הָעִ֛יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_18">הוֹצִ֖יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_19">הַרְבֵּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_20">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5817">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_31" data-pasuk-now="25"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="1879048832" data-exlnk="0" id="M_12_31_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5819">־</span><span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_12_31_2">הָעָ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5822">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_4">בָּ֜הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_5">הוֹצִ֗יא</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_12_31_6">וַיָּ֣שֶׂם</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_12_31_7">בַּ֠מְּגֵרָה</span>
<span class="mila" data-lnk="4026532524" data-exlnk="0" id="M_12_31_8">וּבַחֲרִצֵ֨י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_12_31_9">הַבַּרְזֶ֜ל</span>
<span class="mila" data-lnk="3221226025" data-exlnk="0" id="M_12_31_10">וּֽבְמַגְזְרֹ֣ת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_12_31_11">הַבַּרְזֶ֗ל</span>
<span class="mila" data-lnk="110" data-exlnk="0" id="M_12_31_12">וְהֶעֱבִ֤יר</span>
<span class="mila" data-lnk="4026532590" data-exlnk="0" id="M_12_31_13">אוֹתָם֙</span>
<span data-lnk="0" data-exlnk="0" id="M_12_31_14" class="mila ktiv">בַּמַּלְכֵּ֔ן</span>
<span data-lnk="4026532847" data-exlnk="0" id="M_12_31_14_K" class="mila kri">בַּמַּלְבֵּ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_15">וְכֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_16">יַעֲשֶׂ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_31_17">לְכֹ֖ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_31_18">עָרֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_31_19">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5840">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_31_20">עַמּ֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_21">וַיָּ֧שָׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_22">דָּוִ֛ד</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_12_31_23">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5845">־</span><span class="mila" data-lnk="536871040" data-exlnk="0" id="M_12_31_24">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_31_25">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5849">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5850"> פ </span>
</span>
<br /></p>