<p id="PR_22" data-perek-now="808" data-perek-nops="54"><span class="perek-header">פרק כב</span>
<br /><span id="PS_22_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_1_1">וַיֵּשְׁב֖וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_1_2">שָׁלֹ֣שׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_1_3">שָׁנִ֑ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_1_4">אֵ֚ין</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_1_5">מִלְחָמָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_1_6">בֵּ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_1_7">אֲרָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_1_8">וּבֵ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_1_9">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15207">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="15208"> פ </span>
</span>
<br /><span id="PS_22_2" data-pasuk-now="10"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_2_1">וַיְהִ֖י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_2_2">בַּשָּׁנָ֣ה</span>
<span class="mila" data-lnk="4026532163" data-exlnk="0" id="M_22_2_3">הַשְּׁלִישִׁ֑ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_4">וַיֵּ֛רֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_5">יְהוֹשָׁפָ֥ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_6">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15215">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_7">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15218">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_9">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_2_10">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15221">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_3" data-pasuk-now="17"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_2">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15224">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_3">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15227">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_5">עֲבָדָ֔יו</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_22_3_6">הַיְדַעְתֶּ֕ם</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_22_3_7">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15231">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_22_3_8">לָ֖נוּ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_22_3_9">רָמֹ֣ת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_3_10">גִּלְעָ֑ד</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_22_3_11">וַאֲנַ֣חְנוּ</span>
<span class="mila" data-lnk="4026532291" data-exlnk="0" id="M_22_3_12">מַחְשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_3_13">מִקַּ֣חַת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_3_14">אֹתָ֔הּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_3_15">מִיַּ֖ד</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_3_16">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_3_17">אֲרָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15242">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_4" data-pasuk-now="19"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15245">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_3">יְה֣וֹשָׁפָ֔ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_4">הֲתֵלֵ֥ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_5">אִתִּ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_6">לַמִּלְחָמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_7">רָמֹ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_8">גִּלְעָ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_9">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_10">יְהֽוֹשָׁפָט֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15255">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_12">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_13">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_4_14">כָּמ֧וֹנִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_4_15">כָמ֛וֹךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_16">כְּעַמִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_17">כְעַמֶּ֖ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_18">כְּסוּסַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_4_19">כְּסוּסֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15264">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_2">יְהוֹשָׁפָ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15268">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_4">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_5_5">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_6">דְּרָשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15272">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_7">נָ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_8">כַיּ֖וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15276">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_10">דְּבַ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_11">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15279">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_6" data-pasuk-now="23"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_6_1">וַיִּקְבֹּ֨ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15282">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_3">יִשְׂרָאֵ֥ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_6_4">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15285">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_22_6_5">הַנְּבִיאִים֘</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_22_6_6">כְּאַרְבַּ֣ע</span>
<span class="mila" data-lnk="805306448" data-exlnk="0" id="M_22_6_7">מֵא֣וֹת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_6_8">אִישׁ֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_9">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_6_10">אֲלֵהֶ֗ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_6_11">הַאֵלֵ֞ךְ</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_22_6_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15294">־</span><span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_22_6_13">רָמֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_14">גִּלְעָ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_15">לַמִּלְחָמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_16">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15299">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_17">אֶחְדָּ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_18">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_19">עֲלֵ֔ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_6_20">וְיִתֵּ֥ן</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_22_6_21">אֲדנָ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_22">בְּיַ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_6_23">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15307">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_7_2">יְה֣וֹשָׁפָ֔ט</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_7_3">הַאֵ֨ין</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_7_4">פֹּ֥ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_7_5">נָבִ֛יא</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_22_7_6">לַיהוָ֖ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_22_7_7">ע֑וֹד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_7_8">וְנִדְרְשָׁ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_7_9">מֵאֹתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15317">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_8" data-pasuk-now="31"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15320">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_3">יִשְׂרָאֵ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="15322">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_4">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15324">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_5">יְהוֹשָׁפָ֡ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_6">ע֣וֹד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_8_7">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15328">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_22_8_8">אֶחָ֡ד</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_8_9">לִדְרֹשׁ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15332">־</span><span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_22_8_11">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_12">מֵאֹת֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_13">וַאֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_14">שְׂנֵאתִ֗יו</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_8_15">כִּ֠י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_22_8_16">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15339">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_22_8_17">יִתְנַבֵּ֨א</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_22_8_18">עָלַ֥י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_22_8_19">טוֹב֙</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_22_8_20">כִּ֣י</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_22_8_21">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15345">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_22_8_22">רָ֔ע</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_8_23">מִיכָ֖יְהוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_8_24">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15349">־</span><span class="mila" data-lnk="4026532304" data-exlnk="0" id="M_22_8_25">יִמְלָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_26">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_27">יְה֣וֹשָׁפָ֔ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_28">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15354">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_29">יֹאמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_30">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_8_31">כֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15358">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_9" data-pasuk-now="11"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_1">וַיִּקְרָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_2">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_3">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15363">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_5">סָרִ֖יס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_6">אֶחָ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_9_7">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_22_9_8">מַהֲרָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_9_9">מִיכָ֥יְהוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_9_10">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15370">־</span><span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_22_9_11">יִמְלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15372">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_10" data-pasuk-now="19"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_1">וּמֶ֣לֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_2">יִשְׂרָאֵ֡ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_3">וִיהוֹשָׁפָ֣ט</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_4">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15377">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_5">יְהוּדָ֡ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_6">יֹשְׁבִים֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_7">אִ֨ישׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15382">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_10_9">כִּסְא֜וֹ</span>
<span class="mila" data-lnk="4026532190" data-exlnk="0" id="M_22_10_10">מְלֻבָּשִׁ֤ים</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_22_10_11">בְּגָדִים֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_22_10_12">בְּגֹ֔רֶן</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_22_10_13">פֶּ֖תַח</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_22_10_14">שַׁ֣עַר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_22_10_15">שֹׁמְר֑וֹן</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_22_10_16">וְכָ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15391">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_22_10_17">הַנְּבִיאִ֔ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_10_18">מִֽתְנַבְּאִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_10_19">לִפְנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15395">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_11" data-pasuk-now="17"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_2">ל֛וֹ</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_22_11_3">צִדְקִיָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_4">בֶֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15400">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_5">כְּנַעֲנָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_11_6">קַרְנֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_11_7">בַרְזֶ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_8">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_11_9">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15406">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_22_11_10">אָמַ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_11_11">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_12">בְּאֵ֛לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_13">תְּנַגַּ֥ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15412">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_15">אֲרָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_11_16">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15415">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_11_17">כַּלֹּתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15417">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_22_12_1">וְכָ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15419">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_12_2">הַנְּבִאִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_3">נִבְּאִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_4">כֵּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_5">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_6">עֲלֵ֞ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_7">רָמֹ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_8">גִּלְעָד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_12_9">וְהַצְלַ֔ח</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_12_10">וְנָתַ֥ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_12_11">יְהוָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_12_12">בְּיַ֥ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_12_13">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15432">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_13" data-pasuk-now="25"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_1">וְהַמַּלְאָ֞ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15435">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_3">הָלַ֣ךְ׀</span>
<span class="mila" data-lnk="1073742208" data-exlnk="0" id="M_22_13_4">לִקְרֹ֣א</span>
<span class="mila" data-lnk="3221225856" data-exlnk="0" id="M_22_13_5">מִיכָ֗יְהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_6">דִּבֶּ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_7">אֵלָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_8">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_9">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15443">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_10">נָ֞א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_11">דִּבְרֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_12">הַנְּבִיאִ֛ים</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_22_13_13">פֶּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15448">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_22_13_14">אֶחָ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_15">ט֖וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15452">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_17">הַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_18">יְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15455">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_19">נָ֣א</span>
<span data-lnk="0" data-exlnk="0" id="M_22_13_20" class="mila ktiv">דְבָרְיךָ֗</span>
<span data-lnk="4026532160" data-exlnk="0" id="M_22_13_20_K" class="mila kri">דְבָרְךָ֗</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_13_21">כִּדְבַ֛ר</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_13_22">אַחַ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_23">מֵהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_24">וְדִבַּ֥רְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_13_25">טּֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15464">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_2">מִיכָ֑יְהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_3">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15468">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_4">יְהוָ֕ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_5">כִּ֠י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15472">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_7">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_8">יֹאמַ֧ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_9">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_10">אֵלַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_11">אֹת֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_14_12">אֲדַבֵּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15479">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_15" data-pasuk-now="22"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_15_1">וַיָּבוֹא֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15482">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_3">הַמֶּלֶךְ֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_4">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_5">הַמֶּ֜לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_6">אֵלָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_7">מִיכָ֙יְהוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_8">הֲנֵלֵ֞ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15490">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_10">רָמֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_11">גִּלְעָ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_12">לַמִּלְחָמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_13">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15495">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_14">נֶחְדָּ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_15">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_15_16">אֵלָיו֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_22_15_17">עֲלֵ֣ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_22_15_18">וְהַצְלַ֔ח</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_15_19">וְנָתַ֥ן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_15_20">יְהוָ֖ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_15_21">בְּיַ֥ד</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_15_22">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15505">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_16" data-pasuk-now="16"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_2">אֵלָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_3">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_16_4">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15510">־</span><span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_22_16_5">כַּמֶּ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_16_6">פְעָמִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_16_7">אֲנִ֣י</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_22_16_8">מַשְׁבִּיעֶ֑ךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_9">אֲ֠שֶׁר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_10">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15517">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_11">תְדַבֵּ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_12">אֵלַ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_16_13">רַק</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15521">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_14">אֱמֶ֖ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_15">בְּשֵׁ֥ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_16_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15525">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_17" data-pasuk-now="22"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_1">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_2">רָאִ֤יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15529">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15531">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_5">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_17_6">נְפֹצִ֣ים</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_22_17_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15535">־</span><span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_22_17_8">הֶהָרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_9">כַּצֹּ֕אן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_11">אֵין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15540">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_12">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_13">רֹעֶ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_14">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_17_15">יְהוָה֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_17_16">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15546">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_22_17_17">אֲדֹנִ֣ים</span>
<span class="mila" data-lnk="4026532163" data-exlnk="0" id="M_22_17_18">לָאֵ֔לֶּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_17_19">יָשׁ֥וּבוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_17_20">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15551">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_22_17_21">לְבֵית֖וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_17_22">בְּשָׁלֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15554">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_18" data-pasuk-now="15"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15557">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_3">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15560">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_18_5">יְהוֹשָׁפָ֑ט</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_18_6">הֲלוֹא֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_7">אָמַ֣רְתִּי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_8">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_18_9">לוֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15566">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_10">יִתְנַבֵּ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_11">עָלַ֛י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_12">ט֖וֹב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_13">כִּ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_14">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15572">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_18_15">רָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15575">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="15576">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_19" data-pasuk-now="18"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_2">לָכֵ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_3">שְׁמַ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_4">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15581">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_19_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_19_6">רָאִ֤יתִי</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_19_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15585">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_22_19_8">יְהוָה֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_19_9">יֹשֵׁ֣ב</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_19_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15589">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_22_19_11">כִּסְא֔וֹ</span>
<span class="mila" data-lnk="3489661258" data-exlnk="0" id="M_22_19_12">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15592">־</span><span class="mila" data-lnk="4026532174" data-exlnk="0" id="M_22_19_13">צְבָ֤א</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_22_19_14">הַשָּׁמַ֙יִם֙</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_22_19_15">עֹמֵ֣ד</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_19_16">עָלָ֔יו</span>
<span class="mila" data-lnk="4026532173" data-exlnk="0" id="M_22_19_17">מִֽימִינ֖וֹ</span>
<span class="mila" data-lnk="3758096717" data-exlnk="0" id="M_22_19_18">וּמִשְּׂמֹאלֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15599">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_20" data-pasuk-now="16"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_2">יְהוָ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_3">מִ֤י</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_22_20_4">יְפַתֶּה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15605">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_6">אַחְאָ֔ב</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_20_7">וְיַ֕עַל</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_20_8">וְיִפֹּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_20_9">בְּרָמֹ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_20_10">גִּלְעָ֑ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_11">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_12">זֶה֙</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_22_20_13">בְּכֹ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_14">וְזֶ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_15">אֹמֵ֖ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_20_16">בְּכֹֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15617">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_21" data-pasuk-now="12"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_22_21_1">וַיֵּצֵ֣א</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_22_21_2">הָר֗וּחַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_21_3">וַֽיַּעֲמֹד֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_21_4">לִפְנֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_21_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_21_6">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_7">אֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_8">אֲפַתֶּ֑נּוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_21_9">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_21_10">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_21_11">אֵלָ֖יו</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_22_21_12">בַּמָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15630">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_22" data-pasuk-now="15"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_22_1">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_22_2">אֵצֵא֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_22_3">וְהָיִ֙יתִי֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_22_4">ר֣וּחַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_22_5">שֶׁ֔קֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_22_6">בְּפִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_22_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15638">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_22_8">נְבִיאָ֑יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_22_9">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_22_10">תְּפַתֶּה֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_22_11">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15643">־</span><span class="mila" data-lnk="4026532178" data-exlnk="0" id="M_22_22_12">תּוּכָ֔ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_22_13">צֵ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_22_14">וַעֲשֵׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15647">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_22_15">כֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15649">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_23_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_2">הִנֵּ֨ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_3">נָתַ֤ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_4">יְהוָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_5">ר֣וּחַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_6">שֶׁ֔קֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_7">בְּפִ֖י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15658">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_9">נְבִיאֶ֣יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_10">אֵ֑לֶּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_11">וַֽיהוָ֔ה</span>
<span class="mila" data-lnk="3489661380" data-exlnk="0" id="M_22_23_12">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="3758096836" data-exlnk="0" id="M_22_23_13">עָלֶ֖יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_23_14">רָעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15665">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_1">וַיִּגַּשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_2">צִדְקִיָּ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_3">בֶֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15669">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_4">כְּנַעֲנָ֔ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_24_5">וַיַּכֶּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15673">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_7">מִיכָ֖יְהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15676">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_9">הַלֶּ֑חִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_10">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="805306451" data-exlnk="0" id="M_22_24_11">אֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15680">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_22_24_12">זֶ֨ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_24_13">עָבַ֧ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_24_14">רֽוּחַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15684">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_22_24_15">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_24_16">מֵאִתִּ֖י</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_22_24_17">לְדַבֵּ֥ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_24_18">אוֹתָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15689">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_25" data-pasuk-now="11"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_2">מִיכָ֔יְהוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_25_3">הִנְּךָ֥</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_25_4">רֹאֶ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_25_5">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_25_6">הַה֑וּא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026532170" data-exlnk="0" id="M_22_25_8">תָּבֹ֛א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_25_9">חֶ֥דֶר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_25_10">בְּחֶ֖דֶר</span>
<span class="mila" data-lnk="4026532174" data-exlnk="0" id="M_22_25_11">לְהֵחָבֵֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15701">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_26" data-pasuk-now="15"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_2">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_3">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_4">קַ֚ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15707">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_6">מִיכָ֔יְהוּ</span>
<span class="mila" data-lnk="3221225740" data-exlnk="0" id="M_22_26_7">וַהֲשִׁיבֵ֖הוּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_26_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15711">־</span><span class="mila" data-lnk="3221225740" data-exlnk="0" id="M_22_26_9">אָמֹ֣ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_26_10">שַׂר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15714">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_26_11">הָעִ֑יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_12">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15717">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_26_13">יוֹאָ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_14">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15720">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_26_15">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15722">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_27" data-pasuk-now="17"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_1">וְאָמַרְתָּ֗</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_2">כֹּ֚ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_3">אָמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_4">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_5">שִׂ֥ימוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15729">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_7">זֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_8">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_9">הַכֶּ֑לֶא</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_27_10">וְהַאֲכִלֻ֜הוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_27_11">לֶ֤חֶם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_27_12">לַ֙חַץ֙</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_22_27_13">וּמַ֣יִם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_27_14">לַ֔חַץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_15">עַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_16">בֹּאִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_17">בְשָׁלֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15741">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_28" data-pasuk-now="14"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_2">מִיכָ֔יְהוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_28_3">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15745">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_4">שׁ֤וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_5">תָּשׁוּב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_6">בְּשָׁל֔וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_28_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15750">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_22_28_8">דִבֶּ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_28_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_28_10">בִּ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_28_11">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_28_12">שִׁמְע֖וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_28_13">עַמִּ֥ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_28_14">כֻּלָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15758">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_29" data-pasuk-now="8"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_1">וַיַּ֧עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15761">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_3">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_4">וִיהוֹשָׁפָ֥ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_5">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15765">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_6">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_7">רָמֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_29_8">גִּלְעָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15769">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_30" data-pasuk-now="16"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_30_1">וַיֹּאמֶר֩</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_30_2">מֶ֨לֶךְ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_30_3">יִשְׂרָאֵ֜ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_30_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15774">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_22_30_5">יְהוֹשָׁפָ֗ט</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_22_30_6">הִתְחַפֵּשׂ֙</span>
<span class="mila" data-lnk="4026532319" data-exlnk="0" id="M_22_30_7">וָבֹ֣א</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_30_8">בַמִּלְחָמָ֔ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_30_9">וְאַתָּ֖ה</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_22_30_10">לְבַ֣שׁ</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_22_30_11">בְּגָדֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_12">וַיִּתְחַפֵּשׂ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_13">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_30_14">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_30_15">וַיָּב֖וֹא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_30_16">בַּמִּלְחָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15787">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_31" data-pasuk-now="23"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_1">וּמֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_2">אֲרָ֡ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_3">צִוָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15792">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_5">שָׂרֵי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_6">הָרֶ֨כֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15796">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_8">ל֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_9">שְׁלֹשִׁ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_10">וּשְׁנַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_31_11">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_22_31_12">לֹ֚א</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_22_31_13">תִּלָּ֣חֲמ֔וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_31_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15804">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_22_31_15">קָטֹ֖ן</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_31_16">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15807">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_22_31_17">גָּד֑וֹל</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_22_31_18">כִּ֛י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_22_31_19">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15811">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_22_31_20">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15813">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_22_31_21">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_31_22">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_31_23">לְבַדּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15817">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_32" data-pasuk-now="17"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_1">וַיְהִ֡י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_2">כִּרְאוֹת֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_3">שָׂרֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_4">הָרֶ֜כֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15823">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_6">יְהוֹשָׁפָ֗ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_7">וְהֵ֤מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_8">אָֽמְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_9">אַ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_10">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15829">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_11">יִשְׂרָאֵ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_12">ה֔וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_13">וַיָּסֻ֥רוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_14">עָלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_32_15">לְהִלָּחֵ֑ם</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_22_32_16">וַיִּזְעַ֖ק</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_22_32_17">יְהוֹשָׁפָֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15837">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_33" data-pasuk-now="11"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_33_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_33_2">כִּרְאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_3">שָׂרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_4">הָרֶ֔כֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_5">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15843">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15845">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_7">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_8">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_9">ה֑וּא</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_33_10">וַיָּשׁ֖וּבוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_33_11">מֵאַחֲרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15851">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_34" data-pasuk-now="21"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_22_34_1">וְאִ֗ישׁ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_22_34_2">מָשַׁ֤ךְ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_22_34_3">בַּקֶּ֙שֶׁת֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_34_4">לְתֻמּ֔וֹ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_34_5">וַיַּכֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_34_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15858">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_34_7">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_34_8">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_34_9">בֵּ֥ין</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_22_34_10">הַדְּבָקִ֖ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_34_11">וּבֵ֣ין</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_34_12">הַשִּׁרְיָ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_34_13">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_22_34_14">לְרַכָּב֗וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_34_15">הֲפֹ֥ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_34_16">יָדְךָ֛</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_34_17">וְהוֹצִיאֵ֥נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_34_18">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15871">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_34_19">הַֽמַּחֲנֶ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_34_20">כִּ֥י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_34_21">הָחֳלֵֽיתִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15875">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_35" data-pasuk-now="18"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_22_35_1">וַתַּעֲלֶ֤ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_35_2">הַמִּלְחָמָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_35_3">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_35_4">הַה֔וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_35_5">וְהַמֶּ֗לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_35_6">הָיָ֧ה</span>
<span class="mila" data-lnk="4026532295" data-exlnk="0" id="M_22_35_7">מָעֳמָ֛ד</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_22_35_8">בַּמֶּרְכָּבָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_35_9">נֹ֣כַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_35_10">אֲרָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_35_11">וַיָּ֣מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_35_12">בָּעֶ֔רֶב</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_22_35_13">וַיִּ֥צֶק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_35_14">דַּֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15890">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_35_15">הַמַּכָּ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_35_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15893">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_22_35_17">חֵ֥יק</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_35_18">הָרָֽכֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15896">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_36" data-pasuk-now="12"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_22_36_1">וַיַּעֲבֹ֤ר</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_22_36_2">הָֽרִנָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_36_3">בַּֽמַּחֲנֶ֔ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_36_4">כְּבֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_36_5">הַשֶּׁ֖מֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_36_6">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_36_7">אִ֥ישׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_36_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15905">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_22_36_9">עִיר֖וֹ</span>
<span class="mila" data-lnk="3489661376" data-exlnk="0" id="M_22_36_10">וְאִ֥ישׁ</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_22_36_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15909">־</span><span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_22_36_12">אַרְצֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15911">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_37" data-pasuk-now="8"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_37_1">וַיָּ֣מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_37_2">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_37_3">וַיָּב֖וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_37_4">שֹׁמְר֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_37_5">וַיִּקְבְּר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_37_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15918">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_37_7">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_37_8">בְּשֹׁמְרֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15921">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_38" data-pasuk-now="16"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_38_1">וַיִּשְׁטֹ֨ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_38_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15924">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_22_38_3">הָרֶ֜כֶב</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_38_4">עַ֣ל׀</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_38_5">בְּרֵכַ֣ת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_38_6">שֹׁמְר֗וֹן</span>
<span class="mila" data-lnk="3221225751" data-exlnk="0" id="M_22_38_7">וַיָּלֹ֤קּוּ</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_22_38_8">הַכְּלָבִים֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_22_38_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15932">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_22_38_10">דָּמ֔וֹ</span>
<span class="mila" data-lnk="3221225750" data-exlnk="0" id="M_22_38_11">וְהַזֹּנ֖וֹת</span>
<span class="mila" data-lnk="3221225742" data-exlnk="0" id="M_22_38_12">רָחָ֑צוּ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_22_38_13">כִּדְבַ֥ר</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_22_38_14">יְהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_38_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_38_16">דִּבֵּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15940">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_39" data-pasuk-now="23"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_39_1">וְיֶתֶר֩</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_39_2">דִּבְרֵ֨י</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_22_39_3">אַחְאָ֜ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15945">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_5">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_6">עָשָׂ֗ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_22_39_7">וּבֵ֤ית</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_22_39_8">הַשֵּׁן֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_39_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_22_39_10">בָּנָ֔ה</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_22_39_11">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15953">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_39_12">הֶעָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_13">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_39_14">בָּנָ֑ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_39_15">הֲלוֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15958">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_16">הֵ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_17">כְּתוּבִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15962">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_19">סֵ֛פֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_20">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_21">הַיָּמִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_22">לְמַלְכֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_39_23">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15968">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_40" data-pasuk-now="8"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_40_1">וַיִּשְׁכַּ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_40_2">אַחְאָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_40_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15972">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_40_4">אֲבֹתָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_40_5">וַיִּמְלֹ֛ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_40_6">אֲחַזְיָ֥הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_40_7">בְנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_40_8">תַּחְתָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15979">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="15980"> פ </span>
</span>
<br /><span id="PS_22_41" data-pasuk-now="11"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_1">וִיהֽוֹשָׁפָט֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_2">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15983">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_3">אָסָ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_4">מָלַ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15987">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_6">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_7">בִּשְׁנַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_8">אַרְבַּ֔ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_9">לְאַחְאָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_10">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_41_11">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15994">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_42" data-pasuk-now="16"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_1">יְהוֹשָׁפָ֗ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_2">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15997">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_3">שְׁלֹשִׁ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_4">וְחָמֵ֤שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_5">שָׁנָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_6">בְּמָלְכ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_7">וְעֶשְׂרִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_8">וְחָמֵשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_9">שָׁנָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_10">מָלַ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_11">בִּירוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_12">וְשֵׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_13">אִמּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_14">עֲזוּבָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_42_15">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16011">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_42_16">שִׁלְחִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_43" data-pasuk-now="12"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_22_43_1">וַיֵּ֗לֶךְ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_43_2">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16016">־</span><span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_22_43_3">דֶּ֛רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_43_4">אָסָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_43_5">אָבִ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_43_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16021">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_43_7">סָ֣ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_43_8">מִמֶּ֑נּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_43_9">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_43_10">הַיָּשָׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_43_11">בְּעֵינֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_43_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16028">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_44" data-pasuk-now="9"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_44_1">אַ֥ךְ</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_22_44_2">הַבָּמ֖וֹת</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_22_44_3">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16032">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_22_44_4">סָ֑רוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_44_5">ע֥וֹד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_44_6">הָעָ֛ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_44_7">מְזַבְּחִ֥ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_44_8">וּֽמְקַטְּרִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_44_9">בַּבָּמֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16039">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_45" data-pasuk-now="5"><span class="pasuk-header">[מה]</span>
<span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_22_45_1">וַיַּשְׁלֵ֥ם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_22_45_2">יְהוֹשָׁפָ֖ט</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_22_45_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16043">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_22_45_4">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_22_45_5">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16046">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_46" data-pasuk-now="17"><span class="pasuk-header">[מו]</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_46_1">וְיֶ֨תֶר</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_22_46_2">דִּבְרֵ֧י</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_22_46_3">יְהוֹשָׁפָ֛ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_4">וּגְבוּרָת֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16052">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_6">עָשָׂ֖ה</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_22_46_7">וַאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_46_8">נִלְחָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_9">הֲלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16057">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_10">הֵ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_11">כְּתוּבִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16061">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_13">סֵ֛פֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_14">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_15">הַיָּמִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_16">לְמַלְכֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_46_17">יְהוּדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16067">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_47" data-pasuk-now="10"><span class="pasuk-header">[מז]</span>
<span class="mila" data-lnk="1073742095" data-exlnk="0" id="M_22_47_1">וְיֶ֙תֶר֙</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_22_47_2">הַקָּדֵ֔שׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_47_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_47_4">נִשְׁאַ֔ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_47_5">בִּימֵ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_47_6">אָסָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_47_7">אָבִ֑יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_47_8">בִּעֵ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_47_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16077">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_47_10">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16079">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_48" data-pasuk-now="5"><span class="pasuk-header">[מח]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_48_1">וּמֶ֥לֶךְ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_22_48_2">אֵ֛ין</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_48_3">בֶּאֱד֖וֹם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_48_4">נִצָּ֥ב</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_22_48_5">מֶֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16085">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_49" data-pasuk-now="14"><span class="pasuk-header">[מט]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_49_1">יְהוֹשָׁפָ֡ט</span>
<span data-lnk="0" data-exlnk="0" id="M_22_49_2" class="mila ktiv">עָשָׂר֩</span>
<span data-lnk="3221225740" data-exlnk="0" id="M_22_49_2_K" class="mila kri">עָשָׂה֩</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_49_3">אֳנִיּ֨וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_49_4">תַּרְשִׁ֜ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_49_5">לָלֶ֧כֶת</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_22_49_6">אֹפִ֛ירָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_49_7">לַזָּהָ֖ב</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_22_49_8">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_22_49_9">הָלָ֑ךְ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_22_49_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16097">־</span><span data-lnk="0" data-exlnk="0" id="M_22_49_11" class="mila ktiv">נִשְׁבְּרֻ֥ה</span>
<span data-lnk="3221225735" data-exlnk="0" id="M_22_49_11_K" class="mila kri">נִשְׁבְּר֥וּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_49_12">אֳנִיּ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_49_13">בְּעֶצְי֥וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_49_14">גָּֽבֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16103">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_50" data-pasuk-now="15"><span class="pasuk-header">[נ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_1">אָ֠ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_2">אָמַ֞ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_3">אֲחַזְיָ֤הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_4">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16108">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_5">אַחְאָב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16111">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_22_50_7">יְה֣וֹשָׁפָ֔ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_8">יֵלְכ֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_9">עֲבָדַ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_10">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16116">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_50_11">עֲבָדֶ֖יךָ</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_22_50_12">בָּאֳנִיּ֑וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_50_13">וְלֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_50_14">אָבָ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_22_50_15">יְהוֹשָׁפָֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16122">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_51" data-pasuk-now="14"><span class="pasuk-header">[נא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_1">וַיִּשְׁכַּ֤ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_51_2">יְהוֹשָׁפָט֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16126">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_4">אֲבֹתָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_5">וַיִּקָּבֵר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_6">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16130">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_7">אֲבֹתָ֔יו</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_22_51_8">בְּעִ֖יר</span>
<span class="mila" data-lnk="1342177612" data-exlnk="0" id="M_22_51_9">דָּוִ֣ד</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_22_51_10">אָבִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_11">וַיִּמְלֹ֛ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_12">יְהוֹרָ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_13">בְּנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_51_14">תַּחְתָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16140">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="16141">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_52" data-pasuk-now="17"><span class="pasuk-header">[נב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_52_1">אֲחַזְיָ֣הוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_52_2">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16144">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_52_3">אַחְאָ֗ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_52_4">מָלַ֤ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_52_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16148">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_52_6">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_52_7">בְּשֹׁ֣מְר֔וֹן</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_52_8">בִּשְׁנַת֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_52_9">שְׁבַ֣ע</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_52_10">עֶשְׂרֵ֔ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_22_52_11">לִיהוֹשָׁפָ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_52_12">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_52_13">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_52_14">וַיִּמְלֹ֥ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_52_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16159">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_52_16">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_22_52_17">שְׁנָתָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16162">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_53" data-pasuk-now="17"><span class="pasuk-header">[נג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_2">הָרַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_3">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_5">וַיֵּ֗לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_6">בְּדֶ֤רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_7">אָבִיו֙</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_22_53_8">וּבְדֶ֣רֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_53_9">אִמּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_10">וּבְדֶ֙רֶךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_11">יָרָבְעָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_12">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16175">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_13">נְבָ֔ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_14">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_15">הֶחֱטִ֖יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16180">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_53_17">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16182">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_54" data-pasuk-now="14"><span class="pasuk-header">[נד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_1">וַֽיַּעֲבֹד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16185">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_3">הַבַּ֔עַל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_54_4">וַיִּֽשְׁתַּחֲוֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_5">ל֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_6">וַיַּכְעֵ֗ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16191">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_8">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_9">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_10">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_11">כְּכֹ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16197">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_13">עָשָׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_54_14">אָבִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16200">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>