<p id="PR_7" data-perek-now="791" data-perek-nops="51"><span class="perek-header">פרק ז</span>
<br /><span id="PS_7_1" data-pasuk-now="11"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1342177603" data-exlnk="0" id="M_7_1_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4114">־</span><span class="mila" data-lnk="2684354883" data-exlnk="0" id="M_7_1_2">בֵּיתוֹ֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_1_3">בָּנָ֣ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_1_4">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_1_5">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_1_6">עֶשְׂרֵ֖ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_1_7">שָׁנָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_8">וַיְכַ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4123">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4125">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_7_1_11">בֵּיתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4127">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_2" data-pasuk-now="23"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_2_1">וַיִּ֜בֶן</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_2_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4130">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_2_3">בֵּ֣ית׀</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_2_4">יַ֣עַר</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_2_5">הַלְּבָנ֗וֹן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_2_6">מֵאָ֨ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_2_7">אַמָּ֤ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_2_8">אָרְכּוֹ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_2_9">וַחֲמִשִּׁ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_10">אַמָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_11">רָחְבּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_12">וּשְׁלֹשִׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_13">אַמָּ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_2_14">קוֹמָת֑וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_2_15">עַ֗ל</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_2_16">אַרְבָּעָה֙</span>
<span class="mila" data-lnk="4026532204" data-exlnk="0" id="M_7_2_17">טוּרֵי֙</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_2_18">עַמּוּדֵ֣י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_2_19">אֲרָזִ֔ים</span>
<span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_7_2_20">וּכְרֻת֥וֹת</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_2_21">אֲרָזִ֖ים</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_2_22">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4151">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_7_2_23">הָעַמּוּדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4153">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_7_3_1">וְסָפֻ֣ן</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_3_2">בָּאֶ֗רֶז</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_7_3_3">מִמַּ֙עַל֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_3_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4158">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_3_5">הַצְּלָעוֹת֙</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_7_3_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_7_3_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4162">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_7_3_8">הָעַמּוּדִ֔ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_3_9">אַרְבָּעִ֖ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_3_10">וַחֲמִשָּׁ֑ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_3_11">חֲמִשָּׁ֥ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_3_12">עָשָׂ֖ר</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_7_3_13">הַטּֽוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4169">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_4_1">וּשְׁקֻפִ֖ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_4_2">שְׁלֹשָׁ֣ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_4_3">טוּרִ֑ים</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_7_4_4">וּמֶחֱזָ֥ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_4_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4175">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_4_6">מֶחֱזָ֖ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_4_7">שָׁלֹ֥שׁ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_4_8">פְּעָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4179">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_5_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4181">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_5_2">הַפְּתָחִ֥ים</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_5_3">וְהַמְּזוּז֖וֹת</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_5_4">רְבֻעִ֣ים</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_7_5_5">שָׁ֑קֶף</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_7_5_6">וּמ֧וּל</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_5_7">מֶחֱזָ֛ה</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_5_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4189">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_5_9">מֶחֱזָ֖ה</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_7_5_10">שָׁלֹ֥שׁ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_7_5_11">פְּעָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4193">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_6" data-pasuk-now="17"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_7_6_1">וְאֵ֨ת</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_7_6_2">אוּלָ֤ם</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_6_3">הָֽעַמּוּדִים֙</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_7_6_4">עָשָׂ֔ה</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_6_5">חֲמִשִּׁ֤ים</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_6_6">אַמָּה֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_6_7">אָרְכּ֔וֹ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_6_8">וּשְׁלֹשִׁ֥ים</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_6_9">אַמָּ֖ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_6_10">רָחְבּ֑וֹ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_6_11">וְאוּלָם֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_6_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4206">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_6_13">פְּנֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026532197" data-exlnk="0" id="M_7_6_14">וְעַמֻּדִ֥ים</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_7_6_15">וְעָ֖ב</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_7_6_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4211">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_7_6_17">פְּנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4213">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_7" data-pasuk-now="13"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_7_7_1">וְאוּלָ֤ם</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_7_2">הַכִּסֵּא֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_7_3">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_7_4">יִשְׁפָּט</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4218">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_7_7_5">שָׁ֔ם</span>
<span class="mila" data-lnk="4026532334" data-exlnk="0" id="M_7_7_6">אֻלָ֥ם</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_7_7_7">הַמִּשְׁפָּ֖ט</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_7_8">עָשָׂ֑ה</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_7_9">וְסָפ֣וּן</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_7_10">בָּאֶ֔רֶז</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_7_7_11">מֵהַקַּרְקַ֖ע</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_7_12">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4227">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_7_13">הַקַּרְקָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4229">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_8" data-pasuk-now="20"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="805306479" data-exlnk="0" id="M_7_8_1">וּבֵיתוֹ֩</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_8_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4232">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_8_3">יֵ֨שֶׁב</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_8_4">שָׁ֜ם</span>
<span class="mila" data-lnk="1073742126" data-exlnk="0" id="M_7_8_5">חָצֵ֣ר</span>
<span class="mila" data-lnk="3221225774" data-exlnk="0" id="M_7_8_6">הָאַחֶ֗רֶת</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_7_8_7">מִבֵּית֙</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_7_8_8">לָאוּלָ֔ם</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_7_8_9">כַּמַּעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_8_10">הַזֶּ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_8_11">הָיָ֑ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_8_12">וּבַ֜יִת</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_8_13">יַעֲשֶׂ֤ה</span>
<span class="mila" data-lnk="3489661423" data-exlnk="0" id="M_7_8_14">לְבַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4245">־</span><span class="mila" data-lnk="4026532335" data-exlnk="0" id="M_7_8_15">פַּרְעֹה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_16">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_17">לָקַ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_18">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_8_19">כָּאוּלָ֖ם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_8_20">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4252">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_9" data-pasuk-now="17"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_9_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4254">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_7_9_2">אֵ֜לֶּה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_9_3">אֲבָנִ֤ים</span>
<span class="mila" data-lnk="3221225772" data-exlnk="0" id="M_7_9_4">יְקָרֹת֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_9_5">כְּמִדּ֣וֹת</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_9_6">גָּזִ֔ית</span>
<span class="mila" data-lnk="3221225774" data-exlnk="0" id="M_7_9_7">מְגֹרָר֥וֹת</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_7_9_8">בַּמְּגֵרָ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_9_9">מִבַּ֣יִת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_9_10">וּמִח֑וּץ</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_7_9_11">וּמִמַּסָּד֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_9_12">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4266">־</span><span class="mila" data-lnk="4026532207" data-exlnk="0" id="M_7_9_13">הַטְּפָח֔וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_9_14">וּמִח֖וּץ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_9_15">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4270">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_9_16">הֶחָצֵ֥ר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_9_17">הַגְּדוֹלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4273">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_7_10_1">וּמְיֻסָּ֕ד</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_10_2">אֲבָנִ֥ים</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_10_3">יְקָר֖וֹת</span>
<span class="mila" data-lnk="268435527" data-exlnk="0" id="M_7_10_4">אֲבָנִ֣ים</span>
<span class="mila" data-lnk="805306447" data-exlnk="0" id="M_7_10_5">גְּדֹל֑וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_10_6">אַבְנֵי֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_10_7">עֶ֣שֶׂר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_10_8">אַמּ֔וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_10_9">וְאַבְנֵ֖י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_10_10">שְׁמֹנֶ֥ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_10_11">אַמּֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4285">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_11" data-pasuk-now="6"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="3221225771" data-exlnk="0" id="M_7_11_1">וּמִלְמַ֗עְלָה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_7_11_2">אֲבָנִ֧ים</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_11_3">יְקָר֛וֹת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_11_4">כְּמִדּ֥וֹת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_11_5">גָּזִ֖ית</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_11_6">וָאָֽרֶז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4292">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_12" data-pasuk-now="15"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="1073742124" data-exlnk="0" id="M_7_12_1">וְחָצֵ֨ר</span>
<span class="mila" data-lnk="2147483948" data-exlnk="0" id="M_7_12_2">הַגְּדוֹלָ֜ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_12_3">סָבִ֗יב</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_7_12_4">שְׁלֹשָׁה֙</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_12_5">טוּרִ֣ים</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_7_12_6">גָּזִ֔ית</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_12_7">וְט֖וּר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_12_8">כְּרֻתֹ֣ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_12_9">אֲרָזִ֑ים</span>
<span class="mila" data-lnk="3221225740" data-exlnk="0" id="M_7_12_10">וְלַחֲצַ֧ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_12_11">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4304">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_12_12">יְהוָ֛ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_12_13">הַפְּנִימִ֖ית</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_7_12_14">וּלְאֻלָ֥ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_12_15">הַבָּֽיִת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4310">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4311"> פ </span>
</span>
<br /><span id="PS_7_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_13_1">וַיִּשְׁלַח֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_13_2">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_13_3">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_13_4">וַיִּקַּ֥ח</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_7_13_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4317">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_7_13_6">חִירָ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_13_7">מִצֹּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4320">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_14" data-pasuk-now="30"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4322">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_2">אִשָּׁה֩</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_3">אַלְמָנָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_14_4">ה֜וּא</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_5">מִמַּטֵּ֣ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_7_14_6">נַפְתָּלִ֗י</span>
<span class="mila" data-lnk="4026532198" data-exlnk="0" id="M_7_14_7">וְאָבִ֣יו</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_7_14_8">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4330">־</span><span class="mila" data-lnk="4026532198" data-exlnk="0" id="M_7_14_9">צֹרִי֘</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_14_10">חֹרֵ֣שׁ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_14_11">נְחֹשֶׁת֒</span>
<span class="mila" data-lnk="4026532165" data-exlnk="0" id="M_7_14_12">וַ֠יִּמָּלֵא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_14_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4336">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_7_14_14">הַחָכְמָ֤ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_14_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4339">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_7_14_16">הַתְּבוּנָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_14_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4342">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_7_14_18">הַדַּ֔עַת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_14_19">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_14_20">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4346">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_7_14_21">מְלָאכָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_14_22">בַּנְּחֹ֑שֶׁת</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_7_14_23">וַיָּבוֹא֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_14_24">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4351">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_14_25">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_14_26">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_14_27">וַיַּ֖עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_14_28">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4356">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_7_14_29">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4358">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_7_14_30">מְלַאכְתּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4360">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_15" data-pasuk-now="19"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_7_15_1">וַיָּ֛צַר</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_15_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4363">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_7_15_3">שְׁנֵ֥י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_15_4">הָעַמּוּדִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_5">נְחֹ֑שֶׁת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_6">שְׁמֹנֶ֨ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_7">עֶשְׂרֵ֜ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_8">אַמָּ֗ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_9">קוֹמַת֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_15_10">הָעַמּ֣וּד</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_15_11">הָאֶחָ֔ד</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_7_15_12">וְחוּט֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_13">שְׁתֵּים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4375">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_14">עֶשְׂרֵ֣ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_15">אַמָּ֔ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_16">יָסֹ֖ב</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4380">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_18">הָעַמּ֥וּד</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_15_19">הַשֵּׁנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4383">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_16" data-pasuk-now="19"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_16_1">וּשְׁתֵּ֨י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_16_2">כֹתָרֹ֜ת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_16_3">עָשָׂ֗ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_16_4">לָתֵ֛ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_16_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4389">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_16_6">רָאשֵׁ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_16_7">הָעַמּוּדִ֖ים</span>
<span class="mila" data-lnk="4026532303" data-exlnk="0" id="M_7_16_8">מֻצַ֣ק</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_16_9">נְחֹ֑שֶׁת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_16_10">חָמֵ֣שׁ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_16_11">אַמּ֗וֹת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_16_12">קוֹמַת֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_16_13">הַכֹּתֶ֣רֶת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_16_14">הָאֶחָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_15">וְחָמֵ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_16">אַמּ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_17">קוֹמַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_18">הַכֹּתֶ֥רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_19">הַשֵּׁנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4404">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_17" data-pasuk-now="17"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_17_1">שְׂבָכִ֞ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_17_2">מַעֲשֵׂ֣ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_17_3">שְׂבָכָ֗ה</span>
<span class="mila" data-lnk="4026532299" data-exlnk="0" id="M_7_17_4">גְּדִלִים֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_17_5">מַעֲשֵׂ֣ה</span>
<span class="mila" data-lnk="4026532299" data-exlnk="0" id="M_7_17_6">שַׁרְשְׁר֔וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_17_7">לַכֹּ֣תָרֹ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_8">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4414">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_10">רֹ֣אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_11">הָעַמּוּדִ֑ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_17_12">שִׁבְעָה֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_17_13">לַכֹּתֶ֣רֶת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_17_14">הָאֶחָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_15">וְשִׁבְעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_16">לַכֹּתֶ֥רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_17">הַשֵּׁנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4423">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_18" data-pasuk-now="20"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_18_1">וַיַּ֖עַשׂ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_18_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4426">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_7_18_3">הָעַמּוּדִ֑ים</span>
<span class="mila" data-lnk="1342177611" data-exlnk="0" id="M_7_18_4">וּשְׁנֵי֩</span>
<span class="mila" data-lnk="2684354891" data-exlnk="0" id="M_7_18_5">טוּרִ֨ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_18_6">סָבִ֜יב</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_18_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4432">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_7_18_8">הַשְּׂבָכָ֣ה</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_7_18_9">הָאֶחָ֗ת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_18_10">לְכַסּ֤וֹת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_18_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4437">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_18_12">הַכֹּֽתָרֹת֙</span>
<span class="mila" data-lnk="1073742095" data-exlnk="0" id="M_7_18_13">אֲשֶׁר֙</span>
<span class="mila" data-lnk="1073742095" data-exlnk="0" id="M_7_18_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4441">־</span><span class="mila" data-lnk="1073742095" data-exlnk="0" id="M_7_18_15">רֹ֣אשׁ</span>
<span class="mila" data-lnk="2147483911" data-exlnk="0" id="M_7_18_16">הָרִמֹּנִ֔ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_18_17">וְכֵ֣ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_18_18">עָשָׂ֔ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_18_19">לַכֹּתֶ֖רֶת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_7_18_20">הַשֵּׁנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4448">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_19" data-pasuk-now="10"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_19_1">וְכֹתָרֹ֗ת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_19_2">אֲשֶׁר֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_19_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4452">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_7_19_4">רֹ֣אשׁ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_19_5">הָעַמּוּדִ֔ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_7_19_6">מַעֲשֵׂ֖ה</span>
<span class="mila" data-lnk="4026532294" data-exlnk="0" id="M_7_19_7">שׁוּשַׁ֣ן</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_19_8">בָּאוּלָ֑ם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_19_9">אַרְבַּ֖ע</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_19_10">אַמּֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4460">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_20" data-pasuk-now="18"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_20_1">וְכֹתָרֹ֗ת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_20_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4463">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_20_3">שְׁנֵי֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_20_4">הָעַמּוּדִ֔ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_20_5">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4467">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_20_6">מִמַּ֙עַל֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_20_7">מִלְּעֻמַּ֣ת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_20_8">הַבֶּ֔טֶן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_20_9">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_20_10">לְעֵ֣בֶר</span>
<span data-lnk="0" data-exlnk="0" id="M_7_20_11" class="mila ktiv">ַשְּׂבָכָ֑ה</span>
<span data-lnk="4026532167" data-exlnk="0" id="M_7_20_11_K" class="mila kri">הַשְּׂבָכָ֑ה</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_7_20_12">וְהָרִמּוֹנִ֤ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_20_13">מָאתַ֙יִם֙</span>
<span class="mila" data-lnk="3221225740" data-exlnk="0" id="M_7_20_14">טֻרִ֣ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_20_15">סָבִ֔יב</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_20_16">עַ֖ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_20_17">הַכֹּתֶ֥רֶת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_20_18">הַשֵּׁנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4482">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_21" data-pasuk-now="21"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_21_1">וַיָּ֙קֶם֙</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_7_21_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4485">־</span><span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_7_21_3">הָֽעַמֻּדִ֔ים</span>
<span class="mila" data-lnk="4026532172" data-exlnk="0" id="M_7_21_4">לְאֻלָ֖ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_21_5">הַהֵיכָ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_6">וַיָּ֜קֶם</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_7_21_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4491">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_21_8">הָעַמּ֣וּד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_21_9">הַיְמָנִ֗י</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_7_21_10">וַיִּקְרָ֤א</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_7_21_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4496">־</span><span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_7_21_12">שְׁמוֹ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_21_13">יָכִ֔ין</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_7_21_14">וַיָּ֙קֶם֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_7_21_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4501">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_21_16">הָעַמּ֣וּד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_17">הַשְּׂמָאלִ֔י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_7_21_18">וַיִּקְרָ֥א</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_7_21_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4506">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_7_21_20">שְׁמ֖וֹ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_21_21">בֹּֽעַז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4509">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_22" data-pasuk-now="8"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_22_1">וְעַ֛ל</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_22_2">רֹ֥אשׁ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_22_3">הָעַמּוּדִ֖ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_22_4">מַעֲשֵׂ֣ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_22_5">שׁוֹשָׁ֑ן</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_7_22_6">וַתִּתֹּ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_22_7">מְלֶ֥אכֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_22_8">הָעַמּוּדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4518">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_23" data-pasuk-now="20"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_23_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_23_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4521">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_7_23_3">הַיָּ֖ם</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_23_4">מוּצָ֑ק</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_23_5">עֶ֣שֶׂר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_23_6">בָּ֠אַמָּה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_23_7">מִשְּׂפָת֨וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_23_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4528">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_7_23_9">שְׂפָת֜וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_10">עָגֹ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4531">׀</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_11">סָבִ֗יב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_12">וְחָמֵ֤שׁ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_23_13">בָּֽאַמָּה֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_23_14">קוֹמָת֔וֹ</span>
<span data-lnk="0" data-exlnk="0" id="M_7_23_15" class="mila ktiv">וְקָו֙ה</span>
<span data-lnk="4026532303" data-exlnk="0" id="M_7_23_15_K" class="mila kri">וְקָו֙</span>
<span class="mila" data-lnk="268435535" data-exlnk="0" id="M_7_23_16">שְׁלֹשִׁ֣ים</span>
<span class="mila" data-lnk="536870991" data-exlnk="0" id="M_7_23_17">בָּאַמָּ֔ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_23_18">יָסֹ֥ב</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_23_19">אֹת֖וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_20">סָבִֽיב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4543">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_24" data-pasuk-now="17"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_24_1">וּפְקָעִים֩</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_24_2">מִתַּ֨חַת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_24_3">לִשְׂפָת֤וֹ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4547">׀</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_24_4">סָבִיב֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_24_5">סֹבֲבִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_6">אֹת֔וֹ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_24_7">עֶ֚שֶׂר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_24_8">בָּאַמָּ֔ה</span>
<span class="mila" data-lnk="4026532167" data-exlnk="0" id="M_7_24_9">מַקִּפִ֥ים</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_24_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4555">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_24_11">הַיָּ֖ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_24_12">סָבִ֑יב</span>
<span class="mila" data-lnk="805306443" data-exlnk="0" id="M_7_24_13">שְׁנֵ֤י</span>
<span class="mila" data-lnk="805306443" data-exlnk="0" id="M_7_24_14">טוּרִים֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_24_15">הַפְּקָעִ֔ים</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_7_24_16">יְצֻקִ֖ים</span>
<span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_7_24_17">בִּיצֻקָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4563">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_25" data-pasuk-now="23"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_25_1">עֹמֵ֞ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_25_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4566">־</span><span class="mila" data-lnk="1342177604" data-exlnk="0" id="M_7_25_3">שְׁנֵ֧י</span>
<span class="mila" data-lnk="2952790340" data-exlnk="0" id="M_7_25_4">עָשָׂ֣ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_25_5">בָּקָ֗ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_25_6">שְׁלֹשָׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_7">פֹנִ֣ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4572">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_8">צָפ֡וֹנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_9">וּשְׁלֹשָׁה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_10">פֹנִ֨ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4576">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_11">יָ֜מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_12">וּשְׁלֹשָׁ֣ה׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_13">פֹּנִ֣ים</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_7_25_14">נֶ֗גְבָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_15">וּשְׁלֹשָׁה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_16">פֹּנִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_17">מִזְרָ֔חָה</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_7_25_18">וְהַיָּ֥ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_25_19">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_20">מִלְמָ֑עְלָה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_25_21">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4588">־</span><span class="mila" data-lnk="4026532299" data-exlnk="0" id="M_7_25_22">אֲחֹרֵיהֶ֖ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_25_23">בָּֽיְתָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4591">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_26" data-pasuk-now="11"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_7_26_1">וְעָבְי֣וֹ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_26_2">טֶ֔פַח</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_26_3">וּשְׂפָת֛וֹ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_26_4">כְּמַעֲשֵׂ֥ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_26_5">שְׂפַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4597">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_7_26_6">כּ֖וֹס</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_26_7">פֶּ֣רַח</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_26_8">שׁוֹשָׁ֑ן</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_26_9">אַלְפַּ֥יִם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_26_10">בַּ֖ת</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_26_11">יָכִֽיל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4605">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4606"> פ </span>
</span>
<br /><span id="PS_7_27" data-pasuk-now="16"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_27_1">וַיַּ֧עַשׂ</span>
<span class="mila" data-lnk="3489661258" data-exlnk="0" id="M_7_27_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4609">־</span><span class="mila" data-lnk="4026532174" data-exlnk="0" id="M_7_27_3">הַמְּכֹנ֛וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_27_4">עֶ֖שֶׂר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_27_5">נְחֹ֑שֶׁת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_27_6">אַרְבַּ֣ע</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_27_7">בָּאַמָּ֗ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_27_8">אֹ֚רֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_27_9">הַמְּכוֹנָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_10">הָאֶחָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_11">וְאַרְבַּ֤ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_12">בָּֽאַמָּה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_27_13">רָחְבָּ֔הּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_27_14">וְשָׁלֹ֥שׁ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_27_15">בָּאַמָּ֖ה</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_7_27_16">קוֹמָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4624">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_28" data-pasuk-now="8"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="805306442" data-exlnk="0" id="M_7_28_1">וְזֶ֛ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_28_2">מַעֲשֵׂ֥ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_28_3">הַמְּכוֹנָ֖ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_28_4">מִסְגְּרֹ֣ת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_28_5">לָהֶ֑ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_28_6">וּמִסְגְּרֹ֖ת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_28_7">בֵּ֥ין</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_28_8">הַשְׁלַבִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4633">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_29" data-pasuk-now="18"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_7_29_1">וְעַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4635">־</span><span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_7_29_2">הַמִּסְגְּר֞וֹת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_7_29_3">אֲשֶׁ֣ר׀</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_7_29_4">בֵּ֣ין</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_29_5">הַשְׁלַבִּ֗ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_29_6">אֲרָי֤וֹת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4641">׀</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_29_7">בָּקָר֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_29_8">וּכְרוּבִ֔ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_29_9">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4645">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_29_10">הַשְׁלַבִּ֖ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_29_11">כֵּ֣ן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_29_12">מִמָּ֑עַל</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_7_29_13">וּמִתַּ֙חַת֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_29_14">לַאֲרָי֣וֹת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_29_15">וְלַבָּקָ֔ר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_29_16">לֹי֖וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_29_17">מַעֲשֵׂ֥ה</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_7_29_18">מוֹרָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4655">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_30" data-pasuk-now="18"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_30_1">וְאַרְבָּעָה֩</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_30_2">אוֹפַנֵּ֨י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_30_3">נְחֹ֜שֶׁת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_30_4">לַמְּכוֹנָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_30_5">הָאַחַת֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_30_6">וְסַרְנֵ֣י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_30_7">נְחֹ֔שֶׁת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_30_8">וְאַרְבָּעָ֥ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_30_9">פַעֲמֹתָ֖יו</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_7_30_10">כְּתֵפֹ֣ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_30_11">לָהֶ֑ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_30_12">מִתַּ֤חַת</span>
<span class="mila" data-lnk="4026532299" data-exlnk="0" id="M_7_30_13">לַכִּיֹּר֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_30_14">הַכְּתֵפ֣וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_30_15">יְצֻק֔וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_30_16">מֵעֵ֥בֶר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_30_17">אִ֖ישׁ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_30_18">לֹיֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4674">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_31" data-pasuk-now="20"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_7_31_1">וּ֠פִיהוּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_2">מִבֵּ֨ית</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_3">לַכֹּתֶ֤רֶת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_4">וָמַ֙עְלָה֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_5">בָּֽאַמָּ֔ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_31_6">וּפִ֙יהָ֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_7">עָגֹ֣ל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_7_31_8">מַעֲשֵׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4683">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_7_31_9">כֵ֔ן</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_10">אַמָּ֖ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_11">וַחֲצִ֣י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_12">הָאַמָּ֑ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_13">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4689">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4691">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_15">פִּ֙יהָ֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_31_16">מִקְלָע֔וֹת</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_7_31_17">וּמִסְגְּרֹתֵיהֶ֥ם</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_7_31_18">מְרֻבָּע֖וֹת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_31_19">לֹ֥א</span>
<span class="mila" data-lnk="3221225740" data-exlnk="0" id="M_7_31_20">עֲגֻלּֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4698">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_32" data-pasuk-now="13"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_32_1">וְאַרְבַּ֣עַת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_32_2">הָאוֹפַנִּ֗ים</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_7_32_3">לְמִתַּ֙חַת֙</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_7_32_4">לַֽמִּסְגְּר֔וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_32_5">וִיד֥וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_32_6">הָאוֹפַנִּ֖ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_32_7">בַּמְּכוֹנָ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_32_8">וְקוֹמַת֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_32_9">הָאוֹפַ֣ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_32_10">הָאֶחָ֔ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_32_11">אַמָּ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_32_12">וַחֲצִ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_32_13">הָאַמָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4712">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_33" data-pasuk-now="11"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_7_33_1">וּמַֽעֲשֵׂה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_33_2">הָא֣וֹפַנִּ֔ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_33_3">כְּמַעֲשֵׂ֖ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_33_4">אוֹפַ֣ן</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_33_5">הַמֶּרְכָּבָ֑ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_33_6">יְדוֹתָ֣ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_33_7">וְגַבֵּיהֶ֗ם</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_7_33_8">וְחִשֻּׁקֵיהֶ֛ם</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_7_33_9">וְחִשֻּׁרֵיהֶ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_33_10">הַכֹּ֥ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_33_11">מוּצָֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4724">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_34" data-pasuk-now="10"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="4026532291" data-exlnk="0" id="M_7_34_1">וְאַרְבַּ֣ע</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_34_2">כְּתֵפ֔וֹת</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_7_34_3">אֶ֚ל</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_7_34_4">אַרְבַּ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_34_5">פִּנּ֔וֹת</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_7_34_6">הַמְּכֹנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_34_7">הָאֶחָ֑ת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_34_8">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4733">־</span><span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_7_34_9">הַמְּכֹנָ֖ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_34_10">כְּתֵפֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4736">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_35" data-pasuk-now="13"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_7_35_1">וּבְרֹ֣אשׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_35_2">הַמְּכוֹנָ֗ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_35_3">חֲצִ֧י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_35_4">הָאַמָּ֛ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_35_5">קוֹמָ֖ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_35_6">עָגֹ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4743">׀</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_35_7">סָבִ֑יב</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_35_8">וְעַ֨ל</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_35_9">רֹ֤אשׁ</span>
<span class="mila" data-lnk="805306443" data-exlnk="0" id="M_7_35_10">הַמְּכֹנָה֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_35_11">יְדֹתֶ֔יהָ</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_7_35_12">וּמִסְגְּרֹתֶ֖יהָ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_35_13">מִמֶּֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4751">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_36" data-pasuk-now="13"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="4026532303" data-exlnk="0" id="M_7_36_1">וַיְפַתַּ֤ח</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_36_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4754">־</span><span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_7_36_3">הַלֻּחֹת֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_36_4">יְדֹתֶ֔יהָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_36_5">וְעַל֙</span>
<span data-lnk="0" data-exlnk="0" id="M_7_36_6" class="mila ktiv">ומִסְגְּרֹתֶ֔יהָ</span>
<span data-lnk="4026532171" data-exlnk="0" id="M_7_36_6_K" class="mila kri">מִסְגְּרֹתֶ֔יהָ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_36_7">כְּרוּבִ֖ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_36_8">אֲרָי֣וֹת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_36_9">וְתִמֹרֹ֑ת</span>
<span class="mila" data-lnk="3221225741" data-exlnk="0" id="M_7_36_10">כְּמַעַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4764">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_7_36_11">אִ֥ישׁ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_7_36_12">וְלֹי֖וֹת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_36_13">סָבִֽיב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4768">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_37" data-pasuk-now="12"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_37_1">כָּזֹ֣את</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_37_2">עָשָׂ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_37_3">אֵ֖ת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_37_4">עֶ֣שֶׂר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_37_5">הַמְּכֹנ֑וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_37_6">מוּצָ֨ק</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_37_7">אֶחָ֜ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_37_8">מִדָּ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_37_9">אַחַ֛ת</span>
<span class="mila" data-lnk="1073742092" data-exlnk="0" id="M_7_37_10">קֶ֥צֶב</span>
<span class="mila" data-lnk="2147483916" data-exlnk="0" id="M_7_37_11">אֶחָ֖ד</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_7_37_12">לְכֻלָּֽהְנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4782">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4783">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_38" data-pasuk-now="20"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_38_1">וַיַּ֛עַשׂ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_38_2">עֲשָׂרָ֥ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_38_3">כִיֹּר֖וֹת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_38_4">נְחֹ֑שֶׁת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_38_5">אַרְבָּעִ֨ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_38_6">בַּ֜ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_7">יָכִ֣יל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_8">הַכִּיּ֣וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_9">הָאֶחָ֗ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_38_10">אַרְבַּ֤ע</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_38_11">בָּֽאַמָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_12">הַכִּיּ֣וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_13">הָאֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_14">כִּיּ֤וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_15">אֶחָד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4800">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_17">הַמְּכוֹנָ֣ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_7_38_18">הָאַחַ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_19">לְעֶ֖שֶׂר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_20">הַמְּכֹנֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4805">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_39" data-pasuk-now="22"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_39_1">וַיִּתֵּן֙</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_7_39_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4808">־</span><span class="mila" data-lnk="536870984" data-exlnk="0" id="M_7_39_3">הַמְּכֹנ֔וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_39_4">חָמֵ֞שׁ</span>
<span class="mila" data-lnk="1342177615" data-exlnk="0" id="M_7_39_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4812">־</span><span class="mila" data-lnk="3758096719" data-exlnk="0" id="M_7_39_6">כֶּ֤תֶף</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_39_7">הַבַּ֙יִת֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_39_8">מִיָּמִ֔ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_9">וְחָמֵ֛שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4818">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_7_39_11">כֶּ֥תֶף</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_39_12">הַבַּ֖יִת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_39_13">מִשְּׂמֹאל֑וֹ</span>
<span class="mila" data-lnk="3489661382" data-exlnk="0" id="M_7_39_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4823">־</span><span class="mila" data-lnk="3758096838" data-exlnk="0" id="M_7_39_15">הַיָּ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_39_16">נָתַ֞ן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_39_17">מִכֶּ֨תֶף</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_39_18">הַבַּ֧יִת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_39_19">הַיְמָנִ֛ית</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_39_20">קֵ֖דְמָה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_39_21">מִמּ֥וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_39_22">נֶֽגֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4833">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4834">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_40" data-pasuk-now="20"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_40_1">וַיַּ֣עַשׂ</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_7_40_2">חִיר֔וֹם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_40_3">אֶ֨ת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4838">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_7_40_4">הַכִּיֹּר֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4841">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_7_40_6">הַיָּעִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4844">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_8">הַמִּזְרָק֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_9">וַיְכַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_10">חִירָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_11">לַֽעֲשׂוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4850">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4852">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_14">הַמְּלָאכָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_16">עָשָׂ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_17">לַמֶּ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_18">שְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_19">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_20">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4860">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_41" data-pasuk-now="20"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_7_41_1">עַמֻּדִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_2">שְׁנַ֔יִם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_7_41_3">וְגֻלֹּ֧ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_4">הַכֹּתָרֹ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4866">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4868">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_7">רֹ֥אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_8">הָעַמּוּדִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_9">שְׁתָּ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_10">וְהַשְּׂבָכ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_11">שְׁתַּ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_12">לְכַסּ֗וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4876">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_14">שְׁתֵּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_15">גֻּלּ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_16">הַכֹּתָרֹ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_17">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4882">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_19">רֹ֥אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_20">הָעַמּוּדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4885">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_42" data-pasuk-now="20"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4887">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_2">הָרִמֹּנִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_3">אַרְבַּ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_5">לִשְׁתֵּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_6">הַשְּׂבָכ֑וֹת</span>
<span class="mila" data-lnk="1879048515" data-exlnk="0" id="M_7_42_7">שְׁנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4894">־</span><span class="mila" data-lnk="3758096707" data-exlnk="0" id="M_7_42_8">טוּרִ֤ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_42_9">רִמֹּנִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_10">לַשְּׂבָכָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_11">הָאֶחָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_12">לְכַסּ֗וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4901">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_14">שְׁתֵּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_15">גֻּלּ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_16">הַכֹּתָרֹ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_17">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4907">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_19">פְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_20">הָעַמּוּדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4910">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_43" data-pasuk-now="8"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4912">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_2">הַמְּכֹנ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_3">עָ֑שֶׂר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4916">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_7_43_5">הַכִּיֹּרֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_6">עֲשָׂרָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4920">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_8">הַמְּכֹנֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4922">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_44" data-pasuk-now="9"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_7_44_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4924">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_7_44_2">הַיָּ֖ם</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_7_44_3">הָאֶחָ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4928">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_5">הַבָּקָ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_6">שְׁנֵים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4931">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_7">עָשָׂ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_8">תַּ֥חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_9">הַיָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4935">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_45" data-pasuk-now="19"><span class="pasuk-header">[מה]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_45_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4937">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_2">הַסִּיר֨וֹת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_45_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4940">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_7_45_4">הַיָּעִ֜ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_45_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4943">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_45_6">הַמִּזְרָק֗וֹת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_45_7">וְאֵת֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_45_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4947">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_7_45_9">הַכֵּלִ֣ים</span>
<span data-lnk="0" data-exlnk="0" id="M_7_45_10" class="mila ktiv">הָאֵ֔הלֶּ</span>
<span data-lnk="3221225740" data-exlnk="0" id="M_7_45_10_K" class="mila kri">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_11">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_12">עָשָׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_13">חִירָ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_14">לַמֶּ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_15">שְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_16">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_17">יְהוָ֑ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_45_18">נְחֹ֖שֶׁת</span>
<span class="mila" data-lnk="3221225742" data-exlnk="0" id="M_7_45_19">מְמֹרָֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4960">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_46" data-pasuk-now="10"><span class="pasuk-header">[מו]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_46_1">בְּכִכַּ֤ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_46_2">הַיַּרְדֵּן֙</span>
<span class="mila" data-lnk="4026532167" data-exlnk="0" id="M_7_46_3">יְצָקָ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_46_4">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_7_46_5">בְּמַעֲבֵ֖ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_46_6">הָאֲדָמָ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_46_7">בֵּ֥ין</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_46_8">סֻכּ֖וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_46_9">וּבֵ֥ין</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_7_46_10">צָרְתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4971">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_47" data-pasuk-now="12"><span class="pasuk-header">[מז]</span>
<span class="mila" data-lnk="4026532175" data-exlnk="0" id="M_7_47_1">וַיַּנַּ֤ח</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_47_2">שְׁלֹמֹה֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_7_47_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4975">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_47_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4977">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_7_47_5">הַכֵּלִ֔ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_47_6">מֵרֹ֖ב</span>
<span class="mila" data-lnk="3489661255" data-exlnk="0" id="M_7_47_7">מְאֹ֣ד</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_7_47_8">מְאֹ֑ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_47_9">לֹ֥א</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_7_47_10">נֶחְקַ֖ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_47_11">מִשְׁקַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_47_12">הַנְּחֹֽשֶׁת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4986">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_48" data-pasuk-now="18"><span class="pasuk-header">[מח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_1">וַיַּ֣עַשׂ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_2">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_3">אֵ֚ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4991">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_5">הַכֵּלִ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_6">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_7">בֵּ֣ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_8">יְהוָ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_9">אֵ֚ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_10">מִזְבַּ֣ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_11">הַזָּהָ֔ב</span>
<span class="mila" data-lnk="3489661388" data-exlnk="0" id="M_7_48_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5000">־</span><span class="mila" data-lnk="4026532300" data-exlnk="0" id="M_7_48_13">הַשֻּׁלְחָ֗ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_14">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_15">עָלָ֛יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_16">לֶ֥חֶם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_17">הַפָּנִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_48_18">זָהָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5007">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_49" data-pasuk-now="14"><span class="pasuk-header">[מט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_49_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5009">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_7_49_2">הַ֠מְּנֹרוֹת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_49_3">חָמֵ֨שׁ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_49_4">מִיָּמִ֜ין</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_49_5">וְחָמֵ֧שׁ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_7_49_6">מִשְּׂמֹ֛אול</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_49_7">לִפְנֵ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_49_8">הַדְּבִ֖יר</span>
<span class="mila" data-lnk="1342177608" data-exlnk="0" id="M_7_49_9">זָהָ֣ב</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_7_49_10">סָג֑וּר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_49_11">וְהַפֶּ֧רַח</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_7_49_12">וְהַנֵּרֹ֛ת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_49_13">וְהַמֶּלְקַחַ֖יִם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_49_14">זָהָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5023">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_50" data-pasuk-now="17"><span class="pasuk-header">[נ]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_50_1">וְ֠הַסִּפּוֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_50_2">וְהַֽמְזַמְּר֧וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_50_3">וְהַמִּזְרָק֛וֹת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_50_4">וְהַכַּפּ֥וֹת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_50_5">וְהַמַּחְתּ֖וֹת</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_7_50_6">זָהָ֣ב</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_7_50_7">סָג֑וּר</span>
<span class="mila" data-lnk="3221225743" data-exlnk="0" id="M_7_50_8">וְהַפֹּת֡וֹת</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_7_50_9">לְדַלְתוֹת֩</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_7_50_10">הַבַּ֨יִת</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_7_50_11">הַפְּנִימִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_50_12">לְקֹ֣דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_50_13">הַקֳּדָשִׁ֗ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_7_50_14">לְדַלְתֵ֥י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_7_50_15">הַבַּ֛יִת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_7_50_16">לַהֵיכָ֖ל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_7_50_17">זָהָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5042">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5043"> פ </span>
</span>
<br /><span id="PS_7_51" data-pasuk-now="25"><span class="pasuk-header">[נא]</span>
<span class="mila" data-lnk="4026532298" data-exlnk="0" id="M_7_51_1">וַתִּשְׁלַם֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_51_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5046">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_7_51_3">הַמְּלָאכָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_51_4">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_51_5">עָשָׂ֛ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_51_6">הַמֶּ֥לֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_51_7">שְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_51_8">בֵּ֣ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_51_9">יְהוָ֑ה</span>
<span class="mila" data-lnk="805306436" data-exlnk="0" id="M_7_51_10">וַיָּבֵ֨א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_51_11">שְׁלֹמֹ֜ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_51_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5057">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_7_51_13">קָדְשֵׁ֣י׀</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_51_14">דָּוִ֣ד</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_51_15">אָבִ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5062">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_17">הַכֶּ֤סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_18">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5065">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_19">הַזָּהָב֙</span>
<span class="mila" data-lnk="1342177732" data-exlnk="0" id="M_7_51_20">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5068">־</span><span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_7_51_21">הַכֵּלִ֔ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_51_22">נָתַ֕ן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_51_23">בְּאֹצְר֖וֹת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_51_24">בֵּ֥ית</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_7_51_25">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5075">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5076"> פ </span>
</span>
<br /></p>