<p id="PR_2" data-perek-now="427" data-perek-nops="25"><span class="perek-header">פרק ב</span>
<br /><span id="PS_2_1" data-pasuk-now="12"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_1_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="4026532088" data-exlnk="0" id="M_2_1_2">בְּהַעֲל֤וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_1_3">יְהוָה֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_1_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="444">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_2_1_5">אֵ֣לִיָּ֔הוּ</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_2_1_6">בַּֽסֳעָרָ֖ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_1_7">הַשָּׁמָ֑יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_1_8">וַיֵּ֧לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_1_9">אֵלִיָּ֛הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_10">וֶאֱלִישָׁ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_11">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="452">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_1_12">הַגִּלְגָּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="454">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_2" data-pasuk-now="24"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_1">וַיֹּאמֶר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_2">אֵלִיָּ֨הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="458">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_4">אֱלִישָׁ֜ע</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_2_2_5">שֵֽׁב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="461">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_2_2_6">נָ֣א</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_2_2_7">פֹ֗ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_2_8">כִּ֤י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_2_9">יְהוָה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_2_10">שְׁלָחַ֣נִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_2_11">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="468">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_2_2_12">בֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="470">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_2_2_13">אֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_14">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_15">אֱלִישָׁ֔ע</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_2_2_16">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="475">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_2_2_17">יְהוָ֥ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_2_2_18">וְחֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="478">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_2_2_19">נַפְשְׁךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_20">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="481">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_21">אֶעֶזְבֶ֑ךָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_22">וַיֵּרְד֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_23">בֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="485">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_2_24">אֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="487">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_3" data-pasuk-now="24"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_1">וַיֵּצְא֨וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_3_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="490">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_2_3_3">הַנְּבִיאִ֥ים</span>
<span class="mila" data-lnk="3489661092" data-exlnk="0" id="M_2_3_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="493">־</span><span class="mila" data-lnk="1342177444" data-exlnk="0" id="M_2_3_5">בֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="495">־</span><span class="mila" data-lnk="3758096544" data-exlnk="0" id="M_2_3_6">אֵל֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="498">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_8">אֱלִישָׁע֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_9">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_10">אֵלָ֔יו</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_2_3_11">הֲיָדַ֕עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_12">כִּ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_3_13">הַיּ֗וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_3_14">יְהוָ֛ה</span>
<span class="mila" data-lnk="4026532008" data-exlnk="0" id="M_2_3_15">לֹקֵ֥חַ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_2_3_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="508">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_2_3_17">אֲדֹנֶ֖יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_3_18">מֵעַ֣ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_3_19">רֹאשֶׁ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_3_20">וַיֹּ֛אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_3_21">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="514">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_2_3_22">אֲנִ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_3_23">יָדַ֖עְתִּי</span>
<span class="mila" data-lnk="4026532012" data-exlnk="0" id="M_2_3_24">הֶחֱשֽׁוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="518">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_4" data-pasuk-now="20"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_2_4_1">וַיֹּאמֶר֩</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_2_4_2">ל֨וֹ</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_2_4_3">אֵלִיָּ֜הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_4">אֱלִישָׁ֣ע׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_5">שֵֽׁב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="524">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_6">נָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_7">פֹ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_8">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_9">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_10">שְׁלָחַ֣נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_11">יְרִיח֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_12">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_13">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="533">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_14">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_15">וְחֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="536">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_16">נַפְשְׁךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_17">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="539">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_18">אֶעֶזְבֶ֑ךָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_4_19">וַיָּבֹ֖אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="10" id="M_2_4_20">יְרִיחֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="543">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_5" data-pasuk-now="23"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_1">וַיִּגְּשׁ֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="546">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_3">הַנְּבִיאִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="549">־</span><span class="mila" data-lnk="0" data-exlnk="10" id="M_2_5_5">בִּֽירִיחוֹ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="552">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_7">אֱלִישָׁע֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_8">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_9">אֵלָ֔יו</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_5_10">הֲיָדַ֕עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_11">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_12">הַיּ֗וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_13">יְהוָ֛ה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_5_14">לֹקֵ֥חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="562">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_16">אֲדֹנֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_17">מֵעַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_18">רֹאשֶׁ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_19">וַיֹּ֛אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_20">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="568">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_21">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_5_22">יָדַ֖עְתִּי</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_2_5_23">הֶחֱשֽׁוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="572">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_6" data-pasuk-now="19"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_2_6_1">וַיֹּאמֶר֩</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_2_6_2">ל֨וֹ</span>
<span class="mila" data-lnk="2952790176" data-exlnk="0" id="M_2_6_3">אֵלִיָּ֜הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_4">שֵֽׁב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="577">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_5">נָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_6">פֹ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_7">כִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_8">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_9">שְׁלָחַ֣נִי</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_6_10">הַיַּרְדֵּ֔נָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_11">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_12">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="586">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_13">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_14">וְחֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="589">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_15">נַפְשְׁךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_16">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="592">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_17">אֶעֶזְבֶ֑ךָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_18">וַיֵּלְכ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_6_19">שְׁנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="596">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_1">וַחֲמִשִּׁ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_2">אִ֜ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_3">מִבְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_4">הַנְּבִיאִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_5">הָֽלְכ֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_6">וַיַּעַמְד֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_7">מִנֶּ֖גֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_8">מֵרָח֑וֹק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_9">וּשְׁנֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_10">עָמְד֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="608">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_7_12">הַיַּרְדֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="610">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_8" data-pasuk-now="14"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_1">וַיִּקַּח֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_2">אֵלִיָּ֨הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="614">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_2_8_4">אַדַּרְתּ֤וֹ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_8_5">וַיִּגְלֹם֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_8_6">וַיַּכֶּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="619">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_2_8_8">הַמַּ֔יִם</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_8_9">וַיֵּחָצ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_10">הֵ֣נָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_11">וָהֵ֑נָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_12">וַיַּעַבְר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_13">שְׁנֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_8_14">בֶּחָרָבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="627">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_9" data-pasuk-now="21"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_2_9_1">וַיְהִ֣י</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_2_9_2">כְעָבְרָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_3">וְאֵ֨לִיָּ֜הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_4">אָמַ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="633">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_6">אֱלִישָׁע֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_7">שְׁאַל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_8">מָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_9">אֶעֱשֶׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="638">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_10">לָּ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_11">בְּטֶ֖רֶם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_9_12">אֶלָּקַ֣ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_9_13">מֵעִמָּ֑ךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_9_14">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_9_15">אֱלִישָׁ֔ע</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_9_16">וִ֥יהִי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_9_17">נָ֛א</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_2_9_18">פִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="648">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_2_9_19">שְׁנַ֥יִם</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_2_9_20">בְּרוּחֲךָ֖</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_2_9_21">אֵלָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="652">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_10" data-pasuk-now="15"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_10_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="3221225623" data-exlnk="0" id="M_2_10_2">הִקְשִׁ֣יתָ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_2_10_3">לִשְׁא֑וֹל</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_2_10_4">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="657">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_2_10_5">תִּרְאֶ֨ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_2_10_6">אֹתִ֜י</span>
<span class="mila" data-lnk="4026532095" data-exlnk="0" id="M_2_10_7">לֻקָּ֤ח</span>
<span class="mila" data-lnk="4026532025" data-exlnk="0" id="M_2_10_8">מֵֽאִתָּךְ֙</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_2_10_9">יְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="663">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_2_10_10">לְךָ֣</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_2_10_11">כֵ֔ן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_2_10_12">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="667">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_2_10_13">אַ֖יִן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_2_10_14">לֹ֥א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_2_10_15">יִהְיֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="671">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_11" data-pasuk-now="17"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1879048352" data-exlnk="0" id="M_2_11_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_11_2">הֵ֣מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_11_3">הֹלְכִ֤ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_11_4">הָלוֹךְ֙</span>
<span class="mila" data-lnk="805306416" data-exlnk="0" id="M_2_11_5">וְדַבֵּ֔ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_11_6">וְהִנֵּ֤ה</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_2_11_7">רֶֽכֶב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="679">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_2_11_8">אֵשׁ֙</span>
<span class="mila" data-lnk="3221225612" data-exlnk="0" id="M_2_11_9">וְס֣וּסֵי</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_11_10">אֵ֔שׁ</span>
<span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_2_11_11">וַיַּפְרִ֖דוּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_11_12">בֵּ֣ין</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_11_13">שְׁנֵיהֶ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_11_14">וַיַּ֙עַל֙</span>
<span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_2_11_15">אֵ֣לִיָּ֔הוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_11_16">בַּֽסֳעָרָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_11_17">הַשָּׁמָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="690">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_12" data-pasuk-now="17"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_12_1">וֶאֱלִישָׁ֣ע</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_12_2">רֹאֶ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_3">וְה֤וּא</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_2_12_4">מְצַעֵק֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_12_5">אָבִ֣י</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="696">׀</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_12_6">אָבִ֗י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_2_12_7">רֶ֤כֶב</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_2_12_8">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_2_12_9">וּפָ֣רָשָׁ֔יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_12_10">וְלֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_12_11">רָאָ֖הוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_12_12">ע֑וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_13">וַֽיַּחֲזֵק֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_12_14">בִּבְגָדָ֔יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_12_15">וַיִּקְרָעֵ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_12_16">לִשְׁנַ֥יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_12_17">קְרָעִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="709">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_13" data-pasuk-now="12"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_13_1">וַיָּ֙רֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="712">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_3">אַדֶּ֣רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_4">אֵלִיָּ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_5">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_6">נָפְלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_7">מֵעָלָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_8">וַיָּ֥שָׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_9">וַֽיַּעֲמֹ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="721">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_11">שְׂפַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_13_12">הַיַּרְדֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="724">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_14" data-pasuk-now="25"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_14_1">וַיִּקַּח֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_14_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="727">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_14_3">אַדֶּ֨רֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_14_4">אֵלִיָּ֜הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_2_14_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="731">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_2_14_6">נָפְלָ֤ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_2_14_7">מֵֽעָלָיו֙</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_2_14_8">וַיַּכֶּ֣ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_2_14_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="736">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_2_14_10">הַמַּ֔יִם</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_2_14_11">וַיֹּאמַ֕ר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_14_12">אַיֵּ֕ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_14_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_14_14">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_14_15">אֵלִיָּ֑הוּ</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_2_14_16">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="744">־</span><span class="mila" data-lnk="29" data-exlnk="0" id="M_2_14_17">ה֣וּא׀</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_2_14_18">וַיַּכֶּ֣ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_2_14_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="748">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_2_14_20">הַמַּ֗יִם</span>
<span class="mila" data-lnk="4026532012" data-exlnk="0" id="M_2_14_21">וַיֵּֽחָצוּ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_14_22">הֵ֣נָּה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_14_23">וָהֵ֔נָּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_14_24">וַֽיַּעֲבֹ֖ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_14_25">אֱלִישָֽׁע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="755">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_15" data-pasuk-now="17"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_2_15_1">וַיִּרְאֻ֨הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_2">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="758">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_3">הַנְּבִיאִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="761">־</span><span class="mila" data-lnk="0" data-exlnk="10" id="M_2_15_5">בִּֽירִיחוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_6">מִנֶּ֔גֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_7">וַיֹּ֣אמְר֔וּ</span>
<span class="mila" data-lnk="4026532076" data-exlnk="0" id="M_2_15_8">נָ֛חָה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_15_9">ר֥וּחַ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_15_10">אֵלִיָּ֖הוּ</span>
<span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_2_15_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="769">־</span><span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_2_15_12">אֱלִישָׁ֑ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_13">וַיָּבֹ֙אוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_14">לִקְרָאת֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_15">וַיִּשְׁתַּחֲווּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="774">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_15_16">ל֖וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_15_17">אָֽרְצָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="777">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_16" data-pasuk-now="29"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_1">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_2">אֵלָ֡יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_3">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="781">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_4">נָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_5">יֵֽשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="784">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="786">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_7">עֲבָדֶיךָ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_8">חֲמִשִּׁ֨ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_16_9">אֲנָשִׁ֜ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_16_10">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="791">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_2_16_11">חַ֗יִל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_12">יֵ֣לְכוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_13">נָא֘</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_2_16_14">וִיבַקְשׁ֣וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="797">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_16">אֲדֹנֶיךָ֒</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_2_16_17">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="800">־</span><span class="mila" data-lnk="4026532023" data-exlnk="0" id="M_2_16_18">נְשָׂאוֹ֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_2_16_19">ר֣וּחַ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_2_16_20">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532008" data-exlnk="0" id="M_2_16_21">וַיַּשְׁלִכֵ֙הוּ֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_22">בְּאַחַ֣ד</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_23">הֶהָרִ֔ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_24">א֖וֹ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_25">בְּאַחַ֣ת</span>
<span data-lnk="0" data-exlnk="0" id="M_2_16_26" class="mila ktiv">הַגֵּיאָוֺ֑ת</span>
<span data-lnk="3221225610" data-exlnk="0" id="M_2_16_26_K" class="mila kri">הַגֵּיאָי֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_16_27">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_2_16_28">לֹ֥א</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_2_16_29">תִשְׁלָֽחוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="814">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_17" data-pasuk-now="14"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026532076" data-exlnk="0" id="M_2_17_1">וַיִּפְצְרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="816">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_2_17_2">ב֥וֹ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_17_3">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="819">־</span><span class="mila" data-lnk="4026532015" data-exlnk="0" id="M_2_17_4">בֹּ֖שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_2_17_5">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="3221225610" data-exlnk="0" id="M_2_17_6">שְׁלָ֑חוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_17_7">וַֽיִּשְׁלְחוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_17_8">חֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_17_9">אִ֔ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_17_10">וַיְבַקְשׁ֥וּ</span>
<span class="mila" data-lnk="1879048352" data-exlnk="0" id="M_2_17_11">שְׁלֹשָֽׁה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="828">־</span><span class="mila" data-lnk="2952790176" data-exlnk="0" id="M_2_17_12">יָמִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_17_13">וְלֹ֥א</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_2_17_14">מְצָאֻֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="832">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_18" data-pasuk-now="12"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_1">וַיָּשֻׁ֣בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_2">אֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_3">וְה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_4">יֹשֵׁ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="10" id="M_2_18_5">בִּירִיח֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_18_6">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_18_7">אֲלֵהֶ֔ם</span>
<span class="mila" data-lnk="805306408" data-exlnk="0" id="M_2_18_8">הֲלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="841">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_9">אָמַ֥רְתִּי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_10">אֲלֵיכֶ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_11">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="845">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_2_18_12">תֵּלֵֽכוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="848">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="849">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_19" data-pasuk-now="17"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_1">וַיֹּ֨אמְר֜וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_19_2">אַנְשֵׁ֤י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_19_3">הָעִיר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="854">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_19_5">אֱלִישָׁ֔ע</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_2_19_6">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="857">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_2_19_7">נָ֞א</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_2_19_8">מוֹשַׁ֤ב</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_2_19_9">הָעִיר֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_2_19_10">ט֔וֹב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_19_11">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_19_12">אֲדֹנִ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_19_13">רֹאֶ֑ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_19_14">וְהַמַּ֥יִם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_19_15">רָעִ֖ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_19_16">וְהָאָ֥רֶץ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_19_17">מְשַׁכָּֽלֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="869">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_20" data-pasuk-now="10"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_20_1">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_20_2">קְחוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="872">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_20_3">לִי֙</span>
<span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_2_20_4">צְלֹחִ֣ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_2_20_5">חֲדָשָׁ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_20_6">וְשִׂ֥ימוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_2_20_7">שָׁ֖ם</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_2_20_8">מֶ֑לַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_20_9">וַיִּקְח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_20_10">אֵלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="881">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_21" data-pasuk-now="20"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_1">וַיֵּצֵא֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_2_21_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="884">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_2_21_3">מוֹצָ֣א</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_2_21_4">הַמַּ֔יִם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_21_5">וַיַּשְׁלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="888">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_2_21_6">שָׁ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_2_21_7">מֶ֑לַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_8">וַיֹּ֜אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_9">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="893">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_10">אָמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_11">יְהוָ֗ה</span>
<span class="mila" data-lnk="3221225604" data-exlnk="0" id="M_2_21_12">רִפִּ֙אתִי֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_21_13">לַמַּ֣יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_14">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_15">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="900">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_16">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_17">מִשָּׁ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_18">ע֖וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_21_19">מָ֥וֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_21_20">וּמְשַׁכָּֽלֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="906">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_22" data-pasuk-now="9"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_2_22_1">וַיֵּרָפ֣וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_22_2">הַמַּ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_3">עַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_4">הַיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_5">הַזֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_6">כִּדְבַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_7">אֱלִישָׁ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_22_9">דִּבֵּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="917">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="918"> פ </span>
</span>
<br /><span id="PS_2_23" data-pasuk-now="20"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_1">וַיַּ֥עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_2">מִשָּׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_3">בֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="922">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_4">אֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_5">וְה֣וּא׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_6">עֹלֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_7">בַדֶּ֗רֶךְ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_2_23_8">וּנְעָרִ֤ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_2_23_9">קְטַנִּים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_10">יָצְא֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_11">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="931">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_12">הָעִ֔יר</span>
<span class="mila" data-lnk="3221225628" data-exlnk="0" id="M_2_23_13">וַיִּתְקַלְּסוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="934">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_2_23_14">בוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_15">וַיֹּ֣אמְרוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_16">ל֔וֹ</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_2_23_17">עֲלֵ֥ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_2_23_18">קֵרֵ֖חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_19">עֲלֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_23_20">קֵרֵֽחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="942">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_24" data-pasuk-now="16"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_24_1">וַיִּ֤פֶן</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_2_24_2">אַֽחֲרָיו֙</span>
<span class="mila" data-lnk="3221225613" data-exlnk="0" id="M_2_24_3">וַיִּרְאֵ֔ם</span>
<span class="mila" data-lnk="3221225604" data-exlnk="0" id="M_2_24_4">וַֽיְקַלֲלֵ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_5">בְּשֵׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_7">וַתֵּצֶ֜אנָה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_24_8">שְׁתַּ֤יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_2_24_9">דֻּבִּים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_10">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="953">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_11">הַיַּ֔עַר</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_2_24_12">וַתְּבַקַּ֣עְנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_13">מֵהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_14">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_15">וּשְׁנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_24_16">יְלָדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="960">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_2_25" data-pasuk-now="8"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_25_1">וַיֵּ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_25_2">מִשָּׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_25_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="964">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_2_25_4">הַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_25_5">הַכַּרְמֶ֑ל</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_2_25_6">וּמִשָּׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_25_7">שָׁ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_2_25_8">שֹׁמְרֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="971">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="972"> פ </span>
</span>
<br /></p>