<p id="PR_3" data-perek-now="435" data-perek-nops="27"><span class="perek-header">פרק ג</span>
<br /><span id="PS_3_1" data-pasuk-now="17"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_1_1">וִיהוֹרָ֣ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_1_2">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="975">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_3_1_3">אַחְאָ֗ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_4">מָלַ֤ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="979">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_6">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_7">בְּשֹׁ֣מְר֔וֹן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_8">בִּשְׁנַת֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_9">שְׁמֹנֶ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_10">עֶשְׂרֵ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_11">לִיהוֹשָׁפָ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_12">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_13">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_14">וַיִּמְלֹ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_15">שְׁתֵּים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="990">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_16">עֶשְׂרֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_17">שָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="993">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_2" data-pasuk-now="15"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_3_2_1">וַיַּעֲשֶׂ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_2">הָרַע֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_3">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_2_5">רַ֕ק</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_2_6">לֹ֥א</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_2_7">כְאָבִ֖יו</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_2_8">וּכְאִמּ֑וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_2_9">וַיָּ֙סַר֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_2_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1004">־</span><span class="mila" data-lnk="4026532012" data-exlnk="0" id="M_3_2_11">מַצְּבַ֣ת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_2_12">הַבַּ֔עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_13">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_14">עָשָׂ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_2_15">אָבִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1010">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_3_1">רַ֠ק</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_3_2">בְּחַטֹּ֞אות</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_3_3">יָרָבְעָ֧ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_3_4">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1015">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_3_5">נְבָ֛ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1018">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_7">הֶחֱטִ֥יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1021">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_9">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_3_3_10">דָּבֵ֑ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_11">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1025">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_12">סָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_13">מִמֶּֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1029">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1030"> פ </span>
</span>
<br /><span id="PS_3_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_3_4_1">וּמֵישַׁ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1033">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_3">מוֹאָ֖ב</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_4">הָיָ֣ה</span>
<span class="mila" data-lnk="3221225631" data-exlnk="0" id="M_3_4_5">נֹקֵ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_6">וְהֵשִׁ֤יב</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_7">לְמֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1039">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_8">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_9">מֵאָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1042">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_10">אֶ֣לֶף</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_11">כָּרִ֔ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_12">וּמֵ֥אָה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_13">אֶ֖לֶף</span>
<span class="mila" data-lnk="3221225615" data-exlnk="0" id="M_3_4_14">אֵילִ֥ים</span>
<span class="mila" data-lnk="3221225615" data-exlnk="0" id="M_3_4_15">צָֽמֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1049">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_5_1">וַיְהִ֖י</span>
<span class="mila" data-lnk="4026532068" data-exlnk="0" id="M_3_5_2">כְּמ֣וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_5_3">אַחְאָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_4">וַיִּפְשַׁ֥ע</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_5_5">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1055">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_5_6">מוֹאָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_7">בְּמֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_8">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1059">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_1">וַיֵּצֵ֞א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_2">הַמֶּ֧לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_3">יְהוֹרָ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_4">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_5">הַה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_6">מִשֹּׁמְר֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_7">וַיִּפְקֹ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1068">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1070">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_6_10">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1072">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_7" data-pasuk-now="24"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_1">וַיֵּ֡לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_2">וַיִּשְׁלַח֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1076">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_4">יְהוֹשָׁפָ֨ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_5">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1079">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_6">יְהוּדָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_7">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_8">מֶ֤לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_9">מוֹאָב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_10">פָּשַׁ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_11">בִּ֔י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_3_7_12">הֲתֵלֵ֥ךְ</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_3_7_13">אִתִּ֛י</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_3_7_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1089">־</span><span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_3_7_15">מוֹאָ֖ב</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_3_7_16">לַמִּלְחָמָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_17">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_18">אֶֽעֱלֶ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_19">כָּמ֧וֹנִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_20">כָמ֛וֹךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_21">כְּעַמִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_22">כְעַמֶּ֖ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_23">כְּסוּסַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_24">כְּסוּסֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1100">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_8" data-pasuk-now="9"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_3_8_2">אֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1103">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_3">זֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_4">הַדֶּ֖רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_5">נַעֲלֶ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_8_6">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_8_7">דֶּ֖רֶךְ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_8_8">מִדְבַּ֥ר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_8_9">אֱדֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1111">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_9" data-pasuk-now="18"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_1">וַיֵּלֶךְ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_2">מֶ֨לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_3">יִשְׂרָאֵ֤ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_9_4">וּמֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1116">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_9_5">יְהוּדָה֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_9_6">וּמֶ֣לֶךְ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_9_7">אֱד֔וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_8">וַיָּסֹ֕בּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_9">דֶּ֖רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_10">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_11">יָמִ֑ים</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_3_9_12">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1125">־</span><span class="mila" data-lnk="536870944" data-exlnk="0" id="M_3_9_13">הָיָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_14">מַ֧יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_15">לַֽמַּחֲנֶ֛ה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_9_16">וְלַבְּהֵמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_17">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_18">בְּרַגְלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1132">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_2">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_3">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_4">אֲהָ֕הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_5">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1138">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_6">קָרָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_7">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_8">לִשְׁלֹ֙שֶׁת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_9">הַמְּלָכִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_10">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_10_11">לָתֵ֥ת</span>
<span class="mila" data-lnk="4026532007" data-exlnk="0" id="M_3_10_12">אוֹתָ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_13">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1147">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_14">מוֹאָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1150">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1151">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_11" data-pasuk-now="26"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_2">יְהוֹשָׁפָ֗ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_3">הַאֵ֨ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_4">פֹּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_5">נָבִיא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_6">לַיהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_7">וְנִדְרְשָׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1160">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_3_11_10">מֵאוֹת֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_11">וַ֠יַּעַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_12">אֶחָ֞ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_13">מֵעַבְדֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_14">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1167">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_15">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_16">וַיֹּ֔אמֶר</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_11_17">פֹּ֚ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_11_18">אֱלִישָׁ֣ע</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_11_19">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1173">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_3_11_20">שָׁפָ֔ט</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_11_21">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1176">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_3_11_22">יָ֥צַק</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_11_23">מַ֖יִם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_11_24">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1180">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_3_11_25">יְדֵ֥י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_11_26">אֵלִיָּֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1183">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_12_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_12_2">יְה֣וֹשָׁפָ֔ט</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_12_3">יֵ֥שׁ</span>
<span class="mila" data-lnk="805306404" data-exlnk="0" id="M_3_12_4">אוֹת֖וֹ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_12_5">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1189">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_12_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_12_7">וַיֵּרְד֣וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_12_8">אֵלָ֗יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_9">מֶ֧לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_10">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_11">וִיהוֹשָׁפָ֖ט</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_12">וּמֶ֥לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_12_13">אֱדֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1198">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_13" data-pasuk-now="30"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_2">אֱלִישָׁ֜ע</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1202">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_4">מֶ֤לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_5">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_6">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1206">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_7">לִּ֣י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_13_8">וָלָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_9">לֵ֚ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1211">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_11">נְבִיאֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_12">אָבִ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_13">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1215">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_14">נְבִיאֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_15">אִמֶּ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_16">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_17">לוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_18">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_19">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_13_20">אַ֗ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_13_21">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1224">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_3_13_22">קָרָ֤א</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_13_23">יְהוָה֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_13_24">לִשְׁלֹ֙שֶׁת֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_25">הַמְּלָכִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_26">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_27">לָתֵ֥ת</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_13_28">אוֹתָ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_29">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1233">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_30">מוֹאָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1235">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_14" data-pasuk-now="21"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_2">אֱלִישָׁ֗ע</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_3_14_3">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1239">־</span><span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_3_14_4">יְהוָ֤ה</span>
<span class="mila" data-lnk="2952790240" data-exlnk="0" id="M_3_14_5">צְבָאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_7">עָמַ֣דְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_8">לְפָנָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_9">כִּ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_10">לוּלֵ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_11">פְּנֵ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_12">יְהוֹשָׁפָ֥ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_13">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1250">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_14">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_15">אֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_16">נֹשֵׂ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_17">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1255">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_18">אַבִּ֥יט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_19">אֵלֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_20">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1259">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_21">אֶרְאֶֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1261">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_15" data-pasuk-now="11"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_15_1">וְעַתָּ֖ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_15_2">קְחוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1264">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_3_15_3">לִ֣י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_15_4">מְנַגֵּ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_5">וְהָיָה֙</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_3_15_6">כְּנַגֵּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_7">הַֽמֲנַגֵּ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_8">וַתְּהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_9">עָלָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_10">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1273">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_11">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1275">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_2">כֹּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_3">אָמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_16_5">עָשֹׂ֛ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_16_6">הַנַּ֥חַל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_16_7">הַזֶּ֖ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_16_8">גֵּבִ֥ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="1284">׀</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_16_9">גֵּבִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1286">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_17" data-pasuk-now="18"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_3_17_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1288">־</span><span class="mila" data-lnk="268435488" data-exlnk="0" id="M_3_17_2">כֹ֣ה׀</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_3_17_3">אָמַ֣ר</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_3_17_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1293">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_6">תִרְא֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_7">ר֙וּחַ֙</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_3_17_8">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1297">־</span><span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_3_17_9">תִרְא֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_10">גֶ֔שֶׁם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_11">וְהַנַּ֥חַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_12">הַה֖וּא</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_17_13">יִמָּ֣לֵא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_14">מָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_15">וּשְׁתִיתֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_16">אַתֶּ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_17">וּמִקְנֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_18">וּֽבְהֶמְתְּכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1308">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_18" data-pasuk-now="8"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="3221225613" data-exlnk="0" id="M_3_18_1">וְנָקַ֥ל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_3_18_2">זֹ֖את</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_3_18_3">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_3_18_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_18_5">וְנָתַ֥ן</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_18_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1315">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_3_18_7">מוֹאָ֖ב</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_3_18_8">בְּיֶדְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1318">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_19" data-pasuk-now="20"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_19_1">וְהִכִּיתֶ֞ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_19_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1321">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_19_3">עִ֤יר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_19_4">מִבְצָר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_19_5">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1325">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_19_6">עִ֣יר</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_19_7">מִבְח֔וֹר</span>
<span class="mila" data-lnk="1342177447" data-exlnk="0" id="M_3_19_8">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1329">־</span><span class="mila" data-lnk="3758096551" data-exlnk="0" id="M_3_19_9">עֵ֥ץ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_19_10">טוֹב֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_19_11">תַּפִּ֔ילוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_12">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1334">־</span><span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_3_19_13">מַעְיְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1336">־</span><span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_3_19_14">מַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_15">תִּסְתֹּ֑מוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_16">וְכֹל֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_19_17">הַחֶלְקָ֣ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_19_18">הַטּוֹבָ֔ה</span>
<span class="mila" data-lnk="3221225620" data-exlnk="0" id="M_3_19_19">תַּכְאִ֖בוּ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_3_19_20">בָּאֲבָנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1344">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_20" data-pasuk-now="13"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_20_1">וַיְהִ֤י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_20_2">בַבֹּ֙קֶר֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_20_3">כַּעֲל֣וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_20_4">הַמִּנְחָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_5">וְהִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1350">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_6">מַ֥יִם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_20_7">בָּאִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_20_8">מִדֶּ֣רֶךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_20_9">אֱד֑וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_10">וַתִּמָּלֵ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_20_11">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1358">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_13">הַמָּֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1360">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_21" data-pasuk-now="16"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_3_21_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1362">־</span><span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_3_21_2">מוֹאָב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_3">שָֽׁמְע֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_4">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1366">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_5">עָל֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_6">הַמְּלָכִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_7">לְהִלָּ֣חֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_8">בָּ֑ם</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_21_9">וַיִּצָּעֲק֗וּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_21_10">מִכֹּ֨ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_21_11">חֹגֵ֤ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_21_12">חֲגֹרָה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_21_13">וָמַ֔עְלָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_14">וַיַּעַמְד֖וּ</span>
<span class="mila" data-lnk="3221225607" data-exlnk="0" id="M_3_21_15">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1378">־</span><span class="mila" data-lnk="3221225607" data-exlnk="0" id="M_3_21_16">הַגְּבֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1380">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_22" data-pasuk-now="13"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_1">וַיַּשְׁכִּ֣ימוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_2">בַבֹּ֔קֶר</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_22_3">וְהַשֶּׁ֖מֶשׁ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_22_4">זָרְחָ֣ה</span>
<span class="mila" data-lnk="3489661088" data-exlnk="0" id="M_3_22_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1386">־</span><span class="mila" data-lnk="2684354720" data-exlnk="0" id="M_3_22_6">הַמָּ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_7">וַיִּרְא֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_8">מוֹאָ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_9">מִנֶּ֛גֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1392">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_11">הַמַּ֖יִם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_22_12">אֲדֻמִּ֥ים</span>
<span class="mila" data-lnk="3221225603" data-exlnk="0" id="M_3_22_13">כַּדָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1396">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_23" data-pasuk-now="13"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_23_1">וַיֹּֽאמְרוּ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_23_2">דָּ֣ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_23_3">זֶ֔ה</span>
<span class="mila" data-lnk="3221225612" data-exlnk="0" id="M_3_23_4">הָחֳרֵ֤ב</span>
<span class="mila" data-lnk="3221225612" data-exlnk="0" id="M_3_23_5">נֶֽחֶרְבוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_6">הַמְּלָכִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_7">וַיַּכּ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_8">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1406">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_10">רֵעֵ֑הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_11">וְעַתָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_12">לַשָּׁלָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_13">מוֹאָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1411">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_24" data-pasuk-now="16"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026532014" data-exlnk="0" id="M_3_24_1">וַיָּבֹאוּ֘</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1414">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_3">מַחֲנֵ֣ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_24_4">יִשְׂרָאֵל֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_24_5">וַיָּקֻ֤מוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_6">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_24_7">וַיַּכּ֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1421">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_9">מוֹאָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_24_10">וַיָּנֻ֖סוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_24_11">מִפְּנֵיהֶ֑ם</span>
<span data-lnk="0" data-exlnk="0" id="M_3_24_12" class="mila ktiv">וַיַּ֨בּוּ</span>
<span data-lnk="14" data-exlnk="0" id="M_3_24_12_K" class="mila kri">וַיַּ֨כּוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1427">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_3_24_13">בָ֔הּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_14">וְהַכּ֖וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1431">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_16">מוֹאָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1433">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_25" data-pasuk-now="25"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4026532011" data-exlnk="0" id="M_3_25_1">וְהֶעָרִ֣ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_25_2">יַהֲרֹ֡סוּ</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_3_25_3">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1437">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_4">חֶלְקָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_5">ט֠וֹבָה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_25_6">יַשְׁלִ֨יכוּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_25_7">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1442">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_3_25_8">אַבְנ֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_9">וּמִלְא֗וּהָ</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_3_25_10">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1446">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_3_25_11">מַעְיַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1448">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_12">מַ֤יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_13">יִסְתֹּ֙מוּ֙</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_3_25_14">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1452">־</span><span class="mila" data-lnk="536870944" data-exlnk="0" id="M_3_25_15">עֵֽץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1454">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_16">ט֣וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_17">יַפִּ֔ילוּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_25_18">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1458">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_3_25_19">הִשְׁאִ֧יר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_25_20">אֲבָנֶ֛יהָ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_25_21">בַּקִּ֖יר</span>
<span class="mila" data-lnk="4026532076" data-exlnk="0" id="M_3_25_22">חֲרָ֑שֶׂת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_25_23">וַיָּסֹ֥בּוּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_25_24">הַקַּלָּעִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_25_25">וַיַּכּֽוּהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1466">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_26" data-pasuk-now="20"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_26_1">וַיַּרְא֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_26_2">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_26_3">מוֹאָ֔ב</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_26_4">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1471">־</span><span class="mila" data-lnk="4026532014" data-exlnk="0" id="M_3_26_5">חָזַ֥ק</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_26_6">מִמֶּ֖נּוּ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_26_7">הַמִּלְחָמָ֑ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_26_8">וַיִּקַּ֣ח</span>
<span class="mila" data-lnk="805306402" data-exlnk="0" id="M_3_26_9">א֠וֹתוֹ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_26_10">שְׁבַע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1478">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_3_26_11">מֵא֨וֹת</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_26_12">אִ֜ישׁ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_26_13">שֹׁ֣לֵֽף</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_26_14">חֶ֗רֶב</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_26_15">לְהַבְקִ֛יעַ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_26_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1485">־</span><span class="mila" data-lnk="30" data-exlnk="0" id="M_3_26_17">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_26_18">אֱד֖וֹם</span>
<span class="mila" data-lnk="1342177514" data-exlnk="0" id="M_3_26_19">וְלֹ֥א</span>
<span class="mila" data-lnk="3758096618" data-exlnk="0" id="M_3_26_20">יָכֹֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1490">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_27" data-pasuk-now="20"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_27_1">וַיִּקַּח֩</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_27_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1493">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_3_27_3">בְּנ֨וֹ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_27_4">הַבְּכ֜וֹר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_27_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1497">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_3_27_6">יִמְלֹ֣ךְ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_27_7">תַּחְתָּ֗יו</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_27_8">וַיַּעֲלֵ֤הוּ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_27_9">עֹלָה֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_27_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1503">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_3_27_11">הַ֣חֹמָ֔ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_3_27_12">וַיְהִ֥י</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_3_27_13">קֶצֶף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1507">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_3_27_14">גָּד֖וֹל</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_3_27_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1510">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_3_27_16">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_27_17">וַיִּסְעוּ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_27_18">מֵעָלָ֔יו</span>
<span class="mila" data-lnk="1073741956" data-exlnk="0" id="M_3_27_19">וַיָּשֻׁ֖בוּ</span>
<span class="mila" data-lnk="2147483780" data-exlnk="0" id="M_3_27_20">לָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1517">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1518"> פ </span>
</span>
<br /></p>