<p id="PR_17" data-perek-now="689" data-perek-nops="41"><span class="perek-header">פרק יז</span>
<br /><span id="PS_17_1" data-pasuk-now="15"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_1_1">בִּשְׁנַת֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_1_2">שְׁתֵּ֣ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_1_3">עֶשְׂרֵ֔ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_1_4">לְאָחָ֖ז</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_1_5">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_6">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_1_7">מָ֠לַךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_1_8">הוֹשֵׁ֨עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9483">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_10">אֵלָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_11">בְשֹׁמְר֛וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9487">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_1_13">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_1_14">תֵּ֥שַׁע</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_1_15">שָׁנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9491">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_2" data-pasuk-now="11"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_2_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_2_2">הָרַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_2_3">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_2_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_2_5">רַ֗ק</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_2_6">לֹ֚א</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_2_7">כְּמַלְכֵ֣י</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_2_8">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_2_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_2_10">הָי֖וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_2_11">לְפָנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9503">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_3_1">עָלָ֣יו</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_3_2">עָלָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_3">שַׁלְמַנְאֶ֖סֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_4">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_5">אַשּׁ֑וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_6">וַֽיְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9510">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_7">ל֤וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_8">הוֹשֵׁעַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_9">עֶ֔בֶד</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_3_10">וַיָּ֥שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_11">ל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_3_12">מִנְחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9517">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_4" data-pasuk-now="25"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_1">וַיִּמְצָא֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_2">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9520">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_3">אַשּׁ֨וּר</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_4_4">בְּהוֹשֵׁ֜עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_5">קֶ֗שֶׁר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_6">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_7">שָׁלַ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_8">מַלְאָכִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9528">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_10">ס֣וֹא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_11">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9531">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_12">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="1073741968" data-exlnk="0" id="M_17_4_13">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9534">־</span><span class="mila" data-lnk="3221225616" data-exlnk="0" id="M_17_4_14">הֶעֱלָ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_4_15">מִנְחָ֛ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_16">לְמֶ֥לֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_17">אַשּׁ֖וּר</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_4_18">כְּשָׁנָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_19">בְשָׁנָ֑ה</span>
<span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_17_4_20">וַֽיַּעְצְרֵ֙הוּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_21">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_22">אַשּׁ֔וּר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_4_23">וַיַּאַסְרֵ֖הוּ</span>
<span class="mila" data-lnk="1342177512" data-exlnk="0" id="M_17_4_24">בֵּ֥ית</span>
<span class="mila" data-lnk="2952790248" data-exlnk="0" id="M_17_4_25">כֶּֽלֶא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9547">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_5_1">וַיַּ֥עַל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_5_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9550">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_17_5_3">אַשּׁ֖וּר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_5_4">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9553">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_17_5_5">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_5_6">וַיַּ֙עַל֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_5_7">שֹׁמְר֔וֹן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_5_8">וַיָּ֥צַר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_5_9">עָלֶ֖יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_5_10">שָׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_5_11">שָׁנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9561">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_6_1">בִּשְׁנַ֨ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_6_2">הַתְּשִׁעִ֜ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_6_3">לְהוֹשֵׁ֗עַ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_6_4">לָכַ֤ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_6_5">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9567">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_6_6">אַשּׁוּר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_6_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9570">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_6_8">שֹׁ֣מְר֔וֹן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_6_9">וַיֶּ֥גֶל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_6_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9574">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_17_6_11">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="4026532011" data-exlnk="0" id="M_17_6_12">אַשּׁ֑וּרָה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_6_13">וַיֹּ֨שֶׁב</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_17_6_14">אוֹתָ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_6_15">בַּחְלַ֧ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_6_16">וּבְחָב֛וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_6_17">נְהַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_6_18">גּוֹזָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_6_19">וְעָרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_6_20">מָדָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9586">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9587"> פ </span>
</span>
<br /><span id="PS_17_7" data-pasuk-now="19"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9590">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_3">חָטְא֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9593">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_5">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_6">לַיהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_7">אֱלֹהֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_8">הַמַּעֲלֶ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_9">אֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_10">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_11">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_12">מִתַּ֕חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_13">יַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_14">פַּרְעֹ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_15">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9605">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_16">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_17">וַיִּֽירְא֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_18">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_7_19">אֲחֵרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9610">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_8" data-pasuk-now="13"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_1">וַיֵּֽלְכוּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_8_2">בְּחֻקּ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_3">הַגּוֹיִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_4">אֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_5">הוֹרִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_6">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_7">מִפְּנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_8">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_8_9">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="1073741964" data-exlnk="0" id="M_17_8_10">וּמַלְכֵ֥י</span>
<span class="mila" data-lnk="2147483788" data-exlnk="0" id="M_17_8_11">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_8_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_8_13">עָשֽׂוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9624">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_9" data-pasuk-now="20"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221225615" data-exlnk="0" id="M_17_9_1">וַיְחַפְּא֣וּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_9_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9627">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_17_9_3">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_9_4">דְּבָרִים֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_9_5">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3489661100" data-exlnk="0" id="M_17_9_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9632">־</span><span class="mila" data-lnk="2952790188" data-exlnk="0" id="M_17_9_7">כֵ֔ן</span>
<span class="mila" data-lnk="268435500" data-exlnk="0" id="M_17_9_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9635">־</span><span class="mila" data-lnk="805306412" data-exlnk="0" id="M_17_9_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_9_10">אֱלֹהֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_9_11">וַיִּבְנ֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_9_12">לָהֶ֤ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_9_13">בָּמוֹת֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_9_14">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9642">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_9_15">עָ֣רֵיהֶ֔ם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_9_16">מִמִּגְדַּ֥ל</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_9_17">נוֹצְרִ֖ים</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_9_18">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9647">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_17_9_19">עִ֥יר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_9_20">מִבְצָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9650">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_10" data-pasuk-now="12"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_10_1">וַיַּצִּ֧בוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_2">לָהֶ֛ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_3">מַצֵּב֖וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_4">וַאֲשֵׁרִ֑ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_5">עַ֚ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9657">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_7">גִּבְעָ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_8">גְבֹהָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_9">וְתַ֖חַת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9662">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_11">עֵ֥ץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_10_12">רַעֲנָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9665">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_17_11_1">וַיְקַטְּרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9667">־</span><span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_17_11_2">שָׁם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_11_3">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9670">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_11_4">בָּמ֔וֹת</span>
<span class="mila" data-lnk="4026532072" data-exlnk="0" id="M_17_11_5">כַּגּוֹיִ֕ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_11_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9674">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_11_7">הֶגְלָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_11_8">יְהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_11_9">מִפְּנֵיהֶ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_11_10">וַֽיַּעֲשׂוּ֙</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_17_11_11">דְּבָרִ֣ים</span>
<span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_17_11_12">רָעִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_11_13">לְהַכְעִ֖יס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_11_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9683">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_11_15">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9685">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_1">וַיַּעַבְד֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_2">הַגִּלֻּלִ֑ים</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_17_12_3">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_17_12_4">אָמַ֤ר</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_17_12_5">יְהוָה֙</span>
<span class="mila" data-lnk="3758096608" data-exlnk="0" id="M_17_12_6">לָהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_7">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_8">תַעֲשׂ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9695">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_10">הַדָּבָ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_12_11">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9698">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_13" data-pasuk-now="28"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532079" data-exlnk="0" id="M_17_13_1">וַיָּ֣עַד</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_13_2">יְהוָ֡ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_13_3">בְּיִשְׂרָאֵ֣ל</span>
<span class="mila" data-lnk="805306408" data-exlnk="0" id="M_17_13_4">וּבִיהוּדָ֡ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_13_5">בְּיַד֩</span>
<span class="mila" data-lnk="805306414" data-exlnk="0" id="M_17_13_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9705">־</span><span data-lnk="0" data-exlnk="0" id="M_17_13_7" class="mila ktiv">נְבִיאֵ֨ו</span>
<span data-lnk="3221225615" data-exlnk="0" id="M_17_13_7_K" class="mila kri">נְבִיאֵ֨י</span>
<span class="mila" data-lnk="805306415" data-exlnk="0" id="M_17_13_8">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9709">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_17_13_9">חֹזֶ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_10">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_13_11">שֻׁ֠֜בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_12">מִדַּרְכֵיכֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_13">הָֽרָעִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_14">וְשִׁמְרוּ֙</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_17_13_15">מִצְוֺתַ֣י</span>
<span class="mila" data-lnk="2952790176" data-exlnk="0" id="M_17_13_16">חֻקּוֹתַ֔י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_17_13_17">כְּכָ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9719">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_18">הַתּוֹרָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_19">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_20">צִוִּ֖יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_21">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9724">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_13_22">אֲבֹתֵיכֶ֑ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_13_23">וַֽאֲשֶׁר֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_13_24">שָׁלַ֣חְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_25">אֲלֵיכֶ֔ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_13_26">בְּיַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_13_27">עֲבָדַ֥י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_17_13_28">הַנְּבִיאִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9732">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_14_1">וְלֹ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_14_2">שָׁמֵ֑עוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_14_3">וַיַּקְשׁ֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_14_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9737">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_14_5">עָרְפָּם֙</span>
<span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_17_14_6">כְּעֹ֣רֶף</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_14_7">אֲבוֹתָ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_14_8">אֲשֶׁר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_14_9">לֹ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_14_10">הֶאֱמִ֔ינוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_14_11">בַּיהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_14_12">אֱלֹהֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9746">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_15" data-pasuk-now="29"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_1">וַיִּמְאֲס֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9749">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_3">חֻקָּ֗יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9752">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_5">בְּרִיתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_7">כָּרַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9757">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_9">אֲבוֹתָ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_10">וְאֵת֙</span>
<span class="mila" data-lnk="4026532008" data-exlnk="0" id="M_17_15_11">עֵֽדְוֺתָ֔יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_13">הֵעִ֖יד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_14">בָּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_15">וַיֵּ֨לְכ֜וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_16">אַחֲרֵ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_15_17">הַהֶ֙בֶל֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_15_18">וַיֶּהְבָּ֔לוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_19">וְאַחֲרֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_20">הַגּוֹיִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_21">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_17_15_22">סְבִיבֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_23">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_24">צִוָּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_25">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_26">אֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_27">לְבִלְתִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_15_28">עֲשׂ֥וֹת</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_15_29">כָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9779">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_16" data-pasuk-now="20"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_1">וַיַּעַזְב֗וּ</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_17_16_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9782">־</span><span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_17_16_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9784">־</span><span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_17_16_4">מִצְוֺת֙</span>
<span class="mila" data-lnk="3758096544" data-exlnk="0" id="M_17_16_5">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_6">אֱלֹהֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_7">וַיַּעֲשׂ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_8">לָהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_9">מַסֵּכָ֖ה</span>
<span data-lnk="0" data-exlnk="0" id="M_17_16_10" class="mila ktiv">שְׁנֵ֣ים</span>
<span data-lnk="3221225603" data-exlnk="0" id="M_17_16_10_K" class="mila kri">שְׁנֵ֣י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_16_11">עֲגָלִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_12">וַיַּעֲשׂ֣וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_16_13">אֲשֵׁירָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_14">וַיִּֽשְׁתַּחֲווּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_15">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9798">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_16">צְבָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_17">הַשָּׁמַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_16_18">וַיַּעַבְד֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_17_16_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9803">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_17_16_20">הַבָּֽעַל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9805">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_17" data-pasuk-now="15"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_17_17_1">וַֽ֠יַּעֲבִירוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9808">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_3">בְּנֵיהֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9811">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_5">בְּנֽוֹתֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_6">בָּאֵ֔שׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_17_7">וַיִּקְסְמ֥וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_17_8">קְסָמִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_17_9">וַיְנַחֵ֑שׁוּ</span>
<span class="mila" data-lnk="3221225607" data-exlnk="0" id="M_17_17_10">וַיִּֽתְמַכְּר֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_11">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_12">הָרַ֛ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_13">בְּעֵינֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_14">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_17_15">לְהַכְעִיסֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9823">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_18" data-pasuk-now="13"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_1">וַיִּתְאַנַּ֨ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_2">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_3">מְאֹד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_4">בְּיִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="4026532003" data-exlnk="0" id="M_17_18_5">וַיְסִרֵ֖ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_18_6">מֵעַ֣ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_18_7">פָּנָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_8">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_9">נִשְׁאַ֔ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_18_10">רַ֛ק</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_18_11">שֵׁ֥בֶט</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_18_12">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_18_13">לְבַדּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9837">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_19" data-pasuk-now="13"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="3221225616" data-exlnk="0" id="M_17_19_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9839">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_17_19_2">יְהוּדָ֕ה</span>
<span class="mila" data-lnk="268435504" data-exlnk="0" id="M_17_19_3">לֹ֣א</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_19_4">שָׁמַ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9844">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_6">מִצְוֺ֖ת</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_17_19_7">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_8">אֱלֹהֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_9">וַיֵּ֣לְכ֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_10">בְּחֻקּ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_11">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_13">עָשֽׂוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9853">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_20" data-pasuk-now="13"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_1">וַיִּמְאַ֨ס</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_20_2">יְהוָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_3">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9857">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_4">זֶ֤רַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_5">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_17_20_6">וַיְעַנֵּ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_20_7">וַֽיִּתְּנֵ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_20_8">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9863">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_20_9">שֹׁסִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_10">עַ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_17_20_12">הִשְׁלִיכָ֖ם</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_20_13">מִפָּנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9869">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_21" data-pasuk-now="20"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_21_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9871">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_17_21_2">קָרַ֣ע</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_21_3">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_4">מֵעַל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_5">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_6">דָּוִ֔ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_7">וַיַּמְלִ֖יכוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9879">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_9">יָרָבְעָ֣ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_10">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9882">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_11">נְבָ֑ט</span>
<span data-lnk="0" data-exlnk="0" id="M_17_21_12" class="mila ktiv">וַיַּדַּ֨א</span>
<span data-lnk="4026532076" data-exlnk="0" id="M_17_21_12_K" class="mila kri">וַיַּדַּ֨ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_13">יָרָבְעָ֤ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9888">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_15">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_16">מֵאַחֲרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_17">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_18">וְהֶחֱטִיאָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_19">חֲטָאָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_20">גְדוֹלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9895">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_22" data-pasuk-now="11"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_1">וַיֵּֽלְכוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_3">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_4">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9900">־</span><span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_17_22_5">חַטֹּ֥אות</span>
<span class="mila" data-lnk="3758096544" data-exlnk="0" id="M_17_22_6">יָרָבְעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_8">עָשָׂ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9906">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_10">סָ֖רוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_11">מִמֶּֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9909">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_23" data-pasuk-now="22"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_1">עַ֠ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9912">־</span><span class="mila" data-lnk="805306400" data-exlnk="0" id="M_17_23_3">הֵסִ֨יר</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_17_23_4">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9916">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_6">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_7">מֵעַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_8">פָּנָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_9">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_10">דִּבֶּ֔ר</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_17_23_11">בְּיַ֖ד</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_17_23_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9924">־</span><span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_17_23_13">עֲבָדָ֣יו</span>
<span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_17_23_14">הַנְּבִיאִ֑ים</span>
<span class="mila" data-lnk="4026532067" data-exlnk="0" id="M_17_23_15">וַיִּ֨גֶל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_23_16">יִשְׂרָאֵ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_17">מֵעַ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_18">אַדְמָתוֹ֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_23_19">אַשּׁ֔וּרָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_20">עַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_21">הַיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_22">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9936">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9937"> פ </span>
</span>
<br /><span id="PS_17_24" data-pasuk-now="19"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="805306408" data-exlnk="0" id="M_17_24_1">וַיָּבֵ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_24_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9940">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_24_3">אַשּׁ֡וּר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_24_4">מִבָּבֶ֡ל</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_24_5">וּ֠מִכּוּתָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_6">וּמֵעַוָּ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_7">וּמֵֽחֲמָת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_8">וּסְפַרְוַ֔יִם</span>
<span class="mila" data-lnk="4026532068" data-exlnk="0" id="M_17_24_9">וַיֹּ֙שֶׁב֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_24_10">בְּעָרֵ֣י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_24_11">שֹׁמְר֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_12">תַּ֖חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_13">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_14">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_17_24_15">וַיִּֽרְשׁוּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_24_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9955">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_17_24_17">שֹׁ֣מְר֔וֹן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_24_18">וַיֵּשְׁב֖וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_24_19">בְּעָרֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9959">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_25" data-pasuk-now="16"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_25_2">בִּתְחִלַּת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_3">שִׁבְתָּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_4">שָׁ֔ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_25_5">לֹ֥א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_25_6">יָרְא֖וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_25_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9967">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_17_25_8">יְהוָ֑ה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_25_9">וַיְשַׁלַּ֨ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_10">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_11">בָּהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9973">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_13">הָ֣אֲרָי֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_14">וַיִּהְי֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_15">הֹרְגִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_16">בָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9978">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_26" data-pasuk-now="30"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_1">וַיֹּאמְר֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_2">לְמֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_3">אַשּׁוּר֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_4">לֵאמֹר֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_5">הַגּוֹיִ֗ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_26_6">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_26_7">הִגְלִ֙יתָ֙</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_26_8">וַתּ֙וֹשֶׁב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_9">בְּעָרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_10">שֹׁמְר֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_11">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_12">יָדְע֔וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_26_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9992">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_17_26_14">מִשְׁפַּ֖ט</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_26_15">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_26_16">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_26_17">וַיְשַׁלַּח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9997">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_18">בָּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10000">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_20">הָאֲרָי֗וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_21">וְהִנָּם֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_26_22">מְמִיתִ֣ים</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_17_26_23">אוֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_24">כַּֽאֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_25">אֵינָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_26">יֹדְעִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_27">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10009">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_28">מִשְׁפַּ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_29">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_30">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_27" data-pasuk-now="19"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_1">וַיְצַ֨ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10016">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_3">אַשּׁ֜וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_4">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_27_5">הֹלִ֤יכוּ</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_17_27_6">שָׁ֙מָּה֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_27_7">אֶחָ֤ד</span>
<span class="mila" data-lnk="4026532012" data-exlnk="0" id="M_17_27_8">מֵהַכֹּֽהֲנִים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_27_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_27_10">הִגְלִיתֶ֣ם</span>
<span class="mila" data-lnk="536870952" data-exlnk="0" id="M_17_27_11">מִשָּׁ֔ם</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_27_12">וְיֵלְכ֖וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_27_13">וְיֵ֣שְׁבוּ</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_17_27_14">שָׁ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_27_15">וְיֹרֵ֕ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_27_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10031">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_17_27_17">מִשְׁפַּ֖ט</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_27_18">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_27_19">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10035">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_28" data-pasuk-now="16"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_1">וַיָּבֹ֞א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_2">אֶחָ֣ד</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_17_28_3">מֵהַכֹּהֲנִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_4">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_5">הִגְלוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_6">מִשֹּׁ֣מְר֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_7">וַיֵּ֖שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_8">בְּבֵֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10044">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_9">אֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_28_10">וַֽיְהִי֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_17_28_11">מוֹרֶ֣ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_28_12">אֹתָ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_28_13">אֵ֖יךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_28_14">יִֽירְא֥וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_28_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10052">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_17_28_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10054">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_29" data-pasuk-now="18"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_29_1">וַיִּהְי֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_29_2">עֹשִׂ֔ים</span>
<span class="mila" data-lnk="1342177449" data-exlnk="0" id="M_17_29_3">גּ֥וֹי</span>
<span class="mila" data-lnk="3758096553" data-exlnk="0" id="M_17_29_4">גּ֖וֹי</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_17_29_5">אֱלֹהָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_29_6">וַיַּנִּ֣יחוּ׀</span>
<span class="mila" data-lnk="1342177448" data-exlnk="0" id="M_17_29_7">בְּבֵ֣ית</span>
<span class="mila" data-lnk="2684354732" data-exlnk="0" id="M_17_29_8">הַבָּמ֗וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_29_9">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_29_10">עָשׂוּ֙</span>
<span class="mila" data-lnk="3221225615" data-exlnk="0" id="M_17_29_11">הַשֹּׁ֣מְרֹנִ֔ים</span>
<span class="mila" data-lnk="1073741959" data-exlnk="0" id="M_17_29_12">גּ֥וֹי</span>
<span class="mila" data-lnk="2147483782" data-exlnk="0" id="M_17_29_13">גּוֹי֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_29_14">בְּעָ֣רֵיהֶ֔ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_29_15">אֲשֶׁ֛ר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_29_16">הֵ֥ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_29_17">יֹשְׁבִ֖ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_29_18">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10073">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_30" data-pasuk-now="16"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_30_1">וְאַנְשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_30_2">בָבֶ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_30_3">עָשׂוּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_30_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10078">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_17_30_5">סֻכּ֣וֹת</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_30_6">בְּנ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_30_7">וְאַ֨נְשֵׁי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10082">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_30_8">כ֔וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_30_9">עָשׂ֖וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_30_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10086">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_17_30_11">נֵרְגַ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_30_12">וְאַנְשֵׁ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_30_13">חֲמָ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_30_14">עָשׂ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_30_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10092">־</span><span class="mila" data-lnk="3221225607" data-exlnk="0" id="M_17_30_16">אֲשִׁימָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10094">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_31" data-pasuk-now="14"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_31_1">וְהָעַוִּ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_31_2">עָשׂ֥וּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_31_3">נִבְחַ֖ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_31_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10099">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_17_31_5">תַּרְתָּ֑ק</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_31_6">וְהַסְפַרְוִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_31_7">שֹׂרְפִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_31_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10104">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_31_9">בְּנֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_31_10">בָּאֵ֔שׁ</span>
<span class="mila" data-lnk="3221225607" data-exlnk="0" id="M_17_31_11">לְאַדְרַמֶּ֥לֶךְ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_31_12">וַֽעֲנַמֶּ֖לֶךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_17_31_13" class="mila ktiv">אֱלֹהֵ֥</span>
<span data-lnk="3221225600" data-exlnk="0" id="M_17_31_13_K" class="mila kri">אֱלֹהֵ֥י</span>
<span data-lnk="0" data-exlnk="0" id="M_17_31_14" class="mila ktiv">סְפַרֳֽיִם</span>
<span data-lnk="0" data-exlnk="0" id="M_17_31_14_K" class="mila kri">סְפַרְוָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10113">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_32" data-pasuk-now="14"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_32_1">וַיִּהְי֥וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_32_2">יְרֵאִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_32_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10117">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_32_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_32_5">וַיַּעֲשׂ֨וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_32_6">לָהֶ֤ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_32_7">מִקְצוֹתָם֙</span>
<span class="mila" data-lnk="805306408" data-exlnk="0" id="M_17_32_8">כֹּהֲנֵ֣י</span>
<span class="mila" data-lnk="805306408" data-exlnk="0" id="M_17_32_9">בָמ֔וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_32_10">וַיִּהְי֛וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_32_11">עֹשִׂ֥ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_32_12">לָהֶ֖ם</span>
<span class="mila" data-lnk="268435492" data-exlnk="0" id="M_17_32_13">בְּבֵ֥ית</span>
<span class="mila" data-lnk="805306404" data-exlnk="0" id="M_17_32_14">הַבָּמֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10129">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_33" data-pasuk-now="14"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_17_33_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10131">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_17_33_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_33_3">הָי֣וּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_33_4">יְרֵאִ֑ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_33_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10136">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_17_33_6">אֱלֹֽהֵיהֶם֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_33_7">הָי֣וּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_33_8">עֹֽבְדִ֔ים</span>
<span class="mila" data-lnk="4026532015" data-exlnk="0" id="M_17_33_9">כְּמִשְׁפַּט֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_33_10">הַגּוֹיִ֔ם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_33_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10143">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_17_33_12">הִגְל֥וּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_33_13">אֹתָ֖ם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_33_14">מִשָּֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10147">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_34" data-pasuk-now="27"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_17_34_1">עַ֣ד</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_17_34_2">הַיּ֤וֹם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_17_34_3">הַזֶּה֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_34_4">הֵ֣ם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_17_34_5">עֹשִׂ֔ים</span>
<span class="mila" data-lnk="3221225613" data-exlnk="0" id="M_17_34_6">כַּמִּשְׁפָּטִ֖ים</span>
<span class="mila" data-lnk="2952790188" data-exlnk="0" id="M_17_34_7">הָרִאשֹׁנִ֑ים</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_34_8">אֵינָ֤ם</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_34_9">יְרֵאִים֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_34_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10158">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_17_34_11">יְהוָ֔ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_34_12">וְאֵינָ֣ם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_34_13">עֹשִׂ֗ים</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_34_14">כְּחֻקֹּתָם֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_34_15">וּכְמִשְׁפָּטָ֔ם</span>
<span class="mila" data-lnk="4026532006" data-exlnk="0" id="M_17_34_16">וְכַתּוֹרָ֣ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_34_17">וְכַמִּצְוָ֗ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_34_18">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_34_19">צִוָּ֤ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_34_20">יְהוָה֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_34_21">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10170">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_17_34_22">בְּנֵ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_34_23">יַעֲקֹ֔ב</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_34_24">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10174">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_17_34_25">שָׂ֥ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_34_26">שְׁמ֖וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_34_27">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10178">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_35" data-pasuk-now="18"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_17_35_1">וַיִּכְרֹ֨ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_2">יְהוָ֤ה</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_17_35_3">אִתָּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_4">בְּרִ֔ית</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_35_5">וַיְצַוֵּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_6">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="3489661088" data-exlnk="0" id="M_17_35_7">לֹ֥א</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_17_35_8">תִֽירְא֖וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_35_9">אֱלֹהִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_10">אֲחֵרִ֑ים</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_17_35_11">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10190">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_12">תִשְׁתַּחֲו֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_13">לָהֶ֔ם</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_17_35_14">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_15">תַעַבְד֔וּם</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_17_35_16">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_17">תִזְבְּח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_35_18">לָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10198">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_36" data-pasuk-now="19"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_1">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_2">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10201">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10203">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_5">אֲשֶׁר֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_6">הֶעֱלָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_7">אֶתְכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_8">מֵאֶ֧רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_9">מִצְרַ֛יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_10">בְּכֹ֧חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_11">גָּד֛וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_12">וּבִזְר֥וֹעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_13">נְטוּיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_14">אֹת֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_15">תִירָ֑אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_16">וְל֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_17">תִֽשְׁתַּחֲו֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_18">וְל֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_36_19">תִזְבָּֽחוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10220">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_37" data-pasuk-now="17"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_17_37_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10222">־</span><span class="mila" data-lnk="3758096608" data-exlnk="0" id="M_17_37_2">הַחֻקִּ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_37_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10225">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_37_4">הַמִּשְׁפָּטִ֜ים</span>
<span class="mila" data-lnk="3489661152" data-exlnk="0" id="M_17_37_5">וְהַתּוֹרָ֤ה</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_17_37_6">וְהַמִּצְוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_37_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_37_8">כָּתַ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_37_9">לָכֶ֔ם</span>
<span class="mila" data-lnk="4026532072" data-exlnk="0" id="M_17_37_10">תִּשְׁמְר֥וּן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_37_11">לַעֲשׂ֖וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_37_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10235">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_37_13">הַיָּמִ֑ים</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_17_37_14">וְלֹ֥א</span>
<span class="mila" data-lnk="2684354720" data-exlnk="0" id="M_17_37_15">תִֽירְא֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_37_16">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_37_17">אֲחֵרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10241">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_38" data-pasuk-now="10"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_38_1">וְהַבְּרִ֛ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_38_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10244">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_38_3">כָּרַ֥תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_38_4">אִתְּכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_38_5">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_38_6">תִשְׁכָּ֑חוּ</span>
<span class="mila" data-lnk="3489661088" data-exlnk="0" id="M_17_38_7">וְלֹ֥א</span>
<span class="mila" data-lnk="2952790176" data-exlnk="0" id="M_17_38_8">תִֽירְא֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_38_9">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_38_10">אֲחֵרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10253">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_39" data-pasuk-now="12"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_1">כִּ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_2">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10256">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10258">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_4">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_5">אֱלֹהֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_6">תִּירָ֑אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_7">וְהוּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_8">יַצִּ֣יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_39_9">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_39_10">מִיַּ֖ד</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_17_39_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10267">־</span><span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_17_39_12">אֹיְבֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10269">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_40" data-pasuk-now="8"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_40_1">וְלֹ֖א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_40_2">שָׁמֵ֑עוּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_40_3">כִּ֛י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_40_4">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10274">־</span><span class="mila" data-lnk="3221225612" data-exlnk="0" id="M_17_40_5">כְּמִשְׁפָּטָ֥ם</span>
<span class="mila" data-lnk="2952790188" data-exlnk="0" id="M_17_40_6">הָֽרִאשׁ֖וֹן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_40_7">הֵ֥ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_17_40_8">עֹשִֽׂים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10279">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_41" data-pasuk-now="22"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_41_1">וַיִּהְי֣וּ׀</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_41_2">הַגּוֹיִ֣ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_41_3">הָאֵ֗לֶּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_41_4">יְרֵאִים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_41_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10285">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_17_41_6">יְהוָ֔ה</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_41_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10288">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_17_41_8">פְּסִֽילֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_9">הָי֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_10">עֹֽבְדִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_11">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10293">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_12">בְּנֵיהֶ֣ם׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_13">וּבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_14">בְנֵיהֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_15">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_16">עָשׂ֤וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_17_41_17">אֲבֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_18">הֵ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_19">עֹשִׂ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_20">עַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_21">הַיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_41_22">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10306">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10307"> פ </span>
</span>
<br /></p>