<p id="PR_24" data-perek-now="312" data-perek-nops="20"><span class="perek-header">פרק כד</span>
<br /><span id="PS_24_1" data-pasuk-now="14"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_1">בְּיָמָ֣יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_2">עָלָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_3">נְבֻכַדְנֶאצַּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_4">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_5">בָּבֶ֑ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_6">וַיְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14198">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_7">ל֨וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_8">יְהוֹיָקִ֥ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_9">עֶ֙בֶד֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_10">שָׁלֹ֣שׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_11">שָׁנִ֔ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_12">וַיָּ֖שָׁב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_13">וַיִּמְרָד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14206">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_24_1_14">בּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14208">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_2" data-pasuk-now="26"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_24_2_1">וַיְשַׁלַּ֣ח</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_2">יְהוָ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="14211">׀</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_3">בּ֡וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14214">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_5">גְּדוּדֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_6">כַשְׂדִּים֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14218">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_8">גְּדוּדֵ֨י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_9">אֲרָ֜ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_10">וְאֵ֣ת׀</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_11">גְּדוּדֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_12">מוֹאָ֗ב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_13">וְאֵת֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_14">גְּדוּדֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_15">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14227">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_16">עַמּ֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_17">וַיְשַׁלְּחֵ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_18">בִּיהוּדָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_2_19">לְהַאֲבִיד֑וֹ</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_24_2_20">כִּדְבַ֣ר</span>
<span class="mila" data-lnk="3758096544" data-exlnk="0" id="M_24_2_21">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_22">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_23">דִּבֶּ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_24">בְּיַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_25">עֲבָדָ֥יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_2_26">הַנְּבִיאִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14239">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_24_3_1">אַ֣ךְ׀</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_24_3_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14242">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_24_3_3">פִּ֣י</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_24_3_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_24_3_5">הָֽיְתָה֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_24_3_6">בִּֽיהוּדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_7">לְהָסִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_8">מֵעַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_9">פָּנָ֑יו</span>
<span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_24_3_10">בְּחַטֹּ֣את</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_3_11">מְנַשֶּׁ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_12">כְּכֹ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_13">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_14">עָשָֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14255">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_1">וְגַ֤ם</span>
<span class="mila" data-lnk="1342177512" data-exlnk="0" id="M_24_4_2">דַּֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14258">־</span><span class="mila" data-lnk="4026532072" data-exlnk="0" id="M_24_4_3">הַנָּקִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_24_4_5">שָׁפָ֔ךְ</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_24_4_6">וַיְמַלֵּ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14264">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_8">יְרוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_9">דָּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_10">נָקִ֑י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_24_4_11">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14269">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_24_4_12">אָבָ֥ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_24_4_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026532024" data-exlnk="0" id="M_24_4_14">לִסְלֹֽחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14273">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_5" data-pasuk-now="15"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_24_5_1">וְיֶ֛תֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_2">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_3">יְהוֹיָקִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14278">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_5">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_6">עָשָׂ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_7">הֲלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14282">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_8">הֵ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_9">כְּתוּבִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14286">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_11">סֵ֛פֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_12">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_5_13">הַיָּמִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_5_14">לְמַלְכֵ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_5_15">יְהוּדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14292">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_24_6_1">וַיִּשְׁכַּ֥ב</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_24_6_2">יְהוֹיָקִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_6_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14296">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_24_6_4">אֲבֹתָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_5">וַיִּמְלֹ֛ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_6">יְהוֹיָכִ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_7">בְּנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_8">תַּחְתָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14302">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_7" data-pasuk-now="21"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_7_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14304">־</span><span class="mila" data-lnk="3221225612" data-exlnk="0" id="M_24_7_2">הֹסִ֥יף</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_7_3">עוֹד֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_7_4">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_7_5">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_7_6">לָצֵ֖את</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_7_7">מֵֽאַרְצ֑וֹ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_7_8">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14312">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_24_7_9">לָקַ֞ח</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_7_10">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_7_11">בָּבֶ֗ל</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_24_7_12">מִנַּ֤חַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_13">מִצְרַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_14">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14319">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_15">נְהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14321">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_16">פְּרָ֔ת</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_24_7_17">כֹּ֛ל</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_24_7_18">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_24_7_19">הָיְתָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_20">לְמֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_21">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14329">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="14330"> פ </span>
</span>
<br /><span id="PS_24_8" data-pasuk-now="16"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_8_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14332">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_24_8_2">שְׁמֹנֶ֨ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_8_3">עֶשְׂרֵ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_4">שָׁנָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_5">יְהוֹיָכִ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_6">בְּמָלְכ֔וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_8_7">וּשְׁלֹשָׁ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_8_8">חֳדָשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_9">מָלַ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_10">בִּירֽוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_11">וְשֵׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_12">אִמּ֔וֹ</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_24_8_13">נְחֻשְׁתָּ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_14">בַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14346">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_15">אֶלְנָתָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_16">מִירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14349">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_9" data-pasuk-now="8"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_2">הָרַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_3">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_5">כְּכֹ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14356">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_7">עָשָׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_8">אָבִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14359">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_10_1">בָּעֵ֣ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_10_2">הַהִ֔יא</span>
<span data-lnk="0" data-exlnk="0" id="M_24_10_3" class="mila ktiv">עָלֻ֗ה</span>
<span data-lnk="3221225604" data-exlnk="0" id="M_24_10_3_K" class="mila kri">עָל֗וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_10_4">עַבְדֵ֛י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_10_5">נְבֻכַדְנֶאצַּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_6">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14367">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_7">בָּבֶ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_8">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_9">וַתָּבֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_10_10">הָעִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_11">בַּמָּצֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14373">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_11" data-pasuk-now="9"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_1">וַיָּבֹ֛א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_2">נְבֻכַדְנֶאצַּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_3">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14377">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_4">בָּבֶ֖ל</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_24_11_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14380">־</span><span class="mila" data-lnk="2684354720" data-exlnk="0" id="M_24_11_6">הָעִ֑יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_7">וַעֲבָדָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_8">צָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_9">עָלֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14385">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_12" data-pasuk-now="19"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_12_1">וַיֵּצֵ֞א</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_12_2">יְהוֹיָכִ֤ין</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_12_3">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14389">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_12_4">יְהוּדָה֙</span>
<span class="mila" data-lnk="4026532090" data-exlnk="0" id="M_24_12_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14392">־</span><span class="mila" data-lnk="3758096638" data-exlnk="0" id="M_24_12_6">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_24_12_7">בָּבֶ֔ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_12_8">ה֣וּא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_12_9">וְאִמּ֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_12_10">וַעֲבָדָ֖יו</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_12_11">וְשָׂרָ֣יו</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_12_12">וְסָרִיסָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_13">וַיִּקַּ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_14">אֹתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_15">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_16">בָּבֶ֔ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_12_17">בִּשְׁנַ֥ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_12_18">שְׁמֹנֶ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_12_19">לְמָלְכֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14407">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_13" data-pasuk-now="25"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_24_13_1">וַיּוֹצֵ֣א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_13_2">מִשָּׁ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_13_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14411">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_13_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14413">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_13_5">אֽוֹצְרוֹת֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_13_6">בֵּ֣ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_13_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_24_13_8">וְאוֹצְר֖וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_13_9">בֵּ֣ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_13_10">הַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_13_11">וַיְקַצֵּ֞ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14422">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14424">־</span><span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_24_13_14">כְּלֵ֣י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_24_13_15">הַזָּהָ֗ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_16">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_13_17">עָשָׂ֜ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_13_18">שְׁלֹמֹ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_19">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14431">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_20">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_21">בְּהֵיכַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_22">יְהוָ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_13_23">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_13_24">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_24_13_25">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14438">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_14" data-pasuk-now="23"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_14_1">וְהִגְלָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14441">־</span><span class="mila" data-lnk="805306400" data-exlnk="0" id="M_24_14_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14443">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_4">יְ֠רוּשָׁלִַם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_5">וְֽאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14446">־</span><span class="mila" data-lnk="536870944" data-exlnk="0" id="M_24_14_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14448">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_7">הַשָּׂרִ֞ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_8">וְאֵ֣ת׀</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_24_14_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14452">־</span><span class="mila" data-lnk="1879048356" data-exlnk="0" id="M_24_14_10">גִּבּוֹרֵ֣י</span>
<span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_24_14_11">הַחַ֗יִל</span>
<span data-lnk="0" data-exlnk="0" id="M_24_14_12" class="mila ktiv">עֲשֶׂ֤רֶה</span>
<span data-lnk="3221225604" data-exlnk="0" id="M_24_14_12_K" class="mila kri">עֲשֶׂ֤רֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_14_13">אֲלָפִים֙</span>
<span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_24_14_14">גּוֹלֶ֔ה</span>
<span class="mila" data-lnk="1610612908" data-exlnk="0" id="M_24_14_15">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14460">־</span><span class="mila" data-lnk="3221225615" data-exlnk="0" id="M_24_14_16">הֶחָרָ֖שׁ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_14_17">וְהַמַּסְגֵּ֑ר</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_24_14_18">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_19">נִשְׁאַ֔ר</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_24_14_20">זוּלַ֖ת</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_24_14_21">דַּלַּ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_22">עַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14468">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_23">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14470">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_15" data-pasuk-now="19"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_1">וַיֶּ֥גֶל</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_15_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14473">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_3">יְהוֹיָכִ֖ין</span>
<span class="mila" data-lnk="805306404" data-exlnk="0" id="M_24_15_4">בָּבֶ֑לָה</span>
<span class="mila" data-lnk="1073741967" data-exlnk="0" id="M_24_15_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14477">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_24_15_6">אֵ֣ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_15_7">הַ֠מֶּלֶךְ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_15_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14481">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_9">נְשֵׁ֨י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_15_10">הַמֶּ֜לֶךְ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_15_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14485">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_12">סָרִיסָ֗יו</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_15_13">וְאֵת֙</span>
<span data-lnk="0" data-exlnk="0" id="M_24_15_14" class="mila ktiv">אֵולֵ֣י</span>
<span data-lnk="3221225615" data-exlnk="0" id="M_24_15_14_K" class="mila kri">אֵילֵ֣י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_15_15">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_15_16">הוֹלִ֛יךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_15_17">גּוֹלָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_18">מִירוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_15_19">בָּבֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14495">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_16" data-pasuk-now="18"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_16_1">וְאֵת֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_16_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14498">־</span><span class="mila" data-lnk="4026532008" data-exlnk="0" id="M_24_16_3">אַנְשֵׁ֨י</span>
<span class="mila" data-lnk="4026532008" data-exlnk="0" id="M_24_16_4">הַחַ֜יִל</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_16_5">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_16_6">אֲלָפִ֗ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_16_7">וְהֶחָרָ֤שׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_16_8">וְהַמַּסְגֵּר֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_16_9">אֶ֔לֶף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_16_10">הַכֹּ֕ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_16_11">גִּבּוֹרִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_16_12">עֹשֵׂ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_16_13">מִלְחָמָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_14">וַיְבִיאֵ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_15">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14512">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_16">בָּבֶ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_17">גּוֹלָ֖ה</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_24_16_18">בָּבֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14516">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_17" data-pasuk-now="11"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_24_17_1">וַיַּמְלֵ֧ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14519">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_3">בָּבֶ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14522">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_5">מַתַּנְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_6">דֹד֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_7">תַּחְתָּ֑יו</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_24_17_8">וַיַּסֵּ֥ב</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_24_17_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14528">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_24_17_10">שְׁמ֖וֹ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_24_17_11">צִדְקִיָּֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14532">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="14533"> פ </span>
</span>
<br /><span id="PS_24_18" data-pasuk-now="17"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_18_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14535">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_24_18_2">עֶשְׂרִ֨ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_18_3">וְאַחַ֤ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_18_4">שָׁנָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_18_5">צִדְקִיָּ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_6">בְמָלְכ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_7">וְאַחַ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_8">עֶשְׂרֵה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_9">שָׁנָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_10">מָלַ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_11">בִּירוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_12">וְשֵׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_13">אִמּ֔וֹ</span>
<span data-lnk="0" data-exlnk="0" id="M_24_18_14" class="mila ktiv">חֲמיּטַ֥ל</span>
<span data-lnk="3221225600" data-exlnk="0" id="M_24_18_14_K" class="mila kri">חֲמוּטַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_15">בַּֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14551">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_16">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_17">מִלִּבְנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14554">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_1">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_2">הָרַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_3">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_5">כְּכֹ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14561">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_7">עָשָׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_8">יְהוֹיָקִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14564">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_20" data-pasuk-now="16"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_20_1">כִּ֣י׀</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_20_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14567">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_24_20_3">אַ֣ף</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_20_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_20_5">הָיְתָ֤ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_20_6">בִירוּשָׁלִַם֙</span>
<span class="mila" data-lnk="4026532008" data-exlnk="0" id="M_24_20_7">וּבִ֣יהוּדָ֔ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_20_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14574">־</span><span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_24_20_9">הִשְׁלִכ֥וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_10">אֹתָ֖ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_20_11">מֵעַ֣ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_12">פָּנָ֑יו</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_24_20_13">וַיִּמְרֹ֥ד</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_20_14">צִדְקִיָּ֖הוּ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_20_15">בְּמֶ֥לֶךְ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_20_16">בָּבֶֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14584">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="14585">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>