<p id="PR_8" data-perek-now="299" data-perek-nops="23"><span class="perek-header">פרק ח</span>
<br /><span id="PS_8_1" data-pasuk-now="15"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_8_1_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_8_1_2">יְהוָה֙</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_8_1_3">אֵלַ֔י</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_8_1_4">קַח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2261">־</span><span class="mila" data-lnk="98" data-exlnk="0" id="M_8_1_5">לְךָ֖</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_8_1_6">גִּלָּי֣וֹן</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_8_1_7">גָּד֑וֹל</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_1_8">וּכְתֹ֤ב</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_8_1_9">עָלָיו֙</span>
<span class="mila" data-lnk="3221226047" data-exlnk="0" id="M_8_1_10">בְּחֶ֣רֶט</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_8_1_11">אֱנ֔וֹשׁ</span>
<span class="mila" data-lnk="4026532569" data-exlnk="0" id="M_8_1_12">לְמַהֵ֥ר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_1_13">שָׁלָ֖ל</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_8_1_14">חָ֥שׁ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_1_15">בַּֽז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2273">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_2" data-pasuk-now="11"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532509" data-exlnk="0" id="M_8_2_1">וְאָעִ֣ידָה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_8_2_2">לִּ֔י</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_8_2_3">עֵדִ֖ים</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_8_2_4">נֶאֱמָנִ֑ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_2_5">אֵ֚ת</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_8_2_6">אוּרִיָּ֣ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_8_2_7">הַכֹּהֵ֔ן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_8_2_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2282">־</span><span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_8_2_9">זְכַרְיָ֖הוּ</span>
<span class="mila" data-lnk="4026532491" data-exlnk="0" id="M_8_2_10">בֶּ֥ן</span>
<span class="mila" data-lnk="3221225995" data-exlnk="0" id="M_8_2_11">יְבֶרֶכְיָֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2286">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_8_3_1">וָֽאֶקְרַב֙</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_8_3_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2289">־</span><span class="mila" data-lnk="126" data-exlnk="0" id="M_8_3_3">הַנְּבִיאָ֔ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_8_3_4">וַתַּ֖הַר</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_8_3_5">וַתֵּ֣לֶד</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="2293">בֵּ֑ן</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_8_3_6">   ס </span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_3_7">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_8_3_8">יְהוָה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_3_9">אֵלַ֔י</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_8_3_10">קְרָ֣א</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_8_3_11">שְׁמ֔וֹ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_3_12">מַהֵ֥ר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_3_13">שָׁלָ֖ל</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_3_14">חָ֥שׁ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_3_15">בַּֽז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2305">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_8_4" data-pasuk-now="17"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_8_4_1">כִּ֗י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_8_4_2">בְּטֶ֙רֶם֙</span>
<span class="mila" data-lnk="805306538" data-exlnk="0" id="M_8_4_3">יֵדַ֣ע</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_8_4_4">הַנַּ֔עַר</span>
<span class="mila" data-lnk="4026532778" data-exlnk="0" id="M_8_4_5">קְרֹ֖א</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_8_4_6">אָבִ֣י</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_8_4_7">וְאִמִּ֑י</span>
<span class="mila" data-lnk="805306623" data-exlnk="0" id="M_8_4_8">יִשָּׂ֣א׀</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_8_4_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2315">־</span><span class="mila" data-lnk="83" data-exlnk="0" id="M_8_4_10">חֵ֣יל</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_8_4_11">דַּמֶּ֗שֶׂק</span>
<span class="mila" data-lnk="1073742419" data-exlnk="0" id="M_8_4_12">וְאֵת֙</span>
<span class="mila" data-lnk="2147484243" data-exlnk="0" id="M_8_4_13">שְׁלַ֣ל</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_8_4_14">שֹׁמְר֔וֹן</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_8_4_15">לִפְנֵ֖י</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_8_4_16">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_8_4_17">אַשּֽׁוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2325">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2326">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_8_5_1">וַיֹּ֣סֶף</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_8_5_2">יְהוָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_8_5_3">דַּבֵּ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_8_5_4">אֵלַ֛י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_8_5_5">ע֖וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_5_6">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2333">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_6" data-pasuk-now="15"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_8_6_1">יַ֗עַן</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_6_2">כִּ֤י</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_8_6_3">מָאַס֙</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_8_6_4">הָעָ֣ם</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_8_6_5">הַזֶּ֔ה</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_8_6_6">אֵ֚ת</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_6_7">מֵ֣י</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_8_6_8">הַשִּׁלֹ֔חַ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_8_6_9">הַהֹלְכִ֖ים</span>
<span class="mila" data-lnk="4026532763" data-exlnk="0" id="M_8_6_10">לְאַ֑ט</span>
<span class="mila" data-lnk="4026532531" data-exlnk="0" id="M_8_6_11">וּמְשׂ֥וֹשׂ</span>
<span class="mila" data-lnk="1073742355" data-exlnk="0" id="M_8_6_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2346">־</span><span class="mila" data-lnk="2147484211" data-exlnk="0" id="M_8_6_13">רְצִ֖ין</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_8_6_14">וּבֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2349">־</span><span class="mila" data-lnk="112" data-exlnk="0" id="M_8_6_15">רְמַלְיָֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2351">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_7" data-pasuk-now="24"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532564" data-exlnk="0" id="M_8_7_1">וְלָכֵ֡ן</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_8_7_2">הִנֵּ֣ה</span>
<span class="mila" data-lnk="805306563" data-exlnk="0" id="M_8_7_3">אֲדנָי֩</span>
<span class="mila" data-lnk="4026532555" data-exlnk="0" id="M_8_7_4">מַעֲלֶ֨ה</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_8_7_5">עֲלֵיהֶ֜ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_8_7_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2358">־</span><span class="mila" data-lnk="51" data-exlnk="0" id="M_8_7_7">מֵ֣י</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_8_7_8">הַנָּהָ֗ר</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_8_7_9">הָעֲצוּמִים֙</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_8_7_10">וְהָ֣רַבִּ֔ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_8_7_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2364">־</span><span class="mila" data-lnk="50" data-exlnk="0" id="M_8_7_12">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_8_7_13">אַשּׁ֖וּר</span>
<span class="mila" data-lnk="1073742360" data-exlnk="0" id="M_8_7_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2368">־</span><span class="mila" data-lnk="1073742362" data-exlnk="0" id="M_8_7_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2370">־</span><span class="mila" data-lnk="2147484186" data-exlnk="0" id="M_8_7_16">כְּבוֹד֑וֹ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_8_7_17">וְעָלָה֙</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_8_7_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2374">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_8_7_19">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2376">־</span><span class="mila" data-lnk="87" data-exlnk="0" id="M_8_7_20">אֲפִיקָ֔יו</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_8_7_21">וְהָלַ֖ךְ</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_8_7_22">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2380">־</span><span class="mila" data-lnk="99" data-exlnk="0" id="M_8_7_23">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2382">־</span><span class="mila" data-lnk="4026532599" data-exlnk="0" id="M_8_7_24">גְּדוֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2384">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_8_1">וְחָלַ֤ף</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_8_8_2">בִּֽיהוּדָה֙</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_8_8_3">שָׁטַ֣ף</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_8_4">וְעָבַ֔ר</span>
<span class="mila" data-lnk="268435707" data-exlnk="0" id="M_8_8_5">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2390">־</span><span class="mila" data-lnk="536871163" data-exlnk="0" id="M_8_8_6">צַוָּ֖אר</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_8_7">יַגִּ֑יעַ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_8_8">וְהָיָה֙</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_8_8_9">מֻטּ֣וֹת</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_8_10">כְּנָפָ֔יו</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_8_11">מְלֹ֥א</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_8_8_12">רֹחַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2398">־</span><span class="mila" data-lnk="94" data-exlnk="0" id="M_8_8_13">אַרְצְךָ֖</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_8_14">עִמָּ֥נוּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_8_8_15">אֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2403">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2404">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_9" data-pasuk-now="11"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221226047" data-exlnk="0" id="M_8_9_1">רֹ֤עוּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_8_9_2">עַמִּים֙</span>
<span class="mila" data-lnk="4026532511" data-exlnk="0" id="M_8_9_3">וָחֹ֔תּוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_8_9_4">וְהַֽאֲזִ֔ינוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_8_9_5">כֹּ֖ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_8_9_6">מֶרְחַקֵּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2411">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_8_9_7">אָ֑רֶץ</span>
<span class="mila" data-lnk="4026532543" data-exlnk="0" id="M_8_9_8">הִתְאַזְּר֣וּ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_8_9_9">וָחֹ֔תּוּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_8_9_10">הִֽתְאַזְּר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_9_11">וָחֹֽתּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2417">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532765" data-exlnk="0" id="M_8_10_1">עֻ֥צוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_8_10_2">עֵצָ֖ה</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_8_10_3">וְתֻפָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_4">דַּבְּר֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_5">דָבָר֙</span>
<span class="mila" data-lnk="1342178194" data-exlnk="0" id="M_8_10_6">וְלֹ֣א</span>
<span class="mila" data-lnk="2952790930" data-exlnk="0" id="M_8_10_7">יָק֔וּם</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_8_10_8">כִּ֥י</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_8_10_9">עִמָּ֖נוּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_8_10_10">אֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2429">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2430">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="805306524" data-exlnk="0" id="M_8_11_1">כִּי֩</span>
<span class="mila" data-lnk="268435640" data-exlnk="0" id="M_8_11_2">כֹ֨ה</span>
<span class="mila" data-lnk="268435640" data-exlnk="0" id="M_8_11_3">אָמַ֧ר</span>
<span class="mila" data-lnk="805306552" data-exlnk="0" id="M_8_11_4">יְהוָ֛ה</span>
<span class="mila" data-lnk="536871096" data-exlnk="0" id="M_8_11_5">אֵלַ֖י</span>
<span class="mila" data-lnk="3221226107" data-exlnk="0" id="M_8_11_6">כְּחֶזְקַ֣ת</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_11_7">הַיָּ֑ד</span>
<span class="mila" data-lnk="3221226109" data-exlnk="0" id="M_8_11_8">וְיִסְּרֵ֕נִי</span>
<span class="mila" data-lnk="97" data-exlnk="0" id="M_8_11_9">מִלֶּ֛כֶת</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_8_11_10">בְּדֶ֥רֶךְ</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_8_11_11">הָֽעָם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2442">־</span><span class="mila" data-lnk="112" data-exlnk="0" id="M_8_11_12">הַזֶּ֖ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_8_11_13">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2445">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_12" data-pasuk-now="15"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="805306591" data-exlnk="0" id="M_8_12_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2447">־</span><span class="mila" data-lnk="4026532571" data-exlnk="0" id="M_8_12_2">תֹאמְר֣וּן</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_8_12_3">קֶ֔שֶׁר</span>
<span class="mila" data-lnk="536871107" data-exlnk="0" id="M_8_12_4">לְכֹ֧ל</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_8_12_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2452">־</span><span class="mila" data-lnk="67" data-exlnk="0" id="M_8_12_6">יֹאמַ֛ר</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_8_12_7">הָעָ֥ם</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_8_12_8">הַזֶּ֖ה</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_8_12_9">קָ֑שֶׁר</span>
<span class="mila" data-lnk="536871126" data-exlnk="0" id="M_8_12_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2458">־</span><span class="mila" data-lnk="3221226070" data-exlnk="0" id="M_8_12_11">מוֹרָא֥וֹ</span>
<span class="mila" data-lnk="536871131" data-exlnk="0" id="M_8_12_12">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2461">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_8_12_13">תִֽירְא֖וּ</span>
<span class="mila" data-lnk="536871123" data-exlnk="0" id="M_8_12_14">וְלֹ֥א</span>
<span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_8_12_15">תַעֲרִֽיצוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2465">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_8_13_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2467">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_8_13_2">יְהוָ֥ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_8_13_3">צְבָא֖וֹת</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_8_13_4">אֹת֣וֹ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_8_13_5">תַקְדִּ֑ישׁוּ</span>
<span class="mila" data-lnk="805306586" data-exlnk="0" id="M_8_13_6">וְה֥וּא</span>
<span class="mila" data-lnk="3489661658" data-exlnk="0" id="M_8_13_7">מוֹרַאֲכֶ֖ם</span>
<span class="mila" data-lnk="805306519" data-exlnk="0" id="M_8_13_8">וְה֥וּא</span>
<span class="mila" data-lnk="3221226007" data-exlnk="0" id="M_8_13_9">מַעֲרִֽצְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2476">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_14" data-pasuk-now="13"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_8_14_1">וְהָיָ֖ה</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_8_14_2">לְמִקְדָּ֑שׁ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_14_3">וּלְאֶ֣בֶן</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_14_4">נֶ֠גֶף</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_14_5">וּלְצ֨וּר</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_14_6">מִכְשׁ֜וֹל</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_14_7">לִשְׁנֵ֨י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_14_8">בָתֵּ֤י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_14_9">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_14_10">לְפַ֣ח</span>
<span class="mila" data-lnk="4026532863" data-exlnk="0" id="M_8_14_11">וּלְמוֹקֵ֔שׁ</span>
<span class="mila" data-lnk="1342178011" data-exlnk="0" id="M_8_14_12">לְיוֹשֵׁ֖ב</span>
<span class="mila" data-lnk="4026532571" data-exlnk="0" id="M_8_14_13">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2490">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_15" data-pasuk-now="7"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_8_15_1">וְכָ֥שְׁלוּ</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_8_15_2">בָ֖ם</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_15_3">רַבִּ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_15_4">וְנָפְל֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_15_5">וְנִשְׁבָּ֔רוּ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_8_15_6">וְנוֹקְשׁ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_15_7">וְנִלְכָּֽדוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2499">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2500"> פ </span>
</span>
<br /><span id="PS_8_16" data-pasuk-now="5"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="805306623" data-exlnk="0" id="M_8_16_1">צ֖וֹר</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_8_16_2">תְּעוּדָ֑ה</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_8_16_3">חֲת֥וֹם</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_8_16_4">תּוֹרָ֖ה</span>
<span class="mila" data-lnk="3221226110" data-exlnk="0" id="M_8_16_5">בְּלִמֻּדָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2506">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_8_17_1">וְחִכִּ֙יתִי֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_17_2">לַיהוָ֔ה</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_8_17_3">הַמַּסְתִּ֥יר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_17_4">פָּנָ֖יו</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_17_5">מִבֵּ֣ית</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_8_17_6">יַעֲקֹ֑ב</span>
<span class="mila" data-lnk="4026532507" data-exlnk="0" id="M_8_17_7">וְקִוֵּ֖יתִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2514">־</span><span class="mila" data-lnk="536871131" data-exlnk="0" id="M_8_17_8">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2516">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_18" data-pasuk-now="16"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_8_18_1">הִנֵּ֣ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_8_18_2">אָנֹכִ֗י</span>
<span class="mila" data-lnk="4026532859" data-exlnk="0" id="M_8_18_3">וְהַיְלָדִים֙</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_8_18_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_8_18_5">נָתַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2522">־</span><span class="mila" data-lnk="106" data-exlnk="0" id="M_8_18_6">לִ֣י</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_8_18_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_8_18_8">לְאֹת֥וֹת</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_8_18_9">וּלְמוֹפְתִ֖ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_8_18_10">בְּיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="1342178006" data-exlnk="0" id="M_8_18_11">מֵעִם֙</span>
<span class="mila" data-lnk="2684355286" data-exlnk="0" id="M_8_18_12">יְהוָ֣ה</span>
<span class="mila" data-lnk="536871126" data-exlnk="0" id="M_8_18_13">צְבָא֔וֹת</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_8_18_14">הַשֹּׁכֵ֖ן</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_8_18_15">בְּהַ֥ר</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_8_18_16">צִיּֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2535">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2536">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_19" data-pasuk-now="19"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="1879048927" data-exlnk="0" id="M_8_19_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2538">־</span><span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_8_19_2">יֹאמְר֣וּ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_19_3">אֲלֵיכֶ֗ם</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_19_4">דִּרְשׁ֤וּ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_19_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2543">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_8_19_6">הָֽאֹבוֹת֙</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_8_19_7">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2546">־</span><span class="mila" data-lnk="90" data-exlnk="0" id="M_8_19_8">הַיִּדְּעֹנִ֔ים</span>
<span class="mila" data-lnk="3221226015" data-exlnk="0" id="M_8_19_9">הַֽמְצַפְצְפִ֖ים</span>
<span class="mila" data-lnk="3221226015" data-exlnk="0" id="M_8_19_10">וְהַמַּהְגִּ֑ים</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_8_19_11">הֲלוֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2551">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_8_19_12">עַם֙</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_8_19_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2554">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_8_19_14">אֱלֹהָ֣יו</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_8_19_15">יִדְרֹ֔שׁ</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_8_19_16">בְּעַ֥ד</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_19_17">הַחַיִּ֖ים</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_8_19_18">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2560">־</span><span class="mila" data-lnk="123" data-exlnk="0" id="M_8_19_19">הַמֵּתִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2562">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_20" data-pasuk-now="11"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_8_20_1">לְתוֹרָ֖ה</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_8_20_2">וְלִתְעוּדָ֑ה</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_20_3">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2566">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_8_20_4">לֹ֤א</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_8_20_5">יֹֽאמְרוּ֙</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_8_20_6">כַּדָּבָ֣ר</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_8_20_7">הַזֶּ֔ה</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_8_20_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_20_9">אֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2573">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_8_20_10">ל֖וֹ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_20_11">שָֽׁחַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2576">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_8_21_1">וְעָ֥בַר</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_21_2">בָּ֖הּ</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_8_21_3">נִקְשֶׁ֣ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_8_21_4">וְרָעֵ֑ב</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_21_5">וְהָיָ֨ה</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_21_6">כִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2583">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_8_21_7">יִרְעַ֜ב</span>
<span class="mila" data-lnk="3221226072" data-exlnk="0" id="M_8_21_8">וְהִתְקַצַּ֗ף</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_8_21_9">וְקִלֵּ֧ל</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_8_21_10">בְּמַלְכּ֛וֹ</span>
<span class="mila" data-lnk="3221226106" data-exlnk="0" id="M_8_21_11">וּבֵאלֹהָ֖יו</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_21_12">וּפָנָ֥ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_21_13">לְמָֽעְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2591">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_22" data-pasuk-now="10"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_8_22_1">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2593">־</span><span class="mila" data-lnk="123" data-exlnk="0" id="M_8_22_2">אֶ֖רֶץ</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_8_22_3">יַבִּ֑יט</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_8_22_4">וְהִנֵּ֨ה</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_22_5">צָרָ֤ה</span>
<span class="mila" data-lnk="3221226106" data-exlnk="0" id="M_8_22_6">וַֽחֲשֵׁכָה֙</span>
<span class="mila" data-lnk="3221226103" data-exlnk="0" id="M_8_22_7">מְע֣וּף</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_22_8">צוּקָ֔ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_8_22_9">וַאֲפֵלָ֖ה</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_8_22_10">מְנֻדָּֽח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2603">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_23" data-pasuk-now="21"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_23_1">כִּ֣י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_23_2">לֹ֣א</span>
<span class="mila" data-lnk="4026532859" data-exlnk="0" id="M_8_23_3">מוּעָף֘</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_8_23_4">לַאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_23_5">מוּצָ֣ק</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_8_23_6">לָהּ֒</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_8_23_7">כָּעֵ֣ת</span>
<span class="mila" data-lnk="805306623" data-exlnk="0" id="M_8_23_8">הָרִאשׁ֗וֹן</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_23_9">הֵקַ֞ל</span>
<span class="mila" data-lnk="1073742443" data-exlnk="0" id="M_8_23_10">אַ֤רְצָה</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_8_23_11">זְבֻלוּן֙</span>
<span class="mila" data-lnk="3221226088" data-exlnk="0" id="M_8_23_12">וְאַ֣רְצָה</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_8_23_13">נַפְתָּלִ֔י</span>
<span class="mila" data-lnk="3221226107" data-exlnk="0" id="M_8_23_14">וְהָאַחֲר֖וֹן</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_23_15">הִכְבִּ֑יד</span>
<span class="mila" data-lnk="4026532787" data-exlnk="0" id="M_8_23_16">דֶּ֤רֶךְ</span>
<span class="mila" data-lnk="4026532851" data-exlnk="0" id="M_8_23_17">הַיָּם֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_8_23_18">עֵ֣בֶר</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_8_23_19">הַיַּרְדֵּ֔ן</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_8_23_20">גְּלִ֖יל</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_8_23_21">הַגּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2625">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>