<p id="PR_43" data-perek-now="314" data-perek-nops="28"><span class="perek-header">פרק מג</span>
<br /><span id="PS_43_1" data-pasuk-now="16"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_43_1_1">וְעַתָּ֞ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_43_1_2">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13296">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_43_1_3">אָמַ֤ר</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_43_1_4">יְהוָה֙</span>
<span class="mila" data-lnk="3221226008" data-exlnk="0" id="M_43_1_5">בֹּרַאֲךָ֣</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_43_1_6">יַעֲקֹ֔ב</span>
<span class="mila" data-lnk="4026532496" data-exlnk="0" id="M_43_1_7">וְיֹצֶרְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_1_8">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_43_1_9">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13304">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_43_1_10">תִּירָא֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_43_1_11">כִּ֣י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_43_1_12">גְאַלְתִּ֔יךָ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_43_1_13">קָרָ֥אתִי</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_43_1_14">בְשִׁמְךָ֖</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_43_1_15">לִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13311">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_43_1_16">אָֽתָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13313">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_2" data-pasuk-now="18"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_2_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13315">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_43_2_2">תַעֲבֹ֤ר</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_2_3">בַּמַּ֙יִם֙</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_43_2_4">אִתְּךָ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13319">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_43_2_5">אָ֔נִי</span>
<span class="mila" data-lnk="4026532499" data-exlnk="0" id="M_43_2_6">וּבַנְּהָר֖וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_2_7">לֹ֣א</span>
<span class="mila" data-lnk="3221225987" data-exlnk="0" id="M_43_2_8">יִשְׁטְפ֑וּךָ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_2_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13325">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_43_2_10">תֵלֵ֤ךְ</span>
<span class="mila" data-lnk="805306499" data-exlnk="0" id="M_43_2_11">בְּמוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13328">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_43_2_12">אֵשׁ֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_2_13">לֹ֣א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_2_14">תִכָּוֶ֔ה</span>
<span class="mila" data-lnk="4026532483" data-exlnk="0" id="M_43_2_15">וְלֶהָבָ֖ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_2_16">לֹ֥א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_2_17">תִבְעַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13335">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_43_2_18">בָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13337">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_43_3_1">כִּ֗י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_3_2">אֲנִי֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_43_3_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_3_4">אֱלֹהֶ֔יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_43_3_5">קְד֥וֹשׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_43_3_6">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_3_7">מוֹשִׁיעֶ֑ךָ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_43_3_8">נָתַ֤תִּי</span>
<span class="mila" data-lnk="3221226107" data-exlnk="0" id="M_43_3_9">כָפְרְךָ֙</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_43_3_10">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_43_3_11">כּ֥וּשׁ</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_43_3_12">וּסְבָ֖א</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_43_3_13">תַּחְתֶּֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13351">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_43_4_1">מֵאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="3221226010" data-exlnk="0" id="M_43_4_2">יָקַ֧רְתָּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_43_4_3">בְעֵינַ֛י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_43_4_4">נִכְבַּ֖דְתָּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_43_4_5">וַאֲנִ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_43_4_6">אֲהַבְתִּ֑יךָ</span>
<span class="mila" data-lnk="4026532769" data-exlnk="0" id="M_43_4_7">וְאֶתֵּ֤ן</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_43_4_8">אָדָם֙</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_43_4_9">תַּחְתֶּ֔יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_4_10">וּלְאֻמִּ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_4_11">תַּ֥חַת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_4_12">נַפְשֶֽׁךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13364">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_5" data-pasuk-now="10"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_43_5_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13366">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_43_5_2">תִּירָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_5_3">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_5_4">אִתְּךָ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13370">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_43_5_5">אָ֑נִי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_43_5_6">מִמִּזְרָח֙</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_43_5_7">אָבִ֣יא</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_43_5_8">זַרְעֶ֔ךָ</span>
<span class="mila" data-lnk="4026532486" data-exlnk="0" id="M_43_5_9">וּמִֽמַּעֲרָ֖ב</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_43_5_10">אֲקַבְּצֶֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13377">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_43_6_1">אֹמַ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_6_2">לַצָּפוֹן֙</span>
<span class="mila" data-lnk="3221226003" data-exlnk="0" id="M_43_6_3">תֵּ֔נִי</span>
<span class="mila" data-lnk="3221226007" data-exlnk="0" id="M_43_6_4">וּלְתֵימָ֖ן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_6_5">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13383">־</span><span class="mila" data-lnk="3221226003" data-exlnk="0" id="M_43_6_6">תִּכְלָ֑אִי</span>
<span class="mila" data-lnk="4026532530" data-exlnk="0" id="M_43_6_7">הָבִ֤יאִי</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_43_6_8">בָנַי֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_6_9">מֵרָח֔וֹק</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_43_6_10">וּבְנוֹתַ֖י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_6_11">מִקְצֵ֥ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_6_12">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13391">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_7_1">כֹּ֚ל</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_7_2">הַנִּקְרָ֣א</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_7_3">בִשְׁמִ֔י</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_43_7_4">וְלִכְבוֹדִ֖י</span>
<span class="mila" data-lnk="4026532603" data-exlnk="0" id="M_43_7_5">בְּרָאתִ֑יו</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_43_7_6">יְצַרְתִּ֖יו</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_43_7_7">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13399">־</span><span class="mila" data-lnk="119" data-exlnk="0" id="M_43_7_8">עֲשִׂיתִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13401">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532863" data-exlnk="0" id="M_43_8_1">הוֹצִ֥יא</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_43_8_2">עַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13404">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_43_8_3">עִוֵּ֖ר</span>
<span class="mila" data-lnk="4026532807" data-exlnk="0" id="M_43_8_4">וְעֵינַ֣יִם</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_43_8_5">יֵ֑שׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_43_8_6">וְחֵרְשִׁ֖ים</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_43_8_7">וְאָזְנַ֥יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_8_8">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13411">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_9" data-pasuk-now="18"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_9_1">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13413">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_43_9_2">הַגּוֹיִ֞ם</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_43_9_3">נִקְבְּצ֣וּ</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_43_9_4">יַחְדָּ֗ו</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_43_9_5">וְיֵאָֽסְפוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_9_6">לְאֻמִּ֔ים</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_43_9_7">מִ֤י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_43_9_8">בָהֶם֙</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_43_9_9">יַגִּ֣יד</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_43_9_10">זֹ֔את</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_43_9_11">וְרִאשֹׁנ֖וֹת</span>
<span class="mila" data-lnk="3221226001" data-exlnk="0" id="M_43_9_12">יַשְׁמִיעֻ֑נוּ</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_43_9_13">יִתְּנ֤וּ</span>
<span class="mila" data-lnk="3221226047" data-exlnk="0" id="M_43_9_14">עֵֽדֵיהֶם֙</span>
<span class="mila" data-lnk="3221226035" data-exlnk="0" id="M_43_9_15">וְיִצְדָּ֔קוּ</span>
<span class="mila" data-lnk="4026532542" data-exlnk="0" id="M_43_9_16">וְיִשְׁמְע֖וּ</span>
<span class="mila" data-lnk="4026532542" data-exlnk="0" id="M_43_9_17">וְיֹאמְר֥וּ</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_43_9_18">אֱמֶֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13431">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_10" data-pasuk-now="22"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_43_10_1">אַתֶּ֤ם</span>
<span class="mila" data-lnk="536871163" data-exlnk="0" id="M_43_10_2">עֵדַי֙</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_43_10_3">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13435">־</span><span class="mila" data-lnk="74" data-exlnk="0" id="M_43_10_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_43_10_5">וְעַבְדִּ֖י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_43_10_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_43_10_7">בָּחָ֑רְתִּי</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_43_10_8">לְמַ֣עַן</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_43_10_9">תֵּ֠דְעוּ</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_43_10_10">וְתַאֲמִ֨ינוּ</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_43_10_11">לִ֤י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_10_12">וְתָבִ֙ינוּ֙</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_43_10_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13446">־</span><span class="mila" data-lnk="126" data-exlnk="0" id="M_43_10_14">אֲנִ֣י</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_43_10_15">ה֔וּא</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_43_10_16">לְפָנַי֙</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_43_10_17">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13451">־</span><span class="mila" data-lnk="3221226006" data-exlnk="0" id="M_43_10_18">נ֣וֹצַר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_43_10_19">אֵ֔ל</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_43_10_20">וְאַחֲרַ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_10_21">לֹ֥א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_43_10_22">יִהְיֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13458">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13459">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_11" data-pasuk-now="6"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1879048894" data-exlnk="0" id="M_43_11_1">אָנֹכִ֥י</span>
<span class="mila" data-lnk="2952790718" data-exlnk="0" id="M_43_11_2">אָנֹכִ֖י</span>
<span class="mila" data-lnk="536871058" data-exlnk="0" id="M_43_11_3">יְהוָ֑ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_11_4">וְאֵ֥ין</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_11_5">מִבַּלְעָדַ֖י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_43_11_6">מוֹשִֽׁיעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13466">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_43_12_1">אָנֹכִ֞י</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_43_12_2">הִגַּ֤דְתִּי</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_43_12_3">וְהוֹשַׁ֙עְתִּי֙</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_43_12_4">וְהִשְׁמַ֔עְתִּי</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_43_12_5">וְאֵ֥ין</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_43_12_6">בָּכֶ֖ם</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_43_12_7">זָ֑ר</span>
<span class="mila" data-lnk="1342178015" data-exlnk="0" id="M_43_12_8">וְאַתֶּ֥ם</span>
<span class="mila" data-lnk="2952790719" data-exlnk="0" id="M_43_12_9">עֵדַ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_12_10">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13477">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_43_12_11">יְהוָ֖ה</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_43_12_12">וַאֲנִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13480">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_43_12_13">אֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13482">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_13" data-pasuk-now="10"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_13_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13484">־</span><span class="mila" data-lnk="123" data-exlnk="0" id="M_43_13_2">מִיּוֹם֙</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_43_13_3">אֲנִ֣י</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_43_13_4">ה֔וּא</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_43_13_5">וְאֵ֥ין</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_43_13_6">מִיָּדִ֖י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_43_13_7">מַצִּ֑יל</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_43_13_8">אֶפְעַ֖ל</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_43_13_9">וּמִ֥י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_43_13_10">יְשִׁיבֶֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13495">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13496">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_43_14_1">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13498">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_43_14_2">אָמַ֧ר</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_43_14_3">יְהוָ֛ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_14_4">גֹּאַלְכֶ֖ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_14_5">קְד֣וֹשׁ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_14_6">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_43_14_7">לְמַעַנְכֶ֞ם</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_14_8">שִׁלַּ֣חְתִּי</span>
<span class="mila" data-lnk="805306619" data-exlnk="0" id="M_43_14_9">בָבֶ֗לָה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_14_10">וְהוֹרַדְתִּ֤י</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_43_14_11">בָֽרִיחִים֙</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_43_14_12">כֻּלָּ֔ם</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_14_13">וְכַשְׂדִּ֖ים</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_43_14_14">בָּאֳנִיּ֥וֹת</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_14_15">רִנָּתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13513">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_43_15_1">אֲנִ֥י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_43_15_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="3221226076" data-exlnk="0" id="M_43_15_3">קְדֽוֹשְׁכֶ֑ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_43_15_4">בּוֹרֵ֥א</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_43_15_5">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_43_15_6">מַלְכְּכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13521">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13522">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="805306582" data-exlnk="0" id="M_43_16_1">כֹּ֚ה</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_43_16_2">אָמַ֣ר</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_43_16_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532571" data-exlnk="0" id="M_43_16_4">הַנּוֹתֵ֥ן</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_43_16_5">בַּיָּ֖ם</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_43_16_6">דָּ֑רֶךְ</span>
<span class="mila" data-lnk="4026532752" data-exlnk="0" id="M_43_16_7">וּבְמַ֥יִם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_43_16_8">עַזִּ֖ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_43_16_9">נְתִיבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13532">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_17" data-pasuk-now="12"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_43_17_1">הַמּוֹצִ֥יא</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_43_17_2">רֶכֶב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13535">־</span><span class="mila" data-lnk="4026532591" data-exlnk="0" id="M_43_17_3">וָס֖וּס</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_43_17_4">חַ֣יִל</span>
<span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_43_17_5">וְעִזּ֑וּז</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_43_17_6">יַחְדָּ֤ו</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_43_17_7">יִשְׁכְּבוּ֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_43_17_8">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13542">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_43_17_9">יָק֔וּמוּ</span>
<span class="mila" data-lnk="3221226070" data-exlnk="0" id="M_43_17_10">דָּעֲכ֖וּ</span>
<span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_43_17_11">כַּפִּשְׁתָּ֥ה</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_43_17_12">כָבֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13547">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_43_18_1">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13549">־</span><span class="mila" data-lnk="93" data-exlnk="0" id="M_43_18_2">תִּזְכְּר֖וּ</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_43_18_3">רִאשֹׁנ֑וֹת</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_43_18_4">וְקַדְמֹנִיּ֖וֹת</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_43_18_5">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13554">־</span><span class="mila" data-lnk="3221226005" data-exlnk="0" id="M_43_18_6">תִּתְבֹּנָֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13556">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_19" data-pasuk-now="13"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_43_19_1">הִנְנִ֨י</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_43_19_2">עֹשֶׂ֤ה</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_43_19_3">חֲדָשָׁה֙</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_43_19_4">עַתָּ֣ה</span>
<span class="mila" data-lnk="3221226010" data-exlnk="0" id="M_43_19_5">תִצְמָ֔ח</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_19_6">הֲל֖וֹא</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_43_19_7">תֵּדָע֑וּהָ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_43_19_8">אַ֣ף</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_43_19_9">אָשִׂ֤ים</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_43_19_10">בַּמִּדְבָּר֙</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_43_19_11">דֶּ֔רֶךְ</span>
<span class="mila" data-lnk="3221226042" data-exlnk="0" id="M_43_19_12">בִּישִׁמ֖וֹן</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_43_19_13">נְהָרֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13570">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_20" data-pasuk-now="15"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_43_20_1">תְּכַבְּדֵ֙נִי֙</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_43_20_2">חַיַּ֣ת</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_43_20_3">הַשָּׂדֶ֔ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_43_20_4">תַּנִּ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_43_20_5">וּבְנ֣וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_43_20_6">יַעֲנָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_43_20_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13578">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_43_20_8">נָתַ֨תִּי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_43_20_9">בַמִּדְבָּ֜ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_43_20_10">מַ֗יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_20_11">נְהָרוֹת֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_20_12">בִּֽישִׁימֹ֔ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_43_20_13">לְהַשְׁק֖וֹת</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_43_20_14">עַמִּ֥י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_43_20_15">בְחִירִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13587">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="3489661695" data-exlnk="0" id="M_43_21_1">עַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13589">־</span><span class="mila" data-lnk="3758097151" data-exlnk="0" id="M_43_21_2">זוּ֙</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_43_21_3">יָצַ֣רְתִּי</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_43_21_4">לִ֔י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_43_21_5">תְּהִלָּתִ֖י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_43_21_6">יְסַפֵּֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13596">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13597">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_22" data-pasuk-now="8"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_43_22_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13599">־</span><span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_43_22_2">אֹתִ֥י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_22_3">קָרָ֖אתָ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_43_22_4">יַעֲקֹ֑ב</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_22_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13604">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_43_22_6">יָגַ֥עְתָּ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_43_22_7">בִּ֖י</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_43_22_8">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13608">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_43_23_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13610">־</span><span class="mila" data-lnk="4026532539" data-exlnk="0" id="M_43_23_2">הֵבֵ֤יאתָ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_43_23_3">לִּי֙</span>
<span class="mila" data-lnk="4026532491" data-exlnk="0" id="M_43_23_4">שֵׂ֣ה</span>
<span class="mila" data-lnk="4026532751" data-exlnk="0" id="M_43_23_5">עֹלֹתֶ֔יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_43_23_6">וּזְבָחֶ֖יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_43_23_7">לֹ֣א</span>
<span class="mila" data-lnk="3221225988" data-exlnk="0" id="M_43_23_8">כִבַּדְתָּ֑נִי</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_43_23_9">לֹ֤א</span>
<span class="mila" data-lnk="3221226011" data-exlnk="0" id="M_43_23_10">הֶעֱבַדְתִּ֙יךָ֙</span>
<span class="mila" data-lnk="4026532743" data-exlnk="0" id="M_43_23_11">בְּמִנְחָ֔ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_43_23_12">וְלֹ֥א</span>
<span class="mila" data-lnk="3221225998" data-exlnk="0" id="M_43_23_13">הוֹגַעְתִּ֖יךָ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_43_23_14">בִּלְבוֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13624">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_24" data-pasuk-now="14"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_43_24_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13626">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_43_24_2">קָנִ֨יתָ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_24_3">לִּ֤י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_43_24_4">בַכֶּ֙סֶף֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_43_24_5">קָנֶ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_43_24_6">וְחֵ֥לֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_24_7">זְבָחֶ֖יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_43_24_8">לֹ֣א</span>
<span class="mila" data-lnk="3221226004" data-exlnk="0" id="M_43_24_9">הִרְוִיתָ֑נִי</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_43_24_10">אַ֗ךְ</span>
<span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_43_24_11">הֶעֱבַדְתַּ֙נִי֙</span>
<span class="mila" data-lnk="4026532551" data-exlnk="0" id="M_43_24_12">בְּחַטֹּאותֶ֔יךָ</span>
<span class="mila" data-lnk="3221225990" data-exlnk="0" id="M_43_24_13">הוֹגַעְתַּ֖נִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_43_24_14">בַּעֲוֺנֹתֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13640">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1342178303" data-exlnk="0" id="M_43_25_1">אָנֹכִ֨י</span>
<span class="mila" data-lnk="4026532859" data-exlnk="0" id="M_43_25_2">אָנֹכִ֥י</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_43_25_3">ה֛וּא</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_43_25_4">מֹחֶ֥ה</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_43_25_5">פְשָׁעֶ֖יךָ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_25_6">לְמַעֲנִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_25_7">וְחַטֹּאתֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_25_8">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_43_25_9">אֶזְכֹּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13650">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_43_26_1">הַזְכִּירֵ֕נִי</span>
<span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_43_26_2">נִשָּׁפְטָ֖ה</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_43_26_3">יָ֑חַד</span>
<span class="mila" data-lnk="4026532596" data-exlnk="0" id="M_43_26_4">סַפֵּ֥ר</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_43_26_5">אַתָּ֖ה</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_43_26_6">לְמַ֥עַן</span>
<span class="mila" data-lnk="4026532852" data-exlnk="0" id="M_43_26_7">תִּצְדָּֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13658">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_27" data-pasuk-now="6"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_43_27_1">אָבִ֥יךָ</span>
<span class="mila" data-lnk="805306623" data-exlnk="0" id="M_43_27_2">הָרִאשׁ֖וֹן</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_43_27_3">חָטָ֑א</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_43_27_4">וּמְלִיצֶ֖יךָ</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_43_27_5">פָּ֥שְׁעוּ</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_43_27_6">בִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13665">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_43_28" data-pasuk-now="8"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_43_28_1">וַאֲחַלֵּ֖ל</span>
<span class="mila" data-lnk="1879049179" data-exlnk="0" id="M_43_28_2">שָׂ֣רֵי</span>
<span class="mila" data-lnk="3758097371" data-exlnk="0" id="M_43_28_3">קֹ֑דֶשׁ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_43_28_4">וְאֶתְּנָ֤ה</span>
<span class="mila" data-lnk="3221226034" data-exlnk="0" id="M_43_28_5">לַחֵ֙רֶם֙</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_43_28_6">יַֽעֲקֹ֔ב</span>
<span class="mila" data-lnk="805306546" data-exlnk="0" id="M_43_28_7">וְיִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="3221226034" data-exlnk="0" id="M_43_28_8">לְגִדּוּפִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13675">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13676"> פ </span>
</span>
<br /></p>