<p id="PR_16" data-perek-now="192" data-perek-nops="14"><span class="perek-header">פרק טז</span>
<br /><span id="PS_16_1" data-pasuk-now="10"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_1_1">שִׁלְחוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4730">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_16_1_2">כַ֥ר</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_16_1_3">מֹשֵֽׁל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4733">־</span><span class="mila" data-lnk="111" data-exlnk="0" id="M_16_1_4">אֶ֖רֶץ</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_16_1_5">מִסֶּ֣לַע</span>
<span class="mila" data-lnk="4026532818" data-exlnk="0" id="M_16_1_6">מִדְבָּ֑רָה</span>
<span class="mila" data-lnk="1342178011" data-exlnk="0" id="M_16_1_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4738">־</span><span class="mila" data-lnk="3758097115" data-exlnk="0" id="M_16_1_8">הַ֖ר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_16_1_9">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4741">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_16_1_10">צִיּֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4743">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_2" data-pasuk-now="10"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_16_2_1">וְהָיָ֥ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_16_2_2">כְעוֹף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4746">־</span><span class="mila" data-lnk="805306591" data-exlnk="0" id="M_16_2_3">נוֹדֵ֖ד</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_16_2_4">קֵ֣ן</span>
<span class="mila" data-lnk="4026532747" data-exlnk="0" id="M_16_2_5">מְשֻׁלָּ֑ח</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_16_2_6">תִּֽהְיֶ֙ינָה֙</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_16_2_7">בְּנ֣וֹת</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_16_2_8">מוֹאָ֔ב</span>
<span class="mila" data-lnk="3221226091" data-exlnk="0" id="M_16_2_9">מַעְבָּרֹ֖ת</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_16_2_10">לְאַרְנֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4755">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span data-lnk="0" data-exlnk="0" id="M_16_3_1" class="mila ktiv">הָבִ֤יאִו</span>
<span data-lnk="4026532862" data-exlnk="0" id="M_16_3_1_K" class="mila kri">הָבִ֤יאִי</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_16_3_2">עֵצָה֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_16_3_3">עֲשׂ֣וּ</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_16_3_4">פְלִילָ֔ה</span>
<span class="mila" data-lnk="4026532555" data-exlnk="0" id="M_16_3_5">שִׁ֧יתִי</span>
<span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_16_3_6">כַלַּ֛יִל</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_16_3_7">צִלֵּ֖ךְ</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_16_3_8">בְּת֣וֹךְ</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_16_3_9">צָהֳרָ֑יִם</span>
<span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_16_3_10">סַתְּרִי֙</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_16_3_11">נִדָּחִ֔ים</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_16_3_12">נֹדֵ֖ד</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_16_3_13">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4770">־</span><span class="mila" data-lnk="3221226070" data-exlnk="0" id="M_16_3_14">תְּגַלִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4772">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_4" data-pasuk-now="18"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_4_1">יָג֤וּרוּ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_16_4_2">בָךְ֙</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_16_4_3">נִדָּחַ֔י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_16_4_4">מוֹאָ֛ב</span>
<span class="mila" data-lnk="3221226049" data-exlnk="0" id="M_16_4_5">הֱוִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4778">־</span><span class="mila" data-lnk="89" data-exlnk="0" id="M_16_4_6">סֵ֥תֶר</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_16_4_7">לָ֖מוֹ</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_16_4_8">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="4026532572" data-exlnk="0" id="M_16_4_9">שׁוֹדֵ֑ד</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_4_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4784">־</span><span class="mila" data-lnk="4026532603" data-exlnk="0" id="M_16_4_11">אָפֵ֤ס</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_16_4_12">הַמֵּץ֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_16_4_13">כָּ֣לָה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_16_4_14">שֹׁ֔ד</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_16_4_15">תַּ֥מּוּ</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_16_4_16">רֹמֵ֖ס</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_16_4_17">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4792">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_16_4_18">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4795">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4796">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026532863" data-exlnk="0" id="M_16_5_1">וְהוּכַ֤ן</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_5_2">בַּחֶ֙סֶד֙</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_16_5_3">כִּסֵּ֔א</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_16_5_4">וְיָשַׁ֥ב</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_16_5_5">עָלָ֛יו</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_16_5_6">בֶּאֱמֶ֖ת</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_16_5_7">בְּאֹ֣הֶל</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_16_5_8">דָּוִ֑ד</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_16_5_9">שֹׁפֵ֛ט</span>
<span class="mila" data-lnk="4026532506" data-exlnk="0" id="M_16_5_10">וְדֹרֵ֥שׁ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_16_5_11">מִשְׁפָּ֖ט</span>
<span class="mila" data-lnk="3221226014" data-exlnk="0" id="M_16_5_12">וּמְהִ֥ר</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_16_5_13">צֶֽדֶק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4810">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="124" data-exlnk="0" id="M_16_6_1">שָׁמַ֥עְנוּ</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_16_6_2">גְאוֹן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4813">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_16_6_3">מוֹאָ֖ב</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_16_6_4">גֵּ֣א</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_16_6_5">מְאֹ֑ד</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_16_6_6">גַּאֲוָת֧וֹ</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_16_6_7">וּגְאוֹנ֛וֹ</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_16_6_8">וְעֶבְרָת֖וֹ</span>
<span class="mila" data-lnk="268435711" data-exlnk="0" id="M_16_6_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4821">־</span><span class="mila" data-lnk="805306615" data-exlnk="0" id="M_16_6_10">כֵ֥ן</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_6_11">בַּדָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4824">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_16_7_1">לָכֵ֗ן</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_16_7_2">יְיֵלִ֥יל</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_16_7_3">מוֹאָ֛ב</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_16_7_4">לְמוֹאָ֖ב</span>
<span class="mila" data-lnk="4026532544" data-exlnk="0" id="M_16_7_5">כֻּלֹּ֣ה</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_16_7_6">יְיֵלִ֑יל</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_7_7">לַאֲשִׁישֵׁ֧י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_7_8">קִיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4833">־</span><span class="mila" data-lnk="4026532599" data-exlnk="0" id="M_16_7_9">חֲרֶ֛שֶׂת</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_16_7_10">תֶּהְגּ֖וּ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_16_7_11">אַךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4837">־</span><span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_16_7_12">נְכָאִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4839">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_8" data-pasuk-now="19"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_16_8_1">כִּ֣י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_8_2">שַׁדְמוֹת֩</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_16_8_3">חֶשְׁבּ֨וֹן</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_16_8_4">אֻמְלָ֜ל</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_16_8_5">גֶּ֣פֶן</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_16_8_6">שִׂבְמָ֗ה</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_16_8_7">בַּעֲלֵ֤י</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_16_8_8">גוֹיִם֙</span>
<span class="mila" data-lnk="4026532550" data-exlnk="0" id="M_16_8_9">הָלְמ֣וּ</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_16_8_10">שְׂרוּקֶּ֔יהָ</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_16_8_11">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4851">־</span><span class="mila" data-lnk="93" data-exlnk="0" id="M_16_8_12">יַעְזֵ֥ר</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_16_8_13">נָגָ֖עוּ</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_16_8_14">תָּ֣עוּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_16_8_15">מִדְבָּ֑ר</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_16_8_16">שְׁלֻ֣חוֹתֶ֔יהָ</span>
<span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_16_8_17">נִטְּשׁ֖וּ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_16_8_18">עָ֥בְרוּ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_16_8_19">יָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4860">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_9" data-pasuk-now="18"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="268435678" data-exlnk="0" id="M_16_9_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4862">־</span><span class="mila" data-lnk="536871134" data-exlnk="0" id="M_16_9_2">כֵּ֡ן</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_16_9_3">אֶבְכֶּ֞ה</span>
<span class="mila" data-lnk="805306587" data-exlnk="0" id="M_16_9_4">בִּבְכִ֤י</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_16_9_5">יַעְזֵר֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_16_9_6">גֶּ֣פֶן</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_16_9_7">שִׂבְמָ֔ה</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_16_9_8">אֲרַיָּ֙וֶךְ֙</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_16_9_9">דִּמְעָתִ֔י</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_16_9_10">חֶשְׁבּ֖וֹן</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_16_9_11">וְאֶלְעָלֵ֑ה</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_16_9_12">כִּ֧י</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_16_9_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4875">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_16_9_14">קֵיצֵ֛ךְ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_16_9_15">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4878">־</span><span class="mila" data-lnk="90" data-exlnk="0" id="M_16_9_16">קְצִירֵ֖ךְ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_9_17">הֵידָ֥ד</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_16_9_18">נָפָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4882">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_10" data-pasuk-now="17"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221226102" data-exlnk="0" id="M_16_10_1">וְנֶאֱסַ֨ף</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_16_10_2">שִׂמְחָ֤ה</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_16_10_3">וָגִיל֙</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_16_10_4">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4887">־</span><span class="mila" data-lnk="119" data-exlnk="0" id="M_16_10_5">הַכַּרְמֶ֔ל</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_16_10_6">וּבַכְּרָמִ֥ים</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_16_10_7">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4891">־</span><span class="mila" data-lnk="3221226074" data-exlnk="0" id="M_16_10_8">יְרֻנָּ֖ן</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_16_10_9">לֹ֣א</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_16_10_10">יְרֹעָ֑ע</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_10_11">יַ֗יִן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_10_12">בַּיְקָבִ֛ים</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_16_10_13">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4898">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_16_10_14">יִדְרֹ֥ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_10_15">הַדֹּרֵ֖ךְ</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_16_10_16">הֵידָ֥ד</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_16_10_17">הִשְׁבַּֽתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4903">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_11" data-pasuk-now="9"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_16_11_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4905">־</span><span class="mila" data-lnk="118" data-exlnk="0" id="M_16_11_2">כֵּן֙</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_16_11_3">מֵעַ֣י</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_16_11_4">לְמוֹאָ֔ב</span>
<span class="mila" data-lnk="3221226050" data-exlnk="0" id="M_16_11_5">כַּכִּנּ֖וֹר</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_16_11_6">יֶהֱמ֑וּ</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_16_11_7">וְקִרְבִּ֖י</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_16_11_8">לְקִ֥יר</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_16_11_9">חָֽרֶשׂ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4914">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_12" data-pasuk-now="14"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_16_12_1">וְהָיָ֧ה</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_16_12_2">כִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4917">־</span><span class="mila" data-lnk="92" data-exlnk="0" id="M_16_12_3">נִרְאָ֛ה</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_16_12_4">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4920">־</span><span class="mila" data-lnk="4026532829" data-exlnk="0" id="M_16_12_5">נִלְאָ֥ה</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_16_12_6">מוֹאָ֖ב</span>
<span class="mila" data-lnk="1073742404" data-exlnk="0" id="M_16_12_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4924">־</span><span class="mila" data-lnk="2147484244" data-exlnk="0" id="M_16_12_8">הַבָּמָ֑ה</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_16_12_9">וּבָ֧א</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_16_12_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4928">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_16_12_11">מִקְדָּשׁ֛וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_12_12">לְהִתְפַּלֵּ֖ל</span>
<span class="mila" data-lnk="3489661694" data-exlnk="0" id="M_16_12_13">וְלֹ֥א</span>
<span class="mila" data-lnk="2952790782" data-exlnk="0" id="M_16_12_14">יוּכָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4934">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4935">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_16_13_1">זֶ֣ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_16_13_2">הַדָּבָ֗ר</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_16_13_3">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_16_13_4">דִּבֶּ֧ר</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_16_13_5">יְהוָ֛ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_16_13_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4942">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_16_13_7">מוֹאָ֖ב</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_16_13_8">מֵאָֽז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4945">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_14" data-pasuk-now="19"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_16_14_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_16_14_2">דִּבֶּ֣ר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_16_14_3">יְהוָה֘</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_16_14_4">לֵאמֹר֒</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_16_14_5">בְּשָׁלֹ֤שׁ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_14_6">שָׁנִים֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_16_14_7">כִּשְׁנֵ֣י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_16_14_8">שָׂכִ֔יר</span>
<span class="mila" data-lnk="4026532567" data-exlnk="0" id="M_16_14_9">וְנִקְלָה֙</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_16_14_10">כְּב֣וֹד</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_16_14_11">מוֹאָ֔ב</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_16_14_12">בְּכֹ֖ל</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_16_14_13">הֶהָמ֣וֹן</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_16_14_14">הָרָ֑ב</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_16_14_15">וּשְׁאָ֥ר</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_16_14_16">מְעַ֛ט</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_16_14_17">מִזְעָ֖ר</span>
<span class="mila" data-lnk="4026532599" data-exlnk="0" id="M_16_14_18">ל֥וֹא</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_16_14_19">כַבִּֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4966">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4967"> פ </span>
</span>
<br /></p>