<p id="PR_21" data-perek-now="202" data-perek-nops="17"><span class="perek-header">פרק כא</span>
<br /><span id="PS_21_1" data-pasuk-now="10"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_21_1_1">מַשָּׂ֖א</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_1_2">מִדְבַּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5856">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_21_1_3">יָ֑ם</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_21_1_4">כְּסוּפ֤וֹת</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_21_1_5">בַּנֶּ֙גֶב֙</span>
<span class="mila" data-lnk="3221226095" data-exlnk="0" id="M_21_1_6">לַחֲלֹ֔ף</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_21_1_7">מִמִּדְבָּ֣ר</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_21_1_8">בָּ֔א</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_1_9">מֵאֶ֖רֶץ</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_21_1_10">נוֹרָאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5865">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_2" data-pasuk-now="15"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_21_2_1">חָז֥וּת</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_2_2">קָשָׁ֖ה</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_21_2_3">הֻגַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5869">־</span><span class="mila" data-lnk="79" data-exlnk="0" id="M_21_2_4">לִ֑י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_21_2_5">הַבּוֹגֵ֤ד</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="5872">׀</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_21_2_6">בּוֹגֵד֙</span>
<span class="mila" data-lnk="4026532595" data-exlnk="0" id="M_21_2_7">וְהַשּׁוֹדֵ֣ד</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="5875">׀</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_21_2_8">שׁוֹדֵ֔ד</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_2_9">עֲלִ֤י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_2_10">עֵילָם֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_2_11">צוּרִ֣י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_21_2_12">מָדַ֔י</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_21_2_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5882">־</span><span class="mila" data-lnk="3221226103" data-exlnk="0" id="M_21_2_14">אַנְחָתָ֖ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_2_15">הִשְׁבַּֽתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5885">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_21_3_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5887">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_21_3_2">כֵּ֗ן</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_21_3_3">מָלְא֤וּ</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_21_3_4">מָתְנַי֙</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_21_3_5">חַלְחָלָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_3_6">צִירִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_7">אֲחָז֔וּנִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_8">כְּצִירֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_9">יוֹלֵדָ֑ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_21_3_10">נַעֲוֵ֣יתִי</span>
<span class="mila" data-lnk="4026532752" data-exlnk="0" id="M_21_3_11">מִשְּׁמֹ֔עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_12">נִבְהַ֖לְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_13">מֵרְאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5900">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_4" data-pasuk-now="10"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_21_4_1">תָּעָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_4_2">לְבָבִ֔י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_21_4_3">פַּלָּצ֖וּת</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_21_4_4">בִּֽעֲתָ֑תְנִי</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_21_4_5">אֵ֚ת</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_21_4_6">נֶ֣שֶׁף</span>
<span class="mila" data-lnk="3221226095" data-exlnk="0" id="M_21_4_7">חִשְׁקִ֔י</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_21_4_8">שָׂ֥ם</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_21_4_9">לִ֖י</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_21_4_10">לַחֲרָדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5911">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_5" data-pasuk-now="10"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="3221226110" data-exlnk="0" id="M_21_5_1">עָרֹ֧ךְ</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_21_5_2">הַשֻּׁלְחָ֛ן</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_21_5_3">צָפֹ֥ה</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_21_5_4">הַצָּפִ֖ית</span>
<span class="mila" data-lnk="805306505" data-exlnk="0" id="M_21_5_5">אָכ֣וֹל</span>
<span class="mila" data-lnk="4026532489" data-exlnk="0" id="M_21_5_6">שָׁתֹ֑ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_5_7">ק֥וּמוּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_5_8">הַשָּׂרִ֖ים</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_21_5_9">מִשְׁח֥וּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_5_10">מָגֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5923">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5924">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_21_6_1">כִּ֣י</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_21_6_2">כֹ֥ה</span>
<span class="mila" data-lnk="805306618" data-exlnk="0" id="M_21_6_3">אָמַ֛ר</span>
<span class="mila" data-lnk="268435706" data-exlnk="0" id="M_21_6_4">אֵלַ֖י</span>
<span class="mila" data-lnk="805306618" data-exlnk="0" id="M_21_6_5">אֲדנָ֑י</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_21_6_6">לֵ֚ךְ</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_21_6_7">הַעֲמֵ֣ד</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_21_6_8">הַֽמֲצַפֶּ֔ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_21_6_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_21_6_10">יִרְאֶ֖ה</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_21_6_11">יַגִּֽיד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5936">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_21_7_1">וְרָ֣אָה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_7_2">רֶ֗כֶב</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_7_3">צֶ֚מֶד</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_7_4">פָּרָשִׁ֔ים</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_21_7_5">רֶ֥כֶב</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_7_6">חֲמ֖וֹר</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_21_7_7">רֶ֣כֶב</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_7_8">גָּמָ֑ל</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_21_7_9">וְהִקְשִׁ֥יב</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_21_7_10">קֶ֖שֶׁב</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_21_7_11">רַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5948">־</span><span class="mila" data-lnk="88" data-exlnk="0" id="M_21_7_12">קָֽשֶׁב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5950">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_8_1">וַיִּקְרָ֖א</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_8_2">אַרְיֵ֑ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_8_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5954">־</span><span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_21_8_4">מִצְפֶּ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="5956">׀</span>
<span class="mila" data-lnk="805306623" data-exlnk="0" id="M_21_8_5">אֲדנָ֗י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_8_6">אָנֹכִ֞י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_8_7">עֹמֵ֤ד</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_21_8_8">תָּמִיד֙</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_21_8_9">יוֹמָ֔ם</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_8_10">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5963">־</span><span class="mila" data-lnk="90" data-exlnk="0" id="M_21_8_11">מִשְׁמַרְתִּ֔י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_21_8_12">אָנֹכִ֥י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_21_8_13">נִצָּ֖ב</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_8_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5968">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_21_8_15">הַלֵּילֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5970">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_9" data-pasuk-now="17"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026532863" data-exlnk="0" id="M_21_9_1">וְהִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5972">־</span><span class="mila" data-lnk="3758097151" data-exlnk="0" id="M_21_9_2">זֶ֥ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_9_3">בָא֙</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_21_9_4">רֶ֣כֶב</span>
<span class="mila" data-lnk="110" data-exlnk="0" id="M_21_9_5">אִ֔ישׁ</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_21_9_6">צֶ֖מֶד</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_21_9_7">פָּרָשִׁ֑ים</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_21_9_8">וַיַּ֣עַן</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_21_9_9">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_21_9_10">נָפְלָ֤ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_9_11">נָֽפְלָה֙</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_21_9_12">בָּבֶ֔ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_9_13">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5985">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_21_9_14">פְּסִילֵ֥י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_21_9_15">אֱלֹהֶ֖יהָ</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_21_9_16">שִׁבַּ֥ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_21_9_17">לָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5990">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_10" data-pasuk-now="12"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_21_10_1">מְדֻשָׁתִ֖י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_21_10_2">וּבֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5993">־</span><span class="mila" data-lnk="3221226107" data-exlnk="0" id="M_21_10_3">גָּרְנִ֑י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_21_10_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_21_10_5">שָׁמַ֗עְתִּי</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_21_10_6">מֵאֵ֨ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_10_7">יְהוָ֧ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_10_8">צְבָא֛וֹת</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_21_10_9">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_21_10_10">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_21_10_11">הִגַּ֥דְתִּי</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_21_10_12">לָכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6005">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6006"> פ </span>
</span>
<br /><span id="PS_21_11" data-pasuk-now="11"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="124" data-exlnk="0" id="M_21_11_1">מַשָּׂ֖א</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_21_11_2">דּוּמָ֑ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_11_3">אֵלַי֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_11_4">קֹרֵ֣א</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_11_5">מִשֵּׂעִ֔יר</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_21_11_6">שֹׁמֵר֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_11_7">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6014">־</span><span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_21_11_8">מִּלַּ֔יְלָה</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_21_11_9">שֹׁמֵ֖ר</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_11_10">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6018">־</span><span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_21_11_11">מִּלֵּֽיל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6020">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_12_1">אָמַ֣ר</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_21_12_2">שֹׁמֵ֔ר</span>
<span class="mila" data-lnk="3221226066" data-exlnk="0" id="M_21_12_3">אָתָ֥ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_12_4">בֹ֖קֶר</span>
<span class="mila" data-lnk="1073742427" data-exlnk="0" id="M_21_12_5">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6026">־</span><span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_21_12_6">לָ֑יְלָה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_12_7">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6029">־</span><span class="mila" data-lnk="3221226103" data-exlnk="0" id="M_21_12_8">תִּבְעָי֥וּן</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_21_12_9">בְּעָ֖יוּ</span>
<span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_21_12_10">שֻׁ֥בוּ</span>
<span class="mila" data-lnk="805306591" data-exlnk="0" id="M_21_12_11">אֵתָֽיוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6035">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6036"> פ </span>
</span>
<br /><span id="PS_21_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_21_13_1">מַשָּׂ֖א</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_21_13_2">בַּעְרָ֑ב</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_13_3">בַּיַּ֤עַר</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_21_13_4">בַּעְרַב֙</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_21_13_5">תָּלִ֔ינוּ</span>
<span class="mila" data-lnk="3221226011" data-exlnk="0" id="M_21_13_6">אֹרְח֖וֹת</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_13_7">דְּדָנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6044">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_14" data-pasuk-now="10"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_14_1">לִקְרַ֥את</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_14_2">צָמֵ֖א</span>
<span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_21_14_3">הֵתָ֣יוּ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_21_14_4">מָ֑יִם</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_21_14_5">יֹֽשְׁבֵי֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_21_14_6">אֶ֣רֶץ</span>
<span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_21_14_7">תֵּימָ֔א</span>
<span class="mila" data-lnk="4026532559" data-exlnk="0" id="M_21_14_8">בְּלַחְמ֖וֹ</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_21_14_9">קִדְּמ֥וּ</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_21_14_10">נֹדֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6055">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_21_15_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6057">־</span><span class="mila" data-lnk="83" data-exlnk="0" id="M_21_15_2">מִפְּנֵ֥י</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_21_15_3">חֲרָב֖וֹת</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_21_15_4">נָדָ֑דוּ</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_21_15_5">מִפְּנֵ֣י׀</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_21_15_6">חֶ֣רֶב</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_15_7">נְטוּשָׁ֗ה</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_21_15_8">וּמִפְּנֵי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_15_9">קֶ֣שֶׁת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_15_10">דְּרוּכָ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_15_11">וּמִפְּנֵ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_15_12">כֹּ֥בֶד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_15_13">מִלְחָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6071">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6072">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_16" data-pasuk-now="13"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="1342177940" data-exlnk="0" id="M_21_16_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6074">־</span><span class="mila" data-lnk="1342177936" data-exlnk="0" id="M_21_16_2">כֹ֛ה</span>
<span class="mila" data-lnk="1342177936" data-exlnk="0" id="M_21_16_3">אָמַ֥ר</span>
<span class="mila" data-lnk="1879048848" data-exlnk="0" id="M_21_16_4">אֲדנָ֖י</span>
<span class="mila" data-lnk="3758097024" data-exlnk="0" id="M_21_16_5">אֵלָ֑י</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_21_16_6">בְּע֤וֹד</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_21_16_7">שָׁנָה֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_16_8">כִּשְׁנֵ֣י</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_21_16_9">שָׂכִ֔יר</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_21_16_10">וְכָלָ֖ה</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_21_16_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6085">־</span><span class="mila" data-lnk="88" data-exlnk="0" id="M_21_16_12">כְּב֥וֹד</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_21_16_13">קֵדָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6088">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_17" data-pasuk-now="12"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_21_17_1">וּשְׁאָ֧ר</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_21_17_2">מִסְפַּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6091">־</span><span class="mila" data-lnk="81" data-exlnk="0" id="M_21_17_3">קֶ֛שֶׁת</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_21_17_4">גִּבּוֹרֵ֥י</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_21_17_5">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6095">־</span><span class="mila" data-lnk="65" data-exlnk="0" id="M_21_17_6">קֵדָ֖ר</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_21_17_7">יִמְעָ֑טוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_17_8">כִּ֛י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_17_9">יְהוָ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_17_10">אֱלֹהֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6101">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_21_17_11">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_21_17_12">דִּבֵּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6105">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6106">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>