<p id="PR_39" data-perek-now="146" data-perek-nops="8"><span class="perek-header">פרק לט</span>
<br /><span id="PS_39_1" data-pasuk-now="17"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_39_1_1">בָּעֵ֣ת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_39_1_2">הַהִ֡יא</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_39_1_3">שָׁלַ֡ח</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_1_4">מְרֹדַ֣ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_1_5">בַּ֠לְאֲדָן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_1_6">בֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11918">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_39_1_7">בַּלְאֲדָ֧ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_1_8">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11921">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_39_1_9">בָּבֶ֛ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_1_10">סְפָרִ֥ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_39_1_11">וּמִנְחָ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_39_1_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11926">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_39_1_13">חִזְקִיָּ֑הוּ</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_39_1_14">וַיִּשְׁמַ֕ע</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_39_1_15">כִּ֥י</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_39_1_16">חָלָ֖ה</span>
<span class="mila" data-lnk="4026532555" data-exlnk="0" id="M_39_1_17">וַֽיֶּחֱזָֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11932">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_39_2" data-pasuk-now="35"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_39_2_1">וַיִּשְׂמַ֣ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_39_2_2">עֲלֵיהֶם֘</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_39_2_3">חִזְקִיָּהוּ֒</span>
<span class="mila" data-lnk="805306568" data-exlnk="0" id="M_39_2_4">וַיַּרְאֵ֣ם</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_39_2_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11938">־</span><span class="mila" data-lnk="75" data-exlnk="0" id="M_39_2_6">בֵּ֣ית</span>
<span data-lnk="0" data-exlnk="0" id="M_39_2_7" class="mila ktiv">נְכֹתֹ֡ה</span>
<span data-lnk="3221226059" data-exlnk="0" id="M_39_2_7_K" class="mila kri">נְכֹת֡וֹ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_39_2_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11943">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_9">הַכֶּסֶף֩</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_39_2_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11946">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_11">הַזָּהָ֨ב</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_39_2_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11949">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_39_2_13">הַבְּשָׂמִ֜ים</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_39_2_14">וְאֵ֣ת׀</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_39_2_15">הַשֶּׁ֣מֶן</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_39_2_16">הַטּ֗וֹב</span>
<span class="mila" data-lnk="1879048904" data-exlnk="0" id="M_39_2_17">וְאֵת֙</span>
<span class="mila" data-lnk="1342177928" data-exlnk="0" id="M_39_2_18">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11956">־</span><span class="mila" data-lnk="2952790731" data-exlnk="0" id="M_39_2_19">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_20">כֵּלָ֔יו</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_39_2_21">וְאֵ֛ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_39_2_22">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11961">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_23">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_24">נִמְצָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_25">בְּאֹצְרֹתָ֑יו</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_39_2_26">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11966">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_39_2_27">הָיָ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_39_2_28">דָבָ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_29">אֲ֠שֶׁר</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_39_2_30">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11971">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_39_2_31">הֶרְאָ֧ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_39_2_32">חִזְקִיָּ֛הוּ</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_39_2_33">בְּבֵית֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_34">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11976">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_39_2_35">מֶמְשַׁלְתּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11979">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11980">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_39_3" data-pasuk-now="22"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_1">וַיָּבֹא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_2">יְשַֽׁעְיָ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_3">הַנָּבִ֔יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11985">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_5">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_6">חִזְקִיָּ֑הוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_39_3_7">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_39_3_8">אֵלָ֜יו</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_39_3_9">מָ֥ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_39_3_10">אָמְר֣וּ׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_11">הָאֲנָשִׁ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_12">הָאֵ֗לֶּה</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_39_3_13">וּמֵאַ֙יִן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_14">יָבֹ֣אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_15">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_16">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_17">חִזְקִיָּ֔הוּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_39_3_18">מֵאֶ֧רֶץ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_39_3_19">רְחוֹקָ֛ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_39_3_20">בָּ֥אוּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_39_3_21">אֵלַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_3_22">מִבָּבֶֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12004">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_39_4" data-pasuk-now="18"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_4_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_4_2">מָ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_3">רָא֖וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_4">בְּבֵיתֶ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_4_5">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_4_6">חִזְקִיָּ֗הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_7">אֵ֣ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12013">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_9">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_10">בְּבֵיתִי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_11">רָא֔וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_12">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12018">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_13">הָיָ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_14">דָבָ֛ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_4_16">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12023">־</span><span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_39_4_17">הִרְאִיתִ֖ים</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_39_4_18">בְּאוֹצְרֹתָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12026">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_39_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_39_5_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_39_5_2">יְשַֽׁעְיָ֖הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_5_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12030">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_39_5_4">חִזְקִיָּ֑הוּ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_39_5_5">שְׁמַ֖ע</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_39_5_6">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12034">־</span><span class="mila" data-lnk="98" data-exlnk="0" id="M_39_5_7">יְהוָ֥ה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_39_5_8">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12037">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_39_6" data-pasuk-now="19"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_39_6_1">הִנֵּה֘</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_39_6_2">יָמִ֣ים</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_39_6_3">בָּאִים֒</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_39_6_4">וְנִשָּׂ֣א׀</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_39_6_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12043">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_39_6_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_6_7">בְּבֵיתֶ֗ךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_6_8">וַאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_6_9">אָצְר֧וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_6_10">אֲבֹתֶ֛יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_6_11">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12050">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_39_6_12">הַיּ֥וֹם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_39_6_13">הַזֶּ֖ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_39_6_14">בָּבֶ֑ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_39_6_15">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12055">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_39_6_16">יִוָּתֵ֥ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_39_6_17">דָּבָ֖ר</span>
<span class="mila" data-lnk="268435586" data-exlnk="0" id="M_39_6_18">אָמַ֥ר</span>
<span class="mila" data-lnk="805306498" data-exlnk="0" id="M_39_6_19">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12060">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_39_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532491" data-exlnk="0" id="M_39_7_1">וּמִבָּנֶ֜יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_2">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_39_7_3">יֵצְא֧וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_4">מִמְּךָ֛</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_5">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_6">תּוֹלִ֖יד</span>
<span class="mila" data-lnk="805306498" data-exlnk="0" id="M_39_7_7">יִקָּ֑חוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_8">וְהָיוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_9">סָרִיסִ֔ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_10">בְּהֵיכַ֖ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_11">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_7_12">בָּבֶֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12073">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_39_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_39_8_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_39_8_2">חִזְקִיָּ֙הוּ֙</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_39_8_3">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12077">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_39_8_4">יְשַׁעְיָ֔הוּ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_39_8_5">ט֥וֹב</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_39_8_6">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12081">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_39_8_7">יְהוָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_8_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_39_8_9">דִּבַּ֑רְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_39_8_10">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="268435648" data-exlnk="0" id="M_39_8_11">כִּ֥י</span>
<span class="mila" data-lnk="268435651" data-exlnk="0" id="M_39_8_12">יִהְיֶ֛ה</span>
<span class="mila" data-lnk="805306571" data-exlnk="0" id="M_39_8_13">שָׁל֥וֹם</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_39_8_14">וֶאֱמֶ֖ת</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_39_8_15">בְּיָמָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12092">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12093"> פ </span>
</span>
<br /></p>