<p id="PR_44" data-perek-now="390" data-perek-nops="28"><span class="perek-header">פרק מד</span>
<br /><span id="PS_44_1" data-pasuk-now="7"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_1_1">וְעַתָּ֥ה</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_1_2">שְׁמַ֖ע</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_44_1_3">יַעֲקֹ֣ב</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_44_1_4">עַבְדִּ֑י</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_44_1_5">וְיִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_1_6">בָּחַ֥רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_1_7">בֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13684">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_44_2_1">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13686">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_44_2_2">אָמַ֨ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_2_3">יְהוָ֥ה</span>
<span class="mila" data-lnk="4026532504" data-exlnk="0" id="M_44_2_4">עֹשֶׂ֛ךָ</span>
<span class="mila" data-lnk="805306514" data-exlnk="0" id="M_44_2_5">וְיֹצֶרְךָ֥</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_44_2_6">מִבֶּ֖טֶן</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_2_7">יַעְזְרֶ֑ךָּ</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_44_2_8">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13694">־</span><span class="mila" data-lnk="88" data-exlnk="0" id="M_44_2_9">תִּירָא֙</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_44_2_10">עַבְדִּ֣י</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_44_2_11">יַעֲקֹ֔ב</span>
<span class="mila" data-lnk="3221226004" data-exlnk="0" id="M_44_2_12">וִישֻׁר֖וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_2_13">בָּחַ֥רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_2_14">בֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13701">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_3_1">כִּ֤י</span>
<span class="mila" data-lnk="3221226013" data-exlnk="0" id="M_44_3_2">אֶצָּק</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13704">־</span><span class="mila" data-lnk="29" data-exlnk="0" id="M_44_3_3">מַ֙יִם֙</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_44_3_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13707">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_44_3_5">צָמֵ֔א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_44_3_6">וְנֹזְלִ֖ים</span>
<span class="mila" data-lnk="1073742361" data-exlnk="0" id="M_44_3_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13711">־</span><span class="mila" data-lnk="2147484184" data-exlnk="0" id="M_44_3_8">יַבָּשָׁ֑ה</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_3_9">אֶצֹּ֤ק</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_3_10">רוּחִי֙</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_44_3_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13716">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_44_3_12">זַרְעֶ֔ךָ</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_3_13">וּבִרְכָתִ֖י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_44_3_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13720">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_44_3_15">צֶאֱצָאֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13722">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_4_1">וְצָמְח֖וּ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_44_4_2">בְּבֵ֣ין</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_4_3">חָצִ֑יר</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_44_4_4">כַּעֲרָבִ֖ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_4_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13728">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_44_4_6">יִבְלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13730">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_44_4_7">מָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13732">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_5" data-pasuk-now="15"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_44_5_1">זֶ֤ה</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_44_5_2">יֹאמַר֙</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_44_5_3">לַיהוָ֣ה</span>
<span class="mila" data-lnk="97" data-exlnk="0" id="M_44_5_4">אָ֔נִי</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_44_5_5">וְזֶ֖ה</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_44_5_6">יִקְרָ֣א</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_44_5_7">בְשֵֽׁם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13740">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_44_5_8">יַעֲקֹ֑ב</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_44_5_9">וְזֶ֗ה</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_5_10">יִכְתֹּ֤ב</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_44_5_11">יָדוֹ֙</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_44_5_12">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_44_5_13">וּבְשֵׁ֥ם</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_44_5_14">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="3221226069" data-exlnk="0" id="M_44_5_15">יְכַנֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13750">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13751"> פ </span>
</span>
<br /><span id="PS_44_6" data-pasuk-now="15"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_44_6_1">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13753">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_44_6_2">אָמַ֨ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_6_3">יְהוָ֧ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_44_6_4">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13757">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_44_6_5">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_6_6">וְגֹאֲל֖וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_44_6_7">יְהוָ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_44_6_8">צְבָא֑וֹת</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_44_6_9">אֲנִ֤י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_44_6_10">רִאשׁוֹן֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_6_11">וַאֲנִ֣י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_6_12">אַחֲר֔וֹן</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_6_13">וּמִבַּלְעָדַ֖י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_6_14">אֵ֥ין</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_6_15">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13769">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_7" data-pasuk-now="14"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="3489661855" data-exlnk="0" id="M_44_7_1">וּמִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13771">־</span><span class="mila" data-lnk="4026532767" data-exlnk="0" id="M_44_7_2">כָמ֣וֹנִי</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_44_7_3">יִקְרָ֗א</span>
<span class="mila" data-lnk="4026532506" data-exlnk="0" id="M_44_7_4">וְיַגִּידֶ֤הָ</span>
<span class="mila" data-lnk="3221226010" data-exlnk="0" id="M_44_7_5">וְיַעְרְכֶהָ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_44_7_6">לִ֔י</span>
<span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_44_7_7">מִשּׂוּמִ֖י</span>
<span class="mila" data-lnk="1342178015" data-exlnk="0" id="M_44_7_8">עַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13779">־</span><span class="mila" data-lnk="2952790751" data-exlnk="0" id="M_44_7_9">עוֹלָ֑ם</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_44_7_10">וְאֹתִיּ֛וֹת</span>
<span class="mila" data-lnk="1073742423" data-exlnk="0" id="M_44_7_11">וַאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="2147484247" data-exlnk="0" id="M_44_7_12">תָּבֹ֖אנָה</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_44_7_13">יַגִּ֥ידוּ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_44_7_14">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13786">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_8" data-pasuk-now="17"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_44_8_1">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13788">־</span><span class="mila" data-lnk="94" data-exlnk="0" id="M_44_8_2">תִּפְחֲדוּ֙</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_44_8_3">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13791">־</span><span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_44_8_4">תִּרְה֔וּ</span>
<span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_44_8_5">הֲלֹ֥א</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_44_8_6">מֵאָ֛ז</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_44_8_7">הִשְׁמַעְתִּ֥יךָ</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_44_8_8">וְהִגַּ֖דְתִּי</span>
<span class="mila" data-lnk="3489661655" data-exlnk="0" id="M_44_8_9">וְאַתֶּ֣ם</span>
<span class="mila" data-lnk="3758097111" data-exlnk="0" id="M_44_8_10">עֵדָ֑י</span>
<span class="mila" data-lnk="1073742343" data-exlnk="0" id="M_44_8_11">הֲיֵ֤שׁ</span>
<span class="mila" data-lnk="3221225991" data-exlnk="0" id="M_44_8_12">אֱלוֹהַּ֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_44_8_13">מִבַּלְעָדַ֔י</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_44_8_14">וְאֵ֥ין</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_44_8_15">צ֖וּר</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_44_8_16">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13805">־</span><span class="mila" data-lnk="87" data-exlnk="0" id="M_44_8_17">יָדָֽעְתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13807">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_44_9_1">יֹצְרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13809">־</span><span class="mila" data-lnk="86" data-exlnk="0" id="M_44_9_2">פֶ֤סֶל</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_44_9_3">כֻּלָּם֙</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_44_9_4">תֹּ֔הוּ</span>
<span class="mila" data-lnk="3221226044" data-exlnk="0" id="M_44_9_5">וַחֲמוּדֵיהֶ֖ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_44_9_6">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13815">־</span><span class="mila" data-lnk="88" data-exlnk="0" id="M_44_9_7">יוֹעִ֑ילוּ</span>
<span class="mila" data-lnk="3221226047" data-exlnk="0" id="M_44_9_8">וְעֵדֵיהֶ֣ם</span>
<span class="mila" data-lnk="4026532543" data-exlnk="0" id="M_44_9_9">הֵ֗מָּה</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_44_9_10">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13820">־</span><span class="mila" data-lnk="126" data-exlnk="0" id="M_44_9_11">יִרְא֛וּ</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_44_9_12">וּבַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13823">־</span><span class="mila" data-lnk="4026532606" data-exlnk="0" id="M_44_9_13">יֵדְע֖וּ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_44_9_14">לְמַ֥עַן</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_44_9_15">יֵבֹֽשׁוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13827">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_10" data-pasuk-now="7"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_44_10_1">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13829">־</span><span class="mila" data-lnk="62" data-exlnk="0" id="M_44_10_2">יָצַ֥ר</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_44_10_3">אֵ֖ל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_44_10_4">וּפֶ֣סֶל</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_44_10_5">נָסָ֑ךְ</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_44_10_6">לְבִלְתִּ֖י</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_44_10_7">הוֹעִֽיל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13836">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_44_11_1">הֵ֤ן</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_44_11_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13839">־</span><span class="mila" data-lnk="4026532543" data-exlnk="0" id="M_44_11_3">חֲבֵרָיו֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_44_11_4">יֵבֹ֔שׁוּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_44_11_5">וְחָרָשִׁ֥ים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_44_11_6">הֵ֖מָּה</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_44_11_7">מֵאָדָ֑ם</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_44_11_8">יִֽתְקַבְּצ֤וּ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_44_11_9">כֻלָּם֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_44_11_10">יַעֲמֹ֔דוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_11_11">יִפְחֲד֖וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_11_12">יֵבֹ֥שׁוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_44_11_13">יָֽחַד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13851">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_12" data-pasuk-now="18"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026532509" data-exlnk="0" id="M_44_12_1">חָרַ֤שׁ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_44_12_2">בַּרְזֶל֙</span>
<span class="mila" data-lnk="3221226045" data-exlnk="0" id="M_44_12_3">מַֽעֲצָ֔ד</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_44_12_4">וּפָעַל֙</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_44_12_5">בַּפֶּחָ֔ם</span>
<span class="mila" data-lnk="3221226077" data-exlnk="0" id="M_44_12_6">וּבַמַּקָּב֖וֹת</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_44_12_7">יִצְּרֵ֑הוּ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_44_12_8">וַיִּפְעָלֵ֙הוּ֙</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_44_12_9">בִּזְר֣וֹעַ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_44_12_10">כֹּח֔וֹ</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_44_12_11">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13863">־</span><span class="mila" data-lnk="93" data-exlnk="0" id="M_44_12_12">רָעֵב֙</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_44_12_13">וְאֵ֣ין</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_44_12_14">כֹּ֔חַ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_44_12_15">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13868">־</span><span class="mila" data-lnk="96" data-exlnk="0" id="M_44_12_16">שָׁ֥תָה</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_44_12_17">מַ֖יִם</span>
<span class="mila" data-lnk="3221226081" data-exlnk="0" id="M_44_12_18">וַיִּיעָֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13872">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_13" data-pasuk-now="17"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532573" data-exlnk="0" id="M_44_13_1">חָרַ֣שׁ</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_44_13_2">עֵצִים֘</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_44_13_3">נָ֣טָה</span>
<span class="mila" data-lnk="805306589" data-exlnk="0" id="M_44_13_4">קָו֒</span>
<span class="mila" data-lnk="4026532573" data-exlnk="0" id="M_44_13_5">יְתָאֲרֵ֣הוּ</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_44_13_6">בַשֶּׂ֔רֶד</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_44_13_7">יַעֲשֵׂ֙הוּ֙</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_44_13_8">בַּמַּקְצֻע֔וֹת</span>
<span class="mila" data-lnk="3221226015" data-exlnk="0" id="M_44_13_9">וּבַמְּחוּגָ֖ה</span>
<span class="mila" data-lnk="3221226009" data-exlnk="0" id="M_44_13_10">יְתָאֳרֵ֑הוּ</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_44_13_11">וַֽיַּעֲשֵׂ֙הוּ֙</span>
<span class="mila" data-lnk="3221226066" data-exlnk="0" id="M_44_13_12">כְּתַבְנִ֣ית</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_44_13_13">אִ֔ישׁ</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_44_13_14">כְּתִפְאֶ֥רֶת</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_44_13_15">אָדָ֖ם</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_44_13_16">לָשֶׁ֥בֶת</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_44_13_17">בָּֽיִת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13890">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_14" data-pasuk-now="14"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_44_14_1">לִכְרָת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13892">־</span><span class="mila" data-lnk="90" data-exlnk="0" id="M_44_14_2">ל֣וֹ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_44_14_3">אֲרָזִ֔ים</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_44_14_4">וַיִּקַּ֤ח</span>
<span class="mila" data-lnk="3221226077" data-exlnk="0" id="M_44_14_5">תִּרְזָה֙</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_44_14_6">וְאַלּ֔וֹן</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_44_14_7">וַיְאַמֶּץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13899">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_44_14_8">ל֖וֹ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_44_14_9">בַּעֲצֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13902">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_44_14_10">יָ֑עַר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_44_14_11">נָטַ֥ע</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_44_14_12">אֹ֖רֶן</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_44_14_13">וְגֶ֥שֶׁם</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_44_14_14">יְגַדֵּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13908">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_15" data-pasuk-now="18"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_44_15_1">וְהָיָ֤ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_44_15_2">לְאָדָם֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_44_15_3">לְבָעֵ֔ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_44_15_4">וַיִּקַּ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_15_5">מֵהֶם֙</span>
<span class="mila" data-lnk="4026532497" data-exlnk="0" id="M_44_15_6">וַיָּ֔חָם</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_44_15_7">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13916">־</span><span class="mila" data-lnk="3221226065" data-exlnk="0" id="M_44_15_8">יַשִּׂ֖יק</span>
<span class="mila" data-lnk="3221226001" data-exlnk="0" id="M_44_15_9">וְאָ֣פָה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_44_15_10">לָ֑חֶם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_44_15_11">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13921">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_44_15_12">יִפְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13923">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_44_15_13">אֵל֙</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_44_15_14">וַיִּשְׁתָּ֔חוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_15_15">עָשָׂ֥הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_15_16">פֶ֖סֶל</span>
<span class="mila" data-lnk="3221225988" data-exlnk="0" id="M_44_15_17">וַיִּסְגָּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13929">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_44_15_18">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13931">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_16" data-pasuk-now="18"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_44_16_1">חֶצְיוֹ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_16_2">שָׂרַ֣ף</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_44_16_3">בְּמוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13935">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_44_16_4">אֵ֔שׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_16_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13938">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_44_16_6">חֶצְיוֹ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_16_7">בָּשָׂ֣ר</span>
<span class="mila" data-lnk="805306512" data-exlnk="0" id="M_44_16_8">יֹאכֵ֔ל</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_16_9">יִצְלֶ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_16_10">צָלִ֖י</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_16_11">וְיִשְׂבָּ֑ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_16_12">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13946">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_44_16_13">יָחֹם֙</span>
<span class="mila" data-lnk="4026532496" data-exlnk="0" id="M_44_16_14">וְיֹאמַ֣ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_16_15">הֶאָ֔ח</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_16_16">חַמּוֹתִ֖י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_44_16_17">רָאִ֥יתִי</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_44_16_18">אֽוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13953">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_17" data-pasuk-now="14"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_44_17_1">וּשְׁאֵ֣רִית֔וֹ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_44_17_2">לְאֵ֥ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_44_17_3">עָשָׂ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_44_17_4">לְפִסְל֑וֹ</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_17_5">יִסְגָּוד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13959">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_44_17_6">ל֤וֹ</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_17_7">וְיִשְׁתַּ֙חוּ֙</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_44_17_8">וְיִתְפַּלֵּ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_17_9">אֵלָ֔יו</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_44_17_10">וְיֹאמַר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_17_11">הַצִּילֵ֔נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_17_12">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_17_13">אֵלִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_17_14">אָֽתָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13969">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_44_18_1">לֹ֥א</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_18_2">יָדְע֖וּ</span>
<span class="mila" data-lnk="4026532752" data-exlnk="0" id="M_44_18_3">וְלֹ֣א</span>
<span class="mila" data-lnk="3758097296" data-exlnk="0" id="M_44_18_4">יָבִ֑ינוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_44_18_5">כִּ֣י</span>
<span class="mila" data-lnk="3221226004" data-exlnk="0" id="M_44_18_6">טַ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_18_7">מֵֽרְאוֹת֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_44_18_8">עֵינֵיהֶ֔ם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_44_18_9">מֵהַשְׂכִּ֖יל</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_44_18_10">לִבֹּתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_19" data-pasuk-now="27"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="1879049109" data-exlnk="0" id="M_44_19_1">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13982">־</span><span class="mila" data-lnk="4026532757" data-exlnk="0" id="M_44_19_2">יָשִׁ֣יב</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_44_19_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13985">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_44_19_4">לִבּ֗וֹ</span>
<span class="mila" data-lnk="805306513" data-exlnk="0" id="M_44_19_5">וְלֹ֨א</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_44_19_6">דַ֥עַת</span>
<span class="mila" data-lnk="805306513" data-exlnk="0" id="M_44_19_7">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13990">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_44_19_8">תְבוּנָה֘</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_44_19_9">לֵאמֹר֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_19_10">חֶצְי֞וֹ</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_19_11">שָׂרַ֣פְתִּי</span>
<span class="mila" data-lnk="805306500" data-exlnk="0" id="M_44_19_12">בְמוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13996">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_44_19_13">אֵ֗שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_19_14">וְ֠אַף</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_44_19_15">אָפִ֤יתִי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_19_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14001">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_44_19_17">גֶּחָלָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_19_18">לֶ֔חֶם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_44_19_19">אֶצְלֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_19_20">בָשָׂ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_19_21">וְאֹכֵ֑ל</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_44_19_22">וְיִתְרוֹ֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_44_19_23">לְתוֹעֵבָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_19_24">אֶעֱשֶׂ֔ה</span>
<span class="mila" data-lnk="3221226077" data-exlnk="0" id="M_44_19_25">לְב֥וּל</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_44_19_26">עֵ֖ץ</span>
<span class="mila" data-lnk="3221226048" data-exlnk="0" id="M_44_19_27">אֶסְגּֽוֹד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_20" data-pasuk-now="14"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_44_20_1">רֹעֶ֣ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_44_20_2">אֵ֔פֶר</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_44_20_3">לֵ֥ב</span>
<span class="mila" data-lnk="3221226103" data-exlnk="0" id="M_44_20_4">הוּתַ֖ל</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_44_20_5">הִטָּ֑הוּ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_44_20_6">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14020">־</span><span class="mila" data-lnk="89" data-exlnk="0" id="M_44_20_7">יַצִּ֤יל</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_44_20_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14023">־</span><span class="mila" data-lnk="81" data-exlnk="0" id="M_44_20_9">נַפְשׁוֹ֙</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_44_20_10">וְלֹ֣א</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_44_20_11">יֹאמַ֔ר</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_44_20_12">הֲל֥וֹא</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_44_20_13">שֶׁ֖קֶר</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_44_20_14">בִּימִינִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14031">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="14032">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_21" data-pasuk-now="14"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_44_21_1">זְכָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14034">־</span><span class="mila" data-lnk="30" data-exlnk="0" id="M_44_21_2">אֵ֣לֶּה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_44_21_3">יַֽעֲקֹ֔ב</span>
<span class="mila" data-lnk="805306498" data-exlnk="0" id="M_44_21_4">וְיִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_44_21_5">כִּ֣י</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_44_21_6">עַבְדִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14040">־</span><span class="mila" data-lnk="805306526" data-exlnk="0" id="M_44_21_7">אָ֑תָּה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_44_21_8">יְצַרְתִּ֤יךָ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_44_21_9">עֶֽבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14044">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_44_21_10">לִי֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_44_21_11">אַ֔תָּה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_21_12">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_44_21_13">לֹ֥א</span>
<span class="mila" data-lnk="3221226109" data-exlnk="0" id="M_44_21_14">תִנָּשֵֽׁנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14050">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_22" data-pasuk-now="9"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="3221226013" data-exlnk="0" id="M_44_22_1">מָחִ֤יתִי</span>
<span class="mila" data-lnk="4026532509" data-exlnk="0" id="M_44_22_2">כָעָב֙</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_44_22_3">פְּשָׁעֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_22_4">וְכֶעָנָ֖ן</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_44_22_5">חַטֹּאותֶ֑יךָ</span>
<span class="mila" data-lnk="4026532499" data-exlnk="0" id="M_44_22_6">שׁוּבָ֥ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_44_22_7">אֵלַ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_44_22_8">כִּ֥י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_44_22_9">גְאַלְתִּֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14060">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_23" data-pasuk-now="21"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_44_23_1">רָנּ֨וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_23_2">שָׁמַ֜יִם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_44_23_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14064">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_44_23_4">עָשָׂ֣ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_44_23_5">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_23_6">הָרִ֙יעוּ֙</span>
<span class="mila" data-lnk="4026532496" data-exlnk="0" id="M_44_23_7">תַּחְתִּיּ֣וֹת</span>
<span class="mila" data-lnk="805306512" data-exlnk="0" id="M_44_23_8">אָ֔רֶץ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_44_23_9">פִּצְח֤וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_23_10">הָרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_23_11">רִנָּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_23_12">יַ֖עַר</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_44_23_13">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14075">־</span><span class="mila" data-lnk="2684355200" data-exlnk="0" id="M_44_23_14">עֵ֣ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_23_15">בּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_23_16">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14079">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_44_23_17">גָאַ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_23_18">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_23_19">יַעֲקֹ֔ב</span>
<span class="mila" data-lnk="4026532740" data-exlnk="0" id="M_44_23_20">וּבְיִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_44_23_21">יִתְפָּאָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14086">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="14087">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_24" data-pasuk-now="17"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_44_24_1">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14089">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_44_24_2">אָמַ֤ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_44_24_3">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_24_4">גֹּאֲלֶ֔ךָ</span>
<span class="mila" data-lnk="805306497" data-exlnk="0" id="M_44_24_5">וְיֹצֶרְךָ֖</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_44_24_6">מִבָּ֑טֶן</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_44_24_7">אָנֹכִ֤י</span>
<span class="mila" data-lnk="3758097040" data-exlnk="0" id="M_44_24_8">יְהוָה֙</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_44_24_9">עֹ֣שֶׂה</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_44_24_10">כֹּ֔ל</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_44_24_11">נֹטֶ֤ה</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_44_24_12">שָׁמַ֙יִם֙</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_44_24_13">לְבַדִּ֔י</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_44_24_14">רֹקַ֥ע</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_44_24_15">הָאָ֖רֶץ</span>
<span data-lnk="1342177940" data-exlnk="0" id="M_44_24_16" class="mila ktiv">מֵי</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="14105">־</span><span data-lnk="2684355220" data-exlnk="0" id="M_44_24_17" class="mila ktiv">אִתִּֽי</span>
<span data-lnk="60" data-exlnk="0" id="M_44_24_17_K" class="mila kri">מֵאִתִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14108">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_25" data-pasuk-now="10"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_44_25_1">מֵפֵר֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_44_25_2">אֹת֣וֹת</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_44_25_3">בַּדִּ֔ים</span>
<span class="mila" data-lnk="3221226014" data-exlnk="0" id="M_44_25_4">וְקֹסְמִ֖ים</span>
<span class="mila" data-lnk="4026532746" data-exlnk="0" id="M_44_25_5">יְהוֹלֵ֑ל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_44_25_6">מֵשִׁ֧יב</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_44_25_7">חֲכָמִ֛ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_44_25_8">אָח֖וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_44_25_9">וְדַעְתָּ֥ם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_44_25_10">יְסַכֵּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14119">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_26" data-pasuk-now="14"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_44_26_1">מֵקִים֙</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_44_26_2">דְּבַ֣ר</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_44_26_3">עַבְדּ֔וֹ</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_44_26_4">וַעֲצַ֥ת</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_44_26_5">מַלְאָכָ֖יו</span>
<span class="mila" data-lnk="4026532823" data-exlnk="0" id="M_44_26_6">יַשְׁלִ֑ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_44_26_7">הָאֹמֵ֨ר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_44_26_8">לִירוּשָׁלִַ֜ם</span>
<span class="mila" data-lnk="3221226007" data-exlnk="0" id="M_44_26_9">תּוּשָׁ֗ב</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_44_26_10">וּלְעָרֵ֤י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_44_26_11">יְהוּדָה֙</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_44_26_12">תִּבָּנֶ֔ינָה</span>
<span class="mila" data-lnk="4026532510" data-exlnk="0" id="M_44_26_13">וְחָרְבוֹתֶ֖יהָ</span>
<span class="mila" data-lnk="3221225994" data-exlnk="0" id="M_44_26_14">אֲקוֹמֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14134">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_27" data-pasuk-now="5"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_44_27_1">הָאֹמֵ֥ר</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_44_27_2">לַצּוּלָ֖ה</span>
<span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_44_27_3">חֳרָ֑בִי</span>
<span class="mila" data-lnk="3221226003" data-exlnk="0" id="M_44_27_4">וְנַהֲרֹתַ֖יִךְ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_44_27_5">אוֹבִֽישׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14140">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_44_28" data-pasuk-now="11"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_44_28_1">הָאֹמֵ֤ר</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_44_28_2">לְכ֙וֹרֶשׁ֙</span>
<span class="mila" data-lnk="4026532587" data-exlnk="0" id="M_44_28_3">רֹעִ֔י</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_44_28_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14145">־</span><span class="mila" data-lnk="82" data-exlnk="0" id="M_44_28_5">חֶפְצִ֖י</span>
<span class="mila" data-lnk="4026532498" data-exlnk="0" id="M_44_28_6">יַשְׁלִ֑ם</span>
<span class="mila" data-lnk="4026532490" data-exlnk="0" id="M_44_28_7">וְלֵאמֹ֤ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_44_28_8">לִירוּשָׁלִַם֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_44_28_9">תִּבָּנֶ֔ה</span>
<span class="mila" data-lnk="4026532498" data-exlnk="0" id="M_44_28_10">וְהֵיכָ֖ל</span>
<span class="mila" data-lnk="3221226006" data-exlnk="0" id="M_44_28_11">תִּוָּסֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14154">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="14155"> פ </span>
</span>
<br /></p>