<p id="PR_66" data-perek-now="386" data-perek-nops="24"><span class="perek-header">פרק סו</span>
<br /><span id="PS_66_1" data-pasuk-now="18"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026532598" data-exlnk="0" id="M_66_1_1">כֹּ֚ה</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_66_1_2">אָמַ֣ר</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_66_1_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_1_4">הַשָּׁמַ֣יִם</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_1_5">כִּסְאִ֔י</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_66_1_6">וְהָאָ֖רֶץ</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_66_1_7">הֲדֹ֣ם</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_66_1_8">רַגְלָ֑י</span>
<span class="mila" data-lnk="805306542" data-exlnk="0" id="M_66_1_9">אֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20142">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_66_1_10">זֶ֥ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_66_1_11">בַ֙יִת֙</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_66_1_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_66_1_13">תִּבְנוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20147">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_66_1_14">לִ֔י</span>
<span class="mila" data-lnk="4026532758" data-exlnk="0" id="M_66_1_15">וְאֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20150">־</span><span class="mila" data-lnk="4026532758" data-exlnk="0" id="M_66_1_16">זֶ֥ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_66_1_17">מָק֖וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_66_1_18">מְנוּחָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20154">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_2" data-pasuk-now="20"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1073742455" data-exlnk="0" id="M_66_2_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20156">־</span><span class="mila" data-lnk="1073742451" data-exlnk="0" id="M_66_2_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20158">־</span><span class="mila" data-lnk="2147484275" data-exlnk="0" id="M_66_2_3">אֵ֙לֶּה֙</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_66_2_4">יָדִ֣י</span>
<span class="mila" data-lnk="4026532559" data-exlnk="0" id="M_66_2_5">עָשָׂ֔תָה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_66_2_6">וַיִּהְי֥וּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_66_2_7">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20164">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_66_2_8">אֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_2_9">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20167">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_66_2_10">יְהוָ֑ה</span>
<span class="mila" data-lnk="1073742350" data-exlnk="0" id="M_66_2_11">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20170">־</span><span class="mila" data-lnk="3221225998" data-exlnk="0" id="M_66_2_12">זֶ֣ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_66_2_13">אַבִּ֔יט</span>
<span class="mila" data-lnk="1073742447" data-exlnk="0" id="M_66_2_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20174">־</span><span class="mila" data-lnk="2147484271" data-exlnk="0" id="M_66_2_15">עָנִי֙</span>
<span class="mila" data-lnk="3221226095" data-exlnk="0" id="M_66_2_16">וּנְכֵה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20177">־</span><span class="mila" data-lnk="111" data-exlnk="0" id="M_66_2_17">ר֔וּחַ</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_66_2_18">וְחָרֵ֖ד</span>
<span class="mila" data-lnk="4026532841" data-exlnk="0" id="M_66_2_19">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20181">־</span><span class="mila" data-lnk="4026532841" data-exlnk="0" id="M_66_2_20">דְּבָרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20183">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_3" data-pasuk-now="23"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_66_3_1">שׁוֹחֵ֨ט</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_3_2">הַשּׁ֜וֹר</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_66_3_3">מַכֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20187">־</span><span class="mila" data-lnk="126" data-exlnk="0" id="M_66_3_4">אִ֗ישׁ</span>
<span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_66_3_5">זוֹבֵ֤חַ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_66_3_6">הַשֶּׂה֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_3_7">עֹ֣רֵֽף</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_3_8">כֶּ֔לֶב</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_66_3_9">מַעֲלֵ֤ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_3_10">מִנְחָה֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_3_11">דַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20196">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_66_3_12">חֲזִ֔יר</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_66_3_13">מַזְכִּ֥יר</span>
<span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_66_3_14">לְבֹנָ֖ה</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_66_3_15">מְבָ֣רֵֽךְ</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_66_3_16">אָ֑וֶן</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_66_3_17">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20203">־</span><span class="mila" data-lnk="125" data-exlnk="0" id="M_66_3_18">הֵ֗מָּה</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_66_3_19">בָּֽחֲרוּ֙</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_66_3_20">בְּדַרְכֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026532544" data-exlnk="0" id="M_66_3_21">וּבְשִׁקּוּצֵיהֶ֖ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_66_3_22">נַפְשָׁ֥ם</span>
<span class="mila" data-lnk="3221226048" data-exlnk="0" id="M_66_3_23">חָפֵֽצָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20210">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_4" data-pasuk-now="21"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="1342178045" data-exlnk="0" id="M_66_4_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20212">־</span><span class="mila" data-lnk="3758097149" data-exlnk="0" id="M_66_4_2">אֲנִ֞י</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_66_4_3">אֶבְחַ֣ר</span>
<span class="mila" data-lnk="3221226105" data-exlnk="0" id="M_66_4_4">בְּתַעֲלֻלֵיהֶ֗ם</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_66_4_5">וּמְגֽוּרֹתָם֙</span>
<span class="mila" data-lnk="120" data-exlnk="0" id="M_66_4_6">אָבִ֣יא</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_66_4_7">לָהֶ֔ם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_66_4_8">יַ֤עַן</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_66_4_9">קָרָ֙אתִי֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_66_4_10">וְאֵ֣ין</span>
<span class="mila" data-lnk="4026532497" data-exlnk="0" id="M_66_4_11">עוֹנֶ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_4_12">דִּבַּ֖רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_4_13">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_4_14">שָׁמֵ֑עוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_4_15">וַיַּעֲשׂ֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_4_16">הָרַע֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_4_17">בְּעֵינַ֔י</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_66_4_18">וּבַאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_4_19">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20231">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_66_4_20">חָפַ֖צְתִּי</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_66_4_21">בָּחָֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20235">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="20236">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_5" data-pasuk-now="18"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_66_5_1">שִׁמְעוּ֙</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_66_5_2">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20239">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_66_5_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_66_5_4">הַחֲרֵדִ֖ים</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_66_5_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20243">־</span><span class="mila" data-lnk="67" data-exlnk="0" id="M_66_5_6">דְּבָר֑וֹ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_66_5_7">אָמְרוּ֩</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_66_5_8">אֲחֵיכֶ֨ם</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_66_5_9">שֹׂנְאֵיכֶ֜ם</span>
<span class="mila" data-lnk="3221226083" data-exlnk="0" id="M_66_5_10">מְנַדֵּיכֶ֗ם</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_66_5_11">לְמַ֤עַן</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_66_5_12">שְׁמִי֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_5_13">יִכְבַּ֣ד</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_5_14">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_66_5_15">וְנִרְאֶ֥ה</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_66_5_16">בְשִׂמְחַתְכֶ֖ם</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_66_5_17">וְהֵ֥ם</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_66_5_18">יֵבֹֽשׁוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20257">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="805306591" data-exlnk="0" id="M_66_6_1">ק֤וֹל</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_66_6_2">שָׁאוֹן֙</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_66_6_3">מֵעִ֔יר</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_66_6_4">ק֖וֹל</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_66_6_5">מֵהֵיכָ֑ל</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_66_6_6">ק֣וֹל</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_66_6_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_66_6_8">מְשַׁלֵּ֥ם</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_66_6_9">גְּמ֖וּל</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_66_6_10">לְאֹיְבָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20268">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_66_7_1">בְּטֶ֥רֶם</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_66_7_2">תָּחִ֖יל</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_66_7_3">יָלָ֑דָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_7_4">בְּטֶ֨רֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_7_5">יָב֥וֹא</span>
<span class="mila" data-lnk="3221225988" data-exlnk="0" id="M_66_7_6">חֵ֛בֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_7_7">לָ֖הּ</span>
<span class="mila" data-lnk="3221226069" data-exlnk="0" id="M_66_7_8">וְהִמְלִ֥יטָה</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_66_7_9">זָכָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20278">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_8" data-pasuk-now="22"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_8_1">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20280">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_66_8_2">שָׁמַ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_8_3">כָּזֹ֗את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_8_4">מִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_8_5">רָאָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_8_6">כָּאֵ֔לֶּה</span>
<span class="mila" data-lnk="3221226073" data-exlnk="0" id="M_66_8_7">הֲי֤וּחַל</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_66_8_8">אֶ֙רֶץ֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_66_8_9">בְּי֣וֹם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_66_8_10">אֶחָ֔ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_66_8_11">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20291">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_66_8_12">יִוָּ֥לֵֽד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20293">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_66_8_13">גּ֖וֹי</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_66_8_14">פַּ֣עַם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_66_8_15">אֶחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_8_16">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20298">־</span><span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_66_8_17">חָ֛לָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_8_18">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20301">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_66_8_19">יָלְדָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_8_20">צִיּ֖וֹן</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_66_8_21">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20305">־</span><span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_66_8_22">בָּנֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20307">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_9" data-pasuk-now="12"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221226015" data-exlnk="0" id="M_66_9_1">הַאֲנִ֥י</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_66_9_2">אַשְׁבִּ֛יר</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_66_9_3">וְלֹ֥א</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_66_9_4">אוֹלִ֖יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_66_9_5">יֹאמַ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_66_9_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_66_9_7">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20315">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_66_9_8">אֲנִ֧י</span>
<span class="mila" data-lnk="3221226043" data-exlnk="0" id="M_66_9_9">הַמּוֹלִ֛יד</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_66_9_10">וְעָצַ֖רְתִּי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_66_9_11">אָמַ֥ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_66_9_12">אֱלֹהָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20322">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="20323">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_66_10_1">שִׂמְח֧וּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_66_10_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20326">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_66_10_3">יְרוּשָׁלִַ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_10_4">וְגִ֥ילוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_10_5">בָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_10_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20331">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_66_10_7">אֹהֲבֶ֑יהָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_66_10_8">שִׂ֤ישׂוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_10_9">אִתָּהּ֙</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_66_10_10">מָשׂ֔וֹשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_10_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20337">־</span><span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_66_10_12">הַמִּֽתְאַבְּלִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_10_13">עָלֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20340">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_66_11_1">לְמַ֤עַן</span>
<span class="mila" data-lnk="3221226008" data-exlnk="0" id="M_66_11_2">תִּֽינְקוּ֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_66_11_3">וּשְׂבַעְתֶּ֔ם</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_66_11_4">מִשֹּׁ֖ד</span>
<span class="mila" data-lnk="3221226010" data-exlnk="0" id="M_66_11_5">תַּנְחֻמֶ֑יהָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_66_11_6">לְמַ֧עַן</span>
<span class="mila" data-lnk="3221226005" data-exlnk="0" id="M_66_11_7">תָּמֹ֛צּוּ</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_66_11_8">וְהִתְעַנַּגְתֶּ֖ם</span>
<span class="mila" data-lnk="3221226077" data-exlnk="0" id="M_66_11_9">מִזִּ֥יז</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_66_11_10">כְּבוֹדָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20352">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="20353">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_12" data-pasuk-now="20"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="805306516" data-exlnk="0" id="M_66_12_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20355">־</span><span class="mila" data-lnk="268435600" data-exlnk="0" id="M_66_12_2">כֹ֣ה׀</span>
<span class="mila" data-lnk="268435600" data-exlnk="0" id="M_66_12_3">אָמַ֣ר</span>
<span class="mila" data-lnk="536871057" data-exlnk="0" id="M_66_12_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_12_5">הִנְנִ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_66_12_6">נֹטֶֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20361">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_66_12_7">אֵ֠לֶיהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_12_8">כְּנָהָ֨ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_66_12_9">שָׁל֜וֹם</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_66_12_10">וּכְנַ֧חַל</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_66_12_11">שׁוֹטֵ֛ף</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_66_12_12">כְּב֥וֹד</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_66_12_13">גּוֹיִ֖ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_12_14">וִֽינַקְתֶּ֑ם</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_66_12_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20371">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_66_12_16">צַד֙</span>
<span class="mila" data-lnk="3221225988" data-exlnk="0" id="M_66_12_17">תִּנָּשֵׂ֔אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_12_18">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20375">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_66_12_19">בִּרְכַּ֖יִם</span>
<span class="mila" data-lnk="3221226005" data-exlnk="0" id="M_66_12_20">תְּשָׁעֳשָֽׁעוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20378">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532500" data-exlnk="0" id="M_66_13_1">כְּאִ֕ישׁ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_66_13_2">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_66_13_3">אִמּ֖וֹ</span>
<span class="mila" data-lnk="3221226008" data-exlnk="0" id="M_66_13_4">תְּנַחֲמֶ֑נּוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_13_5">כֵּ֤ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_13_6">אָֽנֹכִי֙</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_66_13_7">אֲנַ֣חֶמְכֶ֔ם</span>
<span class="mila" data-lnk="4026532496" data-exlnk="0" id="M_66_13_8">וּבִירוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_66_13_9">תְּנֻחָֽמוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20388">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_14" data-pasuk-now="14"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_66_14_1">וּרְאִיתֶם֙</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_66_14_2">וְשָׂ֣שׂ</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_66_14_3">לִבְּכֶ֔ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_14_4">וְעַצְמוֹתֵיכֶ֖ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_14_5">כַּדֶּ֣שֶׁא</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_66_14_6">תִפְרַ֑חְנָה</span>
<span class="mila" data-lnk="4026532801" data-exlnk="0" id="M_66_14_7">וְנוֹדְעָ֤ה</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_66_14_8">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20397">־</span><span class="mila" data-lnk="81" data-exlnk="0" id="M_66_14_9">יְהוָה֙</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_66_14_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20400">־</span><span class="mila" data-lnk="80" data-exlnk="0" id="M_66_14_11">עֲבָדָ֔יו</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_66_14_12">וְזָעַ֖ם</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_66_14_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20404">־</span><span class="mila" data-lnk="112" data-exlnk="0" id="M_66_14_14">אֹיְבָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20407">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="20408">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_66_15_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20410">־</span><span class="mila" data-lnk="80" data-exlnk="0" id="M_66_15_2">הִנֵּ֤ה</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_66_15_3">יְהוָה֙</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_66_15_4">בָּאֵ֣שׁ</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_66_15_5">יָב֔וֹא</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_66_15_6">וְכַסּוּפָ֖ה</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_66_15_7">מַרְכְּבֹתָ֑יו</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_66_15_8">לְהָשִׁ֤יב</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_66_15_9">בְּחֵמָה֙</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_66_15_10">אַפּ֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_66_15_11">וְגַעֲרָת֖וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_66_15_12">בְּלַהֲבֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20422">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_66_15_13">אֵֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20424">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_66_16_1">כִּ֤י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_66_16_2">בָאֵשׁ֙</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_66_16_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="4026532761" data-exlnk="0" id="M_66_16_4">נִשְׁפָּ֔ט</span>
<span class="mila" data-lnk="3221226008" data-exlnk="0" id="M_66_16_5">וּבְחַרְבּ֖וֹ</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_66_16_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20431">־</span><span class="mila" data-lnk="120" data-exlnk="0" id="M_66_16_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20433">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_66_16_8">בָּשָׂ֑ר</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_66_16_9">וְרַבּ֖וּ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_66_16_10">חַֽלֲלֵ֥י</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_66_16_11">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20438">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_17" data-pasuk-now="16"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3221226109" data-exlnk="0" id="M_66_17_1">הַמִּתְקַדְּשִׁ֨ים</span>
<span class="mila" data-lnk="3221226076" data-exlnk="0" id="M_66_17_2">וְהַמִּֽטַּהֲרִ֜ים</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_66_17_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20442">־</span><span class="mila" data-lnk="125" data-exlnk="0" id="M_66_17_4">הַגַּנּ֗וֹת</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_66_17_5">אַחַ֤ר</span>
<span data-lnk="0" data-exlnk="0" id="M_66_17_6" class="mila ktiv">אַחַד֙</span>
<span data-lnk="805306623" data-exlnk="0" id="M_66_17_6_K" class="mila kri">אַחַת֙</span>
<span class="mila" data-lnk="4026532599" data-exlnk="0" id="M_66_17_7">בַּתָּ֔וֶךְ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_66_17_8">אֹֽכְלֵי֙</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_66_17_9">בְּשַׂ֣ר</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_66_17_10">הַחֲזִ֔יר</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_66_17_11">וְהַשֶּׁ֖קֶץ</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_66_17_12">וְהָעַכְבָּ֑ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_66_17_13">יַחְדָּ֥ו</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_66_17_14">יָסֻ֖פוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_17_15">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20456">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_66_17_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20458">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_18" data-pasuk-now="13"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026532599" data-exlnk="0" id="M_66_18_1">וְאָנֹכִ֗י</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_66_18_2">מַֽעֲשֵׂיהֶם֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_66_18_3">וּמַחְשְׁבֹ֣תֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_66_18_4">בָּאָ֕ה</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_66_18_5">לְקַבֵּ֥ץ</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_66_18_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20465">־</span><span class="mila" data-lnk="83" data-exlnk="0" id="M_66_18_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20467">־</span><span class="mila" data-lnk="83" data-exlnk="0" id="M_66_18_8">הַגּוֹיִ֖ם</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_66_18_9">וְהַלְּשֹׁנ֑וֹת</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_66_18_10">וּבָ֖אוּ</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_66_18_11">וְרָא֥וּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_66_18_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20473">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_66_18_13">כְּבוֹדִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20475">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_19" data-pasuk-now="30"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_19_1">וְשַׂמְתִּ֨י</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_66_19_2">בָהֶ֜ם</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_66_19_3">א֗וֹת</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_66_19_4">וְשִׁלַּחְתִּ֣י</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_66_19_5">מֵהֶ֣ם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="20481">׀</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_66_19_6">פְּ֠לֵיטִים</span>
<span class="mila" data-lnk="1342178298" data-exlnk="0" id="M_66_19_7">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20484">־</span><span class="mila" data-lnk="4026532826" data-exlnk="0" id="M_66_19_8">הַגּוֹיִ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_19_9">תַּרְשִׁ֨ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_19_10">פּ֥וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_19_11">וְל֛וּד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_19_12">מֹ֥שְׁכֵי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_19_13">קֶ֖שֶׁת</span>
<span class="mila" data-lnk="4026532496" data-exlnk="0" id="M_66_19_14">תֻּבַ֣ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_19_15">וְיָוָ֑ן</span>
<span class="mila" data-lnk="1073742393" data-exlnk="0" id="M_66_19_16">הָאִיִּ֣ים</span>
<span class="mila" data-lnk="2147484249" data-exlnk="0" id="M_66_19_17">הָרְחֹקִ֗ים</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_66_19_18">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="120" data-exlnk="0" id="M_66_19_19">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20497">־</span><span class="mila" data-lnk="88" data-exlnk="0" id="M_66_19_20">שָׁמְע֤וּ</span>
<span class="mila" data-lnk="805306600" data-exlnk="0" id="M_66_19_21">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20500">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_66_19_22">שִׁמְעִי֙</span>
<span class="mila" data-lnk="3489661640" data-exlnk="0" id="M_66_19_23">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20503">־</span><span class="mila" data-lnk="2684355272" data-exlnk="0" id="M_66_19_24">רָא֣וּ</span>
<span class="mila" data-lnk="805306600" data-exlnk="0" id="M_66_19_25">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20506">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_66_19_26">כְּבוֹדִ֔י</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_66_19_27">וְהִגִּ֥ידוּ</span>
<span class="mila" data-lnk="805306600" data-exlnk="0" id="M_66_19_28">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20510">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_66_19_29">כְּבוֹדִ֖י</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_66_19_30">בַּגּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20513">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_20" data-pasuk-now="29"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4026532540" data-exlnk="0" id="M_66_20_1">וְהֵבִ֣יאוּ</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_66_20_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20516">־</span><span class="mila" data-lnk="104" data-exlnk="0" id="M_66_20_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20518">־</span><span class="mila" data-lnk="104" data-exlnk="0" id="M_66_20_4">אֲחֵיכֶ֣ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_66_20_5">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20521">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_66_20_6">הַגּוֹיִ֣ם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="20523">׀</span>
<span class="mila" data-lnk="120" data-exlnk="0" id="M_66_20_7">מִנְחָ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="20525">׀</span>
<span class="mila" data-lnk="120" data-exlnk="0" id="M_66_20_8">לַיהוָ֡ה</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_66_20_9">בַּסּוּסִ֡ים</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_66_20_10">וּ֠בָרֶכֶב</span>
<span class="mila" data-lnk="3221226061" data-exlnk="0" id="M_66_20_11">וּבַצַּבִּ֨ים</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_66_20_12">וּבַפְּרָדִ֜ים</span>
<span class="mila" data-lnk="3221226077" data-exlnk="0" id="M_66_20_13">וּבַכִּרְכָּר֗וֹת</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_66_20_14">עַ֣ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_20_15">הַ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_20_16">קָדְשִׁ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_20_17">יְרוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_20_18">אָמַ֣ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_66_20_19">יְהוָ֑ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_66_20_20">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532523" data-exlnk="0" id="M_66_20_21">יָבִיאוּ֩</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_66_20_22">בְנֵ֨י</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_66_20_23">יִשְׂרָאֵ֧ל</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_66_20_24">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20543">־</span><span class="mila" data-lnk="62" data-exlnk="0" id="M_66_20_25">הַמִּנְחָ֛ה</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_66_20_26">בִּכְלִ֥י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_66_20_27">טָה֖וֹר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_20_28">בֵּ֥ית</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_66_20_29">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20549">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_21" data-pasuk-now="7"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026532567" data-exlnk="0" id="M_66_21_1">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20551">־</span><span class="mila" data-lnk="83" data-exlnk="0" id="M_66_21_2">מֵהֶ֥ם</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_66_21_3">אֶקַּ֛ח</span>
<span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_66_21_4">לַכֹּהֲנִ֥ים</span>
<span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_66_21_5">לַלְוִיִּ֖ם</span>
<span class="mila" data-lnk="805306497" data-exlnk="0" id="M_66_21_6">אָמַ֥ר</span>
<span class="mila" data-lnk="805306497" data-exlnk="0" id="M_66_21_7">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20558">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_22" data-pasuk-now="17"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_66_22_1">כִּ֣י</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_66_22_2">כַאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_66_22_3">הַשָּׁמַ֣יִם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_66_22_4">הַ֠חֲדָשִׁים</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_66_22_5">וְהָאָ֨רֶץ</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_66_22_6">הַחֲדָשָׁ֜ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_66_22_7">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_66_22_8">אֲנִ֥י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_66_22_9">עֹשֶׂ֛ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_66_22_10">עֹמְדִ֥ים</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_66_22_11">לְפָנַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_66_22_12">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20571">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_66_22_13">יְהוָ֑ה</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_66_22_14">כֵּ֛ן</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_66_22_15">יַעֲמֹ֥ד</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_66_22_16">זַרְעֲכֶ֖ם</span>
<span class="mila" data-lnk="3221226060" data-exlnk="0" id="M_66_22_17">וְשִׁמְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20577">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_66_23_1">וְהָיָ֗ה</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_66_23_2">מִֽדֵּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20580">־</span><span class="mila" data-lnk="126" data-exlnk="0" id="M_66_23_3">חֹ֙דֶשׁ֙</span>
<span class="mila" data-lnk="4026532598" data-exlnk="0" id="M_66_23_4">בְּחָדְשׁ֔וֹ</span>
<span class="mila" data-lnk="3221225990" data-exlnk="0" id="M_66_23_5">וּמִדֵּ֥י</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_66_23_6">שַׁבָּ֖ת</span>
<span class="mila" data-lnk="4026532550" data-exlnk="0" id="M_66_23_7">בְּשַׁבַּתּ֑וֹ</span>
<span class="mila" data-lnk="805306602" data-exlnk="0" id="M_66_23_8">יָב֧וֹא</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_66_23_9">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20588">־</span><span class="mila" data-lnk="122" data-exlnk="0" id="M_66_23_10">בָּשָׂ֛ר</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_66_23_11">לְהִשְׁתַּחֲוֺ֥ת</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_66_23_12">לְפָנַ֖י</span>
<span class="mila" data-lnk="805306562" data-exlnk="0" id="M_66_23_13">אָמַ֥ר</span>
<span class="mila" data-lnk="805306562" data-exlnk="0" id="M_66_23_14">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20594">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_66_24" data-pasuk-now="17"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026532606" data-exlnk="0" id="M_66_24_1">וְיָצְא֣וּ</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_66_24_2">וְרָא֔וּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_66_24_3">בְּפִגְרֵי֙</span>
<span class="mila" data-lnk="120" data-exlnk="0" id="M_66_24_4">הָאֲנָשִׁ֔ים</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_66_24_5">הַפֹּשְׁעִ֖ים</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_66_24_6">בִּ֑י</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_66_24_7">כִּ֣י</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_66_24_8">תוֹלַעְתָּ֞ם</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_66_24_9">לֹ֣א</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_66_24_10">תָמ֗וּת</span>
<span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_66_24_11">וְאִשָּׁם֙</span>
<span class="mila" data-lnk="1342178038" data-exlnk="0" id="M_66_24_12">לֹ֣א</span>
<span class="mila" data-lnk="4026532598" data-exlnk="0" id="M_66_24_13">תִכְבֶּ֔ה</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_66_24_14">וְהָי֥וּ</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_66_24_15">דֵרָא֖וֹן</span>
<span class="mila" data-lnk="1879048922" data-exlnk="0" id="M_66_24_16">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="20611">־</span><span class="mila" data-lnk="4026532570" data-exlnk="0" id="M_66_24_17">בָּשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="20613">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>