<p id="PR_20" data-perek-now="96" data-perek-nops="6"><span class="perek-header">פרק כ</span>
<br /><span id="PS_20_1" data-pasuk-now="12"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_20_1_1">בִּשְׁנַ֨ת</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_20_1_2">בֹּ֤א</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_20_1_3">תַרְתָּן֙</span>
<span class="mila" data-lnk="4026532794" data-exlnk="0" id="M_20_1_4">אַשְׁדּ֔וֹדָה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_20_1_5">בִּשְׁלֹ֣חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_1_6">אֹת֔וֹ</span>
<span class="mila" data-lnk="3221226040" data-exlnk="0" id="M_20_1_7">סַֽרְג֖וֹן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_1_8">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_20_1_9">אַשּׁ֑וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_1_10">וַיִּלָּ֥חֶם</span>
<span class="mila" data-lnk="48" data-exlnk="2" id="M_20_1_11">בְּאַשְׁדּ֖וֹד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_1_12">וַֽיִּלְכְּדָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5751">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_2" data-pasuk-now="23"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_2_1">בָּעֵ֣ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_2_2">הַהִ֗יא</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_2_3">דִּבֶּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_4">יְהוָה֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_5">בְּיַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_6">יְשַֽׁעְיָ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_7">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5759">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_8">אָמוֹץ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_2_9">לֵאמֹר֒</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_20_2_10">לֵ֗ךְ</span>
<span class="mila" data-lnk="4026532603" data-exlnk="0" id="M_20_2_11">וּפִתַּחְתָּ֤</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_20_2_12">הַשַּׂק֙</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_20_2_13">מֵעַ֣ל</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_20_2_14">מָתְנֶ֔יךָ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_20_2_15">וְנַעַלְךָ֥</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_2_16">תַחֲלֹ֖ץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_20_2_17">מֵעַ֣ל</span>
<span class="mila" data-lnk="4026532488" data-exlnk="0" id="M_20_2_18">רַגְלֶ֑ךָ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_20_2_19">וַיַּ֣עַשׂ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_20_2_20">כֵּ֔ן</span>
<span class="mila" data-lnk="805306544" data-exlnk="0" id="M_20_2_21">הָלֹ֖ךְ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_20_2_22">עָר֥וֹם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_20_2_23">וְיָחֵֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5777">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5778">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_3" data-pasuk-now="16"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_3_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_3_2">יְהוָ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_3_3">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_20_3_4">הָלַ֛ךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_3_5">עַבְדִּ֥י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_20_3_6">יְשַֽׁעְיָ֖הוּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_20_3_7">עָר֣וֹם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_20_3_8">וְיָחֵ֑ף</span>
<span class="mila" data-lnk="101" data-exlnk="0" id="M_20_3_9">שָׁלֹ֤שׁ</span>
<span class="mila" data-lnk="101" data-exlnk="0" id="M_20_3_10">שָׁנִים֙</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_20_3_11">א֣וֹת</span>
<span class="mila" data-lnk="4026532533" data-exlnk="0" id="M_20_3_12">וּמוֹפֵ֔ת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_20_3_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5792">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_20_3_14">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_20_3_15">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5795">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_20_3_16">כּֽוּשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5797">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_4" data-pasuk-now="18"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_4_1">כֵּ֣ן</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_20_4_2">יִנְהַ֣ג</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_4_3">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5801">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_20_4_4">אַ֠שּׁוּר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_4_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5804">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_20_4_6">שְׁבִ֨י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_20_4_7">מִצְרַ֜יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5808">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_9">גָּל֥וּת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_4_10">כּ֛וּשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_11">נְעָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_4_12">וּזְקֵנִ֖ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_4_13">עָר֣וֹם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_20_4_14">וְיָחֵ֑ף</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_20_4_15">וַחֲשׂוּפַ֥י</span>
<span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_20_4_16">שֵׁ֖ת</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_20_4_17">עֶרְוַ֥ת</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_20_4_18">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5819">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_5" data-pasuk-now="7"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_20_5_1">וְחַתּ֖וּ</span>
<span class="mila" data-lnk="4026532539" data-exlnk="0" id="M_20_5_2">וָבֹ֑שׁוּ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_20_5_3">מִכּוּשׁ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_20_5_4">מַבָּטָ֔ם</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_20_5_5">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5825">־</span><span class="mila" data-lnk="3221226039" data-exlnk="0" id="M_20_5_6">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_20_5_7">תִּפְאַרְתָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5828">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_20_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_20_6_1">וְ֠אָמַר</span>
<span class="mila" data-lnk="805306509" data-exlnk="0" id="M_20_6_2">יֹשֵׁ֨ב</span>
<span class="mila" data-lnk="4026532489" data-exlnk="0" id="M_20_6_3">הָאִ֣י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_20_6_4">הַזֶּה֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_5">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_6">הַהוּא֒</span>
<span class="mila" data-lnk="1073742348" data-exlnk="0" id="M_20_6_7">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5836">־</span><span class="mila" data-lnk="2147484160" data-exlnk="0" id="M_20_6_8">כֹ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_9">מַבָּטֵ֗נוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_20_6_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5840">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_20_6_11">נַ֤סְנוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_20_6_12">שָׁם֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_20_6_13">לְעֶזְרָ֔ה</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_20_6_14">לְהִ֨נָּצֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_15">מִפְּנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_16">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_17">אַשּׁ֑וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_18">וְאֵ֖יךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_19">נִמָּלֵ֥ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_20_6_20">אֲנָֽחְנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5852">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5853"> פ </span>
</span>
<br /></p>