<p id="PR_26" data-perek-now="233" data-perek-nops="21"><span class="perek-header">פרק כו</span>
<br /><span id="PS_26_1" data-pasuk-now="14"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_26_1_1">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_26_1_2">הַה֔וּא</span>
<span class="mila" data-lnk="3221226066" data-exlnk="0" id="M_26_1_3">יוּשַׁ֥ר</span>
<span class="mila" data-lnk="4026532818" data-exlnk="0" id="M_26_1_4">הַשִּׁיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7259">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_26_1_5">הַזֶּ֖ה</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_26_1_6">בְּאֶ֣רֶץ</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_26_1_7">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_26_1_8">עִ֣יר</span>
<span class="mila" data-lnk="4026532567" data-exlnk="0" id="M_26_1_9">עָז</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7265">־</span><span class="mila" data-lnk="87" data-exlnk="0" id="M_26_1_10">לָ֔נוּ</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_26_1_11">יְשׁוּעָ֥ה</span>
<span class="mila" data-lnk="805306567" data-exlnk="0" id="M_26_1_12">יָשִׁ֖ית</span>
<span class="mila" data-lnk="4026532846" data-exlnk="0" id="M_26_1_13">חוֹמ֥וֹת</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_26_1_14">וָחֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7271">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_26_2_1">פִּתְח֖וּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_26_2_2">שְׁעָרִ֑ים</span>
<span class="mila" data-lnk="805306505" data-exlnk="0" id="M_26_2_3">וְיָבֹ֥א</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_26_2_4">גוֹי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7276">־</span><span class="mila" data-lnk="105" data-exlnk="0" id="M_26_2_5">צַדִּ֖יק</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_2_6">שֹׁמֵ֥ר</span>
<span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_26_2_7">אֱמֻנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7280">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_3_1">יֵ֣צֶר</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_26_3_2">סָמ֔וּךְ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_3_3">תִּצֹּ֖ר</span>
<span class="mila" data-lnk="805306590" data-exlnk="0" id="M_26_3_4">שָׁל֣וֹם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="7285">׀</span>
<span class="mila" data-lnk="805306591" data-exlnk="0" id="M_26_3_5">שָׁל֑וֹם</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_3_6">כִּ֥י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_3_7">בְךָ֖</span>
<span class="mila" data-lnk="4026532859" data-exlnk="0" id="M_26_3_8">בָּטֽוּחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7290">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_26_4_1">בִּטְח֥וּ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_26_4_2">בַיהוָ֖ה</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_26_4_3">עֲדֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7294">־</span><span class="mila" data-lnk="88" data-exlnk="0" id="M_26_4_4">עַ֑ד</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_4_5">כִּ֚י</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_26_4_6">בְּיָ֣הּ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_4_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_4_8">צ֖וּר</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_26_4_9">עוֹלָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7301">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_26_5_1">כִּ֤י</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_26_5_2">הֵשַׁח֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_5_3">יֹשְׁבֵ֣י</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_5_4">מָר֔וֹם</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_26_5_5">קִרְיָ֖ה</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_26_5_6">נִשְׂגָּבָ֑ה</span>
<span class="mila" data-lnk="3221226004" data-exlnk="0" id="M_26_5_7">יַשְׁפִּילֶ֤נָּה</span>
<span class="mila" data-lnk="3221225990" data-exlnk="0" id="M_26_5_8">יַשְׁפִּילָהּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_5_9">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7311">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_26_5_10">אֶ֔רֶץ</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_26_5_11">יַגִּיעֶ֖נָּה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_26_5_12">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7315">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_26_5_13">עָפָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7317">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_6" data-pasuk-now="6"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_26_6_1">תִּרְמְסֶ֖נָּה</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_26_6_2">רָ֑גֶל</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_26_6_3">רַגְלֵ֥י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_26_6_4">עָנִ֖י</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_26_6_5">פַּעֲמֵ֥י</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_26_6_6">דַלִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7324">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_7" data-pasuk-now="7"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_7_1">אֹ֥רַח</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_7_2">לַצַּדִּ֖יק</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_7_3">מֵישָׁרִ֑ים</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_26_7_4">יָשָׁ֕ר</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_7_5">מַעְגַּ֥ל</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_7_6">צַדִּ֖יק</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_7_7">תְּפַלֵּֽס</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7332">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_8" data-pasuk-now="9"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_8_1">אַ֣ף</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_8_2">אֹ֧רַח</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_8_3">מִשְׁפָּטֶ֛יךָ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_8_4">יְהוָ֖ה</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_26_8_5">קִוִּינ֑וּךָ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_8_6">לְשִׁמְךָ֥</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_8_7">וּלְזִכְרְךָ֖</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_26_8_8">תַּאֲוַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7341">־</span><span class="mila" data-lnk="39" data-exlnk="0" id="M_26_8_9">נָֽפֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7343">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_26_9_1">נַפְשִׁ֤י</span>
<span class="mila" data-lnk="3221226015" data-exlnk="0" id="M_26_9_2">אִוִּיתִךָ֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_26_9_3">בַּלַּ֔יְלָה</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_26_9_4">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7348">־</span><span class="mila" data-lnk="29" data-exlnk="0" id="M_26_9_5">רוּחִ֥י</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_26_9_6">בְקִרְבִּ֖י</span>
<span class="mila" data-lnk="4026532789" data-exlnk="0" id="M_26_9_7">אֲשַׁחֲרֶ֑ךָּ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_9_8">כִּ֞י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_9_9">כַּאֲשֶׁ֤ר</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_9_10">מִשְׁפָּטֶ֙יךָ֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_9_11">לָאָ֔רֶץ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_9_12">צֶ֥דֶק</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_26_9_13">לָמְד֖וּ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_9_14">יֹשְׁבֵ֥י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_9_15">תֵבֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7360">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_10" data-pasuk-now="12"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_26_10_1">יֻחַ֤ן</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_26_10_2">רָשָׁע֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_10_3">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7364">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_26_10_4">לָמַ֣ד</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_10_5">צֶ֔דֶק</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_10_6">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_10_7">נְכֹח֖וֹת</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_26_10_8">יְעַוֵּ֑ל</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_26_10_9">וּבַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7371">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_26_10_10">יִרְאֶ֖ה</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_10_11">גֵּא֥וּת</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_10_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7376">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7377"> פ </span>
</span>
<br /><span id="PS_26_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_11_1">יְהוָ֛ה</span>
<span class="mila" data-lnk="4026532575" data-exlnk="0" id="M_26_11_2">רָ֥מָה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_11_3">יָדְךָ֖</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_26_11_4">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7382">־</span><span class="mila" data-lnk="3221226102" data-exlnk="0" id="M_26_11_5">יֶחֱזָי֑וּן</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_11_6">יֶחֱז֤וּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_11_7">וְיֵבֹ֙שׁוּ֙</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_26_11_8">קִנְאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7387">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_26_11_9">עָ֔ם</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_26_11_10">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7390">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_26_11_11">אֵ֖שׁ</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_26_11_12">צָרֶ֥יךָ</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_26_11_13">תֹאכְלֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7395">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="7396">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_26_12_1">יְהוָ֕ה</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_26_12_2">תִּשְׁפֹּ֥ת</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_12_3">שָׁל֖וֹם</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_26_12_4">לָ֑נוּ</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_26_12_5">כִּ֛י</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_26_12_6">גַּ֥ם</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_12_7">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7404">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_26_12_8">מַעֲשֵׂ֖ינוּ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_12_9">פָּעַ֥לְתָּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_12_10">לָּֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7409">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="7410">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_26_13_1">יְהוָ֣ה</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_26_13_2">אֱלֹהֵ֔ינוּ</span>
<span class="mila" data-lnk="3221226095" data-exlnk="0" id="M_26_13_3">בְּעָל֥וּנוּ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_26_13_4">אֲדֹנִ֖ים</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_26_13_5">זוּלָתֶ֑ךָ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_13_6">לְבַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7417">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_26_13_7">בְּךָ֖</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_26_13_8">נַזְכִּ֥יר</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_13_9">שְׁמֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7421">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_14" data-pasuk-now="13"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_14_1">מֵתִים֙</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_14_2">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7424">־</span><span class="mila" data-lnk="805306619" data-exlnk="0" id="M_26_14_3">יִ֣חְי֔וּ</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_26_14_4">רְפָאִ֖ים</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_26_14_5">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7428">־</span><span class="mila" data-lnk="4026532570" data-exlnk="0" id="M_26_14_6">יָקֻ֑מוּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_26_14_7">לָכֵ֤ן</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_26_14_8">פָּקַ֙דְתָּ֙</span>
<span class="mila" data-lnk="3221226051" data-exlnk="0" id="M_26_14_9">וַתַּשְׁמִידֵ֔ם</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_26_14_10">וַתְּאַבֵּ֥ד</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_26_14_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7435">־</span><span class="mila" data-lnk="82" data-exlnk="0" id="M_26_14_12">זֵ֖כֶר</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_26_14_13">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7438">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_15" data-pasuk-now="10"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_26_15_1">יָסַ֤פְתָּ</span>
<span class="mila" data-lnk="4026532603" data-exlnk="0" id="M_26_15_2">לַגּוֹי֙</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_26_15_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_26_15_4">יָסַ֥פְתָּ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_26_15_5">לַגּ֖וֹי</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_26_15_6">נִכְבָּ֑דְתָּ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_15_7">רִחַ֖קְתָּ</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_26_15_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7447">־</span><span class="mila" data-lnk="4026532603" data-exlnk="0" id="M_26_15_9">קַצְוֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7449">־</span><span class="mila" data-lnk="123" data-exlnk="0" id="M_26_15_10">אָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7452">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7453"> פ </span>
</span>
<br /><span id="PS_26_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_16_1">יְהוָ֖ה</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_16_2">בַּצַּ֣ר</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_26_16_3">פְּקָד֑וּךָ</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_26_16_4">צָק֣וּן</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_16_5">לַ֔חַשׁ</span>
<span class="mila" data-lnk="3221226110" data-exlnk="0" id="M_26_16_6">מוּסָרְךָ֖</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_26_16_7">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7461">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_17" data-pasuk-now="11"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_17_1">כְּמ֤וֹ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_17_2">הָרָה֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_17_3">תַּקְרִ֣יב</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_17_4">לָלֶ֔דֶת</span>
<span class="mila" data-lnk="1073742346" data-exlnk="0" id="M_26_17_5">תָּחִ֥יל</span>
<span class="mila" data-lnk="3221226058" data-exlnk="0" id="M_26_17_6">תִּזְעַ֖ק</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_26_17_7">בַּחֲבָלֶ֑יהָ</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_26_17_8">כֵּ֛ן</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_17_9">הָיִ֥ינוּ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_17_10">מִפָּנֶ֖יךָ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_26_17_11">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7473">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_18" data-pasuk-now="13"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_18_1">הָרִ֣ינוּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_26_18_2">חַ֔לְנוּ</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_26_18_3">כְּמ֖וֹ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_18_4">יָלַ֣דְנוּ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_18_5">ר֑וּחַ</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_26_18_6">יְשׁוּעֹת֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_26_18_7">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7481">־</span><span class="mila" data-lnk="805306555" data-exlnk="0" id="M_26_18_8">נַ֣עֲשֶׂה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_26_18_9">אֶ֔רֶץ</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_26_18_10">וּבַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7485">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_26_18_11">יִפְּל֖וּ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_18_12">יֹשְׁבֵ֥י</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_18_13">תֵבֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7489">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_19" data-pasuk-now="15"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_26_19_1">יִֽחְי֣וּ</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_26_19_2">מֵתֶ֔יךָ</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_26_19_3">נְבֵלָתִ֖י</span>
<span class="mila" data-lnk="4026532573" data-exlnk="0" id="M_26_19_4">יְקוּמ֑וּן</span>
<span class="mila" data-lnk="4026532567" data-exlnk="0" id="M_26_19_5">הָקִ֨יצוּ</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_26_19_6">וְרַנְּנ֜וּ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_26_19_7">שֹׁכְנֵ֣י</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_26_19_8">עָפָ֗ר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_19_9">כִּ֣י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_19_10">טַ֤ל</span>
<span class="mila" data-lnk="4026532603" data-exlnk="0" id="M_26_19_11">אוֹרֹת֙</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_26_19_12">טַלֶּ֔ךָ</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_26_19_13">וָאָ֖רֶץ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_19_14">רְפָאִ֥ים</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_26_19_15">תַּפִּֽיל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7506">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7507"> פ </span>
</span>
<br /><span id="PS_26_20" data-pasuk-now="13"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_20_1">לֵ֤ךְ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_20_2">עַמִּי֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_26_20_3">בֹּ֣א</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_26_20_4">בַחֲדָרֶ֔יךָ</span>
<span class="mila" data-lnk="805306579" data-exlnk="0" id="M_26_20_5">וּֽסֲגֹ֥ר</span>
<span data-lnk="0" data-exlnk="0" id="M_26_20_6" class="mila ktiv">דְּלָתְיךָ֖</span>
<span data-lnk="3221226067" data-exlnk="0" id="M_26_20_6_K" class="mila kri">דְּלָתְךָ֖</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_26_20_7">בַּעֲדֶ֑ךָ</span>
<span class="mila" data-lnk="3221226071" data-exlnk="0" id="M_26_20_8">חֲבִ֥י</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_26_20_9">כִמְעַט</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7518">־</span><span class="mila" data-lnk="82" data-exlnk="0" id="M_26_20_10">רֶ֖גַע</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_26_20_11">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7521">־</span><span data-lnk="0" data-exlnk="0" id="M_26_20_12" class="mila ktiv">יַעֲבָור</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="7523">־</span><span data-lnk="4026532563" data-exlnk="0" id="M_26_20_12_K" class="mila kri">יַעֲבָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7525">־</span><span class="mila" data-lnk="115" data-exlnk="0" id="M_26_20_13">זָֽעַם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7527">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_21" data-pasuk-now="19"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_26_21_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7529">־</span><span class="mila" data-lnk="89" data-exlnk="0" id="M_26_21_2">הִנֵּ֤ה</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_26_21_3">יְהוָה֙</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_26_21_4">יֹצֵ֣א</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_26_21_5">מִמְּקוֹמ֔וֹ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_26_21_6">לִפְקֹ֛ד</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_26_21_7">עֲוֺ֥ן</span>
<span class="mila" data-lnk="4026532489" data-exlnk="0" id="M_26_21_8">יֹֽשֵׁב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7537">־</span><span class="mila" data-lnk="536871113" data-exlnk="0" id="M_26_21_9">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_21_10">עָלָ֑יו</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_26_21_11">וְגִלְּתָ֤ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_21_12">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_21_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7543">־</span><span class="mila" data-lnk="4026532742" data-exlnk="0" id="M_26_21_14">דָּמֶ֔יהָ</span>
<span class="mila" data-lnk="3489661840" data-exlnk="0" id="M_26_21_15">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7546">־</span><span class="mila" data-lnk="4026532752" data-exlnk="0" id="M_26_21_16">תְכַסֶּ֥ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_26_21_17">ע֖וֹד</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_26_21_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7550">־</span><span class="mila" data-lnk="4026532497" data-exlnk="0" id="M_26_21_19">הֲרוּגֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7553">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7554"> פ </span>
</span>
<br /></p>