<p id="PR_34" data-perek-now="220" data-perek-nops="17"><span class="perek-header">פרק לד</span>
<br /><span id="PS_34_1" data-pasuk-now="11"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_34_1_1">קִרְב֤וּ</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_34_1_2">גוֹיִם֙</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_34_1_3">לִשְׁמֹ֔עַ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_1_4">וּלְאֻמִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_5">הַקְשִׁ֑יבוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_6">תִּשְׁמַ֤ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_7">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_8">וּמְלֹאָ֔הּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_34_1_9">תֵּבֵ֖ל</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_34_1_10">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9998">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_34_1_11">צֶאֱצָאֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10000">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_2" data-pasuk-now="13"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_34_2_1">כִּ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_2_2">קֶ֤צֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_3">לַֽיהוָה֙</span>
<span class="mila" data-lnk="1342177928" data-exlnk="0" id="M_34_2_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10005">־</span><span class="mila" data-lnk="1342177928" data-exlnk="0" id="M_34_2_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10007">־</span><span class="mila" data-lnk="2952790664" data-exlnk="0" id="M_34_2_6">הַגּוֹיִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_7">וְחֵמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10011">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10013">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_34_2_10">צְבָאָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_11">הֶחֱרִימָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_12">נְתָנָ֥ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_2_13">לַטָּֽבַח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10018">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_34_3_1">וְחַלְלֵיהֶ֣ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_3_2">יֻשְׁלָ֔כוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_3">וּפִגְרֵיהֶ֖ם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_34_3_4">יַעֲלֶ֣ה</span>
<span class="mila" data-lnk="3221226010" data-exlnk="0" id="M_34_3_5">בָאְשָׁ֑ם</span>
<span class="mila" data-lnk="3221226268" data-exlnk="0" id="M_34_3_6">וְנָמַ֥סּוּ</span>
<span class="mila" data-lnk="3221226264" data-exlnk="0" id="M_34_3_7">הָרִ֖ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_34_3_8">מִדָּמָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10027">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026532573" data-exlnk="0" id="M_34_4_1">וְנָמַ֙קּוּ֙</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_34_4_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10030">־</span><span class="mila" data-lnk="89" data-exlnk="0" id="M_34_4_3">צְבָ֣א</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_34_4_4">הַשָּׁמַ֔יִם</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_34_4_5">וְנָגֹ֥לּוּ</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_34_4_6">כַסֵּ֖פֶר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_34_4_7">הַשָּׁמָ֑יִם</span>
<span class="mila" data-lnk="4026532552" data-exlnk="0" id="M_34_4_8">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10037">־</span><span class="mila" data-lnk="2952790728" data-exlnk="0" id="M_34_4_9">צְבָאָ֣ם</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_34_4_10">יִבּ֔וֹל</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_34_4_11">כִּנְבֹ֤ל</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_34_4_12">עָלֶה֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_34_4_13">מִגֶּ֔פֶן</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_34_4_14">וּכְנֹבֶ֖לֶת</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_34_4_15">מִתְּאֵנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10045">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_34_5_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10047">־</span><span class="mila" data-lnk="3221226067" data-exlnk="0" id="M_34_5_2">רִוְּתָ֥ה</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_34_5_3">בַשָּׁמַ֖יִם</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_34_5_4">חַרְבִּ֑י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_5_5">הִנֵּה֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_34_5_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10053">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_34_5_7">אֱד֣וֹם</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_34_5_8">תֵּרֵ֔ד</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_34_5_9">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10057">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_34_5_10">עַ֥ם</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_34_5_11">חֶרְמִ֖י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_34_5_12">לְמִשְׁפָּֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10061">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_34_6_1">חֶ֣רֶב</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_34_6_2">לַיהוָ֞ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_34_6_3">מָלְאָ֥ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_34_6_4">דָם֙</span>
<span class="mila" data-lnk="3221226078" data-exlnk="0" id="M_34_6_5">הֻדַּ֣שְׁנָה</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_34_6_6">מֵחֵ֔לֶב</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_34_6_7">מִדַּ֤ם</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_34_6_8">כָּרִים֙</span>
<span class="mila" data-lnk="4026532507" data-exlnk="0" id="M_34_6_9">וְעַתּוּדִ֔ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_34_6_10">מֵחֵ֖לֶב</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_34_6_11">כִּלְי֣וֹת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_34_6_12">אֵילִ֑ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_34_6_13">כִּ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_34_6_14">זֶ֤בַח</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_34_6_15">לַֽיהוָה֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_34_6_16">בְּבָצְרָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_17">וְטֶ֥בַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_18">גָּד֖וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_19">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_20">אֱדֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10082">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532566" data-exlnk="0" id="M_34_7_1">וְיָרְד֤וּ</span>
<span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_34_7_2">רְאֵמִים֙</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_34_7_3">עִמָּ֔ם</span>
<span class="mila" data-lnk="4026532574" data-exlnk="0" id="M_34_7_4">וּפָרִ֖ים</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_34_7_5">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10088">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_34_7_6">אַבִּירִ֑ים</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_34_7_7">וְרִוְּתָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_8">אַרְצָם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_34_7_9">מִדָּ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_7_10">וַעֲפָרָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_11">מֵחֵ֥לֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_12">יְדֻשָּֽׁן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10096">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_34_8_1">כִּ֛י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_8_2">י֥וֹם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_8_3">נָקָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_8_4">לַֽיהוָ֑ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_34_8_5">שְׁנַ֥ת</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_34_8_6">שִׁלּוּמִ֖ים</span>
<span class="mila" data-lnk="4026532785" data-exlnk="0" id="M_34_8_7">לְרִ֥יב</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_34_8_8">צִיּֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10105">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_9" data-pasuk-now="9"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_34_9_1">וְנֶהֶפְכ֤וּ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_34_9_2">נְחָלֶ֙יהָ֙</span>
<span class="mila" data-lnk="4026532500" data-exlnk="0" id="M_34_9_3">לְזֶ֔פֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_9_4">וַעֲפָרָ֖הּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_9_5">לְגָפְרִ֑ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_9_6">וְהָיְתָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_9_7">אַרְצָ֔הּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_34_9_8">לְזֶ֖פֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_9_9">בֹּעֵרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10115">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_10" data-pasuk-now="15"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532540" data-exlnk="0" id="M_34_10_1">לַ֤יְלָה</span>
<span class="mila" data-lnk="2952790688" data-exlnk="0" id="M_34_10_2">וְיוֹמָם֙</span>
<span class="mila" data-lnk="1879048872" data-exlnk="0" id="M_34_10_3">לֹ֣א</span>
<span class="mila" data-lnk="2684355240" data-exlnk="0" id="M_34_10_4">תִכְבֶּ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_10_5">לְעוֹלָ֖ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_10_6">יַעֲלֶ֣ה</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_34_10_7">עֲשָׁנָ֑הּ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_34_10_8">מִדּ֤וֹר</span>
<span class="mila" data-lnk="3221226009" data-exlnk="0" id="M_34_10_9">לָדוֹר֙</span>
<span class="mila" data-lnk="3221225992" data-exlnk="0" id="M_34_10_10">תֶּחֱרָ֔ב</span>
<span class="mila" data-lnk="4026532484" data-exlnk="0" id="M_34_10_11">לְנֵ֣צַח</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_10_12">נְצָחִ֔ים</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_34_10_13">אֵ֥ין</span>
<span class="mila" data-lnk="2147484160" data-exlnk="0" id="M_34_10_14">עֹבֵ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_15">בָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10131">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532756" data-exlnk="0" id="M_34_11_1">וִירֵשׁ֙וּהָ֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_34_11_2">קָאַ֣ת</span>
<span class="mila" data-lnk="3221226003" data-exlnk="0" id="M_34_11_3">וְקִפּ֔וֹד</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_34_11_4">וְיַנְשׁ֥וֹף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_5">וְעֹרֵ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_6">יִשְׁכְּנוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10138">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_7">בָ֑הּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_34_11_8">וְנָטָ֥ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_34_11_9">עָלֶ֛יהָ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_34_11_10">קַֽו</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10143">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_34_11_11">תֹ֖הוּ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_34_11_12">וְאַבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10146">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_34_11_13">בֹֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10148">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_12" data-pasuk-now="9"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_34_12_1">חֹרֶ֥יהָ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_34_12_2">וְאֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10151">־</span><span class="mila" data-lnk="123" data-exlnk="0" id="M_34_12_3">שָׁ֖ם</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_34_12_4">מְלוּכָ֣ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_34_12_5">יִקְרָ֑אוּ</span>
<span class="mila" data-lnk="1073742362" data-exlnk="0" id="M_34_12_6">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10156">־</span><span class="mila" data-lnk="2147484218" data-exlnk="0" id="M_34_12_7">שָׂרֶ֖יהָ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_34_12_8">יִ֥הְיוּ</span>
<span class="mila" data-lnk="4026532799" data-exlnk="0" id="M_34_12_9">אָֽפֶס</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10160">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_13" data-pasuk-now="12"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_34_13_1">וְעָלְתָ֤ה</span>
<span class="mila" data-lnk="4026532501" data-exlnk="0" id="M_34_13_2">אַרְמְנֹתֶ֙יהָ֙</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_34_13_3">סִירִ֔ים</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_34_13_4">קִמּ֥וֹשׂ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_34_13_5">וָח֖וֹחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_6">בְּמִבְצָרֶ֑יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_7">וְהָֽיְתָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_34_13_8">נְוֵ֣ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_34_13_9">תַנִּ֔ים</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_34_13_10">חָצִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_11">לִבְנ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_12">יַעֲנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_34_14_1">וּפָגְשׁ֤וּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_34_14_2">צִיִּים֙</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_34_14_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10177">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_34_14_4">אִיִּ֔ים</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_34_14_5">וְשָׂעִ֖יר</span>
<span class="mila" data-lnk="1342178008" data-exlnk="0" id="M_34_14_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10181">־</span><span class="mila" data-lnk="2952790744" data-exlnk="0" id="M_34_14_7">רֵעֵ֣הוּ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_34_14_8">יִקְרָ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_9">אַךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10185">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_10">שָׁם֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_34_14_11">הִרְגִּ֣יעָה</span>
<span class="mila" data-lnk="3221226077" data-exlnk="0" id="M_34_14_12">לִּילִ֔ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_13">וּמָצְאָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_14">לָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_15">מָנֽוֹחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10192">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532500" data-exlnk="0" id="M_34_15_1">שָׁ֣מָּה</span>
<span class="mila" data-lnk="3221226001" data-exlnk="0" id="M_34_15_2">קִנְּנָ֤ה</span>
<span class="mila" data-lnk="3221226001" data-exlnk="0" id="M_34_15_3">קִפּוֹז֙</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_34_15_4">וַתְּמַלֵּ֔ט</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_34_15_5">וּבָקְעָ֖ה</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_34_15_6">וְדָגְרָ֣ה</span>
<span class="mila" data-lnk="3221226048" data-exlnk="0" id="M_34_15_7">בְצִלָּ֑הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_8">אַךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10201">־</span><span class="mila" data-lnk="536871042" data-exlnk="0" id="M_34_15_9">שָׁ֛ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_15_10">נִקְבְּצ֥וּ</span>
<span class="mila" data-lnk="3221226007" data-exlnk="0" id="M_34_15_11">דַיּ֖וֹת</span>
<span class="mila" data-lnk="536871057" data-exlnk="0" id="M_34_15_12">אִשָּׁ֥ה</span>
<span class="mila" data-lnk="805306513" data-exlnk="0" id="M_34_15_13">רְעוּתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10207">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_16" data-pasuk-now="20"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_34_16_1">דִּרְשׁ֨וּ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_34_16_2">מֵעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10210">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_34_16_3">סֵ֤פֶר</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_34_16_4">יְהוָה֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_34_16_5">וּֽקֲרָ֔אוּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_34_16_6">אַחַ֤ת</span>
<span class="mila" data-lnk="4026532539" data-exlnk="0" id="M_34_16_7">מֵהֵ֙נָּה֙</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_34_16_8">לֹ֣א</span>
<span class="mila" data-lnk="3221226011" data-exlnk="0" id="M_34_16_9">נֶעְדָּ֔רָה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_34_16_10">אִשָּׁ֥ה</span>
<span class="mila" data-lnk="4026532506" data-exlnk="0" id="M_34_16_11">רְעוּתָ֖הּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_34_16_12">לֹ֣א</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_34_16_13">פָקָ֑דוּ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_34_16_14">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10223">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_34_16_15">פִי֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_34_16_16">ה֣וּא</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_34_16_17">צִוָּ֔ה</span>
<span class="mila" data-lnk="4026532599" data-exlnk="0" id="M_34_16_18">וְרוּח֖וֹ</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_34_16_19">ה֥וּא</span>
<span class="mila" data-lnk="3221226043" data-exlnk="0" id="M_34_16_20">קִבְּצָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10230">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_17" data-pasuk-now="15"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="805306559" data-exlnk="0" id="M_34_17_1">וְהֽוּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10232">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_34_17_2">הִפִּ֤יל</span>
<span class="mila" data-lnk="4026532537" data-exlnk="0" id="M_34_17_3">לָהֶן֙</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_34_17_4">גּוֹרָ֔ל</span>
<span class="mila" data-lnk="4026532506" data-exlnk="0" id="M_34_17_5">וְיָד֛וֹ</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_34_17_6">חִלְּקַ֥תָּה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_34_17_7">לָהֶ֖ם</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_34_17_8">בַּקָּ֑ו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_17_9">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10241">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_34_17_10">עוֹלָם֙</span>
<span class="mila" data-lnk="4026532746" data-exlnk="0" id="M_34_17_11">יִֽירָשׁ֔וּהָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_17_12">לְד֥וֹר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_17_13">וָד֖וֹר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_17_14">יִשְׁכְּנוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10247">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_34_17_15">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10250">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10251">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>