<p id="PR_50" data-perek-now="176" data-perek-nops="11"><span class="perek-header">פרק נ</span>
<br /><span id="PS_50_1" data-pasuk-now="23"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_50_1_1">כֹּ֣ה׀</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_50_1_2">אָמַ֣ר</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_50_1_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="805306546" data-exlnk="0" id="M_50_1_4">אֵ֣י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_50_1_5">זֶ֠ה</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_50_1_6">סֵ֣פֶר</span>
<span class="mila" data-lnk="4026532542" data-exlnk="0" id="M_50_1_7">כְּרִית֤וּת</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_50_1_8">אִמְּכֶם֙</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_50_1_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026532490" data-exlnk="0" id="M_50_1_10">שִׁלַּחְתִּ֔יהָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_1_11">א֚וֹ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_50_1_12">מִ֣י</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_50_1_13">מִנּוֹשַׁ֔י</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_50_1_14">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15825">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_50_1_15">מָכַ֥רְתִּי</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_50_1_16">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_50_1_17">ל֑וֹ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_50_1_18">הֵ֤ן</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_50_1_19">בַּעֲוֺנֹֽתֵיכֶם֙</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_50_1_20">נִמְכַּרְתֶּ֔ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_50_1_21">וּבְפִשְׁעֵיכֶ֖ם</span>
<span class="mila" data-lnk="3221225994" data-exlnk="0" id="M_50_1_22">שֻׁלְּחָ֥ה</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_50_1_23">אִמְּכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15835">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_2" data-pasuk-now="29"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1073742111" data-exlnk="0" id="M_50_2_1">מַדּ֨וּעַ</span>
<span class="mila" data-lnk="3221225759" data-exlnk="0" id="M_50_2_2">בָּ֜אתִי</span>
<span class="mila" data-lnk="1342177979" data-exlnk="0" id="M_50_2_3">וְאֵ֣ין</span>
<span class="mila" data-lnk="2684355259" data-exlnk="0" id="M_50_2_4">אִ֗ישׁ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_50_2_5">קָרָאתִי֘</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_50_2_6">וְאֵ֣ין</span>
<span class="mila" data-lnk="4026532506" data-exlnk="0" id="M_50_2_7">עוֹנֶה֒</span>
<span class="mila" data-lnk="3221226042" data-exlnk="0" id="M_50_2_8">הֲקָצ֨וֹר</span>
<span class="mila" data-lnk="4026532538" data-exlnk="0" id="M_50_2_9">קָצְרָ֤ה</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_50_2_10">יָדִי֙</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_50_2_11">מִפְּד֔וּת</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_50_2_12">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15848">־</span><span class="mila" data-lnk="2684355202" data-exlnk="0" id="M_50_2_13">אֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15850">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_50_2_14">בִּ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_2_15">כֹ֖חַ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_50_2_16">לְהַצִּ֑יל</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_50_2_17">הֵ֣ן</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_50_2_18">בְּגַעֲרָתִ֞י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_50_2_19">אַחֲרִ֣יב</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_50_2_20">יָ֗ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_50_2_21">אָשִׂ֤ים</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_50_2_22">נְהָרוֹת֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_50_2_23">מִדְבָּ֔ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_2_24">תִּבְאַ֤שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_2_25">דְּגָתָם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_2_26">מֵאֵ֣ין</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_50_2_27">מַ֔יִם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_50_2_28">וְתָמֹ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_2_29">בַּצָּמָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15867">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_50_3_1">אַלְבִּ֥ישׁ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_50_3_2">שָׁמַ֖יִם</span>
<span class="mila" data-lnk="3221226006" data-exlnk="0" id="M_50_3_3">קַדְר֑וּת</span>
<span class="mila" data-lnk="4026532756" data-exlnk="0" id="M_50_3_4">וְשַׂ֖ק</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_50_3_5">אָשִׂ֥ים</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_50_3_6">כְּסוּתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15875">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="15876"> פ </span>
</span>
<br /><span id="PS_50_4" data-pasuk-now="19"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_50_4_1">אֲדנָ֣י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_50_4_2">יְהֹוִ֗ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_50_4_3">נָ֤תַן</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_50_4_4">לִי֙</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_50_4_5">לְשׁ֣וֹן</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_50_4_6">לִמּוּדִ֔ים</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_50_4_7">לָדַ֛עַת</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_50_4_8">לָע֥וּת</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_50_4_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15886">־</span><span class="mila" data-lnk="126" data-exlnk="0" id="M_50_4_10">יָעֵ֖ף</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_50_4_11">דָּבָ֑ר</span>
<span class="mila" data-lnk="3221225822" data-exlnk="0" id="M_50_4_12">יָעִ֣יר׀</span>
<span class="mila" data-lnk="3489661598" data-exlnk="0" id="M_50_4_13">בַּבֹּ֣קֶר</span>
<span class="mila" data-lnk="3758097118" data-exlnk="0" id="M_50_4_14">בַּבֹּ֗קֶר</span>
<span class="mila" data-lnk="4026532567" data-exlnk="0" id="M_50_4_15">יָעִ֥יר</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_50_4_16">לִי֙</span>
<span class="mila" data-lnk="805306587" data-exlnk="0" id="M_50_4_17">אֹ֔זֶן</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_50_4_18">לִשְׁמֹ֖עַ</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_50_4_19">כַּלִּמּוּדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15897">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_50_5_1">אֲדנָ֤י</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_50_5_2">יְהֹוִה֙</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_50_5_3">פָּתַֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15901">־</span><span class="mila" data-lnk="83" data-exlnk="0" id="M_50_5_4">לִ֣י</span>
<span class="mila" data-lnk="805306563" data-exlnk="0" id="M_50_5_5">אֹ֔זֶן</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_50_5_6">וְאָנֹכִ֖י</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_50_5_7">לֹ֣א</span>
<span class="mila" data-lnk="4026532827" data-exlnk="0" id="M_50_5_8">מָרִ֑יתִי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_50_5_9">אָח֖וֹר</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_50_5_10">לֹ֥א</span>
<span class="mila" data-lnk="3221226009" data-exlnk="0" id="M_50_5_11">נְסוּגֹֽתִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15910">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_50_6_1">גֵּוִי֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_50_6_2">נָתַ֣תִּי</span>
<span class="mila" data-lnk="3221226111" data-exlnk="0" id="M_50_6_3">לְמַכִּ֔ים</span>
<span class="mila" data-lnk="3221225990" data-exlnk="0" id="M_50_6_4">וּלְחָיַ֖י</span>
<span class="mila" data-lnk="3221226070" data-exlnk="0" id="M_50_6_5">לְמֹֽרְטִ֑ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_6_6">פָּנַי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_6_7">לֹ֣א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_6_8">הִסְתַּ֔רְתִּי</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_50_6_9">מִכְּלִמּ֖וֹת</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_50_6_10">וָרֹֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15921">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_7" data-pasuk-now="17"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="1879048863" data-exlnk="0" id="M_50_7_1">וַאדנָ֤י</span>
<span class="mila" data-lnk="3758097051" data-exlnk="0" id="M_50_7_2">יְהֹוִה֙</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_50_7_3">יַעֲזָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15925">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_50_7_4">לִ֔י</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_50_7_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15928">־</span><span class="mila" data-lnk="30" data-exlnk="0" id="M_50_7_6">כֵּ֖ן</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_50_7_7">לֹ֣א</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_50_7_8">נִכְלָ֑מְתִּי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_7_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15933">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_50_7_10">כֵּ֞ן</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_50_7_11">שַׂ֤מְתִּי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_50_7_12">פָנַי֙</span>
<span class="mila" data-lnk="3221226010" data-exlnk="0" id="M_50_7_13">כַּחַלָּמִ֔ישׁ</span>
<span class="mila" data-lnk="4026532746" data-exlnk="0" id="M_50_7_14">וָאֵדַ֖ע</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_50_7_15">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15940">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_50_7_16">לֹ֥א</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_50_7_17">אֵבֽוֹשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15943">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_50_8_1">קָרוֹב֙</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_50_8_2">מַצְדִּיקִ֔י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_50_8_3">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15947">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_50_8_4">יָרִ֥יב</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_50_8_5">אִתִּ֖י</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_50_8_6">נַ֣עַמְדָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_7">יָּ֑חַד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_8_8">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15953">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_50_8_9">בַ֥עַל</span>
<span class="mila" data-lnk="805306504" data-exlnk="0" id="M_50_8_10">מִשְׁפָּטִ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_50_8_11">יִגַּ֥שׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_50_8_12">אֵלָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15958">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_50_9_1">הֵ֣ן</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_50_9_2">אֲדנָ֤י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_50_9_3">יְהֹוִה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_50_9_4">יַעֲזָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15963">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_50_9_5">לִ֔י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_50_9_6">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15966">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_50_9_7">ה֖וּא</span>
<span class="mila" data-lnk="4026532500" data-exlnk="0" id="M_50_9_8">יַרְשִׁיעֵ֑נִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_50_9_9">הֵ֤ן</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_50_9_10">כֻּלָּם֙</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_50_9_11">כַּבֶּ֣גֶד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_50_9_12">יִבְל֔וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_50_9_13">עָ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_50_9_14">יֹאכְלֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15976">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="15977">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_50_10_1">מִ֤י</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_50_10_2">בָכֶם֙</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_50_10_3">יְרֵ֣א</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_50_10_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_50_10_5">שֹׁמֵ֖עַ</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_50_10_6">בְּק֣וֹל</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_50_10_7">עַבְדּ֑וֹ</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_50_10_8">אֲשֶׁ֣ר׀</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_50_10_9">הָלַ֣ךְ</span>
<span class="mila" data-lnk="3221226063" data-exlnk="0" id="M_50_10_10">חֲשֵׁכִ֗ים</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_50_10_11">וְאֵ֥ין</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_50_10_12">נֹ֙גַהּ֙</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_50_10_13">ל֔וֹ</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_50_10_14">יִבְטַח֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_50_10_15">בְּשֵׁ֣ם</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_50_10_16">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532808" data-exlnk="0" id="M_50_10_17">וְיִשָּׁעֵ֖ן</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_50_10_18">בֵּאלֹהָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15997">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="15998">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_50_11" data-pasuk-now="17"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_50_11_1">הֵ֧ן</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_50_11_2">כֻּלְּכֶ֛ם</span>
<span class="mila" data-lnk="3221226075" data-exlnk="0" id="M_50_11_3">קֹ֥דְחֵי</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_50_11_4">אֵ֖שׁ</span>
<span class="mila" data-lnk="3221226065" data-exlnk="0" id="M_50_11_5">מְאַזְּרֵ֣י</span>
<span class="mila" data-lnk="3221226065" data-exlnk="0" id="M_50_11_6">זִיק֑וֹת</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_50_11_7">לְכ֣וּ׀</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_50_11_8">בְּא֣וּר</span>
<span class="mila" data-lnk="3221226043" data-exlnk="0" id="M_50_11_9">אֶשְׁכֶ֗ם</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_50_11_10">וּבְזִיקוֹת֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_50_11_11">בִּֽעַרְתֶּ֔ם</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_50_11_12">מִיָּדִי֙</span>
<span class="mila" data-lnk="124" data-exlnk="0" id="M_50_11_13">הָיְתָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16012">־</span><span class="mila" data-lnk="121" data-exlnk="0" id="M_50_11_14">זֹּ֣את</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_50_11_15">לָכֶ֔ם</span>
<span class="mila" data-lnk="3221226110" data-exlnk="0" id="M_50_11_16">לְמַעֲצֵבָ֖ה</span>
<span class="mila" data-lnk="3221226110" data-exlnk="0" id="M_50_11_17">תִּשְׁכָּבֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16018">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="16019">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>