<p id="PR_14" data-perek-now="376" data-perek-nops="32"><span class="perek-header">פרק יד</span>
<br /><span id="PS_14_1" data-pasuk-now="18"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_1_1">כִּי֩</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_14_1_2">יְרַחֵ֨ם</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_14_1_3">יְהוָ֜ה</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_14_1_4">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4121">־</span><span class="mila" data-lnk="121" data-exlnk="0" id="M_14_1_5">יַעֲקֹ֗ב</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_14_1_6">וּבָחַ֥ר</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_14_1_7">עוֹד֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_14_1_8">בְּיִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_1_9">וְהִנִּיחָ֖ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_1_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4128">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_14_1_11">אַדְמָתָ֑ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_1_12">וְנִלְוָ֤ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_14_1_13">הַגֵּר֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_1_14">עֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_14_1_15">וְנִסְפְּח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4135">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_17">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_18">יַעֲקֹֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4138">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_2" data-pasuk-now="18"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532508" data-exlnk="0" id="M_14_2_1">וּלְקָח֣וּם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_2_2">עַמִּים֘</span>
<span class="mila" data-lnk="4026532744" data-exlnk="0" id="M_14_2_3">וֶהֱבִיא֣וּם</span>
<span class="mila" data-lnk="1879049096" data-exlnk="0" id="M_14_2_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4143">־</span><span class="mila" data-lnk="4026532744" data-exlnk="0" id="M_14_2_5">מְקוֹמָם֒</span>
<span class="mila" data-lnk="3221226025" data-exlnk="0" id="M_14_2_6">וְהִֽתְנַחֲל֣וּם</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_14_2_7">בֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4147">־</span><span class="mila" data-lnk="805306536" data-exlnk="0" id="M_14_2_8">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_9">עַ֚ל</span>
<span class="mila" data-lnk="1073742336" data-exlnk="0" id="M_14_2_10">אַדְמַ֣ת</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_14_2_11">יְהוָ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_2_12">לַעֲבָדִ֖ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_2_13">וְלִשְׁפָח֑וֹת</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_14_2_14">וְהָיוּ֙</span>
<span class="mila" data-lnk="3221226048" data-exlnk="0" id="M_14_2_15">שֹׁבִ֣ים</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_14_2_16">לְשֹׁבֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_14_2_17">וְרָד֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_18">בְּנֹגְשֵׂיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4160">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4161">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026532574" data-exlnk="0" id="M_14_3_1">וְהָיָ֗ה</span>
<span class="mila" data-lnk="4026532571" data-exlnk="0" id="M_14_3_2">בְּי֨וֹם</span>
<span class="mila" data-lnk="3221226059" data-exlnk="0" id="M_14_3_3">הָנִ֤יחַ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_14_3_4">יְהוָה֙</span>
<span class="mila" data-lnk="805306603" data-exlnk="0" id="M_14_3_5">לְךָ֔</span>
<span class="mila" data-lnk="3221226013" data-exlnk="0" id="M_14_3_6">מֵֽעָצְבְּךָ֖</span>
<span class="mila" data-lnk="3221226013" data-exlnk="0" id="M_14_3_7">וּמִֽרָגְזֶ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_8">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4170">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_14_3_9">הָעֲבֹדָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_10">הַקָּשָׁ֖ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_3_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026532760" data-exlnk="0" id="M_14_3_12">עֻבַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4175">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_14_3_13">בָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4177">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_14_4_1">וְנָשָׂ֜אתָ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_4_2">הַמָּשָׁ֥ל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_4_3">הַזֶּ֛ה</span>
<span class="mila" data-lnk="1879048898" data-exlnk="0" id="M_14_4_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4182">־</span><span class="mila" data-lnk="2952790738" data-exlnk="0" id="M_14_4_5">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_14_4_6">בָּבֶ֖ל</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_14_4_7">וְאָמָ֑רְתָּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_4_8">אֵ֚יךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_4_9">שָׁבַ֣ת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_4_10">נֹגֵ֔שׂ</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_14_4_11">שָׁבְתָ֖ה</span>
<span class="mila" data-lnk="3221226107" data-exlnk="0" id="M_14_4_12">מַדְהֵבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4191">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_14_5_1">שָׁבַ֥ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_5_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_14_5_3">מַטֵּ֣ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_14_5_4">רְשָׁעִ֑ים</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_14_5_5">שֵׁ֖בֶט</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_5_6">מֹשְׁלִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4198">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026532511" data-exlnk="0" id="M_14_6_1">מַכֶּ֤ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_6_2">עַמִּים֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_14_6_3">בְּעֶבְרָ֔ה</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_14_6_4">מַכַּ֖ת</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_14_6_5">בִּלְתִּ֣י</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_14_6_6">סָרָ֑ה</span>
<span class="mila" data-lnk="4026532508" data-exlnk="0" id="M_14_6_7">רֹדֶ֤ה</span>
<span class="mila" data-lnk="4026532792" data-exlnk="0" id="M_14_6_8">בָאַף֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_6_9">גּוֹיִ֔ם</span>
<span class="mila" data-lnk="3221226047" data-exlnk="0" id="M_14_6_10">מֻרְדָּ֖ף</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_14_6_11">בְּלִ֥י</span>
<span class="mila" data-lnk="4026532511" data-exlnk="0" id="M_14_6_12">חָשָֽׂךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4211">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532543" data-exlnk="0" id="M_14_7_1">נָ֥חָה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_14_7_2">שָׁקְטָ֖ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_7_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4215">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_14_7_4">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="3221226007" data-exlnk="0" id="M_14_7_5">פָּצְח֖וּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_14_7_6">רִנָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4219">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_14_8_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4221">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_14_8_2">בְּרוֹשִׁ֛ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_14_8_3">שָׂמְח֥וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_8_4">לְךָ֖</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_14_8_5">אַרְזֵ֣י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_8_6">לְבָנ֑וֹן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_8_7">מֵאָ֣ז</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_8_8">שָׁכַ֔בְתָּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_8_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4230">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_14_8_10">יַעֲלֶ֥ה</span>
<span class="mila" data-lnk="3221226010" data-exlnk="0" id="M_14_8_11">הַכֹּרֵ֖ת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_8_12">עָלֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4234">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_9" data-pasuk-now="17"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_14_9_1">שְׁא֗וֹל</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_14_9_2">מִתַּ֛חַת</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_14_9_3">רָגְזָ֥ה</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_14_9_4">לְךָ֖</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_14_9_5">לִקְרַ֣את</span>
<span class="mila" data-lnk="4026532555" data-exlnk="0" id="M_14_9_6">בּוֹאֶ֑ךָ</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_14_9_7">עוֹרֵ֨ר</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_14_9_8">לְךָ֤</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_9_9">רְפָאִים֙</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_14_9_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4245">־</span><span class="mila" data-lnk="119" data-exlnk="0" id="M_14_9_11">עַתּ֣וּדֵי</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_14_9_12">אָ֔רֶץ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_14_9_13">הֵקִים֙</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_14_9_14">מִכִּסְאוֹתָ֔ם</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_14_9_15">כֹּ֖ל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_9_16">מַלְכֵ֥י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_9_17">גוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4253">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_10_1">כֻּלָּ֣ם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_10_2">יַעֲנ֔וּ</span>
<span class="mila" data-lnk="4026532488" data-exlnk="0" id="M_14_10_3">וְיֹאמְר֖וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_10_4">אֵלֶ֑יךָ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_10_5">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4259">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_14_10_6">אַתָּ֛ה</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_14_10_7">חֻלֵּ֥יתָ</span>
<span class="mila" data-lnk="4026532571" data-exlnk="0" id="M_14_10_8">כָמ֖וֹנוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_10_9">אֵלֵ֥ינוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_10_10">נִמְשָֽׁלְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4265">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532502" data-exlnk="0" id="M_14_11_1">הוּרַ֥ד</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_11_2">שְׁא֛וֹל</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_11_3">גְּאוֹנֶ֖ךָ</span>
<span class="mila" data-lnk="3221226011" data-exlnk="0" id="M_14_11_4">הֶמְיַ֣ת</span>
<span class="mila" data-lnk="4026532539" data-exlnk="0" id="M_14_11_5">נְבָלֶ֑יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_11_6">תַּחְתֶּ֙יךָ֙</span>
<span class="mila" data-lnk="4026532760" data-exlnk="0" id="M_14_11_7">יֻצַּ֣ע</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_11_8">רִמָּ֔ה</span>
<span class="mila" data-lnk="3221226076" data-exlnk="0" id="M_14_11_9">וּמְכַסֶּ֖יךָ</span>
<span class="mila" data-lnk="4026532560" data-exlnk="0" id="M_14_11_10">תּוֹלֵעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4276">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_14_12_1">אֵ֛יךְ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_12_2">נָפַ֥לְתָּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_14_12_3">מִשָּׁמַ֖יִם</span>
<span class="mila" data-lnk="4026532543" data-exlnk="0" id="M_14_12_4">הֵילֵ֣ל</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_14_12_5">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4282">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_14_12_6">שָׁ֑חַר</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_12_7">נִגְדַּ֣עְתָּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_12_8">לָאָ֔רֶץ</span>
<span class="mila" data-lnk="3221226103" data-exlnk="0" id="M_14_12_9">חוֹלֵ֖שׁ</span>
<span class="mila" data-lnk="3489661939" data-exlnk="0" id="M_14_12_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4288">־</span><span class="mila" data-lnk="4026532827" data-exlnk="0" id="M_14_12_11">גּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4290">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_13" data-pasuk-now="15"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_13_1">וְאַתָּ֞ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_13_2">אָמַ֤רְתָּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_13_3">בִֽלְבָבְךָ֙</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_13_4">הַשָּׁמַ֣יִם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_13_5">אֶעֱלֶ֔ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_14_13_6">מִמַּ֥עַל</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_14_13_7">לְכוֹכְבֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4298">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_14_13_8">אֵ֖ל</span>
<span class="mila" data-lnk="4026532498" data-exlnk="0" id="M_14_13_9">אָרִ֣ים</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_13_10">כִּסְאִ֑י</span>
<span class="mila" data-lnk="4026532830" data-exlnk="0" id="M_14_13_11">וְאֵשֵׁ֥ב</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_13_12">בְּהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4304">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_14_13_13">מוֹעֵ֖ד</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_13_14">בְּיַרְכְּתֵ֥י</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_13_15">צָפֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4308">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_14" data-pasuk-now="6"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_14_14_1">אֶעֱלֶ֖ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_14_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4311">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_14_14_3">בָּ֣מֳתֵי</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_14_14_4">עָ֑ב</span>
<span class="mila" data-lnk="3221226006" data-exlnk="0" id="M_14_14_5">אֶדַּמֶּ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_14_6">לְעֶלְיֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4316">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_15" data-pasuk-now="7"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_15_1">אַ֧ךְ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_15_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4319">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_14_15_3">שְׁא֛וֹל</span>
<span class="mila" data-lnk="3221226010" data-exlnk="0" id="M_14_15_4">תּוּרָ֖ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_15_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4323">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_14_15_6">יַרְכְּתֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4325">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_14_15_7">בֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4327">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_16_1">רֹאֶ֙יךָ֙</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_16_2">אֵלֶ֣יךָ</span>
<span class="mila" data-lnk="3221226011" data-exlnk="0" id="M_14_16_3">יַשְׁגִּ֔יחוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_16_4">אֵלֶ֖יךָ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_14_16_5">יִתְבּוֹנָ֑נוּ</span>
<span class="mila" data-lnk="4026532506" data-exlnk="0" id="M_14_16_6">הֲזֶ֤ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_16_7">הָאִישׁ֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_16_8">מַרְגִּ֣יז</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_16_9">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_16_10">מַרְעִ֖ישׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_16_11">מַמְלָכֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4339">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_17" data-pasuk-now="9"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_17_1">שָׂ֥ם</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_17_2">תֵּבֵ֛ל</span>
<span class="mila" data-lnk="4026532758" data-exlnk="0" id="M_14_17_3">כַּמִּדְבָּ֖ר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_14_17_4">וְעָרָ֣יו</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_14_17_5">הָרָ֑ס</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_17_6">אֲסִירָ֖יו</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_14_17_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4347">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_14_17_8">פָ֥תַח</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_17_9">בָּֽיְתָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4350">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_18" data-pasuk-now="8"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_14_18_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4352">־</span><span class="mila" data-lnk="50" data-exlnk="0" id="M_14_18_2">מַלְכֵ֥י</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_14_18_3">גוֹיִ֖ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_14_18_4">כֻּלָּ֑ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_14_18_5">שָׁכְב֥וּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_14_18_6">בְכָב֖וֹד</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_14_18_7">אִ֥ישׁ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_14_18_8">בְּבֵיתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4360">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_19" data-pasuk-now="15"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_14_19_1">וְאַתָּ֞ה</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_14_19_2">הָשְׁלַ֤כְתָּ</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_14_19_3">מִֽקִּבְרְךָ֙</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_19_4">כְּנֵ֣צֶר</span>
<span class="mila" data-lnk="4026532859" data-exlnk="0" id="M_14_19_5">נִתְעָ֔ב</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_14_19_6">לְבֻ֥שׁ</span>
<span class="mila" data-lnk="4026532603" data-exlnk="0" id="M_14_19_7">הֲרֻגִ֖ים</span>
<span class="mila" data-lnk="3221226103" data-exlnk="0" id="M_14_19_8">מְטֹ֣עֲנֵי</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_19_9">חָ֑רֶב</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_14_19_10">יוֹרְדֵ֥י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_14_19_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4372">־</span><span class="mila" data-lnk="121" data-exlnk="0" id="M_14_19_12">אַבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4374">־</span><span class="mila" data-lnk="121" data-exlnk="0" id="M_14_19_13">ב֖וֹר</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_14_19_14">כְּפֶ֥גֶר</span>
<span class="mila" data-lnk="3221226103" data-exlnk="0" id="M_14_19_15">מוּבָֽס</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4378">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_20" data-pasuk-now="14"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_20_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4380">־</span><span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_14_20_2">תֵחַ֤ד</span>
<span class="mila" data-lnk="805306619" data-exlnk="0" id="M_14_20_3">אִתָּם֙</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_14_20_4">בִּקְבוּרָ֔ה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_14_20_5">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4385">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_14_20_6">אַרְצְךָ֥</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_14_20_7">שִׁחַ֖תָּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_20_8">עַמְּךָ֣</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_20_9">הָרָ֑גְתָּ</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_14_20_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4391">־</span><span class="mila" data-lnk="4026532595" data-exlnk="0" id="M_14_20_11">יִקָּרֵ֥א</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_14_20_12">לְעוֹלָ֖ם</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_14_20_13">זֶ֥רַע</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_14_20_14">מְרֵעִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4396">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026532607" data-exlnk="0" id="M_14_21_1">הָכִ֧ינוּ</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_21_2">לְבָנָ֛יו</span>
<span class="mila" data-lnk="3221226091" data-exlnk="0" id="M_14_21_3">מַטְבֵּ֖חַ</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_14_21_4">בַּעֲוֺ֣ן</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_14_21_5">אֲבוֹתָ֑ם</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_14_21_6">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4403">־</span><span class="mila" data-lnk="4026532562" data-exlnk="0" id="M_14_21_7">יָקֻ֙מוּ֙</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_14_21_8">וְיָ֣רְשׁוּ</span>
<span class="mila" data-lnk="4026532566" data-exlnk="0" id="M_14_21_9">אָ֔רֶץ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_21_10">וּמָלְא֥וּ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_14_21_11">פְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4409">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_14_21_12">תֵבֵ֖ל</span>
<span class="mila" data-lnk="805306591" data-exlnk="0" id="M_14_21_13">עָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4412">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_22" data-pasuk-now="13"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_14_22_1">וְקַמְתִּ֣י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_22_2">עֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_14_22_3">נְאֻ֖ם</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_14_22_4">יְהוָ֣ה</span>
<span class="mila" data-lnk="3758097024" data-exlnk="0" id="M_14_22_5">צְבָא֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_6">וְהִכְרַתִּ֨י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_22_7">לְבָבֶ֜ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_22_8">שֵׁ֥ם</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_14_22_9">וּשְׁאָ֛ר</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_14_22_10">וְנִ֥ין</span>
<span class="mila" data-lnk="3221226007" data-exlnk="0" id="M_14_22_11">וָנֶ֖כֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_12">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4425">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_22_13">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4427">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_23" data-pasuk-now="11"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_14_23_1">וְשַׂמְתִּ֛יהָ</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_14_23_2">לְמוֹרַ֥שׁ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_23_3">קִפֹּ֖ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_23_4">וְאַגְמֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4432">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_14_23_5">מָ֑יִם</span>
<span class="mila" data-lnk="3221226007" data-exlnk="0" id="M_14_23_6">וְטֵאטֵאתִ֙יהָ֙</span>
<span class="mila" data-lnk="3221226002" data-exlnk="0" id="M_14_23_7">בְּמַטְאֲטֵ֣א</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_23_8">הַשְׁמֵ֔ד</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_14_23_9">נְאֻ֖ם</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_14_23_10">יְהוָ֥ה</span>
<span class="mila" data-lnk="536871040" data-exlnk="0" id="M_14_23_11">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4441">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4442">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_24" data-pasuk-now="14"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_14_24_1">נִשְׁבַּ֛ע</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_14_24_2">יְהוָ֥ה</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_14_24_3">צְבָא֖וֹת</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_14_24_4">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_24_5">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4448">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_14_24_6">לֹ֞א</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_24_7">כַּאֲשֶׁ֤ר</span>
<span class="mila" data-lnk="4026532511" data-exlnk="0" id="M_14_24_8">דִּמִּ֙יתִי֙</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_24_9">כֵּ֣ן</span>
<span class="mila" data-lnk="4026532755" data-exlnk="0" id="M_14_24_10">הָיָ֔תָה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_24_11">וְכַאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_24_12">יָעַ֖צְתִּי</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_14_24_13">הִ֥יא</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_14_24_14">תָקֽוּם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4458">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_25" data-pasuk-now="13"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_14_25_1">לִשְׁבֹּ֤ר</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_14_25_2">אַשּׁוּר֙</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_14_25_3">בְּאַרְצִ֔י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_25_4">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4463">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_14_25_5">הָרַ֖י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_25_6">אֲבוּסֶ֑נּוּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_14_25_7">וְסָ֤ר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_14_25_8">מֵֽעֲלֵיהֶם֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_14_25_9">עֻלּ֔וֹ</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_14_25_10">וְסֻ֨בֳּל֔וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_25_11">מֵעַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_25_12">שִׁכְמ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_25_13">יָסֽוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4473">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_26" data-pasuk-now="12"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_26_1">זֹ֛את</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_26_2">הָעֵצָ֥ה</span>
<span class="mila" data-lnk="3221225994" data-exlnk="0" id="M_14_26_3">הַיְּעוּצָ֖ה</span>
<span class="mila" data-lnk="3489661626" data-exlnk="0" id="M_14_26_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4478">־</span><span class="mila" data-lnk="1342177978" data-exlnk="0" id="M_14_26_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4480">־</span><span class="mila" data-lnk="3758097082" data-exlnk="0" id="M_14_26_6">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_26_7">וְזֹ֛את</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_26_8">הַיָּ֥ד</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_14_26_9">הַנְּטוּיָ֖ה</span>
<span class="mila" data-lnk="3489661631" data-exlnk="0" id="M_14_26_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4486">־</span><span class="mila" data-lnk="1342177983" data-exlnk="0" id="M_14_26_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4488">־</span><span class="mila" data-lnk="2684355263" data-exlnk="0" id="M_14_26_12">הַגּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4490">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_27" data-pasuk-now="10"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_14_27_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4492">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_14_27_2">יְהוָ֧ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_14_27_3">צְבָא֛וֹת</span>
<span class="mila" data-lnk="4026532488" data-exlnk="0" id="M_14_27_4">יָעָ֖ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_5">וּמִ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_27_6">יָפֵ֑ר</span>
<span class="mila" data-lnk="4026532488" data-exlnk="0" id="M_14_27_7">וְיָד֥וֹ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_14_27_8">הַנְּטוּיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_9">וּמִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_27_10">יְשִׁיבֶֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4503">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4504"> פ </span>
</span>
<br /><span id="PS_14_28" data-pasuk-now="7"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_28_1">בִּשְׁנַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4506">־</span><span class="mila" data-lnk="123" data-exlnk="0" id="M_14_28_2">מ֖וֹת</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_14_28_3">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_14_28_4">אָחָ֑ז</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_14_28_5">הָיָ֖ה</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_14_28_6">הַמַּשָּׂ֥א</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_14_28_7">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4513">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_29" data-pasuk-now="16"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_29_1">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4515">־</span><span class="mila" data-lnk="123" data-exlnk="0" id="M_14_29_2">תִּשְׂמְחִ֤י</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_14_29_3">פְלֶ֙שֶׁת֙</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_14_29_4">כֻּלֵּ֔ךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_29_5">כִּ֥י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_14_29_6">נִשְׁבַּ֖ר</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_14_29_7">שֵׁ֣בֶט</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_14_29_8">מַכֵּ֑ךְ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_14_29_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4524">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_14_29_10">מִשֹּׁ֤רֶשׁ</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_14_29_11">נָחָשׁ֙</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_14_29_12">יֵ֣צֵא</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_14_29_13">צֶ֔פַע</span>
<span class="mila" data-lnk="4026532549" data-exlnk="0" id="M_14_29_14">וּפִרְי֖וֹ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_29_15">שָׂרָ֥ף</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_14_29_16">מְעוֹפֵֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4532">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_30" data-pasuk-now="11"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_14_30_1">וְרָעוּ֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_14_30_2">בְּכוֹרֵ֣י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_14_30_3">דַלִּ֔ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_14_30_4">וְאֶבְיוֹנִ֖ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_30_5">לָבֶ֣טַח</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_14_30_6">יִרְבָּ֑צוּ</span>
<span class="mila" data-lnk="4026532498" data-exlnk="0" id="M_14_30_7">וְהֵמַתִּ֤י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_30_8">בָרָעָב֙</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_30_9">שָׁרְשֵׁ֔ךְ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_30_10">וּשְׁאֵרִיתֵ֖ךְ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_30_11">יַהֲרֹֽג</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4544">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_31" data-pasuk-now="14"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_14_31_1">הֵילִ֤ילִֽי</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_14_31_2">שַׁ֙עַר֙</span>
<span class="mila" data-lnk="3221226000" data-exlnk="0" id="M_14_31_3">זַֽעֲקִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4548">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_14_31_4">עִ֔יר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_31_5">נָמ֖וֹג</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_31_6">פְּלֶ֣שֶׁת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_14_31_7">כֻּלֵּ֑ךְ</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_31_8">כִּ֤י</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_31_9">מִצָּפוֹן֙</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_31_10">עָשָׁ֣ן</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_31_11">בָּ֔א</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_31_12">וְאֵ֥ין</span>
<span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_14_31_13">בּוֹדֵ֖ד</span>
<span class="mila" data-lnk="3221226079" data-exlnk="0" id="M_14_31_14">בְּמוֹעָדָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4560">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_32" data-pasuk-now="12"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_32_1">וּמַֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4562">־</span><span class="mila" data-lnk="95" data-exlnk="0" id="M_14_32_2">יַּעֲנֶ֖ה</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_32_3">מַלְאֲכֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4565">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_14_32_4">ג֑וֹי</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_14_32_5">כִּ֤י</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_14_32_6">יְהוָה֙</span>
<span class="mila" data-lnk="4026532831" data-exlnk="0" id="M_14_32_7">יִסַּ֣ד</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_14_32_8">צִיּ֔וֹן</span>
<span class="mila" data-lnk="4026532817" data-exlnk="0" id="M_14_32_9">וּבָ֥הּ</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_14_32_10">יֶחֱס֖וּ</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_14_32_11">עֲנִיֵּ֥י</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_14_32_12">עַמּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4576">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4577"> פ </span>
</span>
<br /></p>