<p id="PR_38" data-perek-now="548" data-perek-nops="28"><span class="perek-header">פרק לח</span>
<br /><span id="PS_38_1" data-pasuk-now="22"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_1">וַיִּשְׁמַ֞ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_2">שְׁפַטְיָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_3">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18899">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_4">מַתָּ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_5">וּגְדַלְיָ֙הוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18903">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_7">פַּשְׁח֔וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_8">וְיוּכַל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18907">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_38_1_10">שֶׁ֣לֶמְיָ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_11">וּפַשְׁח֖וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_12">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18911">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_13">מַלְכִּיָּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_14">אֶ֨ת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18914">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_15">הַדְּבָרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_16">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_17">יִרְמְיָ֛הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_18">מְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_19">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18920">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_20">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18922">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_21">הָעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_1_22">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18925">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_2" data-pasuk-now="19"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_2_1">כֹּה֘</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_2_2">אָמַ֣ר</span>
<span class="mila" data-lnk="805306436" data-exlnk="0" id="M_38_2_3">יְהוָה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_2_4">הַיֹּשֵׁב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_2_5">בָּעִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_2_6">הַזֹּ֔את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_2_7">יָמ֕וּת</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_38_2_8">בַּחֶ֖רֶב</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_38_2_9">בָּרָעָ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_2_10">וּבַדָּ֑בֶר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_2_11">וְהַיֹּצֵ֤א</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_2_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18938">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_38_2_13">הַכַּשְׂדִּים֙</span>
<span data-lnk="0" data-exlnk="0" id="M_38_2_14" class="mila ktiv">יְחָיָ֔ה</span>
<span data-lnk="4026532164" data-exlnk="0" id="M_38_2_14_K" class="mila kri">וְחָיָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_38_2_15">וְהָיְתָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18943">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_38_2_16">לּ֥וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_38_2_17">נַפְשׁ֛וֹ</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_38_2_18">לְשָׁלָ֖ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_2_19">וָחָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18949">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="18950">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_3_1">כֹּ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_3_2">אָמַ֣ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_3_3">יְהוָ֑ה</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_38_3_4">הִנָּתֹ֨ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_3_5">תִּנָּתֵ֜ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_3_6">הָעִ֣יר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_3_7">הַזֹּ֗את</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_38_3_8">בְּיַ֛ד</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_38_3_9">חֵ֥יל</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_38_3_10">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18961">־</span><span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_38_3_11">בָּבֶ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_3_12">וּלְכָדָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="18964">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_4" data-pasuk-now="40"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_4_1">וַיֹּאמְר֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_2">הַשָּׂרִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18968">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_4">הַמֶּ֗לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_4_5">י֣וּמַת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_4_6">נָא֘</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_4_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18973">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_4_8">הָאִ֣ישׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_4_9">הַזֶּה֒</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_38_4_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18977">־</span><span class="mila" data-lnk="805306469" data-exlnk="0" id="M_38_4_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18979">־</span><span class="mila" data-lnk="536871013" data-exlnk="0" id="M_38_4_12">כֵּ֡ן</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_38_4_13">הֽוּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18982">־</span><span class="mila" data-lnk="3221225765" data-exlnk="0" id="M_38_4_14">מְרַפֵּ֡א</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_38_4_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18985">־</span><span class="mila" data-lnk="3221225729" data-exlnk="0" id="M_38_4_16">יְדֵי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_17">אַנְשֵׁ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_18">הַמִּלְחָמָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_19">הַֽנִּשְׁאָרִ֣ים׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_20">בָּעִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_21">הַזֹּ֗את</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_38_4_22">וְאֵת֙</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_38_4_23">יְדֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_24">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18995">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_25">הָעָ֔ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_4_26">לְדַבֵּ֣ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_4_27">אֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_28">כַּדְּבָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_29">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_30">כִּ֣י׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_31">הָאִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_32">הַזֶּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_33">אֵינֶ֨נּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_34">דֹרֵ֧שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_35">לְשָׁל֛וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_36">לָעָ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_37">הַזֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_38">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_39">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19011">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_4_40">לְרָעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_5_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_5_2">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_5_3">צִדְקִיָּ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_5_4">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19018">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_5_5">ה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_5_6">בְּיֶדְכֶ֑ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_38_5_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19022">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_38_5_8">אֵ֣ין</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_38_5_9">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_38_5_10">יוּכַ֥ל</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_38_5_11">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_38_5_12">דָּבָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19028">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_6" data-pasuk-now="26"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_6_1">וַיִּקְח֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_2">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19031">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_3">יִרְמְיָ֗הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_38_6_4">וַיַּשְׁלִ֨כוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_38_6_5">אֹת֜וֹ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_38_6_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19036">־</span><span class="mila" data-lnk="55" data-exlnk="0" id="M_38_6_7">הַבּ֣וֹר׀</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_38_6_8">מַלְכִּיָּ֣הוּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_38_6_9">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19040">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_38_6_10">הַמֶּ֗לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_11">אֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_12">בַּחֲצַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_13">הַמַּטָּרָ֔ה</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_38_6_14">וַיְשַׁלְּח֥וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_6_15">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19047">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_6_16">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_38_6_17">בַּחֲבָלִ֑ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_38_6_18">וּבַבּ֤וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_19">אֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19052">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_20">מַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_21">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_22">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19056">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_23">טִ֔יט</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_38_6_24">וַיִּטְבַּ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_6_25">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_38_6_26">בַּטִּֽיט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19062">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="19063">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_7" data-pasuk-now="19"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_38_7_1">וַיִּשְׁמַ֡ע</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_38_7_2">עֶבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19066">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_38_7_3">מֶ֨לֶךְ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_38_7_4">הַכּוּשִׁ֜י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_38_7_5">אִ֣ישׁ</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_38_7_6">סָרִ֗יס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_7">וְהוּא֙</span>
<span class="mila" data-lnk="1879048640" data-exlnk="0" id="M_38_7_8">בְּבֵ֣ית</span>
<span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_38_7_9">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19075">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_11">נָתְנ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_12">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19078">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_13">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19081">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_15">הַבּ֑וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_16">וְהַמֶּ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_17">יוֹשֵׁ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_18">בְּשַׁ֥עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_7_19">בִּנְיָמִֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19087">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_8" data-pasuk-now="9"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_1">וַיֵּצֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_2">עֶבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19090">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_3">מֶ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_4">מִבֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_5">הַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_6">וַיְדַבֵּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19096">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_8">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_8_9">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19099">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_9" data-pasuk-now="25"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_1">אֲדֹנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_2">הַמֶּ֗לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_9_3">הֵרֵ֜עוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_4">הָאֲנָשִׁ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_5">הָאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_38_9_6">אֵ֣ת</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_38_9_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19107">־</span><span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_38_9_8">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_38_9_9">עָשׂוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_10">לְיִרְמְיָ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_11">הַנָּבִ֔יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_12">אֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_13">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19114">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_14">הִשְׁלִ֖יכוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_9_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19117">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_9_16">הַבּ֑וֹר</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_38_9_17">וַיָּ֤מָת</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_38_9_18">תַּחְתָּיו֙</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_38_9_19">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_38_9_20">הָרָעָ֔ב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_9_21">כִּ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_9_22">אֵ֥ין</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_9_23">הַלֶּ֛חֶם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_9_24">ע֖וֹד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_9_25">בָּעִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19128">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_10" data-pasuk-now="20"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_10_1">וַיְצַוֶּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_10_2">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_10_3">אֵ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_10_4">עֶבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19133">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_10_5">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_10_6">הַכּוּשִׁ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_10_7">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_38_10_8">קַ֣ח</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_38_10_9">בְּיָדְךָ֤</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_38_10_10">מִזֶּה֙</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_38_10_11">שְׁלֹשִׁ֣ים</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_38_10_12">אֲנָשִׁ֔ים</span>
<span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_38_10_13">וְֽהַעֲלִ֜יתָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_38_10_14">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19144">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_38_10_15">יִרְמְיָ֧הוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_10_16">הַנָּבִ֛יא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_10_17">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19148">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_10_18">הַבּ֖וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_10_19">בְּטֶ֥רֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_10_20">יָמֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19152">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_11" data-pasuk-now="24"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_11_1">וַיִּקַּ֣ח׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_2">עֶבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19155">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_3">מֶ֨לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19158">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_5">הָאֲנָשִׁ֜ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_11_6">בְּיָד֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_7">וַיָּבֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_8">בֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19163">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_9">הַמֶּ֙לֶךְ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_38_11_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19166">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_38_11_11">תַּ֣חַת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_38_11_12">הָאוֹצָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_13">וַיִּקַּ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_14">מִשָּׁם֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_38_11_15">בְּלוֹיֵ֣</span>
<span data-lnk="0" data-exlnk="0" id="M_38_11_16" class="mila ktiv">הסְחָב֔וֹת</span>
<span data-lnk="3221225783" data-exlnk="0" id="M_38_11_16_K" class="mila kri">סְחָב֔וֹת</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_38_11_17">וּבְלוֹיֵ֖</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_38_11_18">מְלָחִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_19">וַיְשַׁלְּחֵ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_20">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19178">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_21">יִרְמְיָ֛הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_22">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19181">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_11_23">הַבּ֖וֹר</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_38_11_24">בַּחֲבָלִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19184">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_12" data-pasuk-now="19"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_12_1">וַיֹּ֡אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_12_2">עֶבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19187">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_12_3">מֶ֨לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_12_4">הַכּוּשִׁ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_12_5">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19191">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_12_6">יִרְמְיָ֗הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_12_7">שִׂ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_12_8">נָ֠א</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_38_12_9">בְּלוֹאֵ֨י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_12_10">הַסְּחָב֤וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_12_11">וְהַמְּלָחִים֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_38_12_12">תַּ֚חַת</span>
<span class="mila" data-lnk="3221225751" data-exlnk="0" id="M_38_12_13">אַצִּל֣וֹת</span>
<span class="mila" data-lnk="4026532165" data-exlnk="0" id="M_38_12_14">יָדֶ֔יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_12_15">מִתַּ֖חַת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_12_16">לַחֲבָלִ֑ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_12_17">וַיַּ֥עַשׂ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_12_18">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_12_19">כֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19206">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_13" data-pasuk-now="12"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_38_13_1">וַיִּמְשְׁכ֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_2">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19209">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_3">יִרְמְיָ֙הוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_4">בַּחֲבָלִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_5">וַיַּעֲל֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_6">אֹת֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_7">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19215">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_8">הַבּ֑וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_9">וַיֵּ֣שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_10">יִרְמְיָ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_11">בַּחֲצַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_13_12">הַמַּטָּרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19222">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="19223">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_14" data-pasuk-now="26"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_1">וַיִּשְׁלַ֞ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_2">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_3">צִדְקִיָּ֗הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_4">וַיִּקַּ֞ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_5">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19229">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_6">יִרְמְיָ֤הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_7">הַנָּבִיא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_8">אֵלָ֔יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_14_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19234">־</span><span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_38_14_10">מָבוֹא֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_38_14_11">הַשְּׁלִישִׁ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_12">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="1342177604" data-exlnk="0" id="M_38_14_13">בְּבֵ֣ית</span>
<span class="mila" data-lnk="2684354884" data-exlnk="0" id="M_38_14_14">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_15">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_16">הַמֶּ֜לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_17">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19243">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_18">יִרְמְיָ֗הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_19">שֹׁאֵ֨ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_20">אֲנִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_21">אֹֽתְךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_22">דָּבָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_23">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19250">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_24">תְּכַחֵ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_25">מִמֶּ֖נִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_14_26">דָּבָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19254">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_15" data-pasuk-now="15"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_2">יִרְמְיָ֙הוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19258">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_4">צִדְקִיָּ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_5">כִּ֚י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_6">אַגִּ֣יד</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_38_15_7">לְךָ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_8">הֲל֖וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_9">הָמֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_10">תְּמִיתֵ֑נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_11">וְכִי֙</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_38_15_12">אִיעָ֣צְךָ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_13">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_14">תִשְׁמַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_15_15">אֵלָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19271">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_16" data-pasuk-now="27"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_16_1">וַיִּשָּׁבַ֞ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_2">הַמֶּ֧לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_3">צִדְקִיָּ֛הוּ</span>
<span class="mila" data-lnk="268435536" data-exlnk="0" id="M_38_16_4">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19276">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_5">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_6">בַּסֵּ֣תֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_7">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_16_8">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19281">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_38_16_9">יְהוָ֞ה</span>
<span data-lnk="3489661268" data-exlnk="0" id="M_38_16_10" class="mila ktiv">את</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_38_16_11">אֲשֶׁר֩</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_38_16_12">עָשָׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19286">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_38_16_13">לָ֨נוּ</span>
<span class="mila" data-lnk="268435548" data-exlnk="0" id="M_38_16_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19289">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_38_16_15">הַנֶּ֤פֶשׁ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_38_16_16">הַזֹּאת֙</span>
<span class="mila" data-lnk="268435536" data-exlnk="0" id="M_38_16_17">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19293">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_18">אֲמִיתֶ֔ךָ</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_16_19">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19296">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_20">אֶתֶּנְךָ֗</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_16_21">בְּיַד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_22">הָאֲנָשִׁ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_23">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_16_24">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_16_25">מְבַקְשִׁ֖ים</span>
<span class="mila" data-lnk="805306448" data-exlnk="0" id="M_38_16_26">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19304">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_38_16_27">נַפְשֶֽׁךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19307">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="19308">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_17" data-pasuk-now="28"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_2">יִרְמְיָ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19312">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="19313">צִדְקִיָּ֡הוּ</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_38_17_4">   ס </span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_17_5">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19317">־</span><span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_17_6">אָמַ֣ר</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_17_7">יְהוָה֩</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_17_8">אֱלֹהֵ֨י</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_17_9">צְבָא֜וֹת</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_17_10">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_38_17_11">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_12">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19325">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_38_17_13">יָצֹ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_14">תֵצֵ֜א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19329">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_16">שָׂרֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_17">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19332">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_18">בָּבֶל֙</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_38_17_19">וְחָיְתָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_20">נַפְשֶׁ֔ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_21">וְהָעִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_22">הַזֹּ֔את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_23">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_24">תִשָּׂרֵ֖ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_25">בָּאֵ֑שׁ</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_38_17_26">וְחָיִ֖תָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_27">אַתָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_17_28">וּבֵיתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19344">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_38_18" data-pasuk-now="18"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_1">וְאִ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_2">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19347">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_3">תֵצֵ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19350">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_5">שָׂרֵי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_6">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_7">בָּבֶ֔ל</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_38_18_8">וְנִתְּנָ֞ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_9">הָעִ֤יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_10">הַזֹּאת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_11">בְּיַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_12">הַכַּשְׂדִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_13">וּשְׂרָפ֖וּהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_14">בָּאֵ֑שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_15">וְאַתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_16">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19363">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_17">תִמָּלֵ֥ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_18_18">מִיָּדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19367">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="19368">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_19" data-pasuk-now="19"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_19_1">וַיֹּ֛אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_19_2">הַמֶּ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_19_3">צִדְקִיָּ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_19_4">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19373">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_19_5">יִרְמְיָ֑הוּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_38_19_6">אֲנִ֧י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_38_19_7">דֹאֵ֣ג</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_38_19_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19378">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_38_19_9">הַיְּהוּדִ֗ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_19_10">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_19_11">נָֽפְלוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_19_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19383">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_38_19_13">הַכַּשְׂדִּ֔ים</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_38_19_14">פֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19386">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_38_19_15">יִתְּנ֥וּ</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_38_19_16">אֹתִ֛י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_38_19_17">בְּיָדָ֖ם</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_38_19_18">וְהִתְעַלְּלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19391">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_38_19_19">בִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19393">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_20" data-pasuk-now="16"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_1">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_2">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_3">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_4">יִתֵּ֑נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_5">שְֽׁמַֽע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19399">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_6">נָ֣א׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_7">בְּק֣וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_8">יְהוָ֗ה</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_38_20_9">לַאֲשֶׁ֤ר</span>
<span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_38_20_10">אֲנִי֙</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_20_11">דֹּבֵ֣ר</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_38_20_12">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_13">וְיִ֥יטַב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_14">לְךָ֖</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_38_20_15">וּתְחִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_20_16">נַפְשֶֽׁךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19411">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_21" data-pasuk-now="9"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="1342177744" data-exlnk="0" id="M_38_21_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19413">־</span><span class="mila" data-lnk="2684355008" data-exlnk="0" id="M_38_21_2">מָאֵ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_21_3">אַתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_21_4">לָצֵ֑את</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_21_5">זֶ֣ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_21_6">הַדָּבָ֔ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_21_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_21_8">הִרְאַ֖נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_21_9">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19422">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_22" data-pasuk-now="25"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_38_22_1">וְהִנֵּ֣ה</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_38_22_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19425">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_22_3">הַנָּשִׁ֗ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_22_4">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_22_5">נִשְׁאֲרוּ֙</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_38_22_6">בְּבֵ֣ית</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_38_22_7">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19431">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_22_8">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_38_22_9">מוּצָא֕וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_22_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19435">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_22_11">שָׂרֵ֖י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_22_12">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_22_13">בָּבֶ֑ל</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_38_22_14">וְהֵ֣נָּה</span>
<span class="mila" data-lnk="3221225734" data-exlnk="0" id="M_38_22_15">אֹמְרֹ֗ת</span>
<span class="mila" data-lnk="3221225758" data-exlnk="0" id="M_38_22_16">הִסִּית֜וּךָ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_38_22_17">וְיָכְל֤וּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_38_22_18">לְךָ֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_38_22_19">אַנְשֵׁ֣י</span>
<span class="mila" data-lnk="4026532183" data-exlnk="0" id="M_38_22_20">שְׁלֹמֶ֔ךָ</span>
<span class="mila" data-lnk="3221225751" data-exlnk="0" id="M_38_22_21">הָטְבְּע֥וּ</span>
<span class="mila" data-lnk="3221225766" data-exlnk="0" id="M_38_22_22">בַבֹּ֛ץ</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_38_22_23">רַגְלֶ֖ךָ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_38_22_24">נָסֹ֥גוּ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_38_22_25">אָחֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19451">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_23" data-pasuk-now="22"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19453">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19455">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_3">נָשֶׁ֣יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19458">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_5">בָּנֶ֗יךָ</span>
<span class="mila" data-lnk="4026532292" data-exlnk="0" id="M_38_23_6">מֽוֹצִאִים֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_23_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19462">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_23_8">הַכַּשְׂדִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_9">וְאַתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19466">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_11">תִמָּלֵ֣ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_12">מִיָּדָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_13">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_14">בְיַ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_15">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19472">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_23_16">בָּבֶל֙</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_38_23_17">תִּתָּפֵ֔שׂ</span>
<span class="mila" data-lnk="4026532177" data-exlnk="0" id="M_38_23_18">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19476">־</span><span class="mila" data-lnk="2952790353" data-exlnk="0" id="M_38_23_19">הָעִ֥יר</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_38_23_20">הַזֹּ֖את</span>
<span class="mila" data-lnk="4026532189" data-exlnk="0" id="M_38_23_21">תִּשְׂרֹ֥ף</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_38_23_22">בָּאֵֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19482">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="19483">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_24" data-pasuk-now="11"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_24_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_24_2">צִדְקִיָּ֜הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_24_3">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19487">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_24_4">יִרְמְיָ֗הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_24_5">אִ֛ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_24_6">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19491">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_38_24_7">יֵדַ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_24_8">בַּדְּבָֽרִים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19494">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_24_9">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_38_24_10">וְלֹ֥א</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_38_24_11">תָמֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19498">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_25" data-pasuk-now="26"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_38_25_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19500">־</span><span class="mila" data-lnk="2147483906" data-exlnk="0" id="M_38_25_2">יִשְׁמְע֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_38_25_3">הַשָּׂרִים֘</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_38_25_4">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19504">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_5">דִבַּ֣רְתִּי</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_38_25_6">אִתָּךְ֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_7">וּבָ֣אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_8">אֵלֶ֣יךָ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_38_25_9">וְֽאָמְר֪וּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_38_25_10">אֵלֶ֟יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_11">הַגִּידָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19512">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_12">נָּ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_13">לָ֜נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_14">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19516">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_15">דִּבַּ֧רְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19519">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_17">הַמֶּ֛לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_18">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19522">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_19">תְּכַחֵ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_20">מִמֶּ֖נּוּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_38_25_21">וְלֹ֣א</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_38_25_22">נְמִיתֶ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_23">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19528">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_24">דִּבֶּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_25">אֵלֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_25_26">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19532">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_38_26_1">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_38_26_2">אֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_38_26_3">מַפִּיל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19536">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_4">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_5">תְחִנָּתִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_6">לִפְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_7">הַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_8">לְבִלְתִּ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_9">הֲשִׁיבֵ֛נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_10">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_11">יְהוֹנָתָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_12">לָמ֥וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_26_13">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19548">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="19549"> פ </span>
</span>
<br /><span id="PS_38_27" data-pasuk-now="21"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_27_1">וַיָּבֹ֨אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_27_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19552">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_38_27_3">הַשָּׂרִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_27_4">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19555">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_38_27_5">יִרְמְיָ֙הוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_27_6">וַיִּשְׁאֲל֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_27_7">אֹת֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_27_8">וַיַּגֵּ֤ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_27_9">לָהֶם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_27_10">כְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19562">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_38_27_11">הַדְּבָרִ֣ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_27_12">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_27_13">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_27_14">צִוָּ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_38_27_15">הַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_38_27_16">וַיַּחֲרִ֣שׁוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_27_17">מִמֶּ֔נּוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_27_18">כִּ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_27_19">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19572">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_27_20">נִשְׁמַ֖ע</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_27_21">הַדָּבָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19575">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_38_28" data-pasuk-now="13"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_38_28_1">וַיֵּ֤שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_28_2">יִרְמְיָ֙הוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_28_3">בַּחֲצַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_38_28_4">הַמַּטָּרָ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_28_5">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19581">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_28_6">י֖וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_28_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19584">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_38_28_8">נִלְכְּדָ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="19586">יְרוּשָׁלִָ֑ם</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_38_28_9">   ס </span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_38_28_10">וְהָיָ֕ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_38_28_11">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_38_28_12">נִלְכְּדָ֖ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_38_28_13">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19593">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /></p>