<p id="PR_46" data-perek-now="402" data-perek-nops="28"><span class="perek-header">פרק מו</span>
<br /><span id="PS_46_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_46_1_1">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_1_2">הָיָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_1_3">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22591">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_1_4">יְהוָ֛ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_46_1_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22594">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_1_6">יִרְמְיָ֥הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_1_7">הַנָּבִ֖יא</span>
<span class="mila" data-lnk="3489661272" data-exlnk="0" id="M_46_1_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22598">־</span><span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_46_1_9">הַגּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22600">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_2" data-pasuk-now="25"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_2_1">לְמִצְרַ֗יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_2_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22603">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_2_3">חֵ֨יל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_2_4">פַּרְעֹ֤ה</span>
<span class="mila" data-lnk="4026532324" data-exlnk="0" id="M_46_2_5">נְכוֹ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_2_6">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_2_7">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_46_2_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22610">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_46_2_9">הָיָ֥ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_2_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22613">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_46_2_11">נְהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22615">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_46_2_12">פְּרָ֖ת</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_46_2_13">בְּכַרְכְּמִ֑שׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_2_14">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_2_15">הִכָּ֗ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_2_16">נְבֽוּכַדְרֶאצַּר֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_2_17">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_2_18">בָּבֶ֔ל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_2_19">בִּשְׁנַת֙</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_46_2_20">הָרְבִיעִ֔ית</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_2_21">לִיהוֹיָקִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_2_22">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22627">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_2_23">יֹאשִׁיָּ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_2_24">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_2_25">יְהוּדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22631">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_3" data-pasuk-now="5"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_3_1">עִרְכ֤וּ</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_46_3_2">מָגֵן֙</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_46_3_3">וְצִנָּ֔ה</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_46_3_4">וּגְשׁ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_3_5">לַמִּלְחָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22637">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_4" data-pasuk-now="10"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026532308" data-exlnk="0" id="M_46_4_1">אִסְר֣וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_4_2">הַסּוּסִ֗ים</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_4_3">וַֽעֲלוּ֙</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_4_4">הַפָּ֣רָשִׁ֔ים</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_4_5">וְהִֽתְיַצְּב֖וּ</span>
<span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_46_4_6">בְּכוֹבָעִ֑ים</span>
<span class="mila" data-lnk="3221225781" data-exlnk="0" id="M_46_4_7">מִרְקוּ֙</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_46_4_8">הָרְמָחִ֔ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_4_9">לִבְשׁ֖וּ</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_46_4_10">הַסִּרְיֹנֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22648">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_5_1">מַדּ֣וּעַ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_5_2">רָאִ֗יתִי</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_46_5_3">הֵ֣מָּה</span>
<span class="mila" data-lnk="4026532311" data-exlnk="0" id="M_46_5_4">חַתִּים֘</span>
<span class="mila" data-lnk="3221225750" data-exlnk="0" id="M_46_5_5">נְסֹגִ֣ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_5_6">אָחוֹר֒</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_46_5_7">וְגִבּוֹרֵיהֶ֣ם</span>
<span class="mila" data-lnk="4026532308" data-exlnk="0" id="M_46_5_8">יֻכַּ֔תּוּ</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_46_5_9">וּמָנ֥וֹס</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_5_10">נָ֖סוּ</span>
<span class="mila" data-lnk="1073742117" data-exlnk="0" id="M_46_5_11">וְלֹ֣א</span>
<span class="mila" data-lnk="2147483941" data-exlnk="0" id="M_46_5_12">הִפְנ֑וּ</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_46_5_13">מָג֥וֹר</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_46_5_14">מִסָּבִ֖יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_5_15">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22664">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_5_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22666">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_6" data-pasuk-now="13"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_6_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22668">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_46_6_2">יָנ֣וּס</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_6_3">הַקַּ֔ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_6_4">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22672">־</span><span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_46_6_5">יִמָּלֵ֖ט</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_6_6">הַגִּבּ֑וֹר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_6_7">צָפ֙וֹנָה֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_46_6_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22677">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_46_6_9">יַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_6_10">נְהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22680">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_6_11">פְּרָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_6_12">כָּשְׁל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_6_13">וְנָפָֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22684">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_7" data-pasuk-now="7"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_7_1">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22686">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_46_7_2">זֶ֖ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_46_7_3">כַּיְאֹ֣ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_46_7_4">יַעֲלֶ֑ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_7_5">כַּנְּהָר֕וֹת</span>
<span class="mila" data-lnk="3221225749" data-exlnk="0" id="M_46_7_6">יִֽתְגָּעֲשׁ֖וּ</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_46_7_7">מֵימָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22693">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_8" data-pasuk-now="14"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532212" data-exlnk="0" id="M_46_8_1">מִצְרַ֙יִם֙</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_46_8_2">כַּיְאֹ֣ר</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_46_8_3">יַעֲלֶ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_8_4">וְכַנְּהָר֖וֹת</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_46_8_5">יִתְגֹּ֣עֲשׁוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_8_6">מָ֑יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_8_7">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_46_8_8">אַֽעֲלֶה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_8_9">אֲכַסֶּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22703">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_46_8_10">אֶ֔רֶץ</span>
<span class="mila" data-lnk="3221225781" data-exlnk="0" id="M_46_8_11">אֹבִ֥ידָה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_46_8_12">עִ֖יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_8_13">וְיֹ֥שְׁבֵי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_8_14">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22709">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_9_1">עֲל֤וּ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_46_9_2">הַסּוּסִים֙</span>
<span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_46_9_3">וְהִתְהֹלֲל֣וּ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_46_9_4">הָרֶ֔כֶב</span>
<span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_46_9_5">וְיֵצְא֖וּ</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_46_9_6">הַגִּבּוֹרִ֑ים</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_9_7">כּ֤וּשׁ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_9_8">וּפוּט֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_46_9_9">תֹּפְשֵׂ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_46_9_10">מָגֵ֔ן</span>
<span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_46_9_11">וְלוּדִ֕ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_9_12">תֹּפְשֵׂ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_9_13">דֹּ֥רְכֵי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_46_9_14">קָֽשֶׁת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22724">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_10" data-pasuk-now="24"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532308" data-exlnk="0" id="M_46_10_1">וְֽהַיּ֨וֹם</span>
<span class="mila" data-lnk="2147483908" data-exlnk="0" id="M_46_10_2">הַה֜וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_3">לַֽאדנָ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_4">יְהֹוִ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_5">צְבָא֗וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_6">י֤וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_7">נְקָמָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_8">לְהִנָּקֵ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_9">מִצָּרָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_10">וְאָכְלָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_11">חֶ֙רֶב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_12">וְשָׂ֣בְעָ֔ה</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_46_10_13">וְרָוְתָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_10_14">מִדָּמָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_15">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_16">זֶ֠בַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_17">לַאדנָ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_18">יְהֹוִ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_10_19">צְבָא֛וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_46_10_20">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_46_10_21">צָפ֖וֹן</span>
<span class="mila" data-lnk="1879048660" data-exlnk="0" id="M_46_10_22">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22747">־</span><span class="mila" data-lnk="3758096852" data-exlnk="0" id="M_46_10_23">נְהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22749">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_46_10_24">פְּרָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22751">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_46_11_1">עֲלִ֤י</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_46_11_2">גִלְעָד֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_11_3">וּקְחִ֣י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_11_4">צֳרִ֔י</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_11_5">בְּתוּלַ֖ת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_11_6">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22758">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_46_11_7">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_11_8">לַשָּׁוְא֙</span>
<span data-lnk="0" data-exlnk="0" id="M_46_11_9" class="mila ktiv">הִרְבֵּ֣יתי</span>
<span data-lnk="3221225750" data-exlnk="0" id="M_46_11_9_K" class="mila kri">הִרְבֵּ֣ית</span>
<span class="mila" data-lnk="4026532182" data-exlnk="0" id="M_46_11_10">רְפֻא֔וֹת</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_11_11">תְּעָלָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_11_12">אֵ֥ין</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_11_13">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22767">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026532308" data-exlnk="0" id="M_46_12_1">שָׁמְע֤וּ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_46_12_2">גוֹיִם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_12_3">קְלוֹנֵ֔ךְ</span>
<span class="mila" data-lnk="3221225746" data-exlnk="0" id="M_46_12_4">וְצִוְחָתֵ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_12_5">מָלְאָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_12_6">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_46_12_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22775">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_46_12_8">גִבּ֤וֹר</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_46_12_9">בְּגִבּוֹר֙</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_46_12_10">כָּשָׁ֔לוּ</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_46_12_11">יַחְדָּ֖יו</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_12_12">נָפְל֥וּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_12_13">שְׁנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22783">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="22784"> פ </span>
</span>
<br /><span id="PS_46_13" data-pasuk-now="15"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_13_1">הַדָּבָר֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_13_2">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_13_3">דִּבֶּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_13_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_13_5">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22790">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_46_13_6">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_13_7">הַנָּבִ֑יא</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_46_13_8">לָב֗וֹא</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_13_9">נְבֽוּכַדְרֶאצַּר֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_13_10">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_46_13_11">בָּבֶ֔ל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_13_12">לְהַכּ֖וֹת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_13_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22799">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_46_13_14">אֶ֥רֶץ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_46_13_15">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22802">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_14_1">הַגִּ֤ידוּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_14_2">בְמִצְרַ֙יִם֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_46_14_3">וְהַשְׁמִ֣יעֽוּ</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_46_14_4">בְמִגְדּ֔וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_14_5">וְהַשְׁמִ֥יעוּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_14_6">בְנֹ֖ף</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_14_7">וּבְתַחְפַּנְחֵ֑ס</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_14_8">אִמְר֗וּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_46_14_9">הִתְיַצֵּב֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_46_14_10">וְהָכֵ֣ן</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_46_14_11">לָ֔ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_14_12">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22815">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_46_14_13">אָכְלָ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_14_14">חֶ֖רֶב</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_46_14_15">סְבִיבֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22819">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_15" data-pasuk-now="8"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_15_1">מַדּ֖וּעַ</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_46_15_2">נִסְחַ֣ף</span>
<span class="mila" data-lnk="3221225782" data-exlnk="0" id="M_46_15_3">אַבִּירֶ֑יךָ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_15_4">לֹ֣א</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_15_5">עָמַ֔ד</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_15_6">כִּ֥י</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_15_7">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026532182" data-exlnk="0" id="M_46_15_8">הֲדָפֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22828">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_16" data-pasuk-now="18"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_46_16_1">הִרְבָּ֖ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_46_16_2">כּוֹשֵׁ֑ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_46_16_3">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22832">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_46_16_4">נָפַ֞ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_46_16_5">אִ֣ישׁ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_46_16_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22836">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_46_16_7">רֵעֵ֗הוּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_16_8">וַיֹּֽאמְרוּ֙</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_46_16_9">ק֣וּמָה׀</span>
<span class="mila" data-lnk="4026532215" data-exlnk="0" id="M_46_16_10">וְנָשֻׁ֣בָה</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_46_16_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22842">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_46_16_12">עַמֵּ֗נוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_46_16_13">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22845">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_46_16_14">אֶ֙רֶץ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_46_16_15">מוֹלַדְתֵּ֔נוּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_46_16_16">מִפְּנֵ֖י</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_46_16_17">חֶ֥רֶב</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_16_18">הַיּוֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22851">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_17_1">קָרְא֖וּ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_17_2">שָׁ֑ם</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_17_3">פַּרְעֹ֤ה</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_17_4">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22856">־</span><span class="mila" data-lnk="55" data-exlnk="0" id="M_46_17_5">מִצְרַ֙יִם֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_17_6">שָׁא֔וֹן</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_17_7">הֶעֱבִ֖יר</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_46_17_8">הַמּוֹעֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22861">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_18" data-pasuk-now="13"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_18_1">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22863">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_46_18_2">אָ֙נִי֙</span>
<span class="mila" data-lnk="1879048514" data-exlnk="0" id="M_46_18_3">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22866">־</span><span class="mila" data-lnk="1342177602" data-exlnk="0" id="M_46_18_4">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_46_18_5">יְהוָ֥ה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_46_18_6">צְבָא֖וֹת</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_46_18_7">שְׁמ֑וֹ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_46_18_8">כִּ֚י</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_46_18_9">כְּתָב֣וֹר</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_46_18_10">בֶּהָרִ֔ים</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_46_18_11">וּכְכַרְמֶ֖ל</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_18_12">בַּיָּ֥ם</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_18_13">יָבֽוֹא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22877">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_19" data-pasuk-now="14"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_46_19_1">כְּלֵ֤י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_46_19_2">גוֹלָה֙</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_19_3">עֲשִׂ֣י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_19_4">לָ֔ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_19_5">יוֹשֶׁ֖בֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_19_6">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22884">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_46_19_7">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_19_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22887">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_46_19_9">נֹף֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_19_10">לְשַׁמָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_19_11">תִֽהְיֶ֔ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_46_19_12">וְנִצְּתָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_19_13">מֵאֵ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_19_14">יוֹשֵֽׁב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22895">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="22896">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_20" data-pasuk-now="8"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_20_1">עֶגְלָ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_20_2">יְפֵה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22899">־</span><span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_46_20_3">פִיָּ֖ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_46_20_4">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="3221225791" data-exlnk="0" id="M_46_20_5">קֶ֥רֶץ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_46_20_6">מִצָּפ֖וֹן</span>
<span class="mila" data-lnk="3489661302" data-exlnk="0" id="M_46_20_7">בָּ֥א</span>
<span class="mila" data-lnk="2684354934" data-exlnk="0" id="M_46_20_8">בָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22906">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_21" data-pasuk-now="20"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_46_21_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22908">־</span><span class="mila" data-lnk="3221225791" data-exlnk="0" id="M_46_21_2">שְׂכִרֶ֤יהָ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_46_21_3">בְקִרְבָּהּ֙</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_46_21_4">כְּעֶגְלֵ֣י</span>
<span class="mila" data-lnk="4026532215" data-exlnk="0" id="M_46_21_5">מַרְבֵּ֔ק</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_46_21_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22914">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_46_21_7">גַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22916">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_46_21_8">הֵ֧מָּה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_46_21_9">הִפְנ֛וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_21_10">נָ֥סוּ</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_46_21_11">יַחְדָּ֖יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_21_12">לֹ֣א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_21_13">עָמָ֑דוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_46_21_14">כִּ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_46_21_15">י֥וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_46_21_16">אֵידָ֛ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_46_21_17">בָּ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_46_21_18">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_46_21_19">עֵ֥ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_46_21_20">פְּקֻדָּתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22930">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_22" data-pasuk-now="11"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_46_22_1">קוֹלָ֖הּ</span>
<span class="mila" data-lnk="4026532215" data-exlnk="0" id="M_46_22_2">כַּנָּחָ֣שׁ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_46_22_3">יֵלֵ֑ךְ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_46_22_4">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22935">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_46_22_5">בְחַ֣יִל</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_46_22_6">יֵלֵ֔כוּ</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_46_22_7">וּבְקַרְדֻּמּוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_22_8">בָּ֣אוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_22_9">לָ֔הּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_46_22_10">כְּחֹטְבֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_22_11">עֵצִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22943">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_23" data-pasuk-now="13"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_46_23_1">כָּרְת֤וּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_46_23_2">יַעְרָהּ֙</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_46_23_3">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22947">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_46_23_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_23_5">כִּ֖י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_23_6">לֹ֣א</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_23_7">יֵחָקֵ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_23_8">כִּ֤י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_23_9">רַבּוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_23_10">מֵֽאַרְבֶּ֔ה</span>
<span class="mila" data-lnk="1342177730" data-exlnk="0" id="M_46_23_11">וְאֵ֥ין</span>
<span class="mila" data-lnk="4026532290" data-exlnk="0" id="M_46_23_12">לָהֶ֖ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_46_23_13">מִסְפָּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22958">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_24" data-pasuk-now="7"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_24_1">הֹבִ֖ישָׁה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_24_2">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22961">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_46_24_3">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_24_4">נִתְּנָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_24_5">בְּיַ֥ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_24_6">עַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22966">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_46_24_7">צָפֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22968">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_25" data-pasuk-now="23"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1879048516" data-exlnk="0" id="M_46_25_1">אָמַר֩</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_46_25_2">יְהוָ֨ה</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_46_25_3">צְבָא֜וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_25_4">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_46_25_5">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_6">הִנְנִ֤י</span>
<span class="mila" data-lnk="3489661376" data-exlnk="0" id="M_46_25_7">פוֹקֵד֙</span>
<span class="mila" data-lnk="4026532327" data-exlnk="0" id="M_46_25_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22977">־</span><span class="mila" data-lnk="39" data-exlnk="0" id="M_46_25_9">אָמ֣וֹן</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_46_25_10">מִנֹּ֔א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_46_25_11">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22981">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_12">פַּרְעֹה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_13">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22984">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_46_25_14">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_46_25_15">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22987">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_46_25_16">אֱלֹהֶ֖יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_17">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22990">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_18">מְלָכֶ֑יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_19">וְעַ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22993">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_20">פַּרְעֹ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_21">וְעַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_22">הַבֹּטְחִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_25_23">בּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22998">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_26" data-pasuk-now="17"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_46_26_1">וּנְתַתִּ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_2">בְּיַד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_3">מְבַקְשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_4">נַפְשָׁ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_5">וּבְיַ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_6">נְבוּכַדְרֶאצַּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_7">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23006">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_8">בָּבֶ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_9">וּבְיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23009">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_10">עֲבָדָ֑יו</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_46_26_11">וְאַחֲרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23012">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_46_26_12">כֵ֛ן</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_46_26_13">תִּשְׁכֹּ֥ן</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_46_26_14">כִּֽימֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23016">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_46_26_15">קֶ֖דֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_16">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23019">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_26_17">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23022">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="23023"> פ </span>
</span>
<br /><span id="PS_46_27" data-pasuk-now="22"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="268435573" data-exlnk="0" id="M_46_27_1">וְ֠אַתָּה</span>
<span class="mila" data-lnk="268435557" data-exlnk="0" id="M_46_27_2">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23026">־</span><span class="mila" data-lnk="268435557" data-exlnk="0" id="M_46_27_3">תִּירָ֞א</span>
<span class="mila" data-lnk="268435552" data-exlnk="0" id="M_46_27_4">עַבְדִּ֤י</span>
<span class="mila" data-lnk="536871008" data-exlnk="0" id="M_46_27_5">יַֽעֲקֹב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_6">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23031">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_7">תֵּחַ֣ת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_46_27_8">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_9">כִּ֠י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_10">הִנְנִ֤י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_46_27_11">מוֹשִֽׁעֲךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_12">מֵרָח֔וֹק</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_46_27_13">וְאֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23039">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_46_27_14">זַרְעֲךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_15">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_16">שִׁבְיָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_17">וְשָׁ֧ב</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_46_27_18">יַעֲק֛וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_19">וְשָׁקַ֥ט</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_46_27_20">וְשַׁאֲנַ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_21">וְאֵ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_27_22">מַחֲרִֽיד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23049">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_46_28" data-pasuk-now="27"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_46_28_1">אַ֠תָּה</span>
<span class="mila" data-lnk="268435530" data-exlnk="0" id="M_46_28_2">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23052">־</span><span class="mila" data-lnk="268435528" data-exlnk="0" id="M_46_28_3">תִּירָ֞א</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_46_28_4">עַבְדִּ֤י</span>
<span class="mila" data-lnk="536870984" data-exlnk="0" id="M_46_28_5">יַֽעֲקֹב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_6">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23057">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_8">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_9">אִתְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_10">אָ֑נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_11">כִּי֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_28_12">אֶעֱשֶׂ֨ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_28_13">כָלָ֜ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_46_28_14">בְּכָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23066">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_15">הַגּוֹיִ֣ם׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_16">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_46_28_17">הִדַּחְתִּ֣יךָ</span>
<span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_46_28_18">שָּׁ֗מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_46_28_19">וְאֹֽתְךָ֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_46_28_20">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23073">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_46_28_21">אֶעֱשֶׂ֣ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_46_28_22">כָלָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_46_28_23">וְיִסַּרְתִּ֙יךָ֙</span>
<span class="mila" data-lnk="4026532169" data-exlnk="0" id="M_46_28_24">לַמִּשְׁפָּ֔ט</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_46_28_25">וְנַקֵּ֖ה</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_46_28_26">לֹ֥א</span>
<span class="mila" data-lnk="4026532202" data-exlnk="0" id="M_46_28_27">אֲנַקֶּֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23082">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="23083"> פ </span>
</span>
<br /></p>