<p id="PR_34" data-perek-now="425" data-perek-nops="22"><span class="perek-header">פרק לד</span>
<br /><span id="PS_34_1" data-pasuk-now="26"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_34_1_1">הַדָּבָ֛ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_34_1_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16703">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_34_1_3">הָיָ֥ה</span>
<span class="mila" data-lnk="3489661128" data-exlnk="0" id="M_34_1_4">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16706">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_34_1_5">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_6">מֵאֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_7">יְהוָ֑ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_34_1_8">וּנְבוּכַדְרֶאצַּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_9">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16712">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_10">בָּבֶ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="16714">׀</span>
<span class="mila" data-lnk="1342177472" data-exlnk="0" id="M_34_1_11">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16716">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_12">חֵיל֡וֹ</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_34_1_13">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16719">־</span><span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_34_1_14">מַמְלְכ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_15">אֶרֶץ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_16">מֶמְשֶׁ֨לֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_17">יָד֜וֹ</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_34_1_18">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16725">־</span><span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_34_1_19">הָעַמִּ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_20">נִלְחָמִ֧ים</span>
<span class="mila" data-lnk="1342177472" data-exlnk="0" id="M_34_1_21">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16729">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_22">יְרוּשָׁלִַ֛ם</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_34_1_23">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16732">־</span><span class="mila" data-lnk="2684354752" data-exlnk="0" id="M_34_1_24">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16734">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_25">עָרֶ֖יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_1_26">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16737">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_2" data-pasuk-now="26"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_2_1">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16739">־</span><span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_2_2">אָמַ֤ר</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_2_3">יְהוָה֙</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_2_4">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_34_2_5">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_6">הָלֹךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_7">וְאָ֣מַרְתָּ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16747">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_9">צִדְקִיָּ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_10">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_11">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_12">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_13">אֵלָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_14">כֹּ֚ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_15">אָמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_16">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_17">הִנְנִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_18">נֹתֵ֜ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16759">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_20">הָעִ֤יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_21">הַזֹּאת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_22">בְּיַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_23">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16764">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_24">בָּבֶ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_25">וּשְׂרָפָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_2_26">בָּאֵֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16768">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_3" data-pasuk-now="21"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_1">וְאַתָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_2">לֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_3">תִמָּלֵט֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_4">מִיָּד֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_5">כִּ֚י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_34_3_6">תָּפֹ֣שׂ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_3_7">תִּתָּפֵ֔שׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_8">וּבְיָד֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_9">תִּנָּתֵ֑ן</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_34_3_10">וְֽ֠עֵינֶיךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16780">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_12">עֵינֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_13">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16783">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_14">בָּבֶ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_15">תִּרְאֶ֗ינָה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_3_16">וּפִ֛יהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16788">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_18">פִּ֥יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_19">יְדַבֵּ֖ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_3_20">וּבָבֶ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_3_21">תָּבֽוֹא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16793">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_4_1">אַ֚ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_2">שְׁמַ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_3">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16797">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_5">צִדְקִיָּ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_6">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_7">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_8">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16803">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_9">אָמַ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_10">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_4_11">עָלֶ֔יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_4_12">לֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_4_13">תָמ֖וּת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_4_14">בֶּחָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16810">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_5" data-pasuk-now="22"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_34_5_1">בְּשָׁל֣וֹם</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_34_5_2">תָּמ֗וּת</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_34_5_3">וּֽכְמִשְׂרְפ֣וֹת</span>
<span class="mila" data-lnk="4026532323" data-exlnk="0" id="M_34_5_4">אֲ֠בוֹתֶיךָ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_34_5_5">הַמְּלָכִ֨ים</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_34_5_6">הָרִאשֹׁנִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16818">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_8">הָי֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_9">לְפָנֶ֗יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_5_10">כֵּ֚ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_5_11">יִשְׂרְפוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16823">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_34_5_12">לָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_13">וְה֥וֹי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_14">אָד֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_15">יִסְפְּדוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16828">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_16">לָ֑ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_5_17">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16831">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_34_5_18">דָבָ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_5_19">אֲנִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16834">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_34_5_20">דִבַּ֖רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_21">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16837">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_5_22">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16840">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="16841">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1073742088" data-exlnk="0" id="M_34_6_1">וַיְדַבֵּר֙</span>
<span class="mila" data-lnk="2147483912" data-exlnk="0" id="M_34_6_2">יִרְמְיָ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_3">הַנָּבִ֔יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16846">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_5">צִדְקִיָּ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_6">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_7">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_8">אֵ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16852">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_10">הַדְּבָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_11">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_6_12">בִּירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16856">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_7" data-pasuk-now="22"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_7_1">וְחֵ֣יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_2">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16859">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_3">בָּבֶ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_4">נִלְחָמִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16863">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_6">יְר֣וּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_7_7">וְעַ֛ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_7_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16867">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_34_7_9">עָרֵ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_7_10">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_7_11">הַנּוֹתָר֑וֹת</span>
<span class="mila" data-lnk="1073742100" data-exlnk="0" id="M_34_7_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16872">־</span><span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_34_7_13">לָכִישׁ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_7_14">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16875">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_34_7_15">עֲזֵקָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_16">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_17">הֵ֗נָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_18">נִשְׁאֲר֛וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_19">בְּעָרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_20">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_21">עָרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_7_22">מִבְצָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16885">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="16886"> פ </span>
</span>
<br /><span id="PS_34_8" data-pasuk-now="20"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_34_8_1">הַדָּבָ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_8_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16889">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_8_3">הָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_8_4">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16892">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_8_5">יִרְמְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_8_6">מֵאֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_8_7">יְהוָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_34_8_8">אַחֲרֵ֡י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_34_8_9">כְּרֹת֩</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_34_8_10">הַמֶּ֨לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_11">צִדְקִיָּ֜הוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_12">בְּרִ֗ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16902">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16904">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_15">הָעָם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_16">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_17">בִּירוּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_18">לִקְרֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_19">לָהֶ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_8_20">דְּרֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16911">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_9" data-pasuk-now="16"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_9_1">לְ֠שַׁלַּח</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_34_9_2">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_9_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16915">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_34_9_4">עַבְדּ֞וֹ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_34_9_5">וְאִ֧ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_9_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16919">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_9_7">שִׁפְחָת֛וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_9_8">הָעִבְרִ֥י</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_34_9_9">וְהָעִבְרִיָּ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_9_10">חָפְשִׁ֑ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_9_11">לְבִלְתִּ֧י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_34_9_12">עֲבָד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16926">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_34_9_13">בָּ֛ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_34_9_14">בִּיהוּדִ֥י</span>
<span class="mila" data-lnk="4026532340" data-exlnk="0" id="M_34_9_15">אָחִ֖יהוּ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_34_9_16">אִֽישׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16931">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_10" data-pasuk-now="22"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_1">וַיִּשְׁמְעוּ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16934">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_3">הַשָּׂרִ֨ים</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_10_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16937">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_34_10_5">הָעָ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16940">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_7">בָּ֣אוּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_10_8">בַבְּרִ֗ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_9">לְ֠שַׁלַּח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_10">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16946">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_12">עַבְדּ֞וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_13">וְאִ֤ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16950">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_15">שִׁפְחָתוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_16">חָפְשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_17">לְבִלְתִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_18">עֲבָד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16955">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_19">בָּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_20">ע֑וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_10_21">וַֽיִּשְׁמְע֖וּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_34_10_22">וַיְשַׁלֵּֽחוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16960">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_11" data-pasuk-now="14"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_34_11_1">וַיָּשׁ֙וּבוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_2">אַחֲרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16963">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_3">כֵ֔ן</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_11_4">וַיָּשִׁ֗בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16967">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_6">הָֽעֲבָדִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16970">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_8">הַשְּׁפָח֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_34_11_10">שִׁלְּח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_11">חָפְשִׁ֑ים</span>
<span data-lnk="0" data-exlnk="0" id="M_34_11_12" class="mila ktiv">וַֽיִּכְבְּישׁ֔וּם</span>
<span data-lnk="3221225748" data-exlnk="0" id="M_34_11_12_K" class="mila kri">וַֽיִּכְבְּשׁ֔וּם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_13">לַעֲבָדִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_11_14">וְלִשְׁפָחֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16980">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="16981"> פ </span>
</span>
<br /><span id="PS_34_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_12_1">וַיְהִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_12_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16984">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_12_3">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_12_4">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16987">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_12_5">יִרְמְיָ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_12_6">מֵאֵ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_12_7">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_12_8">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16992">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_13" data-pasuk-now="18"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_13_1">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16994">־</span><span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_13_2">אָמַ֥ר</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_13_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_13_4">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_34_13_5">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_6">אָנֹכִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_7">כָּרַ֤תִּֽי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_8">בְרִית֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17003">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_10">אֲב֣וֹתֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_11">בְּי֨וֹם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_34_13_12">הוֹצִאִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_13">אוֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_14">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_15">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_16">מִבֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_17">עֲבָדִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_13_18">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_14" data-pasuk-now="25"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_34_14_1">מִקֵּ֣ץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_34_14_2">שֶׁ֣בַע</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_34_14_3">שָׁנִ֡ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_34_14_4">תְּֽשַׁלְּח֡וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_34_14_5">אִישׁ֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_34_14_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17020">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_34_14_7">אָחִ֨יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_8">הָעִבְרִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_9">אֲשֶֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17024">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_10">יִמָּכֵ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_11">לְךָ֗</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_14_12">וַעֲבָֽדְךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_13">שֵׁ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_14">שָׁנִ֔ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_34_14_15">וְשִׁלַּחְתּ֥וֹ</span>
<span class="mila" data-lnk="3221225856" data-exlnk="0" id="M_34_14_16">חָפְשִׁ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_17">מֵעִמָּ֑ךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_14_18">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17034">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_19">שָׁמְע֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_20">אֲבֽוֹתֵיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_21">אֵלַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_22">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_23">הִטּ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_24">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17041">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_14_25">אָזְנָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17043">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_15" data-pasuk-now="19"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_1">וַתָּשֻׁ֨בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_2">אַתֶּ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_3">הַיּ֗וֹם</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_34_15_4">וַתַּעֲשׂ֤וּ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_34_15_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17049">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_34_15_6">הַיָּשָׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_7">בְּעֵינַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_8">לִקְרֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_9">דְר֖וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_10">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_11">לְרֵעֵ֑הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_12">וַתִּכְרְת֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_13">בְרִית֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_14">לְפָנַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_15">בַּבַּ֕יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_16">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17061">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_17">נִקְרָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_18">שְׁמִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_15_19">עָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17065">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_16" data-pasuk-now="21"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_34_16_1">וַתָּשֻׁ֙בוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_2">וַתְּחַלְּל֣וּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_34_16_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17069">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_4">שְׁמִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_5">וַתָּשִׁ֗בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_6">אִ֤ישׁ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_34_16_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17074">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_8">עַבְדּוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_9">וְאִ֣ישׁ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_34_16_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17078">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_11">שִׁפְחָת֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17081">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_13">שִׁלַּחְתֶּ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_14">חָפְשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_15">לְנַפְשָׁ֑ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_34_16_16">וַתִּכְבְּשׁ֣וּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_16_17">אֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_18">לִֽהְי֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_19">לָכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_20">לַעֲבָדִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_16_21">וְלִשְׁפָחֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17092">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="17093">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_17" data-pasuk-now="32"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="268435570" data-exlnk="0" id="M_34_17_1">לָכֵן֘</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_17_2">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17096">־</span><span class="mila" data-lnk="268435520" data-exlnk="0" id="M_34_17_3">אָמַ֣ר</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_34_17_4">יְהוָה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_17_5">אַתֶּם֙</span>
<span class="mila" data-lnk="4026532323" data-exlnk="0" id="M_34_17_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17101">־</span><span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_34_17_7">שְׁמַעְתֶּ֣ם</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_34_17_8">אֵלַ֔י</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_34_17_9">לִקְרֹ֣א</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_34_17_10">דְר֔וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_17_11">אִ֥ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_17_12">לְאָחִ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_17_13">וְאִ֣ישׁ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_34_17_14">לְרֵעֵ֑הוּ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_34_17_15">הִנְנִ֣י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_34_17_16">קֹרֵא֩</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_34_17_17">לָכֶ֨ם</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_34_17_18">דְּר֜וֹר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_34_17_19">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17115">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_34_17_20">יְהוָ֗ה</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_34_17_21">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17118">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_34_17_22">הַחֶ֙רֶב֙</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_34_17_23">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17121">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_34_17_24">הַדֶּ֣בֶר</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_34_17_25">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17124">־</span><span class="mila" data-lnk="55" data-exlnk="0" id="M_34_17_26">הָרָעָ֔ב</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_34_17_27">וְנָתַתִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_17_28">אֶתְכֶם֙</span>
<span data-lnk="0" data-exlnk="0" id="M_34_17_29" class="mila ktiv">לְזַוָ֔עֲה</span>
<span data-lnk="20" data-exlnk="0" id="M_34_17_29_K" class="mila kri">לְזַעֲוָ֔ה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_34_17_30">לְכֹ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_17_31">מַמְלְכ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_17_32">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17133">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_18" data-pasuk-now="22"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_34_18_1">וְנָתַתִּ֣י</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_34_18_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17136">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_34_18_3">הָאֲנָשִׁ֗ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_18_4">הָעֹֽבְרִים֙</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_34_18_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17140">־</span><span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_34_18_6">בְּרִתִ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_18_7">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_18_8">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17144">־</span><span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_34_18_9">הֵקִ֙ימוּ֙</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_34_18_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17147">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_34_18_11">דִּבְרֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_18_12">הַבְּרִ֔ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_18_13">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_34_18_14">כָּרְת֖וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_34_18_15">לְפָנָ֑י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_34_18_16">הָעֵ֙גֶל֙</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_34_18_17">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_34_18_18">כָּרְת֣וּ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_34_18_19">לִשְׁנַ֔יִם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_34_18_20">וַיַּעַבְר֖וּ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_34_18_21">בֵּ֥ין</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_34_18_22">בְּתָרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17160">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_19" data-pasuk-now="13"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_34_19_1">שָׂרֵ֨י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_19_2">יְהוּדָ֜ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_19_3">וְשָׂרֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_34_19_4">יְרוּשָׁלִַ֗ם</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_34_19_5">הַסָּֽרִסִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_19_6">וְהַכֹּ֣הֲנִ֔ים</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_34_19_7">וְכֹ֖ל</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_19_8">עַ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_19_9">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_19_10">הָעֹ֣בְרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_19_11">בֵּ֖ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_19_12">בִּתְרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_19_13">הָעֵֽגֶל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17174">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_20" data-pasuk-now="14"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_1">וְנָתַתִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_2">אוֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_3">בְּיַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_4">אֹֽיְבֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_5">וּבְיַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_6">מְבַקְשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_7">נַפְשָׁ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_8">וְהָיְתָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_9">נִבְלָתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_10">לְמַֽאֲכָ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_11">לְע֥וֹף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_12">הַשָּׁמַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_13">וּלְבֶהֱמַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_20_14">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17189">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_21" data-pasuk-now="18"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_34_21_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17191">־</span><span class="mila" data-lnk="2147483906" data-exlnk="0" id="M_34_21_2">צִדְקִיָּ֨הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_21_3">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17194">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_34_21_4">יְהוּדָ֜ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_21_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17197">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_34_21_6">שָׂרָ֗יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_21_7">אֶתֵּן֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_21_8">בְּיַ֣ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_34_21_9">אֹֽיְבֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_21_10">וּבְיַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_21_11">מְבַקְשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_21_12">נַפְשָׁ֑ם</span>
<span class="mila" data-lnk="1879048640" data-exlnk="0" id="M_34_21_13">וּבְיַ֗ד</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_34_21_14">חֵ֚יל</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_34_21_15">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_34_21_16">בָּבֶ֔ל</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_34_21_17">הָעֹלִ֖ים</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_34_21_18">מֵעֲלֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17211">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_34_22" data-pasuk-now="20"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_34_22_1">הִנְנִ֨י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_34_22_2">מְצַוֶּ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_3">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17215">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_5">וַהֲשִׁ֨בֹתִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17219">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_7">הָעִ֤יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_8">הַזֹּאת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_9">וְנִלְחֲמ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_10">עָלֶ֔יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_11">וּלְכָד֖וּהָ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_22_12">וּשְׂרָפֻ֣הָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_13">בָאֵ֑שׁ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_22_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17228">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_34_22_15">עָרֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_16">יְהוּדָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_17">אֶתֵּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_18">שְׁמָמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_34_22_19">מֵאֵ֥ין</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_34_22_20">יֹשֵֽׁב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17236">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="17237"> פ </span>
</span>
<br /></p>