<p id="PR_17" data-perek-now="402" data-perek-nops="27"><span class="perek-header">פרק יז</span>
<br /><span id="PS_17_1" data-pasuk-now="13"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026532214" data-exlnk="0" id="M_17_1_1">חַטַּ֣את</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_17_1_2">יְהוּדָ֗ה</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_17_1_3">כְּתוּבָ֛ה</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_1_4">בְּעֵ֥ט</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_1_5">בַּרְזֶ֖ל</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_17_1_6">בְּצִפֹּ֣רֶן</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_1_7">שָׁמִ֑יר</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_17_1_8">חֲרוּשָׁה֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_1_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7608">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_17_1_10">ל֣וּחַ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_17_1_11">לִבָּ֔ם</span>
<span class="mila" data-lnk="3221225782" data-exlnk="0" id="M_17_1_12">וּלְקַרְנ֖וֹת</span>
<span class="mila" data-lnk="3221225766" data-exlnk="0" id="M_17_1_13">מִזְבְּחוֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7613">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_2" data-pasuk-now="10"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_17_2_1">כִּזְכֹּ֤ר</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_2_2">בְּנֵיהֶם֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_2_3">מִזְבְּחוֹתָ֔ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_2_4">וַאֲשֵׁרֵיהֶ֖ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_2_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7619">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_17_2_6">עֵ֣ץ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_17_2_7">רַעֲנָ֑ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_2_8">עַ֖ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_2_9">גְּבָע֥וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_2_10">הַגְּבֹהֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7625">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_3" data-pasuk-now="11"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221225791" data-exlnk="0" id="M_17_3_1">הֲרָרִי֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_3_2">בַּשָּׂדֶ֔ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_17_3_3">חֵילְךָ֥</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_17_3_4">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7630">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_17_3_5">אוֹצְרוֹתֶ֖יךָ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_17_3_6">לָבַ֣ז</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_17_3_7">אֶתֵּ֑ן</span>
<span class="mila" data-lnk="4026532341" data-exlnk="0" id="M_17_3_8">בָּמֹתֶ֕יךָ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_17_3_9">בְּחַטָּ֖את</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_17_3_10">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7637">־</span><span class="mila" data-lnk="4026532213" data-exlnk="0" id="M_17_3_11">גְּבוּלֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7639">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_4" data-pasuk-now="20"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_17_4_1">וְשָׁמַטְתָּ֗ה</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_4_2">וּבְךָ֙</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_17_4_3">מִנַּחֲלָֽתְךָ֙</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_17_4_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_17_4_5">נָתַ֣תִּי</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_17_4_6">לָ֔ךְ</span>
<span class="mila" data-lnk="3221225764" data-exlnk="0" id="M_17_4_7">וְהַעֲבַדְתִּ֙יךָ֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_17_4_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7648">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_17_4_9">אֹ֣יְבֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_10">בָּאָ֖רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_17_4_11">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_17_4_12">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7653">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_13">יָדָ֑עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_14">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7656">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_17_4_15">אֵ֛שׁ</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_17_4_16">קְדַחְתֶּ֥ם</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_17_4_17">בְּאַפִּ֖י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_4_18">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7661">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_17_4_19">עוֹלָ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_4_20">תּוּקָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7665">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="7666">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_5" data-pasuk-now="15"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_17_5_1">כֹּ֣ה׀</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_5_2">אָמַ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_5_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_17_5_4">אָר֤וּר</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_17_5_5">הַגֶּ֙בֶר֙</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_17_5_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_5_7">יִבְטַ֣ח</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_5_8">בָּאָדָ֔ם</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_17_5_9">וְשָׂ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_5_10">בָּשָׂ֖ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_17_5_11">זְרֹע֑וֹ</span>
<span class="mila" data-lnk="1342177751" data-exlnk="0" id="M_17_5_12">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7679">־</span><span class="mila" data-lnk="3758096855" data-exlnk="0" id="M_17_5_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_5_14">יָס֥וּר</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_5_15">לִבּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7683">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_6" data-pasuk-now="15"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_17_6_1">וְהָיָה֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_6_2">כְּעַרְעָ֣ר</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_6_3">בָּעֲרָבָ֔ה</span>
<span class="mila" data-lnk="1342177662" data-exlnk="0" id="M_17_6_4">וְלֹ֥א</span>
<span class="mila" data-lnk="2684354942" data-exlnk="0" id="M_17_6_5">יִרְאֶ֖ה</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_17_6_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7690">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_17_6_7">יָ֣בוֹא</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_17_6_8">ט֑וֹב</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_17_6_9">וְשָׁכַ֤ן</span>
<span class="mila" data-lnk="3221225791" data-exlnk="0" id="M_17_6_10">חֲרֵרִים֙</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_17_6_11">בַּמִּדְבָּ֔ר</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_17_6_12">אֶ֥רֶץ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_6_13">מְלֵחָ֖ה</span>
<span class="mila" data-lnk="1342177623" data-exlnk="0" id="M_17_6_14">וְלֹ֥א</span>
<span class="mila" data-lnk="3758096726" data-exlnk="0" id="M_17_6_15">תֵשֵֽׁב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7701">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="7702">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_7_1">בָּר֣וּךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_7_2">הַגֶּ֔בֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_7_3">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_7_4">יִבְטַ֖ח</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_7_5">בַּיהוָ֑ה</span>
<span class="mila" data-lnk="1342177602" data-exlnk="0" id="M_17_7_6">וְהָיָ֥ה</span>
<span class="mila" data-lnk="3758096706" data-exlnk="0" id="M_17_7_7">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026532294" data-exlnk="0" id="M_17_7_8">מִבְטַחֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7711">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_8" data-pasuk-now="25"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532182" data-exlnk="0" id="M_17_8_1">וְהָיָ֞ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_8_2">כְּעֵ֣ץ׀</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_8_3">שָׁת֣וּל</span>
<span class="mila" data-lnk="1342177606" data-exlnk="0" id="M_17_8_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7716">־</span><span class="mila" data-lnk="3758096710" data-exlnk="0" id="M_17_8_5">מַ֗יִם</span>
<span class="mila" data-lnk="268435559" data-exlnk="0" id="M_17_8_6">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7719">־</span><span class="mila" data-lnk="54" data-exlnk="0" id="M_17_8_7">יוּבַל֙</span>
<span class="mila" data-lnk="805306486" data-exlnk="0" id="M_17_8_8">יְשַׁלַּ֣ח</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_17_8_9">שָׁרָשָׁ֔יו</span>
<span class="mila" data-lnk="268435527" data-exlnk="0" id="M_17_8_10">וְלֹ֤א</span>
<span data-lnk="0" data-exlnk="0" id="M_17_8_11" class="mila ktiv">יִרְאֶ֙</span>
<span data-lnk="3489661255" data-exlnk="0" id="M_17_8_11_K" class="mila kri">יִרְאֶה֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_17_8_12">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7727">־</span><span class="mila" data-lnk="805306451" data-exlnk="0" id="M_17_8_13">יָ֣בֹא</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_8_14">חֹ֔ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_17_8_15">וְהָיָ֥ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_8_16">עָלֵ֖הוּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_8_17">רַעֲנָ֑ן</span>
<span class="mila" data-lnk="4026532198" data-exlnk="0" id="M_17_8_18">וּבִשְׁנַ֤ת</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_17_8_19">בַּצֹּ֙רֶת֙</span>
<span class="mila" data-lnk="268435543" data-exlnk="0" id="M_17_8_20">לֹ֣א</span>
<span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_17_8_21">יִדְאָ֔ג</span>
<span class="mila" data-lnk="1879048663" data-exlnk="0" id="M_17_8_22">וְלֹ֥א</span>
<span class="mila" data-lnk="4026532308" data-exlnk="0" id="M_17_8_23">יָמִ֖ישׁ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_17_8_24">מֵעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_17_8_25">פֶּֽרִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7741">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026532215" data-exlnk="0" id="M_17_9_1">עָקֹ֥ב</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_9_2">הַלֵּ֛ב</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_17_9_3">מִכֹּ֖ל</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_17_9_4">וְאָנֻ֣שׁ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_17_9_5">ה֑וּא</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_9_6">מִ֖י</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_9_7">יֵדָעֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7749">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_10_1">אֲנִ֧י</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_17_10_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_17_10_3">חֹקֵ֥ר</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_17_10_4">לֵ֖ב</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_17_10_5">בֹּחֵ֣ן</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_17_10_6">כְּלָי֑וֹת</span>
<span class="mila" data-lnk="4026532182" data-exlnk="0" id="M_17_10_7">וְלָתֵ֤ת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_10_8">לְאִישׁ֙</span>
<span class="mila" data-lnk="4026532166" data-exlnk="0" id="M_17_10_9">כִּדְרָכָ֔ו</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_17_10_10">כִּפְרִ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_10_11">מַעֲלָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7762">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="7763">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_11" data-pasuk-now="14"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_11_1">קֹרֵ֤א</span>
<span class="mila" data-lnk="3221225791" data-exlnk="0" id="M_17_11_2">דָגַר֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_11_3">וְלֹ֣א</span>
<span class="mila" data-lnk="3221225779" data-exlnk="0" id="M_17_11_4">יָלָ֔ד</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_11_5">עֹ֥שֶׂה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_11_6">עֹ֖שֶׁר</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_11_7">וְלֹ֣א</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_11_8">בְמִשְׁפָּ֑ט</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_17_11_9">בַּחֲצִ֤י</span>
<span data-lnk="0" data-exlnk="0" id="M_17_11_10" class="mila ktiv">יָמָו֙</span>
<span data-lnk="3221225782" data-exlnk="0" id="M_17_11_10_K" class="mila kri">יָמָיו֙</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_17_11_11">יַעַזְבֶ֔נּוּ</span>
<span class="mila" data-lnk="3221225782" data-exlnk="0" id="M_17_11_12">וּבְאַחֲרִית֖וֹ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_17_11_13">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_17_11_14">נָבָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7779">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_12_1">כִּסֵּ֣א</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_12_2">כָב֔וֹד</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_12_3">מָר֖וֹם</span>
<span class="mila" data-lnk="3221225782" data-exlnk="0" id="M_17_12_4">מֵרִאשׁ֑וֹן</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_17_12_5">מְק֖וֹם</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_17_12_6">מִקְדָּשֵֽׁנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7786">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_13_1">מִקְוֵ֤ה</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_13_2">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_17_13_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_13_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7791">־</span><span class="mila" data-lnk="55" data-exlnk="0" id="M_17_13_5">עֹזְבֶ֖יךָ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_17_13_6">יֵבֹ֑שׁוּ</span>
<span data-lnk="0" data-exlnk="0" id="M_17_13_7" class="mila ktiv">יְסוּרַי֙</span>
<span data-lnk="3221225742" data-exlnk="0" id="M_17_13_7_K" class="mila kri">וְסוּרַי֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_13_8">בָּאָ֣רֶץ</span>
<span class="mila" data-lnk="4026532223" data-exlnk="0" id="M_17_13_9">יִכָּתֵ֔בוּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_13_10">כִּ֥י</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_13_11">עָזְב֛וּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_13_12">מְק֥וֹר</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_13_13">מַֽיִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7802">־</span><span class="mila" data-lnk="30" data-exlnk="0" id="M_17_13_14">חַיִּ֖ים</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_13_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7805">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_17_13_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7808">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7809"> פ </span>
</span>
<br /><span id="PS_17_14" data-pasuk-now="8"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_17_14_1">רְפָאֵ֤נִי</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_17_14_2">יְהוָה֙</span>
<span class="mila" data-lnk="3221225730" data-exlnk="0" id="M_17_14_3">וְאֵ֣רָפֵ֔א</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_17_14_4">הוֹשִׁיעֵ֖נִי</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_17_14_5">וְאִוָּשֵׁ֑עָה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_17_14_6">כִּ֥י</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_17_14_7">תְהִלָּתִ֖י</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_17_14_8">אָֽתָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7818">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_15" data-pasuk-now="9"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_15_1">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7820">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_17_15_2">הֵ֕מָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_15_3">אֹמְרִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_17_15_4">אֵלָ֑י</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_17_15_5">אַיֵּ֥ה</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_17_15_6">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7826">־</span><span class="mila" data-lnk="39" data-exlnk="0" id="M_17_15_7">יְהוָ֖ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_17_15_8">יָ֥בוֹא</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_17_15_9">נָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7830">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_16" data-pasuk-now="16"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="805306495" data-exlnk="0" id="M_17_16_1">וַאֲנִ֞י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_16_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7833">־</span><span class="mila" data-lnk="3221225775" data-exlnk="0" id="M_17_16_3">אַ֣צְתִּי׀</span>
<span class="mila" data-lnk="4026532351" data-exlnk="0" id="M_17_16_4">מֵרֹעֶ֣ה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_17_16_5">אַחֲרֶ֗יךָ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_17_16_6">וְי֥וֹם</span>
<span class="mila" data-lnk="805306479" data-exlnk="0" id="M_17_16_7">אָנ֛וּשׁ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_17_16_8">לֹ֥א</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_17_16_9">הִתְאַוֵּ֖יתִי</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_17_16_10">אַתָּ֣ה</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_17_16_11">יָדָ֑עְתָּ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_16_12">מוֹצָ֣א</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_17_16_13">שְׂפָתַ֔י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_17_16_14">נֹ֥כַח</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_17_16_15">פָּנֶ֖יךָ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_17_16_16">הָיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7848">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_17_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7850">־</span><span class="mila" data-lnk="3221225735" data-exlnk="0" id="M_17_17_2">תִּֽהְיֵה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7852">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_17_17_3">לִ֖י</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_17_4">לִמְחִתָּ֑ה</span>
<span class="mila" data-lnk="4026532310" data-exlnk="0" id="M_17_17_5">מַחֲסִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7856">־</span><span class="mila" data-lnk="805306454" data-exlnk="0" id="M_17_17_6">אַ֖תָּה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_17_7">בְּי֥וֹם</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_17_17_8">רָעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7860">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_18" data-pasuk-now="17"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_17_18_1">יֵבֹ֤שׁוּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_17_18_2">רֹֽדְפַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_3">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7864">־</span><span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_17_18_4">אֵבֹ֣שָׁה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_5">אָ֔נִי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_18_6">יֵחַ֣תּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_7">הֵ֔מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_8">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7870">־</span><span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_17_18_9">אֵחַ֖תָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_10">אָ֑נִי</span>
<span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_17_18_11">הָבִ֤יא</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_17_18_12">עֲלֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_13">י֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_18_14">רָעָ֔ה</span>
<span class="mila" data-lnk="4026532220" data-exlnk="0" id="M_17_18_15">וּמִשְׁנֶ֥ה</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_17_18_16">שִׁבָּר֖וֹן</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_17_18_17">שָׁבְרֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7881">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="7882">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_19" data-pasuk-now="20"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="268435524" data-exlnk="0" id="M_17_19_1">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7884">־</span><span class="mila" data-lnk="268435524" data-exlnk="0" id="M_17_19_2">אָמַ֨ר</span>
<span class="mila" data-lnk="268435524" data-exlnk="0" id="M_17_19_3">יְהוָ֜ה</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_17_19_4">אֵלַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_5">הָלֹ֤ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_6">וְעָֽמַדְתָּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_7">בְּשַׁ֣עַר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_8">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7892">־</span><span data-lnk="0" data-exlnk="0" id="M_17_19_9" class="mila ktiv">ָעָ֔ם</span>
<span data-lnk="4026532164" data-exlnk="0" id="M_17_19_9_K" class="mila kri">הָעָ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_10">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_11">יָבֹ֤אוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_12">בוֹ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_13">מַלְכֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_14">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_15">וַאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_17_19_16">יֵ֣צְאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_19_17">ב֑וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_18">וּבְכֹ֖ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_19">שַׁעֲרֵ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_19_20">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7906">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_20" data-pasuk-now="15"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_1">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_2">אֲ֠לֵיהֶם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_20_3">שִׁמְע֨וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_20_4">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7911">־</span><span class="mila" data-lnk="268435524" data-exlnk="0" id="M_17_20_5">יְהוָ֜ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_20_6">מַלְכֵ֤י</span>
<span class="mila" data-lnk="268435524" data-exlnk="0" id="M_17_20_7">יְהוּדָה֙</span>
<span class="mila" data-lnk="1879048640" data-exlnk="0" id="M_17_20_8">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7916">־</span><span class="mila" data-lnk="2684355008" data-exlnk="0" id="M_17_20_9">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_17_20_10">וְכֹ֖ל</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_17_20_11">יֹשְׁבֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_12">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_13">הַבָּאִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_14">בַּשְּׁעָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_20_15">הָאֵֽלֶּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7924">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_17_21_1">כֹּ֚ה</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_17_21_2">אָמַ֣ר</span>
<span class="mila" data-lnk="536870984" data-exlnk="0" id="M_17_21_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_21_4">הִשָּׁמְר֖וּ</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_17_21_5">בְּנַפְשׁוֹתֵיכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_6">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7931">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_7">תִּשְׂא֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_8">מַשָּׂא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_9">בְּי֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_10">הַשַּׁבָּ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_11">וַהֲבֵאתֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_12">בְּשַׁעֲרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_21_13">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7939">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_22" data-pasuk-now="18"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_22_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7941">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_2">תוֹצִ֨יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_3">מַשָּׂ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_4">מִבָּֽתֵּיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_5">בְּי֣וֹם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_22_6">הַשַּׁבָּ֔ת</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_17_22_7">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7948">־</span><span class="mila" data-lnk="2684355008" data-exlnk="0" id="M_17_22_8">מְלָאכָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_9">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_10">תַעֲשׂ֑וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_11">וְקִדַּשְׁתֶּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7954">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_13">י֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_14">הַשַּׁבָּ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_15">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_16">צִוִּ֖יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7960">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_22_18">אֲבוֹתֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7962">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_17_23_1">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_17_23_2">שָׁמְע֔וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_17_23_3">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_4">הִטּ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7968">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_6">אָזְנָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_7">וַיַּקְשׁוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7972">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_9">עָרְפָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_10">לְבִלְתִּ֣י</span>
<span data-lnk="0" data-exlnk="0" id="M_17_23_11" class="mila ktiv">שְׁומֹ֔עַ</span>
<span data-lnk="1" data-exlnk="0" id="M_17_23_11_K" class="mila kri">שְׁמ֔וֹעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_12">וּלְבִלְתִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_13">קַ֥חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_23_14">מוּסָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_24" data-pasuk-now="24"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_1">וְ֠הָיָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7983">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_17_24_3">שָׁמֹ֨עַ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_17_24_4">תִּשְׁמְע֤וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_5">אֵלַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_6">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7988">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_8">לְבִלְתִּ֣י׀</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_17_24_9">הָבִ֣יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_10">מַשָּׂ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_11">בְּשַׁעֲרֵ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_12">הָעִ֥יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_13">הַזֹּ֖את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_14">בְּי֣וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_24_15">הַשַּׁבָּ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_16">וּלְקַדֵּשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8000">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_18">י֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_19">הַשַּׁבָּ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_24_20">לְבִלְתִּ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_24_21">עֲשֽׂוֹת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8005">־</span><span data-lnk="0" data-exlnk="0" id="M_17_24_22" class="mila ktiv">בֹּ֖ה</span>
<span data-lnk="3221225732" data-exlnk="0" id="M_17_24_22_K" class="mila kri">בּ֖וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_24_23">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8009">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_17_24_24">מְלָאכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8011">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_25" data-pasuk-now="23"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_25_1">וּבָ֣אוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_25_2">בְשַׁעֲרֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_25_3">הָעִ֣יר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_25_4">הַזֹּ֡את</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_25_5">מְלָכִ֣ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="8017">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_6">וְשָׂרִ֡ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_7">יֹשְׁבִים֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_17_25_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8021">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_9">כִּסֵּ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_10">דָוִ֜ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_11">רֹכְבִ֣ים׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_12">בָּרֶ֣כֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_13">וּבַסּוּסִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_14">הֵ֚מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_15">וְשָׂ֣רֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_16">אִ֥ישׁ</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_17_25_17">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_17_25_18">וְיֹשְׁבֵ֣י</span>
<span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_17_25_19">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_20">וְיָשְׁבָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_21">הָעִיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8035">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_22">הַזֹּ֖את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_25_23">לְעוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8038">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_26" data-pasuk-now="22"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_26_1">וּבָ֣אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_2">מֵעָרֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8041">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_3">יְ֠הוּדָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_4">וּמִסְּבִיב֨וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_5">יְרוּשָׁלִַ֜ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_17_26_6">וּמֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_7">בִּנְיָמִ֗ן</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_17_26_8">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8048">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_9">הַשְּׁפֵלָ֤ה</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_17_26_10">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8051">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_11">הָהָר֙</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_17_26_12">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8054">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_13">הַנֶּ֔גֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_14">מְבִאִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_15">עוֹלָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_16">וְזֶ֖בַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_17">וּמִנְחָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_18">וּלְבוֹנָ֑ה</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_17_26_19">וּמְבִאֵ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_26_20">תוֹדָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_21">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_26_22">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8065">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_17_27" data-pasuk-now="24"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_17_27_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8067">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_2">לֹ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_3">תִשְׁמְע֜וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_4">אֵלַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_5">לְקַדֵּשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8073">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_7">י֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_8">הַשַּׁבָּ֔ת</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_17_27_9">וּלְבִלְתִּ֣י׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_10">שְׂאֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_11">מַשָּׂ֗א</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_17_27_12">וּבֹ֛א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_13">בְּשַׁעֲרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_14">יְרוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_15">בְּי֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_16">הַשַּׁבָּ֑ת</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_17_27_17">וְהִצַּ֧תִּי</span>
<span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_17_27_18">אֵ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_19">בִּשְׁעָרֶ֗יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_20">וְאָ֥כְלָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_21">אַרְמְנ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_17_27_22">יְרוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_27_23">וְלֹ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_17_27_24">תִכְבֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8093">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="8094"> פ </span>
</span>
<br /></p>