<p id="PR_23" data-perek-now="608" data-perek-nops="40"><span class="perek-header">פרק כג</span>
<br /><span id="PS_23_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_1_1">ה֣וֹי</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_1_2">רֹעִ֗ים</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_1_3">מְאַבְּדִ֧ים</span>
<span class="mila" data-lnk="3221225750" data-exlnk="0" id="M_23_1_4">וּמְפִצִ֛ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_1_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10119">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_23_1_6">צֹ֥אן</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_1_7">מַרְעִיתִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_1_8">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10123">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_1_9">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10126">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10127">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_2" data-pasuk-now="27"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532308" data-exlnk="0" id="M_23_2_1">לָ֠כֵן</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_23_2_2">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10130">־</span><span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_23_2_3">אָמַ֨ר</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_23_2_4">יְהוָ֜ה</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_23_2_5">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_23_2_6">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_2_7">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10136">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_2_8">הָרֹעִים֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_2_9">הָרֹעִ֣ים</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_2_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10140">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_2_11">עַמִּי֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_2_12">אַתֶּ֞ם</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_2_13">הֲפִצֹתֶ֤ם</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_2_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10145">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_2_15">צֹאנִי֙</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_23_2_16">וַתַּדִּח֔וּם</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_2_17">וְלֹ֥א</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_2_18">פְקַדְתֶּ֖ם</span>
<span class="mila" data-lnk="805306437" data-exlnk="0" id="M_23_2_19">אֹתָ֑ם</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_2_20">הִנְנִ֨י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_2_21">פֹקֵ֧ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_2_22">עֲלֵיכֶ֛ם</span>
<span class="mila" data-lnk="1879048517" data-exlnk="0" id="M_23_2_23">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10155">־</span><span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_23_2_24">רֹ֥עַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_2_25">מַעַלְלֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_2_26">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10159">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_2_27">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10161">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_3" data-pasuk-now="17"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="805306444" data-exlnk="0" id="M_23_3_1">וַאֲנִ֗י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_23_3_2">אֲקַבֵּץ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_23_3_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10165">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_23_3_4">שְׁאֵרִ֣ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_23_3_5">צֹאנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_6">מִכֹּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_7">הָאֲרָצ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10171">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_9">הִדַּ֥חְתִּי</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_3_10">אֹתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_11">שָׁ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_12">וַהֲשִׁבֹתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_13">אֶתְהֶ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10178">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_15">נְוֵהֶ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_16">וּפָר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_3_17">וְרָבֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10182">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_4" data-pasuk-now="13"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_4_1">וַהֲקִמֹתִ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_4_2">עֲלֵיהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_4_3">רֹעִ֖ים</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_23_4_4">וְרָע֑וּם</span>
<span class="mila" data-lnk="805306453" data-exlnk="0" id="M_23_4_5">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10188">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_4_6">יִֽירְא֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_4_7">ע֧וֹד</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_23_4_8">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10192">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_23_4_9">יֵחַ֛תּוּ</span>
<span class="mila" data-lnk="805306487" data-exlnk="0" id="M_23_4_10">וְלֹ֥א</span>
<span class="mila" data-lnk="4026532341" data-exlnk="0" id="M_23_4_11">יִפָּקֵ֖דוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_4_12">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10197">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_4_13">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10200">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10201">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_5_1">הִנֵּ֨ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_5_2">יָמִ֤ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_5_3">בָּאִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_5_4">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10206">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_5_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_5_6">וַהֲקִמֹתִ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_5_7">לְדָוִ֖ד</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_5_8">צֶ֣מַח</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_5_9">צַדִּ֑יק</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_23_5_10">וּמָ֤לַךְ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_5_11">מֶ֙לֶךְ֙</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_23_5_12">וְהִשְׂכִּ֔יל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_5_13">וְעָשָׂ֛ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_5_14">מִשְׁפָּ֥ט</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_5_15">וּצְדָקָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_5_16">בָּאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10219">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_6_1">בְּיָמָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_2">תִּוָּשַׁ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_3">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_6_4">וְיִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_5">יִשְׁכֹּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_6_6">לָבֶ֑טַח</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_23_6_7">וְזֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10227">־</span><span class="mila" data-lnk="35" data-exlnk="0" id="M_23_6_8">שְּׁמ֥וֹ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_23_6_9">אֲֽשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10230">־</span><span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_23_6_10">יִקְרְא֖וֹ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_23_6_11">יְהוָ֥ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="10233">׀</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_6_12">צִדְקֵֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10236">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10237"> פ </span>
</span>
<br /><span id="PS_23_7" data-pasuk-now="18"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_7_1">לָכֵ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_2">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10240">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_3">יָמִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_4">בָּאִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_5">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10244">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="3489661376" data-exlnk="0" id="M_23_7_7">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10247">־</span><span class="mila" data-lnk="2952790464" data-exlnk="0" id="M_23_7_8">יֹ֤אמְרוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_9">עוֹד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_10">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10251">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_11">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_12">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_13">הֶעֱלָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10256">־</span><span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_23_7_15">בְּנֵ֥י</span>
<span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_23_7_16">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_17">מֵאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_7_18">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10261">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_8" data-pasuk-now="22"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1879048512" data-exlnk="0" id="M_23_8_1">כִּ֣י</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_23_8_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10264">־</span><span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_23_8_3">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10266">־</span><span class="mila" data-lnk="2952790336" data-exlnk="0" id="M_23_8_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_5">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_6">הֶעֱלָה֩</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_23_8_7">וַאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="2147483904" data-exlnk="0" id="M_23_8_8">הֵבִ֜יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10273">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_10">זֶ֨רַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_11">בֵּ֤ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_12">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_13">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_14">צָפ֔וֹנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_15">וּמִכֹּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_16">הָאֲרָצ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_17">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_18">הִדַּחְתִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_19">שָׁ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_20">וְיָשְׁב֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_21">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10286">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_8_22">אַדְמָתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10289">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10290"> פ </span>
</span>
<br /><span id="PS_23_9" data-pasuk-now="18"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_23_9_1">לַנְּבִאִ֞ים</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_23_9_2">נִשְׁבַּ֧ר</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_23_9_3">לִבִּ֣י</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_23_9_4">בְקִרְבִּ֗י</span>
<span class="mila" data-lnk="3221225790" data-exlnk="0" id="M_23_9_5">רָֽחֲפוּ֙</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_23_9_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10297">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_23_9_7">עַצְמוֹתַ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_9_8">הָיִ֙יתִי֙</span>
<span class="mila" data-lnk="805306434" data-exlnk="0" id="M_23_9_9">כְּאִ֣ישׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_9_10">שִׁכּ֔וֹר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_9_11">וּכְגֶ֖בֶר</span>
<span class="mila" data-lnk="3221225758" data-exlnk="0" id="M_23_9_12">עֲבָ֣רוֹ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_23_9_13">יָ֑יִן</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_9_14">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_9_15">יְהוָ֔ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_9_16">וּמִפְּנֵ֖י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_9_17">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_9_18">קָדְשֽׁוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10310">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_10_1">כִּ֤י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_10_2">מְנָֽאֲפִים֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_10_3">מָלְאָ֣ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_10_4">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_10_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10316">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_23_10_6">מִפְּנֵ֤י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_10_7">אָלָה֙</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_10_8">אָבְלָ֣ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_10_9">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_10_10">יָבְשׁ֖וּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_10_11">נְא֣וֹת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_10_12">מִדְבָּ֑ר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_10_13">וַתְּהִ֤י</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_23_10_14">מְרֽוּצָתָם֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_10_15">רָעָ֔ה</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_23_10_16">וּגְבוּרָתָ֖ם</span>
<span class="mila" data-lnk="805306487" data-exlnk="0" id="M_23_10_17">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10329">־</span><span class="mila" data-lnk="805306487" data-exlnk="0" id="M_23_10_18">כֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10331">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_23_11_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10333">־</span><span class="mila" data-lnk="1879048517" data-exlnk="0" id="M_23_11_2">גַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10335">־</span><span class="mila" data-lnk="1610613061" data-exlnk="0" id="M_23_11_3">נָבִ֥יא</span>
<span class="mila" data-lnk="1879048517" data-exlnk="0" id="M_23_11_4">גַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10338">־</span><span class="mila" data-lnk="3758096709" data-exlnk="0" id="M_23_11_5">כֹּהֵ֖ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_11_6">חָנֵ֑פוּ</span>
<span class="mila" data-lnk="805306485" data-exlnk="0" id="M_23_11_7">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10342">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_23_11_8">בְּבֵיתִ֛י</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_11_9">מָצָ֥אתִי</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_11_10">רָעָתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_11_11">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10347">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_11_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10349">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_12" data-pasuk-now="17"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_12_1">לָכֵן֩</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_12_2">יִהְיֶ֨ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_12_3">דַרְכָּ֜ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_12_4">לָהֶ֗ם</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_12_5">כַּחֲלַקְלַקּוֹת֙</span>
<span class="mila" data-lnk="4026532311" data-exlnk="0" id="M_23_12_6">בָּאֲפֵלָ֔ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_12_7">יִדַּ֖חוּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_12_8">וְנָ֣פְלוּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_12_9">בָ֑הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_10">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10360">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_11">אָבִ֨יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_12">עֲלֵיהֶ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_13">רָעָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_14">שְׁנַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_15">פְּקֻדָּתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_12_16">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10367">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_23_12_17">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10369">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026532181" data-exlnk="0" id="M_23_13_1">וּבִנְבִיאֵ֥י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_13_2">שֹׁמְר֖וֹן</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_23_13_3">רָאִ֣יתִי</span>
<span class="mila" data-lnk="4026532305" data-exlnk="0" id="M_23_13_4">תִפְלָ֑ה</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_13_5">הִנַּבְּא֣וּ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_13_6">בַבַּ֔עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_13_7">וַיַּתְע֥וּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_13_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10378">־</span><span class="mila" data-lnk="268435520" data-exlnk="0" id="M_23_13_9">עַמִּ֖י</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_23_13_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10381">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_13_11">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10383">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_14" data-pasuk-now="20"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026532181" data-exlnk="0" id="M_23_14_1">וּבִנְבִאֵ֨י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_14_2">יְרוּשָׁלִַ֜ם</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_23_14_3">רָאִ֣יתִי</span>
<span class="mila" data-lnk="3221225781" data-exlnk="0" id="M_23_14_4">שַׁעֲרוּרָ֗ה</span>
<span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_23_14_5">נָא֞וֹף</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_14_6">וְהָלֹ֤ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_14_7">בַּשֶּׁ֙קֶר֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_14_8">וְחִזְּקוּ֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_14_9">יְדֵ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_14_10">מְרֵעִ֔ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_14_11">לְבִ֨לְתִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10395">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_23_14_12">שָׁ֔בוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_14_13">אִ֖ישׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_14_14">מֵרָעָת֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_14_15">הָיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10400">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_14_16">לִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_14_17">כֻלָּם֙</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_23_14_18">כִּסְדֹ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_14_19">וְיֹשְׁבֶ֖יהָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_23_14_20">כַּעֲמֹרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10407">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10408"> פ </span>
</span>
<br /><span id="PS_23_15" data-pasuk-now="22"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="805306452" data-exlnk="0" id="M_23_15_1">לָכֵ֞ן</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_23_15_2">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10411">־</span><span class="mila" data-lnk="536870976" data-exlnk="0" id="M_23_15_3">אָמַ֨ר</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_23_15_4">יְהוָ֤ה</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_23_15_5">צְבָאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10416">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_7">הַנְּבִאִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_8">הִנְנִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_9">מַאֲכִ֤יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_10">אוֹתָם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_15_11">לַעֲנָ֔ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_15_12">וְהִשְׁקִתִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_15_13">מֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10424">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_23_15_14">רֹ֑אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_15">כִּ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_16">מֵאֵת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_17">נְבִיאֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_18">יְרוּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_15_19">יָצְאָ֥ה</span>
<span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_23_15_20">חֲנֻפָּ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_15_21">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10433">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_23_15_22">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10436">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10437"> פ </span>
</span>
<br /><span id="PS_23_16" data-pasuk-now="20"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="1342177604" data-exlnk="0" id="M_23_16_1">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10439">־</span><span class="mila" data-lnk="3758096708" data-exlnk="0" id="M_23_16_2">אָמַ֞ר</span>
<span class="mila" data-lnk="536870980" data-exlnk="0" id="M_23_16_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_23_16_4">צְבָא֗וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_16_5">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10444">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_16_6">תִּשְׁמְע֞וּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_16_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10447">־</span><span class="mila" data-lnk="3758096704" data-exlnk="0" id="M_23_16_8">דִּבְרֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_16_9">הַנְּבִאִים֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_16_10">הַנִּבְּאִ֣ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_16_11">לָכֶ֔ם</span>
<span class="mila" data-lnk="3221225732" data-exlnk="0" id="M_23_16_12">מַהְבִּלִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_16_13">הֵ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_16_14">אֶתְכֶ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_16_15">חֲז֤וֹן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_16_16">לִבָּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_16_17">יְדַבֵּ֔רוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_16_18">לֹ֖א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_16_19">מִפִּ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_16_20">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10461">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_17" data-pasuk-now="17"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_17_1">אֹמְרִ֤ים</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_23_17_2">אָמוֹר֙</span>
<span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_23_17_3">לִֽמְנַאֲצַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_4">דִּבֶּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_6">שָׁל֖וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_7">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_8">לָכֶ֑ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_17_9">וְ֠כֹל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_17_10">הֹלֵ֞ךְ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_17_11">בִּשְׁרִר֤וּת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_17_12">לִבּוֹ֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_23_17_13">אָֽמְר֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_14">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10476">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_15">תָב֥וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_16">עֲלֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_17_17">רָעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10480">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_18" data-pasuk-now="13"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_18_1">כִּ֣י</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_18_2">מִ֤י</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_18_3">עָמַד֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_18_4">בְּס֣וֹד</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_18_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532310" data-exlnk="0" id="M_23_18_6">וְיֵ֖רֶא</span>
<span class="mila" data-lnk="4026532167" data-exlnk="0" id="M_23_18_7">וְיִשְׁמַ֣ע</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_23_18_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10489">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_18_9">דְּבָר֑וֹ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_23_18_10">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10492">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_23_18_11">הִקְשִׁ֥יב</span>
<span data-lnk="0" data-exlnk="0" id="M_23_18_12" class="mila ktiv">דְּבָרֹ֖י</span>
<span data-lnk="0" data-exlnk="0" id="M_23_18_12_K" class="mila kri">דְּבָר֖וֹ</span>
<span class="mila" data-lnk="4026532163" data-exlnk="0" id="M_23_18_13">וַיִּשְׁמָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10498">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10499">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_19" data-pasuk-now="11"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_19_1">הִנֵּ֣ה׀</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_19_2">סַעֲרַ֣ת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_19_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_19_4">חֵמָה֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_19_5">יָֽצְאָ֔ה</span>
<span class="mila" data-lnk="805306470" data-exlnk="0" id="M_23_19_6">וְסַ֖עַר</span>
<span class="mila" data-lnk="4026532327" data-exlnk="0" id="M_23_19_7">מִתְחוֹלֵ֑ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_23_19_8">עַ֛ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_23_19_9">רֹ֥אשׁ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_23_19_10">רְשָׁעִ֖ים</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_19_11">יָחֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10511">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_20" data-pasuk-now="15"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4026532308" data-exlnk="0" id="M_23_20_1">לֹ֤א</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_23_20_2">יָשׁוּב֙</span>
<span class="mila" data-lnk="1342177728" data-exlnk="0" id="M_23_20_3">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10515">־</span><span class="mila" data-lnk="3758096832" data-exlnk="0" id="M_23_20_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_20_5">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10518">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_20_6">עֲשֹׂת֥וֹ</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_23_20_7">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10521">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_20_8">הֲקִימ֖וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_20_9">מְזִמּ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_20_10">לִבּ֑וֹ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_23_20_11">בְּאַֽחֲרִית֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_23_20_12">הַיָּמִ֔ים</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_20_13">תִּתְבּ֥וֹנְנוּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_20_14">בָ֖הּ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_20_15">בִּינָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10530">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_21" data-pasuk-now="11"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="805306454" data-exlnk="0" id="M_23_21_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10532">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_23_21_2">שָׁלַ֥חְתִּי</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_21_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10535">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_23_21_4">הַנְּבִאִ֖ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_21_5">וְהֵ֣ם</span>
<span class="mila" data-lnk="3221225734" data-exlnk="0" id="M_23_21_6">רָ֑צוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_21_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10540">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_21_8">דִבַּ֥רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_21_9">אֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_21_10">וְהֵ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_21_11">נִבָּֽאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10545">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_22" data-pasuk-now="12"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_23_22_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10547">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_23_22_2">עָמְד֖וּ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_23_22_3">בְּסוֹדִ֑י</span>
<span class="mila" data-lnk="3221225757" data-exlnk="0" id="M_23_22_4">וְיַשְׁמִ֤עוּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_23_22_5">דְבָרַי֙</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_23_22_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10553">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_23_22_7">עַמִּ֔י</span>
<span class="mila" data-lnk="3221225748" data-exlnk="0" id="M_23_22_8">וִֽישִׁבוּם֙</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_22_9">מִדַּרְכָּ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_22_10">הָרָ֔ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_22_11">וּמֵרֹ֖עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_22_12">מַעַלְלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10561">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10562">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="3221225791" data-exlnk="0" id="M_23_23_1">הַאֱלֹהֵ֧י</span>
<span class="mila" data-lnk="4026532343" data-exlnk="0" id="M_23_23_2">מִקָּרֹ֛ב</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_23_23_3">אָ֖נִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_23_4">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10567">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_23_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_23_23_6">וְלֹ֥א</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_23_7">אֱלֹהֵ֖י</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_23_23_8">מֵרָחֹֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10572">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026532183" data-exlnk="0" id="M_23_24_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10574">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_23_24_2">יִסָּתֵ֨ר</span>
<span class="mila" data-lnk="268435539" data-exlnk="0" id="M_23_24_3">אִ֧ישׁ</span>
<span class="mila" data-lnk="805306450" data-exlnk="0" id="M_23_24_4">בַּמִּסְתָּרִ֛ים</span>
<span class="mila" data-lnk="268435522" data-exlnk="0" id="M_23_24_5">וַאֲנִ֥י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_23_24_6">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10580">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_23_24_7">אֶרְאֶ֖נּוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_24_8">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10583">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_24_9">יְהוָ֑ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_24_10">הֲל֨וֹא</span>
<span class="mila" data-lnk="268435522" data-exlnk="0" id="M_23_24_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10587">־</span><span class="mila" data-lnk="268435526" data-exlnk="0" id="M_23_24_12">הַשָּׁמַ֧יִם</span>
<span class="mila" data-lnk="268435522" data-exlnk="0" id="M_23_24_13">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10590">־</span><span class="mila" data-lnk="536870982" data-exlnk="0" id="M_23_24_14">הָאָ֛רֶץ</span>
<span class="mila" data-lnk="4026532182" data-exlnk="0" id="M_23_24_15">אֲנִ֥י</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_24_16">מָלֵ֖א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_24_17">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10595">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_24_18">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10597">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_25" data-pasuk-now="11"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_25_1">שָׁמַ֗עְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_2">אֵ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10601">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_4">אָֽמְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_5">הַנְּבִאִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_6">הַֽנִּבְּאִ֥ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_23_25_7">בִּשְׁמִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_8">שֶׁ֖קֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_9">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_10">חָלַ֖מְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_25_11">חָלָֽמְתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10610">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_26" data-pasuk-now="10"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_26_1">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10612">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_23_26_2">מָתַ֗י</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_26_3">הֲיֵ֛שׁ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_23_26_4">בְּלֵ֥ב</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_26_5">הַנְּבִאִ֖ים</span>
<span class="mila" data-lnk="4026532196" data-exlnk="0" id="M_23_26_6">נִבְּאֵ֣י</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_26_7">הַשָּׁ֑קֶר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_26_8">וּנְבִיאֵ֖י</span>
<span class="mila" data-lnk="4026532181" data-exlnk="0" id="M_23_26_9">תַּרְמִ֥ת</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_26_10">לִבָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10622">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_27" data-pasuk-now="16"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_27_1">הַחֹשְׁבִ֗ים</span>
<span class="mila" data-lnk="3221225733" data-exlnk="0" id="M_23_27_2">לְהַשְׁכִּ֤יחַ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_27_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10626">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_23_27_4">עַמִּי֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_27_5">שְׁמִ֔י</span>
<span class="mila" data-lnk="3221225729" data-exlnk="0" id="M_23_27_6">בַּחֲל֣וֹמֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_27_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_27_8">יְסַפְּר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_27_9">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_27_10">לְרֵעֵ֑הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_27_11">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_27_12">שָׁכְח֧וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_27_13">אֲבוֹתָ֛ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_27_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10638">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_23_27_15">שְׁמִ֖י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_27_16">בַּבָּֽעַל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10641">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_28" data-pasuk-now="18"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_23_28_1">הַנָּבִ֞יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_28_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10644">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_23_28_3">אִתּ֤וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_28_4">חֲלוֹם֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_28_5">יְסַפֵּ֣ר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_28_6">חֲל֔וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_28_7">וַאֲשֶׁ֤ר</span>
<span class="mila" data-lnk="4026532164" data-exlnk="0" id="M_23_28_8">דְּבָרִי֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_23_28_9">אִתּ֔וֹ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_28_10">יְדַבֵּ֥ר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_28_11">דְּבָרִ֖י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_23_28_12">אֱמֶ֑ת</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_23_28_13">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10656">־</span><span class="mila" data-lnk="4026532183" data-exlnk="0" id="M_23_28_14">לַתֶּ֥בֶן</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_23_28_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10659">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_23_28_16">הַבָּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_28_17">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10662">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_28_18">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10664">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_29" data-pasuk-now="9"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_29_1">הֲל֨וֹא</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_23_29_2">כֹ֧ה</span>
<span class="mila" data-lnk="805306471" data-exlnk="0" id="M_23_29_3">דְבָרִ֛י</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_29_4">כָּאֵ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_29_5">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10670">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_29_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="3221225751" data-exlnk="0" id="M_23_29_7">וּכְפַטִּ֖ישׁ</span>
<span class="mila" data-lnk="3221225750" data-exlnk="0" id="M_23_29_8">יְפֹ֥צֵֽץ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_29_9">סָֽלַע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10676">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10677">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_30" data-pasuk-now="11"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_30_1">לָכֵ֛ן</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_23_30_2">הִנְנִ֥י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_23_30_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10681">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_23_30_4">הַנְּבִאִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_30_5">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10684">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_23_30_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_23_30_7">מְגַנְּבֵ֣י</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_30_8">דְבָרַ֔י</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_30_9">אִ֖ישׁ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_23_30_10">מֵאֵ֥ת</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_30_11">רֵעֵֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10691">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_31" data-pasuk-now="9"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_31_1">הִנְנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_31_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10694">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_31_3">הַנְּבִיאִ֖ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_23_31_4">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10697">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_31_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_23_31_6">הַלֹּקְחִ֣ים</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_31_7">לְשׁוֹנָ֔ם</span>
<span class="mila" data-lnk="3221225778" data-exlnk="0" id="M_23_31_8">וַֽיִּנְאֲמ֖וּ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_23_31_9">נְאֻֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10703">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_32" data-pasuk-now="25"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_23_32_1">הִ֠נְנִי</span>
<span class="mila" data-lnk="805306436" data-exlnk="0" id="M_23_32_2">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10706">־</span><span class="mila" data-lnk="4026532180" data-exlnk="0" id="M_23_32_3">נִבְּאֵ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_4">חֲלֹמ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_5">שֶׁ֙קֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_6">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10711">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_23_32_8">וַֽיְסַפְּרוּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_9">וַיַּתְע֣וּ</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_23_32_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10716">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_11">עַמִּ֔י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_23_32_12">בְּשִׁקְרֵיהֶ֖ם</span>
<span class="mila" data-lnk="3221225783" data-exlnk="0" id="M_23_32_13">וּבְפַחֲזוּתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_14">וְאָנֹכִ֨י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_23_32_15">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10722">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_16">שְׁלַחְתִּ֜ים</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_23_32_17">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_18">צִוִּיתִ֗ים</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_23_32_19">וְהוֹעֵ֛יל</span>
<span class="mila" data-lnk="536870992" data-exlnk="0" id="M_23_32_20">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10728">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_23_32_21">יוֹעִ֥ילוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_22">לָעָם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10731">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_23">הַזֶּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_24">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10734">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_32_25">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10736">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_33" data-pasuk-now="21"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="1073742102" data-exlnk="0" id="M_23_33_1">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10738">־</span><span class="mila" data-lnk="3221225734" data-exlnk="0" id="M_23_33_2">יִשְׁאָלְךָ֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_33_3">הָעָ֨ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_33_4">הַזֶּ֜ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_33_5">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10743">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_23_33_6">הַנָּבִ֤יא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_33_7">אֽוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10746">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_23_33_8">כֹהֵן֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_23_33_9">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_33_10">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10750">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_23_33_11">מַּשָּׂ֖א</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_23_33_12">יְהוָ֑ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_23_33_13">וְאָמַרְתָּ֤</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_23_33_14">אֲלֵיהֶם֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_33_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10756">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_23_33_16">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10758">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_23_33_17">מַּשָּׂ֔א</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_33_18">וְנָטַשְׁתִּ֥י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_23_33_19">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_23_33_20">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10763">־</span><span class="mila" data-lnk="46" data-exlnk="0" id="M_23_33_21">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10765">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_34" data-pasuk-now="13"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="4026532212" data-exlnk="0" id="M_23_34_1">וְהַנָּבִ֤יא</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_2">וְהַכֹּהֵן֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_34_3">וְהָעָ֔ם</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_34_4">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_23_34_5">יֹאמַ֖ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_34_6">מַשָּׂ֣א</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_34_7">יְהוָ֑ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_34_8">וּפָקַדְתִּ֛י</span>
<span class="mila" data-lnk="1073742128" data-exlnk="0" id="M_23_34_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10775">־</span><span class="mila" data-lnk="2147483952" data-exlnk="0" id="M_23_34_10">הָאִ֥ישׁ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_23_34_11">הַה֖וּא</span>
<span class="mila" data-lnk="1342177600" data-exlnk="0" id="M_23_34_12">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10779">־</span><span class="mila" data-lnk="2684354880" data-exlnk="0" id="M_23_34_13">בֵּיתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10781">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_35" data-pasuk-now="14"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="805306484" data-exlnk="0" id="M_23_35_1">כֹּ֥ה</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_23_35_2">תֹאמְר֛וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_3">אִ֥ישׁ</span>
<span class="mila" data-lnk="1342177632" data-exlnk="0" id="M_23_35_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10786">־</span><span class="mila" data-lnk="4026532192" data-exlnk="0" id="M_23_35_5">רֵעֵ֖הוּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_6">וְאִ֣ישׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10790">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_8">אָחִ֑יו</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_35_9">מֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10793">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_23_35_10">עָנָ֣ה</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_35_11">יְהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_12">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10797">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_23_35_13">דִּבֶּ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_35_14">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10800">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_36" data-pasuk-now="18"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_36_1">וּמַשָּׂ֥א</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_36_2">יְהוָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_3">לֹ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_36_4">תִזְכְּרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10805">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_23_36_5">ע֑וֹד</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_23_36_6">כִּ֣י</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_36_7">הַמַּשָּׂ֗א</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_36_8">יִֽהְיֶה֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_36_9">לְאִ֣ישׁ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_23_36_10">דְּבָר֔וֹ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_36_11">וַהֲפַכְתֶּ֗ם</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_23_36_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10814">־</span><span class="mila" data-lnk="53" data-exlnk="0" id="M_23_36_13">דִּבְרֵי֙</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_36_14">אֱלֹהִ֣ים</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_36_15">חַיִּ֔ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_36_16">יְהוָ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_36_17">צְבָא֖וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_36_18">אֱלֹהֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10821">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_37" data-pasuk-now="10"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_23_37_1">כֹּ֥ה</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_23_37_2">תֹאמַ֖ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_23_37_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10825">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_23_37_4">הַנָּבִ֑יא</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_5">מֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10828">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_23_37_6">עָנָ֣ךְ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_8">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10832">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_9">דִּבֶּ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_37_10">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10835">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_38" data-pasuk-now="22"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_23_38_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10837">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_2">מַשָּׂ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_3">יְהוָה֘</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_23_38_4">תֹּאמֵרוּ֒</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_5">לָכֵ֗ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_6">כֹּ֚ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_7">אָמַ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_8">יְהוָ֔ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_9">יַ֧עַן</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_23_38_10">אֲמָרְכֶ֛ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10848">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_12">הַדָּבָ֥ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_13">הַזֶּ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_14">מַשָּׂ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_15">יְהוָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_16">וָאֶשְׁלַ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_38_17">אֲלֵיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_38_18">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_19">לֹ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_20">תֹאמְר֖וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_21">מַשָּׂ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_38_22">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10860">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_39" data-pasuk-now="15"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_23_39_1">לָכֵ֣ן</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_23_39_2">הִנְנִ֔י</span>
<span class="mila" data-lnk="3221225767" data-exlnk="0" id="M_23_39_3">וְנָשִׁ֥יתִי</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_23_39_4">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="3221225766" data-exlnk="0" id="M_23_39_5">נָשֹׁ֑א</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_39_6">וְנָטַשְׁתִּ֣י</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_23_39_7">אֶתְכֶ֗ם</span>
<span class="mila" data-lnk="1879048548" data-exlnk="0" id="M_23_39_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10869">־</span><span class="mila" data-lnk="2684354916" data-exlnk="0" id="M_23_39_9">הָעִיר֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_39_10">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_39_11">נָתַ֧תִּי</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_39_12">לָכֶ֛ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_23_39_13">וְלַאֲבוֹתֵיכֶ֖ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_39_14">מֵעַ֥ל</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_23_39_15">פָּנָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10877">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_23_40" data-pasuk-now="9"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_23_40_1">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_40_2">עֲלֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_40_3">חֶרְפַּ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_40_4">עוֹלָ֑ם</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_23_40_5">וּכְלִמּ֣וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_40_6">עוֹלָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_40_7">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_40_8">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_23_40_9">תִשָּׁכֵֽחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10888">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10889"> פ </span>
</span>
<br /></p>