<p id="PR_27" data-perek-now="407" data-perek-nops="36"><span class="perek-header">פרק כז</span>
<br /><span id="PS_27_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_1_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_1_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11670">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_1_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_1_4">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_1_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11674">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_2_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_2">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11677">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_3">אָדָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_4">שָׂ֥א</span>
<span class="mila" data-lnk="1342180992" data-exlnk="0" id="M_27_2_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11681">־</span><span class="mila" data-lnk="3758100096" data-exlnk="0" id="M_27_2_6">צֹ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_2_7">קִינָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11684">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_3" data-pasuk-now="21"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_3_1">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="3489663488" data-exlnk="0" id="M_27_3_2">לְצ֗וֹר</span>
<span data-lnk="0" data-exlnk="0" id="M_27_3_3" class="mila ktiv">הַיֹּשֶׁ֙בֶת֙י</span>
<span data-lnk="3221227906" data-exlnk="0" id="M_27_3_3_K" class="mila kri">הַיֹּשֶׁ֙בֶת֙</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_27_3_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11690">־</span><span class="mila" data-lnk="3221227911" data-exlnk="0" id="M_27_3_5">מְבוֹאֹ֣ת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_3_6">יָ֔ם</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_3_7">רֹכֶ֙לֶת֙</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_3_8">הָֽעַמִּ֔ים</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_27_3_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11696">־</span><span class="mila" data-lnk="258" data-exlnk="0" id="M_27_3_10">אִיִּ֖ים</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_27_3_11">רַבִּ֑ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_3_12">כֹּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_3_13">אָמַר֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_3_14">אֲדנָ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_3_15">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="3758098946" data-exlnk="0" id="M_27_3_16">צ֕וֹר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_27_3_17">אַ֣תְּ</span>
<span class="mila" data-lnk="805306883" data-exlnk="0" id="M_27_3_18">אָמַ֔רְתְּ</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_27_3_19">אֲנִ֖י</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_27_3_20">כְּלִ֥ילַת</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_27_3_21">יֹֽפִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11709">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_4" data-pasuk-now="6"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_27_4_1">בְּלֵ֥ב</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_27_4_2">יַמִּ֖ים</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_27_4_3">גְּבוּלָ֑יִךְ</span>
<span class="mila" data-lnk="3221227790" data-exlnk="0" id="M_27_4_4">בֹּנַ֕יִךְ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_4_5">כָּלֲל֖וּ</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_27_4_6">יָפְיֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11716">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_5_1">בְּרוֹשִׁ֤ים</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_5_2">מִשְּׂנִיר֙</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_27_5_3">בָּ֣נוּ</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_27_5_4">לָ֔ךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_5_5">אֵ֖ת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_5_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11723">־</span><span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_5_7">לֻחֹתָ֑יִם</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_27_5_8">אֶ֤רֶז</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_27_5_9">מִלְּבָנוֹן֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_5_10">לָקָ֔חוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_5_11">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_5_12">תֹּ֖רֶן</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_27_5_13">עָלָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11731">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_27_6_1">אַלּוֹנִים֙</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_27_6_2">מִבָּשָׁ֔ן</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_6_3">עָשׂ֖וּ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_6_4">מִשּׁוֹטָ֑יִךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_6_5">קַרְשֵׁ֤ךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_6_6">עָֽשׂוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11738">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_27_6_7">שֵׁן֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_27_6_8">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11741">־</span><span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_6_9">אֲשֻׁרִ֔ים</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_6_10">מֵאִיֵּ֖י</span>
<span data-lnk="0" data-exlnk="0" id="M_27_6_11" class="mila ktiv">כִּתִּיִּֽם</span>
<span data-lnk="3221227918" data-exlnk="0" id="M_27_6_11_K" class="mila kri">כִּתִּיִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11746">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_7" data-pasuk-now="14"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_27_7_1">שֵׁשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11748">־</span><span class="mila" data-lnk="143" data-exlnk="0" id="M_27_7_2">בְּרִקְמָ֤ה</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_27_7_3">מִמִּצְרַ֙יִם֙</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_27_7_4">הָיָ֣ה</span>
<span class="mila" data-lnk="3221227663" data-exlnk="0" id="M_27_7_5">מִפְרָשֵׂ֔ךְ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_27_7_6">לִֽהְי֥וֹת</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_27_7_7">לָ֖ךְ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_27_7_8">לְנֵ֑ס</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_7_9">תְּכֵ֧לֶת</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_7_10">וְאַרְגָּמָ֛ן</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_7_11">מֵאִיֵּ֥י</span>
<span class="mila" data-lnk="4026534542" data-exlnk="0" id="M_27_7_12">אֱלִישָׁ֖ה</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_7_13">הָיָ֥ה</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_7_14">מְכַסֵּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11762">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_8_1">יֹשְׁבֵ֤י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_8_2">צִידוֹן֙</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_27_8_3">וְאַרְוַ֔ד</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_27_8_4">הָי֥וּ</span>
<span class="mila" data-lnk="4026534795" data-exlnk="0" id="M_27_8_5">שָׁטִ֖ים</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_27_8_6">לָ֑ךְ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_27_8_7">חֲכָמַ֤יִךְ</span>
<span class="mila" data-lnk="805307274" data-exlnk="0" id="M_27_8_8">צוֹר֙</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_27_8_9">הָ֣יוּ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_27_8_10">בָ֔ךְ</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_27_8_11">הֵ֖מָּה</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_8_12">חֹבְלָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11775">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_27_9_1">זִקְנֵ֨י</span>
<span class="mila" data-lnk="4026535563" data-exlnk="0" id="M_27_9_2">גְבַ֤ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_9_3">וַחֲכָמֶ֙יהָ֙</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_27_9_4">הָ֣יוּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_9_5">בָ֔ךְ</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_27_9_6">מַחֲזִיקֵ֖י</span>
<span class="mila" data-lnk="4026534791" data-exlnk="0" id="M_27_9_7">בִּדְקֵ֑ךְ</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_27_9_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11784">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_27_9_9">אֳנִיּ֨וֹת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_9_10">הַיָּ֤ם</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_9_11">וּמַלָּֽחֵיהֶם֙</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_27_9_12">הָ֣יוּ</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_27_9_13">בָ֔ךְ</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_27_9_14">לַעֲרֹ֖ב</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_9_15">מַעֲרָבֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11792">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_10_1">פָּרַ֨ס</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_10_2">וְל֤וּד</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_10_3">וּפוּט֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_10_4">הָי֣וּ</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_27_10_5">בְחֵילֵ֔ךְ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_10_6">אַנְשֵׁ֖י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_10_7">מִלְחַמְתֵּ֑ךְ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_27_10_8">מָגֵ֤ן</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_27_10_9">וְכוֹבַע֙</span>
<span class="mila" data-lnk="4026534796" data-exlnk="0" id="M_27_10_10">תִּלּוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11803">־</span><span class="mila" data-lnk="268" data-exlnk="0" id="M_27_10_11">בָ֔ךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_10_12">הֵ֖מָּה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_10_13">נָתְנ֥וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_10_14">הֲדָרֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11808">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_11" data-pasuk-now="17"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_27_11_1">בְּנֵ֧י</span>
<span class="mila" data-lnk="3221227657" data-exlnk="0" id="M_27_11_2">אַרְוַ֣ד</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_27_11_3">וְחֵילֵ֗ךְ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_27_11_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11813">־</span><span class="mila" data-lnk="4026534540" data-exlnk="0" id="M_27_11_5">חוֹמוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_11_6">סָבִ֔יב</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_11_7">וְגַ֨מָּדִ֔ים</span>
<span class="mila" data-lnk="4026534666" data-exlnk="0" id="M_27_11_8">בְּמִגְדְּלוֹתַ֖יִךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_11_9">הָי֑וּ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_27_11_10">שִׁלְטֵיהֶ֞ם</span>
<span class="mila" data-lnk="4026534543" data-exlnk="0" id="M_27_11_11">תִּלּ֤וּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_27_11_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11822">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_27_11_13">חוֹמוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_14">סָבִ֔יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_11_15">הֵ֖מָּה</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_27_11_16">כָּלְל֥וּ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_27_11_17">יָפְיֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11828">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_12_1">תַּרְשִׁ֥ישׁ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_27_12_2">סֹחַרְתֵּ֖ךְ</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_27_12_3">מֵרֹ֣ב</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_27_12_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11833">־</span><span class="mila" data-lnk="131" data-exlnk="0" id="M_27_12_5">ה֑וֹן</span>
<span class="mila" data-lnk="4026534410" data-exlnk="0" id="M_27_12_6">בְּכֶ֤סֶף</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_12_7">בַּרְזֶל֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_27_12_8">בְּדִ֣יל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_12_9">וְעוֹפֶ֔רֶת</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_12_10">נָתְנ֖וּ</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_27_12_11">עִזְבוֹנָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11841">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_13_1">יָוָ֤ן</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_27_13_2">תֻּבַל֙</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_27_13_3">וָמֶ֔שֶׁךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_4">הֵ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_13_5">רֹכְלָ֑יִךְ</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_27_13_6">בְּנֶ֤פֶשׁ</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_27_13_7">אָדָם֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_13_8">וּכְלֵ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_13_9">נְחֹ֔שֶׁת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_13_10">נָתְנ֖וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_13_11">מַעֲרָבֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11853">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_14" data-pasuk-now="7"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_14_1">מִבֵּ֖ית</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_14_2">תּוֹגַרְמָ֑ה</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_14_3">סוּסִ֤ים</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_14_4">וּפָרָשִׁים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_14_5">וּפְרָדִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_14_6">נָתְנ֖וּ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_27_14_7">עִזְבוֹנָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11861">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_15" data-pasuk-now="12"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_15_1">בְּנֵ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_15_2">דְדָן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_15_3">רֹכְלַ֔יִךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_15_4">אִיִּ֥ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_15_5">רַבִּ֖ים</span>
<span class="mila" data-lnk="3221227522" data-exlnk="0" id="M_27_15_6">סְחֹרַ֣ת</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_27_15_7">יָדֵ֑ךְ</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_15_8">קַרְנ֥וֹת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_15_9">שֵׁן֙</span>
<span data-lnk="0" data-exlnk="0" id="M_27_15_10" class="mila ktiv">וְהָובְנִ֔ים</span>
<span data-lnk="3221227919" data-exlnk="0" id="M_27_15_10_K" class="mila kri">וְהָבְנִ֔ים</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_27_15_11">הֵשִׁ֖יבוּ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_15_12">אֶשְׁכָּרֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11875">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_16" data-pasuk-now="12"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_27_16_1">אֲרָ֥ם</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_27_16_2">סֹחַרְתֵּ֖ךְ</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_27_16_3">מֵרֹ֣ב</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_27_16_4">מַעֲשָׂ֑יִךְ</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_27_16_5">בְּ֠נֹפֶךְ</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_27_16_6">אַרְגָּמָ֨ן</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_27_16_7">וְרִקְמָ֤ה</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_27_16_8">וּבוּץ֙</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_27_16_9">וְרָאמֹ֣ת</span>
<span class="mila" data-lnk="3221227650" data-exlnk="0" id="M_27_16_10">וְכַדְכֹּ֔ד</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_16_11">נָתְנ֖וּ</span>
<span class="mila" data-lnk="4026535560" data-exlnk="0" id="M_27_16_12">בְּעִזְבוֹנָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11888">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_17" data-pasuk-now="13"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="805307018" data-exlnk="0" id="M_27_17_1">יְהוּדָה֙</span>
<span class="mila" data-lnk="3489663490" data-exlnk="0" id="M_27_17_2">וְאֶ֣רֶץ</span>
<span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_27_17_3">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_17_4">הֵ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_17_5">רֹכְלָ֑יִךְ</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_27_17_6">בְּחִטֵּ֣י</span>
<span class="mila" data-lnk="4026534791" data-exlnk="0" id="M_27_17_7">מִ֠נִּית</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_17_8">וּפַנַּ֨ג</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_17_9">וּדְבַ֤שׁ</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_27_17_10">וָשֶׁ֙מֶן֙</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_27_17_11">וָצֹ֔רִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_17_12">נָתְנ֖וּ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_17_13">מַעֲרָבֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11902">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_18" data-pasuk-now="11"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_27_18_1">דַּמֶּ֧שֶׂק</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_18_2">סֹחַרְתֵּ֛ךְ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_27_18_3">בְּרֹ֥ב</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_27_18_4">מַעֲשַׂ֖יִךְ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_27_18_5">מֵרֹ֣ב</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_27_18_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11909">־</span><span class="mila" data-lnk="260" data-exlnk="0" id="M_27_18_7">ה֑וֹן</span>
<span class="mila" data-lnk="3221227907" data-exlnk="0" id="M_27_18_8">בְּיֵ֥ין</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_27_18_9">חֶלְבּ֖וֹן</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_18_10">וְצֶ֥מֶר</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_18_11">צָֽחַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11915">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_19" data-pasuk-now="11"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_27_19_1">וְדָ֤ן</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_27_19_2">וְיָוָן֙</span>
<span class="mila" data-lnk="3221227791" data-exlnk="0" id="M_27_19_3">מְאוּזָּ֔ל</span>
<span class="mila" data-lnk="805307140" data-exlnk="0" id="M_27_19_4">בְּעִזְבוֹנַ֖יִךְ</span>
<span class="mila" data-lnk="4026534796" data-exlnk="0" id="M_27_19_5">נָתָ֑נּוּ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_19_6">בַּרְזֶ֤ל</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_19_7">עָשׁוֹת֙</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_27_19_8">קִדָּ֣ה</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_27_19_9">וְקָנֶ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_19_10">בְּמַעֲרָבֵ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_19_11">הָיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11927">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_20" data-pasuk-now="5"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_20_1">דְּדָן֙</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_20_2">רֹֽכַלְתֵּ֔ךְ</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_27_20_3">בְּבִגְדֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11931">־</span><span class="mila" data-lnk="3221227791" data-exlnk="0" id="M_27_20_4">חֹ֖פֶשׁ</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_27_20_5">לְרִכְבָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11934">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_21" data-pasuk-now="12"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_27_21_1">עֲרַב֙</span>
<span class="mila" data-lnk="1879051786" data-exlnk="0" id="M_27_21_2">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11937">־</span><span class="mila" data-lnk="4026535434" data-exlnk="0" id="M_27_21_3">נְשִׂיאֵ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_21_4">קֵדָ֔ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_21_5">הֵ֖מָּה</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_27_21_6">סֹחֲרֵ֣י</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_27_21_7">יָדֵ֑ךְ</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_27_21_8">בְּכָרִ֤ים</span>
<span class="mila" data-lnk="4026534530" data-exlnk="0" id="M_27_21_9">וְאֵילִם֙</span>
<span class="mila" data-lnk="4026534530" data-exlnk="0" id="M_27_21_10">וְעַתּוּדִ֔ים</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_27_21_11">בָּ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_21_12">סֹחֲרָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11948">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_22_1">רֹכְלֵ֤י</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_27_22_2">שְׁבָא֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_22_3">וְרַעְמָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_4">הֵ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_5">רֹכְלָ֑יִךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_22_6">בְּרֹ֨אשׁ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_27_22_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11956">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_27_22_8">בֹּ֜שֶׂם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_22_9">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11959">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_27_22_10">אֶ֤בֶן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_22_11">יְקָרָה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_22_12">וְזָהָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_22_13">נָתְנ֖וּ</span>
<span class="mila" data-lnk="4026535424" data-exlnk="0" id="M_27_22_14">עִזְבוֹנָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11965">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_27_23_1">חָרָ֤ן</span>
<span class="mila" data-lnk="3221227660" data-exlnk="0" id="M_27_23_2">וְכַנֵּה֙</span>
<span class="mila" data-lnk="4026534540" data-exlnk="0" id="M_27_23_3">וָעֶ֔דֶן</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_27_23_4">רֹכְלֵ֖י</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_27_23_5">שְׁבָ֑א</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_27_23_6">אַשּׁ֖וּר</span>
<span class="mila" data-lnk="3221227657" data-exlnk="0" id="M_27_23_7">כִּלְמַ֥ד</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_23_8">רֹכַלְתֵּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11974">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_24" data-pasuk-now="12"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="805306888" data-exlnk="0" id="M_27_24_1">הֵ֤מָּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_24_2">רֹכְלַ֙יִךְ֙</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_27_24_3">בְּמַכְלֻלִ֔ים</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_24_4">בִּגְלוֹמֵי֙</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_27_24_5">תְּכֵ֣לֶת</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_27_24_6">וְרִקְמָ֔ה</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_24_7">וּבְגִנְזֵ֖י</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_24_8">בְּרֹמִ֑ים</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_24_9">בַּחֲבָלִ֧ים</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_24_10">חֲבֻשִׁ֛ים</span>
<span class="mila" data-lnk="3221227911" data-exlnk="0" id="M_27_24_11">וַאֲרֻזִ֖ים</span>
<span class="mila" data-lnk="3221227906" data-exlnk="0" id="M_27_24_12">בְּמַרְכֻלְתֵּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11987">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_27_25_1">אֳנִיּ֣וֹת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_25_2">תַּרְשִׁ֔ישׁ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_25_3">שָׁרוֹתַ֖יִךְ</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_27_25_4">מַעֲרָבֵ֑ךְ</span>
<span class="mila" data-lnk="3221227535" data-exlnk="0" id="M_27_25_5">וַתִּמָּלְאִ֧י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_27_25_6">וַֽתִּכְבְּדִ֛י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_27_25_7">מְאֹ֖ד</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_27_25_8">בְּלֵ֥ב</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_27_25_9">יַמִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11997">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_26" data-pasuk-now="10"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="4026534543" data-exlnk="0" id="M_27_26_1">בְּמַ֤יִם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_27_26_2">רַבִּים֙</span>
<span class="mila" data-lnk="3221227535" data-exlnk="0" id="M_27_26_3">הֱבִא֔וּךְ</span>
<span class="mila" data-lnk="4026534671" data-exlnk="0" id="M_27_26_4">הַשָּׁטִ֖ים</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_27_26_5">אֹתָ֑ךְ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_27_26_6">ר֚וּחַ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_27_26_7">הַקָּדִ֔ים</span>
<span class="mila" data-lnk="3221227663" data-exlnk="0" id="M_27_26_8">שְׁבָרֵ֖ךְ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_27_26_9">בְּלֵ֥ב</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_27_26_10">יַמִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12008">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_27" data-pasuk-now="23"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_27_1">הוֹנֵךְ֙</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_27_27_2">וְעִזְבוֹנַ֔יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_3">מַעֲרָבֵ֕ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_4">מַלָּחַ֖יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_5">וְחֹבְלָ֑יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_6">מַחֲזִיקֵ֣י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_27_27_7">בִדְקֵ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_8">וְֽעֹרְבֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_9">מַ֠עֲרָבֵךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_10">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12019">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_11">אַנְשֵׁ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_12">מִלְחַמְתֵּ֜ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_13">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12023">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_14">בָּ֗ךְ</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_27_27_15">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12026">־</span><span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_27_27_16">קֳהָלֵךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_17">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_18">בְּתוֹכֵ֔ךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_27_19">יִפְּלוּ֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_27_20">בְּלֵ֣ב</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_27_21">יַמִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_22">בְּי֖וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_27_23">מַפַּלְתֵּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12035">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_28" data-pasuk-now="5"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_27_28_1">לְק֖וֹל</span>
<span class="mila" data-lnk="4026534542" data-exlnk="0" id="M_27_28_2">זַעֲקַ֣ת</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_27_28_3">חֹבְלָ֑יִךְ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_28_4">יִרְעֲשׁ֖וּ</span>
<span class="mila" data-lnk="3221227909" data-exlnk="0" id="M_27_28_5">מִגְרֹשֽׁוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12041">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_29" data-pasuk-now="12"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_27_29_1">וְֽיָרְד֞וּ</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_27_29_2">מֵאֳנִיּֽוֹתֵיהֶ֗ם</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_27_29_3">כֹּ֚ל</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_29_4">תֹּפְשֵׂ֣י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_29_5">מָשׁ֔וֹט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_29_6">מַלָּחִ֕ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_29_7">כֹּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_29_8">חֹבְלֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_29_9">הַיָּ֑ם</span>
<span class="mila" data-lnk="805307008" data-exlnk="0" id="M_27_29_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12052">־</span><span class="mila" data-lnk="131" data-exlnk="0" id="M_27_29_11">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_27_29_12">יַעֲמֹֽדוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12055">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_30" data-pasuk-now="11"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_27_30_1">וְהִשְׁמִ֤יעוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_30_2">עָלַ֙יִךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_30_3">בְּקוֹלָ֔ם</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_27_30_4">וְיִזְעֲק֖וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_30_5">מָרָ֑ה</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_27_30_6">וְיַעֲל֤וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_30_7">עָפָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_30_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12064">־</span><span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_27_30_9">רָ֣אשֵׁיהֶ֔ם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_27_30_10">בָּאֵ֖פֶר</span>
<span class="mila" data-lnk="3221227909" data-exlnk="0" id="M_27_30_11">יִתְפַּלָּֽשׁוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12068">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_31" data-pasuk-now="11"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_27_31_1">וְהִקְרִ֤יחוּ</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_27_31_2">אֵלַ֙יִךְ֙</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_27_31_3">קָרְחָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_31_4">וְחָגְר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_31_5">שַׂקִּ֑ים</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_27_31_6">וּבָכ֥וּ</span>
<span class="mila" data-lnk="3758099200" data-exlnk="0" id="M_27_31_7">אֵלַ֛יִךְ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_31_8">בְּמַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12077">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_27_31_9">נֶ֖פֶשׁ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_31_10">מִסְפֵּ֥ד</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_31_11">מָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12081">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_32" data-pasuk-now="11"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_27_32_1">וְנָשְׂא֨וּ</span>
<span class="mila" data-lnk="805306889" data-exlnk="0" id="M_27_32_2">אֵלַ֤יִךְ</span>
<span class="mila" data-lnk="3221227661" data-exlnk="0" id="M_27_32_3">בְּנִיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_32_4">קִינָ֔ה</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_27_32_5">וְקוֹנֲנ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_32_6">עָלָ֑יִךְ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_32_7">מִ֣י</span>
<span class="mila" data-lnk="805307278" data-exlnk="0" id="M_27_32_8">כְצ֔וֹר</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_32_9">כְּדֻמָ֖ה</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_32_10">בְּת֥וֹךְ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_32_11">הַיָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12093">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_33" data-pasuk-now="12"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_33_1">בְּצֵ֤את</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_27_33_2">עִזְבוֹנַ֙יִךְ֙</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_33_3">מִיַּמִּ֔ים</span>
<span class="mila" data-lnk="3221227788" data-exlnk="0" id="M_27_33_4">הִשְׂבַּ֖עַתְּ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_27_33_5">עַמִּ֣ים</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_27_33_6">רַבִּ֑ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_33_7">בְּרֹ֤ב</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_27_33_8">הוֹנַ֙יִךְ֙</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_27_33_9">וּמַ֣עֲרָבַ֔יִךְ</span>
<span class="mila" data-lnk="3221227532" data-exlnk="0" id="M_27_33_10">הֶעֱשַׁ֖רְתְּ</span>
<span class="mila" data-lnk="1879051908" data-exlnk="0" id="M_27_33_11">מַלְכֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12105">־</span><span class="mila" data-lnk="4026535556" data-exlnk="0" id="M_27_33_12">אָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12107">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_34" data-pasuk-now="10"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_27_34_1">עֵ֛ת</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_27_34_2">נִשְׁבֶּ֥רֶת</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_27_34_3">מִיַּמִּ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_27_34_4">בְּמַֽעֲמַקֵּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12112">־</span><span class="mila" data-lnk="140" data-exlnk="0" id="M_27_34_5">מָ֑יִם</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_27_34_6">מַעֲרָבֵ֥ךְ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_27_34_7">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12116">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_27_34_8">קֳהָלֵ֖ךְ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_27_34_9">בְּתוֹכֵ֥ךְ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_27_34_10">נָפָֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12120">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_35" data-pasuk-now="10"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_27_35_1">כֹּ֚ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_27_35_2">יֹשְׁבֵ֣י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_27_35_3">הָאִיִּ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_35_4">שָׁמֲמ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_35_5">עָלָ֑יִךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_27_35_6">וּמַלְכֵיהֶם֙</span>
<span class="mila" data-lnk="3221227662" data-exlnk="0" id="M_27_35_7">שָׂ֣עֲרוּ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_27_35_8">שַׂ֔עַר</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_27_35_9">רָעֲמ֖וּ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_27_35_10">פָּנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12131">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_27_36" data-pasuk-now="9"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_27_36_1">סֹֽחֲרִים֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_27_36_2">בָּֽעַמִּ֔ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_27_36_3">שָׁרְק֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_27_36_4">עָלָ֑יִךְ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_27_36_5">בַּלָּה֣וֹת</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_27_36_6">הָיִ֔ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_36_7">וְאֵינֵ֖ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_27_36_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12140">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_27_36_9">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12143">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12144"> פ </span>
</span>
<br /></p>