<p id="PR_11" data-perek-now="349" data-perek-nops="25"><span class="perek-header">פרק יא</span>
<br /><span id="PS_11_1" data-pasuk-now="30"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_1_1">וַתִּשָּׂ֨א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_1_2">אֹתִ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_1_3">ר֗וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_1_4">וַתָּבֵ֣א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_1_5">אֹ֠תִי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_1_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3524">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_11_1_7">שַׁ֨עַר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_1_8">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3527">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_11_1_9">יְהוָ֤ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_1_10">הַקַּדְמוֹנִי֙</span>
<span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_11_1_11">הַפּוֹנֶ֣ה</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_11_1_12">קָדִ֔ימָה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_11_1_13">וְהִנֵּה֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_11_1_14">בְּפֶ֣תַח</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_11_1_15">הַשַּׁ֔עַר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_1_16">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_1_17">וַחֲמִשָּׁ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_1_18">אִ֑ישׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_1_19">וָאֶרְאֶ֨ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_1_20">בְתוֹכָ֜ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_1_21">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3541">־</span><span class="mila" data-lnk="4026535424" data-exlnk="0" id="M_11_1_22">יַאֲזַנְיָ֧ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_1_23">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3544">־</span><span class="mila" data-lnk="3221227522" data-exlnk="0" id="M_11_1_24">עַזֻּ֛ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_1_25">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3547">־</span><span class="mila" data-lnk="3221227522" data-exlnk="0" id="M_11_1_26">פְּלַטְיָ֥הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_1_27">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3550">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_11_1_28">בְּנָיָ֖הוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_1_29">שָׂרֵ֥י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_1_30">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3555">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3556"> פ </span>
</span>
<br /><span id="PS_11_2" data-pasuk-now="13"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_2_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_2_2">אֵלָ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_2_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3560">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_2_4">אָדָ֕ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_2_5">אֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_2_6">הָאֲנָשִׁ֞ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_11_2_7">הַחֹשְׁבִ֥ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_11_2_8">אָ֛וֶן</span>
<span class="mila" data-lnk="3221227524" data-exlnk="0" id="M_11_2_9">וְהַיֹּעֲצִ֥ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_11_2_10">עֲצַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3568">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_11_2_11">רָ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_2_12">בָּעִ֥יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_2_13">הַזֹּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3572">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_3_1">הָאֹ֣מְרִ֔ים</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_11_3_2">לֹ֥א</span>
<span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_11_3_3">בְקָר֖וֹב</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_11_3_4">בְּנ֣וֹת</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_11_3_5">בָּתִּ֑ים</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_11_3_6">הִ֣יא</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_11_3_7">הַסִּ֔יר</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_11_3_8">וַאֲנַ֖חְנוּ</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_11_3_9">הַבָּשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3583">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3584">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_4" data-pasuk-now="6"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_11_4_1">לָכֵ֖ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_11_4_2">הִנָּבֵ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_4_3">עֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_4_4">הִנָּבֵ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_4_5">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3590">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_4_6">אָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3592">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_5" data-pasuk-now="18"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_5_1">וַתִּפֹּ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_5_2">עָלַי֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_5_3">ר֣וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_5_4">יְהוָה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_5_5">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_5_6">אֵלַ֗י</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_11_5_7">אֱמֹר֙</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_11_5_8">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3601">־</span><span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_11_5_9">אָמַ֣ר</span>
<span class="mila" data-lnk="3758098944" data-exlnk="0" id="M_11_5_10">יְהוָ֔ה</span>
<span class="mila" data-lnk="167" data-exlnk="0" id="M_11_5_11">כֵּ֥ן</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_11_5_12">אֲמַרְתֶּ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_5_13">בֵּ֣ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_5_14">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_5_15">וּמַעֲל֥וֹת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_5_16">רוּחֲכֶ֖ם</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_11_5_17">אֲנִ֥י</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_11_5_18">יְדַעְתִּֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3612">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_11_6_1">הִרְבֵּיתֶ֥ם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_11_6_2">חַלְלֵיכֶ֖ם</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_11_6_3">בָּעִ֣יר</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_11_6_4">הַזֹּ֑את</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_11_6_5">וּמִלֵּאתֶ֥ם</span>
<span class="mila" data-lnk="805307008" data-exlnk="0" id="M_11_6_6">חוּצֹתֶ֖יהָ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_6_7">חָלָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3621">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3622"> פ </span>
</span>
<br /><span id="PS_11_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="268436104" data-exlnk="0" id="M_11_7_1">לָכֵ֗ן</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_11_7_2">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3625">־</span><span class="mila" data-lnk="268435968" data-exlnk="0" id="M_11_7_3">אָמַר֘</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_11_7_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="536871424" data-exlnk="0" id="M_11_7_5">יְהֹוִה֒</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_11_7_6">חַלְלֵיכֶם֙</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_11_7_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_11_7_8">שַׂמְתֶּ֣ם</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_11_7_9">בְּתוֹכָ֔הּ</span>
<span class="mila" data-lnk="1073744260" data-exlnk="0" id="M_11_7_10">הֵ֥מָּה</span>
<span class="mila" data-lnk="3221227908" data-exlnk="0" id="M_11_7_11">הַבָּשָׂ֖ר</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_11_7_12">וְהִ֣יא</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_11_7_13">הַסִּ֑יר</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_11_7_14">וְאֶתְכֶ֖ם</span>
<span class="mila" data-lnk="389" data-exlnk="0" id="M_11_7_15">הוֹצִ֥יא</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_11_7_16">מִתּוֹכָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3640">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_8_1">חֶ֖רֶב</span>
<span class="mila" data-lnk="4026535695" data-exlnk="0" id="M_11_8_2">יְרֵאתֶ֑ם</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_11_8_3">וְחֶ֙רֶב֙</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_11_8_4">אָבִ֣יא</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_11_8_5">עֲלֵיכֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_8_6">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_8_7">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_8_8">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3649">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_11_9_1">וְהוֹצֵאתִ֤י</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_11_9_2">אֶתְכֶם֙</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_11_9_3">מִתּוֹכָ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_9_4">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_11_9_5">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_9_6">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3656">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_11_9_7">זָרִ֑ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_9_8">וְעָשִׂ֥יתִי</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_11_9_9">בָכֶ֖ם</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_11_9_10">שְׁפָטִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3661">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_11_10_1">בַּחֶ֣רֶב</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_11_10_2">תִּפֹּ֔לוּ</span>
<span class="mila" data-lnk="1342181135" data-exlnk="0" id="M_11_10_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3665">־</span><span class="mila" data-lnk="4026535695" data-exlnk="0" id="M_11_10_4">גְּב֥וּל</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_11_10_5">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="4026535694" data-exlnk="0" id="M_11_10_6">אֶשְׁפּ֣וֹט</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_11_10_7">אֶתְכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_10_8">וִידַעְתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_10_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3672">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_10_10">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_10_11">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3675">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_11" data-pasuk-now="14"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_11_11_1">הִ֗יא</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_11_2">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3678">־</span><span class="mila" data-lnk="395" data-exlnk="0" id="M_11_11_3">תִהְיֶ֤ה</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_11_11_4">לָכֶם֙</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_11_11_5">לְסִ֔יר</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_11_6">וְאַתֶּ֛ם</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_11_7">תִּהְי֥וּ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_11_8">בְתוֹכָ֖הּ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_11_9">לְבָשָׂ֑ר</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_11_11_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3687">־</span><span class="mila" data-lnk="393" data-exlnk="0" id="M_11_11_11">גְּב֥וּל</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_11_11_12">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_11_11_13">אֶשְׁפֹּ֥ט</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_11_11_14">אֶתְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3692">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_12" data-pasuk-now="16"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_12_1">וִֽידַעְתֶּם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_12_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3695">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_11_12_3">אֲנִ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_12_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_12_5">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_12_6">בְּחֻקַּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_12_7">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_12_8">הֲלַכְתֶּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_12_9">וּמִשְׁפָּטַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_12_10">לֹ֣א</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_11_12_11">עֲשִׂיתֶ֑ם</span>
<span class="mila" data-lnk="4026534440" data-exlnk="0" id="M_11_12_12">וּֽכְמִשְׁפְּטֵ֧י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_11_12_13">הַגּוֹיִ֛ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_11_12_14">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_11_12_15">סְבִיבוֹתֵיכֶ֖ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_11_12_16">עֲשִׂיתֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3710">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_13" data-pasuk-now="22"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_11_13_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_11_13_2">כְּהִנָּ֣בְאִ֔י</span>
<span class="mila" data-lnk="3221227914" data-exlnk="0" id="M_11_13_3">וּפְלַטְיָ֥הוּ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_11_13_4">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3715">־</span><span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_11_13_5">בְּנָיָ֖ה</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_11_13_6">מֵ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_13_7">וָאֶפֹּ֨ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_13_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3720">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_11_13_9">פָּנַ֜י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_13_10">וָאֶזְעַ֣ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_13_11">קוֹל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3724">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_13_12">גָּד֗וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_13_13">וָֽאֹמַר֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_13_14">אֲהָהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_13_15">אֲדנָ֣י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_11_13_16">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_11_13_17">כָּלָה֙</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_11_13_18">אַתָּ֣ה</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_11_13_19">עֹשֶׂ֔ה</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_11_13_20">אֵ֖ת</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_11_13_21">שְׁאֵרִ֥ית</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_11_13_22">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3737">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3738"> פ </span>
</span>
<br /><span id="PS_11_14" data-pasuk-now="5"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_14_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_14_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3741">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_14_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_14_4">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_14_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3745">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_15" data-pasuk-now="23"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_15_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3747">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_15_2">אָדָ֗ם</span>
<span class="mila" data-lnk="1073744295" data-exlnk="0" id="M_11_15_3">אַחֶ֤יךָ</span>
<span class="mila" data-lnk="3221227943" data-exlnk="0" id="M_11_15_4">אַחֶ֙יךָ֙</span>
<span class="mila" data-lnk="422" data-exlnk="0" id="M_11_15_5">אַנְשֵׁ֣י</span>
<span class="mila" data-lnk="422" data-exlnk="0" id="M_11_15_6">גְאֻלָּתֶ֔ךָ</span>
<span class="mila" data-lnk="1879051021" data-exlnk="0" id="M_11_15_7">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3754">־</span><span class="mila" data-lnk="2952792845" data-exlnk="0" id="M_11_15_8">בֵּ֥ית</span>
<span class="mila" data-lnk="269" data-exlnk="0" id="M_11_15_9">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_11_15_10">כֻּלֹּ֑ה</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_11_15_11">אֲשֶׁר֩</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_11_15_12">אָמְר֨וּ</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_11_15_13">לָהֶ֜ם</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_11_15_14">יֹשְׁבֵ֣י</span>
<span class="mila" data-lnk="295" data-exlnk="0" id="M_11_15_15">יְרוּשָׁלִַ֗ם</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_11_15_16">רַֽחֲקוּ֙</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_15_17">מֵעַ֣ל</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_11_15_18">יְהוָ֔ה</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_11_15_19">לָ֥נוּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_11_15_20">הִ֛יא</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_11_15_21">נִתְּנָ֥ה</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_11_15_22">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_11_15_23">לְמוֹרָשָֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3772">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3773">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_16" data-pasuk-now="20"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="1879051144" data-exlnk="0" id="M_11_16_1">לָכֵ֣ן</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_11_16_2">אֱמֹ֗ר</span>
<span class="mila" data-lnk="1342180096" data-exlnk="0" id="M_11_16_3">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3777">־</span><span class="mila" data-lnk="1342180096" data-exlnk="0" id="M_11_16_4">אָמַר֘</span>
<span class="mila" data-lnk="1342180096" data-exlnk="0" id="M_11_16_5">אֲדנָ֣י</span>
<span class="mila" data-lnk="3758098944" data-exlnk="0" id="M_11_16_6">יְהֹוִה֒</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_11_16_7">כִּ֤י</span>
<span class="mila" data-lnk="3221227908" data-exlnk="0" id="M_11_16_8">הִרְחַקְתִּים֙</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_11_16_9">בַּגּוֹיִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_16_10">וְכִ֥י</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_11_16_11">הֲפִיצוֹתִ֖ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_16_12">בָּאֲרָצ֑וֹת</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_11_16_13">וָאֱהִ֤י</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_11_16_14">לָהֶם֙</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_11_16_15">לְמִקְדָּ֣שׁ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_16_16">מְעַ֔ט</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_11_16_17">בָּאֲרָצ֖וֹת</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_11_16_18">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3793">־</span><span class="mila" data-lnk="268436104" data-exlnk="0" id="M_11_16_19">בָּ֥אוּ</span>
<span class="mila" data-lnk="536871432" data-exlnk="0" id="M_11_16_20">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3797">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3798">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_17" data-pasuk-now="22"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="268436232" data-exlnk="0" id="M_11_17_1">לָכֵ֣ן</span>
<span class="mila" data-lnk="268436232" data-exlnk="0" id="M_11_17_2">אֱמֹ֗ר</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_11_17_3">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3802">־</span><span class="mila" data-lnk="268435968" data-exlnk="0" id="M_11_17_4">אָמַר֘</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_11_17_5">אֲדנָ֣י</span>
<span class="mila" data-lnk="536871424" data-exlnk="0" id="M_11_17_6">יְהֹוִה֒</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_11_17_7">וְקִבַּצְתִּ֤י</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_11_17_8">אֶתְכֶם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_17_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3809">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_11_17_10">הָ֣עַמִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_17_11">וְאָסַפְתִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_17_12">אֶתְכֶ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_17_13">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3814">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_11_17_14">הָ֣אֲרָצ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_17_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_11_17_16">נְפֹצוֹתֶ֖ם</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_11_17_17">בָּהֶ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_11_17_18">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_11_17_19">לָכֶ֖ם</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_11_17_20">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3822">־</span><span class="mila" data-lnk="260" data-exlnk="0" id="M_11_17_21">אַדְמַ֥ת</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_11_17_22">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3825">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="3489663628" data-exlnk="0" id="M_11_18_1">וּבָ֖אוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3827">־</span><span class="mila" data-lnk="2952792716" data-exlnk="0" id="M_11_18_2">שָׁ֑מָּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_11_18_3">וְהֵסִ֜ירוּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_11_18_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3831">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_11_18_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3833">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_11_18_6">שִׁקּוּצֶ֛יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_18_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3836">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_18_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3838">־</span><span class="mila" data-lnk="4026535424" data-exlnk="0" id="M_11_18_9">תּוֹעֲבוֹתֶ֖יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_18_10">מִמֶּֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3841">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_19" data-pasuk-now="16"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_19_1">וְנָתַתִּ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_19_2">לָהֶם֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_11_19_3">לֵ֣ב</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_11_19_4">אֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_19_5">וְר֥וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_19_6">חֲדָשָׁ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_19_7">אֶתֵּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_19_8">בְּקִרְבְּכֶ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_19_9">וַהֲסִ֨רֹתִ֜י</span>
<span class="mila" data-lnk="1073743882" data-exlnk="0" id="M_11_19_10">לֵ֤ב</span>
<span class="mila" data-lnk="2147485706" data-exlnk="0" id="M_11_19_11">הָאֶ֙בֶן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_19_12">מִבְּשָׂרָ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_19_13">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_11_19_14">לָהֶ֖ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_11_19_15">לֵ֥ב</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_11_19_16">בָּשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3858">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_20" data-pasuk-now="15"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_20_1">לְמַ֙עַן֙</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_11_20_2">בְּחֻקֹּתַ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_3">יֵלֵ֔כוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3863">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_5">מִשְׁפָּטַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_6">יִשְׁמְר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_7">וְעָשׂ֣וּ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_11_20_8">אֹתָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_9">וְהָיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3869">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_10">לִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_11">לְעָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_12">וַאֲנִ֕י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_13">אֶהְיֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_14">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_20_15">לֵאלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3876">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_21" data-pasuk-now="12"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="1073744015" data-exlnk="0" id="M_11_21_1">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3878">־</span><span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_11_21_2">לֵ֧ב</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_11_21_3">שִׁקּוּצֵיהֶ֛ם</span>
<span class="mila" data-lnk="4026534664" data-exlnk="0" id="M_11_21_4">וְתוֹעֲבוֹתֵיהֶ֖ם</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_11_21_5">לִבָּ֣ם</span>
<span class="mila" data-lnk="429" data-exlnk="0" id="M_11_21_6">הֹלֵ֑ךְ</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_11_21_7">דַּרְכָּם֙</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_11_21_8">בְּרֹאשָׁ֣ם</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_11_21_9">נָתַ֔תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_21_10">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_21_11">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_21_12">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3890">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_22" data-pasuk-now="11"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_11_22_1">וַיִּשְׂא֤וּ</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_11_22_2">הַכְּרוּבִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_22_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3894">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_11_22_4">כַּנְפֵיהֶ֔ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_22_5">וְהָאוֹפַנִּ֖ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_22_6">לְעֻמָּתָ֑ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_22_7">וּכְב֧וֹד</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_11_22_8">אֱלֹהֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3900">־</span><span class="mila" data-lnk="536871424" data-exlnk="0" id="M_11_22_9">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_11_22_10">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_22_11">מִלְמָֽעְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3904">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_23" data-pasuk-now="12"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_11_23_1">וַיַּ֙עַל֙</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_11_23_2">כְּב֣וֹד</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_11_23_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_11_23_4">מֵעַ֖ל</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_11_23_5">תּ֣וֹךְ</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_11_23_6">הָעִ֑יר</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_11_23_7">וַֽיַּעֲמֹד֙</span>
<span class="mila" data-lnk="1342181261" data-exlnk="0" id="M_11_23_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3913">־</span><span class="mila" data-lnk="3758100365" data-exlnk="0" id="M_11_23_9">הָהָ֔ר</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_11_23_10">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_11_23_11">מִקֶּ֥דֶם</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_11_23_12">לָעִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3918">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_24" data-pasuk-now="14"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_11_24_1">וְר֣וּחַ</span>
<span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_11_24_2">נְשָׂאַ֗תְנִי</span>
<span class="mila" data-lnk="4026535424" data-exlnk="0" id="M_11_24_3">וַתְּבִאֵ֤נִי</span>
<span class="mila" data-lnk="4026534786" data-exlnk="0" id="M_11_24_4">כַשְׂדִּ֙ימָה֙</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_11_24_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3924">־</span><span class="mila" data-lnk="258" data-exlnk="0" id="M_11_24_6">הַגּוֹלָ֔ה</span>
<span class="mila" data-lnk="299" data-exlnk="0" id="M_11_24_7">בַּמַּרְאֶ֖ה</span>
<span class="mila" data-lnk="1879050795" data-exlnk="0" id="M_11_24_8">בְּר֣וּחַ</span>
<span class="mila" data-lnk="4026534443" data-exlnk="0" id="M_11_24_9">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_24_10">וַיַּ֙עַל֙</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_11_24_11">מֵֽעָלַ֔י</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_11_24_12">הַמַּרְאֶ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_24_13">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_11_24_14">רָאִֽיתִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3934">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_25_1">וָאֲדַבֵּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_11_25_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3937">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_11_25_3">הַגּוֹלָ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_25_4">אֵ֛ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_25_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3941">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_11_25_6">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_25_7">יְהוָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_11_25_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="3221227528" data-exlnk="0" id="M_11_25_9">הֶרְאָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3947">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3948"> פ </span>
</span>
<br /></p>