<p id="PR_15" data-perek-now="103" data-perek-nops="8"><span class="perek-header">פרק טו</span>
<br /><span id="PS_15_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_15_1_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5361">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_4">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_1_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5365">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_2" data-pasuk-now="13"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_15_2_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5367">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_15_2_2">אָדָ֕ם</span>
<span class="mila" data-lnk="423" data-exlnk="0" id="M_15_2_3">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5370">־</span><span class="mila" data-lnk="423" data-exlnk="0" id="M_15_2_4">יִּהְיֶ֥ה</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_15_2_5">עֵץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5373">־</span><span class="mila" data-lnk="431" data-exlnk="0" id="M_15_2_6">הַגֶּ֖פֶן</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_15_2_7">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5376">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_15_2_8">עֵ֑ץ</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_15_2_9">הַזְּמוֹרָ֕ה</span>
<span class="mila" data-lnk="269" data-exlnk="0" id="M_15_2_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_15_2_11">הָיָ֖ה</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_15_2_12">בַּעֲצֵ֥י</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_15_2_13">הַיָּֽעַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5383">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026534541" data-exlnk="0" id="M_15_3_1">הֲיֻקַּ֤ח</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_15_3_2">מִמֶּ֙נּוּ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_15_3_3">עֵ֔ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_3_4">לַעֲשׂ֖וֹת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_15_3_5">לִמְלָאכָ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_3_6">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5390">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_15_3_7">יִקְח֤וּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_15_3_8">מִמֶּ֙נּוּ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_15_3_9">יָתֵ֔ד</span>
<span class="mila" data-lnk="4026534410" data-exlnk="0" id="M_15_3_10">לִתְל֥וֹת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_15_3_11">עָלָ֖יו</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_15_3_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5397">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_15_3_13">כֶּֽלִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5399">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_4" data-pasuk-now="13"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="805307055" data-exlnk="0" id="M_15_4_1">הִנֵּ֥ה</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_15_4_2">לָאֵ֖שׁ</span>
<span class="mila" data-lnk="4026534575" data-exlnk="0" id="M_15_4_3">נִתַּ֣ן</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_15_4_4">לְאָכְלָ֑ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_15_4_5">אֵת֩</span>
<span class="mila" data-lnk="173" data-exlnk="0" id="M_15_4_6">שְׁנֵ֨י</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_15_4_7">קְצוֹתָ֜יו</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_15_4_8">אָכְלָ֤ה</span>
<span class="mila" data-lnk="173" data-exlnk="0" id="M_15_4_9">הָאֵשׁ֙</span>
<span class="mila" data-lnk="269" data-exlnk="0" id="M_15_4_10">וְתוֹכ֣וֹ</span>
<span class="mila" data-lnk="3221227917" data-exlnk="0" id="M_15_4_11">נָחָ֔ר</span>
<span class="mila" data-lnk="3221227655" data-exlnk="0" id="M_15_4_12">הֲיִצְלַ֖ח</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_15_4_13">לִמְלָאכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5413">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_15_5_1">הִנֵּה֙</span>
<span class="mila" data-lnk="174" data-exlnk="0" id="M_15_5_2">בִּֽהְיוֹת֣וֹ</span>
<span class="mila" data-lnk="174" data-exlnk="0" id="M_15_5_3">תָמִ֔ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_15_5_4">לֹ֥א</span>
<span class="mila" data-lnk="805306884" data-exlnk="0" id="M_15_5_5">יֵעָשֶׂ֖ה</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_15_5_6">לִמְלָאכָ֑ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_15_5_7">אַ֣ף</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_15_5_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5422">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_15_5_9">אֵ֤שׁ</span>
<span class="mila" data-lnk="805306890" data-exlnk="0" id="M_15_5_10">אֲכָלַ֙תְהוּ֙</span>
<span class="mila" data-lnk="3221227914" data-exlnk="0" id="M_15_5_11">וַיֵּחָ֔ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_15_5_12">וְנַעֲשָׂ֥ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_15_5_13">ע֖וֹד</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_15_5_14">לִמְלָאכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5430">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5431">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_6" data-pasuk-now="19"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="268436136" data-exlnk="0" id="M_15_6_1">לָכֵ֗ן</span>
<span class="mila" data-lnk="268436008" data-exlnk="0" id="M_15_6_2">כֹּ֤ה</span>
<span class="mila" data-lnk="268436008" data-exlnk="0" id="M_15_6_3">אָמַר֙</span>
<span class="mila" data-lnk="268436000" data-exlnk="0" id="M_15_6_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="536871424" data-exlnk="0" id="M_15_6_5">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_15_6_6">כַּאֲשֶׁ֤ר</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_15_6_7">עֵץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5439">־</span><span class="mila" data-lnk="140" data-exlnk="0" id="M_15_6_8">הַגֶּ֙פֶן֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_6_9">בְּעֵ֣ץ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_6_10">הַיַּ֔עַר</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_15_6_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5444">־</span><span class="mila" data-lnk="140" data-exlnk="0" id="M_15_6_12">נְתַתִּ֥יו</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_15_6_13">לָאֵ֖שׁ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_15_6_14">לְאָכְלָ֑ה</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_15_6_15">כֵּ֣ן</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_15_6_16">נָתַ֔תִּי</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_15_6_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5451">־</span><span class="mila" data-lnk="164" data-exlnk="0" id="M_15_6_18">יֹשְׁבֵ֖י</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_15_6_19">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5454">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_15_7_1">וְנָתַתִּ֤י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_7_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5457">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_15_7_3">פָּנַי֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_7_4">בָּהֶ֔ם</span>
<span class="mila" data-lnk="3221227939" data-exlnk="0" id="M_15_7_5">מֵהָאֵ֣שׁ</span>
<span class="mila" data-lnk="4026534819" data-exlnk="0" id="M_15_7_6">יָצָ֔אוּ</span>
<span class="mila" data-lnk="4026535810" data-exlnk="0" id="M_15_7_7">וְהָאֵ֖שׁ</span>
<span class="mila" data-lnk="422" data-exlnk="0" id="M_15_7_8">תֹּאכְלֵ֑ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_15_7_9">וִֽידַעְתֶּם֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_15_7_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5466">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_15_7_11">אֲנִ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_15_7_12">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_15_7_13">בְּשׂוּמִ֥י</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_15_7_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5471">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_15_7_15">פָּנַ֖י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_15_7_16">בָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5474">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_8" data-pasuk-now="10"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_8_1">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_8_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5477">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_15_8_3">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_15_8_4">שְׁמָמָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_5">יַ֚עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_6">מָ֣עֲלוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_7">מַ֔עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_8">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_9">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_15_8_10">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5487">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5488"> פ </span>
</span>
<br /></p>