<p id="PR_16" data-perek-now="833" data-perek-nops="63"><span class="perek-header">פרק טז</span>
<br /><span id="PS_16_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_1_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_1_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5491">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_1_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_1_4">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_1_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5495">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_2_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5497">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_16_2_2">אָדָ֕ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_16_2_3">הוֹדַ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_2_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5501">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_2_5">יְרוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_2_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5504">־</span><span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_16_2_7">תּוֹעֲבֹתֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5506">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="805307016" data-exlnk="0" id="M_16_3_1">וְאָמַרְתָּ֞</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_3_2">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5509">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_3_3">אָמַ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_3_4">אֲדנָ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_3_5">יְהֹוִה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_3_6">לִיר֣וּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="3221227823" data-exlnk="0" id="M_16_3_7">מְכֹרֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="3221227944" data-exlnk="0" id="M_16_3_8">וּמֹ֣לְדֹתַ֔יִךְ</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_16_3_9">מֵאֶ֖רֶץ</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_3_10">הַֽכְּנַעֲנִ֑י</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_3_11">אָבִ֥יךְ</span>
<span class="mila" data-lnk="430" data-exlnk="0" id="M_16_3_12">הָאֱמֹרִ֖י</span>
<span class="mila" data-lnk="430" data-exlnk="0" id="M_16_3_13">וְאִמֵּ֥ךְ</span>
<span class="mila" data-lnk="430" data-exlnk="0" id="M_16_3_14">חִתִּֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5522">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_4" data-pasuk-now="17"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3221227662" data-exlnk="0" id="M_16_4_1">וּמוֹלְדוֹתַ֗יִךְ</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_16_4_2">בְּי֨וֹם</span>
<span class="mila" data-lnk="4026535819" data-exlnk="0" id="M_16_4_3">הוּלֶּ֤דֶת</span>
<span class="mila" data-lnk="805307147" data-exlnk="0" id="M_16_4_4">אוֹתָךְ֙</span>
<span class="mila" data-lnk="805307146" data-exlnk="0" id="M_16_4_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5528">־</span><span class="mila" data-lnk="3221227918" data-exlnk="0" id="M_16_4_6">כָרַּ֣ת</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_16_4_7">שָׁרֵּ֔ךְ</span>
<span class="mila" data-lnk="4026534666" data-exlnk="0" id="M_16_4_8">וּבְמַ֥יִם</span>
<span class="mila" data-lnk="805307146" data-exlnk="0" id="M_16_4_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5533">־</span><span class="mila" data-lnk="3221227914" data-exlnk="0" id="M_16_4_10">רֻחַ֖צְתְּ</span>
<span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_16_4_11">לְמִשְׁעִ֑י</span>
<span class="mila" data-lnk="3221227950" data-exlnk="0" id="M_16_4_12">וְהָמְלֵחַ֙</span>
<span class="mila" data-lnk="805307183" data-exlnk="0" id="M_16_4_13">לֹ֣א</span>
<span class="mila" data-lnk="3221227823" data-exlnk="0" id="M_16_4_14">הֻמְלַ֔חַתְּ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_4_15">וְהָחְתֵּ֖ל</span>
<span class="mila" data-lnk="805307150" data-exlnk="0" id="M_16_4_16">לֹ֥א</span>
<span class="mila" data-lnk="3221227790" data-exlnk="0" id="M_16_4_17">חֻתָּֽלְתְּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5542">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_5" data-pasuk-now="19"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="805307018" data-exlnk="0" id="M_16_5_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5544">־</span><span class="mila" data-lnk="3221227658" data-exlnk="0" id="M_16_5_2">חָ֨סָה</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_5_3">עָלַ֜יִךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_5_4">עַ֗יִן</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_16_5_5">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_16_5_6">לָ֛ךְ</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_5_7">אַחַ֥ת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_5_8">מֵאֵ֖לֶּה</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_5_9">לְחֻמְלָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_5_10">עָלָ֑יִךְ</span>
<span class="mila" data-lnk="3221227906" data-exlnk="0" id="M_16_5_11">וַֽתֻּשְׁלְכִ֞י</span>
<span class="mila" data-lnk="1879051018" data-exlnk="0" id="M_16_5_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5556">־</span><span class="mila" data-lnk="2952792970" data-exlnk="0" id="M_16_5_13">פְּנֵ֤י</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_16_5_14">הַשָּׂדֶה֙</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_5_15">בְּגֹ֣עַל</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_16_5_16">נַפְשֵׁ֔ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_5_17">בְּי֖וֹם</span>
<span class="mila" data-lnk="4026534408" data-exlnk="0" id="M_16_5_18">הֻלֶּ֥דֶת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_5_19">אֹתָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5564">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_6" data-pasuk-now="13"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_6_1">וָאֶעֱבֹ֤ר</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_6_2">עָלַ֙יִךְ֙</span>
<span class="mila" data-lnk="4026534666" data-exlnk="0" id="M_16_6_3">וָֽאֶרְאֵ֔ךְ</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_16_6_4">מִתְבּוֹסֶ֖סֶת</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_16_6_5">בְּדָמָ֑יִךְ</span>
<span class="mila" data-lnk="416" data-exlnk="0" id="M_16_6_6">וָאֹ֤מַר</span>
<span class="mila" data-lnk="416" data-exlnk="0" id="M_16_6_7">לָךְ֙</span>
<span class="mila" data-lnk="303" data-exlnk="0" id="M_16_6_8">בְּדָמַ֣יִךְ</span>
<span class="mila" data-lnk="4026534831" data-exlnk="0" id="M_16_6_9">חֲיִ֔י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_16_6_10">וָאֹ֥מַר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_16_6_11">לָ֖ךְ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_16_6_12">בְּדָמַ֥יִךְ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_16_6_13">חֲיִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5578">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_16_7_1">רְבָבָ֗ה</span>
<span class="mila" data-lnk="3221227911" data-exlnk="0" id="M_16_7_2">כְּצֶ֤מַח</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_16_7_3">הַשָּׂדֶה֙</span>
<span class="mila" data-lnk="3221226752" data-exlnk="0" id="M_16_7_4">נְתַתִּ֔יךְ</span>
<span class="mila" data-lnk="3221228682" data-exlnk="0" id="M_16_7_5">וַתִּרְבִּי֙</span>
<span class="mila" data-lnk="3221227658" data-exlnk="0" id="M_16_7_6">וַֽתִּגְדְּלִ֔י</span>
<span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_16_7_7">וַתָּבֹ֖אִי</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_7_8">בַּעֲדִ֣י</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_7_9">עֲדָיִ֑ים</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_7_10">שָׁדַ֤יִם</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_16_7_11">נָכֹ֙נוּ֙</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_7_12">וּשְׂעָרֵ֣ךְ</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_16_7_13">צִמֵּ֔חַ</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_16_7_14">וְאַ֖תְּ</span>
<span class="mila" data-lnk="3221227917" data-exlnk="0" id="M_16_7_15">עֵרֹ֥ם</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_16_7_16">וְעֶרְיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5595">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_8" data-pasuk-now="22"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_8_1">וָאֶעֱבֹ֨ר</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_8_2">עָלַ֜יִךְ</span>
<span class="mila" data-lnk="805307146" data-exlnk="0" id="M_16_8_3">וָאֶרְאֵ֗ךְ</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_16_8_4">וְהִנֵּ֤ה</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_16_8_5">עִתֵּךְ֙</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_8_6">עֵ֣ת</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_16_8_7">דֹּדִ֔ים</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_8_8">וָאֶפְרֹ֤שׂ</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_8_9">כְּנָפִי֙</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_16_8_10">עָלַ֔יִךְ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_16_8_11">וָאֲכַסֶּ֖ה</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_16_8_12">עֶרְוָתֵ֑ךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_8_13">וָאֶשָּׁ֣בַֽע</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_8_14">לָ֠ךְ</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_16_8_15">וָאָב֨וֹא</span>
<span class="mila" data-lnk="4026535817" data-exlnk="0" id="M_16_8_16">בִבְרִ֜ית</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_16_8_17">אֹתָ֗ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_8_18">נְאֻ֛ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_8_19">אֲדנָ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_8_20">יְהֹוִ֖ה</span>
<span class="mila" data-lnk="3221227786" data-exlnk="0" id="M_16_8_21">וַתִּֽהְיִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5617">־</span><span class="mila" data-lnk="266" data-exlnk="0" id="M_16_8_22">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5619">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221227663" data-exlnk="0" id="M_16_9_1">וָאֶרְחָצֵ֣ךְ</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_16_9_2">בַּמַּ֔יִם</span>
<span class="mila" data-lnk="3221227690" data-exlnk="0" id="M_16_9_3">וָאֶשְׁטֹ֥ף</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_16_9_4">דָּמַ֖יִךְ</span>
<span class="mila" data-lnk="805307050" data-exlnk="0" id="M_16_9_5">מֵעָלָ֑יִךְ</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_16_9_6">וָאֲסֻכֵ֖ךְ</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_9_7">בַּשָּֽׁמֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5627">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_16_10_1">וָאַלְבִּישֵׁ֣ךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_10_2">רִקְמָ֔ה</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_16_10_3">וָאֶנְעֲלֵ֖ךְ</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_16_10_4">תָּ֑חַשׁ</span>
<span class="mila" data-lnk="3221227651" data-exlnk="0" id="M_16_10_5">וָאֶחְבְּשֵׁ֣ךְ</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_16_10_6">בַּשֵּׁ֔שׁ</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_16_10_7">וַאֲכַסֵּ֖ךְ</span>
<span class="mila" data-lnk="3221227663" data-exlnk="0" id="M_16_10_8">מֶֽשִׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5636">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_11" data-pasuk-now="9"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_16_11_1">וָאֶעְדֵּ֖ךְ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_16_11_2">עֶ֑דִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_11_3">וָאֶתְּנָ֤ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_16_11_4">צְמִידִים֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_16_11_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5642">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_16_11_6">יָדַ֔יִךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_11_7">וְרָבִ֖יד</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_16_11_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5646">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_16_11_9">גְּרוֹנֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5648">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_12_1">וָ֥אֶתֵּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5650">־</span><span class="mila" data-lnk="267" data-exlnk="0" id="M_16_12_2">נֶ֙זֶם֙</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_16_12_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5653">־</span><span class="mila" data-lnk="259" data-exlnk="0" id="M_16_12_4">אַפֵּ֔ךְ</span>
<span class="mila" data-lnk="3221227779" data-exlnk="0" id="M_16_12_5">וַעֲגִילִ֖ים</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_16_12_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5657">־</span><span class="mila" data-lnk="259" data-exlnk="0" id="M_16_12_7">אָזְנָ֑יִךְ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_16_12_8">וַעֲטֶ֥רֶת</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_16_12_9">תִּפְאֶ֖רֶת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_16_12_10">בְּרֹאשֵֽׁךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5662">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_16_13_1">וַתַּעְדִּ֞י</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_16_13_2">זָהָ֣ב</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_16_13_3">וָכֶ֗סֶף</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_16_13_4">וּמַלְבּוּשֵׁךְ֙</span>
<span data-lnk="0" data-exlnk="0" id="M_16_13_5" class="mila ktiv">שֵׁ֤שׁי</span>
<span data-lnk="3221227656" data-exlnk="0" id="M_16_13_5_K" class="mila kri">שֵׁ֤שׁ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_13_6">וָמֶ֙שִׁי֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_13_7">וְרִקְמָ֔ה</span>
<span class="mila" data-lnk="417" data-exlnk="0" id="M_16_13_8">סֹ֧לֶת</span>
<span class="mila" data-lnk="417" data-exlnk="0" id="M_16_13_9">וּדְבַ֛שׁ</span>
<span class="mila" data-lnk="805307297" data-exlnk="0" id="M_16_13_10">וָשֶׁ֖מֶן</span>
<span data-lnk="0" data-exlnk="0" id="M_16_13_11" class="mila ktiv">אָכָ֑לְתְּי</span>
<span data-lnk="3221227937" data-exlnk="0" id="M_16_13_11_K" class="mila kri">אָכָ֑לְתְּ</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_16_13_12">וַתִּ֙יפִי֙</span>
<span class="mila" data-lnk="1342181250" data-exlnk="0" id="M_16_13_13">בִּמְאֹ֣ד</span>
<span class="mila" data-lnk="4026535810" data-exlnk="0" id="M_16_13_14">מְאֹ֔ד</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_16_13_15">וַֽתִּצְלְחִ֖י</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_16_13_16">לִמְלוּכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5681">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_14_1">וַיֵּ֨צֵא</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_14_2">לָ֥ךְ</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_14_3">שֵׁ֛ם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_14_4">בַּגּוֹיִ֖ם</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_16_14_5">בְּיָפְיֵ֑ךְ</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_16_14_6">כִּ֣י׀</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_14_7">כָּלִ֣יל</span>
<span class="mila" data-lnk="303" data-exlnk="0" id="M_16_14_8">ה֗וּא</span>
<span class="mila" data-lnk="3221227532" data-exlnk="0" id="M_16_14_9">בַּהֲדָרִי֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_14_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5692">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_16_14_11">שַׂ֣מְתִּי</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_14_12">עָלַ֔יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_14_13">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_14_14">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_14_15">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5698">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_15_1">וַתִּבְטְחִ֣י</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_15_2">בְיָפְיֵ֔ךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_15_3">וַתִּזְנִ֖י</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_15_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5703">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_16_15_5">שְׁמֵ֑ךְ</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_16_15_6">וַתִּשְׁפְּכִ֧י</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_16_15_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5707">־</span><span class="mila" data-lnk="393" data-exlnk="0" id="M_16_15_8">תַּזְנוּתַ֛יִךְ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_15_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5710">־</span><span class="mila" data-lnk="398" data-exlnk="0" id="M_16_15_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5712">־</span><span class="mila" data-lnk="398" data-exlnk="0" id="M_16_15_11">עוֹבֵ֖ר</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_15_12">לוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5715">־</span><span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_15_13">יֶֽהִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5717">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_16" data-pasuk-now="12"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_16_16_1">וַתִּקְחִ֣י</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_16_16_2">מִבְּגָדַ֗יִךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_16_16_3">וַתַּֽעֲשִׂי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5721">־</span><span class="mila" data-lnk="264" data-exlnk="0" id="M_16_16_4">לָךְ֙</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_16_5">בָּמ֣וֹת</span>
<span class="mila" data-lnk="3221227823" data-exlnk="0" id="M_16_16_6">טְלֻא֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_16_7">וַתִּזְנִ֖י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_16_8">עֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_16_9">לֹ֥א</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_16_10">בָא֖וֹת</span>
<span class="mila" data-lnk="430" data-exlnk="0" id="M_16_16_11">וְלֹ֥א</span>
<span class="mila" data-lnk="430" data-exlnk="0" id="M_16_16_12">יִהְיֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5731">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_17" data-pasuk-now="14"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_17_1">וַתִּקְחִ֞י</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_17_2">כְּלֵ֣י</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_17_3">תִפְאַרְתֵּ֗ךְ</span>
<span class="mila" data-lnk="3221227530" data-exlnk="0" id="M_16_17_4">מִזְּהָבִ֤י</span>
<span class="mila" data-lnk="3221227530" data-exlnk="0" id="M_16_17_5">וּמִכַּסְפִּי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_17_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_17_7">נָתַ֣תִּי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_17_8">לָ֔ךְ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_16_17_9">וַתַּעֲשִׂי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5741">־</span><span class="mila" data-lnk="384" data-exlnk="0" id="M_16_17_10">לָ֖ךְ</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_16_17_11">צַלְמֵ֣י</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_16_17_12">זָכָ֑ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_17_13">וַתִּזְנִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5746">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_16_17_14">בָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5748">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_18" data-pasuk-now="9"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_18_1">וַתִּקְחִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_18_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5751">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_18_3">בִּגְדֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_18_4">רִקְמָתֵ֖ךְ</span>
<span class="mila" data-lnk="3221227534" data-exlnk="0" id="M_16_18_5">וַתְּכַסִּ֑ים</span>
<span class="mila" data-lnk="805306894" data-exlnk="0" id="M_16_18_6">וְשַׁמְנִי֙</span>
<span class="mila" data-lnk="805306894" data-exlnk="0" id="M_16_18_7">וּקְטָרְתִּ֔י</span>
<span data-lnk="0" data-exlnk="0" id="M_16_18_8" class="mila ktiv">נָתַ֖תְּי</span>
<span data-lnk="3221227530" data-exlnk="0" id="M_16_18_8_K" class="mila kri">נָתַ֖תְּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_18_9">לִפְנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5760">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_19" data-pasuk-now="16"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_16_19_1">וְלַחְמִי֩</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_16_19_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5763">־</span><span class="mila" data-lnk="387" data-exlnk="0" id="M_16_19_3">נָתַ֨תִּי</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_16_19_4">לָ֜ךְ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_19_5">סֹ֣לֶת</span>
<span class="mila" data-lnk="805307016" data-exlnk="0" id="M_16_19_6">וָשֶׁ֤מֶן</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_19_7">וּדְבַשׁ֙</span>
<span class="mila" data-lnk="3221227692" data-exlnk="0" id="M_16_19_8">הֶאֱכַלְתִּ֔יךְ</span>
<span class="mila" data-lnk="4026535562" data-exlnk="0" id="M_16_19_9">וּנְתַתִּ֧יהוּ</span>
<span class="mila" data-lnk="418" data-exlnk="0" id="M_16_19_10">לִפְנֵיהֶ֛ם</span>
<span class="mila" data-lnk="4026534786" data-exlnk="0" id="M_16_19_11">לְרֵ֥יחַ</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_16_19_12">נִיחֹ֖חַ</span>
<span class="mila" data-lnk="4026535823" data-exlnk="0" id="M_16_19_13">וַיֶּ֑הִי</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_16_19_14">נְאֻ֖ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_16_19_15">אֲדנָ֥י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_16_19_16">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5778">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_20" data-pasuk-now="13"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_16_20_1">וַתִּקְחִ֞י</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_16_20_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5781">־</span><span class="mila" data-lnk="394" data-exlnk="0" id="M_16_20_3">בָּנַ֤יִךְ</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_16_20_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5784">־</span><span class="mila" data-lnk="270" data-exlnk="0" id="M_16_20_5">בְּנוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_16_20_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_16_20_7">יָלַ֣דְתְּ</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_16_20_8">לִ֔י</span>
<span class="mila" data-lnk="3221227810" data-exlnk="0" id="M_16_20_9">וַתִּזְבָּחִ֥ים</span>
<span class="mila" data-lnk="426" data-exlnk="0" id="M_16_20_10">לָהֶ֖ם</span>
<span class="mila" data-lnk="805306922" data-exlnk="0" id="M_16_20_11">לֶאֱכ֑וֹל</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_20_12">הַמְעַ֖ט</span>
<span data-lnk="0" data-exlnk="0" id="M_16_20_13" class="mila ktiv">מִתַּזְנוּתִָֽךְ</span>
<span data-lnk="3221227918" data-exlnk="0" id="M_16_20_13_K" class="mila kri">מִתַּזְנוּתָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5795">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_21" data-pasuk-now="7"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_21_1">וַֽתִּשְׁחֲטִ֖י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_21_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5798">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_16_21_3">בָּנָ֑י</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_16_21_4">וַֽתִּתְּנִ֔ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_16_21_5">בְּהַעֲבִ֥יר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_16_21_6">אוֹתָ֖ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_16_21_7">לָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5804">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_22" data-pasuk-now="15"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_22_1">וְאֵ֤ת</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_22_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5807">־</span><span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_16_22_3">תּוֹעֲבֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_22_4">וְתַזְנֻתַ֔יִךְ</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_16_22_5">לֹ֥א</span>
<span data-lnk="0" data-exlnk="0" id="M_16_22_6" class="mila ktiv">זָכַ֖רְתְּי</span>
<span data-lnk="3221227912" data-exlnk="0" id="M_16_22_6_K" class="mila kri">זָכַ֖רְתְּ</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_16_22_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5814">־</span><span class="mila" data-lnk="395" data-exlnk="0" id="M_16_22_8">יְמֵ֣י</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_16_22_9">נְעוּרָ֑יִךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_22_10">בִּֽהְיוֹתֵךְ֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_22_11">עֵירֹ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_22_12">וְעֶרְיָ֔ה</span>
<span class="mila" data-lnk="4026534410" data-exlnk="0" id="M_16_22_13">מִתְבּוֹסֶ֥סֶת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_22_14">בְּדָמֵ֖ךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_22_15">הָיִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5823">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_23" data-pasuk-now="10"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_23_1">וַיְהִ֕י</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_23_2">אַחֲרֵ֖י</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_23_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5827">־</span><span class="mila" data-lnk="142" data-exlnk="0" id="M_16_23_4">רָעָתֵ֑ךְ</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_16_23_5">א֣וֹי</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_16_23_6">א֣וֹי</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_16_23_7">לָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_23_8">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_23_9">אֲדנָ֥י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_23_10">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5835">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_24" data-pasuk-now="8"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_16_24_1">וַתִּבְנִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5837">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_16_24_2">לָ֖ךְ</span>
<span class="mila" data-lnk="3221227535" data-exlnk="0" id="M_16_24_3">גָּ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_24_4">וַתַּעֲשִׂי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5841">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_24_5">לָ֥ךְ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_16_24_6">רָמָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_24_7">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5845">־</span><span class="mila" data-lnk="132" data-exlnk="0" id="M_16_24_8">רְחֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5847">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_25" data-pasuk-now="17"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1342179848" data-exlnk="0" id="M_16_25_1">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5849">־</span><span class="mila" data-lnk="1879050760" data-exlnk="0" id="M_16_25_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5851">־</span><span class="mila" data-lnk="3221227528" data-exlnk="0" id="M_16_25_3">רֹ֣אשׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_25_4">דֶּ֗רֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_25_5">בָּנִית֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_25_6">רָמָתֵ֔ךְ</span>
<span class="mila" data-lnk="3221227662" data-exlnk="0" id="M_16_25_7">וַתְּתַֽעֲבִי֙</span>
<span class="mila" data-lnk="805306886" data-exlnk="0" id="M_16_25_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5858">־</span><span class="mila" data-lnk="134" data-exlnk="0" id="M_16_25_9">יָפְיֵ֔ךְ</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_16_25_10">וַתְּפַשְּׂקִ֥י</span>
<span class="mila" data-lnk="805307147" data-exlnk="0" id="M_16_25_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5862">־</span><span class="mila" data-lnk="267" data-exlnk="0" id="M_16_25_12">רַגְלַ֖יִךְ</span>
<span class="mila" data-lnk="1879050892" data-exlnk="0" id="M_16_25_13">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5865">־</span><span class="mila" data-lnk="4026534540" data-exlnk="0" id="M_16_25_14">עוֹבֵ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_25_15">וַתַּרְבִּ֖י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_16_25_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5869">־</span><span data-lnk="0" data-exlnk="0" id="M_16_25_17" class="mila ktiv">תַּזְנוּתִָֽךְ</span>
<span data-lnk="4026534408" data-exlnk="0" id="M_16_25_17_K" class="mila kri">תַּזְנוּתָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5872">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_26" data-pasuk-now="11"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_16_26_1">וַתִּזְנִ֧י</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_26_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5875">־</span><span class="mila" data-lnk="268" data-exlnk="0" id="M_16_26_3">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5877">־</span><span class="mila" data-lnk="396" data-exlnk="0" id="M_16_26_4">מִצְרַ֛יִם</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_16_26_5">שְׁכֵנַ֖יִךְ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_26_6">גִּדְלֵ֣י</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_16_26_7">בָשָׂ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_26_8">וַתַּרְבִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_26_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5884">־</span><span class="mila" data-lnk="4026535432" data-exlnk="0" id="M_16_26_10">תַּזְנֻתֵ֖ךְ</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_16_26_11">לְהַכְעִיסֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5887">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_27" data-pasuk-now="14"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_27_1">וְהִנֵּ֨ה</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_16_27_2">נָטִ֤יתִי</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_16_27_3">יָדִי֙</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_16_27_4">עָלַ֔יִךְ</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_16_27_5">וָאֶגְרַ֖ע</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_27_6">חֻקֵּ֑ךְ</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_16_27_7">וָאֶתְּנֵ֞ךְ</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_16_27_8">בְּנֶ֤פֶשׁ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_27_9">שֹׂנְאוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_16_27_10">בְּנ֣וֹת</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_16_27_11">פְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_27_12">הַנִּכְלָמ֖וֹת</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_27_13">מִדַּרְכֵּ֥ךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_27_14">זִמָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5902">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_28" data-pasuk-now="10"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_28_1">וַתִּזְנִי֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_16_28_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5905">־</span><span class="mila" data-lnk="142" data-exlnk="0" id="M_16_28_3">בְּנֵ֣י</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_28_4">אַשּׁ֔וּר</span>
<span class="mila" data-lnk="4026534829" data-exlnk="0" id="M_16_28_5">מִבִּלְתִּ֖י</span>
<span class="mila" data-lnk="429" data-exlnk="0" id="M_16_28_6">שָׂבְעָתֵ֑ךְ</span>
<span class="mila" data-lnk="3221227789" data-exlnk="0" id="M_16_28_7">וַתִּזְנִ֕ים</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_28_8">וְגַ֖ם</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_28_9">לֹ֥א</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_28_10">שָׂבָֽעַתְּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5914">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_29" data-pasuk-now="11"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="425" data-exlnk="0" id="M_16_29_1">וַתַּרְבִּ֧י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_16_29_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5917">־</span><span class="mila" data-lnk="4026534701" data-exlnk="0" id="M_16_29_3">תַּזְנוּתֵ֛ךְ</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_29_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5920">־</span><span class="mila" data-lnk="431" data-exlnk="0" id="M_16_29_5">אֶ֥רֶץ</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_29_6">כְּנַ֖עַן</span>
<span class="mila" data-lnk="4026534827" data-exlnk="0" id="M_16_29_7">כַּשְׂדִּ֑ימָה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_29_8">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5925">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_16_29_9">בְּזֹ֖את</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_29_10">לֹ֥א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_29_11">שָׂבָֽעַתְּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5929">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_30" data-pasuk-now="14"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_30_1">מָ֤ה</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_30_2">אֲמֻלָה֙</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_30_3">לִבָּתֵ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_30_4">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_30_5">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_30_6">יְהֹוִ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_30_7">בַּֽעֲשׂוֹתֵךְ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_30_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5938">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_16_30_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5940">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_16_30_10">אֵ֔לֶּה</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_16_30_11">מַעֲשֵׂ֥ה</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_16_30_12">אִשָּֽׁה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5944">־</span><span class="mila" data-lnk="302" data-exlnk="0" id="M_16_30_13">זוֹנָ֖ה</span>
<span class="mila" data-lnk="3221227947" data-exlnk="0" id="M_16_30_14">שַׁלָּֽטֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5947">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_31" data-pasuk-now="14"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="3221227917" data-exlnk="0" id="M_16_31_1">בִּבְנוֹתַ֤יִךְ</span>
<span class="mila" data-lnk="4026534669" data-exlnk="0" id="M_16_31_2">גַּבֵּךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_31_3">בְּרֹ֣אשׁ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_16_31_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5952">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_16_31_5">דֶּ֔רֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_31_6">וְרָמָתֵ֥ךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_16_31_7" class="mila ktiv">עָשִׂ֖יתי</span>
<span data-lnk="3221227528" data-exlnk="0" id="M_16_31_7_K" class="mila kri">עָשִׂ֖ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_31_8">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5958">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_16_31_9">רְח֑וֹב</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_16_31_10">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5961">־</span><span data-lnk="0" data-exlnk="0" id="M_16_31_11" class="mila ktiv">הָיִ֥יתי</span>
<span data-lnk="3221227916" data-exlnk="0" id="M_16_31_11_K" class="mila kri">הָיִ֥ית</span>
<span class="mila" data-lnk="3221227916" data-exlnk="0" id="M_16_31_12">כַּזּוֹנָ֖ה</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_31_13">לְקַלֵּ֥ס</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_31_14">אֶתְנָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5967">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_32" data-pasuk-now="7"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_16_32_1">הָאִשָּׁ֖ה</span>
<span class="mila" data-lnk="3221227695" data-exlnk="0" id="M_16_32_2">הַמְּנָאָ֑פֶת</span>
<span class="mila" data-lnk="167" data-exlnk="0" id="M_16_32_3">תַּ֣חַת</span>
<span class="mila" data-lnk="167" data-exlnk="0" id="M_16_32_4">אִישָׁ֔הּ</span>
<span class="mila" data-lnk="422" data-exlnk="0" id="M_16_32_5">תִּקַּ֖ח</span>
<span class="mila" data-lnk="422" data-exlnk="0" id="M_16_32_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5974">־</span><span class="mila" data-lnk="422" data-exlnk="0" id="M_16_32_7">זָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5976">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_33" data-pasuk-now="16"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="426" data-exlnk="0" id="M_16_33_1">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5978">־</span><span class="mila" data-lnk="426" data-exlnk="0" id="M_16_33_2">זֹנ֖וֹת</span>
<span class="mila" data-lnk="426" data-exlnk="0" id="M_16_33_3">יִתְּנוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5981">־</span><span class="mila" data-lnk="3221227823" data-exlnk="0" id="M_16_33_4">נֵ֑דֶה</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_33_5">וְאַ֨תְּ</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_33_6">נָתַ֤תְּ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_33_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5986">־</span><span class="mila" data-lnk="3221227656" data-exlnk="0" id="M_16_33_8">נְדָנַ֙יִךְ֙</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_16_33_9">לְכָ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5989">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_16_33_10">מְאַֽהֲבַ֔יִךְ</span>
<span class="mila" data-lnk="3221227656" data-exlnk="0" id="M_16_33_11">וַתִּשְׁחֳדִ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_33_12">אוֹתָ֗ם</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_16_33_13">לָב֥וֹא</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_16_33_14">אֵלַ֛יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_33_15">מִסָּבִ֖יב</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_16_33_16">בְּתַזְנוּתָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5997">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_34" data-pasuk-now="17"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_16_34_1">וַיְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5999">־</span><span class="mila" data-lnk="168" data-exlnk="0" id="M_16_34_2">בָ֨ךְ</span>
<span class="mila" data-lnk="3221227688" data-exlnk="0" id="M_16_34_3">הֵ֤פֶךְ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_34_4">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6003">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_16_34_5">הַנָּשִׁים֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_34_6">בְּתַזְנוּתַ֔יִךְ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_34_7">וְאַחֲרַ֖יִךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_34_8">לֹ֣א</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_34_9">זוּנָּ֑ה</span>
<span class="mila" data-lnk="3221227680" data-exlnk="0" id="M_16_34_10">וּבְתִתֵּ֣ךְ</span>
<span class="mila" data-lnk="418" data-exlnk="0" id="M_16_34_11">אֶתְנָ֗ן</span>
<span class="mila" data-lnk="4026533504" data-exlnk="0" id="M_16_34_12">וְאֶתְנַ֛ן</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_16_34_13">לֹ֥א</span>
<span class="mila" data-lnk="4026534530" data-exlnk="0" id="M_16_34_14">נִתַּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6014">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_16_34_15">לָ֖ךְ</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_16_34_16">וַתְּהִ֥י</span>
<span class="mila" data-lnk="3221227688" data-exlnk="0" id="M_16_34_17">לְהֶֽפֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6018">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_35" data-pasuk-now="5"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_35_1">לָכֵ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_35_2">זוֹנָ֔ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_35_3">שִׁמְעִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_35_4">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6023">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_35_5">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6026">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6027"> פ </span>
</span>
<br /><span id="PS_16_36" data-pasuk-now="21"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="1879050760" data-exlnk="0" id="M_16_36_1">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6029">־</span><span class="mila" data-lnk="4026534408" data-exlnk="0" id="M_16_36_2">אָמַ֞ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_36_3">אֲדנָ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_36_4">יְהֹוִ֗ה</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_16_36_5">יַ֣עַן</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_36_6">הִשָּׁפֵ֤ךְ</span>
<span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_16_36_7">נְחֻשְׁתֵּךְ֙</span>
<span class="mila" data-lnk="3221227656" data-exlnk="0" id="M_16_36_8">וַתִּגָּלֶ֣ה</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_16_36_9">עֶרְוָתֵ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_36_10">בְּתַזְנוּתַ֖יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_36_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6040">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_16_36_12">מְאַֽהֲבָ֑יִךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_16_36_13">וְעַל֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_16_36_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6044">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_16_36_15">גִּלּוּלֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_16_36_16">תוֹעֲבוֹתַ֔יִךְ</span>
<span class="mila" data-lnk="3221227657" data-exlnk="0" id="M_16_36_17">וְכִדְמֵ֣י</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_16_36_18">בָנַ֔יִךְ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_36_19">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_36_20">נָתַ֖תְּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_36_21">לָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6052">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_37" data-pasuk-now="28"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="4026535560" data-exlnk="0" id="M_16_37_1">לָ֠כֵן</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_16_37_2">הִנְנִ֨י</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_16_37_3">מְקַבֵּ֤ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6057">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6059">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_16_37_6">מְאַהֲבַ֙יִךְ֙</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_16_37_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221227687" data-exlnk="0" id="M_16_37_8">עָרַ֣בְתְּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_16_37_9">עֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_16_37_10">וְאֵת֙</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_16_37_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6066">־</span><span class="mila" data-lnk="258" data-exlnk="0" id="M_16_37_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026534666" data-exlnk="0" id="M_16_37_13">אָהַ֔בְתְּ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_37_14">עַ֖ל</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_37_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6071">־</span><span class="mila" data-lnk="398" data-exlnk="0" id="M_16_37_16">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_16_37_17">שָׂנֵ֑את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_18">וְקִבַּצְתִּי֩</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_16_37_19">אֹתָ֨ם</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_16_37_20">עָלַ֜יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_21">מִסָּבִ֗יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_22">וְגִלֵּיתִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_23">עֶרְוָתֵךְ֙</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_16_37_24">אֲלֵהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_25">וְרָא֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_26">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6083">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_27">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6085">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_37_28">עֶרְוָתֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6087">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_38" data-pasuk-now="9"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_38_1">וּשְׁפַטְתִּיךְ֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_38_2">מִשְׁפְּטֵ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_38_3">נֹאֲפ֔וֹת</span>
<span class="mila" data-lnk="3221227530" data-exlnk="0" id="M_16_38_4">וְשֹׁפְכֹ֖ת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_38_5">דָּ֑ם</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_16_38_6">וּנְתַתִּ֕יךְ</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_16_38_7">דַּ֥ם</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_16_38_8">חֵמָ֖ה</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_16_38_9">וְקִנְאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6097">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_39" data-pasuk-now="16"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_39_1">וְנָתַתִּ֨י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_39_2">אֹתָ֜ךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_39_3">בְּיָדָ֗ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_16_39_4">וְהָרְס֤וּ</span>
<span class="mila" data-lnk="4026534411" data-exlnk="0" id="M_16_39_5">גַבֵּךְ֙</span>
<span class="mila" data-lnk="3221227650" data-exlnk="0" id="M_16_39_6">וְנִתְּצ֣וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_16_39_7">רָמֹתַ֔יִךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_39_8">וְהִפְשִׁ֤יטוּ</span>
<span class="mila" data-lnk="4026535426" data-exlnk="0" id="M_16_39_9">אוֹתָךְ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_39_10">בְּגָדַ֔יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_39_11">וְלָקְח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_39_12">כְּלֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_39_13">תִפְאַרְתֵּ֑ךְ</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_16_39_14">וְהִנִּיח֖וּךְ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_16_39_15">עֵירֹ֥ם</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_39_16">וְעֶרְיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6114">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_40" data-pasuk-now="8"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_40_1">וְהֶעֱל֤וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_40_2">עָלַ֙יִךְ֙</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_40_3">קָהָ֔ל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_40_4">וְרָגְמ֥וּ</span>
<span class="mila" data-lnk="805306890" data-exlnk="0" id="M_16_40_5">אוֹתָ֖ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_40_6">בָּאָ֑בֶן</span>
<span class="mila" data-lnk="3221227791" data-exlnk="0" id="M_16_40_7">וּבִתְּק֖וּךְ</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_16_40_8">בְּחַרְבוֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6123">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_41" data-pasuk-now="16"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_16_41_1">וְשָׂרְפ֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_41_2">בָתַּ֙יִךְ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_41_3">בָּאֵ֔שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_41_4">וְעָשׂוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6128">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_16_41_5">בָ֣ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_41_6">שְׁפָטִ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_41_7">לְעֵינֵ֖י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_41_8">נָשִׁ֣ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_41_9">רַבּ֑וֹת</span>
<span class="mila" data-lnk="3221227657" data-exlnk="0" id="M_16_41_10">וְהִשְׁבַּתִּיךְ֙</span>
<span class="mila" data-lnk="3221227657" data-exlnk="0" id="M_16_41_11">מִזּוֹנָ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_41_12">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6137">־</span><span class="mila" data-lnk="4026534404" data-exlnk="0" id="M_16_41_13">אֶתְנַ֖ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_41_14">לֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_41_15">תִתְּנִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6141">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_16_41_16">עֽוֹד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6143">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_42" data-pasuk-now="10"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="4026534540" data-exlnk="0" id="M_16_42_1">וַהֲנִחֹתִ֤י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_16_42_2">חֲמָתִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_42_3">בָּ֔ךְ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_16_42_4">וְסָ֥רָה</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_16_42_5">קִנְאָתִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_42_6">מִמֵּ֑ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_42_7">וְשָׁ֣קַטְתִּ֔י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_42_8">וְלֹ֥א</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_42_9">אֶכְעַ֖ס</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_42_10">עֽוֹד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6154">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_43" data-pasuk-now="27"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_16_43_1">יַ֗עַן</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_16_43_2">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_43_3">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6158">־</span><span data-lnk="0" data-exlnk="0" id="M_16_43_4" class="mila ktiv">זָכַרְתְּ֙י</span>
<span data-lnk="3221227784" data-exlnk="0" id="M_16_43_4_K" class="mila kri">זָכַרְתְּ֙</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_43_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6162">־</span><span class="mila" data-lnk="268" data-exlnk="0" id="M_16_43_6">יְמֵ֣י</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_43_7">נְעוּרַ֔יִךְ</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_16_43_8">וַתִּרְגְּזִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6166">־</span><span class="mila" data-lnk="397" data-exlnk="0" id="M_16_43_9">לִ֖י</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_16_43_10">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6169">־</span><span class="mila" data-lnk="132" data-exlnk="0" id="M_16_43_11">אֵ֑לֶּה</span>
<span class="mila" data-lnk="268436362" data-exlnk="0" id="M_16_43_12">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6172">־</span><span class="mila" data-lnk="536871818" data-exlnk="0" id="M_16_43_13">אֲנִ֨י</span>
<span class="mila" data-lnk="4026535823" data-exlnk="0" id="M_16_43_14">הֵ֜א</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_43_15">דַּרְכֵּ֣ךְ׀</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_16_43_16">בְּרֹ֣אשׁ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_43_17">נָתַ֗תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_43_18">נְאֻם֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_16_43_19">אֲדנָ֣י</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_16_43_20">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_43_21">וְלֹ֤א</span>
<span data-lnk="0" data-exlnk="0" id="M_16_43_22" class="mila ktiv">עָשִׂית֙י</span>
<span data-lnk="431" data-exlnk="0" id="M_16_43_22_K" class="mila kri">עָשִׂית֙</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_43_23">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6185">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_16_43_24">הַזִּמָּ֔ה</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_43_25">עַ֖ל</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_43_26">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6189">־</span><span class="mila" data-lnk="4026534795" data-exlnk="0" id="M_16_43_27">תּוֹעֲבֹתָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6191">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_44" data-pasuk-now="8"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="4026534537" data-exlnk="0" id="M_16_44_1">הִנֵּה֙</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_16_44_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6194">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_16_44_3">הַמֹּשֵׁ֔ל</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_16_44_4">עָלַ֥יִךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_44_5">יִמְשֹׁ֖ל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_44_6">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_16_44_7">כְּאִמָּ֖ה</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_16_44_8">בִּתָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6201">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_45" data-pasuk-now="17"><span class="pasuk-header">[מה]</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_16_45_1">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6203">־</span><span class="mila" data-lnk="269" data-exlnk="0" id="M_16_45_2">אִמֵּ֣ךְ</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_45_3">אַ֔תְּ</span>
<span class="mila" data-lnk="3221227779" data-exlnk="0" id="M_16_45_4">גֹּעֶ֥לֶת</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_16_45_5">אִישָׁ֖הּ</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_16_45_6">וּבָנֶ֑יהָ</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_45_7">וַאֲח֨וֹת</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_45_8">אֲחוֹתֵ֜ךְ</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_16_45_9">אַ֗תְּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_45_10">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_45_11">גָּֽעֲלוּ֙</span>
<span class="mila" data-lnk="3221227788" data-exlnk="0" id="M_16_45_12">אַנְשֵׁיהֶ֣ן</span>
<span class="mila" data-lnk="4026534408" data-exlnk="0" id="M_16_45_13">וּבְנֵיהֶ֔ן</span>
<span class="mila" data-lnk="3221227819" data-exlnk="0" id="M_16_45_14">אִמְּכֶ֣ן</span>
<span class="mila" data-lnk="427" data-exlnk="0" id="M_16_45_15">חִתִּ֔ית</span>
<span class="mila" data-lnk="4026534826" data-exlnk="0" id="M_16_45_16">וַאֲבִיכֶ֖ן</span>
<span class="mila" data-lnk="430" data-exlnk="0" id="M_16_45_17">אֱמֹרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6220">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_46" data-pasuk-now="15"><span class="pasuk-header">[מו]</span>
<span class="mila" data-lnk="426" data-exlnk="0" id="M_16_46_1">וַאֲחוֹתֵ֨ךְ</span>
<span class="mila" data-lnk="298" data-exlnk="0" id="M_16_46_2">הַגְּדוֹלָ֤ה</span>
<span class="mila" data-lnk="290" data-exlnk="0" id="M_16_46_3">שֹׁמְרוֹן֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_46_4">הִ֣יא</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_16_46_5">וּבְנוֹתֶ֔יהָ</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_16_46_6">הַיּוֹשֶׁ֖בֶת</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_16_46_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6228">־</span><span class="mila" data-lnk="3221227791" data-exlnk="0" id="M_16_46_8">שְׂמֹאולֵ֑ךְ</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_16_46_9">וַאֲחוֹתֵ֞ךְ</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_16_46_10">הַקְּטַנָּ֣ה</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_16_46_11">מִמֵּ֗ךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_16_46_12">הַיּוֹשֶׁ֙בֶת֙</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_16_46_13">מִֽימִינֵ֔ךְ</span>
<span class="mila" data-lnk="290" data-exlnk="0" id="M_16_46_14">סְדֹ֖ם</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_16_46_15">וּבְנוֹתֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6237">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_47" data-pasuk-now="11"><span class="pasuk-header">[מז]</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_47_1">וְלֹ֤א</span>
<span class="mila" data-lnk="3221227947" data-exlnk="0" id="M_16_47_2">בְדַרְכֵיהֶן֙</span>
<span class="mila" data-lnk="427" data-exlnk="0" id="M_16_47_3">הָלַ֔כְתְּ</span>
<span class="mila" data-lnk="4026534797" data-exlnk="0" id="M_16_47_4">וּכְתוֹעֲבוֹתֵיהֶ֖ן</span>
<span data-lnk="0" data-exlnk="0" id="M_16_47_5" class="mila ktiv">עָשִׂ֑יתי</span>
<span data-lnk="3221227912" data-exlnk="0" id="M_16_47_5_K" class="mila kri">עָשִׂ֑ית</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_47_6">כִּמְעַ֣ט</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_47_7">קָ֔ט</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_16_47_8">וַתַּשְׁחִ֥תִי</span>
<span class="mila" data-lnk="4026534795" data-exlnk="0" id="M_16_47_9">מֵהֵ֖ן</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_16_47_10">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6249">־</span><span class="mila" data-lnk="258" data-exlnk="0" id="M_16_47_11">דְּרָכָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6251">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_48" data-pasuk-now="15"><span class="pasuk-header">[מח]</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_16_48_1">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6253">־</span><span class="mila" data-lnk="168" data-exlnk="0" id="M_16_48_2">אָ֗נִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_48_3">נְאֻם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_48_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_48_5">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_48_6">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6259">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_16_48_7">עָֽשְׂתָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_48_8">סְדֹ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_48_9">אֲחוֹתֵ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_48_10">הִ֖יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_48_11">וּבְנוֹתֶ֑יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_48_12">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_48_13">עָשִׂ֔ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_16_48_14">אַ֖תְּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_48_15">וּבְנוֹתָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6269">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_49" data-pasuk-now="19"><span class="pasuk-header">[מט]</span>
<span class="mila" data-lnk="805307308" data-exlnk="0" id="M_16_49_1">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6271">־</span><span class="mila" data-lnk="428" data-exlnk="0" id="M_16_49_2">זֶ֣ה</span>
<span class="mila" data-lnk="416" data-exlnk="0" id="M_16_49_3">הָיָ֔ה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_16_49_4">עֲוֺ֖ן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_16_49_5">סְדֹ֣ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_49_6">אֲחוֹתֵ֑ךְ</span>
<span class="mila" data-lnk="4026535852" data-exlnk="0" id="M_16_49_7">גָּא֨וֹן</span>
<span class="mila" data-lnk="428" data-exlnk="0" id="M_16_49_8">שִׂבְעַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6279">־</span><span class="mila" data-lnk="428" data-exlnk="0" id="M_16_49_9">לֶ֜חֶם</span>
<span class="mila" data-lnk="428" data-exlnk="0" id="M_16_49_10">וְשַׁלְוַ֣ת</span>
<span class="mila" data-lnk="428" data-exlnk="0" id="M_16_49_11">הַשְׁקֵ֗ט</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_16_49_12">הָ֤יָה</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_16_49_13">לָהּ֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_16_49_14">וְלִבְנוֹתֶ֔יהָ</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_16_49_15">וְיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6287">־</span><span class="mila" data-lnk="160" data-exlnk="0" id="M_16_49_16">עָנִ֥י</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_16_49_17">וְאֶבְי֖וֹן</span>
<span class="mila" data-lnk="416" data-exlnk="0" id="M_16_49_18">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_49_19">הֶחֱזִֽיקָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6292">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_50" data-pasuk-now="8"><span class="pasuk-header">[נ]</span>
<span class="mila" data-lnk="3221227945" data-exlnk="0" id="M_16_50_1">וַֽתִּגְבְּהֶ֔ינָה</span>
<span class="mila" data-lnk="424" data-exlnk="0" id="M_16_50_2">וַתַּעֲשֶׂ֥ינָה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_16_50_3">תוֹעֵבָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_16_50_4">לְפָנָ֑י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_16_50_5">וָאָסִ֥יר</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_16_50_6">אֶתְהֶ֖ן</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_16_50_7">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_16_50_8">רָאִֽיתִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6302">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6303">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_51" data-pasuk-now="16"><span class="pasuk-header">[נא]</span>
<span class="mila" data-lnk="4026534540" data-exlnk="0" id="M_16_51_1">וְשֹׁ֣מְר֔וֹן</span>
<span class="mila" data-lnk="3221227680" data-exlnk="0" id="M_16_51_2">כַּחֲצִ֥י</span>
<span class="mila" data-lnk="805307017" data-exlnk="0" id="M_16_51_3">חַטֹּאתַ֖יִךְ</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_51_4">לֹ֣א</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_16_51_5">חָטָ֑אָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_51_6">וַתַּרְבִּ֤י</span>
<span class="mila" data-lnk="303" data-exlnk="0" id="M_16_51_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6311">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_16_51_8">תּוֹעֲבוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_16_51_9">מֵהֵ֔נָּה</span>
<span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_16_51_10">וַתְּצַדֲּקִי֙</span>
<span class="mila" data-lnk="303" data-exlnk="0" id="M_16_51_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6316">־</span><span data-lnk="0" data-exlnk="0" id="M_16_51_12" class="mila ktiv">אֲחוֹתִַ֔ךְ</span>
<span data-lnk="4026535855" data-exlnk="0" id="M_16_51_12_K" class="mila kri">אֲחוֹתַ֔יִךְ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_16_51_13">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6320">־</span><span class="mila" data-lnk="4026534784" data-exlnk="0" id="M_16_51_14">תּוֹעֲבֹתַ֖יִךְ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_51_15">אֲשֶׁ֥ר</span>
<span data-lnk="0" data-exlnk="0" id="M_16_51_16" class="mila ktiv">עָשִֽׂיתי</span>
<span data-lnk="3221227656" data-exlnk="0" id="M_16_51_16_K" class="mila kri">עָשִֽׂית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6325">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_52" data-pasuk-now="20"><span class="pasuk-header">[נב]</span>
<span class="mila" data-lnk="4026534538" data-exlnk="0" id="M_16_52_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6327">־</span><span class="mila" data-lnk="270" data-exlnk="0" id="M_16_52_2">אַ֣תְּ׀</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_16_52_3">שְׂאִ֣י</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_16_52_4">כְלִמָּתֵ֗ךְ</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_16_52_5">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="419" data-exlnk="0" id="M_16_52_6">פִּלַּלְתְּ֙</span>
<span class="mila" data-lnk="430" data-exlnk="0" id="M_16_52_7">לַאֲחוֹתֵ֔ךְ</span>
<span class="mila" data-lnk="805307272" data-exlnk="0" id="M_16_52_8">בְּחַטֹּאתַ֛יִךְ</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_16_52_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6336">־</span><span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_16_52_10">הִתְעַ֥בְתְּ</span>
<span class="mila" data-lnk="4026534792" data-exlnk="0" id="M_16_52_11">מֵהֵ֖ן</span>
<span class="mila" data-lnk="3221227916" data-exlnk="0" id="M_16_52_12">תִּצְדַּ֣קְנָה</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_16_52_13">מִמֵּ֑ךְ</span>
<span class="mila" data-lnk="805307264" data-exlnk="0" id="M_16_52_14">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6342">־</span><span class="mila" data-lnk="388" data-exlnk="0" id="M_16_52_15">אַ֥תְּ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_16_52_16">בּ֙וֹשִׁי֙</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_16_52_17">וּשְׂאִ֣י</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_16_52_18">כְלִמָּתֵ֔ךְ</span>
<span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_16_52_19">בְּצַדֶּקְתֵּ֖ךְ</span>
<span class="mila" data-lnk="4026534668" data-exlnk="0" id="M_16_52_20">אַחְיוֹתֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6349">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_53" data-pasuk-now="14"><span class="pasuk-header">[נג]</span>
<span class="mila" data-lnk="429" data-exlnk="0" id="M_16_53_1">וְשַׁבְתִּי֙</span>
<span class="mila" data-lnk="301" data-exlnk="0" id="M_16_53_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6352">־</span><span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_16_53_3">שְׁבִ֣יתְהֶ֔ן</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_16_53_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6355">־</span><span data-lnk="0" data-exlnk="0" id="M_16_53_5" class="mila ktiv">שְׁב֤יּת</span>
<span data-lnk="4026534573" data-exlnk="0" id="M_16_53_5_K" class="mila kri">שְׁב֤וּת</span>
<span class="mila" data-lnk="293" data-exlnk="0" id="M_16_53_6">סְדֹם֙</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_16_53_7">וּבְנוֹתֶ֔יהָ</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_16_53_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6361">־</span><span data-lnk="0" data-exlnk="0" id="M_16_53_9" class="mila ktiv">שְׁב֥יּת</span>
<span data-lnk="4026534445" data-exlnk="0" id="M_16_53_9_K" class="mila kri">שְׁב֥וּת</span>
<span class="mila" data-lnk="296" data-exlnk="0" id="M_16_53_10">שֹׁמְר֖וֹן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_16_53_11">וּבְנוֹתֶ֑יהָ</span>
<span data-lnk="0" data-exlnk="0" id="M_16_53_12" class="mila ktiv">וּשְׁב֥יּת</span>
<span data-lnk="3221227821" data-exlnk="0" id="M_16_53_12_K" class="mila kri">וּשְׁב֥וּת</span>
<span class="mila" data-lnk="3221227944" data-exlnk="0" id="M_16_53_13">שְׁבִיתַ֖יִךְ</span>
<span class="mila" data-lnk="3221227913" data-exlnk="0" id="M_16_53_14">בְּתוֹכָֽהְנָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6370">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_54" data-pasuk-now="9"><span class="pasuk-header">[נד]</span>
<span class="mila" data-lnk="428" data-exlnk="0" id="M_16_54_1">לְמַ֙עַן֙</span>
<span class="mila" data-lnk="292" data-exlnk="0" id="M_16_54_2">תִּשְׂאִ֣י</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_16_54_3">כְלִמָּתֵ֔ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_54_4">וְנִכְלַ֕מְתְּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_54_5">מִכֹּ֖ל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_54_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_54_7">עָשִׂ֑ית</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_16_54_8">בְּנַחֲמֵ֖ךְ</span>
<span class="mila" data-lnk="3221227527" data-exlnk="0" id="M_16_54_9">אֹתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6380">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_55" data-pasuk-now="13"><span class="pasuk-header">[נה]</span>
<span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_16_55_1">וַאֲחוֹתַ֗יִךְ</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_16_55_2">סְדֹ֤ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_55_3">וּבְנוֹתֶ֙יהָ֙</span>
<span class="mila" data-lnk="4026534666" data-exlnk="0" id="M_16_55_4">תָּשֹׁ֣בְןָ</span>
<span class="mila" data-lnk="3221227906" data-exlnk="0" id="M_16_55_5">לְקַדְמָתָ֔ן</span>
<span class="mila" data-lnk="805306884" data-exlnk="0" id="M_16_55_6">וְשֹֽׁמְרוֹן֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_55_7">וּבְנוֹתֶ֔יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_55_8">תָּשֹׁ֖בְןָ</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_16_55_9">לְקַדְמָתָ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_55_10">וְאַתְּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_55_11">וּבְנוֹתַ֔יִךְ</span>
<span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_16_55_12">תְּשֻׁבֶ֖ינָה</span>
<span class="mila" data-lnk="3221227904" data-exlnk="0" id="M_16_55_13">לְקַדְמַתְכֶֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6394">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_56" data-pasuk-now="8"><span class="pasuk-header">[נו]</span>
<span class="mila" data-lnk="4026535819" data-exlnk="0" id="M_16_56_1">וְל֤וֹא</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_56_2">הָֽיְתָה֙</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_16_56_3">סְדֹ֣ם</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_16_56_4">אֲחוֹתֵ֔ךְ</span>
<span class="mila" data-lnk="3221227909" data-exlnk="0" id="M_16_56_5">לִשְׁמוּעָ֖ה</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_16_56_6">בְּפִ֑יךְ</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_16_56_7">בְּי֖וֹם</span>
<span class="mila" data-lnk="3221227917" data-exlnk="0" id="M_16_56_8">גְּאוֹנָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6403">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_57" data-pasuk-now="15"><span class="pasuk-header">[נז]</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_16_57_1">בְּטֶרֶם֘</span>
<span class="mila" data-lnk="4026535818" data-exlnk="0" id="M_16_57_2">תִּגָּלֶ֣ה</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_16_57_3">רָעָתֵךְ֒</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_57_4">כְּמ֗וֹ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_57_5">עֵ֚ת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_57_6">חֶרְפַּ֣ת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_57_7">בְּנוֹת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6411">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_16_57_8">אֲרָ֔ם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_57_9">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6414">־</span><span class="mila" data-lnk="142" data-exlnk="0" id="M_16_57_10">סְבִיבוֹתֶ֖יהָ</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_57_11">בְּנ֣וֹת</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_57_12">פְּלִשְׁתִּ֑ים</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_16_57_13">הַשָּׁאט֥וֹת</span>
<span class="mila" data-lnk="805307150" data-exlnk="0" id="M_16_57_14">אוֹתָ֖ךְ</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_57_15">מִסָּבִֽיב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6421">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_58" data-pasuk-now="8"><span class="pasuk-header">[נח]</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_58_1">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6423">־</span><span class="mila" data-lnk="140" data-exlnk="0" id="M_16_58_2">זִמָּתֵ֥ךְ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_16_58_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6426">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_16_58_4">תּוֹעֲבוֹתַ֖יִךְ</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_16_58_5">אַ֣תְּ</span>
<span class="mila" data-lnk="3221227907" data-exlnk="0" id="M_16_58_6">נְשָׂאתִ֑ים</span>
<span class="mila" data-lnk="1342179842" data-exlnk="0" id="M_16_58_7">נְאֻ֖ם</span>
<span class="mila" data-lnk="3758098946" data-exlnk="0" id="M_16_58_8">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6433">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="6434">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_59" data-pasuk-now="14"><span class="pasuk-header">[נט]</span>
<span class="mila" data-lnk="268436136" data-exlnk="0" id="M_16_59_1">כִּ֣י</span>
<span class="mila" data-lnk="268436136" data-exlnk="0" id="M_16_59_2">כֹ֤ה</span>
<span class="mila" data-lnk="268436008" data-exlnk="0" id="M_16_59_3">אָמַר֙</span>
<span class="mila" data-lnk="268436008" data-exlnk="0" id="M_16_59_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="536871464" data-exlnk="0" id="M_16_59_5">יְהֹוִ֔ה</span>
<span data-lnk="0" data-exlnk="0" id="M_16_59_6" class="mila ktiv">וְעָשִׂ֥יתִ</span>
<span data-lnk="3221227823" data-exlnk="0" id="M_16_59_6_K" class="mila kri">וְעָשִׂ֥יתִי</span>
<span class="mila" data-lnk="805307299" data-exlnk="0" id="M_16_59_7">אוֹתָ֖ךְ</span>
<span class="mila" data-lnk="295" data-exlnk="0" id="M_16_59_8">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="295" data-exlnk="0" id="M_16_59_9">עָשִׂ֑ית</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_16_59_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6446">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_16_59_11">בָּזִ֥ית</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_59_12">אָלָ֖ה</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_59_13">לְהָפֵ֥ר</span>
<span class="mila" data-lnk="427" data-exlnk="0" id="M_16_59_14">בְּרִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6451">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_60" data-pasuk-now="11"><span class="pasuk-header">[ס]</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_16_60_1">וְזָכַרְתִּ֨י</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_16_60_2">אֲנִ֧י</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_16_60_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6455">־</span><span class="mila" data-lnk="3221227791" data-exlnk="0" id="M_16_60_4">בְּרִיתִ֛י</span>
<span class="mila" data-lnk="4026534670" data-exlnk="0" id="M_16_60_5">אוֹתָ֖ךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_60_6">בִּימֵ֣י</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_16_60_7">נְעוּרָ֑יִךְ</span>
<span class="mila" data-lnk="4026535818" data-exlnk="0" id="M_16_60_8">וַהֲקִימוֹתִ֥י</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_60_9">לָ֖ךְ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_60_10">בְּרִ֥ית</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_16_60_11">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6464">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_61" data-pasuk-now="18"><span class="pasuk-header">[סא]</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_16_61_1">וְזָכַ֣רְתְּ</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_16_61_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6467">־</span><span class="mila" data-lnk="397" data-exlnk="0" id="M_16_61_3">דְּרָכַיִךְ֘</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_16_61_4">וְנִכְלַמְתְּ֒</span>
<span class="mila" data-lnk="165" data-exlnk="0" id="M_16_61_5">בְּקַחְתֵּ֗ךְ</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_16_61_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6472">־</span><span class="mila" data-lnk="4026534661" data-exlnk="0" id="M_16_61_7">אֲחוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_16_61_8">הַגְּדֹל֣וֹת</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_16_61_9">מִמֵּ֔ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_16_61_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6477">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_16_61_11">הַקְּטַנּ֖וֹת</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_16_61_12">מִמֵּ֑ךְ</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_16_61_13">וְנָתַתִּ֨י</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_16_61_14">אֶתְהֶ֥ן</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_16_61_15">לָ֛ךְ</span>
<span class="mila" data-lnk="4026534702" data-exlnk="0" id="M_16_61_16">לְבָנ֖וֹת</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_16_61_17">וְלֹ֥א</span>
<span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_16_61_18">מִבְּרִיתֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6486">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_62" data-pasuk-now="9"><span class="pasuk-header">[סב]</span>
<span class="mila" data-lnk="4026534538" data-exlnk="0" id="M_16_62_1">וַהֲקִימֹתִ֥י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_16_62_2">אֲנִ֛י</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_16_62_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6490">־</span><span class="mila" data-lnk="398" data-exlnk="0" id="M_16_62_4">בְּרִיתִ֖י</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_16_62_5">אִתָּ֑ךְ</span>
<span class="mila" data-lnk="805306884" data-exlnk="0" id="M_16_62_6">וְיָדַ֖עַתְּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_62_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6495">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_16_62_8">אֲנִ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_16_62_9">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6498">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_16_63" data-pasuk-now="19"><span class="pasuk-header">[סג]</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_16_63_1">לְמַ֤עַן</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_16_63_2">תִּזְכְּרִי֙</span>
<span class="mila" data-lnk="3221227823" data-exlnk="0" id="M_16_63_3">וָבֹ֔שְׁתְּ</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_16_63_4">וְלֹ֨א</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_16_63_5">יִֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6504">־</span><span class="mila" data-lnk="429" data-exlnk="0" id="M_16_63_6">לָּ֥ךְ</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_16_63_7">עוֹד֙</span>
<span class="mila" data-lnk="1342180236" data-exlnk="0" id="M_16_63_8">פִּתְח֣וֹן</span>
<span class="mila" data-lnk="2952792972" data-exlnk="0" id="M_16_63_9">פֶּ֔ה</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_16_63_10">מִפְּנֵ֖י</span>
<span class="mila" data-lnk="296" data-exlnk="0" id="M_16_63_11">כְּלִמָּתֵ֑ךְ</span>
<span class="mila" data-lnk="3221227557" data-exlnk="0" id="M_16_63_12">בְּכַפְּרִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6512">־</span><span class="mila" data-lnk="421" data-exlnk="0" id="M_16_63_13">לָךְ֙</span>
<span class="mila" data-lnk="420" data-exlnk="0" id="M_16_63_14">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6515">־</span><span class="mila" data-lnk="421" data-exlnk="0" id="M_16_63_15">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="421" data-exlnk="0" id="M_16_63_16">עָשִׂ֔ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_63_17">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_16_63_18">אֲדנָ֥י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_16_63_19">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6522">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6523"> פ </span>
</span>
<br /></p>