<p id="PR_24" data-perek-now="375" data-perek-nops="27"><span class="perek-header">פרק כד</span>
<br /><span id="PS_24_1" data-pasuk-now="11"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_24_1_1">וַיְהִי֩</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_1_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10529">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_1_3">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_4">אֵלַ֜י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_24_1_5">בַּשָּׁנָ֤ה</span>
<span class="mila" data-lnk="4026534405" data-exlnk="0" id="M_24_1_6">הַתְּשִׁיעִית֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_1_7">בַּחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_1_8">הָעֲשִׂירִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_9">בֶּעָשׂ֥וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_10">לַחֹ֖דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_11">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10539">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_2" data-pasuk-now="19"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_24_2_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10541">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_24_2_2">אָדָ֗ם</span>
<span class="mila" data-lnk="4026534410" data-exlnk="0" id="M_24_2_3">כְּתָוב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10544">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_24_2_4">לְךָ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_24_2_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10547">־</span><span class="mila" data-lnk="142" data-exlnk="0" id="M_24_2_6">שֵׁ֣ם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_2_7">הַיּ֔וֹם</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_24_2_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10551">־</span><span class="mila" data-lnk="138" data-exlnk="0" id="M_24_2_9">עֶ֖צֶם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_2_10">הַיּ֣וֹם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_2_11">הַזֶּ֑ה</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_2_12">סָמַ֤ךְ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_2_13">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10557">־</span><span class="mila" data-lnk="143" data-exlnk="0" id="M_24_2_14">בָּבֶל֙</span>
<span class="mila" data-lnk="1342179982" data-exlnk="0" id="M_24_2_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10560">־</span><span class="mila" data-lnk="3758099086" data-exlnk="0" id="M_24_2_16">יְר֣וּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_2_17">בְּעֶ֖צֶם</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_24_2_18">הַיּ֥וֹם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_2_19">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10565">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_3" data-pasuk-now="18"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_24_3_1">וּמְשֹׁ֤ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_3_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10568">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_24_3_3">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10570">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_24_3_4">הַמֶּ֙רִי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_3_5">מָשָׁ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_3_6">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_7">אֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_3_8">כֹּ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_3_9">אָמַ֖ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_3_10">אֲדנָ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_3_11">יְהֹוִ֑ה</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_24_3_12">שְׁפֹ֤ת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_3_13">הַסִּיר֙</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_24_3_14">שְׁפֹ֔ת</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_24_3_15">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10583">־</span><span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_3_16">יְצֹ֥ק</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_3_17">בּ֖וֹ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_3_18">מָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10587">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_4" data-pasuk-now="11"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_4_1">אֱסֹ֤ף</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_4_2">נְתָחֶ֙יהָ֙</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_4_3">אֵלֶ֔יהָ</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_24_4_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10592">־</span><span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_24_4_5">נֵ֥תַח</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_24_4_6">ט֖וֹב</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_4_7">יָרֵ֣ךְ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_4_8">וְכָתֵ֑ף</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_4_9">מִבְחַ֥ר</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_4_10">עֲצָמִ֖ים</span>
<span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_24_4_11">מַלֵּֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10600">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_5_1">מִבְחַ֤ר</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_5_2">הַצֹּאן֙</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_24_5_3">לָק֔וֹחַ</span>
<span class="mila" data-lnk="805307275" data-exlnk="0" id="M_24_5_4">וְגַ֛ם</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_5_5">דּ֥וּר</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_5_6">הָעֲצָמִ֖ים</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_5_7">תַּחְתֶּ֑יהָ</span>
<span class="mila" data-lnk="3221227663" data-exlnk="0" id="M_24_5_8">רַתַּ֣ח</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_24_5_9">רְתָחֶ֔יהָ</span>
<span class="mila" data-lnk="536871560" data-exlnk="0" id="M_24_5_10">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10611">־</span><span class="mila" data-lnk="138" data-exlnk="0" id="M_24_5_11">בָּשְׁל֥וּ</span>
<span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_24_5_12">עֲצָמֶ֖יהָ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_5_13">בְּתוֹכָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10616">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10617">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_6" data-pasuk-now="23"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="268436104" data-exlnk="0" id="M_24_6_1">לָכֵ֞ן</span>
<span class="mila" data-lnk="268435976" data-exlnk="0" id="M_24_6_2">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10620">־</span><span class="mila" data-lnk="268435968" data-exlnk="0" id="M_24_6_3">אָמַ֣ר׀</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_24_6_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="536871432" data-exlnk="0" id="M_24_6_5">יְהֹוִ֗ה</span>
<span class="mila" data-lnk="3489663616" data-exlnk="0" id="M_24_6_6">אוֹי֘</span>
<span class="mila" data-lnk="3758099082" data-exlnk="0" id="M_24_6_7">עִ֣יר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_6_8">הַדָּמִים֒</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_6_9">סִ֚יר</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_24_6_10">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_6_11">חֶלְאָתָ֣ה</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_6_12">בָ֔הּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_6_13">וְחֶ֨לְאָתָ֔הּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_6_14">לֹ֥א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_6_15">יָצְאָ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_6_16">מִמֶּ֑נָּה</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_24_6_17">לִנְתָחֶ֤יהָ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_6_18">לִנְתָחֶ֙יהָ֙</span>
<span class="mila" data-lnk="3221227918" data-exlnk="0" id="M_24_6_19">הֽוֹצִיאָ֔הּ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_6_20">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10639">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_24_6_21">נָפַ֥ל</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_6_22">עָלֶ֖יהָ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_6_23">גּוֹרָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10643">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_7" data-pasuk-now="15"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_24_7_1">כִּ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_7_2">דָמָהּ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_7_3">בְּתוֹכָ֣הּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_7_4">הָיָ֔ה</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_7_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10649">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_24_7_6">צְחִ֥יחַ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_7_7">סֶ֖לַע</span>
<span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_24_7_8">שָׂמָ֑תְהוּ</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_24_7_9">לֹ֤א</span>
<span class="mila" data-lnk="3221227649" data-exlnk="0" id="M_24_7_10">שְׁפָכַ֙תְהוּ֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_24_7_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10656">־</span><span class="mila" data-lnk="135" data-exlnk="0" id="M_24_7_12">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_13">לְכַסּ֥וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_7_14">עָלָ֖יו</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_24_7_15">עָפָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10661">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_8_1">לְהַעֲל֤וֹת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_8_2">חֵמָה֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_8_3">לִנְקֹ֣ם</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_24_8_4">נָקָ֔ם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_8_5">נָתַ֥תִּי</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_24_8_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10668">־</span><span class="mila" data-lnk="142" data-exlnk="0" id="M_24_8_7">דָּמָ֖הּ</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_24_8_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10671">־</span><span class="mila" data-lnk="134" data-exlnk="0" id="M_24_8_9">צְחִ֣יחַ</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_24_8_10">סָ֑לַע</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_24_8_11">לְבִלְתִּ֖י</span>
<span class="mila" data-lnk="3221227658" data-exlnk="0" id="M_24_8_12">הִכָּסֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10677">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10678"> פ </span>
</span>
<br /><span id="PS_24_9" data-pasuk-now="12"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="268436108" data-exlnk="0" id="M_24_9_1">לָכֵ֗ן</span>
<span class="mila" data-lnk="268435976" data-exlnk="0" id="M_24_9_2">כֹּ֤ה</span>
<span class="mila" data-lnk="268435976" data-exlnk="0" id="M_24_9_3">אָמַר֙</span>
<span class="mila" data-lnk="268435976" data-exlnk="0" id="M_24_9_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="805306888" data-exlnk="0" id="M_24_9_5">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="1342179968" data-exlnk="0" id="M_24_9_6">א֖וֹי</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_24_9_7">עִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_8">הַדָּמִ֑ים</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_24_9_9">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10688">־</span><span class="mila" data-lnk="142" data-exlnk="0" id="M_24_9_10">אֲנִ֖י</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_9_11">אַגְדִּ֥יל</span>
<span class="mila" data-lnk="3221227663" data-exlnk="0" id="M_24_9_12">הַמְּדוּרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10692">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_24_10_1">הַרְבֵּ֤ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_10_2">הָעֵצִים֙</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_24_10_3">הַדְלֵ֣ק</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_24_10_4">הָאֵ֔שׁ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_10_5">הָתֵ֖ם</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_10_6">הַבָּשָׂ֑ר</span>
<span class="mila" data-lnk="3221227791" data-exlnk="0" id="M_24_10_7">וְהַרְקַח֙</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_10_8">הַמֶּרְקָחָ֔ה</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_24_10_9">וְהָעֲצָמ֖וֹת</span>
<span class="mila" data-lnk="3221227917" data-exlnk="0" id="M_24_10_10">יֵחָֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10703">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_24_11_1">וְהַעֲמִידֶ֥הָ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_11_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10706">־</span><span class="mila" data-lnk="394" data-exlnk="0" id="M_24_11_3">גֶּחָלֶ֖יהָ</span>
<span class="mila" data-lnk="3221227918" data-exlnk="0" id="M_24_11_4">רֵקָ֑ה</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_11_5">לְמַ֨עַן</span>
<span class="mila" data-lnk="3221227916" data-exlnk="0" id="M_24_11_6">תֵּחַ֜ם</span>
<span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_24_11_7">וְחָ֣רָה</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_11_8">נְחֻשְׁתָּ֗הּ</span>
<span class="mila" data-lnk="3221227916" data-exlnk="0" id="M_24_11_9">וְנִתְּכָ֤ה</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_24_11_10">בְתוֹכָהּ֙</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_24_11_11">טֻמְאָתָ֔הּ</span>
<span class="mila" data-lnk="3221227784" data-exlnk="0" id="M_24_11_12">תִּתֻּ֖ם</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_24_11_13">חֶלְאָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10718">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_12" data-pasuk-now="9"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_12_1">תְּאֻנִ֖ים</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_12_2">הֶלְאָ֑ת</span>
<span class="mila" data-lnk="1342180239" data-exlnk="0" id="M_24_12_3">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10722">־</span><span class="mila" data-lnk="3758099338" data-exlnk="0" id="M_24_12_4">תֵצֵ֤א</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_12_5">מִמֶּ֙נָּה֙</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_12_6">רַבַּ֣ת</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_24_12_7">חֶלְאָתָ֔הּ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_12_8">בְּאֵ֖שׁ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_24_12_9">חֶלְאָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10729">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_13" data-pasuk-now="15"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_24_13_1">בְּטֻמְאָתֵ֖ךְ</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_24_13_2">זִמָּ֑ה</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_24_13_3">יַ֤עַן</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_13_4">טִֽהַרְתִּיךְ֙</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_24_13_5">וְלֹ֣א</span>
<span class="mila" data-lnk="3221227657" data-exlnk="0" id="M_24_13_6">טָהַ֔רְתְּ</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_24_13_7">מִטֻּמְאָתֵךְ֙</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_13_8">לֹ֣א</span>
<span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_24_13_9">תִטְהֲרִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10739">־</span><span class="mila" data-lnk="398" data-exlnk="0" id="M_24_13_10">ע֔וֹד</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_24_13_11">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10742">־</span><span class="mila" data-lnk="3221227656" data-exlnk="0" id="M_24_13_12">הֲנִיחִ֥י</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_24_13_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10745">־</span><span class="mila" data-lnk="390" data-exlnk="0" id="M_24_13_14">חֲמָתִ֖י</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_24_13_15">בָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10748">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_14" data-pasuk-now="17"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1342179976" data-exlnk="0" id="M_24_14_1">אֲנִ֨י</span>
<span class="mila" data-lnk="1342179848" data-exlnk="0" id="M_24_14_2">יְהוָ֤ה</span>
<span class="mila" data-lnk="3758098952" data-exlnk="0" id="M_24_14_3">דִּבַּ֙רְתִּי֙</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_24_14_4">בָּאָ֣ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_24_14_5">וְעָשִׂ֔יתִי</span>
<span class="mila" data-lnk="805307151" data-exlnk="0" id="M_24_14_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10755">־</span><span class="mila" data-lnk="3221227791" data-exlnk="0" id="M_24_14_7">אֶפְרַ֥ע</span>
<span class="mila" data-lnk="536871554" data-exlnk="0" id="M_24_14_8">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10758">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_24_14_9">אָח֖וּס</span>
<span class="mila" data-lnk="536871555" data-exlnk="0" id="M_24_14_10">וְלֹ֣א</span>
<span class="mila" data-lnk="4026534531" data-exlnk="0" id="M_24_14_11">אֶנָּחֵ֑ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_14_12">כִּדְרָכַ֤יִךְ</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_24_14_13">וְכַעֲלִילוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="3221227528" data-exlnk="0" id="M_24_14_14">שְׁפָט֔וּךְ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_14_15">נְאֻ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_14_16">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_17">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10769">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10770"> פ </span>
</span>
<br /><span id="PS_24_15" data-pasuk-now="5"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_15_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10773">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_4">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10777">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_16" data-pasuk-now="16"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3489663616" data-exlnk="0" id="M_24_16_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10779">־</span><span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_24_16_2">אָדָ֕ם</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_24_16_3">הִנְנִ֨י</span>
<span class="mila" data-lnk="4026534658" data-exlnk="0" id="M_24_16_4">לֹקֵ֧חַ</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_24_16_5">מִמְּךָ֛</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_24_16_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10785">־</span><span class="mila" data-lnk="389" data-exlnk="0" id="M_24_16_7">מַחְמַ֥ד</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_24_16_8">עֵינֶ֖יךָ</span>
<span class="mila" data-lnk="3221227916" data-exlnk="0" id="M_24_16_9">בְּמַגֵּפָ֑ה</span>
<span class="mila" data-lnk="4026533514" data-exlnk="0" id="M_24_16_10">וְלֹ֤א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_16_11">תִסְפֹּד֙</span>
<span class="mila" data-lnk="4026533386" data-exlnk="0" id="M_24_16_12">וְלֹ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_16_13">תִבְכֶּ֔ה</span>
<span class="mila" data-lnk="4026534542" data-exlnk="0" id="M_24_16_14">וְל֥וֹא</span>
<span class="mila" data-lnk="2684357262" data-exlnk="0" id="M_24_16_15">תָב֖וֹא</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_16_16">דִּמְעָתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10796">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_17" data-pasuk-now="20"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_17_1">הֵאָנֵ֣ק</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="10798">׀</span>
<span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_24_17_2">דֹּ֗ם</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_17_3">מֵתִים֙</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_17_4">אֵ֣בֶל</span>
<span class="mila" data-lnk="805307274" data-exlnk="0" id="M_24_17_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10803">־</span><span class="mila" data-lnk="394" data-exlnk="0" id="M_24_17_6">תַֽעֲשֶׂ֔ה</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_24_17_7">פְּאֵֽרְךָ֙</span>
<span class="mila" data-lnk="4026534666" data-exlnk="0" id="M_24_17_8">חֲב֣וֹשׁ</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_24_17_9">עָלֶ֔יךָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_17_10">וּנְעָלֶ֖יךָ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_17_11">תָּשִׂ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_12">בְּרַגְלֶ֑יךָ</span>
<span class="mila" data-lnk="536871822" data-exlnk="0" id="M_24_17_13">וְלֹ֤א</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_17_14">תַעְטֶה֙</span>
<span class="mila" data-lnk="536871822" data-exlnk="0" id="M_24_17_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10814">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_24_17_16">שָׂפָ֔ם</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_17_17">וְלֶ֥חֶם</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_24_17_18">אֲנָשִׁ֖ים</span>
<span class="mila" data-lnk="536871818" data-exlnk="0" id="M_24_17_19">לֹ֥א</span>
<span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_24_17_20">תֹאכֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10820">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_18" data-pasuk-now="11"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_24_18_1">וָאֲדַבֵּ֤ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_24_18_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10823">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_24_18_3">הָעָם֙</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_18_4">בַּבֹּ֔קֶר</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_18_5">וַתָּ֥מָת</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_18_6">אִשְׁתִּ֖י</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_18_7">בָּעָ֑רֶב</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_18_8">וָאַ֥עַשׂ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_24_18_9">בַּבֹּ֖קֶר</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_24_18_10">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026534663" data-exlnk="0" id="M_24_18_11">צֻוֵּֽיתִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10833">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_19" data-pasuk-now="12"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_24_19_1">וַיֹּאמְר֥וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_19_2">אֵלַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_3">הָעָ֑ם</span>
<span class="mila" data-lnk="4026534658" data-exlnk="0" id="M_24_19_4">הֲלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10838">־</span><span class="mila" data-lnk="386" data-exlnk="0" id="M_24_19_5">תַגִּ֥יד</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_19_6">לָ֙נוּ֙</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_24_19_7">מָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10842">־</span><span class="mila" data-lnk="387" data-exlnk="0" id="M_24_19_8">אֵ֣לֶּה</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_24_19_9">לָּ֔נוּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_19_10">כִּ֥י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_24_19_11">אַתָּ֖ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_24_19_12">עֹשֶֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10848">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_20" data-pasuk-now="7"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_24_20_1">וָאֹמַ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_2">אֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_3">דְּבַ֨ר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10852">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_5">הָיָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_6">אֵלַ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_20_7">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10857">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_21" data-pasuk-now="23"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="1342179976" data-exlnk="0" id="M_24_21_1">אֱמֹ֣ר׀</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_24_21_2">לְבֵ֣ית</span>
<span class="mila" data-lnk="2952792576" data-exlnk="0" id="M_24_21_3">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_4">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10862">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_5">אָמַר֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_6">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_7">יְהֹוִה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_8">הִנְנִ֨י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_24_21_9">מְחַלֵּ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10869">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_21_11">מִקְדָּשִׁי֙</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_21_12">גְּא֣וֹן</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_21_13">עֻזְּכֶ֔ם</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_24_21_14">מַחְמַ֥ד</span>
<span class="mila" data-lnk="805307020" data-exlnk="0" id="M_24_21_15">עֵינֵיכֶ֖ם</span>
<span class="mila" data-lnk="3221227660" data-exlnk="0" id="M_24_21_16">וּמַחְמַ֣ל</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_24_21_17">נַפְשְׁכֶ֑ם</span>
<span class="mila" data-lnk="3489664526" data-exlnk="0" id="M_24_21_18">וּבְנֵיכֶ֧ם</span>
<span class="mila" data-lnk="4026535438" data-exlnk="0" id="M_24_21_19">וּבְנוֹתֵיכֶ֛ם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_21_20">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_24_21_21">עֲזַבְתֶּ֖ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_24_21_22">בַּחֶ֥רֶב</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_24_21_23">יִפֹּֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10883">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_22" data-pasuk-now="11"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_22_1">וַעֲשִׂיתֶ֖ם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_24_22_2">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_24_22_3">עָשִׂ֑יתִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_22_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10888">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_24_22_5">שָׂפָם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_22_6">לֹ֣א</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_24_22_7">תַעְט֔וּ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_22_8">וְלֶ֥חֶם</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_22_9">אֲנָשִׁ֖ים</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_24_22_10">לֹ֥א</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_24_22_11">תֹאכֵֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10896">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_23" data-pasuk-now="15"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="3221227656" data-exlnk="0" id="M_24_23_1">וּפְאֵרֵכֶ֣ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_23_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10899">־</span><span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_24_23_3">רָאשֵׁיכֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_4">וְנַֽעֲלֵיכֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_5">בְּרַגְלֵיכֶ֔ם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_24_23_6">לֹ֥א</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_23_7">תִסְפְּד֖וּ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_24_23_8">וְלֹ֣א</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_24_23_9">תִבְכּ֑וּ</span>
<span class="mila" data-lnk="3221227661" data-exlnk="0" id="M_24_23_10">וּנְמַקֹּתֶם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_23_11">בַּעֲוֺנֹ֣תֵיכֶ֔ם</span>
<span class="mila" data-lnk="3221227662" data-exlnk="0" id="M_24_23_12">וּנְהַמְתֶּ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_23_13">אִ֥ישׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_23_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10912">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_23_15">אָחִֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10914">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_24" data-pasuk-now="14"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_24_24_1">וְהָיָ֨ה</span>
<span class="mila" data-lnk="4026535566" data-exlnk="0" id="M_24_24_2">יְחֶזְקֵ֤אל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_24_24_3">לָכֶם֙</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_24_24_4">לְמוֹפֵ֔ת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_24_5">כְּכֹ֥ל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_24_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10921">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_24_24_7">עָשָׂ֖ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_24_8">תַּעֲשׂ֑וּ</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_24_24_9">בְּבוֹאָ֕הּ</span>
<span class="mila" data-lnk="1879050882" data-exlnk="0" id="M_24_24_10">וִידַעְתֶּ֕ם</span>
<span class="mila" data-lnk="1342179978" data-exlnk="0" id="M_24_24_11">כִּ֥י</span>
<span class="mila" data-lnk="1342179978" data-exlnk="0" id="M_24_24_12">אֲנִ֖י</span>
<span class="mila" data-lnk="1342179978" data-exlnk="0" id="M_24_24_13">אֲדנָ֥י</span>
<span class="mila" data-lnk="2684357128" data-exlnk="0" id="M_24_24_14">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10931">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10932">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_25" data-pasuk-now="19"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_24_25_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_2">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10935">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_3">אָדָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_4">הֲל֗וֹא</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_25_5">בְּי֨וֹם</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_24_25_6">קַחְתִּ֤י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_25_7">מֵהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10942">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_24_25_9">מָ֣עוּזָּ֔ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_25_10">מְשׂ֖וֹשׂ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_25_11">תִּפְאַרְתָּ֑ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_24_25_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10947">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_24_25_13">מַחְמַ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_14">עֵינֵיהֶם֙</span>
<span class="mila" data-lnk="3221227914" data-exlnk="0" id="M_24_25_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10951">־</span><span class="mila" data-lnk="2147486091" data-exlnk="0" id="M_24_25_16">מַשָּׂ֣א</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_24_25_17">נַפְשָׁ֔ם</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_25_18">בְּנֵיהֶ֖ם</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_24_25_19">וּבְנוֹתֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10956">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_24_26_1">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_24_26_2">הַה֔וּא</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_24_26_3">יָב֥וֹא</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_26_4">הַפָּלִ֖יט</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_24_26_5">אֵלֶ֑יךָ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_24_26_6">לְהַשְׁמָע֖וּת</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_24_26_7">אָזְנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10964">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_27" data-pasuk-now="17"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_24_27_1">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_24_27_2">הַה֗וּא</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_24_27_3">יִפָּ֤תַח</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_24_27_4">פִּ֙יךָ֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_24_27_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10970">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_24_27_6">הַפָּלִ֔יט</span>
<span class="mila" data-lnk="4026534793" data-exlnk="0" id="M_24_27_7">וּתְדַבֵּ֕ר</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_27_8">וְלֹ֥א</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_27_9">תֵאָלֵ֖ם</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_24_27_10">ע֑וֹד</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_24_27_11">וְהָיִ֤יתָ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_24_27_12">לָהֶם֙</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_24_27_13">לְמוֹפֵ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_14">וְיָדְע֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_15">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10981">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_16">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_17">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10985">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10986"> פ </span>
</span>
<br /></p>