<p id="PR_48" data-perek-now="527" data-perek-nops="35"><span class="perek-header">פרק מח</span>
<br /><span id="PS_48_1" data-pasuk-now="26"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_1_1">וְאֵ֖לֶּה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_1_2">שְׁמ֣וֹת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_1_3">הַשְּׁבָטִ֑ים</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_1_4">מִקְצֵ֣ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_1_5">צָפ֡וֹנָה</span>
<span class="mila" data-lnk="805306884" data-exlnk="0" id="M_48_1_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22256">־</span><span class="mila" data-lnk="536871428" data-exlnk="0" id="M_48_1_7">יַ֣ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_1_8">דֶּֽרֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22259">־</span><span class="mila" data-lnk="4026534404" data-exlnk="0" id="M_48_1_9">חֶתְלֹ֣ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="22261">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_1_10">לְֽבוֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22263">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_1_11">חֲמָ֡ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_1_12">חֲצַ֣ר</span>
<span class="mila" data-lnk="805306881" data-exlnk="0" id="M_48_1_13">עֵינָן֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_1_14">גְּב֨וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_1_15">דַּמֶּ֤שֶׂק</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_1_16">צָפ֙וֹנָה֙</span>
<span class="mila" data-lnk="1073743872" data-exlnk="0" id="M_48_1_17">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22271">־</span><span class="mila" data-lnk="2147485696" data-exlnk="0" id="M_48_1_18">יַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_1_19">חֲמָ֔ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_1_20">וְהָיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22275">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_48_1_21">ל֧וֹ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_1_22">פְאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22278">־</span><span class="mila" data-lnk="4026533389" data-exlnk="0" id="M_48_1_23">קָדִ֛ים</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_1_24">הַיָּ֖ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_1_25">דָּ֥ן</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_1_26">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22283">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_2" data-pasuk-now="10"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_2_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_2_2">גְּב֣וּל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_2_3">דָּ֗ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_2_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="805306888" data-exlnk="0" id="M_48_2_5">קָדִ֛ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_2_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22290">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_48_2_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22292">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_48_2_8">יָ֖מָּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_2_9">אָשֵׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_2_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22296">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_3" data-pasuk-now="10"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_3">אָשֵׁ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_5">קָדִ֛ימָה</span>
<span class="mila" data-lnk="1879050752" data-exlnk="0" id="M_48_3_6">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22303">־</span><span class="mila" data-lnk="2952792576" data-exlnk="0" id="M_48_3_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22305">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_8">יָ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_9">נַפְתָּלִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_3_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22309">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_4" data-pasuk-now="10"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_3">נַפְתָּלִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_48_4_5">קָדִ֛מָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22316">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22318">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_8">יָ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_9">מְנַשֶּׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_4_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22322">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_5" data-pasuk-now="10"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_3">מְנַשֶּׁ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_48_5_5">קָדִ֛מָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22329">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22331">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_8">יָ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_9">אֶפְרַ֥יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_5_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22335">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_6_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_6_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_6_3">אֶפְרַ֗יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_6_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_48_6_5">קָדִ֛ים</span>
<span class="mila" data-lnk="1879050752" data-exlnk="0" id="M_48_6_6">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22342">־</span><span class="mila" data-lnk="2952792576" data-exlnk="0" id="M_48_6_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22344">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_6_8">יָ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_6_9">רְאוּבֵ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_6_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22348">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_7" data-pasuk-now="10"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_3">רְאוּבֵ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_48_7_5">קָדִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22355">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22357">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_8">יָ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_9">יְהוּדָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_7_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22361">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_8" data-pasuk-now="27"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_8_1">וְעַל֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_8_2">גְּב֣וּל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_8_3">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_48_8_5">קָדִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22368">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22370">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_8">יָ֑מָּה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_8_9">תִּֽהְיֶ֣ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_8_10">הַתְּרוּמָ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_8_11">אֲֽשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22375">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_48_8_12">תָּרִ֡ימוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_8_13">חֲמִשָּׁה֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_8_14">וְעֶשְׂרִ֨ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_8_15">אֶ֜לֶף</span>
<span class="mila" data-lnk="3489662468" data-exlnk="0" id="M_48_8_16">רֹ֗חַב</span>
<span class="mila" data-lnk="4026533376" data-exlnk="0" id="M_48_8_17">וְאֹ֜רֶךְ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_48_8_18">כְּאַחַ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_19">הַֽחֲלָקִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_20">מִפְּאַ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_21">קָדִ֙ימָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_22">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22387">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_23">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22389">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_8_24">יָ֔מָּה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_8_25">וְהָיָ֥ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_8_26">הַמִּקְדָּ֖שׁ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_8_27">בְּתוֹכֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22394">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_9" data-pasuk-now="11"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_9_1">הַתְּרוּמָ֕ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_9_2">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_9_3">תָּרִ֖ימוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_9_4">לַיהוָ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_9_5">אֹ֗רֶךְ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_9_6">חֲמִשָּׁ֤ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_9_7">וְעֶשְׂרִים֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_9_8">אֶ֔לֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_9_9">וְרֹ֖חַב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_9_10">עֲשֶׂ֥רֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_9_11">אֲלָפִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22406">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_10" data-pasuk-now="26"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026534401" data-exlnk="0" id="M_48_10_1">וּ֠לְאֵ֜לֶּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_2">תִּהְיֶ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_3">תְרוּמַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22410">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_4">הַקֹּדֶשׁ֘</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_5">לַכֹּהֲנִים֒</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_10_6">צָפ֜וֹנָה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_10_7">חֲמִשָּׁ֧ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_10_8">וְעֶשְׂרִ֣ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_10_9">אֶ֗לֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_10">וְיָ֙מָּה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_11">רֹ֚חַב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_12">עֲשֶׂ֣רֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_13">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_14">וְקָדִ֗ימָה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_15">רֹ֚חַב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_16">עֲשֶׂ֣רֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_17">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="805306885" data-exlnk="0" id="M_48_10_18">וְנֶ֕גְבָּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_19">אֹ֕רֶךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_20">חֲמִשָּׁ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_21">וְעֶשְׂרִ֖ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_22">אָ֑לֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_23">וְהָיָ֥ה</span>
<span class="mila" data-lnk="1342179841" data-exlnk="0" id="M_48_10_24">מִקְדַּשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22432">־</span><span class="mila" data-lnk="3758098945" data-exlnk="0" id="M_48_10_25">יְהוָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_10_26">בְּתוֹכֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22435">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_11" data-pasuk-now="16"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_11_1">לַכֹּהֲנִ֤ים</span>
<span class="mila" data-lnk="3221227533" data-exlnk="0" id="M_48_11_2">הַֽמֲקֻדָּשׁ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_11_3">מִבְּנֵ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_11_4">צָד֔וֹק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_5">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_6">שָׁמְר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_7">מִשְׁמַרְתִּ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_9">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22445">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_10">תָע֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_11_11">בִּתְעוֹת֙</span>
<span class="mila" data-lnk="1342178816" data-exlnk="0" id="M_48_11_12">בְּנֵ֣י</span>
<span class="mila" data-lnk="3758097920" data-exlnk="0" id="M_48_11_13">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_11_14">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_11_15">תָּע֖וּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_11_16">הַלְוִיִּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22453">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_12_1">וְהָיְתָ֨ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_12_2">לָהֶ֧ם</span>
<span class="mila" data-lnk="3221227529" data-exlnk="0" id="M_48_12_3">תְּרוּמִיָּ֛ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_12_4">מִתְּרוּמַ֥ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_12_5">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="805306889" data-exlnk="0" id="M_48_12_6">קֹ֣דֶשׁ</span>
<span class="mila" data-lnk="536871433" data-exlnk="0" id="M_48_12_7">קָדָשִׁ֑ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_12_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22462">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_48_12_9">גְּב֖וּל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_12_10">הַלְוִיִּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22465">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_13" data-pasuk-now="19"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_13_1">וְהַלְוִיִּ֗ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_13_2">לְעֻמַּת֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_13_3">גְּב֣וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_13_4">הַכֹּהֲנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_5">חֲמִשָּׁ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_6">וְעֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_7">אֶ֙לֶף֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_8">אֹ֔רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_9">וְרֹ֖חַב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_10">עֲשֶׂ֣רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_11">אֲלָפִ֑ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_13_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22478">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_48_13_13">אֹ֗רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_14">חֲמִשָּׁ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_15">וְעֶשְׂרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_16">אֶ֔לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_17">וְרֹ֖חַב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_18">עֲשֶׂ֥רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_13_19">אֲלָפִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22486">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026534412" data-exlnk="0" id="M_48_14_1">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22488">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_48_14_2">יִמְכְּר֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_14_3">מִמֶּ֗נּוּ</span>
<span class="mila" data-lnk="805306893" data-exlnk="0" id="M_48_14_4">וְלֹ֥א</span>
<span class="mila" data-lnk="3221227529" data-exlnk="0" id="M_48_14_5">יָמֵ֛ר</span>
<span class="mila" data-lnk="805306893" data-exlnk="0" id="M_48_14_6">וְלֹ֥א</span>
<span data-lnk="0" data-exlnk="0" id="M_48_14_7" class="mila ktiv">יַעֲבִ֖ור</span>
<span data-lnk="3221227532" data-exlnk="0" id="M_48_14_7_K" class="mila kri">יַעֲבִ֖יר</span>
<span class="mila" data-lnk="805306888" data-exlnk="0" id="M_48_14_8">רֵאשִׁ֣ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_14_9">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_14_10">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22499">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_48_14_11">קֹ֖דֶשׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_14_12">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22502">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_15" data-pasuk-now="17"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_15_1">וַחֲמֵ֨שֶׁת</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_15_2">אֲלָפִ֜ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_15_3">הַנּוֹתָ֣ר</span>
<span class="mila" data-lnk="3221227525" data-exlnk="0" id="M_48_15_4">בָּרֹ֗חַב</span>
<span class="mila" data-lnk="1342179845" data-exlnk="0" id="M_48_15_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22508">־</span><span class="mila" data-lnk="4026534405" data-exlnk="0" id="M_48_15_6">פְּנֵי֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_15_7">חֲמִשָּׁ֤ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_15_8">וְעֶשְׂרִים֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_15_9">אֶ֔לֶף</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_15_10">חֹֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22514">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_48_15_11">ה֣וּא</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_15_12">לָעִ֔יר</span>
<span class="mila" data-lnk="4026535437" data-exlnk="0" id="M_48_15_13">לְמוֹשָׁ֖ב</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_15_14">וּלְמִגְרָ֑שׁ</span>
<span class="mila" data-lnk="4026535425" data-exlnk="0" id="M_48_15_15">וְהָיְתָ֥ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_15_16">הָעִ֖יר</span>
<span data-lnk="0" data-exlnk="0" id="M_48_15_17" class="mila ktiv">בְּתוֹכֹֽה</span>
<span data-lnk="8" data-exlnk="0" id="M_48_15_17_K" class="mila kri">בְּתוֹכֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22523">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_16" data-pasuk-now="27"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_16_1">וְאֵלֶּה֘</span>
<span class="mila" data-lnk="3221227529" data-exlnk="0" id="M_48_16_2">מִדּוֹתֶיהָ֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_16_3">פְּאַ֣ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_16_4">צָפ֗וֹן</span>
<span class="mila" data-lnk="3221227532" data-exlnk="0" id="M_48_16_5">חֲמֵ֤שׁ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_16_6">מֵאוֹת֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_16_7">וְאַרְבַּ֣עַת</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_16_8">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_9">וּפְאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22533">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_10">נֶ֕גֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_11">חֲמֵ֥שׁ</span>
<span data-lnk="1" data-exlnk="0" id="M_48_16_12" class="mila ktiv">חמש</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_16_13">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_14">וְאַרְבַּ֣עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_15">אֲלָפִ֑ים</span>
<span class="mila" data-lnk="1073743872" data-exlnk="0" id="M_48_16_16">וּמִפְּאַ֣ת</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_48_16_17">קָדִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_18">חֲמֵ֤שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_19">מֵאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_20">וְאַרְבַּ֣עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_21">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_22">וּפְאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22547">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_23">יָ֕מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_24">חֲמֵ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_25">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_26">וְאַרְבַּ֥עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_16_27">אֲלָפִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22553">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_17" data-pasuk-now="15"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_17_1">וְהָיָ֣ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_17_2">מִגְרָשׁ֘</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_17_3">לָעִיר֒</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_17_4">צָפ֙וֹנָה֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_17_5">חֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_17_6">וּמָאתַ֔יִם</span>
<span class="mila" data-lnk="805306888" data-exlnk="0" id="M_48_17_7">וְנֶ֖גְבָּה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_17_8">חֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_17_9">וּמָאתָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_10">וְקָדִ֙ימָה֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_17_11">חֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_17_12">וּמָאתַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_17_13">וְיָ֖מָּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_17_14">חֲמִשִּׁ֥ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_17_15">וּמָאתָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22569">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_18" data-pasuk-now="20"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_18_1">וְהַנּוֹתָ֨ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_18_2">בָּאֹ֜רֶךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_18_3">לְעֻמַּ֣ת׀</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_18_4">תְּרוּמַ֣ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_18_5">הַקֹּ֗דֶשׁ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_18_6">עֲשֶׂ֨רֶת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_18_7">אֲלָפִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_8">קָדִ֙ימָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_18_9">וַעֲשֶׂ֤רֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_18_10">אֲלָפִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_11">יָ֔מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_12">וְהָיָ֕ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_13">לְעֻמַּ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_14">תְּרוּמַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_18_15">הַקֹּ֑דֶשׁ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_18_16">וְהָיְתָ֤ה</span>
<span class="mila" data-lnk="4026534409" data-exlnk="0" id="M_48_18_17">תְבֽוּאָתֹה֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_18_18">לְלֶ֔חֶם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_18_19">לְעֹבְדֵ֖י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_18_20">הָעִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22590">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_19" data-pasuk-now="6"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="3221227532" data-exlnk="0" id="M_48_19_1">וְהָעֹבֵ֖ד</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_19_2">הָעִ֑יר</span>
<span class="mila" data-lnk="4026535433" data-exlnk="0" id="M_48_19_3">יַעַבְד֕וּהוּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_19_4">מִכֹּ֖ל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_19_5">שִׁבְטֵ֥י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_19_6">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22597">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_20" data-pasuk-now="16"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_20_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22599">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_48_20_2">הַתְּרוּמָ֗ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_20_3">חֲמִשָּׁ֤ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_20_4">וְעֶשְׂרִים֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_48_20_5">אֶ֔לֶף</span>
<span class="mila" data-lnk="1073743877" data-exlnk="0" id="M_48_20_6">בַּחֲמִשָּׁ֥ה</span>
<span class="mila" data-lnk="2147485701" data-exlnk="0" id="M_48_20_7">וְעֶשְׂרִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_20_8">אָ֑לֶף</span>
<span class="mila" data-lnk="4026534413" data-exlnk="0" id="M_48_20_9">רְבִיעִ֗ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_20_10">תָּרִ֙ימוּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_20_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22610">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_48_20_12">תְּרוּמַ֣ת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_20_13">הַקֹּ֔דֶשׁ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_20_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22614">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_48_20_15">אֲחֻזַּ֖ת</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_20_16">הָעִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22617">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_21" data-pasuk-now="35"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_21_1">וְהַנּוֹתָ֣ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_21_2">לַנָּשִׂ֣יא</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_21_3">מִזֶּ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="22621">׀</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_21_4">וּמִזֶּ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="22623">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_21_5">לִתְרֽוּמַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22625">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_21_6">הַקֹּ֣דֶשׁ</span>
<span class="mila" data-lnk="268435969" data-exlnk="0" id="M_48_21_7">וְלַאֲחֻזַּ֪ת</span>
<span class="mila" data-lnk="805306881" data-exlnk="0" id="M_48_21_8">הָעִ֟יר</span>
<span class="mila" data-lnk="805306885" data-exlnk="0" id="M_48_21_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22630">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_10">פְּנֵ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_11">חֲמִשָּׁה֩</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_12">וְעֶשְׂרִ֨ים</span>
<span class="mila" data-lnk="536871429" data-exlnk="0" id="M_48_21_13">אֶ֥לֶף</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="22635">׀</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_21_14">תְּרוּמָה֘</span>
<span class="mila" data-lnk="536871429" data-exlnk="0" id="M_48_21_15">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22638">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_16">גְּב֣וּל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_17">קָדִימָה֒</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_18">וְיָ֗מָּה</span>
<span class="mila" data-lnk="805306885" data-exlnk="0" id="M_48_21_19">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22643">־</span><span class="mila" data-lnk="805306885" data-exlnk="0" id="M_48_21_20">פְּ֠נֵי</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_21_21">חֲמִשָּׁ֨ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_22">וְעֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="536871428" data-exlnk="0" id="M_48_21_23">אֶ֙לֶף֙</span>
<span class="mila" data-lnk="1879050757" data-exlnk="0" id="M_48_21_24">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22649">־</span><span class="mila" data-lnk="3758098949" data-exlnk="0" id="M_48_21_25">גְּב֣וּל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_26">יָ֔מָּה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_21_27">לְעֻמַּ֥ת</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_21_28">חֲלָקִ֖ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_29">לַנָּשִׂ֑יא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_21_30">וְהָֽיְתָה֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_31">תְּרוּמַ֣ת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_21_32">הַקֹּ֔דֶשׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_21_33">וּמִקְדַּ֥שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_21_34">הַבַּ֖יִת</span>
<span class="mila" data-lnk="4026534413" data-exlnk="0" id="M_48_21_35">בְּתוֹכֹֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22661">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_22" data-pasuk-now="16"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026534401" data-exlnk="0" id="M_48_22_1">וּמֵאֲחֻזַּ֤ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_22_2">הַלְוִיִּם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_22_3">וּמֵאֲחֻזַּ֣ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_22_4">הָעִ֔יר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_5">בְּת֛וֹךְ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_6">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_7">לַנָּשִׂ֖יא</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_8">יִהְיֶ֑ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_9">בֵּ֣ין׀</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_10">גְּב֣וּל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_11">יְהוּדָ֗ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_12">וּבֵין֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_13">גְּב֣וּל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_22_14">בִּנְיָמִ֔ן</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_22_15">לַנָּשִׂ֖יא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_48_22_16">יִהְיֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22678">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_23" data-pasuk-now="9"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_23_1">וְיֶ֖תֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_23_2">הַשְּׁבָטִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_23_3">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_23_4">קָדִ֛ימָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_23_5">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22684">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_23_6">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22686">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_23_7">יָ֖מָּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_23_8">בִּנְיָמִ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_23_9">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22690">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_24" data-pasuk-now="10"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_3">בִּנְיָמִ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_5">קָדִ֛ימָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22697">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22699">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_8">יָ֖מָּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_24_9">שִׁמְע֥וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_24_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22703">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_25" data-pasuk-now="10"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_3">שִׁמְע֗וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_5">קָדִ֛ימָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22710">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22712">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_8">יָ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_9">יִשָּׂשכָ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_25_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22716">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_26" data-pasuk-now="10"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_3">יִשָּׂשכָ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_5">קָדִ֛ימָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22723">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22725">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_8">יָ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_9">זְבוּלֻ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_26_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22729">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_27" data-pasuk-now="10"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_27_1">וְעַ֣ל׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_27_2">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_27_3">זְבוּלֻ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_27_4">מִפְּאַ֥ת</span>
<span class="mila" data-lnk="4026535424" data-exlnk="0" id="M_48_27_5">קָדִ֛מָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_27_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22736">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_27_7">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22738">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_27_8">יָ֖מָּה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_27_9">גָּ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_27_10">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22742">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_28" data-pasuk-now="17"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_28_1">וְעַל֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_28_2">גְּב֣וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_28_3">גָּ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_28_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22747">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_28_5">פְּאַ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_28_6">נֶ֣גֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_28_7">תֵּימָ֑נָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_28_8">וְהָיָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_28_9">גְב֜וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_28_10">מִתָּמָ֗ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_28_11">מֵ֚י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_28_12">מְרִיבַ֣ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_28_13">קָדֵ֔שׁ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_48_28_14">נַחֲלָ֖ה</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_48_28_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22759">־</span><span class="mila" data-lnk="4026534401" data-exlnk="0" id="M_48_28_16">הַיָּ֥ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_28_17">הַגָּדֽוֹל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22762">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_29" data-pasuk-now="12"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_1">זֹ֥את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_2">הָאָ֛רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22766">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_4">תַּפִּ֥ילוּ</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_48_29_5">מִֽנַּחֲלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_6">לְשִׁבְטֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_7">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_8">וְאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_9">מַחְלְקוֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_10">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_11">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_29_12">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22777">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="22778">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_30" data-pasuk-now="10"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_30_1">וְאֵ֖לֶּה</span>
<span class="mila" data-lnk="4026535433" data-exlnk="0" id="M_48_30_2">תּוֹצְאֹ֣ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_30_3">הָעִ֑יר</span>
<span class="mila" data-lnk="3221226497" data-exlnk="0" id="M_48_30_4">מִפְּאַ֣ת</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_48_30_5">צָפ֔וֹן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_30_6">חֲמֵ֥שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_30_7">מֵא֛וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_30_8">וְאַרְבַּ֥עַת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_30_9">אֲלָפִ֖ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_48_30_10">מִדָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22789">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_31" data-pasuk-now="18"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_1">וְשַׁעֲרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_2">הָעִ֗יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22793">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_4">שְׁמוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_5">שִׁבְטֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_6">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_7">שְׁעָרִ֥ים</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_48_31_8">שְׁלוֹשָׁ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_9">צָפ֑וֹנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_10">שַׁ֣עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_11">רְאוּבֵ֞ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_12">אֶחָ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_13">שַׁ֤עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_14">יְהוּדָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_15">אֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_16">שַׁ֥עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_17">לֵוִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_31_18">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22809">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_32" data-pasuk-now="18"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_1">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22811">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_2">פְּאַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_3">קָדִ֗ימָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_4">חֲמֵ֤שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_5">מֵאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_6">וְאַרְבַּ֣עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_7">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_8">וּשְׁעָרִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_48_32_9">שְׁלֹשָׁ֑ה</span>
<span class="mila" data-lnk="3221227528" data-exlnk="0" id="M_48_32_10">וְשַׁ֨עַר</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_48_32_11">יוֹסֵ֜ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_12">אֶחָ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_13">שַׁ֤עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_14">בִּנְיָמִן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_15">אֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_16">שַׁ֥עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_17">דָּ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_32_18">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22829">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_33" data-pasuk-now="18"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_1">וּפְאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22831">־</span><span class="mila" data-lnk="805306880" data-exlnk="0" id="M_48_33_2">נֶ֗גְבָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_3">חֲמֵ֨שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_4">מֵא֜וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_5">וְאַרְבַּ֤עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_6">אֲלָפִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_7">מִדָּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_8">וּשְׁעָרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_9">שְׁלֹשָׁ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_10">שַׁ֣עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_11">שִׁמְע֞וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_12">אֶחָ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_13">שַׁ֤עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_14">יִשָּׂשכָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_15">אֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_16">שַׁ֥עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_17">זְבוּלֻ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_33_18">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22849">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_34" data-pasuk-now="17"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_48_34_1">פְּאַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22851">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_2">יָ֗מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_3">חֲמֵ֤שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_4">מֵאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_5">וְאַרְבַּ֣עַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_6">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_7">שַׁעֲרֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_8">שְׁלֹשָׁ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_9">שַׁ֣עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_10">גָּ֞ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_11">אֶחָ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_12">שַׁ֤עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_13">אָשֵׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_14">אֶחָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_15">שַׁ֥עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_16">נַפְתָּלִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_48_34_17">אֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22868">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_48_35" data-pasuk-now="9"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="4026535437" data-exlnk="0" id="M_48_35_1">סָבִ֕יב</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_35_2">שְׁמֹנָ֥ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_35_3">עָשָׂ֖ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_48_35_4">אָ֑לֶף</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_35_5">וְשֵׁם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22874">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_48_35_6">הָעִ֥יר</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_35_7">מִיּ֖וֹם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_48_35_8">יְהוָ֥ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="22878">׀</span>
<span class="mila" data-lnk="4026534413" data-exlnk="0" id="M_48_35_9">שָֽׁמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22880">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>