<p id="PR_26" data-perek-now="307" data-perek-nops="21"><span class="perek-header">פרק כו</span>
<br /><span id="PS_26_1" data-pasuk-now="11"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026534538" data-exlnk="0" id="M_26_1_1">וַיְהִ֛י</span>
<span class="mila" data-lnk="4026534543" data-exlnk="0" id="M_26_1_2">בְּעַשְׁתֵּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11310">־</span><span class="mila" data-lnk="143" data-exlnk="0" id="M_26_1_3">עֶשְׂרֵ֥ה</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_26_1_4">שָׁנָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_1_5">בְּאֶחָ֣ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_1_6">לַחֹ֑דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_1_7">הָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_1_8">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11317">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_1_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_1_10">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_1_11">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11321">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_2" data-pasuk-now="16"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_2_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11323">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_26_2_2">אָדָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_2_3">יַ֠עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_2_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11327">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_26_2_5">אָ֨מְרָה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_26_2_6">צֹּ֤ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_2_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11331">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_26_2_8">יְרוּשָׁלִַם֙</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_26_2_9">הֶאָ֔ח</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_2_10">נִשְׁבְּרָ֛ה</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_26_2_11">דַּלְת֥וֹת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_2_12">הָעַמִּ֖ים</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_26_2_13">נָסֵ֣בָּה</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_2_14">אֵלָ֑י</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_26_2_15">אִמָּלְאָ֖ה</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_26_2_16">הָחֳרָֽבָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11341">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="268436104" data-exlnk="0" id="M_26_3_1">לָכֵ֗ן</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_26_3_2">כֹּ֤ה</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_26_3_3">אָמַר֙</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_26_3_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_26_3_5">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_26_3_6">הִנְנִ֥י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_26_3_7">עָלַ֖יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_8">צֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_9">וְהַעֲלֵיתִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_10">עָלַ֙יִךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_11">גּוֹיִ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_12">רַבִּ֔ים</span>
<span class="mila" data-lnk="3221227778" data-exlnk="0" id="M_26_3_13">כְּהַעֲל֥וֹת</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_26_3_14">הַיָּ֖ם</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_26_3_15">לְגַלָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11357">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_4_1">וְשִׁחֲת֞וּ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_4_2">חֹמ֣וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_4_3">צֹ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_4">וְהָֽרְסוּ֙</span>
<span class="mila" data-lnk="4026535424" data-exlnk="0" id="M_26_4_5">מִגְדָּלֶ֔יהָ</span>
<span class="mila" data-lnk="3221227783" data-exlnk="0" id="M_26_4_6">וְסִחֵיתִ֥י</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_26_4_7">עֲפָרָ֖הּ</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_26_4_8">מִמֶּ֑נָּה</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_26_4_9">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="805307138" data-exlnk="0" id="M_26_4_10">אוֹתָ֖הּ</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_26_4_11">לִצְחִ֥יחַ</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_26_4_12">סָֽלַע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11370">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_26_5_1">מִשְׁטַ֨ח</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_26_5_2">חֲרָמִ֤ים</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_26_5_3">תִּֽהְיֶה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_4">בְּת֣וֹךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_5_5">הַיָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_6">כִּ֚י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_7">אֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_8">דִבַּ֔רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_9">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_10">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_11">יְהֹוִ֑ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_26_5_12">וְהָיְתָ֥ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_26_5_13">לְבַ֖ז</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_26_5_14">לַגּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11385">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_6" data-pasuk-now="9"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_26_6_1">וּבְנוֹתֶ֙יהָ֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_26_6_2">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_26_6_3">בַּשָּׂדֶ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_4">בַּחֶ֖רֶב</span>
<span class="mila" data-lnk="3221227656" data-exlnk="0" id="M_26_6_5">תֵּהָרַ֑גְנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_6">וְיָדְע֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11393">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_8">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_9">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11397">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11398"> פ </span>
</span>
<br /><span id="PS_26_7" data-pasuk-now="21"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="1879051912" data-exlnk="0" id="M_26_7_1">כִּ֣י</span>
<span class="mila" data-lnk="1342181000" data-exlnk="0" id="M_26_7_2">כֹ֤ה</span>
<span class="mila" data-lnk="1342180864" data-exlnk="0" id="M_26_7_3">אָמַר֙</span>
<span class="mila" data-lnk="1342180864" data-exlnk="0" id="M_26_7_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="4026535424" data-exlnk="0" id="M_26_7_5">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_6">הִנְנִ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_7">מֵבִ֣יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11407">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_9">צֹ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_10">נְבוּכַדְרֶאצַּ֧ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_7_11">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11411">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_12">בָּבֶ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_13">מִצָּפ֖וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_7_14">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_7_15">מְלָכִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_16">בְּס֛וּס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_17">וּבְרֶ֥כֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_18">וּבְפָרָשִׁ֖ים</span>
<span class="mila" data-lnk="1073743872" data-exlnk="0" id="M_26_7_19">וְקָהָ֥ל</span>
<span class="mila" data-lnk="1073743872" data-exlnk="0" id="M_26_7_20">וְעַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11421">־</span><span class="mila" data-lnk="2147485696" data-exlnk="0" id="M_26_7_21">רָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11423">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_8" data-pasuk-now="13"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_26_8_1">בְּנוֹתַ֥יִךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_8_2">בַּשָּׂדֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_3">בַּחֶ֣רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_4">יַהֲרֹ֑ג</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_5">וְנָתַ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_6">עָלַ֜יִךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_8_7">דָּיֵ֗ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_8">וְשָׁפַ֤ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_9">עָלַ֙יִךְ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_26_8_10">סֹֽלֲלָ֔ה</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_26_8_11">וְהֵקִ֥ים</span>
<span class="mila" data-lnk="257" data-exlnk="0" id="M_26_8_12">עָלַ֖יִךְ</span>
<span class="mila" data-lnk="265" data-exlnk="0" id="M_26_8_13">צִנָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11437">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_26_9_1">וּמְחִ֣י</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_26_9_2">קָֽבָלּ֔וֹ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_26_9_3">יִתֵּ֖ן</span>
<span class="mila" data-lnk="3221227780" data-exlnk="0" id="M_26_9_4">בְּחֹמוֹתָ֑יִךְ</span>
<span class="mila" data-lnk="4026534656" data-exlnk="0" id="M_26_9_5">וּמִ֨גְדְּלֹתַ֔יִךְ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_26_9_6">יִתֹּ֖ץ</span>
<span class="mila" data-lnk="3221227913" data-exlnk="0" id="M_26_9_7">בְּחַרְבוֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11445">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_10" data-pasuk-now="15"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_10_1">מִשִּׁפְעַ֥ת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_10_2">סוּסָ֖יו</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_26_10_3">יְכַסֵּ֣ךְ</span>
<span class="mila" data-lnk="3221227662" data-exlnk="0" id="M_26_10_4">אֲבָקָ֑ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_26_10_5">מִקּוֹל֩</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_10_6">פָּרַ֨שׁ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_10_7">וְגַלְגַּ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_8">וָרֶ֗כֶב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_10_9">תִּרְעַ֙שְׁנָה֙</span>
<span class="mila" data-lnk="4026535432" data-exlnk="0" id="M_26_10_10">חוֹמוֹתַ֔יִךְ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_26_10_11">בְּבֹאוֹ֙</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_26_10_12">בִּשְׁעָרַ֔יִךְ</span>
<span class="mila" data-lnk="3221227663" data-exlnk="0" id="M_26_10_13">כִּמְבוֹאֵ֖י</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_26_10_14">עִ֥יר</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_26_10_15">מְבֻקָּעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11461">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_11_1">בְּפַרְס֣וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_11_2">סוּסָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_3">יִרְמֹ֖ס</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_11_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11466">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_26_11_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11468">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_26_11_6">חוּצוֹתָ֑יִךְ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_11_7">עַמֵּךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_8">בַּחֶ֣רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_9">יַהֲרֹ֔ג</span>
<span class="mila" data-lnk="4026534670" data-exlnk="0" id="M_26_11_10">וּמַצְּב֥וֹת</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_26_11_11">עֻזֵּ֖ךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_26_11_12">לָאָ֥רֶץ</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_26_11_13">תֵּרֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11477">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_12" data-pasuk-now="15"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_12_1">וְשָׁלֲל֣וּ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_26_12_2">חֵילֵ֗ךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_26_12_3">וּבָֽזֲזוּ֙</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_26_12_4">רְכֻלָּתֵ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_5">וְהָֽרְסוּ֙</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_12_6">חוֹמוֹתַ֔יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_7">וּבָתֵּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_8">חֶמְדָּתֵ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_9">יִתֹּ֑צוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_10">וַאֲבָנַ֤יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_11">וְעֵצַ֙יִךְ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_12_12">וַעֲפָרֵ֔ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_12_13">בְּת֥וֹךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_12_14">מַ֖יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_12_15">יָשִֽׂימוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11493">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="805307016" data-exlnk="0" id="M_26_13_1">וְהִשְׁבַּתִּ֖י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_13_2">הֲמ֣וֹן</span>
<span class="mila" data-lnk="3221227528" data-exlnk="0" id="M_26_13_3">שִׁירָ֑יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_13_4">וְק֣וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_13_5">כִּנּוֹרַ֔יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_13_6">לֹ֥א</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_13_7">יִשָּׁמַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_13_8">עֽוֹד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11502">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_14" data-pasuk-now="16"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_14_1">וּנְתַתִּ֞יךְ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_14_2">לִצְחִ֣יחַ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_14_3">סֶ֗לַע</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_26_14_4">מִשְׁטַ֤ח</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_26_14_5">חֲרָמִים֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_14_6">תִּֽהְיֶ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_14_7">לֹ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_14_8">תִבָּנֶ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_14_9">ע֑וֹד</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_14_10">כִּ֣י</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_26_14_11">אֲנִ֤י</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_26_14_12">יְהוָה֙</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_14_13">דִּבַּ֔רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_14">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_15">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_16">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11520">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11521">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_15" data-pasuk-now="15"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_15_1">כֹּ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_15_2">אָמַ֛ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_15_3">אֲדנָ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_15_4">יְהֹוִ֖ה</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_26_15_5">לְצ֑וֹר</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_15_6">הֲלֹ֣א׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_15_7">מִקּ֣וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_15_8">מַפַּלְתֵּ֗ךְ</span>
<span class="mila" data-lnk="3221227530" data-exlnk="0" id="M_26_15_9">בֶּאֱנֹ֨ק</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_26_15_10">חָלָ֜ל</span>
<span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_26_15_11">בֵּהָ֤רֵֽג</span>
<span class="mila" data-lnk="4026534792" data-exlnk="0" id="M_26_15_12">הֶ֙רֶג֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_15_13">בְּתוֹכֵ֔ךְ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_15_14">יִרְעֲשׁ֖וּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_15_15">הָאִיִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11537">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_16" data-pasuk-now="22"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_26_16_1">וְֽיָרְד֞וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_2">מֵעַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_3">כִּסְאוֹתָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_4">כֹּ֚ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_5">נְשִׂיאֵ֣י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_26_16_6">הַיָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_7">וְהֵסִ֙ירוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11546">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_9">מְעִ֣ילֵיהֶ֔ם</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_26_16_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11549">־</span><span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_26_16_11">בִּגְדֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_12">רִקְמָתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_16_13">יִפְשֹׁ֑טוּ</span>
<span class="mila" data-lnk="3221227778" data-exlnk="0" id="M_26_16_14">חֲרָד֤וֹת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11554">׀</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_26_16_15">יִלְבָּ֙שׁוּ֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_26_16_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11557">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_26_16_17">הָאָ֣רֶץ</span>
<span class="mila" data-lnk="4026535552" data-exlnk="0" id="M_26_16_18">יֵשֵׁ֔בוּ</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_26_16_19">וְחָֽרְדוּ֙</span>
<span class="mila" data-lnk="805307151" data-exlnk="0" id="M_26_16_20">לִרְגָעִ֔ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_16_21">וְשָׁמֲמ֖וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_16_22">עָלָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11564">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_17" data-pasuk-now="22"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_17_1">וְנָשְׂא֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_17_2">עָלַ֤יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_17_3">קִינָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_17_4">וְאָ֣מְרוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_17_5">לָ֔ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_17_6">אֵ֣יךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_17_7">אָבַ֔דְתְּ</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_26_17_8">נוֹשֶׁ֖בֶת</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_26_17_9">מִיַּמִּ֑ים</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_26_17_10">הָעִ֣יר</span>
<span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_26_17_11">הַהֻלָּ֗לָה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_26_17_12">אֲשֶׁר֩</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_26_17_13">הָיְתָ֨ה</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_26_17_14">חֲזָקָ֤ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_26_17_15">בַיָּם֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_26_17_16">הִ֣יא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_17_17">וְיֹשְׁבֶ֔יהָ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_26_17_18">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11583">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_26_17_19">נָתְנ֥וּ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_26_17_20">חִתִּיתָ֖ם</span>
<span class="mila" data-lnk="3489664527" data-exlnk="0" id="M_26_17_21">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11587">־</span><span class="mila" data-lnk="4026535438" data-exlnk="0" id="M_26_17_22">יוֹשְׁבֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11589">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="805307016" data-exlnk="0" id="M_26_18_1">עַתָּה֙</span>
<span class="mila" data-lnk="3221227530" data-exlnk="0" id="M_26_18_2">יֶחְרְד֣וּ</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_26_18_3">הָאִיִּ֔ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_18_4">י֖וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_18_5">מַפַּלְתֵּ֑ךְ</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_26_18_6">וְנִבְהֲל֛וּ</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_26_18_7">הָאִיִּ֥ים</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_26_18_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11598">־</span><span class="mila" data-lnk="266" data-exlnk="0" id="M_26_18_9">בַּיָּ֖ם</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_26_18_10">מִצֵּאתֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11602">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11603">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_19" data-pasuk-now="20"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="1342179976" data-exlnk="0" id="M_26_19_1">כִּ֣י</span>
<span class="mila" data-lnk="1342179976" data-exlnk="0" id="M_26_19_2">כֹ֤ה</span>
<span class="mila" data-lnk="1342179848" data-exlnk="0" id="M_26_19_3">אָמַר֙</span>
<span class="mila" data-lnk="1342179848" data-exlnk="0" id="M_26_19_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="2952792584" data-exlnk="0" id="M_26_19_5">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_6">בְּתִתִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_7">אֹתָךְ֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_26_19_8">עִ֣יר</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_26_19_9">נֶחֱרֶ֔בֶת</span>
<span class="mila" data-lnk="4026534786" data-exlnk="0" id="M_26_19_10">כֶּעָרִ֖ים</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_26_19_11">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_26_19_12">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11616">־</span><span class="mila" data-lnk="386" data-exlnk="0" id="M_26_19_13">נוֹשָׁ֑בוּ</span>
<span class="mila" data-lnk="4026534795" data-exlnk="0" id="M_26_19_14">בְּהַעֲל֤וֹת</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_26_19_15">עָלַ֙יִךְ֙</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_26_19_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11621">־</span><span class="mila" data-lnk="395" data-exlnk="0" id="M_26_19_17">תְּה֔וֹם</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_26_19_18">וְכִסּ֖וּךְ</span>
<span class="mila" data-lnk="1073744010" data-exlnk="0" id="M_26_19_19">הַמַּ֥יִם</span>
<span class="mila" data-lnk="3221227658" data-exlnk="0" id="M_26_19_20">הָרַבִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11626">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_20" data-pasuk-now="22"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_26_20_1">וְהוֹרַדְתִּיךְ֩</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_26_20_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11629">־</span><span class="mila" data-lnk="395" data-exlnk="0" id="M_26_20_3">י֨וֹרְדֵי</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_26_20_4">ב֜וֹר</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_20_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11633">־</span><span class="mila" data-lnk="1342181263" data-exlnk="0" id="M_26_20_6">עַ֣ם</span>
<span class="mila" data-lnk="3758100367" data-exlnk="0" id="M_26_20_7">עוֹלָ֗ם</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_26_20_8">וְ֠הוֹשַׁבְתִּיךְ</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_26_20_9">בְּאֶ֨רֶץ</span>
<span class="mila" data-lnk="4026534542" data-exlnk="0" id="M_26_20_10">תַּחְתִּיּ֜וֹת</span>
<span class="mila" data-lnk="3221227651" data-exlnk="0" id="M_26_20_11">כָּחֳרָב֤וֹת</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_26_20_12">מֵעוֹלָם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_20_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11642">־</span><span class="mila" data-lnk="137" data-exlnk="0" id="M_26_20_14">י֣וֹרְדֵי</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_20_15">ב֔וֹר</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_26_20_16">לְמַ֖עַן</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_26_20_17">לֹ֣א</span>
<span class="mila" data-lnk="3221227658" data-exlnk="0" id="M_26_20_18">תֵשֵׁ֑בִי</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_20_19">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_20_20">צְבִ֖י</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_20_21">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_20_22">חַיִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11652">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_21" data-pasuk-now="11"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_26_21_1">בַּלָּה֥וֹת</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_26_21_2">אֶתְּנֵ֖ךְ</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_26_21_3">וְאֵינֵ֑ךְ</span>
<span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_26_21_4">וּֽתֲבֻקְשִׁ֗י</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_26_21_5">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11658">־</span><span class="mila" data-lnk="396" data-exlnk="0" id="M_26_21_6">תִמָּֽצְאִ֥י</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_26_21_7">עוֹד֙</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_26_21_8">לְעוֹלָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_21_9">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_21_10">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_21_11">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11666">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11667"> פ </span>
</span>
<br /></p>