<p id="PR_7" data-perek-now="343" data-perek-nops="27"><span class="perek-header">פרק ז</span>
<br /><span id="PS_7_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2103">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_4">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2107">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_2" data-pasuk-now="16"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_2_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_7_2_2">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2110">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_2_3">אָדָ֗ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_2_4">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2113">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_2_5">אָמַ֞ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_2_6">אֲדנָ֧י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_2_7">יְהֹוִ֛ה</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_7_2_8">לְאַדְמַ֥ת</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_7_2_9">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_7_2_10">קֵ֑ץ</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_7_2_11">בָּ֣א</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_7_2_12">הַקֵּ֔ץ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_7_2_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2123">־</span><span data-lnk="0" data-exlnk="0" id="M_7_2_14" class="mila ktiv">אַרְבַּ֖עת</span>
<span data-lnk="4026534794" data-exlnk="0" id="M_7_2_14_K" class="mila kri">אַרְבַּ֖ע</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_7_2_15">כַּנְפ֥וֹת</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_7_2_16">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2128">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026535816" data-exlnk="0" id="M_7_3_1">עַתָּה֙</span>
<span class="mila" data-lnk="1073743240" data-exlnk="0" id="M_7_3_2">הַקֵּ֣ץ</span>
<span class="mila" data-lnk="1073743240" data-exlnk="0" id="M_7_3_3">עָלַ֔יִךְ</span>
<span class="mila" data-lnk="1073742848" data-exlnk="0" id="M_7_3_4">וְשִׁלַּחְתִּ֤י</span>
<span class="mila" data-lnk="1073742848" data-exlnk="0" id="M_7_3_5">אַפִּי֙</span>
<span class="mila" data-lnk="3221226752" data-exlnk="0" id="M_7_3_6">בָּ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_3_7">וּשְׁפַטְתִּ֖יךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_3_8">כִּדְרָכָ֑יִךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_3_9">וְנָתַתִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_3_10">עָלַ֔יִךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_3_11">אֵ֖ת</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_3_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2141">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_3_13">תּוֹעֲבוֹתָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2143">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_4" data-pasuk-now="17"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="1342179976" data-exlnk="0" id="M_7_4_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2145">־</span><span class="mila" data-lnk="2952792584" data-exlnk="0" id="M_7_4_2">תָח֥וֹס</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_7_4_3">עֵינִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_4">עָלַ֖יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_5">וְלֹ֣א</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_7_4_6">אֶחְמ֑וֹל</span>
<span class="mila" data-lnk="1073743872" data-exlnk="0" id="M_7_4_7">כִּ֣י</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_7_4_8">דְרָכַ֜יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_9">עָלַ֣יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_10">אֶתֵּ֗ן</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_4_11">וְתוֹעֲבוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_4_12">בְּתוֹכֵ֣ךְ</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_7_4_13">תִּֽהְיֶ֔יןָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_14">וִידַעְתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_15">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2160">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_16">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_4_17">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2164">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2165"> פ </span>
</span>
<br /><span id="PS_7_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_7_5_1">כֹּ֥ה</span>
<span class="mila" data-lnk="2952792584" data-exlnk="0" id="M_7_5_2">אָמַ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_5_3">אֲדנָ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_5_4">יְהֹוִ֑ה</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_5_5">רָעָ֛ה</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_5_6">אַחַ֥ת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_5_7">רָעָ֖ה</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_7_5_8">הִנֵּ֥ה</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_7_5_9">בָאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2175">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_7_6_1">קֵ֣ץ</span>
<span class="mila" data-lnk="805307048" data-exlnk="0" id="M_7_6_2">בָּ֔א</span>
<span class="mila" data-lnk="805307048" data-exlnk="0" id="M_7_6_3">בָּ֥א</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_7_6_4">הַקֵּ֖ץ</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_7_6_5">הֵקִ֣יץ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_6_6">אֵלָ֑יִךְ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_7_6_7">הִנֵּ֖ה</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_7_6_8">בָּאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2184">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_7" data-pasuk-now="13"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026534793" data-exlnk="0" id="M_7_7_1">בָּ֧אָה</span>
<span class="mila" data-lnk="4026534829" data-exlnk="0" id="M_7_7_2">הַצְּפִירָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_3">אֵלֶ֖יךָ</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_7_7_4">יוֹשֵׁ֣ב</span>
<span class="mila" data-lnk="805307008" data-exlnk="0" id="M_7_7_5">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_7_6">בָּ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_7">הָעֵ֗ת</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_7_7_8">קָר֛וֹב</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_7_9">הַיּ֥וֹם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_7_7_10">מְהוּמָ֖ה</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_7_11">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2196">־</span><span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_7_7_12">הֵ֥ד</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_7_7_13">הָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2199">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="805306890" data-exlnk="0" id="M_7_8_1">עַתָּ֣ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_8_2">מִקָּר֗וֹב</span>
<span class="mila" data-lnk="4026534410" data-exlnk="0" id="M_7_8_3">אֶשְׁפּ֤וֹךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_8_4">חֲמָתִי֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_8_5">עָלַ֔יִךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_8_6">וְכִלֵּיתִ֤י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_8_7">אַפִּי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_8_8">בָּ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_9">וּשְׁפַטְתִּ֖יךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_10">כִּדְרָכָ֑יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_11">וְנָתַתִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_12">עָלַ֔יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_13">אֵ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2214">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_15">תּוֹעֲבוֹתָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2216">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_9" data-pasuk-now="16"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026535562" data-exlnk="0" id="M_7_9_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2218">־</span><span class="mila" data-lnk="4026535434" data-exlnk="0" id="M_7_9_2">תָח֥וֹס</span>
<span class="mila" data-lnk="805306882" data-exlnk="0" id="M_7_9_3">עֵינִ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_9_4">וְלֹ֣א</span>
<span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_7_9_5">אֶחְמ֑וֹל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_9_6">כִּדְרָכַ֜יִךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_9_7">עָלַ֣יִךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_9_8">אֶתֵּ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_9_9">וְתוֹעֲבוֹתַ֙יִךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_9_10">בְּתוֹכֵ֣ךְ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_7_9_11">תִּהְיֶ֔יןָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_7_9_12">וִידַעְתֶּ֕ם</span>
<span class="mila" data-lnk="174" data-exlnk="0" id="M_7_9_13">כִּ֛י</span>
<span class="mila" data-lnk="172" data-exlnk="0" id="M_7_9_14">אֲנִ֥י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_7_9_15">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026534572" data-exlnk="0" id="M_7_9_16">מַכֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2234">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026534537" data-exlnk="0" id="M_7_10_1">הִנֵּ֥ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_7_10_2">הַיּ֖וֹם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_10_3">הִנֵּ֣ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_7_10_4">בָאָ֑ה</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_7_10_5">יָֽצְאָה֙</span>
<span class="mila" data-lnk="4026534795" data-exlnk="0" id="M_7_10_6">הַצְּפִרָ֔ה</span>
<span class="mila" data-lnk="3221227943" data-exlnk="0" id="M_7_10_7">צָ֚ץ</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_7_10_8">הַמַּטֶּ֔ה</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_7_10_9">פָּרַ֖ח</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_7_10_10">הַזָּדֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2245">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_11_1">הֶחָמָ֥ס</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="2247">׀</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_11_2">קָ֖ם</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_11_3">לְמַטֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2250">־</span><span class="mila" data-lnk="805307275" data-exlnk="0" id="M_7_11_4">רֶ֑שַׁע</span>
<span class="mila" data-lnk="805307279" data-exlnk="0" id="M_7_11_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2253">־</span><span class="mila" data-lnk="431" data-exlnk="0" id="M_7_11_6">מֵהֶ֞ם</span>
<span class="mila" data-lnk="268436362" data-exlnk="0" id="M_7_11_7">וְלֹ֧א</span>
<span class="mila" data-lnk="3221227914" data-exlnk="0" id="M_7_11_8">מֵהֲמוֹנָ֛ם</span>
<span class="mila" data-lnk="268436366" data-exlnk="0" id="M_7_11_9">וְלֹ֥א</span>
<span class="mila" data-lnk="3221227950" data-exlnk="0" id="M_7_11_10">מֶהֱמֵהֶ֖ם</span>
<span class="mila" data-lnk="805307311" data-exlnk="0" id="M_7_11_11">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2260">־</span><span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_7_11_12">נֹ֥הַּ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_11_13">בָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2263">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_12" data-pasuk-now="15"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_7_12_1">בָּ֤א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_12_2">הָעֵת֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_12_3">הִגִּ֣יעַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_12_4">הַיּ֔וֹם</span>
<span class="mila" data-lnk="4026535566" data-exlnk="0" id="M_7_12_5">הַקּוֹנֶה֙</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_7_12_6">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2270">־</span><span class="mila" data-lnk="3221227662" data-exlnk="0" id="M_7_12_7">יִשְׂמָ֔ח</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_7_12_8">וְהַמֹּכֵ֖ר</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_7_12_9">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2274">־</span><span class="mila" data-lnk="135" data-exlnk="0" id="M_7_12_10">יִתְאַבָּ֑ל</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_7_12_11">כִּ֥י</span>
<span class="mila" data-lnk="4026535562" data-exlnk="0" id="M_7_12_12">חָר֖וֹן</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_7_12_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2279">־</span><span class="mila" data-lnk="138" data-exlnk="0" id="M_7_12_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2281">־</span><span class="mila" data-lnk="2147484810" data-exlnk="0" id="M_7_12_15">הֲמוֹנָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2283">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_13" data-pasuk-now="21"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_1">כִּ֣י</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_2">הַמֹּכֵ֗ר</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_7_13_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2287">־</span><span class="mila" data-lnk="3221227791" data-exlnk="0" id="M_7_13_4">הַמִּמְכָּר֙</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_5">לֹ֣א</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_6">יָשׁ֔וּב</span>
<span class="mila" data-lnk="805307311" data-exlnk="0" id="M_7_13_7">וְע֥וֹד</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_7_13_8">בַּחַיִּ֖ים</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_7_13_9">חַיָּתָ֑ם</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_7_13_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2295">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_11">חָז֤וֹן</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_7_13_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2298">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2300">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_14">הֲמוֹנָהּ֙</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_15">לֹ֣א</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_16">יָשׁ֔וּב</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_17">וְאִ֧ישׁ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_18">בַּעֲוֺנ֛וֹ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_19">חַיָּת֖וֹ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_13_20">לֹ֥א</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_7_13_21">יִתְחַזָּֽקוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2309">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_14_1">תָּקְע֤וּ</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_7_14_2">בַתָּק֙וֹעַ֙</span>
<span class="mila" data-lnk="4026534798" data-exlnk="0" id="M_7_14_3">וְהָכִ֣ין</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_7_14_4">הַכֹּ֔ל</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_14_5">וְאֵ֥ין</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_7_14_6">הֹלֵ֖ךְ</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_7_14_7">לַמִּלְחָמָ֑ה</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_7_14_8">כִּ֥י</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_7_14_9">חֲרוֹנִ֖י</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_7_14_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2320">־</span><span class="mila" data-lnk="394" data-exlnk="0" id="M_7_14_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2322">־</span><span class="mila" data-lnk="394" data-exlnk="0" id="M_7_14_12">הֲמוֹנָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2324">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_15" data-pasuk-now="14"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_7_15_1">הַחֶ֣רֶב</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_15_2">בַּח֔וּץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_3">וְהַדֶּ֥בֶר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_15_4">וְהָרָעָ֖ב</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_15_5">מִבָּ֑יִת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_15_6">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_15_7">בַּשָּׂדֶה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_8">בַּחֶ֣רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_9">יָמ֔וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_10">וַאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_11">בָּעִ֔יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_12">רָעָ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_13">וָדֶ֖בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_14">יֹאכֲלֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2339">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_7_16_1">וּפָֽלְטוּ֙</span>
<span class="mila" data-lnk="3221227522" data-exlnk="0" id="M_7_16_2">פְּלִ֣יטֵיהֶ֔ם</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_7_16_3">וְהָי֣וּ</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_7_16_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2344">־</span><span class="mila" data-lnk="139" data-exlnk="0" id="M_7_16_5">הֶהָרִ֗ים</span>
<span class="mila" data-lnk="3221227651" data-exlnk="0" id="M_7_16_6">כְּיוֹנֵ֧י</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_7_16_7">הַגֵּאָי֛וֹת</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_7_16_8">כֻּלָּ֖ם</span>
<span class="mila" data-lnk="3221227655" data-exlnk="0" id="M_7_16_9">הֹמ֑וֹת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_16_10">אִ֖ישׁ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_7_16_11">בַּעֲוֺנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2352">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_17" data-pasuk-now="7"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_7_17_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2354">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_7_17_2">הַיָּדַ֖יִם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_17_3">תִּרְפֶּ֑ינָה</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_7_17_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2358">־</span><span class="mila" data-lnk="264" data-exlnk="0" id="M_7_17_5">בִּרְכַּ֖יִם</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_7_17_6">תֵּלַ֥כְנָה</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_7_17_7">מָּֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2362">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_18" data-pasuk-now="12"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_7_18_1">וְחָגְר֣וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_18_2">שַׂקִּ֔ים</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_18_3">וְכִסְּתָ֥ה</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_18_4">אוֹתָ֖ם</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_7_18_5">פַּלָּצ֑וּת</span>
<span class="mila" data-lnk="1073744000" data-exlnk="0" id="M_7_18_6">וְאֶ֤ל</span>
<span class="mila" data-lnk="1073743872" data-exlnk="0" id="M_7_18_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2370">־</span><span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_7_18_8">פָּנִים֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_18_9">בּוּשָׁ֔ה</span>
<span class="mila" data-lnk="1073743872" data-exlnk="0" id="M_7_18_10">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2374">־</span><span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_7_18_11">רָאשֵׁיהֶ֖ם</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_7_18_12">קָרְחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2377">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_19" data-pasuk-now="24"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_7_19_1">כַּסְפָּ֞ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_19_2">בַּחוּצ֣וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_19_3">יַשְׁלִ֗יכוּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_7_19_4">וּזְהָבָם֘</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_19_5">לְנִדָּ֣ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_7_19_6">יִֽהְיֶה֒</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_7_19_7">כַּסְפָּ֨ם</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_7_19_8">וּזְהָבָ֜ם</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_7_19_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2387">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_7_19_10">יוּכַ֣ל</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_7_19_11">לְהַצִּילָ֗ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_19_12">בְּיוֹם֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_19_13">עֶבְרַ֣ת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_19_14">יְהוָ֔ה</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_19_15">נַפְשָׁם֙</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_19_16">לֹ֣א</span>
<span class="mila" data-lnk="3221227918" data-exlnk="0" id="M_7_19_17">יְשַׂבֵּ֔עוּ</span>
<span class="mila" data-lnk="3221227522" data-exlnk="0" id="M_7_19_18">וּמֵעֵיהֶ֖ם</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_7_19_19">לֹ֣א</span>
<span class="mila" data-lnk="3221227522" data-exlnk="0" id="M_7_19_20">יְמַלֵּ֑אוּ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_19_21">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2400">־</span><span class="mila" data-lnk="398" data-exlnk="0" id="M_7_19_22">מִכְשׁ֥וֹל</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_19_23">עֲוֺנָ֖ם</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_19_24">הָיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2404">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_20" data-pasuk-now="14"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4026534797" data-exlnk="0" id="M_7_20_1">וּצְבִ֤י</span>
<span class="mila" data-lnk="4026535821" data-exlnk="0" id="M_7_20_2">עֶדְיוֹ֙</span>
<span class="mila" data-lnk="429" data-exlnk="0" id="M_7_20_3">לְגָא֣וֹן</span>
<span class="mila" data-lnk="3221227917" data-exlnk="0" id="M_7_20_4">שָׂמָ֔הוּ</span>
<span class="mila" data-lnk="4026534799" data-exlnk="0" id="M_7_20_5">וְצַלְמֵ֧י</span>
<span class="mila" data-lnk="4026534666" data-exlnk="0" id="M_7_20_6">תוֹעֲבֹתָ֛ם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_20_7">שִׁקּוּצֵיהֶ֖ם</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_20_8">עָ֣שׂוּ</span>
<span class="mila" data-lnk="397" data-exlnk="0" id="M_7_20_9">ב֑וֹ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_7_20_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2415">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_7_20_11">כֵּ֛ן</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_20_12">נְתַתִּ֥יו</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_20_13">לָהֶ֖ם</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_7_20_14">לְנִדָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2420">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_21" data-pasuk-now="8"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_7_21_1">וּנְתַתִּ֤יו</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_7_21_2">בְּיַֽד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2423">־</span><span class="mila" data-lnk="384" data-exlnk="0" id="M_7_21_3">הַזָּרִים֙</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_21_4">לָבַ֔ז</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_7_21_5">וּלְרִשְׁעֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_6">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_7">לְשָׁלָ֑ל</span>
<span data-lnk="0" data-exlnk="0" id="M_7_21_8" class="mila ktiv">וְחִלְּלֽוּהֻ</span>
<span data-lnk="3221227528" data-exlnk="0" id="M_7_21_8_K" class="mila kri">וְחִלְּלֽוּהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2431">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_22" data-pasuk-now="10"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="3221227914" data-exlnk="0" id="M_7_22_1">וַהֲסִבּוֹתִ֤י</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_7_22_2">פָנַי֙</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_7_22_3">מֵהֶ֔ם</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_7_22_4">וְחִלְּל֖וּ</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_7_22_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2437">־</span><span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_7_22_6">צְפוּנִ֑י</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_7_22_7">וּבָאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2440">־</span><span class="mila" data-lnk="392" data-exlnk="0" id="M_7_22_8">בָ֥הּ</span>
<span class="mila" data-lnk="4026534792" data-exlnk="0" id="M_7_22_9">פָּרִיצִ֖ים</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_7_22_10">וְחִלְּלֽוּהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2445">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2446"> פ </span>
</span>
<br /><span id="PS_7_23" data-pasuk-now="10"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="429" data-exlnk="0" id="M_7_23_1">עֲשֵׂ֖ה</span>
<span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_7_23_2">הָרַתּ֑וֹק</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_23_3">כִּ֣י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_23_4">הָאָ֗רֶץ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_23_5">מָֽלְאָה֙</span>
<span class="mila" data-lnk="1073744137" data-exlnk="0" id="M_7_23_6">מִשְׁפַּ֣ט</span>
<span class="mila" data-lnk="2147485961" data-exlnk="0" id="M_7_23_7">דָּמִ֔ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_8">וְהָעִ֖יר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_9">מָלְאָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_23_10">חָמָֽס</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2457">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_24" data-pasuk-now="11"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_7_24_1">וְהֵֽבֵאתִי֙</span>
<span class="mila" data-lnk="3221227819" data-exlnk="0" id="M_7_24_2">רָעֵ֣י</span>
<span class="mila" data-lnk="3221227947" data-exlnk="0" id="M_7_24_3">גוֹיִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_4">וְיָרְשׁ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2463">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_6">בָּתֵּיהֶ֑ם</span>
<span class="mila" data-lnk="805307012" data-exlnk="0" id="M_7_24_7">וְהִשְׁבַּתִּי֙</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_7_24_8">גְּא֣וֹן</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_7_24_9">עַזִּ֔ים</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_7_24_10">וְנִחֲל֖וּ</span>
<span class="mila" data-lnk="3221227915" data-exlnk="0" id="M_7_24_11">מְקַֽדְשֵׁיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2470">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_25" data-pasuk-now="5"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="3489663919" data-exlnk="0" id="M_7_25_1">קְפָ֖דָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2472">־</span><span class="mila" data-lnk="536871851" data-exlnk="0" id="M_7_25_2">בָ֑א</span>
<span class="mila" data-lnk="296" data-exlnk="0" id="M_7_25_3">וּבִקְשׁ֥וּ</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_7_25_4">שָׁל֖וֹם</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_7_25_5">וָאָֽיִן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2477">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_26" data-pasuk-now="16"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="169" data-exlnk="0" id="M_7_26_1">הֹוָ֤ה</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_7_26_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2480">־</span><span class="mila" data-lnk="137" data-exlnk="0" id="M_7_26_3">הֹוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_4">תָּב֔וֹא</span>
<span class="mila" data-lnk="4026534432" data-exlnk="0" id="M_7_26_5">וּשְׁמֻעָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_26_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2485">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_7_26_7">שְׁמוּעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_8">תִּֽהְיֶ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_26_9">וּבִקְשׁ֤וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_26_10">חָזוֹן֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_7_26_11">מִנָּבִ֔יא</span>
<span class="mila" data-lnk="4026535433" data-exlnk="0" id="M_7_26_12">וְתוֹרָה֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_7_26_13">תֹּאבַ֣ד</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_7_26_14">מִכֹּהֵ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_15">וְעֵצָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_16">מִזְּקֵנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2496">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_27" data-pasuk-now="18"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_7_27_1">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_2">יִתְאַבָּ֗ל</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_27_3">וְנָשִׂיא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_4">יִלְבַּ֣שׁ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_7_27_5">שְׁמָמָ֔ה</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_7_27_6">וִידֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_7">עַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2504">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_8">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_7_27_9">תִּבָּהַ֑לְנָה</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_7_27_10">מִדַּרְכָּ֞ם</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_7_27_11">אֶעֱשֶׂ֤ה</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_7_27_12">אֹתָם֙</span>
<span class="mila" data-lnk="3221227528" data-exlnk="0" id="M_7_27_13">וּבְמִשְׁפְּטֵיהֶ֣ם</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_7_27_14">אֶשְׁפְּטֵ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_15">וְיָדְע֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_16">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2514">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_17">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_18">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2518">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2519"> פ </span>
</span>
<br /></p>