<p id="PR_37" data-perek-now="446" data-perek-nops="28"><span class="perek-header">פרק לז</span>
<br /><span id="PS_37_1" data-pasuk-now="13"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026534542" data-exlnk="0" id="M_37_1_1">הָיְתָ֣ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_37_1_2">עָלַי֘</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_1_3">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16563">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_37_1_4">יְהוָה֒</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_37_1_5">וַיּוֹצִאֵ֤נִֽי</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_37_1_6">בְר֙וּחַ֙</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_37_1_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="4026534790" data-exlnk="0" id="M_37_1_8">וַיְנִיחֵ֖נִי</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_37_1_9">בְּת֣וֹךְ</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_37_1_10">הַבִּקְעָ֑ה</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_37_1_11">וְהִ֖יא</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_37_1_12">מְלֵאָ֥ה</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_37_1_13">עֲצָמֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16574">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_2" data-pasuk-now="13"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026534543" data-exlnk="0" id="M_37_2_1">וְהֶעֱבִירַ֥נִי</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_37_2_2">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_37_2_3">סָבִ֣יב</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="16578">׀</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_37_2_4">סָבִ֑יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_2_5">וְהִנֵּ֨ה</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_2_6">רַבּ֤וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_2_7">מְאֹד֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_2_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16584">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_2_9">פְּנֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_2_10">הַבִּקְעָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_2_11">וְהִנֵּ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_2_12">יְבֵשׁ֥וֹת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_2_13">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16590">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_3_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_3_2">אֵלַ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_3_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16594">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_3_4">אָדָ֕ם</span>
<span class="mila" data-lnk="3221227527" data-exlnk="0" id="M_37_3_5">הֲתִֽחְיֶ֖ינָה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_3_6">הָעֲצָמ֣וֹת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_3_7">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_3_8">וָאֹמַ֕ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_3_9">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_3_10">יְהֹוִ֖ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_3_11">אַתָּ֥ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_3_12">יָדָֽעְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16604">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_4" data-pasuk-now="13"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_37_4_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_4_2">אֵלַ֔י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_4_3">הִנָּבֵ֖א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_4_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16609">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_4_5">הָעֲצָמ֣וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_4_6">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_4_7">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_4_8">אֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_4_9">הָֽעֲצָמוֹת֙</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_37_4_10">הַיְבֵשׁ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_4_11">שִׁמְע֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_4_12">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16618">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_4_13">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16620">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_5_1">כֹּ֤ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_5_2">אָמַר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_5_3">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_5_4">יְהֹוִ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_5_5">לָעֲצָמ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_5_6">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="1342179842" data-exlnk="0" id="M_37_5_7">הִנֵּ֨ה</span>
<span class="mila" data-lnk="2952792578" data-exlnk="0" id="M_37_5_8">אֲנִ֜י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_5_9">מֵבִ֥יא</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_5_10">בָכֶ֛ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_5_11">ר֖וּחַ</span>
<span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_37_5_12">וִחְיִיתֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16633">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_6" data-pasuk-now="17"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_37_6_1">וְנָתַתִּי֩</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_37_6_2">עֲלֵיכֶ֨ם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_37_6_3">גִּידִ֜ים</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_37_6_4">וְֽהַעֲלֵתִ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_6_5">עֲלֵיכֶ֣ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_6_6">בָּשָׂ֗ר</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_37_6_7">וְקָרַמְתִּ֤י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_6_8">עֲלֵיכֶם֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_37_6_9">ע֔וֹר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_6_10">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_6_11">בָכֶ֛ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_6_12">ר֖וּחַ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_37_6_13">וִחְיִיתֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_6_14">וִידַעְתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_6_15">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16649">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_6_16">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_6_17">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16652">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_7" data-pasuk-now="13"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_7_1">וְנִבֵּ֖אתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_7_2">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_37_7_3">צֻוֵּ֑יתִי</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_37_7_4">וַֽיְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16657">־</span><span class="mila" data-lnk="131" data-exlnk="0" id="M_37_7_5">ק֤וֹל</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_7_6">כְּהִנָּֽבְאִי֙</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_37_7_7">וְהִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16661">־</span><span class="mila" data-lnk="135" data-exlnk="0" id="M_37_7_8">רַ֔עַשׁ</span>
<span class="mila" data-lnk="3221227912" data-exlnk="0" id="M_37_7_9">וַתִּקְרְב֣וּ</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_37_7_10">עֲצָמ֔וֹת</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_37_7_11">עֶ֖צֶם</span>
<span class="mila" data-lnk="1342181135" data-exlnk="0" id="M_37_7_12">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16667">־</span><span class="mila" data-lnk="4026535695" data-exlnk="0" id="M_37_7_13">עַצְמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16669">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_8" data-pasuk-now="13"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_37_8_1">וְרָאִ֜יתִי</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_8_2">וְהִנֵּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16672">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_37_8_3">עֲלֵיהֶ֤ם</span>
<span class="mila" data-lnk="3221227532" data-exlnk="0" id="M_37_8_4">גִּדִים֙</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_37_8_5">וּבָשָׂ֣ר</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_37_8_6">עָלָ֔ה</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_37_8_7">וַיִּקְרַ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_8_8">עֲלֵיהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_8_9">ע֖וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_8_10">מִלְמָ֑עְלָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_8_11">וְר֖וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_8_12">אֵ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_8_13">בָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16684">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_9" data-pasuk-now="23"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_37_9_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_37_9_2">אֵלַ֔י</span>
<span class="mila" data-lnk="3489663616" data-exlnk="0" id="M_37_9_3">הִנָּבֵ֖א</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_37_9_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16689">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_5">הָר֑וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_6">הִנָּבֵ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_7">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16693">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_8">אָ֠דָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_9">וְאָמַרְתָּ֨</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_9_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16697">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="16698">הָר֜וּחַ</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_37_9_11">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_12">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16702">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_13">אָמַ֣ר׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_14">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_9_15">יְהֹוִ֗ה</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_37_9_16">מֵאַרְבַּ֤ע</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_37_9_17">רוּחוֹת֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_9_18">בֹּ֣אִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_9_19">הָר֔וּחַ</span>
<span class="mila" data-lnk="3221227657" data-exlnk="0" id="M_37_9_20">וּפְחִ֛י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_37_9_21">בַּהֲרוּגִ֥ים</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_37_9_22">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_37_9_23">וְיִֽחְיֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16714">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_37_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221227528" data-exlnk="0" id="M_37_10_1">וְהִנַּבֵּ֖אתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_2">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_3">צִוָּ֑נִי</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_37_10_4">וַתָּבוֹא֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_5">בָהֶ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_6">הָר֜וּחַ</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_37_10_7">וַיִּֽחְי֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_8">וַיַּֽעַמְדוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16724">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_10">רַגְלֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_11">חַ֖יִל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_10_12">גָּד֥וֹל</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_37_10_13">מְאֹד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16729">־</span><span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_37_10_14">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16731">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_11" data-pasuk-now="18"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="805307016" data-exlnk="0" id="M_37_11_1">וַיֹּאמֶר֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_11_2">אֵלַי֒</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_11_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16735">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_37_11_4">אָדָ֕ם</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_5">הָעֲצָמ֣וֹת</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_6">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16740">־</span><span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_8">בֵּ֥ית</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_9">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_37_11_10">הֵ֑מָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_11_11">הִנֵּ֣ה</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_12">אֹמְרִ֗ים</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_13">יָבְשׁ֧וּ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_14">עַצְמוֹתֵ֛ינוּ</span>
<span class="mila" data-lnk="4026534415" data-exlnk="0" id="M_37_11_15">וְאָבְדָ֥ה</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_11_16">תִקְוָתֵ֖נוּ</span>
<span class="mila" data-lnk="3221227660" data-exlnk="0" id="M_37_11_17">נִגְזַ֥רְנוּ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_37_11_18">לָֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16752">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_12" data-pasuk-now="22"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_37_12_1">לָכֵן֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_37_12_2">הִנָּבֵ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_12_3">וְאָמַרְתָּ֜</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_12_4">אֲלֵיהֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_12_5">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16758">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_12_6">אָמַר֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_12_7">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_12_8">יְהֹוִה֒</span>
<span class="mila" data-lnk="268435970" data-exlnk="0" id="M_37_12_9">הִנֵּה֩</span>
<span class="mila" data-lnk="536871426" data-exlnk="0" id="M_37_12_10">אֲנִ֨י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_37_12_11">פֹתֵ֜חַ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_37_12_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16766">־</span><span class="mila" data-lnk="4026534414" data-exlnk="0" id="M_37_12_13">קִבְרֽוֹתֵיכֶ֗ם</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_37_12_14">וְהַעֲלֵיתִ֥י</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_37_12_15">אֶתְכֶ֛ם</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_37_12_16">מִקִּבְרוֹתֵיכֶ֖ם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_37_12_17">עַמִּ֑י</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_37_12_18">וְהֵבֵאתִ֥י</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_37_12_19">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="1342180110" data-exlnk="0" id="M_37_12_20">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16775">־</span><span class="mila" data-lnk="3758099214" data-exlnk="0" id="M_37_12_21">אַדְמַ֥ת</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_37_12_22">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16778">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_37_13_1">וִידַעְתֶּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_13_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16781">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_13_3">אֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_13_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="3221227776" data-exlnk="0" id="M_37_13_5">בְּפִתְחִ֣י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_37_13_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16786">־</span><span class="mila" data-lnk="805307136" data-exlnk="0" id="M_37_13_7">קִבְרֽוֹתֵיכֶ֗ם</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_37_13_8">וּבְהַעֲלוֹתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_13_9">אֶתְכֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_13_10">מִקִּבְרוֹתֵיכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_13_11">עַמִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16792">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_14" data-pasuk-now="16"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_14_1">וְנָתַתִּ֨י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_14_2">רוּחִ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_14_3">בָכֶם֙</span>
<span class="mila" data-lnk="4026534408" data-exlnk="0" id="M_37_14_4">וִחְיִיתֶ֔ם</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_37_14_5">וְהִנַּחְתִּ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_14_6">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_14_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16800">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_37_14_8">אַדְמַתְכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_14_9">וִידַעְתֶּ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_14_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16804">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_14_11">אֲנִ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_14_12">יְהוָ֛ה</span>
<span class="mila" data-lnk="1342179840" data-exlnk="0" id="M_37_14_13">דִּבַּ֥רְתִּי</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_37_14_14">וְעָשִׂ֖יתִי</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_37_14_15">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16810">־</span><span class="mila" data-lnk="805306880" data-exlnk="0" id="M_37_14_16">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16813">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="16814"> פ </span>
</span>
<br /><span id="PS_37_15" data-pasuk-now="5"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_15_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_15_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16817">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_15_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_15_4">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_15_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16821">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_16" data-pasuk-now="25"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_16_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_37_16_2">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16824">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_37_16_3">אָדָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_16_4">קַח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16827">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_16_5">לְךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_16_6">עֵ֣ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_16_7">אֶחָ֔ד</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_37_16_8">וּכְתֹ֤ב</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_37_16_9">עָלָיו֙</span>
<span class="mila" data-lnk="387" data-exlnk="0" id="M_37_16_10">לִֽיהוּדָ֔ה</span>
<span class="mila" data-lnk="3221227911" data-exlnk="0" id="M_37_16_11">וְלִבְנֵ֥י</span>
<span class="mila" data-lnk="2147486087" data-exlnk="0" id="M_37_16_12">יִשְׂרָאֵ֖ל</span>
<span data-lnk="0" data-exlnk="0" id="M_37_16_13" class="mila ktiv">חֲבֵרָ֑ו</span>
<span data-lnk="3221228943" data-exlnk="0" id="M_37_16_13_K" class="mila kri">חֲבֵרָ֑יו</span>
<span class="mila" data-lnk="3221227649" data-exlnk="0" id="M_37_16_14">וּלְקַח֙</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_37_16_15">עֵ֣ץ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_37_16_16">אֶחָ֔ד</span>
<span class="mila" data-lnk="4026534531" data-exlnk="0" id="M_37_16_17">וּכְת֣וֹב</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_37_16_18">עָלָ֗יו</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_37_16_19">לְיוֹסֵף֙</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_37_16_20">עֵ֣ץ</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_37_16_21">אֶפְרַ֔יִם</span>
<span class="mila" data-lnk="1879050882" data-exlnk="0" id="M_37_16_22">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16847">־</span><span class="mila" data-lnk="2952792714" data-exlnk="0" id="M_37_16_23">בֵּ֥ית</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_37_16_24">יִשְׂרָאֵ֖ל</span>
<span data-lnk="0" data-exlnk="0" id="M_37_16_25" class="mila ktiv">חֲבֵרָֽו</span>
<span data-lnk="4026534791" data-exlnk="0" id="M_37_16_25_K" class="mila kri">חֲבֵרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16852">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_17" data-pasuk-now="11"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3221227918" data-exlnk="0" id="M_37_17_1">וְקָרַ֨ב</span>
<span class="mila" data-lnk="805307278" data-exlnk="0" id="M_37_17_2">אֹתָ֜ם</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_37_17_3">אֶחָ֧ד</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_37_17_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16857">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_37_17_5">אֶחָ֛ד</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_37_17_6">לְךָ֖</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_37_17_7">לְעֵ֣ץ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_37_17_8">אֶחָ֑ד</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_37_17_9">וְהָי֥וּ</span>
<span class="mila" data-lnk="3221227661" data-exlnk="0" id="M_37_17_10">לַאֲחָדִ֖ים</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_37_17_11">בְּיָדֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16865">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_18" data-pasuk-now="12"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026535436" data-exlnk="0" id="M_37_18_1">וְכַֽאֲשֶׁר֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_18_2">יֹאמְר֣וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_18_3">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_18_4">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_18_5">עַמְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_18_6">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_18_7">הֲלֽוֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16873">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_18_8">תַגִּ֥יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_18_9">לָ֖נוּ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_37_18_10">מָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16877">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_37_18_11">אֵ֥לֶּה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_18_12">לָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16880">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_19" data-pasuk-now="30"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_19_1">דַּבֵּ֣ר</span>
<span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_37_19_2">אֲלֵהֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_19_3">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16884">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_19_4">אָמַר֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_19_5">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_19_6">יְהֹוִה֒</span>
<span class="mila" data-lnk="268435969" data-exlnk="0" id="M_37_19_7">הִנֵּה֩</span>
<span class="mila" data-lnk="805306881" data-exlnk="0" id="M_37_19_8">אֲנִ֨י</span>
<span class="mila" data-lnk="4026534401" data-exlnk="0" id="M_37_19_9">לֹקֵ֜חַ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_37_19_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16892">־</span><span class="mila" data-lnk="138" data-exlnk="0" id="M_37_19_11">עֵ֤ץ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_19_12">יוֹסֵף֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_19_13">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_19_14">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16897">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_37_19_15">אֶפְרַ֔יִם</span>
<span class="mila" data-lnk="1073743882" data-exlnk="0" id="M_37_19_16">וְשִׁבְטֵ֥י</span>
<span class="mila" data-lnk="3221227530" data-exlnk="0" id="M_37_19_17">יִשְׂרָאֵ֖ל</span>
<span data-lnk="0" data-exlnk="0" id="M_37_19_18" class="mila ktiv">חֲבֵרָ֑ו</span>
<span data-lnk="4026534408" data-exlnk="0" id="M_37_19_18_K" class="mila kri">חֲבֵרָ֑יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_19_19">וְנָתַתִּי֩</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_19_20">אוֹתָ֨ם</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_37_19_21">עָלָ֜יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_37_19_22">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16907">־</span><span class="mila" data-lnk="138" data-exlnk="0" id="M_37_19_23">עֵ֣ץ</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_19_24">יְהוּדָ֗ה</span>
<span class="mila" data-lnk="4026534530" data-exlnk="0" id="M_37_19_25">וַֽעֲשִׂיתִם֙</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_19_26">לְעֵ֣ץ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_19_27">אֶחָ֔ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_19_28">וְהָי֥וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_19_29">אֶחָ֖ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_19_30">בְּיָדִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16916">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_20" data-pasuk-now="7"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_20_1">וְהָי֨וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_20_2">הָעֵצִ֜ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_20_3">אֲֽשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16920">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_20_4">תִּכְתֹּ֧ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_20_5">עֲלֵיהֶ֛ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_20_6">בְּיָדְךָ֖</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_20_7">לְעֵינֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16925">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_21" data-pasuk-now="24"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_37_21_1">וְדַבֵּ֣ר</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_37_21_2">אֲלֵיהֶ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_3">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16929">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_4">אָמַר֘</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_5">אֲדנָ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_6">יְהֹוִה֒</span>
<span class="mila" data-lnk="1879050752" data-exlnk="0" id="M_37_21_7">הִנֵּ֨ה</span>
<span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_37_21_8">אֲנִ֤י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_37_21_9">לֹקֵחַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_21_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16937">־</span><span class="mila" data-lnk="268435968" data-exlnk="0" id="M_37_21_11">בְּנֵ֣י</span>
<span class="mila" data-lnk="536871424" data-exlnk="0" id="M_37_21_12">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_13">מִבֵּ֥ין</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_14">הַגּוֹיִ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_15">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_16">הָֽלְכוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16944">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_21_17">שָׁ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_21_18">וְקִבַּצְתִּ֤י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_37_21_19">אֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_21_20">מִסָּבִ֔יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_21_21">וְהֵבֵאתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_21_22">אוֹתָ֖ם</span>
<span class="mila" data-lnk="3489664512" data-exlnk="0" id="M_37_21_23">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16952">־</span><span class="mila" data-lnk="3758099968" data-exlnk="0" id="M_37_21_24">אַדְמָתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16954">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_22" data-pasuk-now="23"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_22_1">וְעָשִׂ֣יתִי</span>
<span class="mila" data-lnk="805306882" data-exlnk="0" id="M_37_22_2">אֹ֠תָם</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_37_22_3">לְג֨וֹי</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_37_22_4">אֶחָ֤ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_22_5">בָּאָ֙רֶץ֙</span>
<span class="mila" data-lnk="4026535428" data-exlnk="0" id="M_37_22_6">בְּהָרֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_22_7">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="1073743878" data-exlnk="0" id="M_37_22_8">וּמֶ֧לֶךְ</span>
<span class="mila" data-lnk="2147485702" data-exlnk="0" id="M_37_22_9">אֶחָ֛ד</span>
<span class="mila" data-lnk="4026534534" data-exlnk="0" id="M_37_22_10">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_22_11">לְכֻלָּ֖ם</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_37_22_12">לְמֶ֑לֶךְ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_13">וְלֹ֤א</span>
<span data-lnk="0" data-exlnk="0" id="M_37_22_14" class="mila ktiv">יִֽהְיֻה</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="16969">־</span><span data-lnk="138" data-exlnk="0" id="M_37_22_14_K" class="mila kri">יִֽהְיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16971">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_15">עוֹד֙</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_16">לִשְׁנֵ֣י</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_17">גוֹיִ֔ם</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_18">וְלֹ֨א</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_19">יֵחָ֥צוּ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_20">ע֛וֹד</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_21">לִשְׁתֵּ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_22_22">מַמְלָכ֖וֹת</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_37_22_23">עֽוֹד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16981">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_23" data-pasuk-now="23"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_23_1">וְלֹ֧א</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_23_2">יִֽטַּמְּא֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_23_3">ע֗וֹד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_23_4">בְּגִלּֽוּלֵיהֶם֙</span>
<span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_37_23_5">וּבְשִׁקּ֣וּצֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_6">וּבְכֹ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_7">פִּשְׁעֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_8">וְהוֹשַׁעְתִּ֣י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_37_23_9">אֹתָ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_23_10">מִכֹּ֤ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_23_11">מוֹשְׁבֹֽתֵיהֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_23_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_23_13">חָטְא֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_23_14">בָהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_15">וְטִהַרְתִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_16">אוֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_17">וְהָיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16999">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_23_18">לִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_19">לְעָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_20">וַאֲנִ֕י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_21">אֶהְיֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_22">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_23_23">לֵאלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17006">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_24" data-pasuk-now="14"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="1073742858" data-exlnk="0" id="M_37_24_1">וְעַבְדִּ֤י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_37_24_2">דָוִד֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_3">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_4">עֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026535426" data-exlnk="0" id="M_37_24_5">וְרוֹעֶ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_6">אֶחָ֖ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_7">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_8">לְכֻלָּ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_9">וּבְמִשְׁפָּטַ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_10">יֵלֵ֔כוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_11">וְחֻקּוֹתַ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_24_12">יִשְׁמְר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_24_13">וְעָשׂ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_24_14">אוֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17021">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_25" data-pasuk-now="24"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_37_25_1">וְיָשְׁב֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_25_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17024">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_37_25_3">הָאָ֗רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_4">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_5">נָתַ֙תִּי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_37_25_6">לְעַבְדִּ֣י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_37_25_7">לְיַֽעֲקֹ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_9">יָֽשְׁבוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17032">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_10">בָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_11">אֲבֽוֹתֵיכֶ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_25_12">וְיָשְׁב֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_25_13">עָלֶ֡יהָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_25_14">הֵ֠מָּה</span>
<span class="mila" data-lnk="1073743874" data-exlnk="0" id="M_37_25_15">וּבְנֵיהֶ֞ם</span>
<span class="mila" data-lnk="1073743874" data-exlnk="0" id="M_37_25_16">וּבְנֵ֤י</span>
<span class="mila" data-lnk="2147485698" data-exlnk="0" id="M_37_25_17">בְנֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_18">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17042">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_19">עוֹלָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_20">וְדָוִ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_21">עַבְדִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_22">נָשִׂ֥יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_23">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_25_24">לְעוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17049">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_26" data-pasuk-now="16"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_37_26_1">וְכָרַתִּ֤י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_26_2">לָהֶם֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_26_3">בְּרִ֣ית</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_26_4">שָׁל֔וֹם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_26_5">בְּרִ֥ית</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_26_6">עוֹלָ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_26_7">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_26_8">אוֹתָ֑ם</span>
<span class="mila" data-lnk="1073743886" data-exlnk="0" id="M_37_26_9">וּנְתַתִּים֙</span>
<span class="mila" data-lnk="2147485696" data-exlnk="0" id="M_37_26_10">וְהִרְבֵּיתִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_26_11">אוֹתָ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_26_12">וְנָתַתִּ֧י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_26_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17063">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_26_14">מִקְדָּשִׁ֛י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_26_15">בְּתוֹכָ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_26_16">לְעוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17067">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_27" data-pasuk-now="10"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_37_27_1">וְהָיָ֤ה</span>
<span class="mila" data-lnk="4026534542" data-exlnk="0" id="M_37_27_2">מִשְׁכָּנִי֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_37_27_3">עֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_27_4">וְהָיִ֥יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_27_5">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_27_6">לֵאלֹהִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_27_7">וְהֵ֖מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_27_8">יִהְיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17076">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_37_27_9">לִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_37_27_10">לְעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17079">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_37_28" data-pasuk-now="12"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_37_28_1">וְיָֽדְעוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_28_2">הַגּוֹיִ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_28_3">כִּ֚י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_28_4">אֲנִ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_28_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_28_6">מְקַדֵּ֖שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_28_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17087">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_37_28_8">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_28_9">בִּהְי֧וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_37_28_10">מִקְדָּשִׁ֛י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_37_28_11">בְּתוֹכָ֖ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_37_28_12">לְעוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17094">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="17095"> פ </span>
</span>
<br /></p>