<p id="PR_30" data-perek-now="342" data-perek-nops="26"><span class="perek-header">פרק ל</span>
<br /><span id="PS_30_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_30_1_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_30_1_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12996">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_30_1_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_30_1_4">אֵלַ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_30_1_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13000">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_2" data-pasuk-now="11"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_2_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13002">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_30_2_2">אָדָ֕ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_2_3">הִנָּבֵא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_2_4">וְאָ֣מַרְתָּ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_2_5">כֹּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_2_6">אָמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_2_7">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_2_8">יְהֹוִ֑ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_30_2_9">הֵילִ֖ילוּ</span>
<span class="mila" data-lnk="3221227651" data-exlnk="0" id="M_30_2_10">הָ֥הּ</span>
<span class="mila" data-lnk="805306883" data-exlnk="0" id="M_30_2_11">לַיּֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_3" data-pasuk-now="11"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_30_3_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13015">־</span><span class="mila" data-lnk="398" data-exlnk="0" id="M_30_3_2">קָר֣וֹב</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_30_3_3">י֔וֹם</span>
<span class="mila" data-lnk="4026534794" data-exlnk="0" id="M_30_3_4">וְקָר֥וֹב</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_30_3_5">י֖וֹם</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_30_3_6">לַֽיהוָ֑ה</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_3_7">י֣וֹם</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_3_8">עָנָ֔ן</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_30_3_9">עֵ֥ת</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_30_3_10">גּוֹיִ֖ם</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_30_3_11">יִהְיֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13026">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_4" data-pasuk-now="13"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_4_1">וּבָאָ֥ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_4_2">חֶ֙רֶב֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_4_3">בְּמִצְרַ֔יִם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_30_4_4">וְהָיְתָ֤ה</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_30_4_5">חַלְחָלָה֙</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_30_4_6">בְּכ֔וּשׁ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_30_4_7">בִּנְפֹ֥ל</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_4_8">חָלָ֖ל</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_30_4_9">בְּמִצְרָ֑יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_4_10">וְלָקְח֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_4_11">הֲמוֹנָ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_4_12">וְנֶהֶרְס֖וּ</span>
<span class="mila" data-lnk="4026535424" data-exlnk="0" id="M_30_4_13">יְסֹדוֹתֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13040">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_5_1">כּ֣וּשׁ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_5_2">וּפ֤וּט</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_5_3">וְלוּד֙</span>
<span class="mila" data-lnk="267" data-exlnk="0" id="M_30_5_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13045">־</span><span class="mila" data-lnk="267" data-exlnk="0" id="M_30_5_5">הָעֶ֣רֶב</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_30_5_6">וְכ֔וּב</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_30_5_7">וּבְנֵ֖י</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_30_5_8">אֶ֣רֶץ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_30_5_9">הַבְּרִ֑ית</span>
<span class="mila" data-lnk="4026535426" data-exlnk="0" id="M_30_5_10">אִתָּ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_5_11">בַּחֶ֥רֶב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_5_12">יִפֹּֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13055">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13056"> פ </span>
</span>
<br /><span id="PS_30_6" data-pasuk-now="17"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_6_1">כֹּ֚ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_6_2">אָמַ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_6_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_6_4">וְנָֽפְלוּ֙</span>
<span class="mila" data-lnk="3221227650" data-exlnk="0" id="M_30_6_5">סֹמְכֵ֣י</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_6_6">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_6_7">וְיָרַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_6_8">גְּא֣וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_6_9">עֻזָּ֑הּ</span>
<span class="mila" data-lnk="4026534410" data-exlnk="0" id="M_30_6_10">מִמִּגְדֹּ֣ל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_6_11">סְוֵנֵ֗ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_6_12">בַּחֶ֙רֶב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_6_13">יִפְּלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13070">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_30_6_14">בָ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_6_15">נְאֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_6_16">אֲדנָ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_6_17">יְהֹוִֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13075">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_7_1">וְנָשַׁ֕מּוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_7_2">בְּת֖וֹךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_7_3">אֲרָצ֣וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_7_4">נְשַׁמּ֑וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_7_5">וְעָרָ֕יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_7_6">בְּתוֹךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13082">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_30_7_7">עָרִ֥ים</span>
<span class="mila" data-lnk="3221227656" data-exlnk="0" id="M_30_7_8">נַחֲרָב֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_7_9">תִּֽהְיֶֽינָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13086">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_8" data-pasuk-now="10"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_8_1">וְיָדְע֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_8_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13089">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_8_3">אֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_8_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_30_8_5">בְּתִתִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13093">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_30_8_6">אֵ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_8_7">בְּמִצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_8_8">וְנִשְׁבְּר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_8_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13098">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_8_10">עֹזְרֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13100">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_9" data-pasuk-now="18"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_9_1">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_9_2">הַה֗וּא</span>
<span class="mila" data-lnk="4026534792" data-exlnk="0" id="M_30_9_3">יֵצְא֨וּ</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_30_9_4">מַלְאָכִ֤ים</span>
<span class="mila" data-lnk="4026534793" data-exlnk="0" id="M_30_9_5">מִלְּפָנַי֙</span>
<span class="mila" data-lnk="3221227917" data-exlnk="0" id="M_30_9_6">בַּצִּ֔ים</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_30_9_7">לְהַחֲרִ֖יד</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_30_9_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13109">־</span><span class="mila" data-lnk="399" data-exlnk="0" id="M_30_9_9">כּ֣וּשׁ</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_30_9_10">בֶּ֑טַח</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_30_9_11">וְהָיְתָ֨ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_30_9_12">חַלְחָלָ֤ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_9_13">בָהֶם֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_30_9_14">בְּי֣וֹם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_30_9_15">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_30_9_16">כִּ֥י</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_30_9_17">הִנֵּ֖ה</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_30_9_18">בָּאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13121">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13122">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_10" data-pasuk-now="12"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="268436104" data-exlnk="0" id="M_30_10_1">כֹּ֥ה</span>
<span class="mila" data-lnk="536871432" data-exlnk="0" id="M_30_10_2">אָמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_10_3">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_10_4">יְהֹוִ֑ה</span>
<span class="mila" data-lnk="805306882" data-exlnk="0" id="M_30_10_5">וְהִשְׁבַּתִּי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_10_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13129">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_30_10_7">הֲמ֣וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_10_8">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_10_9">בְּיַ֖ד</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_10_10">נְבוּכַדְרֶאצַּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_10_11">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13135">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_10_12">בָּבֶֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13137">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_11" data-pasuk-now="16"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_11_1">ה֠וּא</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_11_2">וְעַמּ֤וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_11_3">אִתּוֹ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_11_4">עָרִיצֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_11_5">גוֹיִ֔ם</span>
<span class="mila" data-lnk="4026534530" data-exlnk="0" id="M_30_11_6">מוּבָאִ֖ים</span>
<span class="mila" data-lnk="1342179842" data-exlnk="0" id="M_30_11_7">לְשַׁחֵ֣ת</span>
<span class="mila" data-lnk="2684357122" data-exlnk="0" id="M_30_11_8">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_11_9">וְהֵרִ֤יקוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_11_10">חַרְבוֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_11_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13149">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_11_12">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_30_11_13">וּמָלְא֥וּ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_30_11_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13153">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_30_11_15">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_30_11_16">חָלָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13156">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_12" data-pasuk-now="16"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_30_12_1">וְנָתַתִּ֤י</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_30_12_2">יְאֹרִים֙</span>
<span class="mila" data-lnk="3221227534" data-exlnk="0" id="M_30_12_3">חָֽרָבָ֔ה</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_30_12_4">וּמָכַרְתִּ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_12_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13162">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_30_12_6">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_30_12_7">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13165">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_30_12_8">רָעִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_12_9">וַהֲשִׁמֹּתִ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_12_10">אֶ֤רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_12_11">וּמְלֹאָהּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_30_12_12">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13171">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_30_12_13">זָרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_12_14">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_12_15">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_12_16">דִּבַּֽרְתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13177">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13178">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_13" data-pasuk-now="19"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1342179976" data-exlnk="0" id="M_30_13_1">כֹּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13180">־</span><span class="mila" data-lnk="2952792584" data-exlnk="0" id="M_30_13_2">אָמַ֞ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_13_3">אֲדנָ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_13_4">יְהֹוִ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_13_5">וְהַאֲבַדְתִּ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_13_6">גִלּוּלִ֜ים</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_30_13_7">וְהִשְׁבַּתִּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_13_8">אֱלִילִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_13_9">מִנֹּ֔ף</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_13_10">וְנָשִׂ֥יא</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_13_11">מֵאֶֽרֶץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13191">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_30_13_12">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_13_13">לֹ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_13_14">יִֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13195">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_30_13_15">ע֑וֹד</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_30_13_16">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_30_13_17">יִרְאָ֖ה</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_30_13_18">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_30_13_19">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13201">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_14" data-pasuk-now="9"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_14_1">וַֽהֲשִׁמֹּתִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_14_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13204">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_14_3">פַּתְר֔וֹס</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_14_4">וְנָתַ֥תִּי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_14_5">אֵ֖שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_14_6">בְּצֹ֑עַן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_30_14_7">וְעָשִׂ֥יתִי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_30_14_8">שְׁפָטִ֖ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_30_14_9">בְּנֹֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13212">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_15" data-pasuk-now="10"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_15_1">וְשָׁפַכְתִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_15_2">חֲמָתִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_15_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13216">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_15_4">סִ֖ין</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_15_5">מָע֣וֹז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_15_6">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_15_7">וְהִכְרַתִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_15_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13222">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_15_9">הֲמ֥וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_15_10">נֹֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13225">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_16" data-pasuk-now="12"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_16_1">וְנָתַ֤תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_16_2">אֵשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_16_3">בְּמִצְרַ֔יִם</span>
<span class="mila" data-lnk="3221227654" data-exlnk="0" id="M_30_16_4">ח֤וּל</span>
<span data-lnk="0" data-exlnk="0" id="M_30_16_5" class="mila ktiv">תָּחיּל֙</span>
<span data-lnk="3221227654" data-exlnk="0" id="M_30_16_5_K" class="mila kri">תָּחוּל֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_16_6">סִ֔ין</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_30_16_7">וְנֹ֖א</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_30_16_8">תִּֽהְיֶ֣ה</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_30_16_9">לְהִבָּקֵ֑עַ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_30_16_10">וְנֹ֖ף</span>
<span class="mila" data-lnk="271" data-exlnk="0" id="M_30_16_11">צָרֵ֥י</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_30_16_12">יוֹמָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13239">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_17" data-pasuk-now="9"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_17_1">בַּח֥וּרֵי</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_17_2">אָ֛וֶן</span>
<span class="mila" data-lnk="1073744008" data-exlnk="0" id="M_30_17_3">וּפִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13243">־</span><span class="mila" data-lnk="2147485832" data-exlnk="0" id="M_30_17_4">בֶ֖סֶת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_17_5">בַּחֶ֣רֶב</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_30_17_6">יִפֹּ֑לוּ</span>
<span class="mila" data-lnk="4026535817" data-exlnk="0" id="M_30_17_7">וְהֵ֖נָּה</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_30_17_8">בַּשְּׁבִ֥י</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_30_17_9">תֵלַֽכְנָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13250">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_18" data-pasuk-now="18"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="3221227662" data-exlnk="0" id="M_30_18_1">וּבִֽתְחַפְנְחֵס֙</span>
<span class="mila" data-lnk="4026534543" data-exlnk="0" id="M_30_18_2">חָשַׂ֣ךְ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_30_18_3">הַיּ֔וֹם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_18_4">בְּשִׁבְרִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13255">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_30_18_5">שָׁם֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_18_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13258">־</span><span class="mila" data-lnk="140" data-exlnk="0" id="M_30_18_7">מֹט֣וֹת</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_30_18_8">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="1073744002" data-exlnk="0" id="M_30_18_9">וְנִשְׁבַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13262">־</span><span class="mila" data-lnk="2147485826" data-exlnk="0" id="M_30_18_10">בָּ֖הּ</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_30_18_11">גְּא֣וֹן</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_30_18_12">עֻזָּ֑הּ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_30_18_13">הִ֚יא</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_30_18_14">עָנָ֣ן</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_30_18_15">יְכַסֶּ֔נָּה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_30_18_16">וּבְנוֹתֶ֖יהָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_18_17">בַּשְּׁבִ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_18_18">תֵלַֽכְנָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13272">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_19" data-pasuk-now="7"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_19_1">וְעָשִׂ֥יתִי</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_19_2">שְׁפָטִ֖ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_19_3">בְּמִצְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_19_4">וְיָדְע֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_19_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13278">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_19_6">אֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_19_7">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13282">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13283"> פ </span>
</span>
<br /><span id="PS_30_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_20_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_20_2">בְּאַחַ֤ת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_20_3">עֶשְׂרֵה֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_20_4">שָׁנָ֔ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_20_5">בָּרִאשׁ֖וֹן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_20_6">בְּשִׁבְעָ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_20_7">לַחֹ֑דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_20_8">הָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_20_9">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13293">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_20_10">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_20_11">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_20_12">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13297">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_21" data-pasuk-now="19"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_30_21_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13299">־</span><span class="mila" data-lnk="138" data-exlnk="0" id="M_30_21_2">אָדָ֕ם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_30_21_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13302">־</span><span class="mila" data-lnk="143" data-exlnk="0" id="M_30_21_4">זְר֛וֹעַ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_30_21_5">פַּרְעֹ֥ה</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_30_21_6">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13306">־</span><span class="mila" data-lnk="15" data-exlnk="0" id="M_30_21_7">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_30_21_8">שָׁבָ֑רְתִּי</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_30_21_9">וְהִנֵּ֣ה</span>
<span class="mila" data-lnk="1073744271" data-exlnk="0" id="M_30_21_10">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13311">־</span><span class="mila" data-lnk="2147486095" data-exlnk="0" id="M_30_21_11">חֻ֠בְּשָׁה</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_30_21_12">לָתֵ֨ת</span>
<span class="mila" data-lnk="4026534530" data-exlnk="0" id="M_30_21_13">רְפֻא֜וֹת</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_30_21_14">לָשׂ֥וּם</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_30_21_15">חִתּ֛וּל</span>
<span class="mila" data-lnk="3221227790" data-exlnk="0" id="M_30_21_16">לְחָבְשָׁ֥הּ</span>
<span class="mila" data-lnk="3221227918" data-exlnk="0" id="M_30_21_17">לְחָזְקָ֖הּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_30_21_18">לִתְפֹּ֥שׂ</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_30_21_19">בֶּחָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13322">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13323">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_22" data-pasuk-now="21"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="3489664648" data-exlnk="0" id="M_30_22_1">לָכֵ֞ן</span>
<span class="mila" data-lnk="1342180864" data-exlnk="0" id="M_30_22_2">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13326">־</span><span class="mila" data-lnk="1342180864" data-exlnk="0" id="M_30_22_3">אָמַ֣ר׀</span>
<span class="mila" data-lnk="1342180864" data-exlnk="0" id="M_30_22_4">אֲדנָ֣י</span>
<span class="mila" data-lnk="3758099968" data-exlnk="0" id="M_30_22_5">יְהֹוִ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_22_6">הִנְנִי֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_22_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13332">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_30_22_8">פַּרְעֹ֣ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_22_9">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13335">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_30_22_10">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_30_22_11">וְשָֽׁבַרְתִּי֙</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_30_22_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13339">־</span><span class="mila" data-lnk="131" data-exlnk="0" id="M_30_22_13">זְרֹ֣עֹתָ֔יו</span>
<span class="mila" data-lnk="1073744262" data-exlnk="0" id="M_30_22_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13342">־</span><span class="mila" data-lnk="3221227918" data-exlnk="0" id="M_30_22_15">הַחֲזָקָ֖ה</span>
<span class="mila" data-lnk="390" data-exlnk="0" id="M_30_22_16">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13345">־</span><span class="mila" data-lnk="398" data-exlnk="0" id="M_30_22_17">הַנִּשְׁבָּ֑רֶת</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_30_22_18">וְהִפַּלְתִּ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_22_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13349">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_30_22_20">הַחֶ֖רֶב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_30_22_21">מִיָּדֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13352">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_23" data-pasuk-now="6"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_23_1">וַהֲפִצוֹתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_23_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13355">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_23_3">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_23_4">בַּגּוֹיִ֑ם</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_30_23_5">וְזֵרִיתִ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_23_6">בָּאֲרָצֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13360">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_24" data-pasuk-now="17"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026535561" data-exlnk="0" id="M_30_24_1">וְחִזַּקְתִּ֗י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_30_24_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13363">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_30_24_3">זְרֹעוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_24_4">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_24_5">בָּבֶ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_24_6">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_30_24_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13369">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_24_8">חַרְבִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_24_9">בְּיָד֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_24_10">וְשָֽׁבַרְתִּי֙</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_30_24_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13374">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_24_12">זְרֹע֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_24_13">פַּרְעֹ֔ה</span>
<span class="mila" data-lnk="3221227524" data-exlnk="0" id="M_30_24_14">וְנָאַ֛ק</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_30_24_15">נַאֲק֥וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_24_16">חָלָ֖ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_30_24_17">לְפָנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13381">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_25" data-pasuk-now="22"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="3221227529" data-exlnk="0" id="M_30_25_1">וְהַחֲזַקְתִּ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13384">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_3">זְרֹעוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_4">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_5">בָּבֶ֔ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_30_25_6">וּזְרֹע֥וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_30_25_7">פַּרְעֹ֖ה</span>
<span class="mila" data-lnk="4026534401" data-exlnk="0" id="M_30_25_8">תִּפֹּ֑לְנָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_9">וְֽיָדְע֞וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_10">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13393">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_11">אֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_12">יְהוָ֗ה</span>
<span class="mila" data-lnk="3221227648" data-exlnk="0" id="M_30_25_13">בְּתִתִּ֤י</span>
<span class="mila" data-lnk="2147485824" data-exlnk="0" id="M_30_25_14">חַרְבִּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_25_15">בְּיַ֣ד</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_25_16">מֶֽלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13400">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_30_25_17">בָּבֶ֔ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_25_18">וְנָטָ֥ה</span>
<span class="mila" data-lnk="805306888" data-exlnk="0" id="M_30_25_19">אוֹתָ֖הּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_25_20">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13405">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_30_25_21">אֶ֥רֶץ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_25_22">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13408">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_26" data-pasuk-now="11"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_30_26_1">וַהֲפִצוֹתִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_26_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13411">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_30_26_3">מִצְרַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_26_4">בַּגּוֹיִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_26_5">וְזֵרִיתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_26_6">אוֹתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_26_7">בָּאֲרָצ֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_26_8">וְיָדְע֖וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_26_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13419">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_30_26_10">אֲנִ֥י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_30_26_11">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13423">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13424"> פ </span>
</span>
<br /></p>