<p id="PR_3" data-perek-now="411" data-perek-nops="27"><span class="perek-header">פרק ג</span>
<br /><span id="PS_3_1" data-pasuk-now="17"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_1_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_1_2">אֵלַ֔י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_1_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="656">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_1_4">אָדָ֕ם</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_3_1_5">אֵ֥ת</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_3_1_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="660">־</span><span class="mila" data-lnk="142" data-exlnk="0" id="M_3_1_7">תִּמְצָ֖א</span>
<span class="mila" data-lnk="4026534542" data-exlnk="0" id="M_3_1_8">אֱכ֑וֹל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_1_9">אֱכוֹל֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_1_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="665">־</span><span class="mila" data-lnk="130" data-exlnk="0" id="M_3_1_11">הַמְּגִלָּ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_1_12">הַזֹּ֔את</span>
<span class="mila" data-lnk="805307008" data-exlnk="0" id="M_3_1_13">וְלֵ֥ךְ</span>
<span class="mila" data-lnk="1879050880" data-exlnk="0" id="M_3_1_14">דַּבֵּ֖ר</span>
<span class="mila" data-lnk="1879050880" data-exlnk="0" id="M_3_1_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="671">־</span><span class="mila" data-lnk="1610615424" data-exlnk="0" id="M_3_1_16">בֵּ֥ית</span>
<span class="mila" data-lnk="3758099072" data-exlnk="0" id="M_3_1_17">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="674">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_2_1">וָאֶפְתַּ֖ח</span>
<span class="mila" data-lnk="805306888" data-exlnk="0" id="M_3_2_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="677">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_2_3">פִּ֑י</span>
<span class="mila" data-lnk="3221227650" data-exlnk="0" id="M_3_2_4">וַיַּ֣אֲכִילֵ֔נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_5">אֵ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_6">הַמְּגִלָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_7">הַזֹּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="683">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_3" data-pasuk-now="20"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_3_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_3_2">אֵלַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="687">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_4">אָדָם֙</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_3_3_5">בִּטְנְךָ֤</span>
<span class="mila" data-lnk="3221227910" data-exlnk="0" id="M_3_3_6">תַֽאֲכֵל֙</span>
<span class="mila" data-lnk="3221227526" data-exlnk="0" id="M_3_3_7">וּמֵעֶ֣יךָ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_3_8">תְמַלֵּ֔א</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_3_9">אֵ֚ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_3_10">הַמְּגִלָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_11">הַזֹּ֔את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_13">אֲנִ֖י</span>
<span class="mila" data-lnk="268435968" data-exlnk="0" id="M_3_3_14">נֹתֵ֣ן</span>
<span class="mila" data-lnk="536871424" data-exlnk="0" id="M_3_3_15">אֵלֶ֑יךָ</span>
<span class="mila" data-lnk="3221227659" data-exlnk="0" id="M_3_3_16">וָאֹ֣כְלָ֔ה</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_3_3_17">וַתְּהִ֥י</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_3_3_18">בְּפִ֖י</span>
<span class="mila" data-lnk="3221227662" data-exlnk="0" id="M_3_3_19">כִּדְבַ֥שׁ</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_3_3_20">לְמָתֽוֹק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="706">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="707"> פ </span>
</span>
<br /><span id="PS_3_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_4_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_4_2">אֵלָ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="711">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_4">אָדָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_5">לֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="714">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_6">בֹּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="717">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_8">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_9">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="1073743872" data-exlnk="0" id="M_3_4_10">וְדִבַּרְתָּ֥</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_3_4_11">בִדְבָרַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_12">אֲלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="723">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_5_1">כִּ֡י</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_5_2">לֹא֩</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_5_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="727">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_3_5_4">עַ֨ם</span>
<span class="mila" data-lnk="4026534537" data-exlnk="0" id="M_3_5_5">עִמְקֵ֥י</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_3_5_6">שָׂפָ֛ה</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_5_7">וְכִבְדֵ֥י</span>
<span class="mila" data-lnk="805307016" data-exlnk="0" id="M_3_5_8">לָשׁ֖וֹן</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_5_9">אַתָּ֣ה</span>
<span class="mila" data-lnk="4026534528" data-exlnk="0" id="M_3_5_10">שָׁל֑וּחַ</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_3_5_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="736">־</span><span class="mila" data-lnk="133" data-exlnk="0" id="M_3_5_12">בֵּ֖ית</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_3_5_13">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="739">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_6" data-pasuk-now="19"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026535822" data-exlnk="0" id="M_3_6_1">לֹ֣א׀</span>
<span class="mila" data-lnk="805307278" data-exlnk="0" id="M_3_6_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="742">־</span><span class="mila" data-lnk="805307022" data-exlnk="0" id="M_3_6_3">עַמִּ֣ים</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_3_6_4">רַבִּ֗ים</span>
<span class="mila" data-lnk="805307014" data-exlnk="0" id="M_3_6_5">עִמְקֵ֤י</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_3_6_6">שָׂפָה֙</span>
<span class="mila" data-lnk="386" data-exlnk="0" id="M_3_6_7">וְכִבְדֵ֣י</span>
<span class="mila" data-lnk="805307266" data-exlnk="0" id="M_3_6_8">לָשׁ֔וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_6_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="805307270" data-exlnk="0" id="M_3_6_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="751">־</span><span class="mila" data-lnk="390" data-exlnk="0" id="M_3_6_11">תִשְׁמַ֖ע</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_6_12">דִּבְרֵיהֶ֑ם</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_3_6_13">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="755">־</span><span class="mila" data-lnk="805307311" data-exlnk="0" id="M_3_6_14">לֹ֤א</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_3_6_15">אֲלֵיהֶם֙</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_3_6_16">שְׁלַחְתִּ֔יךָ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_3_6_17">הֵ֖מָּה</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_3_6_18">יִשְׁמְע֥וּ</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_3_6_19">אֵלֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="762">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_7" data-pasuk-now="20"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026535560" data-exlnk="0" id="M_3_7_1">וּבֵ֣ית</span>
<span class="mila" data-lnk="4026535560" data-exlnk="0" id="M_3_7_2">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_3_7_3">לֹ֤א</span>
<span class="mila" data-lnk="142" data-exlnk="0" id="M_3_7_4">יֹאבוּ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_7_5">לִשְׁמֹ֣עַ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_7_6">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_7_7">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="770">־</span><span class="mila" data-lnk="174" data-exlnk="0" id="M_3_7_8">אֵינָ֥ם</span>
<span class="mila" data-lnk="3221227694" data-exlnk="0" id="M_3_7_9">אֹבִ֖ים</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_7_10">לִשְׁמֹ֣עַ</span>
<span class="mila" data-lnk="174" data-exlnk="0" id="M_3_7_11">אֵלָ֑י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_7_12">כִּ֚י</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_3_7_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="777">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_3_7_14">בֵּ֣ית</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_7_15">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_7_16">חִזְקֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="781">־</span><span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_3_7_17">מֵ֥צַח</span>
<span class="mila" data-lnk="4026534402" data-exlnk="0" id="M_3_7_18">וּקְשֵׁי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="784">־</span><span class="mila" data-lnk="134" data-exlnk="0" id="M_3_7_19">לֵ֖ב</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_7_20">הֵֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="787">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="805307018" data-exlnk="0" id="M_3_8_1">הִנֵּ֨ה</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_3_8_2">נָתַ֧תִּי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_8_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="791">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_3_8_4">פָּנֶ֛יךָ</span>
<span class="mila" data-lnk="4026535434" data-exlnk="0" id="M_3_8_5">חֲזָקִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_8_6">לְעֻמַּ֣ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_8_7">פְּנֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_8">וְאֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="797">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_9">מִצְחֲךָ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_10">חָזָ֖ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_11">לְעֻמַּ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_8_12">מִצְחָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="802">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221227951" data-exlnk="0" id="M_3_9_1">כְּשָׁמִ֛יר</span>
<span class="mila" data-lnk="266" data-exlnk="0" id="M_3_9_2">חָזָ֥ק</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_3_9_3">מִצֹּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_4">נָתַ֣תִּי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_9_5">מִצְחֶ֑ךָ</span>
<span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_3_9_6">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="809">־</span><span class="mila" data-lnk="4026534400" data-exlnk="0" id="M_3_9_7">תִירָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_8">אוֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_9">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="813">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_10">תֵחַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_9_11">מִפְּנֵיהֶ֔ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_9_12">כִּ֛י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_9_13">בֵּ֥ית</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_9_14">מְרִ֖י</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_9_15">הֵֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="821">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="822"> פ </span>
</span>
<br /><span id="PS_3_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_10_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_2">אֵלָ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="826">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_4">אָדָ֕ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="829">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="831">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_7">דְּבָרַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_9">אֲדַבֵּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_10_10">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_10_11">קַ֥ח</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_10_12">בִּֽלְבָבְךָ֖</span>
<span class="mila" data-lnk="4026534408" data-exlnk="0" id="M_3_10_13">וּבְאָזְנֶ֥יךָ</span>
<span class="mila" data-lnk="805306888" data-exlnk="0" id="M_3_10_14">שְּׁמָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="840">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_11" data-pasuk-now="19"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026534410" data-exlnk="0" id="M_3_11_1">וְלֵ֨ךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_11_2">בֹּ֤א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_11_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="844">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_3_11_4">הַגּוֹלָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="847">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_6">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_7">עַמֶּ֔ךָ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_11_8">וְדִבַּרְתָּ֤</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_11_9">אֲלֵיהֶם֙</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_3_11_10">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_3_11_11">אֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="293" data-exlnk="0" id="M_3_11_12">כֹּ֥ה</span>
<span class="mila" data-lnk="293" data-exlnk="0" id="M_3_11_13">אָמַ֖ר</span>
<span class="mila" data-lnk="293" data-exlnk="0" id="M_3_11_14">אֲדנָ֣י</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_3_11_15">יְהֹוִ֑ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_3_11_16">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="859">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_3_11_17">יִשְׁמְע֖וּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_3_11_18">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="862">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_3_11_19">יֶחְדָּֽלוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="864">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_3_12_1">וַתִּשָּׂאֵ֣נִי</span>
<span class="mila" data-lnk="393" data-exlnk="0" id="M_3_12_2">ר֔וּחַ</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_3_12_3">וָאֶשְׁמַ֣ע</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_3_12_4">אַחֲרַ֔י</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_3_12_5">ק֖וֹל</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_3_12_6">רַ֣עַשׁ</span>
<span class="mila" data-lnk="392" data-exlnk="0" id="M_3_12_7">גָּד֑וֹל</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_3_12_8">בָּר֥וּךְ</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_3_12_9">כְּבוֹד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="874">־</span><span class="mila" data-lnk="394" data-exlnk="0" id="M_3_12_10">יְהוָ֖ה</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_3_12_11">מִמְּקוֹמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="877">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_13" data-pasuk-now="13"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_3_13_1">וְק֣וֹל׀</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_3_13_2">כַּנְפֵ֣י</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_3_13_3">הַחַיּ֗וֹת</span>
<span class="mila" data-lnk="3221227823" data-exlnk="0" id="M_3_13_4">מַשִּׁיקוֹת֙</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_3_13_5">אִשָּׁ֣ה</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_3_13_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="884">־</span><span class="mila" data-lnk="258" data-exlnk="0" id="M_3_13_7">אֲחוֹתָ֔הּ</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_3_13_8">וְק֥וֹל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_13_9">הָאוֹפַנִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_10">לְעֻמָּתָ֑ם</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_13_11">וְק֖וֹל</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_13_12">רַ֥עַשׁ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_13_13">גָּדֽוֹל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="892">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_14" data-pasuk-now="11"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="394" data-exlnk="0" id="M_3_14_1">וְר֥וּחַ</span>
<span class="mila" data-lnk="4026534666" data-exlnk="0" id="M_3_14_2">נְשָׂאַ֖תְנִי</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_3_14_3">וַתִּקָּחֵ֑נִי</span>
<span class="mila" data-lnk="395" data-exlnk="0" id="M_3_14_4">וָאֵלֵ֥ךְ</span>
<span class="mila" data-lnk="399" data-exlnk="0" id="M_3_14_5">מַר֙</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_3_14_6">בַּחֲמַ֣ת</span>
<span class="mila" data-lnk="398" data-exlnk="0" id="M_3_14_7">רוּחִ֔י</span>
<span class="mila" data-lnk="1342180231" data-exlnk="0" id="M_3_14_8">וְיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="901">־</span><span class="mila" data-lnk="2684357383" data-exlnk="0" id="M_3_14_9">יְהוָ֥ה</span>
<span class="mila" data-lnk="391" data-exlnk="0" id="M_3_14_10">עָלַ֖י</span>
<span class="mila" data-lnk="3221227911" data-exlnk="0" id="M_3_14_11">חָזָֽקָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="905">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_15" data-pasuk-now="19"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_3_15_1">וָאָב֨וֹא</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_3_15_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="908">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_3_15_3">הַגּוֹלָ֜ה</span>
<span class="mila" data-lnk="291" data-exlnk="0" id="M_3_15_4">תֵּ֣ל</span>
<span class="mila" data-lnk="295" data-exlnk="0" id="M_3_15_5">אָ֠בִיב</span>
<span class="mila" data-lnk="805307136" data-exlnk="0" id="M_3_15_6">הַיֹּשְׁבִ֤ים</span>
<span class="mila" data-lnk="1879051016" data-exlnk="0" id="M_3_15_7">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="914">־</span><span class="mila" data-lnk="3758099208" data-exlnk="0" id="M_3_15_8">נְהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="916">־</span><span class="mila" data-lnk="264" data-exlnk="0" id="M_3_15_9">כְּבָר֙</span>
<span data-lnk="0" data-exlnk="0" id="M_3_15_10" class="mila ktiv">וָאֵשֵׁ֔ר</span>
<span data-lnk="4026534796" data-exlnk="0" id="M_3_15_10_K" class="mila kri">וָאֵשֵׁ֔ב</span>
<span class="mila" data-lnk="300" data-exlnk="0" id="M_3_15_11">הֵ֖מָּה</span>
<span class="mila" data-lnk="4026534828" data-exlnk="0" id="M_3_15_12">יוֹשְׁבִ֣ים</span>
<span class="mila" data-lnk="388" data-exlnk="0" id="M_3_15_13">שָׁ֑ם</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_3_15_14">וָאֵשֵׁ֥ב</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_3_15_15">שָׁ֛ם</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_3_15_16">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="268" data-exlnk="0" id="M_3_15_17">יָמִ֖ים</span>
<span class="mila" data-lnk="3221227919" data-exlnk="0" id="M_3_15_18">מַשְׁמִ֥ים</span>
<span class="mila" data-lnk="270" data-exlnk="0" id="M_3_15_19">בְּתוֹכָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="929">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="1879051816" data-exlnk="0" id="M_3_16_1">וַיְהִ֕י</span>
<span class="mila" data-lnk="4026535464" data-exlnk="0" id="M_3_16_2">מִקְצֵ֖ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_16_3">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="933">יָמִ֑ים</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="M_3_16_4"> פ </span>
<br /><span class="mila" data-lnk="32" data-exlnk="0" id="M_3_16_5">וַיְהִ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_16_6">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="938">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_3_16_7">יְהוָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_16_8">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_16_9">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="942">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_17" data-pasuk-now="12"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_17_1">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="944">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_17_2">אָדָ֕ם</span>
<span class="mila" data-lnk="431" data-exlnk="0" id="M_3_17_3">צֹפֶ֥ה</span>
<span class="mila" data-lnk="291" data-exlnk="0" id="M_3_17_4">נְתַתִּ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_5">לְבֵ֣ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_17_6">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_3_17_7">וְשָׁמַעְתָּ֤</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_3_17_8">מִפִּי֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_17_9">דָּבָ֔ר</span>
<span class="mila" data-lnk="4026534796" data-exlnk="0" id="M_3_17_10">וְהִזְהַרְתָּ֥</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_3_17_11">אוֹתָ֖ם</span>
<span class="mila" data-lnk="396" data-exlnk="0" id="M_3_17_12">מִמֶּֽנִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="956">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_18" data-pasuk-now="20"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_18_1">בְּאָמְרִ֤י</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_18_2">לָרָשָׁע֙</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_18_3">מ֣וֹת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_4">תָּמ֔וּת</span>
<span class="mila" data-lnk="1073744004" data-exlnk="0" id="M_3_18_5">וְלֹ֣א</span>
<span class="mila" data-lnk="1073744004" data-exlnk="0" id="M_3_18_6">הִזְהַרְתּ֗וֹ</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_3_18_7">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_8">דִבַּ֛רְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_9">לְהַזְהִ֥יר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_18_10">רָשָׁ֛ע</span>
<span class="mila" data-lnk="264" data-exlnk="0" id="M_3_18_11">מִדַּרְכּ֥וֹ</span>
<span class="mila" data-lnk="4026534792" data-exlnk="0" id="M_3_18_12">הָרֲשָׁעָ֖ה</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_18_13">לְחַיֹּת֑וֹ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_14">ה֤וּא</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_18_15">רָשָׁע֙</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_18_16">בַּעֲוֺנ֣וֹ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_18_17">יָמ֔וּת</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_18_18">וְדָמ֖וֹ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_18_19">מִיָּדְךָ֥</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_18_20">אֲבַקֵּֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="977">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_19" data-pasuk-now="16"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_19_1">וְאַתָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_2">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="980">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_3">הִזְהַ֣רְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_4">רָשָׁ֔ע</span>
<span class="mila" data-lnk="1879050752" data-exlnk="0" id="M_3_19_5">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="984">־</span><span class="mila" data-lnk="3758098944" data-exlnk="0" id="M_3_19_6">שָׁב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_7">מֵֽרִשְׁע֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_8">וּמִדַּרְכּ֖וֹ</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_3_19_9">הָרֲשָׁעָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_10">ה֚וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_11">בַּעֲוֺנ֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_12">יָמ֔וּת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_19_13">וְאַתָּ֖ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_19_14">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="994">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_19_15">נַפְשְׁךָ֥</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_3_19_16">הִצַּֽלְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="997">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_20" data-pasuk-now="23"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="805307016" data-exlnk="0" id="M_3_20_1">וּבְשׁ֨וּב</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_20_2">צַדִּ֤יק</span>
<span class="mila" data-lnk="3221227656" data-exlnk="0" id="M_3_20_3">מִצִּדְקוֹ֙</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_20_4">וְעָ֣שָׂה</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_3_20_5">עָ֔וֶל</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_3_20_6">וְנָתַתִּ֥י</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_3_20_7">מִכְשׁ֛וֹל</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_3_20_8">לְפָנָ֖יו</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_3_20_9">ה֣וּא</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_20_10">יָמ֑וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_11">כִּ֣י</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_3_20_12">לֹ֤א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_13">הִזְהַרְתּוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_14">בְּחַטָּאת֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_15">יָמ֔וּת</span>
<span class="mila" data-lnk="1342179977" data-exlnk="0" id="M_3_20_16">וְלֹ֣א</span>
<span class="mila" data-lnk="4026534537" data-exlnk="0" id="M_3_20_17">תִזָּכַ֗רְןָ</span>
<span data-lnk="0" data-exlnk="0" id="M_3_20_18" class="mila ktiv">צִדְקֹתָו֙</span>
<span data-lnk="4026534537" data-exlnk="0" id="M_3_20_18_K" class="mila kri">צִדְקֹתָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_19">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_20_20">עָשָׂ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_21">וְדָמ֖וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_22">מִיָּדְךָ֥</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_20_23">אֲבַקֵּֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1022">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_21" data-pasuk-now="18"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_21_1">וְאַתָּ֞ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_21_2">כִּ֧י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_21_3">הִזְהַרְתּ֣וֹ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_21_4">צַדִּ֗יק</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_21_5">לְבִלְתִּ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_21_6">חֲטֹ֛א</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_21_7">צַדִּ֖יק</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_21_8">וְה֣וּא</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_21_9">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1032">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_21_10">חָטָ֑א</span>
<span class="mila" data-lnk="4026534536" data-exlnk="0" id="M_3_21_11">חָי֤וֹ</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_21_12">יִֽחְיֶה֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_21_13">כִּ֣י</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_21_14">נִזְהָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_15">וְאַתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_16">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1040">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_17">נַפְשְׁךָ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_18">הִצַּֽלְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1044">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1045"> פ </span>
</span>
<br /><span id="PS_3_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_22_1">וַתְּהִ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_22_2">עָלַ֛י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_22_3">שָׁ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_22_4">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1050">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_22_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_6">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_7">אֵלַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_8">ק֥וּם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_9">צֵא֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_22_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1057">־</span><span class="mila" data-lnk="136" data-exlnk="0" id="M_3_22_11">הַבִּקְעָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_12">וְשָׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_13">אֲדַבֵּ֥ר</span>
<span class="mila" data-lnk="805307008" data-exlnk="0" id="M_3_22_14">אוֹתָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1062">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_23" data-pasuk-now="18"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_23_1">וָאָקוּם֘</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_3_23_2">וָאֵצֵ֣א</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_3_23_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1066">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_4">הַבִּקְעָה֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_23_5">וְהִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1069">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_3_23_6">שָׁ֤ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_23_7">כְּבוֹד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1072">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_3_23_8">יְהוָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_23_9">עֹמֵ֔ד</span>
<span class="mila" data-lnk="3221227520" data-exlnk="0" id="M_3_23_10">כַּכָּב֕וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_12">רָאִ֖יתִי</span>
<span class="mila" data-lnk="536871424" data-exlnk="0" id="M_3_23_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1079">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_14">נְהַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1081">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_23_15">כְּבָ֑ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_23_16">וָאֶפֹּ֖ל</span>
<span class="mila" data-lnk="536871428" data-exlnk="0" id="M_3_23_17">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1085">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_23_18">פָּנָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1087">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_24" data-pasuk-now="14"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_24_1">וַתָּבֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1089">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_24_2">בִ֣י</span>
<span class="mila" data-lnk="805306880" data-exlnk="0" id="M_3_24_3">ר֔וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_24_4">וַתַּעֲמִדֵ֖נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_24_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1094">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_24_6">רַגְלָ֑י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_24_7">וַיְדַבֵּ֤ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_24_8">אֹתִי֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_24_9">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_24_10">אֵלַ֔י</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_3_24_11">בֹּ֥א</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_3_24_12">הִסָּגֵ֖ר</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_3_24_13">בְּת֥וֹךְ</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_3_24_14">בֵּיתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1104">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_25" data-pasuk-now="12"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_25_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_2">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1107">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_25_3">אָדָ֗ם</span>
<span class="mila" data-lnk="293" data-exlnk="0" id="M_3_25_4">הִנֵּ֨ה</span>
<span class="mila" data-lnk="423" data-exlnk="0" id="M_3_25_5">נָתְנ֤וּ</span>
<span class="mila" data-lnk="423" data-exlnk="0" id="M_3_25_6">עָלֶ֙יךָ֙</span>
<span class="mila" data-lnk="4026535855" data-exlnk="0" id="M_3_25_7">עֲבוֹתִ֔ים</span>
<span class="mila" data-lnk="3221227782" data-exlnk="0" id="M_3_25_8">וַאֲסָר֖וּךָ</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_3_25_9">בָּהֶ֑ם</span>
<span class="mila" data-lnk="1342179970" data-exlnk="0" id="M_3_25_10">וְלֹ֥א</span>
<span class="mila" data-lnk="2684357250" data-exlnk="0" id="M_3_25_11">תֵצֵ֖א</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_25_12">בְּתוֹכָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1118">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_26" data-pasuk-now="14"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_26_1">וּלְשֽׁוֹנְךָ֙</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_3_26_2">אַדְבִּ֣יק</span>
<span class="mila" data-lnk="1073744012" data-exlnk="0" id="M_3_26_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1122">־</span><span class="mila" data-lnk="2147485836" data-exlnk="0" id="M_3_26_4">חִכֶּ֔ךָ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_3_26_5">וְנֶֽאֱלַ֔מְתָּ</span>
<span class="mila" data-lnk="1342179968" data-exlnk="0" id="M_3_26_6">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1126">־</span><span class="mila" data-lnk="2952792704" data-exlnk="0" id="M_3_26_7">תִהְיֶ֥ה</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_3_26_8">לָהֶ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_26_9">לְאִ֣ישׁ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_26_10">מוֹכִ֑יחַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_26_11">כִּ֛י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_26_12">בֵּ֥ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_26_13">מְרִ֖י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_26_14">הֵֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1135">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_27" data-pasuk-now="19"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="3221227661" data-exlnk="0" id="M_3_27_1">וּֽבְדַבְּרִ֤י</span>
<span class="mila" data-lnk="805307021" data-exlnk="0" id="M_3_27_2">אֽוֹתְךָ֙</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_27_3">אֶפְתַּ֣ח</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_3_27_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1140">־</span><span class="mila" data-lnk="140" data-exlnk="0" id="M_3_27_5">פִּ֔יךָ</span>
<span class="mila" data-lnk="389" data-exlnk="0" id="M_3_27_6">וְאָמַרְתָּ֣</span>
<span class="mila" data-lnk="389" data-exlnk="0" id="M_3_27_7">אֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_3_27_8">כֹּ֥ה</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_3_27_9">אָמַ֖ר</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_3_27_10">אֲדנָ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_27_11">יְהֹוִ֑ה</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_3_27_12">הַשֹּׁמֵ֤עַ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="1149">׀</span>
<span class="mila" data-lnk="4026535561" data-exlnk="0" id="M_3_27_13">יִשְׁמָע֙</span>
<span class="mila" data-lnk="3221227913" data-exlnk="0" id="M_3_27_14">וְהֶחָדֵ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="1152">׀</span>
<span class="mila" data-lnk="3221227785" data-exlnk="0" id="M_3_27_15">יֶחְדָּ֔ל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_27_16">כִּ֛י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_27_17">בֵּ֥ית</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_27_18">מְרִ֖י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_27_19">הֵֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1159">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1160"> פ </span>
</span>
<br /></p>