<p id="PR_13" data-perek-now="163" data-perek-nops="15"><span class="perek-header">פרק יג</span>
<br /><span id="PS_13_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_13_1_1">כְּדַבֵּ֤ר</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_13_1_2">אֶפְרַ֙יִם֙</span>
<span class="mila" data-lnk="3221226751" data-exlnk="0" id="M_13_1_3">רְתֵ֔ת</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_13_1_4">נָשָׂ֥א</span>
<span class="mila" data-lnk="175" data-exlnk="0" id="M_13_1_5">ה֖וּא</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_13_1_6">בְּיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_13_1_7">וַיֶּאְשַׁ֥ם</span>
<span class="mila" data-lnk="250" data-exlnk="0" id="M_13_1_8">בַּבַּ֖עַל</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_13_1_9">וַיָּמֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2578">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_2" data-pasuk-now="19"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="805306679" data-exlnk="0" id="M_13_2_1">וְעַתָּ֣ה׀</span>
<span class="mila" data-lnk="4026533687" data-exlnk="0" id="M_13_2_2">יוֹסִ֣פוּ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_13_2_3">לַחֲטֹ֗א</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_13_2_4">וַיַּעֲשׂ֣וּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_13_2_5">לָהֶם֩</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_13_2_6">מַסֵּכָ֨ה</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_13_2_7">מִכַּסְפָּ֤ם</span>
<span class="mila" data-lnk="3221226610" data-exlnk="0" id="M_13_2_8">כִּתְבוּנָם֙</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_13_2_9">עֲצַבִּ֔ים</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_2_10">מַעֲשֵׂ֥ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_2_11">חָרָשִׁ֖ים</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_13_2_12">כֻּלֹּ֑ה</span>
<span class="mila" data-lnk="252" data-exlnk="0" id="M_13_2_13">לָהֶם֙</span>
<span class="mila" data-lnk="188" data-exlnk="0" id="M_13_2_14">הֵ֣ם</span>
<span class="mila" data-lnk="188" data-exlnk="0" id="M_13_2_15">אֹמְרִ֔ים</span>
<span class="mila" data-lnk="4026533363" data-exlnk="0" id="M_13_2_16">זֹבְחֵ֣י</span>
<span class="mila" data-lnk="243" data-exlnk="0" id="M_13_2_17">אָדָ֔ם</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_13_2_18">עֲגָלִ֖ים</span>
<span class="mila" data-lnk="3221226731" data-exlnk="0" id="M_13_2_19">יִשָּׁקֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2598">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_13_3_1">לָכֵ֗ן</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_13_3_2">יִֽהְיוּ֙</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_13_3_3">כַּעֲנַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2602">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_13_3_4">בֹּ֔קֶר</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_13_3_5">וְכַטַּ֖ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_13_3_6">מַשְׁכִּ֣ים</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_13_3_7">הֹלֵ֑ךְ</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_13_3_8">כְּמֹץ֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_13_3_9">יְסֹעֵ֣ר</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_13_3_10">מִגֹּ֔רֶן</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_13_3_11">וּכְעָשָׁ֖ן</span>
<span class="mila" data-lnk="3221226546" data-exlnk="0" id="M_13_3_12">מֵאֲרֻבָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2612">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="268435829" data-exlnk="0" id="M_13_4_1">וְאָנֹכִ֛י</span>
<span class="mila" data-lnk="805306737" data-exlnk="0" id="M_13_4_2">יְהוָ֥ה</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_13_4_3">אֱלֹהֶ֖יךָ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_4_4">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_4_5">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="4026533680" data-exlnk="0" id="M_13_4_6">וֵאלֹהִ֤ים</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_4_7">זוּלָתִי֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_4_8">לֹ֣א</span>
<span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_13_4_9">תֵדָ֔ע</span>
<span class="mila" data-lnk="4026533168" data-exlnk="0" id="M_13_4_10">וּמוֹשִׁ֥יעַ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_13_4_11">אַ֖יִן</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_4_12">בִּלְתִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2625">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_5" data-pasuk-now="5"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_13_5_1">אֲנִ֥י</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_13_5_2">יְדַעְתִּ֖יךָ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_13_5_3">בַּמִּדְבָּ֑ר</span>
<span class="mila" data-lnk="182" data-exlnk="0" id="M_13_5_4">בְּאֶ֖רֶץ</span>
<span class="mila" data-lnk="3221226675" data-exlnk="0" id="M_13_5_5">תַּלְאֻבֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2631">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="101" data-exlnk="0" id="M_13_6_1">כְּמַרְעִיתָם֙</span>
<span class="mila" data-lnk="3221226544" data-exlnk="0" id="M_13_6_2">וַיִּשְׂבָּ֔עוּ</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_13_6_3">שָׂבְע֖וּ</span>
<span class="mila" data-lnk="4026533169" data-exlnk="0" id="M_13_6_4">וַיָּ֣רָם</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_13_6_5">לִבָּ֑ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_13_6_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2638">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_13_6_7">כֵּ֖ן</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_6_8">שְׁכֵחֽוּנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2641">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_13_7_1">וָאֱהִ֥י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_13_7_2">לָהֶ֖ם</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_13_7_3">כְּמוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2645">־</span><span class="mila" data-lnk="50" data-exlnk="0" id="M_13_7_4">שָׁ֑חַל</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_13_7_5">כְּנָמֵ֖ר</span>
<span class="mila" data-lnk="3489662265" data-exlnk="0" id="M_13_7_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2649">־</span><span class="mila" data-lnk="4026533177" data-exlnk="0" id="M_13_7_7">דֶּ֥רֶךְ</span>
<span class="mila" data-lnk="3221226623" data-exlnk="0" id="M_13_7_8">אָשֽׁוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2652">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_13_8_1">אֶפְגְּשֵׁם֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_13_8_2">כְּדֹ֣ב</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_13_8_3">שַׁכּ֔וּל</span>
<span class="mila" data-lnk="3221226531" data-exlnk="0" id="M_13_8_4">וְאֶקְרַ֖ע</span>
<span class="mila" data-lnk="4026533683" data-exlnk="0" id="M_13_8_5">סְג֣וֹר</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_13_8_6">לִבָּ֑ם</span>
<span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_13_8_7">וְאֹכְלֵ֥ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_13_8_8">שָׁם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_13_8_9">כְּלָבִ֔יא</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_13_8_10">חַיַּ֥ת</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_13_8_11">הַשָּׂדֶ֖ה</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_13_8_12">תְּבַקְּעֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2665">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_9" data-pasuk-now="5"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221226623" data-exlnk="0" id="M_13_9_1">שִׁחֶתְךָ֥</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_13_9_2">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_13_9_3">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2669">־</span><span class="mila" data-lnk="251" data-exlnk="0" id="M_13_9_4">בִ֥י</span>
<span class="mila" data-lnk="4026533887" data-exlnk="0" id="M_13_9_5">בְעֶזְרֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2672">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_13_10_1">אֱהִ֤י</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_13_10_2">מַלְכְּךָ֙</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_13_10_3">אֵפ֔וֹא</span>
<span class="mila" data-lnk="3221226558" data-exlnk="0" id="M_13_10_4">וְיוֹשִׁיעֲךָ֖</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_13_10_5">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2678">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_13_10_6">עָרֶ֑יךָ</span>
<span class="mila" data-lnk="4026533684" data-exlnk="0" id="M_13_10_7">וְשֹׁ֣פְטֶ֔יךָ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_13_10_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_13_10_9">אָמַ֔רְתָּ</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_13_10_10">תְּנָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2684">־</span><span class="mila" data-lnk="80" data-exlnk="0" id="M_13_10_11">לִּ֖י</span>
<span class="mila" data-lnk="4026533747" data-exlnk="0" id="M_13_10_12">מֶ֥לֶךְ</span>
<span class="mila" data-lnk="3758098256" data-exlnk="0" id="M_13_10_13">וְשָׂרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2688">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_11" data-pasuk-now="6"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_13_11_1">אֶֽתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2690">־</span><span class="mila" data-lnk="118" data-exlnk="0" id="M_13_11_2">לְךָ֥</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_13_11_3">מֶ֙לֶךְ֙</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_13_11_4">בְּאַפִּ֔י</span>
<span class="mila" data-lnk="3221226594" data-exlnk="0" id="M_13_11_5">וְאֶקַּ֖ח</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_13_11_6">בְּעֶבְרָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2697">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2698"> פ </span>
</span>
<br /><span id="PS_13_12" data-pasuk-now="5"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221226623" data-exlnk="0" id="M_13_12_1">צָרוּר֙</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_13_12_2">עֲוֺ֣ן</span>
<span class="mila" data-lnk="4026533147" data-exlnk="0" id="M_13_12_3">אֶפְרָ֔יִם</span>
<span class="mila" data-lnk="3221226514" data-exlnk="0" id="M_13_12_4">צְפוּנָ֖ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_13_12_5">חַטָּאתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2704">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_13" data-pasuk-now="14"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_13_13_1">חֶבְלֵ֥י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_13_2">יוֹלֵדָ֖ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_13_3">יָבֹ֣אוּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_13_4">ל֑וֹ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_13_5">הוּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2710">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_13_13_6">בֵן֙</span>
<span class="mila" data-lnk="1073742972" data-exlnk="0" id="M_13_13_7">לֹ֣א</span>
<span class="mila" data-lnk="2147484788" data-exlnk="0" id="M_13_13_8">חָכָ֔ם</span>
<span class="mila" data-lnk="225" data-exlnk="0" id="M_13_13_9">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2715">־</span><span class="mila" data-lnk="245" data-exlnk="0" id="M_13_13_10">עֵ֥ת</span>
<span class="mila" data-lnk="245" data-exlnk="0" id="M_13_13_11">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2718">־</span><span class="mila" data-lnk="244" data-exlnk="0" id="M_13_13_12">יַעֲמֹ֖ד</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_13_13_13">בְּמִשְׁבַּ֥ר</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_13_13_14">בָּנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2722">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_14" data-pasuk-now="14"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_13_14_1">מִיַּ֤ד</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_13_14_2">שְׁאוֹל֙</span>
<span class="mila" data-lnk="4026533355" data-exlnk="0" id="M_13_14_3">אֶפְדֵּ֔ם</span>
<span class="mila" data-lnk="243" data-exlnk="0" id="M_13_14_4">מִמָּ֖וֶת</span>
<span class="mila" data-lnk="226" data-exlnk="0" id="M_13_14_5">אֶגְאָלֵ֑ם</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_13_14_6">אֱהִ֨י</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_13_14_7">דְבָרֶ֜יךָ</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_13_14_8">מָ֗וֶת</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_13_14_9">אֱהִ֤י</span>
<span class="mila" data-lnk="3221226678" data-exlnk="0" id="M_13_14_10">קָֽטָבְךָ֙</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_13_14_11">שְׁא֔וֹל</span>
<span class="mila" data-lnk="3221226543" data-exlnk="0" id="M_13_14_12">נֹ֖חַם</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_13_14_13">יִסָּתֵ֥ר</span>
<span class="mila" data-lnk="4026533162" data-exlnk="0" id="M_13_14_14">מֵעֵינָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2737">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_13_15" data-pasuk-now="21"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_13_15_1">כִּ֣י</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_13_15_2">ה֔וּא</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_13_15_3">בֵּ֥ין</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_13_15_4">אַחִ֖ים</span>
<span class="mila" data-lnk="3221226575" data-exlnk="0" id="M_13_15_5">יַפְרִ֑יא</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_13_15_6">יָב֣וֹא</span>
<span class="mila" data-lnk="1073742961" data-exlnk="0" id="M_13_15_7">קָדִים֩</span>
<span class="mila" data-lnk="2147484916" data-exlnk="0" id="M_13_15_8">ר֨וּחַ</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_13_15_9">יְהוָ֜ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_15_10">מִמִּדְבָּ֣ר</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_15_11">עֹלֶ֗ה</span>
<span class="mila" data-lnk="4026533173" data-exlnk="0" id="M_13_15_12">וְיֵב֤וֹשׁ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_13_15_13">מְקוֹרוֹ֙</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_13_15_14">וְיֶחֱרַ֣ב</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_15_15">מַעְיָנ֔וֹ</span>
<span class="mila" data-lnk="181" data-exlnk="0" id="M_13_15_16">ה֣וּא</span>
<span class="mila" data-lnk="3221226677" data-exlnk="0" id="M_13_15_17">יִשְׁסֶ֔ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_15_18">אוֹצַ֖ר</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_13_15_19">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2757">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_13_15_20">כְּלִ֥י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_13_15_21">חֶמְדָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2760">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>