<p id="PR_9" data-perek-now="251" data-perek-nops="15"><span class="perek-header">פרק ט</span>
<br /><span id="PS_9_1" data-pasuk-now="25"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_9_1_1">רָאִ֨יתִי</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_1_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2218">־</span><span class="mila" data-lnk="805306658" data-exlnk="0" id="M_9_1_3">אֲדנָ֜י</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_9_1_4">נִצָּ֣ב</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_9_1_5">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2222">־</span><span class="mila" data-lnk="39" data-exlnk="0" id="M_9_1_6">הַמִּזְבֵּ֗חַ</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_9_1_7">וַיֹּאמֶר֩</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_9_1_8">הַ֨ךְ</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_9_1_9">הַכַּפְתּ֜וֹר</span>
<span class="mila" data-lnk="3221226555" data-exlnk="0" id="M_9_1_10">וְיִרְעֲשׁ֣וּ</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_9_1_11">הַסִּפִּ֗ים</span>
<span class="mila" data-lnk="3221226739" data-exlnk="0" id="M_9_1_12">וּבְצַ֙עַם֙</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_9_1_13">בְּרֹ֣אשׁ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_1_14">כֻּלָּ֔ם</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_9_1_15">וְאַחֲרִיתָ֖ם</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_9_1_16">בַּחֶ֣רֶב</span>
<span class="mila" data-lnk="4026533235" data-exlnk="0" id="M_9_1_17">אֶהֱרֹ֑ג</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_1_18">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2236">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_9_1_19">יָנ֤וּס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_1_20">לָהֶם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_1_21">נָ֔ס</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_1_22">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2241">־</span><span class="mila" data-lnk="805306656" data-exlnk="0" id="M_9_1_23">יִמָּלֵ֥ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_24">לָהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_25">פָּלִֽיט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2245">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_2" data-pasuk-now="11"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_9_2_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2247">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_9_2_2">יַחְתְּר֣וּ</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_9_2_3">בִשְׁא֔וֹל</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_9_2_4">מִשָּׁ֖ם</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_9_2_5">יָדִ֣י</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_9_2_6">תִקָּחֵ֑ם</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_9_2_7">וְאִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2254">־</span><span class="mila" data-lnk="67" data-exlnk="0" id="M_9_2_8">יַעֲלוּ֙</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_9_2_9">הַשָּׁמַ֔יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_2_10">מִשָּׁ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_2_11">אוֹרִידֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2259">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_3" data-pasuk-now="18"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026533680" data-exlnk="0" id="M_9_3_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2261">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_9_3_2">יֵחָֽבְאוּ֙</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_9_3_3">בְּרֹ֣אשׁ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_9_3_4">הַכַּרְמֶ֔ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_3_5">מִשָּׁ֥ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_3_6">אֲחַפֵּ֖שׂ</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_9_3_7">וּלְקַחְתִּ֑ים</span>
<span class="mila" data-lnk="805306656" data-exlnk="0" id="M_9_3_8">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2269">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_9_3_9">יִסָּ֨תְר֜וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_3_10">מִנֶּ֤גֶד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_3_11">עֵינַי֙</span>
<span class="mila" data-lnk="4026533175" data-exlnk="0" id="M_9_3_12">בְּקַרְקַ֣ע</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_9_3_13">הַיָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_14">מִשָּׁ֛ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_3_15">אֲצַוֶּ֥ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_9_3_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2278">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_9_3_17">הַנָּחָ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_18">וּנְשָׁכָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2281">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_4" data-pasuk-now="16"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="805306676" data-exlnk="0" id="M_9_4_1">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2283">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_9_4_2">יֵלְכ֤וּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_9_4_3">בַשְּׁבִי֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_4_4">לִפְנֵ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_4_5">אֹֽיְבֵיהֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_4_6">מִשָּׁ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_7">אֲצַוֶּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2291">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_9_4_9">הַחֶ֖רֶב</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_9_4_10">וַהֲרָגָ֑תַם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_4_11">וְשַׂמְתִּ֨י</span>
<span class="mila" data-lnk="4026533124" data-exlnk="0" id="M_9_4_12">עֵינִ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_13">עֲלֵיהֶ֛ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_4_14">לְרָעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_15">וְלֹ֥א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_4_16">לְטוֹבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2300">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="805306652" data-exlnk="0" id="M_9_5_1">וַאדנָ֨י</span>
<span class="mila" data-lnk="805306648" data-exlnk="0" id="M_9_5_2">יְהֹוִ֜ה</span>
<span class="mila" data-lnk="4026533136" data-exlnk="0" id="M_9_5_3">הַצְּבָא֗וֹת</span>
<span class="mila" data-lnk="4026533177" data-exlnk="0" id="M_9_5_4">הַנּוֹגֵ֤עַ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_9_5_5">בָּאָ֙רֶץ֙</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_9_5_6">וַתָּמ֔וֹג</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_9_5_7">וְאָבְל֖וּ</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_9_5_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2309">־</span><span class="mila" data-lnk="4026533181" data-exlnk="0" id="M_9_5_9">י֣וֹשְׁבֵי</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_5_10">בָ֑הּ</span>
<span class="mila" data-lnk="166" data-exlnk="0" id="M_9_5_11">וְעָלְתָ֤ה</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_9_5_12">כַיְאֹר֙</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_9_5_13">כֻּלָּ֔הּ</span>
<span class="mila" data-lnk="3221226534" data-exlnk="0" id="M_9_5_14">וְשָׁקְעָ֖ה</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_9_5_15">כִּיאֹ֥ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_5_16">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2318">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_6" data-pasuk-now="16"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="805306676" data-exlnk="0" id="M_9_6_1">הַבּוֹנֶ֤ה</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_6_2">בַשָּׁמַ֙יִם֙</span>
<span data-lnk="0" data-exlnk="0" id="M_9_6_3" class="mila ktiv">מַעֲלוֹתָ֔ו</span>
<span data-lnk="3221226616" data-exlnk="0" id="M_9_6_3_K" class="mila kri">מַעֲלוֹתָ֔יו</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_9_6_4">וַאֲגֻדָּת֖וֹ</span>
<span class="mila" data-lnk="4026533311" data-exlnk="0" id="M_9_6_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2325">־</span><span class="mila" data-lnk="2952791487" data-exlnk="0" id="M_9_6_6">אֶ֣רֶץ</span>
<span class="mila" data-lnk="805306814" data-exlnk="0" id="M_9_6_7">יְסָדָ֑הּ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_9_6_8">הַקֹּרֵ֣א</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_9_6_9">לְמֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2330">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_9_6_10">הַיָּ֗ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_6_11">וַֽיִּשְׁפְּכֵ֛ם</span>
<span class="mila" data-lnk="4026533170" data-exlnk="0" id="M_9_6_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2334">־</span><span class="mila" data-lnk="1342178578" data-exlnk="0" id="M_9_6_13">פְּנֵ֥י</span>
<span class="mila" data-lnk="2952791314" data-exlnk="0" id="M_9_6_14">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="4026533160" data-exlnk="0" id="M_9_6_15">יְהוָ֥ה</span>
<span class="mila" data-lnk="2684355840" data-exlnk="0" id="M_9_6_16">שְׁמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2340">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2341"> פ </span>
</span>
<br /><span id="PS_9_7" data-pasuk-now="19"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_9_7_1">הֲל֣וֹא</span>
<span class="mila" data-lnk="4026533883" data-exlnk="0" id="M_9_7_2">כִבְנֵי֩</span>
<span class="mila" data-lnk="3221226751" data-exlnk="0" id="M_9_7_3">כֻשִׁיִּ֨ים</span>
<span class="mila" data-lnk="243" data-exlnk="0" id="M_9_7_4">אַתֶּ֥ם</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_9_7_5">לִ֛י</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_9_7_6">בְּנֵ֥י</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_9_7_7">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_7_8">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2350">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_9_7_9">יְהוָ֑ה</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_7_10">הֲל֣וֹא</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_9_7_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2354">־</span><span class="mila" data-lnk="52" data-exlnk="0" id="M_9_7_12">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="190" data-exlnk="0" id="M_9_7_13">הֶעֱלֵ֙יתִי֙</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_9_7_14">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_9_7_15">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="3221226559" data-exlnk="0" id="M_9_7_16">וּפְלִשְׁתִּיִּ֥ים</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_9_7_17">מִכַּפְתּ֖וֹר</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_9_7_18">וַאֲרָ֥ם</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_9_7_19">מִקִּֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2363">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_8" data-pasuk-now="21"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_9_8_1">הִנֵּ֞ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_9_8_2">עֵינֵ֣י׀</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_9_8_3">אֲדנָ֣י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_9_8_4">יְהֹוִ֗ה</span>
<span class="mila" data-lnk="3221226675" data-exlnk="0" id="M_9_8_5">בַּמַּמְלָכָה֙</span>
<span class="mila" data-lnk="178" data-exlnk="0" id="M_9_8_6">הַחַטָּאָ֔ה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_9_8_7">וְהִשְׁמַדְתִּ֣י</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_8_8">אֹתָ֔הּ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_8_9">מֵעַ֖ל</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_8_10">פְּנֵ֣י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_8_11">הָאֲדָמָ֑ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_8_12">אֶ֗פֶס</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_13">כִּ֠י</span>
<span class="mila" data-lnk="179" data-exlnk="0" id="M_9_8_14">לֹ֣א</span>
<span class="mila" data-lnk="3221226659" data-exlnk="0" id="M_9_8_15">הַשְׁמֵ֥יד</span>
<span class="mila" data-lnk="163" data-exlnk="0" id="M_9_8_16">אַשְׁמִ֛יד</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_9_8_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2381">־</span><span class="mila" data-lnk="177" data-exlnk="0" id="M_9_8_18">בֵּ֥ית</span>
<span class="mila" data-lnk="177" data-exlnk="0" id="M_9_8_19">יַעֲקֹ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_20">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2385">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_21">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2387">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_9" data-pasuk-now="17"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="97" data-exlnk="0" id="M_9_9_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2389">־</span><span class="mila" data-lnk="113" data-exlnk="0" id="M_9_9_2">הִנֵּ֤ה</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_9_9_3">אָֽנֹכִי֙</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_9_9_4">מְצַוֶּ֔ה</span>
<span class="mila" data-lnk="4026533212" data-exlnk="0" id="M_9_9_5">וַהֲנִע֥וֹתִי</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_9_9_6">בְכָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2395">־</span><span class="mila" data-lnk="61" data-exlnk="0" id="M_9_9_7">הַגּוֹיִ֖ם</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_9_9_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2398">־</span><span class="mila" data-lnk="152" data-exlnk="0" id="M_9_9_9">בֵּ֣ית</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_9_9_10">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_9_9_11">כַּאֲשֶׁ֤ר</span>
<span class="mila" data-lnk="3221226747" data-exlnk="0" id="M_9_9_12">יִנּ֙וֹעַ֙</span>
<span class="mila" data-lnk="3221226747" data-exlnk="0" id="M_9_9_13">בַּכְּבָרָ֔ה</span>
<span class="mila" data-lnk="238" data-exlnk="0" id="M_9_9_14">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2405">־</span><span class="mila" data-lnk="4026533326" data-exlnk="0" id="M_9_9_15">יִפּ֥וֹל</span>
<span class="mila" data-lnk="206" data-exlnk="0" id="M_9_9_16">צְר֖וֹר</span>
<span class="mila" data-lnk="805306722" data-exlnk="0" id="M_9_9_17">אָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2409">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_9_10_1">בַּחֶ֣רֶב</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_9_10_2">יָמ֔וּתוּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_10_3">כֹּ֖ל</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_10_4">חַטָּאֵ֣י</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_10_5">עַמִּ֑י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_10_6">הָאֹמְרִ֗ים</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_9_10_7">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2417">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_9_10_8">תַגִּ֧ישׁ</span>
<span class="mila" data-lnk="3221226545" data-exlnk="0" id="M_9_10_9">וְתַקְדִּ֛ים</span>
<span class="mila" data-lnk="3221226549" data-exlnk="0" id="M_9_10_10">בַּעֲדֵ֖ינוּ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_9_10_11">הָרָעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2422">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="245" data-exlnk="0" id="M_9_11_1">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="241" data-exlnk="0" id="M_9_11_2">הַה֔וּא</span>
<span class="mila" data-lnk="243" data-exlnk="0" id="M_9_11_3">אָקִ֛ים</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_9_11_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2427">־</span><span class="mila" data-lnk="243" data-exlnk="0" id="M_9_11_5">סֻכַּ֥ת</span>
<span class="mila" data-lnk="243" data-exlnk="0" id="M_9_11_6">דָּוִ֖יד</span>
<span class="mila" data-lnk="178" data-exlnk="0" id="M_9_11_7">הַנֹּפֶ֑לֶת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_11_8">וְגָדַרְתִּ֣י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_11_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2433">־</span><span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_9_11_10">פִּרְצֵיהֶ֗ן</span>
<span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_9_11_11">וַהֲרִֽסֹתָיו֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_11_12">אָקִ֔ים</span>
<span class="mila" data-lnk="3221226530" data-exlnk="0" id="M_9_11_13">וּבְנִיתִ֖יהָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_14">כִּימֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_15">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2440">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_12" data-pasuk-now="15"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_9_12_1">לְמַ֨עַן</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_9_12_2">יִֽירְשׁ֜וּ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_9_12_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2444">־</span><span class="mila" data-lnk="55" data-exlnk="0" id="M_9_12_4">שְׁאֵרִ֤ית</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_9_12_5">אֱדוֹם֙</span>
<span class="mila" data-lnk="1342178087" data-exlnk="0" id="M_9_12_6">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2448">־</span><span class="mila" data-lnk="4026532663" data-exlnk="0" id="M_9_12_7">הַגּוֹיִ֔ם</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_9_12_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2451">־</span><span class="mila" data-lnk="55" data-exlnk="0" id="M_9_12_9">נִקְרָ֥א</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_9_12_10">שְׁמִ֖י</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_9_12_11">עֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_12">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2456">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_9_12_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="805306656" data-exlnk="0" id="M_9_12_14">עֹ֥שֶׂה</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_9_12_15">זֹּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2461">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2462"> פ </span>
</span>
<br /><span id="PS_9_13" data-pasuk-now="18"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="805306724" data-exlnk="0" id="M_9_13_1">הִנֵּ֨ה</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_9_13_2">יָמִ֤ים</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_9_13_3">בָּאִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_4">נְאֻם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2467">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_9_13_6">וְנִגַּ֤שׁ</span>
<span class="mila" data-lnk="3221226555" data-exlnk="0" id="M_9_13_7">חוֹרֵשׁ֙</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_9_13_8">בַּקֹּצֵ֔ר</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_9_13_9">וְדֹרֵ֥ךְ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_9_13_10">עֲנָבִ֖ים</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_9_13_11">בְּמֹשֵׁ֣ךְ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_13_12">הַזָּ֑רַע</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_13_13">וְהִטִּ֤יפוּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_13_14">הֶֽהָרִים֙</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_9_13_15">עָסִ֔יס</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_9_13_16">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2480">־</span><span class="mila" data-lnk="162" data-exlnk="0" id="M_9_13_17">הַגְּבָע֖וֹת</span>
<span class="mila" data-lnk="3221226679" data-exlnk="0" id="M_9_13_18">תִּתְמוֹגַֽגְנָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2483">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_14" data-pasuk-now="19"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_14_1">וְשַׁבְתִּי֘</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_14_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2486">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_3">שְׁב֣וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_4">עַמִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_5">יִשְׂרָאֵל֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_6">וּבָנ֞וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_14_7">עָרִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_8">נְשַׁמּוֹת֙</span>
<span class="mila" data-lnk="4026533152" data-exlnk="0" id="M_9_14_9">וְיָשָׁ֔בוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_14_10">וְנָטְע֣וּ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_9_14_11">כְרָמִ֔ים</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_14_12">וְשָׁת֖וּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_14_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2498">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_9_14_14">יֵינָ֑ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_14_15">וְעָשׂ֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_14_16">גַנּ֔וֹת</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_14_17">וְאָכְל֖וּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_9_14_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2504">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_9_14_19">פְּרִיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2506">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_15" data-pasuk-now="14"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026533162" data-exlnk="0" id="M_9_15_1">וּנְטַעְתִּ֖ים</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_15_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2509">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_9_15_3">אַדְמָתָ֑ם</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_9_15_4">וְלֹ֨א</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_9_15_5">יִנָּתְשׁ֜וּ</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_9_15_6">ע֗וֹד</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_9_15_7">מֵעַ֤ל</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_9_15_8">אַדְמָתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_10">נָתַ֣תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_11">לָהֶ֔ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_15_12">אָמַ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_15_13">יְהוָ֥ה</span>
<span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_9_15_14">אֱלֹהֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2522">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>