<p id="PR_6" data-perek-now="204" data-perek-nops="16"><span class="perek-header">פרק ו</span>
<br /><span id="PS_6_1" data-pasuk-now="13"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="108" data-exlnk="0" id="M_6_1_1">שִׁמְעוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1151">־</span><span class="mila" data-lnk="73" data-exlnk="0" id="M_6_1_2">נָ֕א</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_6_1_3">אֵ֥ת</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_6_1_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1155">־</span><span class="mila" data-lnk="88" data-exlnk="0" id="M_6_1_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_6_1_6">אֹמֵ֑ר</span>
<span class="mila" data-lnk="124" data-exlnk="0" id="M_6_1_7">ק֚וּם</span>
<span class="mila" data-lnk="124" data-exlnk="0" id="M_6_1_8">רִ֣יב</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_6_1_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1161">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_6_1_10">הֶהָרִ֔ים</span>
<span class="mila" data-lnk="3221226536" data-exlnk="0" id="M_6_1_11">וְתִשְׁמַ֥עְנָה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_6_1_12">הַגְּבָע֖וֹת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_1_13">קוֹלֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1166">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_2" data-pasuk-now="16"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221226678" data-exlnk="0" id="M_6_2_1">שִׁמְע֤וּ</span>
<span class="mila" data-lnk="3221226736" data-exlnk="0" id="M_6_2_2">הָרִים֙</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_6_2_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1170">־</span><span class="mila" data-lnk="208" data-exlnk="0" id="M_6_2_4">רִ֣יב</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_6_2_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_6_2_6">וְהָאֵתָנִ֖ים</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_6_2_7">מ֣וֹסְדֵי</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_6_2_8">אָ֑רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_2_9">כִּ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_2_10">רִ֤יב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_2_11">לַֽיהוָה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_6_2_12">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1180">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_6_2_13">עַמּ֔וֹ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_6_2_14">וְעִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1183">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_6_2_15">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="3221226498" data-exlnk="0" id="M_6_2_16">יִתְוַכָּֽח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1186">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="174" data-exlnk="0" id="M_6_3_1">עַמִּ֛י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_6_3_2">מֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1189">־</span><span class="mila" data-lnk="187" data-exlnk="0" id="M_6_3_3">עָשִׂ֥יתִי</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_6_3_4">לְךָ֖</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_6_3_5">וּמָ֣ה</span>
<span class="mila" data-lnk="3221226655" data-exlnk="0" id="M_6_3_6">הֶלְאֵתִ֑יךָ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_6_3_7">עֲנֵ֥ה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_6_3_8">בִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1196">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_4" data-pasuk-now="13"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_6_4_1">כִּ֤י</span>
<span class="mila" data-lnk="4026533239" data-exlnk="0" id="M_6_4_2">הֶעֱלִתִ֙יךָ֙</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_6_4_3">מֵאֶ֣רֶץ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_6_4_4">מִצְרַ֔יִם</span>
<span class="mila" data-lnk="1073742882" data-exlnk="0" id="M_6_4_5">וּמִבֵּ֥ית</span>
<span class="mila" data-lnk="3221226530" data-exlnk="0" id="M_6_4_6">עֲבָדִ֖ים</span>
<span class="mila" data-lnk="4026533122" data-exlnk="0" id="M_6_4_7">פְּדִיתִ֑יךָ</span>
<span class="mila" data-lnk="226" data-exlnk="0" id="M_6_4_8">וָאֶשְׁלַ֣ח</span>
<span class="mila" data-lnk="226" data-exlnk="0" id="M_6_4_9">לְפָנֶ֔יךָ</span>
<span class="mila" data-lnk="131" data-exlnk="0" id="M_6_4_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1207">־</span><span class="mila" data-lnk="3221226647" data-exlnk="0" id="M_6_4_11">מֹשֶׁ֖ה</span>
<span class="mila" data-lnk="3221226647" data-exlnk="0" id="M_6_4_12">אַהֲרֹ֥ן</span>
<span class="mila" data-lnk="4026533271" data-exlnk="0" id="M_6_4_13">וּמִרְיָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1211">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_5" data-pasuk-now="22"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_6_5_1">עַמִּ֗י</span>
<span class="mila" data-lnk="176" data-exlnk="0" id="M_6_5_2">זְכָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1214">־</span><span class="mila" data-lnk="176" data-exlnk="0" id="M_6_5_3">נָא֙</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_6_5_4">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1217">־</span><span class="mila" data-lnk="150" data-exlnk="0" id="M_6_5_5">יָּעַ֗ץ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_6_5_6">בָּלָק֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_6_5_7">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_6_5_8">מוֹאָ֔ב</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_6_5_9">וּמֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1223">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_6_5_10">עָנָ֥ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_6_5_11">אֹת֖וֹ</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_6_5_12">בִּלְעָ֣ם</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_6_5_13">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1228">־</span><span class="mila" data-lnk="83" data-exlnk="0" id="M_6_5_14">בְּע֑וֹר</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_6_5_15">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1231">־</span><span class="mila" data-lnk="255" data-exlnk="0" id="M_6_5_16">הַשִּׁטִּים֙</span>
<span class="mila" data-lnk="3221226739" data-exlnk="0" id="M_6_5_17">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1234">־</span><span class="mila" data-lnk="3221226751" data-exlnk="0" id="M_6_5_18">הַגִּלְגָּ֔ל</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_6_5_19">לְמַ֕עַן</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_6_5_20">דַּ֖עַת</span>
<span class="mila" data-lnk="4026533238" data-exlnk="0" id="M_6_5_21">צִדְק֥וֹת</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_6_5_22">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1240">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026533375" data-exlnk="0" id="M_6_6_1">בַּמָּה֙</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_6_2">אֲקַדֵּ֣ם</span>
<span class="mila" data-lnk="250" data-exlnk="0" id="M_6_6_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="3221226727" data-exlnk="0" id="M_6_6_4">אִכַּ֖ף</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_6_6_5">לֵאלֹהֵ֣י</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_6_6_6">מָר֑וֹם</span>
<span class="mila" data-lnk="3221226552" data-exlnk="0" id="M_6_6_7">הַאֲקַדְּמֶ֣נּוּ</span>
<span class="mila" data-lnk="4026533240" data-exlnk="0" id="M_6_6_8">בְעוֹל֔וֹת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_6_9">בַּעֲגָלִ֖ים</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_6_10">בְּנֵ֥י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_6_6_11">שָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1252">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_7" data-pasuk-now="14"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="3221226556" data-exlnk="0" id="M_6_7_1">הֲיִרְצֶ֤ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_7_2">יְהוָה֙</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_6_7_3">בְּאַלְפֵ֣י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_6_7_4">אֵילִ֔ים</span>
<span class="mila" data-lnk="3221226748" data-exlnk="0" id="M_6_7_5">בְּרִֽבֲב֖וֹת</span>
<span class="mila" data-lnk="185" data-exlnk="0" id="M_6_7_6">נַחֲלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1259">־</span><span class="mila" data-lnk="189" data-exlnk="0" id="M_6_7_7">שָׁ֑מֶן</span>
<span class="mila" data-lnk="3221226751" data-exlnk="0" id="M_6_7_8">הַאֶתֵּ֤ן</span>
<span class="mila" data-lnk="3221226751" data-exlnk="0" id="M_6_7_9">בְּכוֹרִי֙</span>
<span class="mila" data-lnk="239" data-exlnk="0" id="M_6_7_10">פִּשְׁעִ֔י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_6_7_11">פְּרִ֥י</span>
<span class="mila" data-lnk="127" data-exlnk="0" id="M_6_7_12">בִטְנִ֖י</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_6_7_13">חַטַּ֥את</span>
<span class="mila" data-lnk="126" data-exlnk="0" id="M_6_7_14">נַפְשִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1268">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_8" data-pasuk-now="19"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="3489662463" data-exlnk="0" id="M_6_8_1">הִגִּ֥יד</span>
<span class="mila" data-lnk="2952791551" data-exlnk="0" id="M_6_8_2">לְךָ֛</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_6_8_3">אָדָ֖ם</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_8_4">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1273">־</span><span class="mila" data-lnk="255" data-exlnk="0" id="M_6_8_5">טּ֑וֹב</span>
<span class="mila" data-lnk="3221226642" data-exlnk="0" id="M_6_8_6">וּמָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1276">־</span><span class="mila" data-lnk="2147484690" data-exlnk="0" id="M_6_8_7">יְהוָ֞ה</span>
<span class="mila" data-lnk="4026533266" data-exlnk="0" id="M_6_8_8">דּוֹרֵ֣שׁ</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_6_8_9">מִמְּךָ֗</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_6_8_10">כִּ֣י</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_6_8_11">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1282">־</span><span class="mila" data-lnk="190" data-exlnk="0" id="M_6_8_12">עֲשׂ֤וֹת</span>
<span class="mila" data-lnk="190" data-exlnk="0" id="M_6_8_13">מִשְׁפָּט֙</span>
<span class="mila" data-lnk="4026533298" data-exlnk="0" id="M_6_8_14">וְאַ֣הֲבַת</span>
<span class="mila" data-lnk="190" data-exlnk="0" id="M_6_8_15">חֶ֔סֶד</span>
<span class="mila" data-lnk="3221226683" data-exlnk="0" id="M_6_8_16">וְהַצְנֵ֥עַ</span>
<span class="mila" data-lnk="187" data-exlnk="0" id="M_6_8_17">לֶ֖כֶת</span>
<span class="mila" data-lnk="186" data-exlnk="0" id="M_6_8_18">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1290">־</span><span class="mila" data-lnk="186" data-exlnk="0" id="M_6_8_19">אֱלֹהֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1293">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1294">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_9" data-pasuk-now="11"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_9_1">ק֤וֹל</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_9_2">יְהוָה֙</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_9_3">לָעִ֣יר</span>
<span class="mila" data-lnk="251" data-exlnk="0" id="M_6_9_4">יִקְרָ֔א</span>
<span class="mila" data-lnk="4026533375" data-exlnk="0" id="M_6_9_5">וְתוּשִׁיָּ֖ה</span>
<span class="mila" data-lnk="173" data-exlnk="0" id="M_6_9_6">יִרְאֶ֣ה</span>
<span class="mila" data-lnk="185" data-exlnk="0" id="M_6_9_7">שְׁמֶ֑ךָ</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_9_8">שִׁמְע֥וּ</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_9_9">מַטֶּ֖ה</span>
<span class="mila" data-lnk="111" data-exlnk="0" id="M_6_9_10">וּמִ֥י</span>
<span class="mila" data-lnk="4026533287" data-exlnk="0" id="M_6_9_11">יְעָדָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1306">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_10" data-pasuk-now="9"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="255" data-exlnk="0" id="M_6_10_1">ע֗וֹד</span>
<span class="mila" data-lnk="4026533871" data-exlnk="0" id="M_6_10_2">הַאִשׁ֙</span>
<span class="mila" data-lnk="1342178623" data-exlnk="0" id="M_6_10_3">בֵּ֣ית</span>
<span class="mila" data-lnk="4026533311" data-exlnk="0" id="M_6_10_4">רָשָׁ֔ע</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_6_10_5">אֹצְר֖וֹת</span>
<span class="mila" data-lnk="805306687" data-exlnk="0" id="M_6_10_6">רֶ֑שַׁע</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_6_10_7">וְאֵיפַ֥ת</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_6_10_8">רָז֖וֹן</span>
<span class="mila" data-lnk="3221226685" data-exlnk="0" id="M_6_10_9">זְעוּמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1316">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_11" data-pasuk-now="6"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="3221226622" data-exlnk="0" id="M_6_11_1">הַאֶזְכֶּ֖ה</span>
<span class="mila" data-lnk="170" data-exlnk="0" id="M_6_11_2">בְּמֹ֣אזְנֵי</span>
<span class="mila" data-lnk="805306798" data-exlnk="0" id="M_6_11_3">רֶ֑שַׁע</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_6_11_4">וּבְכִ֖יס</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_6_11_5">אַבְנֵ֥י</span>
<span class="mila" data-lnk="162" data-exlnk="0" id="M_6_11_6">מִרְמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1323">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_6_12_1">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="3221226552" data-exlnk="0" id="M_6_12_2">עֲשִׁירֶ֙יהָ֙</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_6_12_3">מָלְא֣וּ</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_6_12_4">חָמָ֔ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_5">וְיֹשְׁבֶ֖יהָ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_6_12_6">דִּבְּרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1330">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_6_12_7">שָׁ֑קֶר</span>
<span class="mila" data-lnk="4026533632" data-exlnk="0" id="M_6_12_8">וּלְשׁוֹנָ֖ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_6_12_9">רְמִיָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_12_10">בְּפִיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1335">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="166" data-exlnk="0" id="M_6_13_1">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1337">־</span><span class="mila" data-lnk="174" data-exlnk="0" id="M_6_13_2">אֲנִ֖י</span>
<span class="mila" data-lnk="3221226667" data-exlnk="0" id="M_6_13_3">הֶחֱלֵ֣יתִי</span>
<span class="mila" data-lnk="3221226643" data-exlnk="0" id="M_6_13_4">הַכּוֹתֶ֑ךָ</span>
<span class="mila" data-lnk="3221226739" data-exlnk="0" id="M_6_13_5">הַשְׁמֵ֖ם</span>
<span class="mila" data-lnk="179" data-exlnk="0" id="M_6_13_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1343">־</span><span class="mila" data-lnk="3221226675" data-exlnk="0" id="M_6_13_7">חַטֹּאתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1345">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_14" data-pasuk-now="13"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="805306676" data-exlnk="0" id="M_6_14_1">אַתָּ֤ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_6_14_2">תֹאכַל֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_6_14_3">וְלֹ֣א</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_6_14_4">תִשְׂבָּ֔ע</span>
<span class="mila" data-lnk="3221226747" data-exlnk="0" id="M_6_14_5">וְיֶשְׁחֲךָ֖</span>
<span class="mila" data-lnk="185" data-exlnk="0" id="M_6_14_6">בְּקִרְבֶּ֑ךָ</span>
<span class="mila" data-lnk="3221226751" data-exlnk="0" id="M_6_14_7">וְתַסֵּג֙</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_6_14_8">וְלֹ֣א</span>
<span class="mila" data-lnk="3221226683" data-exlnk="0" id="M_6_14_9">תַפְלִ֔יט</span>
<span class="mila" data-lnk="168" data-exlnk="0" id="M_6_14_10">וַאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026533296" data-exlnk="0" id="M_6_14_11">תְּפַלֵּ֖ט</span>
<span class="mila" data-lnk="185" data-exlnk="0" id="M_6_14_12">לַחֶ֥רֶב</span>
<span class="mila" data-lnk="184" data-exlnk="0" id="M_6_14_13">אֶתֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1359">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_15" data-pasuk-now="14"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="805306656" data-exlnk="0" id="M_6_15_1">אַתָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_2">תִזְרַ֖ע</span>
<span class="mila" data-lnk="805306640" data-exlnk="0" id="M_6_15_3">וְלֹ֣א</span>
<span class="mila" data-lnk="4026533136" data-exlnk="0" id="M_6_15_4">תִקְצ֑וֹר</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_6_15_5">אַתָּ֤ה</span>
<span class="mila" data-lnk="4026533152" data-exlnk="0" id="M_6_15_6">תִדְרֹֽךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1366">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_7">זַ֙יִת֙</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_6_15_8">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1369">־</span><span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_6_15_9">תָס֣וּךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_10">שֶׁ֔מֶן</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_6_15_11">וְתִיר֖וֹשׁ</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_6_15_12">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_13">תִשְׁתֶּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1375">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_6_15_14">יָּֽיִן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1377">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_16" data-pasuk-now="18"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3221226687" data-exlnk="0" id="M_6_16_1">וְיִשְׁתַּמֵּ֞ר</span>
<span class="mila" data-lnk="4026533307" data-exlnk="0" id="M_6_16_2">חֻקּ֣וֹת</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_6_16_3">עָמְרִ֗י</span>
<span class="mila" data-lnk="3489662342" data-exlnk="0" id="M_6_16_4">וְכֹל֙</span>
<span class="mila" data-lnk="3758097798" data-exlnk="0" id="M_6_16_5">מַעֲשֵׂ֣ה</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_6_16_6">בֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1384">־</span><span class="mila" data-lnk="135" data-exlnk="0" id="M_6_16_7">אַחְאָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_16_8">וַתֵּלְכ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_16_9">בְּמֹעֲצוֹתָ֑ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_16_10">לְמַעַן֩</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_16_11">תִּתִּ֨י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_16_12">אֹתְךָ֜</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_6_16_13">לְשַׁמָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_16_14">וְיֹשְׁבֶ֙יהָ֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_6_16_15">לִשְׁרֵקָ֔ה</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_6_16_16">וְחֶרְפַּ֥ת</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_6_16_17">עַמִּ֖י</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_6_16_18">תִּשָּֽׂאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1398">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1399"> פ </span>
</span>
<br /></p>