<p id="PR_3" data-perek-now="231" data-perek-nops="19"><span class="perek-header">פרק ג</span>
<br /><span id="PS_3_1" data-pasuk-now="10"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_3_1_1">ה֖וֹי</span>
<span class="mila" data-lnk="1073742936" data-exlnk="0" id="M_3_1_2">עִ֣יר</span>
<span class="mila" data-lnk="3221226584" data-exlnk="0" id="M_3_1_3">דָּמִ֑ים</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_3_1_4">כֻּלָּ֗הּ</span>
<span class="mila" data-lnk="220" data-exlnk="0" id="M_3_1_5">כַּ֤חַשׁ</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_3_1_6">פֶּ֙רֶק֙</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_3_1_7">מְלֵאָ֔ה</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_3_1_8">לֹ֥א</span>
<span class="mila" data-lnk="4026533261" data-exlnk="0" id="M_3_1_9">יָמִ֖ישׁ</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_3_1_10">טָֽרֶף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="396">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_3_2_1">ק֣וֹל</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_3_2_2">שׁ֔וֹט</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_3_2_3">וְק֖וֹל</span>
<span class="mila" data-lnk="79" data-exlnk="0" id="M_3_2_4">רַ֣עַשׁ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_2_5">אוֹפָ֑ן</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_3_2_6">וְס֣וּס</span>
<span class="mila" data-lnk="3221226647" data-exlnk="0" id="M_3_2_7">דֹּהֵ֔ר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_2_8">וּמֶרְכָּבָ֖ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_2_9">מְרַקֵּדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="406">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026533149" data-exlnk="0" id="M_3_3_1">פָּרָ֣שׁ</span>
<span class="mila" data-lnk="805306649" data-exlnk="0" id="M_3_3_2">מַעֲלֶ֗ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_3_3_3">וְלַ֤הַב</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_3_3_4">חֶ֙רֶב֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_3_3_5">וּבְרַ֣ק</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_3_6">חֲנִ֔ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_7">וְרֹ֥ב</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_3_3_8">חָלָ֖ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_3_9">וְכֹ֣בֶד</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_3_3_10">פָּ֑גֶר</span>
<span class="mila" data-lnk="268435906" data-exlnk="0" id="M_3_3_11">וְאֵ֥ין</span>
<span class="mila" data-lnk="805306818" data-exlnk="0" id="M_3_3_12">קֵ֙צֶה֙</span>
<span class="mila" data-lnk="194" data-exlnk="0" id="M_3_3_13">לַגְּוִיָּ֔ה</span>
<span data-lnk="0" data-exlnk="0" id="M_3_3_14" class="mila ktiv">יְכָשְׁל֖וּ</span>
<span data-lnk="64" data-exlnk="0" id="M_3_3_14_K" class="mila kri">וְכָשְׁל֖וּ</span>
<span class="mila" data-lnk="194" data-exlnk="0" id="M_3_3_15">בִּגְוִיָּתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="423">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="197" data-exlnk="0" id="M_3_4_1">מֵרֹב֙</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_3_4_2">זְנוּנֵ֣י</span>
<span class="mila" data-lnk="209" data-exlnk="0" id="M_3_4_3">זוֹנָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_4">ט֥וֹבַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_5">חֵ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_6">בַּעֲלַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_7">כְּשָׁפִ֑ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_4_8">הַמֹּכֶ֤רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_9">גּוֹיִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_10">בִּזְנוּנֶ֔יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_11">וּמִשְׁפָּח֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_12">בִּכְשָׁפֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="436">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_5_1">הִנְנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_2">אֵלַ֗יִךְ</span>
<span class="mila" data-lnk="268435712" data-exlnk="0" id="M_3_5_3">נְאֻם֙</span>
<span class="mila" data-lnk="268435712" data-exlnk="0" id="M_3_5_4">יְהוָ֣ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_3_5_5">צְבָא֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_6">וְגִלֵּיתִ֥י</span>
<span class="mila" data-lnk="805306625" data-exlnk="0" id="M_3_5_7">שׁוּלַ֖יִךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="445">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_9">פָּנָ֑יִךְ</span>
<span class="mila" data-lnk="4026533248" data-exlnk="0" id="M_3_5_10">וְהַרְאֵיתִ֤י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_5_11">גוֹיִם֙</span>
<span class="mila" data-lnk="3221226647" data-exlnk="0" id="M_3_5_12">מַעְרֵ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_13">וּמַמְלָכ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_14">קְלוֹנֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="452">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_6" data-pasuk-now="6"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_6_1">וְהִשְׁלַכְתִּ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_6_2">עָלַ֛יִךְ</span>
<span class="mila" data-lnk="4026533137" data-exlnk="0" id="M_3_6_3">שִׁקֻּצִ֖ים</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_6_4">וְנִבַּלְתִּ֑יךְ</span>
<span class="mila" data-lnk="154" data-exlnk="0" id="M_3_6_5">וְשַׂמְתִּ֖יךְ</span>
<span class="mila" data-lnk="3221226715" data-exlnk="0" id="M_3_6_6">כְּרֹֽאִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="459">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_7" data-pasuk-now="15"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_7_1">וְהָיָ֤ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_7_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="462">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_7_3">רֹאַ֙יִךְ֙</span>
<span class="mila" data-lnk="153" data-exlnk="0" id="M_3_7_4">יִדּ֣וֹד</span>
<span class="mila" data-lnk="153" data-exlnk="0" id="M_3_7_5">מִמֵּ֔ךְ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_7_6">וְאָמַר֙</span>
<span class="mila" data-lnk="3221226498" data-exlnk="0" id="M_3_7_7">שָׁדְּדָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_7_8">נִֽינְוֵ֔ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_7_9">מִ֖י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_7_10">יָנ֣וּד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_7_11">לָ֑הּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_7_12">מֵאַ֛יִן</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_7_13">אֲבַקֵּ֥שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_7_14">מְנַחֲמִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_7_15">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="476">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_8" data-pasuk-now="13"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="3221226719" data-exlnk="0" id="M_3_8_1">הֲתֵֽיטְבִי֙</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_3_8_2">מִנֹּ֣א</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_3_8_3">אָמ֔וֹן</span>
<span class="mila" data-lnk="3221226504" data-exlnk="0" id="M_3_8_4">הַיֹּֽשְׁבָה֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_8_5">בַּיְאֹרִ֔ים</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_3_8_6">מַ֖יִם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_8_7">סָבִ֣יב</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_8_8">לָ֑הּ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_3_8_9">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="486">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_3_8_10">חֵ֣יל</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_3_8_11">יָ֔ם</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_3_8_12">מִיָּ֖ם</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_3_8_13">חוֹמָתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="491">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_9" data-pasuk-now="9"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_3_9_1">כּ֥וּשׁ</span>
<span class="mila" data-lnk="4026533275" data-exlnk="0" id="M_3_9_2">עָצְמָ֛ה</span>
<span class="mila" data-lnk="158" data-exlnk="0" id="M_3_9_3">וּמִצְרַ֖יִם</span>
<span class="mila" data-lnk="805306768" data-exlnk="0" id="M_3_9_4">וְאֵ֣ין</span>
<span class="mila" data-lnk="805306640" data-exlnk="0" id="M_3_9_5">קֵ֑צֶה</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_3_9_6">פּ֣וּט</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_3_9_7">וְלוּבִ֔ים</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_3_9_8">הָי֖וּ</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_3_9_9">בְּעֶזְרָתֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="501">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_10" data-pasuk-now="19"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_3_10_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="503">־</span><span class="mila" data-lnk="195" data-exlnk="0" id="M_3_10_2">הִ֗יא</span>
<span class="mila" data-lnk="4026533851" data-exlnk="0" id="M_3_10_3">לַגֹּלָה֙</span>
<span class="mila" data-lnk="222" data-exlnk="0" id="M_3_10_4">הָלְכָ֣ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_10_5">בַשֶּׁ֔בִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_10_6">גַּ֧ם</span>
<span class="mila" data-lnk="4026533128" data-exlnk="0" id="M_3_10_7">עֹלָלֶ֛יהָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_10_8">יְרֻטְּשׁ֖וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_10_9">בְּרֹ֣אשׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_10_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="513">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_10_11">חוּצ֑וֹת</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_3_10_12">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="516">־</span><span class="mila" data-lnk="128" data-exlnk="0" id="M_3_10_13">נִכְבַּדֶּ֙יהָ֙</span>
<span class="mila" data-lnk="4026533264" data-exlnk="0" id="M_3_10_14">יַדּ֣וּ</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_3_10_15">גוֹרָ֔ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_10_16">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="521">־</span><span class="mila" data-lnk="3221226504" data-exlnk="0" id="M_3_10_17">גְּדוֹלֶ֖יהָ</span>
<span class="mila" data-lnk="3221226647" data-exlnk="0" id="M_3_10_18">רֻתְּק֥וּ</span>
<span class="mila" data-lnk="139" data-exlnk="0" id="M_3_10_19">בַזִּקִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="525">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_3_11_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="527">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_3_11_2">אַ֣תְּ</span>
<span class="mila" data-lnk="4026533147" data-exlnk="0" id="M_3_11_3">תִּשְׁכְּרִ֔י</span>
<span class="mila" data-lnk="150" data-exlnk="0" id="M_3_11_4">תְּהִ֖י</span>
<span class="mila" data-lnk="3221226711" data-exlnk="0" id="M_3_11_5">נַעֲלָמָ֑ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_11_6">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="533">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_3_11_7">אַ֛תְּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_11_8">תְּבַקְשִׁ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_11_9">מָע֖וֹז</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_11_10">מֵאוֹיֵֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="538">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_3_12_1">כָּ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="540">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_3_12_2">מִבְצָרַ֔יִךְ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_3_12_3">תְּאֵנִ֖ים</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_3_12_4">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="544">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_3_12_5">בִּכּוּרִ֑ים</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_3_12_6">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="547">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_3_12_7">יִנּ֕וֹעוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_12_8">וְנָפְל֖וּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_3_12_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="551">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_3_12_10">פִּ֥י</span>
<span class="mila" data-lnk="4026533658" data-exlnk="0" id="M_3_12_11">אוֹכֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="554">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_13" data-pasuk-now="12"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_13_1">הִנֵּ֨ה</span>
<span class="mila" data-lnk="4026533142" data-exlnk="0" id="M_3_13_2">עַמֵּ֤ךְ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_3_13_3">נָשִׁים֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_13_4">בְּקִרְבֵּ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_5">לְאֹ֣יְבַ֔יִךְ</span>
<span class="mila" data-lnk="4026533136" data-exlnk="0" id="M_3_13_6">פָּת֥וֹחַ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_13_7">נִפְתְּח֖וּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_13_8">שַׁעֲרֵ֣י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_13_9">אַרְצֵ֑ךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_13_10">אָכְלָ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_13_11">אֵ֖שׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_13_12">בְּרִיחָֽיִךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="567">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_3_14_1">מֵ֤י</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_3_14_2">מָצוֹר֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_3_14_3">שַֽׁאֲבִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="571">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_3_14_4">לָ֔ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_14_5">חַזְּקִ֖י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_14_6">מִבְצָרָ֑יִךְ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_3_14_7">בֹּ֧אִי</span>
<span class="mila" data-lnk="4026533651" data-exlnk="0" id="M_3_14_8">בַטִּ֛יט</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_14_9">וְרִמְסִ֥י</span>
<span class="mila" data-lnk="4026533634" data-exlnk="0" id="M_3_14_10">בַחֹ֖מֶר</span>
<span class="mila" data-lnk="3221226499" data-exlnk="0" id="M_3_14_11">הַחֲזִ֥יקִי</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_3_14_12">מַלְבֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="581">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_15" data-pasuk-now="11"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_3_15_1">שָׁ֚ם</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_3_15_2">תֹּאכְלֵ֣ךְ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_15_3">אֵ֔שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_15_4">תַּכְרִיתֵ֣ךְ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_3_15_5">חֶ֔רֶב</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_3_15_6">תֹּאכְלֵ֖ךְ</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_3_15_7">כַּיָּ֑לֶק</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_3_15_8">הִתְכַּבֵּ֣ד</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_3_15_9">כַּיֶּ֔לֶק</span>
<span class="mila" data-lnk="3221226567" data-exlnk="0" id="M_3_15_10">הִֽתְכַּבְּדִ֖י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_15_11">כָּאַרְבֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="593">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_3_16_1">הִרְבֵּית֙</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_16_2">רֹכְלַ֔יִךְ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_16_3">מִכּוֹכְבֵ֖י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_16_4">הַשָּׁמָ֑יִם</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_3_16_5">יֶ֥לֶק</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_3_16_6">פָּשַׁ֖ט</span>
<span class="mila" data-lnk="805306655" data-exlnk="0" id="M_3_16_7">וַיָּעֹֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="601">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_17" data-pasuk-now="16"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3221226591" data-exlnk="0" id="M_3_17_1">מִנְּזָרַ֙יִךְ֙</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_3_17_2">כָּֽאַרְבֶּ֔ה</span>
<span class="mila" data-lnk="3221226515" data-exlnk="0" id="M_3_17_3">וְטַפְסְרַ֖יִךְ</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_3_17_4">כְּג֣וֹב</span>
<span class="mila" data-lnk="4026533191" data-exlnk="0" id="M_3_17_5">גֹּבָ֑י</span>
<span class="mila" data-lnk="3221226583" data-exlnk="0" id="M_3_17_6">הַחוֹנִ֤ים</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_3_17_7">בַּגְּדֵרוֹת֙</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_3_17_8">בְּי֣וֹם</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_3_17_9">קָרָ֔ה</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_3_17_10">שֶׁ֤מֶשׁ</span>
<span class="mila" data-lnk="4026533142" data-exlnk="0" id="M_3_17_11">זָֽרְחָה֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_3_17_12">וְנֹדַ֔ד</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_3_17_13">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="615">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_3_17_14">נוֹדַ֥ע</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_3_17_15">מְקוֹמ֖וֹ</span>
<span class="mila" data-lnk="4026533123" data-exlnk="0" id="M_3_17_16">אַיָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="619">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_18" data-pasuk-now="12"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="805306719" data-exlnk="0" id="M_3_18_1">נָמ֤וּ</span>
<span class="mila" data-lnk="4026533211" data-exlnk="0" id="M_3_18_2">רֹעֶ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_3">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_18_4">אַשּׁ֔וּר</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_3_18_5">יִשְׁכְּנ֖וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_18_6">אַדִּירֶ֑יךָ</span>
<span class="mila" data-lnk="3221226575" data-exlnk="0" id="M_3_18_7">נָפֹ֧שׁוּ</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_3_18_8">עַמְּךָ֛</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_3_18_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="629">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_3_18_10">הֶהָרִ֖ים</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_18_11">וְאֵ֥ין</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_18_12">מְקַבֵּֽץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="633">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_19" data-pasuk-now="18"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_3_19_1">אֵין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="635">־</span><span class="mila" data-lnk="91" data-exlnk="0" id="M_3_19_2">כֵּהָ֣ה</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_3_19_3">לְשִׁבְרֶ֔ךָ</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_3_19_4">נַחְלָ֖ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_19_5">מַכָּתֶ֑ךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_19_6">כֹּ֣ל׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_19_7">שֹׁמְעֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_8">שִׁמְעֲךָ֗</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_3_19_9">תָּ֤קְעוּ</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_3_19_10">כַף֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_19_11">עָלֶ֔יךָ</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_3_19_12">כִּ֗י</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_3_19_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="648">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_3_19_14">מִ֛י</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_3_19_15">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="651">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_3_19_16">עָבְרָ֥ה</span>
<span class="mila" data-lnk="66" data-exlnk="0" id="M_3_19_17">רָעָתְךָ֖</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_19_18">תָּמִֽיד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="655">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>