<p id="PR_1" data-perek-now="154" data-perek-nops="14"><span class="perek-header">פרק א</span>
<br /><span id="PS_1_1" data-pasuk-now="6"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_1_1_1">מַשָּׂ֖א</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_1_2">נִֽינְוֵ֑ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_1_1_3">סֵ֧פֶר</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_1_1_4">חֲז֛וֹן</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_1_1_5">נַח֖וּם</span>
<span class="mila" data-lnk="3221226575" data-exlnk="0" id="M_1_1_6">הָאֶלְקֹשִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_2_1">אֵ֣ל</span>
<span class="mila" data-lnk="4026533343" data-exlnk="0" id="M_1_2_2">קַנּ֤וֹא</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_2_3">וְנֹקֵם֙</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_1_2_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_1_2_5">נֹקֵ֥ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_2_6">יְהוָ֖ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_2_7">וּבַ֣עַל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_2_8">חֵמָ֑ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_2_9">נֹקֵ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_10">יְהוָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_2_11">לְצָרָ֔יו</span>
<span class="mila" data-lnk="3221226515" data-exlnk="0" id="M_1_2_12">וְנוֹטֵ֥ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_13">ה֖וּא</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_1_2_14">לְאֹיְבָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_1_3_1">יְהוָ֗ה</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_3_2">אֶ֤רֶךְ</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_3_3">אַפַּ֙יִם֙</span>
<span class="mila" data-lnk="4026533847" data-exlnk="0" id="M_1_3_4">וּגְדָול</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="27">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_1_3_5">כֹּ֔חַ</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_1_3_6">וְנַקֵּ֖ה</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_1_3_7">לֹ֣א</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_1_3_8">יְנַקֶּ֑ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_1_3_9">יְהוָ֗ה</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_3_10">בְּסוּפָ֤ה</span>
<span class="mila" data-lnk="4026533146" data-exlnk="0" id="M_1_3_11">וּבִשְׂעָרָה֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_1_3_12">דַּרְכּ֔וֹ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_3_13">וְעָנָ֖ן</span>
<span class="mila" data-lnk="3221226517" data-exlnk="0" id="M_1_3_14">אֲבַ֥ק</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_3_15">רַגְלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="39">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026533279" data-exlnk="0" id="M_1_4_1">גּוֹעֵ֤ר</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_1_4_2">בַּיָּם֙</span>
<span class="mila" data-lnk="3221226634" data-exlnk="0" id="M_1_4_3">וַֽיַּבְּשֵׁ֔הוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_4_4">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="44">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_1_4_5">הַנְּהָר֖וֹת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_4_6">הֶחֱרִ֑יב</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_1_4_7">אֻמְלַ֤ל</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_1_4_8">בָּשָׁן֙</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_1_4_9">וְכַרְמֶ֔ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_4_10">וּפֶ֥רַח</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_4_11">לְבָנ֖וֹן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_4_12">אֻמְלָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="53">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_5_1">הָרִים֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_5_2">רָעֲשׁ֣וּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_5_3">מִמֶּ֔נּוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_5_4">וְהַגְּבָע֖וֹת</span>
<span class="mila" data-lnk="4026533121" data-exlnk="0" id="M_1_5_5">הִתְמֹגָ֑גוּ</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_5_6">וַתִּשָּׂ֤א</span>
<span class="mila" data-lnk="199" data-exlnk="0" id="M_1_5_7">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_1_5_8">מִפָּנָ֔יו</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_1_5_9">וְתֵבֵ֖ל</span>
<span class="mila" data-lnk="268435712" data-exlnk="0" id="M_1_5_10">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="64">־</span><span class="mila" data-lnk="805306624" data-exlnk="0" id="M_1_5_11">י֥וֹשְׁבֵי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_12">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="67">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_6_1">לִפְנֵ֤י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_6_2">זַעְמוֹ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_6_3">מִ֣י</span>
<span class="mila" data-lnk="4026533132" data-exlnk="0" id="M_1_6_4">יַעֲמ֔וֹד</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_1_6_5">וּמִ֥י</span>
<span class="mila" data-lnk="3758097664" data-exlnk="0" id="M_1_6_6">יָק֖וּם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_7">בַּחֲר֣וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_8">אַפּ֑וֹ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_1_6_9">חֲמָתוֹ֙</span>
<span class="mila" data-lnk="67" data-exlnk="0" id="M_1_6_10">נִתְּכָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_11">כָאֵ֔שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_12">וְהַצֻּרִ֖ים</span>
<span class="mila" data-lnk="4026533139" data-exlnk="0" id="M_1_6_13">נִתְּצ֥וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_6_14">מִמֶּֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="82">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_7_1">ט֣וֹב</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_1_7_2">יְהוָ֔ה</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_7_3">לְמָע֖וֹז</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_1_7_4">בְּי֣וֹם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_1_7_5">צָרָ֑ה</span>
<span class="mila" data-lnk="4026533141" data-exlnk="0" id="M_1_7_6">וְיֹדֵ֖עַ</span>
<span class="mila" data-lnk="3221226517" data-exlnk="0" id="M_1_7_7">חֹ֥סֵי</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_7_8">בֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="91">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_1_8_1">וּבְשֶׁ֣טֶף</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_1_8_2">עֹבֵ֔ר</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_1_8_3">כָּלָ֖ה</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_1_8_4">יַעֲשֶׂ֣ה</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_1_8_5">מְקוֹמָ֑הּ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_8_6">וְאֹיְבָ֖יו</span>
<span class="mila" data-lnk="3221226524" data-exlnk="0" id="M_1_8_7">יְרַדֶּף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="99">־</span><span class="mila" data-lnk="92" data-exlnk="0" id="M_1_8_8">חֹֽשֶׁךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="101">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_9" data-pasuk-now="11"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_1_9_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="103">־</span><span class="mila" data-lnk="3489662360" data-exlnk="0" id="M_1_9_2">תְּחַשְּׁבוּן֙</span>
<span class="mila" data-lnk="4026533272" data-exlnk="0" id="M_1_9_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="106">־</span><span class="mila" data-lnk="152" data-exlnk="0" id="M_1_9_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_9_5">כָּלָ֖ה</span>
<span class="mila" data-lnk="205" data-exlnk="0" id="M_1_9_6">ה֣וּא</span>
<span class="mila" data-lnk="805306701" data-exlnk="0" id="M_1_9_7">עֹשֶׂ֑ה</span>
<span class="mila" data-lnk="210" data-exlnk="0" id="M_1_9_8">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="112">־</span><span class="mila" data-lnk="214" data-exlnk="0" id="M_1_9_9">תָק֥וּם</span>
<span class="mila" data-lnk="222" data-exlnk="0" id="M_1_9_10">פַּעֲמַ֖יִם</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_1_9_11">צָרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="116">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_10_1">כִּ֚י</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_1_10_2">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="119">־</span><span class="mila" data-lnk="223" data-exlnk="0" id="M_1_10_3">סִירִ֣ים</span>
<span class="mila" data-lnk="3221226591" data-exlnk="0" id="M_1_10_4">סְבֻכִ֔ים</span>
<span class="mila" data-lnk="3221226719" data-exlnk="0" id="M_1_10_5">וּכְסָבְאָ֖ם</span>
<span class="mila" data-lnk="3221226719" data-exlnk="0" id="M_1_10_6">סְבוּאִ֑ים</span>
<span class="mila" data-lnk="4026533789" data-exlnk="0" id="M_1_10_7">אֻ֨כְּל֔וּ</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_1_10_8">כְּקַ֥שׁ</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_1_10_9">יָבֵ֖שׁ</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_10_10">מָלֵֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="128">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_1_11_1">מִמֵּ֣ךְ</span>
<span class="mila" data-lnk="3221227225" data-exlnk="0" id="M_1_11_2">יָצָ֔א</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_1_11_3">חֹשֵׁ֥ב</span>
<span class="mila" data-lnk="1342178714" data-exlnk="0" id="M_1_11_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="133">־</span><span class="mila" data-lnk="4026533274" data-exlnk="0" id="M_1_11_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="155" data-exlnk="0" id="M_1_11_6">רָעָ֑ה</span>
<span class="mila" data-lnk="3221226650" data-exlnk="0" id="M_1_11_7">יֹעֵ֖ץ</span>
<span class="mila" data-lnk="138" data-exlnk="0" id="M_1_11_8">בְּלִיָּֽעַל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="139">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="140">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_12" data-pasuk-now="14"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_1_12_1">כֹּ֣ה׀</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_1_12_2">אָמַ֣ר</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_1_12_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_1_12_4">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="145">־</span><span class="mila" data-lnk="4026533851" data-exlnk="0" id="M_1_12_5">שְׁלֵמִים֙</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_1_12_6">וְכֵ֣ן</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_12_7">רַבִּ֔ים</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_12_8">וְכֵ֥ן</span>
<span class="mila" data-lnk="3221226655" data-exlnk="0" id="M_1_12_9">נָג֖וֹזּוּ</span>
<span class="mila" data-lnk="143" data-exlnk="0" id="M_1_12_10">וְעָבָ֑ר</span>
<span class="mila" data-lnk="3221226719" data-exlnk="0" id="M_1_12_11">וְעִ֨נִּתִ֔ךְ</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_12_12">לֹ֥א</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_1_12_13">אֲעַנֵּ֖ךְ</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_12_14">עֽוֹד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="156">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_13" data-pasuk-now="6"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_1_13_1">וְעַתָּ֕ה</span>
<span class="mila" data-lnk="217" data-exlnk="0" id="M_1_13_2">אֶשְׁבֹּ֥ר</span>
<span class="mila" data-lnk="3221226713" data-exlnk="0" id="M_1_13_3">מֹטֵ֖הוּ</span>
<span class="mila" data-lnk="4026533337" data-exlnk="0" id="M_1_13_4">מֵעָלָ֑יִךְ</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_1_13_5">וּמוֹסְרֹתַ֖יִךְ</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_1_13_6">אֲנַתֵּֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="163">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_14" data-pasuk-now="16"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="95" data-exlnk="0" id="M_1_14_1">וְצִוָּ֤ה</span>
<span class="mila" data-lnk="91" data-exlnk="0" id="M_1_14_2">עָלֶ֙יךָ֙</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_1_14_3">יְהוָ֔ה</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_14_4">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="168">־</span><span class="mila" data-lnk="159" data-exlnk="0" id="M_1_14_5">יִזָּרַ֥ע</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_1_14_6">מִשִּׁמְךָ֖</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_1_14_7">ע֑וֹד</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_14_8">מִבֵּ֨ית</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_14_9">אֱלֹהֶ֜יךָ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_14_10">אַכְרִ֨ית</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_1_14_11">פֶּ֧סֶל</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_1_14_12">וּמַסֵּכָ֛ה</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_14_13">אָשִׂ֥ים</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_14_14">קִבְרֶ֖ךָ</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_1_14_15">כִּ֥י</span>
<span class="mila" data-lnk="3221226643" data-exlnk="0" id="M_1_14_16">קַלּֽוֹתָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="182">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="183"> פ </span>
</span>
<br /></p>