<p id="PR_4" data-perek-now="187" data-perek-nops="14"><span class="perek-header">פרק ד</span>
<br /><span id="PS_4_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_4_1_1">וַיָּ֕שָׁב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_4_1_2">הַמַּלְאָ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_3">הַדֹּבֵ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_1_4">בִּ֑י</span>
<span class="mila" data-lnk="3221226518" data-exlnk="0" id="M_4_1_5">וַיְעִירֵ֕נִי</span>
<span class="mila" data-lnk="4026533154" data-exlnk="0" id="M_4_1_6">כְּאִ֖ישׁ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_4_1_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="812">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_4_1_8">יֵע֥וֹר</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_4_1_9">מִשְּׁנָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="815">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_2" data-pasuk-now="24"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026533166" data-exlnk="0" id="M_4_2_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_4_2_2">אֵלַ֔י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_4_2_3">מָ֥ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_4_2_4">אַתָּ֖ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_4_2_5">רֹאֶ֑ה</span>
<span data-lnk="0" data-exlnk="0" id="M_4_2_6" class="mila ktiv">וָיאֹמַ֡ר</span>
<span data-lnk="42" data-exlnk="0" id="M_4_2_6_K" class="mila kri">וָאֹמַ֡ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_4_2_7">רָאִ֣יתִי</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="824">׀</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_4_2_8">וְהִנֵּ֣ה</span>
<span class="mila" data-lnk="4026533138" data-exlnk="0" id="M_4_2_9">מְנוֹרַת֩</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_4_2_10">זָהָ֨ב</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_4_2_11">כֻּלָּ֜הּ</span>
<span class="mila" data-lnk="3221226547" data-exlnk="0" id="M_4_2_12">וְגֻלָּ֣הּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_4_2_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="831">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_4_2_14">רֹאשָׁ֗הּ</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_2_15">וְשִׁבְעָ֤ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_4_2_16">נֵרֹתֶ֙יהָ֙</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_4_2_17">עָלֶ֔יהָ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_4_2_18">שִׁבְעָ֤ה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_2_19">וְשִׁבְעָה֙</span>
<span class="mila" data-lnk="3221226559" data-exlnk="0" id="M_4_2_20">מֽוּצָק֔וֹת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_4_2_21">לַנֵּר֖וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_4_2_22">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_4_2_23">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="842">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_4_2_24">רֹאשָֽׁהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="844">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_4_3_1">וּשְׁנַ֥יִם</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_4_3_2">זֵיתִ֖ים</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_4_3_3">עָלֶ֑יהָ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_4_3_4">אֶחָד֙</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_4_3_5">מִימִ֣ין</span>
<span class="mila" data-lnk="3221226531" data-exlnk="0" id="M_4_3_6">הַגֻּלָּ֔ה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_4_3_7">וְאֶחָ֖ד</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_4_3_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="853">־</span><span class="mila" data-lnk="4026533155" data-exlnk="0" id="M_4_3_9">שְׂמֹאלָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="855">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_4" data-pasuk-now="10"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_4_4_1">וָאַ֙עַן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_4_2">וָאֹמַ֔ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_4_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="859">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_4_4">הַמַּלְאָ֛ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_4_5">הַדֹּבֵ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_4_6">בִּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_4_7">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_4_4_8">מָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="865">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_4_4_9">אֵ֖לֶּה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_4_4_10">אֲדֹנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="868">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_4_5_1">וַ֠יַּעַן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_4_5_2">הַמַּלְאָ֞ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_3">הַדֹּבֵ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_4">בִּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_5">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_6">אֵלַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_7">הֲל֥וֹא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_4_5_8">יָדַ֖עְתָּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_4_5_9">מָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="878">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_4_5_10">הֵ֣מָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_4_5_11">אֵ֑לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_12">וָאֹמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_13">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_5_14">אֲדֹנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="884">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_4_6_1">וַיַּ֜עַן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_6_2">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_6_3">אֵלַי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_4_6_4">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_4_6_5">זֶ֚ה</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_4_6_6">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="891">־</span><span class="mila" data-lnk="29" data-exlnk="0" id="M_4_6_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_4_6_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="894">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_4_6_9">זְרֻבָּבֶ֖ל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_6_10">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="3221226523" data-exlnk="0" id="M_4_6_11">לֹ֤א</span>
<span class="mila" data-lnk="3221226523" data-exlnk="0" id="M_4_6_12">בְחַ֙יִל֙</span>
<span class="mila" data-lnk="3221226555" data-exlnk="0" id="M_4_6_13">וְלֹ֣א</span>
<span class="mila" data-lnk="3221226555" data-exlnk="0" id="M_4_6_14">בְכֹ֔חַ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_4_6_15">כִּ֣י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_4_6_16">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="903">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_4_6_17">בְּרוּחִ֔י</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_4_6_18">אָמַ֖ר</span>
<span class="mila" data-lnk="268435712" data-exlnk="0" id="M_4_6_19">יְהוָ֥ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_4_6_20">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="908">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_7" data-pasuk-now="15"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_1">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="910">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_2">אַתָּ֧ה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_3">הַֽר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="913">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_4">הַגָּד֛וֹל</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_5">לִפְנֵ֥י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_6">זְרֻבָּבֶ֖ל</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_7">לְמִישֹׁ֑ר</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_4_7_8">וְהוֹצִיא֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="920">־</span><span class="mila" data-lnk="47" data-exlnk="0" id="M_4_7_10">הָאֶ֣בֶן</span>
<span class="mila" data-lnk="3221226535" data-exlnk="0" id="M_4_7_11">הָרֹאשָׁ֔ה</span>
<span class="mila" data-lnk="4026533183" data-exlnk="0" id="M_4_7_12">תְּשֻׁא֕וֹת</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_13">חֵ֥ן</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_7_14">חֵ֖ן</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_4_7_15">לָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="928">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="929"> פ </span>
</span>
<br /><span id="PS_4_8" data-pasuk-now="5"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_4_8_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_4_8_2">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="932">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_4_8_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_4">אֵלַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_8_5">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="936">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_9" data-pasuk-now="13"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_4_9_1">יְדֵ֣י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_4_9_2">זְרֻבָּבֶ֗ל</span>
<span class="mila" data-lnk="3221226521" data-exlnk="0" id="M_4_9_3">יִסְּד֛וּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_4">הַבַּ֥יִת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_4_9_5">הַזֶּ֖ה</span>
<span class="mila" data-lnk="4026533147" data-exlnk="0" id="M_4_9_6">וְיָדָ֣יו</span>
<span class="mila" data-lnk="3221226519" data-exlnk="0" id="M_4_9_7">תְּבַצַּ֑עְנָה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_4_9_8">וְיָ֣דַעְתָּ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="946">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_10">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_9_11">צְבָא֖וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_4_9_12">שְׁלָחַ֥נִי</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_4_9_13">אֲלֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="951">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_10" data-pasuk-now="20"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_10_1">כִּ֣י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_10_2">מִ֣י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_10_3">בַז֘</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_10_4">לְי֣וֹם</span>
<span class="mila" data-lnk="3221226558" data-exlnk="0" id="M_4_10_5">קְטַנּוֹת֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_4_10_6">וְשָׂמְח֗וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_4_10_7">וְרָא֞וּ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_4_10_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="960">־</span><span class="mila" data-lnk="1073742911" data-exlnk="0" id="M_4_10_9">הָאֶ֧בֶן</span>
<span class="mila" data-lnk="3221226559" data-exlnk="0" id="M_4_10_10">הַבְּדִ֛יל</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_10_11">בְּיַ֥ד</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_4_10_12">זְרֻבָּבֶ֖ל</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_4_10_13">שִׁבְעָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="966">־</span><span class="mila" data-lnk="54" data-exlnk="0" id="M_4_10_14">אֵ֑לֶּה</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_4_10_15">עֵינֵ֣י</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_4_10_16">יְהוָ֔ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_4_10_17">הֵ֥מָּה</span>
<span class="mila" data-lnk="3221226535" data-exlnk="0" id="M_4_10_18">מְשׁוֹטֲטִ֖ים</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_4_10_19">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="973">־</span><span class="mila" data-lnk="54" data-exlnk="0" id="M_4_10_20">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="975">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_4_11_1">וָאַ֖עַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_11_2">וָאֹמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_11_3">אֵלָ֑יו</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_4_11_4">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="980">־</span><span class="mila" data-lnk="51" data-exlnk="0" id="M_4_11_5">שְּׁנֵ֤י</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_4_11_6">הַזֵּיתִים֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_4_11_7">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="1073742866" data-exlnk="0" id="M_4_11_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="985">־</span><span class="mila" data-lnk="2147484690" data-exlnk="0" id="M_4_11_9">יְמִ֥ין</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_4_11_10">הַמְּנוֹרָ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_4_11_11">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="989">־</span><span class="mila" data-lnk="4026533136" data-exlnk="0" id="M_4_11_12">שְׂמֹאולָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="991">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_12" data-pasuk-now="16"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_4_12_1">וָאַ֣עַן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_4_12_2">שֵׁנִ֔ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_4_12_3">וָאֹמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_12_4">אֵלָ֑יו</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_4_12_5">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="997">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_4_12_6">שְׁתֵּ֞י</span>
<span class="mila" data-lnk="3221226515" data-exlnk="0" id="M_4_12_7">שִׁבֲּלֵ֣י</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_4_12_8">הַזֵּיתִ֗ים</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_4_12_9">אֲשֶׁר֙</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_4_12_10">בְּיַ֗ד</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_4_12_11">שְׁנֵי֙</span>
<span class="mila" data-lnk="3221226549" data-exlnk="0" id="M_4_12_12">צַנְתְּר֣וֹת</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_4_12_13">הַזָּהָ֔ב</span>
<span class="mila" data-lnk="3221226551" data-exlnk="0" id="M_4_12_14">הַֽמֲרִיקִ֥ים</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_4_12_15">מֵעֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_4_12_16">הַזָּהָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1009">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_13" data-pasuk-now="10"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_4_13_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_2">אֵלַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_3">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_4">הֲל֥וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_5">יָדַ֖עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_6">מָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1016">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_4_13_7">אֵ֑לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_8">וָאֹמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_9">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_4_13_10">אֲדֹנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1021">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_4_14" data-pasuk-now="10"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_4_14_1">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_4_14_2">אֵ֖לֶּה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_4_14_3">שְׁנֵ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_4_14_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1026">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_4_14_5">הַיִּצְהָ֑ר</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_4_14_6">הָעֹמְדִ֖ים</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_4_14_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1030">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_4_14_8">אֲד֥וֹן</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_4_14_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1033">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_4_14_10">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1035">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>