<p id="PR_3" data-perek-now="368" data-perek-nops="24"><span class="perek-header">פרק ג</span>
<br /><span id="PS_3_1" data-pasuk-now="24"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_3_1_1">הִנְנִ֤י</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_3_1_2">שֹׁלֵחַ֙</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_3_1_3">מַלְאָכִ֔י</span>
<span class="mila" data-lnk="3221226553" data-exlnk="0" id="M_3_1_4">וּפִנָּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="609">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_3_1_5">דֶ֖רֶךְ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_1_6">לְפָנָ֑י</span>
<span class="mila" data-lnk="4026533688" data-exlnk="0" id="M_3_1_7">וּפִתְאֹם֩</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_1_8">יָב֨וֹא</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_1_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="615">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_3_1_10">הֵיכָל֜וֹ</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_3_1_11">הָאָד֣וֹן׀</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_3_1_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="619">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_3_1_13">אַתֶּ֣ם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_3_1_14">מְבַקְשִׁ֗ים</span>
<span class="mila" data-lnk="4026533173" data-exlnk="0" id="M_3_1_15">וּמַלְאַ֨ךְ</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_3_1_16">הַבְּרִ֜ית</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_1_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="625">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_3_1_18">אַתֶּ֤ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_1_19">חֲפֵצִים֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_1_20">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="629">־</span><span class="mila" data-lnk="112" data-exlnk="0" id="M_3_1_21">בָ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_22">אָמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_1_23">יְהוָ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_1_24">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="634">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_2_1">וּמִ֤י</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_2_2">מְכַלְכֵּל֙</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_3_2_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="638">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_3_2_4">י֣וֹם</span>
<span class="mila" data-lnk="3221226555" data-exlnk="0" id="M_3_2_5">בּוֹא֔וֹ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_3_2_6">וּמִ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_2_7">הָעֹמֵ֖ד</span>
<span class="mila" data-lnk="3221226504" data-exlnk="0" id="M_3_2_8">בְּהֵרָאוֹת֑וֹ</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_3_2_9">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="645">־</span><span class="mila" data-lnk="108" data-exlnk="0" id="M_3_2_10">הוּא֙</span>
<span class="mila" data-lnk="108" data-exlnk="0" id="M_3_2_11">כְּאֵ֣שׁ</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_3_2_12">מְצָרֵ֔ף</span>
<span class="mila" data-lnk="3221226605" data-exlnk="0" id="M_3_2_13">וּכְבֹרִ֖ית</span>
<span class="mila" data-lnk="3221226597" data-exlnk="0" id="M_3_2_14">מְכַבְּסִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="651">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_3" data-pasuk-now="17"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_3_3_1">וְיָשַׁ֨ב</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_3_3_2">מְצָרֵ֤ף</span>
<span class="mila" data-lnk="3221226549" data-exlnk="0" id="M_3_3_3">וּמְטַהֵר֙</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_3_3_4">כֶּ֔סֶף</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_3_3_5">וְטִהַ֤ר</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_3_3_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="658">־</span><span class="mila" data-lnk="62" data-exlnk="0" id="M_3_3_7">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="660">־</span><span class="mila" data-lnk="62" data-exlnk="0" id="M_3_3_8">לֵוִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_9">וְזִקַּ֣ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_3_10">אֹתָ֔ם</span>
<span class="mila" data-lnk="4026533632" data-exlnk="0" id="M_3_3_11">כַּזָּהָ֖ב</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_3_3_12">וְכַכָּ֑סֶף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_3_13">וְהָיוּ֙</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_3_14">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_3_3_15">מַגִּישֵׁ֥י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_3_3_16">מִנְחָ֖ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_3_3_17">בִּצְדָקָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="671">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026533684" data-exlnk="0" id="M_3_4_1">וְעָֽרְבָה֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_4_2">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_4_3">מִנְחַ֥ת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_3_4_4">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_4_5">וִירוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_6">כִּימֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_7">עוֹלָ֔ם</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_3_4_8">וּכְשָׁנִ֖ים</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_3_4_9">קַדְמֹנִיֹּֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="681">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_5" data-pasuk-now="22"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_3_5_1">וְקָרַבְתִּ֣י</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_3_5_2">אֲלֵיכֶם֘</span>
<span class="mila" data-lnk="4026533144" data-exlnk="0" id="M_3_5_3">לַמִּשְׁפָּט֒</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_5_4">וְהָיִ֣יתִי׀</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_3_5_5">עֵ֣ד</span>
<span class="mila" data-lnk="3221226554" data-exlnk="0" id="M_3_5_6">מְמַהֵ֗ר</span>
<span class="mila" data-lnk="3221226522" data-exlnk="0" id="M_3_5_7">בַּֽמְכַשְּׁפִים֙</span>
<span class="mila" data-lnk="3221226522" data-exlnk="0" id="M_3_5_8">וּבַמְנָ֣אֲפִ֔ים</span>
<span class="mila" data-lnk="3221226498" data-exlnk="0" id="M_3_5_9">וּבַנִּשְׁבָּעִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_5_10">לַשָּׁ֑קֶר</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_3_5_11">וּבְעֹשְׁקֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_12">שְׂכַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="694">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_13">שָׂ֠כִיר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_14">אַלְמָנָ֨ה</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_3_5_15">וְיָת֤וֹם</span>
<span class="mila" data-lnk="3221226532" data-exlnk="0" id="M_3_5_16">וּמַטֵּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="699">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_3_5_17">גֵר֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_3_5_18">וְלֹ֣א</span>
<span class="mila" data-lnk="3221226512" data-exlnk="0" id="M_3_5_19">יְרֵא֔וּנִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_20">אָמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_21">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_22">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="706">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_6_1">כִּ֛י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_6_2">אֲנִ֥י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_6_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_6_4">לֹ֣א</span>
<span class="mila" data-lnk="3221226555" data-exlnk="0" id="M_3_6_5">שָׁנִ֑יתִי</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_6_6">וְאַתֶּ֥ם</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_6_7">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="714">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_3_6_8">יַעֲקֹ֖ב</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_6_9">לֹ֥א</span>
<span class="mila" data-lnk="3221226559" data-exlnk="0" id="M_3_6_10">כְלִיתֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="718">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026533678" data-exlnk="0" id="M_3_7_1">לְמִימֵ֨י</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_7_2">אֲבֹתֵיכֶ֜ם</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_7_3">סַרְתֶּ֤ם</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_7_4">מֵֽחֻקַּי֙</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_7_5">וְלֹ֣א</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_7_6">שְׁמַרְתֶּ֔ם</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_7_7">שׁ֤וּבוּ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_7_8">אֵלַי֙</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_7_9">וְאָשׁ֣וּבָה</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_7_10">אֲלֵיכֶ֔ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_7_11">אָמַ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_7_12">יְהוָ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_7_13">צְבָא֑וֹת</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_7_14">וַאֲמַרְתֶּ֖ם</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_3_7_15">בַּמֶּ֥ה</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_3_7_16">נָשֽׁוּב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="735">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="3221226559" data-exlnk="0" id="M_3_8_1">הֲיִקְבַּ֨ע</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_8_2">אָדָ֜ם</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_3_8_3">אֱלֹהִ֗ים</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_3_8_4">כִּ֤י</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_3_8_5">אַתֶּם֙</span>
<span class="mila" data-lnk="4026533158" data-exlnk="0" id="M_3_8_6">קֹבְעִ֣ים</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_3_8_7">אֹתִ֔י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_8_8">וַאֲמַרְתֶּ֖ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_8_9">בַּמֶּ֣ה</span>
<span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_3_8_10">קְבַֽעֲנ֑וּךָ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_3_8_11">הַֽמַּעֲשֵׂ֖ר</span>
<span class="mila" data-lnk="3221226543" data-exlnk="0" id="M_3_8_12">וְהַתְּרוּמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="748">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_9" data-pasuk-now="8"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_9_1">בַּמְּאֵרָה֙</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_9_2">אַתֶּ֣ם</span>
<span class="mila" data-lnk="3221226559" data-exlnk="0" id="M_3_9_3">נֵֽאָרִ֔ים</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_3_9_4">וְאֹתִ֖י</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_3_9_5">אַתֶּ֣ם</span>
<span class="mila" data-lnk="805306679" data-exlnk="0" id="M_3_9_6">קֹבְעִ֑ים</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_3_9_7">הַגּ֖וֹי</span>
<span class="mila" data-lnk="3221226548" data-exlnk="0" id="M_3_9_8">כֻּלּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="757">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_10" data-pasuk-now="29"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026533164" data-exlnk="0" id="M_3_10_1">הָבִ֨יאוּ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_10_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="760">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_3_10_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="762">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_10_4">הַֽמַּעֲשֵׂ֜ר</span>
<span class="mila" data-lnk="805306638" data-exlnk="0" id="M_3_10_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="765">־</span><span class="mila" data-lnk="805306635" data-exlnk="0" id="M_3_10_6">בֵּ֣ית</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_10_7">הָאוֹצָ֗ר</span>
<span class="mila" data-lnk="805306651" data-exlnk="0" id="M_3_10_8">וִיהִ֥י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_10_9">טֶ֙רֶף֙</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_3_10_10">בְּבֵיתִ֔י</span>
<span class="mila" data-lnk="3221226522" data-exlnk="0" id="M_3_10_11">וּבְחָנ֤וּנִי</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_10_12">נָא֙</span>
<span class="mila" data-lnk="4026533138" data-exlnk="0" id="M_3_10_13">בָּזֹ֔את</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_10_14">אָמַ֖ר</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_10_15">יְהוָ֣ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_10_16">צְבָא֑וֹת</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_10_17">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="778">־</span><span class="mila" data-lnk="14" data-exlnk="0" id="M_3_10_18">לֹ֧א</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_10_19">אֶפְתַּ֣ח</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_3_10_20">לָכֶ֗ם</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_10_21">אֵ֚ת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_10_22">אֲרֻבּ֣וֹת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_10_23">הַשָּׁמַ֔יִם</span>
<span class="mila" data-lnk="4026533638" data-exlnk="0" id="M_3_10_24">וַהֲרִיקֹתִ֥י</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_3_10_25">לָכֶ֛ם</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_3_10_26">בְּרָכָ֖ה</span>
<span class="mila" data-lnk="268435814" data-exlnk="0" id="M_3_10_27">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="789">־</span><span class="mila" data-lnk="805306742" data-exlnk="0" id="M_3_10_28">בְּלִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="791">־</span><span class="mila" data-lnk="3221226614" data-exlnk="0" id="M_3_10_29">דָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="793">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_11" data-pasuk-now="17"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_3_11_1">וְגָעַרְתִּ֤י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_11_2">לָכֶם֙</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_11_3">בָּֽאֹכֵ֔ל</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_11_4">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="798">־</span><span class="mila" data-lnk="4026533122" data-exlnk="0" id="M_3_11_5">יַשְׁחִ֥ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_11_6">לָכֶ֖ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_11_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="802">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_11_8">פְּרִ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_11_9">הָאֲדָמָ֑ה</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_11_10">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="806">־</span><span class="mila" data-lnk="4026533666" data-exlnk="0" id="M_3_11_11">תְשַׁכֵּ֨ל</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_11_12">לָכֶ֤ם</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_3_11_13">הַגֶּ֙פֶן֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_11_14">בַּשָּׂדֶ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_11_15">אָמַ֖ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_11_16">יְהוָ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_11_17">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="814">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_12" data-pasuk-now="12"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221226542" data-exlnk="0" id="M_3_12_1">וְאִשְּׁר֥וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_12_2">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_12_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="818">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_12_4">הַגּוֹיִ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_12_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="821">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_12_6">תִהְי֤וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_12_7">אַתֶּם֙</span>
<span class="mila" data-lnk="1073742899" data-exlnk="0" id="M_3_12_8">אֶ֣רֶץ</span>
<span class="mila" data-lnk="2147484723" data-exlnk="0" id="M_3_12_9">חֵ֔פֶץ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_12_10">אָמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_12_11">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_12_12">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="830">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="831"> פ </span>
</span>
<br /><span id="PS_3_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026533246" data-exlnk="0" id="M_3_13_1">חָזְק֥וּ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_3_13_2">עָלַ֛י</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_3_13_3">דִּבְרֵיכֶ֖ם</span>
<span class="mila" data-lnk="268435720" data-exlnk="0" id="M_3_13_4">אָמַ֣ר</span>
<span class="mila" data-lnk="536871176" data-exlnk="0" id="M_3_13_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_6">וַאֲמַרְתֶּ֕ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_13_7">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="839">־</span><span class="mila" data-lnk="3221226544" data-exlnk="0" id="M_3_13_8">נִּדְבַּ֖רְנוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_13_9">עָלֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="842">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="3221226542" data-exlnk="0" id="M_3_14_1">אֲמַרְתֶּ֕ם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_14_2">שָׁ֖וְא</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_14_3">עֲבֹ֣ד</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_14_4">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="1073742872" data-exlnk="0" id="M_3_14_5">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="848">־</span><span class="mila" data-lnk="2147484672" data-exlnk="0" id="M_3_14_6">בֶּ֗צַע</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_14_7">כִּ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_14_8">שָׁמַ֙רְנוּ֙</span>
<span class="mila" data-lnk="4026533128" data-exlnk="0" id="M_3_14_9">מִשְׁמַרְתּ֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_14_10">וְכִ֤י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_14_11">הָלַ֙כְנוּ֙</span>
<span class="mila" data-lnk="3221226523" data-exlnk="0" id="M_3_14_12">קְדֹ֣רַנִּ֔ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_13">מִפְּנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_14">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_14_15">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="859">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_15" data-pasuk-now="12"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_3_15_1">וְעַתָּ֕ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_3_15_2">אֲנַ֖חְנוּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_3_15_3">מְאַשְּׁרִ֣ים</span>
<span class="mila" data-lnk="4026533146" data-exlnk="0" id="M_3_15_4">זֵדִ֑ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_3_15_5">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="865">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_3_15_6">נִבְנוּ֙</span>
<span class="mila" data-lnk="805306632" data-exlnk="0" id="M_3_15_7">עֹשֵׂ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_15_8">רִשְׁעָ֔ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_15_9">גַּ֧ם</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_3_15_10">בָּחֲנ֛וּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_3_15_11">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="3221226507" data-exlnk="0" id="M_3_15_12">וַיִּמָּלֵֽטוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="873">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_16" data-pasuk-now="18"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_16_1">אָ֧ז</span>
<span class="mila" data-lnk="3221226559" data-exlnk="0" id="M_3_16_2">נִדְבְּר֛וּ</span>
<span class="mila" data-lnk="47" data-exlnk="0" id="M_3_16_3">יִרְאֵ֥י</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_3_16_4">יְהוָ֖ה</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_16_5">אִ֣ישׁ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_16_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="880">־</span><span class="mila" data-lnk="34" data-exlnk="0" id="M_3_16_7">רֵעֵ֑הוּ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_3_16_8">וַיַּקְשֵׁ֤ב</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_3_16_9">יְהוָה֙</span>
<span class="mila" data-lnk="4026533146" data-exlnk="0" id="M_3_16_10">וַיִּשְׁמָ֔ע</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_3_16_11">וַ֠יִּכָּתֵב</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_16_12">סֵ֣פֶר</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_3_16_13">זִכָּר֤וֹן</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_3_16_14">לְפָנָיו֙</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_16_15">לְיִרְאֵ֣י</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_16_16">יְהוָ֔ה</span>
<span class="mila" data-lnk="3221226532" data-exlnk="0" id="M_3_16_17">וּלְחֹשְׁבֵ֖י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_3_16_18">שְׁמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="893">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_17" data-pasuk-now="19"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_17_1">וְהָ֣יוּ</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_17_2">לִ֗י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_3_17_3">אָמַר֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_3_17_4">יְהוָ֣ה</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_3_17_5">צְבָא֔וֹת</span>
<span class="mila" data-lnk="4026533241" data-exlnk="0" id="M_3_17_6">לַיּ֕וֹם</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_3_17_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="121" data-exlnk="0" id="M_3_17_8">אֲנִ֖י</span>
<span class="mila" data-lnk="805306745" data-exlnk="0" id="M_3_17_9">עֹשֶׂ֣ה</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_3_17_10">סְגֻלָּ֑ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_17_11">וְחָמַלְתִּ֣י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_3_17_12">עֲלֵיהֶ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_17_13">כַּֽאֲשֶׁר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_17_14">יַחְמֹ֣ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_17_15">אִ֔ישׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_17_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="910">־</span><span class="mila" data-lnk="64" data-exlnk="0" id="M_3_17_17">בְּנ֖וֹ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_3_17_18">הָעֹבֵ֥ד</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_3_17_19">אֹתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="914">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_18" data-pasuk-now="11"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_3_18_1">וְשַׁבְתֶּם֙</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_3_18_2">וּרְאִיתֶ֔ם</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_3_18_3">בֵּ֥ין</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_3_18_4">צַדִּ֖יק</span>
<span class="mila" data-lnk="4026533233" data-exlnk="0" id="M_3_18_5">לְרָשָׁ֑ע</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_3_18_6">בֵּ֚ין</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_3_18_7">עֹבֵ֣ד</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_3_18_8">אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_3_18_9">לַאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_3_18_10">לֹ֥א</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_3_18_11">עֲבָדֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="927">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="928"> פ </span>
</span>
<br /><span id="PS_3_19" data-pasuk-now="26"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_3_19_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="930">־</span><span class="mila" data-lnk="115" data-exlnk="0" id="M_3_19_2">הִנֵּ֤ה</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_3_19_3">הַיּוֹם֙</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_3_19_4">בָּ֔א</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_3_19_5">בֹּעֵ֖ר</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_3_19_6">כַּתַּנּ֑וּר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_19_7">וְהָי֨וּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_3_19_8">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="938">־</span><span class="mila" data-lnk="4026533142" data-exlnk="0" id="M_3_19_9">זֵדִ֜ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_19_10">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="941">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_19_11">עֹשֵׂ֤ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_3_19_12">רִשְׁעָה֙</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_19_13">קַ֔שׁ</span>
<span class="mila" data-lnk="3221226532" data-exlnk="0" id="M_3_19_14">וְלִהַ֨ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_15">אֹתָ֜ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_19_16">הַיּ֣וֹם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_19_17">הַבָּ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_18">אָמַר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_19">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_20">צְבָא֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_19_21">אֲשֶׁ֛ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_3_19_22">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="954">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_3_19_23">יַעֲזֹ֥ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_19_24">לָהֶ֖ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_19_25">שֹׁ֥רֶשׁ</span>
<span class="mila" data-lnk="3221226530" data-exlnk="0" id="M_3_19_26">וְעָנָֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="959">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="3221226556" data-exlnk="0" id="M_3_20_1">וְזָרְחָ֨ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_20_2">לָכֶ֜ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_20_3">יִרְאֵ֤י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_20_4">שְׁמִי֙</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_3_20_5">שֶׁ֣מֶשׁ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_3_20_6">צְדָקָ֔ה</span>
<span class="mila" data-lnk="4026533662" data-exlnk="0" id="M_3_20_7">וּמַרְפֵּ֖א</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_3_20_8">בִּכְנָפֶ֑יהָ</span>
<span class="mila" data-lnk="4026533668" data-exlnk="0" id="M_3_20_9">וִיצָאתֶ֥ם</span>
<span class="mila" data-lnk="3221226557" data-exlnk="0" id="M_3_20_10">וּפִשְׁתֶּ֖ם</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_3_20_11">כְּעֶגְלֵ֥י</span>
<span class="mila" data-lnk="805306657" data-exlnk="0" id="M_3_20_12">מַרְבֵּֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="972">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_21" data-pasuk-now="15"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="3221226559" data-exlnk="0" id="M_3_21_1">וְעַסּוֹתֶ֣ם</span>
<span class="mila" data-lnk="46" data-exlnk="0" id="M_3_21_2">רְשָׁעִ֔ים</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_3_21_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="976">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_3_21_4">יִהְי֣וּ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_3_21_5">אֵ֔פֶר</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_21_6">תַּ֖חַת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_3_21_7">כַּפּ֣וֹת</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_3_21_8">רַגְלֵיכֶ֑ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_21_9">בַּיּוֹם֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_21_10">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_21_11">אֲנִ֣י</span>
<span class="mila" data-lnk="4026533152" data-exlnk="0" id="M_3_21_12">עֹשֶׂ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_13">אָמַ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_14">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_21_15">צְבָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="990">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="991"> פ </span>
</span>
<br /><span id="PS_3_22" data-pasuk-now="13"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="3221226614" data-exlnk="0" id="M_3_22_1">זִכְר֕וּ</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_3_22_2">תּוֹרַ֖ת</span>
<span class="mila" data-lnk="4026533750" data-exlnk="0" id="M_3_22_3">מֹשֶׁ֣ה</span>
<span class="mila" data-lnk="4026533750" data-exlnk="0" id="M_3_22_4">עַבְדִּ֑י</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_3_22_5">אֲשֶׁר֩</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_3_22_6">צִוִּ֨יתִי</span>
<span class="mila" data-lnk="805306720" data-exlnk="0" id="M_3_22_7">אוֹת֤וֹ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_3_22_8">בְחֹרֵב֙</span>
<span class="mila" data-lnk="3489662208" data-exlnk="0" id="M_3_22_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1001">־</span><span class="mila" data-lnk="1342178560" data-exlnk="0" id="M_3_22_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1003">־</span><span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_3_22_11">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_12">חֻקִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_22_13">וּמִשְׁפָּטִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1007">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_23" data-pasuk-now="13"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_3_23_1">הִנֵּ֤ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_3_23_2">אָנֹכִי֙</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_3_23_3">שֹׁלֵ֣חַ</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_3_23_4">לָכֶ֔ם</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_3_23_5">אֵ֖ת</span>
<span class="mila" data-lnk="4026533754" data-exlnk="0" id="M_3_23_6">אֵלִיָּ֣ה</span>
<span class="mila" data-lnk="122" data-exlnk="0" id="M_3_23_7">הַנָּבִ֑יא</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_23_8">לִפְנֵ֗י</span>
<span class="mila" data-lnk="4026533144" data-exlnk="0" id="M_3_23_9">בּ֚וֹא</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_3_23_10">י֣וֹם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_23_11">יְהוָ֔ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_3_23_12">הַגָּד֖וֹל</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_3_23_13">וְהַנּוֹרָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1021">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_24" data-pasuk-now="15"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_3_24_1">וְהֵשִׁ֤יב</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_3_24_2">לֵב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1024">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_3_24_3">אָבוֹת֙</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_24_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1027">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_3_24_5">בָּנִ֔ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_24_6">וְלֵ֥ב</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_24_7">בָּנִ֖ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_3_24_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1032">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_3_24_9">אֲבוֹתָ֑ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_3_24_10">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1035">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_3_24_11">אָב֕וֹא</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_3_24_12">וְהִכֵּיתִ֥י</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_3_24_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1039">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_3_24_14">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="4026533178" data-exlnk="0" id="M_3_24_15">חֵֽרֶם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1042">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>