<p id="PR_25" data-perek-now="159" data-perek-nops="22"><span class="perek-header">פרק כה</span>
<br /><span id="PS_25_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="3453">לְדָוִ֡ד</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_25_1_1">   ס </span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_25_1_2">אֵלֶ֥יךָ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_25_1_3">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_25_1_4">נַפְשִׁ֥י</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_25_1_5">אֶשָּֽׂא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3460">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_25_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_2_1">אֱֽלֹהַ֗י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_2_2">בְּךָ֣</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_2_3">בָ֭טַחְתִּי</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_25_2_4">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3465">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_25_2_5">אֵב֑וֹשָׁה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_25_2_6">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3468">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_25_2_7">יַעַלְצ֖וּ</span>
<span class="mila" data-lnk="4026532216" data-exlnk="0" id="M_25_2_8">אוֹיְבַ֣י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_25_2_9">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3472">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_3_1">גַּ֣ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_3_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3475">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_25_3_3">קֹ֭וֶיךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_25_3_4">לֹ֣א</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_3_5">יֵבֹ֑שׁוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_25_3_6">יֵ֝בֹ֗שׁוּ</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_25_3_7">הַבּוֹגְדִ֥ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_25_3_8">רֵיקָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3482">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_4" data-pasuk-now="5"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_4_1">דְּרָכֶ֣יךָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_4_2">יְ֭הוָה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_4_3">הוֹדִיעֵ֑נִי</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_25_4_4">אֹ֖רְחוֹתֶ֣יךָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_4_5">לַמְּדֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3488">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_5_1">הַדְרִ֮יכֵ֤נִי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_5_2">בַאֲמִתֶּ֨ךָ׀</span>
<span class="mila" data-lnk="4026532170" data-exlnk="0" id="M_25_5_3">וְֽלַמְּדֵ֗נִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_5_4">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3493">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_25_5_5">אַ֭תָּה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_5_6">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_5_7">יִשְׁעִ֑י</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_25_5_8">אוֹתְךָ֥</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_5_9">קִ֝וִּ֗יתִי</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_5_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3500">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_25_5_11">הַיּֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3502">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_6_1">זְכֹר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3504">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_25_6_2">רַחֲמֶ֣יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_25_6_3">יְ֭הוָה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_6_4">וַחֲסָדֶ֑יךָ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_6_5">כִּ֖י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_6_6">מֵעוֹלָ֣ם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_6_7">הֵֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3511">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_7_1">חַטֹּ֤אות</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_25_7_2">נְעוּרַ֨י׀</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_25_7_3">וּפְשָׁעַ֗י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_25_7_4">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3516">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_25_7_5">תִּ֫זְכֹּ֥ר</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_25_7_6">כְּחַסְדְּךָ֥</span>
<span class="mila" data-lnk="4026532337" data-exlnk="0" id="M_25_7_7">זְכָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3520">־</span><span class="mila" data-lnk="49" data-exlnk="0" id="M_25_7_8">לִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3522">־</span><span class="mila" data-lnk="805306481" data-exlnk="0" id="M_25_7_9">אַ֑תָּה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_25_7_10">לְמַ֖עַן</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_25_7_11">טוּבְךָ֣</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_7_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3527">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_8_1">טוֹב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3529">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_25_8_2">וְיָשָׁ֥ר</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_8_3">יְהוָ֑ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_25_8_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3533">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_25_8_5">כֵּ֤ן</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_8_6">יוֹרֶ֖ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_25_8_7">חַטָּאִ֣ים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_8_8">בַּדָּֽרֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3538">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_25_9_1">יַדְרֵ֣ךְ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_9_2">עֲ֭נָוִים</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_25_9_3">בַּמִּשְׁפָּ֑ט</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_25_9_4">וִילַמֵּ֖ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_9_5">עֲנָוִ֣ים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_9_6">דַּרְכּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3545">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_10_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3547">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_25_10_2">אָרְח֣וֹת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_10_3">יְ֭הוָה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_10_4">חֶ֣סֶד</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_10_5">וֶאֱמֶ֑ת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_10_6">לְנֹצְרֵ֥י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_10_7">בְ֝רִית֗וֹ</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_25_10_8">וְעֵדֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3555">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_11_1">לְמַֽעַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3557">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_25_11_2">שִׁמְךָ֥</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_11_3">יְהוָ֑ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_11_4">וְֽסָלַחְתָּ֥</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_11_5">לַ֝עֲוֺנִ֗י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_11_6">כִּ֣י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_11_7">רַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3564">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_25_11_8">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3566">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_25_12_1">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3568">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_25_12_2">זֶ֣ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_25_12_3">הָ֭אִישׁ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_25_12_4">יְרֵ֣א</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_25_12_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_25_12_6">י֝וֹרֶ֗נּוּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_25_12_7">בְּדֶ֣רֶךְ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_12_8">יִבְחָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3576">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_13" data-pasuk-now="6"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_13_1">נַ֭פְשׁוֹ</span>
<span class="mila" data-lnk="4026532315" data-exlnk="0" id="M_25_13_2">בְּט֣וֹב</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_13_3">תָּלִ֑ין</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_25_13_4">וְ֝זַרְע֗וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_13_5">יִ֣ירַשׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_13_6">אָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3583">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_14" data-pasuk-now="5"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_14_1">ס֣וֹד</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_25_14_2">יְ֭הוָה</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_14_3">לִירֵאָ֑יו</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_25_14_4">וּ֝בְרִית֗וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_25_14_5">לְהוֹדִיעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3589">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_15" data-pasuk-now="9"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_15_1">עֵינַ֣י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_15_2">תָּ֭מִיד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_25_15_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3593">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_25_15_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_15_5">כִּ֤י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_15_6">הֽוּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3597">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_25_15_7">יוֹצִ֖יא</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_15_8">מֵרֶ֣שֶׁת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_15_9">רַגְלָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3601">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_16_1">פְּנֵֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3603">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_25_16_2">אֵלַ֥י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_25_16_3">וְחָנֵּ֑נִי</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_25_16_4">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3607">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_25_16_5">יָחִ֖יד</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_25_16_6">וְעָנִ֣י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_25_16_7">אָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3611">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_17" data-pasuk-now="5"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_17_1">צָר֣וֹת</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_17_2">לְבָבִ֣י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_25_17_3">הִרְחִ֑יבוּ</span>
<span class="mila" data-lnk="3221225738" data-exlnk="0" id="M_25_17_4">מִ֝מְּצוּקוֹתַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_25_17_5">הוֹצִיאֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3617">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_18_1">רְאֵ֣ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_18_2">עָ֭נְיִי</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_25_18_3">וַעֲמָלִ֑י</span>
<span class="mila" data-lnk="4026532315" data-exlnk="0" id="M_25_18_4">וְ֝שָׂ֗א</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_25_18_5">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3623">־</span><span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_25_18_6">חַטֹּאותָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3625">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_19" data-pasuk-now="7"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_25_19_1">רְאֵֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3627">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_25_19_2">אֹיְבַ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_19_3">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3630">־</span><span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_25_19_4">רָ֑בּוּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_25_19_5">וְשִׂנְאַ֖ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_25_19_6">חָמָ֣ס</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_19_7">שְׂנֵאֽוּנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3635">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_20" data-pasuk-now="8"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_25_20_1">שָׁמְרָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_25_20_2">נַ֭פְשִׁי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_25_20_3">וְהַצִּילֵ֑נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_25_20_4">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3640">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_25_20_5">אֵ֝ב֗וֹשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_25_20_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3643">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_25_20_7">חָסִ֥יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_25_20_8">בָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3646">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_21" data-pasuk-now="5"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026532328" data-exlnk="0" id="M_25_21_1">תֹּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3648">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_25_21_2">וָיֹ֥שֶׁר</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_25_21_3">יִצְּר֑וּנִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_21_4">כִּ֝֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_25_21_5">קִוִּיתִֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3653">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_25_22" data-pasuk-now="6"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_25_22_1">פְּדֵ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_22_2">אֱ֭לֹהִים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_22_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3657">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_25_22_4">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_22_5">מִ֝כֹּ֗ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_25_22_6">צָרוֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3662">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3663"> פ </span>
</span>
<br /></p>