<p id="PR_6" data-perek-now="84" data-perek-nops="11"><span class="perek-header">פרק ו</span>
<br /><span id="PS_6_1" data-pasuk-now="6"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_6_1_1">לַמְנַצֵּ֣חַ</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_6_1_2">בִּ֭נְגִינוֹת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_6_1_3">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="543">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="544">הַשְּׁמִינִ֗ית</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_6_1_4">   ס </span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_5">מִזְמ֥וֹר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_1_6">לְדָוִֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="549">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_6_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_2_1">יְֽהוָ֗ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_6_2_2">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="552">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_6_2_3">בְּאַפְּךָ֥</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_6_2_4">תוֹכִיחֵ֑נִי</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_6_2_5">וְֽאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="556">־</span><span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_6_2_6">בַּחֲמָתְךָ֥</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_2_7">תְיַסְּרֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="559">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_3" data-pasuk-now="10"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_3_1">חָנֵּ֥נִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_3_2">יְהוָה֮</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_3_3">כִּ֤י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_6_3_4">אֻמְלָ֫ל</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_6_3_5">אָ֥נִי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_3_6">רְפָאֵ֥נִי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_3_7">יְהוָ֑ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_3_8">כִּ֖י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_3_9">נִבְהֲל֣וּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_3_10">עֲצָמָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="570">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026532314" data-exlnk="0" id="M_6_4_1">וְ֭נַפְשִׁי</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_4_2">נִבְהֲלָ֣ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_4_3">מְאֹ֑ד</span>
<span data-lnk="0" data-exlnk="0" id="M_6_4_4" class="mila ktiv">וְאַתָּ֥</span>
<span data-lnk="3221225753" data-exlnk="0" id="M_6_4_4_K" class="mila kri">וְאַתָּ֥ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_4_5">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_4_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="578">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_6_4_7">מָתָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="580">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_5" data-pasuk-now="7"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_6_5_1">שׁוּבָ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_5_2">יְ֭הוָה</span>
<span class="mila" data-lnk="3221225753" data-exlnk="0" id="M_6_5_3">חַלְּצָ֣ה</span>
<span class="mila" data-lnk="3221225753" data-exlnk="0" id="M_6_5_4">נַפְשִׁ֑י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_5_5">ה֝וֹשִׁיעֵ֗נִי</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_5_6">לְמַ֣עַן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_5_7">חַסְדֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="588">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_6_1">כִּ֤י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_6_2">אֵ֣ין</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_6_6_3">בַּמָּ֣וֶת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_6_4">זִכְרֶ֑ךָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_6_5">בִּ֝שְׁא֗וֹל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_6_6">מִ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_6_7">יֽוֹדֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="596">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_6_6_8">לָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="598">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_6_7_1">יָגַ֤עְתִּי׀</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_6_7_2">בְּֽאַנְחָתִ֗י</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_6_7_3">אַשְׂחֶ֣ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_6_7_4">בְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="603">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_6_7_5">לַ֭יְלָה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_6_7_6">מִטָּתִ֑י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_7_7">בְּ֝דִמְעָתִ֗י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_7_8">עַרְשִׂ֥י</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_6_7_9">אַמְסֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="609">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_8" data-pasuk-now="6"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_6_8_1">עָשֲׁשָׁ֣ה</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_6_8_2">מִכַּ֣עַס</span>
<span class="mila" data-lnk="805306474" data-exlnk="0" id="M_6_8_3">עֵינִ֑י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_6_8_4">עָ֝תְקָ֗ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_6_8_5">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="615">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_6_8_6">צוֹרֲרָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="617">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_6_9_1">ס֣וּרוּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_6_9_2">מִ֭מֶּנִּי</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_6_9_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="621">־</span><span class="mila" data-lnk="50" data-exlnk="0" id="M_6_9_4">פֹּ֣עֲלֵי</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_6_9_5">אָ֑וֶן</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_6_9_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="625">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_6_9_7">שָׁמַ֥ע</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_6_9_8">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_6_9_9">ק֣וֹל</span>
<span class="mila" data-lnk="3221225760" data-exlnk="0" id="M_6_9_10">בִּכְיִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="630">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_10" data-pasuk-now="6"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_6_10_1">שָׁמַ֣ע</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_10_2">יְ֭הוָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_3">תְּחִנָּתִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_6_10_4">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="1073742088" data-exlnk="0" id="M_6_10_5">תְּֽפִלָּתִ֥י</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_6_10_6">יִקָּֽח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="637">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_6_11_1">יֵבֹ֤שׁוּ׀</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_6_11_2">וְיִבָּהֲל֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_11_3">מְ֭אֹד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_6_11_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="642">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_6_11_5">אֹיְבָ֑י</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_6_11_6">יָ֝שֻׁ֗בוּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_6_11_7">יֵבֹ֥שׁוּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_6_11_8">רָֽגַע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="648">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="649"> פ </span>
</span>
<br /></p>