<p id="PR_89" data-perek-now="384" data-perek-nops="53"><span class="perek-header">פרק פט</span>
<br /><span id="PS_89_1" data-pasuk-now="3"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_1_1">מַ֝שְׂכִּ֗יל</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_1_2">לְאֵיתָ֥ן</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_1_3">הָאֶזְרָחִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14979">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="14980"> פ </span>
</span>
<br /><span id="PS_89_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_2_1">חַֽסְדֵ֣י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_2_2">יְ֭הוָה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_2_3">עוֹלָ֣ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_2_4">אָשִׁ֑ירָה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_2_5">לְדֹ֥ר</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_2_6">וָדֹ֓ר׀</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_89_2_7">אוֹדִ֖יעַ</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_89_2_8">אֱמוּנָתְךָ֣</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_89_2_9">בְּפִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14990">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_3_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14992">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_89_3_2">אָמַ֗רְתִּי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_3_3">ע֭וֹלָם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_3_4">חֶ֣סֶד</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_3_5">יִבָּנֶ֑ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_3_6">שָׁמַ֓יִם׀</span>
<span class="mila" data-lnk="3221225769" data-exlnk="0" id="M_89_3_7">תָּכִ֖ן</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_3_8">אֱמוּנָתְךָ֣</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_89_3_9">בָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15001">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_4" data-pasuk-now="6"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_4_1">כָּרַ֣תִּי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_4_2">בְ֭רִית</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_4_3">לִבְחִירִ֑י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_4_4">נִ֝שְׁבַּ֗עְתִּי</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_89_4_5">לְדָוִ֥ד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_4_6">עַבְדִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15008">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_89_5_1">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15010">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_89_5_2">ע֭וֹלָם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_5_3">אָכִ֣ין</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_5_4">זַרְעֶ֑ךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_5_5">וּבָנִ֨יתִי</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_89_5_6">לְדֹר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15016">־</span><span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_89_5_7">וָד֖וֹר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_5_8">כִּסְאֲךָ֣</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_5_9">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15020">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_89_6_1">וְ֮יוֹד֤וּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_6_2">שָׁמַ֣יִם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_6_3">פִּלְאֲךָ֣</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_89_6_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_6_5">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15026">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_89_6_6">אֱ֝מ֥וּנָתְךָ֗</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_6_7">בִּקְהַ֥ל</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_6_8">קְדֹשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15030">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_7_1">כִּ֤י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_7_2">מִ֣י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_7_3">בַ֭שַּׁחַק</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_89_7_4">יַעֲרֹ֣ךְ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_89_7_5">לַיהוָ֑ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_7_6">יִדְמֶ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_7_7">לַ֝יהוָ֗ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_7_8">בִּבְנֵ֥י</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_89_7_9">אֵלִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15040">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_8" data-pasuk-now="9"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_8_1">אֵ֣ל</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_89_8_2">נַ֭עֲרָץ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_8_3">בְּסוֹד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15044">־</span><span class="mila" data-lnk="51" data-exlnk="0" id="M_89_8_4">קְדֹשִׁ֣ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_8_5">רַבָּ֑ה</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_89_8_6">וְ֝נוֹרָ֗א</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_8_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15049">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_89_8_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15051">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_89_8_9">סְבִיבָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15053">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_9" data-pasuk-now="9"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_89_9_1">יְהוָ֤ה׀</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_89_9_2">אֱלֹ֮הֵ֤י</span>
<span class="mila" data-lnk="536870984" data-exlnk="0" id="M_89_9_3">צְבָא֗וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_9_4">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15058">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_89_9_5">כָמ֖וֹךָֽ</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_89_9_6">חֲסִ֥ין</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="15061">׀</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_9_7">יָ֑הּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_9_8">וֶ֝אֱמ֥וּנָתְךָ֗</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_89_9_9">סְבִיבוֹתֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15065">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_89_10_1">אַתָּ֣ה</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_89_10_2">מ֭וֹשֵׁל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_10_3">בְּגֵא֣וּת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_10_4">הַיָּ֑ם</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_89_10_5">בְּשׂ֥וֹא</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_10_6">גַ֝לָּ֗יו</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_10_7">אַתָּ֥ה</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_89_10_8">תְשַׁבְּחֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15074">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_89_11_1">אַתָּ֤ה</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_89_11_2">דִכִּ֣אתָ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_89_11_3">כֶחָלָ֣ל</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_89_11_4">רָ֑הַב</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_11_5">בִּזְר֥וֹעַ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_11_6">עֻ֝זְּךָ֗</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_11_7">פִּזַּ֥רְתָּ</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_89_11_8">אוֹיְבֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15083">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_12" data-pasuk-now="9"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_12_1">לְךָ֣</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_12_2">שָׁ֭מַיִם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_12_3">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15087">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_89_12_4">לְךָ֥</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_12_5">אָ֑רֶץ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_12_6">תֵּבֵ֥ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_12_7">וּ֝מְלֹאָ֗הּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_12_8">אַתָּ֥ה</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_89_12_9">יְסַדְתָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15094">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_13_1">צָפ֣וֹן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_13_2">וְ֭יָמִין</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_13_3">אַתָּ֣ה</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_89_13_4">בְרָאתָ֑ם</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_13_5">תָּב֥וֹר</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_13_6">וְ֝חֶרְמ֗וֹן</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_13_7">בְּשִׁמְךָ֥</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_13_8">יְרַנֵּֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15103">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_14" data-pasuk-now="8"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_14_1">לְךָ֣</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_14_2">זְ֭רוֹעַ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_14_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15107">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_89_14_4">גְּבוּרָ֑ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_14_5">תָּעֹ֥ז</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_14_6">יָ֝דְךָ֗</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_14_7">תָּר֥וּם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_14_8">יְמִינֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15113">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_15" data-pasuk-now="8"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_15_1">צֶ֣דֶק</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_15_2">וּ֭מִשְׁפָּט</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_15_3">מְכ֣וֹן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_15_4">כִּסְאֶ֑ךָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_15_5">חֶ֥סֶד</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_15_6">וֶ֝אֱמֶ֗ת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_15_7">יְֽקַדְּמ֥וּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_15_8">פָנֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15122">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_16" data-pasuk-now="8"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_16_1">אַשְׁרֵ֣י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_16_2">הָ֭עָם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_16_3">יֹדְעֵ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_16_4">תְרוּעָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_16_5">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_16_6">בְּֽאוֹר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15129">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_89_16_7">פָּנֶ֥יךָ</span>
<span class="mila" data-lnk="4026532178" data-exlnk="0" id="M_89_16_8">יְהַלֵּכֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15132">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_17" data-pasuk-now="6"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_17_1">בְּ֭שִׁמְךָ</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_89_17_2">יְגִיל֣וּן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_17_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15136">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_89_17_4">הַיּ֑וֹם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_17_5">וּבְצִדְקָתְךָ֥</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_17_6">יָרֽוּמוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15140">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_18" data-pasuk-now="7"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_18_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15142">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_89_18_2">תִפְאֶ֣רֶת</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_89_18_3">עֻזָּ֣מוֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_18_4">אָ֑תָּה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_89_18_5">וּ֝בִרְצוֹנְךָ֗</span>
<span data-lnk="0" data-exlnk="0" id="M_89_18_6" class="mila ktiv">תָּר֥יּם</span>
<span data-lnk="3221225752" data-exlnk="0" id="M_89_18_6_K" class="mila kri">תָּר֥וּם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_18_7">קַרְנֵֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15150">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_19" data-pasuk-now="6"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_19_1">כִּ֣י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_19_2">לַ֭יהוָה</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_19_3">מָגִנֵּ֑נוּ</span>
<span class="mila" data-lnk="4026532336" data-exlnk="0" id="M_89_19_4">וְלִקְד֖וֹשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_89_19_5">יִשְׂרָאֵ֣ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_19_6">מַלְכֵּֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15157">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_20_1">אָ֤ז</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_20_2">דִּבַּ֥רְתָּֽ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15160">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_89_20_3">בְחָז֡וֹן</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_20_4">לַחֲסִידֶ֗יךָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_20_5">וַתֹּ֗אמֶר</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_89_20_6">שִׁוִּ֣יתִי</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_89_20_7">עֵ֭זֶר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_20_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15167">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_89_20_9">גִּבּ֑וֹר</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_89_20_10">הֲרִימ֖וֹתִי</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_20_11">בָח֣וּר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_20_12">מֵעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15172">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_21_1">מָ֭צָאתִי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_21_2">דָּוִ֣ד</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_21_3">עַבְדִּ֑י</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_89_21_4">בְּשֶׁ֖מֶן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_21_5">קָדְשִׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_21_6">מְשַׁחְתִּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15179">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_22_1">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_22_2">יָ֭דִי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_22_3">תִּכּ֣וֹן</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_22_4">עִמּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_22_5">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15185">־</span><span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_89_22_6">זְרוֹעִ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_22_7">תְאַמְּצֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15188">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_23_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15190">־</span><span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_89_23_2">יַשִּׁ֣יא</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_89_23_3">אוֹיֵ֣ב</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_89_23_4">בּ֑וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_23_5">וּבֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15195">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_89_23_6">עַ֝וְלָ֗ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_89_23_7">לֹ֣א</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_23_8">יְעַנֶּֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15199">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_24" data-pasuk-now="5"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_89_24_1">וְכַתּוֹתִ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_24_2">מִפָּנָ֣יו</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_24_3">צָרָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_24_4">וּמְשַׂנְאָ֥יו</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_89_24_5">אֶגּֽוֹף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15205">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_25" data-pasuk-now="6"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_25_1">וֶ֥אֱֽמוּנָתִ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_25_2">וְחַסְדִּ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_25_3">עִמּ֑וֹ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_25_4">וּ֝בִשְׁמִ֗י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_89_25_5">תָּר֥וּם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_89_25_6">קַרְנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15212">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_26" data-pasuk-now="5"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_26_1">וְשַׂמְתִּ֣י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_26_2">בַיָּ֣ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_26_3">יָד֑וֹ</span>
<span class="mila" data-lnk="4026532346" data-exlnk="0" id="M_89_26_4">וּֽבַנְּהָר֥וֹת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_26_5">יְמִינֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15218">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_27" data-pasuk-now="7"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_27_1">ה֣וּא</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_27_2">יִ֭קְרָאֵנִי</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_89_27_3">אָ֣בִי</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_89_27_4">אָ֑תָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_27_5">אֵ֝לִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_27_6">וְצ֣וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_27_7">יְשׁוּעָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15226">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_28" data-pasuk-now="7"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_28_1">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15228">־</span><span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_89_28_2">אָ֭נִי</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_28_3">בְּכ֣וֹר</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_89_28_4">אֶתְּנֵ֑הוּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_28_5">עֶ֝לְי֗וֹן</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_89_28_6">לְמַלְכֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15234">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_89_28_7">אָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15236">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_29" data-pasuk-now="7"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_29_1">לְ֭עוֹלָם</span>
<span class="mila" data-lnk="3221225746" data-exlnk="0" id="M_89_29_2">אֶשְׁמָור</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15239">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_89_29_3">ל֣וֹ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_89_29_4">חַסְדִּ֑י</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_89_29_5">וּ֝בְרִיתִ֗י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_29_6">נֶאֱמֶ֥נֶת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_29_7">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15245">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_30" data-pasuk-now="6"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_30_1">וְשַׂמְתִּ֣י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_30_2">לָעַ֣ד</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_30_3">זַרְע֑וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_30_4">וְ֝כִסְא֗וֹ</span>
<span class="mila" data-lnk="1073742106" data-exlnk="0" id="M_89_30_5">כִּימֵ֥י</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_89_30_6">שָׁמָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15252">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_31" data-pasuk-now="7"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_31_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15254">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_89_31_2">יַעַזְב֣וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_31_3">בָ֭נָיו</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_89_31_4">תּוֹרָתִ֑י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_89_31_5">וּ֝בְמִשְׁפָּטַ֗י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_89_31_6">לֹ֣א</span>
<span class="mila" data-lnk="4026532320" data-exlnk="0" id="M_89_31_7">יֵלֵכֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15261">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_32" data-pasuk-now="6"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_89_32_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15263">־</span><span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_89_32_2">חֻקֹּתַ֥י</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_89_32_3">יְחַלֵּ֑לוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_89_32_4">וּ֝מִצְוֺתַ֗י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_89_32_5">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_32_6">יִשְׁמֹֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15269">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_33" data-pasuk-now="5"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_89_33_1">וּפָקַדְתִּ֣י</span>
<span class="mila" data-lnk="4026532203" data-exlnk="0" id="M_89_33_2">בְשֵׁ֣בֶט</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_89_33_3">פִּשְׁעָ֑ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_33_4">וּבִנְגָעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_33_5">עֲוֺנָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15275">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_34" data-pasuk-now="7"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_34_1">וְ֭חַסְדִּי</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_34_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15278">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_89_34_3">אָפִ֣יר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_34_4">מֵעִמּ֑וֹ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_89_34_5">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15282">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_89_34_6">אֲ֝שַׁקֵּ֗ר</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_89_34_7">בֶּאֱמוּנָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15285">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_35" data-pasuk-now="7"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_89_35_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15287">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_89_35_2">אֲחַלֵּ֥ל</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_89_35_3">בְּרִיתִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_35_4">וּמוֹצָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_35_5">שְׂ֝פָתַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_35_6">לֹ֣א</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_89_35_7">אֲשַׁנֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15294">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_36" data-pasuk-now="6"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_36_1">אַ֭חַת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_36_2">נִשְׁבַּ֣עְתִּי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_36_3">בְקָדְשִׁ֑י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_89_36_4">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15299">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_89_36_5">לְדָוִ֥ד</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_89_36_6">אֲכַזֵּֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15302">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_37" data-pasuk-now="6"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_37_1">זַ֭רְעוֹ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_37_2">לְעוֹלָ֣ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_37_3">יִהְיֶ֑ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_37_4">וְכִסְא֖וֹ</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_89_37_5">כַשֶּׁ֣מֶשׁ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_37_6">נֶגְדִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15309">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_38" data-pasuk-now="7"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_38_1">כְּ֭יָרֵחַ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_38_2">יִכּ֣וֹן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_38_3">עוֹלָ֑ם</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_89_38_4">וְעֵ֥ד</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_89_38_5">בַּ֝שַּׁ֗חַק</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_89_38_6">נֶאֱמָ֥ן</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_89_38_7">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15317">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_39" data-pasuk-now="6"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_39_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_39_2">זָ֭נַחְתָּ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_89_39_3">וַתִּמְאָ֑ס</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_89_39_4">הִ֝תְעַבַּ֗רְתָּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_39_5">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15323">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_89_39_6">מְשִׁיחֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15325">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_40" data-pasuk-now="6"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_89_40_1">נֵ֭אַרְתָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_40_2">בְּרִ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_40_3">עַבְדֶּ֑ךָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_40_4">חִלַּ֖לְתָּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_40_5">לָאָ֣רֶץ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_40_6">נִזְרֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15332">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_41" data-pasuk-now="6"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_41_1">פָּרַ֥צְתָּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_89_41_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15335">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_89_41_3">גְּדֵרֹתָ֑יו</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_41_4">שַׂ֖מְתָּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_89_41_5">מִבְצָרָ֣יו</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_41_6">מְחִתָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15340">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_42" data-pasuk-now="7"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_42_1">שַׁ֭סֻּהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_42_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15343">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_89_42_3">עֹ֣בְרֵי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_42_4">דָ֑רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_42_5">הָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_42_6">חֶ֝רְפָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_42_7">לִשְׁכֵנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15349">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_43" data-pasuk-now="6"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="4026532314" data-exlnk="0" id="M_89_43_1">הֲ֭רִימוֹתָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_43_2">יְמִ֣ין</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_43_3">צָרָ֑יו</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_89_43_4">הִ֝שְׂמַ֗חְתָּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_89_43_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15355">־</span><span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_89_43_6">אוֹיְבָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15357">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_44" data-pasuk-now="7"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_89_44_1">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15359">־</span><span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_89_44_2">תָּ֭שִׁיב</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_44_3">צ֣וּר</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_44_4">חַרְבּ֑וֹ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_89_44_5">וְלֹ֥א</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_89_44_6">הֲ֝קֵימֹת֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_44_7">בַּמִּלְחָמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15366">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_45" data-pasuk-now="5"><span class="pasuk-header">[מה]</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_89_45_1">הִשְׁבַּ֥תָּ</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_89_45_2">מִטְּהָר֑וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_45_3">וְ֝כִסְא֗וֹ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_89_45_4">לָאָ֥רֶץ</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_89_45_5">מִגַּֽרְתָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15372">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_46" data-pasuk-now="7"><span class="pasuk-header">[מו]</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_89_46_1">הִ֭קְצַרְתָּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_46_2">יְמֵ֣י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_46_3">עֲלוּמָ֑יו</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_89_46_4">הֶ֥עֱטִ֨יתָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_46_5">עָלָ֖יו</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_46_6">בּוּשָׁ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_46_7">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15380">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_47" data-pasuk-now="9"><span class="pasuk-header">[מז]</span>
<span class="mila" data-lnk="1342177626" data-exlnk="0" id="M_89_47_1">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15382">־</span><span class="mila" data-lnk="2952790362" data-exlnk="0" id="M_89_47_2">מָ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_47_3">יְ֭הוָה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_47_4">תִּסָּתֵ֣ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_89_47_5">לָנֶ֑צַח</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_89_47_6">תִּבְעַ֖ר</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_89_47_7">כְּמוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15389">־</span><span class="mila" data-lnk="50" data-exlnk="0" id="M_89_47_8">אֵ֣שׁ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_89_47_9">חֲמָתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15392">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_48" data-pasuk-now="11"><span class="pasuk-header">[מח]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_48_1">זְכָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15394">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_89_48_2">אֲנִ֥י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_48_3">מֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15397">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_89_48_4">חָ֑לֶד</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_48_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15400">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_89_48_6">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15402">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_89_48_7">שָּׁ֝וְא</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_48_8">בָּרָ֥אתָ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_48_9">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15406">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_89_48_10">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15408">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_89_48_11">אָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15410">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_49" data-pasuk-now="11"><span class="pasuk-header">[מט]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_89_49_1">מִ֤י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_49_2">גֶ֣בֶר</span>
<span class="mila" data-lnk="805306488" data-exlnk="0" id="M_89_49_3">יִֽ֭חְיֶה</span>
<span class="mila" data-lnk="1879048568" data-exlnk="0" id="M_89_49_4">וְלֹ֣א</span>
<span class="mila" data-lnk="2952790360" data-exlnk="0" id="M_89_49_5">יִרְאֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15416">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_89_49_6">מָּ֑וֶת</span>
<span class="mila" data-lnk="805306448" data-exlnk="0" id="M_89_49_7">יְמַלֵּ֨ט</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_49_8">נַפְשׁ֖וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_49_9">מִיַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15421">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_89_49_10">שְׁא֣וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_89_49_11">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15424">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_50" data-pasuk-now="7"><span class="pasuk-header">[נ]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_50_1">אַיֵּ֤ה׀</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_50_2">חֲסָדֶ֖יךָ</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_89_50_3">הָרִאשֹׁנִ֥ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="15428">׀</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_89_50_4">אֲדנָ֑י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_50_5">נִשְׁבַּ֥עְתָּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_50_6">לְ֝דָוִ֗ד</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_89_50_7">בֶּאֱמוּנָתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15433">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_51" data-pasuk-now="9"><span class="pasuk-header">[נא]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_89_51_1">זְכֹ֣ר</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_89_51_2">אֲ֭דנָי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_51_3">חֶרְפַּ֣ת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_51_4">עֲבָדֶ֑יךָ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_51_5">שְׂאֵתִ֥י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_51_6">בְ֝חֵיקִ֗י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_51_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="15441">־</span><span class="mila" data-lnk="1073742137" data-exlnk="0" id="M_89_51_8">רַבִּ֥ים</span>
<span class="mila" data-lnk="2147483961" data-exlnk="0" id="M_89_51_9">עַמִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15444">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_52" data-pasuk-now="8"><span class="pasuk-header">[נב]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_89_52_1">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_52_2">חֵרְפ֖וּ</span>
<span class="mila" data-lnk="805306464" data-exlnk="0" id="M_89_52_3">אוֹיְבֶ֥יךָ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="15448">׀</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_89_52_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_89_52_5">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_89_52_6">חֵ֝רְפ֗וּ</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_89_52_7">עִקְּב֥וֹת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_52_8">מְשִׁיחֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15454">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_89_53" data-pasuk-now="5"><span class="pasuk-header">[נג]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_89_53_1">בָּר֖וּךְ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_53_2">יְהוָ֥ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_89_53_3">לְעוֹלָ֗ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_53_4">אָ֮מֵ֥ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="15459">׀</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_89_53_5">וְאָמֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="15462">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="15463"> פ </span>
</span>
<br /></p>