<p id="PR_1" data-perek-now="67" data-perek-nops="6"><span class="perek-header">פרק א</span>
<br /><span id="PS_1_1" data-pasuk-now="15"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1879048575" data-exlnk="0" id="M_1_1_1">אַ֥שְֽׁרֵי</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_1_1_2">הָאִ֗ישׁ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_1_1_3">אֲשֶׁ֤ר׀</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_1_4">לֹ֥א</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_1_5">הָלַךְ֮</span>
<span class="mila" data-lnk="4026532173" data-exlnk="0" id="M_1_1_6">בַּעֲצַ֪ת</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_1_7">רְשָׁ֫עִ֥ים</span>
<span class="mila" data-lnk="4026532318" data-exlnk="0" id="M_1_1_8">וּבְדֶ֣רֶךְ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_1_9">חַ֭טָּאִים</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_1_10">לֹ֥א</span>
<span class="mila" data-lnk="4026532191" data-exlnk="0" id="M_1_1_11">עָמָ֑ד</span>
<span class="mila" data-lnk="4026532188" data-exlnk="0" id="M_1_1_12">וּבְמוֹשַׁ֥ב</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_1_13">לֵ֝צִ֗ים</span>
<span class="mila" data-lnk="3221225629" data-exlnk="0" id="M_1_1_14">לֹ֣א</span>
<span class="mila" data-lnk="4026532319" data-exlnk="0" id="M_1_1_15">יָשָֽׁב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_2_1">כִּ֤י</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_1_2_2">אִ֥ם</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_2_3">בְּתוֹרַ֥ת</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_1_2_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_1_2_5">חֶ֫פְצ֥וֹ</span>
<span class="mila" data-lnk="4026532319" data-exlnk="0" id="M_1_2_6">וּֽבְתוֹרָת֥וֹ</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_2_7">יֶהְגֶּ֗ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_1_2_8">יוֹמָ֥ם</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_2_9">וָלָֽיְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="26">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_3" data-pasuk-now="17"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_3_1">וְֽהָיָ֗ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_1_3_2">כְּעֵץ֮</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_1_3_3">שָׁת֪וּל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_1_3_4">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="31">־</span><span class="mila" data-lnk="63" data-exlnk="0" id="M_1_3_5">פַּלְגֵ֫י</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_1_3_6">מָ֥יִם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_3_7">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_3_8">פִּרְי֨וֹ׀</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_3_9">יִתֵּ֬ן</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_3_10">בְּעִתּ֗וֹ</span>
<span class="mila" data-lnk="4026532191" data-exlnk="0" id="M_1_3_11">וְעָלֵ֥הוּ</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_3_12">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="40">־</span><span class="mila" data-lnk="31" data-exlnk="0" id="M_1_3_13">יִבּ֑וֹל</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_3_14">וְכֹ֖ל</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_3_15">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="44">־</span><span class="mila" data-lnk="30" data-exlnk="0" id="M_1_3_16">יַעֲשֶׂ֣ה</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_3_17">יַצְלִֽיחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="47">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="268435582" data-exlnk="0" id="M_1_4_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="49">־</span><span class="mila" data-lnk="805306490" data-exlnk="0" id="M_1_4_2">כֵ֥ן</span>
<span class="mila" data-lnk="62" data-exlnk="0" id="M_1_4_3">הָרְשָׁעִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_4">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_5">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="54">־</span><span class="mila" data-lnk="4026532345" data-exlnk="0" id="M_1_4_6">כַּ֝מֹּ֗ץ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_4_7">אֲֽשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="57">־</span><span class="mila" data-lnk="3221225756" data-exlnk="0" id="M_1_4_8">תִּדְּפֶ֥נּוּ</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_4_9">רֽוּחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="60">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_5_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="62">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_1_5_2">כֵּ֤ן׀</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_1_5_3">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="65">־</span><span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_1_5_4">יָקֻ֣מוּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_1_5_5">רְ֭שָׁעִים</span>
<span class="mila" data-lnk="4026532190" data-exlnk="0" id="M_1_5_6">בַּמִּשְׁפָּ֑ט</span>
<span class="mila" data-lnk="4026532189" data-exlnk="0" id="M_1_5_7">וְ֝חַטָּאִ֗ים</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_5_8">בַּעֲדַ֥ת</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_5_9">צַדִּיקִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="72">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="63" data-exlnk="0" id="M_1_6_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="74">־</span><span class="mila" data-lnk="4026532223" data-exlnk="0" id="M_1_6_2">יוֹדֵ֣עַ</span>
<span class="mila" data-lnk="61" data-exlnk="0" id="M_1_6_3">יְ֭הוָה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_1_6_4">דֶּ֣רֶךְ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_1_6_5">צַדִּיקִ֑ים</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_1_6_6">וְדֶ֖רֶךְ</span>
<span class="mila" data-lnk="31" data-exlnk="0" id="M_1_6_7">רְשָׁעִ֣ים</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_6_8">תֹּאבֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="83">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="84"> פ </span>
</span>
<br /></p>