<p id="PR_87" data-perek-now="54" data-perek-nops="7"><span class="perek-header">פרק פז</span>
<br /><span id="PS_87_1" data-pasuk-now="7"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_87_1_1">לִבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14727">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_87_1_2">קֹ֭רַח</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_87_1_3">מִזְמ֣וֹר</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="14730">שִׁ֑יר</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_87_1_4">   ס </span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_87_1_5">יְ֝סוּדָת֗וֹ</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_87_1_6">בְּהַרְרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14735">־</span><span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_87_1_7">קֹֽדֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14737">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_87_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_87_2_1">אֹהֵ֣ב</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_87_2_2">יְ֭הוָה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_87_2_3">שַׁעֲרֵ֣י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_87_2_4">צִיּ֑וֹן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_87_2_5">מִ֝כֹּ֗ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_87_2_6">מִשְׁכְּנ֥וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_87_2_7">יַעֲקֹֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14745">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_87_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_87_3_1">נִ֭כְבָּדוֹת</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_87_3_2">מְדֻבָּ֣ר</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_3_3">בָּ֑ךְ</span>
<span class="mila" data-lnk="1073742139" data-exlnk="0" id="M_87_3_4">עִ֖יר</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_87_3_5">הָאֱלֹהִ֣ים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_87_3_6">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14752">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_87_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_4_1">אַזְכִּ֤יר׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_4_2">רַ֥הַב</span>
<span class="mila" data-lnk="4026532211" data-exlnk="0" id="M_87_4_3">וּבָבֶ֗ל</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_87_4_4">לְֽיֹ֫דְעָ֥י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_87_4_5">הִנֵּ֤ה</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_87_4_6">פְלֶ֣שֶׁת</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_87_4_7">וְצֹ֣ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_87_4_8">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14761">־</span><span class="mila" data-lnk="33" data-exlnk="0" id="M_87_4_9">כּ֑וּשׁ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_4_10">זֶ֝ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_4_11">יֻלַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14765">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_87_4_12">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14767">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_87_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_87_5_1">וּ֥לֲצִיּ֨וֹן׀</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_87_5_2">יֵאָמַ֗ר</span>
<span class="mila" data-lnk="4026532347" data-exlnk="0" id="M_87_5_3">אִ֣ישׁ</span>
<span class="mila" data-lnk="4026532347" data-exlnk="0" id="M_87_5_4">וְ֭אִישׁ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_87_5_5">יֻלַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14773">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_87_5_6">בָּ֑הּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_5_7">וְה֖וּא</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_87_5_8">יְכוֹנְנֶ֣הָ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_5_9">עֶלְיֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14778">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_87_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_6_1">יְֽהוָ֗ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_87_6_2">יִ֭סְפֹּר</span>
<span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_87_6_3">בִּכְת֣וֹב</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_87_6_4">עַמִּ֑ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_6_5">זֶ֖ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_87_6_6">יֻלַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14785">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_87_6_7">שָׁ֣ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_87_6_8">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14788">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_87_7" data-pasuk-now="5"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_87_7_1">וְשָׁרִ֥ים</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_87_7_2">כְּחֹלֲלִ֑ים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_87_7_3">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="14792">־</span><span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_87_7_4">מַעְיָנַ֥י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_87_7_5">בָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14796">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="14797"> פ </span>
</span>
<br /></p>