<p id="PR_35" data-perek-now="229" data-perek-nops="28"><span class="perek-header">פרק לה</span>
<br /><span id="PS_35_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="805306490" data-exlnk="0" id="5161">לְדָוִ֨ד׀</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_35_1_1">   ס </span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_1_2">רִיבָ֣ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_1_3">יְ֭הוָה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_35_1_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5167">־</span><span class="mila" data-lnk="4026532315" data-exlnk="0" id="M_35_1_5">יְרִיבַ֑י</span>
<span class="mila" data-lnk="3221225769" data-exlnk="0" id="M_35_1_6">לְ֝חַ֗ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_35_1_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5171">־</span><span class="mila" data-lnk="3221225769" data-exlnk="0" id="M_35_1_8">לֹחֲמָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_35_2" data-pasuk-now="5"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_2_1">הַחֲזֵ֣ק</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_35_2_2">מָגֵ֣ן</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_35_2_3">וְצִנָּ֑ה</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_35_2_4">וְ֝ק֗וּמָה</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_35_2_5">בְּעֶזְרָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5179">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_35_3_1">וְהָ֮רֵ֤ק</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_35_3_2">חֲנִ֣ית</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_35_3_3">וּ֭סְגֹר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_35_3_4">לִקְרַ֣את</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_35_3_5">רֹדְפָ֑י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_3_6">אֱמֹ֥ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_35_3_7">לְ֝נַפְשִׁ֗י</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_35_3_8">יְֽשֻׁעָתֵ֥ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_3_9">אָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5189">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_4_1">יֵבֹ֣שׁוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_4_2">וְיִכָּלְמוּ֮</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_4_3">מְבַקְשֵׁ֪י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_4_4">נַ֫פְשִׁ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_4_5">יִסֹּ֣גוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_4_6">אָח֣וֹר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_4_7">וְיַחְפְּר֑וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_4_8">חֹ֝שְׁבֵ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_4_9">רָעָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5199">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_5" data-pasuk-now="7"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_5_1">יִֽהְי֗וּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_5_2">כְּמֹ֥ץ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_5_3">לִפְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5203">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_35_5_4">ר֑וּחַ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_5_5">וּמַלְאַ֖ךְ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_5_6">יְהוָ֣ה</span>
<span class="mila" data-lnk="3221225746" data-exlnk="0" id="M_35_5_7">דּוֹחֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5208">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_6_1">יְֽהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5210">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_35_6_2">דַרְכָּ֗ם</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_35_6_3">חֹ֥שֶׁךְ</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_35_6_4">וַחֲלַקְלַקֹּ֑ת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_6_5">וּמַלְאַ֥ךְ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_6_6">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_6_7">רֹדְפָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5217">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_35_7_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5219">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_35_7_2">חִנָּ֣ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_7_3">טָֽמְנוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5222">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_35_7_4">לִ֭י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_7_5">שַׁ֣חַת</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_7_6">רִשְׁתָּ֑ם</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_35_7_7">חִ֝נָּ֗ם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_35_7_8">חָפְר֥וּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_35_7_9">לְנַפְשִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5229">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_8" data-pasuk-now="11"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_35_8_1">תְּבוֹאֵ֣הוּ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_35_8_2">שׁוֹאָה֮</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_35_8_3">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5233">־</span><span class="mila" data-lnk="805306472" data-exlnk="0" id="M_35_8_4">יֵ֫דָ֥ע</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_35_8_5">וְרִשְׁתּ֣וֹ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_35_8_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5237">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_35_8_7">טָמַ֣ן</span>
<span class="mila" data-lnk="3221225746" data-exlnk="0" id="M_35_8_8">תִּלְכְּד֑וֹ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_35_8_9">בְּ֝שׁוֹאָ֗ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_35_8_10">יִפָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5242">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_35_8_11">בָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5244">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_9" data-pasuk-now="5"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="805306459" data-exlnk="0" id="M_35_9_1">וְ֭נַפְשִׁי</span>
<span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_35_9_2">תָּגִ֣יל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_9_3">בַּיהוָ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_9_4">תָּ֝שִׂ֗ישׂ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_9_5">בִּישׁוּעָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5250">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_35_10_1">כָּ֥ל</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_10_2">עַצְמוֹתַ֨י׀</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_35_10_3">תֹּאמַרְנָה֮</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_35_10_4">יְהוָ֗ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_10_5">מִ֥י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_10_6">כָ֫מ֥וֹךָ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_10_7">מַצִּ֣יל</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_35_10_8">עָ֭נִי</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_10_9">מֵחָזָ֣ק</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_10_10">מִמֶּ֑נּוּ</span>
<span class="mila" data-lnk="3489661256" data-exlnk="0" id="M_35_10_11">וְעָנִ֥י</span>
<span class="mila" data-lnk="3758096712" data-exlnk="0" id="M_35_10_12">וְ֝אֶבְי֗וֹן</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_35_10_13">מִגֹּֽזְלֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5264">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_35_11_1">יְ֭קוּמוּן</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_35_11_2">עֵדֵ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_11_3">חָמָ֑ס</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_35_11_4">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_35_11_5">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5270">־</span><span class="mila" data-lnk="50" data-exlnk="0" id="M_35_11_6">יָ֝דַ֗עְתִּי</span>
<span class="mila" data-lnk="4026532194" data-exlnk="0" id="M_35_11_7">יִשְׁאָלֽוּנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5273">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_12_1">יְשַׁלְּמ֣וּנִי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_12_2">רָ֭עָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_12_3">תַּ֥חַת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_12_4">טוֹבָ֗ה</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_35_12_5">שְׁכ֣וֹל</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_35_12_6">לְנַפְשִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5280">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_13" data-pasuk-now="11"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="805306474" data-exlnk="0" id="M_35_13_1">וַאֲנִ֤י׀</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_35_13_2">בַּחֲלוֹתָ֡ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_13_3">לְב֬וּשִׁי</span>
<span class="mila" data-lnk="4026532194" data-exlnk="0" id="M_35_13_4">שָׂ֗ק</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_35_13_5">עִנֵּ֣יתִי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_13_6">בַצּ֣וֹם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_35_13_7">נַפְשִׁ֑י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_35_13_8">וּ֝תְפִלָּתִ֗י</span>
<span class="mila" data-lnk="1342177657" data-exlnk="0" id="M_35_13_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5290">־</span><span class="mila" data-lnk="2684354937" data-exlnk="0" id="M_35_13_10">חֵיקִ֥י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_35_13_11">תָשֽׁוּב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5293">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_14" data-pasuk-now="8"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_35_14_1">כְּרֵעַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5295">־</span><span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_35_14_2">כְּאָ֣ח</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_35_14_3">לִ֭י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_35_14_4">הִתְהַלָּ֑כְתִּי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_14_5">כַּאֲבֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5300">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_35_14_6">אֵ֝֗ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_14_7">קֹדֵ֥ר</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_35_14_8">שַׁחֽוֹתִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5304">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_15" data-pasuk-now="11"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_15_1">וּבְצַלְעִי֮</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_35_15_2">שָׂמְח֪וּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_35_15_3">וְֽנֶ֫אֱסָ֥פוּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_35_15_4">נֶאֶסְפ֬וּ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_35_15_5">עָלַ֣י</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_35_15_6">נֵ֭כִים</span>
<span class="mila" data-lnk="1342177786" data-exlnk="0" id="M_35_15_7">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532314" data-exlnk="0" id="M_35_15_8">יָדַ֑עְתִּי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_15_9">קָרְע֥וּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_15_10">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5315">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_35_15_11">דָֽמּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5317">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_16" data-pasuk-now="6"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_16_1">בְּ֭חַנְפֵי</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_35_16_2">לַעֲגֵ֣י</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_35_16_3">מָע֑וֹג</span>
<span class="mila" data-lnk="3221225738" data-exlnk="0" id="M_35_16_4">חָרֹ֖ק</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_35_16_5">עָלַ֣י</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_35_16_6">שִׁנֵּֽימוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5324">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_35_17_1">אֲדנָי֮</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_35_17_2">כַּמָּ֪ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_35_17_3">תִ֫רְאֶ֥ה</span>
<span class="mila" data-lnk="4026532345" data-exlnk="0" id="M_35_17_4">הָשִׁ֣יבָה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_35_17_5">נַ֭פְשִׁי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_17_6">מִשֹּׁאֵיהֶ֑ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_17_7">מִ֝כְּפִירִ֗ים</span>
<span class="mila" data-lnk="805306489" data-exlnk="0" id="M_35_17_8">יְחִידָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5333">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_35_18_1">א֭וֹדְךָ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_18_2">בְּקָהָ֣ל</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_18_3">רָ֑ב</span>
<span class="mila" data-lnk="4026532296" data-exlnk="0" id="M_35_18_4">בְּעַ֖ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_18_5">עָצ֣וּם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_18_6">אֲהַלֲלֶֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5340">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_19" data-pasuk-now="9"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_35_19_1">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5342">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_35_19_2">יִשְׂמְחוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5344">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_35_19_3">לִ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_19_4">אֹיְבַ֣י</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_35_19_5">שֶׁ֑קֶר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_19_6">שֹׂנְאַ֥י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_35_19_7">חִ֝נָּ֗ם</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_35_19_8">יִקְרְצוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5351">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_35_19_9">עָֽיִן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5353">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_20" data-pasuk-now="10"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_20_1">כִּ֤י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_35_20_2">לֹ֥א</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_20_3">שָׁל֗וֹם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_20_4">יְדַ֫בֵּ֥רוּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_35_20_5">וְעַ֥ל</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_35_20_6">רִגְעֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5360">־</span><span class="mila" data-lnk="805306491" data-exlnk="0" id="M_35_20_7">אֶ֑רֶץ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_35_20_8">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_20_9">מִ֝רְמ֗וֹת</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_35_20_10">יַחֲשֹׁבֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5365">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_21" data-pasuk-now="8"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_21_1">וַיַּרְחִ֥יבוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_21_2">עָלַ֗י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_35_21_3">פִּ֫יהֶ֥ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_21_4">אָ֭מְרוּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_35_21_5">הֶאָ֣ח</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="5371">׀</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_35_21_6">הֶאָ֑ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_21_7">רָאֲתָ֥ה</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_35_21_8">עֵינֵֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5375">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_22" data-pasuk-now="8"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_22_1">רָאִ֣יתָה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_22_2">יְ֭הוָה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_22_3">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5379">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_35_22_4">תֶּחֱרַ֑שׁ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_35_22_5">אֲ֝דנָ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_22_6">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5383">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_35_22_7">תִּרְחַ֥ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_22_8">מִמֶּֽנִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5386">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_23" data-pasuk-now="6"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_35_23_1">הָעִ֣ירָה</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_35_23_2">וְ֭הָקִיצָה</span>
<span class="mila" data-lnk="805306443" data-exlnk="0" id="M_35_23_3">לְמִשְׁפָּטִ֑י</span>
<span class="mila" data-lnk="1073742122" data-exlnk="0" id="M_35_23_4">אֱלֹהַ֖י</span>
<span class="mila" data-lnk="4026532202" data-exlnk="0" id="M_35_23_5">וַאדנָ֣י</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_35_23_6">לְרִיבִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5393">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_24" data-pasuk-now="7"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_24_1">שָׁפְטֵ֣נִי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_24_2">כְ֭צִדְקְךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_24_3">יְהוָ֥ה</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_35_24_4">אֱלֹהָ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_24_5">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5399">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_35_24_6">יִשְׂמְחוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5401">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_35_24_7">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5403">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_25" data-pasuk-now="8"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_25_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5405">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_35_25_2">יֹאמְר֣וּ</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_35_25_3">בְ֭לִבָּם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_25_4">הֶאָ֣ח</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_25_5">נַפְשֵׁ֑נוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_25_6">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5411">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_35_25_7">יֹ֝אמְר֗וּ</span>
<span class="mila" data-lnk="3221225768" data-exlnk="0" id="M_35_25_8">בִּֽלַּעֲנֽוּהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5414">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_26" data-pasuk-now="10"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_26_1">יֵ֮בֹ֤שׁוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_26_2">וְיַחְפְּר֨וּ׀</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_26_3">יַחְדָּו֮</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_26_4">שְׂמֵחֵ֪י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_26_5">רָעָ֫תִ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_26_6">יִֽלְבְּשׁוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5421">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_35_26_7">בֹ֥שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_35_26_8">וּכְלִמָּ֑ה</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_35_26_9">הַֽמַּגְדִּילִ֥ים</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_35_26_10">עָלָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5426">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_27" data-pasuk-now="11"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_27_1">יָרֹ֣נּוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_27_2">וְיִשְׂמְחוּ֮</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_27_3">חֲפֵצֵ֪י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_27_4">צִ֫דְקִ֥י</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_35_27_5">וְיֹאמְר֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_35_27_6">תָ֭מִיד</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_27_7">יִגְדַּ֣ל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_35_27_8">יְהוָ֑ה</span>
<span class="mila" data-lnk="4026532040" data-exlnk="0" id="M_35_27_9">הֶ֝חָפֵ֗ץ</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_35_27_10">שְׁל֣וֹם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_27_11">עַבְדּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5438">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_35_28" data-pasuk-now="6"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_35_28_1">וּ֭לְשׁוֹנִי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_28_2">תֶּהְגֶּ֣ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_28_3">צִדְקֶ֑ךָ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_35_28_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5443">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_35_28_5">הַ֝יּ֗וֹם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_35_28_6">תְּהִלָּתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5447">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5448"> פ </span>
</span>
<br /></p>