<p id="PR_22" data-perek-now="253" data-perek-nops="32"><span class="perek-header">פרק כב</span>
<br /><span id="PS_22_1" data-pasuk-now="6"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_22_1_1">לַ֭מְנַצֵּחַ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_1_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2951">־</span><span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_22_1_3">אַיֶּ֥לֶת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="2953">הַשַּׁ֗חַר</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_22_1_4">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_1_5">מִזְמ֥וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_1_6">לְדָוִֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2958">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_22_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1073742138" data-exlnk="0" id="M_22_2_1">אֵלִ֣י</span>
<span class="mila" data-lnk="2147483962" data-exlnk="0" id="M_22_2_2">אֵ֭לִי</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_2_3">לָמָ֣ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_2_4">עֲזַבְתָּ֑נִי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_2_5">רָח֥וֹק</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_2_6">מִ֝ישׁוּעָתִ֗י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_2_7">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_22_2_8">שַׁאֲגָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2967">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_3_1">אֱֽלֹהַ֗י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_22_3_2">אֶקְרָ֣א</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_22_3_3">י֭וֹמָם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_3_4">וְלֹ֣א</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_3_5">תַעֲנֶ֑ה</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_22_3_6">וְ֝לַ֗יְלָה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_3_7">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2975">־</span><span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_22_3_8">דֻמִיָּ֥ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_3_9">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2978">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_4" data-pasuk-now="5"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_4_1">וְאַתָּ֥ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_4_2">קָד֑וֹשׁ</span>
<span class="mila" data-lnk="4026532347" data-exlnk="0" id="M_22_4_3">י֝וֹשֵׁ֗ב</span>
<span class="mila" data-lnk="4026532091" data-exlnk="0" id="M_22_4_4">תְּהִלּ֥וֹת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_4_5">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2984">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_5" data-pasuk-now="5"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_5_1">בְּ֭ךָ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_5_2">בָּטְח֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_5_3">אֲבֹתֵ֑ינוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_5_4">בָּ֝טְח֗וּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_5_5">וַֽתְּפַלְּטֵֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2990">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_6_1">אֵלֶ֣יךָ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_6_2">זָעֲק֣וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_6_3">וְנִמְלָ֑טוּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_6_4">בְּךָ֖</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_6_5">בָטְח֣וּ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_22_6_6">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2997">־</span><span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_22_6_7">בֽוֹשׁוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2999">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805306459" data-exlnk="0" id="M_22_7_1">וְאָנֹכִ֣י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_22_7_2">תוֹלַ֣עַת</span>
<span class="mila" data-lnk="1342177624" data-exlnk="0" id="M_22_7_3">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3003">־</span><span class="mila" data-lnk="2684354906" data-exlnk="0" id="M_22_7_4">אִ֑ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_7_5">חֶרְפַּ֥ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_7_6">אָ֝דָ֗ם</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_22_7_7">וּבְז֥וּי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_7_8">עָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3009">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_8_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3011">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_22_8_2">רֹ֭אַי</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_22_8_3">יַלְעִ֣גוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_8_4">לִ֑י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_8_5">יַפְטִ֥ירוּ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_22_8_6">בְ֝שָׂפָ֗ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_8_7">יָנִ֥יעוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_8_8">רֹֽאשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3019">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_9" data-pasuk-now="8"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_9_1">גֹּ֣ל</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_9_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3022">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_22_9_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_9_4">יְפַלְּטֵ֑הוּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_9_5">יַ֝צִּילֵ֗הוּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_9_6">כִּ֮י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_22_9_7">חָ֥פֵֽץ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_9_8">בּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3029">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_22_10_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3031">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_22_10_2">אַתָּ֣ה</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_22_10_3">גֹחִ֣י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_22_10_4">מִבָּ֑טֶן</span>
<span class="mila" data-lnk="3221225777" data-exlnk="0" id="M_22_10_5">מַ֝בְטִיחִ֗י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_10_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3037">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_22_10_7">שְׁדֵ֥י</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_22_10_8">אִמִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3040">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_11_1">עָ֭לֶיךָ</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_22_11_2">הָשְׁלַ֣כְתִּי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_22_11_3">מֵרָ֑חֶם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_11_4">מִבֶּ֥טֶן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_22_11_5">אִ֝מִּ֗י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_11_6">אֵ֣לִי</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_11_7">אָֽתָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3048">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_12" data-pasuk-now="9"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_12_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3050">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_22_12_2">תִּרְחַ֣ק</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_12_3">מִ֭מֶּנִּי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_12_4">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3054">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_12_5">צָרָ֣ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_12_6">קְרוֹבָ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_12_7">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3058">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_22_12_8">אֵ֥ין</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_22_12_9">עוֹזֵֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3061">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_13" data-pasuk-now="6"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_13_1">סְ֭בָבוּנִי</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_13_2">פָּרִ֣ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_13_3">רַבִּ֑ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_13_4">אַבִּירֵ֖י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_13_5">בָשָׁ֣ן</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_22_13_6">כִּתְּרֽוּנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3068">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_14" data-pasuk-now="6"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_14_1">פָּצ֣וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_14_2">עָלַ֣י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_14_3">פִּיהֶ֑ם</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_14_4">אַ֝רְיֵ֗ה</span>
<span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_22_14_5">טֹרֵ֥ף</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_22_14_6">וְשֹׁאֵֽג</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3075">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_15" data-pasuk-now="11"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_15_1">כַּמַּ֥יִם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_15_2">נִשְׁפַּכְתִּי֮</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_15_3">וְהִתְפָּרְד֗וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_15_4">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3080">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_22_15_5">עַצְמ֫וֹתָ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_15_6">הָיָ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_15_7">לִ֭בִּי</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_15_8">כַּדּוֹנָ֑ג</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_15_9">נָ֝מֵ֗ס</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_15_10">בְּת֣וֹךְ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_15_11">מֵעָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3088">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_16_1">יָ֮בֵ֤שׁ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_16_2">כַּחֶ֨רֶשׂ׀</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_16_3">כֹּחִ֗י</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_22_16_4">וּ֭לְשׁוֹנִי</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_22_16_5">מֻדְבָּ֣ק</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_22_16_6">מַלְקוֹחָ֑י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_16_7">וְֽלַעֲפַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3096">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_22_16_8">מָ֥וֶת</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_22_16_9">תִּשְׁפְּתֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3099">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_17" data-pasuk-now="9"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_17_1">כִּ֥י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_17_2">סְבָב֗וּנִי</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_17_3">כְּלָ֫בִ֥ים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_17_4">עֲדַ֣ת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_17_5">מְ֭רֵעִים</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_22_17_6">הִקִּיפ֑וּנִי</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_22_17_7">כָּ֝אֲרִ֗י</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_22_17_8">יָדַ֥י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_17_9">וְרַגְלָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3109">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_18" data-pasuk-now="7"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_18_1">אֲסַפֵּ֥ר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_18_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3112">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_22_18_3">עַצְמוֹתָ֑י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_18_4">הֵ֥מָּה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_18_5">יַ֝בִּ֗יטוּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_18_6">יִרְאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3117">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_22_18_7">בִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3119">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_19" data-pasuk-now="7"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_19_1">יְחַלְּק֣וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_19_2">בְגָדַ֣י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_19_3">לָהֶ֑ם</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_22_19_4">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3124">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_22_19_5">לְ֝בוּשִׁ֗י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_22_19_6">יַפִּ֥ילוּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_22_19_7">גוֹרָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3128">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_20" data-pasuk-now="7"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_20_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_20_2">יְ֭הוָה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_20_3">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3132">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_22_20_4">תִּרְחָ֑ק</span>
<span class="mila" data-lnk="3221225737" data-exlnk="0" id="M_22_20_5">אֱ֝יָלוּתִ֗י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_20_6">לְעֶזְרָ֥תִי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_20_7">חֽוּשָׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3137">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_21_1">הַצִּ֣ילָה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_21_2">מֵחֶ֣רֶב</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_21_3">נַפְשִׁ֑י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_22_21_4">מִיַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3142">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_22_21_5">כֶּ֝לֶב</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_22_21_6">יְחִידָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3145">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_22" data-pasuk-now="6"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_22_1">ה֭וֹשִׁיעֵנִי</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_22_22_2">מִפִּ֣י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_22_22_3">אַרְיֵ֑ה</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_22_22_4">וּמִקַּרְנֵ֖י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_22_5">רֵמִ֣ים</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_22_22_6">עֲנִיתָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3152">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_23" data-pasuk-now="6"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_23_1">אֲסַפְּרָ֣ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_23_2">שִׁמְךָ֣</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_23_3">לְאֶחָ֑י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_23_4">בְּת֖וֹךְ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_23_5">קָהָ֣ל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_23_6">אֲהַלְלֶֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3159">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_24" data-pasuk-now="12"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_24_1">יִרְאֵ֤י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_24_2">יְהוָ֨ה׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_24_3">הַֽלֲל֗וּהוּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_22_24_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3164">־</span><span class="mila" data-lnk="1073742091" data-exlnk="0" id="M_22_24_5">זֶ֣רַע</span>
<span class="mila" data-lnk="2147483915" data-exlnk="0" id="M_22_24_6">יַעֲקֹ֣ב</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_22_24_7">כַּבְּד֑וּהוּ</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_22_24_8">וְג֥וּרוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_24_9">מִ֝מֶּ֗נּוּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_24_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3171">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_22_24_11">זֶ֥רַע</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_24_12">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3174">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_25" data-pasuk-now="14"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_25_1">כִּ֤י</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_22_25_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3177">־</span><span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_22_25_3">בָזָ֨ה</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_22_25_4">וְלֹ֪א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_22_25_5">שִׁקַּ֡ץ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_25_6">עֱנ֬וּת</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_25_7">עָנִ֗י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_22_25_8">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3184">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_9">הִסְתִּ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_10">פָּנָ֣יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_11">מִמֶּ֑נּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_12">וּֽבְשַׁוְּע֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_25_13">אֵלָ֣יו</span>
<span class="mila" data-lnk="805306440" data-exlnk="0" id="M_22_25_14">שָׁמֵֽעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3191">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_26" data-pasuk-now="8"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_22_26_1">מֵ֥אִתְּךָ֗</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_22_26_2">תְּֽהִלָּ֫תִ֥י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_22_26_3">בְּקָהָ֥ל</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_22_26_4">רָ֑ב</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_26_5">נְדָרַ֥י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_26_6">אֲ֝שַׁלֵּ֗ם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_22_26_7">נֶ֣גֶד</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_22_26_8">יְרֵאָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3200">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_27" data-pasuk-now="9"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_27_1">יֹאכְל֬וּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_27_2">עֲנָוִ֨ים׀</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_22_27_3">וְיִשְׂבָּ֗עוּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_22_27_4">יְהַֽלֲל֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_22_27_5">יְ֭הוָה</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_22_27_6">דֹּ֣רְשָׁ֑יו</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_22_27_7">יְחִ֖י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_27_8">לְבַבְכֶ֣ם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_22_27_9">לָעַֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3210">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_28" data-pasuk-now="12"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_28_1">יִזְכְּר֤וּ׀</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_22_28_2">וְיָשֻׁ֣בוּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_28_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3214">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_22_28_4">יְ֭הוָה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_28_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3217">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_22_28_6">אַפְסֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3219">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_22_28_7">אָ֑רֶץ</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_22_28_8">וְיִֽשְׁתַּחֲו֥וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_22_28_9">לְ֝פָנֶ֗יךָ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_28_10">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3224">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_22_28_11">מִשְׁפְּח֥וֹת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_28_12">גּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3227">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_29" data-pasuk-now="5"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_29_1">כִּ֣י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_29_2">לַ֭יהוָה</span>
<span class="mila" data-lnk="805306459" data-exlnk="0" id="M_22_29_3">הַמְּלוּכָ֑ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_29_4">וּ֝מֹשֵׁ֗ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_22_29_5">בַּגּוֹיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3233">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_30" data-pasuk-now="13"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_30_1">אָכְל֬וּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_22_30_2">וַיִּֽשְׁתַּחֲו֨וּ׀</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_22_30_3">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3237">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_22_30_4">דִּשְׁנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3239">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_22_30_5">אֶ֗רֶץ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_22_30_6">לְפָנָ֣יו</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_30_7">יִ֭כְרְעוּ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_22_30_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3244">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_22_30_9">יוֹרְדֵ֣י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_22_30_10">עָפָ֑ר</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_22_30_11">וְ֝נַפְשׁ֗וֹ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_22_30_12">לֹ֣א</span>
<span class="mila" data-lnk="3221225779" data-exlnk="0" id="M_22_30_13">חִיָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3250">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_31" data-pasuk-now="5"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_31_1">זֶ֥רַע</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_31_2">יַעַבְדֶ֑נּוּ</span>
<span class="mila" data-lnk="805306489" data-exlnk="0" id="M_22_31_3">יְסֻפַּ֖ר</span>
<span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_22_31_4">לַאדנָ֣י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_22_31_5">לַדּֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3256">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_32" data-pasuk-now="7"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_22_32_1">יָ֭בֹאוּ</span>
<span class="mila" data-lnk="4026532201" data-exlnk="0" id="M_22_32_2">וְיַגִּ֣ידוּ</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_22_32_3">צִדְקָת֑וֹ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_22_32_4">לְעַ֥ם</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_22_32_5">נ֝וֹלָ֗ד</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_22_32_6">כִּ֣י</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_22_32_7">עָשָֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3265">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3266"> פ </span>
</span>
<br /></p>