<p id="PR_15" data-perek-now="55" data-perek-nops="5"><span class="perek-header">פרק טו</span>
<br /><span id="PS_15_1" data-pasuk-now="10"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1879048522" data-exlnk="0" id="M_15_1_1">מִזְמ֗וֹר</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="1699">לְדָ֫וִ֥ד</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_15_1_2">   ס </span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_15_1_3">יְ֭הוָה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_15_1_4">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1704">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_15_1_5">יָג֣וּר</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_15_1_6">בְּאָהֳלֶ֑ךָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_15_1_7">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1708">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_15_1_8">יִ֝שְׁכֹּ֗ן</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_15_1_9">בְּהַ֣ר</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_15_1_10">קָדְשֶֽׁךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1712">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_15_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_15_2_1">הוֹלֵ֣ךְ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_15_2_2">תָּ֭מִים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_15_2_3">וּפֹעֵ֥ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_15_2_4">צֶ֑דֶק</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_15_2_5">וְדֹבֵ֥ר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_15_2_6">אֱ֝מֶ֗ת</span>
<span class="mila" data-lnk="4026532058" data-exlnk="0" id="M_15_2_7">בִּלְבָבֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1720">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_15_3_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1722">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_15_3_2">רָגַ֨ל׀</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_15_3_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1725">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_15_3_4">לְשֹׁנ֗וֹ</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_15_3_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1728">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_15_3_6">עָשָׂ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_15_3_7">לְרֵעֵ֣הוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_15_3_8">רָעָ֑ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_15_3_9">וְ֝חֶרְפָּ֗ה</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_15_3_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1734">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_15_3_11">נָשָׂ֥א</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_15_3_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1737">־</span><span class="mila" data-lnk="4026532345" data-exlnk="0" id="M_15_3_13">קְרֹבֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1739">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_4" data-pasuk-now="11"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_4_1">נִבְזֶ֤ה׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_4_2">בְּֽעֵ֮ינָ֤יו</span>
<span class="mila" data-lnk="4026532347" data-exlnk="0" id="M_15_4_3">נִמְאָ֗ס</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_15_4_4">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1744">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_15_4_5">יִרְאֵ֣י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_15_4_6">יְהוָ֣ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_15_4_7">יְכַבֵּ֑ד</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_4_8">נִשְׁבַּ֥ע</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_15_4_9">לְ֝הָרַ֗ע</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_15_4_10">וְלֹ֣א</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_15_4_11">יָמִֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1752">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_15_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_15_5_1">כַּסְפּ֤וֹ׀</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_15_5_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1755">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_15_5_3">נָתַ֣ן</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_15_5_4">בְּנֶשֶׁךְ֮</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_15_5_5">וְשֹׁ֥חַד</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_15_5_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1760">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_15_5_7">נָקִ֗י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_5_8">לֹ֥א</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_15_5_9">לָ֫קָ֥ח</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_15_5_10">עֹֽשֵׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1765">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_15_5_11">אֵ֑לֶּה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_15_5_12">לֹ֖א</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_15_5_13">יִמּ֣וֹט</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_15_5_14">לְעוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1771">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1772"> פ </span>
</span>
<br /></p>