<p id="PR_68" data-perek-now="310" data-perek-nops="36"><span class="perek-header">פרק סח</span>
<br /><span id="PS_68_1" data-pasuk-now="4"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="805306490" data-exlnk="0" id="M_68_1_1">לַמְנַצֵּ֥חַ</span>
<span class="mila" data-lnk="268435578" data-exlnk="0" id="M_68_1_2">לְדָוִ֗ד</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_68_1_3">מִזְמ֥וֹר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_1_4">שִֽׁיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10638">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10639"> פ </span>
</span>
<br /><span id="PS_68_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1073742139" data-exlnk="0" id="M_68_2_1">יָק֣וּם</span>
<span class="mila" data-lnk="3221225753" data-exlnk="0" id="M_68_2_2">אֱ֭לֹהִים</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_68_2_3">יָפ֣וּצוּ</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_68_2_4">אוֹיְבָ֑יו</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_68_2_5">וְיָנ֥וּסוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_68_2_6">מְ֝שַׂנְאָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_68_2_7">מִפָּנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10647">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_3" data-pasuk-now="11"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_3_1">כְּהִנְדֹּ֥ף</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_3_2">עָשָׁ֗ן</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_68_3_3">תִּ֫נְדֹּ֥ף</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_68_3_4">כְּהִמֵּ֣ס</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_3_5">דּ֭וֹנַג</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_68_3_6">מִפְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10654">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_68_3_7">אֵ֑שׁ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_68_3_8">יֹאבְד֥וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_68_3_9">רְ֝שָׁעִ֗ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_68_3_10">מִפְּנֵ֥י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_68_3_11">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10660">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026532202" data-exlnk="0" id="M_68_4_1">וְֽצַדִּיקִ֗ים</span>
<span class="mila" data-lnk="1073742090" data-exlnk="0" id="M_68_4_2">יִשְׂמְח֣וּ</span>
<span class="mila" data-lnk="2147483912" data-exlnk="0" id="M_68_4_3">יַ֭עַלְצוּ</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_68_4_4">לִפְנֵ֥י</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_68_4_5">אֱלֹהִ֗ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_68_4_6">וְיָשִׂ֥ישׂוּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_68_4_7">בְשִׂמְחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10668">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1879048539" data-exlnk="0" id="M_68_5_1">שִׁ֤ירוּ׀</span>
<span class="mila" data-lnk="2952790363" data-exlnk="0" id="M_68_5_2">לֵאלֹהִים֮</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_68_5_3">זַמְּר֪וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_68_5_4">שְׁ֫מ֥וֹ</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_68_5_5">סֹ֡לּוּ</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_68_5_6">לָרֹכֵ֣ב</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_68_5_7">בָּ֭עֲרָבוֹת</span>
<span class="mila" data-lnk="4026532347" data-exlnk="0" id="M_68_5_8">בְּיָ֥הּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_5_9">שְׁמ֗וֹ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_68_5_10">וְעִלְז֥וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_68_5_11">לְפָנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10680">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_6_1">אֲבִ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_6_2">יְ֭תוֹמִים</span>
<span class="mila" data-lnk="3221225729" data-exlnk="0" id="M_68_6_3">וְדַיַּ֣ן</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_68_6_4">אַלְמָנ֑וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_68_6_5">אֱ֝לֹהִ֗ים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_6_6">בִּמְע֥וֹן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_6_7">קָדְשֽׁוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10688">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_7" data-pasuk-now="11"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_68_7_1">אֱלֹהִ֤ים׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_7_2">מ֮וֹשִׁ֤יב</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_7_3">יְחִידִ֨ים׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_7_4">בַּ֗יְתָה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_7_5">מוֹצִ֣יא</span>
<span class="mila" data-lnk="4026532347" data-exlnk="0" id="M_68_7_6">אֲ֭סִירִים</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_7_7">בַּכּוֹשָׁר֑וֹת</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_68_7_8">אַ֥ךְ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_7_9">ס֝וֹרֲרִ֗ים</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_68_7_10">שָׁכְנ֥וּ</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_7_11">צְחִיחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10700">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_8" data-pasuk-now="7"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_8_1">אֱֽלֹהִ֗ים</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_8_2">בְּ֭צֵאתְךָ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_68_8_3">לִפְנֵ֣י</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_68_8_4">עַמֶּ֑ךָ</span>
<span class="mila" data-lnk="4026532203" data-exlnk="0" id="M_68_8_5">בְּצַעְדְּךָ֖</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_8_6">בִישִׁימ֣וֹן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_68_8_7">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10708">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_9" data-pasuk-now="13"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_9_1">אֶ֤רֶץ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_9_2">רָעָ֨שָׁה׀</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_9_3">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10712">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_68_9_4">שָׁמַ֣יִם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_9_5">נָטְפוּ֮</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_68_9_6">מִפְּנֵ֪י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_68_9_7">אֱלֹ֫הִ֥ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_9_8">זֶ֥ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_9_9">סִינַ֑י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_68_9_10">מִפְּנֵ֥י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_68_9_11">אֱ֝לֹהִ֗ים</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_68_9_12">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_68_9_13">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10723">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_10_1">גֶּ֣שֶׁם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_10_2">נְ֭דָבוֹת</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_68_10_3">תָּנִ֣יף</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_68_10_4">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_10_5">נַחֲלָתְךָ֥</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_10_6">וְ֝נִלְאָ֗ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_10_7">אַתָּ֥ה</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_68_10_8">כוֹנַנְתָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10732">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_11_1">חַיָּתְךָ֥</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_11_2">יָשְׁבוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10735">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_68_11_3">בָ֑הּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_68_11_4">תָּ֤כִֽין</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_11_5">בְּטוֹבָתְךָ֖</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_68_11_6">לֶעָנִ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_68_11_7">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10741">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_68_12_1">אֲדנָ֥י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_12_2">יִתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10744">־</span><span class="mila" data-lnk="805306491" data-exlnk="0" id="M_68_12_3">אֹ֑מֶר</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_12_4">הַֽ֝מְבַשְּׂר֗וֹת</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_68_12_5">צָבָ֥א</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_68_12_6">רָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10749">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_13_1">מַלְכֵ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_13_2">צְ֭בָאוֹת</span>
<span class="mila" data-lnk="4026532203" data-exlnk="0" id="M_68_13_3">יִדֹּד֣וּן</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_68_13_4">יִדֹּד֑וּן</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_13_5">וּנְוַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10755">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_68_13_6">בַּ֝יִת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_13_7">תְּחַלֵּ֥ק</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_13_8">שָׁלָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10759">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_14" data-pasuk-now="11"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_14_1">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10761">־</span><span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_14_2">תִּשְׁכְּבוּן֮</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_68_14_3">בֵּ֤ין</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_14_4">שְׁפַ֫תָּ֥יִם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_68_14_5">כַּנְפֵ֣י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_14_6">י֭וֹנָה</span>
<span class="mila" data-lnk="3221225753" data-exlnk="0" id="M_68_14_7">נֶחְפָּ֣ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_14_8">בַכֶּ֑סֶף</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_14_9">וְ֝אֶבְרוֹתֶ֗יהָ</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_14_10">בִּירַקְרַ֥ק</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_68_14_11">חָרֽוּץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10772">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_68_15_1">בְּפָ֮רֵ֤שׂ</span>
<span class="mila" data-lnk="536871035" data-exlnk="0" id="M_68_15_2">שַׁדַּ֓י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_15_3">מְלָ֮כִ֤ים</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_15_4">בָּ֗הּ</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_68_15_5">תַּשְׁלֵ֥ג</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_68_15_6">בְּצַלְמֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10779">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_16" data-pasuk-now="8"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_16_1">הַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10781">־</span><span class="mila" data-lnk="2147483961" data-exlnk="0" id="M_68_16_2">אֱ֭לֹהִים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_16_3">הַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10784">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_68_16_4">בָּשָׁ֑ן</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_68_16_5">הַ֥ר</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_68_16_6">גַּ֝בְנֻנִּ֗ים</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_68_16_7">הַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10789">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_68_16_8">בָּשָֽׁן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10791">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_17" data-pasuk-now="12"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_17_1">לָ֤מָּה׀</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_17_2">תְּֽרַצְּדוּן֮</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_68_17_3">הָרִ֪ים</span>
<span class="mila" data-lnk="805306435" data-exlnk="0" id="M_68_17_4">גַּבְנֻ֫נִּ֥ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_17_5">הָהָ֗ר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_17_6">חָמַ֣ד</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_68_17_7">אֱלֹהִ֣ים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_17_8">לְשִׁבְתּ֑וֹ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_17_9">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10801">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_68_17_10">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_17_11">יִשְׁכֹּ֥ן</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_17_12">לָנֶֽצַח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10805">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_18" data-pasuk-now="9"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_18_1">רֶ֤כֶב</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_18_2">אֱלֹהִ֗ים</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_18_3">רִבֹּתַ֣יִם</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_18_4">אַלְפֵ֣י</span>
<span class="mila" data-lnk="3221225770" data-exlnk="0" id="M_68_18_5">שִׁנְאָ֑ן</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_68_18_6">אֲדנָ֥י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_18_7">בָ֝ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_18_8">סִינַ֥י</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_68_18_9">בַּקֹּֽדֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10815">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_19" data-pasuk-now="12"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_19_1">עָ֮לִ֤יתָ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_19_2">לַמָּר֨וֹם׀</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_19_3">שָׁ֮בִ֤יתָ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_68_19_4">שֶּׁ֗בִי</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_68_19_5">לָקַ֣חְתָּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_19_6">מַ֭תָּנוֹת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_19_7">בָּאָדָ֑ם</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_68_19_8">וְאַ֥ף</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_19_9">ס֝וֹרֲרִ֗ים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_19_10">לִשְׁכֹּ֤ן׀</span>
<span class="mila" data-lnk="3221225745" data-exlnk="0" id="M_68_19_11">יָ֬הּ</span>
<span class="mila" data-lnk="2147483928" data-exlnk="0" id="M_68_19_12">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10828">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_20" data-pasuk-now="9"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_68_20_1">בָּ֤ר֣וּךְ</span>
<span class="mila" data-lnk="805306459" data-exlnk="0" id="M_68_20_2">אֲדנָי֮</span>
<span class="mila" data-lnk="1342177625" data-exlnk="0" id="M_68_20_3">י֤וֹם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="10832">׀</span>
<span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_68_20_4">י֥וֹם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_20_5">יַעֲמָס</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10835">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_68_20_6">לָ֗נוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_20_7">הָ֮אֵ֤ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_20_8">יְֽשׁוּעָתֵ֬נוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_68_20_9">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10840">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_21" data-pasuk-now="8"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_21_1">הָ֤אֵ֣ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="10842">׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_21_2">לָנוּ֮</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_21_3">אֵ֤ל</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_21_4">לְֽמוֹשָׁ֫ע֥וֹת</span>
<span class="mila" data-lnk="3489661296" data-exlnk="0" id="M_68_21_5">וְלֵיהֹוִ֥ה</span>
<span class="mila" data-lnk="3758096752" data-exlnk="0" id="M_68_21_6">אֲדנָ֑י</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_68_21_7">לַ֝מָּ֗וֶת</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_21_8">תֹּצָאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10850">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_22" data-pasuk-now="9"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_22_1">אַךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10852">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_68_22_2">אֱלֹהִ֗ים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_22_3">יִמְחַץ֮</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_22_4">רֹ֤אשׁ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_22_5">אֹ֫יְבָ֥יו</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_22_6">קָדְקֹ֥ד</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_22_7">שֵׂעָ֑ר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_22_8">מִ֝תְהַלֵּ֗ךְ</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_22_9">בַּאֲשָׁמָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10861">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_23" data-pasuk-now="7"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="268435563" data-exlnk="0" id="M_68_23_1">אָמַ֣ר</span>
<span class="mila" data-lnk="805306473" data-exlnk="0" id="M_68_23_2">אֲ֭דנָי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_23_3">מִבָּשָׁ֣ן</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_68_23_4">אָשִׁ֑יב</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_68_23_5">אָ֝שִׁ֗יב</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_68_23_6">מִֽמְּצֻל֥וֹת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_23_7">יָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10869">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_24" data-pasuk-now="8"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_24_1">לְמַ֤עַן׀</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_24_2">תִּ֥מֲחַ֥ץ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_24_3">רַגְלְךָ֗</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_24_4">בְּ֫דָ֥ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_24_5">לְשׁ֥וֹן</span>
<span class="mila" data-lnk="3221225771" data-exlnk="0" id="M_68_24_6">כְּלָבֶ֑יךָ</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_68_24_7">מֵאֹיְבִ֥ים</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_68_24_8">מִנֵּֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10878">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_25" data-pasuk-now="7"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_25_1">רָא֣וּ</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_25_2">הֲלִיכוֹתֶ֣יךָ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_68_25_3">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="4026532314" data-exlnk="0" id="M_68_25_4">הֲלִ֮יכ֤וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_25_5">אֵלִ֖י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_25_6">מַלְכִּ֣י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_25_7">בַקֹּֽדֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10886">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_68_26_1">קִדְּמ֣וּ</span>
<span class="mila" data-lnk="4026532217" data-exlnk="0" id="M_68_26_2">שָׁ֭רִים</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_68_26_3">אַחַ֣ר</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_26_4">נֹגְנִ֑ים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_26_5">בְּת֥וֹךְ</span>
<span class="mila" data-lnk="805306489" data-exlnk="0" id="M_68_26_6">עֲ֝לָמ֗וֹת</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_26_7">תּוֹפֵפֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10894">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_27" data-pasuk-now="6"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="4026532347" data-exlnk="0" id="M_68_27_1">בְּֽ֭מַקְהֵלוֹת</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_27_2">בָּרֲכ֣וּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_27_3">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="805306472" data-exlnk="0" id="M_68_27_4">אֲ֝דנָ֗י</span>
<span class="mila" data-lnk="4026532346" data-exlnk="0" id="M_68_27_5">מִמְּק֥וֹר</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_27_6">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10901">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_28" data-pasuk-now="11"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_28_1">שָׁ֤ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_28_2">בִּנְיָמִ֨ן׀</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_68_28_3">צָעִ֡יר</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_28_4">רֹדֵ֗ם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_28_5">שָׂרֵ֣י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_28_6">יְ֭הוּדָה</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_28_7">רִגְמָתָ֑ם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_28_8">שָׂרֵ֥י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_28_9">זְ֝בֻל֗וּן</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_68_28_10">שָׂרֵ֥י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_28_11">נַפְתָּלִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10913">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_29" data-pasuk-now="8"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_29_1">צִוָּ֥ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_29_2">אֱלֹהֶ֗יךָ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_29_3">עֻ֫זֶּ֥ךָ</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_29_4">עוּזָּ֥ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_29_5">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_68_29_6">ז֝וּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_68_29_7">פָּעַ֥לְתָּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_29_8">לָּֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10922">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_30" data-pasuk-now="7"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_30_1">מֵ֭הֵיכָלֶךָ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_30_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10925">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_68_30_3">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_68_30_4">לְךָ֤</span>
<span class="mila" data-lnk="4026532217" data-exlnk="0" id="M_68_30_5">יוֹבִ֖ילוּ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_68_30_6">מְלָכִ֣ים</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_68_30_7">שָֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10931">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_31" data-pasuk-now="14"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_31_1">גְּעַ֨ר</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_31_2">חַיַּ֪ת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_31_3">קָנֶ֡ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_31_4">עֲדַ֤ת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_31_5">אַבִּירִ֨ים׀</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_31_6">בְּעֶגְלֵ֬י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_31_7">עַמִּ֗ים</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_31_8">מִתְרַפֵּ֥ס</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_31_9">בְּרַצֵּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10941">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_68_31_10">כָ֑סֶף</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_31_11">בִּזַּ֥ר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_31_12">עַ֝מִּ֗ים</span>
<span class="mila" data-lnk="3221225771" data-exlnk="0" id="M_68_31_13">קְרָב֥וֹת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_68_31_14">יֶחְפָּֽצוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10947">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_32" data-pasuk-now="8"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_68_32_1">יֶאֱתָ֣יוּ</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_68_32_2">חַ֭שְׁמַנִּים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_68_32_3">מִנִּ֣י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_68_32_4">מִצְרָ֑יִם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_32_5">כּ֥וּשׁ</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_68_32_6">תָּרִ֥יץ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_32_7">יָ֝דָ֗יו</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_32_8">לֵאלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10956">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_33" data-pasuk-now="7"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_33_1">מַמְלְכ֣וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_33_2">הָ֭אָרֶץ</span>
<span class="mila" data-lnk="1879048513" data-exlnk="0" id="M_68_33_3">שִׁ֣ירוּ</span>
<span class="mila" data-lnk="4026532177" data-exlnk="0" id="M_68_33_4">לֵאלֹהִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_68_33_5">זַמְּר֖וּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_68_33_6">אֲדנָ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_68_33_7">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10964">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_34" data-pasuk-now="9"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_68_34_1">לָ֭רֹכֵב</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_34_2">בִּשְׁמֵ֣י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_34_3">שְׁמֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10968">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_68_34_4">קֶ֑דֶם</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_68_34_5">הֵ֥ן</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_34_6">יִתֵּ֥ן</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_68_34_7">בְּ֝קוֹל֗וֹ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_34_8">ק֣וֹל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_34_9">עֹֽז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10975">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_35" data-pasuk-now="8"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_35_1">תְּנ֥וּ</span>
<span class="mila" data-lnk="1342177626" data-exlnk="0" id="M_68_35_2">עֹ֗ז</span>
<span class="mila" data-lnk="4026532208" data-exlnk="0" id="M_68_35_3">לֵאלֹ֫הִ֥ים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_35_4">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10980">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_68_35_5">יִשְׂרָאֵ֥ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_35_6">גַּאֲוָת֑וֹ</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_68_35_7">וְ֝עֻזּ֗וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_35_8">בַּשְּׁחָקִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10985">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_68_36" data-pasuk-now="12"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_36_1">נ֤וֹרָ֥א</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_68_36_2">אֱלֹהִ֗ים</span>
<span class="mila" data-lnk="4026532345" data-exlnk="0" id="M_68_36_3">מִֽמִּקְדָּ֫שֶׁ֥יךָ</span>
<span class="mila" data-lnk="1073742104" data-exlnk="0" id="M_68_36_4">אֵ֤ל</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_68_36_5">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_36_6">ה֤וּא</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_36_7">נֹתֵ֨ן</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="10993">׀</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_68_36_8">עֹ֖ז</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_68_36_9">וְתַעֲצֻמ֥וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_68_36_10">לָעָ֗ם</span>
<span class="mila" data-lnk="1342177610" data-exlnk="0" id="M_68_36_11">בָּר֥וּךְ</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_68_36_12">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11000">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11001"> פ </span>
</span>
<br /></p>