<p id="PR_52" data-perek-now="90" data-perek-nops="11"><span class="perek-header">פרק נב</span>
<br /><span id="PS_52_1" data-pasuk-now="3"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_52_1_1">לַמְנַצֵּ֗חַ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_52_1_2">מַשְׂכִּ֥יל</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_52_1_3">לְדָוִֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8458">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="8459"> פ </span>
</span>
<br /><span id="PS_52_2" data-pasuk-now="12"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_52_2_1">בְּב֤וֹא׀</span>
<span class="mila" data-lnk="3221225784" data-exlnk="0" id="M_52_2_2">דּוֹאֵ֣ג</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_52_2_3">הָאֲדֹמִי֮</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_52_2_4">וַיַּגֵּ֪ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_52_2_5">לְשָׁ֫א֥וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_52_2_6">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_52_2_7">ל֑וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_52_2_8">בָּ֥א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_52_2_9">דָ֝וִ֗ד</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_52_2_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8470">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_52_2_11">בֵּ֥ית</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_52_2_12">אֲחִימֶֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8473">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_52_3_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8475">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_52_3_2">תִּתְהַלֵּ֣ל</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_52_3_3">בְּ֭רָעָה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_52_3_4">הַגִּבּ֑וֹר</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_52_3_5">חֶ֥סֶד</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_52_3_6">אֵ֝ל</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_52_3_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8482">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_52_3_8">הַיּֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8484">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_52_4_1">הַ֭וּוֹת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_52_4_2">תַּחְשֹׁ֣ב</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_52_4_3">לְשׁוֹנֶ֑ךָ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_52_4_4">כְּתַ֥עַר</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_52_4_5">מְ֝לֻטָּ֗שׁ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_52_4_6">עֹשֵׂ֥ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_52_4_7">רְמִיָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8492">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_5" data-pasuk-now="7"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_52_5_1">אָהַ֣בְתָּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_52_5_2">רָּ֣ע</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_52_5_3">מִטּ֑וֹב</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_52_5_4">שֶׁ֓קֶר׀</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_52_5_5">מִדַּבֵּ֖ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_52_5_6">צֶ֣דֶק</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_52_5_7">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8500">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_6" data-pasuk-now="6"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_52_6_1">אָהַ֥בְתָּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_52_6_2">כָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8503">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_52_6_3">דִּבְרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8505">־</span><span class="mila" data-lnk="4026532216" data-exlnk="0" id="M_52_6_4">בָ֗לַע</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_52_6_5">לְשׁ֣וֹן</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_52_6_6">מִרְמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8509">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_7" data-pasuk-now="11"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_52_7_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8511">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_52_7_2">אֵל֮</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_52_7_3">יִתָּצְךָ֪</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_52_7_4">לָ֫נֶ֥צַח</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_52_7_5">יַחְתְּךָ֣</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_52_7_6">וְיִסָּחֲךָ֣</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_52_7_7">מֵאֹ֑הֶל</span>
<span class="mila" data-lnk="3221225739" data-exlnk="0" id="M_52_7_8">וְשֵׁרֶשְׁךָ֨</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_52_7_9">מֵאֶ֖רֶץ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_52_7_10">חַיִּ֣ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_52_7_11">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8522">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_8" data-pasuk-now="5"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532346" data-exlnk="0" id="M_52_8_1">וְיִרְא֖וּ</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_52_8_2">צַדִּיקִ֥ים</span>
<span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_52_8_3">וְיִירָ֗אוּ</span>
<span class="mila" data-lnk="805306489" data-exlnk="0" id="M_52_8_4">וְעָלָ֥יו</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_52_8_5">יִשְׂחָֽקוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8528">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_9" data-pasuk-now="11"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_52_9_1">הִנֵּ֤ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_52_9_2">הַגֶּ֗בֶר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_52_9_3">לֹ֤א</span>
<span class="mila" data-lnk="1879048672" data-exlnk="0" id="M_52_9_4">יָשִׂ֥ים</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_52_9_5">אֱלֹהִ֗ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_52_9_6">מָע֫וּזּ֥וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_52_9_7">וַ֭יִּבְטַח</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_52_9_8">בְּרֹ֣ב</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_52_9_9">עָשְׁר֑וֹ</span>
<span class="mila" data-lnk="4026532179" data-exlnk="0" id="M_52_9_10">יָ֝עֹ֗ז</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_52_9_11">בְּהַוָּתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8540">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="805306459" data-exlnk="0" id="M_52_10_1">וַאֲנִ֤י׀</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_52_10_2">כְּזַ֣יִת</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_52_10_3">רַ֭עֲנָן</span>
<span class="mila" data-lnk="1342177627" data-exlnk="0" id="M_52_10_4">בְּבֵ֣ית</span>
<span class="mila" data-lnk="2952790360" data-exlnk="0" id="M_52_10_5">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_52_10_6">בָּטַ֥חְתִּי</span>
<span class="mila" data-lnk="1342177624" data-exlnk="0" id="M_52_10_7">בְחֶסֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8548">־</span><span class="mila" data-lnk="3758096728" data-exlnk="0" id="M_52_10_8">אֱ֝לֹהִ֗ים</span>
<span class="mila" data-lnk="268435520" data-exlnk="0" id="M_52_10_9">עוֹלָ֥ם</span>
<span class="mila" data-lnk="536870976" data-exlnk="0" id="M_52_10_10">וָעֶֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8552">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_52_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_52_11_1">אוֹדְךָ֣</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_52_11_2">לְ֭עוֹלָם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_52_11_3">כִּ֣י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_52_11_4">עָשִׂ֑יתָ</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_52_11_5">וַאֲקַוֶּ֥ה</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_52_11_6">שִׁמְךָ֥</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_52_11_7">כִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8560">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_52_11_8">ט֝וֹב</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_52_11_9">נֶ֣גֶד</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_52_11_10">חֲסִידֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8565">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="8566"> פ </span>
</span>
<br /></p>