<p id="PR_75" data-perek-now="87" data-perek-nops="11"><span class="perek-header">פרק עה</span>
<br /><span id="PS_75_1" data-pasuk-now="6"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_75_1_1">לַמְנַצֵּ֥חַ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_1_2">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12405">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_75_1_3">תַּשְׁחֵ֑ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_75_1_4">מִזְמ֖וֹר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_75_1_5">לְאָסָ֣ף</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_75_1_6">שִֽׁיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12411">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12412"> פ </span>
</span>
<br /><span id="PS_75_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_75_2_1">ה֮וֹדִ֤ינוּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_2_2">לְּךָ֨׀</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_2_3">אֱֽלֹהִ֗ים</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_75_2_4">ה֭וֹדִינוּ</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_75_2_5">וְקָר֣וֹב</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_2_6">שְׁמֶ֑ךָ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_2_7">סִ֝פְּר֗וּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_2_8">נִפְלְאוֹתֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12421">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_3_1">כִּ֭י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_3_2">אֶקַּ֣ח</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_3_3">מוֹעֵ֑ד</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_75_3_4">אֲ֝נִ֗י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_3_5">מֵישָׁרִ֥ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_3_6">אֶשְׁפֹּֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12428">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_75_4_1">נְֽמֹגִ֗ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_4_2">אֶ֥רֶץ</span>
<span class="mila" data-lnk="1073742139" data-exlnk="0" id="M_75_4_3">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12432">־</span><span class="mila" data-lnk="2147483963" data-exlnk="0" id="M_75_4_4">יֹשְׁבֶ֑יהָ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_75_4_5">אָנֹכִ֨י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_4_6">תִכַּ֖נְתִּי</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_75_4_7">עַמּוּדֶ֣יהָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_75_4_8">סֶּֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12438">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_75_5_1">אָמַ֣רְתִּי</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_75_5_2">לַ֭הוֹלֲלִים</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_75_5_3">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12442">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_75_5_4">תָּהֹ֑לּוּ</span>
<span class="mila" data-lnk="3221225736" data-exlnk="0" id="M_75_5_5">וְ֝לָרְשָׁעִ֗ים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_75_5_6">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12446">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_75_5_7">תָּרִ֥ימוּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_75_5_8">קָֽרֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12449">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_75_6_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12451">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_75_6_2">תָּרִ֣ימוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_75_6_3">לַמָּר֣וֹם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_75_6_4">קַרְנְכֶ֑ם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_75_6_5">תְּדַבְּר֖וּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_75_6_6">בְצַוָּ֣אר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_75_6_7">עָתָֽק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12458">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_7" data-pasuk-now="7"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_7_1">כִּ֤י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_7_2">לֹ֣א</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_75_7_3">מִ֭מּוֹצָא</span>
<span class="mila" data-lnk="4026532346" data-exlnk="0" id="M_75_7_4">וּמִֽמַּעֲרָ֑ב</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_7_5">וְ֝לֹ֗א</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_75_7_6">מִמִּדְבַּ֥ר</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_75_7_7">הָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12466">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_8" data-pasuk-now="7"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_8_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12468">־</span><span class="mila" data-lnk="1342177657" data-exlnk="0" id="M_75_8_2">אֱלֹהִ֥ים</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_75_8_3">שֹׁפֵ֑ט</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_8_4">זֶ֥ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_8_5">יַ֝שְׁפִּ֗יל</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_8_6">וְזֶ֣ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_8_7">יָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12475">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_9" data-pasuk-now="17"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_9_1">כִּ֤י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_9_2">כ֪וֹס</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_75_9_3">בְּֽיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12479">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_75_9_4">יְהוָ֡ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_9_5">וְיַ֤יִן</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_75_9_6">חָמַ֨ר׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_9_7">מָ֥לֵא</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_9_8">מֶסֶךְ֮</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_75_9_9">וַיַּגֵּ֪ר</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_9_10">מִ֫זֶּ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_75_9_11">אַךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12488">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_75_9_12">שְׁ֭מָרֶיהָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_75_9_13">יִמְצ֣וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_75_9_14">יִשְׁתּ֑וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_75_9_15">כֹּ֝ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_75_9_16">רִשְׁעֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12494">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_75_9_17">אָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12496">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_10" data-pasuk-now="6"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1879048571" data-exlnk="0" id="M_75_10_1">וַ֭אֲנִי</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_75_10_2">אַגִּ֣יד</span>
<span class="mila" data-lnk="4026532347" data-exlnk="0" id="M_75_10_3">לְעֹלָ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_75_10_4">אֲ֝זַמְּרָ֗ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_75_10_5">לֵאלֹהֵ֥י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_75_10_6">יַעֲקֹֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12503">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_75_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="3221225771" data-exlnk="0" id="M_75_11_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12505">־</span><span class="mila" data-lnk="41" data-exlnk="0" id="M_75_11_2">קַרְנֵ֣י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_75_11_3">רְשָׁעִ֣ים</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_75_11_4">אֲגַדֵּ֑עַ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_11_5">תְּ֝רוֹמַ֗מְנָה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_75_11_6">קַֽרְנ֥וֹת</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_75_11_7">צַדִּֽיק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12513">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12514"> פ </span>
</span>
<br /></p>