<p id="PR_30" data-perek-now="97" data-perek-nops="13"><span class="perek-header">פרק ל</span>
<br /><span id="PS_30_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_30_1_1">מִזְמ֡וֹר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_30_1_2">שִׁיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4206">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_30_1_3">חֲנֻכַּ֖ת</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_30_1_4">הַבַּ֣יִת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_30_1_5">לְדָוִֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4211">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4212"> פ </span>
</span>
<br /><span id="PS_30_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_30_2_1">אֲרוֹמִמְךָ֣</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_2_2">יְ֭הוָה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_2_3">כִּ֣י</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_30_2_4">דִלִּיתָ֑נִי</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_30_2_5">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4218">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_30_2_6">שִׂמַּ֖חְתָּ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_2_7">אֹיְבַ֣י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_2_8">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4222">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_3" data-pasuk-now="5"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_3_1">יְהוָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_3_2">אֱלֹהָ֑י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_3_3">שִׁוַּ֥עְתִּי</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_3_4">אֵ֝לֶ֗יךָ</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_30_3_5">וַתִּרְפָּאֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4228">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_30_4_1">יְֽהוָ֗ה</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_30_4_2">הֶעֱלִ֣יתָ</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_30_4_3">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4232">־</span><span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_30_4_4">שְׁא֣וֹל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_30_4_5">נַפְשִׁ֑י</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_30_4_6">חִ֝יִּיתַ֗נִי</span>
<span data-lnk="0" data-exlnk="0" id="M_30_4_7" class="mila ktiv">מִיָּֽורְדִי</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="4237">־</span><span data-lnk="3221225787" data-exlnk="0" id="M_30_4_7_K" class="mila kri">מִיָּֽרְדִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4239">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_30_4_8">בֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4241">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_30_5_1">זַמְּר֣וּ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_5_2">לַיהוָ֣ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_30_5_3">חֲסִידָ֑יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_5_4">וְ֝הוֹד֗וּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_5_5">לְזֵ֣כֶר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_5_6">קָדְשֽׁוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4248">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_30_6_1">כִּ֤י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_30_6_2">רֶ֨גַע׀</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_6_3">בְּאַפּוֹ֮</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_30_6_4">חַיִּ֪ים</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_30_6_5">בִּרְצ֫וֹנ֥וֹ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_30_6_6">בָּ֭עֶרֶב</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_30_6_7">יָלִ֥ין</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_30_6_8">בֶּ֗כִי</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_30_6_9">וְלַבֹּ֥קֶר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_30_6_10">רִנָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4259">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805306459" data-exlnk="0" id="M_30_7_1">וַ֭אֲנִי</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_7_2">אָמַ֣רְתִּי</span>
<span class="mila" data-lnk="3221225745" data-exlnk="0" id="M_30_7_3">בְשַׁלְוִ֑י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_30_7_4">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4264">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_30_7_5">אֶמּ֥וֹט</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_7_6">לְעוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4267">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_8" data-pasuk-now="9"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_30_8_1">יְֽהוָ֗ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_30_8_2">בִּרְצוֹנְךָ֮</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_30_8_3">הֶעֱמַ֪דְתָּה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_30_8_4">לְֽהַרְרִ֫י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_30_8_5">עֹ֥ז</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_30_8_6">הִסְתַּ֥רְתָּ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_30_8_7">פָנֶ֗יךָ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_30_8_8">הָיִ֥יתִי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_30_8_9">נִבְהָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4277">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_30_9_1">אֵלֶ֣יךָ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_30_9_2">יְהוָ֣ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_9_3">אֶקְרָ֑א</span>
<span class="mila" data-lnk="3221225744" data-exlnk="0" id="M_30_9_4">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4282">־</span><span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_30_9_5">אֲ֝דנָ֗י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_30_9_6">אֶתְחַנָּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4285">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3489661305" data-exlnk="0" id="M_30_10_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4287">־</span><span class="mila" data-lnk="4026532217" data-exlnk="0" id="M_30_10_2">בֶּ֥צַע</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_30_10_3">בְּדָמִי֮</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_10_4">בְּרִדְתִּ֪י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_10_5">אֶ֫ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_30_10_6">שָׁ֥חַת</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_30_10_7">הֲיוֹדְךָ֥</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_30_10_8">עָפָ֑ר</span>
<span class="mila" data-lnk="3221225784" data-exlnk="0" id="M_30_10_9">הֲיַגִּ֥יד</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_30_10_10">אֲמִתֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4297">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_30_11_1">שְׁמַע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4299">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_30_11_2">יְהוָ֥ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_30_11_3">וְחָנֵּ֑נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_30_11_4">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_11_5">הֱֽיֵה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4304">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_30_11_6">עֹזֵ֥ר</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_11_7">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4307">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_30_12_1">הָפַ֣כְתָּ</span>
<span class="mila" data-lnk="3221225769" data-exlnk="0" id="M_30_12_2">מִסְפְּדִי֮</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_30_12_3">לְמָח֪וֹל</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_30_12_4">לִ֥י</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_30_12_5">פִּתַּ֥חְתָּ</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_30_12_6">שַׂקִּ֑י</span>
<span class="mila" data-lnk="4026532170" data-exlnk="0" id="M_30_12_7">וַֽתְּאַזְּרֵ֥נִי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_30_12_8">שִׂמְחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4316">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_30_13" data-pasuk-now="9"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_30_13_1">לְמַ֤עַן׀</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_30_13_2">יְזַמֶּרְךָ֣</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_30_13_3">כָ֭בוֹד</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_30_13_4">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_30_13_5">יִדֹּ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_13_6">יְהוָ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_30_13_7">אֱ֝לֹהַ֗י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_30_13_8">לְעוֹלָ֥ם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_30_13_9">אוֹדֶֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4327">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4328"> פ </span>
</span>
<br /></p>