<p id="PR_112" data-perek-now="79" data-perek-nops="10"><span class="perek-header">פרק קיב</span>
<br /><span id="PS_112_1" data-pasuk-now="10"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_112_1_1">הַ֥לֲלוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="19536">יָ֨הּ׀</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="M_112_1_2"> פ </span>
<br /><span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_112_1_3">אַשְׁרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19540">־</span><span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_112_1_4">אִ֭ישׁ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_1_5">יָרֵ֣א</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_1_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19544">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_112_1_7">יְהוָ֑ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_1_8">בְּ֝מִצְוֺתָ֗יו</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_1_9">חָפֵ֥ץ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_1_10">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19549">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_112_2_1">גִּבּ֣וֹר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_2_2">בָּ֭אָרֶץ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_2_3">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_112_2_4">זַרְע֑וֹ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_112_2_5">דּ֖וֹר</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_112_2_6">יְשָׁרִ֣ים</span>
<span class="mila" data-lnk="4026532217" data-exlnk="0" id="M_112_2_7">יְבֹרָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19557">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_3_1">הוֹן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19559">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_112_3_2">וָעֹ֥שֶׁר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_3_3">בְּבֵית֑וֹ</span>
<span class="mila" data-lnk="4026532170" data-exlnk="0" id="M_112_3_4">וְ֝צִדְקָת֗וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_3_5">עֹמֶ֥דֶת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_3_6">לָעַֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19565">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_112_4_1">זָ֮רַ֤ח</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_112_4_2">בַּחֹ֣שֶׁךְ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_112_4_3">א֭וֹר</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_112_4_4">לַיְשָׁרִ֑ים</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_112_4_5">חַנּ֖וּן</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_112_4_6">וְרַח֣וּם</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_112_4_7">וְצַדִּֽיק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19573">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_5" data-pasuk-now="7"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_112_5_1">טֽוֹב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19575">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_112_5_2">אִ֭ישׁ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_112_5_3">חוֹנֵ֣ן</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_112_5_4">וּמַלְוֶ֑ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_112_5_5">יְכַלְכֵּ֖ל</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_112_5_6">דְּבָרָ֣יו</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_112_5_7">בְּמִשְׁפָּֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19582">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_112_6_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19584">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_112_6_2">לְעוֹלָ֥ם</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_112_6_3">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19587">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_112_6_4">יִמּ֑וֹט</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_6_5">לְזֵ֥כֶר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_6_6">ע֝וֹלָ֗ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_112_6_7">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_112_6_8">צַדִּֽיק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19593">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_7_1">מִשְּׁמוּעָ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_7_2">רָ֭עָה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_7_3">לֹ֣א</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_7_4">יִירָ֑א</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_112_7_5">נָכ֥וֹן</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_112_7_6">לִ֝בּ֗וֹ</span>
<span class="mila" data-lnk="4026532314" data-exlnk="0" id="M_112_7_7">בָּטֻ֥חַ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_7_8">בַּיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19602">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_112_8_1">סָמ֣וּךְ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_112_8_2">לִ֭בּוֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_112_8_3">לֹ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_112_8_4">יִירָ֑א</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_8_5">עַ֖ד</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_8_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19609">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_112_8_7">יִרְאֶ֣ה</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_112_8_8">בְצָרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19612">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_9" data-pasuk-now="9"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_112_9_1">פִּזַּ֤ר׀</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_112_9_2">נָ֮תַ֤ן</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_112_9_3">לָאֶבְיוֹנִ֗ים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_9_4">צִ֭דְקָתוֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_9_5">עֹמֶ֣דֶת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_9_6">לָעַ֑ד</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_9_7">קַ֝רְנ֗וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_9_8">תָּר֥וּם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_9_9">בְּכָבֽוֹד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19622">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_112_10" data-pasuk-now="9"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_112_10_1">רָ֮שָׁ֤ע</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_112_10_2">יִרְאֶ֨ה׀</span>
<span class="mila" data-lnk="4026532193" data-exlnk="0" id="M_112_10_3">וְכָעָ֗ס</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_10_4">שִׁנָּ֣יו</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_112_10_5">יַחֲרֹ֣ק</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_112_10_6">וְנָמָ֑ס</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_112_10_7">תַּאֲוַ֖ת</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_112_10_8">רְשָׁעִ֣ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_112_10_9">תֹּאבֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19633">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="19634"> פ </span>
</span>
<br /></p>