<p id="PR_115" data-perek-now="135" data-perek-nops="18"><span class="perek-header">פרק קטו</span>
<br /><span id="PS_115_1" data-pasuk-now="13"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_115_1_1">לֹ֤א</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_115_1_2">לָ֥נוּ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_1_3">יְהוָ֗ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_115_1_4">לֹ֫א</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19789">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_115_1_5">לָ֥נוּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_115_1_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19792">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_115_1_7">לְ֭שִׁמְךָ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_115_1_8">תֵּ֣ן</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_115_1_9">כָּב֑וֹד</span>
<span class="mila" data-lnk="3489661400" data-exlnk="0" id="M_115_1_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19797">־</span><span class="mila" data-lnk="1342177754" data-exlnk="0" id="M_115_1_11">חַ֝סְדְּךָ֗</span>
<span class="mila" data-lnk="1342177752" data-exlnk="0" id="M_115_1_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19800">־</span><span class="mila" data-lnk="3758096856" data-exlnk="0" id="M_115_1_13">אֲמִתֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19802">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_2" data-pasuk-now="6"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_2_1">לָ֭מָּה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_115_2_2">יֹאמְר֣וּ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_115_2_3">הַגּוֹיִ֑ם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_115_2_4">אַיֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19807">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_115_2_5">נָ֝א</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_115_2_6">אֱלֹהֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19810">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_3_1">וֵאלֹהֵ֥ינוּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_3_2">בַשָּׁמָ֑יִם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_3_3">כֹּ֖ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_3_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19815">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_115_3_5">חָפֵ֣ץ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_3_6">עָשָֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19818">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_4" data-pasuk-now="6"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_115_4_1">עֲֽ֭צַבֵּיהֶם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_4_2">כֶּ֣סֶף</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_4_3">וְזָהָ֑ב</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_115_4_4">מַ֝עֲשֵׂ֗ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_115_4_5">יְדֵ֣י</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_115_4_6">אָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19825">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_5_1">פֶּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19827">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_115_5_2">לָ֭הֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_5_3">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_5_4">יְדַבֵּ֑רוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_5_5">עֵינַ֥יִם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_5_6">לָ֝הֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_5_7">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_5_8">יִרְאֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19835">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_115_6_1">אָזְנַ֣יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_6_2">לָ֭הֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_6_3">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_6_4">יִשְׁמָ֑עוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_6_5">אַ֥ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_6_6">לָ֝הֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_6_7">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_115_6_8">יְרִיחֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19844">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_115_7_1">יְדֵיהֶ֤ם׀</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_115_7_2">וְלֹ֬א</span>
<span class="mila" data-lnk="3221225745" data-exlnk="0" id="M_115_7_3">יְמִישׁ֗וּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_7_4">רַ֭גְלֵיהֶם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_7_5">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_7_6">יְהַלֵּ֑כוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_7_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19852">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_115_7_8">יֶ֝הְגּ֗וּ</span>
<span class="mila" data-lnk="4026532160" data-exlnk="0" id="M_115_7_9">בִּגְרוֹנָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19855">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_8" data-pasuk-now="7"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_115_8_1">כְּ֭מוֹהֶם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_8_2">יִהְי֣וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_8_3">עֹשֵׂיהֶ֑ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_8_4">כֹּ֖ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_115_8_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19861">־</span><span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_115_8_6">בֹּטֵ֣חַ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_8_7">בָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19864">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_9_1">יִ֭שְׂרָאֵל</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_9_2">בְּטַ֣ח</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_9_3">בַּיהוָ֑ה</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_9_4">עֶזְרָ֖ם</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_9_5">וּמָגִנָּ֣ם</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_115_9_6">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19871">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_10" data-pasuk-now="7"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_10_1">בֵּ֣ית</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_10_2">אַ֭הֲרֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_10_3">בִּטְח֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_10_4">בַיהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_10_5">עֶזְרָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_10_6">וּמָגִנָּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_10_7">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19879">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_115_11_1">יִרְאֵ֣י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_115_11_2">יְ֭הוָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_11_3">בִּטְח֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_11_4">בַיהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_11_5">עֶזְרָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_11_6">וּמָגִנָּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_11_7">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19887">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_12_1">יְהוָה֮</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_115_12_2">זְכָרָ֪נוּ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_12_3">יְבָ֫רֵ֥ךְ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_12_4">יְ֭בָרֵךְ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_12_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19893">־</span><span class="mila" data-lnk="268435576" data-exlnk="0" id="M_115_12_6">בֵּ֣ית</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_115_12_7">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_115_12_8">יְ֝בָרֵ֗ךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_12_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19898">־</span><span class="mila" data-lnk="18" data-exlnk="0" id="M_115_12_10">בֵּ֥ית</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_115_12_11">אַהֲרֹֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19901">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_13" data-pasuk-now="6"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_115_13_1">יְ֭בָרֵךְ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_13_2">יִרְאֵ֣י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_13_3">יְהוָ֑ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_13_4">הַ֝קְּטַנִּ֗ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_115_13_5">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19907">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_115_13_6">הַגְּדֹלִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19909">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_14" data-pasuk-now="6"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026532314" data-exlnk="0" id="M_115_14_1">יֹסֵ֣ף</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_14_2">יְהוָ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_14_3">עֲלֵיכֶ֑ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_14_4">עֲ֝לֵיכֶ֗ם</span>
<span class="mila" data-lnk="1073742104" data-exlnk="0" id="M_115_14_5">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19915">־</span><span class="mila" data-lnk="2147483928" data-exlnk="0" id="M_115_14_6">בְּנֵיכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19917">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_115_15_1">בְּרוּכִ֣ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_15_2">אַ֭תֶּם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_15_3">לַיהוָ֑ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_115_15_4">עֹ֝שֵׂ֗ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_115_15_5">שָׁמַ֥יִם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_115_15_6">וָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19924">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_16_1">הַשָּׁמַ֣יִם</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_16_2">שָׁ֭מַיִם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_16_3">לַיהוָ֑ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_16_4">וְ֝הָאָ֗רֶץ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_16_5">נָתַ֥ן</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_16_6">לִבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19931">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_115_16_7">אָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19933">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_17_1">לֹ֣א</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_115_17_2">הַ֭מֵּתִים</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_115_17_3">יְהַֽלְלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19937">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_115_17_4">יָ֑הּ</span>
<span class="mila" data-lnk="1073742104" data-exlnk="0" id="M_115_17_5">וְ֝לֹ֗א</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_115_17_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19941">־</span><span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_115_17_7">יֹרְדֵ֥י</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_115_17_8">דוּמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19944">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_115_18" data-pasuk-now="8"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_115_18_1">וַאֲנַ֤חְנוּ׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_18_2">נְבָ֮רֵ֤ךְ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_115_18_3">יָ֗הּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_115_18_4">מֵעַתָּ֥ה</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_115_18_5">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19950">־</span><span class="mila" data-lnk="2952790360" data-exlnk="0" id="M_115_18_6">עוֹלָ֗ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_115_18_7">הַֽלֲלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19953">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_115_18_8">יָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="19956">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="19957"> פ </span>
</span>
<br /></p>