<p id="PR_150" data-perek-now="37" data-perek-nops="6"><span class="perek-header">פרק קנ</span>
<br /><span id="PS_150_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="805306490" data-exlnk="0" id="M_150_1_1">הַ֥לֲלוּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="25162">יָ֨הּ׀</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="M_150_1_2"> פ </span>
<br /><span class="mila" data-lnk="58" data-exlnk="0" id="M_150_1_3">הַֽלֲלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25166">־</span><span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_150_1_4">אֵ֥ל</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_150_1_5">בְּקָדְשׁ֑וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_150_1_6">הַֽ֝לֲל֗וּהוּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_150_1_7">בִּרְקִ֥יעַ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_150_1_8">עֻזּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25172">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_150_2" data-pasuk-now="5"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_150_2_1">הַלֲל֥וּהוּ</span>
<span class="mila" data-lnk="4026532314" data-exlnk="0" id="M_150_2_2">בִגְבוּרֹתָ֑יו</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_150_2_3">הַ֝לֲל֗וּהוּ</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_150_2_4">כְּרֹ֣ב</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_150_2_5">גֻּדְלֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25178">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_150_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_150_3_1">הַ֭לֲלוּהוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_150_3_2">בְּתֵ֣קַע</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_150_3_3">שׁוֹפָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_150_3_4">הַ֝לֲל֗וּהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_150_3_5">בְּנֵ֣בֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_150_3_6">וְכִנּֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25185">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_150_4" data-pasuk-now="6"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_150_4_1">הַ֭לֲלוּהוּ</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_150_4_2">בְּתֹ֣ף</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_150_4_3">וּמָח֑וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_150_4_4">הַֽ֝לֲל֗וּהוּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_150_4_5">בְּמִנִּ֥ים</span>
<span class="mila" data-lnk="4026532161" data-exlnk="0" id="M_150_4_6">וְעֻגָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25192">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_150_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_150_5_1">הַלֲל֥וּהוּ</span>
<span class="mila" data-lnk="4026532217" data-exlnk="0" id="M_150_5_2">בְצִלְצְלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25195">־</span><span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_150_5_3">שָׁ֑מַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_150_5_4">הַֽ֝לֲל֗וּהוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_150_5_5">בְּֽצִלְצְלֵ֥י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_150_5_6">תְרוּעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25200">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_150_6" data-pasuk-now="6"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_150_6_1">כֹּ֣ל</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_150_6_2">הַ֭נְּשָׁמָה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_150_6_3">תְּהַלֵּ֥ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_150_6_4">יָ֗הּ</span>
<span class="mila" data-lnk="268435528" data-exlnk="0" id="M_150_6_5">הַֽלֲלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25206">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_150_6_6">יָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25208">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>