<p id="PR_130" data-perek-now="54" data-perek-nops="8"><span class="perek-header">פרק קל</span>
<br /><span id="PS_130_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_130_1_1">שִׁ֥יר</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="22518">הַֽמַּעֲל֑וֹת</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="M_130_1_2"> פ </span>
<br /><span class="mila" data-lnk="50" data-exlnk="0" id="M_130_1_3">מִמַּעֲמַקִּ֖ים</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_130_1_4">קְרָאתִ֣יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_130_1_5">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22524">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_130_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="805306442" data-exlnk="0" id="M_130_2_1">אֲדנָי֮</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_130_2_2">שִׁמְעָ֪ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_130_2_3">בְק֫וֹלִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_130_2_4">תִּהְיֶ֣ינָה</span>
<span class="mila" data-lnk="4026532288" data-exlnk="0" id="M_130_2_5">אָ֭זְנֶיךָ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_130_2_6">קַשֻּׁב֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_130_2_7">לְ֝ק֗וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_130_2_8">תַּחֲנוּנָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22533">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_130_3" data-pasuk-now="7"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_130_3_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22535">־</span><span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_130_3_2">עֲוֺנ֥וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_130_3_3">תִּשְׁמָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22538">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_130_3_4">יָ֑הּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="M_130_3_5">אֲ֝דנָ֗י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_130_3_6">מִ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_130_3_7">יַעֲמֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22543">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_130_4" data-pasuk-now="5"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_130_4_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22545">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_130_4_2">עִמְּךָ֥</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_130_4_3">הַסְּלִיחָ֑ה</span>
<span class="mila" data-lnk="49" data-exlnk="0" id="M_130_4_4">לְ֝מַ֗עַן</span>
<span class="mila" data-lnk="3221225777" data-exlnk="0" id="M_130_4_5">תִּוָּרֵֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22550">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_130_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_130_5_1">קִוִּ֣יתִי</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_130_5_2">יְ֭הוָה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_130_5_3">קִוְּתָ֣ה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_130_5_4">נַפְשִׁ֑י</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_130_5_5">וְֽלִדְבָר֥וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_130_5_6">הוֹחָֽלְתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22557">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_130_6" data-pasuk-now="6"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_130_6_1">נַפְשִׁ֥י</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_130_6_2">לַאדנָ֑י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_130_6_3">מִשֹּׁמְרִ֥ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_130_6_4">לַ֝בֹּ֗קֶר</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_130_6_5">שֹׁמְרִ֥ים</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_130_6_6">לַבֹּֽקֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22564">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_130_7" data-pasuk-now="11"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_130_7_1">יַחֵ֥ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_130_7_2">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_130_7_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22568">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_130_7_4">יְ֫הוָ֥ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_130_7_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22571">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_130_7_6">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22573">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_130_7_7">יְהוָ֥ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_130_7_8">הַחֶ֑סֶד</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_130_7_9">וְהַרְבֵּ֖ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_130_7_10">עִמּ֣וֹ</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_130_7_11">פְדֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22579">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_130_8" data-pasuk-now="6"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_130_8_1">וְ֭הוּא</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_130_8_2">יִפְדֶּ֣ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_130_8_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="22583">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_130_8_4">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_130_8_5">מִ֝כֹּ֗ל</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_130_8_6">עֲוֺנֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="22588">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="22589"> פ </span>
</span>
<br /></p>