<p id="PR_102" data-perek-now="212" data-perek-nops="29"><span class="perek-header">פרק קב</span>
<br /><span id="PS_102_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_102_1_1">תְּ֭פִלָּה</span>
<span class="mila" data-lnk="1073742139" data-exlnk="0" id="M_102_1_2">לְעָנִ֣י</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_102_1_3">כִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16949">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_102_1_4">יַעֲטֹ֑ף</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_102_1_5">וְלִפְנֵ֥י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_102_1_6">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_1_7">יִשְׁפֹּ֥ךְ</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_102_1_8">שִׂיחֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16955">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_2" data-pasuk-now="6"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_2_1">יְ֭הוָה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_2_2">שִׁמְעָ֣ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_102_2_3">תְפִלָּתִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_102_2_4">וְ֝שַׁוְעָתִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_102_2_5">אֵלֶ֥יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_102_2_6">תָבֽוֹא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16962">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_3_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16964">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_102_3_2">תַּסְתֵּ֬ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_3_3">פָּנֶ֨יךָ׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_102_3_4">מִמֶּנִּי֮</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_3_5">בְּי֪וֹם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_3_6">צַ֫ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_3_7">לִ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_102_3_8">הַטֵּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16972">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_102_3_9">אֵלַ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_102_3_10">אָזְנֶ֑ךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_3_11">בְּי֥וֹם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_3_12">אֶ֝קְרָ֗א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_102_3_13">מַהֵ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_102_3_14">עֲנֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16979">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_4_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16981">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_102_4_2">כָל֣וּ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_4_3">בְעָשָׁ֣ן</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_102_4_4">יָמָ֑י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_4_5">וְ֝עַצְמוֹתַ֗י</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_102_4_6">כְּמוֹקֵ֥ד</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_102_4_7">נִחָֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16988">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026532346" data-exlnk="0" id="M_102_5_1">הוּכָּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16990">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_102_5_2">כָעֵ֣שֶׂב</span>
<span class="mila" data-lnk="4026532202" data-exlnk="0" id="M_102_5_3">וַיִּבַ֣שׁ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_102_5_4">לִבִּ֑י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_5_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16995">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_102_5_6">שָׁ֝כַ֗חְתִּי</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_102_5_7">מֵאֲכֹ֥ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_5_8">לַחְמִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16999">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_6" data-pasuk-now="5"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_6_1">מִקּ֥וֹל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_6_2">אַנְחָתִ֑י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_102_6_3">דָּבְקָ֥ה</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_102_6_4">עַ֝צְמִ֗י</span>
<span class="mila" data-lnk="50" data-exlnk="0" id="M_102_6_5">לִבְשָׂרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17005">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026532171" data-exlnk="0" id="M_102_7_1">דָּ֭מִיתִי</span>
<span class="mila" data-lnk="3221225753" data-exlnk="0" id="M_102_7_2">לִקְאַ֣ת</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_7_3">מִדְבָּ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_102_7_4">הָ֝יִ֗יתִי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_102_7_5">כְּכ֣וֹס</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_102_7_6">חֳרָבֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17012">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_8" data-pasuk-now="6"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_102_8_1">שָׁקַ֥דְתִּי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_8_2">וָאֶהְיֶ֑ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_102_8_3">כְּ֝צִפּ֗וֹר</span>
<span class="mila" data-lnk="4026532337" data-exlnk="0" id="M_102_8_4">בּוֹדֵ֥ד</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_8_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17018">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_102_8_6">גָּֽג</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17020">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_9_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17022">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_102_9_2">הַ֭יּוֹם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_9_3">חֵרְפ֣וּנִי</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_102_9_4">אוֹיְבָ֑י</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_102_9_5">מְ֝הוֹלָלַ֗י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_102_9_6">בִּ֣י</span>
<span class="mila" data-lnk="4026532217" data-exlnk="0" id="M_102_9_7">נִשְׁבָּֽעוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17029">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_10" data-pasuk-now="7"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_102_10_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17031">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_102_10_2">אֵ֭פֶר</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_102_10_3">כַּלֶּ֣חֶם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_10_4">אָכָ֑לְתִּי</span>
<span class="mila" data-lnk="3221225882" data-exlnk="0" id="M_102_10_5">וְ֝שִׁקֻּוַ֗י</span>
<span class="mila" data-lnk="805306449" data-exlnk="0" id="M_102_10_6">בִּבְכִ֥י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_10_7">מָסָֽכְתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17038">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_11" data-pasuk-now="6"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_11_1">מִפְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17040">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_102_11_2">זַעַמְךָ֥</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_11_3">וְקִצְפֶּ֑ךָ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_102_11_4">כִּ֥י</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_102_11_5">נְ֝שָׂאתַ֗נִי</span>
<span class="mila" data-lnk="4026532344" data-exlnk="0" id="M_102_11_6">וַתַּשְׁלִיכֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17046">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_12_1">יָ֭מַי</span>
<span class="mila" data-lnk="805306491" data-exlnk="0" id="M_102_12_2">כְּצֵ֣ל</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_102_12_3">נָט֑וּי</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_102_12_4">וַ֝אֲנִ֗י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_12_5">כָּעֵ֥שֶׂב</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_12_6">אִיבָֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17053">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221225627" data-exlnk="0" id="M_102_13_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="1073741976" data-exlnk="0" id="M_102_13_2">יְ֭הוָה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_13_3">לְעוֹלָ֣ם</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_102_13_4">תֵּשֵׁ֑ב</span>
<span class="mila" data-lnk="3221225624" data-exlnk="0" id="M_102_13_5">וְ֝זִכְרְךָ֗</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_13_6">לְדֹ֣ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_13_7">וָדֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17061">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_14" data-pasuk-now="10"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="805306459" data-exlnk="0" id="M_102_14_1">אַתָּ֣ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_102_14_2">תָ֭קוּם</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_14_3">תְּרַחֵ֣ם</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_102_14_4">צִיּ֑וֹן</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_14_5">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17067">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_102_14_6">עֵ֥ת</span>
<span class="mila" data-lnk="3221225755" data-exlnk="0" id="M_102_14_7">לְ֝חֶֽנְנָ֗הּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_102_14_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17071">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_102_14_9">בָ֥א</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_102_14_10">מוֹעֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17074">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_15" data-pasuk-now="8"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_102_15_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17076">־</span><span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_102_15_2">רָצ֣וּ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_102_15_3">עֲ֭בָדֶיךָ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_102_15_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17080">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_102_15_5">אֲבָנֶ֑יהָ</span>
<span class="mila" data-lnk="1073742081" data-exlnk="0" id="M_102_15_6">וְֽאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17083">־</span><span class="mila" data-lnk="2147483931" data-exlnk="0" id="M_102_15_7">עֲפָרָ֥הּ</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_102_15_8">יְחֹנֵֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17086">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_16" data-pasuk-now="10"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_102_16_1">וְיִֽירְא֣וּ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_102_16_2">ג֭וֹיִם</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_102_16_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17090">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_102_16_4">שֵׁ֣ם</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_102_16_5">יְהוָ֑ה</span>
<span class="mila" data-lnk="1342177640" data-exlnk="0" id="M_102_16_6">וְֽכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17094">־</span><span class="mila" data-lnk="4026532200" data-exlnk="0" id="M_102_16_7">מַלְכֵ֥י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_102_16_8">הָ֝אָ֗רֶץ</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_102_16_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17098">־</span><span class="mila" data-lnk="42" data-exlnk="0" id="M_102_16_10">כְּבוֹדֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17100">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_17" data-pasuk-now="6"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_102_17_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17102">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_102_17_2">בָנָ֣ה</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_102_17_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_17_4">צִיּ֑וֹן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_17_5">נִ֝רְאָ֗ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_102_17_6">בִּכְבוֹדֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17108">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_18" data-pasuk-now="8"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_18_1">פָּ֭נָה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_102_18_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17111">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_102_18_3">תְּפִלַּ֣ת</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_102_18_4">הָעַרְעָ֑ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_102_18_5">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17115">־</span><span class="mila" data-lnk="4026532168" data-exlnk="0" id="M_102_18_6">בָ֝זָ֗ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_102_18_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17118">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_102_18_8">תְּפִלָּתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17120">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_102_19_1">תִּכָּ֣תֶב</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_102_19_2">זֹ֭את</span>
<span class="mila" data-lnk="1342177657" data-exlnk="0" id="M_102_19_3">לְד֣וֹר</span>
<span class="mila" data-lnk="3758096761" data-exlnk="0" id="M_102_19_4">אַחֲר֑וֹן</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_19_5">וְעַ֥ם</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_19_6">נִ֝בְרָ֗א</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_102_19_7">יְהַלֶּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17128">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_102_19_8">יָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17130">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_20" data-pasuk-now="9"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_20_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17132">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_102_20_2">הִ֭שְׁקִיף</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_20_3">מִמְּר֣וֹם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_20_4">קָדְשׁ֑וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_20_5">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_20_6">מִשָּׁמַ֤יִם׀</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_20_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17139">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_102_20_8">אֶ֬רֶץ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_20_9">הִבִּֽיט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17142">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_21_1">לִ֭שְׁמֹעַ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_102_21_2">אֶנְקַ֣ת</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_102_21_3">אָסִ֑יר</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_102_21_4">לְ֝פַתֵּ֗חַ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_21_5">בְּנֵ֣י</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_102_21_6">תְמוּתָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17149">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_22" data-pasuk-now="6"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_22_1">לְסַפֵּ֣ר</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_102_22_2">בְּ֭צִיּוֹן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_22_3">שֵׁ֣ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_22_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_102_22_5">וּ֝תְהִלָּת֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_102_22_6">בִּירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17156">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_23" data-pasuk-now="7"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_102_23_1">בְּהִקָּבֵ֣ץ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_23_2">עַמִּ֣ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_23_3">יַחְדָּ֑ו</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_23_4">וּ֝מַמְלָכ֗וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_102_23_5">לַעֲבֹ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_102_23_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17163">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_102_23_7">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17165">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_24" data-pasuk-now="5"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_102_24_1">עִנָּ֖ה</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_102_24_2">בַדֶּ֥רֶךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_102_24_3" class="mila ktiv">כֹּחִ֗ו</span>
<span data-lnk="3221225769" data-exlnk="0" id="M_102_24_3_K" class="mila kri">כֹּחִ֗י</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_102_24_4">קִצַּ֥ר</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_102_24_5">יָמָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17172">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_102_25_1">אֹמַ֗ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_102_25_2">אֵלִ֗י</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_102_25_3">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17176">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_102_25_4">תַּ֭עֲלֵנִי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_102_25_5">בַּחֲצִ֣י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_102_25_6">יָמָ֑י</span>
<span class="mila" data-lnk="3489661275" data-exlnk="0" id="M_102_25_7">בְּד֖וֹר</span>
<span class="mila" data-lnk="3758096731" data-exlnk="0" id="M_102_25_8">דּוֹרִ֣ים</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_25_9">שְׁנוֹתֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17183">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_26" data-pasuk-now="6"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_102_26_1">לְ֭פָנִים</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_26_2">הָאָ֣רֶץ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_26_3">יָסַ֑דְתָּ</span>
<span class="mila" data-lnk="4026532162" data-exlnk="0" id="M_102_26_4">וּֽמַעֲשֵׂ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_102_26_5">יָדֶ֣יךָ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_26_6">שָׁמָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17190">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_27" data-pasuk-now="10"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_102_27_1">הֵ֤מָּה׀</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_27_2">יֹאבֵדוּ֮</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_27_3">וְאַתָּ֪ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_27_4">תַ֫עֲמֹ֥ד</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_102_27_5">וְ֭כֻלָּם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_27_6">כַּבֶּ֣גֶד</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_27_7">יִבְל֑וּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_102_27_8">כַּלְּב֖וּשׁ</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_102_27_9">תַּחֲלִיפֵ֣ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_102_27_10">וְֽיַחֲלֹֽפוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17201">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_28" data-pasuk-now="5"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="4026532315" data-exlnk="0" id="M_102_28_1">וְאַתָּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17203">־</span><span class="mila" data-lnk="4026532315" data-exlnk="0" id="M_102_28_2">ה֑וּא</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_28_3">וּ֝שְׁנוֹתֶ֗יךָ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_28_4">לֹ֣א</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_102_28_5">יִתָּֽמּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17208">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_102_29" data-pasuk-now="6"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_102_29_1">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="17210">־</span><span class="mila" data-lnk="56" data-exlnk="0" id="M_102_29_2">עֲבָדֶ֥יךָ</span>
<span class="mila" data-lnk="4026532312" data-exlnk="0" id="M_102_29_3">יִשְׁכּ֑וֹנוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_29_4">וְ֝זַרְעָ֗ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_29_5">לְפָנֶ֥יךָ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_102_29_6">יִכּֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17217">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="17218"> פ </span>
</span>
<br /></p>