<p id="PR_140" data-perek-now="116" data-perek-nops="14"><span class="perek-header">פרק קמ</span>
<br /><span id="PS_140_1" data-pasuk-now="3"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="805306490" data-exlnk="0" id="M_140_1_1">לַמְנַצֵּ֗חַ</span>
<span class="mila" data-lnk="268435578" data-exlnk="0" id="M_140_1_2">מִזְמ֥וֹר</span>
<span class="mila" data-lnk="805306490" data-exlnk="0" id="M_140_1_3">לְדָוִֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23765">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="23766"> פ </span>
</span>
<br /><span id="PS_140_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221225784" data-exlnk="0" id="M_140_2_1">חַלְּצֵ֣נִי</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_140_2_2">יְ֭הוָה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_140_2_3">מֵאָדָ֣ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_2_4">רָ֑ע</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_2_5">מֵאִ֖ישׁ</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_140_2_6">חֲמָסִ֣ים</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_140_2_7">תִּנְצְרֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23774">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_140_3_1">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_140_3_2">חָשְׁב֣וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_140_3_3">רָע֣וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_140_3_4">בְּלֵ֑ב</span>
<span class="mila" data-lnk="1073742104" data-exlnk="0" id="M_140_3_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23780">־</span><span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_140_3_6">י֝וֹם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_3_7">יָג֥וּרוּ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_3_8">מִלְחָמֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23784">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_140_4_1">שָׁ֥נֲנ֣וּ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_140_4_2">לְשׁוֹנָם֮</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_140_4_3">כְּֽמוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23788">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_140_4_4">נָ֫חָ֥שׁ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_4_5">חֲמַ֥ת</span>
<span class="mila" data-lnk="3221225785" data-exlnk="0" id="M_140_4_6">עַכְשׁ֑וּב</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_140_4_7">תַּ֖חַת</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_140_4_8">שְׂפָתֵ֣ימוֹ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_140_4_9">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23795">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_140_5_1">שָׁמְרֵ֤נִי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_5_2">יְהוָ֨ה׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_5_3">מִ֮ידֵ֤י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_5_4">רָשָׁ֗ע</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_5_5">מֵאִ֣ישׁ</span>
<span class="mila" data-lnk="805306448" data-exlnk="0" id="M_140_5_6">חֲמָסִ֣ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_5_7">תִּנְצְרֵ֑נִי</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_140_5_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_140_5_9">חָ֝שְׁב֗וּ</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_140_5_10">לִדְח֥וֹת</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_140_5_11">פְּעָמָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23807">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_6" data-pasuk-now="13"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="805306458" data-exlnk="0" id="M_140_6_1">טָ֥מְנֽוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23809">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_140_6_2">גֵאִ֨ים׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_6_3">פַּ֡ח</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_6_4">לִ֗י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_140_6_5">וַחֲבָלִ֗ים</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_140_6_6">פָּ֣רְשׂוּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_140_6_7">רֶ֭שֶׁת</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_6_8">לְיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23817">־</span><span class="mila" data-lnk="43" data-exlnk="0" id="M_140_6_9">מַעְגָּ֑ל</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_140_6_10">מֹקְשִׁ֖ים</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_140_6_11">שָׁתוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23821">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_140_6_12">לִ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_6_13">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23824">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_140_7_1">אָמַ֣רְתִּי</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_140_7_2">לַ֭יהוָה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_140_7_3">אֵ֣לִי</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_140_7_4">אָ֑תָּה</span>
<span class="mila" data-lnk="805306448" data-exlnk="0" id="M_140_7_5">הַאֲזִ֥ינָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_140_7_6">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_7_7">ק֣וֹל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_140_7_8">תַּחֲנוּנָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23833">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1342177626" data-exlnk="0" id="M_140_8_1">יְהֹוִ֣ה</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_140_8_2">אֲ֭דנָי</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_140_8_3">עֹ֣ז</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_140_8_4">יְשׁוּעָתִ֑י</span>
<span class="mila" data-lnk="4026532346" data-exlnk="0" id="M_140_8_5">סַכֹּ֥תָה</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_140_8_6">לְ֝רֹאשִׁ֗י</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_140_8_7">בְּי֣וֹם</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_140_8_8">נָֽשֶׁק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23842">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_140_9_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23844">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_140_9_2">תִּתֵּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_140_9_3">יְ֭הוָה</span>
<span class="mila" data-lnk="3221225747" data-exlnk="0" id="M_140_9_4">מַאֲוַיֵּ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_140_9_5">רָשָׁ֑ע</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_140_9_6">זְמָמ֥וֹ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_140_9_7">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23851">־</span><span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_140_9_8">תָּ֝פֵ֗ק</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_140_9_9">יָר֥וּמוּ</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_140_9_10">סֶֽלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23855">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_10" data-pasuk-now="5"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_140_10_1">רֹ֥אשׁ</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_140_10_2">מְסִבָּ֑י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_140_10_3">עֲמַ֖ל</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_140_10_4">שְׂפָתֵ֣ימוֹ</span>
<span data-lnk="0" data-exlnk="0" id="M_140_10_5" class="mila ktiv">יְכַסֵּֽומוֹ</span>
<span data-lnk="3221225786" data-exlnk="0" id="M_140_10_5_K" class="mila kri">יְכַסֵּֽימוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23862">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span data-lnk="0" data-exlnk="0" id="M_140_11_1" class="mila ktiv">יִמֹּ֥יטוּ</span>
<span data-lnk="3221225787" data-exlnk="0" id="M_140_11_1_K" class="mila kri">יִמּ֥וֹטוּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_140_11_2">עֲלֵיהֶ֗ם</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_11_3">גֶּחָ֫לִ֥ים</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_140_11_4">בָּאֵ֥שׁ</span>
<span class="mila" data-lnk="4026532217" data-exlnk="0" id="M_140_11_5">יַפִּלֵ֑ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_140_11_6">בְּ֝מַהֲמֹר֗וֹת</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_140_11_7">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23871">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_140_11_8">יָקֽוּמוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23873">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_140_12_1">אִ֥ישׁ</span>
<span class="mila" data-lnk="805306457" data-exlnk="0" id="M_140_12_2">לָשׁוֹן֮</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_140_12_3">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23877">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_140_12_4">יִכּ֪וֹן</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_140_12_5">בָּ֫אָ֥רֶץ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_140_12_6">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23881">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_140_12_7">חָמָ֥ס</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_140_12_8">רָ֑ע</span>
<span class="mila" data-lnk="43" data-exlnk="0" id="M_140_12_9">יְ֝צוּדֶ֗נּוּ</span>
<span class="mila" data-lnk="3221225786" data-exlnk="0" id="M_140_12_10">לְמַדְחֵפֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23886">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span data-lnk="0" data-exlnk="0" id="M_140_13_1" class="mila ktiv">יָדַ֗עְתִּ</span>
<span data-lnk="3221225787" data-exlnk="0" id="M_140_13_1_K" class="mila kri">יָדַ֗עְתִּי</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_13_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23890">־</span><span class="mila" data-lnk="27" data-exlnk="0" id="M_140_13_3">יַעֲשֶׂ֣ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_140_13_4">יְ֭הוָה</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_13_5">דִּ֣ין</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_13_6">עָנִ֑י</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_140_13_7">מִ֝שְׁפַּ֗ט</span>
<span class="mila" data-lnk="4026532218" data-exlnk="0" id="M_140_13_8">אֶבְיֹנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23897">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_140_14" data-pasuk-now="8"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_140_14_1">אַ֣ךְ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_14_2">צַ֭דִּיקִים</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_140_14_3">יוֹד֣וּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_140_14_4">לִשְׁמֶ֑ךָ</span>
<span class="mila" data-lnk="805306488" data-exlnk="0" id="M_140_14_5">יֵשְׁב֥וּ</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_140_14_6">יְ֝שָׁרִ֗ים</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_140_14_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23905">־</span><span class="mila" data-lnk="58" data-exlnk="0" id="M_140_14_8">פָּנֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="23908">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="23909"> פ </span>
</span>
<br /></p>