<p id="PR_149" data-perek-now="63" data-perek-nops="9"><span class="perek-header">פרק קמט</span>
<br /><span id="PS_149_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="805306490" data-exlnk="0" id="M_149_1_1">הַ֥לֲלוּ</span>
<span class="mila" data-lnk="805306432" data-exlnk="0" id="25080">יָ֨הּ׀</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="M_149_1_2"> פ </span>
<br /><span class="mila" data-lnk="58" data-exlnk="0" id="M_149_1_3">שִׁ֣ירוּ</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_149_1_4">לַֽ֭יהוָה</span>
<span class="mila" data-lnk="268435578" data-exlnk="0" id="M_149_1_5">שִׁ֣יר</span>
<span class="mila" data-lnk="805306490" data-exlnk="0" id="M_149_1_6">חָדָ֑שׁ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_1_7">תְּ֝הִלָּת֗וֹ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_1_8">בִּקְהַ֥ל</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_1_9">חֲסִידִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25090">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_149_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_2_1">יִשְׂמַ֣ח</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_2_2">יִשְׂרָאֵ֣ל</span>
<span class="mila" data-lnk="58" data-exlnk="0" id="M_149_2_3">בְּעֹשָׂ֑יו</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_2_4">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25095">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_149_2_5">צִ֝יּ֗וֹן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_2_6">יָגִ֥ילוּ</span>
<span class="mila" data-lnk="4026532176" data-exlnk="0" id="M_149_2_7">בְמַלְכָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25099">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_149_3" data-pasuk-now="7"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_3_1">יְהַלֲל֣וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_3_2">שְׁמ֣וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_3_3">בְמָח֑וֹל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_3_4">בְּתֹ֥ף</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_3_5">וְ֝כִנּ֗וֹר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_3_6">יְזַמְּרוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25106">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_149_3_7">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25108">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_149_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_4_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25110">־</span><span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_149_4_2">רוֹצֶ֣ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_4_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_149_4_4">בְּעַמּ֑וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_4_5">יְפָאֵ֥ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_4_6">עֲ֝נָוִ֗ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_4_7">בִּישׁוּעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25117">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_149_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_5_1">יַעְלְז֣וּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_5_2">חֲסִידִ֣ים</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_149_5_3">בְּכָב֑וֹד</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_5_4">יְ֝רַנְּנ֗וּ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_5_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25123">־</span><span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_149_5_6">מִשְׁכְּבוֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25125">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_149_6" data-pasuk-now="6"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3221225787" data-exlnk="0" id="M_149_6_1">רוֹמֲמ֣וֹת</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_149_6_2">אֵ֭ל</span>
<span class="mila" data-lnk="4026532219" data-exlnk="0" id="M_149_6_3">בִּגְרוֹנָ֑ם</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_149_6_4">וְחֶ֖רֶב</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_149_6_5">פִּיפִיּ֣וֹת</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_149_6_6">בְּיָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25132">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_149_7" data-pasuk-now="5"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_7_1">לַעֲשׂ֣וֹת</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_7_2">נְ֭קָמָה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_149_7_3">בַּגּוֹיִ֑ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_7_4">תּ֝וֹכֵח֗וֹת</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_149_7_5">בַּלְאֻמִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25138">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_149_8" data-pasuk-now="6"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_8_1">לֶאְסֹ֣ר</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_8_2">מַלְכֵיהֶ֣ם</span>
<span class="mila" data-lnk="3221225753" data-exlnk="0" id="M_149_8_3">בְּזִקִּ֑ים</span>
<span class="mila" data-lnk="3221225752" data-exlnk="0" id="M_149_8_4">וְ֝נִכְבְּדֵיהֶ֗ם</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_8_5">בְּכַבְלֵ֥י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_8_6">בַרְזֶֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25145">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_149_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_9_1">לַעֲשׂ֤וֹת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_9_2">בָּהֶ֨ם׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_149_9_3">מִשְׁפָּ֬ט</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_149_9_4">כָּת֗וּב</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_9_5">הָדָ֣ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_149_9_6">ה֭וּא</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_149_9_7">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25153">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_149_9_8">חֲסִידָ֗יו</span>
<span class="mila" data-lnk="805306456" data-exlnk="0" id="M_149_9_9">הַֽלֲלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25156">־</span><span class="mila" data-lnk="805306432" data-exlnk="0" id="M_149_9_10">יָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="25159">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="25160"> פ </span>
</span>
<br /></p>