<p id="PR_101" data-perek-now="83" data-perek-nops="8"><span class="perek-header">פרק קא</span>
<br /><span id="PS_101_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1342177786" data-exlnk="0" id="M_101_1_1">לְדָוִ֗ד</span>
<span class="mila" data-lnk="3758096890" data-exlnk="0" id="16838">מִ֫זְמ֥וֹר</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_101_1_2">   ס </span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_101_1_3">חֶֽסֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16842">־</span><span class="mila" data-lnk="59" data-exlnk="0" id="M_101_1_4">וּמִשְׁפָּ֥ט</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_101_1_5">אָשִׁ֑ירָה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_101_1_6">לְךָ֖</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_101_1_7">יְהוָ֣ה</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_101_1_8">אֲזַמֵּֽרָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16848">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_101_2" data-pasuk-now="11"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_101_2_1">אַשְׂכִּ֤ילָה׀</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_101_2_2">בְּדֶ֬רֶךְ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_101_2_3">תָּמִ֗ים</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_101_2_4">מָ֭תַי</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_101_2_5">תָּב֣וֹא</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_101_2_6">אֵלָ֑י</span>
<span class="mila" data-lnk="59" data-exlnk="0" id="M_101_2_7">אֶתְהַלֵּ֥ךְ</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_101_2_8">בְּתָם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16857">־</span><span class="mila" data-lnk="57" data-exlnk="0" id="M_101_2_9">לְ֝בָבִ֗י</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_101_2_10">בְּקֶ֣רֶב</span>
<span class="mila" data-lnk="57" data-exlnk="0" id="M_101_2_11">בֵּיתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16861">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_101_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_101_3_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16863">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_101_3_2">אָשִׁ֨ית׀</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_3_3">לְנֶ֥גֶד</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_3_4">עֵינַ֗י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_3_5">דְּֽבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16868">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_101_3_6">בְּלִ֫יָּ֥עַל</span>
<span class="mila" data-lnk="4026532186" data-exlnk="0" id="M_101_3_7">עֲשֹֽׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16871">־</span><span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_101_3_8">סֵטִ֥ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_3_9">שָׂנֵ֑אתִי</span>
<span class="mila" data-lnk="1073742106" data-exlnk="0" id="M_101_3_10">לֹ֖א</span>
<span class="mila" data-lnk="3221225754" data-exlnk="0" id="M_101_3_11">יִדְבַּ֣ק</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_101_3_12">בִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16877">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_101_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_101_4_1">לֵבָ֣ב</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_101_4_2">עִ֭קֵּשׁ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_4_3">יָס֣וּר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_4_4">מִמֶּ֑נִּי</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_101_4_5">רָ֝ע</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_101_4_6">לֹ֣א</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_101_4_7">אֵדָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16885">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_101_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span data-lnk="0" data-exlnk="0" id="M_101_5_1" class="mila ktiv">מְלָושְׁנִ֬י</span>
<span data-lnk="3221225786" data-exlnk="0" id="M_101_5_1_K" class="mila kri">מְלָשְׁנִ֬י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_5_2">בַסֵּ֨תֶר׀</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_5_3">רֵעֵהוּ֮</span>
<span class="mila" data-lnk="4026532185" data-exlnk="0" id="M_101_5_4">אוֹת֪וֹ</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_101_5_5">אַ֫צְמִ֥ית</span>
<span class="mila" data-lnk="4026532184" data-exlnk="0" id="M_101_5_6">גְּֽבַהּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16893">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_101_5_7">עֵ֭ינַיִם</span>
<span class="mila" data-lnk="1073742106" data-exlnk="0" id="M_101_5_8">וּרְחַ֣ב</span>
<span class="mila" data-lnk="2147483930" data-exlnk="0" id="M_101_5_9">לֵבָ֑ב</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_101_5_10">אֹ֝ת֗וֹ</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_101_5_11">לֹ֣א</span>
<span class="mila" data-lnk="27" data-exlnk="0" id="M_101_5_12">אוּכָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16900">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_101_6" data-pasuk-now="10"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_101_6_1">עֵינַ֤י׀</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_101_6_2">בְּנֶֽאֶמְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16903">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_101_6_3">אֶרֶץ֮</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_101_6_4">לָשֶׁ֪בֶת</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_101_6_5">עִמָּ֫דִ֥י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_101_6_6">הֹ֭לֵךְ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_101_6_7">בְּדֶ֣רֶךְ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_101_6_8">תָּמִ֑ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_101_6_9">ה֝וּא</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_101_6_10">יְשָׁרְתֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16912">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_101_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_101_7_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16914">־</span><span class="mila" data-lnk="26" data-exlnk="0" id="M_101_7_2">יֵשֵׁ֨ב׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_101_7_3">בְּקֶ֥רֶב</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_7_4">בֵּיתִי֮</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_7_5">עֹשֵׂ֪ה</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_101_7_6">רְמִ֫יָּ֥ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_7_7">דֹּבֵ֥ר</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_7_8">שְׁקָרִ֑ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_7_9">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16923">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_101_7_10">יִ֝כּ֗וֹן</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_7_11">לְנֶ֣גֶד</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_7_12">עֵינָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16927">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_101_8" data-pasuk-now="11"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026532187" data-exlnk="0" id="M_101_8_1">לַבְּקָרִ֗ים</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_101_8_2">אַצְמִ֥ית</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_8_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16931">־</span><span class="mila" data-lnk="25" data-exlnk="0" id="M_101_8_4">רִשְׁעֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16933">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_101_8_5">אָ֑רֶץ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_101_8_6">לְהַכְרִ֥ית</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_101_8_7">מֵעִיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16937">־</span><span class="mila" data-lnk="24" data-exlnk="0" id="M_101_8_8">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_101_8_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="16940">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_101_8_10">פֹּ֥עֲלֵי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_101_8_11">אָֽוֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16944">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="16945"> פ </span>
</span>
<br /></p>