<p id="PR_5" data-perek-now="160" data-perek-nops="23"><span class="perek-header">פרק ה</span>
<br /><span id="PS_5_1" data-pasuk-now="6"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_5_1_1">בְּ֭נִי</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_5_1_2">לְחָכְמָתִ֣י</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_5_1_3">הַקְשִׁ֑יבָה</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_5_1_4">לִ֝תְבוּנָתִ֗י</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_5_1_5">הַט</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1099">־</span><span class="mila" data-lnk="70" data-exlnk="0" id="M_5_1_6">אָזְנֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1101">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_2" data-pasuk-now="5"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="710" data-exlnk="0" id="M_5_2_1">לִשְׁמֹ֥ר</span>
<span class="mila" data-lnk="582" data-exlnk="0" id="M_5_2_2">מְזִמּ֑וֹת</span>
<span class="mila" data-lnk="4026537542" data-exlnk="0" id="M_5_2_3">וְ֝דַ֗עַת</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_5_2_4">שְׂפָתֶ֥יךָ</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_5_2_5">יִנְצֹֽרוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1107">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="743" data-exlnk="0" id="M_5_3_1">כִּ֤י</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_5_3_2">נֹ֣פֶת</span>
<span class="mila" data-lnk="4026537575" data-exlnk="0" id="M_5_3_3">תִּ֭טֹּפְנָה</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_5_3_4">שִׂפְתֵ֣י</span>
<span class="mila" data-lnk="743" data-exlnk="0" id="M_5_3_5">זָרָ֑ה</span>
<span class="mila" data-lnk="3221229671" data-exlnk="0" id="M_5_3_6">וְחָלָ֖ק</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_5_3_7">מִשֶּׁ֣מֶן</span>
<span class="mila" data-lnk="3221229671" data-exlnk="0" id="M_5_3_8">חִכָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1116">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_4" data-pasuk-now="6"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_5_4_1">וְֽ֭אַחֲרִיתָהּ</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_5_4_2">מָרָ֣ה</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_5_4_3">כַֽלַּעֲנָ֑ה</span>
<span class="mila" data-lnk="4026537062" data-exlnk="0" id="M_5_4_4">חַ֝דָּ֗ה</span>
<span class="mila" data-lnk="805307470" data-exlnk="0" id="M_5_4_5">כְּחֶ֣רֶב</span>
<span class="mila" data-lnk="3221229678" data-exlnk="0" id="M_5_4_6">פִּיּֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1123">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_5_5_1">רַ֭גְלֶיהָ</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_5_5_2">יֹרְד֣וֹת</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_5_5_3">מָ֑וֶת</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_5_5_4">שְׁ֝א֗וֹל</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_5_5_5">צְעָדֶ֥יהָ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_5_6">יִתְמֹֽכוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1130">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1023" data-exlnk="0" id="M_5_6_1">אֹ֣רַח</span>
<span class="mila" data-lnk="1023" data-exlnk="0" id="M_5_6_2">חַ֭יִּים</span>
<span class="mila" data-lnk="863" data-exlnk="0" id="M_5_6_3">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1134">־</span><span class="mila" data-lnk="895" data-exlnk="0" id="M_5_6_4">תְּפַלֵּ֑ס</span>
<span class="mila" data-lnk="999" data-exlnk="0" id="M_5_6_5">נָע֥וּ</span>
<span class="mila" data-lnk="999" data-exlnk="0" id="M_5_6_6">מַ֝עְגְּלֹתֶ֗יהָ</span>
<span class="mila" data-lnk="967" data-exlnk="0" id="M_5_6_7">לֹ֣א</span>
<span class="mila" data-lnk="867" data-exlnk="0" id="M_5_6_8">תֵדָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1141">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1142"> פ </span>
</span>
<br /><span id="PS_5_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="739" data-exlnk="0" id="M_5_7_1">וְעַתָּ֣ה</span>
<span class="mila" data-lnk="579" data-exlnk="0" id="M_5_7_2">בָ֭נִים</span>
<span class="mila" data-lnk="579" data-exlnk="0" id="M_5_7_3">שִׁמְעוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1146">־</span><span class="mila" data-lnk="579" data-exlnk="0" id="M_5_7_4">לִ֑י</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_5_7_5">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1149">־</span><span class="mila" data-lnk="65" data-exlnk="0" id="M_5_7_6">תָּ֝ס֗וּרוּ</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_5_7_7">מֵאִמְרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1152">־</span><span class="mila" data-lnk="65" data-exlnk="0" id="M_5_7_8">פִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1154">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_5_8_1">הַרְחֵ֣ק</span>
<span class="mila" data-lnk="726" data-exlnk="0" id="M_5_8_2">מֵעָלֶ֣יהָ</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_5_8_3">דַרְכֶּ֑ךָ</span>
<span class="mila" data-lnk="1073746020" data-exlnk="0" id="M_5_8_4">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1159">־</span><span class="mila" data-lnk="2147487846" data-exlnk="0" id="M_5_8_5">תִּ֝קְרַ֗ב</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_5_8_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1162">־</span><span class="mila" data-lnk="118" data-exlnk="0" id="M_5_8_7">פֶּ֥תַח</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_5_8_8">בֵּיתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1165">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_5_9_1">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1167">־</span><span class="mila" data-lnk="631" data-exlnk="0" id="M_5_9_2">תִּתֵּ֣ן</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_5_9_3">לַאֲחֵרִ֣ים</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_5_9_4">הוֹדֶ֑ךָ</span>
<span class="mila" data-lnk="3221230199" data-exlnk="0" id="M_5_9_5">וּ֝שְׁנֹתֶ֗יךָ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_5_9_6">לְאַכְזָרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_10" data-pasuk-now="7"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_5_10_1">פֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1175">־</span><span class="mila" data-lnk="615" data-exlnk="0" id="M_5_10_2">יִשְׂבְּע֣וּ</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_5_10_3">זָרִ֣ים</span>
<span class="mila" data-lnk="4026537575" data-exlnk="0" id="M_5_10_4">כֹּחֶ֑ךָ</span>
<span class="mila" data-lnk="619" data-exlnk="0" id="M_5_10_5">וַ֝עֲצָבֶ֗יךָ</span>
<span class="mila" data-lnk="589" data-exlnk="0" id="M_5_10_6">בְּבֵ֣ית</span>
<span class="mila" data-lnk="623" data-exlnk="0" id="M_5_10_7">נָכְרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1182">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_11" data-pasuk-now="5"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="3221230191" data-exlnk="0" id="M_5_11_1">וְנָהַמְתָּ֥</span>
<span class="mila" data-lnk="587" data-exlnk="0" id="M_5_11_2">בְאַחֲרִיתֶ֑ךָ</span>
<span class="mila" data-lnk="3221230144" data-exlnk="0" id="M_5_11_3">בִּכְל֥וֹת</span>
<span class="mila" data-lnk="608" data-exlnk="0" id="M_5_11_4">בְּ֝שָׂרְךָ֗</span>
<span class="mila" data-lnk="3221230176" data-exlnk="0" id="M_5_11_5">וּשְׁאֵרֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1188">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_12" data-pasuk-now="7"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_5_12_1">וְֽאָמַרְתָּ֗</span>
<span class="mila" data-lnk="582" data-exlnk="0" id="M_5_12_2">אֵ֭יךְ</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_5_12_3">שָׂנֵ֣אתִי</span>
<span class="mila" data-lnk="582" data-exlnk="0" id="M_5_12_4">מוּסָ֑ר</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_5_12_5">וְ֝תוֹכַ֗חַת</span>
<span class="mila" data-lnk="3221229666" data-exlnk="0" id="M_5_12_6">נָאַ֥ץ</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_5_12_7">לִבִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1196">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026539110" data-exlnk="0" id="M_5_13_1">וְֽלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1198">־</span><span class="mila" data-lnk="70" data-exlnk="0" id="M_5_13_2">שָׁ֭מַעְתִּי</span>
<span class="mila" data-lnk="3221229636" data-exlnk="0" id="M_5_13_3">בְּק֣וֹל</span>
<span class="mila" data-lnk="2147487844" data-exlnk="0" id="M_5_13_4">מוֹרָ֑י</span>
<span class="mila" data-lnk="3221229636" data-exlnk="0" id="M_5_13_5">וְ֝לִֽמְלַמְּדַ֗י</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_5_13_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1204">־</span><span class="mila" data-lnk="68" data-exlnk="0" id="M_5_13_7">הִטִּ֥יתִי</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_5_13_8">אָזְנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1207">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_14" data-pasuk-now="7"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_5_14_1">כִּ֭מְעַט</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_5_14_2">הָיִ֣יתִי</span>
<span class="mila" data-lnk="727" data-exlnk="0" id="M_5_14_3">בְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1211">־</span><span class="mila" data-lnk="727" data-exlnk="0" id="M_5_14_4">רָ֑ע</span>
<span class="mila" data-lnk="230" data-exlnk="0" id="M_5_14_5">בְּת֖וֹךְ</span>
<span class="mila" data-lnk="230" data-exlnk="0" id="M_5_14_6">קָהָ֣ל</span>
<span class="mila" data-lnk="230" data-exlnk="0" id="M_5_14_7">וְעֵדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1216">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_5_15_1">שְׁתֵה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1218">־</span><span class="mila" data-lnk="855" data-exlnk="0" id="M_5_15_2">מַ֥יִם</span>
<span class="mila" data-lnk="3221230423" data-exlnk="0" id="M_5_15_3">מִבּוֹרֶ֑ךָ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_5_15_4">וְ֝נֹזְלִ֗ים</span>
<span class="mila" data-lnk="853" data-exlnk="0" id="M_5_15_5">מִתּ֥וֹךְ</span>
<span class="mila" data-lnk="3221230421" data-exlnk="0" id="M_5_15_6">בְּאֵרֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1224">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_16" data-pasuk-now="6"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026537975" data-exlnk="0" id="M_5_16_1">יָפ֣וּצוּ</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_5_16_2">מַעְיְנֹתֶ֣יךָ</span>
<span class="mila" data-lnk="613" data-exlnk="0" id="M_5_16_3">ח֑וּצָה</span>
<span class="mila" data-lnk="581" data-exlnk="0" id="M_5_16_4">בָּ֝רְחֹב֗וֹת</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_5_16_5">פַּלְגֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1230">־</span><span class="mila" data-lnk="886" data-exlnk="0" id="M_5_16_6">מָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1232">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_17" data-pasuk-now="6"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_5_17_1">יִֽהְיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1234">־</span><span class="mila" data-lnk="759" data-exlnk="0" id="M_5_17_2">לְךָ֥</span>
<span class="mila" data-lnk="727" data-exlnk="0" id="M_5_17_3">לְבַדֶּ֑ךָ</span>
<span class="mila" data-lnk="534" data-exlnk="0" id="M_5_17_4">וְאֵ֖ין</span>
<span class="mila" data-lnk="726" data-exlnk="0" id="M_5_17_5">לְזָרִ֣ים</span>
<span class="mila" data-lnk="596" data-exlnk="0" id="M_5_17_6">אִתָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1240">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_5_18_1">יְהִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1242">־</span><span class="mila" data-lnk="3221229683" data-exlnk="0" id="M_5_18_2">מְקוֹרְךָ֥</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_5_18_3">בָר֑וּךְ</span>
<span class="mila" data-lnk="3221230439" data-exlnk="0" id="M_5_18_4">וּ֝שְׂמַ֗ח</span>
<span class="mila" data-lnk="839" data-exlnk="0" id="M_5_18_5">מֵאֵ֥שֶׁת</span>
<span class="mila" data-lnk="3221230407" data-exlnk="0" id="M_5_18_6">נְעוּרֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1248">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_19" data-pasuk-now="11"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026537718" data-exlnk="0" id="M_5_19_1">אַיֶּ֥לֶת</span>
<span class="mila" data-lnk="4026537558" data-exlnk="0" id="M_5_19_2">אֲהָבִ֗ים</span>
<span class="mila" data-lnk="624" data-exlnk="0" id="M_5_19_3">וְֽיַעֲלַ֫ת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1252">־</span><span class="mila" data-lnk="624" data-exlnk="0" id="M_5_19_4">חֵ֥ן</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_5_19_5">דַּ֭דֶּיהָ</span>
<span class="mila" data-lnk="3221230144" data-exlnk="0" id="M_5_19_6">יְרַוֻּ֣ךָ</span>
<span class="mila" data-lnk="576" data-exlnk="0" id="M_5_19_7">בְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1257">־</span><span class="mila" data-lnk="576" data-exlnk="0" id="M_5_19_8">עֵ֑ת</span>
<span class="mila" data-lnk="868" data-exlnk="0" id="M_5_19_9">בְּ֝אַהֲבָתָ֗הּ</span>
<span class="mila" data-lnk="867" data-exlnk="0" id="M_5_19_10">תִּשְׁגֶּ֥ה</span>
<span class="mila" data-lnk="871" data-exlnk="0" id="M_5_19_11">תָמִֽיד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1262">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_20" data-pasuk-now="7"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4026537078" data-exlnk="0" id="M_5_20_1">וְלָ֤מָּה</span>
<span class="mila" data-lnk="246" data-exlnk="0" id="M_5_20_2">תִשְׁגֶּ֣ה</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_5_20_3">בְנִ֣י</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_5_20_4">בְזָרָ֑ה</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_5_20_5">וּ֝תְחַבֵּ֗ק</span>
<span class="mila" data-lnk="4026537062" data-exlnk="0" id="M_5_20_6">חֵ֣ק</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_5_20_7">נָכְרִיָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1270">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_21" data-pasuk-now="9"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_5_21_1">כִּ֤י</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_5_21_2">נֹ֨כַח׀</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_5_21_3">עֵינֵ֣י</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_5_21_4">יְ֭הוָה</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_5_21_5">דַּרְכֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1276">־</span><span class="mila" data-lnk="87" data-exlnk="0" id="M_5_21_6">אִ֑ישׁ</span>
<span class="mila" data-lnk="90" data-exlnk="0" id="M_5_21_7">וְֽכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1279">־</span><span class="mila" data-lnk="90" data-exlnk="0" id="M_5_21_8">מַעְגְּלֹתָ֥יו</span>
<span class="mila" data-lnk="123" data-exlnk="0" id="M_5_21_9">מְפַלֵּֽס</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1282">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026537719" data-exlnk="0" id="M_5_22_1">עֲֽווֹנֹתָ֗יו</span>
<span class="mila" data-lnk="3221230463" data-exlnk="0" id="M_5_22_2">יִלְכְּדֻנ֥וֹ</span>
<span class="mila" data-lnk="878" data-exlnk="0" id="M_5_22_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1286">־</span><span class="mila" data-lnk="846" data-exlnk="0" id="M_5_22_4">הָרָשָׁ֑ע</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_5_22_5">וּבְחַבְלֵ֥י</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_5_22_6">חַ֝טָּאת֗וֹ</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_5_22_7">יִתָּמֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1291">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_23" data-pasuk-now="7"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="743" data-exlnk="0" id="M_5_23_1">ה֗וּא</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_5_23_2">יָ֭מוּת</span>
<span class="mila" data-lnk="583" data-exlnk="0" id="M_5_23_3">בְּאֵ֣ין</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_5_23_4">מוּסָ֑ר</span>
<span class="mila" data-lnk="582" data-exlnk="0" id="M_5_23_5">וּבְרֹ֖ב</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_5_23_6">אִוַּלְתּ֣וֹ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_5_23_7">יִשְׁגֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1300">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1301"> פ </span>
</span>
<br /></p>