<p id="PR_14" data-perek-now="248" data-perek-nops="35"><span class="perek-header">פרק יד</span>
<br /><span id="PS_14_1" data-pasuk-now="7"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026540023" data-exlnk="0" id="M_14_1_1">חַכְמ֣וֹת</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_1_2">נָ֭שִׁים</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_1_3">בָּנְתָ֣ה</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_1_4">בֵיתָ֑הּ</span>
<span class="mila" data-lnk="373" data-exlnk="0" id="M_14_1_5">וְ֝אִוֶּ֗לֶת</span>
<span class="mila" data-lnk="4026537205" data-exlnk="0" id="M_14_1_6">בְּיָדֶ֥יהָ</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_14_1_7">תֶהֶרְסֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3460">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_2_1">הוֹלֵ֣ךְ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_2_2">בְּ֭יָשְׁרוֹ</span>
<span class="mila" data-lnk="627" data-exlnk="0" id="M_14_2_3">יְרֵ֣א</span>
<span class="mila" data-lnk="599" data-exlnk="0" id="M_14_2_4">יְהוָ֑ה</span>
<span class="mila" data-lnk="609" data-exlnk="0" id="M_14_2_5">וּנְל֖וֹז</span>
<span class="mila" data-lnk="611" data-exlnk="0" id="M_14_2_6">דְּרָכָ֣יו</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_14_2_7">בּוֹזֵֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3468">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_3" data-pasuk-now="7"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_3_1">בְּֽפִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3470">־</span><span class="mila" data-lnk="375" data-exlnk="0" id="M_14_3_2">אֱ֭וִיל</span>
<span class="mila" data-lnk="4026537811" data-exlnk="0" id="M_14_3_3">חֹ֣טֶר</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_3_4">גַּאֲוָ֑ה</span>
<span class="mila" data-lnk="882" data-exlnk="0" id="M_14_3_5">וְשִׂפְתֵ֥י</span>
<span class="mila" data-lnk="886" data-exlnk="0" id="M_14_3_6">חֲ֝כָמִ֗ים</span>
<span class="mila" data-lnk="3221229683" data-exlnk="0" id="M_14_3_7">תִּשְׁמוּרֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3477">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="999" data-exlnk="0" id="M_14_4_1">בְּאֵ֣ין</span>
<span class="mila" data-lnk="871" data-exlnk="0" id="M_14_4_2">אֲ֭לָפִים</span>
<span class="mila" data-lnk="4026537959" data-exlnk="0" id="M_14_4_3">אֵב֣וּס</span>
<span class="mila" data-lnk="999" data-exlnk="0" id="M_14_4_4">בָּ֑ר</span>
<span class="mila" data-lnk="805308262" data-exlnk="0" id="M_14_4_5">וְרָב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3483">־</span><span class="mila" data-lnk="4026539878" data-exlnk="0" id="M_14_4_6">תְּ֝בוּא֗וֹת</span>
<span class="mila" data-lnk="868" data-exlnk="0" id="M_14_4_7">בְּכֹ֣חַ</span>
<span class="mila" data-lnk="868" data-exlnk="0" id="M_14_4_8">שֽׁוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3487">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="742" data-exlnk="0" id="M_14_5_1">עֵ֣ד</span>
<span class="mila" data-lnk="710" data-exlnk="0" id="M_14_5_2">אֱ֭מוּנִים</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_14_5_3">לֹ֣א</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_14_5_4">יְכַזֵּ֑ב</span>
<span class="mila" data-lnk="609" data-exlnk="0" id="M_14_5_5">וְיָפִ֥יחַ</span>
<span class="mila" data-lnk="613" data-exlnk="0" id="M_14_5_6">כְּ֝זָבִ֗ים</span>
<span class="mila" data-lnk="613" data-exlnk="0" id="M_14_5_7">עֵ֣ד</span>
<span class="mila" data-lnk="583" data-exlnk="0" id="M_14_5_8">שָֽׁקֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3496">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="743" data-exlnk="0" id="M_14_6_1">בִּקֶּשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3498">־</span><span class="mila" data-lnk="615" data-exlnk="0" id="M_14_6_2">לֵ֣ץ</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_6_3">חָכְמָ֣ה</span>
<span class="mila" data-lnk="4026537542" data-exlnk="0" id="M_14_6_4">וָאָ֑יִן</span>
<span class="mila" data-lnk="608" data-exlnk="0" id="M_14_6_5">וְדַ֖עַת</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_14_6_6">לְנָב֣וֹן</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_14_6_7">נָקָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3505">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_7_1">לֵ֣ךְ</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_7_2">מִ֭נֶּגֶד</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_7_3">לְאִ֣ישׁ</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_7_4">כְּסִ֑יל</span>
<span class="mila" data-lnk="369" data-exlnk="0" id="M_14_7_5">וּבַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3511">־</span><span class="mila" data-lnk="627" data-exlnk="0" id="M_14_7_6">יָ֝דַ֗עְתָּ</span>
<span class="mila" data-lnk="628" data-exlnk="0" id="M_14_7_7">שִׂפְתֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3514">־</span><span class="mila" data-lnk="630" data-exlnk="0" id="M_14_7_8">דָֽעַת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3516">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_8" data-pasuk-now="7"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_8_1">חָכְמַ֣ת</span>
<span class="mila" data-lnk="583" data-exlnk="0" id="M_14_8_2">עָ֭רוּם</span>
<span class="mila" data-lnk="4026537543" data-exlnk="0" id="M_14_8_3">הָבִ֣ין</span>
<span class="mila" data-lnk="583" data-exlnk="0" id="M_14_8_4">דַּרְכּ֑וֹ</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_8_5">וְאִוֶּ֖לֶת</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_8_6">כְּסִילִ֣ים</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_8_7">מִרְמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3524">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026537975" data-exlnk="0" id="M_14_9_1">אֱ֭וִלִים</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_9_2">יָלִ֣יץ</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_9_3">אָשָׁ֑ם</span>
<span class="mila" data-lnk="871" data-exlnk="0" id="M_14_9_4">וּבֵ֖ין</span>
<span class="mila" data-lnk="999" data-exlnk="0" id="M_14_9_5">יְשָׁרִ֣ים</span>
<span class="mila" data-lnk="871" data-exlnk="0" id="M_14_9_6">רָצֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3531">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_10_1">לֵ֗ב</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_10_2">י֭וֹדֵעַ</span>
<span class="mila" data-lnk="3221229941" data-exlnk="0" id="M_14_10_3">מָרַּ֣ת</span>
<span class="mila" data-lnk="885" data-exlnk="0" id="M_14_10_4">נַפְשׁ֑וֹ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_10_5">וּ֝בְשִׂמְחָת֗וֹ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_10_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3538">־</span><span class="mila" data-lnk="631" data-exlnk="0" id="M_14_10_7">יִתְעָ֥רַב</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_10_8">זָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3541">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_11" data-pasuk-now="6"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="231" data-exlnk="0" id="M_14_11_1">בֵּ֣ית</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_14_11_2">רְ֭שָׁעִים</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_14_11_3">יִשָּׁמֵ֑ד</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_14_11_4">וְאֹ֖הֶל</span>
<span class="mila" data-lnk="613" data-exlnk="0" id="M_14_11_5">יְשָׁרִ֣ים</span>
<span class="mila" data-lnk="4026539616" data-exlnk="0" id="M_14_11_6">יַפְרִֽיחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3548">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_12_1">יֵ֤שׁ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_12_2">דֶּ֣רֶךְ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_12_3">יָ֭שָׁר</span>
<span class="mila" data-lnk="625" data-exlnk="0" id="M_14_12_4">לִפְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3553">־</span><span class="mila" data-lnk="625" data-exlnk="0" id="M_14_12_5">אִ֑ישׁ</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_14_12_6">וְ֝אַחֲרִיתָ֗הּ</span>
<span class="mila" data-lnk="608" data-exlnk="0" id="M_14_12_7">דַּרְכֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3557">־</span><span class="mila" data-lnk="614" data-exlnk="0" id="M_14_12_8">מָֽוֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3559">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_13_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3561">־</span><span class="mila" data-lnk="4026537847" data-exlnk="0" id="M_14_13_2">בִּשְׂחֹ֥ק</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_13_3">יִכְאַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3564">־</span><span class="mila" data-lnk="886" data-exlnk="0" id="M_14_13_4">לֵ֑ב</span>
<span class="mila" data-lnk="982" data-exlnk="0" id="M_14_13_5">וְאַחֲרִיתָ֖הּ</span>
<span class="mila" data-lnk="982" data-exlnk="0" id="M_14_13_6">שִׂמְחָ֣ה</span>
<span class="mila" data-lnk="1014" data-exlnk="0" id="M_14_13_7">תוּגָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3569">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_14" data-pasuk-now="7"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_14_1">מִדְּרָכָ֣יו</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_14_2">יִ֭שְׂבַּע</span>
<span class="mila" data-lnk="3221230451" data-exlnk="0" id="M_14_14_3">ס֣וּג</span>
<span class="mila" data-lnk="883" data-exlnk="0" id="M_14_14_4">לֵ֑ב</span>
<span class="mila" data-lnk="3221230327" data-exlnk="0" id="M_14_14_5">וּ֝מֵעָלָ֗יו</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_14_6">אִ֣ישׁ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_14_7">טֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3577">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_15" data-pasuk-now="7"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_14_15_1">פֶּ֭תִי</span>
<span class="mila" data-lnk="727" data-exlnk="0" id="M_14_15_2">יַאֲמִ֣ין</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_14_15_3">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3581">־</span><span class="mila" data-lnk="630" data-exlnk="0" id="M_14_15_4">דָּבָ֑ר</span>
<span class="mila" data-lnk="609" data-exlnk="0" id="M_14_15_5">וְ֝עָר֗וּם</span>
<span class="mila" data-lnk="103" data-exlnk="0" id="M_14_15_6">יָבִ֥ין</span>
<span class="mila" data-lnk="3221230181" data-exlnk="0" id="M_14_15_7">לַאֲשֻׁרֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3586">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_14_16_1">חָכָ֣ם</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_16_2">יָ֭רֵא</span>
<span class="mila" data-lnk="1879053943" data-exlnk="0" id="M_14_16_3">וְסָ֣ר</span>
<span class="mila" data-lnk="4026537591" data-exlnk="0" id="M_14_16_4">מֵרָ֑ע</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_14_16_5">וּ֝כְסִ֗יל</span>
<span class="mila" data-lnk="595" data-exlnk="0" id="M_14_16_6">מִתְעַבֵּ֥ר</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_16_7">וּבוֹטֵֽחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3594">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_17" data-pasuk-now="7"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_17_1">קְֽצַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3596">־</span><span class="mila" data-lnk="887" data-exlnk="0" id="M_14_17_2">אַ֭פַּיִם</span>
<span class="mila" data-lnk="886" data-exlnk="0" id="M_14_17_3">יַעֲשֶׂ֣ה</span>
<span class="mila" data-lnk="886" data-exlnk="0" id="M_14_17_4">אִוֶּ֑לֶת</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_14_17_5">וְאִ֥ישׁ</span>
<span class="mila" data-lnk="727" data-exlnk="0" id="M_14_17_6">מְ֝זִמּ֗וֹת</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_14_17_7">יִשָּׂנֵֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3603">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026537190" data-exlnk="0" id="M_14_18_1">נָחֲל֣וּ</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_14_18_2">פְתָאיִ֣ם</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_14_18_3">אִוֶּ֑לֶת</span>
<span class="mila" data-lnk="610" data-exlnk="0" id="M_14_18_4">וַ֝עֲרוּמִ֗ים</span>
<span class="mila" data-lnk="4026537697" data-exlnk="0" id="M_14_18_5">יַכְתִּ֥רוּ</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_18_6">דָֽעַת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3610">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026537975" data-exlnk="0" id="M_14_19_1">שַׁח֣וּ</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_19_2">רָ֭עִים</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_19_3">לִפְנֵ֣י</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_19_4">טוֹבִ֑ים</span>
<span class="mila" data-lnk="805308198" data-exlnk="0" id="M_14_19_5">וּ֝רְשָׁעִ֗ים</span>
<span class="mila" data-lnk="1342183172" data-exlnk="0" id="M_14_19_6">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3617">־</span><span class="mila" data-lnk="2684360452" data-exlnk="0" id="M_14_19_7">שַׁעֲרֵ֥י</span>
<span class="mila" data-lnk="768" data-exlnk="0" id="M_14_19_8">צַדִּֽיק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3620">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_20" data-pasuk-now="7"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_14_20_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3622">־</span><span class="mila" data-lnk="119" data-exlnk="0" id="M_14_20_2">לְ֭רֵעֵהוּ</span>
<span class="mila" data-lnk="55" data-exlnk="0" id="M_14_20_3">יִשָּׂ֣נֵא</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_14_20_4">רָ֑שׁ</span>
<span class="mila" data-lnk="4026537078" data-exlnk="0" id="M_14_20_5">וְאֹהֲבֵ֖י</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_14_20_6">עָשִׁ֣יר</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_14_20_7">רַבִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3629">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_14_21_1">בָּז</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3631">־</span><span class="mila" data-lnk="758" data-exlnk="0" id="M_14_21_2">לְרֵעֵ֥הוּ</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_14_21_3">חוֹטֵ֑א</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_14_21_4">וּמְחוֹנֵ֖ן</span>
<span data-lnk="0" data-exlnk="0" id="M_14_21_5" class="mila ktiv">עֲנָיִ֣ים</span>
<span data-lnk="3221229650" data-exlnk="0" id="M_14_21_5_K" class="mila kri">עֲנָוִ֣ים</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_14_21_6">אַשְׁרָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3638">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_22" data-pasuk-now="8"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026537718" data-exlnk="0" id="M_14_22_1">הֲֽלוֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3640">־</span><span class="mila" data-lnk="758" data-exlnk="0" id="M_14_22_2">יִ֭תְעוּ</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_14_22_3">חֹ֣רְשֵׁי</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_14_22_4">רָ֑ע</span>
<span class="mila" data-lnk="3221230582" data-exlnk="0" id="M_14_22_5">וְחֶ֥סֶד</span>
<span class="mila" data-lnk="2147488758" data-exlnk="0" id="M_14_22_6">וֶ֝אֱמֶ֗ת</span>
<span class="mila" data-lnk="502" data-exlnk="0" id="M_14_22_7">חֹ֣רְשֵׁי</span>
<span class="mila" data-lnk="1014" data-exlnk="0" id="M_14_22_8">טֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3648">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_23_1">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3650">־</span><span class="mila" data-lnk="855" data-exlnk="0" id="M_14_23_2">עֶ֭צֶב</span>
<span class="mila" data-lnk="851" data-exlnk="0" id="M_14_23_3">יִהְיֶ֣ה</span>
<span class="mila" data-lnk="882" data-exlnk="0" id="M_14_23_4">מוֹתָ֑ר</span>
<span class="mila" data-lnk="374" data-exlnk="0" id="M_14_23_5">וּדְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3655">־</span><span class="mila" data-lnk="374" data-exlnk="0" id="M_14_23_6">שְׂ֝פָתַ֗יִם</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_14_23_7">אַךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3658">־</span><span class="mila" data-lnk="885" data-exlnk="0" id="M_14_23_8">לְמַחְסֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3660">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_24" data-pasuk-now="6"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_24_1">עֲטֶ֣רֶת</span>
<span class="mila" data-lnk="855" data-exlnk="0" id="M_14_24_2">חֲכָמִ֣ים</span>
<span class="mila" data-lnk="343" data-exlnk="0" id="M_14_24_3">עָשְׁרָ֑ם</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_24_4">אִוֶּ֖לֶת</span>
<span class="mila" data-lnk="885" data-exlnk="0" id="M_14_24_5">כְּסִילִ֣ים</span>
<span class="mila" data-lnk="881" data-exlnk="0" id="M_14_24_6">אִוֶּֽלֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3667">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_25" data-pasuk-now="7"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_14_25_1">מַצִּ֣יל</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_14_25_2">נְ֭פָשׁוֹת</span>
<span class="mila" data-lnk="594" data-exlnk="0" id="M_14_25_3">עֵ֣ד</span>
<span class="mila" data-lnk="598" data-exlnk="0" id="M_14_25_4">אֱמֶ֑ת</span>
<span class="mila" data-lnk="3221230160" data-exlnk="0" id="M_14_25_5">וְיָפִ֖חַ</span>
<span class="mila" data-lnk="628" data-exlnk="0" id="M_14_25_6">כְּזָבִ֣ים</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_14_25_7">מִרְמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3675">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_14_26_1">בְּיִרְאַ֣ת</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_26_2">יְ֭הוָה</span>
<span class="mila" data-lnk="4026537587" data-exlnk="0" id="M_14_26_3">מִבְטַח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3679">־</span><span class="mila" data-lnk="627" data-exlnk="0" id="M_14_26_4">עֹ֑ז</span>
<span class="mila" data-lnk="739" data-exlnk="0" id="M_14_26_5">וּ֝לְבָנָ֗יו</span>
<span class="mila" data-lnk="167" data-exlnk="0" id="M_14_26_6">יִהְיֶ֥ה</span>
<span class="mila" data-lnk="743" data-exlnk="0" id="M_14_26_7">מַחְסֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3684">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_27" data-pasuk-now="7"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_14_27_1">יִרְאַ֣ת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_14_27_2">יְ֭הוָה</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_14_27_3">מְק֣וֹר</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_14_27_4">חַיִּ֑ים</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_14_27_5">לָ֝ס֗וּר</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_14_27_6">מִמֹּ֥קְשֵׁי</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_14_27_7">מָֽוֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3692">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_28" data-pasuk-now="8"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_14_28_1">בְּרָב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3694">־</span><span class="mila" data-lnk="805308023" data-exlnk="0" id="M_14_28_2">עָ֥ם</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_14_28_3">הַדְרַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3697">־</span><span class="mila" data-lnk="630" data-exlnk="0" id="M_14_28_4">מֶ֑לֶךְ</span>
<span class="mila" data-lnk="4026537571" data-exlnk="0" id="M_14_28_5">וּבְאֶ֥פֶס</span>
<span class="mila" data-lnk="4026537571" data-exlnk="0" id="M_14_28_6">לְ֝אֹ֗ם</span>
<span class="mila" data-lnk="579" data-exlnk="0" id="M_14_28_7">מְחִתַּ֥ת</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_28_8">רָזֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3703">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_29" data-pasuk-now="8"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="742" data-exlnk="0" id="M_14_29_1">אֶ֣רֶךְ</span>
<span class="mila" data-lnk="582" data-exlnk="0" id="M_14_29_2">אַ֭פַּיִם</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_14_29_3">רַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3707">־</span><span class="mila" data-lnk="614" data-exlnk="0" id="M_14_29_4">תְּבוּנָ֑ה</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_14_29_5">וּקְצַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3710">־</span><span class="mila" data-lnk="612" data-exlnk="0" id="M_14_29_6">ר֝וּחַ</span>
<span class="mila" data-lnk="4026537571" data-exlnk="0" id="M_14_29_7">מֵרִ֥ים</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_14_29_8">אִוֶּֽלֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3714">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_30" data-pasuk-now="7"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_30_1">חַיֵּ֣י</span>
<span class="mila" data-lnk="4026537815" data-exlnk="0" id="M_14_30_2">בְ֭שָׂרִים</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_30_3">לֵ֣ב</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_30_4">מַרְפֵּ֑א</span>
<span class="mila" data-lnk="339" data-exlnk="0" id="M_14_30_5">וּרְקַ֖ב</span>
<span class="mila" data-lnk="343" data-exlnk="0" id="M_14_30_6">עֲצָמ֣וֹת</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_30_7">קִנְאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3722">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_31" data-pasuk-now="7"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_14_31_1">עֹ֣שֵֽׁק</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_14_31_2">דָּ֭ל</span>
<span class="mila" data-lnk="598" data-exlnk="0" id="M_14_31_3">חֵרֵ֣ף</span>
<span class="mila" data-lnk="850" data-exlnk="0" id="M_14_31_4">עֹשֵׂ֑הוּ</span>
<span class="mila" data-lnk="528" data-exlnk="0" id="M_14_31_5">וּ֝מְכַבְּד֗וֹ</span>
<span class="mila" data-lnk="3221230166" data-exlnk="0" id="M_14_31_6">חֹנֵ֥ן</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_14_31_7">אֶבְיֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3730">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_32" data-pasuk-now="6"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="1014" data-exlnk="0" id="M_14_32_1">בְּֽ֭רָעָתוֹ</span>
<span class="mila" data-lnk="1014" data-exlnk="0" id="M_14_32_2">יִדָּחֶ֣ה</span>
<span class="mila" data-lnk="822" data-exlnk="0" id="M_14_32_3">רָשָׁ֑ע</span>
<span class="mila" data-lnk="915" data-exlnk="0" id="M_14_32_4">וְחֹסֶ֖ה</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_32_5">בְמוֹת֣וֹ</span>
<span class="mila" data-lnk="855" data-exlnk="0" id="M_14_32_6">צַדִּֽיק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3737">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_33" data-pasuk-now="7"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_14_33_1">בְּלֵ֣ב</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_33_2">נָ֭בוֹן</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_14_33_3">תָּנ֣וּחַ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_14_33_4">חָכְמָ֑ה</span>
<span class="mila" data-lnk="885" data-exlnk="0" id="M_14_33_5">וּבְקֶ֥רֶב</span>
<span class="mila" data-lnk="885" data-exlnk="0" id="M_14_33_6">כְּ֝סִילִ֗ים</span>
<span class="mila" data-lnk="1009" data-exlnk="0" id="M_14_33_7">תִּוָּדֵֽעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3745">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_34" data-pasuk-now="6"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_14_34_1">צְדָקָ֥ה</span>
<span class="mila" data-lnk="4026539895" data-exlnk="0" id="M_14_34_2">תְרוֹמֵֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3748">־</span><span class="mila" data-lnk="871" data-exlnk="0" id="M_14_34_3">גּ֑וֹי</span>
<span class="mila" data-lnk="999" data-exlnk="0" id="M_14_34_4">וְחֶ֖סֶד</span>
<span class="mila" data-lnk="483" data-exlnk="0" id="M_14_34_5">לְאֻמִּ֣ים</span>
<span class="mila" data-lnk="883" data-exlnk="0" id="M_14_34_6">חַטָּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3753">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_35" data-pasuk-now="7"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="4026537654" data-exlnk="0" id="M_14_35_1">רְֽצוֹן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3755">־</span><span class="mila" data-lnk="566" data-exlnk="0" id="M_14_35_2">מֶ֭לֶךְ</span>
<span class="mila" data-lnk="822" data-exlnk="0" id="M_14_35_3">לְעֶ֣בֶד</span>
<span class="mila" data-lnk="694" data-exlnk="0" id="M_14_35_4">מַשְׂכִּ֑יל</span>
<span class="mila" data-lnk="544" data-exlnk="0" id="M_14_35_5">וְ֝עֶבְרָת֗וֹ</span>
<span class="mila" data-lnk="800" data-exlnk="0" id="M_14_35_6">תִּהְיֶ֥ה</span>
<span class="mila" data-lnk="930" data-exlnk="0" id="M_14_35_7">מֵבִֽישׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3762">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>