<p id="PR_19" data-perek-now="230" data-perek-nops="29"><span class="perek-header">פרק יט</span>
<br /><span id="PS_19_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="502" data-exlnk="0" id="M_19_1_1">טֽוֹב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4922">־</span><span class="mila" data-lnk="502" data-exlnk="0" id="M_19_1_2">רָ֭שׁ</span>
<span class="mila" data-lnk="500" data-exlnk="0" id="M_19_1_3">הוֹלֵ֣ךְ</span>
<span class="mila" data-lnk="500" data-exlnk="0" id="M_19_1_4">בְּתֻמּ֑וֹ</span>
<span class="mila" data-lnk="242" data-exlnk="0" id="M_19_1_5">מֵעִקֵּ֥שׁ</span>
<span class="mila" data-lnk="240" data-exlnk="0" id="M_19_1_6">שְׂ֝פָתָ֗יו</span>
<span class="mila" data-lnk="372" data-exlnk="0" id="M_19_1_7">וְה֣וּא</span>
<span class="mila" data-lnk="374" data-exlnk="0" id="M_19_1_8">כְסִֽיל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4930">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_2" data-pasuk-now="9"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_19_2_1">גַּ֤ם</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_2_2">בְּלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4933">־</span><span class="mila" data-lnk="631" data-exlnk="0" id="M_19_2_3">דַ֣עַת</span>
<span class="mila" data-lnk="625" data-exlnk="0" id="M_19_2_4">נֶ֣פֶשׁ</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_19_2_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4937">־</span><span class="mila" data-lnk="631" data-exlnk="0" id="M_19_2_6">ט֑וֹב</span>
<span class="mila" data-lnk="4026537969" data-exlnk="0" id="M_19_2_7">וְאָ֖ץ</span>
<span class="mila" data-lnk="1009" data-exlnk="0" id="M_19_2_8">בְּרַגְלַ֣יִם</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_19_2_9">חוֹטֵֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4942">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_19_3_1">אִוֶּ֣לֶת</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_19_3_2">אָ֭דָם</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_19_3_3">תְּסַלֵּ֣ף</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_19_3_4">דַּרְכּ֑וֹ</span>
<span class="mila" data-lnk="3489668182" data-exlnk="0" id="M_19_3_5">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4948">־</span><span class="mila" data-lnk="4026539090" data-exlnk="0" id="M_19_3_6">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_19_3_7">יִזְעַ֥ף</span>
<span class="mila" data-lnk="71" data-exlnk="0" id="M_19_3_8">לִבּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4952">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_19_4_1">ה֗וֹן</span>
<span class="mila" data-lnk="805307511" data-exlnk="0" id="M_19_4_2">יֹ֭סִיף</span>
<span class="mila" data-lnk="4026537079" data-exlnk="0" id="M_19_4_3">רֵעִ֣ים</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_19_4_4">רַבִּ֑ים</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_19_4_5">וְ֝דָ֗ל</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_19_4_6">מֵרֵעֵ֥הוּ</span>
<span class="mila" data-lnk="4026539126" data-exlnk="0" id="M_19_4_7">יִפָּרֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4960">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="230" data-exlnk="0" id="M_19_5_1">עֵ֣ד</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_19_5_2">שְׁ֭קָרִים</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_19_5_3">לֹ֣א</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_19_5_4">יִנָּקֶ֑ה</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_19_5_5">וְיָפִ֥יחַ</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_19_5_6">כְּ֝זָבִ֗ים</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_19_5_7">לֹ֣א</span>
<span class="mila" data-lnk="805307462" data-exlnk="0" id="M_19_5_8">יִמָּלֵֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4969">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_19_6_1">רַ֭בִּים</span>
<span class="mila" data-lnk="4026537079" data-exlnk="0" id="M_19_6_2">יְחַלּ֣וּ</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_19_6_3">פְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4973">־</span><span class="mila" data-lnk="119" data-exlnk="0" id="M_19_6_4">נָדִ֑יב</span>
<span class="mila" data-lnk="611" data-exlnk="0" id="M_19_6_5">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4976">־</span><span class="mila" data-lnk="4026537539" data-exlnk="0" id="M_19_6_6">הָ֝רֵ֗עַ</span>
<span class="mila" data-lnk="611" data-exlnk="0" id="M_19_6_7">לְאִ֣ישׁ</span>
<span class="mila" data-lnk="579" data-exlnk="0" id="M_19_6_8">מַתָּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_7" data-pasuk-now="13"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805308407" data-exlnk="0" id="M_19_7_1">כָּ֥ל</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_19_7_2">אֲחֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4983">־</span><span class="mila" data-lnk="887" data-exlnk="0" id="M_19_7_3">רָ֨שׁ׀</span>
<span class="mila" data-lnk="726" data-exlnk="0" id="M_19_7_4">שְֽׂנֵאֻ֗הוּ</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_19_7_5">אַ֤ף</span>
<span class="mila" data-lnk="99" data-exlnk="0" id="M_19_7_6">כִּ֣י</span>
<span class="mila" data-lnk="3221230177" data-exlnk="0" id="M_19_7_7">מְ֭רֵעֵהוּ</span>
<span class="mila" data-lnk="741" data-exlnk="0" id="M_19_7_8">רָחֲק֣וּ</span>
<span class="mila" data-lnk="628" data-exlnk="0" id="M_19_7_9">מִמֶּ֑נּוּ</span>
<span class="mila" data-lnk="995" data-exlnk="0" id="M_19_7_10">מְרַדֵּ֖ף</span>
<span class="mila" data-lnk="805308279" data-exlnk="0" id="M_19_7_11">אֲמָרִ֣ים</span>
<span data-lnk="0" data-exlnk="0" id="M_19_7_12" class="mila ktiv">לֹא</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="4994">־</span><span data-lnk="3221230455" data-exlnk="0" id="M_19_7_12_K" class="mila kri">לוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4996">־</span><span class="mila" data-lnk="887" data-exlnk="0" id="M_19_7_13">הֵֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4998">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_19_8_1">קֹֽנֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5000">־</span><span class="mila" data-lnk="630" data-exlnk="0" id="M_19_8_2">לֵּ֭ב</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_19_8_3">אֹהֵ֣ב</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_19_8_4">נַפְשׁ֑וֹ</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_19_8_5">שֹׁמֵ֥ר</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_19_8_6">תְּ֝בוּנָ֗ה</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_19_8_7">לִמְצֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5007">־</span><span class="mila" data-lnk="612" data-exlnk="0" id="M_19_8_8">טֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5009">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_19_9_1">עֵ֣ד</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_19_9_2">שְׁ֭קָרִים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_19_9_3">לֹ֣א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_19_9_4">יִנָּקֶ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_9_5">וְיָפִ֖יחַ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_19_9_6">כְּזָבִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_7">יֹאבֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5018">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5019"> פ </span>
</span>
<br /><span id="PS_19_10" data-pasuk-now="9"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_10_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5021">־</span><span class="mila" data-lnk="631" data-exlnk="0" id="M_19_10_2">נָאוֶ֣ה</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_10_3">לִכְסִ֣יל</span>
<span class="mila" data-lnk="3221230197" data-exlnk="0" id="M_19_10_4">תַּעֲנ֑וּג</span>
<span class="mila" data-lnk="97" data-exlnk="0" id="M_19_10_5">אַ֝ף</span>
<span class="mila" data-lnk="97" data-exlnk="0" id="M_19_10_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5027">־</span><span class="mila" data-lnk="631" data-exlnk="0" id="M_19_10_7">לְעֶ֤בֶד׀</span>
<span class="mila" data-lnk="608" data-exlnk="0" id="M_19_10_8">מְשֹׁ֬ל</span>
<span class="mila" data-lnk="4026537590" data-exlnk="0" id="M_19_10_9">בְּשָׂרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5031">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_19_11_1">שֵׂ֣כֶל</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_11_2">אָ֭דָם</span>
<span class="mila" data-lnk="625" data-exlnk="0" id="M_19_11_3">הֶאֱרִ֣יךְ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_11_4">אַפּ֑וֹ</span>
<span class="mila" data-lnk="611" data-exlnk="0" id="M_19_11_5">וְ֝תִפְאַרְתּ֗וֹ</span>
<span class="mila" data-lnk="736" data-exlnk="0" id="M_19_11_6">עֲבֹ֣ר</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_19_11_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5039">־</span><span class="mila" data-lnk="614" data-exlnk="0" id="M_19_11_8">פָּֽשַׁע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5041">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_19_12_1">נַ֣הַם</span>
<span class="mila" data-lnk="4026537079" data-exlnk="0" id="M_19_12_2">כַּ֭כְּפִיר</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_19_12_3">זַ֣עַף</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_19_12_4">מֶ֑לֶךְ</span>
<span class="mila" data-lnk="3221229682" data-exlnk="0" id="M_19_12_5">וּכְטַ֖ל</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_19_12_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5048">־</span><span class="mila" data-lnk="118" data-exlnk="0" id="M_19_12_7">עֵ֣שֶׂב</span>
<span class="mila" data-lnk="114" data-exlnk="0" id="M_19_12_8">רְצוֹנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5051">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4026537590" data-exlnk="0" id="M_19_13_1">הַוֹּ֣ת</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_19_13_2">לְ֭אָבִיו</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_19_13_3">בֵּ֣ן</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_19_13_4">כְּסִ֑יל</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_19_13_5">וְדֶ֥לֶף</span>
<span class="mila" data-lnk="3221229687" data-exlnk="0" id="M_19_13_6">טֹ֝רֵ֗ד</span>
<span class="mila" data-lnk="113" data-exlnk="0" id="M_19_13_7">מִדְיְנֵ֥י</span>
<span class="mila" data-lnk="115" data-exlnk="0" id="M_19_13_8">אִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5060">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_14" data-pasuk-now="7"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_19_14_1">בַּ֣יִת</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_19_14_2">וָ֭הוֹן</span>
<span class="mila" data-lnk="592" data-exlnk="0" id="M_19_14_3">נַחֲלַ֣ת</span>
<span class="mila" data-lnk="624" data-exlnk="0" id="M_19_14_4">אָב֑וֹת</span>
<span class="mila" data-lnk="4026539732" data-exlnk="0" id="M_19_14_5">וּ֝מֵיְהוָ֗ה</span>
<span class="mila" data-lnk="758" data-exlnk="0" id="M_19_14_6">אִשָּׁ֥ה</span>
<span class="mila" data-lnk="3221230326" data-exlnk="0" id="M_19_14_7">מַשְׂכָּֽלֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5068">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_19_15_1">עַ֭צְלָה</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_19_15_2">תַּפִּ֣יל</span>
<span class="mila" data-lnk="885" data-exlnk="0" id="M_19_15_3">תַּרְדֵּמָ֑ה</span>
<span class="mila" data-lnk="359" data-exlnk="0" id="M_19_15_4">וְנֶ֖פֶשׁ</span>
<span class="mila" data-lnk="887" data-exlnk="0" id="M_19_15_5">רְמִיָּ֣ה</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_15_6">תִרְעָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5075">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="757" data-exlnk="0" id="M_19_16_1">שֹׁמֵ֣ר</span>
<span class="mila" data-lnk="117" data-exlnk="0" id="M_19_16_2">מִ֭צְוָה</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_19_16_3">שֹׁמֵ֣ר</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_19_16_4">נַפְשׁ֑וֹ</span>
<span class="mila" data-lnk="4026539895" data-exlnk="0" id="M_19_16_5">בּוֹזֵ֖ה</span>
<span class="mila" data-lnk="883" data-exlnk="0" id="M_19_16_6">דְרָכָ֣יו</span>
<span data-lnk="0" data-exlnk="0" id="M_19_16_7" class="mila ktiv">יָומֻֽת</span>
<span data-lnk="3221230199" data-exlnk="0" id="M_19_16_7_K" class="mila kri">יָמֽוּת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5084">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_17" data-pasuk-now="7"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3221230327" data-exlnk="0" id="M_19_17_1">מַלְוֵ֣ה</span>
<span class="mila" data-lnk="535" data-exlnk="0" id="M_19_17_2">יְ֭הוָה</span>
<span class="mila" data-lnk="599" data-exlnk="0" id="M_19_17_3">ח֣וֹנֵֽן</span>
<span class="mila" data-lnk="597" data-exlnk="0" id="M_19_17_4">דָּ֑ל</span>
<span class="mila" data-lnk="625" data-exlnk="0" id="M_19_17_5">וּ֝גְמֻל֗וֹ</span>
<span class="mila" data-lnk="849" data-exlnk="0" id="M_19_17_6">יְשַׁלֶּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5091">־</span><span class="mila" data-lnk="595" data-exlnk="0" id="M_19_17_7">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5093">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_18" data-pasuk-now="10"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_19_18_1">יַסֵּ֣ר</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_18_2">בִּ֭נְךָ</span>
<span class="mila" data-lnk="565" data-exlnk="0" id="M_19_18_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5097">־</span><span class="mila" data-lnk="629" data-exlnk="0" id="M_19_18_4">יֵ֣שׁ</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_19_18_5">תִּקְוָ֑ה</span>
<span class="mila" data-lnk="881" data-exlnk="0" id="M_19_18_6">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5101">־</span><span class="mila" data-lnk="4026537841" data-exlnk="0" id="M_19_18_7">הֲ֝מִית֗וֹ</span>
<span class="mila" data-lnk="1073746801" data-exlnk="0" id="M_19_18_8">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5104">־</span><span class="mila" data-lnk="2147488625" data-exlnk="0" id="M_19_18_9">תִּשָּׂ֥א</span>
<span class="mila" data-lnk="881" data-exlnk="0" id="M_19_18_10">נַפְשֶֽׁךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5107">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_19" data-pasuk-now="9"><span class="pasuk-header">[יט]</span>
<span data-lnk="0" data-exlnk="0" id="M_19_19_1" class="mila ktiv">גְּֽרָל</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="5109">־</span><span data-lnk="3221230311" data-exlnk="0" id="M_19_19_1_K" class="mila kri">גְּֽדָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5111">־</span><span class="mila" data-lnk="631" data-exlnk="0" id="M_19_19_2">חֵ֭מָה</span>
<span class="mila" data-lnk="513" data-exlnk="0" id="M_19_19_3">נֹ֣שֵׂא</span>
<span class="mila" data-lnk="641" data-exlnk="0" id="M_19_19_4">עֹ֑נֶשׁ</span>
<span class="mila" data-lnk="592" data-exlnk="0" id="M_19_19_5">כִּ֥י</span>
<span class="mila" data-lnk="593" data-exlnk="0" id="M_19_19_6">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5117">־</span><span class="mila" data-lnk="593" data-exlnk="0" id="M_19_19_7">תַּ֝צִּ֗יל</span>
<span class="mila" data-lnk="805308117" data-exlnk="0" id="M_19_19_8">וְע֣וֹד</span>
<span class="mila" data-lnk="4026537493" data-exlnk="0" id="M_19_19_9">תּוֹסִֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5121">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_20" data-pasuk-now="7"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="246" data-exlnk="0" id="M_19_20_1">שְׁמַ֣ע</span>
<span class="mila" data-lnk="118" data-exlnk="0" id="M_19_20_2">עֵ֭צָה</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_19_20_3">וְקַבֵּ֣ל</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_19_20_4">מוּסָ֑ר</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_19_20_5">לְ֝מַ֗עַן</span>
<span class="mila" data-lnk="102" data-exlnk="0" id="M_19_20_6">תֶּחְכַּ֥ם</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_19_20_7">בְּאַחֲרִיתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5129">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_21" data-pasuk-now="8"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="230" data-exlnk="0" id="M_19_21_1">רַבּ֣וֹת</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_19_21_2">מַחֲשָׁב֣וֹת</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_19_21_3">בְּלֶב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5133">־</span><span class="mila" data-lnk="100" data-exlnk="0" id="M_19_21_4">אִ֑ישׁ</span>
<span class="mila" data-lnk="1073746016" data-exlnk="0" id="M_19_21_5">וַעֲצַ֥ת</span>
<span class="mila" data-lnk="2147487808" data-exlnk="0" id="M_19_21_6">יְ֝הוָ֗ה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_19_21_7">הִ֣יא</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_19_21_8">תָקֽוּם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5139">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_19_22_1">תַּאֲוַ֣ת</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_19_22_2">אָדָ֣ם</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_19_22_3">חַסְדּ֑וֹ</span>
<span class="mila" data-lnk="805307511" data-exlnk="0" id="M_19_22_4">וְטֽוֹב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5144">־</span><span class="mila" data-lnk="119" data-exlnk="0" id="M_19_22_5">רָ֝שׁ</span>
<span class="mila" data-lnk="119" data-exlnk="0" id="M_19_22_6">מֵאִ֥ישׁ</span>
<span class="mila" data-lnk="375" data-exlnk="0" id="M_19_22_7">כָּזָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5148">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="1014" data-exlnk="0" id="M_19_23_1">יִרְאַ֣ת</span>
<span class="mila" data-lnk="886" data-exlnk="0" id="M_19_23_2">יְהוָ֣ה</span>
<span class="mila" data-lnk="630" data-exlnk="0" id="M_19_23_3">לְחַיִּ֑ים</span>
<span class="mila" data-lnk="4026539381" data-exlnk="0" id="M_19_23_4">וְשָׂבֵ֥עַ</span>
<span class="mila" data-lnk="373" data-exlnk="0" id="M_19_23_5">יָ֝לִ֗ין</span>
<span class="mila" data-lnk="352" data-exlnk="0" id="M_19_23_6">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5155">־</span><span class="mila" data-lnk="352" data-exlnk="0" id="M_19_23_7">יִפָּ֥קֶד</span>
<span class="mila" data-lnk="372" data-exlnk="0" id="M_19_23_8">רָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5158">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_24" data-pasuk-now="9"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_19_24_1">טָ֮מַ֤ן</span>
<span class="mila" data-lnk="727" data-exlnk="0" id="M_19_24_2">עָצֵ֣ל</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_19_24_3">יָ֭דוֹ</span>
<span class="mila" data-lnk="885" data-exlnk="0" id="M_19_24_4">בַּצַּלָּ֑חַת</span>
<span class="mila" data-lnk="614" data-exlnk="0" id="M_19_24_5">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5164">־</span><span class="mila" data-lnk="3489668838" data-exlnk="0" id="M_19_24_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5166">־</span><span class="mila" data-lnk="4026539622" data-exlnk="0" id="M_19_24_7">פִּ֝יהוּ</span>
<span class="mila" data-lnk="742" data-exlnk="0" id="M_19_24_8">לֹ֣א</span>
<span class="mila" data-lnk="710" data-exlnk="0" id="M_19_24_9">יְשִׁיבֶֽנָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5170">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_25" data-pasuk-now="8"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_25_1">לֵ֣ץ</span>
<span class="mila" data-lnk="599" data-exlnk="0" id="M_19_25_2">תַּ֭כֶּה</span>
<span class="mila" data-lnk="595" data-exlnk="0" id="M_19_25_3">וּפֶ֣תִי</span>
<span class="mila" data-lnk="4026537553" data-exlnk="0" id="M_19_25_4">יַעְרִ֑ם</span>
<span class="mila" data-lnk="112" data-exlnk="0" id="M_19_25_5">וְהוֹכִ֥יחַ</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_19_25_6">לְ֝נָב֗וֹן</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_19_25_7">יָבִ֥ין</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_19_25_8">דָּֽעַת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5179">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="3221230199" data-exlnk="0" id="M_19_26_1">מְֽשַׁדֶּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5181">־</span><span class="mila" data-lnk="599" data-exlnk="0" id="M_19_26_2">אָ֭ב</span>
<span class="mila" data-lnk="629" data-exlnk="0" id="M_19_26_3">יַבְרִ֣יחַ</span>
<span class="mila" data-lnk="597" data-exlnk="0" id="M_19_26_4">אֵ֑ם</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_19_26_5">בֵּ֝֗ן</span>
<span class="mila" data-lnk="628" data-exlnk="0" id="M_19_26_6">מֵבִ֥ישׁ</span>
<span class="mila" data-lnk="3221230164" data-exlnk="0" id="M_19_26_7">וּמַחְפִּֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5188">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_27" data-pasuk-now="7"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_19_27_1">חֲֽדַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5190">־</span><span class="mila" data-lnk="887" data-exlnk="0" id="M_19_27_2">בְּ֭נִי</span>
<span class="mila" data-lnk="855" data-exlnk="0" id="M_19_27_3">לִשְׁמֹ֣עַ</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_19_27_4">מוּסָ֑ר</span>
<span class="mila" data-lnk="3221230067" data-exlnk="0" id="M_19_27_5">לִ֝שְׁג֗וֹת</span>
<span class="mila" data-lnk="1015" data-exlnk="0" id="M_19_27_6">מֵאִמְרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5196">־</span><span class="mila" data-lnk="887" data-exlnk="0" id="M_19_27_7">דָֽעַת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5198">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_28" data-pasuk-now="8"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="743" data-exlnk="0" id="M_19_28_1">עֵ֣ד</span>
<span class="mila" data-lnk="615" data-exlnk="0" id="M_19_28_2">בְּ֭לִיַּעַל</span>
<span class="mila" data-lnk="869" data-exlnk="0" id="M_19_28_3">יָלִ֣יץ</span>
<span class="mila" data-lnk="487" data-exlnk="0" id="M_19_28_4">מִשְׁפָּ֑ט</span>
<span class="mila" data-lnk="583" data-exlnk="0" id="M_19_28_5">וּפִ֥י</span>
<span class="mila" data-lnk="583" data-exlnk="0" id="M_19_28_6">רְ֝שָׁעִ֗ים</span>
<span class="mila" data-lnk="741" data-exlnk="0" id="M_19_28_7">יְבַלַּע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5206">־</span><span class="mila" data-lnk="615" data-exlnk="0" id="M_19_28_8">אָֽוֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5208">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_29" data-pasuk-now="6"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="4026537719" data-exlnk="0" id="M_19_29_1">נָכ֣וֹנוּ</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_29_2">לַלֵּצִ֣ים</span>
<span class="mila" data-lnk="631" data-exlnk="0" id="M_19_29_3">שְׁפָטִ֑ים</span>
<span class="mila" data-lnk="3221230194" data-exlnk="0" id="M_19_29_4">וּ֝מַהֲלֻמ֗וֹת</span>
<span class="mila" data-lnk="576" data-exlnk="0" id="M_19_29_5">לְגֵ֣ו</span>
<span class="mila" data-lnk="612" data-exlnk="0" id="M_19_29_6">כְּסִילִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5215">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>