<p id="PR_41" data-perek-now="177" data-perek-nops="26"><span class="perek-header">פרק מא</span>
<br /><span id="PS_41_1" data-pasuk-now="7"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_1_1">הֵן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10294">־</span><span class="mila" data-lnk="3221299255" data-exlnk="0" id="M_41_1_2">תֹּחַלְתּ֥וֹ</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_1_3">נִכְזָ֑בָה</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_41_1_4">הֲגַ֖ם</span>
<span class="mila" data-lnk="1207" data-exlnk="0" id="M_41_1_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10299">־</span><span class="mila" data-lnk="9399" data-exlnk="0" id="M_41_1_6">מַרְאָ֣יו</span>
<span class="mila" data-lnk="4026623415" data-exlnk="0" id="M_41_1_7">יֻטָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10302">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1463" data-exlnk="0" id="M_41_2_1">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10304">־</span><span class="mila" data-lnk="9655" data-exlnk="0" id="M_41_2_2">אַ֭כְזָר</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_41_2_3">כִּ֣י</span>
<span class="mila" data-lnk="3221299895" data-exlnk="0" id="M_41_2_4">יְעוּרֶ֑נּוּ</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_2_5">וּמִ֥י</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_2_6">ה֝וּא</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_41_2_7">לְפָנַ֥י</span>
<span class="mila" data-lnk="4026623287" data-exlnk="0" id="M_41_2_8">יִתְיַצָּֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10312">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_41_3_1">מִ֣י</span>
<span class="mila" data-lnk="3221299511" data-exlnk="0" id="M_41_3_2">הִ֭קְדִּימַנִי</span>
<span class="mila" data-lnk="4026623159" data-exlnk="0" id="M_41_3_3">וַאֲשַׁלֵּ֑ם</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_3_4">תַּ֖חַת</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_3_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10318">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_3_6">הַשָּׁמַ֣יִם</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_3_7">לִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10321">־</span><span class="mila" data-lnk="9495" data-exlnk="0" id="M_41_3_8">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10323">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span data-lnk="0" data-exlnk="0" id="M_41_4_1" class="mila ktiv">לֹא</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="10325">־</span><span data-lnk="3221300535" data-exlnk="0" id="M_41_4_1_K" class="mila kri">לוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10327">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_4_2">אַחֲרִ֥ישׁ</span>
<span class="mila" data-lnk="9911" data-exlnk="0" id="M_41_4_3">בַּדָּ֑יו</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_4_4">וּדְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10331">־</span><span class="mila" data-lnk="4026621975" data-exlnk="0" id="M_41_4_5">גְּ֝בוּר֗וֹת</span>
<span class="mila" data-lnk="3221300919" data-exlnk="0" id="M_41_4_6">וְחִ֣ין</span>
<span class="mila" data-lnk="4026654871" data-exlnk="0" id="M_41_4_7">עֶרְכּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10335">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="8503" data-exlnk="0" id="M_41_5_1">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10337">־</span><span class="mila" data-lnk="8503" data-exlnk="0" id="M_41_5_2">גִ֭לָּה</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_5_3">פְּנֵ֣י</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_41_5_4">לְבוּשׁ֑וֹ</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_5_5">בְּכֶ֥פֶל</span>
<span class="mila" data-lnk="10135" data-exlnk="0" id="M_41_5_6">רִ֝סְנ֗וֹ</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_41_5_7">מִ֣י</span>
<span class="mila" data-lnk="4026615088" data-exlnk="0" id="M_41_5_8">יָבֽוֹא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10345">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_6_1">דַּלְתֵ֣י</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_6_2">פָ֭נָיו</span>
<span class="mila" data-lnk="8247" data-exlnk="0" id="M_41_6_3">מִ֣י</span>
<span class="mila" data-lnk="4026622006" data-exlnk="0" id="M_41_6_4">פִתֵּ֑חַ</span>
<span class="mila" data-lnk="1303" data-exlnk="0" id="M_41_6_5">סְבִיב֖וֹת</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_41_6_6">שִׁנָּ֣יו</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_41_6_7">אֵימָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10353">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="9399" data-exlnk="0" id="M_41_7_1">גַּ֭אֲוָה</span>
<span class="mila" data-lnk="9399" data-exlnk="0" id="M_41_7_2">אֲפִיקֵ֣י</span>
<span class="mila" data-lnk="9639" data-exlnk="0" id="M_41_7_3">מָגִנִּ֑ים</span>
<span class="mila" data-lnk="805323927" data-exlnk="0" id="M_41_7_4">סָ֝ג֗וּר</span>
<span class="mila" data-lnk="1463" data-exlnk="0" id="M_41_7_5">חוֹתָ֥ם</span>
<span class="mila" data-lnk="1463" data-exlnk="0" id="M_41_7_6">צָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10360">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_8" data-pasuk-now="7"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="9495" data-exlnk="0" id="M_41_8_1">אֶחָ֣ד</span>
<span class="mila" data-lnk="9495" data-exlnk="0" id="M_41_8_2">בְּאֶחָ֣ד</span>
<span class="mila" data-lnk="3221300247" data-exlnk="0" id="M_41_8_3">יִגַּ֑שׁוּ</span>
<span class="mila" data-lnk="1286" data-exlnk="0" id="M_41_8_4">וְ֝ר֗וּחַ</span>
<span class="mila" data-lnk="1286" data-exlnk="0" id="M_41_8_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10366">־</span><span class="mila" data-lnk="1280" data-exlnk="0" id="M_41_8_6">יָבֹ֥א</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_41_8_7">בֵינֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10369">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="805322758" data-exlnk="0" id="M_41_9_1">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10371">־</span><span class="mila" data-lnk="4026646534" data-exlnk="0" id="M_41_9_2">בְּאָחִ֥יהוּ</span>
<span class="mila" data-lnk="4026613766" data-exlnk="0" id="M_41_9_3">יְדֻבָּ֑קוּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_41_9_4">יִ֝תְלַכְּד֗וּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_41_9_5">וְלֹ֣א</span>
<span class="mila" data-lnk="4026613767" data-exlnk="0" id="M_41_9_6">יִתְפָּרָֽדוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10377">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_10" data-pasuk-now="6"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221301175" data-exlnk="0" id="M_41_10_1">עֲֽ֭טִישֹׁתָיו</span>
<span class="mila" data-lnk="3221299255" data-exlnk="0" id="M_41_10_2">תָּ֣הֶל</span>
<span class="mila" data-lnk="8247" data-exlnk="0" id="M_41_10_3">א֑וֹר</span>
<span class="mila" data-lnk="805323047" data-exlnk="0" id="M_41_10_4">וְ֝עֵינָ֗יו</span>
<span class="mila" data-lnk="3221291959" data-exlnk="0" id="M_41_10_5">כְּעַפְעַפֵּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10383">־</span><span class="mila" data-lnk="423" data-exlnk="0" id="M_41_10_6">שָֽׁחַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10385">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_11" data-pasuk-now="6"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_41_11_1">מִ֭פִּיו</span>
<span class="mila" data-lnk="4026614915" data-exlnk="0" id="M_41_11_2">לַפִּידִ֣ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_41_11_3">יַהֲלֹ֑כוּ</span>
<span class="mila" data-lnk="3221301125" data-exlnk="0" id="M_41_11_4">כִּיד֥וֹדֵי</span>
<span class="mila" data-lnk="9605" data-exlnk="0" id="M_41_11_5">אֵ֝שׁ</span>
<span class="mila" data-lnk="9604" data-exlnk="0" id="M_41_11_6">יִתְמַלָּֽטוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10392">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="787" data-exlnk="0" id="M_41_12_1">מִ֭נְּחִירָיו</span>
<span class="mila" data-lnk="275" data-exlnk="0" id="M_41_12_2">יֵצֵ֣א</span>
<span class="mila" data-lnk="275" data-exlnk="0" id="M_41_12_3">עָשָׁ֑ן</span>
<span class="mila" data-lnk="10133" data-exlnk="0" id="M_41_12_4">כְּד֖וּד</span>
<span class="mila" data-lnk="4026623639" data-exlnk="0" id="M_41_12_5">נָפ֣וּחַ</span>
<span class="mila" data-lnk="4026623365" data-exlnk="0" id="M_41_12_6">וְאַגְמֹֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10399">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_13" data-pasuk-now="6"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1187" data-exlnk="0" id="M_41_13_1">נַ֭פְשׁוֹ</span>
<span class="mila" data-lnk="1827" data-exlnk="0" id="M_41_13_2">גֶּחָלִ֣ים</span>
<span class="mila" data-lnk="1187" data-exlnk="0" id="M_41_13_3">תְּלַהֵ֑ט</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_41_13_4">וְ֝לַ֗הַב</span>
<span class="mila" data-lnk="1283" data-exlnk="0" id="M_41_13_5">מִפִּ֥יו</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_41_13_6">יֵצֵֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10406">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_14" data-pasuk-now="6"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026615043" data-exlnk="0" id="M_41_14_1">בְּֽ֭צַוָּארוֹ</span>
<span class="mila" data-lnk="1283" data-exlnk="0" id="M_41_14_2">יָלִ֣ין</span>
<span class="mila" data-lnk="1283" data-exlnk="0" id="M_41_14_3">עֹ֑ז</span>
<span class="mila" data-lnk="4026622215" data-exlnk="0" id="M_41_14_4">וּ֝לְפָנָ֗יו</span>
<span class="mila" data-lnk="3221300887" data-exlnk="0" id="M_41_14_5">תָּד֥וּץ</span>
<span class="mila" data-lnk="3221301143" data-exlnk="0" id="M_41_14_6">דְּאָבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10413">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_15" data-pasuk-now="7"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221300919" data-exlnk="0" id="M_41_15_1">מַפְּלֵ֣י</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_41_15_2">בְשָׂר֣וֹ</span>
<span class="mila" data-lnk="3221300247" data-exlnk="0" id="M_41_15_3">דָבֵ֑קוּ</span>
<span class="mila" data-lnk="8323" data-exlnk="0" id="M_41_15_4">יָצ֥וּק</span>
<span class="mila" data-lnk="8195" data-exlnk="0" id="M_41_15_5">עָ֝לָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_41_15_6">בַּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10420">־</span><span class="mila" data-lnk="8483" data-exlnk="0" id="M_41_15_7">יִמּֽוֹט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10422">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="8503" data-exlnk="0" id="M_41_16_1">לִ֭בּוֹ</span>
<span class="mila" data-lnk="9783" data-exlnk="0" id="M_41_16_2">יָצ֣וּק</span>
<span class="mila" data-lnk="8503" data-exlnk="0" id="M_41_16_3">כְּמוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10426">־</span><span class="mila" data-lnk="8503" data-exlnk="0" id="M_41_16_4">אָ֑בֶן</span>
<span class="mila" data-lnk="3221299207" data-exlnk="0" id="M_41_16_5">וְ֝יָצ֗וּק</span>
<span class="mila" data-lnk="805332151" data-exlnk="0" id="M_41_16_6">כְּפֶ֣לַח</span>
<span class="mila" data-lnk="1175" data-exlnk="0" id="M_41_16_7">תַּחְתִּֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10431">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_17" data-pasuk-now="5"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026623671" data-exlnk="0" id="M_41_17_1">מִ֭שֵּׂתוֹ</span>
<span class="mila" data-lnk="9911" data-exlnk="0" id="M_41_17_2">יָג֣וּרוּ</span>
<span class="mila" data-lnk="805332119" data-exlnk="0" id="M_41_17_3">אֵלִ֑ים</span>
<span class="mila" data-lnk="9383" data-exlnk="0" id="M_41_17_4">מִ֝שְּׁבָרִ֗ים</span>
<span class="mila" data-lnk="3221300871" data-exlnk="0" id="M_41_17_5">יִתְחַטָּֽאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10437">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_18" data-pasuk-now="7"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="3221292215" data-exlnk="0" id="M_41_18_1">מַשִּׂיגֵ֣הוּ</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_41_18_2">חֶ֭רֶב</span>
<span class="mila" data-lnk="167" data-exlnk="0" id="M_41_18_3">בְּלִ֣י</span>
<span class="mila" data-lnk="8631" data-exlnk="0" id="M_41_18_4">תָק֑וּם</span>
<span class="mila" data-lnk="10167" data-exlnk="0" id="M_41_18_5">חֲנִ֖ית</span>
<span class="mila" data-lnk="4026656679" data-exlnk="0" id="M_41_18_6">מַסָּ֣ע</span>
<span class="mila" data-lnk="3221301175" data-exlnk="0" id="M_41_18_7">וְשִׁרְיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10445">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_19" data-pasuk-now="6"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="1283" data-exlnk="0" id="M_41_19_1">יַחְשֹׁ֣ב</span>
<span class="mila" data-lnk="3221292291" data-exlnk="0" id="M_41_19_2">לְתֶ֣בֶן</span>
<span class="mila" data-lnk="1283" data-exlnk="0" id="M_41_19_3">בַּרְזֶ֑ל</span>
<span class="mila" data-lnk="1283" data-exlnk="0" id="M_41_19_4">לְעֵ֖ץ</span>
<span class="mila" data-lnk="3221292802" data-exlnk="0" id="M_41_19_5">רִקָּב֣וֹן</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_41_19_6">נְחוּשָֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10452">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_20" data-pasuk-now="9"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="291" data-exlnk="0" id="M_41_20_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10454">־</span><span class="mila" data-lnk="291" data-exlnk="0" id="M_41_20_2">יַבְרִיחֶ֥נּוּ</span>
<span class="mila" data-lnk="1187" data-exlnk="0" id="M_41_20_3">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10457">־</span><span class="mila" data-lnk="1443" data-exlnk="0" id="M_41_20_4">קָ֑שֶׁת</span>
<span class="mila" data-lnk="4026613761" data-exlnk="0" id="M_41_20_5">לְ֝קַ֗שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_41_20_6">נֶהְפְּכוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10461">־</span><span class="mila" data-lnk="257" data-exlnk="0" id="M_41_20_7">ל֥וֹ</span>
<span class="mila" data-lnk="259" data-exlnk="0" id="M_41_20_8">אַבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10464">־</span><span class="mila" data-lnk="386" data-exlnk="0" id="M_41_20_9">קָֽלַע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10466">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_41_21_1">כְּ֭קַשׁ</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_41_21_2">נֶחְשְׁב֣וּ</span>
<span class="mila" data-lnk="3221291959" data-exlnk="0" id="M_41_21_3">תוֹתָ֑ח</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_41_21_4">וְ֝יִשְׂחַ֗ק</span>
<span class="mila" data-lnk="1443" data-exlnk="0" id="M_41_21_5">לְרַ֣עַשׁ</span>
<span class="mila" data-lnk="1699" data-exlnk="0" id="M_41_21_6">כִּידֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10473">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_41_22_1">תַּ֭חְתָּיו</span>
<span class="mila" data-lnk="3221300887" data-exlnk="0" id="M_41_22_2">חַדּ֣וּדֵי</span>
<span class="mila" data-lnk="9879" data-exlnk="0" id="M_41_22_3">חָ֑רֶשׂ</span>
<span class="mila" data-lnk="3221300919" data-exlnk="0" id="M_41_22_4">יִרְפַּ֖ד</span>
<span class="mila" data-lnk="8743" data-exlnk="0" id="M_41_22_5">חָר֣וּץ</span>
<span class="mila" data-lnk="9223" data-exlnk="0" id="M_41_22_6">עֲלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10480">־</span><span class="mila" data-lnk="9511" data-exlnk="0" id="M_41_22_7">טִֽיט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10482">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_23" data-pasuk-now="6"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="3221300535" data-exlnk="0" id="M_41_23_1">יַרְתִּ֣יחַ</span>
<span class="mila" data-lnk="3221300535" data-exlnk="0" id="M_41_23_2">כַּסִּ֣יר</span>
<span class="mila" data-lnk="9399" data-exlnk="0" id="M_41_23_3">מְצוּלָ֑ה</span>
<span class="mila" data-lnk="9495" data-exlnk="0" id="M_41_23_4">יָ֝ם</span>
<span class="mila" data-lnk="9239" data-exlnk="0" id="M_41_23_5">יָשִׂ֥ים</span>
<span class="mila" data-lnk="3221300503" data-exlnk="0" id="M_41_23_6">כַּמֶּרְקָחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10489">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_24" data-pasuk-now="6"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_41_24_1">אַ֭חֲרָיו</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_41_24_2">יָאִ֣יר</span>
<span class="mila" data-lnk="8247" data-exlnk="0" id="M_41_24_3">נָתִ֑יב</span>
<span class="mila" data-lnk="9399" data-exlnk="0" id="M_41_24_4">יַחְשֹׁ֖ב</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_41_24_5">תְּה֣וֹם</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_41_24_6">לְשֵׂיבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10496">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_25" data-pasuk-now="7"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_25_1">אֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10498">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_25_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10500">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_25_3">עָפָ֥ר</span>
<span class="mila" data-lnk="695" data-exlnk="0" id="M_41_25_4">מָשְׁל֑וֹ</span>
<span class="mila" data-lnk="3221300151" data-exlnk="0" id="M_41_25_5">הֶ֝עָשׂ֗וּ</span>
<span class="mila" data-lnk="1206" data-exlnk="0" id="M_41_25_6">לִבְלִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10505">־</span><span class="mila" data-lnk="1204" data-exlnk="0" id="M_41_25_7">חָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10507">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_41_26" data-pasuk-now="10"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="3221267767" data-exlnk="0" id="M_41_26_1">אֵֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10509">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_26_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10511">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_26_3">גָּבֹ֥הַּ</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_26_4">יִרְאֶ֑ה</span>
<span class="mila" data-lnk="8503" data-exlnk="0" id="M_41_26_5">ה֝וּא</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_26_6">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_26_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10517">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_26_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10519">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_41_26_9">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10521">־</span><span class="mila" data-lnk="4026623671" data-exlnk="0" id="M_41_26_10">שָֽׁחַץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10524">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="10525"> פ </span>
</span>
<br /></p>