<p id="PR_8" data-perek-now="166" data-perek-nops="22"><span class="perek-header">פרק ח</span>
<br /><span id="PS_8_1" data-pasuk-now="4"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="10928" data-exlnk="0" id="M_8_1_1">וַ֭יַּעַן</span>
<span class="mila" data-lnk="11184" data-exlnk="0" id="M_8_1_2">בִּלְדַּ֥ד</span>
<span class="mila" data-lnk="2464" data-exlnk="0" id="M_8_1_3">הַשּׁוּחִ֗י</span>
<span class="mila" data-lnk="2176" data-exlnk="0" id="M_8_1_4">וַיֹּאמַֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1906">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="1907"> פ </span>
</span>
<br /><span id="PS_8_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="290" data-exlnk="0" id="M_8_2_1">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1909">־</span><span class="mila" data-lnk="4026614562" data-exlnk="0" id="M_8_2_2">אָ֥ן</span>
<span class="mila" data-lnk="1314" data-exlnk="0" id="M_8_2_3">תְּמַלֶּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1912">־</span><span class="mila" data-lnk="1314" data-exlnk="0" id="M_8_2_4">אֵ֑לֶּה</span>
<span class="mila" data-lnk="10113" data-exlnk="0" id="M_8_2_5">וְר֥וּחַ</span>
<span class="mila" data-lnk="10115" data-exlnk="0" id="M_8_2_6">כַּ֝בִּ֗יר</span>
<span class="mila" data-lnk="9344" data-exlnk="0" id="M_8_2_7">אִמְרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1917">־</span><span class="mila" data-lnk="9600" data-exlnk="0" id="M_8_2_8">פִֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1919">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_3" data-pasuk-now="7"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221291057" data-exlnk="0" id="M_8_3_1">הַ֭אֵל</span>
<span class="mila" data-lnk="305" data-exlnk="0" id="M_8_3_2">יְעַוֵּ֣ת</span>
<span class="mila" data-lnk="305" data-exlnk="0" id="M_8_3_3">מִשְׁפָּ֑ט</span>
<span class="mila" data-lnk="52" data-exlnk="0" id="M_8_3_4">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1924">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_8_3_5">שַׁ֝דַּ֗י</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_8_3_6">יְעַוֵּֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1927">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_8_3_7">צֶֽדֶק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1929">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="2320" data-exlnk="0" id="M_8_4_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1931">־</span><span class="mila" data-lnk="2304" data-exlnk="0" id="M_8_4_2">בָּנֶ֥יךָ</span>
<span class="mila" data-lnk="2304" data-exlnk="0" id="M_8_4_3">חָֽטְאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1934">־</span><span class="mila" data-lnk="2320" data-exlnk="0" id="M_8_4_4">ל֑וֹ</span>
<span class="mila" data-lnk="1571" data-exlnk="0" id="M_8_4_5">וַֽ֝יְשַׁלְּחֵ֗ם</span>
<span class="mila" data-lnk="1061" data-exlnk="0" id="M_8_4_6">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1938">־</span><span class="mila" data-lnk="1061" data-exlnk="0" id="M_8_4_7">פִּשְׁעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1940">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="2327" data-exlnk="0" id="M_8_5_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1942">־</span><span class="mila" data-lnk="2327" data-exlnk="0" id="M_8_5_2">אַ֭תָּה</span>
<span class="mila" data-lnk="3079" data-exlnk="0" id="M_8_5_3">תְּשַׁחֵ֣ר</span>
<span class="mila" data-lnk="3348" data-exlnk="0" id="M_8_5_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1946">־</span><span class="mila" data-lnk="3348" data-exlnk="0" id="M_8_5_5">אֵ֑ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_5_6">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1949">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_8_5_7">שַׁ֝דַּ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_5_8">תִּתְחַנָּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1952">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="2326" data-exlnk="0" id="M_8_6_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1954">־</span><span class="mila" data-lnk="3350" data-exlnk="0" id="M_8_6_2">זַ֥ךְ</span>
<span class="mila" data-lnk="3334" data-exlnk="0" id="M_8_6_3">וְיָשָׁ֗ר</span>
<span class="mila" data-lnk="2324" data-exlnk="0" id="M_8_6_4">אָ֥תָּה</span>
<span class="mila" data-lnk="9236" data-exlnk="0" id="M_8_6_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1959">־</span><span class="mila" data-lnk="9492" data-exlnk="0" id="M_8_6_6">עַ֭תָּה</span>
<span class="mila" data-lnk="4026622119" data-exlnk="0" id="M_8_6_7">יָעִ֣יר</span>
<span class="mila" data-lnk="9399" data-exlnk="0" id="M_8_6_8">עָלֶ֑יךָ</span>
<span class="mila" data-lnk="4026622487" data-exlnk="0" id="M_8_6_9">וְ֝שִׁלַּ֗ם</span>
<span class="mila" data-lnk="8871" data-exlnk="0" id="M_8_6_10">נְוַ֣ת</span>
<span class="mila" data-lnk="8231" data-exlnk="0" id="M_8_6_11">צִדְקֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1966">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_8_7_1">וְהָיָ֣ה</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_8_7_2">רֵאשִׁיתְךָ֣</span>
<span class="mila" data-lnk="4026614311" data-exlnk="0" id="M_8_7_3">מִצְעָ֑ר</span>
<span class="mila" data-lnk="1031" data-exlnk="0" id="M_8_7_4">וְ֝אַחֲרִֽיתְךָ֗</span>
<span class="mila" data-lnk="4026614305" data-exlnk="0" id="M_8_7_5">יִשְׂגֶּ֥ה</span>
<span class="mila" data-lnk="1061" data-exlnk="0" id="M_8_7_6">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1973">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="3221259558" data-exlnk="0" id="M_8_8_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1975">־</span><span class="mila" data-lnk="1073775910" data-exlnk="0" id="M_8_8_2">שְׁאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1977">־</span><span class="mila" data-lnk="1073775910" data-exlnk="0" id="M_8_8_3">נָ֭א</span>
<span class="mila" data-lnk="4026647591" data-exlnk="0" id="M_8_8_4">לְדֹ֣ר</span>
<span class="mila" data-lnk="3221325351" data-exlnk="0" id="M_8_8_5">רִישׁ֑וֹן</span>
<span class="mila" data-lnk="9991" data-exlnk="0" id="M_8_8_6">וְ֝כוֹנֵ֗ן</span>
<span class="mila" data-lnk="8198" data-exlnk="0" id="M_8_8_7">לְחֵ֣קֶר</span>
<span class="mila" data-lnk="9223" data-exlnk="0" id="M_8_8_8">אֲבוֹתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1984">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="1062" data-exlnk="0" id="M_8_9_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1986">־</span><span class="mila" data-lnk="1318" data-exlnk="0" id="M_8_9_2">תְמ֣וֹל</span>
<span class="mila" data-lnk="294" data-exlnk="0" id="M_8_9_3">אֲ֭נַחְנוּ</span>
<span class="mila" data-lnk="1316" data-exlnk="0" id="M_8_9_4">וְלֹ֣א</span>
<span class="mila" data-lnk="1316" data-exlnk="0" id="M_8_9_5">נֵדָ֑ע</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_9_6">כִּ֤י</span>
<span class="mila" data-lnk="1030" data-exlnk="0" id="M_8_9_7">צֵ֖ל</span>
<span class="mila" data-lnk="1030" data-exlnk="0" id="M_8_9_8">יָמֵ֣ינוּ</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_8_9_9">עֲלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1995">־</span><span class="mila" data-lnk="1028" data-exlnk="0" id="M_8_9_10">אָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1997">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1314" data-exlnk="0" id="M_8_10_1">הֲלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1999">־</span><span class="mila" data-lnk="1318" data-exlnk="0" id="M_8_10_2">הֵ֣ם</span>
<span class="mila" data-lnk="4026614054" data-exlnk="0" id="M_8_10_3">י֭וֹרוּךָ</span>
<span class="mila" data-lnk="292" data-exlnk="0" id="M_8_10_4">יֹ֣אמְרוּ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_8_10_5">לָ֑ךְ</span>
<span class="mila" data-lnk="3221291044" data-exlnk="0" id="M_8_10_6">וּ֝מִלִּבָּ֗ם</span>
<span class="mila" data-lnk="4026613796" data-exlnk="0" id="M_8_10_7">יוֹצִ֥אוּ</span>
<span class="mila" data-lnk="4026613796" data-exlnk="0" id="M_8_10_8">מִלִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2007">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="3221300405" data-exlnk="0" id="M_8_11_1">הֲיִֽגְאֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2009">־</span><span class="mila" data-lnk="4026623285" data-exlnk="0" id="M_8_11_2">גֹּ֭מֶא</span>
<span class="mila" data-lnk="8244" data-exlnk="0" id="M_8_11_3">בְּלֹ֣א</span>
<span class="mila" data-lnk="4026622133" data-exlnk="0" id="M_8_11_4">בִצָּ֑ה</span>
<span class="mila" data-lnk="805332230" data-exlnk="0" id="M_8_11_5">יִשְׂגֶּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2014">־</span><span class="mila" data-lnk="9638" data-exlnk="0" id="M_8_11_6">אָ֥חוּ</span>
<span class="mila" data-lnk="8484" data-exlnk="0" id="M_8_11_7">בְלִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2017">־</span><span class="mila" data-lnk="8484" data-exlnk="0" id="M_8_11_8">מָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2019">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026623124" data-exlnk="0" id="M_8_12_1">עֹדֶ֣נּוּ</span>
<span class="mila" data-lnk="3221299895" data-exlnk="0" id="M_8_12_2">בְ֭אִבּוֹ</span>
<span class="mila" data-lnk="9381" data-exlnk="0" id="M_8_12_3">לֹ֣א</span>
<span class="mila" data-lnk="3221300133" data-exlnk="0" id="M_8_12_4">יִקָּטֵ֑ף</span>
<span class="mila" data-lnk="53" data-exlnk="0" id="M_8_12_5">וְלִפְנֵ֖י</span>
<span class="mila" data-lnk="9653" data-exlnk="0" id="M_8_12_6">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2026">־</span><span class="mila" data-lnk="9397" data-exlnk="0" id="M_8_12_7">חָצִ֣יר</span>
<span class="mila" data-lnk="9653" data-exlnk="0" id="M_8_12_8">יִיבָֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2029">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_8_13_1">כֵּ֗ן</span>
<span class="mila" data-lnk="9237" data-exlnk="0" id="M_8_13_2">אָ֭רְחוֹת</span>
<span class="mila" data-lnk="8213" data-exlnk="0" id="M_8_13_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2033">־</span><span class="mila" data-lnk="9477" data-exlnk="0" id="M_8_13_4">שֹׁ֣כְחֵי</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_8_13_5">אֵ֑ל</span>
<span class="mila" data-lnk="1027" data-exlnk="0" id="M_8_13_6">וְתִקְוַ֖ת</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_8_13_7">חָנֵ֣ף</span>
<span class="mila" data-lnk="1026" data-exlnk="0" id="M_8_13_8">תֹּאבֵֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2039">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_14" data-pasuk-now="6"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="8325" data-exlnk="0" id="M_8_14_1">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2041">־</span><span class="mila" data-lnk="3221300917" data-exlnk="0" id="M_8_14_2">יָק֥וֹט</span>
<span class="mila" data-lnk="3221299767" data-exlnk="0" id="M_8_14_3">כִּסְל֑וֹ</span>
<span class="mila" data-lnk="9349" data-exlnk="0" id="M_8_14_4">וּבֵ֥ית</span>
<span class="mila" data-lnk="10117" data-exlnk="0" id="M_8_14_5">עַ֝כָּבִ֗ישׁ</span>
<span class="mila" data-lnk="4026655781" data-exlnk="0" id="M_8_14_6">מִבְטַחֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2047">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_15" data-pasuk-now="9"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="8324" data-exlnk="0" id="M_8_15_1">יִשָּׁעֵ֣ן</span>
<span class="mila" data-lnk="4026656132" data-exlnk="0" id="M_8_15_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2050">־</span><span class="mila" data-lnk="4026656132" data-exlnk="0" id="M_8_15_3">בֵּ֭יתוֹ</span>
<span class="mila" data-lnk="3489751174" data-exlnk="0" id="M_8_15_4">וְלֹ֣א</span>
<span class="mila" data-lnk="4026622086" data-exlnk="0" id="M_8_15_5">יַעֲמֹ֑ד</span>
<span class="mila" data-lnk="8326" data-exlnk="0" id="M_8_15_6">יַחֲזִ֥יק</span>
<span class="mila" data-lnk="8326" data-exlnk="0" id="M_8_15_7">בּ֝וֹ</span>
<span class="mila" data-lnk="3489751174" data-exlnk="0" id="M_8_15_8">וְלֹ֣א</span>
<span class="mila" data-lnk="4026622084" data-exlnk="0" id="M_8_15_9">יָקֽוּם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2058">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_16" data-pasuk-now="8"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3221300917" data-exlnk="0" id="M_8_16_1">רָטֹ֣ב</span>
<span class="mila" data-lnk="8373" data-exlnk="0" id="M_8_16_2">ה֭וּא</span>
<span class="mila" data-lnk="9396" data-exlnk="0" id="M_8_16_3">לִפְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2062">־</span><span class="mila" data-lnk="9652" data-exlnk="0" id="M_8_16_4">שָׁ֑מֶשׁ</span>
<span class="mila" data-lnk="3489744277" data-exlnk="0" id="M_8_16_5">וְעַ֥ל</span>
<span class="mila" data-lnk="4026614933" data-exlnk="0" id="M_8_16_6">גַּ֝נָּת֗וֹ</span>
<span class="mila" data-lnk="1797" data-exlnk="0" id="M_8_16_7">יֹנַקְתּ֥וֹ</span>
<span class="mila" data-lnk="1029" data-exlnk="0" id="M_8_16_8">תֵצֵֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2068">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_17" data-pasuk-now="7"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="10166" data-exlnk="0" id="M_8_17_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2070">־</span><span class="mila" data-lnk="10166" data-exlnk="0" id="M_8_17_2">גַּ֭ל</span>
<span class="mila" data-lnk="9638" data-exlnk="0" id="M_8_17_3">שָׁרָשָׁ֣יו</span>
<span class="mila" data-lnk="3221291685" data-exlnk="0" id="M_8_17_4">יְסֻבָּ֑כוּ</span>
<span class="mila" data-lnk="1061" data-exlnk="0" id="M_8_17_5">בֵּ֖ית</span>
<span class="mila" data-lnk="1077" data-exlnk="0" id="M_8_17_6">אֲבָנִ֣ים</span>
<span class="mila" data-lnk="1717" data-exlnk="0" id="M_8_17_7">יֶחֱזֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2077">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_18" data-pasuk-now="7"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="9524" data-exlnk="0" id="M_8_18_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2079">־</span><span class="mila" data-lnk="9909" data-exlnk="0" id="M_8_18_2">יְבַלְּעֶ֥נּוּ</span>
<span class="mila" data-lnk="8485" data-exlnk="0" id="M_8_18_3">מִמְּקֹמ֑וֹ</span>
<span class="mila" data-lnk="4026622999" data-exlnk="0" id="M_8_18_4">וְכִ֥חֶשׁ</span>
<span class="mila" data-lnk="8247" data-exlnk="0" id="M_8_18_5">בּ֝וֹ</span>
<span class="mila" data-lnk="9396" data-exlnk="0" id="M_8_18_6">לֹ֣א</span>
<span class="mila" data-lnk="3221300404" data-exlnk="0" id="M_8_18_7">רְאִיתִֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2086">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_19" data-pasuk-now="7"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026614837" data-exlnk="0" id="M_8_19_1">הֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2088">־</span><span class="mila" data-lnk="9525" data-exlnk="0" id="M_8_19_2">ה֭וּא</span>
<span class="mila" data-lnk="9525" data-exlnk="0" id="M_8_19_3">מְשׂ֣וֹשׂ</span>
<span class="mila" data-lnk="9525" data-exlnk="0" id="M_8_19_4">דַּרְכּ֑וֹ</span>
<span class="mila" data-lnk="4026623287" data-exlnk="0" id="M_8_19_5">וּ֝מֵעָפָ֗ר</span>
<span class="mila" data-lnk="1333" data-exlnk="0" id="M_8_19_6">אַחֵ֥ר</span>
<span class="mila" data-lnk="9511" data-exlnk="0" id="M_8_19_7">יִצְמָֽחוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2095">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_20" data-pasuk-now="9"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="8241" data-exlnk="0" id="M_8_20_1">הֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2097">־</span><span class="mila" data-lnk="8373" data-exlnk="0" id="M_8_20_2">אֵ֭ל</span>
<span class="mila" data-lnk="9653" data-exlnk="0" id="M_8_20_3">לֹ֣א</span>
<span class="mila" data-lnk="9509" data-exlnk="0" id="M_8_20_4">יִמְאַס</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2101">־</span><span class="mila" data-lnk="9525" data-exlnk="0" id="M_8_20_5">תָּ֑ם</span>
<span class="mila" data-lnk="9399" data-exlnk="0" id="M_8_20_6">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2104">־</span><span class="mila" data-lnk="9399" data-exlnk="0" id="M_8_20_7">יַ֝חֲזִ֗יק</span>
<span class="mila" data-lnk="9395" data-exlnk="0" id="M_8_20_8">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2107">־</span><span class="mila" data-lnk="9395" data-exlnk="0" id="M_8_20_9">מְרֵעִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2109">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="11815" data-exlnk="0" id="M_8_21_1">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2111">־</span><span class="mila" data-lnk="4026625591" data-exlnk="0" id="M_8_21_2">יְמַלֵּ֣ה</span>
<span class="mila" data-lnk="11575" data-exlnk="0" id="M_8_21_3">שְׂח֣וֹק</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_8_21_4">פִּ֑יךָ</span>
<span class="mila" data-lnk="308" data-exlnk="0" id="M_8_21_5">וּשְׂפָתֶ֥יךָ</span>
<span class="mila" data-lnk="54" data-exlnk="0" id="M_8_21_6">תְרוּעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2117">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_22" data-pasuk-now="6"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="2342" data-exlnk="0" id="M_8_22_1">שֹׂנְאֶ֥יךָ</span>
<span class="mila" data-lnk="3366" data-exlnk="0" id="M_8_22_2">יִלְבְּשׁוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2120">־</span><span class="mila" data-lnk="3364" data-exlnk="0" id="M_8_22_3">בֹ֑שֶׁת</span>
<span class="mila" data-lnk="1316" data-exlnk="0" id="M_8_22_4">וְאֹ֖הֶל</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_8_22_5">רְשָׁעִ֣ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_8_22_6">אֵינֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2126">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2127">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>