<p id="PR_7" data-perek-now="172" data-perek-nops="21"><span class="perek-header">פרק ז</span>
<br /><span id="PS_7_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="10295" data-exlnk="0" id="M_7_1_1">הֲלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1675">־</span><span class="mila" data-lnk="11959" data-exlnk="0" id="M_7_1_2">צָבָ֣א</span>
<span class="mila" data-lnk="11575" data-exlnk="0" id="M_7_1_3">לֶאֱנ֣וֹשׁ</span>
<span data-lnk="0" data-exlnk="0" id="M_7_1_4" class="mila ktiv">עֲלֵ</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="1679">־</span><span data-lnk="3221299252" data-exlnk="0" id="M_7_1_4_K" class="mila kri">עֲלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1681">־</span><span class="mila" data-lnk="9524" data-exlnk="0" id="M_7_1_5">אָ֑רֶץ</span>
<span class="mila" data-lnk="9237" data-exlnk="0" id="M_7_1_6">וְכִימֵ֖י</span>
<span class="mila" data-lnk="9269" data-exlnk="0" id="M_7_1_7">שָׂכִ֣יר</span>
<span class="mila" data-lnk="8496" data-exlnk="0" id="M_7_1_8">יָמָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1686">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_2" data-pasuk-now="6"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="8471" data-exlnk="0" id="M_7_2_1">כְּעֶ֥בֶד</span>
<span class="mila" data-lnk="1687" data-exlnk="0" id="M_7_2_2">יִשְׁאַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1689">־</span><span class="mila" data-lnk="9239" data-exlnk="0" id="M_7_2_3">צֵ֑ל</span>
<span class="mila" data-lnk="3221300501" data-exlnk="0" id="M_7_2_4">וּ֝כְשָׂכִ֗יר</span>
<span class="mila" data-lnk="1301" data-exlnk="0" id="M_7_2_5">יְקַוֶּ֥ה</span>
<span class="mila" data-lnk="9349" data-exlnk="0" id="M_7_2_6">פָעֳלֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1694">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="9495" data-exlnk="0" id="M_7_3_1">כֵּ֤ן</span>
<span class="mila" data-lnk="3221301015" data-exlnk="0" id="M_7_3_2">הָנְחַ֣לְתִּי</span>
<span class="mila" data-lnk="8471" data-exlnk="0" id="M_7_3_3">לִ֭י</span>
<span class="mila" data-lnk="9495" data-exlnk="0" id="M_7_3_4">יַרְחֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1699">־</span><span class="mila" data-lnk="8471" data-exlnk="0" id="M_7_3_5">שָׁ֑וְא</span>
<span class="mila" data-lnk="1303" data-exlnk="0" id="M_7_3_6">וְלֵיל֥וֹת</span>
<span class="mila" data-lnk="9495" data-exlnk="0" id="M_7_3_7">עָ֝מָ֗ל</span>
<span class="mila" data-lnk="535" data-exlnk="0" id="M_7_3_8">מִנּוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1704">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_7_3_9">לִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1706">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_4" data-pasuk-now="11"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="9489" data-exlnk="0" id="M_7_4_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1708">־</span><span class="mila" data-lnk="9489" data-exlnk="0" id="M_7_4_2">שָׁכַ֗בְתִּי</span>
<span class="mila" data-lnk="8241" data-exlnk="0" id="M_7_4_3">וְאָמַ֗רְתִּי</span>
<span class="mila" data-lnk="9524" data-exlnk="0" id="M_7_4_4">מָתַ֣י</span>
<span class="mila" data-lnk="9520" data-exlnk="0" id="M_7_4_5">אָ֭קוּם</span>
<span class="mila" data-lnk="3221292727" data-exlnk="0" id="M_7_4_6">וּמִדַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1714">־</span><span class="mila" data-lnk="9653" data-exlnk="0" id="M_7_4_7">עָ֑רֶב</span>
<span class="mila" data-lnk="1297" data-exlnk="0" id="M_7_4_8">וְשָׂבַ֖עְתִּי</span>
<span class="mila" data-lnk="3221301011" data-exlnk="0" id="M_7_4_9">נְדֻדִ֣ים</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_7_4_10">עֲדֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1719">־</span><span class="mila" data-lnk="1537" data-exlnk="0" id="M_7_4_11">נָֽשֶׁף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1721">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_5" data-pasuk-now="8"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="8195" data-exlnk="0" id="M_7_5_1">לָ֮בַ֤שׁ</span>
<span class="mila" data-lnk="8483" data-exlnk="0" id="M_7_5_2">בְּשָׂרִ֣י</span>
<span class="mila" data-lnk="8483" data-exlnk="0" id="M_7_5_3">רִ֭מָּה</span>
<span data-lnk="0" data-exlnk="0" id="M_7_5_4" class="mila ktiv">וְג֣יּשׁ</span>
<span data-lnk="3221303059" data-exlnk="0" id="M_7_5_4_K" class="mila kri">וְג֣וּשׁ</span>
<span class="mila" data-lnk="12081" data-exlnk="0" id="M_7_5_5">עָפָ֑ר</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_7_5_6">עוֹרִ֥י</span>
<span class="mila" data-lnk="8853" data-exlnk="0" id="M_7_5_7">רָ֝גַ֗ע</span>
<span class="mila" data-lnk="9392" data-exlnk="0" id="M_7_5_8">וַיִּמָּאֵֽס</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1731">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="8497" data-exlnk="0" id="M_7_6_1">יָמַ֣י</span>
<span class="mila" data-lnk="805332273" data-exlnk="0" id="M_7_6_2">קַ֭לּוּ</span>
<span class="mila" data-lnk="8725" data-exlnk="0" id="M_7_6_3">מִנִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1735">־</span><span class="mila" data-lnk="10165" data-exlnk="0" id="M_7_6_4">אָ֑רֶג</span>
<span class="mila" data-lnk="4026622224" data-exlnk="0" id="M_7_6_5">וַ֝יִּכְל֗וּ</span>
<span class="mila" data-lnk="11827" data-exlnk="0" id="M_7_6_6">בְּאֶ֣פֶס</span>
<span class="mila" data-lnk="12081" data-exlnk="0" id="M_7_6_7">תִּקְוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1740">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="9520" data-exlnk="0" id="M_7_7_1">זְ֭כֹר</span>
<span class="mila" data-lnk="1328" data-exlnk="0" id="M_7_7_2">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1743">־</span><span class="mila" data-lnk="9520" data-exlnk="0" id="M_7_7_3">ר֣וּחַ</span>
<span class="mila" data-lnk="1328" data-exlnk="0" id="M_7_7_4">חַיָּ֑י</span>
<span class="mila" data-lnk="9235" data-exlnk="0" id="M_7_7_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1747">־</span><span class="mila" data-lnk="9491" data-exlnk="0" id="M_7_7_6">תָשׁ֥וּב</span>
<span class="mila" data-lnk="805332241" data-exlnk="0" id="M_7_7_7">עֵ֝ינִ֗י</span>
<span class="mila" data-lnk="8448" data-exlnk="0" id="M_7_7_8">לִרְא֥וֹת</span>
<span class="mila" data-lnk="8448" data-exlnk="0" id="M_7_7_9">טֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1752">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_8" data-pasuk-now="7"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="8465" data-exlnk="0" id="M_7_8_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1754">־</span><span class="mila" data-lnk="8465" data-exlnk="0" id="M_7_8_2">תְ֭שׁוּרֵנִי</span>
<span class="mila" data-lnk="9488" data-exlnk="0" id="M_7_8_3">עֵ֣ין</span>
<span class="mila" data-lnk="805332738" data-exlnk="0" id="M_7_8_4">רֹ֑אִי</span>
<span class="mila" data-lnk="9233" data-exlnk="0" id="M_7_8_5">עֵינֶ֖יךָ</span>
<span class="mila" data-lnk="9233" data-exlnk="0" id="M_7_8_6">בִּ֣י</span>
<span class="mila" data-lnk="4026622993" data-exlnk="0" id="M_7_8_7">וְאֵינֶֽנִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1761">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_9" data-pasuk-now="8"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="10496" data-exlnk="0" id="M_7_9_1">כָּלָ֣ה</span>
<span class="mila" data-lnk="11520" data-exlnk="0" id="M_7_9_2">עָ֭נָן</span>
<span class="mila" data-lnk="4026624256" data-exlnk="0" id="M_7_9_3">וַיֵּלַ֑ךְ</span>
<span class="mila" data-lnk="8470" data-exlnk="0" id="M_7_9_4">כֵּ֥ן</span>
<span class="mila" data-lnk="4026621974" data-exlnk="0" id="M_7_9_5">יוֹרֵ֥ד</span>
<span class="mila" data-lnk="8470" data-exlnk="0" id="M_7_9_6">שְׁ֝א֗וֹל</span>
<span class="mila" data-lnk="8470" data-exlnk="0" id="M_7_9_7">לֹ֣א</span>
<span class="mila" data-lnk="8470" data-exlnk="0" id="M_7_9_8">יַעֲלֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1770">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="272" data-exlnk="0" id="M_7_10_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1772">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_7_10_2">יָשׁ֣וּב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_3">ע֣וֹד</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_10_4">לְבֵית֑וֹ</span>
<span class="mila" data-lnk="1328" data-exlnk="0" id="M_7_10_5">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1777">־</span><span class="mila" data-lnk="1056" data-exlnk="0" id="M_7_10_6">יַכִּירֶ֖נּוּ</span>
<span class="mila" data-lnk="1056" data-exlnk="0" id="M_7_10_7">ע֣וֹד</span>
<span class="mila" data-lnk="1056" data-exlnk="0" id="M_7_10_8">מְקֹמֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1781">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_11" data-pasuk-now="11"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="3489752341" data-exlnk="0" id="M_7_11_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1783">־</span><span class="mila" data-lnk="3758187797" data-exlnk="0" id="M_7_11_2">אֲנִי֮</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_7_11_3">לֹ֤א</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_7_11_4">אֶחֱשָׂ֫ךְ</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_7_11_5">פִּ֥י</span>
<span class="mila" data-lnk="272" data-exlnk="0" id="M_7_11_6">אֲֽ֭דַבְּרָה</span>
<span class="mila" data-lnk="3221292048" data-exlnk="0" id="M_7_11_7">בְּצַ֣ר</span>
<span class="mila" data-lnk="1296" data-exlnk="0" id="M_7_11_8">רוּחִ֑י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_7_11_9">אָ֝שִׂ֗יחָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_11_10">בְּמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_11_11">נַפְשִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1794">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221300533" data-exlnk="0" id="M_7_12_1">הֲֽיָם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1796">־</span><span class="mila" data-lnk="8501" data-exlnk="0" id="M_7_12_2">אָ֭נִי</span>
<span class="mila" data-lnk="8501" data-exlnk="0" id="M_7_12_3">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1799">־</span><span class="mila" data-lnk="4026623285" data-exlnk="0" id="M_7_12_4">תַּנִּ֑ין</span>
<span class="mila" data-lnk="8503" data-exlnk="0" id="M_7_12_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1802">־</span><span class="mila" data-lnk="8503" data-exlnk="0" id="M_7_12_6">תָשִׂ֖ים</span>
<span class="mila" data-lnk="8503" data-exlnk="0" id="M_7_12_7">עָלַ֣י</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_7_12_8">מִשְׁמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1806">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="278" data-exlnk="0" id="M_7_13_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1808">־</span><span class="mila" data-lnk="8470" data-exlnk="0" id="M_7_13_2">אָ֭מַרְתִּי</span>
<span class="mila" data-lnk="9236" data-exlnk="0" id="M_7_13_3">תְּנַחֲמֵ֣נִי</span>
<span class="mila" data-lnk="8468" data-exlnk="0" id="M_7_13_4">עַרְשִׂ֑י</span>
<span class="mila" data-lnk="805332789" data-exlnk="0" id="M_7_13_5">יִשָּׂ֥א</span>
<span class="mila" data-lnk="9397" data-exlnk="0" id="M_7_13_6">בְ֝שִׂיחִ֗י</span>
<span class="mila" data-lnk="9525" data-exlnk="0" id="M_7_13_7">מִשְׁכָּבִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1815">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_14" data-pasuk-now="4"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="3221299510" data-exlnk="0" id="M_7_14_1">וְחִתַּתַּ֥נִי</span>
<span class="mila" data-lnk="9526" data-exlnk="0" id="M_7_14_2">בַחֲלֹמ֑וֹת</span>
<span class="mila" data-lnk="3221291266" data-exlnk="0" id="M_7_14_3">וּֽמֵחֶזְיֹנ֥וֹת</span>
<span class="mila" data-lnk="4026614272" data-exlnk="0" id="M_7_14_4">תְּבַעֲתַֽנִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1820">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_15" data-pasuk-now="5"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="8192" data-exlnk="0" id="M_7_15_1">וַתִּבְחַ֣ר</span>
<span class="mila" data-lnk="3221300502" data-exlnk="0" id="M_7_15_2">מַחֲנָ֣ק</span>
<span class="mila" data-lnk="8452" data-exlnk="0" id="M_7_15_3">נַפְשִׁ֑י</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_7_15_4">מָ֝וֶת</span>
<span class="mila" data-lnk="8341" data-exlnk="0" id="M_7_15_5">מֵעַצְמוֹתָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1826">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="9525" data-exlnk="0" id="M_7_16_1">מָ֭אַסְתִּי</span>
<span class="mila" data-lnk="8501" data-exlnk="0" id="M_7_16_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1829">־</span><span class="mila" data-lnk="4026622005" data-exlnk="0" id="M_7_16_3">לְעֹלָ֣ם</span>
<span class="mila" data-lnk="4026622245" data-exlnk="0" id="M_7_16_4">אֶחְיֶ֑ה</span>
<span class="mila" data-lnk="9524" data-exlnk="0" id="M_7_16_5">חֲדַ֥ל</span>
<span class="mila" data-lnk="9524" data-exlnk="0" id="M_7_16_6">מִ֝מֶּ֗נִּי</span>
<span class="mila" data-lnk="8501" data-exlnk="0" id="M_7_16_7">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1835">־</span><span class="mila" data-lnk="8501" data-exlnk="0" id="M_7_16_8">הֶ֥בֶל</span>
<span class="mila" data-lnk="8501" data-exlnk="0" id="M_7_16_9">יָמָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1838">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="8212" data-exlnk="0" id="M_7_17_1">מָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1840">־</span><span class="mila" data-lnk="8212" data-exlnk="0" id="M_7_17_2">אֱ֭נוֹשׁ</span>
<span class="mila" data-lnk="8197" data-exlnk="0" id="M_7_17_3">כִּ֣י</span>
<span class="mila" data-lnk="8197" data-exlnk="0" id="M_7_17_4">תְגַדְּלֶ֑נּוּ</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_7_17_5">וְכִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1845">־</span><span class="mila" data-lnk="805323780" data-exlnk="0" id="M_7_17_6">תָשִׁ֖ית</span>
<span class="mila" data-lnk="1029" data-exlnk="0" id="M_7_17_7">אֵלָ֣יו</span>
<span class="mila" data-lnk="1029" data-exlnk="0" id="M_7_17_8">לִבֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1849">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_18" data-pasuk-now="4"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_18_1">וַתִּפְקְדֶ֥נּוּ</span>
<span class="mila" data-lnk="3221292308" data-exlnk="0" id="M_7_18_2">לִבְקָרִ֑ים</span>
<span class="mila" data-lnk="4026615060" data-exlnk="0" id="M_7_18_3">לִ֝רְגָעִ֗ים</span>
<span class="mila" data-lnk="3221292036" data-exlnk="0" id="M_7_18_4">תִּבְחָנֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1854">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_19" data-pasuk-now="9"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="8469" data-exlnk="0" id="M_7_19_1">כַּ֭מָּה</span>
<span class="mila" data-lnk="8215" data-exlnk="0" id="M_7_19_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1857">־</span><span class="mila" data-lnk="8855" data-exlnk="0" id="M_7_19_3">תִשְׁעֶ֣ה</span>
<span class="mila" data-lnk="8471" data-exlnk="0" id="M_7_19_4">מִמֶּ֑נִּי</span>
<span class="mila" data-lnk="278" data-exlnk="0" id="M_7_19_5">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1861">־</span><span class="mila" data-lnk="278" data-exlnk="0" id="M_7_19_6">תַ֝רְפֵּ֗נִי</span>
<span class="mila" data-lnk="8196" data-exlnk="0" id="M_7_19_7">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1864">־</span><span class="mila" data-lnk="3221299207" data-exlnk="0" id="M_7_19_8">בִּלְעִ֥י</span>
<span class="mila" data-lnk="3221299973" data-exlnk="0" id="M_7_19_9">רֻקִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1867">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_20" data-pasuk-now="13"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="9524" data-exlnk="0" id="M_7_20_1">חָטָ֡אתִי</span>
<span class="mila" data-lnk="8244" data-exlnk="0" id="M_7_20_2">מָ֤ה</span>
<span class="mila" data-lnk="8212" data-exlnk="0" id="M_7_20_3">אֶפְעַ֨ל׀</span>
<span class="mila" data-lnk="9492" data-exlnk="0" id="M_7_20_4">לָךְ֮</span>
<span class="mila" data-lnk="1072" data-exlnk="0" id="M_7_20_5">נֹצֵ֪ר</span>
<span class="mila" data-lnk="1332" data-exlnk="0" id="M_7_20_6">הָ֫אָדָ֥ם</span>
<span class="mila" data-lnk="4026655492" data-exlnk="0" id="M_7_20_7">לָ֤מָה</span>
<span class="mila" data-lnk="8452" data-exlnk="0" id="M_7_20_8">שַׂמְתַּ֣נִי</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_7_20_9">לְמִפְגָּ֣ע</span>
<span class="mila" data-lnk="9493" data-exlnk="0" id="M_7_20_10">לָ֑ךְ</span>
<span class="mila" data-lnk="8469" data-exlnk="0" id="M_7_20_11">וָאֶהְיֶ֖ה</span>
<span class="mila" data-lnk="8981" data-exlnk="0" id="M_7_20_12">עָלַ֣י</span>
<span class="mila" data-lnk="4026623765" data-exlnk="0" id="M_7_20_13">לְמַשָּֽׂא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1881">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_21" data-pasuk-now="13"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="805326135" data-exlnk="0" id="M_7_21_1">וּמֶ֤ה׀</span>
<span class="mila" data-lnk="2359" data-exlnk="0" id="M_7_21_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1884">־</span><span class="mila" data-lnk="2359" data-exlnk="0" id="M_7_21_3">תִשָּׂ֣א</span>
<span class="mila" data-lnk="3383" data-exlnk="0" id="M_7_21_4">פִשְׁעִי֮</span>
<span class="mila" data-lnk="3221291280" data-exlnk="0" id="M_7_21_5">וְתַעֲבִ֪יר</span>
<span class="mila" data-lnk="273" data-exlnk="0" id="M_7_21_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1889">־</span><span class="mila" data-lnk="272" data-exlnk="0" id="M_7_21_7">עֲוֺ֫נִ֥י</span>
<span class="mila" data-lnk="288" data-exlnk="0" id="M_7_21_8">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1892">־</span><span class="mila" data-lnk="288" data-exlnk="0" id="M_7_21_9">עַ֭תָּה</span>
<span class="mila" data-lnk="1328" data-exlnk="0" id="M_7_21_10">לֶעָפָ֣ר</span>
<span class="mila" data-lnk="304" data-exlnk="0" id="M_7_21_11">אֶשְׁכָּ֑ב</span>
<span class="mila" data-lnk="3221292164" data-exlnk="0" id="M_7_21_12">וְשִׁ֖חַרְתַּ֣נִי</span>
<span class="mila" data-lnk="4026614788" data-exlnk="0" id="M_7_21_13">וְאֵינֶֽנִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1899">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1900">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>