<p id="PR_32" data-perek-now="197" data-perek-nops="22"><span class="perek-header">פרק לב</span>
<br /><span id="PS_32_1" data-pasuk-now="11"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026622772" data-exlnk="0" id="M_32_1_1">וַֽיִּשְׁבְּת֡וּ</span>
<span class="mila" data-lnk="820" data-exlnk="0" id="M_32_1_2">שְׁלֹ֤שֶׁת</span>
<span class="mila" data-lnk="804" data-exlnk="0" id="M_32_1_3">הָאֲנָשִׁ֣ים</span>
<span class="mila" data-lnk="292" data-exlnk="0" id="M_32_1_4">הָ֭אֵלֶּה</span>
<span class="mila" data-lnk="804" data-exlnk="0" id="M_32_1_5">מֵעֲנ֣וֹת</span>
<span class="mila" data-lnk="804" data-exlnk="0" id="M_32_1_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7636">־</span><span class="mila" data-lnk="804" data-exlnk="0" id="M_32_1_7">אִיּ֑וֹב</span>
<span class="mila" data-lnk="294" data-exlnk="0" id="M_32_1_8">כִּ֤י</span>
<span class="mila" data-lnk="294" data-exlnk="0" id="M_32_1_9">ה֖וּא</span>
<span class="mila" data-lnk="806" data-exlnk="0" id="M_32_1_10">צַדִּ֣יק</span>
<span class="mila" data-lnk="806" data-exlnk="0" id="M_32_1_11">בְּעֵינָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7643">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7644"> פ </span>
</span>
<br /><span id="PS_32_2" data-pasuk-now="15"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="800" data-exlnk="0" id="M_32_2_1">וַיִּ֤חַר</span>
<span class="mila" data-lnk="288" data-exlnk="0" id="M_32_2_2">אַ֨ף׀</span>
<span class="mila" data-lnk="804" data-exlnk="0" id="M_32_2_3">אֱלִיה֣וּא</span>
<span class="mila" data-lnk="288" data-exlnk="0" id="M_32_2_4">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7649">־</span><span class="mila" data-lnk="288" data-exlnk="0" id="M_32_2_5">בַּרַכְאֵ֣ל</span>
<span class="mila" data-lnk="8502" data-exlnk="0" id="M_32_2_6">הַבּוּזִי֮</span>
<span class="mila" data-lnk="8755" data-exlnk="0" id="M_32_2_7">מִמִּשְׁפַּ֪חַ֫ת</span>
<span class="mila" data-lnk="9011" data-exlnk="0" id="M_32_2_8">רָ֥ם</span>
<span class="mila" data-lnk="3221291300" data-exlnk="0" id="M_32_2_9">בְּ֭אִיּוֹב</span>
<span class="mila" data-lnk="292" data-exlnk="0" id="M_32_2_10">חָרָ֣ה</span>
<span class="mila" data-lnk="292" data-exlnk="0" id="M_32_2_11">אַפּ֑וֹ</span>
<span class="mila" data-lnk="566" data-exlnk="0" id="M_32_2_12">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7658">־</span><span class="mila" data-lnk="3221291574" data-exlnk="0" id="M_32_2_13">צַדְּק֥וֹ</span>
<span class="mila" data-lnk="564" data-exlnk="0" id="M_32_2_14">נַ֝פְשׁ֗וֹ</span>
<span class="mila" data-lnk="565" data-exlnk="0" id="M_32_2_15">מֵאֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7662">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="294" data-exlnk="0" id="M_32_3_1">וּבִשְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="294" data-exlnk="0" id="M_32_3_2">רֵעָיו֮</span>
<span class="mila" data-lnk="310" data-exlnk="0" id="M_32_3_3">חָרָ֪ה</span>
<span class="mila" data-lnk="294" data-exlnk="0" id="M_32_3_4">אַ֫פּ֥וֹ</span>
<span class="mila" data-lnk="310" data-exlnk="0" id="M_32_3_5">עַ֤ל</span>
<span class="mila" data-lnk="310" data-exlnk="0" id="M_32_3_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="1879163190" data-exlnk="0" id="M_32_3_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7670">־</span><span class="mila" data-lnk="4026646836" data-exlnk="0" id="M_32_3_8">מָצְא֣וּ</span>
<span class="mila" data-lnk="308" data-exlnk="0" id="M_32_3_9">מַעֲנֶ֑ה</span>
<span class="mila" data-lnk="3221300023" data-exlnk="0" id="M_32_3_10">וַ֝יַּרְשִׁ֗יעוּ</span>
<span class="mila" data-lnk="9015" data-exlnk="0" id="M_32_3_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7675">־</span><span class="mila" data-lnk="9015" data-exlnk="0" id="M_32_3_12">אִיּֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7677">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_4" data-pasuk-now="10"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026614016" data-exlnk="0" id="M_32_4_1">וֶאֱלִיה֗וּ</span>
<span class="mila" data-lnk="3221299719" data-exlnk="0" id="M_32_4_2">חִכָּ֣ה</span>
<span class="mila" data-lnk="772" data-exlnk="0" id="M_32_4_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7681">־</span><span class="mila" data-lnk="772" data-exlnk="0" id="M_32_4_4">אִ֭יּוֹב</span>
<span class="mila" data-lnk="4026614020" data-exlnk="0" id="M_32_4_5">בִּדְבָרִ֑ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_32_4_6">כִּ֤י</span>
<span class="mila" data-lnk="519" data-exlnk="0" id="M_32_4_7">זְֽקֵנִים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7686">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_32_4_8">הֵ֖מָּה</span>
<span class="mila" data-lnk="519" data-exlnk="0" id="M_32_4_9">מִמֶּ֣נּוּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_32_4_10">לְיָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7690">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_5" data-pasuk-now="10"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_5_1">וַיַּ֤רְא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_5_2">אֱלִיה֗וּא</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_32_5_3">כִּ֮י</span>
<span class="mila" data-lnk="772" data-exlnk="0" id="M_32_5_4">אֵ֤ין</span>
<span class="mila" data-lnk="516" data-exlnk="0" id="M_32_5_5">מַעֲנֶ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_5_6">בְּ֭פִי</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_5_7">שְׁלֹ֥שֶׁת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_5_8">הָאֲנָשִׁ֗ים</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_32_5_9">וַיִּ֥חַר</span>
<span class="mila" data-lnk="772" data-exlnk="0" id="M_32_5_10">אַפּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7702">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7703"> פ </span>
</span>
<br /><span id="PS_32_6" data-pasuk-now="18"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="10880" data-exlnk="0" id="M_32_6_1">וַיַּ֤עַן׀</span>
<span class="mila" data-lnk="11136" data-exlnk="0" id="M_32_6_2">אֱלִיה֖וּא</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_32_6_3">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7707">־</span><span class="mila" data-lnk="384" data-exlnk="0" id="M_32_6_4">בַּרַכְאֵ֥ל</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_32_6_5">הַבּוּזִ֗י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_32_6_6">וַיֹּ֫אמַ֥ר</span>
<span class="mila" data-lnk="1312" data-exlnk="0" id="M_32_6_7">צָ֮עִ֤יר</span>
<span class="mila" data-lnk="1312" data-exlnk="0" id="M_32_6_8">אֲנִ֣י</span>
<span class="mila" data-lnk="1312" data-exlnk="0" id="M_32_6_9">לְ֭יָמִים</span>
<span class="mila" data-lnk="1314" data-exlnk="0" id="M_32_6_10">וְאַתֶּ֣ם</span>
<span class="mila" data-lnk="1314" data-exlnk="0" id="M_32_6_11">יְשִׁישִׁ֑ים</span>
<span class="mila" data-lnk="1312" data-exlnk="0" id="M_32_6_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7717">־</span><span class="mila" data-lnk="1312" data-exlnk="0" id="M_32_6_13">כֵּ֖ן</span>
<span class="mila" data-lnk="565" data-exlnk="0" id="M_32_6_14">זָחַ֥לְתִּי</span>
<span class="mila" data-lnk="4026613792" data-exlnk="0" id="M_32_6_15">וָאִירָ֓א׀</span>
<span class="mila" data-lnk="640" data-exlnk="0" id="M_32_6_16">מֵחַוֹּ֖ת</span>
<span class="mila" data-lnk="4026614656" data-exlnk="0" id="M_32_6_17">דֵּעִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_6_18">אֶתְכֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7724">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_7" data-pasuk-now="7"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="1286" data-exlnk="0" id="M_32_7_1">אָ֭מַרְתִּי</span>
<span class="mila" data-lnk="1302" data-exlnk="0" id="M_32_7_2">יָמִ֣ים</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_32_7_3">יְדַבֵּ֑רוּ</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_32_7_4">וְרֹ֥ב</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_32_7_5">שָׁ֝נִ֗ים</span>
<span class="mila" data-lnk="3221291270" data-exlnk="0" id="M_32_7_6">יֹדִ֥יעוּ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_32_7_7">חָכְמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7732">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_8" data-pasuk-now="7"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026615047" data-exlnk="0" id="M_32_8_1">אָ֭כֵן</span>
<span class="mila" data-lnk="1303" data-exlnk="0" id="M_32_8_2">רוּחַ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7735">־</span><span class="mila" data-lnk="1301" data-exlnk="0" id="M_32_8_3">הִ֣יא</span>
<span class="mila" data-lnk="1301" data-exlnk="0" id="M_32_8_4">בֶאֱנ֑וֹשׁ</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_32_8_5">וְנִשְׁמַ֖ת</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_32_8_6">שַׁדַּ֣י</span>
<span class="mila" data-lnk="1286" data-exlnk="0" id="M_32_8_7">תְּבִינֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7741">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="9476" data-exlnk="0" id="M_32_9_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7743">־</span><span class="mila" data-lnk="1542" data-exlnk="0" id="M_32_9_2">רַבִּ֥ים</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_32_9_3">יֶחְכָּ֑מוּ</span>
<span class="mila" data-lnk="9478" data-exlnk="0" id="M_32_9_4">וּ֝זְקֵנִ֗ים</span>
<span class="mila" data-lnk="8452" data-exlnk="0" id="M_32_9_5">יָבִ֥ינוּ</span>
<span class="mila" data-lnk="8452" data-exlnk="0" id="M_32_9_6">מִשְׁפָּֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7749">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_10" data-pasuk-now="8"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1026" data-exlnk="0" id="M_32_10_1">לָכֵ֣ן</span>
<span class="mila" data-lnk="1282" data-exlnk="0" id="M_32_10_2">אָ֭מַרְתִּי</span>
<span class="mila" data-lnk="1282" data-exlnk="0" id="M_32_10_3">שִׁמְעָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7753">־</span><span class="mila" data-lnk="1282" data-exlnk="0" id="M_32_10_4">לִּ֑י</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_32_10_5">אֲחַוֶּ֖ה</span>
<span class="mila" data-lnk="4026647808" data-exlnk="0" id="M_32_10_6">דֵעִ֣י</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_32_10_7">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7758">־</span><span class="mila" data-lnk="256" data-exlnk="0" id="M_32_10_8">אָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7760">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_11" data-pasuk-now="9"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_32_11_1">הֵ֤ן</span>
<span class="mila" data-lnk="1154" data-exlnk="0" id="M_32_11_2">הוֹחַ֨לְתִּי׀</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_32_11_3">לְֽדִבְרֵיכֶ֗ם</span>
<span class="mila" data-lnk="3221299858" data-exlnk="0" id="M_32_11_4">אָ֭זִין</span>
<span class="mila" data-lnk="8960" data-exlnk="0" id="M_32_11_5">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7766">־</span><span class="mila" data-lnk="3221299986" data-exlnk="0" id="M_32_11_6">תְּב֥וּנֹֽתֵיכֶ֑ם</span>
<span class="mila" data-lnk="1538" data-exlnk="0" id="M_32_11_7">עַֽד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7769">־</span><span class="mila" data-lnk="3221292802" data-exlnk="0" id="M_32_11_8">תַּחְקְר֥וּן</span>
<span class="mila" data-lnk="1026" data-exlnk="0" id="M_32_11_9">מִלִּֽין</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7772">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_12" data-pasuk-now="9"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221292833" data-exlnk="0" id="M_32_12_1">וְעָ֥דֵיכֶ֗ם</span>
<span class="mila" data-lnk="1313" data-exlnk="0" id="M_32_12_2">אֶתְבּ֫וֹנָ֥ן</span>
<span class="mila" data-lnk="1286" data-exlnk="0" id="M_32_12_3">וְהִנֵּ֤ה</span>
<span class="mila" data-lnk="1283" data-exlnk="0" id="M_32_12_4">אֵ֣ין</span>
<span class="mila" data-lnk="1031" data-exlnk="0" id="M_32_12_5">לְאִיּ֣וֹב</span>
<span class="mila" data-lnk="1027" data-exlnk="0" id="M_32_12_6">מוֹכִ֑יחַ</span>
<span class="mila" data-lnk="4026647814" data-exlnk="0" id="M_32_12_7">עוֹנֶ֖ה</span>
<span class="mila" data-lnk="1285" data-exlnk="0" id="M_32_12_8">אֲמָרָ֣יו</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_32_12_9">מִכֶּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7782">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="9253" data-exlnk="0" id="M_32_13_1">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7784">־</span><span class="mila" data-lnk="9509" data-exlnk="0" id="M_32_13_2">תֹּ֣֭אמְרוּ</span>
<span class="mila" data-lnk="9509" data-exlnk="0" id="M_32_13_3">מָצָ֣אנוּ</span>
<span class="mila" data-lnk="9509" data-exlnk="0" id="M_32_13_4">חָכְמָ֑ה</span>
<span class="mila" data-lnk="8453" data-exlnk="0" id="M_32_13_5">אֵ֖ל</span>
<span class="mila" data-lnk="3221300997" data-exlnk="0" id="M_32_13_6">יִדְּפֶ֣נּוּ</span>
<span class="mila" data-lnk="9477" data-exlnk="0" id="M_32_13_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7791">־</span><span class="mila" data-lnk="9477" data-exlnk="0" id="M_32_13_8">אִֽישׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7793">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_14" data-pasuk-now="7"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026622247" data-exlnk="0" id="M_32_14_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7795">־</span><span class="mila" data-lnk="8487" data-exlnk="0" id="M_32_14_2">עָרַ֣ךְ</span>
<span class="mila" data-lnk="8487" data-exlnk="0" id="M_32_14_3">אֵלַ֣י</span>
<span class="mila" data-lnk="8231" data-exlnk="0" id="M_32_14_4">מִלִּ֑ין</span>
<span class="mila" data-lnk="9476" data-exlnk="0" id="M_32_14_5">וּ֝בְאִמְרֵיכֶ֗ם</span>
<span class="mila" data-lnk="1286" data-exlnk="0" id="M_32_14_6">לֹ֣א</span>
<span class="mila" data-lnk="1284" data-exlnk="0" id="M_32_14_7">אֲשִׁיבֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7802">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_15" data-pasuk-now="7"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_32_15_1">חַ֭תּוּ</span>
<span class="mila" data-lnk="1879131142" data-exlnk="0" id="M_32_15_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7805">־</span><span class="mila" data-lnk="2952872964" data-exlnk="0" id="M_32_15_3">עָ֣נוּ</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_32_15_4">ע֑וֹד</span>
<span class="mila" data-lnk="1975" data-exlnk="0" id="M_32_15_5">הֶעְתִּ֖יקוּ</span>
<span class="mila" data-lnk="1444" data-exlnk="0" id="M_32_15_6">מֵהֶ֣ם</span>
<span class="mila" data-lnk="4026646948" data-exlnk="0" id="M_32_15_7">מִלִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7811">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_16" data-pasuk-now="9"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="1286" data-exlnk="0" id="M_32_16_1">וְ֭הוֹחַלְתִּי</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_16_2">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7814">־</span><span class="mila" data-lnk="1342292230" data-exlnk="0" id="M_32_16_3">לֹ֣א</span>
<span class="mila" data-lnk="4026646790" data-exlnk="0" id="M_32_16_4">יְדַבֵּ֑רוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_16_5">כִּ֥י</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_32_16_6">עָ֝מְד֗וּ</span>
<span class="mila" data-lnk="805323012" data-exlnk="0" id="M_32_16_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7820">־</span><span class="mila" data-lnk="805323012" data-exlnk="0" id="M_32_16_8">עָ֥נוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_32_16_9">עֽוֹד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7823">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3221292566" data-exlnk="0" id="M_32_17_1">אַעֲנֶ֣ה</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_32_17_2">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7826">־</span><span class="mila" data-lnk="1028" data-exlnk="0" id="M_32_17_3">אֲנִ֣י</span>
<span class="mila" data-lnk="1300" data-exlnk="0" id="M_32_17_4">חֶלְקִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_17_5">אֲחַוֶּ֖ה</span>
<span class="mila" data-lnk="4026613760" data-exlnk="0" id="M_32_17_6">דֵעִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_17_7">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7832">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_32_17_8">אָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7834">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="8448" data-exlnk="0" id="M_32_18_1">כִּ֭י</span>
<span class="mila" data-lnk="4026654976" data-exlnk="0" id="M_32_18_2">מָלֵ֣תִי</span>
<span class="mila" data-lnk="4026622208" data-exlnk="0" id="M_32_18_3">מִלִּ֑ים</span>
<span class="mila" data-lnk="3221292178" data-exlnk="0" id="M_32_18_4">הֱ֝צִיקַ֗תְנִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_18_5">ר֣וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_18_6">בִּטְנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7841">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="277" data-exlnk="0" id="M_32_19_1">הִנֵּֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7843">־</span><span class="mila" data-lnk="277" data-exlnk="0" id="M_32_19_2">בִטְנִ֗י</span>
<span class="mila" data-lnk="407" data-exlnk="0" id="M_32_19_3">כְּיַ֥יִן</span>
<span class="mila" data-lnk="273" data-exlnk="0" id="M_32_19_4">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7847">־</span><span class="mila" data-lnk="805322769" data-exlnk="0" id="M_32_19_5">יִפָּתֵ֑חַ</span>
<span class="mila" data-lnk="3221301013" data-exlnk="0" id="M_32_19_6">כְּאֹב֥וֹת</span>
<span class="mila" data-lnk="9621" data-exlnk="0" id="M_32_19_7">חֲ֝דָשִׁ֗ים</span>
<span class="mila" data-lnk="384" data-exlnk="0" id="M_32_19_8">יִבָּקֵֽעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7852">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_20" data-pasuk-now="6"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_20_1">אֲדַבְּרָ֥ה</span>
<span class="mila" data-lnk="3221292672" data-exlnk="0" id="M_32_20_2">וְיִֽרְוַֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7855">־</span><span class="mila" data-lnk="1152" data-exlnk="0" id="M_32_20_3">לִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_20_4">אֶפְתַּ֖ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_20_5">שְׂפָתַ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_32_20_6">וְאֶעֱנֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7860">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_21" data-pasuk-now="9"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_32_21_1">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7862">־</span><span class="mila" data-lnk="135" data-exlnk="0" id="M_32_21_2">נָ֭א</span>
<span class="mila" data-lnk="805323014" data-exlnk="0" id="M_32_21_3">אֶשָּׂ֣א</span>
<span class="mila" data-lnk="262" data-exlnk="0" id="M_32_21_4">פְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7866">־</span><span class="mila" data-lnk="262" data-exlnk="0" id="M_32_21_5">אִ֑ישׁ</span>
<span class="mila" data-lnk="1073807670" data-exlnk="0" id="M_32_21_6">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7869">־</span><span class="mila" data-lnk="3221291318" data-exlnk="0" id="M_32_21_7">אָ֝דָ֗ם</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_32_21_8">לֹ֣א</span>
<span class="mila" data-lnk="4026623927" data-exlnk="0" id="M_32_21_9">אֲכַנֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7873">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_32_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="1318" data-exlnk="0" id="M_32_22_1">כִּ֤י</span>
<span class="mila" data-lnk="1318" data-exlnk="0" id="M_32_22_2">לֹ֣א</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_32_22_3">יָדַ֣עְתִּי</span>
<span class="mila" data-lnk="805323046" data-exlnk="0" id="M_32_22_4">אֲכַנֶּ֑ה</span>
<span class="mila" data-lnk="8231" data-exlnk="0" id="M_32_22_5">כִּ֝מְעַ֗ט</span>
<span class="mila" data-lnk="9895" data-exlnk="0" id="M_32_22_6">יִשָּׂאֵ֥נִי</span>
<span class="mila" data-lnk="4026623012" data-exlnk="0" id="M_32_22_7">עֹשֵֽׂנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7881">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>