<p id="PR_29" data-perek-now="169" data-perek-nops="25"><span class="perek-header">פרק כט</span>
<br /><span id="PS_29_1" data-pasuk-now="5"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="10932" data-exlnk="0" id="M_29_1_1">וַיֹּ֣סֶף</span>
<span class="mila" data-lnk="9140" data-exlnk="0" id="M_29_1_2">אִ֭יּוֹב</span>
<span class="mila" data-lnk="1879132320" data-exlnk="0" id="M_29_1_3">שְׂאֵ֥ת</span>
<span class="mila" data-lnk="2952874400" data-exlnk="0" id="M_29_1_4">מְשָׁל֗וֹ</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_29_1_5">וַיֹּאמַֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6737">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6738"> פ </span>
</span>
<br /><span id="PS_29_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1313" data-exlnk="0" id="M_29_2_1">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6740">־</span><span class="mila" data-lnk="1057" data-exlnk="0" id="M_29_2_2">יִתְּנֵ֥נִי</span>
<span class="mila" data-lnk="3221324321" data-exlnk="0" id="M_29_2_3">כְיַרְחֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6743">־</span><span class="mila" data-lnk="3221324321" data-exlnk="0" id="M_29_2_4">קֶ֑דֶם</span>
<span class="mila" data-lnk="1062" data-exlnk="0" id="M_29_2_5">כִּ֝ימֵ֗י</span>
<span class="mila" data-lnk="1030" data-exlnk="0" id="M_29_2_6">אֱל֣וֹהַּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_29_2_7">יִשְׁמְרֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6748">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_3" data-pasuk-now="7"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221299895" data-exlnk="0" id="M_29_3_1">בְּהִלּ֣וֹ</span>
<span class="mila" data-lnk="8629" data-exlnk="0" id="M_29_3_2">נֵ֭רוֹ</span>
<span class="mila" data-lnk="48" data-exlnk="0" id="M_29_3_3">עֲלֵ֣י</span>
<span class="mila" data-lnk="304" data-exlnk="0" id="M_29_3_4">רֹאשִׁ֑י</span>
<span class="mila" data-lnk="311" data-exlnk="0" id="M_29_3_5">לְ֝אוֹר֗וֹ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_29_3_6">אֵ֣לֶךְ</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_29_3_7">חֹֽשֶׁךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6756">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_29_4_1">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_29_4_2">הָ֭יִיתִי</span>
<span class="mila" data-lnk="9221" data-exlnk="0" id="M_29_4_3">בִּימֵ֣י</span>
<span class="mila" data-lnk="3221300885" data-exlnk="0" id="M_29_4_4">חָרְפִּ֑י</span>
<span class="mila" data-lnk="1585" data-exlnk="0" id="M_29_4_5">בְּס֥וֹד</span>
<span class="mila" data-lnk="1057" data-exlnk="0" id="M_29_4_6">אֱ֝ל֗וֹהַּ</span>
<span class="mila" data-lnk="289" data-exlnk="0" id="M_29_4_7">עֲלֵ֣י</span>
<span class="mila" data-lnk="289" data-exlnk="0" id="M_29_4_8">אָהֳלִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6765">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_5" data-pasuk-now="5"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_29_5_1">בְּע֣וֹד</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_29_5_2">שַׁ֭דַּי</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_29_5_3">עִמָּדִ֑י</span>
<span class="mila" data-lnk="1312" data-exlnk="0" id="M_29_5_4">סְבִ֖יבוֹתַ֣י</span>
<span class="mila" data-lnk="1315" data-exlnk="0" id="M_29_5_5">נְעָרָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6771">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="9478" data-exlnk="0" id="M_29_6_1">בִּרְחֹ֣ץ</span>
<span class="mila" data-lnk="3221300743" data-exlnk="0" id="M_29_6_2">הֲלִיכַ֣י</span>
<span class="mila" data-lnk="9877" data-exlnk="0" id="M_29_6_3">בְּחֵמָ֑ה</span>
<span class="mila" data-lnk="1303" data-exlnk="0" id="M_29_6_4">וְצ֥וּר</span>
<span class="mila" data-lnk="1559" data-exlnk="0" id="M_29_6_5">יָצ֥וּק</span>
<span class="mila" data-lnk="1045" data-exlnk="0" id="M_29_6_6">עִ֝מָּדִ֗י</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_6_7">פַּלְגֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6779">־</span><span class="mila" data-lnk="1287" data-exlnk="0" id="M_29_6_8">שָֽׁמֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6781">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_7" data-pasuk-now="7"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="3221291040" data-exlnk="0" id="M_29_7_1">בְּצֵ֣אתִי</span>
<span class="mila" data-lnk="416" data-exlnk="0" id="M_29_7_2">שַׁ֣עַר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_29_7_3">עֲלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6785">־</span><span class="mila" data-lnk="645" data-exlnk="0" id="M_29_7_4">קָ֑רֶת</span>
<span class="mila" data-lnk="4026614053" data-exlnk="0" id="M_29_7_5">בָּ֝רְח֗וֹב</span>
<span class="mila" data-lnk="1056" data-exlnk="0" id="M_29_7_6">אָכִ֥ין</span>
<span class="mila" data-lnk="1317" data-exlnk="0" id="M_29_7_7">מוֹשָׁבִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6790">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_8" data-pasuk-now="6"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1282" data-exlnk="0" id="M_29_8_1">רָא֣וּנִי</span>
<span class="mila" data-lnk="1287" data-exlnk="0" id="M_29_8_2">נְעָרִ֣ים</span>
<span class="mila" data-lnk="3221292290" data-exlnk="0" id="M_29_8_3">וְנֶחְבָּ֑אוּ</span>
<span class="mila" data-lnk="263" data-exlnk="0" id="M_29_8_4">וִ֝ישִׁישִׁ֗ים</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_29_8_5">קָ֣מוּ</span>
<span class="mila" data-lnk="1281" data-exlnk="0" id="M_29_8_6">עָמָֽדוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6797">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="261" data-exlnk="0" id="M_29_9_1">שָׂ֭רִים</span>
<span class="mila" data-lnk="1029" data-exlnk="0" id="M_29_9_2">עָצְר֣וּ</span>
<span class="mila" data-lnk="4026613767" data-exlnk="0" id="M_29_9_3">בְמִלִּ֑ים</span>
<span class="mila" data-lnk="4026614784" data-exlnk="0" id="M_29_9_4">וְ֝כַ֗ף</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_29_9_5">יָשִׂ֥ימוּ</span>
<span class="mila" data-lnk="3221292032" data-exlnk="0" id="M_29_9_6">לְפִיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6804">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_10" data-pasuk-now="6"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1152" data-exlnk="0" id="M_29_10_1">קוֹל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6806">־</span><span class="mila" data-lnk="1920" data-exlnk="0" id="M_29_10_2">נְגִידִ֥ים</span>
<span class="mila" data-lnk="642" data-exlnk="0" id="M_29_10_3">נֶחְבָּ֑אוּ</span>
<span class="mila" data-lnk="4026614784" data-exlnk="0" id="M_29_10_4">וּ֝לְשׁוֹנָ֗ם</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_29_10_5">לְחִכָּ֥ם</span>
<span class="mila" data-lnk="3221292038" data-exlnk="0" id="M_29_10_6">דָּבֵֽקָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6812">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_1">כִּ֤י</span>
<span class="mila" data-lnk="805324039" data-exlnk="0" id="M_29_11_2">אֹ֣זֶן</span>
<span class="mila" data-lnk="1287" data-exlnk="0" id="M_29_11_3">שָׁ֭מְעָה</span>
<span class="mila" data-lnk="3221292071" data-exlnk="0" id="M_29_11_4">וַֽתְּאַשְּׁרֵ֑נִי</span>
<span class="mila" data-lnk="8613" data-exlnk="0" id="M_29_11_5">וְעַ֥יִן</span>
<span class="mila" data-lnk="8613" data-exlnk="0" id="M_29_11_6">רָ֝אֲתָ֗ה</span>
<span class="mila" data-lnk="3221300388" data-exlnk="0" id="M_29_11_7">וַתְּעִידֵֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6820">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_12" data-pasuk-now="8"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="1058" data-exlnk="0" id="M_29_12_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6822">־</span><span class="mila" data-lnk="1058" data-exlnk="0" id="M_29_12_2">אֲ֭מַלֵּט</span>
<span class="mila" data-lnk="1312" data-exlnk="0" id="M_29_12_3">עָנִ֣י</span>
<span class="mila" data-lnk="1312" data-exlnk="0" id="M_29_12_4">מְשַׁוֵּ֑עַ</span>
<span class="mila" data-lnk="4026614016" data-exlnk="0" id="M_29_12_5">וְ֝יָת֗וֹם</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_29_12_6">וְֽלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6828">־</span><span class="mila" data-lnk="1282" data-exlnk="0" id="M_29_12_7">עֹזֵ֥ר</span>
<span class="mila" data-lnk="1282" data-exlnk="0" id="M_29_12_8">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6831">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_13_1">בִּרְכַּ֣ת</span>
<span class="mila" data-lnk="1285" data-exlnk="0" id="M_29_13_2">אֹ֭בֵד</span>
<span class="mila" data-lnk="1029" data-exlnk="0" id="M_29_13_3">עָלַ֣י</span>
<span class="mila" data-lnk="805323781" data-exlnk="0" id="M_29_13_4">תָּבֹ֑א</span>
<span class="mila" data-lnk="39" data-exlnk="0" id="M_29_13_5">וְלֵ֖ב</span>
<span class="mila" data-lnk="291" data-exlnk="0" id="M_29_13_6">אַלְמָנָ֣ה</span>
<span class="mila" data-lnk="3221291169" data-exlnk="0" id="M_29_13_7">אַרְנִֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6839">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_14" data-pasuk-now="6"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1317" data-exlnk="0" id="M_29_14_1">צֶ֣דֶק</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_29_14_2">לָ֭בַשְׁתִּי</span>
<span class="mila" data-lnk="3221292325" data-exlnk="0" id="M_29_14_3">וַיִּלְבָּשֵׁ֑נִי</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_29_14_4">כִּֽמְעִ֥יל</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_29_14_5">וְ֝צָנִ֗יף</span>
<span class="mila" data-lnk="4026614837" data-exlnk="0" id="M_29_14_6">מִשְׁפָּטִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6846">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_29_15_1">עֵינַ֣יִם</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_29_15_2">הָ֭יִיתִי</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_29_15_3">לַעִוֵּ֑ר</span>
<span class="mila" data-lnk="3221291266" data-exlnk="0" id="M_29_15_4">וְרַגְלַ֖יִם</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_29_15_5">לַפִּסֵּ֣חַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_15_6">אָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6853">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_29_16_1">אָ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_2">אָ֭נֹכִֽי</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_29_16_3">לָאֶבְיוֹנִ֑ים</span>
<span class="mila" data-lnk="4026615040" data-exlnk="0" id="M_29_16_4">וְרִ֖ב</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_29_16_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6859">־</span><span class="mila" data-lnk="1024" data-exlnk="0" id="M_29_16_6">יָדַ֣עְתִּי</span>
<span class="mila" data-lnk="3221291270" data-exlnk="0" id="M_29_16_7">אֶחְקְרֵֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6862">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_17" data-pasuk-now="6"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_17_1">וָ֭אֲשַׁבְּרָה</span>
<span class="mila" data-lnk="3221292166" data-exlnk="0" id="M_29_17_2">מְתַלְּע֣וֹת</span>
<span class="mila" data-lnk="1286" data-exlnk="0" id="M_29_17_3">עַוָּ֑ל</span>
<span class="mila" data-lnk="3221291010" data-exlnk="0" id="M_29_17_4">וּ֝מִשִּׁנָּ֗יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_17_5">אַשְׁלִ֥יךְ</span>
<span class="mila" data-lnk="1026" data-exlnk="0" id="M_29_17_6">טָֽרֶף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6869">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_18" data-pasuk-now="7"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="1031" data-exlnk="0" id="M_29_18_1">וָ֭אֹמַר</span>
<span class="mila" data-lnk="1287" data-exlnk="0" id="M_29_18_2">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6872">־</span><span class="mila" data-lnk="1287" data-exlnk="0" id="M_29_18_3">קִנִּ֣י</span>
<span class="mila" data-lnk="1063" data-exlnk="0" id="M_29_18_4">אֶגְוָ֑ע</span>
<span class="mila" data-lnk="4026615063" data-exlnk="0" id="M_29_18_5">וְ֝כַח֗וֹל</span>
<span class="mila" data-lnk="1025" data-exlnk="0" id="M_29_18_6">אַרְבֶּ֥ה</span>
<span class="mila" data-lnk="1027" data-exlnk="0" id="M_29_18_7">יָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6878">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_19" data-pasuk-now="7"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="1333" data-exlnk="0" id="M_29_19_1">שָׁרְשִׁ֣י</span>
<span class="mila" data-lnk="4026614071" data-exlnk="0" id="M_29_19_2">פָת֣וּחַ</span>
<span class="mila" data-lnk="4026615094" data-exlnk="0" id="M_29_19_3">אֱלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6882">־</span><span class="mila" data-lnk="1334" data-exlnk="0" id="M_29_19_4">מָ֑יִם</span>
<span class="mila" data-lnk="1332" data-exlnk="0" id="M_29_19_5">וְ֝טַ֗ל</span>
<span class="mila" data-lnk="1332" data-exlnk="0" id="M_29_19_6">יָלִ֥ין</span>
<span class="mila" data-lnk="1973" data-exlnk="0" id="M_29_19_7">בִּקְצִירִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6887">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_20" data-pasuk-now="6"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="1319" data-exlnk="0" id="M_29_20_1">כְּ֭בוֹדִי</span>
<span class="mila" data-lnk="1030" data-exlnk="0" id="M_29_20_2">חָדָ֣שׁ</span>
<span class="mila" data-lnk="1031" data-exlnk="0" id="M_29_20_3">עִמָּדִ֑י</span>
<span class="mila" data-lnk="8375" data-exlnk="0" id="M_29_20_4">וְ֝קַשְׁתִּ֗י</span>
<span class="mila" data-lnk="9270" data-exlnk="0" id="M_29_20_5">בְּיָדִ֥י</span>
<span class="mila" data-lnk="3221300919" data-exlnk="0" id="M_29_20_6">תַחֲלִֽיף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6894">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_21" data-pasuk-now="6"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="8231" data-exlnk="0" id="M_29_21_1">לִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6896">־</span><span class="mila" data-lnk="8487" data-exlnk="0" id="M_29_21_2">שָׁמְע֥וּ</span>
<span class="mila" data-lnk="3221299879" data-exlnk="0" id="M_29_21_3">וְיִחֵ֑לּוּ</span>
<span class="mila" data-lnk="3221300902" data-exlnk="0" id="M_29_21_4">וְ֝יִדְּמ֗וּ</span>
<span class="mila" data-lnk="8708" data-exlnk="0" id="M_29_21_5">לְמ֣וֹ</span>
<span class="mila" data-lnk="9510" data-exlnk="0" id="M_29_21_6">עֲצָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6902">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_22_1">אַחֲרֵ֣י</span>
<span class="mila" data-lnk="4026613760" data-exlnk="0" id="M_29_22_2">דְ֭בָרִי</span>
<span class="mila" data-lnk="1426" data-exlnk="0" id="M_29_22_3">לֹ֣א</span>
<span class="mila" data-lnk="3221292946" data-exlnk="0" id="M_29_22_4">יִשְׁנ֑וּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_29_22_5">וְ֝עָלֵ֗ימוֹ</span>
<span class="mila" data-lnk="1975" data-exlnk="0" id="M_29_22_6">תִּטֹּ֥ף</span>
<span class="mila" data-lnk="439" data-exlnk="0" id="M_29_22_7">מִלָּתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6910">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_23" data-pasuk-now="6"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="4026613782" data-exlnk="0" id="M_29_23_1">וְיִחֲל֣וּ</span>
<span class="mila" data-lnk="1302" data-exlnk="0" id="M_29_23_2">כַמָּטָ֣ר</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_29_23_3">לִ֑י</span>
<span class="mila" data-lnk="406" data-exlnk="0" id="M_29_23_4">וּ֝פִיהֶ֗ם</span>
<span class="mila" data-lnk="805323414" data-exlnk="0" id="M_29_23_5">פָּעֲר֥וּ</span>
<span class="mila" data-lnk="1943" data-exlnk="0" id="M_29_23_6">לְמַלְקֽוֹשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6917">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_24" data-pasuk-now="8"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="9506" data-exlnk="0" id="M_29_24_1">אֶשְׂחַ֣ק</span>
<span class="mila" data-lnk="4026614946" data-exlnk="0" id="M_29_24_2">אֲ֭לֵהֶם</span>
<span class="mila" data-lnk="9379" data-exlnk="0" id="M_29_24_3">לֹ֣א</span>
<span class="mila" data-lnk="9249" data-exlnk="0" id="M_29_24_4">יַאֲמִ֑ינוּ</span>
<span class="mila" data-lnk="8375" data-exlnk="0" id="M_29_24_5">וְא֥וֹר</span>
<span class="mila" data-lnk="8343" data-exlnk="0" id="M_29_24_6">פָּ֝נַ֗י</span>
<span class="mila" data-lnk="9367" data-exlnk="0" id="M_29_24_7">לֹ֣א</span>
<span class="mila" data-lnk="3221300375" data-exlnk="0" id="M_29_24_8">יַפִּילֽוּן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6926">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_25" data-pasuk-now="10"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="1333" data-exlnk="0" id="M_29_25_1">אֶ֥בֲחַ֣ר</span>
<span class="mila" data-lnk="1301" data-exlnk="0" id="M_29_25_2">דַּרְכָּם֮</span>
<span class="mila" data-lnk="4026647557" data-exlnk="0" id="M_29_25_3">וְאֵשֵׁ֪ב</span>
<span class="mila" data-lnk="9477" data-exlnk="0" id="M_29_25_4">רֹ֥אשׁ</span>
<span class="mila" data-lnk="4026647568" data-exlnk="0" id="M_29_25_5">וְ֭אֶשְׁכּוֹן</span>
<span class="mila" data-lnk="805324032" data-exlnk="0" id="M_29_25_6">כְּמֶ֣לֶךְ</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_29_25_7">בַּגְּד֑וּד</span>
<span class="mila" data-lnk="9270" data-exlnk="0" id="M_29_25_8">כַּאֲשֶׁ֖ר</span>
<span class="mila" data-lnk="9526" data-exlnk="0" id="M_29_25_9">אֲבֵלִ֣ים</span>
<span class="mila" data-lnk="9270" data-exlnk="0" id="M_29_25_10">יְנַחֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6937">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>