<p id="PR_22" data-perek-now="210" data-perek-nops="30"><span class="perek-header">פרק כב</span>
<br /><span id="PS_22_1" data-pasuk-now="4"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="10928" data-exlnk="0" id="M_22_1_1">וַ֭יַּעַן</span>
<span class="mila" data-lnk="11188" data-exlnk="0" id="M_22_1_2">אֱלִיפַ֥ז</span>
<span class="mila" data-lnk="3221291424" data-exlnk="0" id="M_22_1_3">הַֽתֵּמָנִ֗י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_22_1_4">וַיֹּאמַֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5359">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5360"> פ </span>
</span>
<br /><span id="PS_22_2" data-pasuk-now="7"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="11815" data-exlnk="0" id="M_22_2_1">הַלְאֵ֥ל</span>
<span class="mila" data-lnk="10935" data-exlnk="0" id="M_22_2_2">יִסְכָּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5363">־</span><span class="mila" data-lnk="11303" data-exlnk="0" id="M_22_2_3">גָּ֑בֶר</span>
<span class="mila" data-lnk="8210" data-exlnk="0" id="M_22_2_4">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5366">־</span><span class="mila" data-lnk="11287" data-exlnk="0" id="M_22_2_5">יִסְכֹּ֖ן</span>
<span class="mila" data-lnk="9764" data-exlnk="0" id="M_22_2_6">עָלֵ֣ימוֹ</span>
<span class="mila" data-lnk="8502" data-exlnk="0" id="M_22_2_7">מַשְׂכִּֽיל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5370">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026622263" data-exlnk="0" id="M_22_3_1">הַחֵ֣פֶץ</span>
<span class="mila" data-lnk="8231" data-exlnk="0" id="M_22_3_2">לְ֭שַׁדַּי</span>
<span class="mila" data-lnk="292" data-exlnk="0" id="M_22_3_3">כִּ֣י</span>
<span class="mila" data-lnk="4026622246" data-exlnk="0" id="M_22_3_4">תִצְדָּ֑ק</span>
<span class="mila" data-lnk="8455" data-exlnk="0" id="M_22_3_5">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5376">־</span><span class="mila" data-lnk="8837" data-exlnk="0" id="M_22_3_6">בֶּ֝צַע</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_22_3_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5379">־</span><span class="mila" data-lnk="3221300101" data-exlnk="0" id="M_22_3_8">תַתֵּ֥ם</span>
<span class="mila" data-lnk="8455" data-exlnk="0" id="M_22_3_9">דְּרָכֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5382">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_4" data-pasuk-now="5"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3221292087" data-exlnk="0" id="M_22_4_1">הֲֽ֭מִיִּרְאָ֣תְךָ</span>
<span class="mila" data-lnk="3221292341" data-exlnk="0" id="M_22_4_2">יֹכִיחֶ֑ךָ</span>
<span class="mila" data-lnk="4026614018" data-exlnk="0" id="M_22_4_3">יָב֥וֹא</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_22_4_4">עִ֝מְּךָ֗</span>
<span class="mila" data-lnk="258" data-exlnk="0" id="M_22_4_5">בַּמִּשְׁפָּֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5388">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_5" data-pasuk-now="6"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1079" data-exlnk="0" id="M_22_5_1">הֲלֹ֣א</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_22_5_2">רָעָתְךָ֣</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_22_5_3">רַבָּ֑ה</span>
<span class="mila" data-lnk="1298" data-exlnk="0" id="M_22_5_4">וְאֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5393">־</span><span class="mila" data-lnk="1330" data-exlnk="0" id="M_22_5_5">קֵ֝ץ</span>
<span class="mila" data-lnk="1314" data-exlnk="0" id="M_22_5_6">לַעֲוֺנֹתֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5396">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="8226" data-exlnk="0" id="M_22_6_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5398">־</span><span class="mila" data-lnk="9346" data-exlnk="0" id="M_22_6_2">תַחְבֹּ֣ל</span>
<span class="mila" data-lnk="9504" data-exlnk="0" id="M_22_6_3">אַחֶ֣יךָ</span>
<span class="mila" data-lnk="8482" data-exlnk="0" id="M_22_6_4">חִנָּ֑ם</span>
<span class="mila" data-lnk="9506" data-exlnk="0" id="M_22_6_5">וּבִגְדֵ֖י</span>
<span class="mila" data-lnk="4026656034" data-exlnk="0" id="M_22_6_6">עֲרוּמִּ֣ים</span>
<span class="mila" data-lnk="8480" data-exlnk="0" id="M_22_6_7">תַּפְשִֽׁיט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5405">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_7" data-pasuk-now="7"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="8450" data-exlnk="0" id="M_22_7_1">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5407">־</span><span class="mila" data-lnk="8450" data-exlnk="0" id="M_22_7_2">מַ֭יִם</span>
<span class="mila" data-lnk="805332738" data-exlnk="0" id="M_22_7_3">עָיֵ֣ף</span>
<span class="mila" data-lnk="8192" data-exlnk="0" id="M_22_7_4">תַּשְׁקֶ֑ה</span>
<span class="mila" data-lnk="3221291264" data-exlnk="0" id="M_22_7_5">וּ֝מֵרָעֵ֗ב</span>
<span class="mila" data-lnk="256" data-exlnk="0" id="M_22_7_6">תִּֽמְנַֽע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5413">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_7_7">לָֽחֶם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5415">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_8" data-pasuk-now="8"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_22_8_1">וְאִ֣ישׁ</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_22_8_2">זְ֭רוֹעַ</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_22_8_3">ל֣וֹ</span>
<span class="mila" data-lnk="9271" data-exlnk="0" id="M_22_8_4">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="4026647604" data-exlnk="0" id="M_22_8_5">וּנְשׂ֥וּא</span>
<span class="mila" data-lnk="1076" data-exlnk="0" id="M_22_8_6">פָ֝נִ֗ים</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_22_8_7">יֵ֣שֶׁב</span>
<span class="mila" data-lnk="51" data-exlnk="0" id="M_22_8_8">בָּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5424">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="294" data-exlnk="0" id="M_22_9_1">אַ֭לְמָנוֹת</span>
<span class="mila" data-lnk="1058" data-exlnk="0" id="M_22_9_2">שִׁלַּ֣חְתָּ</span>
<span class="mila" data-lnk="1062" data-exlnk="0" id="M_22_9_3">רֵיקָ֑ם</span>
<span class="mila" data-lnk="8870" data-exlnk="0" id="M_22_9_4">וּזְרֹע֖וֹת</span>
<span class="mila" data-lnk="4026622342" data-exlnk="0" id="M_22_9_5">יְתֹמִ֣ים</span>
<span class="mila" data-lnk="3221299846" data-exlnk="0" id="M_22_9_6">יְדֻכָּֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5431">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_10" data-pasuk-now="7"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="294" data-exlnk="0" id="M_22_10_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5433">־</span><span class="mila" data-lnk="294" data-exlnk="0" id="M_22_10_2">כֵּ֭ן</span>
<span class="mila" data-lnk="4026614054" data-exlnk="0" id="M_22_10_3">סְבִיבוֹתֶ֣יךָ</span>
<span class="mila" data-lnk="1830" data-exlnk="0" id="M_22_10_4">פַחִ֑ים</span>
<span class="mila" data-lnk="3221291040" data-exlnk="0" id="M_22_10_5">וִ֝יבַהֶלְךָ֗</span>
<span class="mila" data-lnk="1318" data-exlnk="0" id="M_22_10_6">פַּ֣חַד</span>
<span class="mila" data-lnk="1318" data-exlnk="0" id="M_22_10_7">פִּתְאֹֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5440">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1333" data-exlnk="0" id="M_22_11_1">אוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5442">־</span><span class="mila" data-lnk="9269" data-exlnk="0" id="M_22_11_2">חֹ֥שֶׁךְ</span>
<span class="mila" data-lnk="1335" data-exlnk="0" id="M_22_11_3">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5445">־</span><span class="mila" data-lnk="1079" data-exlnk="0" id="M_22_11_4">תִרְאֶ֑ה</span>
<span class="mila" data-lnk="4026615588" data-exlnk="0" id="M_22_11_5">וְֽשִׁפְעַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5448">־</span><span class="mila" data-lnk="1060" data-exlnk="0" id="M_22_11_6">מַ֥יִם</span>
<span class="mila" data-lnk="4026615040" data-exlnk="0" id="M_22_11_7">תְּכַסֶּֽךָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5451">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_12" data-pasuk-now="9"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="8229" data-exlnk="0" id="M_22_12_1">הֲֽלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5453">־</span><span class="mila" data-lnk="9253" data-exlnk="0" id="M_22_12_2">אֱ֭לוֹהַּ</span>
<span class="mila" data-lnk="4026623909" data-exlnk="0" id="M_22_12_3">גֹּ֣בַהּ</span>
<span class="mila" data-lnk="10021" data-exlnk="0" id="M_22_12_4">שָׁמָ֑יִם</span>
<span class="mila" data-lnk="9479" data-exlnk="0" id="M_22_12_5">וּרְאֵ֤ה</span>
<span class="mila" data-lnk="9607" data-exlnk="0" id="M_22_12_6">רֹ֖אשׁ</span>
<span class="mila" data-lnk="9639" data-exlnk="0" id="M_22_12_7">כּוֹכָבִ֣ים</span>
<span class="mila" data-lnk="9479" data-exlnk="0" id="M_22_12_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5461">־</span><span class="mila" data-lnk="3221299207" data-exlnk="0" id="M_22_12_9">רָֽמּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5463">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_13" data-pasuk-now="7"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="9476" data-exlnk="0" id="M_22_13_1">וְֽ֭אָמַרְתָּ</span>
<span class="mila" data-lnk="9477" data-exlnk="0" id="M_22_13_2">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5466">־</span><span class="mila" data-lnk="9509" data-exlnk="0" id="M_22_13_3">יָּ֣דַֽע</span>
<span class="mila" data-lnk="9477" data-exlnk="0" id="M_22_13_4">אֵ֑ל</span>
<span class="mila" data-lnk="3221301015" data-exlnk="0" id="M_22_13_5">הַבְעַ֖ד</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_22_13_6">עֲרָפֶ֣ל</span>
<span class="mila" data-lnk="4026613813" data-exlnk="0" id="M_22_13_7">יִשְׁפּֽוֹט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5472">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_14" data-pasuk-now="8"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1317" data-exlnk="0" id="M_22_14_1">עָבִ֣ים</span>
<span class="mila" data-lnk="1061" data-exlnk="0" id="M_22_14_2">סֵֽתֶר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5475">־</span><span class="mila" data-lnk="1056" data-exlnk="0" id="M_22_14_3">ל֭וֹ</span>
<span class="mila" data-lnk="3489775907" data-exlnk="0" id="M_22_14_4">וְלֹ֣א</span>
<span class="mila" data-lnk="4026646818" data-exlnk="0" id="M_22_14_5">יִרְאֶ֑ה</span>
<span class="mila" data-lnk="3221300997" data-exlnk="0" id="M_22_14_6">וְח֥וּג</span>
<span class="mila" data-lnk="9477" data-exlnk="0" id="M_22_14_7">שָׁ֝מַ֗יִם</span>
<span class="mila" data-lnk="1319" data-exlnk="0" id="M_22_14_8">יִתְהַלָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5482">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_15" data-pasuk-now="7"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221300519" data-exlnk="0" id="M_22_15_1">הַאֹ֣רַח</span>
<span class="mila" data-lnk="9511" data-exlnk="0" id="M_22_15_2">עוֹלָ֣ם</span>
<span class="mila" data-lnk="805332261" data-exlnk="0" id="M_22_15_3">תִּשְׁמ֑וֹר</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_22_15_4">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="292" data-exlnk="0" id="M_22_15_5">דָּרְכ֣וּ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_22_15_6">מְתֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5489">־</span><span class="mila" data-lnk="38" data-exlnk="0" id="M_22_15_7">אָֽוֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5491">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_16" data-pasuk-now="7"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="9492" data-exlnk="0" id="M_22_16_1">אֲשֶֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5493">־</span><span class="mila" data-lnk="3221300885" data-exlnk="0" id="M_22_16_2">קֻמְּט֥וּ</span>
<span class="mila" data-lnk="9237" data-exlnk="0" id="M_22_16_3">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5496">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_22_16_4">עֵ֑ת</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_22_16_5">נָ֝הָ֗ר</span>
<span class="mila" data-lnk="4026623414" data-exlnk="0" id="M_22_16_6">יוּצַ֥ק</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_22_16_7">יְסוֹדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5501">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="1058" data-exlnk="0" id="M_22_17_1">הָאֹמְרִ֣ים</span>
<span class="mila" data-lnk="805324066" data-exlnk="0" id="M_22_17_2">לָ֭אֵל</span>
<span class="mila" data-lnk="1056" data-exlnk="0" id="M_22_17_3">ס֣וּר</span>
<span class="mila" data-lnk="1056" data-exlnk="0" id="M_22_17_4">מִמֶּ֑נּוּ</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_22_17_5">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5507">־</span><span class="mila" data-lnk="1316" data-exlnk="0" id="M_22_17_6">יִּפְעַ֖ל</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_22_17_7">שַׁדַּ֣י</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_22_17_8">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5511">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_18" data-pasuk-now="8"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="805324070" data-exlnk="0" id="M_22_18_1">וְה֤וּא</span>
<span class="mila" data-lnk="1316" data-exlnk="0" id="M_22_18_2">מִלֵּ֣א</span>
<span class="mila" data-lnk="1316" data-exlnk="0" id="M_22_18_3">בָתֵּיהֶ֣ם</span>
<span class="mila" data-lnk="1316" data-exlnk="0" id="M_22_18_4">ט֑וֹב</span>
<span class="mila" data-lnk="8470" data-exlnk="0" id="M_22_18_5">וַעֲצַ֥ת</span>
<span class="mila" data-lnk="8470" data-exlnk="0" id="M_22_18_6">רְ֝שָׁעִ֗ים</span>
<span class="mila" data-lnk="8468" data-exlnk="0" id="M_22_18_7">רָ֣חֲקָה</span>
<span class="mila" data-lnk="8468" data-exlnk="0" id="M_22_18_8">מֶֽנִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5520">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_19" data-pasuk-now="6"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="1062" data-exlnk="0" id="M_22_19_1">יִרְא֣וּ</span>
<span class="mila" data-lnk="1318" data-exlnk="0" id="M_22_19_2">צַדִּיקִ֣ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_22_19_3">וְיִשְׂמָ֑חוּ</span>
<span class="mila" data-lnk="4026654976" data-exlnk="0" id="M_22_19_4">וְ֝נָקִ֗י</span>
<span class="mila" data-lnk="8448" data-exlnk="0" id="M_22_19_5">יִלְעַג</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5526">־</span><span class="mila" data-lnk="8192" data-exlnk="0" id="M_22_19_6">לָֽמוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5528">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_20" data-pasuk-now="7"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="9381" data-exlnk="0" id="M_22_20_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5530">־</span><span class="mila" data-lnk="9381" data-exlnk="0" id="M_22_20_2">לֹ֣א</span>
<span class="mila" data-lnk="9125" data-exlnk="0" id="M_22_20_3">נִכְחַ֣ד</span>
<span class="mila" data-lnk="3221299893" data-exlnk="0" id="M_22_20_4">קִימָ֑נוּ</span>
<span class="mila" data-lnk="4026621959" data-exlnk="0" id="M_22_20_5">וְ֝יִתְרָ֗ם</span>
<span class="mila" data-lnk="9637" data-exlnk="0" id="M_22_20_6">אָ֣כְלָה</span>
<span class="mila" data-lnk="9637" data-exlnk="0" id="M_22_20_7">אֵֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5537">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_21" data-pasuk-now="7"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="9397" data-exlnk="0" id="M_22_21_1">הַסְכֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5539">־</span><span class="mila" data-lnk="8228" data-exlnk="0" id="M_22_21_2">נָ֣א</span>
<span class="mila" data-lnk="8231" data-exlnk="0" id="M_22_21_3">עִמּ֣וֹ</span>
<span class="mila" data-lnk="3221299255" data-exlnk="0" id="M_22_21_4">וּשְׁלָ֑ם</span>
<span class="mila" data-lnk="1061" data-exlnk="0" id="M_22_21_5">בָּ֝הֶ֗ם</span>
<span class="mila" data-lnk="3221301029" data-exlnk="0" id="M_22_21_6">תְּֽבוֹאַתְךָ֥</span>
<span class="mila" data-lnk="9509" data-exlnk="0" id="M_22_21_7">טוֹבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5546">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_22" data-pasuk-now="7"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="288" data-exlnk="0" id="M_22_22_1">קַח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5548">־</span><span class="mila" data-lnk="288" data-exlnk="0" id="M_22_22_2">נָ֣א</span>
<span class="mila" data-lnk="1314" data-exlnk="0" id="M_22_22_3">מִפִּ֣יו</span>
<span class="mila" data-lnk="1058" data-exlnk="0" id="M_22_22_4">תּוֹרָ֑ה</span>
<span class="mila" data-lnk="288" data-exlnk="0" id="M_22_22_5">וְשִׂ֥ים</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_22_22_6">אֲ֝מָרָ֗יו</span>
<span class="mila" data-lnk="288" data-exlnk="0" id="M_22_22_7">בִּלְבָבֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5555">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="290" data-exlnk="0" id="M_22_23_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5557">־</span><span class="mila" data-lnk="290" data-exlnk="0" id="M_22_23_2">תָּשׁ֣וּב</span>
<span class="mila" data-lnk="3221292320" data-exlnk="0" id="M_22_23_3">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5560">־</span><span class="mila" data-lnk="3221292320" data-exlnk="0" id="M_22_23_4">שַׁ֭דַּי</span>
<span class="mila" data-lnk="1440" data-exlnk="0" id="M_22_23_5">תִּבָּנֶ֑ה</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_22_23_6">תַּֽרְחִ֥יק</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_22_23_7">עַ֝וְלָ֗ה</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_22_23_8">מֵאָהֳלֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5566">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_24" data-pasuk-now="7"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="8743" data-exlnk="0" id="M_22_24_1">וְשִׁית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5568">־</span><span class="mila" data-lnk="9527" data-exlnk="0" id="M_22_24_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5570">־</span><span class="mila" data-lnk="9525" data-exlnk="0" id="M_22_24_3">עָפָ֥ר</span>
<span class="mila" data-lnk="3221300917" data-exlnk="0" id="M_22_24_4">בָּ֑צֶר</span>
<span class="mila" data-lnk="1415" data-exlnk="0" id="M_22_24_5">וּכְצ֖וּר</span>
<span class="mila" data-lnk="1415" data-exlnk="0" id="M_22_24_6">נְחָלִ֣ים</span>
<span class="mila" data-lnk="10151" data-exlnk="0" id="M_22_24_7">אוֹפִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5576">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_25" data-pasuk-now="6"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="9639" data-exlnk="0" id="M_22_25_1">וְהָיָ֣ה</span>
<span class="mila" data-lnk="9383" data-exlnk="0" id="M_22_25_2">שַׁדַּ֣י</span>
<span class="mila" data-lnk="3221300919" data-exlnk="0" id="M_22_25_3">בְּצָרֶ֑יךָ</span>
<span class="mila" data-lnk="1319" data-exlnk="0" id="M_22_25_4">וְכֶ֖סֶף</span>
<span class="mila" data-lnk="1719" data-exlnk="0" id="M_22_25_5">תּוֹעָפ֣וֹת</span>
<span class="mila" data-lnk="1319" data-exlnk="0" id="M_22_25_6">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5583">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_26" data-pasuk-now="9"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_22_26_1">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5585">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_22_26_2">אָ֭ז</span>
<span class="mila" data-lnk="3489743872" data-exlnk="0" id="M_22_26_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5588">־</span><span class="mila" data-lnk="4026614784" data-exlnk="0" id="M_22_26_4">שַׁדַּ֣י</span>
<span class="mila" data-lnk="1024" data-exlnk="0" id="M_22_26_5">תִּתְעַנָּ֑ג</span>
<span class="mila" data-lnk="3221292295" data-exlnk="0" id="M_22_26_6">וְתִשָּׂ֖א</span>
<span class="mila" data-lnk="1287" data-exlnk="0" id="M_22_26_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5593">־</span><span class="mila" data-lnk="1287" data-exlnk="0" id="M_22_26_8">אֱל֣וֹהַּ</span>
<span class="mila" data-lnk="1287" data-exlnk="0" id="M_22_26_9">פָּנֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5596">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_27" data-pasuk-now="5"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="3221292800" data-exlnk="0" id="M_22_27_1">תַּעְתִּ֣יר</span>
<span class="mila" data-lnk="1280" data-exlnk="0" id="M_22_27_2">אֵ֭לָיו</span>
<span class="mila" data-lnk="3221291008" data-exlnk="0" id="M_22_27_3">וְיִשְׁמָעֶ֑ךָּ</span>
<span class="mila" data-lnk="4026614183" data-exlnk="0" id="M_22_27_4">וּנְדָרֶ֥יךָ</span>
<span class="mila" data-lnk="1447" data-exlnk="0" id="M_22_27_5">תְשַׁלֵּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5602">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_28" data-pasuk-now="8"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="1028" data-exlnk="0" id="M_22_28_1">וְֽתִגְזַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5604">־</span><span class="mila" data-lnk="805323780" data-exlnk="0" id="M_22_28_2">אֹ֭מֶר</span>
<span class="mila" data-lnk="3221292039" data-exlnk="0" id="M_22_28_3">וְיָ֣קָם</span>
<span class="mila" data-lnk="1031" data-exlnk="0" id="M_22_28_4">לָ֑ךְ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_22_28_5">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5609">־</span><span class="mila" data-lnk="260" data-exlnk="0" id="M_22_28_6">דְּ֝רָכֶ֗יךָ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_22_28_7">נָ֣גַהּ</span>
<span class="mila" data-lnk="260" data-exlnk="0" id="M_22_28_8">אֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5613">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_29" data-pasuk-now="7"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="9269" data-exlnk="0" id="M_22_29_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5615">־</span><span class="mila" data-lnk="1333" data-exlnk="0" id="M_22_29_2">הִ֭שְׁפִּילוּ</span>
<span class="mila" data-lnk="9397" data-exlnk="0" id="M_22_29_3">וַתֹּ֣אמֶר</span>
<span class="mila" data-lnk="4026623925" data-exlnk="0" id="M_22_29_4">גֵּוָ֑ה</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_22_29_5">וְשַׁ֖ח</span>
<span class="mila" data-lnk="9655" data-exlnk="0" id="M_22_29_6">עֵינַ֣יִם</span>
<span class="mila" data-lnk="4026621991" data-exlnk="0" id="M_22_29_7">יוֹשִֽׁעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5622">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_22_30" data-pasuk-now="6"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="805332149" data-exlnk="0" id="M_22_30_1">יְמַלֵּ֥ט</span>
<span class="mila" data-lnk="9649" data-exlnk="0" id="M_22_30_2">אִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5625">־</span><span class="mila" data-lnk="10165" data-exlnk="0" id="M_22_30_3">נָקִ֑י</span>
<span class="mila" data-lnk="8231" data-exlnk="0" id="M_22_30_4">וְ֝נִמְלַ֗ט</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_22_30_5">בְּבֹ֣ר</span>
<span class="mila" data-lnk="9527" data-exlnk="0" id="M_22_30_6">כַּפֶּֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5631">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5632">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>