<p id="PR_7" data-perek-now="139" data-perek-nops="14"><span class="perek-header">פרק ז</span>
<br /><span id="PS_7_1" data-pasuk-now="12"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="6039" data-exlnk="0" id="M_7_1_1">שׁ֤וּבִי</span>
<span class="mila" data-lnk="6039" data-exlnk="0" id="M_7_1_2">שׁ֙וּבִי֙</span>
<span class="mila" data-lnk="3221264095" data-exlnk="0" id="M_7_1_3">הַשּׁ֣וּלַמִּ֔ית</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_7_1_4">שׁ֥וּבִי</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_7_1_5">שׁ֖וּבִי</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_1_6">וְנֶחֱזֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1149">־</span><span class="mila" data-lnk="5637" data-exlnk="0" id="M_7_1_7">בָּ֑ךְ</span>
<span class="mila" data-lnk="3221264279" data-exlnk="0" id="M_7_1_8">מַֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1152">־</span><span class="mila" data-lnk="3221264279" data-exlnk="0" id="M_7_1_9">תֶּחֱזוּ֙</span>
<span class="mila" data-lnk="3221264279" data-exlnk="0" id="M_7_1_10">בַּשּׁ֣וּלַמִּ֔ית</span>
<span class="mila" data-lnk="3221259999" data-exlnk="0" id="M_7_1_11">כִּמְחֹלַ֖ת</span>
<span class="mila" data-lnk="5788" data-exlnk="0" id="M_7_1_12">הַֽמַּחֲנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1157">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_2" data-pasuk-now="13"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_7_2_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1159">־</span><span class="mila" data-lnk="6071" data-exlnk="0" id="M_7_2_2">יָּפ֧וּ</span>
<span class="mila" data-lnk="6069" data-exlnk="0" id="M_7_2_3">פְעָמַ֛יִךְ</span>
<span class="mila" data-lnk="4026578437" data-exlnk="0" id="M_7_2_4">בַּנְּעָלִ֖ים</span>
<span class="mila" data-lnk="1559" data-exlnk="0" id="M_7_2_5">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1164">־</span><span class="mila" data-lnk="1556" data-exlnk="0" id="M_7_2_6">נָדִ֑יב</span>
<span class="mila" data-lnk="3221264109" data-exlnk="0" id="M_7_2_7">חַמּוּקֵ֣י</span>
<span class="mila" data-lnk="5863" data-exlnk="0" id="M_7_2_8">יְרֵכַ֔יִךְ</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_7_2_9">כְּמ֣וֹ</span>
<span class="mila" data-lnk="3221264079" data-exlnk="0" id="M_7_2_10">חֲלָאִ֔ים</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_7_2_11">מַעֲשֵׂ֖ה</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_7_2_12">יְדֵ֥י</span>
<span class="mila" data-lnk="3221259855" data-exlnk="0" id="M_7_2_13">אָמָּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_3" data-pasuk-now="11"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026578943" data-exlnk="0" id="M_7_3_1">שָׁרְרֵךְ֙</span>
<span class="mila" data-lnk="3221263951" data-exlnk="0" id="M_7_3_2">אַגַּ֣ן</span>
<span class="mila" data-lnk="3221264079" data-exlnk="0" id="M_7_3_3">הַסַּ֔הַר</span>
<span class="mila" data-lnk="5669" data-exlnk="0" id="M_7_3_4">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1178">־</span><span class="mila" data-lnk="5813" data-exlnk="0" id="M_7_3_5">יֶחְסַ֖ר</span>
<span class="mila" data-lnk="3221263997" data-exlnk="0" id="M_7_3_6">הַמָּ֑זֶג</span>
<span class="mila" data-lnk="1975" data-exlnk="0" id="M_7_3_7">בִּטְנֵךְ֙</span>
<span class="mila" data-lnk="3221264055" data-exlnk="0" id="M_7_3_8">עֲרֵמַ֣ת</span>
<span class="mila" data-lnk="5815" data-exlnk="0" id="M_7_3_9">חִטִּ֔ים</span>
<span class="mila" data-lnk="3221264125" data-exlnk="0" id="M_7_3_10">סוּגָ֖ה</span>
<span class="mila" data-lnk="5811" data-exlnk="0" id="M_7_3_11">בַּשּׁוֹשַׁנִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1186">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_4" data-pasuk-now="6"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="1831" data-exlnk="0" id="M_7_4_1">שְׁנֵ֥י</span>
<span class="mila" data-lnk="1831" data-exlnk="0" id="M_7_4_2">שָׁדַ֛יִךְ</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_7_4_3">כִּשְׁנֵ֥י</span>
<span class="mila" data-lnk="1540" data-exlnk="0" id="M_7_4_4">עֳפָרִ֖ים</span>
<span class="mila" data-lnk="3221259776" data-exlnk="0" id="M_7_4_5">תָּאֳמֵ֥י</span>
<span class="mila" data-lnk="1538" data-exlnk="0" id="M_7_4_6">צְבִיָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1193">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1843" data-exlnk="0" id="M_7_5_1">צַוָּארֵ֖ךְ</span>
<span class="mila" data-lnk="1559" data-exlnk="0" id="M_7_5_2">כְּמִגְדַּ֣ל</span>
<span class="mila" data-lnk="5654" data-exlnk="0" id="M_7_5_3">הַשֵּׁ֑ן</span>
<span class="mila" data-lnk="5927" data-exlnk="0" id="M_7_5_4">עֵינַ֜יִךְ</span>
<span class="mila" data-lnk="4026578455" data-exlnk="0" id="M_7_5_5">בְּרֵכ֣וֹת</span>
<span class="mila" data-lnk="5927" data-exlnk="0" id="M_7_5_6">בְּחֶשְׁבּ֗וֹן</span>
<span class="mila" data-lnk="1342223877" data-exlnk="0" id="M_7_5_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1201">־</span><span class="mila" data-lnk="2952836615" data-exlnk="0" id="M_7_5_8">שַׁ֙עַר֙</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_5_9">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1204">־</span><span class="mila" data-lnk="5927" data-exlnk="0" id="M_7_5_10">רַבִּ֔ים</span>
<span class="mila" data-lnk="6025" data-exlnk="0" id="M_7_5_11">אַפֵּךְ֙</span>
<span class="mila" data-lnk="5783" data-exlnk="0" id="M_7_5_12">כְּמִגְדַּ֣ל</span>
<span class="mila" data-lnk="5767" data-exlnk="0" id="M_7_5_13">הַלְּבָנ֔וֹן</span>
<span class="mila" data-lnk="4026578439" data-exlnk="0" id="M_7_5_14">צוֹפֶ֖ה</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_5_15">פְּנֵ֥י</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_5_16">דַמָּֽשֶׂק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1212">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_6" data-pasuk-now="9"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1959" data-exlnk="0" id="M_7_6_1">רֹאשֵׁ֤ךְ</span>
<span class="mila" data-lnk="1927" data-exlnk="0" id="M_7_6_2">עָלַ֙יִךְ֙</span>
<span class="mila" data-lnk="6111" data-exlnk="0" id="M_7_6_3">כַּכַּרְמֶ֔ל</span>
<span class="mila" data-lnk="3221264237" data-exlnk="0" id="M_7_6_4">וְדַלַּ֥ת</span>
<span class="mila" data-lnk="5927" data-exlnk="0" id="M_7_6_5">רֹאשֵׁ֖ךְ</span>
<span class="mila" data-lnk="3221259927" data-exlnk="0" id="M_7_6_6">כָּאַרְגָּמָ֑ן</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_7_6_7">מֶ֖לֶךְ</span>
<span class="mila" data-lnk="6069" data-exlnk="0" id="M_7_6_8">אָס֥וּר</span>
<span class="mila" data-lnk="6109" data-exlnk="0" id="M_7_6_9">בָּרְהָטִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1222">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="6055" data-exlnk="0" id="M_7_7_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1224">־</span><span class="mila" data-lnk="3221264295" data-exlnk="0" id="M_7_7_2">יָּפִית֙</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_7_3">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1227">־</span><span class="mila" data-lnk="3221263879" data-exlnk="0" id="M_7_7_4">נָּעַ֔מְתְּ</span>
<span class="mila" data-lnk="5637" data-exlnk="0" id="M_7_7_5">אַהֲבָ֖ה</span>
<span class="mila" data-lnk="3221259782" data-exlnk="0" id="M_7_7_6">בַּתַּעֲנוּגִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1231">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_8" data-pasuk-now="6"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1959" data-exlnk="0" id="M_7_8_1">זֹ֤את</span>
<span class="mila" data-lnk="1959" data-exlnk="0" id="M_7_8_2">קֽוֹמָתֵךְ֙</span>
<span class="mila" data-lnk="3221260039" data-exlnk="0" id="M_7_8_3">דָּמְתָ֣ה</span>
<span class="mila" data-lnk="1943" data-exlnk="0" id="M_7_8_4">לְתָמָ֔ר</span>
<span class="mila" data-lnk="5671" data-exlnk="0" id="M_7_8_5">וְשָׁדַ֖יִךְ</span>
<span class="mila" data-lnk="3221263877" data-exlnk="0" id="M_7_8_6">לְאַשְׁכֹּלֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1238">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_9" data-pasuk-now="13"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_7_9_1">אָמַ֙רְתִּי֙</span>
<span class="mila" data-lnk="1671" data-exlnk="0" id="M_7_9_2">אֶעֱלֶ֣ה</span>
<span class="mila" data-lnk="1671" data-exlnk="0" id="M_7_9_3">בְתָמָ֔ר</span>
<span class="mila" data-lnk="3221259911" data-exlnk="0" id="M_7_9_4">אֹחֲזָ֖ה</span>
<span class="mila" data-lnk="3221264095" data-exlnk="0" id="M_7_9_5">בְּסַנְסִנָּ֑יו</span>
<span class="mila" data-lnk="805320231" data-exlnk="0" id="M_7_9_6">וְיִֽהְיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1245">־</span><span class="mila" data-lnk="5671" data-exlnk="0" id="M_7_9_7">נָ֤א</span>
<span class="mila" data-lnk="5671" data-exlnk="0" id="M_7_9_8">שָׁדַ֙יִךְ֙</span>
<span class="mila" data-lnk="3221264006" data-exlnk="0" id="M_7_9_9">כְּאֶשְׁכְּל֣וֹת</span>
<span class="mila" data-lnk="5766" data-exlnk="0" id="M_7_9_10">הַגֶּ֔פֶן</span>
<span class="mila" data-lnk="4026574626" data-exlnk="0" id="M_7_9_11">וְרֵ֥יחַ</span>
<span class="mila" data-lnk="1826" data-exlnk="0" id="M_7_9_12">אַפֵּ֖ךְ</span>
<span class="mila" data-lnk="3221259910" data-exlnk="0" id="M_7_9_13">כַּתַּפּוּחִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1253">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_10" data-pasuk-now="9"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221264295" data-exlnk="0" id="M_7_10_1">וְחִכֵּ֕ךְ</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_10_2">כְּיֵ֥ין</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_10_3">הַטּ֛וֹב</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_10_4">הוֹלֵ֥ךְ</span>
<span class="mila" data-lnk="5637" data-exlnk="0" id="M_7_10_5">לְדוֹדִ֖י</span>
<span class="mila" data-lnk="5828" data-exlnk="0" id="M_7_10_6">לְמֵישָׁרִ֑ים</span>
<span class="mila" data-lnk="3221263947" data-exlnk="0" id="M_7_10_7">דּוֹבֵ֖ב</span>
<span class="mila" data-lnk="5637" data-exlnk="0" id="M_7_10_8">שִׂפְתֵ֥י</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_7_10_9">יְשֵׁנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1263">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_11" data-pasuk-now="4"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_7_11_1">אֲנִ֣י</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_7_11_2">לְדוֹדִ֔י</span>
<span class="mila" data-lnk="4026594966" data-exlnk="0" id="M_7_11_3">וְעָלַ֖י</span>
<span class="mila" data-lnk="4026578654" data-exlnk="0" id="M_7_11_4">תְּשׁוּקָתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1269">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="1270">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_7_12_1">לְכָ֤ה</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_7_12_2">דוֹדִי֙</span>
<span class="mila" data-lnk="5815" data-exlnk="0" id="M_7_12_3">נֵצֵ֣א</span>
<span class="mila" data-lnk="5815" data-exlnk="0" id="M_7_12_4">הַשָּׂדֶ֔ה</span>
<span class="mila" data-lnk="3221264039" data-exlnk="0" id="M_7_12_5">נָלִ֖ינָה</span>
<span class="mila" data-lnk="6055" data-exlnk="0" id="M_7_12_6">בַּכְּפָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1277">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_13" data-pasuk-now="15"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221259431" data-exlnk="0" id="M_7_13_1">נַשְׁכִּ֙ימָה֙</span>
<span class="mila" data-lnk="5159" data-exlnk="0" id="M_7_13_2">לַכְּרָמִ֔ים</span>
<span class="mila" data-lnk="4026557443" data-exlnk="0" id="M_7_13_3">נִרְאֶ֞ה</span>
<span class="mila" data-lnk="1315" data-exlnk="0" id="M_7_13_4">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1282">־</span><span class="mila" data-lnk="1315" data-exlnk="0" id="M_7_13_5">פָּרְחָ֤ה</span>
<span class="mila" data-lnk="1315" data-exlnk="0" id="M_7_13_6">הַגֶּ֙פֶן֙</span>
<span class="mila" data-lnk="4026573825" data-exlnk="0" id="M_7_13_7">פִּתַּ֣ח</span>
<span class="mila" data-lnk="3221259267" data-exlnk="0" id="M_7_13_8">הַסְּמָדַ֔ר</span>
<span class="mila" data-lnk="1027" data-exlnk="0" id="M_7_13_9">הֵנֵ֖צוּ</span>
<span class="mila" data-lnk="1027" data-exlnk="0" id="M_7_13_10">הָרִמּוֹנִ֑ים</span>
<span class="mila" data-lnk="268444803" data-exlnk="0" id="M_7_13_11">שָׁ֛ם</span>
<span class="mila" data-lnk="536880771" data-exlnk="0" id="M_7_13_12">אֶתֵּ֥ן</span>
<span class="mila" data-lnk="1731" data-exlnk="0" id="M_7_13_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1292">־</span><span class="mila" data-lnk="4026574529" data-exlnk="0" id="M_7_13_14">דֹּדַ֖י</span>
<span class="mila" data-lnk="1730" data-exlnk="0" id="M_7_13_15">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1295">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_14" data-pasuk-now="13"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="6115" data-exlnk="0" id="M_7_14_1">הַֽדּוּדָאִ֣ים</span>
<span class="mila" data-lnk="6051" data-exlnk="0" id="M_7_14_2">נָֽתְנוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1298">־</span><span class="mila" data-lnk="6051" data-exlnk="0" id="M_7_14_3">רֵ֗יחַ</span>
<span class="mila" data-lnk="1665" data-exlnk="0" id="M_7_14_4">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1301">־</span><span class="mila" data-lnk="1665" data-exlnk="0" id="M_7_14_5">פְּתָחֵ֙ינוּ֙</span>
<span class="mila" data-lnk="1667" data-exlnk="0" id="M_7_14_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1304">־</span><span class="mila" data-lnk="1667" data-exlnk="0" id="M_7_14_7">מְגָדִ֔ים</span>
<span class="mila" data-lnk="1795" data-exlnk="0" id="M_7_14_8">חֲדָשִׁ֖ים</span>
<span class="mila" data-lnk="1795" data-exlnk="0" id="M_7_14_9">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1308">־</span><span class="mila" data-lnk="1795" data-exlnk="0" id="M_7_14_10">יְשָׁנִ֑ים</span>
<span class="mila" data-lnk="1536" data-exlnk="0" id="M_7_14_11">דּוֹדִ֖י</span>
<span class="mila" data-lnk="5635" data-exlnk="0" id="M_7_14_12">צָפַ֥נְתִּי</span>
<span class="mila" data-lnk="5635" data-exlnk="0" id="M_7_14_13">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1313">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>