<p id="PR_5" data-perek-now="185" data-perek-nops="16"><span class="perek-header">פרק ה</span>
<br /><span id="PS_5_1" data-pasuk-now="21"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_5_1_1">בָּ֣אתִי</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_5_1_2">לְגַנִּי֘</span>
<span class="mila" data-lnk="5638" data-exlnk="0" id="M_5_1_3">אֲחֹתִ֣י</span>
<span class="mila" data-lnk="5638" data-exlnk="0" id="M_5_1_4">כַלָּה֒</span>
<span class="mila" data-lnk="5855" data-exlnk="0" id="M_5_1_5">אָרִ֤יתִי</span>
<span class="mila" data-lnk="1684" data-exlnk="0" id="M_5_1_6">מוֹרִי֙</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_5_1_7">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="791">־</span><span class="mila" data-lnk="1540" data-exlnk="0" id="M_5_1_8">בְּשָׂמִ֔י</span>
<span class="mila" data-lnk="1073776131" data-exlnk="0" id="M_5_1_9">אָכַ֤לְתִּי</span>
<span class="mila" data-lnk="3221264207" data-exlnk="0" id="M_5_1_10">יַעְרִי֙</span>
<span class="mila" data-lnk="1799" data-exlnk="0" id="M_5_1_11">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="796">־</span><span class="mila" data-lnk="3221260039" data-exlnk="0" id="M_5_1_12">דִּבְשִׁ֔י</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_1_13">שָׁתִ֥יתִי</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_1_14">יֵינִ֖י</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_1_15">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="801">־</span><span class="mila" data-lnk="1603" data-exlnk="0" id="M_5_1_16">חֲלָבִ֑י</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_5_1_17">אִכְל֣וּ</span>
<span class="mila" data-lnk="805320197" data-exlnk="0" id="M_5_1_18">רֵעִ֔ים</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_1_19">שְׁת֥וּ</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_1_20">וְשִׁכְר֖וּ</span>
<span class="mila" data-lnk="4026590721" data-exlnk="0" id="M_5_1_21">דּוֹדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="809">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="810">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_2" data-pasuk-now="19"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_5_2_1">אֲנִ֥י</span>
<span class="mila" data-lnk="4026562487" data-exlnk="0" id="M_5_2_2">יְשֵׁנָ֖ה</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_5_2_3">וְלִבִּ֣י</span>
<span class="mila" data-lnk="6071" data-exlnk="0" id="M_5_2_4">עֵ֑ר</span>
<span class="mila" data-lnk="6079" data-exlnk="0" id="M_5_2_5">ק֣וֹל׀</span>
<span class="mila" data-lnk="6079" data-exlnk="0" id="M_5_2_6">דּוֹדִ֣י</span>
<span class="mila" data-lnk="3221264127" data-exlnk="0" id="M_5_2_7">דוֹפֵ֗ק</span>
<span class="mila" data-lnk="3221264003" data-exlnk="0" id="M_5_2_8">פִּתְחִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="819">־</span><span class="mila" data-lnk="5633" data-exlnk="0" id="M_5_2_9">לִ֞י</span>
<span class="mila" data-lnk="5634" data-exlnk="0" id="M_5_2_10">אֲחֹתִ֤י</span>
<span class="mila" data-lnk="5634" data-exlnk="0" id="M_5_2_11">רַעְיָתִי֙</span>
<span class="mila" data-lnk="1538" data-exlnk="0" id="M_5_2_12">יוֹנָתִ֣י</span>
<span class="mila" data-lnk="4026574402" data-exlnk="0" id="M_5_2_13">תַמָּתִ֔י</span>
<span class="mila" data-lnk="3221260087" data-exlnk="0" id="M_5_2_14">שֶׁרֹּאשִׁי֙</span>
<span class="mila" data-lnk="1843" data-exlnk="0" id="M_5_2_15">נִמְלָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="827">־</span><span class="mila" data-lnk="3221260083" data-exlnk="0" id="M_5_2_16">טָ֔ל</span>
<span class="mila" data-lnk="3221259851" data-exlnk="0" id="M_5_2_17">קְוֻצּוֹתַ֖י</span>
<span class="mila" data-lnk="3221263983" data-exlnk="0" id="M_5_2_18">רְסִ֥יסֵי</span>
<span class="mila" data-lnk="5667" data-exlnk="0" id="M_5_2_19">לָֽיְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="832">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_3" data-pasuk-now="10"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221264279" data-exlnk="0" id="M_5_3_1">פָּשַׁ֙טְתִּי֙</span>
<span class="mila" data-lnk="5655" data-exlnk="0" id="M_5_3_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="835">־</span><span class="mila" data-lnk="4026594839" data-exlnk="0" id="M_5_3_3">כֻּתָּנְתִּ֔י</span>
<span class="mila" data-lnk="4026574340" data-exlnk="0" id="M_5_3_4">אֵיכָ֖כָה</span>
<span class="mila" data-lnk="5638" data-exlnk="0" id="M_5_3_5">אֶלְבָּשֶׁ֑נָּה</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_3_6">רָחַ֥צְתִּי</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_3_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="841">־</span><span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_3_8">רַגְלַ֖י</span>
<span class="mila" data-lnk="3221259776" data-exlnk="0" id="M_5_3_9">אֵיכָ֥כָה</span>
<span class="mila" data-lnk="3221259848" data-exlnk="0" id="M_5_3_10">אֲטַנְּפֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="845">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="5893" data-exlnk="0" id="M_5_4_1">דּוֹדִ֗י</span>
<span class="mila" data-lnk="5895" data-exlnk="0" id="M_5_4_2">שָׁלַ֤ח</span>
<span class="mila" data-lnk="5895" data-exlnk="0" id="M_5_4_3">יָדוֹ֙</span>
<span class="mila" data-lnk="5991" data-exlnk="0" id="M_5_4_4">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="850">־</span><span class="mila" data-lnk="3221264231" data-exlnk="0" id="M_5_4_5">הַחֹ֔ר</span>
<span class="mila" data-lnk="3221263879" data-exlnk="0" id="M_5_4_6">וּמֵעַ֖י</span>
<span class="mila" data-lnk="805320198" data-exlnk="0" id="M_5_4_7">הָמ֥וּ</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_5_4_8">עָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="855">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_5" data-pasuk-now="13"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1831" data-exlnk="0" id="M_5_5_1">קַ֥מְתִּֽי</span>
<span class="mila" data-lnk="1828" data-exlnk="0" id="M_5_5_2">אֲנִ֖י</span>
<span class="mila" data-lnk="1830" data-exlnk="0" id="M_5_5_3">לִפְתֹּ֣חַ</span>
<span class="mila" data-lnk="1830" data-exlnk="0" id="M_5_5_4">לְדוֹדִ֑י</span>
<span class="mila" data-lnk="4026578470" data-exlnk="0" id="M_5_5_5">וְיָדַ֣י</span>
<span class="mila" data-lnk="5670" data-exlnk="0" id="M_5_5_6">נָֽטְפוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="862">־</span><span class="mila" data-lnk="4026594855" data-exlnk="0" id="M_5_5_7">מ֗וֹר</span>
<span class="mila" data-lnk="3221259778" data-exlnk="0" id="M_5_5_8">וְאֶצְבְּעֹתַי֙</span>
<span class="mila" data-lnk="1546" data-exlnk="0" id="M_5_5_9">מ֣וֹר</span>
<span class="mila" data-lnk="5647" data-exlnk="0" id="M_5_5_10">עֹבֵ֔ר</span>
<span class="mila" data-lnk="5638" data-exlnk="0" id="M_5_5_11">עַ֖ל</span>
<span class="mila" data-lnk="5638" data-exlnk="0" id="M_5_5_12">כַּפּ֥וֹת</span>
<span class="mila" data-lnk="3221263886" data-exlnk="0" id="M_5_5_13">הַמַּנְעֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="870">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_6" data-pasuk-now="15"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_5_6_1">פָּתַ֤חְתִּֽי</span>
<span class="mila" data-lnk="1540" data-exlnk="0" id="M_5_6_2">אֲנִי֙</span>
<span class="mila" data-lnk="1540" data-exlnk="0" id="M_5_6_3">לְדוֹדִ֔י</span>
<span class="mila" data-lnk="5667" data-exlnk="0" id="M_5_6_4">וְדוֹדִ֖י</span>
<span class="mila" data-lnk="3221263981" data-exlnk="0" id="M_5_6_5">חָמַ֣ק</span>
<span class="mila" data-lnk="5678" data-exlnk="0" id="M_5_6_6">עָבָ֑ר</span>
<span class="mila" data-lnk="5943" data-exlnk="0" id="M_5_6_7">נַפְשִׁי֙</span>
<span class="mila" data-lnk="5943" data-exlnk="0" id="M_5_6_8">יָצְאָ֣ה</span>
<span class="mila" data-lnk="5941" data-exlnk="0" id="M_5_6_9">בְדַבְּר֔וֹ</span>
<span class="mila" data-lnk="3221259783" data-exlnk="0" id="M_5_6_10">בִּקַּשְׁתִּ֙יהוּ֙</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_5_6_11">וְלֹ֣א</span>
<span class="mila" data-lnk="3221259782" data-exlnk="0" id="M_5_6_12">מְצָאתִ֔יהוּ</span>
<span class="mila" data-lnk="1538" data-exlnk="0" id="M_5_6_13">קְרָאתִ֖יו</span>
<span class="mila" data-lnk="1538" data-exlnk="0" id="M_5_6_14">וְלֹ֥א</span>
<span class="mila" data-lnk="1538" data-exlnk="0" id="M_5_6_15">עָנָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="886">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="3221260071" data-exlnk="0" id="M_5_7_1">מְצָאֻ֧נִי</span>
<span class="mila" data-lnk="1829" data-exlnk="0" id="M_5_7_2">הַשֹּׁמְרִ֛ים</span>
<span class="mila" data-lnk="1541" data-exlnk="0" id="M_5_7_3">הַסֹּבֲבִ֥ים</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_5_7_4">בָּעִ֖יר</span>
<span class="mila" data-lnk="4026574599" data-exlnk="0" id="M_5_7_5">הִכּ֣וּנִי</span>
<span class="mila" data-lnk="3221260039" data-exlnk="0" id="M_5_7_6">פְצָע֑וּנִי</span>
<span class="mila" data-lnk="1829" data-exlnk="0" id="M_5_7_7">נָשְׂא֤וּ</span>
<span class="mila" data-lnk="1829" data-exlnk="0" id="M_5_7_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="895">־</span><span class="mila" data-lnk="3221264239" data-exlnk="0" id="M_5_7_9">רְדִידִי֙</span>
<span class="mila" data-lnk="1540" data-exlnk="0" id="M_5_7_10">מֵֽעָלַ֔י</span>
<span class="mila" data-lnk="1541" data-exlnk="0" id="M_5_7_11">שֹׁמְרֵ֖י</span>
<span class="mila" data-lnk="4026574339" data-exlnk="0" id="M_5_7_12">הַחֹמֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="900">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_8" data-pasuk-now="14"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1591" data-exlnk="0" id="M_5_8_1">הִשְׁבַּ֥עְתִּי</span>
<span class="mila" data-lnk="1575" data-exlnk="0" id="M_5_8_2">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_5_8_3">בְּנ֣וֹת</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_5_8_4">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_5_8_5">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="906">־</span><span class="mila" data-lnk="1543" data-exlnk="0" id="M_5_8_6">תִּמְצְאוּ֙</span>
<span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_8_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="909">־</span><span class="mila" data-lnk="1539" data-exlnk="0" id="M_5_8_8">דּוֹדִ֔י</span>
<span class="mila" data-lnk="1559" data-exlnk="0" id="M_5_8_9">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="912">־</span><span class="mila" data-lnk="1559" data-exlnk="0" id="M_5_8_10">תַּגִּ֣ידוּ</span>
<span class="mila" data-lnk="1559" data-exlnk="0" id="M_5_8_11">ל֔וֹ</span>
<span class="mila" data-lnk="3221260050" data-exlnk="0" id="M_5_8_12">שֶׁחוֹלַ֥ת</span>
<span class="mila" data-lnk="1810" data-exlnk="0" id="M_5_8_13">אַהֲבָ֖ה</span>
<span class="mila" data-lnk="1554" data-exlnk="0" id="M_5_8_14">אָֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="918">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="1342219781" data-exlnk="0" id="M_5_9_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="920">־</span><span class="mila" data-lnk="3758138885" data-exlnk="0" id="M_5_9_2">דּוֹדֵ֣ךְ</span>
<span class="mila" data-lnk="1541" data-exlnk="0" id="M_5_9_3">מִדּ֔וֹד</span>
<span class="mila" data-lnk="1536" data-exlnk="0" id="M_5_9_4">הַיָּפָ֖ה</span>
<span class="mila" data-lnk="1536" data-exlnk="0" id="M_5_9_5">בַּנָּשִׁ֑ים</span>
<span class="mila" data-lnk="1537" data-exlnk="0" id="M_5_9_6">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="926">־</span><span class="mila" data-lnk="4026574340" data-exlnk="0" id="M_5_9_7">דּוֹדֵ֣ךְ</span>
<span class="mila" data-lnk="1540" data-exlnk="0" id="M_5_9_8">מִדּ֔וֹד</span>
<span class="mila" data-lnk="1537" data-exlnk="0" id="M_5_9_9">שֶׁכָּ֖כָה</span>
<span class="mila" data-lnk="4026574339" data-exlnk="0" id="M_5_9_10">הִשְׁבַּעְתָּֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="931">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_10" data-pasuk-now="5"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1831" data-exlnk="0" id="M_5_10_1">דּוֹדִ֥י</span>
<span class="mila" data-lnk="5935" data-exlnk="0" id="M_5_10_2">צַח֙</span>
<span class="mila" data-lnk="3221260071" data-exlnk="0" id="M_5_10_3">וְאָד֔וֹם</span>
<span class="mila" data-lnk="6127" data-exlnk="0" id="M_5_10_4">דָּג֖וּל</span>
<span class="mila" data-lnk="6021" data-exlnk="0" id="M_5_10_5">מֵרְבָבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="937">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1831" data-exlnk="0" id="M_5_11_1">רֹאשׁ֖וֹ</span>
<span class="mila" data-lnk="5999" data-exlnk="0" id="M_5_11_2">כֶּ֣תֶם</span>
<span class="mila" data-lnk="5997" data-exlnk="0" id="M_5_11_3">פָּ֑ז</span>
<span class="mila" data-lnk="3221263971" data-exlnk="0" id="M_5_11_4">קְוֻצּוֹתָיו֙</span>
<span class="mila" data-lnk="3221263951" data-exlnk="0" id="M_5_11_5">תַּלְתַּלִּ֔ים</span>
<span class="mila" data-lnk="3221264135" data-exlnk="0" id="M_5_11_6">שְׁחֹר֖וֹת</span>
<span class="mila" data-lnk="4026578691" data-exlnk="0" id="M_5_11_7">כָּעוֹרֵֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="945">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="5943" data-exlnk="0" id="M_5_12_1">עֵינָ֕יו</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_5_12_2">כְּיוֹנִ֖ים</span>
<span class="mila" data-lnk="5719" data-exlnk="0" id="M_5_12_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="949">־</span><span class="mila" data-lnk="5655" data-exlnk="0" id="M_5_12_4">אֲפִ֣יקֵי</span>
<span class="mila" data-lnk="5655" data-exlnk="0" id="M_5_12_5">מָ֑יִם</span>
<span class="mila" data-lnk="3221264128" data-exlnk="0" id="M_5_12_6">רֹֽחֲצוֹת֙</span>
<span class="mila" data-lnk="5893" data-exlnk="0" id="M_5_12_7">בֶּחָלָ֔ב</span>
<span class="mila" data-lnk="4026578435" data-exlnk="0" id="M_5_12_8">יֹשְׁב֖וֹת</span>
<span class="mila" data-lnk="5707" data-exlnk="0" id="M_5_12_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="956">־</span><span class="mila" data-lnk="5707" data-exlnk="0" id="M_5_12_10">מִלֵּֽאת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="958">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_13" data-pasuk-now="10"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221264311" data-exlnk="0" id="M_5_13_1">לְחָיָו֙</span>
<span class="mila" data-lnk="3221263887" data-exlnk="0" id="M_5_13_2">כַּעֲרוּגַ֣ת</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_5_13_3">הַבֹּ֔שֶׂם</span>
<span class="mila" data-lnk="5852" data-exlnk="0" id="M_5_13_4">מִגְדְּל֖וֹת</span>
<span class="mila" data-lnk="5655" data-exlnk="0" id="M_5_13_5">מֶרְקָחִ֑ים</span>
<span class="mila" data-lnk="1830" data-exlnk="0" id="M_5_13_6">שִׂפְתוֹתָיו֙</span>
<span class="mila" data-lnk="1558" data-exlnk="0" id="M_5_13_7">שֽׁוֹשַׁנִּ֔ים</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_5_13_8">נֹטְפ֖וֹת</span>
<span class="mila" data-lnk="805316100" data-exlnk="0" id="M_5_13_9">מ֥וֹר</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_5_13_10">עֹבֵֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="969">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_14" data-pasuk-now="10"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1958" data-exlnk="0" id="M_5_14_1">יָדָיו֙</span>
<span class="mila" data-lnk="3221264253" data-exlnk="0" id="M_5_14_2">גְּלִילֵ֣י</span>
<span class="mila" data-lnk="5943" data-exlnk="0" id="M_5_14_3">זָהָ֔ב</span>
<span class="mila" data-lnk="5831" data-exlnk="0" id="M_5_14_4">מְמֻלָּאִ֖ים</span>
<span class="mila" data-lnk="5983" data-exlnk="0" id="M_5_14_5">בַּתַּרְשִׁ֑ישׁ</span>
<span class="mila" data-lnk="6142" data-exlnk="0" id="M_5_14_6">מֵעָיו֙</span>
<span class="mila" data-lnk="3221264079" data-exlnk="0" id="M_5_14_7">עֶ֣שֶׁת</span>
<span class="mila" data-lnk="5775" data-exlnk="0" id="M_5_14_8">שֵׁ֔ן</span>
<span class="mila" data-lnk="3221263943" data-exlnk="0" id="M_5_14_9">מְעֻלֶּ֖פֶת</span>
<span class="mila" data-lnk="4026578551" data-exlnk="0" id="M_5_14_10">סַפִּירִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_15" data-pasuk-now="11"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="5927" data-exlnk="0" id="M_5_15_1">שׁוֹקָיו֙</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_5_15_2">עַמּ֣וּדֵי</span>
<span class="mila" data-lnk="1869" data-exlnk="0" id="M_5_15_3">שֵׁ֔שׁ</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_5_15_4">מְיֻסָּדִ֖ים</span>
<span class="mila" data-lnk="5671" data-exlnk="0" id="M_5_15_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="986">־</span><span class="mila" data-lnk="6051" data-exlnk="0" id="M_5_15_6">אַדְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="988">־</span><span class="mila" data-lnk="6055" data-exlnk="0" id="M_5_15_7">פָ֑ז</span>
<span class="mila" data-lnk="1954" data-exlnk="0" id="M_5_15_8">מַרְאֵ֙הוּ֙</span>
<span class="mila" data-lnk="805316515" data-exlnk="0" id="M_5_15_9">כַּלְּבָנ֔וֹן</span>
<span class="mila" data-lnk="1826" data-exlnk="0" id="M_5_15_10">בָּח֖וּר</span>
<span class="mila" data-lnk="3221260066" data-exlnk="0" id="M_5_15_11">כָּאֲרָזִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="994">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_16" data-pasuk-now="10"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="1575" data-exlnk="0" id="M_5_16_1">חִכּוֹ֙</span>
<span class="mila" data-lnk="4026574343" data-exlnk="0" id="M_5_16_2">מַֽמְתַקִּ֔ים</span>
<span class="mila" data-lnk="805316102" data-exlnk="0" id="M_5_16_3">וְכֻלּ֖וֹ</span>
<span class="mila" data-lnk="1542" data-exlnk="0" id="M_5_16_4">מַחֲמַדִּ֑ים</span>
<span class="mila" data-lnk="5637" data-exlnk="0" id="M_5_16_5">זֶ֤ה</span>
<span class="mila" data-lnk="5639" data-exlnk="0" id="M_5_16_6">דוֹדִי֙</span>
<span class="mila" data-lnk="1541" data-exlnk="0" id="M_5_16_7">וְזֶ֣ה</span>
<span class="mila" data-lnk="1543" data-exlnk="0" id="M_5_16_8">רֵעִ֔י</span>
<span class="mila" data-lnk="1570" data-exlnk="0" id="M_5_16_9">בְּנ֖וֹת</span>
<span class="mila" data-lnk="1570" data-exlnk="0" id="M_5_16_10">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1005">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>