<p id="PR_3" data-perek-now="258" data-perek-nops="18"><span class="perek-header">פרק ג</span>
<br /><span id="PS_3_1" data-pasuk-now="12"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_1_1">וַתֹּ֥אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_1_2">לָ֖הּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_1_3">נָעֳמִ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_1_4">חֲמוֹתָ֑הּ</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_3_1_5">בִּתִּ֕י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_1_6">הֲלֹ֧א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_1_7">אֲבַקֶּשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="838">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_1_8">לָ֛ךְ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_3_1_9">מָנ֖וֹחַ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_1_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_1_11">יִֽיטַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="843">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_1_12">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="845">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_2" data-pasuk-now="15"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_2_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_2_2">הֲלֹ֥א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_2_3">בֹ֙עַז֙</span>
<span class="mila" data-lnk="3221226516" data-exlnk="0" id="M_3_2_4">מֹֽדַעְתָּ֔נוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_2_5">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_2_6">הָיִ֖ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_2_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="853">־</span><span class="mila" data-lnk="4026533124" data-exlnk="0" id="M_3_2_8">נַעֲרוֹתָ֑יו</span>
<span class="mila" data-lnk="101" data-exlnk="0" id="M_3_2_9">הִנֵּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="856">־</span><span class="mila" data-lnk="101" data-exlnk="0" id="M_3_2_10">ה֗וּא</span>
<span class="mila" data-lnk="4026533349" data-exlnk="0" id="M_3_2_11">זֹרֶ֛ה</span>
<span class="mila" data-lnk="228" data-exlnk="0" id="M_3_2_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="860">־</span><span class="mila" data-lnk="229" data-exlnk="0" id="M_3_2_13">גֹּ֥רֶן</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_3_2_14">הַשְּׂעֹרִ֖ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_2_15">הַלָּֽיְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="864">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221226497" data-exlnk="0" id="M_3_3_1">וְרָחַ֣צְתְּ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="866">׀</span>
<span class="mila" data-lnk="3221226580" data-exlnk="0" id="M_3_3_2">וָסַ֗כְתְּ</span>
<span class="mila" data-lnk="1073742877" data-exlnk="0" id="M_3_3_3">וְשַׂ֧מְתְּ</span>
<span data-lnk="0" data-exlnk="0" id="M_3_3_4" class="mila ktiv">שִׂמְלֹתִַ֛ךְ</span>
<span data-lnk="3221226585" data-exlnk="0" id="M_3_3_4_K" class="mila kri">שִׂמְלֹתַ֛יִךְ</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_3_3_5">עָלַ֖יִךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_3_3_6" class="mila ktiv">וְיָרַ֣דְתְּי</span>
<span data-lnk="3221226501" data-exlnk="0" id="M_3_3_6_K" class="mila kri">וְיָרַ֣דְתְּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_3_7">הַגֹּ֑רֶן</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_3_3_8">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="876">־</span><span class="mila" data-lnk="109" data-exlnk="0" id="M_3_3_9">תִּוָּדְעִ֣י</span>
<span class="mila" data-lnk="805306729" data-exlnk="0" id="M_3_3_10">לָאִ֔ישׁ</span>
<span class="mila" data-lnk="1879049572" data-exlnk="0" id="M_3_3_11">עַ֥ד</span>
<span class="mila" data-lnk="4026533216" data-exlnk="0" id="M_3_3_12">כַּלֹּת֖וֹ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_3_3_13">לֶאֱכֹ֥ל</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_3_3_14">וְלִשְׁתּֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="883">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_4" data-pasuk-now="18"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="805306628" data-exlnk="0" id="M_3_4_1">וִיהִ֣י</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_3_4_2">בְשָׁכְב֗וֹ</span>
<span class="mila" data-lnk="4026533636" data-exlnk="0" id="M_3_4_3">וְיָדַ֙עַתְּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_4_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="888">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_4_5">הַמָּקוֹם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_4_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_4_7">יִשְׁכַּב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="892">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_4_8">שָׁ֔ם</span>
<span class="mila" data-lnk="4026533636" data-exlnk="0" id="M_3_4_9">וּבָ֛את</span>
<span class="mila" data-lnk="3221226532" data-exlnk="0" id="M_3_4_10">וְגִלִּ֥ית</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_3_4_11">מַרְגְּלֹתָ֖יו</span>
<span data-lnk="0" data-exlnk="0" id="M_3_4_12" class="mila ktiv">וְשָׁכָ֑בְתְּי</span>
<span data-lnk="3221226500" data-exlnk="0" id="M_3_4_12_K" class="mila kri">וְשָׁכָ֑בְתְּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_13">וְהוּא֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_14">יַגִּ֣יד</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_4_15">לָ֔ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_4_16">אֵ֖ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_4_17">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="3221226500" data-exlnk="0" id="M_3_4_18">תַּעֲשִֽׂין</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="905">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_5" data-pasuk-now="7"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_5_1">וַתֹּ֖אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_5_2">אֵלֶ֑יהָ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_5_3">כֹּ֛ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_5_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="910">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_3_5_5">תֹּאמְרִ֥י</span>
<span data-lnk="0" data-exlnk="0" id="M_3_5_6" class="mila kri">ֵַ֖</span>
<span data-lnk="805306624" data-exlnk="0" id="M_3_5_6_K" class="mila kri">אֵלַ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_5_7">אֶעֱשֶֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="915">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_6_1">וַתֵּ֖רֶד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_6_2">הַגֹּ֑רֶן</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_6_3">וַתַּ֕עַשׂ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_6_4">כְּכֹ֥ל</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_6_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="921">־</span><span class="mila" data-lnk="3221226521" data-exlnk="0" id="M_3_6_6">צִוַּ֖תָּה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_6_7">חֲמוֹתָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="924">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_7" data-pasuk-now="14"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_1">וַיֹּ֨אכַל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_7_2">בֹּ֤עַז</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_7_3">וַיֵּשְׁתְּ֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_7_4">וַיִּיטַ֣ב</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_7_5">לִבּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_6">וַיָּבֹ֕א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_7">לִשְׁכַּ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_8">בִּקְצֵ֣ה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_3_7_9">הָעֲרֵמָ֑ה</span>
<span class="mila" data-lnk="4026533633" data-exlnk="0" id="M_3_7_10">וַתָּבֹ֣א</span>
<span class="mila" data-lnk="805306657" data-exlnk="0" id="M_3_7_11">בַלָּ֔ט</span>
<span class="mila" data-lnk="805306624" data-exlnk="0" id="M_3_7_12">וַתְּגַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_13">מַרְגְּלֹתָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_7_14">וַתִּשְׁכָּֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="939">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_8" data-pasuk-now="10"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_3_8_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="1342178628" data-exlnk="0" id="M_3_8_2">בַּחֲצִ֣י</span>
<span class="mila" data-lnk="3758097732" data-exlnk="0" id="M_3_8_3">הַלַּ֔יְלָה</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_3_8_4">וַיֶּחֱרַ֥ד</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_3_8_5">הָאִ֖ישׁ</span>
<span class="mila" data-lnk="3221226749" data-exlnk="0" id="M_3_8_6">וַיִּלָּפֵ֑ת</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_3_8_7">וְהִנֵּ֣ה</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_3_8_8">אִשָּׁ֔ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_3_8_9">שֹׁכֶ֖בֶת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_3_8_10">מַרְגְּלֹתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="950">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_9" data-pasuk-now="14"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_9_1">וַיֹּ֖אמֶר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_9_2">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="953">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_9_3">אָ֑תְּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_9_4">וַתֹּ֗אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_9_5">אָֽנֹכִי֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_9_6">ר֣וּת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_9_7">אֲמָתֶ֔ךָ</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_3_9_8">וּפָרַשְׂתָּ֤</span>
<span class="mila" data-lnk="3221226693" data-exlnk="0" id="M_3_9_9">כְנָפֶךָ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_9_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="962">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_9_11">אֲמָ֣תְךָ֔</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_3_9_12">כִּ֥י</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_3_9_13">גֹאֵ֖ל</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_3_9_14">אָֽתָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="967">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_1">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="3221226500" data-exlnk="0" id="M_3_10_2">בְּרוּכָ֨ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_3">אַ֤תְּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_4">לַֽיהוָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_5">בִּתִּ֔י</span>
<span class="mila" data-lnk="3221226540" data-exlnk="0" id="M_3_10_6">הֵיטַ֛בְתְּ</span>
<span class="mila" data-lnk="4026533180" data-exlnk="0" id="M_3_10_7">חַסְדֵּ֥ךְ</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_3_10_8">הָאַחֲר֖וֹן</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_3_10_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="977">־</span><span class="mila" data-lnk="805306733" data-exlnk="0" id="M_3_10_10">הָרִאשׁ֑וֹן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_11">לְבִלְתִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="980">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_12">לֶ֗כֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_10_13">אַֽחֲרֵי֙</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_3_10_14">הַבַּ֣חוּרִ֔ים</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_3_10_15">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="985">־</span><span class="mila" data-lnk="4026533148" data-exlnk="0" id="M_3_10_16">דַּ֖ל</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_3_10_17">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="988">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_3_10_18">עָשִֽׁיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="990">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_11" data-pasuk-now="18"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_11_1">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_11_2">בִּתִּי֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_3">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="994">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_4">תִּ֣ירְאִ֔י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_5">כֹּ֥ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_11_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="998">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_11_7">תֹּאמְרִ֖י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_8">אֶעֱשֶׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1001">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_9">לָּ֑ךְ</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_3_11_10">כִּ֤י</span>
<span class="mila" data-lnk="805306700" data-exlnk="0" id="M_3_11_11">יוֹדֵעַ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1006">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_13">שַׁ֣עַר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_14">עַמִּ֔י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_15">כִּ֛י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_3_11_16">אֵ֥שֶׁת</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_3_11_17">חַ֖יִל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_11_18">אָֽתְּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_12" data-pasuk-now="12"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_12_1">וְעַתָּה֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_12_2">כִּ֣י</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_3_12_3">אָמְנָ֔ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_12_4">כִּ֥י</span>
<span data-lnk="3221226497" data-exlnk="0" id="M_3_12_5" class="mila ktiv">אם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_3_12_6">גֹאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_12_7">אָנֹ֑כִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_12_8">וְגַ֛ם</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_12_9">יֵ֥שׁ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_3_12_10">גֹּאֵ֖ל</span>
<span class="mila" data-lnk="129" data-exlnk="0" id="M_3_12_11">קָר֥וֹב</span>
<span class="mila" data-lnk="137" data-exlnk="0" id="M_3_12_12">מִמֶּֽנִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1026">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_13" data-pasuk-now="19"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_1">לִ֣ינִי</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="1028">׀</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_13_2">הַלַּ֗יְלָה</span>
<span class="mila" data-lnk="3489662244" data-exlnk="0" id="M_3_13_3">וְהָיָ֤ה</span>
<span class="mila" data-lnk="3758097700" data-exlnk="0" id="M_3_13_4">בַבֹּ֙קֶר֙</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_3_13_5">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1033">־</span><span class="mila" data-lnk="116" data-exlnk="0" id="M_3_13_6">יִגְאָלֵ֥ךְ</span>
<span class="mila" data-lnk="124" data-exlnk="0" id="M_3_13_7">טוֹב֙</span>
<span class="mila" data-lnk="3221226620" data-exlnk="0" id="M_3_13_8">יִגְאָ֔ל</span>
<span class="mila" data-lnk="805306656" data-exlnk="0" id="M_3_13_9">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1038">־</span><span class="mila" data-lnk="805306656" data-exlnk="0" id="M_3_13_10">לֹ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_13_11">יַחְפֹּ֧ץ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_13_12">לְגָאֳלֵ֛ךְ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_13_13">וּגְאַלְתִּ֥יךְ</span>
<span class="mila" data-lnk="4026533152" data-exlnk="0" id="M_3_13_14">אָנֹ֖כִי</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_3_13_15">חַי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1045">־</span><span class="mila" data-lnk="65" data-exlnk="0" id="M_3_13_16">יְהוָ֑ה</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_13_17">שִׁכְבִ֖י</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_3_13_18">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1049">־</span><span class="mila" data-lnk="96" data-exlnk="0" id="M_3_13_19">הַבֹּֽקֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1051">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_14" data-pasuk-now="17"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_14_1">וַתִּשְׁכַּ֤ב</span>
<span data-lnk="0" data-exlnk="0" id="M_3_14_2" class="mila ktiv">מַרְגְּלוֹתָו֙</span>
<span data-lnk="3221226500" data-exlnk="0" id="M_3_14_2_K" class="mila kri">מַרְגְּלוֹתָיו֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_14_3">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1056">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_14_4">הַבֹּ֔קֶר</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_3_14_5">וַתָּ֕קָם</span>
<span data-lnk="0" data-exlnk="0" id="M_3_14_6" class="mila ktiv">בְּטֶ֛רֶום</span>
<span data-lnk="3221226541" data-exlnk="0" id="M_3_14_6_K" class="mila kri">בְּטֶ֛רֶם</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_3_14_7">יַכִּ֥יר</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_3_14_8">אִ֖ישׁ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_3_14_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1064">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_3_14_10">רֵעֵ֑הוּ</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_3_14_11">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_3_14_12">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1068">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_3_14_13">יִוָּדַ֔ע</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_3_14_14">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1071">־</span><span class="mila" data-lnk="37" data-exlnk="0" id="M_3_14_15">בָ֥אָה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_3_14_16">הָאִשָּׁ֖ה</span>
<span class="mila" data-lnk="37" data-exlnk="0" id="M_3_14_17">הַגֹּֽרֶן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1075">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_15" data-pasuk-now="16"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_15_1">וַיֹּ֗אמֶר</span>
<span class="mila" data-lnk="4026533292" data-exlnk="0" id="M_3_15_2">הָ֠בִי</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_3_15_3">הַמִּטְפַּ֧חַת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_3_15_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1080">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_3_15_5">עָלַ֛יִךְ</span>
<span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_3_15_6">וְאֶחֳזִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1083">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_7">בָ֖הּ</span>
<span class="mila" data-lnk="4026533632" data-exlnk="0" id="M_3_15_8">וַתֹּ֣אחֶז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_9">בָּ֑הּ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_3_15_10">וַיָּ֤מָד</span>
<span class="mila" data-lnk="253" data-exlnk="0" id="M_3_15_11">שֵׁשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1089">־</span><span class="mila" data-lnk="253" data-exlnk="0" id="M_3_15_12">שְׂעֹרִים֙</span>
<span class="mila" data-lnk="4026533668" data-exlnk="0" id="M_3_15_13">וַיָּ֣שֶׁת</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_3_15_14">עָלֶ֔יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_3_15_15">וַיָּבֹ֖א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_3_15_16">הָעִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1095">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_16" data-pasuk-now="15"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_16_1">וַתָּבוֹא֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_16_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1098">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_3_16_3">חֲמוֹתָ֔הּ</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_3_16_4">וַתֹּ֖אמֶר</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_3_16_5">מִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1102">־</span><span class="mila" data-lnk="93" data-exlnk="0" id="M_3_16_6">אַ֣תְּ</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_3_16_7">בִּתִּ֑י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_16_8">וַתַּ֨גֶּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1106">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_16_9">לָ֔הּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_16_10">אֵ֛ת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_16_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1110">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_16_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_3_16_13">עָשָׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1113">־</span><span class="mila" data-lnk="92" data-exlnk="0" id="M_3_16_14">לָ֖הּ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_3_16_15">הָאִֽישׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1116">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_17" data-pasuk-now="14"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_1">וַתֹּ֕אמֶר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_2">שֵׁשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1119">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_3">הַשְּׂעֹרִ֥ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_17_4">הָאֵ֖לֶּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_17_5">נָ֣תַן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_6">לִ֑י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_7">כִּ֚י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_8">אָמַ֣ר</span>
<span data-lnk="0" data-exlnk="0" id="M_3_17_9" class="mila kri">ֵַ֔</span>
<span data-lnk="805306636" data-exlnk="0" id="M_3_17_9_K" class="mila kri">אֵלַ֔י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_10">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1129">־</span><span class="mila" data-lnk="4026533132" data-exlnk="0" id="M_3_17_11">תָּב֥וֹאִי</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_12">רֵיקָ֖ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1133">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_3_17_14">חֲמוֹתֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1135">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_3_18" data-pasuk-now="18"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_18_1">וַתֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_18_2">שְׁבִ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_18_3">בִתִּ֔י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_18_4">עַ֚ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_3_18_5">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221226500" data-exlnk="0" id="M_3_18_6">תֵּֽדְעִ֔ין</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_3_18_7">אֵ֖יךְ</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_3_18_8">יִפֹּ֣ל</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_3_18_9">דָּבָ֑ר</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_3_18_10">כִּ֣י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_3_18_11">לֹ֤א</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_3_18_12">יִשְׁקֹט֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_18_13">הָאִ֔ישׁ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_18_14">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1150">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_3_18_15">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1152">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_3_18_16">כִּלָּ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_3_18_17">הַדָּבָ֖ר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_3_18_18">הַיּֽוֹם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1156">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>