<p id="PR_1" data-perek-now="376" data-perek-nops="22"><span class="perek-header">פרק א</span>
<br /><span id="PS_1_1" data-pasuk-now="14"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026533325" data-exlnk="0" id="M_1_1_1">אֵיכָ֣ה׀</span>
<span class="mila" data-lnk="238" data-exlnk="0" id="M_1_1_2">יָשְׁבָ֣ה</span>
<span class="mila" data-lnk="4026533887" data-exlnk="0" id="M_1_1_3">בָדָ֗ד</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_1_1_4">הָעִיר֙</span>
<span class="mila" data-lnk="223" data-exlnk="0" id="M_1_1_5">רַבָּ֣תִי</span>
<span class="mila" data-lnk="237" data-exlnk="0" id="M_1_1_6">עָ֔ם</span>
<span class="mila" data-lnk="75" data-exlnk="0" id="M_1_1_7">הָיְתָ֖ה</span>
<span class="mila" data-lnk="3221226603" data-exlnk="0" id="M_1_1_8">כְּאַלְמָנָ֑ה</span>
<span class="mila" data-lnk="202" data-exlnk="0" id="M_1_1_9">רַבָּ֣תִי</span>
<span class="mila" data-lnk="202" data-exlnk="0" id="M_1_1_10">בַגּוֹיִ֗ם</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_1_1_11">שָׂרָ֙תִי֙</span>
<span class="mila" data-lnk="3221226574" data-exlnk="0" id="M_1_1_12">בַּמְּדִינ֔וֹת</span>
<span class="mila" data-lnk="3221226570" data-exlnk="0" id="M_1_1_13">הָיְתָ֖ה</span>
<span class="mila" data-lnk="3221226586" data-exlnk="0" id="M_1_1_14">לָמַֽס</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="16">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="17">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_2" data-pasuk-now="18"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026533277" data-exlnk="0" id="M_1_2_1">בָּכ֨וֹ</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_2_2">תִבְכֶּ֜ה</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_2_3">בַּלַּ֗יְלָה</span>
<span class="mila" data-lnk="3221226509" data-exlnk="0" id="M_1_2_4">וְדִמְעָתָהּ֙</span>
<span class="mila" data-lnk="3221226541" data-exlnk="0" id="M_1_2_5">עַ֣ל</span>
<span class="mila" data-lnk="3221226509" data-exlnk="0" id="M_1_2_6">לֶחֱיָ֔הּ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_2_7">אֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="25">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_1_2_8">לָ֥הּ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_2_9">מְנַחֵ֖ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_2_10">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="29">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_1_2_11">אֹהֲבֶ֑יהָ</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_1_2_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="32">־</span><span class="mila" data-lnk="3221226541" data-exlnk="0" id="M_1_2_13">רֵעֶ֙יהָ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_2_14">בָּ֣גְדוּ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_2_15">בָ֔הּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_2_16">הָ֥יוּ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_2_17">לָ֖הּ</span>
<span class="mila" data-lnk="4026533164" data-exlnk="0" id="M_1_2_18">לְאֹיְבִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="40">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="41">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_3" data-pasuk-now="16"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221226733" data-exlnk="0" id="M_1_3_1">גָּלְתָ֨ה</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_1_3_2">יְהוּדָ֤ה</span>
<span class="mila" data-lnk="237" data-exlnk="0" id="M_1_3_3">מֵעֹ֙נִי֙</span>
<span class="mila" data-lnk="4026533324" data-exlnk="0" id="M_1_3_4">וּמֵרֹ֣ב</span>
<span class="mila" data-lnk="236" data-exlnk="0" id="M_1_3_5">עֲבֹדָ֔ה</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_3_6">הִ֚יא</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_3_7">יָשְׁבָ֣ה</span>
<span class="mila" data-lnk="205" data-exlnk="0" id="M_1_3_8">בַגּוֹיִ֔ם</span>
<span class="mila" data-lnk="237" data-exlnk="0" id="M_1_3_9">לֹ֥א</span>
<span class="mila" data-lnk="237" data-exlnk="0" id="M_1_3_10">מָצְאָ֖ה</span>
<span class="mila" data-lnk="237" data-exlnk="0" id="M_1_3_11">מָנ֑וֹחַ</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_1_3_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="54">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_1_3_13">רֹדְפֶ֥יהָ</span>
<span class="mila" data-lnk="3221226540" data-exlnk="0" id="M_1_3_14">הִשִּׂיג֖וּהָ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_3_15">בֵּ֥ין</span>
<span class="mila" data-lnk="3221226589" data-exlnk="0" id="M_1_3_16">הַמְּצָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="60">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="61">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_4" data-pasuk-now="16"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_4_1">דַּרְכֵ֨י</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_1_4_2">צִיּ֜וֹן</span>
<span class="mila" data-lnk="3221226506" data-exlnk="0" id="M_1_4_3">אֲבֵל֗וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_4_4">מִבְּלִי֙</span>
<span class="mila" data-lnk="153" data-exlnk="0" id="M_1_4_5">בָּאֵ֣י</span>
<span class="mila" data-lnk="219" data-exlnk="0" id="M_1_4_6">מוֹעֵ֔ד</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_4_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="69">־</span><span class="mila" data-lnk="173" data-exlnk="0" id="M_1_4_8">שְׁעָרֶ֙יהָ֙</span>
<span class="mila" data-lnk="3221226589" data-exlnk="0" id="M_1_4_9">שֽׁוֹמֵמִ֔ין</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_4_10">כֹּהֲנֶ֖יהָ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_4_11">נֶאֱנָחִ֑ים</span>
<span class="mila" data-lnk="3221226498" data-exlnk="0" id="M_1_4_12">בְּתוּלֹתֶ֥יהָ</span>
<span class="mila" data-lnk="3221226519" data-exlnk="0" id="M_1_4_13">נּוּג֖וֹת</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_1_4_14">וְהִ֥יא</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_1_4_15">מַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="78">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_1_4_16">לָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="81">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="82">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="805306716" data-exlnk="0" id="M_1_5_1">הָי֨וּ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_1_5_2">צָרֶ֤יהָ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_1_5_3">לְרֹאשׁ֙</span>
<span class="mila" data-lnk="4026533226" data-exlnk="0" id="M_1_5_4">אֹיְבֶ֣יהָ</span>
<span class="mila" data-lnk="805306879" data-exlnk="0" id="M_1_5_5">שָׁל֔וּ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_5_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="89">־</span><span class="mila" data-lnk="104" data-exlnk="0" id="M_1_5_7">יְהוָ֥ה</span>
<span class="mila" data-lnk="805306717" data-exlnk="0" id="M_1_5_8">הוֹגָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_9">עַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_10">רֹב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="94">־</span><span class="mila" data-lnk="805306720" data-exlnk="0" id="M_1_5_11">פְּשָׁעֶ֑יהָ</span>
<span class="mila" data-lnk="805306668" data-exlnk="0" id="M_1_5_12">עוֹלָלֶ֛יהָ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_5_13">הָלְכ֥וּ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_1_5_14">שְׁבִ֖י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_5_15">לִפְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="100">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_1_5_16">צָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="103">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="104">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_6" data-pasuk-now="17"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_6_1">וַיֵּצֵ֥א</span>
<span data-lnk="1879049484" data-exlnk="0" id="M_1_6_2" class="mila ktiv">מִן</span>
<span data-lnk="0" data-exlnk="0" id="M_1_6_3" class="mila ktiv">בַּת</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="108">־</span><span data-lnk="4026533644" data-exlnk="0" id="M_1_6_3_K" class="mila kri">מִבַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="110">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_1_6_4">צִיּ֖וֹן</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_1_6_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="113">־</span><span class="mila" data-lnk="4026533160" data-exlnk="0" id="M_1_6_6">הֲדָרָ֑הּ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_6_7">הָי֣וּ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_6_8">שָׂרֶ֗יהָ</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_1_6_9">כְּאַיָּלִים֙</span>
<span class="mila" data-lnk="4026533193" data-exlnk="0" id="M_1_6_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="119">־</span><span class="mila" data-lnk="4026533193" data-exlnk="0" id="M_1_6_11">מָצְא֣וּ</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_1_6_12">מִרְעֶ֔ה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_1_6_13">וַיֵּלְכ֥וּ</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_1_6_14">בְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="124">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_1_6_15">כֹ֖חַ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_6_16">לִפְנֵ֥י</span>
<span class="mila" data-lnk="4026533129" data-exlnk="0" id="M_1_6_17">רוֹדֵֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="129">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="130">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_7" data-pasuk-now="23"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_7_1">זָכְרָ֣ה</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_7_2">יְרוּשָׁלִַ֗ם</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_1_7_3">יְמֵ֤י</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_1_7_4">עָנְיָהּ֙</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_1_7_5">וּמְרוּדֶ֔יהָ</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_1_7_6">כֹּ֚ל</span>
<span class="mila" data-lnk="3221226541" data-exlnk="0" id="M_1_7_7">מַחֲמֻדֶ֔יהָ</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_1_7_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_1_7_9">הָי֖וּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_7_10">מִ֣ימֵי</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_7_11">קֶ֑דֶם</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_1_7_12">בִּנְפֹ֧ל</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_1_7_13">עַמָּ֣הּ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_1_7_14">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="145">־</span><span class="mila" data-lnk="96" data-exlnk="0" id="M_1_7_15">צָ֗ר</span>
<span class="mila" data-lnk="3489662208" data-exlnk="0" id="M_1_7_16">וְאֵ֤ין</span>
<span class="mila" data-lnk="4026533120" data-exlnk="0" id="M_1_7_17">עוֹזֵר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_18">לָ֔הּ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_7_19">רָא֣וּהָ</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_1_7_20">צָרִ֔ים</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_1_7_21">שָׂחֲק֖וּ</span>
<span class="mila" data-lnk="200" data-exlnk="0" id="M_1_7_22">עַ֥ל</span>
<span class="mila" data-lnk="3221226696" data-exlnk="0" id="M_1_7_23">מִשְׁבַּתֶּֽהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="156">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="157">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_8" data-pasuk-now="18"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_8_1">חֵ֤טְא</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_8_2">חָֽטְאָה֙</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_8_3">יְר֣וּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_8_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="162">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_1_8_5">כֵּ֖ן</span>
<span class="mila" data-lnk="3221226589" data-exlnk="0" id="M_1_8_6">לְנִידָ֣ה</span>
<span class="mila" data-lnk="4026533708" data-exlnk="0" id="M_1_8_7">הָיָ֑תָה</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_1_8_8">כָּֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="167">־</span><span class="mila" data-lnk="76" data-exlnk="0" id="M_1_8_9">מְכַבְּדֶ֤יהָ</span>
<span class="mila" data-lnk="3221226588" data-exlnk="0" id="M_1_8_10">הִזִּיל֙וּהָ֙</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_1_8_11">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="171">־</span><span class="mila" data-lnk="108" data-exlnk="0" id="M_1_8_12">רָא֣וּ</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_1_8_13">עֶרְוָתָ֔הּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_8_14">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="175">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_1_8_15">הִ֥יא</span>
<span class="mila" data-lnk="4026533225" data-exlnk="0" id="M_1_8_16">נֶאֶנְחָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_8_17">וַתָּ֥שָׁב</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_1_8_18">אָחֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="181">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="182">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_9" data-pasuk-now="17"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="205" data-exlnk="0" id="M_1_9_1">טֻמְאָתָ֣הּ</span>
<span class="mila" data-lnk="3221226733" data-exlnk="0" id="M_1_9_2">בְּשׁוּלֶ֗יהָ</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_1_9_3">לֹ֤א</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_1_9_4">זָֽכְרָה֙</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_1_9_5">אַחֲרִיתָ֔הּ</span>
<span class="mila" data-lnk="237" data-exlnk="0" id="M_1_9_6">וַתֵּ֣רֶד</span>
<span class="mila" data-lnk="3221226749" data-exlnk="0" id="M_1_9_7">פְּלָאִ֔ים</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_9_8">אֵ֥ין</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_9_9">מְנַחֵ֖ם</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_9_10">לָ֑הּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_9_11">רְאֵ֤ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_9_12">יְהוָה֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_9_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="196">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_1_9_14">עָנְיִ֔י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_9_15">כִּ֥י</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_9_16">הִגְדִּ֖יל</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_9_17">אוֹיֵֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="202">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="203">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_10" data-pasuk-now="17"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_10_1">יָדוֹ֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_10_2">פָּ֣רַשׂ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_10_3">צָ֔ר</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_10_4">עַ֖ל</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_1_10_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="209">־</span><span class="mila" data-lnk="4026533161" data-exlnk="0" id="M_1_10_6">מַחֲמַדֶּ֑יהָ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_1_10_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="212">־</span><span class="mila" data-lnk="124" data-exlnk="0" id="M_1_10_8">רָאֲתָ֤ה</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_1_10_9">גוֹיִם֙</span>
<span class="mila" data-lnk="108" data-exlnk="0" id="M_1_10_10">בָּ֣אוּ</span>
<span class="mila" data-lnk="3221226540" data-exlnk="0" id="M_1_10_11">מִקְדָּשָׁ֔הּ</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_1_10_12">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="805306701" data-exlnk="0" id="M_1_10_13">צִוִּ֔יתָה</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_10_14">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="220">־</span><span class="mila" data-lnk="141" data-exlnk="0" id="M_1_10_15">יָבֹ֥אוּ</span>
<span class="mila" data-lnk="4026533773" data-exlnk="0" id="M_1_10_16">בַקָּהָ֖ל</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_10_17">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="225">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="226">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_11" data-pasuk-now="16"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_1_11_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="228">־</span><span class="mila" data-lnk="45" data-exlnk="0" id="M_1_11_2">עַמָּ֤הּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_11_3">נֶאֱנָחִים֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_11_4">מְבַקְשִׁ֣ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_11_5">לֶ֔חֶם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_11_6">נָתְנ֧וּ</span>
<span data-lnk="0" data-exlnk="0" id="M_1_11_7" class="mila ktiv">מַחֲמַודֵּיהֶ֛ם</span>
<span data-lnk="3221226572" data-exlnk="0" id="M_1_11_7_K" class="mila kri">מַחֲמַדֵּיהֶ֛ם</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_11_8">בְּאֹ֖כֶל</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_1_11_9">לְהָשִׁ֣יב</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_1_11_10">נָ֑פֶשׁ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_11_11">רְאֵ֤ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_11_12">יְהוָה֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_11_13">וְֽהַבִּ֔יטָה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_11_14">כִּ֥י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_11_15">הָיִ֖יתִי</span>
<span class="mila" data-lnk="3221226716" data-exlnk="0" id="M_1_11_16">זוֹלֵלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="246">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="247">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_12" data-pasuk-now="20"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026533373" data-exlnk="0" id="M_1_12_1">ל֣וֹא</span>
<span class="mila" data-lnk="253" data-exlnk="0" id="M_1_12_2">אֲלֵיכֶם֘</span>
<span class="mila" data-lnk="157" data-exlnk="0" id="M_1_12_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="251">־</span><span class="mila" data-lnk="77" data-exlnk="0" id="M_1_12_4">עֹ֣בְרֵי</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_1_12_5">דֶרֶךְ֒</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_1_12_6">הַבִּ֣יטוּ</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_1_12_7">וּרְא֔וּ</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_1_12_8">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="257">־</span><span class="mila" data-lnk="100" data-exlnk="0" id="M_1_12_9">יֵ֤שׁ</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_1_12_10">מַכְאוֹב֙</span>
<span class="mila" data-lnk="4026533220" data-exlnk="0" id="M_1_12_11">כְּמַכְאֹבִ֔י</span>
<span class="mila" data-lnk="141" data-exlnk="0" id="M_1_12_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026533277" data-exlnk="0" id="M_1_12_13">עוֹלַ֖ל</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_12_14">לִ֑י</span>
<span class="mila" data-lnk="205" data-exlnk="0" id="M_1_12_15">אֲשֶׁר֙</span>
<span class="mila" data-lnk="4026533205" data-exlnk="0" id="M_1_12_16">הוֹגָ֣ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_12_17">יְהוָ֔ה</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_1_12_18">בְּי֖וֹם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_12_19">חֲר֥וֹן</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_12_20">אַפּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="271">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="272">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_13" data-pasuk-now="15"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_13_1">מִמָּר֛וֹם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_13_2">שָֽׁלַח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="275">־</span><span class="mila" data-lnk="252" data-exlnk="0" id="M_1_13_3">אֵ֥שׁ</span>
<span class="mila" data-lnk="4026533772" data-exlnk="0" id="M_1_13_4">בְּעַצְמֹתַ֖י</span>
<span class="mila" data-lnk="3221226717" data-exlnk="0" id="M_1_13_5">וַיִּרְדֶּ֑נָּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_13_6">פָּרַ֨שׂ</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_1_13_7">רֶ֤שֶׁת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_13_8">לְרַגְלַי֙</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_1_13_9">הֱשִׁיבַ֣נִי</span>
<span class="mila" data-lnk="100" data-exlnk="0" id="M_1_13_10">אָח֔וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_13_11">נְתָנַ֙נִי֙</span>
<span class="mila" data-lnk="4026533664" data-exlnk="0" id="M_1_13_12">שֹֽׁמֵמָ֔ה</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_13_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="287">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_1_13_14">הַיּ֖וֹם</span>
<span class="mila" data-lnk="4026533672" data-exlnk="0" id="M_1_13_15">דָּוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="291">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="292">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_14" data-pasuk-now="16"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="3221226717" data-exlnk="0" id="M_1_14_1">נִשְׂקַד֩</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_1_14_2">עֹ֨ל</span>
<span class="mila" data-lnk="29" data-exlnk="0" id="M_1_14_3">פְּשָׁעַ֜י</span>
<span class="mila" data-lnk="205" data-exlnk="0" id="M_1_14_4">בְּיָד֗וֹ</span>
<span class="mila" data-lnk="3221226717" data-exlnk="0" id="M_1_14_5">יִשְׂתָּ֥רְג֛וּ</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_1_14_6">עָל֥וּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_14_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="300">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_1_14_8">צַוָּארִ֖י</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_1_14_9">הִכְשִׁ֣יל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_14_10">כֹּחִ֑י</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_1_14_11">נְתָנַ֣נִי</span>
<span class="mila" data-lnk="4026533252" data-exlnk="0" id="M_1_14_12">אֲדנָ֔י</span>
<span class="mila" data-lnk="208" data-exlnk="0" id="M_1_14_13">בִּידֵ֖י</span>
<span class="mila" data-lnk="192" data-exlnk="0" id="M_1_14_14">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="308">־</span><span class="mila" data-lnk="192" data-exlnk="0" id="M_1_14_15">אוּכַ֥ל</span>
<span class="mila" data-lnk="208" data-exlnk="0" id="M_1_14_16">קֽוּם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="312">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="313">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_15" data-pasuk-now="16"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026533373" data-exlnk="0" id="M_1_15_1">סִלָּ֨ה</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_1_15_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="316">־</span><span class="mila" data-lnk="204" data-exlnk="0" id="M_1_15_3">אַבִּירַ֤י</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="318">׀</span>
<span class="mila" data-lnk="4026533144" data-exlnk="0" id="M_1_15_4">אֲדנָי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_5">בְּקִרְבִּ֔י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_15_6">קָרָ֥א</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_1_15_7">עָלַ֛י</span>
<span class="mila" data-lnk="201" data-exlnk="0" id="M_1_15_8">מוֹעֵ֖ד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_15_9">לִשְׁבֹּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_10">בַּחוּרָ֑י</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_1_15_11">גַּ֚ת</span>
<span class="mila" data-lnk="93" data-exlnk="0" id="M_1_15_12">דָּרַ֣ךְ</span>
<span class="mila" data-lnk="805306716" data-exlnk="0" id="M_1_15_13">אֲדנָ֔י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_15_14">לִבְתוּלַ֖ת</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_1_15_15">בַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="331">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_1_15_16">יְהוּדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="334">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="335">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_16" data-pasuk-now="20"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_1_16_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="337">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_1_16_2">אֵ֣לֶּה׀</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_16_3">אֲנִ֣י</span>
<span class="mila" data-lnk="3221226552" data-exlnk="0" id="M_1_16_4">בוֹכִיָּ֗ה</span>
<span class="mila" data-lnk="1879049513" data-exlnk="0" id="M_1_16_5">עֵינִ֤י</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="342">׀</span>
<span class="mila" data-lnk="3221226521" data-exlnk="0" id="M_1_16_6">עֵינִי֙</span>
<span class="mila" data-lnk="89" data-exlnk="0" id="M_1_16_7">יֹ֣רְדָה</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_1_16_8">מַּ֔יִם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_16_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="347">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_1_16_10">רָחַ֥ק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_16_11">מִמֶּ֛נִּי</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_16_12">מְנַחֵ֖ם</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_16_13">מֵשִׁ֣יב</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_16_14">נַפְשִׁ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_16_15">הָי֤וּ</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_16_16">בָנַי֙</span>
<span class="mila" data-lnk="3221226528" data-exlnk="0" id="M_1_16_17">שֽׁוֹמֵמִ֔ים</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_16_18">כִּ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_16_19">גָבַ֖ר</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_16_20">אוֹיֵֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="360">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="361">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_17" data-pasuk-now="15"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="204" data-exlnk="0" id="M_1_17_1">פֵּרְשָׂ֨ה</span>
<span class="mila" data-lnk="237" data-exlnk="0" id="M_1_17_2">צִיּ֜וֹן</span>
<span class="mila" data-lnk="4026533852" data-exlnk="0" id="M_1_17_3">בְּיָדֶ֗יהָ</span>
<span class="mila" data-lnk="193" data-exlnk="0" id="M_1_17_4">אֵ֤ין</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_1_17_5">מְנַחֵם֙</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_1_17_6">לָ֔הּ</span>
<span class="mila" data-lnk="169" data-exlnk="0" id="M_1_17_7">צִוָּ֧ה</span>
<span class="mila" data-lnk="201" data-exlnk="0" id="M_1_17_8">יְהוָ֛ה</span>
<span class="mila" data-lnk="169" data-exlnk="0" id="M_1_17_9">לְיַעֲקֹ֖ב</span>
<span class="mila" data-lnk="169" data-exlnk="0" id="M_1_17_10">סְבִיבָ֣יו</span>
<span class="mila" data-lnk="169" data-exlnk="0" id="M_1_17_11">צָרָ֑יו</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_17_12">הָיְתָ֧ה</span>
<span class="mila" data-lnk="104" data-exlnk="0" id="M_1_17_13">יְרוּשָׁלִַ֛ם</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_1_17_14">לְנִדָּ֖ה</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_1_17_15">בֵּינֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="378">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="379">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_18" data-pasuk-now="16"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_18_1">צַדִּ֥יק</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_18_2">ה֛וּא</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_18_3">יְהוָ֖ה</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_18_4">כִּ֣י</span>
<span class="mila" data-lnk="4026533132" data-exlnk="0" id="M_1_18_5">פִ֣יהוּ</span>
<span class="mila" data-lnk="4026533164" data-exlnk="0" id="M_1_18_6">מָרִ֑יתִי</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_18_7">שִׁמְעוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="387">־</span><span class="mila" data-lnk="48" data-exlnk="0" id="M_1_18_8">נָ֣א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_18_9">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="390">־</span><span data-lnk="0" data-exlnk="0" id="M_1_18_10" class="mila ktiv">ָעַמִּ֗ים</span>
<span data-lnk="4026533152" data-exlnk="0" id="M_1_18_10_K" class="mila kri">הָעַמִּ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_11">וּרְאוּ֙</span>
<span class="mila" data-lnk="805306656" data-exlnk="0" id="M_1_18_12">מַכְאֹבִ֔י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_18_13">בְּתוּלֹתַ֥י</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_18_14">וּבַחוּרַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_15">הָלְכ֥וּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_18_16">בַשֶּֽׁבִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="400">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="401">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_19" data-pasuk-now="15"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_1_19_1">קָרָ֤אתִי</span>
<span class="mila" data-lnk="3221226589" data-exlnk="0" id="M_1_19_2">לַֽמְאַהֲבַי֙</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_1_19_3">הֵ֣מָּה</span>
<span class="mila" data-lnk="3221226605" data-exlnk="0" id="M_1_19_4">רִמּ֔וּנִי</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_1_19_5">כֹּהֲנַ֥י</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_1_19_6">וּזְקֵנַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_19_7">בָּעִ֣יר</span>
<span class="mila" data-lnk="3221226496" data-exlnk="0" id="M_1_19_8">גָּוָ֑עוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_19_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="411">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_19_10">בִקְשׁ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_19_11">אֹ֙כֶל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_19_12">לָ֔מוֹ</span>
<span class="mila" data-lnk="4026533185" data-exlnk="0" id="M_1_19_13">וְיָשִׁ֖יבוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_19_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="417">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_19_15">נַפְשָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="420">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="421">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_20" data-pasuk-now="18"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_1">רְאֵ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_2">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="425">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_4">צַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="427">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_5">לִי֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_20_6">מֵעַ֣י</span>
<span class="mila" data-lnk="3221226717" data-exlnk="0" id="M_1_20_7">חֳמַרְמָ֔רוּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_1_20_8">נֶהְפַּ֤ךְ</span>
<span class="mila" data-lnk="65" data-exlnk="0" id="M_1_20_9">לִבִּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_20_10">בְּקִרְבִּ֔י</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_1_20_11">כִּ֥י</span>
<span class="mila" data-lnk="3221226569" data-exlnk="0" id="M_1_20_12">מָר֖וֹ</span>
<span class="mila" data-lnk="4026533188" data-exlnk="0" id="M_1_20_13">מָרִ֑יתִי</span>
<span class="mila" data-lnk="161" data-exlnk="0" id="M_1_20_14">מִח֥וּץ</span>
<span class="mila" data-lnk="805306752" data-exlnk="0" id="M_1_20_15">שִׁכְּלָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="439">־</span><span class="mila" data-lnk="161" data-exlnk="0" id="M_1_20_16">חֶ֖רֶב</span>
<span class="mila" data-lnk="105" data-exlnk="0" id="M_1_20_17">בַּבַּ֥יִת</span>
<span class="mila" data-lnk="805306729" data-exlnk="0" id="M_1_20_18">כַּמָּֽוֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="444">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="445">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_21" data-pasuk-now="20"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026533728" data-exlnk="0" id="M_1_21_1">שָׁמְע֞וּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_21_2">כִּ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_21_3">נֶאֱנָחָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_21_4">אָ֗נִי</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_21_5">אֵ֤ין</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_1_21_6">מְנַחֵם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_21_7">לִ֔י</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_21_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="454">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_1_21_9">אֹ֨יְבַ֜י</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_21_10">שָׁמְע֤וּ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_1_21_11">רָֽעָתִי֙</span>
<span class="mila" data-lnk="3221226572" data-exlnk="0" id="M_1_21_12">שָׂ֔שׂוּ</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_1_21_13">כִּ֥י</span>
<span class="mila" data-lnk="109" data-exlnk="0" id="M_1_21_14">אַתָּ֖ה</span>
<span class="mila" data-lnk="77" data-exlnk="0" id="M_1_21_15">עָשִׂ֑יתָ</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_1_21_16">הֵבֵ֥אתָ</span>
<span class="mila" data-lnk="189" data-exlnk="0" id="M_1_21_17">יוֹם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="464">־</span><span class="mila" data-lnk="61" data-exlnk="0" id="M_1_21_18">קָרָ֖אתָ</span>
<span class="mila" data-lnk="4026533249" data-exlnk="0" id="M_1_21_19">וְיִהְי֥וּ</span>
<span class="mila" data-lnk="3221226625" data-exlnk="0" id="M_1_21_20">כָמֹֽנִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="469">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="470">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_22" data-pasuk-now="17"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="805306637" data-exlnk="0" id="M_1_22_1">תָּבֹ֨א</span>
<span class="mila" data-lnk="45" data-exlnk="0" id="M_1_22_2">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="473">־</span><span class="mila" data-lnk="109" data-exlnk="0" id="M_1_22_3">רָעָתָ֤ם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_22_4">לְפָנֶ֙יךָ֙</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_1_22_5">וְעוֹלֵ֣ל</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_1_22_6">לָ֔מוֹ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_22_7">כַּאֲשֶׁ֥ר</span>
<span class="mila" data-lnk="805306632" data-exlnk="0" id="M_1_22_8">עוֹלַ֛לְתָּ</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_1_22_9">לִ֖י</span>
<span class="mila" data-lnk="3221226504" data-exlnk="0" id="M_1_22_10">עַ֣ל</span>
<span class="mila" data-lnk="1073742888" data-exlnk="0" id="M_1_22_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="483">־</span><span class="mila" data-lnk="3221226536" data-exlnk="0" id="M_1_22_12">פְּשָׁעָ֑י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_22_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="486">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_1_22_14">רַבּ֥וֹת</span>
<span class="mila" data-lnk="3221226504" data-exlnk="0" id="M_1_22_15">אַנְחֹתַ֖י</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_1_22_16">וְלִבִּ֥י</span>
<span class="mila" data-lnk="4026533160" data-exlnk="0" id="M_1_22_17">דַוָּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="492">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="493"> פ </span>
</span>
<br /></p>