<p id="PR_1" data-perek-now="215" data-perek-nops="18"><span class="perek-header">פרק א</span>
<br /><span id="PS_1_1" data-pasuk-now="6"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1073743063" data-exlnk="0" id="M_1_1_1">דִּבְרֵי֙</span>
<span class="mila" data-lnk="4026533335" data-exlnk="0" id="M_1_1_2">קֹהֶ֣לֶת</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_1_1_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4">־</span><span class="mila" data-lnk="85" data-exlnk="0" id="M_1_1_4">דָּוִ֔ד</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_1_5">מֶ֖לֶךְ</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_1_6">בִּירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="8">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_2" data-pasuk-now="8"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3489662423" data-exlnk="0" id="M_1_2_1">הֲבֵ֤ל</span>
<span class="mila" data-lnk="4026533335" data-exlnk="0" id="M_1_2_2">הֲבָלִים֙</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_2_3">אָמַ֣ר</span>
<span class="mila" data-lnk="805306775" data-exlnk="0" id="M_1_2_4">קֹהֶ֔לֶת</span>
<span class="mila" data-lnk="3221226711" data-exlnk="0" id="M_1_2_5">הֲבֵ֥ל</span>
<span class="mila" data-lnk="3221226711" data-exlnk="0" id="M_1_2_6">הֲבָלִ֖ים</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_1_2_7">הַכֹּ֥ל</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_2_8">הָֽבֶל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_3" data-pasuk-now="8"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_3_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="19">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_1_3_2">יִּתְר֖וֹן</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_1_3_3">לָאָדָ֑ם</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_1_3_4">בְּכָ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="23">־</span><span class="mila" data-lnk="214" data-exlnk="0" id="M_1_3_5">עֲמָל֔וֹ</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_1_3_6">שֶֽׁיַּעֲמֹ֖ל</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_3_7">תַּ֥חַת</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_3_8">הַשָּֽׁמֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="28">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_4" data-pasuk-now="7"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_4_1">דּ֤וֹר</span>
<span class="mila" data-lnk="4026533335" data-exlnk="0" id="M_1_4_2">הֹלֵךְ֙</span>
<span class="mila" data-lnk="805306839" data-exlnk="0" id="M_1_4_3">וְד֣וֹר</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_4_4">בָּ֔א</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_4_5">וְהָאָ֖רֶץ</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_4_6">לְעוֹלָ֥ם</span>
<span class="mila" data-lnk="3221226583" data-exlnk="0" id="M_1_4_7">עֹמָֽדֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="36">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_5" data-pasuk-now="10"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026533767" data-exlnk="0" id="M_1_5_1">וְזָרַ֥ח</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_5_2">הַשֶּׁ֖מֶשׁ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_5_3">וּבָ֣א</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_1_5_4">הַשָּׁ֑מֶשׁ</span>
<span class="mila" data-lnk="3221226503" data-exlnk="0" id="M_1_5_5">וְאֶ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="42">־</span><span class="mila" data-lnk="2147484676" data-exlnk="0" id="M_1_5_6">מְקוֹמ֔וֹ</span>
<span class="mila" data-lnk="38" data-exlnk="0" id="M_1_5_7">שׁוֹאֵ֛ף</span>
<span class="mila" data-lnk="3221226502" data-exlnk="0" id="M_1_5_8">זוֹרֵ֥חַֽ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_5_9">ה֖וּא</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_1_5_10">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="48">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_6_1">הוֹלֵךְ֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_1_6_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="51">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_1_6_3">דָּר֔וֹם</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_6_4">וְסוֹבֵ֖ב</span>
<span class="mila" data-lnk="1073742853" data-exlnk="0" id="M_1_6_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="55">־</span><span class="mila" data-lnk="3221226519" data-exlnk="0" id="M_1_6_6">צָפ֑וֹן</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_6_7">סוֹבֵ֤ב</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="58">׀</span>
<span class="mila" data-lnk="4026533783" data-exlnk="0" id="M_1_6_8">סֹבֵב֙</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_6_9">הוֹלֵ֣ךְ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_6_10">הָר֔וּחַ</span>
<span class="mila" data-lnk="3221226519" data-exlnk="0" id="M_1_6_11">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="63">־</span><span class="mila" data-lnk="3221226663" data-exlnk="0" id="M_1_6_12">סְבִיבֹתָ֖יו</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_6_13">שָׁ֥ב</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_6_14">הָרֽוּחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="67">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_7_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="69">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_1_7_2">הַנְּחָלִים֙</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_7_3">הֹלְכִ֣ים</span>
<span class="mila" data-lnk="1073742869" data-exlnk="0" id="M_1_7_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="73">־</span><span class="mila" data-lnk="2147484693" data-exlnk="0" id="M_1_7_5">הַיָּ֔ם</span>
<span class="mila" data-lnk="4026533138" data-exlnk="0" id="M_1_7_6">וְהַיָּ֖ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_1_7_7">אֵינֶ֣נּוּ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_7_8">מָלֵ֑א</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_7_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="79">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_1_7_10">מְק֗וֹם</span>
<span class="mila" data-lnk="3221226519" data-exlnk="0" id="M_1_7_11">שֶׁ֤הַנְּחָלִים֙</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_7_12">הֹֽלְכִ֔ים</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_7_13">שָׁ֛ם</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_7_14">הֵ֥ם</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_7_15">שָׁבִ֖ים</span>
<span class="mila" data-lnk="3221226518" data-exlnk="0" id="M_1_7_16">לָלָֽכֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="87">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_8_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="89">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_1_8_2">הַדְּבָרִ֣ים</span>
<span class="mila" data-lnk="3221226695" data-exlnk="0" id="M_1_8_3">יְגֵעִ֔ים</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_1_8_4">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="93">־</span><span class="mila" data-lnk="213" data-exlnk="0" id="M_1_8_5">יוּכַ֥ל</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_1_8_6">אִ֖ישׁ</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_1_8_7">לְדַבֵּ֑ר</span>
<span class="mila" data-lnk="147" data-exlnk="0" id="M_1_8_8">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="98">־</span><span class="mila" data-lnk="147" data-exlnk="0" id="M_1_8_9">תִשְׂבַּ֥ע</span>
<span class="mila" data-lnk="147" data-exlnk="0" id="M_1_8_10">עַ֙יִן֙</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_1_8_11">לִרְא֔וֹת</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_8_12">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="103">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_1_8_13">תִמָּלֵ֥א</span>
<span class="mila" data-lnk="4026533143" data-exlnk="0" id="M_1_8_14">אֹ֖זֶן</span>
<span class="mila" data-lnk="4026533782" data-exlnk="0" id="M_1_8_15">מִשְּׁמֹֽעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="107">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_9" data-pasuk-now="13"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_9_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="109">־</span><span class="mila" data-lnk="87" data-exlnk="0" id="M_1_9_2">שֶּֽׁהָיָה֙</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_9_3">ה֣וּא</span>
<span class="mila" data-lnk="4026533719" data-exlnk="0" id="M_1_9_4">שֶׁיִּֽהְיֶ֔ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_1_9_5">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="114">־</span><span class="mila" data-lnk="4026533142" data-exlnk="0" id="M_1_9_6">שֶּׁנַּֽעֲשָׂ֔ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_1_9_7">ה֖וּא</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_1_9_8">שֶׁיֵּעָשֶׂ֑ה</span>
<span class="mila" data-lnk="1879049686" data-exlnk="0" id="M_1_9_9">וְאֵ֥ין</span>
<span class="mila" data-lnk="4026533332" data-exlnk="0" id="M_1_9_10">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="120">־</span><span class="mila" data-lnk="214" data-exlnk="0" id="M_1_9_11">חָדָ֖שׁ</span>
<span class="mila" data-lnk="198" data-exlnk="0" id="M_1_9_12">תַּ֥חַת</span>
<span class="mila" data-lnk="199" data-exlnk="0" id="M_1_9_13">הַשָּֽׁמֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="124">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_10_1">יֵ֥שׁ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_10_2">דָּבָ֛ר</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_10_3">שֶׁיֹּאמַ֥ר</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_10_4">רְאֵה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="129">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_1_10_5">זֶ֖ה</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_10_6">חָדָ֣שׁ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_10_7">ה֑וּא</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_10_8">כְּבָר֙</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_10_9">הָיָ֣ה</span>
<span class="mila" data-lnk="4026533349" data-exlnk="0" id="M_1_10_10">לְעֹֽלָמִ֔ים</span>
<span class="mila" data-lnk="3489662292" data-exlnk="0" id="M_1_10_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="4026533332" data-exlnk="0" id="M_1_10_12">הָיָ֖ה</span>
<span class="mila" data-lnk="212" data-exlnk="0" id="M_1_10_13">מִלְּפָנֵֽנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="139">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_11_1">אֵ֥ין</span>
<span class="mila" data-lnk="4026533847" data-exlnk="0" id="M_1_11_2">זִכְר֖וֹן</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_11_3">לָרִאשֹׁנִ֑ים</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_11_4">וְגַ֨ם</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_11_5">לָאַחֲרֹנִ֜ים</span>
<span class="mila" data-lnk="4026533269" data-exlnk="0" id="M_1_11_6">שֶׁיִּהְי֗וּ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_11_7">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="147">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_1_11_8">יִהְיֶ֤ה</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_11_9">לָהֶם֙</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_11_10">זִכָּר֔וֹן</span>
<span class="mila" data-lnk="150" data-exlnk="0" id="M_1_11_11">עִ֥ם</span>
<span class="mila" data-lnk="3221226643" data-exlnk="0" id="M_1_11_12">שֶׁיִּהְי֖וּ</span>
<span class="mila" data-lnk="4026533267" data-exlnk="0" id="M_1_11_13">לָאַחֲרֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="155">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="156"> פ </span>
</span>
<br /><span id="PS_1_12" data-pasuk-now="7"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_12_1">אֲנִ֣י</span>
<span class="mila" data-lnk="4026533207" data-exlnk="0" id="M_1_12_2">קֹהֶ֗לֶת</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_12_3">הָיִ֥יתִי</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_12_4">מֶ֛לֶךְ</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_1_12_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="162">־</span><span class="mila" data-lnk="85" data-exlnk="0" id="M_1_12_6">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_1_12_7">בִּירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="165">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_13" data-pasuk-now="21"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_13_1">וְנָתַ֣תִּי</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_13_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="168">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_1_13_3">לִבִּ֗י</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_1_13_4">לִדְר֤וֹשׁ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_1_13_5">וְלָתוּר֙</span>
<span class="mila" data-lnk="805306647" data-exlnk="0" id="M_1_13_6">בַּחָכְמָ֔ה</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_1_13_7">עַ֛ל</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_1_13_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="175">־</span><span class="mila" data-lnk="212" data-exlnk="0" id="M_1_13_9">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_1_13_10">נַעֲשָׂ֖ה</span>
<span class="mila" data-lnk="1342178773" data-exlnk="0" id="M_1_13_11">תַּ֣חַת</span>
<span class="mila" data-lnk="4026533333" data-exlnk="0" id="M_1_13_12">הַשָּׁמָ֑יִם</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_13_13">ה֣וּא׀</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_1_13_14">עִנְיַ֣ן</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_13_15">רָ֗ע</span>
<span class="mila" data-lnk="805306839" data-exlnk="0" id="M_1_13_16">נָתַ֧ן</span>
<span class="mila" data-lnk="805306838" data-exlnk="0" id="M_1_13_17">אֱלֹהִ֛ים</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_13_18">לִבְנֵ֥י</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_13_19">הָאָדָ֖ם</span>
<span class="mila" data-lnk="231" data-exlnk="0" id="M_1_13_20">לַעֲנ֥וֹת</span>
<span class="mila" data-lnk="245" data-exlnk="0" id="M_1_13_21">בּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="189">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_1_14_1">רָאִ֙יתִי֙</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_1_14_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="192">־</span><span class="mila" data-lnk="84" data-exlnk="0" id="M_1_14_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="194">־</span><span class="mila" data-lnk="84" data-exlnk="0" id="M_1_14_4">הַֽמַּעֲשִׂ֔ים</span>
<span class="mila" data-lnk="3221226580" data-exlnk="0" id="M_1_14_5">שֶֽׁנַּעֲשׂ֖וּ</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_1_14_6">תַּ֣חַת</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_1_14_7">הַשָּׁ֑מֶשׁ</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_1_14_8">וְהִנֵּ֥ה</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_1_14_9">הַכֹּ֛ל</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_1_14_10">הֶ֖בֶל</span>
<span class="mila" data-lnk="231" data-exlnk="0" id="M_1_14_11">וּרְע֥וּת</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_1_14_12">רֽוּחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="204">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_15" data-pasuk-now="8"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221226711" data-exlnk="0" id="M_1_15_1">מְעֻוָּ֖ת</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_15_2">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="207">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_1_15_3">יוּכַ֣ל</span>
<span class="mila" data-lnk="3221226711" data-exlnk="0" id="M_1_15_4">לִתְקֹ֑ן</span>
<span class="mila" data-lnk="3221226551" data-exlnk="0" id="M_1_15_5">וְחֶסְר֖וֹן</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_1_15_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="212">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_1_15_7">יוּכַ֥ל</span>
<span class="mila" data-lnk="3221226677" data-exlnk="0" id="M_1_15_8">לְהִמָּנֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="215">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_16" data-pasuk-now="22"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026533143" data-exlnk="0" id="M_1_16_1">דִּבַּ֨רְתִּי</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_16_2">אֲנִ֤י</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_1_16_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="219">־</span><span class="mila" data-lnk="87" data-exlnk="0" id="M_1_16_4">לִבִּי֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_1_16_5">לֵאמֹ֔ר</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_16_6">אֲנִ֗י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_16_7">הִנֵּ֨ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_16_8">הִגְדַּ֤לְתִּי</span>
<span class="mila" data-lnk="4026533140" data-exlnk="0" id="M_1_16_9">וְהוֹסַ֙פְתִּי֙</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_1_16_10">חָכְמָ֔ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_1_16_11">עַ֛ל</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_1_16_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="229">־</span><span class="mila" data-lnk="268435732" data-exlnk="0" id="M_1_16_13">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="231">־</span><span class="mila" data-lnk="805306644" data-exlnk="0" id="M_1_16_14">הָיָ֥ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_1_16_15">לְפָנַ֖י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_1_16_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="235">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_1_16_17">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_1_16_18">וְלִבִּ֛י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_1_16_19">רָאָ֥ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_1_16_20">הַרְבֵּ֖ה</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_1_16_21">חָכְמָ֥ה</span>
<span class="mila" data-lnk="4026533140" data-exlnk="0" id="M_1_16_22">וָדָֽעַת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="242">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_17" data-pasuk-now="13"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="1073743045" data-exlnk="0" id="M_1_17_1">וָאֶתְּנָ֤ה</span>
<span class="mila" data-lnk="2147484885" data-exlnk="0" id="M_1_17_2">לִבִּי֙</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_17_3">לָדַ֣עַת</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_17_4">חָכְמָ֔ה</span>
<span class="mila" data-lnk="198" data-exlnk="0" id="M_1_17_5">וְדַ֥עַת</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_1_17_6">הוֹלֵלֹ֖ת</span>
<span class="mila" data-lnk="3221226743" data-exlnk="0" id="M_1_17_7">וְשִׂכְל֑וּת</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_1_17_8">יָדַ֕עְתִּי</span>
<span class="mila" data-lnk="805306837" data-exlnk="0" id="M_1_17_9">שֶׁגַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="252">־</span><span class="mila" data-lnk="196" data-exlnk="0" id="M_1_17_10">זֶ֥ה</span>
<span class="mila" data-lnk="196" data-exlnk="0" id="M_1_17_11">ה֖וּא</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_1_17_12">רַעְי֥וֹן</span>
<span class="mila" data-lnk="69" data-exlnk="0" id="M_1_17_13">רֽוּחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="257">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_18" data-pasuk-now="9"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="199" data-exlnk="0" id="M_1_18_1">כִּ֛י</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_18_2">בְּרֹ֥ב</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_1_18_3">חָכְמָ֖ה</span>
<span class="mila" data-lnk="4026533207" data-exlnk="0" id="M_1_18_4">רָב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="262">־</span><span class="mila" data-lnk="87" data-exlnk="0" id="M_1_18_5">כָּ֑עַס</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_1_18_6">וְיוֹסִ֥יף</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_1_18_7">דַּ֖עַת</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_1_18_8">יוֹסִ֥יף</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_1_18_9">מַכְאֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="268">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>