<p id="PR_6" data-perek-now="170" data-perek-nops="12"><span class="perek-header">פרק ו</span>
<br /><span id="PS_6_1" data-pasuk-now="10"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026533652" data-exlnk="0" id="M_6_1_1">יֵ֣שׁ</span>
<span class="mila" data-lnk="4026533654" data-exlnk="0" id="M_6_1_2">רָעָ֔ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_1_3">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_1_4">רָאִ֖יתִי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_1_5">תַּ֣חַת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_1_6">הַשָּׁ֑מֶשׁ</span>
<span class="mila" data-lnk="4026533651" data-exlnk="0" id="M_6_1_7">וְרַבָּ֥ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_1_8">הִ֖יא</span>
<span class="mila" data-lnk="3489661777" data-exlnk="0" id="M_6_1_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1684">־</span><span class="mila" data-lnk="4026532625" data-exlnk="0" id="M_6_1_10">הָאָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1686">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_2" data-pasuk-now="28"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_6_2_1">אִ֣ישׁ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_6_2_2">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_6_2_3">יִתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1690">־</span><span class="mila" data-lnk="86" data-exlnk="0" id="M_6_2_4">ל֣וֹ</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_6_2_5">הָאֱלֹהִ֡ים</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_6_2_6">עֹשֶׁר֩</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_6_2_7">וּנְכָסִ֨ים</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_6_2_8">וְכָב֜וֹד</span>
<span class="mila" data-lnk="4026533136" data-exlnk="0" id="M_6_2_9">וְֽאֵינֶ֨נּוּ</span>
<span class="mila" data-lnk="4026533136" data-exlnk="0" id="M_6_2_10">חָסֵ֥ר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_11">לְנַפְשׁ֣וֹ׀</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_12">מִכֹּ֣ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_13">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1701">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_14">יִתְאַוֶּ֗ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_2_15">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1704">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_6_2_16">יַשְׁלִיטֶ֤נּוּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_17">הָֽאֱלֹהִים֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_2_18">לֶאֱכֹ֣ל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_19">מִמֶּ֔נּוּ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_6_2_20">כִּ֛י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_2_21">אִ֥ישׁ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_2_22">נָכְרִ֖י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_2_23">יֹאכֲלֶ֑נּוּ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_6_2_24">זֶ֛ה</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_6_2_25">הֶ֛בֶל</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_26">וָחֳלִ֥י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_27">רָ֖ע</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_6_2_28">הֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1718">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_3" data-pasuk-now="25"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_6_3_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1720">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_6_3_2">יוֹלִ֣יד</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_3_3">אִ֣ישׁ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_3_4">מֵאָ֡ה</span>
<span class="mila" data-lnk="4026533331" data-exlnk="0" id="M_6_3_5">וְשָׁנִים֩</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_6_3_6">רַבּ֨וֹת</span>
<span class="mila" data-lnk="805306771" data-exlnk="0" id="M_6_3_7">יִֽחְיֶ֜ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_6_3_8">וְרַ֣ב׀</span>
<span class="mila" data-lnk="805306643" data-exlnk="0" id="M_6_3_9">שֶׁיִּהְי֣וּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_6_3_10">יְמֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1730">־</span><span class="mila" data-lnk="4026533139" data-exlnk="0" id="M_6_3_11">שָׁנָ֗יו</span>
<span class="mila" data-lnk="805306770" data-exlnk="0" id="M_6_3_12">וְנַפְשׁוֹ֙</span>
<span class="mila" data-lnk="209" data-exlnk="0" id="M_6_3_13">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1734">־</span><span class="mila" data-lnk="144" data-exlnk="0" id="M_6_3_14">תִשְׂבַּ֣ע</span>
<span class="mila" data-lnk="146" data-exlnk="0" id="M_6_3_15">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1737">־</span><span class="mila" data-lnk="147" data-exlnk="0" id="M_6_3_16">הַטּוֹבָ֔ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_6_3_17">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1740">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_6_3_18">קְבוּרָ֖ה</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_6_3_19">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1743">־</span><span class="mila" data-lnk="149" data-exlnk="0" id="M_6_3_20">הָ֣יְתָה</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_6_3_21">לּ֑וֹ</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_6_3_22">אָמַ֕רְתִּי</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_6_3_23">ט֥וֹב</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_6_3_24">מִמֶּ֖נּוּ</span>
<span class="mila" data-lnk="3221226583" data-exlnk="0" id="M_6_3_25">הַנָּֽפֶל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1750">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_6_4_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1752">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_6_4_2">בַהֶ֥בֶל</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_4_3">בָּ֖א</span>
<span class="mila" data-lnk="4026533142" data-exlnk="0" id="M_6_4_4">וּבַחֹ֣שֶׁךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_6_4_5">יֵלֵ֑ךְ</span>
<span class="mila" data-lnk="3221226516" data-exlnk="0" id="M_6_4_6">וּבַחֹ֖שֶׁךְ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_6_4_7">שְׁמ֥וֹ</span>
<span class="mila" data-lnk="3221226516" data-exlnk="0" id="M_6_4_8">יְכֻסֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1760">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_6_5_1">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1762">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_6_5_2">שֶׁ֥מֶשׁ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_6_5_3">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1765">־</span><span class="mila" data-lnk="22" data-exlnk="0" id="M_6_5_4">רָאָ֖ה</span>
<span class="mila" data-lnk="805306646" data-exlnk="0" id="M_6_5_5">וְלֹ֣א</span>
<span class="mila" data-lnk="805306646" data-exlnk="0" id="M_6_5_6">יָדָ֑ע</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_5_7">נַ֥חַת</span>
<span class="mila" data-lnk="4026533764" data-exlnk="0" id="M_6_5_8">לָזֶ֖ה</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_6_5_9">מִזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1772">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_6" data-pasuk-now="14"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026533767" data-exlnk="0" id="M_6_6_1">וְאִלּ֣וּ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_6_2">חָיָ֗ה</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_6_3">אֶ֤לֶף</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_6_4">שָׁנִים֙</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_6_5">פַּעֲמַ֔יִם</span>
<span class="mila" data-lnk="4026533271" data-exlnk="0" id="M_6_6_6">וְטוֹבָ֖ה</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_6_7">לֹ֣א</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_6_8">רָאָ֑ה</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_6_6_9">הֲלֹ֛א</span>
<span class="mila" data-lnk="4026533270" data-exlnk="0" id="M_6_6_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1783">־</span><span class="mila" data-lnk="1342178694" data-exlnk="0" id="M_6_6_11">מָק֥וֹם</span>
<span class="mila" data-lnk="3758097798" data-exlnk="0" id="M_6_6_12">אֶחָ֖ד</span>
<span class="mila" data-lnk="134" data-exlnk="0" id="M_6_6_13">הַכֹּ֥ל</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_6_6_14">הוֹלֵֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1788">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_6_7_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1790">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_6_7_2">עֲמַ֥ל</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_6_7_3">הָאָדָ֖ם</span>
<span class="mila" data-lnk="805306839" data-exlnk="0" id="M_6_7_4">לְפִ֑יהוּ</span>
<span class="mila" data-lnk="199" data-exlnk="0" id="M_6_7_5">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1795">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_6_7_6">הַנֶּ֖פֶשׁ</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_6_7_7">לֹ֥א</span>
<span class="mila" data-lnk="199" data-exlnk="0" id="M_6_7_8">תִמָּלֵֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1799">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_6_8_1">כִּ֛י</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_6_8_2">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1802">־</span><span class="mila" data-lnk="4026533207" data-exlnk="0" id="M_6_8_3">יּוֹתֵ֥ר</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_6_8_4">לֶחָכָ֖ם</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_6_8_5">מִֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1806">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_6_8_6">הַכְּסִ֑יל</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_6_8_7">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1809">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_6_8_8">לֶּעָנִ֣י</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_6_8_9">יוֹדֵ֔עַ</span>
<span class="mila" data-lnk="805306645" data-exlnk="0" id="M_6_8_10">לַהֲלֹ֖ךְ</span>
<span class="mila" data-lnk="212" data-exlnk="0" id="M_6_8_11">נֶ֥גֶד</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_6_8_12">הַחַיִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1815">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026533335" data-exlnk="0" id="M_6_9_1">ט֛וֹב</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_6_9_2">מַרְאֵ֥ה</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_9_3">עֵינַ֖יִם</span>
<span class="mila" data-lnk="3221226517" data-exlnk="0" id="M_6_9_4">מֵֽהֲלָךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1820">־</span><span class="mila" data-lnk="21" data-exlnk="0" id="M_6_9_5">נָ֑פֶשׁ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_9_6">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1823">־</span><span class="mila" data-lnk="268435863" data-exlnk="0" id="M_6_9_7">זֶ֥ה</span>
<span class="mila" data-lnk="268435927" data-exlnk="0" id="M_6_9_8">הֶ֖בֶל</span>
<span class="mila" data-lnk="268435908" data-exlnk="0" id="M_6_9_9">וּרְע֥וּת</span>
<span class="mila" data-lnk="805306820" data-exlnk="0" id="M_6_9_10">רֽוּחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1828">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_10" data-pasuk-now="15"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221226711" data-exlnk="0" id="M_6_10_1">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1830">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_6_10_2">שֶּׁהָיָ֗ה</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_6_10_3">כְּבָר֙</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_6_10_4">נִקְרָ֣א</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_6_10_5">שְׁמ֔וֹ</span>
<span class="mila" data-lnk="4026533271" data-exlnk="0" id="M_6_10_6">וְנוֹדָ֖ע</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_10_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1837">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_6_10_8">ה֣וּא</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_10_9">אָדָ֑ם</span>
<span class="mila" data-lnk="4026533783" data-exlnk="0" id="M_6_10_10">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1841">־</span><span class="mila" data-lnk="4026533783" data-exlnk="0" id="M_6_10_11">יוּכַ֣ל</span>
<span class="mila" data-lnk="4026533271" data-exlnk="0" id="M_6_10_12">לָדִ֔ין</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_10_13">עִ֥ם</span>
<span data-lnk="0" data-exlnk="0" id="M_6_10_14" class="mila ktiv">שֶׁהתַּקִּ֖יף</span>
<span data-lnk="3221226647" data-exlnk="0" id="M_6_10_14_K" class="mila kri">שֶׁתַּקִּ֖יף</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_10_15">מִמֶּֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1848">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_11" data-pasuk-now="9"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_6_11_1">כִּ֛י</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_6_11_2">יֵשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1851">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_6_11_3">דְּבָרִ֥ים</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_6_11_4">הַרְבֵּ֖ה</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_11_5">מַרְבִּ֣ים</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_6_11_6">הָ֑בֶל</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_6_11_7">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1857">־</span><span class="mila" data-lnk="129" data-exlnk="0" id="M_6_11_8">יֹּתֵ֖ר</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_6_11_9">לָאָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1860">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_6_12" data-pasuk-now="22"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_1">כִּ֣י</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_2">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1863">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_3">יוֹדֵעַ֩</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_4">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1866">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_5">טּ֨וֹב</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_6">לָאָדָ֜ם</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_6_12_7">בַּחַיִּ֗ים</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_6_12_8">מִסְפַּ֛ר</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_9">יְמֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1872">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_10">חַיֵּ֥י</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_6_12_11">הֶבְל֖וֹ</span>
<span class="mila" data-lnk="133" data-exlnk="0" id="M_6_12_12">וְיַעֲשֵׂ֣ם</span>
<span class="mila" data-lnk="4026533783" data-exlnk="0" id="M_6_12_13">כַּצֵּ֑ל</span>
<span class="mila" data-lnk="130" data-exlnk="0" id="M_6_12_14">אֲשֶׁר֙</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_6_12_15">מִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1879">־</span><span class="mila" data-lnk="135" data-exlnk="0" id="M_6_12_16">יַגִּ֣יד</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_6_12_17">לָאָדָ֔ם</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_6_12_18">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="1883">־</span><span class="mila" data-lnk="150" data-exlnk="0" id="M_6_12_19">יִּהְיֶ֥ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_6_12_20">אַחֲרָ֖יו</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_12_21">תַּ֥חַת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_6_12_22">הַשָּֽׁמֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="1888">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>