<p id="PR_11" data-perek-now="143" data-perek-nops="10"><span class="perek-header">פרק יא</span>
<br /><span id="PS_11_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_1_1">שַׁלַּ֥ח</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_1_2">לַחְמְךָ֖</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_1_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3247">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_11_1_4">פְּנֵ֣י</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_1_5">הַמָּ֑יִם</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_11_1_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3251">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_11_1_7">בְרֹ֥ב</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_11_1_8">הַיָּמִ֖ים</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_11_1_9">תִּמְצָאֶֽנּוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3255">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_2" data-pasuk-now="13"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_11_2_1">תֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3257">־</span><span class="mila" data-lnk="247" data-exlnk="0" id="M_11_2_2">חֵ֥לֶק</span>
<span class="mila" data-lnk="231" data-exlnk="0" id="M_11_2_3">לְשִׁבְעָ֖ה</span>
<span class="mila" data-lnk="229" data-exlnk="0" id="M_11_2_4">וְגַ֣ם</span>
<span class="mila" data-lnk="4026533351" data-exlnk="0" id="M_11_2_5">לִשְׁמוֹנָ֑ה</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_11_2_6">כִּ֚י</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_11_2_7">לֹ֣א</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_11_2_8">תֵדַ֔ע</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_11_2_9">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3266">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_11_2_10">יִּהְיֶ֥ה</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_2_11">רָעָ֖ה</span>
<span class="mila" data-lnk="150" data-exlnk="0" id="M_11_2_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3270">־</span><span class="mila" data-lnk="150" data-exlnk="0" id="M_11_2_13">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3272">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_3" data-pasuk-now="18"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_3_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3274">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_11_3_2">יִמָּלְא֨וּ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_11_3_3">הֶעָבִ֥ים</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_11_3_4">גֶּ֙שֶׁם֙</span>
<span class="mila" data-lnk="149" data-exlnk="0" id="M_11_3_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3279">־</span><span class="mila" data-lnk="149" data-exlnk="0" id="M_11_3_6">הָאָ֣רֶץ</span>
<span class="mila" data-lnk="805306775" data-exlnk="0" id="M_11_3_7">יָרִ֔יקוּ</span>
<span class="mila" data-lnk="147" data-exlnk="0" id="M_11_3_8">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3283">־</span><span class="mila" data-lnk="4026533271" data-exlnk="0" id="M_11_3_9">יִפּ֥וֹל</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_11_3_10">עֵ֛ץ</span>
<span class="mila" data-lnk="150" data-exlnk="0" id="M_11_3_11">בַּדָּר֖וֹם</span>
<span class="mila" data-lnk="1073742864" data-exlnk="0" id="M_11_3_12">וְאִ֣ם</span>
<span class="mila" data-lnk="2147484694" data-exlnk="0" id="M_11_3_13">בַּצָּפ֑וֹן</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_11_3_14">מְק֛וֹם</span>
<span class="mila" data-lnk="4026533142" data-exlnk="0" id="M_11_3_15">שֶׁיִּפּ֥וֹל</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_11_3_16">הָעֵ֖ץ</span>
<span class="mila" data-lnk="183" data-exlnk="0" id="M_11_3_17">שָׁ֥ם</span>
<span class="mila" data-lnk="166" data-exlnk="0" id="M_11_3_18">יְהֽוּא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3294">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_4" data-pasuk-now="8"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="199" data-exlnk="0" id="M_11_4_1">שֹׁמֵ֥ר</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_4_2">ר֖וּחַ</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_11_4_3">לֹ֣א</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_11_4_4">יִזְרָ֑ע</span>
<span class="mila" data-lnk="135" data-exlnk="0" id="M_11_4_5">וְרֹאֶ֥ה</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_11_4_6">בֶעָבִ֖ים</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_4_7">לֹ֥א</span>
<span class="mila" data-lnk="4026533271" data-exlnk="0" id="M_11_4_8">יִקְצֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3303">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_5" data-pasuk-now="19"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_5_1">כַּאֲשֶׁ֨ר</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_5_2">אֵינְךָ֤</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_5_3">יוֹדֵעַ֙</span>
<span class="mila" data-lnk="84" data-exlnk="0" id="M_11_5_4">מַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3308">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_11_5_5">דֶּ֣רֶךְ</span>
<span class="mila" data-lnk="151" data-exlnk="0" id="M_11_5_6">הָר֔וּחַ</span>
<span class="mila" data-lnk="3221226647" data-exlnk="0" id="M_11_5_7">כַּעֲצָמִ֖ים</span>
<span class="mila" data-lnk="4026533303" data-exlnk="0" id="M_11_5_8">בְּבֶ֣טֶן</span>
<span class="mila" data-lnk="4026533173" data-exlnk="0" id="M_11_5_9">הַמְּלֵאָ֑ה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_11_5_10">כָּ֗כָה</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_5_11">לֹ֤א</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_11_5_12">תֵדַע֙</span>
<span class="mila" data-lnk="86" data-exlnk="0" id="M_11_5_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3318">־</span><span class="mila" data-lnk="148" data-exlnk="0" id="M_11_5_14">מַעֲשֵׂ֣ה</span>
<span class="mila" data-lnk="148" data-exlnk="0" id="M_11_5_15">הָאֱלֹהִ֔ים</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_11_5_16">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_11_5_17">יַעֲשֶׂ֖ה</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_11_5_18">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3324">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_11_5_19">הַכֹּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3326">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_6" data-pasuk-now="21"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_6_1">בַּבֹּ֙קֶר֙</span>
<span class="mila" data-lnk="199" data-exlnk="0" id="M_11_6_2">זְרַ֣ע</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_11_6_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3330">־</span><span class="mila" data-lnk="199" data-exlnk="0" id="M_11_6_4">זַרְעֶ֔ךָ</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_11_6_5">וְלָעֶ֖רֶב</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_11_6_6">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3334">־</span><span class="mila" data-lnk="4026533138" data-exlnk="0" id="M_11_6_7">תַּנַּ֣ח</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_11_6_8">יָדֶ֑ךָ</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_11_6_9">כִּי֩</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_11_6_10">אֵינְךָ֨</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_11_6_11">יוֹדֵ֜עַ</span>
<span class="mila" data-lnk="805306707" data-exlnk="0" id="M_11_6_12">אֵ֣י</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_11_6_13">זֶ֤ה</span>
<span class="mila" data-lnk="3221226577" data-exlnk="0" id="M_11_6_14">יִכְשָׁר֙</span>
<span class="mila" data-lnk="4026533200" data-exlnk="0" id="M_11_6_15">הֲזֶ֣ה</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_11_6_16">אוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3345">־</span><span class="mila" data-lnk="82" data-exlnk="0" id="M_11_6_17">זֶ֔ה</span>
<span class="mila" data-lnk="1073742850" data-exlnk="0" id="M_11_6_18">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3348">־</span><span class="mila" data-lnk="3221226514" data-exlnk="0" id="M_11_6_19">שְׁנֵיהֶ֥ם</span>
<span class="mila" data-lnk="4026533138" data-exlnk="0" id="M_11_6_20">כְּאֶחָ֖ד</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_11_6_21">טוֹבִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3352">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_7" data-pasuk-now="7"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805306855" data-exlnk="0" id="M_11_7_1">וּמָת֖וֹק</span>
<span class="mila" data-lnk="167" data-exlnk="0" id="M_11_7_2">הָא֑וֹר</span>
<span class="mila" data-lnk="4026533143" data-exlnk="0" id="M_11_7_3">וְט֥וֹב</span>
<span class="mila" data-lnk="4026533143" data-exlnk="0" id="M_11_7_4">לַעֵינַ֖יִם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_11_7_5">לִרְא֥וֹת</span>
<span class="mila" data-lnk="198" data-exlnk="0" id="M_11_7_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3359">־</span><span class="mila" data-lnk="151" data-exlnk="0" id="M_11_7_7">הַשָּֽׁמֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3361">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_8" data-pasuk-now="18"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="212" data-exlnk="0" id="M_11_8_1">כִּ֣י</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_11_8_2">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3364">־</span><span class="mila" data-lnk="214" data-exlnk="0" id="M_11_8_3">שָׁנִ֥ים</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_11_8_4">הַרְבֵּ֛ה</span>
<span class="mila" data-lnk="4026533334" data-exlnk="0" id="M_11_8_5">יִחְיֶ֥ה</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_11_8_6">הָאָדָ֖ם</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_8_7">בְּכֻלָּ֣ם</span>
<span class="mila" data-lnk="85" data-exlnk="0" id="M_11_8_8">יִשְׂמָ֑ח</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_11_8_9">וְיִזְכֹּר֙</span>
<span class="mila" data-lnk="214" data-exlnk="0" id="M_11_8_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3373">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_11_8_11">יְמֵ֣י</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_8_12">הַחֹ֔שֶׁךְ</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_8_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3377">־</span><span class="mila" data-lnk="215" data-exlnk="0" id="M_11_8_14">הַרְבֵּ֥ה</span>
<span class="mila" data-lnk="87" data-exlnk="0" id="M_11_8_15">יִהְי֖וּ</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_11_8_16">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3381">־</span><span class="mila" data-lnk="3221226705" data-exlnk="0" id="M_11_8_17">שֶׁבָּ֥א</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_11_8_18">הָֽבֶל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3384">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_9" data-pasuk-now="20"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026533335" data-exlnk="0" id="M_11_9_1">שְׂמַ֧ח</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_9_2">בָּח֣וּר</span>
<span class="mila" data-lnk="3221226743" data-exlnk="0" id="M_11_9_3">בְּיַלְדוּתֶ֗יךָ</span>
<span class="mila" data-lnk="3221226512" data-exlnk="0" id="M_11_9_4">וִיטִֽיבְךָ֤</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_11_9_5">לִבְּךָ֙</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_11_9_6">בִּימֵ֣י</span>
<span class="mila" data-lnk="4026533234" data-exlnk="0" id="M_11_9_7">בְחוּרוֹתֶ֔יךָ</span>
<span class="mila" data-lnk="81" data-exlnk="0" id="M_11_9_8">וְהַלֵּךְ֙</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_11_9_9">בְּדַרְכֵ֣י</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_11_9_10">לִבְּךָ֔</span>
<span class="mila" data-lnk="3221226578" data-exlnk="0" id="M_11_9_11">וּבְמַרְאֵ֖י</span>
<span class="mila" data-lnk="82" data-exlnk="0" id="M_11_9_12">עֵינֶ֑יךָ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_11_9_13">וְדָ֕ע</span>
<span class="mila" data-lnk="805306707" data-exlnk="0" id="M_11_9_14">כִּ֧י</span>
<span class="mila" data-lnk="268435923" data-exlnk="0" id="M_11_9_15">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3400">־</span><span class="mila" data-lnk="268435795" data-exlnk="0" id="M_11_9_16">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3402">־</span><span class="mila" data-lnk="805306707" data-exlnk="0" id="M_11_9_17">אֵ֛לֶּה</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_11_9_18">יְבִיאֲךָ֥</span>
<span class="mila" data-lnk="192" data-exlnk="0" id="M_11_9_19">הָאֱלֹהִ֖ים</span>
<span class="mila" data-lnk="4026533843" data-exlnk="0" id="M_11_9_20">בַּמִּשְׁפָּֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3407">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_11_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="211" data-exlnk="0" id="M_11_10_1">וְהָסֵ֥ר</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_10_2">כַּ֙עַס֙</span>
<span class="mila" data-lnk="215" data-exlnk="0" id="M_11_10_3">מִלִּבֶּ֔ךָ</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_11_10_4">וְהַעֲבֵ֥ר</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_11_10_5">רָעָ֖ה</span>
<span class="mila" data-lnk="213" data-exlnk="0" id="M_11_10_6">מִבְּשָׂרֶ֑ךָ</span>
<span class="mila" data-lnk="212" data-exlnk="0" id="M_11_10_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3415">־</span><span class="mila" data-lnk="214" data-exlnk="0" id="M_11_10_8">הַיַּלְד֥וּת</span>
<span class="mila" data-lnk="3221226743" data-exlnk="0" id="M_11_10_9">וְהַֽשַּׁחֲר֖וּת</span>
<span class="mila" data-lnk="212" data-exlnk="0" id="M_11_10_10">הָֽבֶל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3419">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>