<p id="PR_9" data-perek-now="544" data-perek-nops="32"><span class="perek-header">פרק ט</span>
<br /><span id="PS_9_1" data-pasuk-now="30"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_1">וּבִשְׁנֵים֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_2">עָשָׂ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_3">חֹ֜דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_4">הוּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3010">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_5">חֹ֣דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_6">אֲדָ֗ר</span>
<span class="mila" data-lnk="268436480" data-exlnk="0" id="M_9_1_7">בִּשְׁלוֹשָׁ֨ה</span>
<span class="mila" data-lnk="268436480" data-exlnk="0" id="M_9_1_8">עָשָׂ֥ר</span>
<span class="mila" data-lnk="268436608" data-exlnk="0" id="M_9_1_9">יוֹם֙</span>
<span class="mila" data-lnk="536871936" data-exlnk="0" id="M_9_1_10">בּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_11">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_12">הִגִּ֧יעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_13">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3020">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_14">הַמֶּ֛לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_15">וְדָת֖וֹ</span>
<span class="mila" data-lnk="4026536962" data-exlnk="0" id="M_9_1_16">לְהֵעָשׂ֑וֹת</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_17">בַּיּ֗וֹם</span>
<span class="mila" data-lnk="224" data-exlnk="0" id="M_9_1_18">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="736" data-exlnk="0" id="M_9_1_19">שִׂבְּר֜וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_20">אֹיְבֵ֤י</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_21">הַיְּהוּדִים֙</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_22">לִשְׁל֣וֹט</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_23">בָּהֶ֔ם</span>
<span class="mila" data-lnk="3221229666" data-exlnk="0" id="M_9_1_24">וְנַהֲפ֣וֹךְ</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_9_1_25">ה֔וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_26">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_27">יִשְׁלְט֧וּ</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_28">הַיְּהוּדִ֛ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_29">הֵ֖מָּה</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_1_30">בְּשֹׂנְאֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3038">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_2" data-pasuk-now="21"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1073746016" data-exlnk="0" id="M_9_2_1">נִקְהֲל֨וּ</span>
<span class="mila" data-lnk="2147487840" data-exlnk="0" id="M_9_2_2">הַיְּהוּדִ֜ים</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_2_3">בְּעָרֵיהֶ֗ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_2_4">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3043">־</span><span class="mila" data-lnk="805307456" data-exlnk="0" id="M_9_2_5">מְדִינוֹת֙</span>
<span class="mila" data-lnk="268436480" data-exlnk="0" id="M_9_2_6">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="805307392" data-exlnk="0" id="M_9_2_7">אֲחַשְׁוֵר֔וֹשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_8">לִשְׁלֹ֣חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_9">יָ֔ד</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_2_10">בִּמְבַקְשֵׁ֖י</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_2_11">רָעָתָ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_2_12">וְאִישׁ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_2_13">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3053">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_2_14">עָמַ֣ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_2_15">לִפְנֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_16">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3057">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_17">נָפַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_18">פַּחְדָּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_19">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3061">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_20">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3063">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_21">הָעַמִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3065">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_3" data-pasuk-now="17"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="1879053384" data-exlnk="0" id="M_9_3_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3067">־</span><span class="mila" data-lnk="4026537032" data-exlnk="0" id="M_9_3_2">שָׂרֵ֨י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_3_3">הַמְּדִינ֜וֹת</span>
<span class="mila" data-lnk="4026539016" data-exlnk="0" id="M_9_3_4">וְהָאֲחַשְׁדַּרְפְּנִ֣ים</span>
<span class="mila" data-lnk="805307400" data-exlnk="0" id="M_9_3_5">וְהַפַּח֗וֹת</span>
<span class="mila" data-lnk="4026535443" data-exlnk="0" id="M_9_3_6">וְעֹשֵׂ֤י</span>
<span class="mila" data-lnk="531" data-exlnk="0" id="M_9_3_7">הַמְּלָאכָה֙</span>
<span class="mila" data-lnk="538" data-exlnk="0" id="M_9_3_8">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="530" data-exlnk="0" id="M_9_3_9">לַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="4026537032" data-exlnk="0" id="M_9_3_10">מְנַשְּׂאִ֖ים</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_9_3_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3078">־</span><span class="mila" data-lnk="72" data-exlnk="0" id="M_9_3_12">הַיְּהוּדִ֑ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_3_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3081">־</span><span class="mila" data-lnk="10" data-exlnk="0" id="M_9_3_14">נָפַ֥ל</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_9_3_15">פַּֽחַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3084">־</span><span class="mila" data-lnk="74" data-exlnk="0" id="M_9_3_16">מָרְדֳּכַ֖י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_3_17">עֲלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3087">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_4_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3089">־</span><span class="mila" data-lnk="66" data-exlnk="0" id="M_9_4_2">גָד֤וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_3">מָרְדֳּכַי֙</span>
<span class="mila" data-lnk="268436480" data-exlnk="0" id="M_9_4_4">בְּבֵ֣ית</span>
<span class="mila" data-lnk="805307392" data-exlnk="0" id="M_9_4_5">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="805307392" data-exlnk="0" id="M_9_4_6">וְשָׁמְע֖וֹ</span>
<span class="mila" data-lnk="4026537026" data-exlnk="0" id="M_9_4_7">הוֹלֵ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_8">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3097">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_9">הַמְּדִינ֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_10">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3100">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_11">הָאִ֥ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_12">מָרְדֳּכַ֖י</span>
<span class="mila" data-lnk="98" data-exlnk="0" id="M_9_4_13">הוֹלֵ֥ךְ</span>
<span class="mila" data-lnk="4026537058" data-exlnk="0" id="M_9_4_14">וְגָדֽוֹל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3105">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_5" data-pasuk-now="11"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_5_1">וַיַּכּ֤וּ</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_5_2">הַיְּהוּדִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_3">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3109">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_4">אֹ֣יְבֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_5">מַכַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3112">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_6">חֶ֥רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_7">וְהֶ֖רֶג</span>
<span class="mila" data-lnk="3221229632" data-exlnk="0" id="M_9_5_8">וְאַבְדָ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_9">וַיַּעֲשׂ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_10">בְשֹׂנְאֵיהֶ֖ם</span>
<span class="mila" data-lnk="805307392" data-exlnk="0" id="M_9_5_11">כִּרְצוֹנָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3119">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3221229632" data-exlnk="0" id="M_9_6_1">וּבְשׁוּשַׁ֣ן</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_6_2">הַבִּירָ֗ה</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_6_3">הָרְג֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_4">הַיְּהוּדִים֙</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_6_5">וְאַבֵּ֔ד</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_6_6">חֲמֵ֥שׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_6_7">מֵא֖וֹת</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_6_8">אִֽישׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3128">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_7_1">וְאֵ֧ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3130">׀</span>
<span class="mila" data-lnk="3221229632" data-exlnk="0" id="M_9_7_2">פַּרְשַׁנְדָּ֛תָא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_3">וְאֵ֥ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3133">׀</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_7_4">דַּֽלְפ֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_5">וְאֵ֥ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3136">׀</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_7_6">אַסְפָּֽתָא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3138">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_8" data-pasuk-now="6"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_1">וְאֵ֧ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3140">׀</span>
<span class="mila" data-lnk="3221229600" data-exlnk="0" id="M_9_8_2">פּוֹרָ֛תָא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_3">וְאֵ֥ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3143">׀</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_8_4">אֲדַלְיָ֖א</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_8_5">וְאֵ֥ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3146">׀</span>
<span class="mila" data-lnk="3221229664" data-exlnk="0" id="M_9_8_6">אֲרִידָֽתָא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3148">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_9" data-pasuk-now="8"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_1">וְאֵ֤ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3150">׀</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_9_2">פַּרְמַ֙שְׁתָּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_3">וְאֵ֣ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3153">׀</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_9_4">אֲרִיסַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_5">וְאֵ֥ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3156">׀</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_9_6">אֲרִדַ֖י</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_9_7">וְאֵ֥ת</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3159">׀</span>
<span class="mila" data-lnk="3221229632" data-exlnk="0" id="M_9_9_8">וַיְזָֽתָא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3161">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_10" data-pasuk-now="13"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_9_10_1">עֲ֠שֶׂרֶת</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_9_10_2">בְּנֵ֨י</span>
<span class="mila" data-lnk="73" data-exlnk="0" id="M_9_10_3">הָמָ֧ן</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_10_4">בֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3166">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_9_10_5">הַמְּדָ֛תָא</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_10_6">צֹרֵ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_10_7">הַיְּהוּדִ֖ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_10_8">הָרָ֑גוּ</span>
<span class="mila" data-lnk="557" data-exlnk="0" id="M_9_10_9">וּבַ֨בִּזָּ֔ה</span>
<span class="mila" data-lnk="557" data-exlnk="0" id="M_9_10_10">לֹ֥א</span>
<span class="mila" data-lnk="557" data-exlnk="0" id="M_9_10_11">שָׁלְח֖וּ</span>
<span class="mila" data-lnk="525" data-exlnk="0" id="M_9_10_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3175">־</span><span class="mila" data-lnk="525" data-exlnk="0" id="M_9_10_13">יָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3177">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_11" data-pasuk-now="9"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_9_11_1">בַּיּ֣וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_11_2">הַה֗וּא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_11_3">בָּ֣א</span>
<span class="mila" data-lnk="516" data-exlnk="0" id="M_9_11_4">מִסְפַּ֧ר</span>
<span class="mila" data-lnk="516" data-exlnk="0" id="M_9_11_5">הַהֲרוּגִ֛ים</span>
<span class="mila" data-lnk="516" data-exlnk="0" id="M_9_11_6">בְּשׁוּשַׁ֥ן</span>
<span class="mila" data-lnk="516" data-exlnk="0" id="M_9_11_7">הַבִּירָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_11_8">לִפְנֵ֥י</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_9_11_9">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3187">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_12" data-pasuk-now="29"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_9_12_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_12_2">הַמֶּ֜לֶךְ</span>
<span class="mila" data-lnk="1342182408" data-exlnk="0" id="M_9_12_3">לְאֶסְתֵּ֣ר</span>
<span class="mila" data-lnk="4026536972" data-exlnk="0" id="M_9_12_4">הַמַּלְכָּ֗ה</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_12_5">בְּשׁוּשַׁ֣ן</span>
<span class="mila" data-lnk="60" data-exlnk="0" id="M_9_12_6">הַבִּירָ֡ה</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_9_12_7">הָרְגוּ֩</span>
<span class="mila" data-lnk="56" data-exlnk="0" id="M_9_12_8">הַיְּהוּדִ֨ים</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_12_9">וְאַבֵּ֜ד</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_12_10">חֲמֵ֧שׁ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_12_11">מֵא֣וֹת</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_12_12">אִ֗ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_12_13">וְאֵת֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_12_14">עֲשֶׂ֣רֶת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_12_15">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3203">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_9_12_16">הָמָ֔ן</span>
<span class="mila" data-lnk="94" data-exlnk="0" id="M_9_12_17">בִּשְׁאָ֛ר</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_9_12_18">מְדִינ֥וֹת</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_12_19">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_9_12_20">מֶ֣ה</span>
<span class="mila" data-lnk="92" data-exlnk="0" id="M_9_12_21">עָשׂ֑וּ</span>
<span class="mila" data-lnk="1073745948" data-exlnk="0" id="M_9_12_22">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3211">־</span><span class="mila" data-lnk="3221229580" data-exlnk="0" id="M_9_12_23">שְּׁאֵֽלָתֵךְ֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_12_24">וְיִנָּ֣תֵֽן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_12_25">לָ֔ךְ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_12_26">וּמַה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3216">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_9_12_27">בַּקָּשָׁתֵ֥ךְ</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_12_28">ע֖וֹד</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_12_29">וְתֵעָֽשׂ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3220">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_13" data-pasuk-now="22"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="88" data-exlnk="0" id="M_9_13_1">וַתֹּ֤אמֶר</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_13_2">אֶסְתֵּר֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_13_3">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3224">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_9_13_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3226">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_9_13_5">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_13_6">ט֔וֹב</span>
<span class="mila" data-lnk="668" data-exlnk="0" id="M_9_13_7">יִנָּתֵ֣ן</span>
<span class="mila" data-lnk="670" data-exlnk="0" id="M_9_13_8">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3231">־</span><span class="mila" data-lnk="670" data-exlnk="0" id="M_9_13_9">מָחָ֗ר</span>
<span class="mila" data-lnk="220" data-exlnk="0" id="M_9_13_10">לַיְּהוּדִים֙</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_9_13_11">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="220" data-exlnk="0" id="M_9_13_12">בְּשׁוּשָׁ֔ן</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_9_13_13">לַעֲשׂ֖וֹת</span>
<span class="mila" data-lnk="26" data-exlnk="0" id="M_9_13_14">כְּדָ֣ת</span>
<span class="mila" data-lnk="30" data-exlnk="0" id="M_9_13_15">הַיּ֑וֹם</span>
<span class="mila" data-lnk="522" data-exlnk="0" id="M_9_13_16">וְאֵ֛ת</span>
<span class="mila" data-lnk="522" data-exlnk="0" id="M_9_13_17">עֲשֶׂ֥רֶת</span>
<span class="mila" data-lnk="522" data-exlnk="0" id="M_9_13_18">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3242">־</span><span class="mila" data-lnk="522" data-exlnk="0" id="M_9_13_19">הָמָ֖ן</span>
<span class="mila" data-lnk="586" data-exlnk="0" id="M_9_13_20">יִתְל֥וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_13_21">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3246">־</span><span class="mila" data-lnk="74" data-exlnk="0" id="M_9_13_22">הָעֵֽץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3248">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_14_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_14_2">הַמֶּ֙לֶךְ֙</span>
<span class="mila" data-lnk="4026536960" data-exlnk="0" id="M_9_14_3">לְהֵעָשׂ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_4">כֵּ֔ן</span>
<span class="mila" data-lnk="3221229569" data-exlnk="0" id="M_9_14_5">וַתִּנָּתֵ֥ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_14_6">דָּ֖ת</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_14_7">בְּשׁוּשָׁ֑ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_14_8">וְאֵ֛ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_14_9">עֲשֶׂ֥רֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_14_10">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3259">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_14_11">הָמָ֖ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_14_12">תָּלֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3262">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_15" data-pasuk-now="20"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="805307492" data-exlnk="0" id="M_9_15_1">וַיִּֽקָּהֲל֞וּ</span>
<span data-lnk="0" data-exlnk="0" id="M_9_15_2" class="mila ktiv">הַיְּהוּדִ֣יים</span>
<span data-lnk="4026536964" data-exlnk="0" id="M_9_15_2_K" class="mila kri">הַיְּהוּדִ֣ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3267">־</span><span class="mila" data-lnk="68" data-exlnk="0" id="M_9_15_4">בְּשׁוּשָׁ֗ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_5">גַּ֠ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_6">בְּי֣וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_7">אַרְבָּעָ֤ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_8">עָשָׂר֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_9">לְחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_10">אֲדָ֔ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_11">וַיַּהַרְג֣וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_12">בְשׁוּשָׁ֔ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_13">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_14">מֵא֖וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_15">אִ֑ישׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_15_16">וּבַ֨בִּזָּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_17">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_18">שָׁלְח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3284">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_20">יָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3286">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_16" data-pasuk-now="21"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="76" data-exlnk="0" id="M_9_16_1">וּשְׁאָ֣ר</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_16_2">הַיְּהוּדִ֡ים</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_9_16_3">אֲשֶׁר֩</span>
<span class="mila" data-lnk="3221229580" data-exlnk="0" id="M_9_16_4">בִּמְדִינ֨וֹת</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_16_5">הַמֶּ֜לֶךְ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_16_6">נִקְהֲל֣וּ׀</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_9_16_7">וְעָמֹ֣ד</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_9_16_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3295">־</span><span class="mila" data-lnk="40" data-exlnk="0" id="M_9_16_9">נַפְשָׁ֗ם</span>
<span class="mila" data-lnk="106" data-exlnk="0" id="M_9_16_10">וְנ֙וֹחַ֙</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_9_16_11">מֵאֹ֣יְבֵיהֶ֔ם</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_9_16_12">וְהָרוֹג֙</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_16_13">בְּשֹׂ֣נְאֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_14">חֲמִשָּׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_15">וְשִׁבְעִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_16">אָ֑לֶף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_16_17">וּבַ֨בִּזָּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_18">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_19">שָׁלְח֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_20">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3308">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_21">יָדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3310">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_17" data-pasuk-now="14"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="70" data-exlnk="0" id="M_9_17_1">בְּיוֹם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3312">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_9_17_2">שְׁלוֹשָׁ֥ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_17_3">עָשָׂ֖ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_17_4">לְחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_17_5">אֲדָ֑ר</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_9_17_6">וְנ֗וֹחַ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_17_7">בְּאַרְבָּעָ֤ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_17_8">עָשָׂר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_9">בּ֔וֹ</span>
<span class="mila" data-lnk="4026539008" data-exlnk="0" id="M_9_17_10">וְעָשֹׂ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_11">אֹת֔וֹ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_17_12">י֖וֹם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_17_13">מִשְׁתֶּ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_14">וְשִׂמְחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3326">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_18" data-pasuk-now="19"><span class="pasuk-header">[יח]</span>
<span data-lnk="0" data-exlnk="0" id="M_9_18_1" class="mila ktiv">וְהַיְּהוּדִ֣יים</span>
<span data-lnk="4026537038" data-exlnk="0" id="M_9_18_1_K" class="mila kri">וְהַיְּהוּדִ֣ים</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_9_18_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3330">־</span><span class="mila" data-lnk="78" data-exlnk="0" id="M_9_18_3">בְּשׁוּשָׁ֗ן</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_18_4">נִקְהֲלוּ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_18_5">בִּשְׁלוֹשָׁ֤ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_18_6">עָשָׂר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_18_7">בּ֔וֹ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_18_8">וּבְאַרְבָּעָ֥ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_18_9">עָשָׂ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_18_10">בּ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_11">וְנ֗וֹחַ</span>
<span class="mila" data-lnk="74" data-exlnk="0" id="M_9_18_12">בַּחֲמִשָּׁ֤ה</span>
<span class="mila" data-lnk="78" data-exlnk="0" id="M_9_18_13">עָשָׂר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_14">בּ֔וֹ</span>
<span class="mila" data-lnk="805307400" data-exlnk="0" id="M_9_18_15">וְעָשֹׂ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_16">אֹת֔וֹ</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_18_17">י֖וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_18_18">מִשְׁתֶּ֥ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_18_19">וְשִׂמְחָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3348">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_19" data-pasuk-now="22"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="204" data-exlnk="0" id="M_9_19_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3350">־</span><span class="mila" data-lnk="204" data-exlnk="0" id="M_9_19_2">כֵּ֞ן</span>
<span class="mila" data-lnk="204" data-exlnk="0" id="M_9_19_3">הַיְּהוּדִ֣ים</span>
<span data-lnk="0" data-exlnk="0" id="M_9_19_4" class="mila ktiv">הַפְּרָוזִ֗ים</span>
<span data-lnk="3221229805" data-exlnk="0" id="M_9_19_4_K" class="mila kri">הַפְּרָזִ֗ים</span>
<span class="mila" data-lnk="204" data-exlnk="0" id="M_9_19_5">הַיֹּשְׁבִים֘</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_9_19_6">בְּעָרֵ֣י</span>
<span class="mila" data-lnk="805307596" data-exlnk="0" id="M_9_19_7">הַפְּרָזוֹת֒</span>
<span class="mila" data-lnk="204" data-exlnk="0" id="M_9_19_8">עֹשִׂ֗ים</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_9_19_9">אֵ֠ת</span>
<span class="mila" data-lnk="200" data-exlnk="0" id="M_9_19_10">י֣וֹם</span>
<span class="mila" data-lnk="201" data-exlnk="0" id="M_9_19_11">אַרְבָּעָ֤ה</span>
<span class="mila" data-lnk="201" data-exlnk="0" id="M_9_19_12">עָשָׂר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_19_13">לְחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_19_14">אֲדָ֔ר</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_9_19_15">שִׂמְחָ֥ה</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_9_19_16">וּמִשְׁתֶּ֖ה</span>
<span class="mila" data-lnk="200" data-exlnk="0" id="M_9_19_17">וְי֣וֹם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_19_18">ט֑וֹב</span>
<span class="mila" data-lnk="4026537131" data-exlnk="0" id="M_9_19_19">וּמִשְׁלֹ֥חַ</span>
<span class="mila" data-lnk="164" data-exlnk="0" id="M_9_19_20">מָנ֖וֹת</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_9_19_21">אִ֥ישׁ</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_9_19_22">לְרֵעֵֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3374">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3375">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_20" data-pasuk-now="17"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_9_20_1">וַיִּכְתֹּ֣ב</span>
<span class="mila" data-lnk="125" data-exlnk="0" id="M_9_20_2">מָרְדֳּכַ֔י</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_20_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3379">־</span><span class="mila" data-lnk="28" data-exlnk="0" id="M_9_20_4">הַדְּבָרִ֖ים</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_20_5">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_20_6">וַיִּשְׁלַ֨ח</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_20_7">סְפָרִ֜ים</span>
<span class="mila" data-lnk="268436488" data-exlnk="0" id="M_9_20_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3385">־</span><span class="mila" data-lnk="805307400" data-exlnk="0" id="M_9_20_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3387">־</span><span class="mila" data-lnk="536871944" data-exlnk="0" id="M_9_20_10">הַיְּהוּדִ֗ים</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_20_11">אֲשֶׁר֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_20_12">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3391">־</span><span class="mila" data-lnk="268436488" data-exlnk="0" id="M_9_20_13">מְדִינוֹת֙</span>
<span class="mila" data-lnk="268436488" data-exlnk="0" id="M_9_20_14">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="805307400" data-exlnk="0" id="M_9_20_15">אֲחַשְׁוֵר֔וֹשׁ</span>
<span class="mila" data-lnk="4026536960" data-exlnk="0" id="M_9_20_16">הַקְּרוֹבִ֖ים</span>
<span class="mila" data-lnk="4026539008" data-exlnk="0" id="M_9_20_17">וְהָרְחוֹקִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3397">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_21" data-pasuk-now="18"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="116" data-exlnk="0" id="M_9_21_1">לְקַיֵּם֘</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_9_21_2">עֲלֵיהֶם֒</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_21_3">לִהְי֣וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_21_4">עֹשִׂ֗ים</span>
<span class="mila" data-lnk="512" data-exlnk="0" id="M_9_21_5">אֵ֠ת</span>
<span class="mila" data-lnk="580" data-exlnk="0" id="M_9_21_6">י֣וֹם</span>
<span class="mila" data-lnk="516" data-exlnk="0" id="M_9_21_7">אַרְבָּעָ֤ה</span>
<span class="mila" data-lnk="516" data-exlnk="0" id="M_9_21_8">עָשָׂר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_9">לְחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_10">אֲדָ֔ר</span>
<span class="mila" data-lnk="520" data-exlnk="0" id="M_9_21_11">וְאֵ֛ת</span>
<span class="mila" data-lnk="524" data-exlnk="0" id="M_9_21_12">יוֹם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3410">־</span><span class="mila" data-lnk="588" data-exlnk="0" id="M_9_21_13">חֲמִשָּׁ֥ה</span>
<span class="mila" data-lnk="588" data-exlnk="0" id="M_9_21_14">עָשָׂ֖ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_21_15">בּ֑וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_21_16">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3415">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_9_21_17">שָׁנָ֖ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_21_18">וְשָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3418">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_22" data-pasuk-now="26"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026539108" data-exlnk="0" id="M_9_22_1">כַּיָּמִ֗ים</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_9_22_2">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3421">־</span><span class="mila" data-lnk="36" data-exlnk="0" id="M_9_22_3">נָ֨חוּ</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_9_22_4">בָהֶ֤ם</span>
<span class="mila" data-lnk="36" data-exlnk="0" id="M_9_22_5">הַיְּהוּדִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_6">מֵאֹ֣יְבֵיהֶ֔ם</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_9_22_7">וְהַחֹ֗דֶשׁ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_22_8">אֲשֶׁר֩</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_22_9">נֶהְפַּ֨ךְ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_22_10">לָהֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_11">מִיָּגוֹן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_12">לְשִׂמְחָ֔ה</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_22_13">וּמֵאֵ֖בֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_14">לְי֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_15">ט֑וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_16">לַעֲשׂ֣וֹת</span>
<span class="mila" data-lnk="4026536960" data-exlnk="0" id="M_9_22_17">אוֹתָ֗ם</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_9_22_18">יְמֵי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_19">מִשְׁתֶּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_20">וְשִׂמְחָ֔ה</span>
<span class="mila" data-lnk="4026536968" data-exlnk="0" id="M_9_22_21">וּמִשְׁלֹ֤חַ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_9_22_22">מָנוֹת֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_22_23">אִ֣ישׁ</span>
<span class="mila" data-lnk="72" data-exlnk="0" id="M_9_22_24">לְרֵעֵ֔הוּ</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_9_22_25">וּמַתָּנ֖וֹת</span>
<span class="mila" data-lnk="4026537032" data-exlnk="0" id="M_9_22_26">לָאֶבְיֹנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3446">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_23" data-pasuk-now="11"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="191" data-exlnk="0" id="M_9_23_1">וְקִבֵּל֙</span>
<span class="mila" data-lnk="159" data-exlnk="0" id="M_9_23_2">הַיְּהוּדִ֔ים</span>
<span class="mila" data-lnk="180" data-exlnk="0" id="M_9_23_3">אֵ֥ת</span>
<span class="mila" data-lnk="188" data-exlnk="0" id="M_9_23_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3451">־</span><span class="mila" data-lnk="188" data-exlnk="0" id="M_9_23_5">הֵחֵ֖לּוּ</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_9_23_6">לַעֲשׂ֑וֹת</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_9_23_7">וְאֵ֛ת</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_9_23_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3456">־</span><span class="mila" data-lnk="44" data-exlnk="0" id="M_9_23_9">כָּתַ֥ב</span>
<span class="mila" data-lnk="44" data-exlnk="0" id="M_9_23_10">מָרְדֳּכַ֖י</span>
<span class="mila" data-lnk="805307400" data-exlnk="0" id="M_9_23_11">אֲלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3460">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="381" data-exlnk="0" id="M_9_24_1">כִּי֩</span>
<span class="mila" data-lnk="381" data-exlnk="0" id="M_9_24_2">הָמָ֨ן</span>
<span class="mila" data-lnk="317" data-exlnk="0" id="M_9_24_3">בֶּֽן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3464">־</span><span class="mila" data-lnk="317" data-exlnk="0" id="M_9_24_4">הַמְּדָ֜תָא</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_24_5">הָאֲגָגִ֗י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_24_6">צֹרֵר֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_24_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3469">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_9_24_8">הַיְּהוּדִ֔ים</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_24_9">חָשַׁ֥ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_24_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3473">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_9_24_11">הַיְּהוּדִ֖ים</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_9_24_12">לְאַבְּדָ֑ם</span>
<span class="mila" data-lnk="805307408" data-exlnk="0" id="M_9_24_13">וְהִפִּ֥ל</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_9_24_14">פּוּר֙</span>
<span class="mila" data-lnk="512" data-exlnk="0" id="M_9_24_15">ה֣וּא</span>
<span class="mila" data-lnk="514" data-exlnk="0" id="M_9_24_16">הַגּוֹרָ֔ל</span>
<span class="mila" data-lnk="4026537570" data-exlnk="0" id="M_9_24_17">לְהֻמָּ֖ם</span>
<span class="mila" data-lnk="576" data-exlnk="0" id="M_9_24_18">וּֽלְאַבְּדָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3482">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_25" data-pasuk-now="21"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4026537727" data-exlnk="0" id="M_9_25_1">וּבְבֹאָהּ֘</span>
<span class="mila" data-lnk="766" data-exlnk="0" id="M_9_25_2">לִפְנֵ֣י</span>
<span class="mila" data-lnk="767" data-exlnk="0" id="M_9_25_3">הַמֶּלֶךְ֒</span>
<span class="mila" data-lnk="895" data-exlnk="0" id="M_9_25_4">אָמַ֣ר</span>
<span class="mila" data-lnk="959" data-exlnk="0" id="M_9_25_5">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3488">־</span><span class="mila" data-lnk="1023" data-exlnk="0" id="M_9_25_6">הַסֵּ֔פֶר</span>
<span class="mila" data-lnk="1023" data-exlnk="0" id="M_9_25_7">יָשׁ֞וּב</span>
<span class="mila" data-lnk="1023" data-exlnk="0" id="M_9_25_8">מַחֲשַׁבְתּ֧וֹ</span>
<span class="mila" data-lnk="767" data-exlnk="0" id="M_9_25_9">הָרָעָ֛ה</span>
<span class="mila" data-lnk="716" data-exlnk="0" id="M_9_25_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3494">־</span><span class="mila" data-lnk="652" data-exlnk="0" id="M_9_25_11">חָשַׁ֥ב</span>
<span class="mila" data-lnk="670" data-exlnk="0" id="M_9_25_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3497">־</span><span class="mila" data-lnk="652" data-exlnk="0" id="M_9_25_13">הַיְּהוּדִ֖ים</span>
<span class="mila" data-lnk="538" data-exlnk="0" id="M_9_25_14">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3500">־</span><span class="mila" data-lnk="539" data-exlnk="0" id="M_9_25_15">רֹאשׁ֑וֹ</span>
<span class="mila" data-lnk="796" data-exlnk="0" id="M_9_25_16">וְתָל֥וּ</span>
<span class="mila" data-lnk="796" data-exlnk="0" id="M_9_25_17">אֹת֛וֹ</span>
<span class="mila" data-lnk="268437020" data-exlnk="0" id="M_9_25_18">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3505">־</span><span class="mila" data-lnk="536872540" data-exlnk="0" id="M_9_25_19">בָּנָ֖יו</span>
<span class="mila" data-lnk="542" data-exlnk="0" id="M_9_25_20">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3508">־</span><span class="mila" data-lnk="540" data-exlnk="0" id="M_9_25_21">הָעֵֽץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3510">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_26" data-pasuk-now="23"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="4026539734" data-exlnk="0" id="M_9_26_1">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3512">־</span><span class="mila" data-lnk="4026539718" data-exlnk="0" id="M_9_26_2">כֵּ֡ן</span>
<span class="mila" data-lnk="662" data-exlnk="0" id="M_9_26_3">קָרְאוּ֩</span>
<span class="mila" data-lnk="4026539655" data-exlnk="0" id="M_9_26_4">לַיָּמִ֨ים</span>
<span class="mila" data-lnk="536872582" data-exlnk="0" id="M_9_26_5">הָאֵ֤לֶּה</span>
<span class="mila" data-lnk="646" data-exlnk="0" id="M_9_26_6">פוּרִים֙</span>
<span class="mila" data-lnk="660" data-exlnk="0" id="M_9_26_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3519">־</span><span class="mila" data-lnk="516" data-exlnk="0" id="M_9_26_8">שֵׁ֣ם</span>
<span class="mila" data-lnk="516" data-exlnk="0" id="M_9_26_9">הַפּ֔וּר</span>
<span class="mila" data-lnk="805308113" data-exlnk="0" id="M_9_26_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3523">־</span><span class="mila" data-lnk="805308097" data-exlnk="0" id="M_9_26_11">כֵּ֕ן</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_9_26_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3526">־</span><span class="mila" data-lnk="759" data-exlnk="0" id="M_9_26_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3528">־</span><span class="mila" data-lnk="743" data-exlnk="0" id="M_9_26_14">דִּבְרֵ֖י</span>
<span class="mila" data-lnk="3221230309" data-exlnk="0" id="M_9_26_15">הָאִגֶּ֣רֶת</span>
<span class="mila" data-lnk="741" data-exlnk="0" id="M_9_26_16">הַזֹּ֑את</span>
<span class="mila" data-lnk="701" data-exlnk="0" id="M_9_26_17">וּמָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3533">־</span><span class="mila" data-lnk="765" data-exlnk="0" id="M_9_26_18">רָא֣וּ</span>
<span class="mila" data-lnk="668" data-exlnk="0" id="M_9_26_19">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3536">־</span><span class="mila" data-lnk="668" data-exlnk="0" id="M_9_26_20">כָּ֔כָה</span>
<span class="mila" data-lnk="247" data-exlnk="0" id="M_9_26_21">וּמָ֥ה</span>
<span class="mila" data-lnk="759" data-exlnk="0" id="M_9_26_22">הִגִּ֖יעַ</span>
<span class="mila" data-lnk="805308119" data-exlnk="0" id="M_9_26_23">אֲלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3541">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_27" data-pasuk-now="23"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="764" data-exlnk="0" id="M_9_27_1">קִיְּמ֣וּ</span>
<span data-lnk="0" data-exlnk="0" id="M_9_27_2" class="mila ktiv">וְקִבְּלֻ֣</span>
<span data-lnk="3221230300" data-exlnk="0" id="M_9_27_2_K" class="mila kri">וְקִבְּל֣וּ</span>
<span class="mila" data-lnk="700" data-exlnk="0" id="M_9_27_3">הַיְּהוּדִים֩</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3546">׀</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_9_27_4">עֲלֵיהֶ֨ם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3548">׀</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_9_27_5">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3550">־</span><span class="mila" data-lnk="220" data-exlnk="0" id="M_9_27_6">זַרְעָ֜ם</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_9_27_7">וְעַ֨ל</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_9_27_8">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3554">־</span><span class="mila" data-lnk="255" data-exlnk="0" id="M_9_27_9">הַנִּלְוִ֤ים</span>
<span class="mila" data-lnk="221" data-exlnk="0" id="M_9_27_10">עֲלֵיהֶם֙</span>
<span class="mila" data-lnk="254" data-exlnk="0" id="M_9_27_11">וְלֹ֣א</span>
<span class="mila" data-lnk="4026537210" data-exlnk="0" id="M_9_27_12">יַעֲב֔וֹר</span>
<span class="mila" data-lnk="216" data-exlnk="0" id="M_9_27_13">לִהְי֣וֹת</span>
<span class="mila" data-lnk="220" data-exlnk="0" id="M_9_27_14">עֹשִׂ֗ים</span>
<span class="mila" data-lnk="200" data-exlnk="0" id="M_9_27_15">אֵ֣ת</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_9_27_16">שְׁנֵ֤י</span>
<span class="mila" data-lnk="156" data-exlnk="0" id="M_9_27_17">הַיָּמִים֙</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_9_27_18">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="225" data-exlnk="0" id="M_9_27_19">כִּכְתָבָ֖ם</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_27_20">וְכִזְמַנָּ֑ם</span>
<span class="mila" data-lnk="244" data-exlnk="0" id="M_9_27_21">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3568">־</span><span class="mila" data-lnk="224" data-exlnk="0" id="M_9_27_22">שָׁנָ֖ה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_9_27_23">וְשָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3571">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_28" data-pasuk-now="24"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="805307645" data-exlnk="0" id="M_9_28_1">וְהַיָּמִ֣ים</span>
<span class="mila" data-lnk="805307628" data-exlnk="0" id="M_9_28_2">הָ֠אֵלֶּה</span>
<span class="mila" data-lnk="3221229823" data-exlnk="0" id="M_9_28_3">נִזְכָּרִ֨ים</span>
<span class="mila" data-lnk="3221229823" data-exlnk="0" id="M_9_28_4">וְנַעֲשִׂ֜ים</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_9_28_5">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3577">־</span><span class="mila" data-lnk="132" data-exlnk="0" id="M_9_28_6">דּ֣וֹר</span>
<span class="mila" data-lnk="132" data-exlnk="0" id="M_9_28_7">וָד֗וֹר</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_9_28_8">מִשְׁפָּחָה֙</span>
<span class="mila" data-lnk="145" data-exlnk="0" id="M_9_28_9">וּמִשְׁפָּחָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_10">מְדִינָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_11">וּמְדִינָ֖ה</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_28_12">וְעִ֣יר</span>
<span class="mila" data-lnk="3221229568" data-exlnk="0" id="M_9_28_13">וָעִ֑יר</span>
<span class="mila" data-lnk="4026539153" data-exlnk="0" id="M_9_28_14">וִימֵ֞י</span>
<span class="mila" data-lnk="209" data-exlnk="0" id="M_9_28_15">הַפּוּרִ֣ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_28_16">הָאֵ֗לֶּה</span>
<span class="mila" data-lnk="595" data-exlnk="0" id="M_9_28_17">לֹ֤א</span>
<span class="mila" data-lnk="83" data-exlnk="0" id="M_9_28_18">יַֽעַבְרוּ֙</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_9_28_19">מִתּ֣וֹךְ</span>
<span class="mila" data-lnk="80" data-exlnk="0" id="M_9_28_20">הַיְּהוּדִ֔ים</span>
<span class="mila" data-lnk="195" data-exlnk="0" id="M_9_28_21">וְזִכְרָ֖ם</span>
<span class="mila" data-lnk="723" data-exlnk="0" id="M_9_28_22">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3595">־</span><span class="mila" data-lnk="691" data-exlnk="0" id="M_9_28_23">יָס֥וּף</span>
<span class="mila" data-lnk="144" data-exlnk="0" id="M_9_28_24">מִזַּרְעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3599">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3600">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_29" data-pasuk-now="16"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="348" data-exlnk="0" id="M_9_29_1">וַ֠תִּכְתֹּב</span>
<span class="mila" data-lnk="805307740" data-exlnk="0" id="M_9_29_2">אֶסְתֵּ֨ר</span>
<span class="mila" data-lnk="805307420" data-exlnk="0" id="M_9_29_3">הַמַּלְכָּ֧ה</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_29_4">בַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3605">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_9_29_5">אֲבִיחַ֛יִל</span>
<span class="mila" data-lnk="28" data-exlnk="0" id="M_9_29_6">וּמָרְדֳּכַ֥י</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_9_29_7">הַיְּהוּדִ֖י</span>
<span class="mila" data-lnk="107" data-exlnk="0" id="M_9_29_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3610">־</span><span class="mila" data-lnk="127" data-exlnk="0" id="M_9_29_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3612">־</span><span class="mila" data-lnk="3221230187" data-exlnk="0" id="M_9_29_10">תֹּ֑קֶף</span>
<span class="mila" data-lnk="666" data-exlnk="0" id="M_9_29_11">לְקַיֵּ֗ם</span>
<span class="mila" data-lnk="152" data-exlnk="0" id="M_9_29_12">אֵ֣ת</span>
<span class="mila" data-lnk="3221230302" data-exlnk="0" id="M_9_29_13">אִגֶּ֧רֶת</span>
<span class="mila" data-lnk="3221228254" data-exlnk="0" id="M_9_29_14">הַפֻּרִ֛ים</span>
<span class="mila" data-lnk="140" data-exlnk="0" id="M_9_29_15">הַזֹּ֖את</span>
<span class="mila" data-lnk="751" data-exlnk="0" id="M_9_29_16">הַשֵּׁנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3620">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_30" data-pasuk-now="15"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="68" data-exlnk="0" id="M_9_30_1">וַיִּשְׁלַ֨ח</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_30_2">סְפָרִ֜ים</span>
<span class="mila" data-lnk="3489668100" data-exlnk="0" id="M_9_30_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3624">־</span><span class="mila" data-lnk="1610619908" data-exlnk="0" id="M_9_30_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3626">־</span><span class="mila" data-lnk="3758103556" data-exlnk="0" id="M_9_30_5">הַיְּהוּדִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_30_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3629">־</span><span class="mila" data-lnk="805307392" data-exlnk="0" id="M_9_30_7">שֶׁ֨בַע</span>
<span class="mila" data-lnk="268436480" data-exlnk="0" id="M_9_30_8">וְעֶשְׂרִ֤ים</span>
<span class="mila" data-lnk="536871936" data-exlnk="0" id="M_9_30_9">וּמֵאָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_30_10">מְדִינָ֔ה</span>
<span class="mila" data-lnk="805307392" data-exlnk="0" id="M_9_30_11">מַלְכ֖וּת</span>
<span class="mila" data-lnk="805307392" data-exlnk="0" id="M_9_30_12">אֲחַשְׁוֵר֑וֹשׁ</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_9_30_13">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_9_30_14">שָׁל֖וֹם</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_9_30_15">וֶאֱמֶֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3639">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_31" data-pasuk-now="22"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_9_31_1">לְקַיֵּ֡ם</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_9_31_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3642">־</span><span class="mila" data-lnk="232" data-exlnk="0" id="M_9_31_3">יְמֵי֩</span>
<span class="mila" data-lnk="232" data-exlnk="0" id="M_9_31_4">הַפֻּרִ֨ים</span>
<span class="mila" data-lnk="128" data-exlnk="0" id="M_9_31_5">הָאֵ֜לֶּה</span>
<span class="mila" data-lnk="136" data-exlnk="0" id="M_9_31_6">בִּזְמַנֵּיהֶ֗ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_31_7">כַּאֲשֶׁר֩</span>
<span class="mila" data-lnk="4026537024" data-exlnk="0" id="M_9_31_8">קִיַּ֨ם</span>
<span class="mila" data-lnk="64" data-exlnk="0" id="M_9_31_9">עֲלֵיהֶ֜ם</span>
<span class="mila" data-lnk="96" data-exlnk="0" id="M_9_31_10">מָרְדֳּכַ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_11">הַיְּהוּדִי֙</span>
<span class="mila" data-lnk="268436512" data-exlnk="0" id="M_9_31_12">וְאֶסְתֵּ֣ר</span>
<span class="mila" data-lnk="805307392" data-exlnk="0" id="M_9_31_13">הַמַּלְכָּ֔ה</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_9_31_14">וְכַאֲשֶׁ֛ר</span>
<span class="mila" data-lnk="160" data-exlnk="0" id="M_9_31_15">קִיְּמ֥וּ</span>
<span class="mila" data-lnk="224" data-exlnk="0" id="M_9_31_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3657">־</span><span class="mila" data-lnk="224" data-exlnk="0" id="M_9_31_17">נַפְשָׁ֖ם</span>
<span class="mila" data-lnk="224" data-exlnk="0" id="M_9_31_18">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3660">־</span><span class="mila" data-lnk="224" data-exlnk="0" id="M_9_31_19">זַרְעָ֑ם</span>
<span class="mila" data-lnk="744" data-exlnk="0" id="M_9_31_20">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="3221230316" data-exlnk="0" id="M_9_31_21">הַצּוֹמ֖וֹת</span>
<span class="mila" data-lnk="3221230316" data-exlnk="0" id="M_9_31_22">וְזַעֲקָתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3665">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_32" data-pasuk-now="8"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="717" data-exlnk="0" id="M_9_32_1">וּמַאֲמַ֣ר</span>
<span class="mila" data-lnk="653" data-exlnk="0" id="M_9_32_2">אֶסְתֵּ֔ר</span>
<span class="mila" data-lnk="805308047" data-exlnk="0" id="M_9_32_3">קִיַּ֕ם</span>
<span class="mila" data-lnk="684" data-exlnk="0" id="M_9_32_4">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="684" data-exlnk="0" id="M_9_32_5">הַפֻּרִ֖ים</span>
<span class="mila" data-lnk="676" data-exlnk="0" id="M_9_32_6">הָאֵ֑לֶּה</span>
<span class="mila" data-lnk="613" data-exlnk="0" id="M_9_32_7">וְנִכְתָּ֖ב</span>
<span class="mila" data-lnk="613" data-exlnk="0" id="M_9_32_8">בַּסֵּֽפֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3675">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3676">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>