<p id="PR_5" data-perek-now="524" data-perek-nops="30"><span class="perek-header">פרק ה</span>
<br /><span id="PS_5_1" data-pasuk-now="11"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="3221225763" data-exlnk="0" id="M_5_1_1">בֵּלְשַׁאצַּ֣ר</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_1_2">מַלְכָּ֗א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_1_3">עֲבַד֙</span>
<span class="mila" data-lnk="3221225987" data-exlnk="0" id="M_5_1_4">לְחֶ֣ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_1_5">רַ֔ב</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_1_6">לְרַבְרְבָנ֖וֹהִי</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_1_7">אֲלַ֑ף</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_1_8">וְלָקֳבֵ֥ל</span>
<span class="mila" data-lnk="3221225987" data-exlnk="0" id="M_5_1_9">אַלְפָּ֖א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_1_10">חַמְרָ֥א</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_1_11">שָׁתֵֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2882">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_2" data-pasuk-now="22"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_2_1">בֵּלְשַׁאצַּ֞ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_2_2">אֲמַ֣ר׀</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_2_3">בִּטְעֵ֣ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_2_4">חַמְרָ֗א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_2_5">לְהַיְתָיָה֙</span>
<span class="mila" data-lnk="3489661312" data-exlnk="0" id="M_5_2_6">לְמָאנֵי֙</span>
<span class="mila" data-lnk="4026532224" data-exlnk="0" id="M_5_2_7">דַּהֲבָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_8">וְכַסְפָּ֔א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_2_9">דִּ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_2_10">הַנְפֵּק֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_11">נְבוּכַדְנֶצַּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_12">אֲב֔וּהִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_13">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2896">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_14">הֵיכְלָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_15">דִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_16">בִירוּשְׁלֶ֑ם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_2_17">וְיִשְׁתּ֣וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_18">בְּה֗וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_19">מַלְכָּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_2_20">וְרַבְרְבָנ֔וֹהִי</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_2_21">שֵׁגְלָתֵ֖הּ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_2_22">וּלְחֵנָתֵֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2906">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_3" data-pasuk-now="19"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_1">בֵּאדַ֗יִן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_3_2">הַיְתִיו֙</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_5_3_3">מָאנֵ֣י</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_5_3_4">דַהֲבָ֔א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_3_5">דִּ֣י</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_5_3_6">הַנְפִּ֗קוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_7">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2914">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_8">הֵ֥יכְלָ֛א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_9">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2917">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_10">בֵ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_11">אֱלָהָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_12">דִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_13">בִירֽוּשְׁלֶ֑ם</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_3_14">וְאִשְׁתִּ֣יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_15">בְּה֗וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_16">מַלְכָּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_17">וְרַבְרְבָנ֔וֹהִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_18">שֵׁגְלָתֵ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_3_19">וּלְחֵנָתֵֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2928">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_4" data-pasuk-now="10"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_4_1">אִשְׁתִּ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_2">חַמְרָ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_3">וְ֠שַׁבַּחוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_4">לֵֽאלָהֵ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_5">דַּהֲבָ֧א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_6">וְכַסְפָּ֛א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_7">נְחָשָׁ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_8">פַרְזְלָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_9">אָעָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_4_10">וְאַבְנָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2939">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_5" data-pasuk-now="23"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_5_1">בַּהּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2941">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_5_5_2">שַׁעֲתָ֗ה</span>
<span data-lnk="0" data-exlnk="0" id="M_5_5_3" class="mila ktiv">נְפַ֙קָו֙</span>
<span data-lnk="4026532737" data-exlnk="0" id="M_5_5_3_K" class="mila kri">נְפַ֙קָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_5_4">אֶצְבְּעָן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_5">דִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_6">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2948">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_7">אֱנָ֔שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_8">וְכָֽתְבָן֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_5_9">לָקֳבֵ֣ל</span>
<span class="mila" data-lnk="3221226017" data-exlnk="0" id="M_5_5_10">נֶבְרַשְׁתָּ֔א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_5_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2954">־</span><span class="mila" data-lnk="3221225987" data-exlnk="0" id="M_5_5_12">גִּירָ֕א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_13">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2957">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_5_5_14">כְתַ֥ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_5_15">הֵיכְלָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_16">דִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_17">מַלְכָּ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_18">וּמַלְכָּ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_19">חָזֵ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_5_20">פַּ֥ס</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_5_21">יְדָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_22">דִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_5_23">כָתְבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2968">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_6" data-pasuk-now="13"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_6_1">אֱדַ֤יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_6_2">מַלְכָּא֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_6_3">זִיוֺ֣הִי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_6_4">שְׁנ֔וֹהִי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_6_5">וְרַעְיֹנֹ֖הִי</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_6_6">יְבַהֲלוּנֵּ֑הּ</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_6_7">וְקִטְרֵ֤י</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_6_8">חַרְצֵהּ֙</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_6_9">מִשְׁתָּרַ֔יִן</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_5_6_10">וְאַ֨רְכֻבָּתֵ֔הּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_6_11">דָּ֥א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_6_12">לְדָ֖א</span>
<span class="mila" data-lnk="3221226019" data-exlnk="0" id="M_5_6_13">נָֽקְשָֽׁן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2982">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_7" data-pasuk-now="31"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_5_7_1">קָרֵ֤א</span>
<span class="mila" data-lnk="1073742080" data-exlnk="0" id="M_5_7_2">מַלְכָּא֙</span>
<span class="mila" data-lnk="1073742081" data-exlnk="0" id="M_5_7_3">בְּחַ֔יִל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_7_4">לְהֶֽעָלָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_5">לְאָ֣שְׁפַיָּ֔א</span>
<span data-lnk="0" data-exlnk="0" id="M_5_7_6" class="mila ktiv">כַּשְׂדָּיאֵ֖</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_7_6_K" class="mila kri">כַּשְׂדָּאֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_7">וְגָזְרַיָּ֑א</span>
<span class="mila" data-lnk="1342178176" data-exlnk="0" id="M_5_7_8">עָנֵ֨ה</span>
<span class="mila" data-lnk="2684355456" data-exlnk="0" id="M_5_7_9">מַלְכָּ֜א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_10">וְאָמַ֣ר׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_11">לְחַכִּימֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_12">בָבֶ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_13">דִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_14">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2998">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_15">אֱ֠נָשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_16">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3001">־</span><span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_7_17">יִקְרֵ֞ה</span>
<span class="mila" data-lnk="4026532737" data-exlnk="0" id="M_5_7_18">כְּתָבָ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_7_19">דְנָ֗ה</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_7_20">וּפִשְׁרֵהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_21">יְחַוִּנַּ֔נִי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_7_22">אַרְגְּוָנָ֣א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_7_23">יִלְבַּ֗שׁ</span>
<span data-lnk="0" data-exlnk="0" id="M_5_7_24" class="mila ktiv">וְהַֽמְונִכָ֤א</span>
<span data-lnk="4026532515" data-exlnk="0" id="M_5_7_24_K" class="mila kri">וְהַֽמְנִיכָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_25">דִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3012">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_26">דַהֲבָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_27">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3015">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_7_28">צַוְּארֵ֔הּ</span>
<span class="mila" data-lnk="2147483937" data-exlnk="0" id="M_5_7_29">וְתַלְתִּ֥י</span>
<span class="mila" data-lnk="2147483905" data-exlnk="0" id="M_5_7_30">בְמַלְכוּתָ֖א</span>
<span class="mila" data-lnk="2147483905" data-exlnk="0" id="M_5_7_31">יִשְׁלַֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3021">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3022">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_5_8_1">אֱדַ֙יִן֙</span>
<span data-lnk="0" data-exlnk="0" id="M_5_8_2" class="mila ktiv">עָֽלִּ֔לין</span>
<span data-lnk="4026532481" data-exlnk="0" id="M_5_8_2_K" class="mila kri">עָֽלִּ֔ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_3">כֹּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_4">חַכִּימֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_5">מַלְכָּ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_6">וְלָֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3030">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_7">כָהֲלִ֤ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_8">כְּתָבָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_9">לְמִקְרֵ֔א</span>
<span data-lnk="0" data-exlnk="0" id="M_5_8_10" class="mila ktiv">וּפִשְׁרֵ֖אּ</span>
<span data-lnk="4026532480" data-exlnk="0" id="M_5_8_10_K" class="mila kri">וּפִשְׁרֵ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_11">לְהוֹדָעָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_8_12">לְמַלְכָּֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3038">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_9_1">אֱ֠דַיִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_9_2">מַלְכָּ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_9_3">בֵלְשַׁאצַּר֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_9_4">שַׂגִּ֣יא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_9_5">מִתְבָּהַ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_9_6">וְזִיוֺ֖הִי</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_9_7">שָׁנַ֣יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_9_8">עֲל֑וֹהִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_9_9">וְרַבְרְבָנ֖וֹהִי</span>
<span class="mila" data-lnk="3221226019" data-exlnk="0" id="M_5_9_10">מִֽשְׁתַּבְּשִֽׁין</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3049">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_10" data-pasuk-now="20"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532483" data-exlnk="0" id="M_5_10_1">מַלְכְּתָ֕א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_10_2">לָקֳבֵ֨ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_10_3">מִלֵּ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_10_4">מַלְכָּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_5">וְרַבְרְבָנ֔וֹהִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_6">לְבֵ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_7">מִשְׁתְּיָ֖א</span>
<span data-lnk="0" data-exlnk="0" id="M_5_10_8" class="mila ktiv">עַלַּ֑לת</span>
<span data-lnk="0" data-exlnk="0" id="M_5_10_8_K" class="mila kri">עַלַּ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_9">עֲנָ֨ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_10">מַלְכְּתָ֜א</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_10_11">וַאֲמֶ֗רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_12">מַלְכָּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_13">לְעָלְמִ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_14">חֱיִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_15">אַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3066">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_16">יְבַהֲלוּךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_17">רַעְיוֹנָ֔ךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_5_10_18" class="mila ktiv">וְזִיוָ֖יךְ</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_10_18_K" class="mila kri">וְזִיוָ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_19">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3072">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_10_20">יִשְׁתַּנּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3074">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_11" data-pasuk-now="28"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_11_1">אִיתַ֨י</span>
<span class="mila" data-lnk="805306497" data-exlnk="0" id="M_5_11_2">גְּבַ֜ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_3">בְּמַלְכוּתָ֗ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_4">דִּ֠י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_5">ר֣וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_6">אֱלָהִ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_7">קַדִּישִׁין֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_8">בֵּהּ֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_9">וּבְיוֹמֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_10">אֲב֗וּךְ</span>
<span class="mila" data-lnk="34" data-exlnk="0" id="M_5_11_11">נַהִיר֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_12">וְשָׂכְלְתָנ֛וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_13">וְחָכְמָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_11_14">כְּחָכְמַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3089">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_5_11_15">אֱלָהִ֖ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_16">הִשְׁתְּכַ֣חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_17">בֵּ֑הּ</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_5_11_18">וּמַלְכָּ֤א</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_11_19">נְבֻֽכַדְנֶצַּר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_20">אֲב֔וּךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_21">רַ֧ב</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_5_11_22">חַרְטֻמִּ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_23">אָֽשְׁפִ֗ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_24">כַּשְׂדָּאִין֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_11_25">גָּזְרִ֔ין</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_5_11_26">הֲקִימֵ֖הּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_27">אֲב֥וּךְ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_11_28">מַלְכָּֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3104">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_12" data-pasuk-now="26"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_12_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3106">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_5_12_2">קֳבֵ֡ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_3">דִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_4">ר֣וּחַ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3110">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_5">יַתִּירָ֡ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_6">וּמַנְדַּ֡ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_7">וְשָׂכְלְתָנ֡וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_8">מְפַשַּׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_9">חֶלְמִין֩</span>
<span class="mila" data-lnk="3221226018" data-exlnk="0" id="M_5_12_10">וְֽאַֽחֲוָיַ֨ת</span>
<span class="mila" data-lnk="3221226018" data-exlnk="0" id="M_5_12_11">אֲחִידָ֜ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_12_12">וּמְשָׁרֵ֣א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_12_13">קִטְרִ֗ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_14">הִשְׁתְּכַ֤חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_15">בֵּהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_16">בְּדָ֣נִיֵּ֔אל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_17">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3124">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_18">מַלְכָּ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_19">שָׂם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3127">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_20">שְׁמֵ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_21">בֵּלְטְשַׁאצַּ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_22">כְּעַ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_23">דָּנִיֵּ֥אל</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_12_24">יִתְקְרֵ֖י</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_12_25">וּפִשְׁרָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_12_26">יְהַֽחֲוֵֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3136">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3137"> פ </span>
</span>
<br /><span id="PS_5_13" data-pasuk-now="24"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_1">בֵּאדַ֙יִן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_2">דָּֽנִיֵּ֔אל</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_13_3">הֻעַ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_4">קֳדָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_5">מַלְכָּ֑א</span>
<span class="mila" data-lnk="1342177920" data-exlnk="0" id="M_5_13_6">עָנֵ֨ה</span>
<span class="mila" data-lnk="2684355200" data-exlnk="0" id="M_5_13_7">מַלְכָּ֜א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_8">וְאָמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_9">לְדָנִיֵּ֗אל</span>
<span data-lnk="0" data-exlnk="0" id="M_5_13_10" class="mila ktiv">אַנְתְּה</span><span class="makaf" data-mila-att="38" data-lnk="0" data-exlnk="0" id="3148">־</span><span data-lnk="3221226016" data-exlnk="0" id="M_5_13_10_K" class="mila kri">אַנְתְּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3150">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_13_11">ה֤וּא</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_13_12">דָנִיֵּאל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_13">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3154">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_14">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3156">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_15">בְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_16">גָלוּתָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_17">דִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_18">יְה֔וּד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_19">דִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_20">הַיְתִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_21">מַלְכָּ֥א</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_13_22">אַ֖בִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_23">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3166">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_13_24">יְהֽוּד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3168">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_14" data-pasuk-now="12"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_14_1">וְשִׁמְעֵ֣ת</span>
<span data-lnk="0" data-exlnk="0" id="M_5_14_2" class="mila ktiv">עֲלָ֔יךְ</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_14_2_K" class="mila kri">עֲלָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_3">דִּ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_4">ר֥וּחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_5">אֱלָהִ֖ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_6">בָּ֑ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_7">וְנַהִיר֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_8">וְשָׂכְלְתָנ֛וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_9">וְחָכְמָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_10">יַתִּירָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_11">הִשְׁתְּכַ֥חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_14_12">בָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3182">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_15" data-pasuk-now="16"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_15_1">וּכְעַ֞ן</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_15_2">הֻעַ֣לּוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_3">קָֽדָמַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_4">חַכִּֽימַיָּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_5">אָֽשְׁפַיָּ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_6">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3189">־</span><span class="mila" data-lnk="805306496" data-exlnk="0" id="M_5_15_7">כְתָבָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_8">דְנָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_9">יִקְר֔וֹן</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_15_10">וּפִשְׁרֵ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_11">לְהוֹדָעֻתַ֑נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_12">וְלָֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3196">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_13">כָהֲלִ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_14">פְּשַֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3199">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_15">מִלְּתָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_15_16">לְהַחֲוָיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3202">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_16" data-pasuk-now="26"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_5_16_1">וַאֲנָה֙</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_16_2">שִׁמְעֵ֣ת</span>
<span data-lnk="0" data-exlnk="0" id="M_5_16_3" class="mila ktiv">עֲלָ֔יךְ</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_16_3_K" class="mila kri">עֲלָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_4">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3208">־</span><span data-lnk="0" data-exlnk="0" id="M_5_16_5" class="mila ktiv">תִוכֻּ֥ל</span>
<span data-lnk="4026532481" data-exlnk="0" id="M_5_16_5_K" class="mila kri">תִכּ֥וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_6">פִּשְׁרִ֛ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_7">לְמִפְשַׁ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_8">וְקִטְרִ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_9">לְמִשְׁרֵ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_10">כְּעַ֡ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_11">הֵן֩</span>
<span data-lnk="0" data-exlnk="0" id="M_5_16_12" class="mila ktiv">תִּוכֻּ֨ל</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_16_12_K" class="mila kri">תִּכּ֨וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_13">כְּתָבָ֜א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_14">לְמִקְרֵ֗א</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_16_15">וּפִשְׁרֵהּ֙</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_5_16_16">לְהוֹדָ֣עוּתַ֔נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_17">אַרְגְּוָנָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_18">תִלְבַּ֗שׁ</span>
<span data-lnk="0" data-exlnk="0" id="M_5_16_19" class="mila ktiv">וְהַֽמְונִכָ֤א</span>
<span data-lnk="4026532480" data-exlnk="0" id="M_5_16_19_K" class="mila kri">וְהַֽמְנִיכָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_20">דִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3228">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_21">דַהֲבָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_22">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3231">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_23">צַוְּארָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_24">וְתַלְתָּ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_25">בְמַלְכוּתָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_16_26">תִּשְׁלַֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3237">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3238"> פ </span>
</span>
<br /><span id="PS_5_17" data-pasuk-now="18"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_17_1">בֵּאדַ֜יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_2">עָנֵ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_3">דָנִיֵּ֗אל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_4">וְאָמַר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_5">קֳדָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_6">מַלְכָּ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_7">מַתְּנָתָךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_8">לָ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_9">לֶֽהֶוְיָ֔ן</span>
<span class="mila" data-lnk="4026532769" data-exlnk="0" id="M_5_17_10">וּנְבָ֥זְבְּיָתָ֖ךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_17_11">לְאָחֳרָ֣ן</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_5_17_12">הַ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_13">בְּרַ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_14">כְּתָבָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_15">אֶקְרֵ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_16">לְמַלְכָּ֔א</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_17_17">וּפִשְׁרָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_17_18">אֲהוֹדְעִנֵּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3257">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_18" data-pasuk-now="11"><span class="pasuk-header">[יח]</span>
<span data-lnk="0" data-exlnk="0" id="M_5_18_1" class="mila ktiv">אַ֖נְתְּה</span>
<span data-lnk="3221225986" data-exlnk="0" id="M_5_18_1_K" class="mila kri">אַ֖נְתְּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_2">מַלְכָּ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_3">אֱלָהָא֙</span>
<span data-lnk="0" data-exlnk="0" id="M_5_18_4" class="mila ktiv">עִלָּיאָ֔</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_18_4_K" class="mila kri">עִלָּאָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_5">מַלְכוּתָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_6">וּרְבוּתָא֙</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_18_7">וִיקָרָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_8">וְהַדְרָ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_9">יְהַ֖ב</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_18_10">לִנְבֻכַדְנֶצַּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_18_11">אֲבֽוּךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3271">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_19" data-pasuk-now="34"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_1">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3273">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_2">רְבוּתָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_3">דִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_4">יְהַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3277">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_5">לֵ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_6">כֹּ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_7">עַֽמְמַיָּ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_8">אֻמַּיָּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_9">וְלִשָּׁ֣נַיָּ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_10">הֲו֛וֹ</span>
<span data-lnk="0" data-exlnk="0" id="M_5_19_11" class="mila ktiv">זָאְעִ֥ין</span>
<span data-lnk="3221226018" data-exlnk="0" id="M_5_19_11_K" class="mila kri">זָיְעִ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_12">וְדָחֲלִ֖ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_13">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3288">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_14">קֳדָמ֑וֹהִי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_19_15">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3291">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_5_19_16">הֲוָ֨א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_19_17">צָבֵ֜א</span>
<span class="mila" data-lnk="4026532736" data-exlnk="0" id="M_5_19_18">הֲוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_19">קָטֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_20">וְדִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3297">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_21">הֲוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_22">צָבֵא֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_19_23">הֲוָ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_19_24">מַחֵ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_25">וְדִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3303">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_26">הֲוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_27">צָבֵא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_28">הֲוָ֣ה</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_19_29">מָרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_30">וְדִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3309">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_31">הֲוָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_32">צָבֵ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_19_33">הֲוָ֥א</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_19_34">מַשְׁפִּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3314">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_20" data-pasuk-now="13"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_20_1">וּכְדִי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_20_2">רִ֣ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_20_3">לִבְבֵ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_4">וְרוּחֵ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_5">תִּֽקְפַ֣ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_5_20_6">לַהֲזָדָ֑ה</span>
<span class="mila" data-lnk="3221225985" data-exlnk="0" id="M_5_20_7">הָנְחַת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_8">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3323">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_9">כָּרְסֵ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_20_10">מַלְכוּתֵ֔הּ</span>
<span class="mila" data-lnk="805306496" data-exlnk="0" id="M_5_20_11">וִֽיקָרָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_20_12">הֶעְדִּ֥יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_20_13">מִנֵּֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3329">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_21" data-pasuk-now="32"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_1">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3331">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_2">בְּנֵי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_3">אֲנָשָׁ֨א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_21_4">טְרִ֜יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_5">וְלִבְבֵ֣הּ׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_6">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3337">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_7">חֵיוְתָ֣א</span>
<span data-lnk="0" data-exlnk="0" id="M_5_21_8" class="mila ktiv">שַׁוִּ֗יְ</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_21_8_K" class="mila kri">שַׁוִּ֗יוְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_9">וְעִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3342">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_21_10">עֲרָֽדַיָּא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_11">מְדֹרֵ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_12">עִשְׂבָּ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_13">כְתוֹרִין֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_14">יְטַ֣עֲמוּנֵּ֔הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_15">וּמִטַּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_16">שְׁמַיָּ֖א</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_21_17">גִּשְׁמֵ֣הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_18">יִצְטַבַּ֑ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_19">עַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_20">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3354">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_21">יְדַ֗ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_22">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3357">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_23">שַׁלִּ֞יט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_24">אֱלָהָ֤א</span>
<span data-lnk="0" data-exlnk="0" id="M_5_21_25" class="mila ktiv">עִלָּיאָ֙</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_21_25_K" class="mila kri">עִלָּאָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_26">בְּמַלְכ֣וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_27">אֲנָשָׁ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_28">וּלְמַן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3365">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_29">דִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_30">יִצְבֵּ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_21_31">יְהָקֵ֥ים</span>
<span data-lnk="0" data-exlnk="0" id="M_5_21_32" class="mila ktiv">עֲלַֽיהּ</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_21_32_K" class="mila kri">עֲלַֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3371">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_22" data-pasuk-now="12"><span class="pasuk-header">[כב]</span>
<span data-lnk="0" data-exlnk="0" id="M_5_22_1" class="mila ktiv">וְאַ֤נְתְּה</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_22_1_K" class="mila kri">וְאַ֤נְתְּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_22_2">בְּרֵהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_22_3">בֵּלְשַׁאצַּ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_22_4">לָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_22_5">הַשְׁפֵּ֖לְתְּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_22_6">לִבְבָ֑ךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_22_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3380">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_5_22_8">קֳבֵ֕ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_22_9">דִּ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_22_10">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3384">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_5_22_11">דְּנָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_22_12">יְדַֽעְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3387">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_23" data-pasuk-now="40"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_1">וְעַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_2">מָרֵֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3390">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_3">שְׁמַיָּ֣א</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="3392">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_4">הִתְרוֹמַ֡מְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_5">וּלְמָאנַיָּ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_6">דִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3396">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_7">בַיְתֵ֜הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_8">הַיְתִ֣יו</span>
<span data-lnk="0" data-exlnk="0" id="M_5_23_9" class="mila ktiv">קָֽדָמָ֗יךְ</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_23_9_K" class="mila kri">קָֽדָמָ֗ךְ</span>
<span data-lnk="0" data-exlnk="0" id="M_5_23_10" class="mila ktiv">וְאַ֨נְתְּה</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_23_10_K" class="mila kri">וְאַ֨נְתְּ</span>
<span data-lnk="0" data-exlnk="0" id="M_5_23_11" class="mila ktiv">וְרַבְרְבָנָ֜יךְ</span>
<span data-lnk="3221225984" data-exlnk="0" id="M_5_23_11_K" class="mila kri">וְרַבְרְבָנָ֜ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_12">שֵֽׁגְלָתָ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_13">וּלְחֵנָתָךְ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_14">חַמְרָא֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_15">שָׁתַ֣יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_16">בְּהוֹן֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_17">וְלֵאלָהֵ֣י</span>
<span class="mila" data-lnk="268435584" data-exlnk="0" id="M_5_23_18">כַסְפָּֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3412">־</span><span class="mila" data-lnk="805306496" data-exlnk="0" id="M_5_23_19">וְ֠דַהֲבָא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_20">נְחָשָׁ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_21">פַרְזְלָ֜א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_22">אָעָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_23">וְאַבְנָ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_24">דִּ֠י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_25">לָֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3420">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_26">חָזַ֧יִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_27">וְלָא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3423">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_28">שָׁמְעִ֛ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_29">וְלָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_30">יָדְעִ֖ין</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_23_31">שַׁבַּ֑חְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_32">וְלֵֽאלָהָ֞א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_33">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3430">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_34">נִשְׁמְתָ֥ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_35">בִּידֵ֛הּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_23_36">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3434">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_5_23_37">אֹרְחָתָ֥ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_5_23_38">לֵ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_39">לָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_23_40">הַדַּֽרְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3439">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_24" data-pasuk-now="10"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_24_1">בֵּאדַ֙יִן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_24_2">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3442">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_24_3">קֳדָמ֔וֹהִי</span>
<span class="mila" data-lnk="4026532481" data-exlnk="0" id="M_5_24_4">שְׁלִ֖יחַ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_24_5">פַּסָּ֣א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_24_6">דִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3447">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_5_24_7">יְדָ֑א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_24_8">וּכְתָבָ֥א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_24_9">דְנָ֖ה</span>
<span class="mila" data-lnk="805306497" data-exlnk="0" id="M_5_24_10">רְשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3452">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_25" data-pasuk-now="8"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4026532480" data-exlnk="0" id="M_5_25_1">וּדְנָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_25_2">כְתָבָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_25_3">דִּ֣י</span>
<span class="mila" data-lnk="4026532482" data-exlnk="0" id="M_5_25_4">רְשִׁ֑ים</span>
<span class="mila" data-lnk="4026532523" data-exlnk="0" id="M_5_25_5">מְנֵ֥א</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_5_25_6">מְנֵ֖א</span>
<span class="mila" data-lnk="40" data-exlnk="0" id="M_5_25_7">תְּקֵ֥ל</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_5_25_8">וּפַרְסִֽין</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3461">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_26" data-pasuk-now="8"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_26_1">דְּנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_26_2">פְּשַֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3464">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_26_3">מִלְּתָ֑א</span>
<span class="mila" data-lnk="805306528" data-exlnk="0" id="M_5_26_4">מְנֵ֕א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_26_5">מְנָֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3468">־</span><span class="mila" data-lnk="32" data-exlnk="0" id="M_5_26_6">אֱלָהָ֥א</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_26_7">מַלְכוּתָ֖ךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_26_8">וְהַשְׁלְמַֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3472">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_27" data-pasuk-now="5"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="41" data-exlnk="0" id="M_5_27_1">תְּקֵ֑ל</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_27_2">תְּקִ֥ילְתָּ</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_27_3">בְמֹֽאזַנְיָ֖א</span>
<span class="mila" data-lnk="3221226016" data-exlnk="0" id="M_5_27_4">וְהִשְׁתְּכַ֥חַתְּ</span>
<span class="mila" data-lnk="32" data-exlnk="0" id="M_5_27_5">חַסִּֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3478">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_28" data-pasuk-now="6"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="33" data-exlnk="0" id="M_5_28_1">פְּרֵ֑ס</span>
<span class="mila" data-lnk="35" data-exlnk="0" id="M_5_28_2">פְּרִיסַת֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_5_28_3">מַלְכוּתָ֔ךְ</span>
<span class="mila" data-lnk="805306506" data-exlnk="0" id="M_5_28_4">וִיהִיבַ֖ת</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_5_28_5">לְמָדַ֥י</span>
<span class="mila" data-lnk="42" data-exlnk="0" id="M_5_28_6">וּפָרָֽס</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3485">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_29" data-pasuk-now="18"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="3221225984" data-exlnk="0" id="M_5_29_1">בֵּאדַ֣יִן׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_2">אֲמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_3">בֵּלְשַׁאצַּ֗ר</span>
<span class="mila" data-lnk="3221225728" data-exlnk="0" id="M_5_29_4">וְהַלְבִּ֤שׁוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_5">לְדָֽנִיֵּאל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_6">אַרְגְּוָנָ֔א</span>
<span data-lnk="0" data-exlnk="0" id="M_5_29_7" class="mila ktiv">וְהַֽמְונִכָ֥א</span>
<span data-lnk="4026532480" data-exlnk="0" id="M_5_29_7_K" class="mila kri">וְהַֽמְנִיכָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_8">דִֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3495">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_9">דַהֲבָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_10">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3498">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_11">צַוְּארֵ֑הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_12">וְהַכְרִ֣זֽוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_13">עֲל֔וֹהִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_14">דִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3503">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_15">לֶהֱוֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_16">שַׁלִּ֛יט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_17">תַּלְתָּ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_29_18">בְּמַלְכוּתָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3508">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_5_30" data-pasuk-now="6"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_30_1">בֵּ֚הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_30_2">בְּלֵ֣ילְיָ֔א</span>
<span class="mila" data-lnk="3221225986" data-exlnk="0" id="M_5_30_3">קְטִ֕יל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_30_4">בֵּלְאשַׁצַּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_5_30_5">מַלְכָּ֥א</span>
<span data-lnk="0" data-exlnk="0" id="M_5_30_6" class="mila ktiv">כַשְׂדָּיאָֽ</span>
<span data-lnk="4026532736" data-exlnk="0" id="M_5_30_6_K" class="mila kri">כַשְׂדָּאָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3517">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3518"> פ </span>
</span>
<br /></p>