<p id="PR_12" data-perek-now="471" data-perek-nops="47"><span class="perek-header">פרק יב</span>
<br /><span id="PS_12_1" data-pasuk-now="13"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_1_1">וְאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_1_2">הַכֹּהֲנִ֣ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_1_3">וְהַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_4">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_1_5">עָל֛וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_1_6">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5570">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_1_7">זְרֻבָּבֶ֥ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_1_8">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5573">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_1_9">שְׁאַלְתִּיאֵ֖ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_1_10">וְיֵשׁ֑וּעַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_1_11">שְׂרָיָ֥ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_1_12">יִרְמְיָ֖ה</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_12_1_13">עֶזְרָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5579">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_2" data-pasuk-now="3"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_1">אֲמַרְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_2">מַלּ֖וּךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_3">חַטּֽוּשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5583">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_3" data-pasuk-now="3"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_1">שְׁכַנְיָ֥ה</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_3_2">רְחֻ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_3">מְרֵמֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5587">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_4" data-pasuk-now="3"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_1">עִדּ֥וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_2">גִנְּת֖וֹי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_3">אֲבִיָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5591">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_5" data-pasuk-now="3"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_1">מִיָּמִ֥ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_2">מַעַדְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_3">בִּלְגָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5595">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_6" data-pasuk-now="3"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_1">שְׁמַֽעְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_2">וְיוֹיָרִ֖יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_3">יְדַֽעְיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5599">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_7" data-pasuk-now="10"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_7_1">סַלּ֣וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_7_2">עָמ֔וֹק</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_7_3">חִלְקִיָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_4">יְדַֽעְיָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_5">אֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_6">רָאשֵׁ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_7">הַכֹּהֲנִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_8">וַאֲחֵיהֶ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_7_9">בִּימֵ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_7_10">יֵשֽׁוּעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5611">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5612"> פ </span>
</span>
<br /><span id="PS_12_8" data-pasuk-now="11"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_8_1">וְהַלְוִיִּ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_8_2">יֵשׁ֧וּעַ</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_8_3">בִּנּ֛וּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_4">קַדְמִיאֵ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_5">שֵׁרֵבְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_6">יְהוּדָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_7">מַתַּנְיָ֑ה</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_12_8_8">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5621">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_12_8_9">הֻיְּד֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_10">ה֥וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_8_11">וְאֶחָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5625">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_9" data-pasuk-now="5"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_1">וּבַקְבֻּֽקְיָ֨ה</span>
<span data-lnk="0" data-exlnk="0" id="M_12_9_2" class="mila ktiv">וְעֻנִּ֧ו</span>
<span data-lnk="3221225600" data-exlnk="0" id="M_12_9_2_K" class="mila kri">וְעֻנִּ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_3">אֲחֵיהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_4">לְנֶגְדָּ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_9_5">לְמִשְׁמָרֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5632">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_12_10_1">וְיֵשׁ֖וּעַ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_12_10_2">הוֹלִ֣יד</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_12_10_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5636">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_12_10_4">יוֹיָקִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_5">וְיֽוֹיָקִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_6">הוֹלִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5641">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_8">אֶלְיָשִׁ֔יב</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_10_9">וְאֶלְיָשִׁ֖יב</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_12_10_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5645">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_10_11">יוֹיָדָֽע</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5647">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_11" data-pasuk-now="8"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_1">וְיֽוֹיָדָע֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_2">הוֹלִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5651">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_4">יוֹנָתָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_5">וְיוֹנָתָ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_6">הוֹלִ֥יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5656">־</span><span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_11_8">יַדּֽוּעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5658">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_12" data-pasuk-now="10"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_12_1">וּבִימֵי֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_12_2">יֽוֹיָקִ֔ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_12_3">הָי֥וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_12_4">כֹהֲנִ֖ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_12_5">רָאשֵׁ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_12_6">הָאָב֑וֹת</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_12_12_7">לִשְׂרָיָ֣ה</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_12_12_8">מְרָיָ֔ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_12_9">לְיִרְמְיָ֖ה</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_12_10">חֲנַנְיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5669">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_13" data-pasuk-now="4"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_1">לְעֶזְרָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_2">מְשֻׁלָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_3">לַאֲמַרְיָ֖ה</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_13_4">יְהוֹחָנָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5674">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_14" data-pasuk-now="4"><span class="pasuk-header">[יד]</span>
<span data-lnk="0" data-exlnk="0" id="M_12_14_1" class="mila ktiv">לִמְלִ֙וכיּ֙</span>
<span data-lnk="4026532018" data-exlnk="0" id="M_12_14_1_K" class="mila kri">לִמְלִ֙יכוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_2">יֽוֹנָתָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_3">לִשְׁבַנְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_4">יוֹסֵֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5680">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_15" data-pasuk-now="4"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_12_15_1">לְחָרִ֣ם</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_15_2">עַדְנָ֔א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_15_3">לִמְרָי֖וֹת</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_15_4">חֶלְקָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5685">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_16" data-pasuk-now="4"><span class="pasuk-header">[טז]</span>
<span data-lnk="0" data-exlnk="0" id="M_12_16_1" class="mila ktiv">לְעִדֹּ֥יא</span>
<span data-lnk="3221225600" data-exlnk="0" id="M_12_16_1_K" class="mila kri">לְעִדּ֥וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_2">זְכַרְיָ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_16_3">לְגִנְּת֥וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_4">מְשֻׁלָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5691">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_17" data-pasuk-now="5"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_17_1">לַאֲבִיָּ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_17_2">זִכְרִ֑י</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_12_17_3">לְמִ֨נְיָמִ֔ין</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_12_17_4">לְמוֹעַדְיָ֖ה</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_12_17_5">פִּלְטָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5697">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_18" data-pasuk-now="4"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_18_1">לְבִלְגָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_2">שַׁמּ֔וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_18_3">לִֽשְׁמַעְיָ֖ה</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_18_4">יְהוֹנָתָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5702">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_19" data-pasuk-now="4"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_1">וּלְיוֹיָרִ֣יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_2">מַתְּנַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_3">לִידַֽעְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_19_4">עֻזִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5707">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_20" data-pasuk-now="4"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_12_20_1">לְסַלַּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_2">קַלָּ֖י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_20_3">לְעָמ֥וֹק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_20_4">עֵֽבֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5712">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_21" data-pasuk-now="4"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_21_1">לְחִלְקִיָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_2">חֲשַׁבְיָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_3">לִידַֽעְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_21_4">נְתַנְאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5717">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_22" data-pasuk-now="14"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="4026532017" data-exlnk="0" id="M_12_22_1">הַלְוִיִּם֩</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_22_2">בִּימֵ֨י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_12_22_3">אֶלְיָשִׁ֜יב</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_22_4">יוֹיָדָ֤ע</span>
<span class="mila" data-lnk="4026532080" data-exlnk="0" id="M_12_22_5">וְיוֹחָנָן֙</span>
<span class="mila" data-lnk="805306416" data-exlnk="0" id="M_12_22_6">וְיַדּ֔וּעַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_22_7">כְּתוּבִ֖ים</span>
<span class="mila" data-lnk="805306403" data-exlnk="0" id="M_12_22_8">רָאשֵׁ֣י</span>
<span class="mila" data-lnk="805306403" data-exlnk="0" id="M_12_22_9">אָב֑וֹת</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_22_10">וְהַכֹּ֣הֲנִ֔ים</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_22_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5729">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_12_22_12">מַלְכ֖וּת</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_12_22_13">דָּרְיָ֥וֶשׁ</span>
<span class="mila" data-lnk="3221225618" data-exlnk="0" id="M_12_22_14">הַפָּֽרְסִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5734">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5735"> פ </span>
</span>
<br /><span id="PS_12_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_1">בְּנֵ֤י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_2">לֵוִי֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_23_3">רָאשֵׁ֣י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_23_4">הָאָב֔וֹת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_5">כְּתוּבִ֕ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5742">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_7">סֵ֖פֶר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_8">דִּבְרֵ֣י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_9">הַיָּמִ֑ים</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_23_10">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5747">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_12_23_11">יְמֵ֖י</span>
<span class="mila" data-lnk="4026532017" data-exlnk="0" id="M_12_23_12">יוֹחָנָ֥ן</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_13">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5751">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_12_23_14">אֶלְיָשִֽׁיב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5753">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_24" data-pasuk-now="18"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026532018" data-exlnk="0" id="M_12_24_1">וְרָאשֵׁ֣י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_12_24_2">הַ֠לְוִיִּם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_12_24_3">חֲשַׁבְיָ֨ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_24_4">שֵׁרֵבְיָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_24_5">וְיֵשׁ֤וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_24_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5760">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_24_7">קַדְמִיאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_24_8">וַאֲחֵיהֶ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_24_9">לְנֶגְדָּ֔ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_24_10">לְהַלֵּ֣ל</span>
<span class="mila" data-lnk="4026532016" data-exlnk="0" id="M_12_24_11">לְהוֹד֔וֹת</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_12_24_12">בְּמִצְוַ֖ת</span>
<span class="mila" data-lnk="4026532066" data-exlnk="0" id="M_12_24_13">דָּוִ֣יד</span>
<span class="mila" data-lnk="1342177506" data-exlnk="0" id="M_12_24_14">אִישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5769">־</span><span class="mila" data-lnk="4026532066" data-exlnk="0" id="M_12_24_15">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_24_16">מִשְׁמָ֖ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_24_17">לְעֻמַּ֥ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_24_18">מִשְׁמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5774">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_25" data-pasuk-now="11"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_1">מַתַּנְיָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_2">וּבַקְבֻּֽקְיָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_3">עֹבַדְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_4">מְשֻׁלָּ֖ם</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_25_5">טַלְמ֣וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_25_6">עַקּ֑וּב</span>
<span class="mila" data-lnk="1073741953" data-exlnk="0" id="M_12_25_7">שֹׁמְרִ֤ים</span>
<span class="mila" data-lnk="4026532001" data-exlnk="0" id="M_12_25_8">שֽׁוֹעֲרִים֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_25_9">מִשְׁמָ֔ר</span>
<span class="mila" data-lnk="3221225623" data-exlnk="0" id="M_12_25_10">בַּאֲסֻפֵּ֖י</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_12_25_11">הַשְּׁעָרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5786">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_26" data-pasuk-now="13"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="805306403" data-exlnk="0" id="M_12_26_1">אֵ֕לֶּה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_26_2">בִּימֵ֛י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_26_3">יוֹיָקִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_4">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5791">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_5">יֵשׁ֖וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5794">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_7">יוֹצָדָ֑ק</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_26_8">וּבִימֵי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_26_9">נְחֶמְיָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_26_10">הַפֶּחָ֔ה</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_12_26_11">וְעֶזְרָ֥א</span>
<span class="mila" data-lnk="268435490" data-exlnk="0" id="M_12_26_12">הַכֹּהֵ֖ן</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_26_13">הַסּוֹפֵֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5803">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5804"> פ </span>
</span>
<br /><span id="PS_12_27" data-pasuk-now="18"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_27_1">וּבַחֲנֻכַּ֞ת</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_27_2">חוֹמַ֣ת</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_27_3">יְרוּשָׁלִַ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_4">בִּקְשׁ֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5810">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_6">הַלְוִיִּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_7">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5813">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_27_8">מְק֣וֹמֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_9">לַהֲבִיאָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_10">לִירוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_27_11">לַעֲשֹׂ֨ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_12">חֲנֻכָּ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_13">וְשִׂמְחָה֙</span>
<span class="mila" data-lnk="805306403" data-exlnk="0" id="M_12_27_14">וּבְתוֹד֣וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_27_15">וּבְשִׁ֔יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_27_16">מְצִלְתַּ֖יִם</span>
<span class="mila" data-lnk="3489661152" data-exlnk="0" id="M_12_27_17">נְבָלִ֥ים</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_12_27_18">וּבְכִנֹּרֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5825">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_28" data-pasuk-now="10"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_28_1">וַיֵּאָ֣סְפ֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_2">בְּנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_3">הַמְשֹׁרֲרִ֑ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_28_4">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5830">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_12_28_5">הַכִּכָּר֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_28_6">סְבִיב֣וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_28_7">יְרוּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_8">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5835">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_28_9">חַצְרֵ֖י</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_28_10">נְטֹפָתִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5838">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_29" data-pasuk-now="12"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_29_1">וּמִבֵּית֙</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_29_2">הַגִּלְגָּ֔ל</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_29_3">וּמִשְּׂד֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_4">גֶּ֖בַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_29_5">וְעַזְמָ֑וֶת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_6">כִּ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_7">חֲצֵרִ֗ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_8">בָּנ֤וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_9">לָהֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_10">הַמְשֹׁ֣רֲרִ֔ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_11">סְבִיב֖וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_29_12">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5851">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_30" data-pasuk-now="10"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="4026532067" data-exlnk="0" id="M_12_30_1">וַיִּֽטַּהֲר֔וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_30_2">הַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_30_3">וְהַלְוִיִּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_4">וַֽיְטַהֲרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_30_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5857">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_30_6">הָעָ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_30_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5860">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_12_30_8">הַשְּׁעָרִ֖ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_30_9">וְאֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5863">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_12_30_10">הַחוֹמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5865">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_31" data-pasuk-now="16"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_12_31_1">וָאַעֲלֶה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_31_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5868">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_12_31_3">שָׂרֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_31_4">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="1342177441" data-exlnk="0" id="M_12_31_5">מֵעַ֖ל</span>
<span class="mila" data-lnk="4026532001" data-exlnk="0" id="M_12_31_6">לַחוֹמָ֑ה</span>
<span class="mila" data-lnk="805306404" data-exlnk="0" id="M_12_31_7">וָאַעֲמִ֡ידָה</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_12_31_8">שְׁתֵּ֣י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_12_31_9">תוֹדֹת֩</span>
<span class="mila" data-lnk="4026532001" data-exlnk="0" id="M_12_31_10">גְּדוֹלֹ֨ת</span>
<span class="mila" data-lnk="3221225623" data-exlnk="0" id="M_12_31_11">וְתַהֲלֻכֹ֤ת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_12_31_12">לַיָּמִין֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_31_13">מֵעַ֣ל</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_12_31_14">לַחוֹמָ֔ה</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_12_31_15">לְשַׁ֖עַר</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_12_31_16">הָאַשְׁפֹּֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5883">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_32" data-pasuk-now="6"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_32_1">וַיֵּ֤לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_32_2">אַחֲרֵיהֶם֙</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_12_32_3">הוֹשַׁ֣עְיָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_32_4">וַחֲצִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_32_5">שָׂרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_32_6">יְהוּדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5890">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_33" data-pasuk-now="3"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_33_1">וַעֲזַרְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_33_2">עֶזְרָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_33_3">וּמְשֻׁלָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5894">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_34" data-pasuk-now="4"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="4026532065" data-exlnk="0" id="M_12_34_1">יְהוּדָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_34_2">וּבִנְיָמִ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_34_3">וּֽשְׁמַֽעְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_34_4">וְיִרְמְיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5900">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5901"> פ </span>
</span>
<br /><span id="PS_12_35" data-pasuk-now="16"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_35_1">וּמִבְּנֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_35_2">הַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_35_3">בַּחֲצֹצְר֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_4">זְכַרְיָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_5">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5907">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_6">יוֹנָתָ֜ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_7">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5910">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_8">שְׁמַֽעְיָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5913">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_10">מַתַּנְיָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_11">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5916">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_35_12">מִ֣יכָיָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_13">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5919">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_14">זַכּ֖וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_15">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5922">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_35_16">אָסָֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5924">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_36" data-pasuk-now="17"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_36_1">וְֽאֶחָ֡יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_36_2">שְֽׁמַעְיָ֡ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_36_3">וַעֲזַרְאֵ֡ל</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_36_4">מִֽלֲלַ֡י</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_36_5">גִּֽלֲלַ֡י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_36_6">מָעַ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_36_7">נְתַנְאֵ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_36_8">וִֽיהוּדָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_36_9">חֲנָ֔נִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_36_10">בִּכְלֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5935">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_36_11">שִׁ֥יר</span>
<span class="mila" data-lnk="1342177442" data-exlnk="0" id="M_12_36_12">דָּוִ֖יד</span>
<span class="mila" data-lnk="1342177442" data-exlnk="0" id="M_12_36_13">אִ֣ישׁ</span>
<span class="mila" data-lnk="3758096546" data-exlnk="0" id="M_12_36_14">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_36_15">וְעֶזְרָ֥א</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_36_16">הַסּוֹפֵ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_36_17">לִפְנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5943">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_37" data-pasuk-now="18"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_37_1">וְעַל֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_37_2">שַׁ֨עַר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_37_3">הָעַ֜יִן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_37_4">וְנֶגְדָּ֗ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_37_5">עָלוּ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_37_6">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5950">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_12_37_7">מַעֲלוֹת֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_37_8">עִ֣יר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_37_9">דָּוִ֔יד</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_37_10">בַּֽמַּעֲלֶ֖ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_37_11">לַחוֹמָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_37_12">מֵעַל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_37_13">לְבֵ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_37_14">דָּוִ֔יד</span>
<span class="mila" data-lnk="3489661088" data-exlnk="0" id="M_12_37_15">וְעַ֛ד</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_37_16">שַׁ֥עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_37_17">הַמַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_37_18">מִזְרָֽח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5963">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_38" data-pasuk-now="16"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_12_38_1">וְהַתּוֹדָ֧ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_12_38_2">הַשֵּׁנִ֛ית</span>
<span class="mila" data-lnk="4026532087" data-exlnk="0" id="M_12_38_3">הַהוֹלֶ֥כֶת</span>
<span class="mila" data-lnk="3221225623" data-exlnk="0" id="M_12_38_4">לְמ֖וֹאל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_38_5">וַאֲנִ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_38_6">אַחֲרֶ֑יהָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_38_7">וַחֲצִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_38_8">הָעָ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_38_9">מֵעַ֣ל</span>
<span class="mila" data-lnk="3221225604" data-exlnk="0" id="M_12_38_10">לְהַחוֹמָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_38_11">מֵעַל֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_38_12">לְמִגְדַּ֣ל</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_38_13">הַתַּנּוּרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_38_14">וְעַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_38_15">הַחוֹמָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_38_16">הָרְחָבָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_39" data-pasuk-now="19"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_1">וּמֵעַ֣ל</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_39_2">לְשַֽׁעַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5983">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_39_3">אֶ֠פְרַיִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_4">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5986">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_39_5">שַׁ֨עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_6">הַיְשָׁנָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_7">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5990">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_8">שַׁ֣עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_9">הַדָּגִ֗ים</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_39_10">וּמִגְדַּ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_11">חֲנַנְאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_12">וּמִגְדַּ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_13">הַמֵּאָ֔ה</span>
<span class="mila" data-lnk="3489661088" data-exlnk="0" id="M_12_39_14">וְעַ֖ד</span>
<span class="mila" data-lnk="3758096544" data-exlnk="0" id="M_12_39_15">שַׁ֣עַר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_39_16">הַצֹּ֑אן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_39_17">וְעָ֣מְד֔וּ</span>
<span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_12_39_18">בְּשַׁ֖עַר</span>
<span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_12_39_19">הַמַּטָּרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6003">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_40" data-pasuk-now="9"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_40_1">וַֽתַּעֲמֹ֛דְנָה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_40_2">שְׁתֵּ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_40_3">הַתּוֹדֹ֖ת</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_12_40_4">בְּבֵ֣ית</span>
<span class="mila" data-lnk="3758096544" data-exlnk="0" id="M_12_40_5">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_40_6">וַאֲנִ֕י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_40_7">וַחֲצִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_40_8">הַסְּגָנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_40_9">עִמִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_41" data-pasuk-now="9"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_41_1">וְהַכֹּהֲנִ֡ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_41_2">אֶלְיָקִ֡ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_41_3">מַעֲשֵׂיָ֡ה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_41_4">מִ֠נְיָמִין</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_41_5">מִיכָיָ֧ה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_41_6">אֶלְיוֹעֵינַ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_41_7">זְכַרְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_41_8">חֲנַנְיָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_41_9">בַּחֲצֹצְרֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6023">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_42" data-pasuk-now="12"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_1">וּמַעֲשֵׂיָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_2">וּֽשְׁמַֽעְיָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_3">וְאֶלְעָזָ֧ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_4">וְעֻזִּ֛י</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_42_5">וִיהוֹחָנָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_6">וּמַלְכִּיָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_7">וְעֵילָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_8">וָעָ֑זֶר</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_42_9">וַיַּשְׁמִ֙יעוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_10">הַמְשֹׁ֣רְרִ֔ים</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_42_11">וְיִֽזְרַחְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_42_12">הַפָּקִֽיד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6036">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_43" data-pasuk-now="19"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_1">וַיִּזְבְּח֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_2">בַיּוֹם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6039">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_3">הַ֠הוּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_4">זְבָחִ֨ים</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_12_43_5">גְּדוֹלִ֜ים</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_43_6">וַיִּשְׂמָ֗חוּ</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_12_43_7">כִּ֤י</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_12_43_8">הָאֱלֹהִים֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_43_9">שִׂמְּחָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_10">שִׂמְחָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_11">גְדוֹלָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_12">וְגַ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_13">הַנָּשִׁ֛ים</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_12_43_14">וְהַיְלָדִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_15">שָׂמֵ֑חוּ</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_43_16">וַתִּשָּׁמַ֛ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_17">שִׂמְחַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_18">יְרוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_43_19">מֵרָחֽוֹק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6057">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_44" data-pasuk-now="26"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="4026532003" data-exlnk="0" id="M_12_44_1">וַיִּפָּקְד֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_44_2">בַיּוֹם֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_44_3">הַה֨וּא</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_44_4">אֲנָשִׁ֜ים</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_12_44_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6063">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_12_44_6">הַנְּשָׁכ֗וֹת</span>
<span class="mila" data-lnk="4026532006" data-exlnk="0" id="M_12_44_7">לָא֨וֹצָר֥וֹת</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_12_44_8">לַתְּרוּמוֹת֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_44_9">לָרֵאשִׁ֣ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_44_10">וְלַמַּעַשְׂרוֹת֒</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_44_11">לִכְנ֨וֹס</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_44_12">בָּהֶ֜ם</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_12_44_13">לִשְׂדֵ֤י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_44_14">הֶעָרִים֙</span>
<span class="mila" data-lnk="3221225621" data-exlnk="0" id="M_12_44_15">מְנָא֣וֹת</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_12_44_16">הַתּוֹרָ֔ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_44_17">לַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_44_18">וְלַלְוִיִּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_44_19">כִּ֚י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_44_20">שִׂמְחַ֣ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_44_21">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="3489661152" data-exlnk="0" id="M_12_44_22">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6081">־</span><span class="mila" data-lnk="3758096611" data-exlnk="0" id="M_12_44_23">הַכֹּהֲנִ֥ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_44_24">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6084">־</span><span class="mila" data-lnk="19" data-exlnk="0" id="M_12_44_25">הַלְוִיִּ֖ם</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_44_26">הָעֹמְדִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6087">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_45" data-pasuk-now="11"><span class="pasuk-header">[מה]</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_12_45_1">וַֽיִּשְׁמְר֞וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_45_2">מִשְׁמֶ֤רֶת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_45_3">אֱלֹֽהֵיהֶם֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_12_45_4">וּמִשְׁמֶ֣רֶת</span>
<span class="mila" data-lnk="4026532022" data-exlnk="0" id="M_12_45_5">הַֽטָּהֳרָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_45_6">וְהַמְשֹׁרֲרִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_45_7">וְהַשֹּׁעֲרִ֑ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_45_8">כְּמִצְוַ֥ת</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_45_9">דָּוִ֖יד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_45_10">שְׁלֹמֹ֥ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_12_45_11">בְנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6099">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_46" data-pasuk-now="11"><span class="pasuk-header">[מו]</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_12_46_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6101">־</span><span class="mila" data-lnk="20" data-exlnk="0" id="M_12_46_2">בִימֵ֥י</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_12_46_3">דָוִ֛יד</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_12_46_4">וְאָסָ֖ף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_46_5">מִקֶּ֑דֶם</span>
<span data-lnk="0" data-exlnk="0" id="M_12_46_6" class="mila ktiv">רָאשֵׁ֙</span>
<span data-lnk="3221225616" data-exlnk="0" id="M_12_46_6_K" class="mila kri">רָאשֵׁי֙</span>
<span class="mila" data-lnk="20" data-exlnk="0" id="M_12_46_7">הַמְשֹׁ֣רְרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_46_8">וְשִׁיר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6110">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_46_9">תְּהִלָּ֥ה</span>
<span class="mila" data-lnk="1879048352" data-exlnk="0" id="M_12_46_10">וְהֹד֖וֹת</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_12_46_11">לֵאלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6114">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_47" data-pasuk-now="19"><span class="pasuk-header">[מז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_47_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6116">־</span><span class="mila" data-lnk="16" data-exlnk="0" id="M_12_47_2">יִשְׂרָאֵל֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_47_3">בִּימֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_47_4">זְרֻבָּבֶ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_47_5">וּבִימֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_47_6">נְחֶמְיָ֗ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_47_7">נֹ֥תְנִ֛ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_47_8">מְנָי֛וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_47_9">הַמְשֹׁרֲרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_47_10">וְהַשֹּׁעֲרִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_47_11">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="6127">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_12_47_12">י֣וֹם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_47_13">בְּיוֹמ֑וֹ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_12_47_14">וּמַקְדִּשִׁים֙</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_12_47_15">לַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_12_47_16">וְהַ֨לְוִיִּ֔ם</span>
<span class="mila" data-lnk="4026532018" data-exlnk="0" id="M_12_47_17">מַקְדִּשִׁ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_47_18">לִבְנֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_47_19">אַהֲרֹֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="6137">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="6138"> פ </span>
</span>
<br /></p>