<p id="PR_9" data-perek-now="656" data-perek-nops="37"><span class="perek-header">פרק ט</span>
<br /><span id="PS_9_1" data-pasuk-now="12"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_1">וּבְיוֹם֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_2">עֶשְׂרִ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_3">וְאַרְבָּעָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_4">לַחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_5">הַזֶּ֗ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_1_6">נֶאֶסְפ֤וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_1_7">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3851">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_1_8">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_1_9">בְּצ֣וֹם</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_1_10">וּבְשַׂקִּ֔ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_1_11">וַאֲדָמָ֖ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_1_12">עֲלֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3857">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_2" data-pasuk-now="12"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_1">וַיִּבָּֽדְלוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_2">זֶ֣רַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_3">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_4">מִכֹּ֖ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_5">בְּנֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_6">נֵכָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_7">וַיַּעַמְד֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_8">וַיִּתְוַדּוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3867">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_2_10">חַטֹּ֣אתֵיהֶ֔ם</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_9_2_11">וַעֲוֺנ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_12">אֲבֹתֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3871">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_3_1">וַיָּק֙וּמוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_2">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3874">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_3">עָמְדָ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_4">וַֽיִּקְרְא֗וּ</span>
<span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_3_5">בְּסֵ֨פֶר</span>
<span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_3_6">תּוֹרַ֧ת</span>
<span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_3_7">יְהוָ֛ה</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_3_8">אֱלֹהֵיהֶ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_9">רְבִעִ֣ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_3_10">הַיּ֑וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_11">וּרְבִעִית֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_12">מִתְוַדִּ֣ים</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_9_3_13">וּמִֽשְׁתַּחֲוִ֔ים</span>
<span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_3_14">לַיהוָ֖ה</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_3_15">אֱלֹהֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3889">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3890"> פ </span>
</span>
<br /><span id="PS_9_4" data-pasuk-now="18"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_9_4_1">וַיָּ֜קָם</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_9_4_2">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3893">־</span><span class="mila" data-lnk="23" data-exlnk="0" id="M_9_4_3">מַעֲלֵ֣ה</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_9_4_4">הַלְוִיִּ֗ם</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_4_5">יֵשׁ֨וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_6">וּבָנִ֜י</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_9_4_7">קַדְמִיאֵ֧ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_8">שְׁבַנְיָ֛ה</span>
<span class="mila" data-lnk="4026532016" data-exlnk="0" id="M_9_4_9">בֻּנִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_10">שֵׁרֵבְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_11">בָּנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_12">כְנָ֑נִי</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_4_13">וַֽיִּזְעֲקוּ֙</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_9_4_14">בְּק֣וֹל</span>
<span class="mila" data-lnk="2684354720" data-exlnk="0" id="M_9_4_15">גָּד֔וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_16">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3908">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_17">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_4_18">אֱלֹהֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3911">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_5" data-pasuk-now="27"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_1">וַיֹּאמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_2">הַלְוִיִּ֡ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_3">יֵשׁ֣וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_4">וְ֠קַדְמִיאֵל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_5">בָּנִ֨י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_5_6">חֲשַׁבְנְיָ֜ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_7">שֵׁרֵבְיָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_8">הֽוֹדִיָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_9">שְׁבַנְיָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_10">פְתַֽחְיָ֔ה</span>
<span class="mila" data-lnk="1073741958" data-exlnk="0" id="M_9_5_11">ק֗וּמוּ</span>
<span class="mila" data-lnk="3221225606" data-exlnk="0" id="M_9_5_12">בָּרֲכוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_5_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3925">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_5_14">יְהוָ֣ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_5_15">אֱלֹהֵיכֶ֔ם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_9_5_16">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3929">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_9_5_17">הָעוֹלָ֖ם</span>
<span class="mila" data-lnk="3489661095" data-exlnk="0" id="M_9_5_18">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3932">־</span><span class="mila" data-lnk="3758096551" data-exlnk="0" id="M_9_5_19">הָעוֹלָ֑ם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_9_5_20">וִיבָֽרֲכוּ֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_9_5_21">שֵׁ֣ם</span>
<span class="mila" data-lnk="4026532071" data-exlnk="0" id="M_9_5_22">כְּבֹדֶ֔ךָ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_9_5_23">וּמְרוֹמַ֥ם</span>
<span class="mila" data-lnk="3221225607" data-exlnk="0" id="M_9_5_24">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3939">־</span><span class="mila" data-lnk="1073741959" data-exlnk="0" id="M_9_5_25">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3941">־</span><span class="mila" data-lnk="3221225607" data-exlnk="0" id="M_9_5_26">בְּרָכָ֖ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_5_27">וּתְהִלָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3944">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_6" data-pasuk-now="28"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_1">אַתָּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3946">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_2">ה֣וּא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_3">יְהוָה֘</span>
<span class="mila" data-lnk="4026532066" data-exlnk="0" id="M_9_6_4">לְבַדֶּךָ֒</span>
<span data-lnk="0" data-exlnk="0" id="M_9_6_5" class="mila ktiv">אַתָּ֣</span>
<span data-lnk="2" data-exlnk="0" id="M_9_6_5_K" class="mila kri">אַתָּ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_6">עָשִׂ֡יתָ</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_6_7">אֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3954">־</span><span class="mila" data-lnk="1073741958" data-exlnk="0" id="M_9_6_8">הַשָּׁמַיִם֩</span>
<span class="mila" data-lnk="1073741958" data-exlnk="0" id="M_9_6_9">שְׁמֵ֨י</span>
<span class="mila" data-lnk="2147483782" data-exlnk="0" id="M_9_6_10">הַשָּׁמַ֜יִם</span>
<span class="mila" data-lnk="1879048418" data-exlnk="0" id="M_9_6_11">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3959">־</span><span class="mila" data-lnk="3758096610" data-exlnk="0" id="M_9_6_12">צְבָאָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_13">הָאָ֜רֶץ</span>
<span class="mila" data-lnk="1879048354" data-exlnk="0" id="M_9_6_14">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3963">־</span><span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_6_15">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_6_16">עָלֶ֙יהָ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_17">הַיַּמִּים֙</span>
<span class="mila" data-lnk="805306402" data-exlnk="0" id="M_9_6_18">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3968">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_19">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_20">בָּהֶ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_21">וְאַתָּ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_22">מְחַיֶּ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_23">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3974">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_6_24">כֻּלָּ֑ם</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_9_6_25">וּצְבָ֥א</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_6_26">הַשָּׁמַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_27">לְךָ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_28">מִשְׁתַּחֲוִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3980">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_7" data-pasuk-now="13"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_1">אַתָּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3982">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_2">הוּא֙</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_7_3">יְהוָ֣ה</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_7_4">הָאֱלֹהִ֔ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_5">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_6">בָּחַ֙רְתָּ֙</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_7_7">בְּאַבְרָ֔ם</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_7_8">וְהוֹצֵאת֖וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_9">מֵא֣וּר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_10">כַּשְׂדִּ֑ים</span>
<span class="mila" data-lnk="3221225603" data-exlnk="0" id="M_9_7_11">וְשַׂ֥מְתָּ</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_7_12">שְּׁמ֖וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_7_13">אַבְרָהָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3995">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_8" data-pasuk-now="25"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_1">וּמָצָ֣אתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3998">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_3">לְבָבוֹ֘</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_4">נֶאֱמָ֣ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_5">לְפָנֶיךָ֒</span>
<span class="mila" data-lnk="3221225601" data-exlnk="0" id="M_9_8_6">וְכָר֨וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_8_7">עִמּ֜וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_8">הַבְּרִ֗ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_9">לָתֵ֡ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4007">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_11">אֶרֶץ֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_12">הַכְּנַעֲנִ֨י</span>
<span class="mila" data-lnk="3489661090" data-exlnk="0" id="M_9_8_13">הַחִתִּ֜י</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_8_14">הָאֱמֹרִ֧י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_15">וְהַפְּרִזִּ֛י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_16">וְהַיְבוּסִ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_17">וְהַגִּרְגָּשִׁ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_18">לָתֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_19">לְזַרְע֑וֹ</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_8_20">וַתָּ֙קֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_21">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4019">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_22">דְּבָרֶ֔יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_23">כִּ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_24">צַדִּ֖יק</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_8_25">אָֽתָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4024">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_9" data-pasuk-now="11"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_1">וַתֵּ֛רֶא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4027">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_3">עֳנִ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_4">אֲבֹתֵ֖ינוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_5">בְּמִצְרָ֑יִם</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_9_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4032">־</span><span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_9_9_7">זַעֲקָתָ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_8">שָׁמַ֖עְתָּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4036">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_10">יַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4038">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_9_11">סֽוּף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4040">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_10" data-pasuk-now="19"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_10_1">וַ֠תִּתֵּן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_2">אֹתֹ֨ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_10_3">וּמֹפְתִ֜ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_10_4">בְּפַרְעֹ֤ה</span>
<span class="mila" data-lnk="4026532066" data-exlnk="0" id="M_9_10_5">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4046">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_10_6">עֲבָדָיו֙</span>
<span class="mila" data-lnk="4026531938" data-exlnk="0" id="M_9_10_7">וּבְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4049">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_10_8">עַ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_10_9">אַרְצ֔וֹ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_9_10_10">כִּ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_10_11">יָדַ֔עְתָּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_9_10_12">כִּ֥י</span>
<span class="mila" data-lnk="4026532013" data-exlnk="0" id="M_9_10_13">הֵזִ֖ידוּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_9_10_14">עֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_15">וַתַּֽעַשׂ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4058">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_16">לְךָ֥</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_10_17">שֵׁ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_18">כְּהַיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_19">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4063">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_11_1">וְהַיָּם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_2">בָּקַ֣עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_3">לִפְנֵיהֶ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_4">וַיַּעַבְר֥וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_5">בְתוֹךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4069">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_6">הַיָּ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_7">בַּיַּבָּשָׁ֑ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_8">וְֽאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4073">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_9">רֹ֨דְפֵיהֶ֜ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_10">הִשְׁלַ֧כְתָּ</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_11_11">בִמְצוֹלֹ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_12">כְּמוֹ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4078">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_13">אֶ֖בֶן</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_11_14">בְּמַ֥יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_15">עַזִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4082">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_12" data-pasuk-now="14"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_1">וּבְעַמּ֣וּד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_2">עָנָ֔ן</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_12_3">הִנְחִיתָ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_12_4">יוֹמָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_5">וּבְעַמּ֥וּד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_6">אֵשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_7">לַ֔יְלָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_8">לְהָאִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_9">לָהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4093">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_11">הַדֶּ֖רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_13">יֵֽלְכוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4097">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_14">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4099">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1073741962" data-exlnk="0" id="M_9_13_1">וְעַ֤ל</span>
<span class="mila" data-lnk="1073741962" data-exlnk="0" id="M_9_13_2">הַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4102">־</span><span class="mila" data-lnk="3221225610" data-exlnk="0" id="M_9_13_3">סִינַי֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_13_4">יָרַ֔דְתָּ</span>
<span class="mila" data-lnk="4026532013" data-exlnk="0" id="M_9_13_5">וְדַבֵּ֥ר</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_13_6">עִמָּהֶ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_13_7">מִשָּׁמָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_8">וַתִּתֵּ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_9">לָהֶ֜ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_13_10">מִשְׁפָּטִ֤ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_13_11">יְשָׁרִים֙</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_13_12">וְתוֹר֣וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_13_13">אֱמֶ֔ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_13_14">חֻקִּ֥ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_13_15">וּמִצְוֺ֖ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_13_16">טוֹבִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4117">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_14" data-pasuk-now="13"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_14_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4119">־</span><span class="mila" data-lnk="4026532068" data-exlnk="0" id="M_9_14_2">שַׁבַּ֥ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_14_3">קָדְשְׁךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_4">הוֹדַ֣עְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_5">לָהֶ֑ם</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_14_6">וּמִצְו֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_7">וְחֻקִּים֙</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_14_8">וְתוֹרָ֔ה</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_14_9">צִוִּ֣יתָ</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_9_14_10">לָהֶ֔ם</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_9_14_11">בְּיַ֖ד</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_14_12">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_13">עַבְדֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4132">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_15" data-pasuk-now="22"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_9_15_1">וְ֠לֶחֶם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_2">מִשָּׁמַ֜יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_3">נָתַ֤תָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_4">לָהֶם֙</span>
<span class="mila" data-lnk="3221225605" data-exlnk="0" id="M_9_15_5">לִרְעָבָ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_6">וּמַ֗יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_7">מִסֶּ֛לַע</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_8">הוֹצֵ֥אתָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_9">לָהֶ֖ם</span>
<span class="mila" data-lnk="4026532003" data-exlnk="0" id="M_9_15_10">לִצְמָאָ֑ם</span>
<span class="mila" data-lnk="268435490" data-exlnk="0" id="M_9_15_11">וַתֹּ֣אמֶר</span>
<span class="mila" data-lnk="536870946" data-exlnk="0" id="M_9_15_12">לָהֶ֗ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_13">לָבוֹא֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_14">לָרֶ֣שֶׁת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4148">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_16">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_17">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4151">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_18">נָשָׂ֥אתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4154">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_20">יָדְךָ֖</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_21">לָתֵ֥ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_15_22">לָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4158">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_16" data-pasuk-now="10"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_16_1">וְהֵ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_2">וַאֲבֹתֵ֖ינוּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_16_3">הֵזִ֑ידוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_4">וַיַּקְשׁוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4164">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_16_6">עָרְפָּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_7">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_8">שָׁמְע֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4169">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_10">מִצְוֺתֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4171">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_17" data-pasuk-now="27"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_17_1">וַיְמָאֲנ֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_2">לִשְׁמֹ֗עַ</span>
<span class="mila" data-lnk="3489661154" data-exlnk="0" id="M_9_17_3">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4175">־</span><span class="mila" data-lnk="2684354786" data-exlnk="0" id="M_9_17_4">זָכְר֤וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_17_5">נִפְלְאֹתֶ֙יךָ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_7">עָשִׂ֣יתָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_8">עִמָּהֶ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_9">וַיַּקְשׁוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4183">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_11">עָרְפָּ֔ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_17_12">וַיִּתְּנוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4186">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_9_17_13">רֹ֛אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_14">לָשׁ֥וּב</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_17_15">לְעַבְדֻתָ֖ם</span>
<span class="mila" data-lnk="3221225617" data-exlnk="0" id="M_9_17_16">בְּמִרְיָ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_17">וְאַתָּה֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_18">אֱל֨וֹהַּ</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_17_19">סְלִיח֜וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_20">חַנּ֧וּן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_21">וְרַח֛וּם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_22">אֶרֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4197">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_17_23">אַפַּ֥יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_24">וְרַב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4200">־</span><span data-lnk="0" data-exlnk="0" id="M_9_17_25" class="mila ktiv">וחֶ֖סֶד</span>
<span data-lnk="3221225600" data-exlnk="0" id="M_9_17_25_K" class="mila kri">חֶ֖סֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_26">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_27">עֲזַבְתָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4205">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_18" data-pasuk-now="15"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_18_1">אַ֗ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_2">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4208">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_3">עָשׂ֤וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_18_4">לָהֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_18_5">עֵ֣גֶל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_18_6">מַסֵּכָ֔ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_18_7">וַיֹּ֣אמְר֔וּ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_18_8">זֶ֣ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_18_9">אֱלֹהֶ֔יךָ</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_9_18_10">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_9_18_11">הֶעֶלְךָ֖</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_18_12">מִמִּצְרָ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_13">וַֽיַּעֲשׂ֔וּ</span>
<span class="mila" data-lnk="805306416" data-exlnk="0" id="M_9_18_14">נֶאָצ֖וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_18_15">גְּדֹלֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4222">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_19" data-pasuk-now="26"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_19_1">וְאַתָּה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_19_2">בְּרַחֲמֶ֣יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_3">הָרַבִּ֔ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_19_4">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_5">עֲזַבְתָּ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_19_6">בַּמִּדְבָּ֑ר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_19_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4230">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_9_19_8">עַמּ֣וּד</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_19_9">הֶ֠עָנָן</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_19_10">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4234">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_9_19_11">סָ֨ר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_19_12">מֵעֲלֵיהֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_13">בְּיוֹמָם֙</span>
<span class="mila" data-lnk="3221225616" data-exlnk="0" id="M_9_19_14">לְהַנְחֹתָ֣ם</span>
<span class="mila" data-lnk="3221225621" data-exlnk="0" id="M_9_19_15">בְּהַדֶּ֔רֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_16">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4241">־</span><span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_19_17">עַמּ֨וּד</span>
<span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_9_19_18">הָאֵ֤שׁ</span>
<span class="mila" data-lnk="4026532066" data-exlnk="0" id="M_9_19_19">בְּלַ֙יְלָה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_19_20">לְהָאִ֣יר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_19_21">לָהֶ֔ם</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_9_19_22">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4248">־</span><span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_9_19_23">הַדֶּ֖רֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_19_24">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_25">יֵֽלְכוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4252">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_26">בָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4254">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_20_1">וְרוּחֲךָ֙</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_9_20_2">הַטּוֹבָ֔ה</span>
<span class="mila" data-lnk="805306414" data-exlnk="0" id="M_9_20_3">נָתַ֖תָּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_20_4">לְהַשְׂכִּילָ֑ם</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_20_5">וּמַנְךָ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_20_6">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4261">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_20_7">מָנַ֣עְתָּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_20_8">מִפִּיהֶ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_20_9">וּמַ֛יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_20_10">נָתַ֥תָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_20_11">לָהֶ֖ם</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_20_12">לִצְמָאָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4268">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_21" data-pasuk-now="12"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_21_1">וְאַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_21_2">שָׁנָ֛ה</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_21_3">כִּלְכַּלְתָּ֥ם</span>
<span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_9_21_4">בַּמִּדְבָּ֖ר</span>
<span class="mila" data-lnk="22" data-exlnk="0" id="M_9_21_5">לֹ֣א</span>
<span class="mila" data-lnk="3221225622" data-exlnk="0" id="M_9_21_6">חָסֵ֑רוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_21_7">שַׂלְמֹֽתֵיהֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_21_8">לֹ֣א</span>
<span class="mila" data-lnk="805306402" data-exlnk="0" id="M_9_21_9">בָל֔וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_21_10">וְרַגְלֵיהֶ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_21_11">לֹ֥א</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_21_12">בָצֵֽקוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4281">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_22" data-pasuk-now="19"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_1">וַתִּתֵּ֨ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_22_2">לָהֶ֤ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_22_3">מַמְלָכוֹת֙</span>
<span class="mila" data-lnk="3221225606" data-exlnk="0" id="M_9_22_4">וַעֲמָמִ֔ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_22_5">וַֽתַּחְלְקֵ֖ם</span>
<span class="mila" data-lnk="3221225607" data-exlnk="0" id="M_9_22_6">לְפֵאָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_7">וַיִּֽירְשׁ֞וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_22_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4290">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_22_9">אֶ֣רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_22_10">סִיח֗וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_22_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4294">־</span><span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_22_12">אֶ֙רֶץ֙</span>
<span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_22_13">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_9_22_14">חֶשְׁבּ֔וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4299">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_16">אֶ֖רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_17">ע֥וֹג</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_18">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4303">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_19">הַבָּשָֽׁן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4305">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_23" data-pasuk-now="12"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_1">וּבְנֵיהֶ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_23_2">הִרְבִּ֔יתָ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_23_3">כְּכֹכְבֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_4">הַשָּׁמָ֑יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_23_5">וַתְּבִיאֵם֙</span>
<span class="mila" data-lnk="805306402" data-exlnk="0" id="M_9_23_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4312">־</span><span class="mila" data-lnk="536870946" data-exlnk="0" id="M_9_23_7">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_23_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4315">־</span><span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_9_23_9">אָמַ֥רְתָּ</span>
<span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_9_23_10">לַאֲבֹתֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_11">לָב֥וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_12">לָרָֽשֶׁת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4320">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_24" data-pasuk-now="21"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_1">וַיָּבֹ֤אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_2">הַבָּנִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_3">וַיִּֽירְשׁ֣וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_24_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4325">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_5">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_24_6">וַתַּכְנַ֨ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_7">לִפְנֵיהֶ֜ם</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_9_24_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4330">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_9">יֹשְׁבֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_10">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_24_11">הַכְּנַ֣עֲנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_12">וַֽתִּתְּנֵ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_13">בְּיָדָ֑ם</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_9_24_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4337">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_15">מַלְכֵיהֶם֙</span>
<span class="mila" data-lnk="1610612896" data-exlnk="0" id="M_9_24_16">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4340">־</span><span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_9_24_17">עַֽמְמֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_18">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_19">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_20">בָּהֶ֖ם</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_24_21">כִּרְצוֹנָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4346">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_25" data-pasuk-now="23"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_1">וַֽיִּלְכְּד֞וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_2">עָרִ֣ים</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_25_3">בְּצוּרֹת֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_4">וַאֲדָמָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_5">שְׁמֵנָה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_6">וַיִּֽירְשׁ֡וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_7">בָּתִּ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_8">מְלֵֽאִים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4355">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_9">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4357">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_25_10">ט֠וּב</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_25_11">בֹּר֨וֹת</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_25_12">חֲצוּבִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_13">כְּרָמִ֧ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_14">וְזֵיתִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_15">וְעֵ֥ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_16">מַאֲכָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_17">לָרֹ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_18">וַיֹּאכְל֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_19">וַֽיִּשְׂבְּעוּ֙</span>
<span class="mila" data-lnk="3221225604" data-exlnk="0" id="M_9_25_20">וַיַּשְׁמִ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_21">וַיִּֽתְעַדְּנ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_22">בְּטוּבְךָ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_23">הַגָּדֽוֹל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4372">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_26" data-pasuk-now="19"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_1">וַיַּמְר֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_2">וַֽיִּמְרְד֜וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_26_3">בָּ֗ךְ</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_26_4">וַיַּשְׁלִ֤כוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4378">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_26_6">תּוֹרָֽתְךָ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_26_7">אַחֲרֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_26_8">גַוָּ֔ם</span>
<span class="mila" data-lnk="3489661152" data-exlnk="0" id="M_9_26_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4383">־</span><span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_9_26_10">נְבִיאֶ֣יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_26_11">הָרָ֔גוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4387">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_13">הֵעִ֥ידוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_14">בָ֖ם</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_26_15">לַהֲשִׁיבָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_16">אֵלֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_17">וַֽיַּעֲשׂ֔וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_26_18">נֶאָצ֖וֹת</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_26_19">גְּדוֹלֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4395">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_27" data-pasuk-now="20"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_1">וַֽתִּתְּנֵם֙</span>
<span class="mila" data-lnk="805306402" data-exlnk="0" id="M_9_27_2">בְּיַ֣ד</span>
<span class="mila" data-lnk="805306402" data-exlnk="0" id="M_9_27_3">צָרֵיהֶ֔ם</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_27_4">וַיָּצֵ֖רוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_5">לָהֶ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_6">וּבְעֵ֤ת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_7">צָֽרָתָם֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_27_8">יִצְעֲק֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_9">אֵלֶ֔יךָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_27_10">וְאַתָּה֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_27_11">מִשָּׁמַ֣יִם</span>
<span class="mila" data-lnk="3221225601" data-exlnk="0" id="M_9_27_12">תִּשְׁמָ֔ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_13">וּֽכְרַחֲמֶ֣יךָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_27_14">הָרַבִּ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_15">תִּתֵּ֤ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_16">לָהֶם֙</span>
<span class="mila" data-lnk="4026532066" data-exlnk="0" id="M_9_27_17">מֽוֹשִׁיעִ֔ים</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_27_18">וְיוֹשִׁיע֖וּם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_19">מִיַּ֥ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_27_20">צָרֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4416">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_28" data-pasuk-now="20"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_28_1">וּכְנ֣וֹחַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_28_2">לָהֶ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_28_3">יָשׁ֕וּבוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_4">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_28_5">רַ֖ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_6">לְפָנֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_7">וַתַּעַזְבֵ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_8">בְּיַ֤ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_28_9">אֹֽיְבֵיהֶם֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_28_10">וַיִּרְדּ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_11">בָהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_12">וַיָּשׁ֙וּבוּ֙</span>
<span class="mila" data-lnk="3221225604" data-exlnk="0" id="M_9_28_13">וַיִּזְעָק֔וּךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_14">וְאַתָּ֞ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_15">מִשָּׁמַ֧יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_16">תִּשְׁמַ֛ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_17">וְתַצִּילֵ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_18">כְּֽרַחֲמֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_19">רַבּ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_28_20">עִתִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4437">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_29" data-pasuk-now="25"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="1342177456" data-exlnk="0" id="M_9_29_1">וַתָּ֨עַד</span>
<span class="mila" data-lnk="2952790194" data-exlnk="0" id="M_9_29_2">בָּהֶ֜ם</span>
<span class="mila" data-lnk="4026532066" data-exlnk="0" id="M_9_29_3">לַהֲשִׁיבָ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_29_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4442">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_29_5">תּוֹרָתֶ֗ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_6">וְהֵ֨מָּה</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_9_29_7">הֵזִ֜ידוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_29_8">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4447">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_29_9">שָׁמְע֤וּ</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_29_10">לְמִצְוֺתֶ֙יךָ֙</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_9_29_11">וּבְמִשְׁפָּטֶ֣יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_29_12">חָֽטְאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4452">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_29_13">בָ֔ם</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_9_29_14">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4455">־</span><span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_9_29_15">יַעֲשֶׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_16">אָדָ֖ם</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_29_17">וְחָיָ֣ה</span>
<span class="mila" data-lnk="3221225616" data-exlnk="0" id="M_9_29_18">בָהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_19">וַיִּתְּנ֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_20">כָתֵף֙</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_29_21">סוֹרֶ֔רֶת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_29_22">וְעָרְפָּ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_29_23">הִקְשׁ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_24">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_25">שָׁמֵֽעוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4467">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_30" data-pasuk-now="15"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="1073741973" data-exlnk="0" id="M_9_30_1">וַתִּמְשֹׁ֤ךְ</span>
<span class="mila" data-lnk="3221225623" data-exlnk="0" id="M_9_30_2">עֲלֵיהֶם֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_30_3">שָׁנִ֣ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_30_4">רַבּ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_30_5">וַתָּ֨עַד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_30_6">בָּ֧ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_30_7">בְּרוּחֲךָ֛</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_30_8">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4476">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_9_30_9">נְבִיאֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_30_10">וְלֹ֣א</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_30_11">הֶאֱזִ֑ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_30_12">וַֽתִּתְּנֵ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_30_13">בְּיַ֖ד</span>
<span class="mila" data-lnk="268435490" data-exlnk="0" id="M_9_30_14">עַמֵּ֥י</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_30_15">הָאֲרָצֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4484">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_31" data-pasuk-now="12"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_1">וּֽבְרַחֲמֶ֧יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_2">הָרַבִּ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_3">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4488">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_31_4">עֲשִׂיתָ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_31_5">כָּלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_6">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_7">עֲזַבְתָּ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_31_8">כִּ֛י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_31_9">אֵֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4495">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_31_10">חַנּ֥וּן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_31_11">וְרַח֖וּם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_31_12">אָֽתָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4499">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_32" data-pasuk-now="30"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_32_1">וְעַתָּ֣ה</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_32_2">אֱ֠לֹהֵינוּ</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_9_32_3">הָאֵ֨ל</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_9_32_4">הַגָּד֜וֹל</span>
<span class="mila" data-lnk="1342177506" data-exlnk="0" id="M_9_32_5">הַגִּבּ֣וֹר</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_9_32_6">וְהַנּוֹרָא֘</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_32_7">שׁוֹמֵ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_8">הַבְּרִ֣ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_9">וְהַחֶסֶד֒</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_32_10">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4510">־</span><span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_9_32_11">יִמְעַ֣ט</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_32_12">לְפָנֶ֡יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_32_13">אֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_32_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4515">־</span><span class="mila" data-lnk="4026532006" data-exlnk="0" id="M_9_32_15">הַתְּלָאָ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_16">אֲֽשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4518">־</span><span class="mila" data-lnk="4026532066" data-exlnk="0" id="M_9_32_17">מְ֠צָאַתְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_32_18">לִמְלָכֵ֨ינוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_19">לְשָׂרֵ֧ינוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_20">וּלְכֹהֲנֵ֛ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_32_21">וְלִנְבִיאֵ֥ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_32_22">וְלַאֲבֹתֵ֖ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_32_23">וּלְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4526">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_32_24">עַמֶּ֑ךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_25">מִימֵי֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_26">מַלְכֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_27">אַשּׁ֔וּר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_28">עַ֖ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_32_29">הַיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_32_30">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4534">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_33" data-pasuk-now="11"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_33_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_33_2">צַדִּ֔יק</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_33_3">עַ֖ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_33_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4539">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_9_33_5">הַבָּ֣א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_33_6">עָלֵ֑ינוּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_33_7">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4543">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_33_8">אֱמֶ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_33_9">עָשִׂ֖יתָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_33_10">וַאֲנַ֥חְנוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_33_11">הִרְשָֽׁעְנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4548">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_34" data-pasuk-now="16"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4550">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_2">מְלָכֵ֤ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_3">שָׂרֵ֙ינוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_4">כֹּהֲנֵ֣ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_5">וַאֲבֹתֵ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_6">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_7">עָשׂ֖וּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_34_8">תּוֹרָתֶ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_9">וְלֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_10">הִקְשִׁ֙יבוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4561">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_34_12">מִצְוֺתֶ֔יךָ</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_34_13">וּלְעֵ֣דְוֺתֶ֔יךָ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_34_14">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="268435490" data-exlnk="0" id="M_9_34_15">הַעִידֹ֖תָ</span>
<span class="mila" data-lnk="536870946" data-exlnk="0" id="M_9_34_16">בָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4567">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_35" data-pasuk-now="19"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_35_1">וְהֵ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_35_2">בְּמַלְכוּתָם֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_35_3">וּבְטוּבְךָ֨</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_35_4">הָרָ֜ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_35_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4573">־</span><span class="mila" data-lnk="4026532002" data-exlnk="0" id="M_9_35_6">נָתַ֣תָּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_35_7">לָהֶ֗ם</span>
<span class="mila" data-lnk="4026531938" data-exlnk="0" id="M_9_35_8">וּבְאֶ֨רֶץ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_35_9">הָרְחָבָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_35_10">וְהַשְּׁמֵנָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_35_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4580">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_35_12">נָתַ֥תָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_35_13">לִפְנֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_35_14">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_35_15">עֲבָד֑וּךָ</span>
<span class="mila" data-lnk="3489661154" data-exlnk="0" id="M_9_35_16">וְֽלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4586">־</span><span class="mila" data-lnk="3758096610" data-exlnk="0" id="M_9_35_17">שָׁ֔בוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_35_18">מִמַּעַלְלֵיהֶ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_35_19">הָרָעִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4590">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_36" data-pasuk-now="17"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_1">הִנֵּ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_2">אֲנַ֥חְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_3">הַיּ֖וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_4">עֲבָדִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_5">וְהָאָ֜רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4597">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_7">נָתַ֣תָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_8">לַאֲבֹתֵ֗ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_9">לֶאֱכֹ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4602">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_11">פִּרְיָהּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_36_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4605">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_36_13">טוּבָ֔הּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_36_14">הִנֵּ֛ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_36_15">אֲנַ֥חְנוּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_9_36_16">עֲבָדִ֖ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_9_36_17">עָלֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4611">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_37" data-pasuk-now="15"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="3221225601" data-exlnk="0" id="M_9_37_1">וּתְבוּאָתָ֣הּ</span>
<span class="mila" data-lnk="3221225605" data-exlnk="0" id="M_9_37_2">מַרְבָּ֗ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_37_3">לַמְּלָכִ֛ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_37_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4616">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_37_5">נָתַ֥תָּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_37_6">עָלֵ֖ינוּ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_37_7">בְּחַטֹּאותֵ֑ינוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_37_8">וְעַ֣ל</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_9_37_9">גְּ֠וִיֹּתֵינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_37_10">מֹשְׁלִ֤ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_37_11">וּבִבְהֶמְתֵּ֙נוּ֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_9_37_12">כִּרְצוֹנָ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_37_13">וּבְצָרָ֥ה</span>
<span class="mila" data-lnk="805306402" data-exlnk="0" id="M_9_37_14">גְדֹלָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_37_15">אֲנָֽחְנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4629">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4630"> פ </span>
</span>
<br /></p>