<p id="PR_7" data-perek-now="626" data-perek-nops="72"><span class="perek-header">פרק ז</span>
<br /><span id="PS_7_1" data-pasuk-now="10"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_2">כַּאֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_3">נִבְנְתָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_4">הַחוֹמָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_5">וָאַעֲמִ֖יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_1_6">הַדְּלָת֑וֹת</span>
<span class="mila" data-lnk="4026532083" data-exlnk="0" id="M_7_1_7">וַיִּפָּ֥קְד֛וּ</span>
<span class="mila" data-lnk="4026532019" data-exlnk="0" id="M_7_1_8">הַשּׁוֹעֲרִ֥ים</span>
<span class="mila" data-lnk="536870961" data-exlnk="0" id="M_7_1_9">וְהַמְשֹׁרֲרִ֖ים</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_7_1_10">וְהַלְוִיִּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2525">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_2" data-pasuk-now="18"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_1">וָאֲצַוֶּ֞ה</span>
<span class="mila" data-lnk="1073741954" data-exlnk="0" id="M_7_2_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2528">־</span><span class="mila" data-lnk="2147483778" data-exlnk="0" id="M_7_2_3">חֲנָ֣נִי</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_4">אָחִ֗י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2532">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_6">חֲנַנְיָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_7">שַׂ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_2_8">הַבִּירָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_2_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2537">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_7_2_10">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_11">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2540">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_12">הוּא֙</span>
<span class="mila" data-lnk="4026532006" data-exlnk="0" id="M_7_2_13">כְּאִ֣ישׁ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_7_2_14">אֱמֶ֔ת</span>
<span class="mila" data-lnk="3221225602" data-exlnk="0" id="M_7_2_15">וְיָרֵ֥א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2546">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_17">הָאֱלֹהִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_2_18">מֵרַבִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2549">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_3" data-pasuk-now="24"><span class="pasuk-header">[ג]</span>
<span data-lnk="0" data-exlnk="0" id="M_7_3_1" class="mila ktiv">וָיאֹמַ֣ר</span>
<span data-lnk="4026532082" data-exlnk="0" id="M_7_3_1_K" class="mila kri">וָאֹמַ֣ר</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_7_3_2">לָהֶ֗ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_7_3_3">לֹ֣א</span>
<span class="mila" data-lnk="3221225619" data-exlnk="0" id="M_7_3_4">יִפָּתְח֞וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_3_5">שַׁעֲרֵ֤י</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_7_3_6">יְרוּשָׁלִַם֙</span>
<span class="mila" data-lnk="805306403" data-exlnk="0" id="M_7_3_7">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2558">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_7_3_8">חֹ֣ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_3_9">הַשֶּׁ֔מֶשׁ</span>
<span class="mila" data-lnk="1610612917" data-exlnk="0" id="M_7_3_10">וְעַ֨ד</span>
<span class="mila" data-lnk="1073741973" data-exlnk="0" id="M_7_3_11">הֵ֥ם</span>
<span class="mila" data-lnk="3221225621" data-exlnk="0" id="M_7_3_12">עֹמְדִ֛ים</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_7_3_13">יָגִ֥יפוּ</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_7_3_14">הַדְּלָת֖וֹת</span>
<span class="mila" data-lnk="3221225621" data-exlnk="0" id="M_7_3_15">וֶאֱחֹ֑זוּ</span>
<span class="mila" data-lnk="3221225620" data-exlnk="0" id="M_7_3_16">וְהַעֲמֵ֗יד</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_7_3_17">מִשְׁמְרוֹת֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_7_3_18">יֹשְׁבֵ֣י</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_7_3_19">יְרוּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_7_3_20">אִ֚ישׁ</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_7_3_21">בְּמִשְׁמָר֔וֹ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_3_22">וְאִ֖ישׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_3_23">נֶ֥גֶד</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_3_24">בֵּיתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2576">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_4" data-pasuk-now="10"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_4_1">וְהָעִ֞יר</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_7_4_2">רַחֲבַ֤ת</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_7_4_3">יָדַ֙יִם֙</span>
<span class="mila" data-lnk="4026532067" data-exlnk="0" id="M_7_4_4">וּגְדֹלָ֔ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_4_5">וְהָעָ֥ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_4_6">מְעַ֖ט</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_4_7">בְּתוֹכָ֑הּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_4_8">וְאֵ֥ין</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_4_9">בָּתִּ֖ים</span>
<span class="mila" data-lnk="3221225603" data-exlnk="0" id="M_7_4_10">בְּנוּיִֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2587">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_5" data-pasuk-now="20"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_1">וַיִּתֵּ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_2">אֱלֹהַי֙</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_7_5_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2591">־</span><span class="mila" data-lnk="536870944" data-exlnk="0" id="M_7_5_4">לִבִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_5">וָאֶקְבְּצָ֞ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2595">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_7_5_7">הַחֹרִ֧ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2598">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_9">הַסְּגָנִ֛ים</span>
<span class="mila" data-lnk="1879048352" data-exlnk="0" id="M_7_5_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2601">־</span><span class="mila" data-lnk="2684354720" data-exlnk="0" id="M_7_5_11">הָעָ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_5_12">לְהִתְיַחֵ֑שׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_13">וָאֶמְצָ֗א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_5_14">סֵ֤פֶר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_7_5_15">הַיַּ֙חַשׂ֙</span>
<span class="mila" data-lnk="4026532067" data-exlnk="0" id="M_7_5_16">הָעוֹלִ֣ים</span>
<span class="mila" data-lnk="805306401" data-exlnk="0" id="M_7_5_17">בָּרִאשׁוֹנָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_18">וָאֶמְצָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_19">כָּת֥וּב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_5_20">בּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2613">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2614"> פ </span>
</span>
<br /><span id="PS_7_6" data-pasuk-now="16"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="4026532005" data-exlnk="0" id="M_7_6_1">אֵ֣לֶּה׀</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_7_6_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_7_6_3">הַמְּדִינָ֗ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_7_6_4">הָעֹלִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_6_5">מִשְּׁבִ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_6_6">הַגּוֹלָ֔ה</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_7_6_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_7_6_8">הֶגְלָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_6_9">נְבוּכַדְנֶצַּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_6_10">מֶ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_6_11">בָּבֶ֑ל</span>
<span class="mila" data-lnk="3489661088" data-exlnk="0" id="M_7_6_12">וַיָּשׁ֧וּבוּ</span>
<span class="mila" data-lnk="1610612896" data-exlnk="0" id="M_7_6_13">לִירוּשָׁלִַ֛ם</span>
<span class="mila" data-lnk="2147483777" data-exlnk="0" id="M_7_6_14">וְלִיהוּדָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_6_15">אִ֥ישׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_6_16">לְעִירֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2631">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_7" data-pasuk-now="18"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="805306401" data-exlnk="0" id="M_7_7_1">הַבָּאִ֣ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_7_7_2">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2634">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_7_7_3">זְרֻבָּבֶ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_4">יֵשׁ֡וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_5">נְחֶמְיָ֡ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_6">עֲ֠זַרְיָה</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_7_7">רַעַמְיָ֨ה</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_7_8">נַחֲמָ֜נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_9">מָרְדֳּכַ֥י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_7_10">בִּלְשָׁ֛ן</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_7_11">מִסְפֶּ֥רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_12">בִּגְוַ֖י</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_7_13">נְח֣וּם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_14">בַּעֲנָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_7_15">מִסְפַּ֕ר</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_7_16">אַנְשֵׁ֖י</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_7_7_17">עַ֥ם</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_7_18">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2652">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2653">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_8" data-pasuk-now="6"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_2">פַרְעֹ֔שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_3">אַלְפַּ֕יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_8_4">מֵאָ֖ה</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_7_8_5">וְשִׁבְעִ֥ים</span>
<span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_7_8_6">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2661">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2662">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_9" data-pasuk-now="6"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_9_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_9_2">שְׁפַטְיָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_9_3">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_9_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_9_5">שִׁבְעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_9_6">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2670">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2671">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_10" data-pasuk-now="6"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_2">אָרַ֔ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_3">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_5">חֲמִשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_10_6">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2679">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2680">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_11" data-pasuk-now="11"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_11_1">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2682">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_11_2">פַחַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_11_3">מוֹאָ֛ב</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_7_11_4">לִבְנֵ֥י</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_7_11_5">יֵשׁ֖וּעַ</span>
<span class="mila" data-lnk="2952790176" data-exlnk="0" id="M_7_11_6">וְיוֹאָ֑ב</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_11_7">אַלְפַּ֕יִם</span>
<span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_7_11_8">וּשְׁמֹנֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_11_9">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_11_10">שְׁמֹנָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_11_11">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2694">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2695">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_12_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_12_2">עֵילָ֔ם</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_12_3">אֶ֕לֶף</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_12_4">מָאתַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_12_5">חֲמִשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_12_6">וְאַרְבָּעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2703">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2704">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_13" data-pasuk-now="6"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_2">זַתּ֔וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_3">שְׁמֹנֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_5">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_13_6">וַחֲמִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2712">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2713">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_14" data-pasuk-now="5"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_7_14_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_7_14_2">זַכָּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_14_3">שְׁבַ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_14_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_14_5">וְשִׁשִּֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2720">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2721">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_15_2">בִנּ֔וּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_3">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_5">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_15_6">וּשְׁמֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2729">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2730">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_16" data-pasuk-now="6"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_7_16_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_16_2">בֵבָ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_3">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_5">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_16_6">וּשְׁמֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2738">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2739">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_17" data-pasuk-now="7"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_2">עַזְגָּ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_3">אַלְפַּ֕יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_4">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_5">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_6">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_17_7">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2748">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2749">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_1">בְּנֵי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_2">אֲדֹ֣נִיקָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_3">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_5">שִׁשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_18_6">וְשִׁבְעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2757">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2758">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_19" data-pasuk-now="5"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_2">בִגְוָ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_3">אַלְפַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_4">שִׁשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_19_5">וְשִׁבְעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2765">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2766">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_20" data-pasuk-now="6"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_20_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_20_2">עָדִ֔ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_20_3">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_20_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_20_5">חֲמִשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_20_6">וַחֲמִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2774">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2775">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_21" data-pasuk-now="5"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_1">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2777">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_2">אָטֵ֥ר</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_21_3">לְחִזְקִיָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_4">תִּשְׁעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_21_5">וּשְׁמֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2783">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2784">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_22" data-pasuk-now="6"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_22_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_22_2">חָשֻׁ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_22_3">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_22_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_22_5">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_22_6">וּשְׁמֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2792">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2793">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_23" data-pasuk-now="6"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_23_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_23_2">בֵצָ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_23_3">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_23_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_23_5">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_23_6">וְאַרְבָּעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2801">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2802">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_24" data-pasuk-now="5"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_2">חָרִ֔יף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_3">מֵאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_4">שְׁנֵ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_24_5">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2809">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2810">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_25" data-pasuk-now="4"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_1">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_2">גִבְע֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_3">תִּשְׁעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_25_4">וַחֲמִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2816">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2817">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_1">אַנְשֵׁ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_2">בֵֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2820">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_3">לֶ֙חֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_4">וּנְטֹפָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_5">מֵאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_6">שְׁמֹנִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_26_7">וּשְׁמֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2827">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2828">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_27" data-pasuk-now="5"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_1">אַנְשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_2">עֲנָת֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_3">מֵאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_4">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_27_5">וּשְׁמֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2835">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2836">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_28" data-pasuk-now="5"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_28_1">אַנְשֵׁ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_28_2">בֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2839">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_28_3">עַזְמָ֖וֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_28_4">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_28_5">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2844">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2845">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_29" data-pasuk-now="9"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_7_29_1">אַנְשֵׁ֨י</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_7_29_2">קִרְיַ֤ת</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_7_29_3">יְעָרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_29_4">כְּפִירָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_29_5">וּבְאֵר֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_29_6">שְׁבַ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_29_7">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_29_8">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_29_9">וּשְׁלֹשָֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2856">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2857">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_30" data-pasuk-now="7"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_30_1">אַנְשֵׁ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_30_2">הָרָמָה֙</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_30_3">וָגָ֔בַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_30_4">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_30_5">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_30_6">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_30_7">וְאֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2866">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2867">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_31" data-pasuk-now="5"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_31_1">אַנְשֵׁ֣י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_31_2">מִכְמָ֔ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_31_3">מֵאָ֖ה</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_7_31_4">וְעֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="2147483776" data-exlnk="0" id="M_7_31_5">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2874">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2875">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_32" data-pasuk-now="7"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_32_1">אַנְשֵׁ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_32_2">בֵֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2878">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_32_3">אֵל֙</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_32_4">וְהָעָ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_32_5">מֵאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_32_6">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_32_7">וּשְׁלֹשָֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2885">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2886">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_33" data-pasuk-now="5"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_33_1">אַנְשֵׁ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_33_2">נְב֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_33_3">אַחֵ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_33_4">חֲמִשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_33_5">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2893">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2894">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_34" data-pasuk-now="7"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_34_1">בְּנֵי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_34_2">עֵילָ֣ם</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_7_34_3">אַחֵ֔ר</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_34_4">אֶ֕לֶף</span>
<span class="mila" data-lnk="2684354720" data-exlnk="0" id="M_7_34_5">מָאתַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_34_6">חֲמִשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_34_7">וְאַרְבָּעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2903">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2904">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_35" data-pasuk-now="5"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_35_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_35_2">חָרִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_35_3">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_35_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_35_5">וְעֶשְׂרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2911">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2912">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_36" data-pasuk-now="6"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_36_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="10" id="M_7_36_2">יְרֵח֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_36_3">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_36_4">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_36_5">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_36_6">וַחֲמִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2920">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2921">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_37" data-pasuk-now="8"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_37_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2923">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_37_2">לֹד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_37_3">חָדִ֣יד</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_7_37_4">וְאֹנ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_37_5">שְׁבַ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_37_6">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_37_7">וְעֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_37_8">וְאֶחָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2932">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2933">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_38" data-pasuk-now="7"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_2">סְנָאָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_3">שְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_4">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_5">תְּשַׁ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_6">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_38_7">וּשְׁלֹשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2942">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="2943"> פ </span>
</span>
<br /><span id="PS_7_39" data-pasuk-now="9"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_39_1">הַכֹּהֲנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_2">בְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_3">יְדַֽעְיָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_4">לְבֵ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_5">יֵשׁ֔וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_6">תְּשַׁ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_7">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_8">שִׁבְעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_39_9">וּשְׁלֹשָֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2954">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2955">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_40" data-pasuk-now="5"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_2">אִמֵּ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_3">אֶ֖לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_4">חֲמִשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_40_5">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2962">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2963">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_41" data-pasuk-now="6"><span class="pasuk-header">[מא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_2">פַשְׁח֔וּר</span>
<span class="mila" data-lnk="3489661088" data-exlnk="0" id="M_7_41_3">אֶ֕לֶף</span>
<span class="mila" data-lnk="3758096544" data-exlnk="0" id="M_7_41_4">מָאתַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_5">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_41_6">וְשִׁבְעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2971">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2972">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_42" data-pasuk-now="5"><span class="pasuk-header">[מב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_2">חָרִ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_3">אֶ֖לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_4">שִׁבְעָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_42_5">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2979">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2980">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_43" data-pasuk-now="8"><span class="pasuk-header">[מג]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_43_1">הַלְוִיִּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_2">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="2983">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_3">יֵשׁ֧וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_4">לְקַדְמִיאֵ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_5">לִבְנֵ֥י</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_43_6">לְהוֹדְוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_7">שִׁבְעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_43_8">וְאַרְבָּעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="2991">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="2992">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_44" data-pasuk-now="6"><span class="pasuk-header">[מד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_1">הַֽמְשֹׁרֲרִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_3">אָסָ֔ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_4">מֵאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_5">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_44_6">וּשְׁמֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3000">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3001">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_45" data-pasuk-now="16"><span class="pasuk-header">[מה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_1">הַשֹּׁעֲרִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_2">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3004">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_45_3">שַׁלֻּ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_4">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3007">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_5">אָטֵר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_6">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3010">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_7">טַלְמֹ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_8">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3013">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_9">עַקּ֔וּב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_10">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_11">חֲטִיטָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_12">בְּנֵ֣י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_45_13">שֹׁבָ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_14">מֵאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_15">שְׁלֹשִׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_45_16">וּשְׁמֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3023">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3024"> פ </span>
</span>
<br /><span id="PS_7_46" data-pasuk-now="7"><span class="pasuk-header">[מו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_46_1">הַנְּתִינִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_46_2">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3027">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_46_3">צִחָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_46_4">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3030">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_46_5">חֲשֻׂפָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_46_6">בְּנֵ֥י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_46_7">טַבָּעֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3035">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3036">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_47" data-pasuk-now="6"><span class="pasuk-header">[מז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_47_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3038">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_47_2">קֵירֹ֥ס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_47_3">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3041">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_47_4">סִיעָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_47_5">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_47_6">פָדֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3046">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3047">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_48" data-pasuk-now="6"><span class="pasuk-header">[מח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_48_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3049">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_48_2">לְבָנָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_48_3">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3052">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_48_4">חֲגָבָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_48_5">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_48_6">שַׁלְמָֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3057">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3058">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_49" data-pasuk-now="6"><span class="pasuk-header">[מט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_49_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3060">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_49_2">חָנָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_49_3">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3063">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_49_4">גִדֵּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_49_5">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3066">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_49_6">גָֽחַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3069">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3070">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_50" data-pasuk-now="6"><span class="pasuk-header">[נ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_50_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3072">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_50_2">רְאָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_50_3">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3075">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_50_4">רְצִ֖ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_50_5">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_50_6">נְקוֹדָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3080">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3081">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_51" data-pasuk-now="6"><span class="pasuk-header">[נא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3083">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_2">גַזָּ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_3">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3086">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_4">עֻזָּ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_5">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_51_6">פָסֵֽחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3091">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3092">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_52" data-pasuk-now="6"><span class="pasuk-header">[נב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_52_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3094">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_52_2">בֵסַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_52_3">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3097">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_52_4">מְעוּנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_52_5">בְּנֵ֥י</span>
<span data-lnk="0" data-exlnk="0" id="M_7_52_6" class="mila ktiv">נְפִֽושְׁסִֽים</span>
<span data-lnk="3221225664" data-exlnk="0" id="M_7_52_6_K" class="mila kri">נְפִֽישְׁסִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3103">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3104">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_53" data-pasuk-now="6"><span class="pasuk-header">[נג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_53_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3106">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_53_2">בַקְבּ֥וּק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_53_3">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3109">־</span><span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_53_4">חֲקוּפָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_53_5">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_53_6">חַרְחֽוּר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3114">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3115">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_54" data-pasuk-now="6"><span class="pasuk-header">[נד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_54_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3117">־</span><span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_54_2">בַצְלִ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_54_3">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3120">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_54_4">מְחִידָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_54_5">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_54_6">חַרְשָֽׁא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3125">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3126">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_55" data-pasuk-now="6"><span class="pasuk-header">[נה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_55_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3128">־</span><span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_55_2">בַרְק֥וֹס</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_55_3">בְּֽנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3131">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_55_4">סִֽיסְרָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_55_5">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3134">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_55_6">תָֽמַח</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3137">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3138">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_56" data-pasuk-now="4"><span class="pasuk-header">[נו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_56_1">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_56_2">נְצִ֖יחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_56_3">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_56_4">חֲטִיפָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3144">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3145">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_57" data-pasuk-now="9"><span class="pasuk-header">[נז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_57_1">בְּנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_57_2">עַבְדֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_57_3">שְׁלֹמֹ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_57_4">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3150">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_57_5">סוֹטַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_57_6">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3153">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_57_7">סֹפֶ֖רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_57_8">בְּנֵ֥י</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_57_9">פְרִידָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3158">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3159">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_58" data-pasuk-now="6"><span class="pasuk-header">[נח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_58_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3161">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_58_2">יַעְלָ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_58_3">בְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3164">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_58_4">דַרְק֖וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_58_5">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_58_6">גִדֵּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3169">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3170">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_59" data-pasuk-now="9"><span class="pasuk-header">[נט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_59_1">בְּנֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_59_2">שְׁפַטְיָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_59_3">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3174">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="3175">חַטִּ֗יל</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_7_59_4">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_59_5">בְּנֵ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_59_6">פֹּכֶ֥רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_59_7">הַצְּבָיִ֖ים</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_59_8">בְּנֵ֥י</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_7_59_9">אָמֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3184">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3185">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_7_60" data-pasuk-now="9"><span class="pasuk-header">[ס]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_1">כָּ֨ל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3187">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_2">הַנְּתִינִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_3">וּבְנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_4">עַבְדֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_5">שְׁלֹמֹ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_6">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_7">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_8">תִּשְׁעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_60_9">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3197">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3198"> פ </span>
</span>
<br /><span id="PS_7_61" data-pasuk-now="18"><span class="pasuk-header">[סא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_1">וְאֵ֗לֶּה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_61_2">הָעוֹלִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_3">מִתֵּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_4">מֶ֙לַח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_5">תֵּ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_6">חַרְשָׁ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_7">כְּר֥וּב</span>
<span class="mila" data-lnk="1073741952" data-exlnk="0" id="M_7_61_8">אַדּ֖וֹן</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_61_9">וְאִמֵּ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_10">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_11">יָכְל֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_12">לְהַגִּ֤יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_13">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3212">־</span><span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_7_61_14">אֲבֹתָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_15">וְזַרְעָ֔ם</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_61_16">אִ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_61_17">מִיִּשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="4026531936" data-exlnk="0" id="M_7_61_18">הֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3219">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3220">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_62" data-pasuk-now="10"><span class="pasuk-header">[סב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_1">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3222">־</span><span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_62_2">דְלָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_3">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3225">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_4">טוֹבִיָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_5">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_6">נְקוֹדָ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_7">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_8">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_9">וְאַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_62_10">וּשְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3234">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3235">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_63" data-pasuk-now="17"><span class="pasuk-header">[סג]</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_7_63_1">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3237">־</span><span class="mila" data-lnk="2952790176" data-exlnk="0" id="M_7_63_2">הַכֹּ֣הֲנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_3">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_4">חֳבַיָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_5">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_6">הַקּ֑וֹץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_7">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_8">בַרְזִלַּ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_10">לָ֠קַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_11">מִבְּנ֞וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_12">בַּרְזִלַּ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_13">הַגִּלְעָדִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_14">אִשָּׁ֔ה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_63_15">וַיִּקָּרֵ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3253">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_63_17">שְׁמָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3255">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_64" data-pasuk-now="9"><span class="pasuk-header">[סד]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_64_1">אֵ֗לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_64_2">בִּקְשׁ֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_64_3">כְתָבָ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_64_4">הַמִּתְיַחְשִׂ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_64_5">וְלֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_64_6">נִמְצָ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_64_7">וַיְגֹאֲל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_64_8">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3264">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_64_9">הַכְּהֻנָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3266">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_65" data-pasuk-now="13"><span class="pasuk-header">[סה]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_65_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_65_2">הַתִּרְשָׁ֙תָא֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_65_3">לָהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_65_4">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_65_5">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3272">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_65_6">יֹאכְל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_65_7">מִקֹּ֣דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_65_8">הַקֳּדָשִׁ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_65_9">עַ֛ד</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_7_65_10">עֲמֹ֥ד</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_65_11">הַכֹּהֵ֖ן</span>
<span class="mila" data-lnk="1879048352" data-exlnk="0" id="M_7_65_12">לְאוּרִ֥ים</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_65_13">וְתֻמִּיֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3281">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_66" data-pasuk-now="9"><span class="pasuk-header">[סו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_66_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3283">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_66_2">הַקָּהָ֖ל</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_66_3">כְּאֶחָ֑ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_66_4">אַרְבַּ֣ע</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_66_5">רִבּ֔וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_66_6">אַלְפַּ֖יִם</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_66_7">שְׁלֹשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3290">־</span><span class="mila" data-lnk="268435488" data-exlnk="0" id="M_7_66_8">מֵא֥וֹת</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_66_9">וְשִׁשִּֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3293">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_67" data-pasuk-now="16"><span class="pasuk-header">[סז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_1">מִ֠לְּבַד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_2">עַבְדֵיהֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_3">וְאַמְהֹֽתֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_4">אֵ֔לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_5">שִׁבְעַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_6">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_7">שְׁלֹ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_8">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_9">שְׁלֹשִׁ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_10">וְשִׁבְעָ֑ה</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_67_11">וְלָהֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_12">מְשֹֽׁרֲרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_13">וּמְשֹׁ֣רֲר֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_14">מָאתַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_15">וְאַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_67_16">וַחֲמִשָּֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3311">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3312">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_68" data-pasuk-now="11"><span class="pasuk-header">[סח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_1">גְּמַלִּ֕ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_2">אַרְבַּ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_3">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_4">שְׁלֹשִׁ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_5">וַחֲמִשָּׁ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_6">חֲמֹרִ֕ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_7">שֵׁ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_8">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_9">שְׁבַ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_10">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_68_11">וְעֶשְׂרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3324">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_69" data-pasuk-now="18"><span class="pasuk-header">[סט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_1">וּמִקְצָת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_2">רָאשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_3">הָאָב֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_4">נָתְנ֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_5">לַמְּלָאכָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_6">הַתִּרְשָׁ֜תָא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_7">נָתַ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_8">לָאוֹצָ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_9">זָהָ֞ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_10">דַּרְכְּמֹנִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_11">אֶ֙לֶף֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_12">מִזְרָק֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_13">חֲמִשִּׁ֔ים</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_69_14">כָּתְנוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_15">כֹּֽהֲנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_16">שְׁלֹשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_17">וַחֲמֵ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_69_18">מֵאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3344">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3345">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_70" data-pasuk-now="13"><span class="pasuk-header">[ע]</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_7_70_1">וּמֵרָאשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_2">הָאָב֗וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_3">נָֽתְנוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_4">לְאוֹצַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_5">הַמְּלָאכָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_6">זָהָ֕ב</span>
<span class="mila" data-lnk="4026532016" data-exlnk="0" id="M_7_70_7">דַּרְכְּמוֹנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_8">שְׁתֵּ֣י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_70_9">רִבּ֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_10">וְכֶ֕סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_11">מָנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_12">אַלְפַּ֥יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_70_13">וּמָאתָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3359">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_71" data-pasuk-now="15"><span class="pasuk-header">[עא]</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_7_71_1">וַאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_2">נָתְנוּ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_3">שְׁאֵרִ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_4">הָעָם֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_5">זָהָ֗ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_6">דַּרְכְּמֹנִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_7">שְׁתֵּ֣י</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_7_71_8">רִבּ֔וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_9">וְכֶ֖סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_10">מָנִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_11">אַלְפָּ֑יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_12">וְכָתְנֹ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_13">כֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_14">שִׁשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_71_15">וְשִׁבְעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3375">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_7_72" data-pasuk-now="17"><span class="pasuk-header">[עב]</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_72_1">וַיֵּשְׁב֣וּ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_72_2">הַכֹּהֲנִ֣ים</span>
<span class="mila" data-lnk="3221225552" data-exlnk="0" id="M_7_72_3">וְהַלְוִיִּ֡ם</span>
<span class="mila" data-lnk="4026532080" data-exlnk="0" id="M_7_72_4">וְהַשּׁוֹעֲרִים֩</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_7_72_5">וְהַמְשֹׁרֲרִ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_72_6">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3382">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_7_72_7">הָעָ֧ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_72_8">וְהַנְּתִינִ֛ים</span>
<span class="mila" data-lnk="1879048352" data-exlnk="0" id="M_7_72_9">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3386">־</span><span class="mila" data-lnk="3758096544" data-exlnk="0" id="M_7_72_10">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="3388">בְּעָרֵיהֶ֑ם</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_7_72_11">   ס </span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_72_12">וַיִּגַּע֙</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_72_13">הַחֹ֣דֶשׁ</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_7_72_14">הַשְּׁבִיעִ֔י</span>
<span class="mila" data-lnk="1879048288" data-exlnk="0" id="M_7_72_15">וּבְנֵ֥י</span>
<span class="mila" data-lnk="3758096480" data-exlnk="0" id="M_7_72_16">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_7_72_17">בְּעָרֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3397">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /></p>