<p id="PR_1" data-perek-now="202" data-perek-nops="11"><span class="perek-header">פרק א</span>
<br /><span id="PS_1_1" data-pasuk-now="13"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_1_1">דִּבְרֵ֥י</span>
<span class="mila" data-lnk="21" data-exlnk="0" id="M_1_1_2">נְחֶמְיָ֖ה</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_1_1_3">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4">־</span><span class="mila" data-lnk="17" data-exlnk="0" id="M_1_1_4">חֲכַלְיָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_1_5">וַיְהִ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_1_6">בְחֹֽדֶשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="8">־</span><span data-lnk="0" data-exlnk="0" id="M_1_1_7" class="mila ktiv">כִּסְלֵו֙</span>
<span data-lnk="4026532001" data-exlnk="0" id="M_1_1_7_K" class="mila kri">כִּסְלֵיו֙</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_1_1_8">שְׁנַ֣ת</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_1_1_9">עֶשְׂרִ֔ים</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_1_1_10">וַאֲנִ֥י</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_1_1_11">הָיִ֖יתִי</span>
<span class="mila" data-lnk="16" data-exlnk="0" id="M_1_1_12">בְּשׁוּשַׁ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_13">הַבִּירָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="17">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_2" data-pasuk-now="17"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_1">וַיָּבֹ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_2">חֲנָ֜נִי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_3">אֶחָ֧ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_4">מֵאַחַ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_5">ה֥וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_6">וַאֲנָשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_7">מִֽיהוּדָ֑ה</span>
<span class="mila" data-lnk="3221225601" data-exlnk="0" id="M_1_2_8">וָאֶשְׁאָלֵ֞ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="27">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_10">הַיְּהוּדִ֧ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_11">הַפְּלֵיטָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_12">אֲשֶֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="31">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_13">נִשְׁאֲר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_14">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="34">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_15">הַשֶּׁ֖בִי</span>
<span class="mila" data-lnk="268435489" data-exlnk="0" id="M_1_2_16">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="37">־</span><span class="mila" data-lnk="805306401" data-exlnk="0" id="M_1_2_17">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="39">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_3" data-pasuk-now="18"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026532001" data-exlnk="0" id="M_1_3_1">וַיֹּאמְרוּ֘</span>
<span class="mila" data-lnk="2952790177" data-exlnk="0" id="M_1_3_2">לִי֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_3_3">הַֽנִּשְׁאָרִ֞ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_4">אֲשֶֽׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="44">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_5">נִשְׁאֲר֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_6">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="47">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_7">הַשְּׁבִי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_3_8">שָׁ֣ם</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_1_3_9">בַּמְּדִינָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_3_10">בְּרָעָ֥ה</span>
<span class="mila" data-lnk="805306401" data-exlnk="0" id="M_1_3_11">גְדֹלָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_3_12">וּבְחֶרְפָּ֑ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_3_13">וְחוֹמַ֤ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_3_14">יְרוּשָׁלִַם֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_3_15">מְפֹרָ֔צֶת</span>
<span class="mila" data-lnk="18" data-exlnk="0" id="M_1_3_16">וּשְׁעָרֶ֖יהָ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_1_3_17">נִצְּת֥וּ</span>
<span class="mila" data-lnk="19" data-exlnk="0" id="M_1_3_18">בָאֵֽשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="60">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_1_4_1">וַיְהִ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_2">כְּשָׁמְעִ֣י׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="64">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_4">הַדְּבָרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_5">הָאֵ֗לֶּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_4_6">יָשַׁ֙בְתִּי֙</span>
<span class="mila" data-lnk="4026532068" data-exlnk="0" id="M_1_4_7">וָֽאֶבְכֶּ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_8">וָאֶתְאַבְּלָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_4_9">יָמִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_10">וָאֱהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_11">צָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_12">וּמִתְפַּלֵּ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_13">לִפְנֵ֖י</span>
<span class="mila" data-lnk="268435488" data-exlnk="0" id="M_1_4_14">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_1_4_15">הַשָּׁמָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="77">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_1">וָאֹמַ֗ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_5_2">אָֽנָּ֤א</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_1_5_3">יְהוָה֙</span>
<span class="mila" data-lnk="1342177504" data-exlnk="0" id="M_1_5_4">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_1_5_5">הַשָּׁמָ֔יִם</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_1_5_6">הָאֵ֥ל</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_1_5_7">הַגָּד֖וֹל</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_1_5_8">וְהַנּוֹרָ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_9">שֹׁמֵ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_10">הַבְּרִית֙</span>
<span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_1_5_11">וָחֶ֔סֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_12">לְאֹהֲבָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_13">וּלְשֹׁמְרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_14">מִצְוֺתָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="92">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_6" data-pasuk-now="33"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_1">תְּהִ֣י</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_1_6_2">נָ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_3">אָזְנְךָֽ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="96">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_1_6_4">קַשֶּׁ֣בֶת</span>
<span class="mila" data-lnk="1342177440" data-exlnk="0" id="M_1_6_5">וְֽעֵינֶ֪יךָ</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_1_6_6">פְתוּח֟וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_7">לִשְׁמֹ֣עַ</span>
<span class="mila" data-lnk="805306400" data-exlnk="0" id="M_1_6_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="102">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_1_6_9">תְּפִלַּ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_10">עַבְדְּךָ֡</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_11">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_12">אָנֹכִי֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_6_13">מִתְפַּלֵּ֨ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_14">לְפָנֶ֤יךָ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_6_15">הַיּוֹם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_6_16">יוֹמָ֣ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_6_17">וָלַ֔יְלָה</span>
<span class="mila" data-lnk="1342177444" data-exlnk="0" id="M_1_6_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="113">־</span><span class="mila" data-lnk="1342177444" data-exlnk="0" id="M_1_6_19">בְּנֵ֥י</span>
<span class="mila" data-lnk="4026532004" data-exlnk="0" id="M_1_6_20">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_21">עֲבָדֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_22">וּמִתְוַדֶּ֗ה</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_1_6_23">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="119">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_24">חַטֹּ֤אות</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_25">בְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="122">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_26">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_27">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_28">חָטָ֣אנוּ</span>
<span class="mila" data-lnk="536870944" data-exlnk="0" id="M_1_6_29">לָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_30">וַאֲנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_31">וּבֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="129">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_32">אָבִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_33">חָטָֽאנוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="132">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_7" data-pasuk-now="16"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="23" data-exlnk="0" id="M_1_7_1">חֲבֹ֖ל</span>
<span class="mila" data-lnk="3221225623" data-exlnk="0" id="M_1_7_2">חָבַ֣לְנוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_7_3">לָ֑ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_4">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="137">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_5">שָׁמַ֣רְנוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="140">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_7">הַמִּצְוֺ֗ת</span>
<span class="mila" data-lnk="1879048416" data-exlnk="0" id="M_1_7_8">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="143">־</span><span class="mila" data-lnk="4026532064" data-exlnk="0" id="M_1_7_9">הַֽחֻקִּים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="146">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_11">הַמִּשְׁפָּטִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_12">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_13">צִוִּ֖יתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="151">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_15">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_16">עַבְדֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="154">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_8" data-pasuk-now="16"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_1">זְכָר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="156">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_2">נָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="159">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_4">הַדָּבָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_5">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_6">צִוִּ֛יתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="164">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_8">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_9">עַבְדְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_10">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_8_11">אַתֶּ֣ם</span>
<span class="mila" data-lnk="3221225608" data-exlnk="0" id="M_1_8_12">תִּמְעָ֔לוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_13">אֲנִ֕י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_14">אָפִ֥יץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_15">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_16">בָּעַמִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="174">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_9" data-pasuk-now="22"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_1">וְשַׁבְתֶּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_2">אֵלַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_3">וּשְׁמַרְתֶּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_4">מִצְוֺתַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_5">וַעֲשִׂיתֶ֖ם</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_1_9_6">אֹתָ֑ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_9_7">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="182">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_9_8">יִהְיֶ֨ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_9_9">נִֽדַּחֲכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_10">בִּקְצֵ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_11">הַשָּׁמַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_12">מִשָּׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_13">אֲקַבְּצֵ֔ם</span>
<span data-lnk="0" data-exlnk="0" id="M_1_9_14" class="mila ktiv">וַהֲבִֽואֹתִים֙</span>
<span data-lnk="4026532064" data-exlnk="0" id="M_1_9_14_K" class="mila kri">וַהֲבִֽיאוֹתִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_15">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="192">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_16">הַמָּק֔וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_17">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_18">בָּחַ֔רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_19">לְשַׁכֵּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_20">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="198">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_21">שְׁמִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_22">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="201">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_10" data-pasuk-now="9"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026532000" data-exlnk="0" id="M_1_10_1">וְהֵ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_2">עֲבָדֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_3">וְעַמֶּ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_4">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_5">פָּדִ֙יתָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_6">בְּכֹחֲךָ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_7">הַגָּד֔וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_8">וּבְיָדְךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_9">הַחֲזָקָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="211">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_11" data-pasuk-now="29"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_11_1">אָנָּ֣א</span>
<span class="mila" data-lnk="4026532001" data-exlnk="0" id="M_1_11_2">אֲדנָ֗י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_11_3">תְּהִ֣י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_11_4">נָ֣א</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_11_5">אָזְנְךָֽ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="217">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_1_11_6">קַ֠שֶּׁבֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="220">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_8">תְּפִלַּ֨ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_9">עַבְדְּךָ֜</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_10">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="224">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_11">תְּפִלַּ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_12">עֲבָדֶ֗יךָ</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_1_11_13">הַחֲפֵצִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_14">לְיִרְאָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="230">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_16">שְׁמֶ֔ךָ</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_1_11_17">וְהַצְלִֽיחָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="233">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_18">נָּ֤א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_19">לְעַבְדְּךָ֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_20">הַיּ֔וֹם</span>
<span class="mila" data-lnk="3221225600" data-exlnk="0" id="M_1_11_21">וּתְנֵ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_22">לְרַחֲמִ֔ים</span>
<span class="mila" data-lnk="3489661105" data-exlnk="0" id="M_1_11_23">לִפְנֵ֖י</span>
<span class="mila" data-lnk="3758096561" data-exlnk="0" id="M_1_11_24">הָאִ֣ישׁ</span>
<span class="mila" data-lnk="17" data-exlnk="0" id="M_1_11_25">הַזֶּ֑ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_1_11_26">וַאֲנִ֛י</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_1_11_27">הָיִ֥יתִי</span>
<span class="mila" data-lnk="25" data-exlnk="0" id="M_1_11_28">מַשְׁקֶ֖ה</span>
<span class="mila" data-lnk="24" data-exlnk="0" id="M_1_11_29">לַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="247">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="248"> פ </span>
</span>
<br /></p>