<p id="PR_28" data-perek-now="381" data-perek-nops="21"><span class="perek-header">פרק כח</span>
<br /><span id="PS_28_1" data-pasuk-now="31"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_1">וַיַּקְהֵ֣ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_2">דָּוִ֣יד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12900">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_4">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12902">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_5">שָׂרֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_6">יִשְׂרָאֵ֡ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_1_7">שָׂרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_1_8">הַשְּׁבָטִ֣ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_1_9">וְשָׂרֵ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_1_10">הַמַּחְלְק֣וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_1_11">הַמְשָׁרְתִ֪ים</span>
<span class="mila" data-lnk="805306388" data-exlnk="0" id="M_28_1_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12911">־</span><span class="mila" data-lnk="805306388" data-exlnk="0" id="M_28_1_13">הַמֶּ֟לֶךְ</span>
<span class="mila" data-lnk="3489661009" data-exlnk="0" id="M_28_1_14">וְשָׂרֵ֣י</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_28_1_15">הָאֲלָפִ֣ים</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_28_1_16">וְשָׂרֵ֣י</span>
<span class="mila" data-lnk="2952790097" data-exlnk="0" id="M_28_1_17">הַמֵּא֡וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_18">וְשָׂרֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_19">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12919">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_20">רְכוּשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12921">־</span><span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_28_1_21">וּמִקְנֶה֩</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="12923">׀</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_1_22">לַמֶּ֨לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_1_23">וּלְבָנָ֜יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_1_24">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12927">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_1_25">הַסָּרִיסִ֧ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_1_26">וְהַגִּבּוֹרִ֛ים</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_28_1_27">וּֽלְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12931">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_28_1_28">גִּבּ֥וֹר</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_28_1_29">חָ֖יִל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_1_30">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12935">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_1_31">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12937">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_2" data-pasuk-now="23"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_2_1">וַיָּ֨קָם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_2_2">דָּוִ֤יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_2_3">הַמֶּ֙לֶךְ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_2_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12942">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_28_2_5">רַגְלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_6">וַיֹּ֕אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_7">שְׁמָע֖וּנִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_8">אַחַ֣י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_2_9">וְעַמִּ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_10">אֲנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_11">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12950">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_12">לְבָבִ֡י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_2_13">לִבְנוֹת֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_2_14">בֵּ֨ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_2_15">מְנוּחָ֜ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_2_16">לַאֲר֣וֹן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_2_17">בְּרִית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12957">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_2_18">יְהוָ֗ה</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_28_2_19">וְלַֽהֲדֹם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_20">רַגְלֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_21">אֱלֹהֵ֔ינוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_22">וַהֲכִינ֖וֹתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_2_23">לִבְנֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12964">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_3" data-pasuk-now="13"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_3_1">וְהָֽאֱלֹהִים֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_3_2">אָ֣מַר</span>
<span class="mila" data-lnk="2952790096" data-exlnk="0" id="M_28_3_3">לִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_3_4">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12969">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_3_5">תִבְנֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_3_6">בַ֖יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_3_7">לִשְׁמִ֑י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_3_8">כִּ֣י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_3_9">אִ֧ישׁ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_3_10">מִלְחָמ֛וֹת</span>
<span class="mila" data-lnk="805306392" data-exlnk="0" id="M_28_3_11">אַ֖תָּה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_3_12">וְדָמִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_3_13">שָׁפָֽכְתָּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12979">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_4" data-pasuk-now="29"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_1">וַיִּבְחַ֡ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_2">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_4_3">אֱלֹהֵי֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_4">יִשְׂרָאֵ֨ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_5">בִּ֜י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_6">מִכֹּ֣ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_7">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12987">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_8">אָבִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_4_9">לִהְי֨וֹת</span>
<span class="mila" data-lnk="805306388" data-exlnk="0" id="M_28_4_10">לְמֶ֤לֶךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12992">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_12">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_4_13">לְעוֹלָ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_14">כִּ֤י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_15">בִֽיהוּדָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_16">בָּחַ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_17">לְנָגִ֔יד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_18">וּבְבֵ֥ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_19">יְהוּדָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_20">בֵּ֣ית</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_21">אָבִ֑י</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_28_4_22">וּבִבְנֵ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_23">אָבִ֔י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_24">בִּ֣י</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_28_4_25">רָצָ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_4_26">לְהַמְלִ֖יךְ</span>
<span class="mila" data-lnk="268435476" data-exlnk="0" id="M_28_4_27">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13009">־</span><span class="mila" data-lnk="268435476" data-exlnk="0" id="M_28_4_28">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13011">־</span><span class="mila" data-lnk="805306388" data-exlnk="0" id="M_28_4_29">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13013">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_5" data-pasuk-now="18"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026531956" data-exlnk="0" id="M_28_5_1">וּמִ֨כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13015">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_5_2">בָּנַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_3">כִּ֚י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_4">רַבִּ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_5">בָּנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_6">נָ֥תַן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_7">לִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_8">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_9">וַיִּבְחַר֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_5_10">בִּשְׁלֹמֹ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_5_11">בְנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_12">לָשֶׁ֗בֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13028">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_14">כִּסֵּ֛א</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_28_5_15">מַלְכ֥וּת</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_28_5_16">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_17">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13033">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_5_18">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13035">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_6" data-pasuk-now="17"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3489661008" data-exlnk="0" id="M_28_6_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_28_6_2">לִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_3">שְׁלֹמֹ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_4">בִנְךָ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_5">הוּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13041">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_6">יִבְנֶ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_7">בֵיתִ֖י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_28_6_8">וַחֲצֵרוֹתָ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13046">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_10">בָחַ֨רְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_11">ב֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_12">לִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_13">לְבֵ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_14">וַאֲנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_15">אֶהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13053">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_16">לּ֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_6_17">לְאָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13056">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_7" data-pasuk-now="12"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_7_1">וַהֲכִינוֹתִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_7_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13059">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_7_3">מַלְכוּת֖וֹ</span>
<span class="mila" data-lnk="1879048272" data-exlnk="0" id="M_28_7_4">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13062">־</span><span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_28_7_5">לְעוֹלָ֑ם</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_7_6">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13065">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_28_7_7">יֶחֱזַ֗ק</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_7_8">לַעֲשׂ֛וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_7_9">מִצְוֺתַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_7_10">וּמִשְׁפָּטַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_7_11">כַּיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_7_12">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13072">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_8" data-pasuk-now="24"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_1">וְ֠עַתָּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_2">לְעֵינֵ֨י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_8_3">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13076">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_28_8_4">יִשְׂרָאֵ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_8_5">קְהַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13079">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_6">יְהוָה֙</span>
<span class="mila" data-lnk="1073741889" data-exlnk="0" id="M_28_8_7">וּבְאָזְנֵ֣י</span>
<span class="mila" data-lnk="2147483717" data-exlnk="0" id="M_28_8_8">אֱלֹהֵ֔ינוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_8_9">שִׁמְר֣וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_8_10">וְדִרְשׁ֔וּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_8_11">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13086">־</span><span class="mila" data-lnk="4026531957" data-exlnk="0" id="M_28_8_12">מִצְוֺ֖ת</span>
<span class="mila" data-lnk="1342177397" data-exlnk="0" id="M_28_8_13">יְהוָ֣ה</span>
<span class="mila" data-lnk="2684354677" data-exlnk="0" id="M_28_8_14">אֱלֹהֵיכֶ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_15">לְמַ֤עַן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_16">תִּֽירְשׁוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_8_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13093">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_18">הָאָ֣רֶץ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_19">הַטּוֹבָ֔ה</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_28_8_20">וְהִנְחַלְתֶּ֛ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_21">לִבְנֵיכֶ֥ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_22">אַחֲרֵיכֶ֖ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_23">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13100">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_8_24">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13102">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_9" data-pasuk-now="29"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_9_1">וְאַתָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_9_2">שְׁלֹמֹֽה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13105">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_9_3">בְנִ֡י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_28_9_4">דַּע֩</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_28_9_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13109">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_28_9_6">אֱלֹהֵ֨י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_28_9_7">אָבִ֜יךָ</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_28_9_8">וְעָבְדֵ֗הוּ</span>
<span class="mila" data-lnk="1342177365" data-exlnk="0" id="M_28_9_9">בְּלֵ֤ב</span>
<span class="mila" data-lnk="3758096469" data-exlnk="0" id="M_28_9_10">שָׁלֵם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_9_11">וּבְנֶ֣פֶשׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_9_12">חֲפֵצָ֔ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_9_13">כִּ֤י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_9_14">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13119">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_28_9_15">לְבָבוֹת֙</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_28_9_16">דּוֹרֵ֣שׁ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_9_17">יְהוָ֔ה</span>
<span class="mila" data-lnk="3489661043" data-exlnk="0" id="M_28_9_18">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13124">־</span><span class="mila" data-lnk="2684354675" data-exlnk="0" id="M_28_9_19">יֵ֥צֶר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_9_20">מַחֲשָׁב֖וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_9_21">מֵבִ֑ין</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_9_22">אִֽם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13129">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_9_23">תִּדְרְשֶׁ֙נּוּ֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_9_24">יִמָּ֣צֵא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_9_25">לָ֔ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_9_26">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13134">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_9_27">תַּעַזְבֶ֖נּוּ</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_28_9_28">יַזְנִיחֲךָ֥</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_9_29">לָעַֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13138">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_10" data-pasuk-now="11"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_28_10_1">רְאֵ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="13140">׀</span>
<span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_28_10_2">עַתָּ֗ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_10_3">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13143">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_10_4">יְהוָ֛ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_10_5">בָּ֧חַר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_10_6">בְּךָ֛</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_10_7">לִבְנֽוֹת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13148">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_10_8">בַּ֥יִת</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_28_10_9">לַמִּקְדָּ֖שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_10_10">חֲזַ֥ק</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_10_11">וַעֲשֵֽׂה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13154">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13155"> פ </span>
</span>
<br /><span id="PS_28_11" data-pasuk-now="15"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_11_1">וַיִּתֵּ֣ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_11_2">דָּוִ֣יד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_11_3">לִשְׁלֹמֹ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_11_4">בְנ֡וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_11_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13161">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_28_11_6">תַּבְנִ֣ית</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_11_7">הָאוּלָם֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_11_8">וְֽאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13165">־</span><span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_28_11_9">בָּ֨תָּ֜יו</span>
<span class="mila" data-lnk="3221225543" data-exlnk="0" id="M_28_11_10">וְגַנְזַכָּ֧יו</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_28_11_11">וַעֲלִיֹּתָ֛יו</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_28_11_12">וַחֲדָרָ֥יו</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_28_11_13">הַפְּנִימִ֖ים</span>
<span class="mila" data-lnk="1073741892" data-exlnk="0" id="M_28_11_14">וּבֵ֥ית</span>
<span class="mila" data-lnk="2147483716" data-exlnk="0" id="M_28_11_15">הַכַּפֹּֽרֶת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_12" data-pasuk-now="17"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_12_1">וְתַבְנִ֗ית</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_28_12_2">כֹּל֩</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_28_12_3">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_28_12_4">הָיָ֤ה</span>
<span class="mila" data-lnk="4026531959" data-exlnk="0" id="M_28_12_5">בָר֙וּחַ֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_28_12_6">עִמּ֔וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_12_7">לְחַצְר֧וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_12_8">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13182">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_12_9">יְהוָ֛ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_12_10">וּלְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13185">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_12_11">הַלְּשָׁכ֖וֹת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_12_12">סָבִ֑יב</span>
<span class="mila" data-lnk="1879048277" data-exlnk="0" id="M_28_12_13">לְאֹֽצְרוֹת֙</span>
<span class="mila" data-lnk="1342177365" data-exlnk="0" id="M_28_12_14">בֵּ֣ית</span>
<span class="mila" data-lnk="2952790097" data-exlnk="0" id="M_28_12_15">הָאֱלֹהִ֔ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_12_16">וּלְאֹצְר֖וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_12_17">הַקֳּדָשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13193">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_13" data-pasuk-now="13"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_13_1">וּֽלְמַחְלְקוֹת֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_13_2">הַכֹּהֲנִ֣ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_13_3">וְהַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_13_4">וּֽלְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13198">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_13_5">מְלֶ֖אכֶת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_13_6">עֲבוֹדַ֣ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_13_7">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13202">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_28_13_8">יְהוָ֑ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_13_9">וּֽלְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13205">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_13_10">כְּלֵ֖י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_13_11">עֲבוֹדַ֥ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_13_12">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13209">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_13_13">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13211">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_14" data-pasuk-now="15"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_1">לַזָּהָ֤ב</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_28_14_2">בַּמִּשְׁקָל֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_3">לַזָּהָ֔ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_4">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13216">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_5">כְּלֵ֖י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_6">עֲבוֹדָ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_7">וַעֲבוֹדָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_8">לְכֹ֨ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_9">כְּלֵ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_10">הַכֶּ֙סֶף֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_14_11">בְּמִשְׁקָ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_14_12">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13225">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_14_13">כְּלֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_14_14">עֲבוֹדָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_14_15">וַעֲבוֹדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13229">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_15" data-pasuk-now="17"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_15_1">וּמִשְׁקָ֞ל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_28_15_2">לִמְנֹר֣וֹת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_28_15_3">הַזָּהָ֗ב</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_15_4">וְנֵרֹֽתֵיהֶם֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_28_15_5">זָהָ֔ב</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_28_15_6">בְּמִשְׁקַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13236">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_28_15_7">מְנוֹרָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_15_8">וּמְנוֹרָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_15_9">וְנֵרֹתֶ֑יהָ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_28_15_10">וְלִמְנֹר֨וֹת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_28_15_11">הַכֶּ֤סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_15_12">בְּמִשְׁקָל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_15_13">לִמְנוֹרָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_15_14">וְנֵרֹתֶ֔יהָ</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_28_15_15">כַּעֲבוֹדַ֖ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_15_16">מְנוֹרָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_15_17">וּמְנוֹרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13248">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_16" data-pasuk-now="10"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_16_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13250">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_16_2">הַזָּהָ֥ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_16_3">מִשְׁקָ֛ל</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_28_16_4">לְשֻׁלְחֲנ֥וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_28_16_5">הַֽמַּעֲרֶ֖כֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_16_6">לְשֻׁלְחַ֣ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_16_7">וְשֻׁלְחָ֑ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_16_8">וְכֶ֖סֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_16_9">לְשֻׁלְחֲנ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_16_10">הַכָּֽסֶף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13260">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_17" data-pasuk-now="15"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_28_17_1">וְהַמִּזְלָג֧וֹת</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_28_17_2">וְהַמִּזְרָק֛וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_3">וְהַקְּשָׂוֺ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_4">זָהָ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_5">טָה֑וֹר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_17_6">וְלִכְפוֹרֵ֨י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_17_7">הַזָּהָ֤ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_8">בְּמִשְׁקָל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_9">לִכְפ֣וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_10">וּכְפ֔וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_11">וְלִכְפוֹרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_12">הַכֶּ֛סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_13">בְּמִשְׁקָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_14">לִכְפ֥וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_17_15">וּכְפֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13276">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_18" data-pasuk-now="15"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_18_1">וּלְמִזְבַּ֧ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_18_2">הַקְּטֹ֛רֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_18_3">זָהָ֥ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_18_4">מְזֻקָּ֖ק</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_28_18_5">בַּמִּשְׁקָ֑ל</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_28_18_6">וּלְתַבְנִ֣ית</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_28_18_7">הַמֶּרְכָּבָ֗ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_28_18_8">הַכְּרוּבִ֤ים</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_28_18_9">זָהָב֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_28_18_10">לְפֹ֣רְשִׂ֔ים</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_28_18_11">וְסֹכֲכִ֖ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_18_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13289">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_28_18_13">אֲר֥וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_18_14">בְּרִית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13292">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_28_18_15">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13294">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_19" data-pasuk-now="9"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_19_1">הַכֹּ֥ל</span>
<span class="mila" data-lnk="4026531955" data-exlnk="0" id="M_28_19_2">בִּכְתָ֛ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_19_3">מִיַּ֥ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_19_4">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_19_5">עָלַ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_19_6">הִשְׂכִּ֑יל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_19_7">כֹּ֖ל</span>
<span class="mila" data-lnk="3221225539" data-exlnk="0" id="M_28_19_8">מַלְאֲכ֥וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_19_9">הַתַּבְנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13305">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13306"> פ </span>
</span>
<br /><span id="PS_28_20" data-pasuk-now="27"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_2">דָּוִ֜יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_3">לִשְׁלֹמֹ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_4">בְנ֗וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_20_5">חֲזַ֤ק</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_28_20_6">וֶֽאֱמַץ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_7">וַעֲשֵׂ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_8">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13315">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_9">תִּירָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_10">וְאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13318">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_11">תֵּחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_12">כִּי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_13">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_14">אֱלֹהִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_15">אֱלֹהַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_16">עִמָּ֔ךְ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_20_17">לֹ֤א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_20_18">יַרְפְּךָ֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_20_19">וְלֹ֣א</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_20_20">יַעַזְבֶ֔ךָּ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_28_20_21">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13330">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_28_20_22">לִכְל֕וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_23">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13333">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_24">מְלֶ֖אכֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_25">עֲבוֹדַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_26">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13337">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_28_20_27">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13339">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_28_21" data-pasuk-now="21"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_21_1">וְהִנֵּ֗ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_21_2">מַחְלְקוֹת֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_21_3">הַכֹּהֲנִ֣ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_21_4">וְהַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_28_21_5">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13345">־</span><span class="mila" data-lnk="3489661009" data-exlnk="0" id="M_28_21_6">עֲבוֹדַ֖ת</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_28_21_7">בֵּ֣ית</span>
<span class="mila" data-lnk="3758096467" data-exlnk="0" id="M_28_21_8">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_21_9">וְעִמְּךָ֨</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_21_10">בְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13351">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_28_21_11">מְלָאכָ֜ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_21_12">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13354">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_28_21_13">נָדִ֤יב</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_28_21_14">בַּֽחָכְמָה֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_28_21_15">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13358">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_28_21_16">עֲבוֹדָ֔ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_21_17">וְהַשָּׂרִ֥ים</span>
<span class="mila" data-lnk="268435473" data-exlnk="0" id="M_28_21_18">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13362">־</span><span class="mila" data-lnk="536870931" data-exlnk="0" id="M_28_21_19">הָעָ֖ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_28_21_20">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13365">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_28_21_21">דְּבָרֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13368">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13369">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>