<p id="PR_24" data-perek-now="270" data-perek-nops="31"><span class="perek-header">פרק כד</span>
<br /><span id="PS_24_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_1_1">וְלִבְנֵ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_1_2">אַהֲרֹ֖ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_1_3">מַחְלְקוֹתָ֑ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_1_4">בְּנֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_1_5">אַהֲרֹ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_6">נָדָב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_7">וַאֲבִיה֔וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_8">אֶלְעָזָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_1_9">וְאִיתָמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11114">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_2" data-pasuk-now="12"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_1">וַיָּ֨מָת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_2">נָדָ֤ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_3">וַֽאֲבִיהוּא֙</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_2_4">לִפְנֵ֣י</span>
<span class="mila" data-lnk="2147483713" data-exlnk="0" id="M_24_2_5">אֲבִיהֶ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_6">וּבָנִ֖ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_7">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11122">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_8">הָי֣וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_9">לָהֶ֑ם</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_2_10">וַֽיְכַהֲנ֔וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_11">אֶלְעָזָ֖ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_2_12">וְאִיתָמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11128">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_3" data-pasuk-now="12"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_24_3_1">וַיֶּחָלְקֵ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_3_2">דָּוִ֔יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_3_3">וְצָדוֹק֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_4">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11133">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_5">בְּנֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_3_6">אֶלְעָזָ֔ר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_24_3_7">וַאֲחִימֶ֖לֶךְ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_24_3_8">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11138">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_24_3_9">בְּנֵ֣י</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_24_3_10">אִיתָמָ֑ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_3_11">לִפְקֻדָּתָ֖ם</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_24_3_12">בַּעֲבֹדָתָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11143">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_4" data-pasuk-now="22"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_4_1">וַיִּמָּצְא֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_2">בְֽנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11146">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_3">אֶלְעָזָ֡ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_4">רַבִּ֞ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_4_5">לְרָאשֵׁ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_6">הַגְּבָרִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_7">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11152">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_24_4_8">בְּנֵ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_4_9">אִיתָמָ֖ר</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_24_4_10">וַֽיַּחְלְק֑וּם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_4_11">לִבְנֵ֨י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_4_12">אֶלְעָזָ֜ר</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_24_4_13">רָאשִׁ֤ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_4_14">לְבֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11160">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_24_4_15">אָבוֹת֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_4_16">שִׁשָּׁ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_4_17">עָשָׂ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_18">וְלִבְנֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_19">אִיתָמָ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_20">לְבֵ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_4_21">אֲבוֹתָ֖ם</span>
<span class="mila" data-lnk="805306387" data-exlnk="0" id="M_24_4_22">שְׁמוֹנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11169">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_5" data-pasuk-now="15"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_24_5_1">וַיַּחְלְק֥וּם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_5_2">בְּגוֹרָל֖וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_5_3">אֵ֣לֶּה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_5_4">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11174">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_24_5_5">אֵ֑לֶּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11177">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_7">הָי֤וּ</span>
<span class="mila" data-lnk="1342177362" data-exlnk="0" id="M_24_5_8">שָׂרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11180">־</span><span class="mila" data-lnk="2684354642" data-exlnk="0" id="M_24_5_9">קֹ֙דֶשׁ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_10">וְשָׂרֵ֣י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_11">הָאֱלֹהִ֔ים</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_24_5_12">מִבְּנֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_13">אֶלְעָזָ֖ר</span>
<span class="mila" data-lnk="4026531954" data-exlnk="0" id="M_24_5_14">וּבִבְנֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_5_15">אִיתָמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11189">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11190">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_6" data-pasuk-now="27"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_6_1">וַֽיִּכְתְּבֵ֡ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_24_6_2">שְֽׁמַעְיָה֩</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_6_3">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11194">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_24_6_4">נְתַנְאֵ֨ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_24_6_5">הַסּוֹפֵ֜ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_6">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11198">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_7">הַלֵּוִ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_8">לִפְנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_9">הַמֶּ֤לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_10">וְהַשָּׂרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_11">וְצָד֣וֹק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_12">הַכֹּהֵ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_13">וַאֲחִימֶ֙לֶךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_14">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11207">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_15">אֶבְיָתָ֔ר</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_24_6_16">וְרָאשֵׁי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_17">הָאָב֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_18">לַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_19">וְלַלְוִיִּ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_20">בֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11214">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_21">אָ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_22">אֶחָ֗ד</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_6_23">אָחֻז֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_24">לְאֶלְעָזָ֔ר</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_6_25">וְאָחֻ֥ז</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="11220">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_26">אָחֻ֖ז</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_6_27">לְאִיתָמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11224">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11225"> פ </span>
</span>
<br /><span id="PS_24_7" data-pasuk-now="6"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_1">וַיֵּצֵ֞א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_2">הַגּוֹרָ֤ל</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_24_7_3">הָֽרִאשׁוֹן֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_7_4">לִיה֣וֹיָרִ֔יב</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_7_4">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_5">לִידַֽעְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_7_6">הַשֵּׁנִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11234">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11235">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_8" data-pasuk-now="4"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_1">לְחָרִם֙</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="11237">הַשְּׁלִישִׁ֔י</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_8_2">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_8_3">לִשְׂעֹרִ֖ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_8_4">הָרְבִעִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11243">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11244">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_9" data-pasuk-now="4"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_1">לְמַלְכִּיָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11246">הַחֲמִישִׁ֔י</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_9_2">   ס </span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_9_3">לְמִיָּמִ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_9_4">הַשִּׁשִּֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11252">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11253">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_10" data-pasuk-now="4"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_10_1">לְהַקּוֹץ֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="11255">הַשְּׁבִעִ֔י</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_10_2">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_3">לַאֲבִיָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_10_4">הַשְּׁמִינִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11261">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11262">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_11" data-pasuk-now="4"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_11_1">לְיֵשׁ֙וּעַ֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="11264">הַתְּשִׁעִ֔י</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_11_2">   ס </span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_11_3">לִשְׁכַנְיָ֖הוּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_11_4">הָעֲשִׂרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11270">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11271">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_12" data-pasuk-now="6"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_1">לְאֶלְיָשִׁיב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_2">עַשְׁתֵּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11274">עָשָׂ֔ר</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_12_3">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_4">לְיָקִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_5">שְׁנֵ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_12_6">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11281">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11282">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_13" data-pasuk-now="6"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_13_1">לְחֻפָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_2">שְׁלֹשָׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11285">עָשָׂ֔ר</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_13_3">   ס </span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_13_4">לְיֶשֶׁבְאָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_5">אַרְבָּעָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_13_6">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11292">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11293">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_14" data-pasuk-now="6"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_14_1">לְבִלְגָּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_2">חֲמִשָּׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11296">עָשָׂ֔ר</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_14_3">   ס </span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_14_4">לְאִמֵּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_5">שִׁשָּׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_14_6">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11303">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11304">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_15_1">לְחֵזִיר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_2">שִׁבְעָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11307">עָשָׂ֔ר</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_15_3">   ס </span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_15_4">לְהַפִּצֵּ֖ץ</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_24_15_5">שְׁמוֹנָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_15_6">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11314">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11315">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_16" data-pasuk-now="5"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_16_1">לִֽפְתַחְיָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_16_2">תִּשְׁעָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11318">עָשָׂ֔ר</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_16_3">   ס </span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_16_4">לִֽיחֶזְקֵ֖אל</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_24_16_5">הָעֶשְׂרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11324">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11325">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_17" data-pasuk-now="6"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_17_1">לְיָכִין֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_2">אֶחָ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11328">וְעֶשְׂרִ֔ים</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_17_3">   ס </span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_17_4">לְגָמ֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_5">שְׁנַ֥יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_17_6">וְעֶשְׂרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11335">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11336">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_18_1">לִדְלָיָ֙הוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_2">שְׁלֹשָׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11339">וְעֶשְׂרִ֔ים</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_18_3">   ס </span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_18_4">לְמַעַזְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_5">אַרְבָּעָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_18_6">וְעֶשְׂרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11346">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11347"> פ </span>
</span>
<br class="sfpsk-br not-displayed" /><br /><span id="PS_24_19" data-pasuk-now="15"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_19_1">אֵ֣לֶּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_24_19_2">פְקֻדָּתָ֞ם</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_24_19_3">לַעֲבֹדָתָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_4">לָב֤וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_5">לְבֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11353">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_6">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_7">כְּמִשְׁפָּטָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_8">בְּיַ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_9">אַהֲרֹ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_10">אֲבִיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_19_11">כַּאֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_19_12">צִוָּ֔הוּ</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_24_19_13">יְהוָ֖ה</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_24_19_14">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_24_19_15">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11365">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="11366"> פ </span>
</span>
<br /><span id="PS_24_20" data-pasuk-now="9"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_1">וְלִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_2">לֵוִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_3">הַנּוֹתָרִ֑ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_20_4">לִבְנֵ֤י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_20_5">עַמְרָם֙</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_24_20_6">שֽׁוּבָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_7">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_20_8">שׁוּבָאֵ֖ל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_20_9">יֶחְדְּיָֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11377">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11378">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_21" data-pasuk-now="5"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_21_1">לִרְחַבְיָ֑הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_2">לִבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_3">רְחַבְיָ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_4">הָרֹ֖אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_21_5">יִשִּׁיָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11385">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11386">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_22" data-pasuk-now="5"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_1">לַיִּצְהָרִ֣י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_22_2">שְׁלֹמ֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_3">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_4">שְׁלֹמ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_22_5">יָֽחַת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11393">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11394">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_23" data-pasuk-now="8"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_24_23_1">וּבְנָ֖י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_23_2">יְרִיָּ֑הוּ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_24_23_3">אֲמַרְיָ֙הוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_4">הַשֵּׁנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_5">יַחֲזִיאֵל֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_23_6">הַשְּׁלִישִׁ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_7">יְקַמְעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_23_8">הָרְבִיעִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11404">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11405">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_24" data-pasuk-now="6"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_1">בְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_2">עֻזִּיאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_3">מִיכָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_4">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_24_5">מִיכָ֖ה</span>
<span data-lnk="0" data-exlnk="0" id="M_24_24_6" class="mila ktiv">שָׁמִֽור</span>
<span data-lnk="3221225536" data-exlnk="0" id="M_24_24_6_K" class="mila kri">שָׁמִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11413">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_25" data-pasuk-now="6"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_1">אֲחִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_2">מִיכָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11416">יִשִּׁיָּ֔ה</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_25_3">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_4">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_5">יִשִּׁיָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_25_6">זְכַרְיָֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11423">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11424">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_1">בְּנֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_2">מְרָרִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_3">מַחְלִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="11428">וּמוּשִׁ֔י</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_24_26_4">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_5">בְּנֵ֖י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_26_6">יַעֲזִיָּ֥הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_26_7">בְנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11435">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11436">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_24_27" data-pasuk-now="7"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_1">בְּנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_2">מְרָרִ֑י</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_24_27_3">לְיַעֲזִיָּ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_4">בְנ֔וֹ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_24_27_5">וְשֹׁ֥הַם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_6">וְזַכּ֖וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_27_7">וְעִבְרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11445">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11446">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_28" data-pasuk-now="6"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_1">לְמַחְלִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_2">אֶלְעָזָ֔ר</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_24_28_3">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11450">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_24_28_4">הָ֥יָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_5">ל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_28_6">בָּנִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11455">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11456">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_29" data-pasuk-now="4"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_29_1">לְקִ֖ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_29_2">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11459">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_29_3">קִ֥ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_29_4">יְרַחְמְאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11463">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11464">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_30" data-pasuk-now="10"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_24_30_1">וּבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_2">מוּשִׁ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_3">מַחְלִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_4">וְעֵ֖דֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_5">וִירִימ֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_30_6">אֵ֛לֶּה</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_24_30_7">בְּנֵ֥י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_30_8">הַלְוִיִּ֖ם</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_24_30_9">לְבֵ֥ית</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_30_10">אֲבֹתֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11475">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_24_31" data-pasuk-now="22"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_31_1">וַיַּפִּילוּ֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_31_2">גַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11478">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_24_31_3">הֵ֨ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_24_31_4">גּוֹרָל֜וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_5">לְעֻמַּ֣ת׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_6">אֲחֵיהֶ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_7">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11484">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_8">אַהֲרֹ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_9">לִפְנֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_10">דָוִ֤יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_11">הַמֶּ֙לֶךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_12">וְצָד֣וֹק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_13">וַאֲחִימֶ֔לֶךְ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_24_31_14">וְרָאשֵׁי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_15">הָאָב֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_16">לַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_24_31_17">וְלַלְוִיִּ֑ם</span>
<span class="mila" data-lnk="3221225542" data-exlnk="0" id="M_24_31_18">אָב֣וֹת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_24_31_19">הָרֹ֔אשׁ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_24_31_20">לְעֻמַּ֖ת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_24_31_21">אָחִ֥יו</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_24_31_22">הַקָּטָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11501">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11502">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>