<p id="PR_26" data-perek-now="355" data-perek-nops="32"><span class="perek-header">פרק כו</span>
<br /><span id="PS_26_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_1_1">לְמַחְלְק֖וֹת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_1_2">לְשֹׁעֲרִ֑ים</span>
<span class="mila" data-lnk="3221225541" data-exlnk="0" id="M_26_1_3">לַקָּרְחִ֕ים</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_26_1_4">מְשֶׁלֶמְיָ֥הוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_1_5">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11890">־</span><span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_26_1_6">קֹרֵ֖א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_1_7">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11893">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_26_1_8">בְּנֵ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_1_9">אָסָֽף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11896">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_2" data-pasuk-now="10"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_2_1">וְלִמְשֶׁלֶמְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_2_2">בָּנִ֑ים</span>
<span class="mila" data-lnk="1073741856" data-exlnk="0" id="M_26_2_3">זְכַרְיָ֤הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_2_4">הַבְּכוֹר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_2_5">יְדִיעֲאֵ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_2_6">הַשֵּׁנִ֔י</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_26_2_7">זְבַדְיָ֙הוּ֙</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_26_2_8">הַשְּׁלִישִׁ֔י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_26_2_9">יַתְנִיאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_2_10">הָרְבִיעִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11907">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_1">עֵילָ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_2">הַחֲמִישִׁי֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_3_3">יְהוֹחָנָ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_4">הַשִּׁשִּׁ֔י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_3_5">אֶלְיְהוֹעֵינַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_3_6">הַשְּׁבִיעִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11914">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_4" data-pasuk-now="13"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_1">וּלְעֹבֵ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_2">אֱדֹ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_3">בָּנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_4">שְׁמַעְיָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_5">הַבְּכוֹר֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_4_6">יְהוֹזָבָ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_7">הַשֵּׁנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_8">יוֹאָ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_9">הַשְּׁלִשִׁי֙</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_26_4_10">וְשָׂכָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_11">הָרְבִיעִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_12">וּנְתַנְאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_4_13">הַחֲמִישִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11928">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_1">עַמִּיאֵ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_2">הַשִּׁשִּׁי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_3">יִשָּׂשכָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_5_4">הַשְּׁבִיעִ֔י</span>
<span class="mila" data-lnk="3221225538" data-exlnk="0" id="M_26_5_5">פְּעֻלְּתַ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_5_6">הַשְּׁמִינִ֑י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_5_7">כִּ֥י</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_26_5_8">בֵרֲכ֖וֹ</span>
<span class="mila" data-lnk="2147483715" data-exlnk="0" id="M_26_5_9">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11939">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11940">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_1">וְלִֽשְׁמַעְיָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_2">בְנוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_3">נוֹלַ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_6_4">בָּנִ֔ים</span>
<span class="mila" data-lnk="3221225543" data-exlnk="0" id="M_26_6_5">הַמִּמְשָׁלִ֖ים</span>
<span class="mila" data-lnk="1073741895" data-exlnk="0" id="M_26_6_6">לְבֵ֣ית</span>
<span class="mila" data-lnk="2147483719" data-exlnk="0" id="M_26_6_7">אֲבִיהֶ֑ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_6_8">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11949">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_26_6_9">גִבּ֥וֹרֵי</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_6_10">חַ֖יִל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_6_11">הֵֽמָּה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11953">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_7" data-pasuk-now="11"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_2">שְׁמַֽעְיָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_3">עָ֠תְנִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_4">וּרְפָאֵ֨ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_5">וְעוֹבֵ֧ד</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_7_6">אֶלְזָבָ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_7">אֶחָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_8">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11962">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_9">חָ֑יִל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_7_10">אֱלִיה֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_7_11">וּסְמַכְיָֽהוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11966">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_8" data-pasuk-now="16"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_1">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11968">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_2">אֵ֜לֶּה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_8_3">מִבְּנֵ֣י׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_4">עֹבֵ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_5">אֱדֹ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_6">הֵ֤מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_7">וּבְנֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_8">וַאֲחֵיהֶ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_8_9">אִֽישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11977">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_26_8_10">חַ֥יִל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_8_11">בַּכֹּ֖חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_12">לַעֲבֹדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_13">שִׁשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_14">וּשְׁנַ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_15">לְעֹבֵ֥ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_8_16">אֱדֹֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11985">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_9_1">וְלִמְשֶׁלֶמְיָ֗הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_9_2">בָּנִ֧ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_9_3">וְאַחִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_9_4">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11990">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_9_5">חָ֖יִל</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_26_9_6">שְׁמוֹנָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_9_7">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="11995">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="11996">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_1">וּלְחֹסָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_2">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="11999">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_3">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12001">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_4">מְרָרִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_5">בָּנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_6">שִׁמְרִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_7">הָרֹאשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_8">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_9">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12008">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_10">הָיָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_11">בְכ֔וֹר</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_10_12">וַיְשִׂימֵ֥הוּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_10_13">אָבִ֖יהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_10_14">לְרֹֽאשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12014">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_11" data-pasuk-now="12"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_1">חִלְקִיָּ֤הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_2">הַשֵּׁנִי֙</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_26_11_3">טְבַלְיָ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_4">הַשְּׁלִשִׁ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_5">זְכַרְיָ֖הוּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_11_6">הָרְבִעִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12022">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_8">בָּנִ֧ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_9">וְאַחִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_10">לְחֹסָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_11">שְׁלֹשָׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_11_12">עָשָֽׂר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12028">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_12" data-pasuk-now="11"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_1">לְ֠אֵלֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_2">מַחְלְק֨וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_3">הַשֹּׁעֲרִ֜ים</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_26_12_4">לְרָאשֵׁ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_5">הַגְּבָרִ֛ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_12_6">מִשְׁמָר֖וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_12_7">לְעֻמַּ֣ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_12_8">אֲחֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_12_9">לְשָׁרֵ֖ת</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_26_12_10">בְּבֵ֥ית</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_26_12_11">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12040">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_26_13_1">וַיַּפִּ֨ילוּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_26_13_2">גוֹרָל֜וֹת</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_26_13_3">כַּקָּטֹ֧ן</span>
<span class="mila" data-lnk="3758096471" data-exlnk="0" id="M_26_13_4">כַּגָּד֛וֹל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_13_5">לְבֵ֥ית</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_13_6">אֲבוֹתָ֖ם</span>
<span class="mila" data-lnk="1879048279" data-exlnk="0" id="M_26_13_7">לְשַׁ֥עַר</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_26_13_8">וָשָֽׁעַר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12050">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12051"> פ </span>
</span>
<br /><span id="PS_26_14" data-pasuk-now="13"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_14_1">וַיִּפֹּ֧ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_14_2">הַגּוֹרָ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_3">מִזְרָ֖חָה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_14_4">לְשֶׁלֶמְיָ֑הוּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_14_5">וּזְכַרְיָ֨הוּ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_14_6">בְנ֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_7">יוֹעֵ֣ץ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="12059">׀</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_14_8">בְּשֶׂ֗כֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_9">הִפִּ֙ילוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_10">גּֽוֹרָל֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_11">וַיֵּצֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_12">גוֹרָל֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_14_13">צָפֽוֹנָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12066">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_15" data-pasuk-now="6"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_15_1">לְעֹבֵ֥ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_15_2">אֱדֹ֖ם</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_26_15_3">נֶ֑גְבָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_15_4">וּלְבָנָ֖יו</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_15_5">בֵּ֥ית</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_15_6">הָאֲסֻפִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12073">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_26_16_1">לְשֻׁפִּ֤ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_16_2">וּלְחֹסָה֙</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_26_16_3">לַֽמַּעֲרָ֔ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_16_4">עִ֚ם</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_26_16_5">שַׁ֣עַר</span>
<span class="mila" data-lnk="3221225548" data-exlnk="0" id="M_26_16_6">שַׁלֶּ֔כֶת</span>
<span class="mila" data-lnk="4026531932" data-exlnk="0" id="M_26_16_7">בַּֽמֲסִלָּ֖ה</span>
<span class="mila" data-lnk="805306396" data-exlnk="0" id="M_26_16_8">הָעוֹלָ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_16_9">מִשְׁמָ֖ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_16_10">לְעֻמַּ֥ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_16_11">מִשְׁמָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12086">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12087">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_17" data-pasuk-now="12"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_17_1">לַמִּזְרָח֘</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_17_2">הַלְוִיִּ֣ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_17_3">שִׁשָּׁה֒</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_26_17_4">לַצָּפ֤וֹנָה</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_26_17_5">לַיּוֹם֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_17_6">אַרְבָּעָ֔ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_17_7">לַנֶּ֥גְבָּה</span>
<span class="mila" data-lnk="805306388" data-exlnk="0" id="M_26_17_8">לַיּ֖וֹם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="12096">אַרְבָּעָ֑ה</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_26_17_9">   ס </span>
<span class="mila" data-lnk="3221225543" data-exlnk="0" id="M_26_17_10">וְלָאֲסֻפִּ֖ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_17_11">שְׁנַ֥יִם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_17_12">שְׁנָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12102">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_26_18" data-pasuk-now="6"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_26_18_1">לַפַּרְבָּ֖ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_18_2">לַֽמַּעֲרָ֑ב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_18_3">אַרְבָּעָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_18_4">לַֽמֲסִלָּ֔ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_18_5">שְׁנַ֖יִם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_18_6">לַפַּרְבָּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12109">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_19" data-pasuk-now="7"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_1">אֵ֗לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_2">מַחְלְקוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_3">הַשֹּׁ֣עֲרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_4">לִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_5">הַקָּרְחִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_6">וְלִבְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_19_7">מְרָרִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12117">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_20" data-pasuk-now="8"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_20_1">וְֽהַלְוִיִּ֑ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_20_2">אֲחִיָּ֗ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_20_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12121">־</span><span class="mila" data-lnk="4026531957" data-exlnk="0" id="M_26_20_4">אֽוֹצְרוֹת֙</span>
<span class="mila" data-lnk="1342177397" data-exlnk="0" id="M_26_20_5">בֵּ֣ית</span>
<span class="mila" data-lnk="2952790129" data-exlnk="0" id="M_26_20_6">הָאֱלֹהִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_20_7">וּלְאֹצְר֖וֹת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_20_8">הַקֳּדָשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12128">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12129">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_21" data-pasuk-now="10"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_21_1">בְּנֵ֣י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_21_2">לַ֠עְדָּן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_21_3">בְּנֵ֨י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_21_4">הַגֵּרְשֻׁנִּ֜י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_21_5">לְלַעְדָּ֗ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_21_6">רָאשֵׁ֧י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_21_7">הָאָב֛וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_21_8">לְלַעְדָּ֥ן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_21_9">הַגֵּרְשֻׁנִּ֖י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_21_10">יְחִיאֵלִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12141">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12142">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_22" data-pasuk-now="9"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_22_1">בְּנֵ֖י</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_26_22_2">יְחִיאֵלִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_22_3">זֵתָם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_22_4">וְיוֹאֵ֣ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_22_5">אָחִ֔יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_22_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12149">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_26_22_7">אֹצְר֖וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_22_8">בֵּ֥ית</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_22_9">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12154">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12155">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_23" data-pasuk-now="4"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_23_1">לַֽעַמְרָמִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_23_2">לַיִּצְהָרִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_23_3">לַחֶבְרוֹנִ֖י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_23_4">לָעָזִּיאֵלִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12160">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_24" data-pasuk-now="8"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="3221225549" data-exlnk="0" id="M_26_24_1">וּשְׁבֻאֵל֙</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_26_24_2">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12163">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_26_24_3">גֵּרְשׁ֣וֹם</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_26_24_4">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12166">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_26_24_5">מֹשֶׁ֔ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_24_6">נָגִ֖יד</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_26_24_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12170">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_26_24_8">הָאֹצָרֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12173">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="12174">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_25" data-pasuk-now="12"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_25_1">וְאֶחָ֖יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_25_2">לֶאֱלִיעֶ֑זֶר</span>
<span class="mila" data-lnk="4026531954" data-exlnk="0" id="M_26_25_3">רְחַבְיָ֨הוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_25_4">בְנ֜וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_25_5">וִישַׁעְיָ֤הֽוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_25_6">בְנוֹ֙</span>
<span class="mila" data-lnk="3221225538" data-exlnk="0" id="M_26_25_7">וְיֹרָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_25_8">בְּנ֔וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_25_9">וְזִכְרִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_25_10">בְנ֖וֹ</span>
<span data-lnk="0" data-exlnk="0" id="M_26_25_11" class="mila ktiv">וּשְׁלֹמִ֥ות</span>
<span data-lnk="4026531922" data-exlnk="0" id="M_26_25_11_K" class="mila kri">וּשְׁלֹמִ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_25_12">בְּנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12188">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_26" data-pasuk-now="18"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_1">ה֧וּא</span>
<span class="mila" data-lnk="4026531960" data-exlnk="0" id="M_26_26_2">שְׁלֹמ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_3">וְאֶחָ֗יו</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_26_4">עַ֣ל</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_26_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12194">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_26_26_6">אֹצְר֤וֹת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_26_26_7">הַקֳּדָשִׁים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_8">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_9">הִקְדִּ֜ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_10">דָּוִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_11">הַמֶּ֗לֶךְ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_26_12">וְרָאשֵׁ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_13">הָאָב֛וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_14">לְשָׂרֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12204">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_15">הָאֲלָפִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_16">וְהַמֵּא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_17">וְשָׂרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_26_18">הַצָּבָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12209">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_27" data-pasuk-now="8"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_27_1">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12211">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_27_2">הַמִּלְחָמ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_27_3">וּמִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12214">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_27_4">הַשָּׁלָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_27_5">הִקְדִּ֑ישׁוּ</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_26_27_6">לְחַזֵּ֖ק</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_26_27_7">לְבֵ֥ית</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_26_27_8">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12220">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_28" data-pasuk-now="19"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_1">וְכֹ֨ל</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_26_28_2">הַהִקְדִּ֜ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_3">שְׁמוּאֵ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_4">הָרֹאֶה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_5">וְשָׁא֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12227">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_7">קִ֔ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_8">וְאַבְנֵ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12231">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_10">נֵ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_11">וְיוֹאָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_12">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12235">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_13">צְרוּיָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_14">כֹּ֚ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_15">הַמַּקְדִּ֔ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_16">עַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_17">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12241">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_18">שְׁלֹמִ֖ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_28_19">וְאֶחָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12245">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12246"> פ </span>
</span>
<br /><span id="PS_26_29" data-pasuk-now="9"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_29_1">לַיִּצְהָרִ֞י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_29_2">כְּנַנְיָ֣הוּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_29_3">וּבָנָ֗יו</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_26_29_4">לַמְּלָאכָ֤ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_26_29_5">הַחִֽיצוֹנָה֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_29_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12253">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_26_29_7">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_29_8">לְשֹׁטְרִ֖ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_29_9">וּלְשֹׁפְטִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12257">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_30" data-pasuk-now="19"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_30_1">לַחֶבְרוֹנִ֡י</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_26_30_2">חֲשַׁבְיָהוּ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_30_3">וְאֶחָ֨יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_30_4">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12262">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_30_5">חַ֜יִל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_30_6">אֶ֣לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_30_7">וּשְׁבַע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12266">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_30_8">מֵא֗וֹת</span>
<span class="mila" data-lnk="1073741892" data-exlnk="0" id="M_26_30_9">עַ֚ל</span>
<span class="mila" data-lnk="2147483716" data-exlnk="0" id="M_26_30_10">פְּקֻדַּ֣ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_30_11">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_30_12">מֵעֵ֥בֶר</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_26_30_13">לַיַּרְדֵּ֖ן</span>
<span class="mila" data-lnk="4026531926" data-exlnk="0" id="M_26_30_14">מַעְרָ֑בָה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_30_15">לְכֹל֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_30_16">מְלֶ֣אכֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_30_17">יְהוָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_30_18">וְלַעֲבֹדַ֖ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_26_30_19">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12279">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_31" data-pasuk-now="17"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_31_1">לַֽחֶבְרוֹנִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_31_2">יְרִיָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_31_3">הָרֹ֔אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_31_4">לַֽחֶבְרוֹנִ֥י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_26_31_5">לְתֹלְדֹתָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_31_6">לְאָב֑וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_26_31_7">בִּשְׁנַ֨ת</span>
<span class="mila" data-lnk="4026531955" data-exlnk="0" id="M_26_31_8">הָאַרְבָּעִ֜ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_31_9">לְמַלְכ֤וּת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_26_31_10">דָּוִיד֙</span>
<span class="mila" data-lnk="3221225538" data-exlnk="0" id="M_26_31_11">נִדְרָ֔שׁוּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_31_12">וַיִּמָּצֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_31_13">בָהֶ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_31_14">גִּבּ֥וֹרֵי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_31_15">חַ֖יִל</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_26_31_16">בְּיַעְזֵ֥יר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_31_17">גִּלְעָֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12297">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_26_32" data-pasuk-now="22"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_1">וְאֶחָ֣יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_2">בְּנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12300">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_3">חַ֗יִל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_4">אַלְפַּ֛יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_5">וּשְׁבַ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_6">מֵא֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_7">רָאשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_8">הָאָב֑וֹת</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_26_32_9">וַֽיַּפְקִידֵ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_10">דָּוִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_11">הַמֶּ֗לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12311">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_13">הָראוּבֵנִ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_14">וְהַגָּדִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_15">וַחֲצִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_26_32_16">שֵׁ֣בֶט</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_26_32_17">הַֽמֲנַשִּׁ֔י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_32_18">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="12318">־</span><span class="mila" data-lnk="1342177396" data-exlnk="0" id="M_26_32_19">דְּבַ֥ר</span>
<span class="mila" data-lnk="3758096500" data-exlnk="0" id="M_26_32_20">הָאֱלֹהִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_32_21">וּדְבַ֥ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_26_32_22">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="12324">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="12325"> פ </span>
</span>
<br /></p>