<p id="PR_10" data-perek-now="203" data-perek-nops="14"><span class="perek-header">פרק י</span>
<br /><span id="PS_10_1" data-pasuk-now="12"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_10_1_1">וּפְלִשְׁתִּ֖ים</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_10_1_2">נִלְחֲמ֣וּ</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_10_1_3">בְיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_10_1_4">וַיָּ֤נָס</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_10_1_5">אִֽישׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5159">־</span><span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_10_1_6">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_7">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_8">פְלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_9">וַיִּפְּל֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_10">חֲלָלִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_11">בְּהַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_1_12">גִּלְבֹּֽעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5167">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_2" data-pasuk-now="16"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_10_2_1">וַיַּדְבְּק֣וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_2_2">פְלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_3">אַחֲרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_4">שָׁא֖וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_5">וְאַחֲרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_6">בָנָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_7">וַיַּכּ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_8">פְלִשְׁתִּ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5177">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_10_2_10">יוֹנָתָ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5180">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_12">אֲבִינָדָ֛ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_13">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5183">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_14">מַלְכִּישׁ֖וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_15">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_2_16">שָׁאֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5187">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_3" data-pasuk-now="10"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_3_1">וַתִּכְבַּ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_3_2">הַמִּלְחָמָה֙</span>
<span class="mila" data-lnk="1879048304" data-exlnk="0" id="M_10_3_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5191">־</span><span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_10_3_4">שָׁא֔וּל</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_10_3_5">וַיִּמְצָאֻ֖הוּ</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_10_3_6">הַמּוֹרִ֣ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_3_7">בַּקָּ֑שֶׁת</span>
<span class="mila" data-lnk="805306389" data-exlnk="0" id="M_10_3_8">וַיָּ֖חֶל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_3_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5198">־</span><span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_10_3_10">הַיּוֹרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5200">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_4" data-pasuk-now="28"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_2">שָׁאוּל֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5204">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_4">נֹשֵׂ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_5">כֵלָ֜יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_6">שְׁלֹ֥ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_7">חַרְבְּךָ֣׀</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_10_4_8">וְדָקְרֵ֣נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_9">בָ֗הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_10">פֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5212">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_11">יָבֹ֜אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_12">הָעֲרֵלִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_13">הָאֵ֙לֶּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_14">וְהִתְעַלְּלוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5217">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_15">בִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_16">וְלֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_17">אָבָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_18">נֹשֵׂ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_19">כֵלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_20">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_21">יָרֵ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="5225">מְאֹ֑ד</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_10_4_22">   ס </span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_23">וַיִּקַּ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_24">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_25">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5231">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_26">הַחֶ֔רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_27">וַיִּפֹּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_4_28">עָלֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5235">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_10_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_5_1">וַיַּ֥רְא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_5_2">נֹשֵֽׂא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5238">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_10_5_3">כֵלָ֖יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_5_4">כִּ֣י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_5_5">מֵ֣ת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_5_6">שָׁא֑וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_5_7">וַיִּפֹּ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_5_8">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5245">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_5_9">ה֛וּא</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_10_5_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5248">־</span><span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_10_5_11">הַחֶ֖רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_5_12">וַיָּמֹֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5252">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5253">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_6" data-pasuk-now="8"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_6_1">וַיָּ֤מָת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_6_2">שָׁאוּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_6_3">וּשְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_6_4">בָּנָ֔יו</span>
<span class="mila" data-lnk="1342177392" data-exlnk="0" id="M_10_6_5">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5259">־</span><span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_10_6_6">בֵּית֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_6_7">יַחְדָּ֥ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_6_8">מֵֽתוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5263">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_7" data-pasuk-now="19"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_1">וַ֠יִּרְאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5266">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_3">אִ֨ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_4">יִשְׂרָאֵ֤ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5270">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_6">בָּעֵ֙מֶק֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_7">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_8">נָ֔סוּ</span>
<span class="mila" data-lnk="3489661008" data-exlnk="0" id="M_10_7_9">וְכִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5275">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_10_7_10">מֵ֖תוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_11">שָׁא֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_12">וּבָנָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_13">וַיַּעַזְב֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_14">עָֽרֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_15">וַיָּנֻ֔סוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_16">וַיָּבֹ֣אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_17">פְלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_18">וַיֵּשְׁב֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_7_19">בָּהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5287">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5288">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_2">מִֽמָּחֳרָ֔ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_3">וַיָּבֹ֣אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_4">פְלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_5">לְפַשֵּׁ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5295">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_7">הַחֲלָלִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_8">וַֽיִּמְצְא֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5299">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_10">שָׁאוּל֙</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_10_8_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5302">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_10_8_12">בָּנָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_13">נֹפְלִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_14">בְּהַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_8_15">גִּלְבֹּֽעַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5307">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_10_9_1">וַיַּ֨פְשִׁיטֻ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_9_2">וַיִּשְׂא֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_9_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5311">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_9_4">רֹאשׁ֖וֹ</span>
<span class="mila" data-lnk="3489661040" data-exlnk="0" id="M_10_9_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5314">־</span><span class="mila" data-lnk="2952790128" data-exlnk="0" id="M_10_9_6">כֵּלָ֑יו</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_10_9_7">וַיְשַׁלְּח֨וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_9_8">בְאֶרֶץ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5318">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_10_9_9">פְּלִשְׁתִּ֜ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_9_10">סָבִ֗יב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_9_11">לְבַשֵּׂ֛ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_9_12">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5323">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_10_9_13">עֲצַבֵּיהֶ֖ם</span>
<span class="mila" data-lnk="1342177364" data-exlnk="0" id="M_10_9_14">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5326">־</span><span class="mila" data-lnk="2952790100" data-exlnk="0" id="M_10_9_15">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5328">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_10_1">וַיָּשִׂ֙ימוּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_10_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5331">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_10_10_3">כֵּלָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_10_4">בֵּ֖ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_10_5">אֱלֹהֵיהֶ֑ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_10_6">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5336">־</span><span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_10_10_7">גֻּלְגָּלְתּ֥וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_10_8">תָקְע֖וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_10_9">בֵּ֥ית</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_10_10">דָּגֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5342">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5343">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_11_1">וַֽיִּשְׁמְע֔וּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_11_2">כֹּ֖ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_11_3">יָבֵ֣ישׁ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_11_4">גִּלְעָ֑ד</span>
<span class="mila" data-lnk="1342177392" data-exlnk="0" id="M_10_11_5">אֵ֛ת</span>
<span class="mila" data-lnk="1342177396" data-exlnk="0" id="M_10_11_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5350">־</span><span class="mila" data-lnk="1342177392" data-exlnk="0" id="M_10_11_7">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5352">־</span><span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_10_11_8">עָשׂ֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_9">פְלִשְׁתִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_11_10">לְשָׁאֽוּל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5356">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_12" data-pasuk-now="22"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_10_12_1">וַיָּקוּמוּ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5359">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_3">אִ֣ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_4">חַיִל֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_12_5">וַיִּשְׂא֞וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5364">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_10_12_7">גּוּפַ֣ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_12_8">שָׁא֗וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_9">וְאֵת֙</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_10_12_10">גּוּפֹ֣ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_12_11">בָּנָ֔יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_12_12">וַיְבִיא֖וּם</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_10_12_13">יָבֵ֑ישָׁה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_14">וַיִּקְבְּר֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5374">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_10_12_16">עַצְמוֹתֵיהֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_17">תַּ֤חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_12_18">הָֽאֵלָה֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_10_12_19">בְּיָבֵ֔שׁ</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_10_12_20">וַיָּצ֖וּמוּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_10_12_21">שִׁבְעַ֥ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_10_12_22">יָמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5382">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_13" data-pasuk-now="16"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_13_1">וַיָּ֣מָת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_13_2">שָׁא֗וּל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_13_3">בְּמַֽעֲלוֹ֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_13_4">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_10_13_5">מָעַ֣ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_13_6">בַּיהוָ֔ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_10_13_7">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5390">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_10_13_8">דְּבַ֥ר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_10_13_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_10_13_10">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_10_13_11">לֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5395">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_10_13_12">שָׁמָ֑ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_13_13">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5398">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_10_13_14">לִשְׁא֥וֹל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_10_13_15">בָּא֖וֹב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_10_13_16">לִדְרֽוֹשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5402">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_10_14" data-pasuk-now="10"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_10_14_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5404">־</span><span class="mila" data-lnk="1342177362" data-exlnk="0" id="M_10_14_2">דָרַ֥שׁ</span>
<span class="mila" data-lnk="2952790098" data-exlnk="0" id="M_10_14_3">בַּיהוָ֖ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_10_14_4">וַיְמִיתֵ֑הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_5">וַיַּסֵּב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5410">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_10_14_7">הַמְּלוּכָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_8">לְדָוִ֖יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_9">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5414">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_10_14_10">יִשָֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5417">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5418"> פ </span>
</span>
<br /></p>