<p id="PR_29" data-perek-now="480" data-perek-nops="30"><span class="perek-header">פרק כט</span>
<br /><span id="PS_29_1" data-pasuk-now="22"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_1_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_1_2">דָּוִ֤יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_1_3">הַמֶּ֙לֶךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_1_4">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13374">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_1_5">הַקָּהָ֔ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_1_6">שְׁלֹמֹ֨ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_1_7">בְנִ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_1_8">אֶחָ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_1_9">בָּחַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13380">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_1_10">בּ֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_1_11">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_1_12">נַ֣עַר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_1_13">וָרָ֑ךְ</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_29_1_14">וְהַמְּלָאכָ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_1_15">גְדוֹלָ֔ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_1_16">כִּ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_1_17">לֹ֤א</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_1_18">לְאָדָם֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_1_19">הַבִּירָ֔ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_1_20">כִּ֖י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_1_21">לַיהוָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_1_22">אֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13394">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_2" data-pasuk-now="27"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_29_2_1">וּֽכֲכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13396">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_29_2_2">כֹּחִ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_2_3">הֲכִינ֣וֹתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_2_4">לְבֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13400">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_2_5">אֱלֹהַ֗י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_2_6">הַזָּהָ֣ב</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="13403">׀</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_2_7">לַ֠זָּהָב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_2_8">וְהַכֶּ֨סֶף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_2_9">לַכֶּ֜סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_2_10">וְהַנְּחֹ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_2_11">לַנְּחֹ֗שֶׁת</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_29_2_12">הַבַּרְזֶל֙</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_29_2_13">לַבַּרְזֶ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_2_14">וְהָעֵצִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_2_15">לָעֵצִ֑ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_2_16">אַבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13414">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_2_17">שֹׁ֨הַם</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_2_18">וּמִלּוּאִ֜ים</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_2_19">אַבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13418">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_29_2_20">פ֣וּךְ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_2_21">וְרִקְמָ֗ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_2_22">וְכֹ֨ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_2_23">אֶ֧בֶן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_2_24">יְקָרָ֛ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_2_25">וְאַבְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13425">־</span><span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_29_2_26">שַׁ֖יִשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_2_27">לָרֹֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13428">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_3" data-pasuk-now="17"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_3_1">וְע֗וֹד</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_29_3_2">בִּרְצוֹתִי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_3_3">בְּבֵ֣ית</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_3_4">אֱלֹהַ֔י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_3_5">יֶשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13434">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_29_3_6">לִ֥י</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_3_7">סְגֻלָּ֖ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_3_8">זָהָ֣ב</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_3_9">וָכָ֑סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_3_10">נָתַ֤תִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_3_11">לְבֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13441">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_3_12">אֱלֹהַי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_3_13">לְמַ֔עְלָה</span>
<span class="mila" data-lnk="1073741890" data-exlnk="0" id="M_29_3_14">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13445">־</span><span class="mila" data-lnk="2147483714" data-exlnk="0" id="M_29_3_15">הֲכִינ֖וֹתִי</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_29_3_16">לְבֵ֥ית</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_29_3_17">הַקֹּֽדֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13449">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_4" data-pasuk-now="14"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_29_4_1">שְׁלֹ֧שֶׁת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_29_4_2">אֲלָפִ֛ים</span>
<span class="mila" data-lnk="1879048278" data-exlnk="0" id="M_29_4_3">כִּכְּרֵ֥י</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_29_4_4">זָהָ֖ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_4_5">מִזְּהַ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_4_6">אוֹפִ֑יר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_4_7">וְשִׁבְעַ֨ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_4_8">אֲלָפִ֤ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_4_9">כִּכַּר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13459">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_29_4_10">כֶּ֙סֶף֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_4_11">מְזֻקָּ֔ק</span>
<span class="mila" data-lnk="3221225543" data-exlnk="0" id="M_29_4_12">לָט֖וּחַ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_4_13">קִיר֥וֹת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_4_14">הַבָּתִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13465">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_5" data-pasuk-now="14"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_1">לַזָּהָ֤ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_2">לַזָּהָב֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_3">וְלַכֶּ֣סֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_4">לַכֶּ֔סֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_5">וּלְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13471">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_6">מְלָאכָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_7">בְּיַ֣ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_8">חָרָשִׁ֑ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_9">וּמִ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_10">מִתְנַדֵּ֔ב</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_5_11">לְמַלֹּ֥אות</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_12">יָד֛וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_13">הַיּ֖וֹם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_5_14">לַיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13481">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_6_1">וַיִּֽתְנַדְּבוּ֩</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_6_2">שָׂרֵ֨י</span>
<span class="mila" data-lnk="3758096465" data-exlnk="0" id="M_29_6_3">הָאָב֜וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_6_4">וְשָׂרֵ֣י׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_6_5">שִׁבְטֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_6_6">יִשְׂרָאֵ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_6_7">וְשָׂרֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_6_8">הָאֲלָפִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_6_9">וְהַמֵּא֔וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_6_10">וּלְשָׂרֵ֖י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_6_11">מְלֶ֥אכֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_6_12">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13494">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_7" data-pasuk-now="23"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_1">וַֽיִּתְּנ֞וּ</span>
<span class="mila" data-lnk="1342177392" data-exlnk="0" id="M_29_7_2">לַעֲבוֹדַ֣ת</span>
<span class="mila" data-lnk="1342177392" data-exlnk="0" id="M_29_7_3">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13498">־</span><span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_29_7_4">הָאֱלֹהִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_5">זָהָ֞ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_6">כִּכָּרִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_7">חֲמֵשֶׁת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13503">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_8">אֲלָפִים֘</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_29_7_9">וַאֲדַרְכֹנִ֣ים</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_29_7_10">רִבּוֹ֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_11">וְכֶ֗סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_12">כִּכָּרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_13">עֲשֶׂ֣רֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_14">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_15">וּנְחֹ֕שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_16">רִבּ֛וֹ</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_29_7_17">וּשְׁמוֹנַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_18">אֲלָפִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_19">כִּכָּרִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_20">וּבַרְזֶ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_21">מֵאָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13518">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_22">אֶ֥לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_7_23">כִּכָּרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13521">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_8" data-pasuk-now="11"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_8_1">וְהַנִּמְצָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_8_2">אִתּוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_8_3">אֲבָנִ֔ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_8_4">נָתְנ֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_8_5">לְאוֹצַ֣ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_8_6">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13528">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_8_7">יְהוָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_8_8">עַ֥ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_8_9">יַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13532">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_8_10">יְחִיאֵ֖ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_8_11">הַגֵּרְשֻׁנִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13535">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_9" data-pasuk-now="15"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_9_1">וַיִּשְׂמְח֤וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_9_2">הָעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_9_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13539">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_9_4">הִֽתְנַדְּבָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_9_5">כִּ֚י</span>
<span class="mila" data-lnk="1342177393" data-exlnk="0" id="M_29_9_6">בְּלֵ֣ב</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_29_9_7">שָׁלֵ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_9_8">הִֽתְנַדְּב֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_9_9">לַֽיהוָ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_9_10">וְגַם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_9_11">דָּוִ֣יד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_9_12">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_9_13">שָׂמַ֖ח</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_9_14">שִׂמְחָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_9_15">גְדוֹלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13553">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13554"> פ </span>
</span>
<br /><span id="PS_29_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_10_1">וַיְבָ֤רֶךְ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_10_2">דָּוִיד֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_10_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13558">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_29_10_4">יְהוָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_10_5">לְעֵינֵ֖י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_10_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13562">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_10_7">הַקָּהָ֑ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_10_8">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_10_9">דָּוִ֗יד</span>
<span class="mila" data-lnk="3489661011" data-exlnk="0" id="M_29_10_10">בָּר֨וּךְ</span>
<span class="mila" data-lnk="1342177363" data-exlnk="0" id="M_29_10_11">אַתָּ֤ה</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_29_10_12">יְהוָה֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_10_13">אֱלֹהֵי֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_10_14">יִשְׂרָאֵ֣ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_10_15">אָבִ֔ינוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_10_16">מֵעוֹלָ֖ם</span>
<span class="mila" data-lnk="1879048277" data-exlnk="0" id="M_29_10_17">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13574">־</span><span class="mila" data-lnk="2952790101" data-exlnk="0" id="M_29_10_18">עוֹלָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13576">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_11" data-pasuk-now="17"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_1">לְךָ֣</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_2">יְ֠הוָה</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_29_11_3">הַגְּדֻלָּ֨ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_29_11_4">וְהַגְּבוּרָ֤ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_5">וְהַתִּפְאֶ֙רֶת֙</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_29_11_6">וְהַנֵּ֣צַח</span>
<span class="mila" data-lnk="3221225543" data-exlnk="0" id="M_29_11_7">וְהַה֔וֹד</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_8">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13585">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_9">כֹ֖ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_10">בַּשָּׁמַ֣יִם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_11">וּבָאָ֑רֶץ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_12">לְךָ֤</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_13">יְהוָה֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_11_14">הַמַּמְלָכָ֔ה</span>
<span class="mila" data-lnk="3221225543" data-exlnk="0" id="M_29_11_15">וְהַמִּתְנַשֵּׂ֖א</span>
<span class="mila" data-lnk="1073741895" data-exlnk="0" id="M_29_11_16">לְכֹ֥ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="13594">׀</span>
<span class="mila" data-lnk="2147483719" data-exlnk="0" id="M_29_11_17">לְרֹֽאשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13596">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_12_1">וְהָעֹ֤שֶׁר</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_12_2">וְהַכָּבוֹד֙</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_29_12_3">מִלְּפָנֶ֔יךָ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_12_4">וְאַתָּה֙</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_29_12_5">מוֹשֵׁ֣ל</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_12_6">בַּכֹּ֔ל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_12_7">וּבְיָדְךָ֖</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_12_8">כֹּ֣חַ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_12_9">וּגְבוּרָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_12_10">וּבְיָ֣דְךָ֔</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_29_12_11">לְגַדֵּ֥ל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_29_12_12">וּלְחַזֵּ֖ק</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_29_12_13">לַכֹּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13610">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_13" data-pasuk-now="8"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3489661045" data-exlnk="0" id="M_29_13_1">וְעַתָּ֣ה</span>
<span class="mila" data-lnk="4026531957" data-exlnk="0" id="M_29_13_2">אֱלֹהֵ֔ינוּ</span>
<span class="mila" data-lnk="3221225541" data-exlnk="0" id="M_29_13_3">מוֹדִ֥ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_13_4">אֲנַ֖חְנוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_13_5">לָ֑ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_29_13_6">וּֽמְהַלְלִ֖ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_29_13_7">לְשֵׁ֥ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_29_13_8">תִּפְאַרְתֶּֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13619">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_14" data-pasuk-now="16"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1073741889" data-exlnk="0" id="M_29_14_1">וְכִ֨י</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_29_14_2">מִ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_3">אֲנִי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_4">וּמִ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_5">עַמִּ֔י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_6">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13626">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_7">נַעְצֹ֣ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_8">כֹּ֔חַ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_9">לְהִתְנַדֵּ֖ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_10">כָּזֹ֑את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_14_11">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13632">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_12">מִמְּךָ֣</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_13">הַכֹּ֔ל</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_29_14_14">וּמִיָּדְךָ֖</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_14_15">נָתַ֥נּוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_14_16">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13638">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_15" data-pasuk-now="13"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_15_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13640">־</span><span class="mila" data-lnk="13" data-exlnk="0" id="M_29_15_2">גֵרִ֨ים</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_29_15_3">אֲנַ֧חְנוּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_15_4">לְפָנֶ֛יךָ</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_29_15_5">וְתוֹשָׁבִ֖ים</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_15_6">כְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13646">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_29_15_7">אֲבֹתֵ֑ינוּ</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_29_15_8">כַּצֵּ֧ל</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="13649">׀</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_15_9">יָמֵ֛ינוּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_15_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13652">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_29_15_11">הָאָ֖רֶץ</span>
<span class="mila" data-lnk="15" data-exlnk="0" id="M_29_15_12">וְאֵ֥ין</span>
<span class="mila" data-lnk="4026531931" data-exlnk="0" id="M_29_15_13">מִקְוֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13656">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_16" data-pasuk-now="16"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_1">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_2">אֱלֹהֵ֔ינוּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_16_3">כֹּ֣ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_16_4">הֶהָמ֤וֹן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_29_16_5">הַזֶּה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_16_6">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_29_16_7">הֲכִינֹ֔נוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_8">לִבְנֽוֹת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13665">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_9">לְךָ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_10">בַ֖יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_11">לְשֵׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_12">קָדְשֶׁ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_13">מִיָּדְךָ֥</span>
<span data-lnk="0" data-exlnk="0" id="M_29_16_14" class="mila ktiv">ה֖יּא</span>
<span data-lnk="3221225536" data-exlnk="0" id="M_29_16_14_K" class="mila kri">ה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_15">וּלְךָ֥</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_16_16">הַכֹּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13675">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_17" data-pasuk-now="22"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_17_1">וְיָדַ֣עְתִּי</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_17_2">אֱלֹהַ֔י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_29_17_3">כִּ֤י</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_29_17_4">אַתָּה֙</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_29_17_5">בֹּחֵ֣ן</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_29_17_6">לֵבָ֔ב</span>
<span class="mila" data-lnk="4026531929" data-exlnk="0" id="M_29_17_7">וּמֵישָׁרִ֖ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_29_17_8">תִּרְצֶ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_17_9">אֲנִ֗י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_10">בְּיֹ֤שֶׁר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_11">לְבָבִי֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_12">הִתְנַדַּ֣בְתִּי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_17_13">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13689">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_17_14">אֵ֔לֶּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_17_15">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_16">עַמְּךָ֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_17">הַנִּמְצְאוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13694">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_18">פֹ֔ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_19">רָאִ֥יתִי</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_20">בְשִׂמְחָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_17_21">לְהִֽתְנַדֶּב</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13699">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_29_17_22">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13701">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_18" data-pasuk-now="16"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_29_18_1">יְהוָ֗ה</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_29_18_2">אֱ֠לֹהֵי</span>
<span class="mila" data-lnk="4026531928" data-exlnk="0" id="M_29_18_3">אַבְרָהָ֞ם</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_29_18_4">יִצְחָ֤ק</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_29_18_5">וְיִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_18_6">אֲבֹתֵ֔ינוּ</span>
<span class="mila" data-lnk="3221225541" data-exlnk="0" id="M_29_18_7">שָׁמְרָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13709">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_29_18_8">זֹּ֣את</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_18_9">לְעוֹלָ֔ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_18_10">לְיֵ֥צֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_18_11">מַחְשְׁב֖וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_18_12">לְבַ֣ב</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_18_13">עַמֶּ֑ךָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_18_14">וְהָכֵ֥ן</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_18_15">לְבָבָ֖ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_18_16">אֵלֶֽיךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13719">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_19" data-pasuk-now="15"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_29_19_1">וְלִשְׁלֹמֹ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_19_2">בְנִ֗י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_19_3">תֵּ֚ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_19_4">לֵבָ֣ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_19_5">שָׁלֵ֔ם</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_19_6">לִשְׁמוֹר֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_19_7">מִצְוֺתֶ֔יךָ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_29_19_8">עֵדְוֺתֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_19_9">וְחֻקֶּ֑יךָ</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_29_19_10">וְלַעֲשׂ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_19_11">הַכֹּ֔ל</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_29_19_12">וְלִבְנ֖וֹת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_19_13">הַבִּירָ֥ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_19_14">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13734">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_29_19_15">הֲכִינֽוֹתִי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13737">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13738"> פ </span>
</span>
<br /><span id="PS_29_20" data-pasuk-now="19"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_2">דָּוִיד֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_3">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13742">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_4">הַקָּהָ֔ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_5">בָּ֥רְכוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_6">נָ֖א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13747">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_8">יְהוָ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_9">אֱלֹהֵיכֶ֑ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_10">וַיְבָרֲכ֣וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_11">כָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13752">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_12">הַקָּהָ֗ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_13">לַֽיהוָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_20_14">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_20_15">אֲבֹתֵיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_20_16">וַיִּקְּד֧וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_20_17">וַיִּֽשְׁתַּחֲו֛וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_20_18">לַיהוָ֖ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_29_20_19">וְלַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13761">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_21" data-pasuk-now="20"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_1">וַיִּזְבְּח֣וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_2">לַיהוָ֣ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="13764">׀</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_3">זְ֠בָחִים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_21_4">וַיַּעֲל֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_21_5">עֹל֜וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_21_6">לַיהוָ֗ה</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_29_21_7">לְֽמָחֳרַת֘</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_8">הַיּ֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_21_9">הַהוּא֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_10">פָּרִ֨ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_11">אֶ֜לֶף</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_29_21_12">אֵלִ֥ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_13">אֶ֛לֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_14">כְּבָשִׂ֥ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_15">אֶ֖לֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_16">וְנִסְכֵּיהֶ֑ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_17">וּזְבָחִ֥ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_18">לָרֹ֖ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_21_19">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13782">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_21_20">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13784">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_22" data-pasuk-now="18"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_22_1">וַיֹּאכְל֨וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_22_2">וַיִּשְׁתּ֜וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_22_3">לִפְנֵ֧י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_22_4">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_22_5">בַּיּ֥וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_22_6">הַה֖וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_22_7">בְּשִׂמְחָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_22_8">גְדוֹלָ֑ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_22_9">וַיַּמְלִ֤יכוּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_22_10">שֵׁנִית֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_22_11">לִשְׁלֹמֹ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_22_12">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13797">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_22_13">דָּוִ֔יד</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_22_14">וַיִּמְשְׁח֧וּ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_22_15">לַיהוָ֛ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_22_16">לְנָגִ֖יד</span>
<span class="mila" data-lnk="4026531959" data-exlnk="0" id="M_29_22_17">וּלְצָד֥וֹק</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_29_22_18">לְכֹהֵֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13804">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_1">וַיֵּ֣שֶׁב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_2">שְׁ֠לֹמֹה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13808">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_4">כִּסֵּ֨א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_5">יְהוָ֧ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="13811">׀</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_29_23_6">לְמֶ֛לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_23_7">תַּחַת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13814">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_23_8">דָּוִ֥יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_23_9">אָבִ֖יו</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_29_23_10">וַיַּצְלַ֑ח</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_11">וַיִּשְׁמְע֥וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_12">אֵלָ֖יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_13">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13821">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_23_14">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13823">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_24" data-pasuk-now="13"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="1342177393" data-exlnk="0" id="M_29_24_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13825">־</span><span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_29_24_2">הַשָּׂרִים֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_24_3">וְהַגִּבֹּרִ֔ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_24_4">וְגַ֕ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_24_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13830">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_29_24_6">בְּנֵ֖י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_24_7">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_24_8">דָּוִ֑יד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_24_9">נָ֣תְנוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_24_10">יָ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_24_11">תַּ֖חַת</span>
<span class="mila" data-lnk="3489661008" data-exlnk="0" id="M_29_24_12">שְׁלֹמֹ֥ה</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_24_13">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13839">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_25" data-pasuk-now="21"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_29_25_1">וַיְגַדֵּ֨ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_2">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13843">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_4">שְׁלֹמֹה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_5">לְמַ֔עְלָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_6">לְעֵינֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13848">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_8">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_25_9">וַיִּתֵּ֤ן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_25_10">עָלָיו֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_25_11">ה֣וֹד</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_29_25_12">מַלְכ֔וּת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_13">אֲ֠שֶׁר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_14">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13856">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_15">הָיָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_16">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13859">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_17">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13861">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_18">מֶ֛לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_19">לְפָנָ֖יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_20">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13865">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_25_21">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13868">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13869"> פ </span>
</span>
<br /><span id="PS_29_26" data-pasuk-now="7"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_26_1">וְדָוִיד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_26_2">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13872">־</span><span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_29_26_3">יִשָׁ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_26_4">מָלַ֖ךְ</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_29_26_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13876">־</span><span class="mila" data-lnk="268435472" data-exlnk="0" id="M_29_26_6">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13878">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_29_26_7">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13880">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_27" data-pasuk-now="15"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_1">וְהַיָּמִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_2">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_3">מָלַךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13885">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_5">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_6">אַרְבָּעִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_7">שָׁנָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="2" id="M_29_27_8">בְּחֶבְר֤וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_9">מָלַךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_10">שֶׁ֣בַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_11">שָׁנִ֔ים</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_29_27_12">וּבִירוּשָׁלִַ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_13">מָלַ֖ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_14">שְׁלֹשִׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_27_15">וְשָׁלֽוֹשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13897">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_28" data-pasuk-now="11"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_1">וַיָּ֙מָת֙</span>
<span class="mila" data-lnk="3489661008" data-exlnk="0" id="M_29_28_2">בְּשֵׂיבָ֣ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_29_28_3">טוֹבָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_4">שְׂבַ֥ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_5">יָמִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_6">עֹ֣שֶׁר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_7">וְכָב֑וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_8">וַיִּמְלֹ֛ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_9">שְׁלֹמֹ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_10">בְנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_28_11">תַּחְתָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13909">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_29" data-pasuk-now="19"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_29_1">וְדִבְרֵי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_29_2">דָּוִ֣יד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_29_3">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_29_29_4">הָרִאשֹׁנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_29_5">וְהָאַחֲרֹנִ֑ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_29_6">הִנָּ֣ם</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_29_7">כְּתוּבִ֗ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_29_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13918">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_29_29_9">דִּבְרֵי֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_29_10">שְׁמוּאֵ֣ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_29_29_11">הָרֹאֶ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_29_12">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13923">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_29_29_13">דִּבְרֵי֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_29_29_14">נָתָ֣ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_29_29_15">הַנָּבִ֔יא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_29_16">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13928">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_29_29_17">דִּבְרֵ֖י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_29_29_18">גָּ֥ד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_29_29_19">הַחֹזֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13932">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_29_30" data-pasuk-now="14"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_30_1">עִ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_30_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13935">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_29_30_3">מַלְכוּת֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_29_30_4">וּגְבוּרָת֑וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_30_5">וְהָעִתִּ֗ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_30_6">אֲשֶׁ֨ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_30_7">עָבְר֤וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_30_8">עָלָיו֙</span>
<span class="mila" data-lnk="3489661041" data-exlnk="0" id="M_29_30_9">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13943">־</span><span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_29_30_10">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_30_11">וְעַ֖ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_29_30_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13947">־</span><span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_30_13">מַמְלְכ֥וֹת</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_29_30_14">הָאֲרָצֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13950">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>