<p id="PR_8" data-perek-now="300" data-perek-nops="40"><span class="perek-header">פרק ח</span>
<br /><span id="PS_8_1" data-pasuk-now="9"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_8_1_1">וּבִ֨נְיָמִ֔ן</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_8_1_2">הוֹלִ֖יד</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_8_1_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4118">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_8_1_4">בֶּ֣לַע</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_8_1_5">בְּכֹר֑וֹ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_1_6">אַשְׁבֵּל֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_1_7">הַשֵּׁנִ֔י</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_8_1_8">וְאַחְרַ֖ח</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_8_1_9">הַשְּׁלִישִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4125">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_2" data-pasuk-now="4"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_2_1">נוֹחָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_2_2">הָרְבִיעִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_2_3">וְרָפָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_2_4">הַחֲמִישִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4130">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_3" data-pasuk-now="6"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_3_1">וַיִּהְי֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_3_2">בָנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_3_3">לְבָ֑לַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_3_4">אַדָּ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_3_5">וְגֵרָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_3_6">וַאֲבִיהֽוּד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4137">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_4" data-pasuk-now="3"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_4_1">וַאֲבִישׁ֥וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_4_2">וְנַעֲמָ֖ן</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_4_3">וַאֲחֽוֹחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4141">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_5" data-pasuk-now="3"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_5_1">וְגֵרָ֥א</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_8_5_2">וּשְׁפוּפָ֖ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_5_3">וְחוּרָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4145">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_6" data-pasuk-now="12"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1342177366" data-exlnk="0" id="M_8_6_1">וְאֵ֖לֶּה</span>
<span class="mila" data-lnk="2952790100" data-exlnk="0" id="M_8_6_2">בְּנֵ֣י</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_8_6_3">אֵח֑וּד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_6_4">אֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_6_5">הֵ֞ם</span>
<span class="mila" data-lnk="1879048278" data-exlnk="0" id="M_8_6_6">רָאשֵׁ֤י</span>
<span class="mila" data-lnk="2952790102" data-exlnk="0" id="M_8_6_7">אָבוֹת֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_6_8">לְי֣וֹשְׁבֵי</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_6_9">גֶ֔בַע</span>
<span class="mila" data-lnk="3221225539" data-exlnk="0" id="M_8_6_10">וַיַּגְל֖וּם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_8_6_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4157">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_8_6_12">מָנָֽחַת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4159">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_7" data-pasuk-now="10"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_7_1">וְנַעֲמָ֧ן</span>
<span class="mila" data-lnk="1879048244" data-exlnk="0" id="M_8_7_2">וַאֲחִיָּ֛ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_7_3">וְגֵרָ֖א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_7_4">ה֣וּא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_7_5">הֶגְלָ֑ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_7_6">וְהוֹלִ֥יד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_7_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4167">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_8_7_8">עֻזָּ֖א</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_7_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4170">־</span><span class="mila" data-lnk="4026531956" data-exlnk="0" id="M_8_7_10">אֲחִיחֻֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4172">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_8" data-pasuk-now="11"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="3221225539" data-exlnk="0" id="M_8_8_1">וְשַׁחֲרַ֗יִם</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_8_8_2">הוֹלִיד֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_8_3">בִּשְׂדֵ֣ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_8_4">מוֹאָ֔ב</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_8_5">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4178">־</span><span class="mila" data-lnk="4026531954" data-exlnk="0" id="M_8_8_6">שִׁלְח֖וֹ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_8_8_7">אֹתָ֑ם</span>
<span class="mila" data-lnk="3221225543" data-exlnk="0" id="M_8_8_8">חוּשִׁ֥ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_8_8_9">וְאֶֽת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4183">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_8_8_10">בַּעֲרָ֖א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_8_8_11">נָשָֽׁיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4186">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_9" data-pasuk-now="12"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_9_1">וַיּ֖וֹלֶד</span>
<span class="mila" data-lnk="1073741890" data-exlnk="0" id="M_8_9_2">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4189">־</span><span class="mila" data-lnk="3221225542" data-exlnk="0" id="M_8_9_3">חֹ֣דֶשׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_9_4">אִשְׁתּ֑וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_9_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4193">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_8_9_6">יוֹבָב֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_9_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4196">־</span><span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_8_9_8">צִבְיָ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_9_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4199">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_9_10">מֵישָׁ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_9_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4202">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_9_12">מַלְכָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4204">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_10" data-pasuk-now="10"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_1">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4206">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_2">יְע֥וּץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_3">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4209">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_4">שָֽׂכְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4212">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_10_6">מִרְמָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_7">אֵ֥לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_10_8">בָנָ֖יו</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_8_10_9">רָאשֵׁ֥י</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_8_10_10">אָבֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4218">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_11" data-pasuk-now="6"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="3221225541" data-exlnk="0" id="M_8_11_1">וּמֵחֻשִׁ֛ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_8_11_2">הוֹלִ֥יד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_11_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4222">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_11_4">אֲבִיט֖וּב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_11_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4225">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_8_11_6">אֶלְפָּֽעַל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4227">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_12" data-pasuk-now="12"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_12_1">וּבְנֵ֣י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_8_12_2">אֶלְפַּ֔עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_12_3">עֵ֥בֶר</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_12_4">וּמִשְׁעָ֖ם</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_12_5">וָשָׁ֑מֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_12_6">ה֚וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_12_7">בָּנָ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_12_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4236">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_8_12_9">אוֹנ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_12_10">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4239">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_8_12_11">לֹ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_12_12">וּבְנֹתֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4242">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_13" data-pasuk-now="12"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_13_1">וּבְרִעָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_13_2">וָשֶׁ֔מַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_13_3">הֵ֚מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_13_4">רָאשֵׁ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_13_5">הָאָב֔וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_13_6">לְיוֹשְׁבֵ֖י</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_8_13_7">אַיָּל֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_13_8">הֵ֥מָּה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_13_9">הִבְרִ֖יחוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_13_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4253">־</span><span class="mila" data-lnk="805306388" data-exlnk="0" id="M_8_13_11">י֥וֹשְׁבֵי</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_13_12">גַֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4256">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_14" data-pasuk-now="3"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_8_14_1">וְאַחְי֥וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_8_14_2">שָׁשָׁ֖ק</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_8_14_3">וִירֵמֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4260">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_15" data-pasuk-now="3"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_8_15_1">וּזְבַדְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_15_2">וַעֲרָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_15_3">וָעָֽדֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4264">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_16" data-pasuk-now="5"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_16_1">וּמִיכָאֵ֧ל</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_16_2">וְיִשְׁפָּ֛ה</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_8_16_3">וְיוֹחָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_16_4">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_16_5">בְרִיעָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4270">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_17" data-pasuk-now="4"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_8_17_1">וּזְבַדְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_17_2">וּמְשֻׁלָּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_17_3">וְחִזְקִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_17_4">וָחָֽבֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4275">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_18" data-pasuk-now="5"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_18_1">וְיִשְׁמְרַ֧י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_18_2">וְיִזְלִיאָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_18_3">וְיוֹבָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_18_4">בְּנֵ֥י</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_8_18_5">אֶלְפָּֽעַל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4281">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_19" data-pasuk-now="3"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_19_1">וְיָקִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_19_2">וְזִכְרִ֖י</span>
<span class="mila" data-lnk="4026531888" data-exlnk="0" id="M_8_19_3">וְזַבְדִּֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4285">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_20" data-pasuk-now="3"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_20_1">וֶאֱלִיעֵינַ֥י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_8_20_2">וְצִלְּתַ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_20_3">וֶאֱלִיאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4289">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_21" data-pasuk-now="5"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_21_1">וַעֲדָיָ֧ה</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_21_2">וּבְרָאיָ֛ה</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_21_3">וְשִׁמְרָ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_21_4">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_21_5">שִׁמְעִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4295">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_22" data-pasuk-now="3"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_22_1">וְיִשְׁפָּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_22_2">וָעֵ֖בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_22_3">וֶאֱלִיאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4299">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_23" data-pasuk-now="3"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_23_1">וְעַבְדּ֥וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_23_2">וְזִכְרִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_23_3">וְחָנָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4303">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_24" data-pasuk-now="3"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_24_1">וַחֲנַנְיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_24_2">וְעֵילָ֖ם</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_24_3">וְעַנְתֹתִיָּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4307">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_25" data-pasuk-now="4"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_25_1">וְיִפְדְיָ֥ה</span>
<span data-lnk="0" data-exlnk="0" id="M_8_25_2" class="mila ktiv">וּפְניּאֵ֖ל</span>
<span data-lnk="3221225536" data-exlnk="0" id="M_8_25_2_K" class="mila kri">וּפְנוּאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_25_3">בְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_25_4">שָׁשָֽׁק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4313">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_26" data-pasuk-now="3"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_26_1">וְשַׁמְשְׁרַ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_26_2">וּשְׁחַרְיָ֖ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_8_26_3">וַעֲתַלְיָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4317">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_27" data-pasuk-now="5"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="3221225538" data-exlnk="0" id="M_8_27_1">וְיַעֲרֶשְׁיָ֧ה</span>
<span class="mila" data-lnk="3221225538" data-exlnk="0" id="M_8_27_2">וְאֵלִיָּ֛ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_27_3">וְזִכְרִ֖י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_27_4">בְּנֵ֥י</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_27_5">יְרֹחָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4323">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_28" data-pasuk-now="8"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_28_1">אֵ֣לֶּה</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_8_28_2">רָאשֵׁ֥י</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_8_28_3">אָב֛וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_28_4">לְתֹלְדוֹתָ֖ם</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_8_28_5">רָאשִׁ֑ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_28_6">אֵ֖לֶּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_28_7">יָשְׁב֥וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_28_8">בִירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4332">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_29" data-pasuk-now="7"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_8_29_1">וּבְגִבְע֥וֹן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_8_29_2">יָשְׁב֖וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_8_29_3">אֲבִ֣י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_8_29_4">גִבְע֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_29_5">וְשֵׁ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_29_6">אִשְׁתּ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_29_7">מַעֲכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4340">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_30" data-pasuk-now="7"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_30_1">וּבְנ֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_30_2">הַבְּכ֖וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_30_3">עַבְדּ֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_30_4">וְצ֥וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_30_5">וְקִ֖ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_30_6">וּבַ֥עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_30_7">וְנָדָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4348">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_31" data-pasuk-now="3"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_31_1">וּגְד֥וֹר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_31_2">וְאַחְי֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_31_3">וָזָֽכֶר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4352">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_32" data-pasuk-now="12"><span class="pasuk-header">[לב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_32_1">וּמִקְל֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_32_2">הוֹלִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_32_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4356">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_32_4">שִׁמְאָ֑ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_32_5">וְאַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4359">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_8_32_6">הֵ֗מָּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_32_7">נֶ֧גֶד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_32_8">אֲחֵיהֶ֛ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_32_9">יָשְׁב֥וּ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_32_10">בִירוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_32_11">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4366">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_8_32_12">אֲחֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4369">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4370">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_33" data-pasuk-now="18"><span class="pasuk-header">[לג]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_1">וְנֵר֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_2">הוֹלִ֣יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4374">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_4">קִ֔ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_33_5">וְקִ֖ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_33_6">הוֹלִ֣יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4379">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_33_8">שָׁא֑וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_33_9">וְשָׁא֗וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_33_10">הוֹלִ֤יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_11">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4384">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_12">יְהֽוֹנָתָן֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_13">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4387">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_33_14">מַלְכִּישׁ֔וּעַ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_15">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4390">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_33_16">אֲבִינָדָ֖ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_33_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4393">־</span><span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_8_33_18">אֶשְׁבָּֽעַל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4395">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_34" data-pasuk-now="9"><span class="pasuk-header">[לד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_8_34_1">וּבֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4397">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_8_34_2">יְהוֹנָתָ֖ן</span>
<span class="mila" data-lnk="1342177366" data-exlnk="0" id="M_8_34_3">מְרִ֣יב</span>
<span class="mila" data-lnk="3758096470" data-exlnk="0" id="M_8_34_4">בָּ֑עַל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_34_5">וּמְרִ֥יב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_34_6">בַּ֖עַל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_34_7">הוֹלִ֥יד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_34_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4405">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_8_34_9">מִיכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4407">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_35" data-pasuk-now="6"><span class="pasuk-header">[לה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_35_1">וּבְנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_35_2">מִיכָ֑ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_8_35_3">פִּית֥וֹן</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_8_35_4">וָמֶ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_35_5">וְתַאְרֵ֥עַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_35_6">וְאָחָֽז</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4414">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_36" data-pasuk-now="16"><span class="pasuk-header">[לו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_1">וְאָחָז֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_2">הוֹלִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4418">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_36_4">יְהוֹעַדָּ֔ה</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_36_5">וִיהוֹעַדָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_6">הוֹלִ֛יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4423">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_8">עָלֶ֥מֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_9">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4426">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_10">עַזְמָ֖וֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_11">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4429">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_12">זִמְרִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_13">וְזִמְרִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_14">הוֹלִ֥יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4434">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_36_16">מוֹצָֽא</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4436">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_37" data-pasuk-now="10"><span class="pasuk-header">[לז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_37_1">וּמוֹצָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_37_2">הוֹלִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_37_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4440">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_8_37_4">בִּנְעָ֑א</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_8_37_5">רָפָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_37_6">בְנ֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_37_7">אֶלְעָשָׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_37_8">בְנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_37_9">אָצֵ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_37_10">בְּנֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4448">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_38" data-pasuk-now="15"><span class="pasuk-header">[לח]</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_8_38_1">וּלְאָצֵל֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_2">שִׁשָּׁ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_3">בָנִים֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_4">וְאֵ֣לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_5">שְׁמוֹתָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_6">עַזְרִיקָ֥ם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4455">׀</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_8_38_7">בֹּ֙כְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_8">וְיִשְׁמָעֵ֣אל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_9">וּשְׁעַרְיָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_10">וְעֹבַדְיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_11">וְחָנָ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_12">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4462">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_38_13">אֵ֖לֶּה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_8_38_14">בְּנֵ֥י</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_8_38_15">אָצַֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4466">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_39" data-pasuk-now="9"><span class="pasuk-header">[לט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_39_1">וּבְנֵ֖י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_39_2">עֵ֣שֶׁק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_39_3">אָחִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_39_4">אוּלָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_39_5">בְּכֹר֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_39_6">יְעוּשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_39_7">הַשֵּׁנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_39_8">וֶאֱלִיפֶ֖לֶט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_39_9">הַשְּׁלִשִֽׁי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4476">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_8_40" data-pasuk-now="18"><span class="pasuk-header">[מ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_1">וַיִּהְי֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_2">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4479">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_3">א֠וּלָם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_4">אֲנָשִׁ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_5">גִּבּוֹרֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4483">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_6">חַ֜יִל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_7">דֹּ֣רְכֵי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_8">קֶ֗שֶׁת</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_8_40_9">וּמַרְבִּ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_10">בָּנִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_11">וּבְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_12">בָנִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_13">מֵאָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_14">וַחֲמִשִּׁ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_15">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4494">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_16">אֵ֖לֶּה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_8_40_17">מִבְּנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_8_40_18">בִנְיָמִֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4499">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4500"> פ </span>
</span>
<br /></p>