<p id="PR_21" data-perek-now="492" data-perek-nops="30"><span class="perek-header">פרק כא</span>
<br /><span id="PS_21_1" data-pasuk-now="10"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026531927" data-exlnk="0" id="M_21_1_1">וַיַּעֲמֹ֥ד</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_1_2">שָׂטָ֖ן</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_1_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9694">־</span><span class="mila" data-lnk="7" data-exlnk="0" id="M_21_1_4">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_1_5">וַיָּ֙סֶת֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_1_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9698">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_21_1_7">דָּוִ֔יד</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_1_8">לִמְנ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9702">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_1_10">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9704">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_2" data-pasuk-now="20"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_2">דָּוִ֤יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9708">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_4">יוֹאָב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_5">וְאֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9711">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_6">שָׂרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_7">הָעָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_8">לְכ֗וּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_2_9">סִפְרוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9717">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_11">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_21_2_12">מִבְּאֵ֥ר</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_21_2_13">שֶׁ֖בַע</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_21_2_14">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9722">־</span><span class="mila" data-lnk="536870928" data-exlnk="0" id="M_21_2_15">דָּ֑ן</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_21_2_16">וְהָבִ֣יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_17">אֵלַ֔י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_2_18">וְאֵדְעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_19">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9728">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_2_20">מִסְפָּרָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9730">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_3" data-pasuk-now="23"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_3_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_3_2">יוֹאָ֗ב</span>
<span class="mila" data-lnk="4026531956" data-exlnk="0" id="M_21_3_3">יוֹסֵף֩</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_3_4">יְהוָ֨ה</span>
<span class="mila" data-lnk="1342177364" data-exlnk="0" id="M_21_3_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9736">־</span><span class="mila" data-lnk="2684354644" data-exlnk="0" id="M_21_3_6">עַמּ֤וֹ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9738">׀</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_3_7">כָּהֵם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_8">מֵאָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_9">פְעָמִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_10">הֲלֹא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_11">אֲדֹנִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_12">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_13">כֻּלָּ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_14">לַאדֹנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_15">לַעֲבָדִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_16">לָ֣מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_17">יְבַקֵּ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_18">זֹאת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_19">אֲדֹנִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_20">לָ֛מָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_3_21">יִֽהְיֶ֥ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_3_22">לְאַשְׁמָ֖ה</span>
<span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_21_3_23">לְיִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9756">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_1">וּדְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9758">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_2">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_21_4_3">חָזַ֣ק</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_21_4_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9762">־</span><span class="mila" data-lnk="3758096464" data-exlnk="0" id="M_21_4_5">יוֹאָ֑ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_6">וַיֵּצֵ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_7">יוֹאָ֗ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_8">וַיִּתְהַלֵּךְ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_9">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9768">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_10">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_11">וַיָּבֹ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_4_12">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9772">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_5" data-pasuk-now="26"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_1">וַיִּתֵּ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_2">יוֹאָ֛ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9776">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_21_5_4">מִסְפַּ֥ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_5_5">מִפְקַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9779">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_21_5_6">הָעָ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_5_7">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9782">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_5_8">דָּוִ֑יד</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_5_9">וַיְהִ֣י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_5_10">כָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9786">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_21_5_11">יִשְׂרָאֵ֡ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_12">אֶ֣לֶף</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_13">אֲלָפִים֩</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_14">וּמֵאָ֨ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_15">אֶ֤לֶף</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_5_16">אִישׁ֙</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_17">שֹׁ֣לֵֽף</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_5_18">חֶ֔רֶב</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_19">וִיהוּדָ֕ה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_20">אַרְבַּע֩</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_21">מֵא֨וֹת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_22">וְשִׁבְעִ֥ים</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_23">אֶ֛לֶף</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_5_24">אִ֖ישׁ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_5_25">שֹׁ֥לֵֽף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9802">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_21_5_26">חָֽרֶב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9804">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_6" data-pasuk-now="11"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_6_1">וְלֵוִי֙</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_21_6_2">וּבִנְיָמִ֔ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_6_3">לֹ֥א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_6_4">פָקַ֖ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_6_5">בְּתוֹכָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9811">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_6_7">נִתְעַ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_8">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9814">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_9">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9817">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_6_11">יוֹאָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9819">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_7" data-pasuk-now="9"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_1">וַיֵּ֙רַע֙</span>
<span class="mila" data-lnk="1342177392" data-exlnk="0" id="M_21_7_2">בְּעֵינֵ֣י</span>
<span class="mila" data-lnk="2684354672" data-exlnk="0" id="M_21_7_3">הָאֱלֹהִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9824">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_5">הַדָּבָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_7_6">הַזֶּ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_7_7">וַיַּ֖ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_7_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9829">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_21_7_9">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9832">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9833">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_8" data-pasuk-now="20"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_2">דָּוִיד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9837">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_4">הָ֣אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_5">חָטָ֣אתִֽי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_6">מְאֹ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_7">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_8">עָשִׂ֖יתִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9844">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_10">הַדָּבָ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_11">הַזֶּ֑ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_8_12">וְעַתָּ֗ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_8_13">הַֽעֲבֶר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9849">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_21_8_14">נָא֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_8_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9852">־</span><span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_21_8_16">עֲו֣וֹן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_8_17">עַבְדְּךָ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_18">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_19">נִסְכַּ֖לְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_8_20">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9859">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="9860"> פ </span>
</span>
<br /><span id="PS_21_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="3489661008" data-exlnk="0" id="M_21_9_1">וַיְדַבֵּ֤ר</span>
<span class="mila" data-lnk="3758096464" data-exlnk="0" id="M_21_9_2">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9864">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_4">גָּ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_5">חֹזֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_6">דָוִ֖יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_9_7">לֵאמֹֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9869">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_10" data-pasuk-now="18"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_21_10_1">לֵךְ֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_2">וְדִבַּרְתָּ֨</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9873">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_4">דָּוִ֜יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_5">לֵאמֹ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_6">כֹּ֚ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_7">אָמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_8">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_9">שָׁל֕וֹשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_10">אֲנִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_11">נֹטֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_12">עָלֶ֑יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_13">בְּחַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9884">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_21_10_14">לְךָ֛</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_15">אַחַ֥ת</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_10_16">מֵהֵ֖נָּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_10_17">וְאֶעֱשֶׂה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9889">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_21_10_18">לָּֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9891">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_11" data-pasuk-now="11"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_1">וַיָּ֥בֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_2">גָ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9895">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_4">דָּוִ֑יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_5">וַיֹּ֥אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_6">ל֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_7">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9900">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_8">אָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_9">יְהוָ֖ה</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_21_11_10">קַבֶּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9904">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_11_11">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9906">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_12" data-pasuk-now="33"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_12_1">אִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9908">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_21_12_2">שָׁל֨וֹשׁ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_12_3">שָׁנִ֜ים</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_12_4">רָעָ֗ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_5">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9913">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_21_12_6">שְׁלֹשָׁ֨ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_12_7">חֳדָשִׁ֜ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_12_8">נִסְפֶּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_9">מִפְּנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9918">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_10">צָרֶיךָ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_11">וְחֶ֣רֶב</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_21_12_12">אוֹיְבֶ֣יךָ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9922">׀</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_21_12_13">לְמַשֶּׂגֶת֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_14">וְאִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9925">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_15">שְׁלֹ֣שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_16">יָ֠מִים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_17">חֶ֣רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_18">יְהוָ֤ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9930">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_19">וְדֶ֙בֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_20">בָּאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_21">וּמַלְאַ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_22">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_23">מַשְׁחִ֖ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_24">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9937">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_25">גְּב֣וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_26">יִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_27">וְעַתָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_28">רְאֵ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_29">מָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9943">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_30">אָשִׁ֥יב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_31">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9946">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_12_32">שֹׁלְחִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_12_33">דָּבָֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9950">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="9951">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_13" data-pasuk-now="19"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_1">וַיֹּ֧אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_2">דָּוִ֛יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9955">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_4">גָּ֖ד</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_21_13_5">צַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9958">־</span><span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_21_13_6">לִ֣י</span>
<span class="mila" data-lnk="2952790097" data-exlnk="0" id="M_21_13_7">מְאֹ֑ד</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_21_13_8">אֶפְּלָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9962">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_21_13_9">נָּ֣א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_13_10">בְיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9965">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_21_13_11">יְהוָ֗ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_13_12">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9968">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_21_13_13">רַבִּ֤ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_13_14">רַחֲמָיו֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_15">מְאֹ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_16">וּבְיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9973">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_17">אָדָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_18">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="9976">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_13_19">אֶפֹּֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9978">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_14" data-pasuk-now="9"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_1">וַיִּתֵּ֧ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_3">דֶּ֖בֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_4">בְּיִשְׂרָאֵ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_5">וַיִּפֹּל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_6">מִיִּשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_7">שִׁבְעִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_8">אֶ֖לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_14_9">אִֽישׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="9988">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_15" data-pasuk-now="25"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_21_15_1">וַיִּשְׁלַח֩</span>
<span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_21_15_2">הָאֱלֹהִ֨ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9991">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_3">מַלְאָ֥ךְ</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="9993">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_4">לִֽירוּשָׁלִַם֘</span>
<span class="mila" data-lnk="4026531954" data-exlnk="0" id="M_21_15_5">לְהַשְׁחִיתָהּ֒</span>
<span class="mila" data-lnk="3221225544" data-exlnk="0" id="M_21_15_6">וּכְהַשְׁחִ֗ית</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_21_15_7">רָאָ֤ה</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_21_15_8">יְהוָה֙</span>
<span class="mila" data-lnk="10" data-exlnk="0" id="M_21_15_9">וַיִּנָּ֣חֶם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_21_15_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10001">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_21_15_11">הָרָעָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_12">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_13">לַמַּלְאָ֤ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_14">הַמַּשְׁחִית֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_15">רַ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_16">עַתָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_17">הֶ֣רֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_18">יָדֶ֑ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_19">וּמַלְאַ֤ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_20">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_21">עֹמֵ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_22">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10014">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_23">גֹּ֖רֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_24">אָרְנָ֥ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_15_25">הַיְבוּסִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10019">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10020">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_16" data-pasuk-now="26"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_1">וַיִּשָּׂ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_2">דָוִ֜יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10024">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_4">עֵינָ֗יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_16_5">וַיַּ֞רְא</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_16_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10028">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_21_16_7">מַלְאַ֤ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_16_8">יְהוָה֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_16_9">עֹמֵ֗ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_10">בֵּ֤ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_11">הָאָ֙רֶץ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_12">וּבֵ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_13">הַשָּׁמַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_14">וְחַרְבּ֤וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_15">שְׁלוּפָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_16">בְּיָד֔וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_16_17">נְטוּיָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_16_18">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10041">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_21_16_19">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_20">וַיִּפֹּ֨ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_21">דָּוִ֧יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_22">וְהַזְּקֵנִ֛ים</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_21_16_23">מְכֻסִּ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_24">בַּשַּׂקִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_25">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10049">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_16_26">פְּנֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10051">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_17" data-pasuk-now="30"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_2">דָּוִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_3">אֶֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10055">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_4">הָאֱלֹהִ֡ים</span>
<span class="mila" data-lnk="1342177392" data-exlnk="0" id="M_21_17_5">הֲלֹא֩</span>
<span class="mila" data-lnk="2952790128" data-exlnk="0" id="M_21_17_6">אֲנִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_7">אָמַ֜רְתִּי</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_21_17_8">לִמְנ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_9">בָּעָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_10">וַאֲנִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10063">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_11">ה֤וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10066">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_13">חָטָ֙אתִי֙</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_21_17_14">וְהָרֵ֣עַ</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_21_17_15">הֲרֵע֔וֹתִי</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_17_16">וְאֵ֥לֶּה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_17_17">הַצֹּ֖אן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_17_18">מֶ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_17_19">עָשׂ֑וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_20">יְהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_21">אֱלֹהַ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_22">תְּהִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_23">נָ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_24">יָֽדְךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_25">בִּ֚י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_26">וּבְבֵ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_27">אָבִ֔י</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_21_17_28">וּֽבְעַמְּךָ֖</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_29">לֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_17_30">לְמַגֵּפָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10086">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10087">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_18" data-pasuk-now="16"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_1">וּמַלְאַ֧ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_2">יְהוָ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_3">אָמַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10092">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_5">גָּ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_6">לֵאמֹ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_7">לְדָוִ֑יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_8">כִּ֣י׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_9">יַעֲלֶ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_10">דָוִ֗יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_11">לְהָקִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_12">מִזְבֵּחַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_13">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_14">בְּגֹ֖רֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_18_15">אָרְנָ֥ן</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_18_16">הַיְבֻסִֽי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10105">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_19" data-pasuk-now="8"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_1">וַיַּ֤עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_2">דָּוִיד֙</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_21_19_3">בִּדְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10109">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_21_19_4">גָּ֔ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_5">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_6">דִּבֶּ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_7">בְּשֵׁ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_19_8">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10115">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_20_1">וַיָּ֣שָׁב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_20_2">אָרְנָ֗ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_20_3">וַיַּרְא֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_20_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10120">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_21_20_5">הַמַּלְאָ֔ךְ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_20_6">וְאַרְבַּ֧עַת</span>
<span class="mila" data-lnk="3489661012" data-exlnk="0" id="M_21_20_7">בָּנָ֛יו</span>
<span class="mila" data-lnk="3758096464" data-exlnk="0" id="M_21_20_8">עִמּ֖וֹ</span>
<span class="mila" data-lnk="3221225541" data-exlnk="0" id="M_21_20_9">מִֽתְחַבְּאִ֑ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_20_10">וְאָרְנָ֖ן</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_21_20_11">דָּ֥שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_20_12">חִטִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10129">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_21" data-pasuk-now="16"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_1">וַיָּבֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_2">דָוִ֖יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_3">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10133">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_4">אָרְנָ֑ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_5">וַיַּבֵּ֤ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_6">אָרְנָן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_7">וַיַּ֣רְא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10139">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_9">דָּוִ֔יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_10">וַיֵּצֵא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_11">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10143">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_12">הַגֹּ֔רֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_13">וַיִּשְׁתַּ֧חוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_14">לְדָוִ֛יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_15">אַפַּ֖יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_21_16">אָֽרְצָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10149">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_22" data-pasuk-now="20"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_2">דָּוִ֜יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10153">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_4">אָרְנָ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_5">תְּנָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10156">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_6">לִּי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_7">מְק֣וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_8">הַגֹּ֔רֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_9">וְאֶבְנֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10161">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_10">בּ֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_11">מִזְבֵּ֖חַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_12">לַֽיהוָ֑ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_22_13">בְּכֶ֤סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_14">מָלֵא֙</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_21_22_15">תְּנֵ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_16">לִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_17">וְתֵעָצַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_18">הַמַּגֵּפָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_19">מֵעַ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_22_20">הָעָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10173">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_23" data-pasuk-now="21"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_2">אָרְנָ֤ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10177">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_4">דָּוִיד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_5">קַֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10180">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_6">לָ֔ךְ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_21_23_7">וְיַ֛עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_8">אֲדֹנִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_9">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_10">הַטּ֣וֹב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_11">בְּעֵינָ֑יו</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_23_12">רְאֵה֩</span>
<span class="mila" data-lnk="3221225508" data-exlnk="0" id="M_21_23_13">נָתַ֨תִּי</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_23_14">הַבָּקָ֜ר</span>
<span class="mila" data-lnk="4026531956" data-exlnk="0" id="M_21_23_15">לָעֹל֗וֹת</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_21_23_16">וְהַמּוֹרִגִּ֧ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_23_17">לָעֵצִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_18">וְהַחִטִּ֥ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_23_19">לַמִּנְחָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_23_20">הַכֹּ֥ל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_23_21">נָתָֽתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10197">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_24" data-pasuk-now="19"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_2">הַמֶּ֤לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_3">דָּוִיד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_4">לְאָרְנָ֔ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_5">לֹ֕א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10204">־</span><span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_21_24_7">קָנֹ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_8">אֶקְנֶ֖ה</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_21_24_9">בְּכֶ֣סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_10">מָלֵ֑א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_11">כִּ֠י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_12">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10211">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_21_24_13">אֶשָּׂ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_14">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10214">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_15">לְךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_16">לַיהוָ֔ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_24_17">וְהַעֲל֥וֹת</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_21_24_18">עוֹלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_24_19">חִנָּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10220">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_25" data-pasuk-now="9"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_25_1">וַיִּתֵּ֥ן</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_25_2">דָּוִ֛יד</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_25_3">לְאָרְנָ֖ן</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_21_25_4">בַּמָּק֑וֹם</span>
<span class="mila" data-lnk="3221225543" data-exlnk="0" id="M_21_25_5">שִׁקְלֵ֣י</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_25_6">זָהָ֔ב</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_25_7">מִשְׁקָ֖ל</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_25_8">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_21_25_9">מֵאֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10230">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_26" data-pasuk-now="18"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_1">וַיִּבֶן֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_2">שָׁ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_3">דָּוִ֤יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_4">מִזְבֵּחַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_5">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_6">וַיַּ֥עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_7">עֹל֖וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_26_8">וּשְׁלָמִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_9">וַיִּקְרָא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10241">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_11">יְהוָ֔ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_26_12">וַֽיַּעֲנֵ֤הוּ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_26_13">בָאֵשׁ֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_26_14">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10246">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_21_26_15">הַשָּׁמַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_26_16">עַ֖ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_26_17">מִזְבַּ֥ח</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_26_18">הָעֹלָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10252">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10253">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_27" data-pasuk-now="7"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_27_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_27_2">יְהוָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_27_3">לַמַּלְאָ֔ךְ</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_21_27_4">וַיָּ֥שֶׁב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_27_5">חַרְבּ֖וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_27_6">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10260">־</span><span class="mila" data-lnk="3221225541" data-exlnk="0" id="M_21_27_7">נְדָנָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10262">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_28" data-pasuk-now="12"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_21_28_1">בָּעֵ֣ת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_21_28_2">הַהִ֔יא</span>
<span class="mila" data-lnk="4026531929" data-exlnk="0" id="M_21_28_3">בִּרְא֤וֹת</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_21_28_4">דָּוִיד֙</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_21_28_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10268">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_21_28_6">עָנָ֣הוּ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_21_28_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_8">בְּגֹ֖רֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_9">אָרְנָ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_28_10">הַיְבוּסִ֑י</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_28_11">וַיִּזְבַּ֖ח</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_21_28_12">שָֽׁם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10276">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_29" data-pasuk-now="12"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="1073741892" data-exlnk="0" id="M_21_29_1">וּמִשְׁכַּ֣ן</span>
<span class="mila" data-lnk="2147483724" data-exlnk="0" id="M_21_29_2">יְ֠הוָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_21_29_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10280">־</span><span class="mila" data-lnk="12" data-exlnk="0" id="M_21_29_4">עָשָׂ֨ה</span>
<span class="mila" data-lnk="14" data-exlnk="0" id="M_21_29_5">מֹשֶׁ֧ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_21_29_6">בַמִּדְבָּ֛ר</span>
<span class="mila" data-lnk="13" data-exlnk="0" id="M_21_29_7">וּמִזְבַּ֥ח</span>
<span class="mila" data-lnk="805306397" data-exlnk="0" id="M_21_29_8">הָעוֹלָ֖ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_29_9">בָּעֵ֣ת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_29_10">הַהִ֑יא</span>
<span class="mila" data-lnk="1073741895" data-exlnk="0" id="M_21_29_11">בַּבָּמָ֖ה</span>
<span class="mila" data-lnk="2147483727" data-exlnk="0" id="M_21_29_12">בְּגִבְעֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10290">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_21_30" data-pasuk-now="13"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_30_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="10292">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_21_30_2">יָכֹ֥ל</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_30_3">דָּוִ֛יד</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_30_4">לָלֶ֥כֶת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_30_5">לְפָנָ֖יו</span>
<span class="mila" data-lnk="1879048277" data-exlnk="0" id="M_21_30_6">לִדְרֹ֣שׁ</span>
<span class="mila" data-lnk="2684354645" data-exlnk="0" id="M_21_30_7">אֱלֹהִ֑ים</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_30_8">כִּ֣י</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_21_30_9">נִבְעַ֔ת</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_30_10">מִפְּנֵ֕י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_30_11">חֶ֖רֶב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_21_30_12">מַלְאַ֥ךְ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_21_30_13">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="10306">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="10307">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>