<p id="PR_31" data-perek-now="332" data-perek-nops="21"><span class="perek-header">פרק לא</span>
<br /><span id="PS_31_1" data-pasuk-now="32"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_1">וּכְכַלּ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_2">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13163">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_3">זֹ֗את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_4">יָצְא֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_5">כָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13167">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_6">יִשְׂרָאֵ֥ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_7">הַֽנִּמְצְאִים֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_8">לְעָרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_9">יְהוּדָה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_10">וַיְשַׁבְּר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_11">הַמַּצֵּב֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_12">וַיְגַדְּע֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_13">הָאֲשֵׁרִ֡ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_1_14">וַיְנַתְּצ֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_15">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13178">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_16">הַ֠בָּמוֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_17">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13181">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_18">הַֽמִּזְבְּח֞וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_19">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13184">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_20">יְהוּדָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_21">וּבִנְיָמִ֛ן</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_1_22">וּבְאֶפְרַ֥יִם</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_1_23">וּמְנַשֶּׁ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_24">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13190">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_31_1_25">לְכַלֵּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_26">וַיָּשׁ֜וּבוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_27">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13194">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_28">בְּנֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_29">יִשְׂרָאֵ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_30">אִ֥ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_31">לַאֲחֻזָּת֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_1_32">לְעָרֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13201">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13202"> פ </span>
</span>
<br /><span id="PS_31_2" data-pasuk-now="21"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_1">וַיַּעֲמֵ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_2">יְחִזְקִיָּ֡הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13206">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_4">מַחְלְק֣וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_2_5">הַכֹּהֲנִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_6">וְ֠הַלְוִיִּם</span>
<span class="mila" data-lnk="3489661040" data-exlnk="0" id="M_31_2_7">עַֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13211">־</span><span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_31_2_8">מַחְלְקוֹתָ֞ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_2_9">אִ֣ישׁ׀</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_2_10">כְּפִ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_2_11">עֲבֹדָת֗וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_2_12">לַכֹּֽהֲנִים֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_2_13">וְלַלְוִיִּ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_14">לְעֹלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_15">וְלִשְׁלָמִ֑ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_2_16">לְשָׁרֵת֙</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_31_2_17">וּלְהֹד֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_18">וּלְהַלֵּ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_2_19">בְּשַׁעֲרֵ֖י</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_31_2_20">מַחֲנ֥וֹת</span>
<span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_31_2_21">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13227">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13228">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_3" data-pasuk-now="15"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_31_3_1">וּמְנָת֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_3_2">הַמֶּ֨לֶךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_3_3">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13232">־</span><span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_31_3_4">רְכוּשׁ֜וֹ</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_31_3_5">לָעֹל֗וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_6">לְעֹלוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_7">הַבֹּ֣קֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_8">וְהָעֶ֔רֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_9">וְהָ֣עֹל֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_10">לַשַּׁבָּת֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_11">וְלֶחֳדָשִׁ֣ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_3_12">וְלַמֹּעֲדִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_13">כַּכָּת֖וּב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_14">בְּתוֹרַ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_3_15">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13245">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_4" data-pasuk-now="12"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_4_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_4_2">לָעָם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_4_3">לְיוֹשְׁבֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_4_4">יְרוּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_4_5">לָתֵ֕ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_4_6">מְנָ֥ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_4_7">הַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_4_8">וְהַלְוִיִּ֑ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_4_9">לְמַ֥עַן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_4_10">יֶחֶזְק֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_4_11">בְּתוֹרַ֥ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_4_12">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13258">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_5" data-pasuk-now="17"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="3221225539" data-exlnk="0" id="M_31_5_1">וְכִפְרֹ֣ץ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_5_2">הַדָּבָ֗ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_5_3">הִרְבּ֤וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_5_4">בְנֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13263">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_31_5_5">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="805306387" data-exlnk="0" id="M_31_5_6">רֵאשִׁ֣ית</span>
<span class="mila" data-lnk="3489661043" data-exlnk="0" id="M_31_5_7">דָּגָ֗ן</span>
<span class="mila" data-lnk="3758096497" data-exlnk="0" id="M_31_5_8">תִּיר֤וֹשׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_5_9">וְיִצְהָר֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_5_10">וּדְבַ֔שׁ</span>
<span class="mila" data-lnk="3221225539" data-exlnk="0" id="M_31_5_11">וְכֹ֖ל</span>
<span class="mila" data-lnk="2147483715" data-exlnk="0" id="M_31_5_12">תְּבוּאַ֣ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_5_13">שָׂדֶ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_5_14">וּמַעְשַׂ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_5_15">הַכֹּ֛ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_5_16">לָרֹ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_5_17">הֵבִֽיאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13277">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_1">וּבְנֵ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_2">יִשְׂרָאֵ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_3">וִיהוּדָ֗ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_6_4">הַיּוֹשְׁבִים֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_5">בְּעָרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_6">יְהוּדָה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_7">גַּם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13285">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_8">הֵ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_9">מַעְשַׂ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_10">בָּקָר֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_6_11">וָצֹ֔אן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_6_12">וּמַעְשַׂ֣ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_6_13">קָֽדָשִׁ֔ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_6_14">הַמְקֻדָּשִׁ֖ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_6_15">לַיהוָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_16">אֱלֹהֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_6_17">הֵבִ֕יאוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_6_18">וַֽיִּתְּנ֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_6_19">עֲרֵמ֥וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_6_20">עֲרֵמֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13300">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13301">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_7" data-pasuk-now="8"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_7_1">בַּחֹ֙דֶשׁ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_7_2">הַשְּׁלִשִׁ֔י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_7_3">הֵחֵ֥לּוּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_7_4">הָעֲרֵמ֖וֹת</span>
<span class="mila" data-lnk="3221225539" data-exlnk="0" id="M_31_7_5">לְיִסּ֑וֹד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_7_6">וּבַחֹ֥דֶשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_7_7">הַשְּׁבִיעִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_7_8">כִּלּֽוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13311">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13312">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_8_1">וַיָּבֹ֙אוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_8_2">יְחִזְקִיָּ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_8_3">וְהַשָּׂרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_8_4">וַיִּרְא֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_8_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13318">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_8_6">הָעֲרֵמ֑וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_8_7">וַֽיְבָרֲכוּ֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_8_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13322">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_31_8_9">יְהוָ֔ה</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_31_8_10">וְאֵ֖ת</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_31_8_11">עַמּ֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_8_12">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13328">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13329"> פ </span>
</span>
<br /><span id="PS_31_9" data-pasuk-now="7"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_9_1">וַיִּדְרֹ֣שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_9_2">יְחִזְקִיָּ֗הוּ</span>
<span class="mila" data-lnk="3489661040" data-exlnk="0" id="M_31_9_3">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13333">־</span><span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_31_9_4">הַכֹּ֥הֲנִ֛ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_9_5">וְהַלְוִיִּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_9_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13337">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_9_7">הָעֲרֵמֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13339">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_10" data-pasuk-now="27"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_2">אֵלָ֗יו</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_3">עֲזַרְיָ֧הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_10_4">הַכֹּהֵ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_10_5">הָרֹ֖אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_10_6">לְבֵ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_10_7">צָד֑וֹק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_10_8">וַ֠יֹּאמֶר</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_31_10_9">מֵהָחֵ֨ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_10">הַתְּרוּמָ֜ה</span>
<span class="mila" data-lnk="4026531955" data-exlnk="0" id="M_31_10_11">לָבִ֣יא</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_10_12">בֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13352">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_31_10_13">יְהוָ֗ה</span>
<span class="mila" data-lnk="805306387" data-exlnk="0" id="M_31_10_14">אָכ֨וֹל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_10_15">וְשָׂב֤וֹעַ</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_31_10_16">וְהוֹתֵר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_10_17">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13358">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_10_18">לָר֔וֹב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_19">כִּ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_20">יְהוָה֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_21">בֵּרַ֣ךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_22">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13364">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_31_10_23">עַמּ֔וֹ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_10_24">וְהַנּוֹתָ֖ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_10_25">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13368">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_31_10_26">הֶהָמ֥וֹן</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_10_27">הַזֶּֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13372">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="13373">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_11" data-pasuk-now="7"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_11_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_11_2">יְחִזְקִיָּ֗הוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_11_3">לְהָכִ֧ין</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_11_4">לְשָׁכ֛וֹת</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_31_11_5">בְּבֵ֥ית</span>
<span class="mila" data-lnk="2684354641" data-exlnk="0" id="M_31_11_6">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_11_7">וַיָּכִֽינוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13381">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_31_12_1">וַיָּבִ֨יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_12_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13384">־</span><span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_31_12_3">הַתְּרוּמָ֧ה</span>
<span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_31_12_4">וְהַֽמַּעֲשֵׂ֛ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_12_5">וְהַקֳּדָשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_12_6">בֶּאֱמוּנָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_12_7">וַעֲלֵיהֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_12_8">נָגִיד֙</span>
<span data-lnk="0" data-exlnk="0" id="M_31_12_9" class="mila ktiv">כָּֽונַנְיָ֣הוּ</span>
<span data-lnk="3221225536" data-exlnk="0" id="M_31_12_9_K" class="mila kri">כָּֽנַנְיָ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_12_10">הַלֵּוִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_12_11">וְשִׁמְעִ֥י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_12_12">אָחִ֖יהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_12_13">מִשְׁנֶֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13397">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_13" data-pasuk-now="22"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_1">וִיחִיאֵ֡ל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_13_2">וַ֠עֲזַזְיָהוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_3">וְנַ֨חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_4">וַעֲשָׂהאֵ֜ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_5">וִירִימ֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_6">וְיֽוֹזָבָד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_7">וֶאֱלִיאֵ֣ל</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_13_8">וְיִסְמַכְיָ֔הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_9">וּמַ֖חַת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_10">וּבְנָיָ֑הוּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_13_11">פְּקִידִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_12">מִיַּ֤ד</span>
<span data-lnk="0" data-exlnk="0" id="M_31_13_13" class="mila ktiv">כָּֽונַנְיָ֙הוּ֙</span>
<span data-lnk="3221225536" data-exlnk="0" id="M_31_13_13_K" class="mila kri">כָּֽנַנְיָ֙הוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_14">וְשִׁמְעִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_15">אָחִ֔יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_13_16">בְּמִפְקַד֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_13_17">יְחִזְקִיָּ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_18">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_19">וַעֲזַרְיָ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_20">נְגִ֥יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_21">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13420">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_13_22">הָאֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13422">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_14" data-pasuk-now="14"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_14_1">וְקוֹרֵ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_2">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13425">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_3">יִמְנָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_4">הַלֵּוִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_5">הַשּׁוֹעֵ֣ר</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_14_6">לַמִּזְרָ֔חָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_7">עַ֖ל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_14_8">נִדְב֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_9">הָאֱלֹהִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_10">לָתֵת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_11">תְּרוּמַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_12">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_13">וְקָדְשֵׁ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_14_14">הַקֳּדָשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13438">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_15" data-pasuk-now="16"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_1">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13440">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_2">יָד֡וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_3">עֵ֣דֶן</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_15_4">וּ֠מִנְיָמִן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_5">וְיֵשׁ֨וּעַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_6">וּֽשְׁמַעְיָ֜הוּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_15_7">אֲמַרְיָ֧הוּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_15_8">וּשְׁכַנְיָ֛הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_9">בְּעָרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_10">הַכֹּהֲנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_11">בֶּאֱמוּנָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_12">לָתֵ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_13">לַֽאֲחֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_15_14">בְּמַחְלְק֔וֹת</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_31_15_15">כַּגָּד֖וֹל</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_15_16">כַּקָּטָֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13456">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_16" data-pasuk-now="17"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_16_1">מִלְּבַ֞ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_16_2">הִתְיַחְשָׂ֣ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_16_3">לִזְכָרִ֗ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_16_4">מִבֶּ֨ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_16_5">שָׁל֤וֹשׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_16_6">שָׁנִים֙</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_31_16_7">וּלְמַ֔עְלָה</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_31_16_8">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13465">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_16_9">הַבָּ֥א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_16_10">לְבֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13468">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_31_16_11">יְהוָ֖ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_16_12">לִדְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13471">־</span><span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_31_16_13">י֣וֹם</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_16_14">בְּיוֹמ֑וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_16_15">לַעֲב֣וֹדָתָ֔ם</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_16_16">בְּמִשְׁמְרוֹתָ֖ם</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_16_17">כְּמַחְלְקוֹתֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13477">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_17" data-pasuk-now="12"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_17_1">וְאֵ֨ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_17_2">הִתְיַחֵ֤שׂ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_17_3">הַכֹּֽהֲנִים֙</span>
<span class="mila" data-lnk="3489661009" data-exlnk="0" id="M_31_17_4">לְבֵ֣ית</span>
<span class="mila" data-lnk="3758096465" data-exlnk="0" id="M_31_17_5">אֲבוֹתֵיהֶ֔ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_17_6">וְהַ֨לְוִיִּ֔ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_17_7">מִבֶּ֛ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_17_8">עֶשְׂרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_17_9">שָׁנָ֖ה</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_31_17_10">וּלְמָ֑עְלָה</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_17_11">בְּמִשְׁמְרוֹתֵיהֶ֖ם</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_17_12">בְּמַחְלְקוֹתֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13490">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_18" data-pasuk-now="12"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_18_1">וּלְהִתְיַחֵ֗שׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_18_2">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13493">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_31_18_3">טַפָּ֛ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_18_4">נְשֵׁיהֶ֛ם</span>
<span class="mila" data-lnk="1342177393" data-exlnk="0" id="M_31_18_5">וּבְנֵיהֶ֥ם</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_31_18_6">וּבְנוֹתֵיהֶ֖ם</span>
<span class="mila" data-lnk="1073741889" data-exlnk="0" id="M_31_18_7">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13499">־</span><span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_31_18_8">קָהָ֑ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_18_9">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_18_10">בֶאֱמוּנָתָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_18_11">יִתְקַדְּשׁוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13504">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_31_18_12">קֹֽדֶשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13506">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_19" data-pasuk-now="21"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_19_1">וְלִבְנֵי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_19_2">אַהֲרֹ֨ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_19_3">הַכֹּהֲנִ֜ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_19_4">בִּשְׂדֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_19_5">מִגְרַ֤שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_19_6">עָֽרֵיהֶם֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_19_7">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13514">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_19_8">עִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_19_9">וָעִ֔יר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_19_10">אֲנָשִׁ֕ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_19_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_19_12">נִקְּב֖וּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_19_13">בְּשֵׁמ֑וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_31_19_14">לָתֵ֣ת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_19_15">מָנ֗וֹת</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_19_16">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13524">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_31_19_17">זָכָר֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_31_19_18">בַּכֹּ֣הֲנִ֔ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_31_19_19">וּלְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13528">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_31_19_20">הִתְיַחֵ֖שׂ</span>
<span class="mila" data-lnk="3221225539" data-exlnk="0" id="M_31_19_21">בַּלְוִיִּֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13531">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_20" data-pasuk-now="12"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_20_1">וַיַּ֧עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_20_2">כָּזֹ֛את</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_20_3">יְחִזְקִיָּ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_20_4">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13536">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_20_5">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_20_6">וַיַּ֨עַשׂ</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_31_20_7">הַטּ֤וֹב</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_20_8">וְהַיָּשָׁר֙</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_31_20_9">וְהָ֣אֱמֶ֔ת</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_31_20_10">לִפְנֵ֖י</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_31_20_11">יְהוָ֥ה</span>
<span class="mila" data-lnk="2952790096" data-exlnk="0" id="M_31_20_12">אֱלֹהָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13545">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_31_21" data-pasuk-now="15"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_21_1">וּבְכָֽל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13547">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_31_21_2">מַעֲשֶׂ֞ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_21_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13550">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_21_4">הֵחֵ֣ל׀</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_31_21_5">בַּעֲבוֹדַ֣ת</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_31_21_6">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13554">־</span><span class="mila" data-lnk="3758096464" data-exlnk="0" id="M_31_21_7">הָאֱלֹהִ֗ים</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_31_21_8">וּבַתּוֹרָה֙</span>
<span class="mila" data-lnk="3221225568" data-exlnk="0" id="M_31_21_9">וּבַמִּצְוָ֔ה</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_31_21_10">לִדְרֹ֖שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_21_11">לֵאלֹהָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_21_12">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="13561">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_31_21_13">לְבָב֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_21_14">עָשָׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_31_21_15">וְהִצְלִֽיחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="13566">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="13567"> פ </span>
</span>
<br /></p>