<p id="PR_14" data-perek-now="217" data-perek-nops="14"><span class="perek-header">פרק יד</span>
<br /><span id="PS_14_1" data-pasuk-now="7"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_1">וַיַּ֤עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_2">אָסָא֙</span>
<span class="mila" data-lnk="3489661040" data-exlnk="0" id="M_14_1_3">הַטּ֣וֹב</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_14_1_4">וְהַיָּשָׁ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_5">בְּעֵינֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_6">יְהוָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_1_7">אֱלֹהָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5613">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_2" data-pasuk-now="11"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_1">וַיָּ֛סַר</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_14_2_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5616">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_3">מִזְבְּח֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_4">הַנֵּכָ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_5">וְהַבָּמ֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_6">וַיְשַׁבֵּר֙</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_14_2_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5622">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_2_8">הַמַּצֵּב֔וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_2_9">וַיְגַדַּ֖ע</span>
<span class="mila" data-lnk="805306388" data-exlnk="0" id="M_14_2_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5626">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_2_11">הָאֲשֵׁרִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5628">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_3" data-pasuk-now="10"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_3_1">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_3_2">לִֽיהוּדָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_3_3">לִדְר֕וֹשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5633">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_5">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_6">אֱלֹהֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_7">אֲבוֹתֵיהֶ֑ם</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_14_3_8">וְלַעֲשׂ֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_9">הַתּוֹרָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_3_10">וְהַמִּצְוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5640">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_4" data-pasuk-now="11"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_1">וַיָּ֙סַר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_2">מִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5643">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_3">עָרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_4">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5647">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_6">הַבָּמ֖וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_4_7">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5650">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_4_8">הַחַמָּנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_9">וַתִּשְׁקֹ֥ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_10">הַמַּמְלָכָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_4_11">לְפָנָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5655">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_5_1">וַיִּ֛בֶן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_5_2">עָרֵ֥י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_5_3">מְצוּרָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_5_4">בִּֽיהוּדָ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_5_5">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5661">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_5_6">שָׁקְטָ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_5_7">הָאָ֗רֶץ</span>
<span class="mila" data-lnk="3489661040" data-exlnk="0" id="M_14_5_8">וְאֵין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5665">־</span><span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_14_5_9">עִמּ֤וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_10">מִלְחָמָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_11">בַּשָּׁנִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_12">הָאֵ֔לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5671">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_14">הֵנִ֥יחַ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_15">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_5_16">לֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5675">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_6" data-pasuk-now="25"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_1">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_6_2">לִיהוּדָ֜ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_6_3">נִבְנֶ֣ה׀</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_6_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5680">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_6_5">הֶעָרִ֣ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_6_6">הָאֵ֗לֶּה</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_14_6_7">וְנָסֵ֨ב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_6_8">חוֹמָ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_6_9">וּמִגְדָּלִים֘</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_6_10">דְּלָתַ֣יִם</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_14_6_11">וּבְרִיחִים֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_6_12">עוֹדֶ֨נּוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_6_13">הָאָ֜רֶץ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_6_14">לְפָנֵ֗ינוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_6_15">כִּ֤י</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_6_16">דָרַ֙שְׁנוּ֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_6_17">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5694">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_14_6_18">יְהוָ֣ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_6_19">אֱלֹהֵ֔ינוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_6_20">דָּרַ֕שְׁנוּ</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_14_6_21">וַיָּ֥נַֽח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5699">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_14_6_22">לָ֖נוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_6_23">מִסָּבִ֑יב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_14_6_24">וַיִּבְנ֖וּ</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_14_6_25">וַיַּצְלִֽיחוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5705">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5706"> פ </span>
</span>
<br /><span id="PS_14_7" data-pasuk-now="22"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_1">וַיְהִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_2">לְאָסָ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_3">חַיִל֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_4">נֹשֵׂ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_5">צִנָּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_6">וָרֹמַח֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_7">מִֽיהוּדָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_8">שְׁלֹ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_9">מֵא֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="5716">אֶ֔לֶף</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="M_14_7_10">   ס </span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_14_7_11">וּמִבִּנְיָמִ֗ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_12">נֹשְׂאֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_13">מָגֵן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_14">וְדֹ֣רְכֵי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_15">קֶ֔שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_16">מָאתַ֥יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_17">וּשְׁמוֹנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_18">אָ֑לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_19">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5728">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_20">אֵ֖לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_21">גִּבּ֥וֹרֵי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_7_22">חָֽיִל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5732">:</span>
</span>
<br class="sfpsk-br not-displayed" /><br class="sfpsk-br not-displayed" /><span id="PS_14_8" data-pasuk-now="13"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_1">וַיֵּצֵ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_2">אֲלֵיהֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_3">זֶ֣רַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_4">הַכּוּשִׁ֗י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_5">בְּחַ֙יִל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_6">אֶ֣לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_7">אֲלָפִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_8">וּמַרְכָּב֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_9">שְׁלֹ֣שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_10">מֵא֑וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_11">וַיָּבֹ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_12">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5745">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_8_13">מָרֵשָֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5747">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_9" data-pasuk-now="8"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_1">וַיֵּצֵ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_2">אָסָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_3">לְפָנָ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_4">וַיַּֽעַרְכוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_5">מִלְחָמָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_6">בְּגֵ֥יא</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_14_9_7">צְפַ֖תָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_9_8">לְמָרֵשָֽׁה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5756">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_10" data-pasuk-now="32"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_14_10_1">וַיִּקְרָ֨א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_2">אָסָ֜א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_14_10_3">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5760">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_14_10_4">יְהוָ֣ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_10_5">אֱלֹהָיו֘</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_14_10_6">וַיֹּאמַר֒</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_10_7">יְהוָ֗ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_8">אֵֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5766">־</span><span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_9">עִמְּךָ֤</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_10">לַעְזֹר֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_11">בֵּ֥ין</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_12">רַב֙</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_14_10_13">לְאֵ֣ין</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_14">כֹּ֔חַ</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_14_10_15">עָזְרֵ֜נוּ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_16">יְהוָ֤ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_17">אֱלֹהֵ֙ינוּ֙</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_14_10_18">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5777">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_14_10_19">עָלֶ֣יךָ</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_14_10_20">נִשְׁעַ֔נּוּ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_14_10_21">וּבְשִׁמְךָ֣</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_10_22">בָ֔אנוּ</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_14_10_23">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5783">־</span><span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_14_10_24">הֶהָמ֖וֹן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_10_25">הַזֶּ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_10_26">יְהוָ֤ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_14_10_27">אֱלֹהֵ֙ינוּ֙</span>
<span class="mila" data-lnk="805306388" data-exlnk="0" id="M_14_10_28">אַ֔תָּה</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_10_29">אַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5790">־</span><span class="mila" data-lnk="4026531959" data-exlnk="0" id="M_14_10_30">יַעְצֹ֥ר</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_10_31">עִמְּךָ֖</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_14_10_32">אֱנֽוֹשׁ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5795">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5796">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_11" data-pasuk-now="10"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_1">וַיִּגֹּ֤ף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_2">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5800">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_4">הַכּוּשִׁ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_5">לִפְנֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_6">אָסָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_7">וְלִפְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_8">יְהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_9">וַיָּנֻ֖סוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_11_10">הַכּוּשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5808">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_12" data-pasuk-now="22"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_1">וַיִּרְדְּפֵ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_2">אָסָ֜א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_3">וְהָעָ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5813">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_5">עִמּוֹ֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_6">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5816">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_14_12_7">לִגְרָר֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_8">וַיִּפֹּ֤ל</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_14_12_9">מִכּוּשִׁים֙</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_14_12_10">לְאֵ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_11">לָהֶ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_12">מִֽחְיָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_13">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5824">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_14">נִשְׁבְּר֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_15">לִפְנֵי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5827">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_16">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_17">וְלִפְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_18">מַחֲנֵ֑הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_19">וַיִּשְׂא֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_20">שָׁלָ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_21">הַרְבֵּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_12_22">מְאֹֽד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5835">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_13" data-pasuk-now="20"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_1">וַיַּכּ֗וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_2">אֵ֤ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_3">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5839">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_4">הֶעָרִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_5">סְבִיב֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_6">גְּרָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_7">כִּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5844">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_8">הָיָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_9">פַחַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5847">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_10">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_11">עֲלֵיהֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_12">וַיָּבֹ֙זּוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_13">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5852">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_14">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5854">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_15">הֶ֣עָרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_16">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5857">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_17">בִזָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_18">רַבָּ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_19">הָיְתָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_13_20">בָהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5862">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_14_14" data-pasuk-now="10"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_14_14_1">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5864">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_2">אָהֳלֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_3">מִקְנֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_4">הִכּ֑וּ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_14_14_5">וַיִּשְׁבּ֨וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_6">צֹ֤אן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_7">לָרֹב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_8">וּגְמַלִּ֔ים</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_14_14_9">וַיָּשֻׁ֖בוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_14_14_10">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5875">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5876">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /></p>