<p id="PR_1" data-perek-now="284" data-perek-nops="18"><span class="perek-header">פרק א</span>
<br /><span id="PS_1_1" data-pasuk-now="11"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026531925" data-exlnk="0" id="M_1_1_1">וַיִּתְחַזֵּ֛ק</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_1_2">שְׁלֹמֹ֥ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_1_3">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_1_1_4">דָּוִ֖יד</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_1_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_1_1_6">מַלְכוּת֑וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_1_7">וַיהוָ֤ה</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_1_1_8">אֱלֹהָיו֙</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_1_1_9">עִמּ֔וֹ</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_1_1_10">וַֽיְגַדְּלֵ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_1_11">לְמָֽעְלָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="14">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_1_2_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_1_2_2">שְׁלֹמֹ֣ה</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_1_2_3">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="18">־</span><span class="mila" data-lnk="11" data-exlnk="0" id="M_1_2_4">יִשְׂרָאֵ֡ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_5">לְשָׂרֵי֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_6">הָאֲלָפִ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_7">וְהַמֵּא֜וֹת</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_1_2_8">וְלַשֹּׁפְטִ֗ים</span>
<span class="mila" data-lnk="3221225538" data-exlnk="0" id="M_1_2_9">וּלְכֹ֛ל</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_1_2_10">נָשִׂ֥יא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_11">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="27">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_2_12">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_13">רָאשֵׁ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_2_14">הָאָבֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="31">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_3" data-pasuk-now="20"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_1_3_1">וַיֵּלְכ֗וּ</span>
<span class="mila" data-lnk="11" data-exlnk="0" id="M_1_3_2">שְׁלֹמֹה֙</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_1_3_3">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="35">־</span><span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_1_3_4">הַקָּהָ֣ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_3_5">עִמּ֔וֹ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_3_6">לַבָּמָ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_3_7">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_3_8">בְּגִבְע֑וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_9">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="42">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_10">שָׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_11">הָיָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_12">אֹ֤הֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_13">מוֹעֵד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_14">הָאֱלֹהִ֔ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_3_15">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_16">עָשָׂ֛ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_17">מֹשֶׁ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_18">עֶבֶד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="52">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_19">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_3_20">בַּמִּדְבָּֽר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="55">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_4" data-pasuk-now="15"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_1">אֲבָ֗ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_2">אֲר֤וֹן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_3">הָאֱלֹהִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_4">הֶעֱלָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_5">דָוִיד֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_6">מִקִּרְיַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_7">יְעָרִ֔ים</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_1_4_8">בַּהֵכִ֥ין</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_4_9">ל֖וֹ</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_4_10">דָּוִ֑יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_11">כִּ֧י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_12">נָֽטָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="68">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_13">ל֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_14">אֹ֖הֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_4_15">בִּירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="72">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_5" data-pasuk-now="16"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_1_5_1">וּמִזְבַּ֣ח</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_1_5_2">הַנְּחֹ֗שֶׁת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_3">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_4">עָשָׂה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_5">בְּצַלְאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_6">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="79">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_7">אוּרִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_8">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="82">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_9">ח֔וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_10">שָׁ֕ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_11">לִפְנֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_12">מִשְׁכַּ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_13">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_14">וַיִּדְרְשֵׁ֥הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_15">שְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_5_16">וְהַקָּהָֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="91">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_6" data-pasuk-now="15"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_1">וַיַּעַל֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_2">שְׁלֹמֹ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_3">שָׁ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="96">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_5">מִזְבַּ֤ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_6">הַנְּחֹ֙שֶׁת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_7">לִפְנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_8">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_6_9">אֲשֶׁ֖ר</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_1_6_10">לְאֹ֣הֶל</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_1_6_11">מוֹעֵ֑ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_12">וַיַּ֧עַל</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_13">עָלָ֛יו</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_14">עֹל֖וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_6_15">אָֽלֶף</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="108">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_7" data-pasuk-now="11"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_1_7_1">בַּלַּ֣יְלָה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_1_7_2">הַה֔וּא</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_1_7_3">נִרְאָ֥ה</span>
<span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_1_7_4">אֱלֹהִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_5">לִשְׁלֹמֹ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_6">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_7_7">ל֔וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_7_8">שְׁאַ֖ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_7_9">מָ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_7_10">אֶתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="119">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_7_11">לָֽךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="121">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_8" data-pasuk-now="12"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_1">וַיֹּ֤אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_2">שְׁלֹמֹה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_3">לֵאלֹהִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_4">אַתָּ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_5">עָשִׂ֛יתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_6">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="128">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_7">דָּוִ֥יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_8">אָבִ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_9">חֶ֣סֶד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_10">גָּד֑וֹל</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_1_8_11">וְהִמְלַכְתַּ֖נִי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_8_12">תַּחְתָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="135">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_9" data-pasuk-now="16"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_1_9_1">עַתָּה֙</span>
<span class="mila" data-lnk="2147483713" data-exlnk="0" id="M_1_9_2">יְהוָ֣ה</span>
<span class="mila" data-lnk="2147483713" data-exlnk="0" id="M_1_9_3">אֱלֹהִ֔ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_9_4">יֵֽאָמֵן֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_9_5">דְּבָ֣רְךָ֔</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_6">עִ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_7">דָּוִ֣יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_8">אָבִ֑י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_9_9">כִּ֤י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_9_10">אַתָּה֙</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_1_9_11">הִמְלַכְתַּ֔נִי</span>
<span class="mila" data-lnk="268435473" data-exlnk="0" id="M_1_9_12">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="148">־</span><span class="mila" data-lnk="805306385" data-exlnk="0" id="M_1_9_13">עַ֕ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_9_14">רַ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_15">כַּעֲפַ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_9_16">הָאָֽרֶץ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="153">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_10" data-pasuk-now="17"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="4026531928" data-exlnk="0" id="M_1_10_1">עַתָּ֗ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_10_2">חָכְמָ֤ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_10_3">וּמַדָּע֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_10_4">תֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="158">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_1_10_5">לִ֔י</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_1_10_6">וְאֵ֥צְאָ֛ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_10_7">לִפְנֵ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_10_8">הָעָם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="163">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_10_9">הַזֶּ֖ה</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_1_10_10">וְאָב֑וֹאָה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_10_11">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="167">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_10_12">מִ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_13">יִשְׁפֹּ֔ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_10_14">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="171">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_10_15">עַמְּךָ֥</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_10_16">הַזֶּ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_10_17">הַגָּדֽוֹל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="176">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="177">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_11" data-pasuk-now="33"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_1_11_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="1879048272" data-exlnk="0" id="M_1_11_2">אֱלֹהִ֣ים</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="180">׀</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_1_11_3">לִשְׁלֹמֹ֡ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_4">יַ֣עַן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_5">אֲשֶׁר֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_6">הָיְתָ֨ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_7">זֹ֜את</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_8">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="187">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_9">לְבָבֶ֗ךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_10">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="190">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_11">שָׁ֠אַלְתָּ</span>
<span class="mila" data-lnk="1879048272" data-exlnk="0" id="M_1_11_12">עֹ֣שֶׁר</span>
<span class="mila" data-lnk="3758096464" data-exlnk="0" id="M_1_11_13">נְכָסִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_14">וְכָבוֹד֙</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_1_11_15">וְאֵת֙</span>
<span class="mila" data-lnk="3758096497" data-exlnk="0" id="M_1_11_16">נֶ֣פֶשׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_11_17">שֹׂנְאֶ֔יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_18">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="199">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_19">יָמִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_20">רַבִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_21">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_22">שָׁאָ֑לְתָּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_23">וַתִּֽשְׁאַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="205">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_24">לְךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_25">חָכְמָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_26">וּמַדָּ֔ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_27">אֲשֶׁ֤ר</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_1_11_28">תִּשְׁפּוֹט֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_29">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="212">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_30">עַמִּ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_31">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_32">הִמְלַכְתִּ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_11_33">עָלָֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="217">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_12" data-pasuk-now="20"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_1">הַחָכְמָ֥ה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_2">וְהַמַּדָּ֖ע</span>
<span class="mila" data-lnk="4026531929" data-exlnk="0" id="M_1_12_3">נָת֣וּן</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_4">לָ֑ךְ</span>
<span class="mila" data-lnk="1342177369" data-exlnk="0" id="M_1_12_5">וְעֹ֨שֶׁר</span>
<span class="mila" data-lnk="2952790105" data-exlnk="0" id="M_1_12_6">וּנְכָסִ֤ים</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_7">וְכָבוֹד֙</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_1_12_8">אֶתֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="226">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_12_9">לָ֔ךְ</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_10">אֲשֶׁ֣ר׀</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_11">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="230">־</span><span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_12">הָ֣יָה</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_13">כֵ֗ן</span>
<span class="mila" data-lnk="9" data-exlnk="0" id="M_1_12_14">לַמְּלָכִים֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_12_15">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_12_16">לְפָנֶ֔יךָ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_12_17">וְאַחֲרֶ֖יךָ</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_12_18">לֹ֥א</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_12_19">יִֽהְיֶה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="239">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_1_12_20">כֵּֽן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="241">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_13" data-pasuk-now="12"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_1">וַיָּבֹ֨א</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_2">שְׁלֹמֹ֜ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_3">לַבָּמָ֤ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="246">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_5">בְּגִבְעוֹן֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_6">יְר֣וּשָׁלִַ֔ם</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_7">מִלִּפְנֵ֖י</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_8">אֹ֣הֶל</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_9">מוֹעֵ֑ד</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_13_10">וַיִּמְלֹ֖ךְ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="254">־</span><span class="mila" data-lnk="6" data-exlnk="0" id="M_1_13_12">יִשְׂרָאֵֽל</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="257">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="258"> פ </span>
</span>
<br /><span id="PS_1_14" data-pasuk-now="20"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_14_1">וַיֶּאֱסֹ֣ף</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_14_2">שְׁלֹמֹה֘</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_1_14_3">רֶ֣כֶב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_1_14_4">וּפָרָשִׁים֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_5">וַֽיְהִי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="264">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_6">ל֗וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_7">אֶ֤לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_8">וְאַרְבַּע</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="268">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_9">מֵאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_10">רֶ֔כֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_11">וּשְׁנֵים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="272">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_12">עָשָׂ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_13">אֶ֖לֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_14_14">פָּרָשִׁ֑ים</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_1_14_15">וַיַּנִּיחֵם֙</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_14_16">בְּעָרֵ֣י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_14_17">הָרֶ֔כֶב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_18">וְעִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="280">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_14_19">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_14_20">בִּירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="283">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_15" data-pasuk-now="15"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_1">וַיִּתֵּ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_2">הַמֶּ֜לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="287">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_1_15_4">הַכֶּ֧סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_5">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="290">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_1_15_6">הַזָּהָ֛ב</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_15_7">בִּירוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_15_8">כָּאֲבָנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_9">וְאֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_10">הָאֲרָזִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_11">נָתַ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_12">כַּשִּׁקְמִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_13">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="299">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_14">בַּשְּׁפֵלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_15_15">לָרֹֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="302">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_16_1">וּמוֹצָ֧א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_16_2">הַסּוּסִ֛ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_16_3">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_16_4">לִשְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_1_16_5">מִמִּצְרָ֑יִם</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_1_16_6">וּמִקְוֵ֕א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_16_7">סֹחֲרֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_1_16_8">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="3221225538" data-exlnk="0" id="M_1_16_9">מִקְוֵ֥א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_16_10">יִקְח֖וּ</span>
<span class="mila" data-lnk="805306386" data-exlnk="0" id="M_1_16_11">בִּמְחִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="314">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_17" data-pasuk-now="18"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_1">וַֽ֠יַּעֲלוּ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_1_17_2">וַיּוֹצִ֨יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_3">מִמִּצְרַ֤יִם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_17_4">מֶרְכָּבָה֙</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_1_17_5">בְּשֵׁ֣שׁ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_17_6">מֵא֣וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_17_7">כֶּ֔סֶף</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_17_8">וְס֖וּס</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_17_9">בַּחֲמִשִּׁ֣ים</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_17_10">וּמֵאָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_11">וְ֠כֵן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_12">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="327">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_13">מַלְכֵ֧י</span>
<span class="mila" data-lnk="4026531954" data-exlnk="0" id="M_1_17_14">הַחִתִּ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_15">וּמַלְכֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_17_16">אֲרָ֖ם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_1_17_17">בְּיָדָ֥ם</span>
<span class="mila" data-lnk="4026531954" data-exlnk="0" id="M_1_17_18">יוֹצִֽיאוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="334">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_1_18" data-pasuk-now="8"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_2">שְׁלֹמֹ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_3">לִבְנ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_4">בַּ֙יִת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_5">לְשֵׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_6">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_7">וּבַ֖יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_1_18_8">לְמַלְכוּתֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="343">:</span>
</span>
<br class="sfpsk-br not-displayed" /></p>