<p id="PR_9" data-perek-now="486" data-perek-nops="31"><span class="perek-header">פרק ט</span>
<br /><span id="PS_9_1" data-pasuk-now="33"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_9_1_1">וּמַֽלְכַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3476">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_9_1_2">שְׁבָ֗א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_3">שָׁמְעָה֘</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_1_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3480">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_1_5">שֵׁ֣מַע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_6">שְׁלֹמֹה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_7">וַתָּב֣וֹא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_1_8">לְנַסּוֹת֩</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_9_1_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3486">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_1_10">שְׁלֹמֹ֨ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_1_11">בְחִיד֜וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_12">בִּירוּשָׁלִַ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_13">בְּחַ֣יִל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_14">כָּבֵ֣ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_15">מְאֹ֡ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_16">וּ֠גְמַלִּים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_17">נֹשְׂאִ֨ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_18">בְּשָׂמִ֧ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_19">וְזָהָ֛ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_20">לָרֹ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_21">וְאֶ֣בֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_22">יְקָרָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_23">וַתָּבוֹא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_24">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3502">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_25">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_26">וַתְּדַבֵּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_27">עִמּ֔וֹ</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_1_28">אֵ֛ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_29">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3508">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_30">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_31">הָיָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_32">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3512">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_1_33">לְבָבָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3514">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_1">וַיַּגֶּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3516">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_2">לָ֥הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_3">שְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_4">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3520">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3522">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_6">דְּבָרֶ֑יהָ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_7">וְלֹֽא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3525">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_8">נֶעְלַ֤ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_9">דָּבָר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_2_10">מִשְּׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_11">אֲשֶׁ֧ר</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_9_2_12">לֹ֦א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_13">הִגִּ֖יד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_2_14">לָֽהּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3533">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_3" data-pasuk-now="9"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_1">וַתֵּ֙רֶא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_2">מַֽלְכַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3536">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_3">שְׁבָ֔א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_4">אֵ֖ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_5">חָכְמַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_6">שְׁלֹמֹ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_7">וְהַבַּ֖יִת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_8">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_3_9">בָּנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3544">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_4" data-pasuk-now="19"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_9_4_1">וּמַאֲכַ֣ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_2">שֻׁלְחָנ֡וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_3">וּמוֹשַׁ֣ב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_4">עֲבָדָיו֩</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_5">וּמַעֲמַ֨ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_6">מְשָׁרְתָ֜יו</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_9_4_7">וּמַלְבּוּשֵׁיהֶ֗ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_8">וּמַשְׁקָיו֙</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_9_4_9">וּמַלְבּ֣וּשֵׁיהֶ֔ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_4_10">וַֽעֲלִיָּת֔וֹ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_4_11">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_4_12">יַעֲלֶ֖ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_4_13">בֵּ֣ית</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_4_14">יְהוָ֑ה</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_9_4_15">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3560">־</span><span class="mila" data-lnk="805306385" data-exlnk="0" id="M_9_4_16">הָ֥יָה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_17">ע֛וֹד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_18">בָּ֖הּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_4_19">רֽוּחַ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3565">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_5" data-pasuk-now="12"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_1">וַתֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3568">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_3">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="1879048272" data-exlnk="0" id="M_9_5_4">אֱמֶת֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_5_5">הַדָּבָ֔ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_6">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_7">שָׁמַ֖עְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_8">בְּאַרְצִ֑י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3576">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_10">דְּבָרֶ֖יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_11">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3579">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_5_12">חָכְמָתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3581">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_6" data-pasuk-now="20"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_1">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3583">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_2">הֶאֱמַ֣נְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_3">לְדִבְרֵיהֶ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_4">עַ֤ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_5">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3588">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_6">בָּ֙אתִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_7">וַתִּרְאֶ֣ינָה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_8">עֵינַ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_9">וְהִנֵּה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_10">לֹ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_11">הֻגַּד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3595">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_12">לִ֔י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_6_13">חֲצִ֖י</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_9_6_14">מַרְבִּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_15">חָכְמָתֶ֑ךָ</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_9_6_16">יָסַ֕פְתָּ</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_6_17">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3602">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_6_18">הַשְּׁמוּעָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_19">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_6_20">שָׁמָֽעְתִּי</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3606">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_7" data-pasuk-now="11"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_1">אַשְׁרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_2">אֲנָשֶׁ֔יךָ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_7_3">וְאַשְׁרֵ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_4">עֲבָדֶ֣יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_5">אֵ֑לֶּה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_6">הָעֹמְדִ֤ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_7">לְפָנֶ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_8">תָּמִ֔יד</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_7_9">וְשֹׁמְעִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_10">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3617">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_7_11">חָכְמָתֶֽךָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3619">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_8" data-pasuk-now="25"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_1">יְהִ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_2">יְהוָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_3">אֱלֹהֶ֙יךָ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_4">בָּר֔וּךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_5">אֲשֶׁ֣ר׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_6">חָפֵ֣ץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_7">בְּךָ֗</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_8">לְתִתְּךָ֤</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3629">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_10">כִּסְאוֹ֙</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_8_11">לְמֶ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_12">לַֽיהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_13">אֱלֹהֶ֑יךָ</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_9_8_14">בְּאַהֲבַ֨ת</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_8_15">אֱלֹהֶ֤יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3637">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_17">יִשְׂרָאֵל֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_18">לְהַעֲמִיד֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_19">לְעוֹלָ֔ם</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_9_8_20">וַיִּתֶּנְךָ֤</span>
<span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_9_8_21">עֲלֵיהֶם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_22">לְמֶ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_23">לַעֲשׂ֥וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_24">מִשְׁפָּ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_8_25">וּצְדָקָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3647">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_9" data-pasuk-now="21"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_1">וַתִּתֵּ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_2">לַמֶּ֜לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_3">מֵאָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_4">וְעֶשְׂרִ֣ים׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_5">כִּכַּ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_6">זָהָ֗ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_7">וּבְשָׂמִ֛ים</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_9_9_8">לָרֹ֥ב</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_9_9_9">מְאֹ֖ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_10">וְאֶ֣בֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_11">יְקָרָ֑ה</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_9_9_12">וְלֹ֤א</span>
<span class="mila" data-lnk="536870928" data-exlnk="0" id="M_9_9_13">הָיָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_14">כַּבֹּ֣שֶׂם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_15">הַה֔וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_16">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3664">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_17">נָתְנָ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_18">מַֽלְכַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3667">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_19">שְׁבָ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_20">לַמֶּ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_9_21">שְׁלֹמֹֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3671">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_10" data-pasuk-now="14"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_10_1">וְגַם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3673">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_2">עַבְדֵ֤י</span>
<span data-lnk="0" data-exlnk="0" id="M_9_10_3" class="mila ktiv">חיּרָם֙</span>
<span data-lnk="3221225536" data-exlnk="0" id="M_9_10_3_K" class="mila kri">חוּרָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_4">וְעַבְדֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_5">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_6">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3680">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_7">הֵבִ֥יאוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_8">זָהָ֖ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_9">מֵאוֹפִ֑יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_10">הֵבִ֛יאוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_10_11">עֲצֵ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_10_12">אַלְגּוּמִּ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_13">וְאֶ֥בֶן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_10_14">יְקָרָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3689">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_11" data-pasuk-now="19"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_1">וַיַּ֣עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_2">הַ֠מֶּלֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3693">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_4">עֲצֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_5">הָאַלְגּוּמִּ֜ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_11_6">מְסִלּ֤וֹת</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_7">לְבֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3698">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_11_8">יְהוָה֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_11_9">וּלְבֵ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_10">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_11_11">וְכִנֹּר֥וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_11_12">וּנְבָלִ֖ים</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_9_11_13">לַשָּׁרִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_14">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3706">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_11_15">נִרְא֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_16">כָהֵ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_17">לְפָנִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_18">בְּאֶ֥רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_11_19">יְהוּדָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3712">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_12" data-pasuk-now="20"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_1">וְהַמֶּ֨לֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_2">שְׁלֹמֹ֜ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_12_3">נָתַ֣ן</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_4">לְמַֽלְכַּת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3717">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_5">שְׁבָ֗א</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_6">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3720">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_7">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3722">־</span><span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_9_12_8">חֶפְצָהּ֙</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_9">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_9_12_10">שָׁאָ֔לָה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_12_11">מִלְּבַ֖ד</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_12_12">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3728">־</span><span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_9_12_13">הֵבִ֣יאָה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_14">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3731">־</span><span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_15">הַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_16">וַֽתַּהֲפֹ֛ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_12_17">וַתֵּ֥לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_18">לְאַרְצָ֖הּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_19">הִ֥יא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_12_20">וַעֲבָדֶֽיהָ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3739">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3740"> פ </span>
</span>
<br /><span id="PS_9_13" data-pasuk-now="14"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_1">וַֽיְהִי֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_2">מִשְׁקַ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_3">הַזָּהָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_4">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3745">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_5">בָּ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_6">לִשְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_7">בְּשָׁנָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_8">אֶחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_9">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_10">מֵא֛וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_11">וְשִׁשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_13_12">וָשֵׁ֖שׁ</span>
<span class="mila" data-lnk="3489661040" data-exlnk="0" id="M_9_13_13">כִּכְּרֵ֥י</span>
<span class="mila" data-lnk="2952790128" data-exlnk="0" id="M_9_13_14">זָהָֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3756">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_14" data-pasuk-now="14"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_14_1">לְבַ֨ד</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_14_2">מֵאַנְשֵׁ֧י</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_9_14_3">הַתָּרִ֛ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_14_4">וְהַסֹּחֲרִ֖ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_14_5">מְבִיאִ֑ים</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_9_14_6">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3763">־</span><span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_9_14_7">מַלְכֵ֤י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_8">עֲרַב֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_9">וּפַח֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_10">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_14_11">מְבִיאִ֛ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_12">זָהָ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_13">וָכֶ֖סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_14_14">לִשְׁלֹמֹֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3772">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_15" data-pasuk-now="15"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_1">וַיַּ֨עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_2">הַמֶּ֧לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_3">שְׁלֹמֹ֛ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_15_4">מָאתַ֥יִם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_15_5">צִנָּ֖ה</span>
<span class="mila" data-lnk="1879048273" data-exlnk="0" id="M_9_15_6">זָהָ֣ב</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_9_15_7">שָׁח֑וּט</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_15_8">שֵׁ֤שׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_15_9">מֵאוֹת֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_15_10">זָהָ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_11">שָׁח֔וּט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_12">יַעֲלֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_13">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3786">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_14">הַצִּנָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_15_15">הָאֶחָֽת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3789">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_16" data-pasuk-now="17"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_16_1">וּשְׁלֹשׁ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3791">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_9_16_2">מֵא֤וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_16_3">מָֽגִנִּים֙</span>
<span class="mila" data-lnk="4026531924" data-exlnk="0" id="M_9_16_4">זָהָ֣ב</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_9_16_5">שָׁח֔וּט</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_16_6">שְׁלֹ֤שׁ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_16_7">מֵאוֹת֙</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_16_8">זָהָ֔ב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_16_9">יַעֲלֶ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3801">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_9_16_11">הַמָּגֵ֣ן</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_16_12">הָאֶחָ֑ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_13">וַיִּתְּנֵ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_14">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_16_15">בְּבֵ֖ית</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_16_16">יַ֥עַר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_16_17">הַלְּבָנֽוֹן</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3809">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_17" data-pasuk-now="8"><span class="pasuk-header">[יז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_1">וַיַּ֧עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_2">הַמֶּ֛לֶךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_17_3">כִּסֵּא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3813">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_17_4">שֵׁ֖ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_5">גָּד֑וֹל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_6">וַיְצַפֵּ֖הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_7">זָהָ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_17_8">טָהֽוֹר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3819">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_18" data-pasuk-now="18"><span class="pasuk-header">[יח]</span>
<span class="mila" data-lnk="4026531955" data-exlnk="0" id="M_9_18_1">וְשֵׁ֣שׁ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_18_2">מַעֲל֣וֹת</span>
<span class="mila" data-lnk="7" data-exlnk="0" id="M_9_18_3">לַ֠כִּסֵּא</span>
<span class="mila" data-lnk="3221225542" data-exlnk="0" id="M_9_18_4">וְכֶ֨בֶשׁ</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_18_5">בַּזָּהָ֤ב</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_18_6">לַכִּסֵּא֙</span>
<span class="mila" data-lnk="3221225542" data-exlnk="0" id="M_9_18_7">מָאֳחָזִ֔ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_18_8">וְיָד֛וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_18_9">מִזֶּ֥ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_18_10">וּמִזֶּ֖ה</span>
<span class="mila" data-lnk="3489661009" data-exlnk="0" id="M_9_18_11">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3831">־</span><span class="mila" data-lnk="2684354641" data-exlnk="0" id="M_9_18_12">מְק֣וֹם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_18_13">הַשָּׁ֑בֶת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_14">וּשְׁנַ֣יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_15">אֲרָי֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_16">עֹמְדִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_17">אֵ֥צֶל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_18_18">הַיָּדֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3839">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_19" data-pasuk-now="15"><span class="pasuk-header">[יט]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_19_1">וּשְׁנֵ֧ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_2">עָשָׂ֣ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_19_3">אֲרָי֗וֹת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_19_4">עֹמְדִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_5">שָׁ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_6">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3846">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_7">שֵׁ֥שׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_8">הַֽמַּעֲל֖וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_9">מִזֶּ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_10">וּמִזֶּ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_11">לֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3852">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_19_12">נַעֲשָׂ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_13">כֵ֖ן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_19_14">לְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3856">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_19_15">מַמְלָכָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3858">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_20" data-pasuk-now="19"><span class="pasuk-header">[כ]</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_9_20_1">וְ֠כֹל</span>
<span class="mila" data-lnk="536870928" data-exlnk="0" id="M_9_20_2">כְּלֵ֞י</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_9_20_3">מַשְׁקֵ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_4">הַמֶּ֤לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_5">שְׁלֹמֹה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_6">זָהָ֔ב</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_20_7">וְכֹ֗ל</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_20_8">כְּלֵ֛י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_20_9">בֵּֽית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3868">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_9_20_10">יַ֥עַר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_20_11">הַלְּבָנ֖וֹן</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_9_20_12">זָהָ֣ב</span>
<span class="mila" data-lnk="536870928" data-exlnk="0" id="M_9_20_13">סָג֑וּר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_14">אֵ֣ין</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_15">כֶּ֗סֶף</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_20_16">נֶחְשָׁ֛ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_17">בִּימֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_18">שְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_20_19">לִמְאֽוּמָה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3879">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_21" data-pasuk-now="20"><span class="pasuk-header">[כא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_1">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3881">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_2">אֳנִיּ֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_3">לַמֶּ֙לֶךְ֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_21_4">הֹלְכ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_5">תַּרְשִׁ֔ישׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_6">עִ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_7">עַבְדֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_8">חוּרָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_9">אַחַת֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_10">לְשָׁל֨וֹשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_11">שָׁנִ֜ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_21_12">תָּב֣וֹאנָה׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_13">אֳנִיּ֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_14">תַּרְשִׁ֗ישׁ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_21_15">נֹֽשְׂאוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_16">זָהָ֣ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_21_17">וָכֶ֔סֶף</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_9_21_18">שֶׁנְהַבִּ֥ים</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_9_21_19">וְקוֹפִ֖ים</span>
<span class="mila" data-lnk="4026531923" data-exlnk="0" id="M_9_21_20">וְתוּכִּיִּֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3902">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="3903"> פ </span>
</span>
<br /><span id="PS_9_22" data-pasuk-now="8"><span class="pasuk-header">[כב]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_22_1">וַיִּגְדַּל֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_22_2">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_22_3">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_4">מִכֹּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_5">מַלְכֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_6">הָאָ֑רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_7">לְעֹ֖שֶׁר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_22_8">וְחָכְמָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3912">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_23" data-pasuk-now="14"><span class="pasuk-header">[כג]</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_9_23_1">וְכֹל֙</span>
<span class="mila" data-lnk="2952790097" data-exlnk="0" id="M_9_23_2">מַלְכֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_23_3">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_4">מְבַקְשִׁ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_5">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3918">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_6">פְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_7">שְׁלֹמֹ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_8">לִשְׁמֹעַ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_9">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3923">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_10">חָכְמָת֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3926">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_23_12">נָתַ֥ן</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_23_13">הָאֱלֹהִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_23_14">בְּלִבּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3930">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_24" data-pasuk-now="16"><span class="pasuk-header">[כד]</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_9_24_1">וְהֵ֣ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_24_2">מְבִיאִ֣ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_24_3">אִ֣ישׁ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_24_4">מִנְחָת֡וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_5">כְּלֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_6">כֶסֶף֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_7">וּכְלֵ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_8">זָהָ֤ב</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_24_9">וּשְׂלָמוֹת֙</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_9_24_10">נֵ֣שֶׁק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_11">וּבְשָׂמִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_12">סוּסִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_13">וּפְרָדִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_14">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3945">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_15">שָׁנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_24_16">בְּשָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3949">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="3950">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_25" data-pasuk-now="17"><span class="pasuk-header">[כה]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_25_1">וַיְהִ֨י</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_25_2">לִשְׁלֹמֹ֜ה</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_25_3">אַרְבַּעַת֩</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_25_4">אֲלָפִ֨ים</span>
<span class="mila" data-lnk="3221225542" data-exlnk="0" id="M_9_25_5">אֻֽרְי֤וֹת</span>
<span class="mila" data-lnk="6" data-exlnk="0" id="M_9_25_6">סוּסִים֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_25_7">וּמַרְכָּב֔וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_8">וּשְׁנֵים</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3959">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_9">עָשָׂ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_10">אֶ֖לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_25_11">פָּרָשִׁ֑ים</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_9_25_12">וַיַּנִּיחֵם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_25_13">בְּעָרֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_25_14">הָרֶ֔כֶב</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_25_15">וְעִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3967">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_25_16">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_25_17">בִּירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3970">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_26" data-pasuk-now="12"><span class="pasuk-header">[כו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_1">וַיְהִ֥י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_26_2">מוֹשֵׁ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_3">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3974">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_4">הַמְּלָכִ֑ים</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_9_26_5">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3977">־</span><span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_26_6">הַנָּהָר֙</span>
<span class="mila" data-lnk="1879048304" data-exlnk="0" id="M_9_26_7">וְעַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3980">־</span><span class="mila" data-lnk="2952790128" data-exlnk="0" id="M_9_26_8">אֶ֣רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_9">פְּלִשְׁתִּ֔ים</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_9_26_10">וְעַ֖ד</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_9_26_11">גְּב֥וּל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_26_12">מִצְרָֽיִם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="3986">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_27" data-pasuk-now="13"><span class="pasuk-header">[כז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_1">וַיִּתֵּ֨ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_2">הַמֶּ֧לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_3">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3990">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_4">הַכֶּ֛סֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_5">בִּירוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_6">כָּאֲבָנִ֑ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_7">וְאֵ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_8">הָאֲרָזִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_9">נָתַ֛ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_10">כַּשִּׁקְמִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_11">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="3999">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_12">בַּשְּׁפֵלָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_27_13">לָרֹֽב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4002">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_28" data-pasuk-now="6"><span class="pasuk-header">[כח]</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_9_28_1">וּמוֹצִיאִ֨ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_28_2">סוּסִ֧ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_28_3">מִמִּצְרַ֛יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_9_28_4">לִשְׁלֹמֹ֖ה</span>
<span class="mila" data-lnk="3221225540" data-exlnk="0" id="M_9_28_5">וּמִכָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4008">־</span><span class="mila" data-lnk="2147483716" data-exlnk="0" id="M_9_28_6">הָאֲרָצֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4010">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_29" data-pasuk-now="23"><span class="pasuk-header">[כט]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_29_1">וּשְׁאָר֙</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_29_2">דִּבְרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_3">שְׁלֹמֹ֔ה</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_9_29_4">הָרִאשֹׁנִ֖ים</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_29_5">וְהָאַחֲרוֹנִ֑ים</span>
<span class="mila" data-lnk="3489661008" data-exlnk="0" id="M_9_29_6">הֲלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4017">־</span><span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_9_29_7">הֵ֣ם</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_29_8">כְּתוּבִ֗ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_29_9">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4021">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_29_10">דִּבְרֵי֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_29_11">נָתָ֣ן</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_12">הַנָּבִ֔יא</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_29_13">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4026">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_9_29_14">נְבוּאַ֞ת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_9_29_15">אֲחִיָּ֣ה</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_9_29_16">הַשִּׁילוֹנִ֗י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_29_17">וּבַֽחֲזוֹת֙</span>
<span data-lnk="0" data-exlnk="0" id="M_9_29_18" class="mila ktiv">יֶעְדֹּ֣י</span>
<span data-lnk="4026531920" data-exlnk="0" id="M_9_29_18_K" class="mila kri">יֶעְדּ֣וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_19">הַחֹזֶ֔ה</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_29_20">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4035">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_9_29_21">יָרָבְעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_22">בֶּן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4038">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_29_23">נְבָֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4040">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_30" data-pasuk-now="8"><span class="pasuk-header">[ל]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_30_1">וַיִּמְלֹ֨ךְ</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_9_30_2">שְׁלֹמֹ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_30_3">בִירוּשָׁלִַ֛ם</span>
<span class="mila" data-lnk="268435475" data-exlnk="0" id="M_9_30_4">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4045">־</span><span class="mila" data-lnk="268435475" data-exlnk="0" id="M_9_30_5">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4047">־</span><span class="mila" data-lnk="805306387" data-exlnk="0" id="M_9_30_6">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_30_7">אַרְבָּעִ֥ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_9_30_8">שָׁנָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4051">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_9_31" data-pasuk-now="12"><span class="pasuk-header">[לא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_1">וַיִּשְׁכַּ֤ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_2">שְׁלֹמֹה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4055">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_4">אֲבֹתָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_5">וַֽיִּקְבְּרֻ֔הוּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_9_31_6">בְּעִ֖יר</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_9_31_7">דָּוִ֣יד</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_9_31_8">אָבִ֑יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_9">וַיִּמְלֹ֛ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_10">רְחַבְעָ֥ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_11">בְּנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_9_31_12">תַּחְתָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4066">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4067"> פ </span>
</span>
<br /></p>