<p id="PR_12" data-perek-now="253" data-perek-nops="16"><span class="perek-header">פרק יב</span>
<br /><span id="PS_12_1" data-pasuk-now="12"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_1_1">וַיְהִ֗י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_12_1_2">כְּהָכִ֞ין</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_1_3">מַלְכ֤וּת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_1_4">רְחַבְעָם֙</span>
<span class="mila" data-lnk="4026531928" data-exlnk="0" id="M_12_1_5">וּכְחֶזְקָת֔וֹ</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_6">עָזַ֖ב</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_7">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4848">־</span><span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_8">תּוֹרַ֣ת</span>
<span class="mila" data-lnk="8" data-exlnk="0" id="M_12_1_9">יְהוָ֑ה</span>
<span class="mila" data-lnk="268435484" data-exlnk="0" id="M_12_1_10">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4852">־</span><span class="mila" data-lnk="805306392" data-exlnk="0" id="M_12_1_11">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="12" data-exlnk="0" id="M_12_1_12">עִמּֽוֹ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4856">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="4857"> פ </span>
</span>
<br /><span id="PS_12_2" data-pasuk-now="14"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_12_2_1">וַיְהִ֞י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_2">בַּשָּׁנָ֤ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_12_2_3">הַֽחֲמִישִׁית֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_4">לַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_5">רְחַבְעָ֔ם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_2_6">עָלָ֛ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_2_7">שִׁישַׁ֥ק</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_2_8">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4866">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_2_9">מִצְרַ֖יִם</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_2_10">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4869">־</span><span class="mila" data-lnk="4" data-exlnk="0" id="M_12_2_11">יְרוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_12">כִּ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_13">מָעֲל֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_2_14">בַּיהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4874">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_3" data-pasuk-now="16"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_1">בְּאֶ֤לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_2">וּמָאתַ֙יִם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_3">רֶ֔כֶב</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_12_3_4">וּבְשִׁשִּׁ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_5">אֶ֖לֶף</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_6">פָּרָשִׁ֑ים</span>
<span class="mila" data-lnk="1879048272" data-exlnk="0" id="M_12_3_7">וְאֵ֣ין</span>
<span class="mila" data-lnk="2952790096" data-exlnk="0" id="M_12_3_8">מִסְפָּ֗ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_9">לָעָ֞ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_10">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4885">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_11">בָּ֤אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_12">עִמּוֹ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_13">מִמִּצְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_3_14">לוּבִ֥ים</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_12_3_15">סֻכִּיִּ֖ים</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_12_3_16">וְכוּשִֽׁים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4892">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_4" data-pasuk-now="9"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_1">וַיִּלְכֹּ֛ד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_2">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4895">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_3">עָרֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_4">הַמְּצֻר֖וֹת</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_4_5">אֲשֶׁ֣ר</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_4_6">לִיהוּדָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_7">וַיָּבֹ֖א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_8">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4902">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_4_9">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4905">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4906">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_5" data-pasuk-now="27"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_12_5_1">וּֽשְׁמַעְיָ֤ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_2">הַנָּבִיא֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_3">בָּ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_4">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4911">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_5">רְחַבְעָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_6">וְשָׂרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_7">יְהוּדָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_8">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4916">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_9">נֶאֶסְפ֥וּ</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_12_5_10">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4919">־</span><span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_12_5_11">יְרוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_12">מִפְּנֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_13">שִׁישָׁ֑ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_14">וַיֹּ֨אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_15">לָהֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_16">כֹּה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4926">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_17">אָמַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_18">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_19">אַתֶּם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_20">עֲזַבְתֶּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_21">אֹתִ֔י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_22">וְאַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4933">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_23">אֲנִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_24">עָזַ֥בְתִּי</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_25">אֶתְכֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_26">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4938">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_5_27">שִׁישָֽׁק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4940">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_6" data-pasuk-now="7"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_1">וַיִּכָּנְע֥וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_2">שָׂרֵֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4943">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_3">יִשְׂרָאֵ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_4">וְהַמֶּ֑לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_5">וַיֹּאמְר֖וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_6">צַדִּ֥יק</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4948">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_6_7">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4950">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_7" data-pasuk-now="23"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_12_7_1">וּבִרְא֤וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_2">יְהוָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_3">כִּ֣י</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_12_7_4">נִכְנָ֔עוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_5">הָיָה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_6">דְבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4957">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_7">יְהוָ֨ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_8">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4960">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_9">שְׁמַעְיָ֧ה</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="4962">׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_10">לֵאמֹ֛ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_7_11">נִכְנְע֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_7_12">לֹ֣א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_7_13">אַשְׁחִיתֵ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_14">וְנָתַתִּ֨י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_15">לָהֶ֤ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_16">כִּמְעַט֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_17">לִפְלֵיטָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_18">וְלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4972">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_19">תִתַּ֧ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_20">חֲמָתִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_21">בִּירוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_22">בְּיַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4977">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_7_23">שִׁישָֽׁק</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4979">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_8" data-pasuk-now="9"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_1">כִּ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_2">יִֽהְיוּ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4982">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_3">ל֖וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_4">לַעֲבָדִ֑ים</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_12_8_5">וְיֵֽדְעוּ֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_6">עֲב֣וֹדָתִ֔י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_8_7">וַעֲבוֹדַ֖ת</span>
<span class="mila" data-lnk="1342177392" data-exlnk="0" id="M_12_8_8">מַמְלְכ֥וֹת</span>
<span class="mila" data-lnk="4026531953" data-exlnk="0" id="M_12_8_9">הָאֲרָצֽוֹת</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="4991">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="4992">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_9" data-pasuk-now="25"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_1">וַיַּ֨עַל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_2">שִׁישַׁ֥ק</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_3">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4996">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_4">מִצְרַיִם֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_5">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="4999">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_6">יְרוּשָׁלִַם֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_7">וַיִּקַּ֞ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5003">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_9">אֹצְר֣וֹת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_10">בֵּית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5006">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_11">יְהוָ֗ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_12">וְאֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5009">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_13">אֹֽצְרוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_14">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_15">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_16">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5014">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_17">הַכֹּ֖ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_18">לָקָ֑ח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_19">וַיִּקַּח֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_20">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5019">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_21">מָגִנֵּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_22">הַזָּהָ֔ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_23">אֲשֶׁ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_24">עָשָׂ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_9_25">שְׁלֹמֹֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5025">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_10" data-pasuk-now="15"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_1">וַיַּ֨עַשׂ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_2">הַמֶּ֤לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_3">רְחַבְעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_4">תַּחְתֵּיהֶ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_5">מָגִנֵּ֖י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_6">נְחֹ֑שֶׁת</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_7">וְהִפְקִ֗יד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_8">עַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5034">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_9">יַד֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_10">שָׂרֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_10_11">הָרָצִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_12">הַשֹּׁ֣מְרִ֔ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_13">פֶּ֖תַח</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_14">בֵּ֥ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_10_15">הַמֶּֽלֶךְ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5042">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_11" data-pasuk-now="13"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_12_11_1">וַיְהִ֛י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_2">מִדֵּי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5045">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_3">ב֥וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_4">הַמֶּ֖לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_5">בֵּ֣ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_6">יְהוָ֑ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_7">בָּ֤אוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_8">הָֽרָצִים֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_11_9">וּנְשָׂא֔וּם</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_12_11_10">וֶהֱשִׁב֖וּם</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_11_11">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5055">־</span><span class="mila" data-lnk="3" data-exlnk="0" id="M_12_11_12">תָּ֥א</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_11_13">הָרָצִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5058">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_12" data-pasuk-now="13"><span class="pasuk-header">[יב]</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_12_12_1">וּבְהִכָּֽנְע֗וֹ</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_12_12_2">שָׁ֤ב</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_12_12_3">מִמֶּ֙נּוּ֙</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_12_12_4">אַף</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5063">־</span><span class="mila" data-lnk="3758096465" data-exlnk="0" id="M_12_12_5">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_6">וְלֹ֥א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_7">לְהַשְׁחִ֖ית</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_12_8">לְכָלָ֑ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_12_9">וְגַם֙</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_12_10">בִּֽיהוּדָ֔ה</span>
<span class="mila" data-lnk="5" data-exlnk="0" id="M_12_12_11">הָיָ֖ה</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_12_12">דְּבָרִ֥ים</span>
<span class="mila" data-lnk="4" data-exlnk="0" id="M_12_12_13">טוֹבִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5074">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5075">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_13" data-pasuk-now="32"><span class="pasuk-header">[יג]</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_12_13_1">וַיִּתְחַזֵּ֞ק</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_2">הַמֶּ֧לֶךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_3">רְחַבְעָ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_4">בִּירוּשָׁלִַ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_5">וַיִּמְלֹ֑ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_6">כִּ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_7">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5083">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_8">אַרְבָּעִ֣ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_9">וְאַחַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_10">שָׁנָה֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_11">רְחַבְעָ֨ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_12">בְּמָלְכ֜וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_13">וּֽשֲׁבַ֨ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_14">עֶשְׂרֵ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_15">שָׁנָ֣ה׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_16">מָלַ֣ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_17">בִּירוּשָׁלִַ֗ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_18">הָ֠עִיר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_19">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5096">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_20">בָּחַ֨ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_21">יְהוָ֜ה</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_12_13_22">לָשׂ֨וּם</span>
<span class="mila" data-lnk="1342177361" data-exlnk="0" id="M_12_13_23">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5101">־</span><span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_12_13_24">שְׁמ֥וֹ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_25">שָׁם֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_26">מִכֹּל֙</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_27">שִׁבְטֵ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_13_28">יִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_29">וְשֵׁ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_30">אִמּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_31">נַעֲמָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_13_32">הָעַמֹּנִֽית</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5111">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_14" data-pasuk-now="9"><span class="pasuk-header">[יד]</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_12_14_1">וַיַּ֖עַשׂ</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_12_14_2">הָרָ֑ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_3">כִּ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_4">לֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_5">הֵכִין֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_6">לִבּ֔וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_7">לִדְר֖וֹשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_8">אֶת</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5120">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_14_9">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5123">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="5124">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_15" data-pasuk-now="18"><span class="pasuk-header">[טו]</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_12_15_1">וְדִבְרֵ֣י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_2">רְחַבְעָ֗ם</span>
<span class="mila" data-lnk="4026531888" data-exlnk="0" id="M_12_15_3">הָרִֽאשֹׁנִים֙</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_12_15_4">וְהָאַ֣חֲרוֹנִ֔ים</span>
<span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_12_15_5">הֲלֹא</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5130">־</span><span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_12_15_6">הֵ֨ם</span>
<span class="mila" data-lnk="2684354640" data-exlnk="0" id="M_12_15_7">כְּתוּבִ֜ים</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_15_8">בְּדִבְרֵ֨י</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_12_15_9">שְׁמַעְיָ֧ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_12_15_10">הַנָּבִ֛יא</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_15_11">וְעִדּ֥וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_12">הַחֹזֶ֖ה</span>
<span class="mila" data-lnk="2" data-exlnk="0" id="M_12_15_13">לְהִתְיַחֵ֑שׂ</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_12_15_14">וּמִלְחֲמ֧וֹת</span>
<span class="mila" data-lnk="2147483712" data-exlnk="0" id="M_12_15_15">רְחַבְעָ֛ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_16">וְיָרָבְעָ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_17">כָּל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5143">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_15_18">הַיָּמִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5145">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_12_16" data-pasuk-now="11"><span class="pasuk-header">[טז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_1">וַיִּשְׁכַּ֤ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_2">רְחַבְעָם֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_3">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="5149">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_4">אֲבֹתָ֔יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_5">וַיִּקָּבֵ֖ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_6">בְּעִ֣יר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_7">דָּוִ֑יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_8">וַיִּמְלֹ֛ךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_9">אֲבִיָּ֥ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_10">בְנ֖וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_12_16_11">תַּחְתָּֽיו</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="5159">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="5160"> פ </span>
</span>
<br /></p>