<p id="PR_19" data-perek-now="182" data-perek-nops="11"><span class="perek-header">פרק יט</span>
<br /><span id="PS_19_1" data-pasuk-now="8"><span class="pasuk-header">[א]</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_19_1_1">וַ֠יָּשָׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_2">יְהוֹשָׁפָ֨ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_3">מֶלֶךְ</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7514">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_4">יְהוּדָ֧ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_5">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7517">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_6">בֵּית֛וֹ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_7">בְּשָׁל֖וֹם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_1_8">לִירוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7522">:</span>
<span class="stuma" data-lnk="0" data-exlnk="0" id="7523">   ס </span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_2" data-pasuk-now="21"><span class="pasuk-header">[ב]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_1">וַיֵּצֵ֣א</span>
<span class="mila" data-lnk="3489661040" data-exlnk="0" id="M_19_2_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7526">־</span><span class="mila" data-lnk="3758096496" data-exlnk="0" id="M_19_2_3">פָּנָ֗יו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_4">יֵה֣וּא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_5">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7530">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_6">חֲנָנִי֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_7">הַחֹזֶה֒</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_8">וַיֹּ֙אמֶר֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_9">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7535">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_10">הַמֶּ֣לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_11">יְהוֹשָׁפָ֔ט</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_19_2_12">הֲלָרָשָׁ֣ע</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_13">לַעְזֹ֔ר</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_19_2_14">וּלְשֹׂנְאֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_15">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_16">תֶּאֱהָ֑ב</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_19_2_17">וּבָזֹאת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_18">עָלֶ֣יךָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_2_19">קֶּ֔צֶף</span>
<span class="mila" data-lnk="1879048272" data-exlnk="0" id="M_19_2_20">מִלִּפְנֵ֖י</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_19_2_21">יְהוָֽה</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7548">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_3" data-pasuk-now="14"><span class="pasuk-header">[ג]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_1">אֲבָ֕ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_2">דְּבָרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_3">טוֹבִ֖ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_4">נִמְצְא֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_5">עִמָּ֑ךְ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_3_6">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7555">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_3_7">בִעַ֤רְתָּ</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_19_3_8">הָאֲשֵׁרוֹת֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_9">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7559">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_10">הָאָ֔רֶץ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_11">וַהֲכִינ֥וֹתָ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_3_12">לְבָבְךָ֖</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_19_3_13">לִדְרֹ֥שׁ</span>
<span class="mila" data-lnk="3758096465" data-exlnk="0" id="M_19_3_14">הָאֱלֹהִֽים</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7565">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_4" data-pasuk-now="16"><span class="pasuk-header">[ד]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_1">וַיֵּ֥שֶׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_2">יְהוֹשָׁפָ֖ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_3">בִּירוּשָׁלִָ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_4">וַיָּ֜שָׁב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_5">וַיֵּצֵ֣א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_6">בָעָ֗ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_7">מִבְּאֵ֥ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_8">שֶׁ֙בַע֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_9">עַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7575">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_10">הַ֣ר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_11">אֶפְרַ֔יִם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_12">וַיְשִׁיבֵ֕ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_13">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7580">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_14">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_15">אֱלֹהֵ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_4_16">אֲבוֹתֵיהֶֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7584">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_5" data-pasuk-now="9"><span class="pasuk-header">[ה]</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_5_1">וַיַּעֲמֵ֨ד</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_5_2">שֹׁפְטִ֜ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_5_3">בָּאָ֗רֶץ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_5_4">בְּכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7589">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_5_5">עָרֵ֧י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_5_6">יְהוּדָ֛ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_5_7">הַבְּצֻר֖וֹת</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_19_5_8">לְעִ֥יר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_5_9">וָעִֽיר</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7595">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_6" data-pasuk-now="16"><span class="pasuk-header">[ו]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_1">וַיֹּ֣אמֶר</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_2">אֶל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7598">־</span><span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_19_6_3">הַשֹּׁפְטִ֗ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_4">רְאוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_5">מָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7602">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_6">אַתֶּ֣ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_6_7">עֹשִׂ֔ים</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_6_8">כִּ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_6_9">לֹ֧א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_6_10">לְאָדָ֛ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_6_11">תִּשְׁפְּט֖וּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_6_12">כִּ֣י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_6_13">לַיהוָ֑ה</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_19_6_14">וְעִמָּכֶ֖ם</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_19_6_15">בִּדְבַ֥ר</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_19_6_16">מִשְׁפָּֽט</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7614">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_7" data-pasuk-now="17"><span class="pasuk-header">[ז]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_1">וְעַתָּ֕ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_2">יְהִ֥י</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_3">פַחַד</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7618">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_4">יְהוָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_5">עֲלֵיכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_6">שִׁמְר֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_7">וַעֲשׂ֔וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_7_8">כִּֽי</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7624">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_7_9">אֵ֞ין</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_7_10">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7627">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_7_11">יְהוָ֣ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_7_12">אֱלֹהֵ֗ינוּ</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_7_13">עַוְלָ֛ה</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_19_7_14">וּמַשֹּׂ֥א</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_7_15">פָנִ֖ים</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_19_7_16">וּמִקַּח</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7634">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_7_17">שֹֽׁחַד</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7636">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_8" data-pasuk-now="15"><span class="pasuk-header">[ח]</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_19_8_1">וְגַ֣ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_8_2">בִּ֠ירוּשָׁלִַם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_8_3">הֶעֱמִ֨יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_4">יְהוֹשָׁפָ֜ט</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_8_5">מִן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7642">־</span><span class="mila" data-lnk="1342177360" data-exlnk="0" id="M_19_8_6">הַלְוִיִּ֣ם</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_19_8_7">וְהַכֹּהֲנִ֗ים</span>
<span class="mila" data-lnk="4026531952" data-exlnk="0" id="M_19_8_8">וּמֵרָאשֵׁ֤י</span>
<span class="mila" data-lnk="268435472" data-exlnk="0" id="M_19_8_9">הָאָבוֹת֙</span>
<span class="mila" data-lnk="805306384" data-exlnk="0" id="M_19_8_10">לְיִשְׂרָאֵ֔ל</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_8_11">לְמִשְׁפַּ֥ט</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_8_12">יְהוָ֖ה</span>
<span class="mila" data-lnk="3221225537" data-exlnk="0" id="M_19_8_13">וְלָרִ֑יב</span>
<span class="mila" data-lnk="4026531922" data-exlnk="0" id="M_19_8_14">וַיָּשֻׁ֖בוּ</span>
<span class="mila" data-lnk="3" data-exlnk="0" id="M_19_8_15">יְרוּשָׁלִָֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7653">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_9" data-pasuk-now="10"><span class="pasuk-header">[ט]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_1">וַיְצַ֥ו</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_2">עֲלֵיהֶ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_3">לֵאמֹ֑ר</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_9_4">כֹּ֤ה</span>
<span class="mila" data-lnk="805306385" data-exlnk="0" id="M_19_9_5">תַֽעֲשׂוּן֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_6">בְּיִרְאַ֣ת</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_7">יְהוָ֔ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_8">בֶּאֱמוּנָ֖ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_9">וּבְלֵבָ֥ב</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_9_10">שָׁלֵֽם</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7664">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_10" data-pasuk-now="30"><span class="pasuk-header">[י]</span>
<span class="mila" data-lnk="1073741888" data-exlnk="0" id="M_19_10_1">וְכָל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7666">־</span><span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_19_10_2">רִיב֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_3">אֲשֶׁר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7669">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_4">יָב֨וֹא</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_5">עֲלֵיכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_6">מֵאֲחֵיכֶ֣ם׀</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_7">הַיֹּשְׁבִ֣ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_8">בְּעָרֵיהֶ֗ם</span>
<span class="mila" data-lnk="1879048305" data-exlnk="0" id="M_19_10_9">בֵּֽין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7676">־</span><span class="mila" data-lnk="1342177393" data-exlnk="0" id="M_19_10_10">דָּ֣ם</span>
<span class="pasek" data-lnk="0" data-exlnk="0" id="7678">׀</span>
<span class="mila" data-lnk="3758096497" data-exlnk="0" id="M_19_10_11">לְדָם֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_12">בֵּין</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7681">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_13">תּוֹרָ֣ה</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_14">לְמִצְוָה֘</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_15">לְחֻקִּ֣ים</span>
<span class="mila" data-lnk="3221225536" data-exlnk="0" id="M_19_10_16">וּלְמִשְׁפָּטִים֒</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_10_17">וְהִזְהַרְתֶּ֣ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_10_18">אֹתָ֔ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_19">וְלֹ֤א</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_20">יֶאְשְׁמוּ֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_21">לַֽיהוָ֔ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_10_22">וְהָיָה</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7692">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_10_23">קֶ֥צֶף</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_10_24">עֲלֵיכֶ֖ם</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_10_25">וְעַל</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7696">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_10_26">אֲחֵיכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_10_27">כֹּ֥ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_19_10_28">תַעֲשׂ֖וּן</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_10_29">וְלֹ֥א</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_19_10_30">תֶאְשָֽׁמוּ</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7702">:</span>
</span>
<br class="sfpsk-br not-displayed" /><span id="PS_19_11" data-pasuk-now="26"><span class="pasuk-header">[יא]</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_1">וְהִנֵּ֡ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_19_11_2">אֲמַרְיָ֣הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_3">כֹהֵן֩</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_4">הָרֹ֨אשׁ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_5">עֲלֵיכֶ֜ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_6">לְכֹ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_7">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7710">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_8">יְהוָ֗ה</span>
<span class="mila" data-lnk="4026531920" data-exlnk="0" id="M_19_11_9">וּזְבַדְיָ֨הוּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_10">בֶן</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7714">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_11">יִשְׁמָעֵ֜אל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_12">הַנָּגִ֤יד</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_13">לְבֵית</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7718">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_14">יְהוּדָה֙</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_15">לְכֹ֣ל</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_16">דְּבַר</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7722">־</span><span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_17">הַמֶּ֔לֶךְ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_18">וְשֹׁטְרִ֥ים</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_19">הַלְוִיִּ֖ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_20">לִפְנֵיכֶ֑ם</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_21">חִזְק֣וּ</span>
<span class="mila" data-lnk="0" data-exlnk="0" id="M_19_11_22">וַעֲשׂ֔וּ</span>
<span class="mila" data-lnk="4026531921" data-exlnk="0" id="M_19_11_23">וִיהִ֥י</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_11_24">יְהוָ֖ה</span>
<span class="mila" data-lnk="1" data-exlnk="0" id="M_19_11_25">עִם</span><span class="makaf" data-mila-att="6" data-lnk="0" data-exlnk="0" id="7732">־</span><span class="mila" data-lnk="1" data-exlnk="0" id="M_19_11_26">הַטּֽוֹב</span><span data-mila-att="65538" class="sfpsk" data-lnk="0" data-exlnk="0" id="7735">:</span>
<span class="ptucha" data-lnk="0" data-exlnk="0" id="7736"> פ </span>
</span>
<br /></p>