{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1></h1>
{{word}}<br />
{{data}}<br />
{{ddata}}<br />

{% set spelling, options, translation = ddata %}
{% set kind = options[0] %}

{% if kind in ['כינוי' ,'כינוי-אוגד'] %}
	{% set kind = 'כינוי' %}
{% endif %}
{% if kind in ['שם-עצם'] %}
	{% set kind = 'שם-עצם' %}
{% endif %}

{% if kind == 'כינוי' %}
	{% if options|length == 4 %}
		{% set x, person, gender, kount = options %}
	{% endif %}
	<form method="post">
	<input type="hidden" name="kind" value="כינוי" />
	<div>
		<label>איות</label><br />
		<input type="text" name="spelling" value="{{spelling}}" />
	</div>
	<fieldset>
		{% for v in ['ראשון', 'שני', 'שלישי'] %}
			<input type="radio" name="person" id="{{v}}" value="{{v}}"
					{% if person == v %}checked="checked"{% endif %} />
			<label for="{{v}}">{{v}}</label>
		{% endfor %}
	</fieldset>
	<fieldset>
		{% for v in ['זכר', 'נקבה', 'זכר-נקבה'] %}
			<input type="radio" name="gender" id="{{v}}" value="{{v}}"
					{% if gender == v %}checked="checked"{% endif %} />
			<label for="{{v}}">{{v}}</label>
		{% endfor %}
	</fieldset>
	<fieldset>
		{% for v in ['יחיד', 'רבים'] %}
			<input type="radio" name="count" id="{{v}}" value="{{v}}"
					{% if kount == v %}checked="checked"{% endif %} />
			<label for="{{v}}">{{v}}</label>
		{% endfor %}
	</fieldset>
	<div>
		<label>תרגום</label><br />
		<input type="text" name="translation" value="{{translation}}" />
	</div>
	<button type="submit">שמור</button>
	<form>
{% endif %}

{% if kind == 'ס' or kind.startswith('שם-עצם') %}
	{% if '(' in kind %}
		{% set root = kind[7:-1] %}
	{% endif %}
	{% set kind = 'שם-עצם' %}
	{% if options|length == 3 %}
		{% set x, gender, kount = options %}
	{% endif %}
	<form method="post">
	<input type="hidden" name="kind" value="{{kind}}" />
	<div>
		<label>איות</label><br />
		<input type="text" name="spelling" value="{{spelling}}" />
	</div>
	<div>
		<label>root</label><br />
		<input type="text" name="root" value="{{root}}" />
	</div>

	<fieldset>
		{% for v in ['זכר', 'נקבה'] %}
			<input type="radio" name="gender" id="{{v}}" value="{{v}}"
					{% if gender == v %}checked="checked"{% endif %} />
			<label for="{{v}}">{{v}}</label>
		{% endfor %}
	</fieldset>
	<fieldset>
		{% for v in ['יחיד', 'רבים'] %}
			<input type="radio" name="count" id="{{v}}" value="{{v}}"
					{% if kount == v %}checked="checked"{% endif %} />
			<label for="{{v}}">{{v}}</label>
		{% endfor %}
	</fieldset>
	<div>
		<label>תרגום</label><br />
		<input type="text" name="translation" value="{{translation}}" />
	</div>
	<button type="submit">שמור</button>
	<form>
{% endif %}








<!--
<hr />

	<div>
		<div><input type="radio" name="stem" value="peal" /> peal</div>
		<div><input type="radio" name="stem" value="itpeel" /> itpeel</div>
		<div><input type="radio" name="stem" value="afel" /> afel</div>
		<div><input type="radio" name="stem" value="itafal" /> itafal</div>
		<div><input type="radio" name="stem" value="pael" /> pael</div>
		<div><input type="radio" name="stem" value="itpaal" /> itpaal</div>
	</div>
	<div>
		<div>root <input type="text" name="root" value="" /></div>
	</div>
	<div>
		<div><input type="radio" name="person" value="" /> -</div>
		<div><input type="radio" name="person" value="1" /> 1</div>
		<div><input type="radio" name="person" value="2" /> 2</div>
		<div><input type="radio" name="person" value="3" /> 3</div>
	</div>
	<div>
		<div><input type="radio" name="gender" value="" /> -</div>
		<div><input type="radio" name="gender" value="כרז" /> זכר</div>
		<div><input type="radio" name="gender" value="נקבה" /> נקבה</div>
	</div>
	<div>
		<div><input type="radio" name="count" value="יחיד" /> יחיד</div>
		<div><input type="radio" name="count" value="רבים" /> רבים</div>
	</div>
	<div>
		<div><input type="radio" name="tense" value="עבר" /> past</div>
		<div><input type="radio" name="tense" value="הווה" /> present</div>
		<div><input type="radio" name="tense" value="עתיד" /> future</div>
		<div><input type="radio" name="tense" value="צווי" /> imperative</div>
	</div>


	<button type="submit">שמור</button>
<form>
-->
{% endblock %}
