<!doctype html>
<html dir="rtl" lang="he">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!--<meta name="viewport" content="width=device-width, initial-scale=1" />-->
	<link rel="stylesheet" href="/@@/styles.css" />
	<title>{% block title %}{% endblock %}מכון ראובן</title>
</head>
<body>
	<div id="content">
	<!--a href="http://locahost:5000{{request.path}}">A</a>
	<a href="http://127.0.0.1:5000{{request.path}}">B</a-->
	{% block content %}{% endblock %}</div>
	<div id="footer">
		{% block footer %}
		&copy; <strong>תש״פ-תשפ״ב</strong> מכון ראובן
		{% endblock %}
		<a href="/">ראשי</a>
		<a href="/tanakh/">תנך</a>
		<a href="/mishnah/">משנה</a>
		<a href="/zohar/">זוהר</a>
		<a href="/liturgy/">תפילה</a>
		<a href="/aramaic">ארמית</a>
	</div>
</body>
</html>