{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
	<div>
	{% for l in 'אבגדהוזחטיכלמנסעפצקרשת' %}
		<a href="/dev/{{l}}/">{{l}}</a>
	{% endfor %}
	</div>

	<h1>{{mispunctuations|length}} mispunctuations</h1>
	{% for m in mispunctuations %}
		<a href="/zohar/{{m.book_ind}}/{{m.chapter_no}}/{{m.article_no}}/edit/{{m.paragraph_no}}">
		 {{m.article.title}}
		{# {{m.book_ind}} {{m.chapter_no}} {{m.article_no}} {{m.paragraph_no}}#}</a>
		 <br />
		 <span style="font-size:200%">{{m.x}}<br />
		 {{m.y}}</span>
		
		<br />
	{% endfor %}
	{{mispunctuations|length}}

	{% if letter %}
		{% for word in words %}
			{{word}}
			{% for link in links[word] %}
				<a href="/zohar/{{link.0}}/{{link.1}}/{{link.2}}/edit/{{link.3}}">{{link.0}}.{{link.1}}.{{link.2}}.{{link.3}}</a>
			{% endfor %}
			</br />
		{% endfor %}
	{% else %}
		<div dir="ltr">
		{% for char in chars %}
			{{char.code}} {{char.name}}<br />
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}
