{% extends "base.html" %}
{% block title %}{{name}} - {% endblock %}
{% block content %}

<div class="liturgy">
<a href="/liturgy/{{name}}/edit?variant={{variant}}">עריכה</a>
<a href="/liturgy/#{{name}}">חזרה</a>
{% for v in ['ashkenaz', 'sefard', 'mizrah', 'teiman'] %}
	<a href="/liturgy/{{v}}/{{name}}">{{v}}</a>
{% endfor %}
{%- for section in data -%}
	<div class="section">
	{%- for outerblock in section -%}
		{% set style = '' %}
		{% set klass = '' %}
		{% if outerblock.option %}
			{% set klass = klass + " optional" %}
			{#% if outerblock.option not in ['nottendays', 'summer', 'winter'] %}
				{% set style = style + "background-color:#ffd;" %}
			{% endif %#}
		{% endif %}
		{% if outerblock.style %}
			{% if "T" in (outerblock.style or '') %}{% set klass = klass + " translation" %}{% endif %}
			{% if ")" in (outerblock.style or '') %}{% set klass = klass + " left halfwide" %}{% endif %}
			{% if "(" in (outerblock.style or '') %}{% set klass = klass + " right halfwide" %}{% endif %}
			{% if "=" in (outerblock.style or '') %}{% set style = style + "text-align:justify;text-align-last:center;" %}{% endif %}
			{% if "-" in (outerblock.style or '') %}{% set klass = klass + " smaller" %}{% endif %}
			{% if "+" in (outerblock.style or '') %}{% set klass = klass + " larger" %}{% endif %}
			{% if "1" in (outerblock.style or '') %}{% set klass = klass + " fromtanakh" %}{% endif %}
			{% if "2" in (outerblock.style or '') %}{% set klass = klass + " frommishnah" %}{% endif %}
			{% if "3" in (outerblock.style or '') %}{% set klass = klass + " fromgmara" %}{% endif %}
			{% if "4" in (outerblock.style or '') %}{% set klass = klass + " fromzohar" %}{% endif %}
		{% endif %}
		<div class="outer block {{klass}}" style="{{style}}">
		{%- for block in outerblock.blocks -%}
			<div class="block" style="text-align: justify;">
			{%- for line in block.lines -%}
				{% set kriktivs = [] %}
				<div class="line" zstyle="
border:1px solid red;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-flow: row wrap;
justify-content: space-between;
gap: .5em;
text-align-last: center;
">
				{%- for span in line -%}
					{%- if span.kind == SpanKind.H1 -%}
						<h1>{{span.value}}</h1>
					{%- elif span.kind == SpanKind.H2 -%}
						<h2>{{span.value}}</h2>
					{%- elif span.kind == SpanKind.H3 -%}
						<h3>{{span.value}}</h3>
					{%- elif span.kind == SpanKind.H4 -%}
						<h4>{{span.value}}</h4>
					{%- elif span.kind == SpanKind.MAJUSCULE -%}
						<span class="majuscule">{{span.value}}</span>
					{%- elif span.kind == SpanKind.MINUSCULE -%}
						<span class="minuscule">{{span.value}}</span>
					{%- elif span.kind == SpanKind.VERSENO -%}
						<span class="verseno">{{span.value}}</span>
					{%- elif span.kind == SpanKind.BOLD -%}
						<span class="bold">{{span.value}}</span>
					{%- elif span.kind == SpanKind.KRIKTIV -%}
						{% set x = kriktivs.append(span) %}
						<span class="plain">{{span.value}}</span>
					{%- elif span.kind == SpanKind.ADDITION -%}
						<span class="addition">[{{span.value}}]</span>
					{%- elif span.kind == SpanKind.SYNONYM -%}
						<span class="synonym">(={{span.value}})</span>
					{%- elif span.kind == SpanKind.EXPLANATION -%}
						<span class="explanation">({{span.value}})</span>
					{%- elif span.kind == SpanKind.CORRECTION -%}
						<span class="correction">[{{span.value}}]</span>
					{%- elif span.kind == SpanKind.SPACE -%}
						<!--<div style="display:inline-block;border:1px solid orange;">-->
						<!--<span style="display:inline-block;" class="scriptureLPA"> </span><!--</div>-->
					{%- elif span.kind == SpanKind.SCRIPTURE -%}
						<div style="display:inline-block;border:0px solid red;">
							<span style="position:absolute;" class="scriptureLP">{{span.value}}</span>
							<span style="position:absolute;" class="scriptureL">{{span.value}}</span>
							<span class="scriptureLPA">{{span.value}}</span>
						</div>
					{%- elif span.kind == SpanKind.LINK -%}
						<span class="link">{{span.value}}</span>
					{%- elif span.kind == SpanKind.INFO -%}
						<span class="info">{{span.value}}</span>
					{%- elif span.kind == SpanKind.ACCENT -%}
						<span class="accent">{{span.value}}</span>
					{%- elif span.kind == SpanKind.PUNCTUATION -%}
						<span class="punctuation">{{span.value}}</span>
					{%- elif span.kind == SpanKind.TAB -%}
						<br />
					{%- else -%}
						<span class="plain">{{span.value}}</span>
					{%- endif -%}
				{%- endfor -%}
				</div>
				{% if kriktivs %}
					<div class="line">
					{% for span in kriktivs %}
						<span class="explanation">* כתוב “{{span.alt}}”, קוראים “{{span.value}}”</span>
					{% endfor %}
					<div>
				{% endif %}
				{%- if ")" in (outerblock.style or '') -%}
					<div style="clear:both;" class="clear"></div>
				{%- endif -%}
			{%- endfor -%}
			</div>

		{%- endfor -%}
		</div>
	{%- endfor -%}
	</div>
<div style="clear:both;" class="clear"></div>
{%- endfor -%}
</div>
{% endblock %}
