{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1></h1>
<form method="post">
	<div>
		<label></label>
		<textarea name="text" rows="20" style="font-size:3em;">{{text}}</textarea>
	</div>
	<input type="hidden" name="variant" value="{{variant}}" />
	<!--<input type="hidden" name="paragraph_number" value="{{paragraph_number}}" />-->
	<button type="submit">שמור</button>
<form>

<table>
	<tr>
		<td><button onclick="navigator.clipboard.writeText('׳');return false;">׳</button></td>
		<td><button onclick="navigator.clipboard.writeText('״');return false;">״</button></td>
		<td><button onclick="navigator.clipboard.writeText('־');return false;">־</button></td>
		<td><button onclick="navigator.clipboard.writeText('…');return false;">…</button></td>
		<td><button onclick="navigator.clipboard.writeText('“');return false;">“</button></td>
		<td><button onclick="navigator.clipboard.writeText('”');return false;">”</button></td>
		<td><button onclick="navigator.clipboard.writeText('‘');return false;">‘</button></td>
		<td><button onclick="navigator.clipboard.writeText('’');return false;">’</button></td>
		<td><button onclick="navigator.clipboard.writeText('ֽ');return false;">ֽ</button></td>
		<td><button onclick="navigator.clipboard.writeText('ׇ');return false;">ׇ</button></td>
		<td><button onclick="navigator.clipboard.writeText('ֹ');return false;">ֹ</button></td>
		<td><button onclick="navigator.clipboard.writeText('ֺ');return false;">ֺ</button></td>
		<td><button onclick="navigator.clipboard.writeText('≪');return false;">≪</button></td>
		<td><button onclick="navigator.clipboard.writeText('≫');return false;">≫</button></td>
		<td><button onclick="navigator.clipboard.writeText('&#x2028;');return false;">&#x2028;</button></td>
		<td><button onclick="navigator.clipboard.writeText('&bullet;;');return false;">&bullet;</button></td>
	</tr>
</table>

{% endblock %}
