{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
{{prayer._variant}}
{{prayer._time}}
{% set paragraphs = prayer.text.split('\n\n\n')[:19] %}
<div style="font-family:ReuvenSerif;">
{% for paragraph in paragraphs %}
	<div>
	{% set spans = prayer.parse(prayer.variant(paragraph, variant)) %}
	{% for span in spans %}
		{%- if span.kind == SpanKind.TITLE -%}
			<h1>{{span.value}}</h1>
		{%- elif span.kind == SpanKind.SUBTITLE -%}
			<h2>{{span.value}}</h2>
		{%- elif span.kind == SpanKind.INFO -%}
			<span class="info">{{span.value}}</span>
		{%- elif span.kind == SpanKind.BOLD -%}
			<span class="bold">{{span.value}}</span>
		{%- elif span.kind == SpanKind.LINK -%}
			<span class="link">{{span.value}}</span>
		{%- elif span.kind == SpanKind.CORRECTION -%}
			<span class="correction">{{span.value}}</span>
		{%- elif span.kind == SpanKind.PLAIN -%}
			<span class="plain">{{span.value|replace('\n', '<br />')|safe}}</span>
		{%- endif -%}
	{% endfor %}
	</div>
{% endfor %}
</div>
{% endblock %}
