{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1></h1>
<form method="post">
	{% if verse.has_onkelos %}
		<div>
			<label>כותרת</lebel>
			<textarea name="title">{{verse.title}}</textarea>
		</div>
	{% endif %}
	<div>
		<label>מקרא</label>
		<textarea name="mikra_text" style="font-family: sbl">{{verse.text}}</textarea>
	</div>
	{% if verse.has_onkelos %}
		<div>
			<label>אונקלוס</label>
			<textarea name="onkelos_text">{{verse.onkelos_text}}</textarea>
		</div>
		<div>
			<label>תרגום אונקלוס</label>
			<textarea id="onkelos_trans_text" name="onkelos_trans_text">{{verse.onkelos_trans_text}}</textarea>
		</div>
	{% endif %}
	{% if verse.has_jerusalmi %}
		<div>
			<label>ירושלמי</label>
			<textarea rows="4" name="jerusalmi_text">{{verse.jerusalmi_text}}</textarea>
		</div>
		<div>
			<label>ירושלמי מתורגם</label>
			<textarea rows="4" name="jerusalmi_trans_text">{{verse.jerusalmi_trans_text}}</textarea>
		</div>
	{% endif %}
	{% if verse.has_jonathan %}
		<div>
			<label>יונתן</label>
			<textarea rows="4" name="jonathan_text">{{verse.jonathan_text}}</textarea>
		</div>
	{% endif %}
	{% if verse.has_targum %}
		<div>
			<label>תרגום</label>
			<textarea name="targum_text">{{verse.targum_text}}</textarea>
		</div>
		<div>
			<label>תרגום תרגום</label>
			<textarea id="targum_trans_text" name="targum_trans_text">{{verse.targum_trans_text}}</textarea>
		</div>
	{% endif %}
	<div>
		<label>רשי</label>
		<textarea name="rashi_text" rows="10">{{verse.rashi_text | replace('\u2028', '\n')}}</textarea>
	</div>
	<input type="hidden" name="parasha_no" value="{{parasha_no}}" />
	<button type="submit">שמור</button>
<form>

<table>
	<tr>
		<td><button onclick="navigator.clipboard.writeText('׳');return false;">׳</button></td>
		<td><button onclick="navigator.clipboard.writeText('״');return false;">״</button></td>
		<td><button onclick="navigator.clipboard.writeText('־');return false;">־</button></td>
		<td><button onclick="navigator.clipboard.writeText('…');return false;">…</button></td>
		<td><button onclick="navigator.clipboard.writeText('“');return false;">“</button></td>
		<td><button onclick="navigator.clipboard.writeText('”');return false;">”</button></td>
		<td><button onclick="navigator.clipboard.writeText('‘');return false;">‘</button></td>
		<td><button onclick="navigator.clipboard.writeText('’');return false;">’</button></td>
	</tr>
</table>

{% endblock %}
