{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<h1>{{parasha.book.name}}, פרשת {{parasha.name}}</h1>

{% for paragraph in parasha.paragraphs %}
	<div>
	<div class="right mikra justify">
	<p class="parshia">
	{% for subparagraph in paragraph %}
		{% if subparagraph != paragraph[0] %}
			<br /><span>&emsp;&emsp;&emsp;&emsp;</span>
		{% endif %}
		{% for verse in subparagraph %}
			{% set spans = verse.mikra %}
			{% if spans[0].kind == SpanKind.ALIYA %}
				{% set i = 1 %}
			{% else %}
				{% set i = 0 %}
			{% endif %}
			{{ spans.insert(i, Span(SpanKind.VERSENO, verse.hebrew_number)) or '' }}
			{% if verse.number == 1 %}
				{{ spans.insert(i, Span(SpanKind.CHAPTERNO, verse.chapter.hebrew_number)) or '' }}
			{% endif %}
			{% for span in spans %}
				{%- if span.kind == SpanKind.MAJUSCULE -%}
					<span class="majuscule">{{span.value}}</span>
				{%- elif span.kind == SpanKind.MINUSCULE -%}
					<span class="minuscule">{{span.value}}</span>
				{%- elif span.kind == SpanKind.ALIYA -%}
					<span class="aliya">{{span.value}}</span>
				{% elif span.kind == SpanKind.VERSENO -%}
					<span class="verseno">{{span.value}}</span>&nbsp;
				{%- elif span.kind == SpanKind.CHAPTERNO -%}
					<span class="chapterno">{{span.value}}</span>&nbsp;
				{%- elif span.kind == SpanKind.KRIKTIV -%}
					<span class="alternative">{{span.value}}</span> <span class="plain">{{span.alt}}</span>
				{%- elif span.kind == SpanKind.PLAIN -%}
					<span class="mikra">{{span.value}}</span>
				{%- endif -%}
			{% endfor %}
		{% endfor %}
	{% endfor %}
	</p>
	</div>

	{% if parasha.book.has_onkelos %}
		<div class="left onkelos justify">
		<p class="parshia">
		{% for subparagraph in paragraph %}
			{% if subparagraph != paragraph[0] %}
				<br /><span>&emsp;&emsp;&emsp;&emsp;</span>
			{% endif %}
			{% for verse in subparagraph %}
				{% set spans = verse.onkelos %}
				{{ spans.insert(0, Span(SpanKind.VERSENO, verse.hebrew_number)) or '' }}
				{% if verse.number == 1 %}
					{{ spans.insert(0, Span(SpanKind.CHAPTERNO, verse.chapter.hebrew_number)) or '' }}
				{% endif %}
				{% for span in spans %}
					{%- if span.kind == SpanKind.CHAPTERNO -%}
						<span class="chapterno">{{span.value}}</span>&nbsp;
					{% elif span.kind == SpanKind.VERSENO -%}
						<span class="verseno">{{span.value}}</span>&nbsp;
					{%- elif span.kind == SpanKind.ALTERNATIVE -%}
						<span class="plain">{{span.value}}</span> <span class="alternative">{{span.alt}}</span>
					{%- elif span.kind == SpanKind.PLAIN -%}
						<span class="plain">{{span.value}}</span>
					{%- endif -%}
				{% endfor %}
			{% endfor %}
		{% endfor %}
		</p>
		</div>
	{% endif %}

	<div class="clear"></div>
	</div>
{% endfor %}

<div class="rashi justify">
<h2>רש״י</h2>
{% for verse in parasha.verses %}
	{% if verse.rashi %}
		<span class="verseno">{{verse.hebrew_number}}</span>
		{% for span in verse.rashi %}
			{%- if span.kind == SpanKind.PLAIN -%}
				{{span.value}}
			{%- 	endif -%}
			{%- if span.kind == SpanKind.LEGEND -%}
				<span class="legend">{{span.value}}</span>
			{%- endif -%}
			{% if span.kind == SpanKind.CITATION -%}
				<span class="citation">{{span.value}}</span>
			{%- endif -%}
			{% if span.kind == SpanKind.REFERENCE -%}
				<span class="reference">{{span.value}}</span>
			{%- endif -%}
		{% endfor %}
	{% endif %}
{% endfor %}
</div>
{% endblock %}
