{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
	<h1>{{chapter.book.name}}, פרק {{chapter.hebrew_number}}</h1>
	{% if not chapter.book.is_poem %}<p>{% endif %}
	{% for verse in chapter.verses %}
		{% set text = verse.text %}
		{% if verse == chapter.verses[-1] %}
			{% set text = re.sub('{פ}', ' <span class="portion">פ</span>', text) %}
		{% endif %}
		{% set text = re.sub('{פ}', ' <span class="portion">פ</span><br /><br />', text) %}
		{% set text = re.sub('{ס}', ' <span class="portion">ס</span><br />', text) %}
		{% if chapter.book.is_poem %}<p class="poem">{% endif %}
		<span class="verseno">{{verse.hebrew_number}}</span> {{text|safe}}
		{% if chapter.book.is_poem %}</p>{% endif %}
	{% endfor %}
	{% if not chapter.book.is_poem %}</p>{% endif %}
	{% if chapter.book.has_onkelos %}
		<h2>אונקלוס</h2>
		<p>
		{% for verse in chapter.verses %}
			<span class="verseno">{{verse.hebrew_number}}</span> {{verse.onkelos_text}}
		{% endfor %}
		</p> 
	{% endif %}
	<h2>רש"י</h2>
	<p>
	{% for verse in chapter.verses %}
		{% if verse.rashi_text %}
			<span class="verseno">{{verse.hebrew_number}}</span> {{verse.rashi_text}}
		{% endif %}
	{% endfor %}
	</p> 
{% endblock %}
