{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<a href="/zohar">זהר</a>
{{article.book.title}}
<a href="/zohar/{{article.book.number}}/{{article.chapter.number}}">{{article.chapter.title}}</a><br />
<h1>{{article.title}}</h1>
{% for section_idx in range(article.sections|length) %}
	<a href="/zohar/{{article.book.number}}/{{article.chapter.number}}/{{article.number}}/edit/{{loop.index}}">edit</a><br />
	<a id="v{{loop.index}}"></a>
	<div class="section">
		<div class="right justify">
			{% for line in article.sections[section_idx] %}
				{%- for span in article.parse(line) -%}
					{%- if span.kind == SpanKind.SYNONYM -%}
						<span class="synonym">(={{span.value}})</span>
					{%- elif span.kind == SpanKind.EXPLANATION -%}
						<span class="explanation"">(~{{span.value}})</span>
					{%- elif span.kind == SpanKind.CORRECTION -%}
						<span class="correction">[{{span.value}}]</span>
					{%- elif span.kind == SpanKind.CITATION -%}
						<span class="citation">“{{span.value}}”</span>
					{%- elif span.kind == SpanKind.LINK -%}
						<span class="link">{{span.value}}</span>
					{%- elif span.kind == SpanKind.ALTERNATIVE -%}
						<span class="alternative">{{span.value}}</span>
					{%- elif span.kind == SpanKind.PLAIN -%}
						<span class="plain">{{span.value}}</span>
					{%- endif -%}
				{%- endfor -%}
				<br />
			{% endfor %}
		</div>
		<div class="left justify">
			{% for line in article.translation_sections[section_idx] %}
				{%- for span in article.parse(line) -%}
					{%- if span.kind == SpanKind.SYNONYM -%}
						<span class="synonym">(={{span.value}})</span>
					{%- elif span.kind == SpanKind.EXPLANATION -%}
						<span class="explanation"">(~{{span.value}})</span>
					{%- elif span.kind == SpanKind.CORRECTION -%}
						<span class="correction">[{{span.value}}]</span>
					{%- elif span.kind == SpanKind.CITATION -%}
						<span class="citation">“{{span.value}}”</span>
					{%- elif span.kind == SpanKind.LINK -%}
						<span class="link">{{span.value}}</span>
					{%- elif span.kind == SpanKind.ALTERNATIVE -%}
						<span class="alternative">{{span.value}}</span>
					{%- elif span.kind == SpanKind.PLAIN -%}
						<span class="plain">{{span.value}}</span>
					{%- endif -%}
				{%- endfor -%}
				<br />
			{% endfor %}
		</div>
		<div class="clear"></div>
	</div><br />
{% endfor %}
{% endblock %}
