{% if request.environ.HTTP_HOST == 'localhost:5000' %}
	{% extends "base.html" %}
{% else %}
	{% extends "base.html" %}
{% endif %}
{% block title %}{% endblock %}
{% block content %}
<h1>{{article.title}}</h1>

{% if article.chapter.articles|length > article.number %}
	<a href="/zohar/{{article.book.number}}/{{article.chapter.number}}/{{article.number + 1}}">n</a>
{% endif %}
{% if article.number > 1 %}
	<a href="/zohar/{{article.book.number}}/{{article.chapter.number}}/{{article.number - 1}}">p</a>
{% endif %}

<div class="zohar">
{% for section_idx in range(article.sections|length) %}
	<a id="v{{loop.index}}"></a>
	<div class="section" style="font-family:regular;">
		<div class="right justify">
			{% for line in article.sections[section_idx] %}
				{%- for span in line -%}
					{%- if span.kind == SpanKind.SYNONYM -%}
						<span class="synonym">(={{span.value}})</span>
					{%- elif span.kind == SpanKind.EXPLANATION -%}
						<span class="explanation"">({{span.value}})</span>
					{%- elif span.kind == SpanKind.CORRECTION -%}
						<span class="correction">{{span.value}}</span>
					{%- elif span.kind == SpanKind.CITATION -%}
						<span xclass="citation">“{{span.value}}”</span>
					{%- elif span.kind == SpanKind.SCRIPTURE -%}
						<span class="scripture">“{{span.value}}”</span>
					{%- elif span.kind == SpanKind.ALTERNATIVE -%}
						<span class="alternative">{{span.value}}</span>
					{%- elif span.kind == SpanKind.LINK -%}
						<span class="link">({{span.value}})</span>
					{%- elif span.kind == SpanKind.PLAIN -%}
						<span class="plain">{{re.sub('\[([^]]+)\]', '<span class="silent">\\1</span>', aramaic.spell(span.value))|safe}}</span>
					{%- endif -%}
				{%- endfor -%}
				{% if not loop.last %}<br />{% endif %}
			{% endfor %}
			<a href="/zohar/{{article.book.number}}/{{article.chapter.number}}/{{article.number}}/edit/{{loop.index}}">{{loop.index}}</a><br />
		</div>
		<div class="left justify">
			{% for line in article.translation_sections[section_idx] %}
				{%- for span in line -%}
					{%- if span.kind == SpanKind.SYNONYM -%}
						<span class="synonym">(={{span.value}})</span>
					{%- elif span.kind == SpanKind.EXPLANATION -%}
						<span class="explanation"">({{span.value}})</span>
					{%- elif span.kind == SpanKind.CORRECTION -%}
						<span class="correction">[{{span.value}}]</span>
					{%- elif span.kind == SpanKind.CITATION -%}
						<span class="citation">“{{span.value}}”</span>
					{%- elif span.kind == SpanKind.SCRIPTURE -%}
						<span class="scripture">“{{span.value}}”</span>
					{%- elif span.kind == SpanKind.LINK -%}
						<span class="link">({{span.value}})</span>
					{%- elif span.kind == SpanKind.ALTERNATIVE -%}
						<span class="alternative">{{span.value}}</span>
					{%- elif span.kind == SpanKind.PLAIN -%}
						<span class="plain">{{span.value}}</span>
					{%- endif -%}
				{%- endfor -%}
				<br />
			{% endfor %}
		</div>
		<div class="clear"></div>
	</div>
{% endfor %}
</div>
{% endblock %}
