{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="zohar">
{% for section_idx in range(article.sections|length) %}
	<a id="v{{loop.index}}"></a>
	<div class="section">
		{% for line_idx in range(article.sections[section_idx]|length) %}
			<div class="line">
				<div class="right">
					{%- if g.user.isloggedin and not line_idx -%}
						<a href="/zohar/{{article.book.number}}/{{article.chapter.number}}/{{article.number}}/edit/{{section_idx + 1}}">{{section_idx + 1}}</a>
					{%- endif -%}
					{% set spans = article.sections[section_idx][line_idx] %}
					{% include 'zohar/block-zohar.html' %}
				</div>
				<div class="left">
					{% set spans = article.translation_sections[section_idx][line_idx] %}
					{% include 'zohar/block-translation.html' %}
				</div>
				<div class="clear"></div>
			</div>
		{% endfor %}
	</div>
{% endfor %}
</div>
{% endblock %}
