{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
<form method="post">
	<div class="right">
		<div class="verse">
			<textarea cols="45" rows="20" name="text" style="font-family:reuven">{{text}}</textarea>
		</div>
	</div>
	<div class="left">
		<div class="verse">
			<textarea cols="45" rows="20" name="translation">{{translation}}</textarea>
		</div>
	</div>
	<div class="clear"></div>
	<button type="submit">שמור</button>
<form>
{% include 'block-buttons.html' %}
{% endblock %}
